
	

 
	<!-- Claims Tracker specific code START -->
		<section class="main" role="main">
			<!-- Login block START -->
			<section class="module login">
				<div class="container" >
					<div class="row">
						<div class="col col-sm-12">
							<h1>Claims Tracker</h1>

							<div class="login-wrapper">
								<div class="row">
									<div class="login-container col col-sm-12 col-lg-4">
									<div  ng-if="datesBetweenErrflag"  class="closed-msg">
									<span>{{datesBetweenMsg}}</span>
									<a  href="mailto:auservices@metlife.com">auservices@metlife.com </a>.
								
									</div>
									<div ng-if="data == ''" class="closed-msg">
									<span id="message" ng-show="message" >{{message}}</span>
									</div>
										<h2>Login</h2>
										
										<form autocomplete="off" method="post"  id="form"  name="claimLoginForm" novalidate>
										
											<div class="form-group" ng-class="{'has-error':(claimLoginForm.claimnumber.$invalid && claimLoginForm.claimnumber.$touched) 
																				|| (claimLoginForm.$submitted && claimLoginForm.claimnumber.$invalid)}">
												<label for="claimnumber">Claim number</label>
												
												<input autocomplete="off" type="number" name="claimnumber" class="form-control" id="claimnumber" placeholder="Enter your 6 digit claim number..." 
														ng-model="user.claimNo" 														
														ng-minlength="4" 
														ng-maxlength="6"														
														ng_required="true">															
																							
													  <span ng-if="(claimLoginForm.claimnumber.$error.required && claimLoginForm.claimnumber.$touched) 
																	|| (claimLoginForm.$submitted && claimLoginForm.claimnumber.$error.required)"
            										  class="error">   {{configObject.claimNum_err}} </span> 
            										  <span class="error" ng-show="claimLoginForm.claimnumber.$error.minlength">
											        	{{configObject.claimNumMin_err}}</span>
												      <span class="error" ng-show="claimLoginForm.claimnumber.$error.maxlength">
												       {{configObject.claimNumLimit_err}}</span>
												       <span class="error" ng-show="claimLoginForm.claimnumber.$error.number">
												       {{configObject.claimNumFormat_err}}</span>
												       																						
											 </div>
											
											<div class="form-group" ng-class="{'has-error':(claimLoginForm.membersurname.$error.required && claimLoginForm.membersurname.$touched) 
																				|| (claimLoginForm.$submitted && claimLoginForm.membersurname.$error.required)}">
												<label for="membersurname">Insured last name</label>
												<input type="text" name="membersurname" class="form-control" id="membersurname" placeholder="Enter your Surname..." 
												ng-model="user.lName" 												
												ng_required="true">
												<span ng-if="(claimLoginForm.membersurname.$error.required && claimLoginForm.membersurname.$touched) 
																				|| (claimLoginForm.$submitted && claimLoginForm.membersurname.$error.required)" 
            										class="error"> {{configObject.claimantlastName_err}}</span> 
											</div>

											<div class="form-group" ng-class="{'has-error':(claimLoginForm.dateofbirth.$invalid && claimLoginForm.dateofbirth.$touched) 
																				|| (claimLoginForm.$submitted && claimLoginForm.dateofbirth.$invalid)}">
												<label for="date-of-birth">Insured date of birth</label>
												 <input autocomplete="off" type="text" id="dateofbirth" name="dateofbirth" class="form-control" placeholder="DD/MM/YYYY" 
													ng-model="user.dob"		ng-pattern='datePattern'  my-Date-Picker									
													 ng_required="true" 
													 maxlength="10"/>														 													 
													 									        										        
												<span ng-if="(claimLoginForm.dateofbirth.$error.required && claimLoginForm.dateofbirth.$touched) 
																				|| (claimLoginForm.$submitted && claimLoginForm.dateofbirth.$error.required)" 
            										class="error">{{configObject.claimantDob_err}}</span> 
            										<span ng-if="claimLoginForm.dateofbirth.$error.pattern && !claimLoginForm.dateofbirth.$error.required" class="error">{{configObject.claimantDobFormat_err}}</span>	
													
											</div>
											
											<div class="form-group"> 
											
												<!-- <div class="g-recaptcha" data-sitekey="6LcwfQwUAAAAAAFPj9T5zZosmPiYDXqBdWxWM2ec">TEST</div> -->
												<!--Recaptcha Widget--->
											  <div theme="'dark'" vc-recaptcha key="user.publicKey" 
													  on-create="onCapctheCreate(widgetId)"
													  on-success="onCapctheSuccess()"
													  on-expire="onCapctheExpire()">
											   </div> 
											  
											   <span ng-if="!data == ''" id="messages" ng-show="message" class="error">{{message}}</span>
											  
											</div>

											<button type="submit" class="btn btn-primary" ng-click="go(claimLoginForm,user,'/timeline')">Log into your account</button>
											 </div> 
											<!-- <span ng-if="datesBetweenErrflag" class="error">{{datesBetweenMsg}}</span> -->
											</div>
										</form>
									</div>
									<p><a href="#/contact" ng-click="needHelp()"> <strong>NEED A HAND? CONTACT US NOW</strong></a></p>
									 <div class="col-sm-12">
               							<p> <strong>{{configObject.loginDisclaimerh}} </strong></p>
									
									<div class="row" >
									<p align="left">
									Insurance cover through <b>{{partnerName}}</b> is provided by MetLife Insurance Limited ABN 75 004 274 882 AFSL No. 238096. For further information about claiming an insurance benefit, please read the {{partnerName}} Product Disclosure Statement which is available at <a target="_blank" href="https://www.metlife.com.au/privacy-policy">www.metlife.com.au/privacy-policy</a>.</p>
								 <p align="left">When uploading documents through Claims Tracker, you will be providing MetLife with your personal information including your health information. You consent to the collection, use and disclosure of this personal information as described in MetLife's Privacy Policy which is available at <a target="_blank" href="https://www.metlife.com.au/privacy-policy">www.metlife.com.au/privacy-policy </a></p>
								<p align="left">	If you provide another person with access to your Claims Tracker (for example, a spouse or beneficiary), you consent to MetLife disclosing your personal information contained in Claims Tracker to that person.</p>
								<p align="left">	If you provide us with information about another person through Claims Tracker, you declare that you have the consent of that person to do so. You understand that MetLife requires you to inform the person concerned that you have done so and direct them to our Privacy Policy.
									</p>
											<!-- <p>{{configObject.loginDisclaimer}}</p>
										<p>	{{configObject.loginDisclaimera}}</p>
											{{configObject.loginDisclaimerb}}
											{{configObject.loginDisclaimerc}}</p> -->
											</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Login block END -->
		</section>
		