<!-- Claims Tracker specific code START -->	

		<section class="main" role="main">
		<!-- tab content block START -->
			<section class="module">
				<div class="container">
					<div id="sticky_tabs" class="row">
						<div class="col col-sm-12 tab-container">
							<a href="#/timeline" class="tab">
								<span class="fa fa-tasks"></span>
								Timeline
							</a>
							<a href="#/todo" class="tab active">
								<span class="fa fa-exclamation-circle"></span>
								To-Do's
							</a>
							<a href="#/completed" class="tab">
								<span class="fa fa-check-circle"></span>
								Completed
							</a>
							<a href="#/contact" class="tab">
								<span class="fa fa-phone"></span>
								Contact
							</a>
						</div>
					</div>

					<div class="row" ng-if="!noOutStanding">
						<div id="content" class="col col-sm-12 tab-content">
							<div class="row">
								<div class="col col-xs-12">
									
									<p>Here are all the tasks you need to complete. If you have any questions, please get in contact.</p>
<!-- 									<p><a href="#todo">[ view empty to-do's page ]</a></p> -->

									<div class="list-container col col-sm-12 col-lg-8">
										<ul class="list">										
											<li ng-repeat="activity in activityData" ng-if="(activity.name == 'Information Requested'  && activity.requirement != null && activity.requirementReceviedDate != null)">
												<a class="list-item" href="#/upload">
													<div class="item-icon">
														<span class="fa fa-exclamation-circle"></span>
													</div>
													<div class="item-text">
														<span class="timestamp">{{activity.date}}</span>
														<span class="desc">{{activity.name}} - {{activity.requirement != null?activity.requirement:''}}</span>
													</div>
												</a>
											</li>																					
										</ul>

									</div>

								</div>

<!-- 								<a href="#" class="btt-link">back to top <span class="fa fa-long-arrow-up"></span></a> -->
							<a style="cursor:pointer;" class="btt-link" ng-click="scrollToTop()">back to top <span class="fa fa-long-arrow-up"></span></a>

							</div>

						</div>

					</div>
					
					<div class="row" ng-if="noOutStanding">
						<div id="content" class="col col-sm-12 tab-content">
							<div class="row">
								<div class="col col-xs-12 col-lg-5 empty">									
									<span class="fa fa-thumbs-o-up"></span>
									<p>Looks like you don't have any To-do's within your timeline. We will send you an SMS once a task becomes available.</p>
								</div>
<!-- 								  <a href="#" class="btt-link">back to top <span class="fa fa-long-arrow-up"></span></a> -->
							</div>
						</div>
					</div>

				</div>

			</section>
		<!-- tab content block END -->
		</section>
	<!-- Claims Tracker specific code END -->