		<section class="main" role="main">
		<!-- tab content block START -->
			<section class="module">
				<div class="container">
					<div id="sticky_tabs" class="row">
						<div class="col col-sm-12 tab-container">
							<a href="#/timeline" class="tab">
								<span class="fa fa-tasks"></span>
								Timeline
							</a>
							<a href="#/todo" class="tab active">
								<span class="fa fa-exclamation-circle"></span>
								To-Do's
							</a>
							<a href="#/completed" class="tab">
								<span class="fa fa-check-circle"></span>
								Completed
							</a>
							<a href="#/contact" class="tab">
								<span class="fa fa-phone"></span>
								Contact
							</a>
						</div>
					</div>

					<div class="row">
						<div id="content" class="col col-sm-12 tab-content">
							<div class="row">
								<div class="col col-xs-12">
									
									<div id="fine-uploader-manual-trigger"></div>

									<script src="assets/js/fine-uploader.min.js" type="text/javascript"></script>

									<script type="text/template" id="qq-template-manual-trigger"> 	
										<div class="upload-wrapper col col-xs-12 col-lg-8" qq-drop-area-text="">

											<div class="qq-uploader-selector qq-uploader">

												<div class="upload-title">
													<div class="fa fa-cloud-upload"></div>
													<p>Drag and drop files here or add files from your computer</p>
												</div>

												<!-- <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
													<div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
												</div> -->
												<div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
													<span class="qq-upload-drop-area-text-selector"></span>
												</div>
												<span class="qq-drop-processing-selector qq-drop-processing">
													<span>Processing dropped files...</span>
													<span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
												</span>
												<ul id="upload-list-container" class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
													<li>
														<div class="thumbnail-wrapper">
															<img class="qq-thumbnail-selector" qq-server-scale>
														</div>
														<span class="qq-upload-file-selector qq-upload-file"></span>
														<div class="buttons-container">
															<button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel"><span class="fa fa-times-circle"></span></button>
															<button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry"><span class="fa fa-refresh"></span></button>
															<button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
														</div>
														<span class="qq-document-type">
															<select>
																<option value="0"> Please Select Document Type </option>
																<option value="Birth Certificate">Birth Certificate</option>
																<option value="Claims Form - Death">Claims Form - Death</option>
																<option value="Claims Form - Disability">Claims Form - Disability</option>
																<option value="Claims Form - Employer's Statement">Claims Form - Employer's Statement</option>
																<option value="Medical Statement">Medical Statement</option>
																<option value="Claims Form - Progress Claim Form">Claims Form - Progress Claim Form</option>
																<option value="Claims Form - Progress Medical Certificate">Claims Form - Progress Medical Certificate</option>
																<option value="Claims Form - Terminal Illness">Claims Form - Terminal Illness</option>
																<option value="Claims Form - Terminal illness Medical Statement">Claims Form - Terminal illness Medical Statement</option>
																<option value="Claims Form - Trauma">Claims Form - Trauma</option>
																<option value="Claimant's Letter">Claimant's Letter</option>
																<option value="Compulsory Third Party Reports">Compulsory Third Party Reports</option>
																<option value="Contribution Listing">Contribution Listing</option>
																<option value="Coroner's Report">Coroner's Report</option>
																<option value="Death Certificate">Death Certificate</option>
																<option value="Employer's Advice/Letter - Ongoing">Employer's Advice/Letter - Ongoing</option>
																<option value="Employment Separation Certificate">Employment Separation Certificate</option>
																<option value="Financial Evidence - Other">Financial Evidence - Other</option>
																<option value="Financial Evidence - Tax Returns/Assessment Notices">Financial Evidence - Tax Returns/Assessment Notices</option>
																<option value="Fund Advice/Letter - Initial">Fund Advice/Letter - Initial</option>
																<option value="Fund Advice/Letter - Ongoing">Fund Advice/Letter - Ongoing</option>
																<option value="Hospital Report">Hospital Report</option>
																<option value="Medical Exam - IME">Medical Exam - IME</option>
																<option value="Medical Report - Independent Doctor">Medical Report - Independent Doctor</option>
																<option value="Medical Report - Treating Doctor">Medical Report - Treating Doctor</option>
																<option value="Medicare Australia - Medical Records">Medicare Australia - Medical Records</option>
																<option value="Medicare Australia - PBS Records">Medicare Australia - PBS Records</option>
																<option value="Police Report">Police Report</option>
																<option value="Policy Document">Policy Document</option>
																<option value="Power of Attorney">Power of Attorney</option>
																<option value="Premium Listing">Premium Listing</option>
																<option value="Privacy Access Request">Privacy Access Request</option>
																<option value="Proof of Identity">Proof of Identity</option>
																<option value="Solicitor's Letter">Solicitor's Letter</option>
																<option value="Statement of Claim">Statement of Claim</option>
																<option value="Underwriting Advice">Underwriting Advice</option>							
																<option value="Veteran's Affairs Letter/Records">Veteran's Affairs Letter/Records</option>
																<option value="Vocational Assessment Report">Vocational Assessment Report</option>
																<option value="Worker's Compensation File">Worker's Compensation File</option>
																<option value="Workplace Assessment repo">Workplace Assessment repo</option>							

															</select>
														</span>
														<span class="qq-upload-size-selector qq-upload-size"></span>
														<span class="qq-upload-spinner-selector qq-upload-spinner"></span>
														<div class="qq-progress-bar-container-selector">
															<div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
														</div>
														<span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
													</li>
												</ul>

												<dialog class="qq-alert-dialog-selector">
													<div class="qq-dialog-message-selector"></div>
													<div class="qq-dialog-buttons">
														<button type="button" class="qq-cancel-button-selector">Close</button>
													</div>
												</dialog>

												<dialog class="qq-confirm-dialog-selector">
													<div class="qq-dialog-message-selector"></div>
													<div class="qq-dialog-buttons">
														<button type="button" class="qq-cancel-button-selector">No</button>
														<button type="button" class="qq-ok-button-selector">Yes</button>
													</div>
												</dialog>

												<dialog class="qq-prompt-dialog-selector">
													<div class="qq-dialog-message-selector"></div>
													<input type="text">
													<div class="qq-dialog-buttons">
														<button type="button" class="qq-cancel-button-selector">Cancel</button>
														<button type="button" class="qq-ok-button-selector">Ok</button>
													</div>
												</dialog>

											</div>
	
											<p>Don't forget you can select multiple files at once<br />
											(individual file size limit 25MB)<br/>
											Note:- Please upload following document types<br/>
												      pdf, txt, doc, docx, xls, xlsx, tif, jpg, jpeg, png</p>
											

											 <div class="buttons" ng-controller="upload">
												<div id="trigger-add" class="qq-upload-button-selector grad-button">
												
													<div>Add document(s)</div>
												</div>

													<button type="button" id="trigger-upload" class="btn btn-primary grad-button" ng-click="uploadFilesTest()" max-size=25600>

												<!-- <button type="button" id="trigger-upload" class="btn btn-primary grad-button"> -->
													<span class="icon-upload icon-white"></span> Upload Document(s)
												</button>
 
											</div> 

	</script>
								

									



								</div>
								
								

<!-- 								<a href="#" class="btt-link">back to top <span class="fa fa-long-arrow-up"></span></a> -->
								<a style="cursor:pointer;" class="btt-link" ng-click="scrollToTop()">{{urls.backToTop}} <span class="fa fa-long-arrow-up"></span></a>

							</div>

						</div>

					</div>

				</div>

			</section>
		<!-- tab content block END -->
		</section>
	<!-- Claims Tracker specific code END -->

		

		
		

	
