<div ng-init="vm.init();" class="container " >
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="title">General requirements</h2>
          </div>
        </div>
        <form name="vm.onboardForm" role="form" novalidate autocomplete="off">
          <div class="card card-default form-box-style">
            <!--div class="panel-heading"> <a data-toggle="collapse" data-target="#collapseOne" class="">
          <h4 class="panel-title">General requirements</h4>
          </a> </div-->
            <div id="collapseOne" class="card-collapse collapsed" style="height: auto;">
              <div class="card-body corp-panel-body">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-4">
                    <label for="partnerName" class="control-label"> Partner name </label>
                    <input class="form-control custom-input" type="text" ng-model="vm.fundDetails.partner.partnerName" id="partnerName" name="partnerName"
                      ng-disabled="true" required>
                  </div>
                  <div class="form-group col-12 col-md-4">
                    <label for="partnerCode" class="control-label"> Partner/Fund code (e.g. PLAN)</label>
                    <input class="form-control custom-input" type="text" ng-model="vm.fundDetails.partner.fundCode" id="partnerCode" name="partnerCode"
                      ng-disabled="true" required>
                  </div>
                  <div class="form-group col-12 col-md-4 required" >
                    <label class="control-label"> Administrator code (e.g. MERC)</label>
                    <input class="form-control custom-input" type="text" ng-model="vm.fundDetails.partner.adminCode" name="adminCode" id="adminCodeId"
                      onkeyup="return isAlphaNumeric('adminCodeId');" onkeypress="return isAlphaNumeric('adminCodeId');" required>
                    <span ng-if="((vm.onboardForm.adminCode.$invalid && vm.onboardForm.adminCode.$touched) || (vm.onboardForm.$submitted && vm.onboardForm.adminCode.$error.required))"
                      class="error">Please enter administrator code </span>
                  </div>
                </div>
                <hr class="primeline d-none d-sm-block">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-4 required" >
                    <label class="control-label"> Broker name </label>
                    <input class="form-control custom-input" type="text" ng-model="vm.fundDetails.partner.broker.brokerName" name="brokerName" id="brokerNameId"
                     onkeyup="return isAlpha('brokerNameId');" onkeypress="return isAlpha('brokerNameId');" required>
                    <span ng-if="((vm.onboardForm.brokerName.$invalid && vm.onboardForm.brokerName.$touched) || (vm.onboardForm.$submitted && vm.onboardForm.brokerName.$error.required))"
                      class="error">Please enter the broker name (First name followed by last name)</span>
                  </div>
                  <div class="form-group col-12 col-md-4 required" >
                    <label class="control-label"> Broker email </label>
                    <input class="form-control custom-input" type="email" ng-model="vm.fundDetails.partner.broker.brokerEmail" name="brokerEmail"
                      ng-pattern="vm.constants.emailFormat" required>
                    <span ng-if="((vm.onboardForm.brokerEmail.$invalid && vm.onboardForm.brokerEmail.$touched) || (vm.onboardForm.$submitted && vm.onboardForm.brokerEmail.$error.required) || (vm.onboardForm.$submitted && vm.onboardForm.adminCode.$error.pattern))"
                      class="error">Please enter a valid email address</span>
                  </div>
                  <div class="form-group col-12 col-md-4 required" >
                    <label class="control-label"> Broker contact phone number</label>
                    <input class="form-control custom-input" type="text" ng-pattern="vm.constants.phoneNumber" ng-minlength="10" ng-model="vm.fundDetails.partner.broker.brokerCnctNum" phone-only maxlength="10" name="brokerPhNo" required>
                    <span ng-if="((vm.onboardForm.brokerPhNo.$invalid && vm.onboardForm.brokerPhNo.$touched) || (vm.onboardForm.$submitted && vm.onboardForm.brokerPhNo.$error.required) || (vm.onboardForm.$submitted && vm.onboardForm.brokerPhNo.$error.pattern))"
                    class="error">Please enter the broker contact no</span>
                  </div>
                </div>
                <hr class="primeline d-none d-sm-block">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-4">
                    <label class="control-label"> Employer key contact name </label>
                    <input class="form-control custom-input" type="text" ng-model="vm.fundDetails.partner.employer.employerKeyCnctName" name="employerName" id="employerNameId"
                     onkeyup="return isAlpha('employerNameId');" onkeypress="return isAlpha('employerNameId');" >
                    <span ng-if="((vm.onboardForm.employerName.$invalid && vm.onboardForm.employerName.$touched))"
                      class="error">Please enter employer name</span>
                  </div>
                  <div class="form-group col-12 col-md-4">
                    <label class="control-label"> Employer key contact email </label>
                    <input class="form-control custom-input" type="email" ng-model="vm.fundDetails.partner.employer.employerEmail" name="employerEmail"
                      ng-pattern="vm.constants.emailFormat" >
                    <span ng-if="((vm.onboardForm.employerEmail.$invalid && vm.onboardForm.employerEmail.$touched)  || (vm.onboardForm.$submitted && vm.onboardForm.employerEmail.$error.pattern))"
                      class="error"> Please enter a valid email address</span>
                  </div>
                  <div class="form-group col-12 col-md-4">
                    <label class="control-label"> Employer contact phone number </label>
                    <input class="form-control custom-input" type="text" ng-model="vm.fundDetails.partner.employer.employerCnctNum" name="employerPhNo" ng-minlength="10" maxlength="10"
                    phone-only ng-pattern="vm.constants.phoneNumber" ng-disabled="" >
                    <span ng-if="((vm.onboardForm.employerPhNo.$invalid && vm.onboardForm.employerPhNo.$touched) || (vm.onboardForm.$submitted && vm.onboardForm.employerPhNo.$error.pattern) || (vm.onboardForm.employerPhNo.$invalid && vm.onboardForm.employerPhNo.$pristine) || (vm.onboardForm.employerPhNo.$pristine && vm.onboardForm.employerPhNo.$error.pattern))"
                    class="error">Please enter a valid employer contact number</span>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="title mt-4">Product requirements</h2>
            </div>
          </div>
  
          <div class="card card-default" ng-repeat="category in vm.categories">
            <div class="card-header corp-card-header" role="tab" id="productRequirements">
              <a data-toggle="collapse" data-target="#collapse-{{$index+1}}" class="" aria-expanded="true">
                <h4 class="card-title text-white corp-card-header-text"> Category {{$index+1}}</h4>
                <input type="hidden" ng-model="category.category" ng-value="category.category=$index+1">
              </a>
            </div>
            <div id="collapse-{{$index+1}}" class="card-collapse show form-box-style" role="tabpanel" aria-labelledby="productRequirements">
              <div class="card-body corp-panel-body">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-8">
                    <label class="control-label">
                      <strong>Death cover required</strong>
                    </label>
                    
                    <div class="btn-group w-100">
                      <div class="w-50 form-group">
                        <label class="btn radiobutton w-100" ng-class="{'active': category.deathReqd == 'Y'}">
                          <input ng-model="category.deathReqd" name="deathRequired_{{$index}}" class="ipradio" value="Y" type="radio" >
                          <span></span> Yes </label>
                      </div>
                      <div class="w-50 form-group ml-2">
                        <label class="btn radiobutton w-100" ng-class="{'active': category.deathReqd == 'N'}">
                          <input ng-model="category.deathReqd" name="deathRequired_{{$index}}" class="ipradio" value="N" type="radio" ng-click="vm.reset($index,'death')">
                          <span></span> No </label>
                      </div>
                      </div>
                  </div>
                </div>
                <hr class="primeline d-none d-sm-block">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.deathReqd == 'Y')}">
                    <label class="control-label"> Minimum entry age</label>
                    <input class="form-control custom-input"  ng-model="category.deathCover.deathMinAge" id="deathMinAgeId" format="number" numbers-only maxlength="2" type="text" name="deathMinAge_{{$index}}" ng-change="vm.checkForMinMax('deathAge',category.deathCover.deathMinAge, category.deathCover.deathMaxAge, $index)" 
                      ng-disabled="category.deathReqd == '' || category.deathReqd == 'N'" ng-required="category.deathReqd == 'Y'">
                    <span ng-show="((vm.onboardForm.deathMinAge_{{$index}}.$invalid && vm.onboardForm.deathMinAge_{{$index}}.$touched && category.deathReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.deathMinAge_{{$index}}.$error.required))"
                      class="error">Please enter the minimum entry age for death cover</span>
                      <span ng-show="category.deathCover.deathMaxAgeErr" class="error">Min age should not be greater than max age <br></span>
                      <span ng-show="category.deathCover.deathMinAgeLimit" class="error">Please enter a value more than or equal 15 years </span>
                  </div>
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.deathReqd == 'Y')}">
                    <label class="control-label"> Maximum entry age</label>
                    <input class="form-control custom-input"  ng-model="category.deathCover.deathMaxAge" maxlength="2" type="text" id="deathMaxAgeId" 
                      format="number" numbers-only ng-change="vm.checkForMinMax('deathAge',category.deathCover.deathMinAge, category.deathCover.deathMaxAge, $index)" 
                      name="deathMaxAge_{{$index}}" ng-disabled="category.deathReqd == '' || category.deathReqd == 'N'" ng-required="category.deathReqd == 'Y'" >
                 <span ng-show="((vm.onboardForm.deathMaxAge_{{$index}}.$invalid && vm.onboardForm.deathMaxAge_{{$index}}.$touched && category.deathReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.deathMaxAge_{{$index}}.$error.required))"
                      class="error">Please enter the maximum entry age for death cover</span>
                      <span ng-show="category.deathCover.deathMaxAgeErr" class="error">Max age should not be less than min age<br></span>
                       <span ng-show="category.deathCover.deathMaxAgeLimit" class="error">Please enter a value less than or equal to 70 years</span>
                  </div>
                </div>
                <hr class="primeline d-none d-sm-block">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-4">
                    <label class="control-label"> Minimum Sum Insured</label>
                    <input class="form-control custom-input"  ng-model="category.deathCover.deathMinSumIns" type="text" name="deathMinSumInsured_{{$index}}"  ng-change="vm.checkForMinMax('deathSum',category.deathCover.deathMinSumIns, category.deathCover.deathMaxSumIns, $index)" 
                      id="deathMinSumInsuredId" format="number" numbers-only limit-to="8"
                      ng-disabled="category.deathReqd == '' || category.deathReqd == 'N'">
                    <span ng-show="((vm.onboardForm.deathMinSumInsured_{{$index}}.$invalid && vm.onboardForm.deathMinSumInsured_{{$index}}.$touched && category.deathReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.deathMinSumInsured_{{$index}}.$error.required))"
                      class="error">Please enter the minimum Sum Insured for death cover</span>
                    <span ng-show="category.deathCover.deathMaxSumInsErr" class="error">Minimum sum insured should not be greater than maximum sum insured</span>
                    
                  </div>
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.deathReqd == 'Y')}">
                    <label class="control-label"> Maximum Sum Insured </label>
                    <input class="form-control custom-input"  ng-model="category.deathCover.deathMaxSumIns" type="text" name="deathMaxSumInsured_{{$index}}"  ng-change="vm.checkForMinMax('deathSum',category.deathCover.deathMinSumIns, category.deathCover.deathMaxSumIns, $index)" 
                      id="deathMaxSumInsuredId" format="number" numbers-only limit-to="8"
                      ng-disabled="category.deathReqd == '' || category.deathReqd == 'N'" ng-required="category.deathReqd == 'Y'">
                    <span ng-show="((vm.onboardForm.deathMaxSumInsured_{{$index}}.$invalid && vm.onboardForm.deathMaxSumInsured_{{$index}}.$touched && category.deathReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.deathMaxSumInsured_{{$index}}.$error.required))"
                      class="error">Please enter the maximum Sum Insured for death cover<br></span>
                    <span ng-show="category.deathCover.deathMaxSumInsErr" class="error">Maximum sum insured should not be less than minimum sum insured</span>
                    
                  </div>
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.deathReqd == 'Y')}">
                    <label class="control-label"> Automatic Acceptance Limit </label>
                    <input class="form-control custom-input" ng-change="vm.checkForMinMax('deathAAl',category.deathCover.deathAal, 0, $index)" ng-model="category.deathCover.deathAal" type="text" id="deathAAlId" format="number"
                    numbers-only name="deathAAl_{{$index}}"
                      ng-disabled="category.deathReqd == '' || category.deathReqd == 'N'" ng-required="category.deathReqd == 'Y'">
                    <span ng-show="((vm.onboardForm.deathAAl_{{$index}}.$invalid && vm.onboardForm.deathAAl_{{$index}}.$touched && category.deathReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.deathAAl_{{$index}}.$error.required))"
                      class="error">Please enter the Automatic Acceptance Limit for death cover</span>
                     <span ng-show="category.deathCover.deathAAlLimit" class="error">
                       Please enter a value less than 20 million for the Automatic Acceptance Limit</span> 
                  </div>
                </div>
                <hr class="primeline d-none d-sm-block">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-4">
                    <label class="control-label"> GL policy number</label>
                    <div ng-if="category.deathReqd != '' && category.deathReqd == 'Y'">
                    <input class="form-control custom-input" ng-model="category.glPolicyNum" type="text" name="deathGLPolicyNo" id="deathGLPolicyNoId"
                    numbers-with-slash-only ng-disabled="category.deathReqd == '' || category.deathReqd == 'N'" >
                    </div>  
                    <div ng-if="category.deathReqd == '' || category.deathReqd == 'N'">
                      <input class="form-control custom-input" ng-model="dummy1" type="text" ng-disabled="true" >
                    </div>
                    <!-- <span ng-show="((vm.onboardForm.deathGLPolicyNo_{{$index}}.$invalid && vm.onboardForm.deathGLPolicyNo_{{$index}}.$touched) || (vm.onboardForm.$submitted && vm.onboardForm.deathGLPolicyNo_{{$index}}.$error.required))"
                      class="error">Please enter GL policy number. </span>  -->
                  </div>
                </div>
                <hr class="primeline d-none d-sm-block">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-8">
                    <label class="control-label">
                      <strong>TPD cover required</strong>
                    </label>
                    <div class="btn-group w-100" >
                      <div class="w-50 form-group">
                        <label class="btn radiobutton w-100" ng-class="{'active': category.tpdReqd == 'Y'}">
                          <input class="ipradio" value="Y" ng-model="category.tpdReqd" name="tpdRequired_{{$index}}" type="radio">
                          <span></span> Yes </label>
                      </div>
                      <div class="w-50 form-group ml-2">
                        <label class="btn radiobutton w-100" ng-class="{'active': category.tpdReqd == 'N'}">
                          <input class="ipradio" value="N" ng-model="category.tpdReqd" name="tpdRequired_{{$index}}" type="radio" ng-click="vm.reset($index,'tpd')">
                          <span></span> No </label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="primeline d-none d-sm-block">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.tpdReqd == 'Y')}">
                    <label class="control-label"> Minimum entry age</label>
                    <input class="form-control custom-input"  ng-model="category.tpdCover.tpdMinAge" maxlength="2" type="text" name="tpdMinAge_{{$index}}"
                      id="tpdMinAgeId" format="number" numbers-only ng-change="vm.checkForMinMax('tpdAge',category.tpdCover.tpdMinAge, category.tpdCover.tpdMaxAge, $index)" 
                      ng-disabled="category.tpdReqd == '' || category.tpdReqd == 'N'" ng-required="category.tpdReqd == 'Y'">
                    <span ng-show="((vm.onboardForm.tpdMinAge_{{$index}}.$invalid && vm.onboardForm.tpdMinAge_{{$index}}.$touched && category.tpdReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.tpdMinAge_{{$index}}.$error.required))"
                      class="error">Please enter the minimum entry age for TPD cover</span>
                    <span ng-show="category.tpdCover.tpdMaxAgeErr" class="error">Min age should not be greater than max age<br></span>
                    <span ng-show="category.tpdCover.tpdMinAgeLimit" class="error">Please enter a value more than or equal 15 years</span>
                  </div>
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.tpdReqd == 'Y')}">
                    <label class="control-label"> Maximum entry age</label>
                    <input class="form-control custom-input"  ng-model="category.tpdCover.tpdMaxAge" maxlength="2" type="text" name="tpdMaxAge_{{$index}}"
                      id="tpdMaxAgeId" format="number" numbers-only ng-change="vm.checkForMinMax('tpdAge',category.tpdCover.tpdMinAge, category.tpdCover.tpdMaxAge, $index)" 
                      ng-disabled="category.tpdReqd == '' || category.tpdReqd == 'N'" ng-required="category.tpdReqd == 'Y'">
                    <span ng-show="((vm.onboardForm.tpdMaxAge_{{$index}}.$invalid && vm.onboardForm.tpdMaxAge_{{$index}}.$touched  && category.tpdReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.tpdMaxAge_{{$index}}.$error.required))"
                      class="error">Please enter the maximum entry age for TPD cover</span>
                    <span ng-show="category.tpdCover.tpdMaxAgeErr" class="error">Max age should not be less than min age<br></span>
                    <span ng-show="category.tpdCover.tpdMaxAgeLimit" class="error">Please enter a value less than or equal to 64 years</span>
                  </div>
                </div>
                <hr class="primeline d-none d-sm-block">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-4">
                    <label class="control-label"> Minimum Sum Insured</label>
                    <input class="form-control custom-input"  ng-model="category.tpdCover.tpdMinSumIns" type="text" name="tpdMinSumInsured_{{$index}}" ng-change="vm.checkForMinMax('tpdSum',category.tpdCover.tpdMinSumIns, category.tpdCover.tpdMaxSumIns, $index)" 
                      id="tpdMinSumInsuredId" format="number" numbers-only
                      ng-disabled="category.tpdReqd == '' || category.tpdReqd == 'N'" >
                    <!-- <span ng-show="((vm.onboardForm.tpdMinSumInsured_{{$index}}.$invalid && vm.onboardForm.tpdMinSumInsured_{{$index}}.$touched) || (vm.onboardForm.$submitted && vm.onboardForm.tpdMinSumInsured_{{$index}}.$error.required))"
                      class="error">Please enter minimum sum insured.</span> ng-required="category.tpdReqd == 'Y'" -->
                    <span ng-show="category.tpdCover.tpdMaxSumInsErr" class="error">Minimum Sum Insured should not be greater than maximum sum insured</span>
                  </div>
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.tpdReqd == 'Y')}">
                    <label class="control-label"> Maximum Sum Insured</label>
                    <input class="form-control custom-input"  ng-model="category.tpdCover.tpdMaxSumIns" type="text" name="tpdMaxSumInsured_{{$index}}" ng-change="vm.checkForMinMax('tpdSum',category.tpdCover.tpdMinSumIns, category.tpdCover.tpdMaxSumIns, $index)" 
                      id="tpdMaxSumInsuredId" format="number" numbers-only
                      ng-disabled="category.tpdReqd == '' || category.tpdReqd == 'N'" ng-required="category.tpdReqd == 'Y'">
                    <span ng-show="((vm.onboardForm.tpdMaxSumInsured_{{$index}}.$invalid && vm.onboardForm.tpdMaxSumInsured_{{$index}}.$touched  && category.tpdReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.tpdMaxSumInsured_{{$index}}.$error.required))"
                      class="error">Please enter the maximum Sum Insured for TPD cover</span>
                    <span ng-show="category.tpdCover.tpdMaxSumInsErr" class="error">Maximum Sum Insured should not be less than minimum Sum Insured<br></span>
                     <span ng-show="category.tpdCover.tpdMaxSumInsLimit" class="error">Please enter a Sum Insured value less than 10 million</span>
                  </div>
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.tpdReqd == 'Y')}">
                    <label class="control-label"> Automatic Acceptance Limit </label>
                    <input class="form-control custom-input" ng-change="vm.checkForMinMax('TPDAAl',category.tpdCover.tpdAal, 0, $index)" ng-model="category.tpdCover.tpdAal" type="text" name="tpdAAl_{{$index}}" id="tpdAAlId"
                      format="number" numbers-only ng-disabled="category.tpdReqd == '' || category.tpdReqd == 'N'"
                      ng-required="category.tpdReqd == 'Y'">
                    <span ng-show="((vm.onboardForm.tpdAAl_{{$index}}.$invalid && vm.onboardForm.tpdAAl_{{$index}}.$touched && category.tpdReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.tpdAAl_{{$index}}.$error.required))"
                      class="error">Please enter the Automatic Acceptance Limit for TPD cover</span>
                      <span ng-show="category.tpdCover.tpdAAlLimit"  class="error">Please enter a value less than 5 million for  the Automatic Acceptance Limit</span>
                  </div>
                </div>
                <hr class="primeline d-none d-sm-block">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-4">
                    <label class="control-label"> GL policy number</label>
                    <div ng-if="category.tpdReqd != '' && category.tpdReqd == 'Y'">
                      <input class="form-control custom-input" ng-model="category.glPolicyNum" type="text" name="tpdGLPolicyNo_{{$index}}" id="tpdGLPolicyNoId"
                      numbers-with-slash-only ng-disabled="category.tpdReqd == '' || category.tpdReqd == 'N'" >
                    </div>
                    <div ng-if="category.tpdReqd == '' || category.tpdReqd == 'N'">
                     <input class="form-control custom-input" ng-model="dummy2" type="text" ng-disabled="true" >
                    </div>
                    <!-- <span ng-show="((vm.onboardForm.tpdGLPolicyNo_{{$index}}.$invalid && vm.onboardForm.tpdGLPolicyNo_{{$index}}.$touched) || (vm.onboardForm.$submitted && vm.onboardForm.tpdGLPolicyNo_{{$index}}.$error.required))"
                      class="error">Please enter GL policy number.</span> ng-required="category.tpdReqd == 'Y'"-->
                  </div>
                </div>
                <hr class="primeline d-none d-sm-block">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-8">
                    <label class="control-label">
                      <strong>IP cover required</strong> 
                    </label>
                    <div class="btn-group w-100">
                      <div class="w-50 form-group">
                        <label class="btn radiobutton w-100" ng-class="{'active': category.ipReqd == 'Y'}">
                          <input ng-model="category.ipReqd" class="ipradio" value="Y" name="ipRequired_{{$index}}" type="radio">
                          <span></span> Yes </label>
                      </div>
                      <div class="w-50 form-group ml-2">
                        <label class="btn radiobutton w-100" ng-class="{'active': category.ipReqd == 'N'}">
                          <input class="ipradio" ng-model="category.ipReqd" value="N" name="ipRequired_{{$index}}" type="radio" ng-click="vm.reset($index,'ip')">
                          <span></span> No </label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="primeline d-none d-sm-block">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.ipReqd == 'Y')}">
                    <label class="control-label"> Minimum entry age</label>
                    <input class="form-control custom-input"  ng-model="category.ipCover.ipMinAge" maxlength="2" type="text" name="ipMinAge_{{$index}}"
                      id="ipMinAgeId" format="number" numbers-only ng-change="vm.checkForMinMax('ipAge',category.ipCover.ipMinAge, category.ipCover.ipMaxAge, $index)" 
                      ng-disabled="category.ipReqd == '' || category.ipReqd == 'N'" ng-required="category.ipReqd == 'Y'">
                    <span ng-show="((vm.onboardForm.ipMinAge_{{$index}}.$invalid && vm.onboardForm.ipMinAge_{{$index}}.$touched && category.ipReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.ipMinAge_{{$index}}.$error.required))"
                      class="error">Please enter the minimum entry age for IP cover</span>
                    <span ng-show="category.ipCover.ipMaxAgeErr" class="error">Min age should not be greater than max age<br></span>
                    <span ng-show="category.ipCover.ipMinAgeLimit" class="error">Please enter a value more than or equal 15 years</span>
                  </div>
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.ipReqd == 'Y')}">
                    <label class="control-label"> Maximum entry age</label>
                    <input class="form-control custom-input"  ng-model="category.ipCover.ipMaxAge" maxlength="2" type="text" name="ipMaxAge_{{$index}}"
                      id="ipMaxAgeId" format="number" numbers-only ng-change="vm.checkForMinMax('ipAge',category.ipCover.ipMinAge, category.ipCover.ipMaxAge, $index)" 
                      ng-disabled="category.ipReqd == '' || category.ipReqd == 'N'" ng-required="category.ipReqd == 'Y'">
                    <span ng-show="((vm.onboardForm.ipMaxAge_{{$index}}.$invalid && vm.onboardForm.ipMaxAge_{{$index}}.$touched && category.ipReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.ipMaxAge_{{$index}}.$error.required))"
                      class="error">Please enter the maximum entry age for IP cover</span>
                    <span ng-show="category.ipCover.ipMaxAgeErr" class="error">Max age should not be less than min age<br></span>
                    <span ng-show="category.ipCover.ipMaxAgeLimit" class="error">Please enter a value less than or equal to 64 years</span>
                  </div>
                  <div class="form-group col-12 col-md-4">
                    <label class="control-label"> Minimum Sum Insured</label>
                    <input class="form-control custom-input"  ng-model="category.ipCover.ipMinSumIns" type="text" name="ipMinSumInsured_{{$index}}" ng-change="vm.checkForMinMax('ipSum',category.ipCover.ipMinSumIns, category.ipCover.ipMaxSumIns, $index)" 
                      id="ipMinSumInsuredId" format="number" numbers-only
                      ng-disabled="category.ipReqd == '' || category.ipReqd == 'N'" >(Per month)<br>
                    <!-- <span ng-show="((vm.onboardForm.ipMinSumInsured_{{$index}}.$invalid && vm.onboardForm.ipMinSumInsured_{{$index}}.$touched) || (vm.onboardForm.$submitted && vm.onboardForm.ipMinSumInsured_{{$index}}.$error.required))"
                      class="error">Please enter the maximum sum insured for IP cover.</span>ng-required="category.ipReqd == 'Y'" -->
                    <span ng-show="category.ipCover.ipMaxSumInsErr" class="error">Minimum Sum Insured should not be greater than maximum sum insured</span> 
                  </div>
                </div>
                <hr class="primeline d-none d-sm-block">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.ipReqd == 'Y')}">
                    <label class="control-label"> Maximum Sum Insured</label>
                    <input class="form-control custom-input"  ng-model="category.ipCover.ipMaxSumIns" type="text" name="ipMaxSumInsured_{{$index}}" ng-change="vm.checkForMinMax('ipSum',category.ipCover.ipMinSumIns, category.ipCover.ipMaxSumIns, $index)" 
                      id="ipMaxSumInsuredId" format="number" numbers-only
                      ng-disabled="category.ipReqd == '' || category.ipReqd == 'N'" ng-required="category.ipReqd == 'Y'">(Per month)<br>
                    <span ng-show="((vm.onboardForm.ipMaxSumInsured_{{$index}}.$invalid && vm.onboardForm.ipMaxSumInsured_{{$index}}.$touched && category.ipReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm_{{$index}}.ipMaxSumInsured.$error.required))"
                      class="error">Please enter the maximum Sum Insured for IP cover</span>
                    <span ng-show="category.ipCover.ipMaxSumInsErr" class="error">Maximum Sum Insured should not be less than minimum sum insured<br></span>
                    <span ng-show="category.ipCover.ipMaxSumInsLimit" class="error">Please enter a Sum Insured value less than $30000</span>
                  </div>
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.ipReqd == 'Y')}">
                  <label class="control-label"> Maximum % of salary </label>
                  <input class="form-control custom-input" ng-change="vm.checkForMinMax('ipSalPer',category.ipCover.ipFormula, 0, $index)" ng-model="category.ipCover.ipFormula" type="text" name="ipFormula_{{$index}}" 
                    id="ipFormulaId" numbers-with-decimals  
                    ng-disabled="category.ipReqd == '' || category.ipReqd == 'N'" ng-required="category.ipReqd == 'Y'">
                  <span ng-show="((vm.onboardForm.ipFormula_{{$index}}.$invalid && vm.onboardForm.ipFormula_{{$index}}.$touched && category.ipReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.ipFormula_{{$index}}.$error.required))" class="error">Please enter the maximum percentage.</span>
                  <span ng-show="category.ipCover.ipSalPerLimit" class="error">Please enter the maximum percentage of less than equal to 85</span>
                </div>
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.ipReqd == 'Y')}">
                    <label class="control-label">Automatic Acceptance Limit</label>
                    <input class="form-control custom-input" ng-change="vm.checkForMinMax('ipAAl',category.ipCover.ipAal, 0, $index)" ng-model="category.ipCover.ipAal" type="text" name="ipAAl_{{$index}}" id="ipAAlId"
                      format="number" onkeyup="return isAlphaNumeric('ipAAlId');" onkeypress="return isAlphaNumeric('ipAAlId');" ng-disabled="category.ipReqd == '' || category.ipReqd == 'N'"
                      ng-required="category.ipReqd == 'Y'">(Per month)<br>
                    <span ng-show="((vm.onboardForm.ipAAl_{{$index}}.$invalid && vm.onboardForm.ipAAl_{{$index}}.$touched && category.ipReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.ipAAl_{{$index}}.$error.required))"
                      class="error">Please enter the Automatic Acceptance Limit for IP cover</span>
                      <span ng-show="category.ipCover.ipAAlLimit" class="error">Please enter a value less than 50 thousand dollars for the Automatic Acceptance Limit</span>
                  </div>
                </div>
                <hr class="primeline d-none d-sm-block">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.ipReqd == 'Y')}">
                    <label class="control-label">Waiting period</label>
                    <div class="select">
                      <select ng-required="category.ipReqd == 'Y'" class="form-control custom-input" ng-model="category.ipCover.ipWp" name="waitingPeriod_{{$index}}" ng-disabled="category.ipReqd == '' || category.ipReqd == 'N'"
                        ng-options="waitingPeriodOption for waitingPeriodOption in vm.constants.waitingPeriodOptions">
                      </select>
                      <div class="select__arrow"></div>
                    </div>
                    <span ng-show="((vm.onboardForm.waitingPeriod_{{$index}}.$invalid && vm.onboardForm.waitingPeriod_{{$index}}.$touched && category.ipReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.waitingPeriod_{{$index}}.$error.required))"
                      class="error">Please enter the appropiate value for waiting period</span>
                  </div>
                  <div class="form-group col-12 col-md-4" ng-class="{'required': (category.ipReqd == 'Y')}">
                    <label class="control-label"> Benefit period </label>
                    <div class="select">
                      <select ng-required="category.ipReqd == 'Y'" class="form-control custom-input" ng-model="category.ipCover.ipBp" name="benefitPeriod_{{$index}}" ng-disabled="category.ipReqd == '' || category.ipReqd == 'N'"
                        ng-options="benefitPeriodOption for benefitPeriodOption in vm.constants.benefitPeriodOptions">
                      </select>
                      <div class="select__arrow"></div>
                    </div>
                     <span ng-show="((vm.onboardForm.benefitPeriod_{{$index}}.$invalid && vm.onboardForm.benefitPeriod_{{$index}}.$touched && category.ipReqd == 'Y') || (vm.onboardForm.$submitted && vm.onboardForm.benefitPeriod_{{$index}}.$error.required))"
                      class="error">Please enter the appropiate value for benefit period</span>
                  </div>
                  <div class="form-group col-12 col-md-4">
                    <label class="control-label"> SCI policy number </label>
                    <input class="form-control custom-input" ng-model="category.ipCover.ipSciPolicyNum" name="ipSCIPolicyNo_{{$index}}" id="ipSCIPolicyNoId"
                    numbers-with-slash-only type="text" ng-disabled="category.ipReqd == '' || category.ipReqd == 'N'">
                    <!-- <span ng-show="((vm.onboardForm.ipSCIPolicyNo_{{$index}}.$invalid && vm.onboardForm.ipSCIPolicyNo_{{$index}}.$touched) || (vm.onboardForm.$submitted && vm.onboardForm.ipSCIPolicyNo_{{$index}}.$error.required))"
                      class="error">Please enter GL policy number.</span> ng-required="category.ipReqd == 'Y'" -->
                  </div>
                </div>
                <hr class="primeline d-sm-block corp-category-divider">
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-3"  ng-if="vm.categories.length == $index+1">
                    <button class="metlife-btn-primary btn symbol-plus btn-block btn-outline" ng-click="vm.addCategory()">Add category </button>
                  </div>
                  <span class="spacer d-block d-sm-none">&nbsp;</span>
                  <div class="form-group col-12 col-md-3"  ng-if="vm.categories.length == $index+1">
                    <!-- <div> covers : {{(vm.category.deathReqd == 'N') && (vm.category.tpdReqd == 'N') && (vm.category.ipReqd == 'N')}}</div>
                    <div>{{!vm.onboardForm.$valid}}</div> <div>{{vm.errorMinMax>0}}</div><div>{{category.deathReqd == 'N'}}</div> <div>{{category.tpdReqd == 'N'}}</div><div>{{category.ipReqd == 'N'}}</div></div> -->
                    <button class="metlife-btn-primary btn btn-block btn-outline" ng-class="{'disabled': (!vm.onboardForm.$valid || vm.errorMinMax>0 || (category.deathReqd == 'N' && category.tpdReqd == 'N' && category.ipReqd == 'N'))}" ng-disabled="(!vm.onboardForm.$valid || vm.errorMinMax>0 || (category.deathReqd == 'N' && category.tpdReqd == 'N' && category.ipReqd == 'N'))"
                      ng-click="vm.submit()">Submit </button>
                  </div>
                  <p class="spacer visible-xs">&nbsp;</p>
                  <div class="form-group col-12 col-md-3">
                    <button class="metlife-btn-primary btn btn-block btn-outline" ng-class="{'disabled': vm.categories.length == 1}" ng-disabled="vm.categories.length == 1" ng-click="vm.removeCategory($index)">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        
      </div>
      <!-- <div class="col-12 col-md-3 align-top">
        <div class="help-block">
          <h2 class="helpHead">NEED HELP?</h2>
          <p class="helpTxt"> We are happy to chat over the phone</p>
          <h3 class="helpNo">
            <a class="telephone" href="tel:(07) 4771 5600">(07) 4771 5600</a>
          </h3>
        </div>
      </div> -->
    </div>
    <!-- /container -->
  </div>
  <div class="container" ng-if="vm.errorMsg">
    <div style="margin-top: 10px;" class="col-12 col-md-9"> 
      <div class="alert alert-danger"> 
         <a style="padding: 0 6px;" ng-click="vm.clearAlerts();" class="close" aria-label="close" title="close">&times;</a> 
         <strong>{{vm.errorMsg}}</strong> 
      </div> 
    </div>
  </div>
  <div id="onboard-mask" ng-if="vm.successMsg">
    <!-- <div class="body-mask-loader"></div> -->
    <div class="onboard-mask-success"> 
      <div class="alert alert-success"> 
          <a target='_self' href="https://www.e2e.eservice.metlife.com.au/wps/myportal" class="close" aria-label="close" title="close">&times;</a> 
          <strong>{{vm.successMsg}}
              Please proceed to uploading /entering  member data <a class="btn metlife-btn-primary rounded text-white" target='_self' href="https://www.e2e.eservice.metlife.com.au/wps/myportal">here</a>
          </strong> 
      </div>
    </div>
  </div>
  
  