<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/aeis/header.html'"></div>
</div>

<h2 ng-show="errorOccured" style="color:red;text-align: center;">Something went wrong...Please try after sometime</h2>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">2 / 2</span> Acknowledge cancellation </div>
    </div>
    <div class="col-xs-3"> <img src="static/aeis/images/bg_blank.png" ng-click="go('/quotecancel/2')" class=" icoMenuRev active "> <img src="static/aeis/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149</h3> -->
      <p class="helpTxt">Like to speak to someone?</p>
      <h3 class="helpNo">1300 134 337</h3>
      <h3 class="helpNo"> 8am&ndash;8pm weekdays</h3>
    </div>

  </div>
    <div class="col-sm-9">    
	    <div class="menu hidden-xs">
	      <div class="col-sm-4 dc first pointer" ng-click="go('/quotecancel/2')">
	        <h5 style="color:#0066a1">Step 1</h5>
	        <div class="txtHolder pointer"><a href="#" class="ui-link"> Personal details</a></div>
	        <img src="static/aeis/images/bg_blank.png" class=" right">
	      </div>
	      <div class="col-sm-4 cn">
	        <h5 style="color:#0066a1;">Step 2</h5>
	        <div class="txtHolder">Acknowledge cancellation</div>
	        <img src="static/aeis/images/bg_blank.png" class=" left">
	      </div>
	    </div>
    </div>

  <div class=" col-sm-9">
    <form autocomplete="off"  name="cancellationAcknowledgeForm" role="form" novalidate>
      <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">&nbsp;</h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                <div class="row rowcustom">
                    <div class="col-sm-12">
                      <label class="control-label"> Please provide reason for cancelling your cover by selecting one of the following options</label>
                    </div>
                    <div class="col-sm-12" ng-class="{'has-error': cancellationReasonFlag}">
                      <div class="btn-group" data-toggle="buttons">
                        <div class="col-sm-12 pl0 col-xs-12">
                          <label class="btn  radiobutton" ng-class="{'active': (cancellationReason == 'option1')}" ng-click="updateCancellationReason('option1')">
                            <input type="radio" name="reason" value="option1" class="ipradio" ng-model="cancellationReason" required />
                            <span></span> <div class="custom-checkbox-label" style="text-align:left;">&nbsp;No longer require insurance</div> </label>
                        </div>
                        <div class="col-sm-12 col-xs-12 pl0">
                          <label class="btn  radiobutton"  ng-class="{'active': (cancellationReason == 'option2')}" ng-click="updateCancellationReason('option2')">
                            <input type="radio" name="reason" value="option2" class="ipradio" ng-model="cancellationReason" required />
                            <span></span>  <div class="custom-checkbox-label" style="text-align:left;">&nbsp;Affordability constraints</div> </label>
                        </div>
                        <div class="col-sm-12 col-xs-12 pl0">
                          <label class="btn  radiobutton"  ng-class="{'active': (cancellationReason == 'option3')}" ng-click="updateCancellationReason('option3')">
                            <input type="radio" name="reason" value="option3" class="ipradio" ng-model="cancellationReason" required />
                            <span></span>  <div class="custom-checkbox-label" style="text-align:left;">&nbsp;I have sufficient insurance in place</div> </label>
                        </div>
                        <div class="col-sm-12 col-xs-12 pl0">
                          <label class="btn  radiobutton"  ng-class="{'active': (cancellationReason == 'option4')}" ng-click="updateCancellationReason('option4')">
                            <input type="radio" name="reason" value="option4" class="ipradio" ng-model="cancellationReason" required />
                            <span></span>  <div class="custom-checkbox-label" style="text-align:left;">&nbsp;I don't wish to provide details</div> </label>
                        </div>
                        <div class="col-sm-12 col-xs-12 pl0" ng-class="{'has-error': otherReasonError}">
                          <label class="btn  radiobutton"  ng-class="{'active': (cancellationReason == 'option5')}" ng-click="updateCancellationReason('option5')">
                            <input type="radio" name="reason" value="option5" class="ipradio" ng-model="cancellationReason" required />
                            <span></span>  <div class="custom-checkbox-label" style="text-align:left;">&nbsp;Other – please provide details</div> </label>
                            <div ng-if="cancellationReason =='option5'">
                              <div class="row rowcustom">
                               <div class="col-sm-5" >
                                  <label class="control-label">  Please enter other reason </label>
                                </div>
                                <div class="col-sm-7 col-xs-12">
                                     <input class="form-control"  maxlength="50" name="otherReason"  ng-model="otherReasonObj.otherReason" type="text" placeholder="Enter other reason" required ng-change="updateOtherReason()">
                                     <span ng-if="otherReasonError" class="error">Please enter your reason</span>
                               </div>
                             </div>
                            </div>
                        </div>


                      </div>
                      <p class="error" style="padding-top:5px;" ng-if="cancellationReasonFlag">Please provide reason for cancellation.</p>
                    </div>

                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href="" class="noarrow">
            <h4 class="panel-title">Acknowledgement</h4>
            </a>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in   ">
            <div class="panel-body pb0">
              <div class="row rowcustom">
               <div class=" col-sm-12">
               <p>By clicking on the tick box below, I declare that: </p>
                 <div class="row rowcustom ">
                    <div data-toggle="buttons" class=" btn-group-vertical    ">
                     <div class="row rowcustom" ng-class="{'has-error': ackErrorFlag}">
                        <label  class="btn checkboxes" id="ackCancellationLabelId" ng-click="checkAckState()">
                         <input type="checkbox" id="acknowledgeCheck" name="acknowledgeCheck" ng-modal="cancelAcknowledgement" required ng-false-value="false" ng-true-value="true" />
                         <span></span>
                         <p  style="margin-left:30px;">I understand that I am cancelling all my insurance cover with Australian Ethical Super and if I wish to apply for cover with Australian Ethical Super in the future I will need to go through underwriting.
                        <!--  <br><label>Are you sure you want to cancel all your Insurance cover with CareSuper?</label></p> -->
                        </label><p ng-if="ackErrorFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the declaration.</p>
                      </div>
                    </div>
                </div>

              <hr class="primeline">
               <div class=" row rowcustom">
                <div class="col-sm-4 col-xs-12">
                   <button  class="btn btn-primary btn-back w100p" type="button"  ng-click="go('/quotecancel/2')">Previous</button>
                 </div>
                 <p class="spacer visible-xs">&nbsp;</p>
                 <div class="col-sm-4 col-xs-12">
                  <button type="button" class="btn btn-primary w100p no-arrow" ng-click="cancelConfirmationPopUp()" >Confirm</button>
                 </div>
                 <p class="spacer visible-xs">&nbsp;</p>
                 <div class="col-sm-4 col-xs-12">
                  <button type="button" class="btn btn-primary w100p no-arrow" ng-click="cancel()">Cancel</button>
                 </div>
               </div>
              </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
          <p class="helpTxt aligncenter">Like to speak to someone?</p>
          <h3 class="helpNo aligncenter">1300 134 337</h3>
          <h3 class="helpNo aligncenter"> 8am&ndash;8pm weekdays</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>
<div ng-include="'static/aeis/footer.html'"></div>
