<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/aeis/header.html'"></div>
</div>

<h2 ng-if="changeCoverSummary.errorOccured" style="color:red;text-align: center;">Something went wrong...Please try after sometime</h2>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-xs-3 nav-arrows">
    <img src="static/aeis/images/bg_blank.png" ng-if="!changeCoverSummary.auraDisabled" ng-click="go('/aura')" class=" icoMenuRev active  ">
    <img src="static/aeis/images/bg_blank.png" ng-if="changeCoverSummary.auraDisabled" ng-click="go('/quote')" class=" icoMenuRev active  ">
    <img src="static/aeis/images/bg_blank.png" class=" icoMenuFwd  ml30p">
    </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 134 337</h3>
      <h3 class="helpNo"> </h3>
    </div>

  </div>
   <div class="col-sm-9">
	    <div class="menu hidden-xs">
	       <div class="col-sm-4 dd first">
	        <h5 style="color:#0066a1">Step 1</h5>
	        <div class="txtHolder pointer"> <a ng-click="go('/quote/')"> Personal details</a> </div>
	        <img src="static/aeis/images/bg_blank.png" class=" right">
	       </div>

	        <div class="col-sm-4 dc" ng-if="!changeCoverSummary.auraDisabled">
	         <img src="static/aeis/images/bg_blank.png" class=" left">
	         <h5 style="color:#0066a1">Step 2</h5>
	         <div class="txtHolder pointer"> <a ng-click="go('/aura/')"> Health &amp; lifestyle</a></div>
	         <img src="static/aeis/images/bg_blank.png" class=" right">
	        </div>
	        <div class="col-sm-4 dc" ng-if="changeCoverSummary.auraDisabled" ng-disabled="changeCoverSummary.auraDisabled">
	         <img src="static/aeis/images/bg_blank.png" class=" left">
	         <h5 style="color:#d9d9d9">Step 2</h5>
	         <div class="txtHolder"> <p style="color:#d9d9d9" class="txtHolder"> Health &amp; lifestyle</p></div>
	         <img src="static/aeis/images/bg_blank.png" class=" right">
	        </div>

	        <div class="col-sm-4 cn">
	         <h5>Step 3</h5>
	         <div class="txtHolder" style="color:#000"> Confirmation </div>
	         <img src="static/aeis/images/bg_blank.png" class=" left">
	        </div>
	     </div>

	    <div class="panel-group" id=" ">
	      <div class="panel panel-default twoColData">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="  ">
	          	<h4 class="panel-title">Personal details </h4>
	          </a>
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse in ">
	          <div class="panel-body">
	            <!-- Row starts -->
	           <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>First name</strong> </label>
	                <label class="control-label">{{personalDetails.firstName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Last name</strong> </label>
	                <label class="control-label">{{personalDetails.lastName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	             <hr class="primeline hidden-xs">
	             <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>Sex</strong></label>
	               <label class="control-label">{{changeCoverSummary.occupationDetails.gender}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>Preferred contact type</strong></label>
	               <label class="control-label">{{contactType}}</label>
	              </div>
	            </div>
	             <hr class="primeline hidden-xs">

	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact number </strong></label>
	               <label class="control-label">{{changeCoverSummary.contactPhone}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Email address</strong> </label>
	               <label class="control-label">{{changeCoverSummary.email}}</label>
	              </div>
	            </div>
	            <hr class="primeline hidden-xs">

	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Date of birth</strong> </label>
	               <label class="control-label"> {{changeCoverSummary.dob}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>What time of day do you prefer to be contacted?</strong></label>
	               <label class="control-label" ng-if="changeCoverSummary.contactPrefTime =='1'">Morning (9am&ndash;12pm)</label>
	               <label class="control-label" ng-if="changeCoverSummary.contactPrefTime =='2'">Afternoon (12pm&ndash;6pm)</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	           <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Do you work 15 or more hours per week?</strong> </label>
	               <label class="control-label">{{changeCoverSummary.occupationDetails.fifteenHr}}</label>
	            </div>
	               <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Annual salary</strong></label>
	              <label class="control-label">{{changeCoverSummary.occupationDetails.salary | currency:undefined:0}}</label>
	            </div>
	            </div>
	            <!-- Row ends -->
		
	            <hr class="primeline hidden-xs">


	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>What industry do you work in?</strong> </label>
	               <label class="control-label">{{changeCoverSummary.industryName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>What is your current occupation?</strong></label>
	               <!--  <label class="control-label">{{changeCoverSummary.occupationDetails.occupation}}</label> -->
	                <label class="control-label" ng-show="changeCoverSummary.occupationDetails.occupation !='Other'">{{changeCoverSummary.occupationDetails.occupation}}</label>
	                <label class="control-label" ng-show="changeCoverSummary.occupationDetails.occupation =='Other'">{{changeCoverSummary.occupationDetails.otherOccupation}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
				 <hr class="primeline hidden-xs">
				 
				 <!-- Row starts -->
	            <!-- <div class="row rowcustom odd" ng-if="changeCoverSummary.occupationDetails.occupation =='Other'">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>If other, What is your occupation?</strong></label>	                
	                <label class="control-label" ng-show="changeCoverSummary.occupationDetails.occupation =='Other'">{{changeCoverSummary.occupationDetails.otherOccupation}}</label>
	              </div>
	            </div> -->
	            <!-- Row ends -->
				 <!-- <hr class="primeline hidden-xs" ng-if="changeCoverSummary.occupationDetails.occupation =='Other'"> -->
				 
				 
	            <!-- Row starts -->
	            <div class="row rowcustom odd" ng-if="changeCoverSummary.occupationDetails.withinOfficeQue == 'Yes' || changeCoverSummary.occupationDetails.withinOfficeQue == 'No' || changeCoverSummary.occupationDetails.tertiaryQue == 'Yes'|| changeCoverSummary.occupationDetails.tertiaryQue == 'No'">
	              <div class="col-sm-6 col-xs-12"  ng-if="changeCoverSummary.occupationDetails.withinOfficeQue == 'Yes' || changeCoverSummary.occupationDetails.withinOfficeQue == 'No'">
	                <!-- <label class="control-label"><p align="justify"> <strong>Do you work wholly within an office environment?</strong></p></label> -->
	                <label class="control-label"><p align="justify"> <strong>Do you spend at least 80% of your working time in an office environment?</strong></p></label>
	               <label class="control-label">{{changeCoverSummary.occupationDetails.withinOfficeQue}}</label>
	              </div>
	            <div class="col-sm-6 col-xs-12" ng-if="changeCoverSummary.occupationDetails.tertiaryQue == 'Yes' || changeCoverSummary.occupationDetails.tertiaryQue == 'No'">
	                <!-- <label class="control-label"> <p align="justify"><strong>Do you hold a tertiary qualification relevant to your current occupation or are you a member of a professional body relevant to your current occupation or a member of your organisation's senior management team?</strong></p></label> -->
	                <label class="control-label"> <p align="justify"><strong>Do you hold a tertiary qualification and are a member of a professional body relevant to your current occupation or are you a member of your organisation's executive leadership team?</strong></p></label>
	               <label class="control-label">{{changeCoverSummary.occupationDetails.tertiaryQue}}</label>
	              </div>
	          </div>
	          <hr ng-if="changeCoverSummary.occupationDetails.withinOfficeQue == 'Yes' || changeCoverSummary.occupationDetails.withinOfficeQue == 'No' || changeCoverSummary.occupationDetails.tertiaryQue == 'Yes'|| changeCoverSummary.occupationDetails.tertiaryQue == 'No'"class="primeline hidden-xs">
	          <div class="row rowcustom odd" ng-if="changeCoverSummary.occupationDetails.managementRoleQue == 'Yes' || changeCoverSummary.occupationDetails.managementRoleQue == 'No' || changeCoverSummary.occupationDetails.hazardousQue == 'Yes' || changeCoverSummary.occupationDetails.hazardousQue == 'No'">
	            <div class="col-sm-6 col-xs-12" ng-if="changeCoverSummary.occupationDetails.managementRoleQue == 'Yes' || changeCoverSummary.occupationDetails.managementRoleQue == 'No'">
	                <label class="control-label"> <strong>Do you spend more than 20% of your working time outside of an office environment?  </strong></label>
	                <!-- <label class="control-label"> <strong>Do you spend more than X% of your working time outside of an office environment? (X=20%)</strong></label> -->
	               <label class="control-label">{{changeCoverSummary.occupationDetails.managementRoleQue}}</label>
	              </div>
	            <div class="col-sm-6 col-xs-12" ng-if="changeCoverSummary.occupationDetails.hazardousQue == 'Yes' || changeCoverSummary.occupationDetails.hazardousQue == 'No'">
	                <label class="control-label"> <strong>Do you work in a hazardous environment and/or perform any duties of a manual nature?</strong></label>
	               <label class="control-label">{{changeCoverSummary.occupationDetails.hazardousQue}}</label>
	              </div>
	            </div>
	             <hr ng-if="changeCoverSummary.occupationDetails.managementRoleQue == 'Yes' || changeCoverSummary.occupationDetails.managementRoleQue == 'No' || changeCoverSummary.occupationDetails.hazardousQue == 'Yes' || changeCoverSummary.occupationDetails.hazardousQue == 'No'" class="primeline hidden-xs">

	             <!-- Row ends -->
	             <div class="row rowcustom"  ng-if="!changeCoverSummary.auraDisabled">
	             	<div class="col-sm-6 col-xs-12" >
	             		<label class="control-label"> <strong>Reason for application for additional cover:  </strong></label>
	             	</div>
	             	<div class="col-sm-4 col-xs-12 mmb10px">
	             		<select  name="eventName" class="form-control" ng-model="changeCoverSummary.eventName" ng-options="event.cde as event.desc for event in eventList">
	             			<option value="">Please select</option>
	             		</select>
              </div>
	             </div>
	                   <hr class="primeline hidden-xs" ng-if="!changeCoverSummary.auraDisabled">
	           <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Have you smoked in the past 12 months?</strong> </label>
	               <label class="control-label">{{changeCoverSummary.occupationDetails.smoker}}</label>
	              </div>
	            </div>
				<hr class="primeline hidden-xs">

	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default nobg">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseCover" class="">
	            <h4 class="panel-title"> Your cover</h4>
	            </a>
	        </div>
	        <div id="collapseCover" class="panel-collapse collapse in landingPageBoxes">
           <div class="panel-body">
       		 <div class="parent-flex-container">
         	   <div class="col-xs-12 col-sm-4 bgwhite child-flex-box borderright5px">
           		<div class="box coverbg aligncenter">
                <h5 class="mb0">cover type</h5>
                <h4 class="p0 m0 cover-header">Death<br> &nbsp; </h4>
              </div>
              <div class="box mt10px aligncenter">
                <h5 class=" color2">Existing cover</h5>
                <p class="color3">{{changeCoverSummary.existingDeathAmt | currency:undefined:0}} </p>
                <h5 class=" color2">New cover</h5>
                <p class="color3">{{changeCoverSummary.addnlDeathCoverDetails.deathFixedAmt | currency:undefined:0}}</p>
                <h5 class=" color2">Occupational category </h5>
                <p class="color3">{{changeCoverSummary.deathOccCategory}}</p>
                <h5 class=" color2">{{changeCoverSummary.freqCostType}} cost</h5>
                <p class="color3">{{changeCoverSummary.addnlDeathCoverDetails.deathCoverPremium | currency}}</p>
              </div>
              <p class="spacer">&nbsp;</p>
             </div>
            <!-- Death Cover Details Ends-->

            <p class="spacer visible-xs">&nbsp;</p>

           <!-- TPD Cover Details Starts-->
          <div class="col-xs-12 col-sm-4 bgwhite child-flex-box borderright5px">
            <div class="box coverbg aligncenter">
              <h5 class="mb0">cover type</h5>
              <h4 class="p0 m0 cover-header">Total &amp; Permanent Disablement</h4>
            </div>
            <div class="box mt10px aligncenter">
              <h5 class=" color2">Existing cover</h5>
              <p class="color3">{{changeCoverSummary.existingTpdAmt | currency:undefined:0}}</p>
              <h5 class=" color2">New cover</h5>
              <p class="color3">{{changeCoverSummary.addnlTpdCoverDetails.tpdFixedAmt | currency:undefined:0}}</p>
              <h5 class=" color2">Occupational category </h5>
              <p class="color3">{{changeCoverSummary.tpdOccCategory}}</p>
              <h5 class=" color2">{{changeCoverSummary.freqCostType}} cost</h5>
              <p class="color3">{{changeCoverSummary.addnlTpdCoverDetails.tpdCoverPremium | currency}}</p>
            </div>
            <p class="spacer">&nbsp;</p>
          </div>
          <!-- TPD Cover Details Ends-->
          <p class="spacer visible-xs">&nbsp;</p>
	             <!-- IP Cover Details Starts-->
           <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
              <div class="box coverbg aligncenter">
                <h5 class="mb0">cover type</h5>
                <h4 class="p0 m0 cover-header">Income <br> Protection</h4> 
              </div>
              <div class="box mt10px aligncenter">
                <h5 class=" color2">Existing cover</h5>
                <p class="color3">{{changeCoverSummary.existingIPAmount | currency:undefined:0}}</p>
                <h5 class=" color2">New cover</h5>
                <p class="color3">{{changeCoverSummary.addnlIpCoverDetails.ipFixedAmt | currency:undefined:0}}</p>
                 <h5 class=" color2">Occupational category </h5>
                <p class="color3">{{changeCoverSummary.ipOccCategory}}</p>
                <h5 class=" color2">Waiting period</h5>
                <p class="color3">{{changeCoverSummary.addnlIpCoverDetails.waitingPeriod}}</p>
                <h5 class=" color2">Benefit period</h5>
                <p class="color3">{{changeCoverSummary.addnlIpCoverDetails.benefitPeriod}}</p>
                <h5 class=" color2">{{changeCoverSummary.freqCostType}} cost</h5>
                <p class="color3">{{changeCoverSummary.addnlIpCoverDetails.ipCoverPremium | currency}}</p>
              </div>
              <p class="spacer">&nbsp;</p>
	          </div>
	          <!-- IP Cover Details Ends-->
	        </div>
	        <p class="h5px mt0 mb0">&nbsp;</p>

		           <div class="row	mt0	coverbg seccolor bgcolor_3">
           				 <div class="col-sm-9 col-xs-6">
		              <h5 class="coverval ng-binding">&nbsp;Total {{changeCoverSummary.freqCostType}} cost</h5>
		            </div>
		            <div class="col-sm-3 col-xs-6 alignright">
		              <h4 class="coverval">{{changeCoverSummary.totalPremium | currency}}&nbsp;</h4>
		            </div>
	              </div>
	           	  <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by Australian Ethical Super
	           	  <br>
	           	  To update your cover details, click on 'Personal details' in the navigation bar above.
	           	  </p>
	            </div>
	          </div>

        <div class=" secrow1 " ng-if="changeCoverSummary.auraDetails.specialTerm == true && changeCoverSummary.auraDetails.overallDecision == 'ACC' && ((changeCoverSummary.auraDetails.deathLoading != null && changeCoverSummary.auraDetails.deathLoading != '0.0') || (changeCoverSummary.auraDetails.tpdLoading != null && changeCoverSummary.auraDetails.tpdLoading != 0.0) || (changeCoverSummary.auraDetails.ipLoading != null && changeCoverSummary.auraDetails.ipLoading != 0.0))">
         <div class="lwt"></div>
         <div class="rwt"></div>
          <div class="panel panel-default nobg secrow">
	        <div class="col-sm-12 bgwhite">
			 <!-- Row starts -->
            <div class="row rowcustom">
              <div class="col-sm-12">
			     <div class="row rowcustom ">
                  <div class="col-sm-12">
                    <p> Loadings</p>
                   </div>
                  </div>
		           <!-- Row ends -->
		           <hr class="primeline">
		             <div class="row rowcustom ">
		               <div class="col-sm-12">
		                 <div data-toggle="buttons" class=" btn-group-vertical">
		                  <div class="row rowcustom" >
		                    <div class="col-sm-12" ng-if="changeCoverSummary.auraDetails.deathLoading != null && changeCoverSummary.auraDetails.deathLoading != 0.0">
		                      <h6>Death</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;">
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to
		                         a loading of {{changeCoverSummary.auraDetails.deathLoading}}%, an additional premium in the amount of {{changeCoverSummary.deathLoadingCost | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="changeCoverSummary.auraDetails.tpdLoading != null && changeCoverSummary.auraDetails.tpdLoading != 0.0">
		                      <h6>TPD</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;">
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to
		                         a loading of {{changeCoverSummary.auraDetails.tpdLoading}}%, an additional premium in the amount of {{changeCoverSummary.tpdLoadingCost | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="auraDetails.ipLoading != null && auraDetails.ipLoading != 0.0">
		                      <h6>Income protection</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;">
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to
		                         a loading of {{changeCoverSummary.auraDetails.ipLoading}}%, an additional premium in the amount of {{changeCoverSummary.ipLoadingCost | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                   </div>
		                 </div>
		                </div>
		             </div>
			   </div>
             </div>
            </div>
         </div>
        </div>
      <div class="secrow1" ng-if="changeCoverSummary.auraDetails.specialTerm == true && changeCoverSummary.auraDetails.overallDecision == 'ACC' && (changeCoverSummary.auraDetails.deathExclusions != null || changeCoverSummary.auraDetails.tpdExclusions != null || changeCoverSummary.auraDetails.ipExclusions != null)">
        <div class="lwt"></div>
        <div class="rwt"></div>
         <div class="panel panel-default nobg">
	        <div class="col-sm-12 bgwhite">
			 <!-- Row starts -->
            <div class="row rowcustom">
              <div class="col-sm-12">
			     <div class="row rowcustom ">
                  <div class="col-sm-12">
                    <p> Exclusions</p>
                   </div>
                  </div>
		           <!-- Row ends -->
	                <hr class="primeline">
		             <div class="row rowcustom ">
		               <div class="col-sm-12">
		                 <div data-toggle="buttons" class=" btn-group-vertical">
		                  <div class="row rowcustom" >
	                    <div class="col-sm-12" ng-if="changeCoverSummary.auraDetails.deathExclusions != null">
		                      <h6>Death</h6>
		                       <!-- <p class= "normal" style="text-align:justify;margin-top:8px;white-space:pre-line;"> {{changeCoverSummary.auraDetails.deathExclusions}} -->
		                        <p class= "normal txt-p" style="text-align:justify;" ng-bind-html="changeCoverSummary.auraDetails.deathExclusionsEdit"> 
		                       </p>
		                    </div>
	                    <div class="col-sm-12" ng-if="changeCoverSummary.auraDetails.tpdExclusions != null">
		                      <h6>TPD</h6>
		                       <!-- <p class= "normal" style="text-align:justify;margin-top:8px;white-space:pre-line;"> {{changeCoverSummary.auraDetails.tpdExclusions}} -->
		                        <p class= "normal txt-p" style="text-align:justify;" ng-bind-html="changeCoverSummary.auraDetails.tpdExclusionsEdit"> 
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="changeCoverSummary.auraDetails.ipExclusions != null">
		                      <h6>Income protection</h6>
		                       <!-- <p class= "normal" style="text-align:justify;margin-top:8px;white-space:pre-line;"> {{changeCoverSummary.auraDetails.ipExclusions}} -->
		                        <p class= "normal txt-p" style="text-align:justify;" ng-bind-html="changeCoverSummary.auraDetails.ipExclusionsEdit"> 
						       </p>
		                    </div>
		                   </div>
		                 </div>
	                </div>
		             </div>
			   </div>
             </div>
            </div>
         </div>
		</div>
            <div class="col-sm-12 bgwhite " ng-if="changeCoverSummary.auraDetails.specialTerm == true && changeCoverSummary.auraDetails.overallDecision == 'ACC' ">
             <div class="row rowcustom " ng-class="{'has-error':changeCoverSummary.LEFlag}" ng-click="checkAckStateLE()">
               <div class="col-sm-12">
                 <div data-toggle="buttons" class="btn-group-vertical">
                  <div class="row rowcustom">
                    <div class="col-sm-12">
                     <label class="btn  checkboxes ack-checkbox-label" id="lodadingExclusionLabel">
                      <input type="checkbox" class=" " id="lodadingExclusionId">
                      <span></span> <div class="custom-checkbox-label">I acknowledge I have read and understood the above exclusion(s) and/or loading(s) which apply to this cover.</div>
                     </label>
                       <p ng-if="changeCoverSummary.LEFlag" class="error" style="padding-top:5px;">Please tick the box to acknowledge the exclusion(s) and/or loading(s) before proceeding with your application.</p>
                    </div>
                   </div>
                 </div>
                </div>
             </div>
            </div>
            <!-- <div  ng-if="changeCoverSummary.auraDetails.specialTerm == true">
             <div class="row	mt0	coverbg seccolor bgcolor_3">
            <div class="col-sm-9 col-xs-6">
             <h5>Total {{changeCoverSummary.freqCostType}} cost</h5>
           </div>
            <div class="col-sm-3 col-xs-6 alignright">
             <h4 class="coverval">{{changeCoverSummary.totalPremium | currency}}</h4>
           </div>
            </div>
         	  <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by Australian Ethical Super</p>
       </div> -->
          </div>

       <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" class="  ">
           <h4 class="panel-title"> Terms &amp; conditions </h4>
          </a>
        </div>
        <div id="collapse4" class="panel-collapse collapse in ">
            <div class="panel-body">
              <div class="scrollBox">
              <p><strong class="color2">You must read and acknowledge the General Consent before proceeding</strong></p>
               <p> <strong class="color2">General consent</strong></p>
               <p>By clicking on the tick box below, I declare that:</p>
               		<ul>
               			<li>I have read and understand my Duty of Disclosure and that this duty applies until formal notification of acceptance.</li>
               			<li>The answers to the questions in this application are true, and I have not deliberately withheld any information material to the proposed insurance.</li>
               			<li>I agree to be bound by the terms and conditions attached to this cover as set out in the Insurance Policy Document between Australian Ethical Super and the Insurer.</li>
               			<li>I consent to the collection, use and disclosure of personal information by the relevant Insurer and their service providers in order to assess my application and any claim under this policy.</li>
               			 <li>I have read and understood the privacy statement and agree to the collection, use and disclosure of personal information as described in those statements.</li>
               			 <li>I consent to the relevant Insurer, that being MetLife Insurance Limited, seeking medical information from any doctor who at any time I have consulted prior to the date hereof.</li>
               			 <li>I understand that cover under any policy accepted does not begin until acceptance by the Insurer of which I will be notified in writing. </li>
               			 <li>I have read the <a href="https://www.australianethical.com.au/super/insurance" target="_blank">Australian Ethical Super Insurance Guide</a>.</li>
               			 <li>I authorise any hospital, physician or other person who has attended me to furnish MetLife Insurance Limited or its representatives, any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records.</li>
               			 <li>I agree that a photocopy of this authorisation shall be considered as effective as the original.</li>
           			</ul>
       			</p>
             </div>
            <!-- Row ends -->
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':CCGCackFlag}" ng-click="checkAckStateGC()">
                     <div class="col-sm-12">
                      <label class="btn  checkboxes ack-checkbox-label" id="generalConsentLabel">
                       <input type="checkbox" class=" " id="option2">
                       <span></span><div class="custom-checkbox-label"> I acknowledge and consent to the above.</div>
                      </label>
                      <p ng-if="CCGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
                     </div>
                    </div>
                  </div>

            <hr class="primeline">
            <div class=" row rowcustom">
               <div class="col-sm-4 col-xs-12">
		        <!-- <a class="" href="" data-parent="#accordion" data-toggle="collapse"> -->
	             <button  class="btn btn-primary w100p avoid-arrow" type="button" ng-if="!changeCoverSummary.auraDisabled" ng-click="go('/aura')">Previous</button>
               <button  class="btn btn-primary w100p avoid-arrow" type="button" ng-if="changeCoverSummary.auraDisabled" ng-click="go('/quote')">Previous</button>
	             <!-- <button  class="btn btn-primary w100p" type="button" ng-click="go('/quote')">Previous</button> -->
		        <!-- </a> -->
              </div>
              
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12 alignleft hidden-xs">
                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="saveSummary()" > Save &amp; exit</button>
              </div>
              <div class="col-sm-4 col-xs-12 aligncenter   visible-xs">
                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="saveSummary()" > Save &amp; exit</button>
              </div>
              
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12">
                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="navigateToDecision()" >Submit</button>
              </div>
            </div>
        </div>
        </div>
       </div>
</div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 467 875</h3>
        </div>
      </div>
    </div>
     </div>
  </div>
  <!-- /container -->

<div ng-include="'static/aeis/footer.html'"></div>