<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-2   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-5   ">
      <p class="footertext"> Copyright &copy 2017 Australian Ethical Investment Ltd ABN 47 003 188 930, AFSL 229949.</p>
    </div>
    <div class="col-sm-4   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a target="_blank" href="https://www.australianethical.com.au/privacy-policy/" class=" ">Privacy policy</a> | <a target="_blank" href="https://www.australianethical.com.au/legal-disclaimer/" class=" ">Disclaimer</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a target="_blank" href="https://www.australianethical.com.au/privacy-policy/" class=" ">Privacy policy</a> | <a target="_blank" href="https://www.australianethical.com.au/legal-disclaimer/" class=" ">Disclaimer</a> </p>
    <p class="footertext"> Copyright &copy 2017 Australian Ethical Investment Ltd ABN 47 003 188 930, AFSL 229949.</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>