<div class="c-header">
  <div class="container">
    <div class="col-sm-3 col-xs-6">
    	<img src="static/aeis/images/logo.png" class="img-responsive  c-logo" alt="MetLife Australia" />
    	<p ng-if="hideHomebutton == true" class="color3 pt5px"><Strong>Hello&nbsp;{{fName}}&nbsp;{{lName}}</Strong></p>
    </div>
    <div class="col-sm-9 col-xs-6 menuBlock text-right">
      <div>
        <a class="col-xs-12 form-group" target="_blank" title="About us" href="https://www.australianethical.com.au/who-we-are/">About us</a>
      </div>
      <div>
        <a class="col-xs-12 form-group" target="_blank" title="Contact us" href="https://www.australianethical.com.au/contact-us/">Contact us</a>
      </div>
      <div>
        <a class="col-xs-12 form-group" href="" ng-click="logout()" >Logout</a>
      </div>
      <div ng-if="hideHomebutton == false">
        <a class="col-xs-12 form-group" href="" ng-click="navigateToHomePage()" >Home</a> 
      </div>

    </div>
  </div>
</div>