<div class="c-header">
  <div class="container">
     <div class="col-sm-3 col-xs-6"><img src="static/aeis/images/logo.png" class="img-responsive  c-logo" alt="MetLife Australia" /></div>
    <div class="col-sm-9 col-xs-6 menuBlock text-right">      
      <div><a class="col-xs-12 form-group" target="_blank" title="About us" href="https://www.australianethical.com.au/about-us/">About us</a> </div>
      <div><a class="col-xs-12 form-group" target="_blank" title="Contact us" href="https://www.australianethical.com.au/contact-us/">Contact us</a> </div>
    </div>
  </div>
</div>
<div class="container ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
<div class=" col-sm-3 fright hidden-xs">
  <div class="help-block">
    <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 134 337</h3>
      <h3 class="helpNo"> </h3>
  </div>
</div>
<div class=" col-sm-9">
  <div class="panel-group" id=" ">
    <div class="panel panel-default mt5px"> 
      <!--div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href=" " class=" ">
          <h4 class="panel-title"> Personal details </h4>
          </a> </div-->
      <div id="collapseOne" class="panel-collapse collapse in   ">
        <div class="panel-body">
          <div class="row rowcustom">
            <div class="col-sm-12">
              <h2 class="title mt0">Session Expiry</h2>
            </div>
          </div>
          <hr class="primeline">
          <div class="row rowcustom">
            <div class="col-sm-12">
              <p>To protect your secure information we limit the amount of time a secure connection can be inactive.</p>
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 134 337</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
<div ng-include="'static/aeis/footer.html'"></div>
