<div class="container pt-5" ng-init="$ctrl.onScreenLoad()">
  <div class="row">
    <div class="col-12 col-md-9">
      <div id="landing-accordion">
        <div class="card border-0">
        	
        	<div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
      			<div data-toggle="collapse" data-target="#existing-cover">
      				<button class="ingd-section-title mb-0">Your current cover</button>
      			</div>
      		</div>
      		
          <div id="existing-cover" class="collapse" aria-labelledby="existing-cover-info">
            <div class="row no-gutters ing-bg-color">
              <div class="col-sm-4 text-center">
                <div class="h-100 bg-white mr-sm-1">
                  <div class="cover-background">
                    <p class="font-weight-bold">Cover Type</p>
                    <h5 class="ing-heading">Death</h5>
                  </div>
                  <div class="mt-3" ng-if="$ctrl.exDthCover.existingCoverAmount !== '0.0'">
                    <p class="font-weight-bold">Amount</p>
                    <p>{{$ctrl.exDthCover.existingCoverAmount | currency:undefined:0}}</p>
                    <p class="font-weight-bold">{{$ctrl.exDthCover.coverCategory === 'DcAutomatic' ? 'Automatic' : 'Tailored'}}</p>
                    <p class="font-weight-bold">Rating</p>
                    <p>{{$ctrl.exDthCover.occupationRating}}</p>
                  </div>
                  <div ng-if="$ctrl.exDthCover.existingCoverAmount === '0.0'">
                      <div class="box mt-3 text-center"> <img src="./static/ingd/src/assets/images/nocover.png" alt="Death Cover" class="text-center"/><br>
                       <strong> No cover</strong>
                       <p class="size2"><br>
                          Learn about the great benefits of<br>
                          <!-- <a href="https://hostplus.com.au/insurance/understanding-your-insurance-needs/death-and-total-and-permanent-disability" class="" target="_new">
                            <strong>Death</strong></a> <br> -->
                         Death<br>
                         cover
                       </p>
                     </div>
                     <div class="row no-gutters">
                       <div class="col-12 text-center">
                         <button type="button" id="bu3" class="btn btn-primary w-75 mb-3" ng-click="$ctrl.launchCover('CCOVER')">Apply now</button>
                       </div>
                     </div>
                   </div>
                </div>
              </div>
              <div class="col-sm-4 text-center mt-1 mt-sm-0">
                <div class="h-100 bg-white mr-sm-1">
                  <div class="cover-background">
                    <p class="font-weight-bold">Cover Type</p>
                    <h5 class="ing-heading">Total &amp; Permanent Disablement</h5>
                  </div>
                  <div class="mt-3" ng-if="$ctrl.exTpdCover.existingCoverAmount !== '0.0'">
                    <p class="font-weight-bold">Amount</p>
                    <p>{{$ctrl.exTpdCover.existingCoverAmount | currency:undefined:0}}</p>
                    <p class="font-weight-bold">{{$ctrl.exTpdCover.coverCategory === 'TPDAutomatic' ? 'Automatic' : 'Tailored'}}</p>
                    <p class="font-weight-bold">Rating</p>
                    <p>{{$ctrl.exTpdCover.occupationRating}}</p>
                  </div>
                  <div ng-if="$ctrl.exTpdCover.existingCoverAmount === '0.0'">
                      <div class="box mt-3 text-center"> <img src="./static/ingd/src/assets/images/nocover.png" alt="Total &amp; Permanent Disablement Cover" class="text-center"/><br>
                       <strong> No cover</strong>
                       <p class="size2"><br>
                          Learn about the great benefits of<br>
                          <!-- <a href="https://hostplus.com.au/insurance/understanding-your-insurance-needs/death-and-total-and-permanent-disability" class="" target="_new">
                            <strong>Total &amp; Permanent Disablement</strong></a> <br> -->
                         Total &amp; Permanent Disablement<br>
                         cover
                       </p>
                     </div>
                     <div class="row no-gutters">
                       <div class="col-12 text-center">
                         <button type="button" id="bu3" class="btn btn-primary w-75 mb-3" ng-click="$ctrl.launchCover('CCOVER')">Apply now</button>
                       </div>
                     </div>
                   </div>
                </div>
              </div>
              <div class="col-sm-4 text-center mt-1 mt-sm-0">
                <div class="h-100 bg-white">
                  <div class="cover-background">
                    <p class="font-weight-bold">Cover Type</p>
                    <h5 class="ing-heading">Income Protection</h5>
                  </div>
                  <div class="mt-3" ng-if="$ctrl.exIpCover.existingCoverAmount !== '0.0'">
                    <p class="font-weight-bold">Monthly benefit</p>
                    <p>{{$ctrl.exIpCover.existingCoverAmount | currency:undefined:0}}</p>
                    <p class="font-weight-bold">Rating</p>
                    <p>{{$ctrl.exIpCover.occupationRating}}</p>
                    <p class="font-weight-bold">Waiting period</p>
                    <p>{{$ctrl.exIpCover.existingIpWaitingPeriod}}</p>
                    <p class="font-weight-bold">Benefit period</p>
                    <p>{{$ctrl.exIpCover.existingIpBenefitPeriod}}</p>
                  </div>
                  <div ng-if="$ctrl.exIpCover.existingCoverAmount === '0.0'">
                      <div class="box mt-3 text-center"> <img src="./static/ingd/src/assets/images/nocover.png" alt="Income Protection Cover" class="text-center"/><br>
                       <strong> No cover</strong>
                       <p class="size2"><br>
                          Learn about the great benefits of<br>
                          <!-- <a href="https://hostplus.com.au/insurance/understanding-your-insurance-needs/death-and-total-and-permanent-disability" class="" target="_new">
                            <strong>Income Protection</strong></a> <br> -->
                          Income Protection<br>
                          cover
                       </p>
                     </div>
                     <div class="row no-gutters">
                       <div class="col-12 text-center">
                         <button type="button" id="bu3" class="btn btn-primary w-75 mb-3" ng-click="$ctrl.launchCover('CCOVER')">Apply now</button>
                       </div>
                     </div>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-4 border-0">
          
          <div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
      			<div data-toggle="collapse" data-target="#manage-cover">
      				<button class="ingd-section-title mb-0">Manage your Insurance</button>
      			</div>
      		</div>
      		
          <div id="manage-cover" class="collapse" aria-labelledby="manage-cover-info">
            <div class="ingd-flex-panel">
              <div class="row no-gutters ing-bg-color">
                <div class="col-12 col-md-4" ng-click="$ctrl.launchCover('CCOVER')">
                  <div class="text-center change-cover-tile bg-white h-100 mr-md-1 p-3 cursor-pointer">
                    <img src="./static/ingd/src/assets/images/bg_blank.png" class="align-center icoTick mt-5">
                    <h4 class="mt-4 ing-heading">Change your insurance cover</h4>
                    <p class="py-3">Use this option to apply to increase or vary your level of insurance cover</p>
                  </div>
                </div>
                <div class="col-12 col-md-8">
                  <div class="row no-gutters">
                    <div class="col-6 float-left" ng-click="$ctrl.goTo('app.savedapps');">
                      <div class="child-flex-box bg-white mr-1 mb-1 cursor-pointer">
                        <div class="text-center ieboxContent">
                          <img src="./static/ingd/src/assets/images/bg_blank.png" class="icoSaved mt-3">
                          <h4 class="mt-3 ing-heading">Saved Applications</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 float-left">
                      <div class="child-flex-box bg-white mb-1 cursor-pointer" ng-click="$ctrl.launchCover('TCOVER')">
                        <div class="text-center ieboxContent">
                          <img src="./static/ingd/src/assets/images/bg_blank.png" class="icoRefresh mt-3">
                          <h4 class="mt-3 ing-heading">Transfer your cover</h4>
                        </div>
                      </div>
                    </div>
                    <div class="col-6 float-left">
                      <div class="child-flex-box bg-white mr-1 cursor-pointer">
                      <a href="https://tools.super.ingdirect.com.au/ingdirect/insurance/insurance-planner-and-quote" target="_blank">
                        <div class="text-center">
                          <img src="./static/ingd/src/assets/images/bg_blank.png" class="icoConvert mt-3">
                          <h4 class="mt-3 ing-heading">Insurance Planner and Quote</h4>
                          <p style="color:#222;" class="py-3">See how much Insurance you may want and get a quote</p>
                        </div>
                       </a>
                      </div>
                    </div>

                    <div class="col-6 float-left">
                      <div class="child-flex-box bg-white cursor-pointer" ng-click="$ctrl.launchCover('CANCOVER')">
                        <div class="text-center ieboxContent">
                          <img src="./static/ingd/src/assets/images/bg_blank.png" class="icoDelete mt-3">
                          <h4 class="mt-3 ing-heading">Cancel your cover</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-4 border-0">
          
          <div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
      			<div data-toggle="collapse" data-target="#insurance-guide">
      				<button class="ingd-section-title mb-0">Insurance Guide</button>
      			</div>
      		</div>
      		
          <div id="insurance-guide" class="collapse" aria-labelledby="insurance-guide-info">
            <div class="row no-gutters ing-bg-color">
              <div class="col-12 col-sm-6 text-center p-0 bg-white insurance-calculators">
                <img class="w-100" src="./static/ingd/src/assets/images/theme_adviser.jpg">
                <div class="px-3">
                  <h4 class="mt-4 ing-heading">ING PRODUCT GUIDE</h4>
                  <p class="mt-3">For more information about the features and conditions of our insurance cover, refer to the Living Super Product Guide.</p>
                </div>
                <div class="col-8 pb-3 align-center">
                  <button class="btn ingd-submit-button font-weight-normal text-white w-100" type="button" ng-click="$ctrl.openWindow('https://www.ing.com.au/pdf/ING_DIRECT_Living_Super_Product_Guide.pdf')">Learn more
                    
                  </button>
                </div>
              </div>
              <div class="col-12 col-sm-6 text-center p-0 bg-white insurance-calculators mt-2 mt-sm-0">
                <div class="embed-responsive embed-responsive-21by9">
                  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/250046029" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </div>
                <div class="px-3">
                  <h4 class="mt-4 ing-heading">BENEFITS OF INSURANCE INSIDE SUPER</h4>
                  <p class="mt-3">Death and Total &amp; Permanent Disability (TPD) insurance cover may ensure that your family are supported
                    when you're no longer around.</p>
                </div>

                <!-- <div class="col-8 pb-3 align-center">
                  <button class="btn ingd-submit-button font-weight-normal text-white w-100" type="button">Learn more </button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 mt-4 mt-md-0">
      <div class="need-help-block text-white p-3">
        <h4 class="text-white">Can we help?</h4>
        <p> Call us on <strong>133 464</strong></p>
        <p> 8am - 8pm Monday to Friday</p>
        <p> 9am - 5pm Saturday (AEST/AEDT)</p>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>