<div class="container pt-5" ng-init="$ctrl.init()">
	<div class="row">
    <div class="col-12 col-md-9">
      
       <div class="section-header p-0 py-sm-2 mb-2 mb-sm-0"> 
          <div data-toggle="collapse" href="#collapseThree">
          <button class="section-title mb-0">Session Expiry</button>
          </div>
         </div>
         
        <div id="collapseThree" class="collapse in show">        
        	<div class="card-body">
              <div class="row corp-row-style">
                <div class=" col-sm-12">
                    <p>
                      To protect your secure information we limit the amount of time a secure connection can be inactive.
                    </p>
                </div>
              </div>
            </div>
          </div>


    </div>
    <div class="col-sm-3 p-0 px-sm-3 mt-4 mt-sm-0 helpPanel">
    <div class="bg-secondary p-3">
      <h4 class="text-uppercase">need help?</h4>
      <p> We are happy to chat over the phone</p>
      <h4>{{$ctrl.config.helpline}}</h4>
    </div>
  </div>
  </div>
</div>