/*!
 * Copyright 2014 MetLife Australia.
 */
 @font-face {
    font-family: 'HOSTPLUShapticbdita';
    src: url('../fonts/HOSTPLUShapticbdita-webfont.eot');
	src: url('../fonts/HOSTPLUShapticbdita-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticbdita-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticbdita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
    font-family: 'HOSTPLUShapticbd';
    src: url('../fonts/HOSTPLUShapticbd-webfont.eot');
	src: url('../fonts/HOSTPLUShapticbd-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticbd-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticbd-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
    font-family: 'HOSTPLUShapticblkita';
    src: url('../fonts/HOSTPLUShapticblkita-webfont.eot');
	src: url('../fonts/HOSTPLUShapticblkita-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticblkita-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticblkita-webfont.ttf') format('truetype')
}
@font-face {
    font-family: 'HOSTPLUShapticblk';
    src: url('../fonts/HOSTPLUShapticblk-webfont.eot');
	src: url('../fonts/HOSTPLUShapticblk-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticblk-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticblk-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
    font-family: 'HOSTPLUShapticexbdita';
    src: url('../fonts/HOSTPLUShapticexbdita-webfont.eot');
	src: url('../fonts/HOSTPLUShapticexbdita-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticexbdita-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticexbdita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
    font-family: 'HOSTPLUShapticexbdita';
    src: url('../fonts/HOSTPLUShapticexbdita.eot');
	src: url('../fonts/HOSTPLUShapticexbdita.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticexbdita.woff') format('woff'),
         url('../fonts/HOSTPLUShapticexbdita.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
    font-family: 'HOSTPLUShapticexbd';
    src: url('../fonts/HOSTPLUShapticexbd-webfont.eot');
	src: url('../fonts/HOSTPLUShapticexbd-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticexbd-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticexbd-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
    font-family: 'HOSTPLUShapticita';
    src: url('../fonts/HOSTPLUShapticita-webfont.eot');
	src: url('../fonts/HOSTPLUShapticita-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticita-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
    font-family: 'HOSTPLUShapticltita';
    src: url('../fonts/HOSTPLUShapticltita-webfont.eot');
	src: url('../fonts/HOSTPLUShapticltita-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticltita-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticltita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
    font-family: 'HOSTPLUShapticlt';
    src: url('../fonts/HOSTPLUShapticlt-webfont.eot');
	src: url('../fonts/HOSTPLUShapticlt-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticlt-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticlt-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
    font-family: 'HOSTPLUShapticrg';
    src: url('../fonts/HOSTPLUShapticrg-webfont.eot');
	src: url('../fonts/HOSTPLUShapticrg-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticrg-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticrg-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
    font-family: 'HOSTPLUShapticsmbdita';
    src: url('../fonts/HOSTPLUShapticsmbdita-webfont.eot');
	src: url('../fonts/HOSTPLUShapticsmbdita-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticsmbdita-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticsmbdita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
    font-family: 'HOSTPLUShapticsmbd';
    src: url('../fonts/HOSTPLUShapticsmbd-webfont.eot');
	src: url('../fonts/HOSTPLUShapticsmita-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticsmbd-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticsmbd-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
    font-family: 'HOSTPLUShapticsmita';
    src: url('../fonts/HOSTPLUShapticsmita-webfont.eot');
	src: url('../fonts/HOSTPLUShapticsmita-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticsmita-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticsmita-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

@font-face {
    font-family: 'HOSTPLUShapticsm';
    src: url('../fonts/HOSTPLUShapticsm-webfont.eot');
	src: url('../fonts/HOSTPLUShapticsm-webfont.eot?iefix') format('embedded-opentype'),
         url('../fonts/HOSTPLUShapticsm-webfont.woff') format('woff'),
         url('../fonts/HOSTPLUShapticsm-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
.btn { border-radius:6px; font-size:16px; font-weight:bold; padding:8px 12px}
.btn-default  { 
border:1px solid #cfcfcf; -webkit-border-radius: 6px; -moz-border-radius: 6px;border-radius: 6px;font-size:16px; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: 0px 0px 0 rgba(0,0,0,0.3);font-weight:bold; color: #8D8D8D;
 background-color: #EBEBEB; background-image: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#E0E0E0));
 background-image: -webkit-linear-gradient(top, #EBEBEB, #E0E0E0);
 background-image: -moz-linear-gradient(top, #EBEBEB, #E0E0E0);
 background-image: -ms-linear-gradient(top, #EBEBEB, #E0E0E0);
 background-image: -o-linear-gradient(top, #EBEBEB, #E0E0E0);
 background-image: linear-gradient(to bottom, #EBEBEB, #E0E0E0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EBEBEB, endColorstr=#E0E0E0); }
.btn-primary { border:1px solid #c01228; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 6px;font-size:16px;  padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.1);font-weight:bold; color: #FFFFFF;
 background-color: #EA203A; background-image: -webkit-gradient(linear, left top, left bottom, from(#EA203A), to(#d81221));
 background-image: -webkit-linear-gradient(top, #EA203A, #d81221);
 background-image: -moz-linear-gradient(top, #EA203A, #d81221);
 background-image: -ms-linear-gradient(top, #EA203A, #d81221);
 background-image: -o-linear-gradient(top, #EA203A, #d81221);
 background-image: linear-gradient(to bottom, #EA203A, #d81221);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EA203A, endColorstr=#d81221);    }
.btn:focus, .btn:active:focus, .btn.active:focus { outline: none; outline: 5px auto -webkit-focus-ring-color;   outline-offset: -2px; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {   color: #ffffff;   background-color:#E01A22;   border-color: #E01A22; }
.radiobutton.active { background:#4990E0; color:#FFFFFF; box-shadow:none  }
.btn.radiobutton:active { box-shadow:none  }


.c-mt10px { margin-top:10px !important}
.c-logo { margin:15px 0  }
.c-mb10px { margin-bottom:10px}
.c-values { font-size:450%;  font-family:HOSTPLUShapticrg,Arial,Helvetica,sans-serif; color:#E01A22}
sup { top: -0.4em; }
sub, sup { font-size: 60%; }

.c-val { margin-left:-10px; font-weight:bold}
.c-round { background: none ; border: 7px solid #E01A22; color: #555; font-size: 130%; height: 70px; padding: 13px 0 0; text-align: center; width: 70px; float:right; line-height:100%}
.c-round.sma { background: #FFFFFF ; border:7px solid #E01A22; color: #555; font-size: 90%; height:55px; padding: 9px 0 0; text-align: center; width: 55px; float: left; font-weight:bold}
.c-bg1 { background-color:#e5e5e5 !important; overflow:hidden}
.c-bg1 .linksec { border-bottom:1px dashed #cdcdcd; }
.c-bg2 {  box-shadow:10px -10px 50px -20px #CCCCCC inset; background:url(../images/bg_repeat.png) repeat top left; border-radius:10px  }
.fleft { float:left}
.fright { float:right}
.per { margin:50px 0 0 5px;}
.c-selected { color:#390 !important; font-size:120%; text-align: left}
.mt30px { margin-top:25px !important}
.corner { border-radius:20%; width:75px}
.price { font-weight:bold}
.price span { font-size:50%}
.color1 { color:#666}
.mt10px { margin-top:10px !important;}
.mr10px { margin-right:10px}
.spacer { clear:both; height:10px; display:block}
.block { display: block}
.mt20px { margin-top:20px}
.tel { color:#fff; font-size:16px;   font-family:HOSTPLUShapticrg,Arial,Helvetica,sans-serif;}
.color2 { color:#999}

.navbar-nav > li.active   { 
  background: url(../images/sprite.png)50% -114px no-repeat ; color:#4c4c4c }
.navbar-nav > li.done  {
  background: url(../images/sprite.png)50% 0px no-repeat ; }
.navbar-nav > li.next {
  background:  url(../images/sprite.png)50% -62px no-repeat ; color:#999 }
  
.navbar-nav > li.active.first  { 
  background: url(../images/sprite.png) 46px -301px no-repeat ; color:#333 }
.navbar-nav > li.done.first {
  background: url(../images/sprite.png) 46px -187px no-repeat ; }
.navbar-nav > li.next.first {
  background:  url(../images/sprite.png) 50% -62px no-repeat ; }

.navbar-nav > li.active.last  { 
  background: url(../images/sprite.png) -1415px -301px no-repeat ; }
.navbar-nav > li.done.last  {
  background: url(../images/sprite.png) -1415px -187px no-repeat ; }
.navbar-nav > li.next.last  {
  background:  url(../images/sprite.png) -1419px -249px no-repeat ; }

.navbar-nav > .active > span { color: #FFFFFF; font-size:15px !important; font-weight: bold; left: 45%; position: absolute; top: 2px; z-index: 99;}  
.navbar-nav > .next > span { color: #bfbfbf; font-size:15px !important; font-weight: bold; left: 45%; position: absolute; top: 1px; z-index: 99;} 
.navbar-nav > li.active a { color:#4C4C4C; font-weight:bold}
.panel-default > .panel-heading a {background:  url(../images/sprite.png) -1470px -421px no-repeat ; display:block; overflow:hidden}
.panel-default > .panel-heading a.collapsed {background:  url(../images/sprite.png) -1470px -481px no-repeat ; display:block}
.panel-default > .panel-heading a .panel-title { margin-left:35px;}
label { font-weight: normal; padding-top:5px;}
.mt12px { margin-top:12px !important}
.mt15px { margin-top:15px !important}
.ml10px { margin-left:10px !important}
.panel-group a:focus, .panel a:focus { outline: none; }
.pt0 { padding-top:0 !important  }
.mt0 { margin-top:0 !important  }
.pt20px { padding-top:20px !important}
.pl0 { padding-left:0 !important}
.nav > li > a { padding:10px 7px}
.navbar-nav > li > a { font-size:13px; padding:25px 0px 0px 0; margin:0 7px;  }
.navbar-nav > li.next > a { color:#999}
.c-header { background:#E01A22}
.c-headline { color:#E01A22; margin-top: 30px;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: HOSTPLUShapticbd,Arial,Helvetica,sans-serif; }
.navcustom { margin-bottom:10px !important; margin-top:30px;}
.c-navxs .navbar-inverse { border:2px solid #E5E5E5; border-radius:5px; background:none }
.c-navxs .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus { color:#333;  }
.navbar-inverse .navbar-toggle { border:none}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color:#fff}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color:#e5e5e5 }
.bg-primary { background-color:#E01A22 }
.c-circprime { background-color:#E01A22; border-radius:50%; font-size: 14px; font-weight:bold; color:#fff; padding:2px}
.c-circsec { background-color:#e5e5e5; border-radius:50%; font-size: 14px; font-weight:bold; color:#fff; padding:2px}
.c-done { background:url(../images/sprite.png) no-repeat 0 -403px; height:22px; width:22px; display:block; float:left; margin-right:3px; }
.c-navxs  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus { color: #333; background: #fff; cursor:pointer }
.c-navxs .navbar-nav > li  { background:none; padding:9px 0 9px 15px}
.c-navxs .navbar-nav > li > a { margin:0 !important; padding:0; font-size:16px; border-bottom:none !important }
.c-navxs .navbar-toggle { padding:7px 10px}
.panel-title { color: #111 !important; background:#fff; float:left; line-height:30px  }
.panel-default > .panel-heading { background-color:transparent; border:none; position:relative; z-index:99}
.panel { border-width:0px}
.colorsec { color:#1a92de}
.notes { padding:5px 0 0 20px; position:relative; font-size:13px; line-height:120%}
.footercopy {  font-size:12px; line-height:120%}
.icohelp { margin-left:-25px; font-size:110%; height:19px; width:19px; background:url(../images/sprite.png) no-repeat -1427px -43px; float:left; display:block; }
.btn-group, .btn-group-vertical, .radiobutton { width:100%}
.col2 { width:50%; float:left}
.lbutton { border-radius:6px 0 0 6px;}
.rbutton { border-radius:0px 6px 6px 0; margin-left:2px}
.ipradio { float:left}
.form-control { background-color:#E5E5E5; font-weight:bold; box-shadow:none; border-radius:6px; padding:6px}
.radiobutton { background-color:#e5e5e5;  color:#4b4b4b; padding:6px; font-size:14px }
input[type="radio"] {  display:none; }
.radiobutton span  { display:block; float:left; height:16px; width:16px; background:url(../images/sprite.png) no-repeat -1484px -44px; margin:2px 0 0 0  }
.active.radiobutton span   {display:block; float:left; height:16px; width:16px; background:url(../images/sprite.png) no-repeat -1457px -44px; margin:2px 0 0 0 }
.btn-primary { font-weight:bold}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {  border-color: #c01228; font-weight: bold}
.link { border-bottom:1px dashed #5eaee1; color:#4c4c4c}
.linksec { border-bottom:1px dashed #d3d3d3; color:#4c4c4c}
body { color:#4c4c4c}
.p0 { padding:0 }
.w100p { width:100%}
.alignleft { text-align:left}
.alignright { text-align:right}
.mtm3px { margin-top:-3px;}
. ico icoPrint colorsec  { height:16px; width:16px; display:block; background:url(../images/sprite.png) no-repeat -37px -360px;}
. ico icoSave colorsec  { height:16px; width:16px; display:block; background:url(../images/sprite.png) no-repeat 0 -360px;}
.alert-info { background-color: #fafafa; border-color: #e5e5e5;  color: #262626; }
.mr5px { margin-right:5px}
.footertext { font-size:12px; color:#818181}
.input-group-addon.btn { padding: 6px 12px; }
.nav-tabs > li.two { font-weight: bold; text-align: center;  width: 50%;  background: url(../images/bg_repeattab.png) repeat scroll left top rgba(0, 0, 0, 0);     box-shadow: 10px -10px 50px -20px #CCCCCC inset; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { color:#339900; }
.nav-tabs > li.two.active { box-shadow:none}
.nav-tabs > li > a { color:#4C4C4C}
.nav-tabs li .glyphicon-ok { display: none}
.nav-tabs li.active .glyphicon-ok { display:inline-block}
.nav-tabs > li.two.active { background:none}
.telno { color:#428BCA; margin:3px 0 0 0}
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none;   background-color: transparent;}
.tickforms { background:url(../images/sprite.png) no-repeat -73px -361px; height:14px; width:15px; display:block; float:right; margin-top:8px}
.mrm25px { margin-right:-25px}
.relative { position: relative !important}
.tickforms.cover {   float:none; position:absolute; left:250px; top:10%  }
label { width:90%}
.c-selected .tickforms { margin-top:0 }
.saverow { padding:0 15px !important; border-width:2px; vertical-align:middle; overflow:hidden}
.tickforms.faded { background-position: -104px -361px}
.btn-primary.disabled { border-color: transparent; color:#ecb8bc}
.row.rowcustom { padding:15px 0}
.rowcustom { overflow:hidden}
.rowcustom hr { border-color:#ddd; border-width:2px; margin:20px 15px;}
.row.rowcustom.first { margin-top:5px}
.has-error .tickforms  { background:url(../images/sprite.png) no-repeat -131px -361px  }
.has-error .form-control {  border: 2px solid #9E0114; border-radius: 6px 6px 0 0}
.has-error .bg-danger { display:block !important; background:#9E0114; color:#fff; font-size:11px; padding:2px 0 2px 10px; border-radius: 0 0 6px 6px; }
.row.rowcustom .bg-danger { display:none }
.navbar-nav > .done > span { display:none}
.navbar-nav > .done > a, .navbar-nav > .done > a:hover, .navbar-nav > .done > a:focus { border-bottom:1px dashed #ccc; color:#4D4D4D}
.has-error .radiobutton { border:2px solid #9E0114}
.has-error .radiobutton.lbutton { border-radius: 6px 0 0 0px;}
.has-error .radiobutton.rbutton { border-radius: 0px 6px 0 0px;}
.has-error .radiobutton.rbutton + .bg-danger { margin-left:2px}
.ml2px { margin-left:2px}
.c-bg { background-color:#f4f4f4; border-bottom:1px solid #e5e5e5;}
.tickforms.visible-xs { bottom: 10px; position: absolute; right: 15px;}



.checkboxes.active { background:#4990E0; color:#FFFFFF; box-shadow:none  }
.btn.checkboxes:active { box-shadow:none  }
.checkboxes { width:100%}
.checkboxes { background-color:#e5e5e5;  color:#4b4b4b; padding:6px; font-size:14px;  text-align:left }
.checkboxes span  { display:block; float:left; height:17px; width:17px; background:url(../images/sprite.png) no-repeat -38px -407px; margin:2px 7px 0 0  }
.active.checkboxes span   {display:block; float:left; height:17px; width:20px; background:url(../images/sprite.png) no-repeat -73px -407px; margin:2px 4px  0 0 }
.btn-group-vertical > .btn.checkboxes:first-child:not(:last-child):not(.dropdown-toggle) { border-radius:6px 6px 0 0}
.btn-group-vertical > .btn.checkboxes:last-child:not(:first-child):not(.dropdown-toggle) { border-radius:0 0 6px 6px}
.btn-group-vertical .radiobutton, .btn-group-vertical .checkboxes   { margin-bottom:3px; text-align:left; white-space:normal !important }
.btn-group-vertical .radiobutton span { margin:2px 7px  0 0}
.btn-group-vertical > .btn:first-child:not(:last-child) { border-top-right-radius:6px}

.withhelp .btn.checkboxes, .withhelp .btn.radiobutton   { width:90%;   }
.withhelp .icohelp { position: absolute; right: -30px; top: 5px; }
.mb0 { margin-bottom:0 !important}
.collapse.in { border:2px solid #DDDDDD; margin-top:-25px; }
.panel-default > .panel-heading + .panel-collapse .panel-body { border-top: 2px solid #DDDDDD; margin-top:5px}
.panel-default > .panel-heading + .panel-collapse.collapse.in .panel-body { border-top: 0px solid #DDDDDD;  }