<div class="container ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">WE'RE HERE TO HELP </h2>
      <p class="helpTxt"> Please call us on</p>
      <h3 class="helpNo"> 1300 362 415</h3>
      <p class="helpTxt">if you require any assistance</p>
    </div>
  </div>
  <div class=" col-sm-9">
    <div class="panel-group" id=" ">
      <div class="panel panel-default mt5px"> 
        <!--div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href=" " class=" ">
          <h4 class="panel-title"> Personal details </h4>
          </a> </div-->
        <div id="collapseOne" class="panel-collapse collapse in   ">
          <div class="panel-body">
            <div class="row rowcustom">
              <div class="col-sm-12">
                <h2 class="title mt0">Login</h2>
              </div>
            </div>
            <hr class="primeline">
            <div class="row rowcustom">
              <div class="col-sm-12">
                <p>To access and manage your insurance cover, simply login below.</p>
              </div>
            </div>
            <hr class="primeline">
            <!-- Row starts -->
            <div class="row rowcustom  ">
              <div class="col-sm-5">
                <label> Member number <a href="#" class="icohelp" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Help Text over here..."></a></label>
                  </div>
              <div class="col-sm-6 col-xs-12">
                <input type="text" class="form-control" onClick="visible('tick1')" />
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            <!-- Row starts -->
            <div class="row rowcustom  ">
              <div class="col-sm-5">
                <label> First name </label>
              </div>
              <div class="col-sm-6 col-xs-12">
                <input type="text" class="form-control" onClick="visible('tick1')" />
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            <!-- Row starts -->
            <div class="row rowcustom  ">
              <div class="col-sm-5">
                <label> Last name </label>
                <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-6 col-xs-12">
                <input type="text" class="form-control" onClick="visible('tick1')" />
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            <!-- Row starts -->
            <div class="row rowcustom  ">
              <div class="col-sm-5">
                <label> Date of birth </label>
                <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-6 col-xs-12">
                <input type="text" class="form-control" onClick="visible('tick1')" />
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            <!-- Row starts -->
            <div class="row ">
              <p class="spacer">&nbsp;</p>
              <div class="col-sm-3 col-sm-offset-5" >
                <button ng-click="redirect('/landingpage')" class="btn btn-primary w100p" id="bu3" type="button">Login </button>
              </div>
            </div>
            <!-- Row ends --> 
            
          </div>
        </div>
      </div>
    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">WE'RE HERE TO HELP </h2>
          <p class="helpTxt aligncenter"> Please call us on</p>
          <h3 class="helpNo aligncenter"> 1300 362 415</h3>
          <p class="helpTxt text-center">if you require any assistance</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>

