/* icon fonts */
/* buttons */
/* misc */
/* headings */
/* breakpoints */
/* max width 767 */
/* min width 768 */
/* min-width 768 and max width 1023 */
/* max width 1023 */
/* min width 1025 */
/* ==========================================================================
   Metlife Global Stylesheet
   Date: July 2016
   ========================================================================== */
/* line 6, sass/partials/_global.scss */
html {
  font-size: 62.5%;
}

/* line 10, sass/partials/_global.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: #333;
  background: #f2f2f2;
}

/* line 17, sass/partials/_global.scss */
* {
  outline: none;
}

/* line 22, sass/partials/_global.scss */
a:link, a:visited {
  color: #337ab7;
  text-decoration: none;
}
/* line 27, sass/partials/_global.scss */
a:hover {
  text-decoration: underline;
}
/* line 31, sass/partials/_global.scss */
a:active {
  color: #337ab7;
}

/* line 36, sass/partials/_global.scss */
ul li {
  list-style: none;
}

/* line 40, sass/partials/_global.scss */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Elements
   ========================================================================== */
/* line 48, sass/partials/_global.scss */
button {
  min-height: 40px;
  max-height: 80px;
  width: 100%;
  padding: 12.5px 30px;
  font-size: 1.2rem;
  line-height: 15px;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #171717;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
}
/* line 33, sass/partials/_mixins.scss */
button.btn-primary {
  background-color: #a0c323;
  background: -webkit-linear-gradient(#a0c323, #8caa0a);
  background: -o-linear-gradient(#a0c323, #8caa0a);
  background: -moz-linear-gradient(#a0c323, #8caa0a);
  background: linear-gradient(#a0c323, #8caa0a);
  border-color: transparent;
}
/* line 41, sass/partials/_mixins.scss */
button.btn-primary:hover {
  background: #a0c323;
  border-color: transparent;
}
/* line 48, sass/partials/_mixins.scss */
button.btn-secondary {
  background-color: #52BDFC;
  background: -webkit-linear-gradient(#52BDFC, #4CA6E1);
  background: -o-linear-gradient(#52BDFC, #4CA6E1);
  background: -moz-linear-gradient(#52BDFC, #4CA6E1);
  background: linear-gradient(#52bdfc, #4ca6e1);
  color: white;
}
/* line 56, sass/partials/_mixins.scss */
button.btn-secondary:hover {
  background-color: #52BDFC;
}
@media (min-width: 1025px) {
  /* line 48, sass/partials/_global.scss */
  button {
    width: auto;
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  /* line 57, sass/partials/_global.scss */
  .container {
    width: 95%;
  }
}
@media (min-width: 1025px) {
  /* line 57, sass/partials/_global.scss */
  .container {
    width: 100%;
    max-width: 1300px;
  }
}

/* line 68, sass/partials/_global.scss */
.module {
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  /* line 68, sass/partials/_global.scss */
  .module {
    padding-bottom: 25px;
  }
}

/* line 76, sass/partials/_global.scss */
.is_stuck {
  z-index: 999;
}

/* Headers
   ========================================================================== */
/* line 83, sass/partials/_global.scss */
.header-secondary {
  background-color: #0061a0;
  padding-top: 70px;
  color: white;
}
@media (max-width: 767px) {
  /* line 83, sass/partials/_global.scss */
  .header-secondary {
    padding-top: 50px;
  }
}
/* line 92, sass/partials/_global.scss */
.header-secondary .row .row {
  display: table;
  width: 100%;
  height: 60px;
  table-layout: fixed;
  margin-left: 0;
}
/* line 99, sass/partials/_global.scss */
.header-secondary .row .row > div {
  display: table-cell;
  float: none;
  vertical-align: middle;
  height: 60px;
}
@media (max-width: 767px) {
  /* line 92, sass/partials/_global.scss */
  .header-secondary .row .row {
    display: block;
    padding: 5px 0 8px;
    margin: 0;
    height: auto;
  }
  /* line 112, sass/partials/_global.scss */
  .header-secondary .row .row > div {
    display: block;
    width: 100%;
    text-align: left;
    height: auto;
    padding: 5px 20px;
    text-align: center;
  }
  /* line 120, sass/partials/_global.scss */
  .header-secondary .row .row > div:first-of-type {
    padding: 5px 20px 0;
  }
}
/* line 130, sass/partials/_global.scss */
.header-secondary .title {
  padding-left: 0;
}
@media (max-width: 767px) {
  /* line 130, sass/partials/_global.scss */
  .header-secondary .title {
    font-weight: bold;
  }
}
/* line 139, sass/partials/_global.scss */
.header-secondary .member-info {
  text-align: right;
  padding-right: 0;
}

/* Icons
   ========================================================================== */
/* line 151, sass/partials/_global.scss */
.fa-exclamation-circle {
  color: #d0021b;
}

/* line 155, sass/partials/_global.scss */
.fa-check-circle {
  color: #7ed321;
}

/* line 159, sass/partials/_global.scss */
.fa-phone {
  color: #2675c8;
}

/* line 163, sass/partials/_global.scss */
.fa-question-circle {
  color: #2675c8;
}

/* line 167, sass/partials/_global.scss */
.fa-clock-o {
  color: #ff9f00;
}

/* line 171, sass/partials/_global.scss */
.fa-thumbs-o-up {
  color: #2675c8;
}

/* Tabs
   ========================================================================== */
/* line 180, sass/partials/_global.scss */
.tab-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 50px;
  background: #f2f2f2;
}
@media (max-width: 767px) {
  /* line 180, sass/partials/_global.scss */
  .tab-container {
    padding: 0;
    margin: 0;
  }
}
/* line 192, sass/partials/_global.scss */
.tab-container > a {
  display: table-cell;
  float: none;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #171717;
  font-size: 11px;
  font-weight: bold;
  padding: 30px 20px 20px;
  width: 25%;
}
@media (max-width: 767px) {
  /* line 192, sass/partials/_global.scss */
  .tab-container > a {
    padding: 14px 5px;
  }
}
/* line 208, sass/partials/_global.scss */
.tab-container > a:hover {
  text-decoration: none;
}
@media (min-width: 1025px) {
  /* line 208, sass/partials/_global.scss */
  .tab-container > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
/* line 217, sass/partials/_global.scss */
.tab-container > a.active {
  background-color: white;
  text-decoration: none;
}
/* line 221, sass/partials/_global.scss */
.tab-container > a.active:hover {
  background-color: white;
  color: #7b7b7b;
}
/* line 228, sass/partials/_global.scss */
.tab-container > a .fa {
  font-size: 30px;
  margin-bottom: 18px;
  display: block;
}
@media (max-width: 767px) {
  /* line 228, sass/partials/_global.scss */
  .tab-container > a .fa {
    font-size: 20px;
    margin-bottom: 3px;
  }
}

@media (max-width: 767px) {
  /* line 245, sass/partials/_global.scss */
  .is_stuck {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
  }
}
@media (min-width: 1025px) {
  /* line 255, sass/partials/_global.scss */
  .is_stuck .tab-container:after {
    content: "";
    width: 97.5%;
    height: 1px;
    display: block;
    position: absolute;
    left: 50%;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
    bottom: 0;
    transform: translateX(-50%);
  }
}

@media (max-width: 767px) {
  /* line 274, sass/partials/_global.scss */
  .tab-content {
    padding: 0;
  }
}
/* line 280, sass/partials/_global.scss */
.tab-content .row {
  background-color: white;
  padding: 50px 10px 25px;
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: #171717;
}
@media (min-width: 1025px) {
  /* line 280, sass/partials/_global.scss */
  .tab-content .row {
    padding: 60px 60px 25px;
  }
}
@media (max-width: 767px) {
  /* line 280, sass/partials/_global.scss */
  .tab-content .row {
    padding: 30px 0 20px;
  }
}
/* line 296, sass/partials/_global.scss */
.tab-content .row h2 {
  font-size: 23px;
  margin: 60px 0 45px;
}
@media (max-width: 767px) {
  /* line 296, sass/partials/_global.scss */
  .tab-content .row h2 {
    margin: 45px 0 30px;
  }
}
/* line 306, sass/partials/_global.scss */
.tab-content .row .btt-link {
  margin-top: 50px;
  display: inline-block;
  font-size: 12px;
}
/* line 316, sass/partials/_global.scss */
.tab-content .empty {
  margin: 0 auto;
  float: none;
  font-size: 16px;
}
/* line 321, sass/partials/_global.scss */
.tab-content .empty .fa {
  font-size: 74px;
  margin-bottom: 30px;
}

/* Lists
   ========================================================================== */
/* line 336, sass/partials/_global.scss */
.list-container {
  border-top: 1px solid #D1D1D1;
  margin: 50px auto 0;
  padding: 0;
  float: none;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 336, sass/partials/_global.scss */
  .list-container {
    margin: 30px auto 0;
  }
}
/* line 347, sass/partials/_global.scss */
.list-container ul {
  width: 100%;
  margin: 0;
  padding: 24px 0 0;
  overflow: hidden;
}
/* line 353, sass/partials/_global.scss */
.list-container ul li {
  position: relative;
  padding-top: 30px;
  text-align: left;
  float: left;
  width: 100%;
}
/* line 360, sass/partials/_global.scss */
.list-container ul li .list-item {
  display: table;
  width: 100%;
}
/* line 364, sass/partials/_global.scss */
.list-container ul li .list-item .item-icon {
  display: table-cell;
  vertical-align: middle;
  width: 50px;
}
/* line 370, sass/partials/_global.scss */
.list-container ul li .list-item .item-text {
  display: table-cell;
  vertical-align: middle;
  width: calc(100% - 50px);
  position: relative;
  padding: 0;
}
/* line 380, sass/partials/_global.scss */
.list-container ul li > div {
  overflow: hidden;
  padding: 5px 5px 5px 13px;
  border: 2px solid white;
}
/* line 386, sass/partials/_global.scss */
.list-container ul li > a {
  border: 2px solid #eeeeee;
  border-radius: 5px;
  overflow: hidden;
  padding: 7px 5px 10px 13px;
  background-color: #f7f7f7;
}
/* line 393, sass/partials/_global.scss */
.list-container ul li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
/* line 398, sass/partials/_global.scss */
.list-container ul li > a .item-text {
  padding: 0 30px 0 0 !important;
}
/* line 401, sass/partials/_global.scss */
.list-container ul li > a .item-text:after {
  content: '\f105';
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 30px;
  color: #171717;
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
}
/* line 416, sass/partials/_global.scss */
.list-container ul li .fa {
  font-size: 42px;
  float: left;
  margin: 3px 13px 0 0;
}
@media (max-width: 767px) {
  /* line 416, sass/partials/_global.scss */
  .list-container ul li .fa {
    margin: 1px 10px 0 0;
  }
}
/* line 427, sass/partials/_global.scss */
.list-container ul li .timestamp {
  font-size: 13px;
  color: #7b7b7b;
  display: block;
  padding: 0 0 2px;
}
@media (max-width: 767px) {
  /* line 427, sass/partials/_global.scss */
  .list-container ul li .timestamp {
    padding: 0;
  }
}
/* line 439, sass/partials/_global.scss */
.list-container ul li .desc {
  font-size: 20px;
  display: block;
  color: #171717;
  line-height: 120%;
  padding-right: 0px;
}
@media (max-width: 767px) {
  /* line 439, sass/partials/_global.scss */
  .list-container ul li .desc {
    font-size: 15px;
  }
}
/* line 452, sass/partials/_global.scss */
.list-container ul li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 32px;
  width: 2px;
  height: 30px;
  background-color: #dedede;
}
/* line 462, sass/partials/_global.scss */
.list-container ul li:first-of-type {
  padding-top: 0;
}
/* line 465, sass/partials/_global.scss */
.list-container ul li:first-of-type:before {
  display: none;
}

/* line 484, sass/partials/_global.scss */
#loadMore.btn {
  width: 100%;
  color: #171717;
  margin-top: 40px;
}

/* Forms
   ========================================================================== */
/* line 496, sass/partials/_global.scss */
.closed-msg {
  background-color: #ec4747;
  color: white;
  border: 1px solid #c7232d;
  text-align: left;
  padding: 15px 15px 15px 62px;
  margin: 0 0 40px;
  border-radius: 5px;
  position: relative;
}
/* line 506, sass/partials/_global.scss */
.closed-msg:before {
  font-family: 'FontAwesome';
  content: '\f05a';
  font-size: 36px;
  color: #b80017;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
/* line 517, sass/partials/_global.scss */
.closed-msg a {
  text-transform: none !important;
  color: white !important;
  text-decoration: underline;
  font-weight: normal !important;
}

/* line 529, sass/partials/_global.scss */
form label {
  display: block;
  line-height: 2.0rem;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 3px;
  text-align: left;
}
/* line 538, sass/partials/_global.scss */
form input, form select {
  font-size: 1.3rem;
  margin: 10px 0;
  padding: 10px 12px;
  width: 100%;
  color: #666;
  background: #fff;
  border-radius: 0 !important;
  border: 1px solid #e3e3e3;
}
/* line 549, sass/partials/_global.scss */
form button {
  display: table;
  margin: 0 auto;
  padding: 12px 20px;
  width: auto;
  min-width: 150px;
}

/* line 558, sass/partials/_global.scss */
.btn {
  font-size: 12px;
  padding: 6px 20px;
}
/* line 562, sass/partials/_global.scss */
.btn:focus {
  outline: 0 !important;
}

/* Datepicker jquery-ui tweaks
   ========================================================================== */
/* line 572, sass/partials/_global.scss */
.ui-datepicker-trigger {
  border: none;
  background: none;
  color: #2675c8;
  padding: 0;
  box-shadow: none;
  display: inline-block;
  min-width: 40px;
  float: left;
  min-height: 34px;
}
/* line 583, sass/partials/_global.scss */
.ui-datepicker-trigger:focus {
  outline: 0;
}
/* line 587, sass/partials/_global.scss */
.ui-datepicker-trigger .fa {
  line-height: 34px;
  font-size: 30px;
}

/* line 594, sass/partials/_global.scss */
.ui-datepicker-prev {
  position: relative;
}
/* line 597, sass/partials/_global.scss */
.ui-datepicker-prev:before {
  font-family: 'FontAwesome';
  content: '\f104';
}

/* line 604, sass/partials/_global.scss */
.ui-datepicker-next {
  position: relative;
}
/* line 607, sass/partials/_global.scss */
.ui-datepicker-next:before {
  font-family: 'FontAwesome';
  content: '\f105';
}

/* line 614, sass/partials/_global.scss */
.hasDatepicker {
  width: calc(100% - 40px);
  float: left;
}

/* Back to top smooth scroll
   ========================================================================== */
/* line 625, sass/partials/_global.scss */
.cd-top {
  display: inline-block;
  position: fixed;
  bottom: 40px;
  right: 10px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
@media (min-width: 768px) {
  /* line 625, sass/partials/_global.scss */
  .cd-top {
    right: 20px;
    bottom: 30px;
  }
}
/* line 642, sass/partials/_global.scss */
.cd-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
}
/* line 651, sass/partials/_global.scss */
.cd-top .icon {
  font-size: 49px;
  color: #919191;
}
/* line 656, sass/partials/_global.scss */
.cd-top .label {
  text-indent: 100%;
  display: none;
}

@media only screen and (min-width: 1300px) {
  /* line 666, sass/partials/_global.scss */
  .cd-top {
    right: calc(50% - 600px);
    bottom: 45%;
  }
}
/* line 675, sass/partials/_global.scss */
.skip-link {
  background-color: #ffffff;
  color: #21759b;
  display: block;
  font: bold 14px/normal Arial, sans-serif;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}

/* line 688, sass/partials/_global.scss */
.says, .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

/* CSS Fixes
   ========================================================================== */
@media (max-width: 767px) {
  /* line 701, sass/partials/_global.scss */
  .global_header .headerLeft {
    padding: 0 0 0 12px !important;
  }
}

/* line 1, sass/partials/_header.scss */
.global_header {
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  width: 100%;
  height: 50px;
  background-color: white;
}
@media (min-width: 768px) {
  /* line 1, sass/partials/_header.scss */
  .global_header {
    height: 70px;
  }
}
/* line 13, sass/partials/_header.scss */
.global_header .metlifeLogo {
  display: table;
  height: 100%;
  margin: 0 auto;
  float: none;
}
/* line 19, sass/partials/_header.scss */
.global_header .metlifeLogo .row {
  display: table-cell;
  vertical-align: middle;
}
/* line 23, sass/partials/_header.scss */
.global_header .metlifeLogo .row img {
  display: block;
  margin: auto;
  width: 120px;
  height: auto;
  transition: all 500ms ease 0s;
}
@media (min-width: 768px) {
  /* line 23, sass/partials/_header.scss */
  .global_header .metlifeLogo .row img {
    width: 168px;
  }
}
@media (min-width: 768px) {
  /* line 40, sass/partials/_header.scss */
  .global_header.notFixedHeader {
    height: 70px;
    transition: height 500ms ease 0s;
  }
}
/* line 47, sass/partials/_header.scss */
.global_header.fixedHeader {
  height: 50px;
  transition: height 500ms ease 0s;
}
@media (min-width: 768px) {
  /* line 55, sass/partials/_header.scss */
  .global_header.fixedHeader .metlifeLogo .row img {
    width: 120px;
  }
}

/* line 1, sass/partials/_login.scss */
.module.login {
  padding-top: 70px;
  text-align: center;
}
@media (max-width: 767px) {
  /* line 1, sass/partials/_login.scss */
  .module.login {
    padding-top: 50px;
  }
}
/* line 9, sass/partials/_login.scss */
.module.login h1 {
  margin: 42px 0 46px;
}
/* line 13, sass/partials/_login.scss */
.module.login .login-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 30px;
  background-color: white;
}
@media (min-width: 1025px) {
  /* line 13, sass/partials/_login.scss */
  .module.login .login-wrapper {
    width: 85%;
    max-width: 1300%;
    padding: 0 0 45px;
  }
}
/* line 25, sass/partials/_login.scss */
.module.login .login-wrapper > .row {
  margin-right: 0px;
  margin-left: 0px;
}
/* line 30, sass/partials/_login.scss */
.module.login .login-wrapper a {
  text-transform: uppercase;
  color: #2675c8;
  font-weight: 600;
}
/* line 36, sass/partials/_login.scss */
.module.login .login-wrapper .login-container {
  margin: 0 auto;
  padding: 30px 0 25px;
  float: none;
}
@media (min-width: 1025px) {
  /* line 36, sass/partials/_login.scss */
  .module.login .login-wrapper .login-container {
    padding: 45px 0 23px;
  }
}
/* line 45, sass/partials/_login.scss */
.module.login .login-wrapper .login-container h2 {
  margin: 0 0 23px;
}
/* line 49, sass/partials/_login.scss */
.module.login .login-wrapper .login-container .form-group {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
/* line 54, sass/partials/_login.scss */
.module.login .login-wrapper .login-container .form-group input, .module.login .login-wrapper .login-container .form-group select {
  margin: 0;
}
/* line 80, sass/partials/_mixins.scss */
.module.login .login-wrapper .login-container .form-group input::-webkit-input-placeholder, .module.login .login-wrapper .login-container .form-group select::-webkit-input-placeholder {
  color: #999 !important;
}
/* line 81, sass/partials/_mixins.scss */
.module.login .login-wrapper .login-container .form-group input:-moz-placeholder, .module.login .login-wrapper .login-container .form-group select:-moz-placeholder {
  color: #999 !important;
}
/* line 82, sass/partials/_mixins.scss */
.module.login .login-wrapper .login-container .form-group input::-moz-placeholder, .module.login .login-wrapper .login-container .form-group select::-moz-placeholder {
  color: #999 !important;
}
/* line 83, sass/partials/_mixins.scss */
.module.login .login-wrapper .login-container .form-group input:-ms-input-placeholder, .module.login .login-wrapper .login-container .form-group select:-ms-input-placeholder {
  color: #999 !important;
}

/* line 1, sass/partials/_contact.scss */
.contact-details {
  padding-top: 5px;
  font-size: 13px;
  color: #7b7b7b;
}
@media (max-width: 767px) {
  /* line 1, sass/partials/_contact.scss */
  .contact-details {
    padding-top: 25px;
  }
}
/* line 10, sass/partials/_contact.scss */
.contact-details .contact-image {
  float: none;
  margin: 0 auto 15px;
  border: 2px solid #c2c2c2;
  border-radius: 50%;
  max-width: 110px;
}
/* line 18, sass/partials/_contact.scss */
.contact-details h3 {
  color: #171717;
}
/* line 22, sass/partials/_contact.scss */
.contact-details a {
  font-size: 18px;
  color: #2675c8;
}

/* line 30, sass/partials/_contact.scss */
.faqs-wrapper {
  text-align: left;
  padding: 50px 0 0;
}
/* line 34, sass/partials/_contact.scss */
.faqs-wrapper h3 {
  margin: 0 0 30px;
}
/* line 38, sass/partials/_contact.scss */
.faqs-wrapper .accordionHeader {
  font-size: 16px;
  color: #2675c8;
  background-color: #f7f7f7;
  padding: 20px 45px 20px 18px;
  margin: 20px 0 0;
  position: relative;
  line-height: 130%;
}
@media (max-width: 1023px) {
  /* line 38, sass/partials/_contact.scss */
  .faqs-wrapper .accordionHeader {
    margin: 10px 0 0;
    padding: 13px 40px 13px 15px;
    font-size: 15px;
  }
}
/* line 53, sass/partials/_contact.scss */
.faqs-wrapper .accordionHeader:after {
  content: '\f107';
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 28px;
  color: #171717;
  background-color: #f7f7f7;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
@media (max-width: 1023px) {
  /* line 53, sass/partials/_contact.scss */
  .faqs-wrapper .accordionHeader:after {
    font-size: 20px;
    right: 15px;
  }
}
/* line 71, sass/partials/_contact.scss */
.faqs-wrapper .accordionHeader:hover {
  cursor: pointer;
}
/* line 77, sass/partials/_contact.scss */
.faqs-wrapper .accordionHeader.acc-open:after {
  content: '\f106';
}
/* line 84, sass/partials/_contact.scss */
.faqs-wrapper .accordionContent {
  display: none;
  padding: 0px 18px 10px;
  margin-bottom: 20px;
  font-size: 15px;
  background-color: #f7f7f7;
}
@media (max-width: 1023px) {
  /* line 84, sass/partials/_contact.scss */
  .faqs-wrapper .accordionContent {
    padding: 0px 18px 10px;
  }
}

/*!
* Fine Uploader
*
* Copyright 2013-present, Widen Enterprises, Inc.
*
* Version: 5.9.0
*
* Homepage: http://fineuploader.com
*
* Repository: git://github.com/FineUploader/fine-uploader.git
*
* Licensed only under the MIT license (http://fineuploader.com/licensing).
*/
/* ---------------------------------------
/* Fine Uploader Styles
/* ---------------------------------------

/* Buttons
------------------------------------------ */
/* line 22, sass/partials/_fine-uploader.scss */
.qq-btn {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.37) inset, 1px 0 1px rgba(255, 255, 255, 0.07) inset, 0 1px 0 rgba(0, 0, 0, 0.36), 0 -2px 12px rgba(0, 0, 0, 0.08) inset;
  padding: 3px 4px;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  color: inherit;
  background-color: #FFFFFF;
}

/* line 34, sass/partials/_fine-uploader.scss */
.qq-upload-delete, .qq-upload-pause, .qq-upload-continue {
  display: inline;
}

/* line 37, sass/partials/_fine-uploader.scss */
.qq-upload-delete {
  background-color: #e65c47;
  color: #FAFAFA;
  border-color: #dc523d;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.55);
}

/* line 44, sass/partials/_fine-uploader.scss */
.qq-upload-delete:hover {
  background-color: #f56b56;
}

/* line 47, sass/partials/_fine-uploader.scss */
.qq-upload-cancel {
  background-color: #F5D7D7;
  border-color: #e6c8c8;
}

/* line 52, sass/partials/_fine-uploader.scss */
.qq-upload-cancel:hover {
  background-color: #ffe1e1;
}

/* line 55, sass/partials/_fine-uploader.scss */
.qq-upload-retry {
  background-color: #EBF6E0;
  border-color: #d2ddc7;
}

/* line 60, sass/partials/_fine-uploader.scss */
.qq-upload-retry:hover {
  background-color: #f7ffec;
}

/* line 63, sass/partials/_fine-uploader.scss */
.qq-upload-pause, .qq-upload-continue {
  background-color: #00ABC7;
  color: #FAFAFA;
  border-color: #2dadc2;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.55);
}

/* line 69, sass/partials/_fine-uploader.scss */
.qq-upload-pause:hover, .qq-upload-continue:hover {
  background-color: #0fbad6;
}

/* Upload Button
------------------------------------------ */
/* line 75, sass/partials/_fine-uploader.scss */
.qq-upload-button {
  display: inline;
  width: 105px;
  margin-bottom: 10px;
  padding: 7px 10px;
  text-align: center;
  float: left;
  background: #00ABC7;
  color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #2dadc2;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.37) inset, 1px 0 1px rgba(255, 255, 255, 0.07) inset, 0 1px 0 rgba(0, 0, 0, 0.36), 0 -2px 12px rgba(0, 0, 0, 0.08) inset;
}

/* line 91, sass/partials/_fine-uploader.scss */
.qq-upload-button-hover {
  background: #33B6CC;
}

/* line 94, sass/partials/_fine-uploader.scss */
.qq-upload-button-focus {
  outline: 1px dotted #000000;
}

/* Drop Zone
------------------------------------------ */
/* line 102, sass/partials/_fine-uploader.scss */
.upload-wrapper {
  margin: 0 auto;
  float: none;
}
/* line 106, sass/partials/_fine-uploader.scss */
.upload-wrapper > p {
  padding: 30px 0 20px;
}
/* line 110, sass/partials/_fine-uploader.scss */
.upload-wrapper > .buttons {
  width: 100%;
  text-align: left;
}
/* line 114, sass/partials/_fine-uploader.scss */
.upload-wrapper > .buttons .btn-secondary {
  margin-right: 25px;
}

/* line 122, sass/partials/_fine-uploader.scss */
.qq-uploader {
  position: relative;
  min-height: 290px;
  max-height: 550px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 6px;
  background-color: #FDFDFD;
  border: 1px dashed #CCCCCC;
  padding: 20px;
}
/* line 133, sass/partials/_fine-uploader.scss */
.qq-uploader:before {
  content: attr(qq-drop-area-text) " ";
  position: absolute;
  font-size: 200%;
  left: 0;
  width: 100%;
  text-align: center;
  top: 45%;
  opacity: 0.25;
}
@media (max-width: 767px) {
  /* line 122, sass/partials/_fine-uploader.scss */
  .qq-uploader {
    min-height: 190px;
    padding: 10px;
  }
}
/* line 149, sass/partials/_fine-uploader.scss */
.qq-uploader .upload-title {
  padding: 30px 0;
}
@media (max-width: 767px) {
  /* line 149, sass/partials/_fine-uploader.scss */
  .qq-uploader .upload-title {
    padding: 20px 0 10px;
  }
}
/* line 156, sass/partials/_fine-uploader.scss */
.qq-uploader .upload-title .fa {
  font-size: 80px;
  color: #2675c8;
}

/* line 165, sass/partials/_fine-uploader.scss */
.qq-upload-drop-area, .qq-upload-extra-drop-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 30px;
  z-index: 2;
  background: #F9F9F9;
  border-radius: 4px;
  border: 1px dashed #CCCCCC;
  text-align: center;
}

/* line 178, sass/partials/_fine-uploader.scss */
.qq-upload-drop-area span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -8px;
  font-size: 16px;
}

/* line 186, sass/partials/_fine-uploader.scss */
.qq-upload-extra-drop-area {
  position: relative;
  margin-top: 50px;
  font-size: 16px;
  padding-top: 30px;
  height: 20px;
  min-height: 40px;
}

/* line 194, sass/partials/_fine-uploader.scss */
.qq-upload-drop-area-active {
  background: #FDFDFD;
  border-radius: 4px;
  border: 1px dashed #CCCCCC;
}

/* line 199, sass/partials/_fine-uploader.scss */
.qq-upload-list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 340px;
  overflow-y: auto;
  box-shadow: 0px 1px 0px rgba(15, 15, 50, 0.14);
  clear: both;
}

/* Uploaded Elements
------------------------------------------ */
/* line 212, sass/partials/_fine-uploader.scss */
.qq-upload-list li {
  margin: 0;
  padding: 9px 13px 9px 9px;
  line-height: 15px;
  font-size: 16px;
  color: #424242;
  background-color: white;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 212, sass/partials/_fine-uploader.scss */
  .qq-upload-list li {
    padding: 9px 0;
  }
}

/* line 228, sass/partials/_fine-uploader.scss */
.qq-upload-list li:first-child {
  border-top: none;
}

/* line 231, sass/partials/_fine-uploader.scss */
.qq-upload-list li:last-child {
  border-bottom: none;
}

/* line 235, sass/partials/_fine-uploader.scss */
.qq-upload-file, .qq-upload-spinner, .qq-upload-size,
.qq-upload-cancel, .qq-upload-retry, .qq-upload-failed-text,
.qq-upload-delete, .qq-upload-pause, .qq-upload-continue {
  margin-right: 12px;
  display: inline;
}

/* line 242, sass/partials/_fine-uploader.scss */
.qq-upload-file {
  vertical-align: middle;
  display: inline-block;
  width: calc(100% - 180px);
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  text-align: left;
  margin-right: 0;
  padding: 8px 20px 0 10px;
  font-size: 14px;
}
@media (max-width: 767px) {
  /* line 242, sass/partials/_fine-uploader.scss */
  .qq-upload-file {
    width: 100%;
    float: left;
    padding: 18px 10px 15px;
    font-size: 18px;
  }
}

/* line 263, sass/partials/_fine-uploader.scss */
.qq-upload-spinner {
  display: inline-block;
  background: url("ajax-loader.gif");
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
  background-size: contain;
}

/* line 271, sass/partials/_fine-uploader.scss */
.qq-drop-processing {
  display: block;
}

/* line 274, sass/partials/_fine-uploader.scss */
.qq-drop-processing-spinner {
  display: inline-block;
  background: url("processing.gif");
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
  background-size: contain;
}

/* line 282, sass/partials/_fine-uploader.scss */
.qq-upload-size, .qq-upload-cancel, .qq-upload-retry,
.qq-upload-delete, .qq-upload-pause, .qq-upload-continue {
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  vertical-align: middle;
}

/* line 290, sass/partials/_fine-uploader.scss */
.qq-document-type {
  width: calc(100% - 120px);
  margin-top: 10px;
  display: block;
  float: right;
  padding: 0 0 10px 10px;
  font-size: 14px;
  text-align: left;
}
/* line 299, sass/partials/_fine-uploader.scss */
.qq-document-type select {
  width: 100%;
}

/* line 305, sass/partials/_fine-uploader.scss */
.qq-upload-status-text {
  font-size: 14px;
  font-weight: bold;
  display: block;
  float: right;
  width: calc(100% - 120px);
  margin-top: 10px;
  padding: 0 0 10px 10px;
  text-align: left;
}
@media (max-width: 767px) {
  /* line 305, sass/partials/_fine-uploader.scss */
  .qq-upload-status-text {
    width: 100%;
    float: left;
    padding: 0px 10px 15px;
    font-size: 16px;
  }
}

/* line 323, sass/partials/_fine-uploader.scss */
.qq-upload-failed-text {
  display: none;
  font-style: italic;
  font-weight: bold;
}

/* line 328, sass/partials/_fine-uploader.scss */
.qq-upload-failed-icon {
  display: none;
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
}

/* line 334, sass/partials/_fine-uploader.scss */
.qq-upload-fail .qq-upload-failed-text {
  display: inline;
}

/* line 337, sass/partials/_fine-uploader.scss */
.qq-upload-retrying .qq-upload-failed-text {
  display: inline;
}

/* line 340, sass/partials/_fine-uploader.scss */
.qq-upload-list li.qq-upload-success {
  background-color: #EBF6E0;
  color: #424242;
  border-bottom: 1px solid #D3DED1;
  border-top: 1px solid #F7FFF5;
}

/* line 346, sass/partials/_fine-uploader.scss */
.qq-upload-list li.qq-upload-fail {
  background-color: #F5D7D7;
  color: #424242;
  border-bottom: 1px solid #DECACA;
  border-top: 1px solid #FCE6E6;
}

/* line 353, sass/partials/_fine-uploader.scss */
.qq-progress-bar {
  display: block;
  background: #2675c8;
  width: 0%;
  height: 8px;
  border-radius: 6px;
  margin-bottom: 0;
}

/* line 362, sass/partials/_fine-uploader.scss */
.qq-progress-bar-container-selector {
  width: calc(100% - 130px);
  float: left;
  background-color: #d8d8d8;
  border-radius: 6px;
  margin: 10px 0 0 10px;
}
@media (max-width: 767px) {
  /* line 362, sass/partials/_fine-uploader.scss */
  .qq-progress-bar-container-selector {
    width: calc(100% - 10px);
    float: none;
  }
}

/* line 376, sass/partials/_fine-uploader.scss */
.qq-total-progress-bar {
  height: 25px;
  border-radius: 9px;
}

/* line 381, sass/partials/_fine-uploader.scss */
.qq-total-progress-bar-container {
  margin-left: 9px;
  display: inline;
  float: right;
  width: 500px;
}

/* line 388, sass/partials/_fine-uploader.scss */
INPUT.qq-edit-filename {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/* line 396, sass/partials/_fine-uploader.scss */
.qq-upload-file.qq-editable {
  cursor: pointer;
  margin-right: 4px;
}

/* line 401, sass/partials/_fine-uploader.scss */
.qq-edit-filename-icon.qq-editable {
  display: inline-block;
  cursor: pointer;
}

/* line 406, sass/partials/_fine-uploader.scss */
INPUT.qq-edit-filename.qq-editing {
  position: static;
  height: 28px;
  padding: 0 8px;
  margin-right: 10px;
  margin-bottom: -5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 16px;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* line 421, sass/partials/_fine-uploader.scss */
.qq-edit-filename-icon {
  display: none;
  background: url("edit.gif");
  width: 15px;
  height: 15px;
  vertical-align: text-bottom;
  margin-right: 16px;
}

/* line 430, sass/partials/_fine-uploader.scss */
.qq-hide {
  display: none;
}

/*  
------------------------------------------ */
/* line 438, sass/partials/_fine-uploader.scss */
.thumbnail-wrapper {
  float: left;
  width: 120px;
}
@media (max-width: 767px) {
  /* line 438, sass/partials/_fine-uploader.scss */
  .thumbnail-wrapper {
    width: 100%;
    padding: 0px 10px 0;
  }
}
/* line 447, sass/partials/_fine-uploader.scss */
.thumbnail-wrapper img {
  max-height: 100px;
}
@media (max-width: 767px) {
  /* line 447, sass/partials/_fine-uploader.scss */
  .thumbnail-wrapper img {
    max-height: 100%;
  }
}
/* line 456, sass/partials/_fine-uploader.scss */
.thumbnail-wrapper .qq-upload-spinner {
  margin: 30px 0;
}

/* line 463, sass/partials/_fine-uploader.scss */
.qq-thumbnail-selector {
  vertical-align: middle;
  margin: 0 auto;
}

/* <dialog> element styles */
/* line 470, sass/partials/_fine-uploader.scss */
.qq-uploader DIALOG {
  display: none;
}

/* line 474, sass/partials/_fine-uploader.scss */
.qq-uploader DIALOG[open] {
  display: block;
  width: 90%;
  border: 0;
}

/* line 480, sass/partials/_fine-uploader.scss */
.qq-uploader DIALOG {
  display: none;
}

/* line 484, sass/partials/_fine-uploader.scss */
.qq-uploader DIALOG[open] {
  display: block;
}

/* line 488, sass/partials/_fine-uploader.scss */
.qq-uploader DIALOG .qq-dialog-buttons {
  text-align: center;
  padding-top: 10px;
}

/* line 493, sass/partials/_fine-uploader.scss */
.qq-uploader DIALOG .qq-dialog-buttons BUTTON {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 498, sass/partials/_fine-uploader.scss */
.qq-uploader DIALOG .qq-dialog-message-selector {
  padding-bottom: 10px;
}

/* line 502, sass/partials/_fine-uploader.scss */
.qq-uploader DIALOG::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

/*! 2016-05-14 */
/* line 510, sass/partials/_fine-uploader.scss */
.qq-upload-size {
  float: left;
  width: calc(100% - 200px);
  margin: 10px;
  text-align: left;
}

/* line 517, sass/partials/_fine-uploader.scss */
.qq-upload-list .buttons-container {
  float: right;
}
@media (max-width: 767px) {
  /* line 517, sass/partials/_fine-uploader.scss */
  .qq-upload-list .buttons-container {
    width: 100%;
    float: left;
    padding: 0 10px 10px;
    text-align: left;
  }
}

/* line 529, sass/partials/_fine-uploader.scss */
.qq-upload-cancel, .qq-upload-retry, .qq-upload-delete {
  margin: 0 0 0 10px;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  min-height: 30px;
  max-height: 100px;
  line-height: 100%;
  width: 20px;
  float: right;
  font-size: 20px;
  text-align: right;
}
@media (max-width: 767px) {
  /* line 529, sass/partials/_fine-uploader.scss */
  .qq-upload-cancel, .qq-upload-retry, .qq-upload-delete {
    font-size: 35px;
    margin: 0 15px 0 0;
    width: auto;
    float: left;
  }
}
/* line 551, sass/partials/_fine-uploader.scss */
.qq-upload-cancel:hover, .qq-upload-retry:hover, .qq-upload-delete:hover {
  background-color: transparent;
}
/* line 555, sass/partials/_fine-uploader.scss */
.qq-upload-cancel.qq-btn, .qq-upload-retry.qq-btn, .qq-upload-delete.qq-btn {
  box-shadow: none;
}

/* line 562, sass/partials/_fine-uploader.scss */
#trigger-add {
  min-height: 40px;
  max-height: 80px;
  width: 100%;
  padding: 12.5px 30px;
  font-size: 1.2rem;
  line-height: 15px;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #171717;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
  display: inline-block;
  float: left;
  margin: 0 0 20px;
  background-color: #52BDFC;
  background: -webkit-linear-gradient(#52BDFC, #4CA6E1);
  background: -o-linear-gradient(#52BDFC, #4CA6E1);
  background: -moz-linear-gradient(#52BDFC, #4CA6E1);
  background: linear-gradient(#52bdfc, #4ca6e1);
  color: white;
}
/* line 33, sass/partials/_mixins.scss */
#trigger-add.btn-primary {
  background-color: #a0c323;
  background: -webkit-linear-gradient(#a0c323, #8caa0a);
  background: -o-linear-gradient(#a0c323, #8caa0a);
  background: -moz-linear-gradient(#a0c323, #8caa0a);
  background: linear-gradient(#a0c323, #8caa0a);
  border-color: transparent;
}
/* line 41, sass/partials/_mixins.scss */
#trigger-add.btn-primary:hover {
  background: #a0c323;
  border-color: transparent;
}
/* line 48, sass/partials/_mixins.scss */
#trigger-add.btn-secondary {
  background-color: #52BDFC;
  background: -webkit-linear-gradient(#52BDFC, #4CA6E1);
  background: -o-linear-gradient(#52BDFC, #4CA6E1);
  background: -moz-linear-gradient(#52BDFC, #4CA6E1);
  background: linear-gradient(#52bdfc, #4ca6e1);
  color: white;
}
/* line 56, sass/partials/_mixins.scss */
#trigger-add.btn-secondary:hover {
  background-color: #52BDFC;
}
@media (min-width: 768px) {
  /* line 562, sass/partials/_fine-uploader.scss */
  #trigger-add {
    width: auto;
    margin: 0 20px 0 0;
  }
}
@media (min-width: 1025px) {
  /* line 562, sass/partials/_fine-uploader.scss */
  #trigger-add {
    width: auto;
    margin: 0 20px 0 0;
  }
}

@media (min-width: 768px) {
  /* line 588, sass/partials/_fine-uploader.scss */
  #trigger-upload {
    width: auto;
    margin: 0 20px 0 0;
  }
}

/* line 1, sass/partials/_topic-selection.scss */
.module.topic-selection {
  background: #fff;
}
/* line 4, sass/partials/_topic-selection.scss */
.module.topic-selection .header_cta {
  padding: 25px 20px;
  background-color: #2675c8;
  text-align: left;
}
@media (min-width: 768px) {
  /* line 4, sass/partials/_topic-selection.scss */
  .module.topic-selection .header_cta {
    position: relative;
    display: table;
    margin: -40px auto 0 auto;
    padding: 30px 35px;
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 4, sass/partials/_topic-selection.scss */
  .module.topic-selection .header_cta {
    width: 48%;
  }
}
@media (min-width: 1025px) {
  /* line 4, sass/partials/_topic-selection.scss */
  .module.topic-selection .header_cta {
    margin-top: -50px;
    width: 38%;
  }
}
/* line 26, sass/partials/_topic-selection.scss */
.module.topic-selection .header_cta .form-actions {
  display: table;
  margin: 0 auto;
}

@media (min-width: 1025px) {
  /* line 2, sass/partials/_footer.scss */
  .region.region-footer {
    margin-top: 40px;
  }
}
/* line 7, sass/partials/_footer.scss */
.region.region-footer .footer_links {
  margin: 0px;
  padding: 60px 0 40px;
  width: 100%;
  border-top: 1px solid #ccc;
}
/* line 13, sass/partials/_footer.scss */
.region.region-footer .footer_links .footer_links_col {
  padding-right: 10px;
  padding-left: 0;
  width: 20%;
}
/* line 18, sass/partials/_footer.scss */
.region.region-footer .footer_links .footer_links_col .footer_links_col_title {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #666;
  line-height: 16px;
  text-align: left;
}
@media (min-width: 1025px) {
  /* line 18, sass/partials/_footer.scss */
  .region.region-footer .footer_links .footer_links_col .footer_links_col_title {
    font-size: 1.6rem;
  }
}
/* line 31, sass/partials/_footer.scss */
.region.region-footer .footer_links .footer_links_col ul {
  padding-left: 0;
  text-align: left;
}
/* line 35, sass/partials/_footer.scss */
.region.region-footer .footer_links .footer_links_col ul li {
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 1.2rem;
  line-height: 15px;
  list-style-type: none;
}
/* line 43, sass/partials/_footer.scss */
.region.region-footer .footer_links .footer_links_col ul li a {
  font-weight: 600;
}
@media (min-width: 768px) {
  /* line 51, sass/partials/_footer.scss */
  .region.region-footer .footer_country_language_social {
    display: table;
    margin: 0px;
    padding-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
}
/* line 60, sass/partials/_footer.scss */
.region.region-footer .footer_country_language_social .selected .country_name {
  display: block;
  position: relative;
}
/* line 65, sass/partials/_footer.scss */
.region.region-footer .footer_country_language_social .country_selector_container {
  position: absolute;
  top: 0;
  left: 34px;
  width: 100%;
  height: 100%;
}
@media (min-width: 1025px) {
  /* line 65, sass/partials/_footer.scss */
  .region.region-footer .footer_country_language_social .country_selector_container {
    position: relative;
    left: 0;
    height: auto;
    width: 244px;
  }
}
/* line 79, sass/partials/_footer.scss */
.region.region-footer .footer_country_language_social .country_selector_container .country_name {
  vertical-align: middle;
  margin-right: 8px;
}
/* line 83, sass/partials/_footer.scss */
.region.region-footer .footer_country_language_social .country_selector_container .country_name:before {
  content: "";
  width: 24px;
  height: 26px;
  max-width: 100%;
  position: relative;
  background: url("../../assets/img/country_flags_sprite_standard.png") -192px 6px no-repeat;
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  /* line 99, sass/partials/_footer.scss */
  .region.region-footer .country_list_container a {
    padding: 0;
  }
}
/* line 105, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name {
  vertical-align: middle;
  margin-right: 8px;
}
/* line 109, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name:before {
  content: "";
  width: 24px;
  height: 26px;
  max-width: 100%;
  position: relative;
  background: url("../../assets/img/country_flags_sprite_standard.png") 0 6px no-repeat;
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}
/* line 121, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name.australia:before {
  background-position: -192px 6px;
}
/* line 125, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name.argentina:before {
  background-position: -24px 5px;
}
/* line 129, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name.brazil:before {
  background-position: -48px 5px;
}
/* line 133, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name.chile:before, .region.region-footer .country_list_container .country_name.chile-2:before {
  background-position: -72px 5px;
}
/* line 137, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name.colombia:before {
  background-position: -120px 5px;
}
/* line 141, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name.mexico:before {
  background-position: -144px 5px;
}
/* line 145, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name.uruguay:before {
  background-position: -168px 6px;
}
/* line 149, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name.hk:before {
  background-position: -264px 5px;
}
/* line 153, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name.bangladesh:before {
  background-position: -216px 5px;
}
/* line 157, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name.china:before {
  background-position: -240px 5px;
}
/* line 161, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name.bulgaria:before {
  background-position: -432px 5px;
}
/* line 165, sass/partials/_footer.scss */
.region.region-footer .country_list_container .country_name.italy:before {
  background-position: -600px 5px;
}
/* line 171, sass/partials/_footer.scss */
.region.region-footer .country_selector_container .selected a {
  display: none;
}
@media (min-width: 768px) {
  /* line 171, sass/partials/_footer.scss */
  .region.region-footer .country_selector_container .selected a {
    display: table;
    z-index: 200;
    padding: 0 12px 0 5px;
    border-radius: 2px;
    background: url("../../assets/img/icon_selection_arrow.png") 99% 58%/18px no-repeat;
    text-decoration: none;
    color: #ccc;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 215px;
    min-height: 40px;
  }
}
/* line 188, sass/partials/_footer.scss */
.region.region-footer .country_selector_container .selected a:hover {
  z-index: 100;
  background: url("../../assets/img/icon_selection_arrow.png") 99% 58%/18px no-repeat #fff;
}
/* line 194, sass/partials/_footer.scss */
.region.region-footer .country_selector_label {
  display: inline-block;
  float: left;
  color: #666;
  font-size: 1.6rem;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
}
@media (min-width: 768px) {
  /* line 194, sass/partials/_footer.scss */
  .region.region-footer .country_selector_label {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    font-size: 1.2rem;
    line-height: 40px;
    text-align: left;
    width: 50px;
  }
}
@media (min-width: 1025px) {
  /* line 194, sass/partials/_footer.scss */
  .region.region-footer .country_selector_label {
    position: relative;
    font-size: 1.6rem;
  }
}
/* line 221, sass/partials/_footer.scss */
.region.region-footer .country_name {
  display: table-cell;
  vertical-align: middle;
  padding: 0px;
  color: #2675c8;
  font-size: 1.2rem;
  line-height: 15px;
  padding-left: 8px;
}
/* line 231, sass/partials/_footer.scss */
.region.region-footer .country_header {
  padding: 8px 0px 8px 6px;
  display: block;
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
}
/* line 240, sass/partials/_footer.scss */
.region.region-footer .country_header:not(:first-child) {
  margin-top: 15px;
}
/* line 245, sass/partials/_footer.scss */
.region.region-footer .countries {
  position: relative;
  float: left;
  width: 50%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 25px 10px;
  height: 72px;
}
@media (min-width: 768px) {
  /* line 245, sass/partials/_footer.scss */
  .region.region-footer .countries {
    width: 300px;
    border: 0;
  }
}
@media (min-width: 1025px) {
  /* line 245, sass/partials/_footer.scss */
  .region.region-footer .countries {
    margin-right: 20px;
    width: 327px;
  }
}
/* line 265, sass/partials/_footer.scss */
.region.region-footer .countries .country_list_container {
  display: none;
  position: absolute;
  top: 55px;
  left: 25px;
  overflow-x: auto;
  overflow-y: auto;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  padding: 5px 10px;
  z-index: 905;
  width: 200px;
}
@media (min-width: 768px) {
  /* line 265, sass/partials/_footer.scss */
  .region.region-footer .countries .country_list_container {
    min-width: 0;
    top: 40px !important;
    left: 49px;
    width: 215px;
    padding: 5px 0 10px 5px;
  }
}
@media (min-width: 1025px) {
  /* line 265, sass/partials/_footer.scss */
  .region.region-footer .countries .country_list_container {
    top: 64px !important;
    left: 75px;
    width: 214px;
  }
}
/* line 294, sass/partials/_footer.scss */
.region.region-footer .countries .country_list_container a {
  display: table;
  width: 100%;
  height: 40px;
}
/* line 301, sass/partials/_footer.scss */
.region.region-footer .countries .country_flag {
  display: table-cell;
  vertical-align: middle;
  max-width: 100%;
  position: relative;
  background: url("../../assets/img/country_selector_flags/country_flags_sprite_standard.png") 0 0 no-repeat;
}
/* line 310, sass/partials/_footer.scss */
.region.region-footer .language_selector {
  height: 72px;
  float: right;
  width: 50%;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 25px 10px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
@media (min-width: 768px) {
  /* line 310, sass/partials/_footer.scss */
  .region.region-footer .language_selector {
    border: 0;
  }
}
/* line 327, sass/partials/_footer.scss */
.region.region-footer .language_selector a {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 600;
  padding-right: 7px;
  color: #2675c8;
}
/* line 336, sass/partials/_footer.scss */
.region.region-footer .footer_social {
  float: left;
  display: table-cell;
  width: 100%;
  vertical-align: top;
  margin-top: 10px;
  padding: 0;
}
@media (min-width: 768px) {
  /* line 336, sass/partials/_footer.scss */
  .region.region-footer .footer_social {
    width: 240px;
    float: none;
    line-height: 30px;
  }
}
/* line 350, sass/partials/_footer.scss */
.region.region-footer .footer_social .social_label {
  position: relative;
  float: left;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 36px;
  text-align: right;
  top: 2px;
}
@media (min-width: 1025px) {
  /* line 350, sass/partials/_footer.scss */
  .region.region-footer .footer_social .social_label {
    font-size: 16px;
    text-align: right;
    width: 188px;
  }
}
/* line 366, sass/partials/_footer.scss */
.region.region-footer .footer_social .social_icons_wrapper {
  float: right;
  width: 20px;
}
@media (min-width: 768px) {
  /* line 366, sass/partials/_footer.scss */
  .region.region-footer .footer_social .social_icons_wrapper {
    margin-right: 20px;
  }
}
/* line 374, sass/partials/_footer.scss */
.region.region-footer .footer_social .social_icons_wrapper a {
  display: inline-block;
}
/* line 377, sass/partials/_footer.scss */
.region.region-footer .footer_social .social_icons_wrapper a i {
  font-size: 2rem;
  vertical-align: bottom;
  line-height: 24px;
  color: #2675c8;
}
/* line 386, sass/partials/_footer.scss */
.region.region-footer .footer_social .footer_logo_wrapper .footer_metlife_logo {
  width: 150px;
}

/* line 393, sass/partials/_footer.scss */
.footer_logo_wrapper {
  padding: 0;
}

/* line 397, sass/partials/_footer.scss */
.footer_logo_legal {
  width: 100%;
  padding: 40px 0 50px;
  border-top: 1px solid #ccc;
  display: table;
}
@media (max-width: 767px) {
  /* line 397, sass/partials/_footer.scss */
  .footer_logo_legal {
    display: block;
    overflow: hidden;
    padding: 20px 0 0;
    text-align: center;
  }
}
/* line 410, sass/partials/_footer.scss */
.footer_logo_legal .footer_logo_contact {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
@media (max-width: 767px) {
  /* line 410, sass/partials/_footer.scss */
  .footer_logo_legal .footer_logo_contact {
    display: block;
  }
}
@media (max-width: 767px) {
  /* line 419, sass/partials/_footer.scss */
  .footer_logo_legal .footer_logo_contact .footer_logo_wrapper {
    overflow: hidden;
    display: inline-block;
  }
}
/* line 426, sass/partials/_footer.scss */
.footer_logo_legal .footer_logo_contact .footer_logo_wrapper .footer_metlife_logo {
  padding: 0 !important;
}
@media (min-width: 768px) {
  /* line 426, sass/partials/_footer.scss */
  .footer_logo_legal .footer_logo_contact .footer_logo_wrapper .footer_metlife_logo {
    width: 130px;
  }
}
@media (max-width: 767px) {
  /* line 426, sass/partials/_footer.scss */
  .footer_logo_legal .footer_logo_contact .footer_logo_wrapper .footer_metlife_logo {
    margin: 0 auto 10px;
    float: none;
  }
}
/* line 444, sass/partials/_footer.scss */
.footer_logo_legal .footer_legal {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
@media (max-width: 1023px) {
  /* line 444, sass/partials/_footer.scss */
  .footer_logo_legal .footer_legal {
    padding: 0 15px 0 0;
  }
}
@media (max-width: 767px) {
  /* line 444, sass/partials/_footer.scss */
  .footer_logo_legal .footer_legal {
    display: block;
    padding: 0;
  }
}
/* line 460, sass/partials/_footer.scss */
.footer_logo_legal .legal_footer_links {
  font-size: 1.2rem;
  line-height: 15px;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  text-align: right;
}
@media (min-width: 768px) {
  /* line 460, sass/partials/_footer.scss */
  .footer_logo_legal .legal_footer_links {
    padding-bottom: 0;
    border-bottom: 0;
  }
}
@media (max-width: 1023px) {
  /* line 460, sass/partials/_footer.scss */
  .footer_logo_legal .legal_footer_links {
    text-align: left;
  }
}
@media (max-width: 767px) {
  /* line 460, sass/partials/_footer.scss */
  .footer_logo_legal .legal_footer_links {
    text-align: center;
    padding: 0 0 20px;
  }
}
/* line 482, sass/partials/_footer.scss */
.footer_logo_legal .legal_footer_links span, .footer_logo_legal .legal_footer_links a {
  line-height: 1.6rem;
}
@media (max-width: 1023px) {
  /* line 482, sass/partials/_footer.scss */
  .footer_logo_legal .legal_footer_links span, .footer_logo_legal .legal_footer_links a {
    font-size: 1.2rem !important;
  }
}
/* line 490, sass/partials/_footer.scss */
.footer_logo_legal .legal_footer_links span {
  color: #999;
}
/* line 494, sass/partials/_footer.scss */
.footer_logo_legal .legal_footer_links a {
  padding: 0 2%;
}
@media (min-width: 768px) {
  /* line 494, sass/partials/_footer.scss */
  .footer_logo_legal .legal_footer_links a {
    padding: 0;
  }
}

/* line 1, sass/partials/_caresuper.scss */
body#caresuper {
  font-family: 'Arial', Helvetica, sans-serif;
  background: #e5e5e5;
}
/* line 5, sass/partials/_caresuper.scss */
body#caresuper h1, body#caresuper h2, body#caresuper h3, body#caresuper h4, body#caresuper h5 {
  font-family: Helvetica, 'Arial', sans-serif !important;
}
/* line 9, sass/partials/_caresuper.scss */
body#caresuper .global_header {
  height: 70px;
  background-color: #ffffff !important;
}
@media (max-width: 767px) {
  /* line 9, sass/partials/_caresuper.scss */
  body#caresuper .global_header {
    height: 50px;
  }
  /* line 18, sass/partials/_caresuper.scss */
  body#caresuper .global_header .metlifeLogo .row img {
    width: 140px;
  }
}
/* line 26, sass/partials/_caresuper.scss */
body#caresuper .global_header.fixedHeader {
  height: 50px;
}
/* line 31, sass/partials/_caresuper.scss */
body#caresuper .global_header.fixedHeader .metlifeLogo .row img {
  width: 140px;
}
/* line 41, sass/partials/_caresuper.scss */
body#caresuper .header-secondary {
  background-color: #888888;
}
/* line 45, sass/partials/_caresuper.scss */
body#caresuper .list-container ul li > a {
  border: 2px solid #e8eaef;
  background-color: #e8eaef;
}
/* line 50, sass/partials/_caresuper.scss */
body#caresuper .tab-container {
  background: #e5e5e5;
}
/* line 55, sass/partials/_caresuper.scss */
body#caresuper .region.region-footer {
  margin-top: 0;
}
/* line 59, sass/partials/_caresuper.scss */
body#caresuper .region-footer section .container {
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
/* line 64, sass/partials/_caresuper.scss */
body#caresuper .clientFooter {
  display: table;
  margin: 0 auto;
  padding-bottom: 30px;
  float: none;
}
@media (max-width: 767px) {
  /* line 64, sass/partials/_caresuper.scss */
  body#caresuper .clientFooter {
    display: block;
    padding: 0 0 20px;
  }
}
/* line 75, sass/partials/_caresuper.scss */
body#caresuper .clientFooter .logo {
  display: table-cell;
  vertical-align: top;
  width: 180px;
}
@media (max-width: 767px) {
  /* line 75, sass/partials/_caresuper.scss */
  body#caresuper .clientFooter .logo {
    display: inline-block;
    width: 100%;
  }
  /* line 84, sass/partials/_caresuper.scss */
  body#caresuper .clientFooter .logo img {
    max-width: 150px;
    margin: 0 auto;
  }
}
/* line 93, sass/partials/_caresuper.scss */
body#caresuper .clientFooter #footer_menu {
  display: table-cell;
  vertical-align: middle;
  padding: 7px 0 0 30px;
  font-size: 12px;
  text-align: right;
}
@media (max-width: 767px) {
  /* line 93, sass/partials/_caresuper.scss */
  body#caresuper .clientFooter #footer_menu {
    display: block;
    text-align: center;
    width: 100%;
    padding: 20px 10px 0;
  }
}
