<div class="help-block p-4">
  <h2 class="helpHead mt-0">WE'RE HERE TO HELP </h2>
  <p class="helpTxt"> Please call us on</p>
  <h3 class="helpNo">
    <a class="telephone" href="tel:{{helpBlock.constants.helpContact}}" ng-bind="helpBlock.constants.helpContact"></a>
  </h3>
  <p class="helpTxt">if you require any assistance</p>
</div>