table {   
  border-collapse: collapse; 
  /*width: 100%;*/
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  /*background: #eee; */
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th {    
  text-align: left; 
}

@media 
only screen and (max-width: 760px) {

	/* Force table to not be like tables anymore */
	thead,tbody, th, td, tr { 
		display: block !important;	
		
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	table {
		/*width: 102%;*/
	}
	
	tr { /* border: 1px solid #ccc;*/ }
	
	td { 
		/* Behave  like a "row" */
		border: none;		 
		position: relative;
		
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*.row.rowcustom { 
	  	padding : 2px 0	 !important;
	  	margin-right:-15px !important;
	}	
	.radiocol2 { 
		width: 100% !important;
	}
	.has-error .rbutton {
    	 border-radius: 0px 6px 0px 0px !important;
   		 margin-left: 0px !important;
	}
	.has-error .lbutton {
    	border-radius: 6px 0px 0px 0px !important;
	}	
	.lbutton {
    	border-radius: 5px !important;
	}	
	.rbutton {
    	border-radius: 5px !important;
   		 margin-left: 2px !important;
	}
	.rbutton-multi { border-radius:0px 6px 6px 0; margin-left:0px !important;}
	.clr {
   		 clear: both !important;
	}	
	
    .panel {
    	margin-bottom: 5px !important;   	
    }
    
    .withhelp .icohelp {
	    margin-top: -25px;
	    position: absolute;
	    right: -25px !important;
	}
	
	.w95pcBox {
	width: 95% !important;
	}
	.checkboxes {
	width: 95% !important;
	}*/
	
}
.radioFleft{
}