
	<header class="global_header">
		<div class="metlifeLogo col-sm-12">
			<div class="row">
				<a id="headerLogoLink" href="/eapply/claimstracker/mtaa" title="Home"><img src="../../eapply/static/pages/{{fundName}}/img/header_logo.png" alt="{{fundName}} logo" class="desktop-view"></a>
			</div>
		</div>
	</header>	