

<div class="c-header">
  <div class="container">
    <div class="  col-xs-3  "> <img src="static/care/images/logo.png" class="img-responsive  c-logo" alt="CareSuper Australia" /> </div>
    <div class="  col-xs-9 hidden-xs  ">
      <div class="logout noborderleft pointer"> <a  ng-click="navigateToLandingPage()" >Home</a> </div>
      <div class="logout noborderleft pointer" ng-click="openWindow('https://www.caresuper.com.au/super/contact-us')"> <a>Contact us</a> </div>
      <div class="logout pointer" ng-click="openWindow('https://www.caresuper.com.au/about-us')"> <a>About us</a> </div>     
    </div>
    
    <div class="  col-xs-9 visible-xs  ">
      <div class="logout mob"><a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a><br>
        <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a><br>
        <div class="pointer"><a ng-click="navigateToLandingPage()">Home</a></div>
       </div>
    </div>
  </div>
</div>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container aura">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">2 / 3</span> Health &amp; lifestyle </div>
    </div>
    <div class="col-xs-3"> <img src="static/care/images/bg_blank.png" class=" icoMenuRev active  "> <img src="static/care/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149</h3> -->
      <p class="helpTxt">Like to speak to someone?</p>
      <h3 class="helpNo"> 1300 360 149</h3>
      <h3 class="helpNo"> 8am&ndash;8pm weekdays</h3>
    </div>
  </div>
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-4 dc first pointer" ng-click="go('/newmemberquote/2')">
        <h5 style="color:#0066a1">Step 1</h5>
        <div class="txtHolder"> <a href="#" class="ui-link">Personal details</a></div>
        <img src="static/care/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 cn"> <img src="static/care/images/bg_blank.png" class=" left">
        <h5>Step 2</h5>
        <div class="txtHolder"> Health &amp; lifestyle</div>
        <img src="static/care/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 cnn">
        <h5>Step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="static/care/images/bg_blank.png" class=" left"> </div>
    </div>
    <div class="panel-group" id=" ">






      <div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="   ">
          <h4 class="panel-title" ng-bind="sectionname"></h4>
          </a> </div>
        <div id="collapseOne" class="panel-collapse collapse  in   ">
          <div class="panel-body">

				<div  ng-repeat="x in auraResponseDataList">
				 	 <div ng-if="x.classType=='RadioQuestion'" class="row" ng-class="{'has-error':x.error}">
				 	<div class="col-sm-12 col-xs-12  ">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					  <div onclick="visible('tick3')" data-toggle="buttons" class="btn-group">
					  	<div class="col-sm-3  col-xs-12 " ng-repeat="y in x.auraAnswer">					  	
                 		 	<div class="col-sm-3 pl0 col-xs-12" ng-if="$first" ng-click="updateRadio(y.answerValue,x)">
                    			<label class="btn  radiobutton "  ng-class="{'active': (x.answerTest == 'Yes')}">
                      			<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      			<span></span>{{y.answerText}}  </label>
                 			 </div>
                  		  <div class="col-sm-3 col-xs-12 pl0xs" ng-if="!$first" ng-click="updateRadio(y.answerValue,x)">
                    			<label class="btn  radiobutton" ng-class="{'active': (x.answerTest == 'No')}">
                      			<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
                      			<span></span> {{y.answerText}}  </label>
                 			</div>  
               			</div>					  
					  </div>
					  <div ng-if="x.error" class="col-sm-12  col-xs-12  fright error"> Please select an answer <br>
                			<br>
              			</div>
					 </div>
					  <hr class="primeline">
				</div>        

            <div class=" row rowcustom" >


			<div class="col-sm-4 col-xs-12">
						        <a class="" href="" data-parent="#accordion" data-toggle="collapse">
						             <button  class="btn btn-primary w100p" type="button"  ng-click="go('/newmemberquote/2')">Previous</button>
						        </a>
              </div>
              <div class="col-sm-4 col-xs-12">
              <a class=""  data-parent="#accordion" data-toggle="collapse">
                <button  class="btn btn-primary w100p" type="button" ng-click="proceedNext()">Continue</button>
                </a>
              </div>
             <!--  <div class="col-sm-4 col-xs-12">
			        <a class=""  data-parent="#accordion" data-toggle="collapse">
			             <button  class="btn btn-primary w100p" type="button"  ng-click="saveNewMemberAura()" >Save &amp; Exit</button>
			        </a>
              </div> -->

            </div>
          </div>
        </div>
      </div>





    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
          <p class="helpTxt aligncenter">Like to speak to someone?</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3>
          <h3 class="helpNo aligncenter"> 8am&ndash;8pm weekdays</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-2   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext"> CARE Super Pty Ltd (Trustee) ABN 91 006 670 060 AFSL 235226 CARE Super (Fund) ABN 98 172 275 725</p>
    </div>
    <div class="col-sm-3   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="#" class=" ">Privacy statement</a> <!-- | <a href="#" class=" ">Disclaimer</a> --> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="#" class=" ">Privacy statement</a> <!-- | <a href="#" class=" ">Disclaimer</a> --> </p>
    <p class="footertext"> &copy; CARE Super Pty Ltd (Trustee) ABN 91 006 670 060 AFSL 235226 CARE Super (Fund) ABN 98 172 275 725</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>


