
<div class="c-header" >
  <div class="container">
    <div class="  col-sm-3 col-xs-6  ">
     <img src="static/care/images/logo.png" class="img-responsive  c-logo" alt="CareSuper Australia" /> </div>
    <div class="  col-xs-9 hidden-xs  ">
      <div class="logout noborderleft pointer"> <a  ng-click="navigateToLandingPage()" >Home</a> </div>
      <div class="logout noborderleft"> <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a></div>
      <div class="logout"><a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a></div>
    </div>
    <div class="col-xs-6 visible-xs text-right">
      <div class="mt25px"><a class="col-xs-12 form-group" target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a>
        <a class="col-xs-12 form-group" target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a><br>
        <a class="col-xs-12 form-group" ng-click="navigateToLandingPage()">Home</a>
       </div>
    </div>
  </div>
</div>
<h2 ng-if="errorOccured" style="color:red;text-align: center;">Something went wrong...Please try after sometime</h2>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
    <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">1 / 3</span> Personal details </div>
    </div>
    <div class="col-xs-3"> <img src="static/care/images/bg_blank.png" class=" icoMenuRev  "> <img src="static/care/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149 </h3> -->
      <p class="helpTxt">Like to speak to someone?</p>
      <h3 class="helpNo"> 1300 360 149</h3>
      <h3 class="helpNo"> 8am&ndash;8pm weekdays</h3>
    </div>
  </div>
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-4 cn first">
        <h5>Step 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="static/care/images/bg_blank.png" class=" right"> </div>

      <div class="col-sm-4 cnn"> <img src="static/care/images/bg_blank.png" class=" left">
        <h5>Step 2</h5>
        <div class="txtHolder"> Health &amp; lifestyle</div>
        <img src="static/care/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 nl">
        <h5>Step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="static/care/images/bg_blank.png" class=" left"> </div>
    </div>

    <div class="panel-group"  id="accordionContact" ng-controller="quoteoccupdate">
     <!--Duty of Disclosure Section starts  -->
    <div class="panel-group" id="accordiondod">
      <div class="panel panel-default">       
        <div id="collapseduty" >
          <form name="formduty" role="form" novalidate>
            <div class="panel-body">
              <div class=" col-sm-12">
                <p class="normal" style="text-align: justify; margin-top: 8px;">
                </p>
                <p>
                  <strong class="color">Insured's duty of disclosure</strong>
                </p>
                <br>
                <p align="justify"> Before CareSuper enters into an insurance contract in respect of a member, it has a duty to tell the insurer anything it knows or could reasonably be expected to know that may affect the insurer's decision to provide the insurance and on what terms.</p>
                <p align="justify">CareSuper has this duty of disclosure until the insurance is provided.CareSuper has the same duty before it extends, varies or reinstates the contract.</p>
                <p align="justify">CareSuper does not need to tell the insurer anything that:
                  <br>
                  <ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
                    <li>Reduces the risk of the insurance</li>
                    <li>Is common knowledge</li>
                    <li>The insurer knows or should know as an insurer, or</li>
                    <li>The insurer waives the duty to tell the insurer about.</li>
                </ul>
            </p>
                
                <p><strong>If you as a member of CareSuper do not tell the insurer something</strong></p>
                <p align="justify">If you, as the person whose life is to be insured as a member of CareSuper, do not tell the insurer something you know or could reasonably be expected to know that may affect the insurer's decision to cover you and on what terms, this may be treated as a failure by CareSuper.</p>
                <p><strong>If CareSuper does not tell the insurer something about you</strong>
                <br>
                  <ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
                    <li>If CareSuper does not tell the insurer something it is required to and the insurer would not have provided you with the insurance if it had been told, the insurer may avoid the contract within three years of entering into it.</li>
                    <li>If the insurer chooses not to avoid the contract, it may at any time reduce the amount of insurance provided to you. This would be worked out using a formula that takes into account the premium that would have been payable if CareSuper had told the insurer everything it should have. However, if the contract has a surrender value or provides cover on death, the insurer may only exercise this right within three years of entering into the contract.</li>
                    <li>If the insurer chooses not to avoid the contract or reduce the amount of insurance provided, it may at any time vary the contract in a way that places the insurer in the same position it would have been in if CareSuper had told the insurer everything it should have. However, this right does not apply if the contract has a surrender value or provides cover on death.</li>
                    <li>If the failure to comply with the duty of disclosure is fraudulent, the insurer may refuse to pay a claim and treat the contract as if it never existed.</li>
                  </ul>
              </p>
                <p align="justify">In exercising its rights, the insurer may consider whether different types of cover can constitute separate contracts of insurance, and may apply its rights separately to each type of cover.</p>
                <div class="row rowcustom " ng-class="{'has-error':dodFlagErr}" ng-click="checkDodState()">
                    <div class="col-sm-12">
                      <div class="btn-group-vertical" data-toggle="buttons">
                         <div class=" row rowcustom" >
                                                 <div class="col-sm-12" >
                                                     <label class="btn checkboxes" id="dodLabel">
                                                      <input type="checkbox" id="dodlabelCheck" name="dod" required>
                                                      <span></span>  I acknowledge I have read, understood and consent to the above 
                                                     </label><p ng-if="dodFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
                                                     
                                                  </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <p></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  <!--Duty of Disclosure Section starts  -->
  
    
    <!--Privacy Policy Section starts  -->
    <div class="panel-group" id="accordionprivacy">
      <div class="panel panel-default">
        <div class="panel-heading" ng-click="isCollapsible('accordionprivacy', $event)">
          <a data-toggle="collapse" data-parent="#accordionprivacy" data-target="#collapseprivacy" class="collapsed">
            <h4 class="panel-title">Privacy statement</h4>
          </a>
        </div>
        <div id="collapseprivacy" class="panel-collapse collapse" >

          <form name="cancelprivacyPolicyForm" role="form" novalidate>
            <div class="panel-body">
              <div class=" col-sm-12">
                <p align="left">Personal information is protected by the CareSuper Privacy Policy. The CareSuper Privacy Policy outlines the approach that CareSuper takes to the personal information which is collected in the course of work. CareSuper is bound by 
                  the Australian Privacy Principles contained in the Privacy Act 1988 (and subsequent amendments). For more information, please contact
                  CareSuper or obtain a copy of the Privacy Policy from 
                  <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">www.caresuper.com.au/privacy-policy</a>
                </p>
                <p> <strong class="color2">MetLife's Privacy Statement </strong></p>
                <p align="justify">Your privacy with MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife and the Insurer')</p>
                <p align="justify">The personal information you provide in the form is necessary for us to provide you with the products and services you have
                 requested from us, and to manage your claims. You do not have to provide us with your personal information, but if you do not do so we 
                 may not be able to provide you with our products or services. MetLife Insurance Limited complies with the Privacy Act 1988 and the 
                 principles laid out in its privacy policy which details information about how you may access or seek correction of the your personal 
                 information, how we manage that information and our complaints process. MetLife's Privacy Policy is readily available and can be viewed 
                 at <a href="https://www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy</a>.
               </p>
                <div class="row rowcustom " ng-class="{'has-error':privacyFlagErr}" ng-click="checkPrivacyState()">
                    <div class="col-sm-12">
                      <div class="btn-group-vertical" data-toggle="buttons">
                         <div class=" row rowcustom" >
                                                 <div class="col-sm-12" >
                                                     <label class="btn checkboxes" id="privacyLabel">
                                                      <input type="checkbox" id="privacylabelCheck" name="privacy" required>
                                                      <span></span>  I acknowledge I have read, understood and consent to the above 
                                                     </label>
                                                     <p ng-if="privacyFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
                                                     </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <p></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Privacy Policy Section starts  -->

   <!-- Contact Details Section Starts -->
   	<div class="panel panel-default">
        <div class="panel-heading" ng-click="isCollapsible('collapseOne', $event)"> <a data-toggle="collapse" data-target="#collapseOne" class="collapsed">
          <h4 class="panel-title"> Contact details</h4>
          </a> 
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
        
          <form name="workRatingContactForm" role="form"  novalidate>
          <div class="panel-body"> 
            
            <!-- Row starts -->
            <div class="row rowcustom first">
              <div class="col-sm-12">
                <label class="control-label"> Please leave your contact details in the event we need to contact you</label>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
           <!-- Row starts -->
          
           <div class="row rowcustom " ng-class="{'has-error':(workRatingContactForm.workRatingEmail.$invalid && workRatingContactForm.workRatingEmail.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingEmail.$error.required)}">
             <div class="col-sm-5">
               <label class="control-label"> Email address </label>
             </div>
             <div class="col-sm-7 col-xs-12">
               <input class="form-control" ng-pattern="emailFormatUpdate" name="workRatingEmail" ng-focus="checkPreviousMandatoryFieldsFrWorkRating('workRatingEmail','workRatingContactForm')" 
                ng-class = "(workRatingContactForm.workRatingEmail.$invalid && workRatingContactForm.workRatingEmail.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingEmail.$error.required)  ? 'error-border':''" 
                ng-model="email" type="email" maxlength="50" placeholder="Enter your email" required>
            <span ng-if="(workRatingContactForm.workRatingEmail.$invalid && workRatingContactForm.workRatingEmail.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingEmail.$error.required) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingEmail.$error.pattern)" 
            class="error">Please enter your email address</span>
             </div>
          </div>
           
           <!-- Row ends -->
           <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error' : (workRatingContactForm.wrkRatingPrefContactNo.$invalid && workRatingContactForm.wrkRatingPrefContactNo.$touched) || ((workRatingContactForm.$submitted && workRatingContactForm.wrkRatingPrefContactNo.$error.required)||(workRatingContactForm.$submitted && workRatingContactForm.wrkRatingPrefContactNo.$error.pattern))}" >
              <div class="col-sm-5">
                <label class="control-label"> Preferred contact number </label>
              </div>
              <div class="col-sm-3 col-xs-12">
               <select  class="  form-control" ng-model="preferredContactType" ng-change="changePrefContactType()" ng-options="contactTypeOption for contactTypeOption in contactTypeOptions track by contactTypeOption">
                	<option value="">Please select</option>
                </select>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12">	
                <input class="form-control" name="wrkRatingPrefContactNo" phone-only id="wrkRatingPreferrednumCCId" onkeyup="return isIntegerFun(this);"  onkeypress="return isIntegerFun(this);" 
                  ng-focus="checkPreviousMandatoryFieldsFrWorkRating('wrkRatingPrefContactNo','workRatingContactForm')"  
                  ng-class = "(workRatingContactForm.wrkRatingPrefContactNo.$valid && workRatingContactForm.wrkRatingPrefContactNo.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.wrkRatingPrefContactNo.$error.required)  ? 'error-border':''" 
                  ng-model="updatePhone" ng-pattern="phoneNumbrUpdate" maxlength="10" type="text" placeholder="Enter your Phone No" required>
                <span ng-if="(workRatingContactForm.wrkRatingPrefContactNo.$invalid && workRatingContactForm.wrkRatingPrefContactNo.$touched) || ((workRatingContactForm.$submitted && workRatingContactForm.wrkRatingPrefContactNo.$error.required) ||(workRatingContactForm.$submitted && workRatingContactForm.wrkRatingPrefContactNo.$error.pattern))" 
                 class="error">Please enter valid phone number</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           <div class="row rowcustom" ng-class="{'has-error':(workRatingContactForm.workRatingPrefTime.$error.required && workRatingContactForm.workRatingPrefTime.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingPrefTime.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What time of day do you prefer to be contacted? </label>
                <span id="tick 3" style=" visibility:hidden">
                 <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span>
                </span> 
              </div> 
             <div class="col-sm-12 ">
                <div class="btn-group"  >
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Morning (9am - 12pm)')}">
                      <input class="ipradio"  name="workRatingPrefTime" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingPrefTime','workRatingContactForm')" 
                       ng-class = "(workRatingContactForm.workRatingPrefTime.$error.required && workRatingContactForm.workRatingPrefTime.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingPrefTime.$error.required)  ? 'radio-validation':''"
                       ng-model="time" type="radio" value="Morning (9am - 12pm)" required>
                      <span></span> Morning (9am&ndash;12pm) 
                   </label>
                  </div>
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Afternoon (12pm - 6pm)')}" >
                      <input class="ipradio" name="workRatingPrefTime" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingPrefTime','workRatingContactForm')" 
                       ng-class = "(workRatingContactForm.workRatingPrefTime.$error.required && workRatingContactForm.workRatingPrefTime.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingPrefTime.$error.required)  ? 'radio-validation':''" 
                       ng-model="time" type="radio" value="Afternoon (12pm - 6pm)" required>
                      <span></span> Afternoon (12pm&ndash;6pm)
                    </label>                    
                  </div>
                </div>
                <span ng-if="(workRatingContactForm.workRatingPrefTime.$error.required && workRatingContactForm.workRatingPrefTime.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
              </div>  
              
                <!-- <div class="btn-group" data-toggle="buttons" >
                 <div class="col-sm-6 pl0">
                   <label class="btn  radiobutton" ng-repeat="option in prefTimeOptions" ng-click="validate('contactDetFormId')">
                     <input type="radio" name="time" id="{{option.name}}" ng-model="contactTime" class="ipradio" ng-required="true">
                     <span></span> {{option.value}}
                    </label> <span class="error" >Please select</span>
                 </div>
                </div> -->
              
            </div> 
            <!-- Row ends -->
            
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">     
             	<a data-toggle="collapse" data-parent="#accordion"  >
             	<button class="btn btn-primary w100p" ng-click="workRatingFormSubmit(workRatingContactForm);" type="button">Continue</button>           
             	</a>
              </div>
             <!--  <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>  -->
            </div>
            </form>
        </div>
      </div>
     <!-- Contact Details Section Ends -->
     
     
     <!-- Occupation Section Starts -->
      <div class="panel panel-default" >
        <div class="panel-heading" ng-click="isCollapsible('collapseTwo', $event)"> <a data-toggle="collapse" data-target="#collapseTwo" class=" collapsed ">
          <h4 class="panel-title">Occupation </h4>
          </a> </div>
        <div id="collapseTwo" class="panel-collapse collapse">
        
         <form name="workRatingOccupForm" id="occupFormId" novalidate role="form">
          <div class="panel-body"> 
            <!-- Row starts -->
            
            <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.fifteenHrsQuestion.$error.required && workRatingOccupForm.fifteenHrsQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.fifteenHrsQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Do you work 15 hours or more per week? <a class="icohelp"	ng-click="clickToOpen('To be eligible for income protection cover you must be earning at least $16,000 per year on an ongoing basis or be working 15 hours or more per week.')"></a></label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (fifteenHrsQuestion == 'Yes')}">
                      <input type="radio" name="fifteenHrsQuestion "  class="ipradio" ng-click="checkPreviousMandatoryFieldsFrWorkRating('fifteenHrsQuestion','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.fifteenHrsQuestion.$error.required && workRatingOccupForm.fifteenHrsQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="fifteenHrsQuestion" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (fifteenHrsQuestion == 'No')}">
                      <input type="radio" name="fifteenHrsQuestion"  class="ipradio" ng-click="checkPreviousMandatoryFieldsFrWorkRating('fifteenHrsQuestion','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.fifteenHrsQuestion.$error.required && workRatingOccupForm.fifteenHrsQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="fifteenHrsQuestion" type="radio" value="No" required>
                      <span></span> No
                    </label>
                  </div>                  
                </div>
                <span class="error" ng-if="(workRatingOccupForm.fifteenHrsQuestion.$error.required && workRatingOccupForm.fifteenHrsQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.fifteenHrsQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            
            
             <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           <!-- <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">Are you a citizen or permanent resident of Australia?</label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>  </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzWrkUpdateQuestion == 'Yes')}">
                      <input name="areyouperCitzWrkUpdateQuestion" class="ipradio" ng-click="checkPreviousMandatoryFieldsFrWorkRating('areyouperCitzWrkUpdateQuestion','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzWrkUpdateQuestion" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzWrkUpdateQuestion == 'No')}">
                      <input name="areyouperCitzWrkUpdateQuestion" class="ipradio" ng-click="checkPreviousMandatoryFieldsFrWorkRating('areyouperCitzWrkUpdateQuestion','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzWrkUpdateQuestion" type="radio" value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>    -->
            <!-- Row ends -->
           <!--  <hr class="primeline"> -->
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.workRatingIndustry.$error.required && workRatingOccupForm.workRatingIndustry.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingIndustry.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label" > What industry do you work in?</label>
              </div>              
              <div class="col-sm-12 ">
                <select class="form-control" name="workRatingIndustry" ng-focus="checkPreviousMandatoryFieldsFrWorkRating('workRatingIndustry','workRatingOccupForm')" 
                  ng-class = "(workRatingOccupForm.workRatingIndustry.$error.required && workRatingOccupForm.workRatingIndustry.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingIndustry.$error.required)  ? 'error-border':''" 
                  ng-model="workRatingIndustry"  ng-change="getOccupations()" required>
                  <option value="">Please select...</option>
                  <option ng-repeat="industry in IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
                </select>
                <span class="error" ng-if="(workRatingOccupForm.workRatingIndustry.$error.required && workRatingOccupForm.workRatingIndustry.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingIndustry.$error.required )">Please select the industry type.</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.workRatingoccupation.$error.required && workRatingOccupForm.workRatingoccupation.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingoccupation.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What is your current occupation?<a class="icohelp"	ng-click="clickToOpen('Please note that your premiums will not be calculated based on your selection of occupation, but will be based on your salary and the questions related to your occupational activities.')"></a></label>
              </div>
              <div class="col-sm-12 ">
                <select  class="form-control" name="workRatingoccupation" ng-focus="checkPreviousMandatoryFieldsFrWorkRating('workRatingoccupation','workRatingOccupForm')" 
                  ng-class = "(workRatingOccupForm.workRatingoccupation.$error.required && workRatingOccupForm.workRatingoccupation.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingoccupation.$error.required)  ? 'error-border':''"
                  ng-model="workRatingoccupation" required >
                  <option value="">Please select...</option>
                  <option ng-repeat="occupation in OccupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
                </select>
                <span class="error" ng-if="(workRatingOccupForm.workRatingoccupation.$error.required && workRatingOccupForm.workRatingoccupation.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingoccupation.$error.required )">Select the occupation which best matches your current occupation</span>
              </div>
            </div>  
            <!-- Row ends -->
            <!-- Row starts -->
            <div ng-if="workRatingoccupation == 'Other'">  
	             <hr class="primeline">
	             <div class="row rowcustom " ng-class="{'has-error':(workRatingOccupForm.workRatingotherOccupation.$invalid && workRatingOccupForm.workRatingotherOccupation.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingotherOccupation.$error.required)}">
	              <div class="col-sm-5" >
	                <label class="control-label">  Please enter your occupation  </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">	              
	                <input class="form-control" ng-focus="checkPreviousMandatoryFields('workRatingotherOccupation','workRatingOccupForm')" maxlength="150" name="workRatingotherOccupation" ng-class = "(workRatingOccupForm.workRatingotherOccupation.$invalid && workRatingOccupForm.workRatingotherOccupation.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingotherOccupation.$error.required)  ? 'error-border':''" ng-model="otherOccupationObj.workRatingotherOccupation" type="text" placeholder="Enter your occupation" required>
		            <span ng-if="(workRatingOccupForm.workRatingotherOccupation.$invalid && workRatingOccupForm.workRatingotherOccupation.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingotherOccupation.$error.required) " class="error">Please enter your occupation</span>
	              </div>
	           	</div>
          	</div> 
            <!-- Row ends -->
            <hr class="primeline">
            
             <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
        
            <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.workRatingWithinOffcQue.$error.required && workRatingOccupForm.workRatingWithinOffcQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingWithinOffcQue.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify"> Are the duties of your occupation limited to professional, managerial, administrative, clerical, secretarial or similar 'white collar' tasks which do not involve manual work and are undertaken entirely within an office environment (excluding travel time from one office environment to another)? </p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3">
                 <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span>
                </span> -->
              </div>              
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (workRatingWithinOffcQue == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="workRatingWithinOffcQue" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingWithinOffcQue','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.workRatingWithinOffcQue.$error.required && workRatingOccupForm.workRatingWithinOffcQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingWithinOffcQue.$error.required)  ? 'radio-validation':''" 
                       ng-model="workRatingWithinOffcQue" value="Yes" required>
                      <span></span> Yes 
                    </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (workRatingWithinOffcQue == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="workRatingWithinOffcQue" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingWithinOffcQue','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.workRatingWithinOffcQue.$error.required && workRatingOccupForm.workRatingWithinOffcQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingWithinOffcQue.$error.required)  ? 'radio-validation':''" 
                       ng-model="workRatingWithinOffcQue"  value="No" required>
                      <span></span> No
                    </label>                    
                  </div>
                </div>
                <span class="error" ng-if="(workRatingOccupForm.workRatingWithinOffcQue.$error.required && workRatingOccupForm.workRatingWithinOffcQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingWithinOffcQue.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            <hr class="primeline">
                 
             <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.workRatingTertQue.$error.required && workRatingOccupForm.workRatingTertQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingTertQue.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">  Do you hold a tertiary qualification or are you a member of a professional institute or registered as a practicing member of your profession by a government body?</p></label>
                 <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>  --> </div>
	               <div class="col-sm-12 ">
	                <div class="btn-group">
	                   <div class="col-sm-3 pl0">
	                    <label class="btn  radiobutton" ng-class="{'active': (workRatingTertQue == 'Yes')}" >
	                      <input type="radio" name="workRatingTertQue" class="ipradio" id="option1"  ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingTertQue','workRatingOccupForm')"
	                       ng-class = "(workRatingOccupForm.workRatingTertQue.$error.required && workRatingOccupForm.workRatingTertQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingTertQue.$error.required)  ? 'radio-validation':''" 
	                      ng-model="workRatingTertQue" value="Yes" required>
	                      <span></span>Yes </label>
	                   </div>
	                   <div class="col-sm-6 pl0xs">
	                    <label class="btn  radiobutton" ng-class="{'active': (workRatingTertQue == 'No')}">
	                      <input type="radio"  name="workRatingTertQue" class="ipradio" id="option2" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingTertQue','workRatingOccupForm')"
	                       ng-class = "(workRatingOccupForm.workRatingTertQue.$error.required && workRatingOccupForm.workRatingTertQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingTertQue.$error.required)  ? 'radio-validation':''" 
	                       ng-model="workRatingTertQue" value="No" required>
	                      <span></span> No
	                    </label>	                   
	                  </div>
	                </div>
	                <span class="error" ng-if="(workRatingOccupForm.workRatingTertQue.$error.required && workRatingOccupForm.workRatingTertQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingTertQue.$error.required )">Please select Yes or No</span>
	              </div>
               </div>
               <hr class="primeline">
                
                <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.workRatingManagementRole.$error.required && workRatingOccupForm.workRatingManagementRole.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingManagementRole.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">  Are you in a management role?</label>
                 <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
	               <div class="col-sm-12 ">
	                <div class="btn-group">
	                   <div class="col-sm-3 pl0">
	                    <label class="btn  radiobutton" ng-class="{'active': (workRatingManagementRole == 'Yes')}" >
	                      <input type="radio" name="workRatingManagementRole" class="ipradio" id="option1"  ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingManagementRole','workRatingOccupForm')"
	                       ng-class = "(workRatingOccupForm.workRatingManagementRole.$error.required && workRatingOccupForm.workRatingManagementRole.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingManagementRole.$error.required)  ? 'radio-validation':''" 
	                      ng-model="workRatingManagementRole" value="Yes" required>
	                      <span></span>Yes </label>
	                   </div>
	                   <div class="col-sm-6 pl0xs">
	                    <label class="btn  radiobutton" ng-class="{'active': (workRatingManagementRole == 'No')}">
	                      <input type="radio"  name="workRatingManagementRole" class="ipradio" id="option2" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingManagementRole','workRatingOccupForm')"
	                       ng-class = "(workRatingOccupForm.workRatingManagementRole.$error.required && workRatingOccupForm.workRatingManagementRole.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingManagementRole.$error.required)  ? 'radio-validation':''" 
	                       ng-model="workRatingManagementRole" value="No" required>
	                      <span></span> No
	                    </label>	                   
	                  </div>
	                </div>
	                <span class="error" ng-if="(workRatingOccupForm.workRatingManagementRole.$error.required && workRatingOccupForm.workRatingManagementRole.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingManagementRole.$error.required )">Please select Yes or No</span>
	              </div>
               </div>
                
              </div>
              
         <div class="row   rowcustom " ng-show="!genderFlag" ng-class="{'has-error':(workRatingOccupForm.gender.$error.required && workRatingOccupForm.gender.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.gender.$error.required )}" >
          <hr class="primeline"> 
            <div class="col-sm-12">
              <label class="control-label"> Gender </label>
            </div>
            <div class="col-sm-12">
              <div class="btn-group">
                <div class="col-sm-3 pl0">
                  <label class="btn radiobutton" ng-class="{'active': (gender == 'Male')}">
                    <input type="radio" name="gender" class="ipradio"  ng-click="checkPreviousMandatoryFieldsFrWorkRating('gender','workRatingOccupForm')"
                 ng-class = "(workRatingOccupForm.gender.$error.required && workRatingOccupForm.gender.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.gender.$error.required)  ? 'radio-validation':''" 
                ng-model="gender" value="Male" required>
                    <span></span> Male </label>
                   </div>
                <div class="col-sm-6 pl0xs">
                  <label class="btn   radiobutton" ng-class="{'active': (gender == 'Female')}">
                    <input type="radio" name="gender" class="ipradio"  ng-click="checkPreviousMandatoryFieldsFrWorkRating('gender','workRatingOccupForm')"
                 ng-class = "(workRatingOccupForm.gender.$error.required && workRatingOccupForm.gender.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.gender.$error.required)  ? 'radio-validation':''" 
                ng-model="gender" value="Female" required>
                    <span></span> Female </label>                         
                  </div>
              </div>
               <span class="error" ng-if="(workRatingOccupForm.gender.$error.required && workRatingOccupForm.gender.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.gender.$error.required )">Please select gender</span>
            </div>
          </div>
              
              <hr class="primeline">
             <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.workRatingAnnualSal.$error.required && workRatingOccupForm.workRatingAnnualSal.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingAnnualSal.$error.required ) || invalidSalAmount}">
               <div class="col-sm-4 col-xs-12">
                 <label class="control-label"> What is your annual salary? <a class="icohelp"	ng-click="clickToOpen('Insert gross salary (including overtime, commissions, bonuses and shift allowances, but excluding employer contributions).')"></a></label>
                 <!-- <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
	              <!-- <div class="col-sm-5 col-xs-12">
	                <div class="slidercover">
	                  <div id="slider1" class="slider"></div>
	                  <div class="sliderin"></div>
	                  <div class="leftval hidden-xs">0</div>
	                  <div class="rightval hidden-xs">1,000,000</div>
	                </div>
	              </div>
	              <p class="spacer visible-xs">&nbsp; </p> -->
              <div class="col-sm-3 col-xs-12">
                <input type="text" name="workRatingAnnualSal" format="number" class="form-control dollar"  ng-focus="checkPreviousMandatoryFieldsFrWorkRating('workRatingAnnualSal','workRatingOccupForm')"  ng-class = "(workRatingOccupForm.workRatingAnnualSal.$error.required && workRatingOccupForm.workRatingAnnualSal.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingAnnualSal.$error.required)  ? 'error-border':''"
                   ng-model="workRatingAnnualSal" maxlength="9" ng-change="checkValidSalary()" required>
               <span class="error" ng-if="(workRatingOccupForm.workRatingAnnualSal.$error.required && workRatingOccupForm.workRatingAnnualSal.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingAnnualSal.$error.required )">Please enter your annual Salary</span>
               <span class="error" ng-if="invalidSalAmount">Please enter a valid annual salary</span>
             </div>
           </div>
          <hr class="primeline">
          <div class=" row rowcustom">
	          <div class="col-xs-12">
		          <p class="note">		          	
		             <p  style="text-align:left;">Insurance cover through CareSuper is provided by MetLife Insurance Limited ABN 75 004 274 882 AFSL No. 238096. When completing your application for insurance, you will be providing MetLife with your personal information including your health information. By clicking the Continue button, you consent to the collection, use and disclosure of your personal information as described in MetLife's Privacy Policy which is available at <a href="https://www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy-policy</a>.
		            </p>
		          </p>
	          </div>
	         <!--  <div class="col-sm-12" >
                <div data-toggle="buttons" class=" btn-group-vertical">
                  <label class="btn wrap checkboxes1 ">
                    <input type="checkbox" class="ng-pristine ng-untouched ng-valid" id="option3" name="ackDocument" ng-model="ackDocument" value="">
                    <span></span> I agree to all the above Terms & Conditions</label>
                    
                </div>
              </div> -->
          </div>
           <div class=" row rowcustom" ng-class="{'has-error':updateAckFlag}" ng-click="checkUpdateAckState()">
          <div class="col-sm-12" >
                <div data-toggle="buttons" class=" btn-group-vertical">
                  <label class="btn wrap checkboxes1 " id="ackLabel">
                    <input type="checkbox" class="ng-pristine ng-untouched ng-valid" id="option3" name="ackDocument" value="" 
                     required>
                    <span></span> I agree to all the above terms & conditions</label>
                </div>
              </div>
              </div>
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">
               <a data-toggle="collapse" data-parent="#accordion"> 
                <button class="btn btn-primary w100p" type="button" ng-click="workRatingFormSubmit(workRatingOccupForm);">Continue</button>
               <!--  <button class="btn btn-primary w100p" type="button">Continue</button> -->
               </a>
              </div>
              <!-- <div class="col-sm-6 alignleft hidden-xs"> <a class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a class="cancellink"> Save &amp; Exit </a> </div>  -->
              
              <!-- <div class="col-sm-3 col-xs-12 hidden-xs"><button type="button" class="btn btn-primary w100p" ng-click="saveWorkRating()" >Save &amp; Exit </button></div> 
       		  <div class="col-sm-3 col-xs-12 visible-xs"><button type="button" class="btn btn-primary w100p" ng-click="saveWorkRating()" >Save &amp; Exit</button></div>  -->
            </div>
          </div>
        </form>
          <!-- Row ends --> 
          
        </div>
      </div>

<!-- Occupation Section Ends -->




    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter">1300 360 149 </h3> -->
          <p class="helpTxt aligncenter">Like to speak to someone?</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3>
          <h3 class="helpNo aligncenter"> 8am&ndash;8pm weekdays</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>
<p class="spacer">&nbsp;</p>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-2   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext"> CARE Super Pty Ltd (Trustee) ABN 91 006 670 060 AFSL 235226 CARE Super (Fund) ABN 98 172 275 725</p>
    </div>
    <div class="col-sm-3   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
        <!--  | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> --> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
     <!-- | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> --> </p>
    <p class="footertext"> &copy; CARE Super Pty Ltd (Trustee) ABN 91 006 670 060 AFSL 235226 CARE Super (Fund) ABN 98 172 275 725</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>



