﻿<!DOCTYPE html>

<html lang="en" ng-app="claimTrackermain">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <meta name="description" content="">
	    <link rel="icon" id="favIconId" href="static/pages/assets/img/favicon.ico">
		<title>Claims Tracker - Login</title>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

		<!-- Vendor files concatenated and minified CSS -->
		<link id='vendorImportId' href="static/pages/dist/css/vendor-imports.min.css" type="text/css" rel="stylesheet">

		<!-- SASS files concatenated and minified CSS -->
		<link id='mainMinId' href="static/pages/dist/css/main.min.css" type="text/css" rel="stylesheet">
		
		<!-- user defined css  -->
		<link id ="customId" href="static/pages/dist/css/custom.css" type="text/css" rel="stylesheet">

				<!-- 		<script src="pages/dist/js/ng-file-upload.js" type="text/javascript"></script> -->
<!-- 		<script src="pages/dist/js/ng-file-upload-shim.js" type="text/javascript"></script> -->

		
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.8/angular-resource.min.js"></script>
		<script src="static/pages/assets/js/angular-recaptcha.min.js" type="text/javascript" ></script>
		<script src="static/pages/assets/js/jquery-1.11.0.min.js" type="text/javascript" ></script>
		<script src="static/pages/dist/js/output.min.js" type="text/javascript"></script>
		<script src="static/pages/assets/js/script.js" type="text/javascript" ></script>
		<script src="static/pages/assets/js/claimcontroller.js" type="text/javascript" ></script>
		<script src="static/pages/assets/js/claimService.js" type="text/javascript" ></script>
		<script src="static/pages/assets/js/claimDirectives.js" type="text/javascript" ></script>
		<script src="static/pages/dist/js/moment.js" type="text/javascript"></script>
		<script src="static/pages/assets/js/fine-uploader.min.js" type="text/javascript"></script>
		<script src="static/pages/dist/js/ng-file-upload.js" type="text/javascript"></script>
		<script src="static/pages/dist/js/ng-file-upload-shim.js" type="text/javascript"></script>
		<!-- reCaptcha -->
		<!-- 		<script src='https://www.google.com/recaptcha/api.js'></script> -->
		<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
		
	</head>

	<body class="login-page">
	<!-- Global header module starts here -->
		<header class="global_header">
			<div class="metlifeLogo col-sm-12">
				<div class="row">
					<div id="headerLogoLink"><img id="partnerId" src="static/pages/assets/img/MetLife.png" alt="Metlife logo" class="desktop-view"></div>
				</div>
			</div>
		</header>
		<div ng-if="headerSection"  ng-controller="mainPage">
		<section class="header-secondary">
			<div class="container">
				<div class="row" ng-controller="mainPage">
					<div class="col col-sm-12">
						<div class="row">
							<div class="title col col-sm-12 col-lg-6">
								Claims Status: {{claimFactory.getClaimStatus()}} 
							</div>
							<div class="member-info col col-sm-12 col-lg-6">
								Claims id: {{claimFactory.getClaimId()}} 
							</div>
							<div class="member-info col col-sm-2" ">
								<a class="btn btn-info btn-lg" ng-click="logout()">Log out </a>
 							</div>
						</div>
					</div>
				</div>
			</div>			
		</section>
		</div>
	<!-- end Global header module -->
	
 <div ng-view></div>
	

		<footer class="region region-footer" role="contentinfo">
			<section id="block-block-9" class="block block-block clearfix">
			<!--Begin privacy/legal Widget -->
				<div class="container">
					<div class="row">
						<div class="col col-lg-12 footer_logo_wrapper">
							<div class="footer_logo_legal">
								<div class="footer_logo_contact col-sm-3 col-md-2">
									<span class="footer_logo_wrapper col-xs-12"><img id="footerId" alt="MetLife" class="footer_metlife_logo col-xs-4 lazy-loaded" data-src="assets/img/MetLife.png" src="static/pages/assets/img/MetLife.png"></span>
								</div>
								<div class="col-sm-9 col-xs-12 col-md-8 footer_legal">
									<p class="legal_footer_links col-xs-12"><a target="_blank" href="https://www.metlife.com.au/privacy-policy">Privacy </a><span class="divider"> • </span><a target="_blank" href="https://www.metlife.com.au/disclaimer">Disclaimer </a><span class="divider"> • </span><a target="_blank" href="https://www.metlife.com.au/legal-notices">Legal Notices</a><span class="hidden-xs"> 2016 © Copyright MetLife Insurance Limited ABN 75 004 274 882</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--End privacy/legal widget-->
			</section>
		</footer>	
		
	</body>
</html>
