@font-face {
	font-family: 'ING Me Web Bold';
	src: url('../fonts/INGMeWeb-Bold.eot');
	src: url('../fonts/INGMeWeb-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/INGMeWeb-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'ING Me Web Italic';
	src: url('../fonts/INGMeWeb-Italic.eot');
	src: url('../fonts/INGMeWeb-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/INGMeWeb-Italic.woff') format('woff');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'ING Me Narrow Web Regular';
	src: url('../fonts/INGMeNarrowWeb-Regular.eot');
	src: url('../fonts/INGMeNarrowWeb-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/INGMeNarrowWeb-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: 'ING Me Narrow Web Bold';
	src: url('../fonts/INGMeNarrowWeb-Bold.eot');
	src: url('../fonts/INGMeNarrowWeb-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/INGMeNarrowWeb-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #444;
	font-family: "ING Me Web Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #e8e8e8;;
 	font-size: 14px;
    line-height: 1.42857143;
	-webkit-font-variant-ligatures: common-ligatures;
	font-variant-ligatures: common-ligatures;
  padding-top: 82px;
	transition: all .30s ease-out;
}
html{
  overflow: scroll !important;
}
a, a:visited {
	color: #525199;
	text-decoration: none;
	outline: none
}
a:hover {
	color: #525199;
	text-decoration: underline;
	outline: none
}
.ingd-section-header div:first-child {
	text-decoration: none !important
}
.ingd-radiobutton.active {
	background: #FF6200;
	box-shadow: none
}
.btn.ingd-radiobutton:active {
	box-shadow: none
}
.cover-background {
	background: #f2f2f2;
	min-height: 100px;
	padding: 5px 15px 10px 15px;
}
.cover-background p {
	font-size: 12px;
	line-height: 35px;
	margin-bottom: 0;
}
.ing-heading {
	font-size: 17px;
}
.ingd-color2 {
	color: #808080 !important
}
 .ingd-section-header div:first-child {
	background: url(../images/sprite.png) right -591px no-repeat #6c757d;
	display: block;
	cursor: pointer;
	color: #fff;
}

 .ingd-section-header div:first-child:hover {
	color: #fff !important;
	background: url(../images/sprite.png) right -663px no-repeat #A8A8A8;
}
 .ingd-section-header div:first-child.collapsed {
	background: url(../images/sprite.png) no-repeat scroll right -534px #767676;
	clear: both;
	display: block;
	overflow: hidden;
	color: #fff !important;
}
 .ingd-section-header div:first-child.collapsed:hover {
	background: url(../images/sprite.png) no-repeat scroll right -534px #767676;
}
h1, h2, h3, h4, h5, h6{
	font-family: "ING Me Web Bold", "ING Me Web Regular";
	color: #222
}
.icohelp {
	margin-left: 10px;
	font-size: 110%;
	height: 24px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -1423px -40px !important;
	float: right;
	display: block;
	position: absolute;
	top: 10px;
	right: -13px;
	margin-top: 5px;
	cursor: pointer;
}
input, select{
	height: 32px !important;
}
.dollar {
	background:#fff url(../images/sprite.png) left -640px no-repeat;
	padding-left: 18px !important;
	height: 32px;
}
.ingd-radiobutton {
	height: 32px;
	width: 100%;
	background: #e5e5e5;
	color: #000;
	font-weight: normal;
	padding: 0;
	font-size: 15px;
	line-height: 2em;
	text-align: center;
	position:relative;
}
input[type="radio"] {
	display: none;
}
.ingd-radiobutton:hover span {
	background: url(../images/sprite.png) no-repeat -1386px -37px;
}
.ingd-radiobutton:focus span {
	background: url(../images/sprite.png) no-repeat -1350px -37px;
}
.active.ingd-radiobutton span {
	display: none;
	float: left;
	height: 32px;
	width: 32px;
	background: url(../images/sprite.png) no-repeat -1306px -37px;
	margin: 2px 15px 0 0;
	
}
.ingd-radiobutton.active {
	color: #fff;
}
.ingd-button-checkbox.active {
	background: #FF6200;
	box-shadow: none;
	color:#fff;
}
.ingd-button-checkbox:active {
	box-shadow: none
}
.ingd-button-checkbox {
	width: 99%;
	background: #e5e5e5;
	padding: 6px 0;
	font-size: 15px;
	text-align: left;
	font-weight: normal
}
.ingd-button-checkbox span {
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -36px -403px;
	margin: 0px 7px 0 0
}
.ingd-button-checkbox:hover span {
	background: url(../images/sprite.png) no-repeat -36px -403px;
}
.active.ingd-button-checkbox span {
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -68px -403px;
	margin: 0 7px 0 0;
}
.ingd-radiobutton, .ingd-button-checkbox {
	white-space: normal !important
}
.ingd-radiobutton span {
	margin: 2px 2px 0 0;
	display: none;
	float: left;
	height: 32px;
	width: 32px;
	background: url(../images/sprite.png) no-repeat -1473px -37px;
	margin: 2px 15px 0 0
}
.icovisa {
	background: url(../images/sprite.png) 0px -455px no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icomastercard {
	background: url(../images/sprite.png) -38px -455px no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icoINGcard {
	background: url(../images/sprite.png) 0px -498px no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icobpay {
	background: url(../images/sprite.png) 0px -540px no-repeat;
	width: 52px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icoencry {
	background: url(../images/sprite.png) 0px -582px no-repeat;
	width: 88px;
	height: 26px;
	display: block
}
.icoflybuys {
	width: 60px;
	height: 30px;
	background: url(../images/sprite.png) no-repeat -166px -350px;
}
.icotick {
	width: 16px;
	height: 16px;
	background: url(../images/sprite.png) no-repeat -232px -363px;
}
.icoTick, .icoFile, .icoWallet, .icoSave {
	background: url(../images/sprite.png) no-repeat;
	height: 120px;
	width: 120px;
}
.icoTick {
	background-position: -744px -355px
}
.icoFile {
	background-position: -464px -355px;
}
.icoWallet {
	background-position: -604px -355px;
}
.icoSave {
	background-position: -884px -355px;
}
.icoRefresh, .icoDollar, .icoEdit, .icoDelete, .icoConvert, .icoSaved {
	background: url(../images/sprite.png) no-repeat;
	height: 32px;
	width: 32px;
}
.icoConvert {
	background-position: -1180px -355px
}
.icoSaved {
	background-position: -1180px -407px
}
.icoRefresh {
	background-position: -1128px -409px
}
.icoDollar {
	background-position: -1076px -355px
}
.icoEdit {
	background-position: -1024px -355px
}
.icoDelete {
	background-position: -1129px -355px
}
.ingd-section-header {
	background-color: #eaeaea;
	border-bottom: 2px solid #eaeaea;
	overflow: hidden
}

.accordionHeader > a h4{
	padding: 7px 0 0 30px;
	margin-bottom: 7px;
	font-size: 21px;
	font-weight: normal;
	text-transform: uppercase;
}
 .ingd-section-header div:first-child .ingd-section-title {
	font-size: 21px;
	font-weight: normal;
	padding: 5px;
	text-transform: uppercase;
	padding: 10px 30px;
	border: 0;		
    color: white;		
    background-color: rgba(118, 118, 118, 0.4);		
    outline: darkgreen;		
    width: 100%;		
    text-align: left;
    font-family: "ING Me Web Bold", "ING Me Web Regular";
}
 .ingd-section-header div:first-child.collapsed .ingd-section-title {
	padding: 10px 30px;
}
 .ingd-section-header div:first-child.noarrow .ingd-section-title {
	cursor: default
}
.btn.ingd-button-checkbox a {
	color: #4B4B4B
}
.btn.ingd-button-checkbox.active a {
	color: #fff
}
.btn.ingd-button-checkbox a:hover {
	text-decoration: none
}
.row.ingd-bg-secondary {
	background: #e5e5e5;
	-webkit-box-shadow: 0 5px 8px -7px black;
	-moz-box-shadow: 0 5px 8px -7px black;
	box-shadow: 0 5px 8px -7px black;
}
.icoPhone {
	background: url(../images/sprite.png) no-repeat -104px -410px;
	height: 13px;
	width: 13px;
	display: inline-block;
}
.icoDoc {
	background: url(../images/sprite.png) no-repeat -1232px -362px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-group-vertical input[type="checkbox"] {
	display: none;
}
.icoError {
	background: url(../images/sprite.png) no-repeat -324px -361px;
	width: 16px;
	height: 16px;
}
.icoCalc {
	background: url(../images/sprite.png) -330px -352px no-repeat;
	width: 22px;
	height: 22px;
	display: inline-block;
	margin-bottom: -3px;
}
.ingd-help-text {
	font-size: 14px;
}
.cursor-pointer {
	cursor: pointer
}
.ingd-button-checkbox {
	font-weight: bold;
}
.gray-border-right{
	border-right: 5px solid #e6e6e6
}

.ingd-section-header {
	padding: 10px 0;
	position: relative
}
hr.ingd-separator {
	border-width: 1px;
	border-color: #e7e7e7;
	margin: 15px -20px
}
.ingd-primecolor {
	color: #FF6200;
}

.ingd-step1 img, .ingd-step2 img, .ingd-step3 img{
	background: url(../images/sprite.png) no-repeat;
	height: 100%;
	width: 7px;
	position: absolute;
}
.menu .ingd-step1 img.arrow-right {
	background-position: -14px 0;
	right: 0;
	top: 0
}
.menu .ingd-step1 img.arrow-left {
	background-position: -7px 0;
	left: 0;
	top: 0
}
.menu .ingd-step2 img.arrow-right {
	background-position: -28px 0;
	right: 0;
	top: 0
}
.menu .ingd-step2 img.arrow-left {
	background-position: -21px 0;
	left: 0;
	top: 0
}
.menu .ingd-step3 img.arrow-right {
	background-position: 0 0;
	right: 0;
	top: 0
}
.menu .ingd-step3 img.arrow-left {
	background-position: -35px 0;
	left: 0;
	top: 0
}
.ingd-step1 {
	background: #f2f2f2;
}
.ingd-step2, .ingd-step3, .ingd-step2 h5, .ingd-step3 h5 {
	color: #d9d9d9
}
.ingd-step1, .ingd-step3, .ingd-step2 {
	min-height: 68px;
	padding-left: 25px;
}
.ingd-menu-first, .ingd-step1.ingd-menu-first {
	padding-left: 20px;
}
.ingd-menu-mobile {
	background: #fff;
	border-bottom: 3px solid #dadada;
	border-top: 1px solid #e4e4e4;
	min-height: 71px;
	position: relative;
	font-weight: bold;
	overflow: hidden;
	font-size: 16px;
	line-height: 66px;
}
.ingd-close-icon {
	background: url(../images/sprite.png) no-repeat right -84px;
	display: inline-block;
	height: 11px;
	line-height: 11px;
	margin-left: 10px;
	width: 11px;
	cursor: pointer
}
.disabled .btn.ingd-radiobutton {
	cursor: default
}
.overflow-hidden{
	overflow: hidden;
}
.align-center{
	margin: 0 auto;
}
.current-cover-outer-box:not(:last-child){
	border-right: 5px solid #e6e6e6;
}
.child-flex-box{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
}
.child-flex-box>.icohelp{
	right: 10px !important;
}
/* .ingd-flex-panel .child-flex-box:not(:nth-child(3n)){
	border-right: 5px solid #e6e6e6;
}
.ingd-flex-panel .child-flex-box:nth-child(-n+3) {
	border-bottom: 5px solid #e6e6e6;
}
.ingd-flex-panel .child-flex-box:nth-child(4n), .ingd-flex-panel .child-flex-box:nth-child(5n), .ingd-flex-panel .child-flex-box:nth-child(6n){
	margin-top: 7px;
} */
.calculator-box:first-child{
	border-right: 5px solid #e6e6e6;
}
.ingd-submit-button{
	font-size: 18px;
    font-family: "ING Me Web Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #525199;
	border-radius: 0;
	padding: 0;
	height: 32px;
}
.ingd-card{
	border-right: 5px solid #e8e8e8;
}
.ingd-card-header{
	background: #f2f2f2;
	min-height: 100px;
}
.no-list-style{
	list-style-type: none;
}
/* .insurance-calculators:first-child{
	border-right: 5px solid #f2f2f2;
}*/
.insurance-calculators:last-child{
	border-left: 5px solid #f2f2f2;
}
.ingd-form-field{
	height: 32px !important;
}
.nav-items {
	border-right: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	padding: 40px 30px 30px;
	text-align: right;
	list-style-type: none;
}
.nav-items a {
	color: #525199;
	text-transform: uppercase;
	text-decoration: none
}
.nav-items.mob a {
	font-size: 12px;
}
.nav-items a:hover {
	color: #000
}


/* Vamshi changes  start */

/* Header tab css start */
.menu {
	background: #fff;
	border-bottom: 3px solid #dadada;
	min-height: 71px;
	position: relative;
	font-weight: normal;
	overflow: hidden;
	font-size: 15px;
	line-height: 14px;
}
.menumobile {
	background: #fff;
	border-bottom: 3px solid #dadada;
	border-top: 1px solid #e4e4e4;
	position: relative;
	font-weight: bold;
	overflow: hidden;
	font-size: 16px;
	min-height: auto;
	line-height: inherit;
	padding: 5px 15px;
}
.txtHolderMob {
	border-bottom: 0;
	min-height: auto;
	margin-left: 0;
	padding-left: 0;
	padding: 15px 0;
	float: left;
}

.icoMenuFwd, .icoMenuRev, .icoMenuFwd.active, .icoMenuRev.active {
	height: 54px;
	width: 50%;
	float: left;
	background: transparent;
	position: relative;
}

.icoMenuFwd span, .icoMenuRev span, .icoMenuFwd.active span, .icoMenuRev.active span {
	height: 12px;
	width: 8px;
	display: inline-block;
	background: url(../images/sprite.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.icoMenuRev span {
	background-position: -116px -460px;
}

.icoMenuRev.active span {
	background-position: -97px -460px;
}

.icoMenuFwd span {
	background-position: -107px -460px;
}

.icoMenuFwd.active span {
	background-position: -88px -460px;
}
.dc img, .cn .shadow-image, .nn img, .cnn .shadow-image, .nl .shadow-image, .cnl img, .dd img, .cl img {
	background: url(../images/sprite.png) no-repeat;
	height: 100%;
	width: 7px;
	display: inline-block;
	position: absolute;
}
.menu .dc img.right {
	background-position: 0 0;
	right: 0;
	top: 0
}
.menu .dc img.left {
	background-position: -35px 0;
	left: 0;
	top: 0
}
.menu .cn .shadow-image.right {
	background-position: -14px 0;
	right: 0;
	top: 0
}
.menu .cn img.left {
	background-position: -7px 0;
	left: 0;
	top: 0
}
.menu .nn img.right {
	background-position: -28px 0;
	right: 0;
	top: 0
}
.menu .nn img.left {
	background-position: -35px 0;
	left: 0;
	top: 0
}
.menu .cnn .shadow-image.right {
	background-position: -28px 0;
	right: 0;
	top: 0
}
.menu .cnn .shadow-image.left {
	background-position: -21px 0;
	left: 0;
	top: 0
}
.menu .nl .shadow-image.right {
	background-position: 0 0;
	right: 0;
	top: 0
}
.menu .nl .shadow-image.left {
	background-position: -35px 0;
	left: 0;
	top: 0
}
.menu .cnl img.left {
	background-position: -20px 0;
	left: 0;
	top: 0
}
.menu .dd img.left {
	background-position: -35px 0;
	left: 0;
	top: 0
}
.menu .dd img.right {
	background-position: -28px 0;
	right: 0;
	top: 0
}
.menu .cl img.left {
	background-position: -20px 0;
	left: 0;
	top: 0
}
.menu .cl img.right {
	background-position: -20px 0;
	right: 0;
	top: 0
}
.cn {
	background: #f2f2f2;
	min-height: 68px;
}
.cnn, .nn, .nl, .nn h5, .cnn h5, .nl h5 {
	color: #bbb;
}
.menu h5 {
	font-size: 14px;
	margin-bottom: 4px;
	text-transform: uppercase;
	color: #849930;
	margin-top: 10px;
	font-weight: bold !important;
}
.dc, .cn, .nn, .nl, .cnl, .cnn, .dd, .cl {
	min-height: 68px;
	padding-left: 25px;
}
.dc.first, .cn.first {
	padding-left: 20px;
}
.txtHolder {
	min-height: auto !important;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 0px solid #003a5d;
	margin-left: -20px;
	float: left;
	padding-left: 20px;
}

/* Header tab css ends */

.ing-bg-color {
	background: #e8e8e8;
}
.accordionHeader > a {
	background: #A8A8A8;
	color: white;
	cursor: pointer;
}

.accordionHeader > a:after {
	content: '-';
	font-size: 26px;
	color: white;
	position: absolute;
	top: 0;
	right: 10px;
}

.accordionHeader > a.collapsed {
	background: #767676;
	position: relative;
}

.need-help-block {
	background: #FF6200;
	position: relative;
}
.accordionHeader > a.collapsed:after {
	content: '+';
	font-size: 26px;
	color: white;
	position: absolute;
	top: 0;
	right: 10px;
	line-height: 150%;
}

/* .accordionHeader > a h4 {
	text-transform: none;
} */

.cover-header {
	font-size: 17px;
	font-weight: normal;
	background: #FF6200;
	box-shadow: none;
	color: #fff;
	margin: 0;
	border-radius: .25rem;
	padding: 6px 0;
}

.cover-header .text-md-right {
	font-size: 15px;
}

.cover-amount-holder {
	background: #f2f2f2;
}

.cover-amount-holder p {
	padding: 10px 18px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 0;
}
.cover-amount-holder p.coverval {
	font-size: 16px;
}

.cover-line {
	border-right: 1px solid #d9d9d9;
}
.error {
	color: #ff2626;
	font-size: 12px;
	font-weight: bold;
}
.row.has-error, .has-error {
	background: #ffd8d9;
	margin-top: 5px;
	margin-bottom: 5px;
}
.ingd-scrollbox {
	width: 100%;
	height: 220px;
	padding: 10px 15px;
	overflow-y: auto;
	border: 1px solid #CCC;
}

#body-mask {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.3;
	background: #fff;	
}

.body-mask-loader {
	margin-top: -40px;
    margin-left: -40px;
    top: 50%;
    left: 50%;
    position: fixed;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #FF6200; /* ING color */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.saved-app-modal .grid {
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9
}
.saved-app-modal .grid td {
	text-align: center;
	padding: 18px 0;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9
}
.saved-app-modal .grid .saved-table-head {
	text-align: center;
	padding: 2px 0;
	border-right: 1px solid #d9d9d9;
}
.saved-app-modal .grid td a {
	font-weight: bold
}

.saved-app-modal .grid th h6{
	line-height: 30px;
}

.saved-app-modal .saved-table-head {
	background: #f2f2f2;
}

.deffer-cursor {
	pointer-events: none;
}
/* Vamshi changes end */

.ingdRadioInput{
	display: block !important;
    width: 100% !important;
    opacity: 0 !important;
    position: absolute !important;
    cursor:pointer;
}

.ingdCheckBoxInput{
	display: block !important;
    width: 100% !important;
    opacity: 0 !important;
    position: absolute !important;
    cursor:pointer;
    top: 0;
    left: 0;
    height: 100% !important;
}

/* aura CSS fix */

.metlife-btn-aura.active {
    background: #FF6200;
    box-shadow: none;
}

.aura-level-1 {
    margin-left: 30px;
}

.aura-level-2, .aura-level-3 {
    margin-left: 15px;
}

.aura-row-style{
	padding: 10px 15px 15px;
}

/* aura CSS fix  end*/

.borderright {
    border-right: 1px solid #d9d9d9;
}

.coverbg {
    background: #f2f2f2;
}

.decision h5 {
    text-transform: uppercase;
    font-weight: bold;
    color: #003b5d;
    font-size: 12px;
}
.coverbg h5 {
	line-height: 30px;
}

.aligncenter {
    text-align: center !important;
}

.ingdLinks{
	color : rgba(0,0,0,.5);
}

.ingdLinks:hover{
	color : rgba(0,0,0,.7);
}

.ingdLinks:visited{
	color : rgba(0,0,0,.5);
}

.savedApps a{
	text-decoration: underline !important;
	cursor:pointer;
}

.auraBtnHeight{
	height:55px;
}

.ieboxContent{
	position:absolute;
	top:20%;
	left:25%	
}

.iedisplayBlock{
	display : block;
}

.footertext{
	text-align: justify !important;
    font-size: 12px;
}
@media (max-width: 1199px) {
	.ieboxContent{
		left:20%	
	}
}
@media (max-width: 990px) {
	.ieboxContent{
		left:12%	
	}
}
/*----------------------for tablet------------------------*/
@media (max-width: 767px) {
	.change-cover-tile {
		border-bottom: 4px solid #e8e8e8;
	}
	.cover-line {
		border-right: 0;
	}
	.ieboxContent{
		left:25%	
	}
}

@media (min-width: 576px) and (max-width: 991.98px) {
	.ing-heading {
		font-size: 15px;
	}
}

/* phone */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-width : 320px) and (max-device-width : 568px) and (min-device-pixel-ratio : 1.5), only screen and (min-device-width : 320px) and (max-device-width : 568px), only screen and (min-width : 320px) and (max-width : 568px), only screen and (max-width: 320px) {
	.ieboxContent{
		left:17%	
	}
	.ingd-error-section .icohelp{
		top: -128px !important;
		right: -20px !important;
	}
	.ingd-section-header div:first-child .ingd-section-title{
		font-size: 13px !important;
	}
	.insurance-calculators{
		border: 0 !important;
	}
	.ingd-card{
		border: 0 !important;
	}
	.ingd-flex-panel .child-flex-box:nth-child(2n){
			border-right: 0 !important;
	}
	/* .ingd-flex-panel .child-flex-box:nth-child(odd){
			border-right: 5px solid #e6e6e6 !important;
	} */
	.ingd-flex-panel .col-12:first-child{
		border: 0;
	}
	/* .ingd-flex-panel .child-flex-box{
		margin-top: 7px;
	} */
	.current-cover-outer-box{
		border: 0 !important;
		margin-bottom: 15px;
	}
	.img-responsive{
		width: 100%;
		margin-top: 45px !important;
	}
	.nav-items{
		border: 0 !important;
		padding: 20px 15px 0 !important;
	}
	.cover-background {
		min-height: auto;
	}
}
@media (min-width: 320px) and (max-width: 467px) {
	.ieboxContent{
		left:5%	
	}
}
/*------------------------------------------end of mobile screen---------------------------------------*/
