<metlife-mtaa-header-nav></metlife-mtaa-header-nav>
<div class="container d-none d-sm-block">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container p-0">
  <div class="menumobile d-block d-sm-none d-flex h-100">
    <div class="col-9">
      <div class="txtHolderMob"><span class="color2">1 / 2</span> Personal details </div>
    </div>
    <div class="col-3"><img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="icoMenuRev"><img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="icoMenuFwd ml30p"></div>
  </div>
  <div class="col-sm-3 fright d-none d-sm-block">
  	<metlife-mtaa-help-block></metlife-mtaa-help-block>
  </div>
  <div class="col-sm-9">
    <div class="menu d-none d-sm-block">
    	<div class="col-sm-4 cn first float-left pt-2">
    		<h5>step 1</h5>
    		<div class="txtHolder">Personal details </div>
    		<img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="right">
    	</div>
    	<div class="col-sm-4 cnn float-left pt-2">
    		<img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="left">
    		<h5>step 2</h5>
    		<div class="txtHolder">Confirmation</div>
    	</div>
    </div>
    
    <!--Duty of Disclosure Section starts	-->
    <div class="accordion" id="accordiondod">
      <div class="card border-0  mt-2">
        <div id="collapseduty">
          <form name="vm.formduty" role="form" autocomplete="off" novalidate>
            <div class="card-body">
              <div class=" col-sm-12">
                <p class="normal" style="text-align: justify; margin-top: 8px;"></p>
                <p><strong class="color">Insured's duty of disclosure</strong></p>
                <div class="scrollBox">
                  <p>A person who enters into a life insurance contract in respect of your life has a duty, before entering into the contract, to tell the Insurer anything that he or she knows, or could reasonably be expected to know, may affect the Insurer's decision to provide the insurance and on what terms.</p>
                  <p>The person entering into the contract has this duty until the Insurer agrees to provide the insurance.</p>
                  <p>The person entering into the contract has the same duty before he or she extends, varies or reinstates the contract.</p>
                  <p>The person entering into the contract does not need to tell the Insurer anything that:</p>
                  <ul class="listing" style="margin: 0 0 10px 30px;">
                    <li>reduces the risk the Insurer insures you for; or</li>
                    <li>is common knowledge; or</li>
                    <li>the Insurer knows or should know as an insurer; or</li>
                    <li>the Insurer waives your duty to tell the Insurer about.</li>
                  </ul>
                  <p>If you do not tell the Insurer something that you know, or could reasonably be expected to know, may affect the Insurer's decision to provide the insurance and on what terms, this may be treated as a failure by the person entering into the contract to tell the Insurer something that he or she must tell the Insurer.</p>
                  <strong class="color">If the person entering the contract does not tell the Insurer something</strong><br>
                  <br>
                  <p>In exercising the following rights, the Insurer may consider whether different types of cover can constitute separate contracts of life insurance. If they do, the Insurer may apply the following rights separately to each type of cover.</p>
                  <p>If the person entering into the contract does not tell the Insurer anything he or she is required to, and the Insurer would not have provided the insurance if he or she had told the Insurer, the Insurer may avoid the contract within 3 years of entering into it.</p>
                  <p>If the Insurer choose not to avoid the contract, the Insurer may, at any time, reduce the amount of insurance provided. This would be worked out using a formula that takes into account the premium that would have been payable if he or she had told the Insurer everything he or she should have. However, if the contract has a surrender value, or provides cover on death, the Insurer may only exercise this right within 3 years of entering into the contract.</p>
                  <p>If the Insurer chooses not to avoid the contract or reduce the amount of insurance provided, the Insurer may, at any time vary the contract in a way that places the Insurer in the same position the Insurer would have been in if he or she had told the Insurer everything he or she should have. However, this right does not apply if the contract has a surrender value or provides cover on death.</p>
                  <p>If the failure to tell the Insurer is fraudulent, the Insurer may refuse to pay a claim and treat the contract as if it never existed.</p>
                </div>
                <div class="row rowcustom" ng-class="{'has-error': (vm.formduty.$submitted && vm.formduty.$invalid) || (vm.formduty.$dirty && vm.formduty.$invalid)}">
                  <p class="spacer">&nbsp;</p>
                  <div class="btn-group-vertical">
                    <button class="btn checkboxes col-12 ack-checkbox-label" id="dodLabel" ng-class="{'active': vm.TPD.dodCheck}" ng-click="vm.checkDodState()">
                    <input  tabindex="0" ng-model="vm.TPD.dodCheck" type="checkbox" id="dodlabelCheck" name="dod" required> 
                    <span></span>
                    <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above.</div>
                    </button>
                    <p ng-if="(vm.formduty.$submitted && vm.formduty.$invalid) || (vm.formduty.$dirty && vm.formduty.$invalid)" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
                    <!-- ngIf: dodFlagErr --> 
                  </div>
                </div>
                <p></p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- </div> --> 
      
      <!--Duty of Disclosure Section starts	--> 
      <!--Privacy Policy Section starts	-->
      <div class="card border-0  mt-2">
      	<div href="#collapseprivacy" class="card-header collapsed" data-toggle="collapse" ng-click="vm.isCollapsible('collapseprivacy', $event)">
      		<a class="card-title">
      			<h4 class="mb-0 float-left">Privacy statement</h4>
      		</a>
      	</div>
      	<div class="overflow-hidden">
	        <div id="collapseprivacy" class="collapse in" style="height: auto;">
	          <form name="vm.transferPrivacyPolicyForm" role="form" novalidate class="ng-pristine ng-valid">
	            <div class="card-body">
	              <div class=" col-sm-12">
	                <p class="normal" style="text-align: justify; margin-top: 8px;"></p>
	                <p><strong>You must read and acknowledge the Privacy Statement before proceeding</strong></p>
	                <div class="scrollBox">
	                   <p><strong>Your privacy with MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife' or the 'Insurer')</strong> <br>
                    If you make a claim under this policy the Insurer may conduct investigations to assess the value and validity of the claim. This may involve the use of investigation agents, legal advisors and the collection of personal data that MetLife believes is relevant. MetLife complies with the Privacy Act 1988 and the principles laid out on their privacy policy, which is readily available on request and also available online at <a href="https://www.metlife.com.au/privacy/" target="_new"><strong class="summary">www.metlife.com.au/privacy </strong></a>.</p>
                  <p><strong>Your privacy as a member of Your Super Fund</strong><br>
                    The information you provide in this form is collected by and held by MTAA Supers administrator, AAS to administer your insurance within your MTAA Super account. If you do not provide the requested information, we may be unable to properly administer your insurance. Your personal and sensitive information will only be disclosed to MTAA Super staff as required, our administrators Link, Metlife Insurance Limited and/or our legal or other professional advisors if reasonably necessary.</p>
                  <p>The MTAA Super Privacy Policy provides information about overseas disclosure of personal information, how you may access and seek correction of your personal information as well as how you can make a complaint about a breach of the Australian Privacy Principles or the Privacy Act 1988. You can access the MTAA Super Privacy Policy at <a href="http://www.mtaasuper.com.au/privacy/" target="_new"><strong class="summary"> http://www.mtaasuper.com.au/privacy/. </strong></a> For all privacy related questions or privacy related matters you can contact MTAA Super on <strong>1300 362 415</strong> or via email at <a href="mailto:contact@mtaasuper.MTAA.com.au" target="_top"><strong class="summary"> contact@mtaasuper.com.au </strong></a></p>
	                </div>
	                <div class="row rowcustom " ng-class="{'has-error':(vm.transferPrivacyPolicyForm.$submitted && vm.transferPrivacyPolicyForm.$invalid) ||  (vm.transferPrivacyPolicyForm.$dirty && vm.transferPrivacyPolicyForm.$invalid)}">
	                  <p class="spacer">&nbsp;</p>
	                  <div class="btn-group-vertical">
	                    <label class="btn checkboxes col-12 ack-checkbox-label" ng-class="{'active': vm.TPD.privacyCheck}" id="privacyLabel" ng-click="vm.checkPrivacyState()">
	                    <input tabindex="1" ng-model="vm.TPD.privacyCheck" type="checkbox" id="privacylabelCheck" name="privacy" required>
	                    <span></span>
	                    <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above</div>
	                    </label>
	                    <p ng-if="(vm.transferPrivacyPolicyForm.$submitted && vm.transferPrivacyPolicyForm.$invalid) ||  (vm.transferPrivacyPolicyForm.$dirty && vm.transferPrivacyPolicyForm.$invalid)" class="error" style="padding-top:5px;">Please acknowledge and consent to the privacy statement.</p>
	                  </div>
	                </div>
	                <p></p>
	              </div>
	            </div>
	          </form>
	        </div>
        </div>
      </div>
      <!--Privacy Policy Section starts	--> 
      
      <!--Contact Details Section starts	--> 
      <!-- <div class="accordion" id="accordionContact"> -->
      <div class="card border-0  mt-2">
        <div href="#PersonalDetailsSection" class="card-header collapsed" data-toggle="collapse" ng-click="vm.isCollapsible('PersonalDetailsSection', $event)">
        	<a class="card-title">
          <h4 class="mb-0 float-left"> Contact details</h4>
          </a> </div>
          <div class="overflow-hidden">
        <div id="PersonalDetailsSection" class="collapse in" style="height: auto;">
          <form name="vm.coverDetailsTransferForm" role="form" novalidate>
            <div class="card-body"> 
              <!-- Row starts -->
              <div class="row rowcustom first">
                <div class="col-sm-12">
                  <label> Please leave your contact details in the event we need to contact you</label>
                </div>
              </div>
              <!-- Row ends -->
              
              <hr class="primeline">
              
              <!-- Row starts -->
              <div class="row rowcustom ">
                <div class="col-md-5 col-sm-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.contactEmail.$invalid && vm.coverDetailsTransferForm.contactEmail.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactEmail.$error.required)}">
                  <label class="control-label"> Email address </label>
                  <input ng-focus="vm.checkPreviousMandatoryFields('contactEmail','coverDetailsTransferForm')" class="form-control" ng-pattern="vm.constants.emailFormat" maxlength="50" name="contactEmail" ng-model="vm.TPD.applicant.emailId"  placeholder="Enter your email" type="email" required>
                  <span ng-if="(vm.coverDetailsTransferForm.contactEmail.$invalid && vm.coverDetailsTransferForm.contactEmail.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactEmail.$error.required) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactEmail.$error.pattern)" class="error">Please enter your email address</span>
                </div>
                <div class="col-md-3 col-sm-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.contactType.$invalid && vm.coverDetailsTransferForm.contactType.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactType.$error.required)}">
                  <label class="control-label">Preferred contact type</label>
                  <div class="select">
                  	<select ng-focus="vm.checkPreviousMandatoryFields('contactType','coverDetailsTransferForm')" name="contactType" class="form-control" ng-model="vm.TPD.applicant.contactDetails.preferedContacType" ng-change="vm.changePrefContactType()" ng-options="contact.value as contact.text for contact in vm.constants.contactTypeOption" required>
                  		<option value="">Please select</option>
                  	</select>
                  	<div class="select__arrow"></div>
                  	<span ng-if="(vm.coverDetailsTransferForm.contactType.$invalid && vm.coverDetailsTransferForm.contactType.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactType.$error.required)" class="error">Please select the Preferred contact type</span>
                  </div>
                </div>
                
                <div class="col-md-4 col-sm-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.contactPhone.$invalid && vm.coverDetailsTransferForm.contactPhone.$touched) || ((vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactPhone.$error.required)  || (vm.coverDetailsTransferForm.contactPhone.$error.pattern))}">
                  <label class="control-label">Preferred contact number</label>
                  <input ng-focus="vm.checkPreviousMandatoryFields('contactPhone','coverDetailsTransferForm')" class="form-control" ng-pattern="vm.constants.phoneNumber"  phone-only id="preferrednumCCId"  maxlength="10"  name="contactPhone" ng-model="vm.TPD.applicant.contactDetails.preferedContactNumber" type="text" placeholder="Enter your Phone No" required>
                  <span ng-if="(vm.coverDetailsTransferForm.contactPhone.$invalid && vm.coverDetailsTransferForm.contactPhone.$touched) || ((vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactPhone.$error.required)  || (vm.coverDetailsTransferForm.contactPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
              	</div>
              </div>
              <!-- Row ends -->
              
              <hr class="primeline">
              
              <!-- Row starts -->
              <div class="row rowcustom">
                <div class="col-sm-6 col-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.contactPrefTime.$error.required && vm.coverDetailsTransferForm.contactPrefTime.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactPrefTime.$error.required )}">
                  <label class="control-label"> What time of day do you prefer to be contacted? </label>
                  <span id="tick 3" style=" visibility:hidden"> <span class="tickforms d-block d-sm-none"></span> <span class="tickforms mrm25px d-none d-sm-block"></span> </span>
                  <div class="btn-group">
                    <div class="col-12 col-lg-6">
                       <label ng-click="vm.checkPreviousMandatoryFields('contactPrefTime','coverDetailsTransferForm')" class="btn radiobutton" ng-class="{'active': (vm.TPD.applicant.contactDetails.preferedContactTime == '1')}">
                         <input checkbox-and-radio-update class="ipradio" name="contactPrefTime" ng-model="vm.TPD.applicant.contactDetails.preferedContactTime" type="radio" value="1" required>
                        <span></span> Morning (9am - 12pm) </label>
                    </div>
                    <div class="col-12 col-lg-6 p0">
                      <label ng-click="vm.checkPreviousMandatoryFields('contactPrefTime','coverDetailsTransferForm')" class="btn radiobutton" ng-class="{'active': (vm.TPD.applicant.contactDetails.preferedContactTime == '2')}">
                        <input checkbox-and-radio-update class="ipradio" name="contactPrefTime" ng-model="vm.TPD.applicant.contactDetails.preferedContactTime" type="radio" value="2" required>
                        <span></span> Afternoon (12pm-6pm) </label>
                    </div>                    
                  </div>
                  <span ng-if="(vm.coverDetailsTransferForm.contactPrefTime.$error.required && vm.coverDetailsTransferForm.contactPrefTime.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
                </div>
                
                <div class="col-sm-6 col-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.gender.$error.required && vm.coverDetailsTransferForm.gender.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.gender.$error.required )}">
                  <label class="control-label"> Sex </label>
                  <div class="btn-group">
                    <div class="col-12 col-md-6">
                      <label ng-click="vm.checkPreviousMandatoryFields('gender','coverDetailsTransferForm')" class="btn radiobutton" ng-class="{'active': (vm.TPD.applicant.gender == 'Male')}">
                        <input checkbox-and-radio-update type="radio" name="gender" class="ipradio" ng-model="vm.TPD.applicant.gender" value="Male" required>
                        <span></span> Male </label>
                    </div>
                    <div class="col-12 col-md-6 p0">
                      <label ng-click="vm.checkPreviousMandatoryFields('gender','coverDetailsTransferForm')" class="btn radiobutton" ng-class="{'active': (vm.TPD.applicant.gender == 'Female')}">
                        <input checkbox-and-radio-update type="radio" name="gender" class="ipradio" ng-model="vm.TPD.applicant.gender" value="Female" required>
                        <span></span> Female </label>
                    </div>                    
                  </div>
                  <span class="error" ng-if="(vm.coverDetailsTransferForm.gender.$error.required && vm.coverDetailsTransferForm.gender.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.gender.$error.required )">Please select Sex</span>
                </div>
              </div>
              <!-- Row ends -->
              
          </form>
        </div>
        </div>
      </div></div>
      <!-- Contact Details Section ends --> 
      
      <!-- Occupation section starts -->
      <div class="card border-0  mt-2">
        <div href="#OccupationSection" class="card-header collapsed" data-toggle="collapse" ng-click="vm.isCollapsible('OccupationSection', $event)">
        	<a class="card-title">
          <h4 class="mb-0 float-left">Occupation</h4>
          </a> </div>
          <div class="overflow-hidden">
        <div id="OccupationSection" class="collapse in" style="height: auto;">
          <form name="vm.occupationDetailsTransferForm" id="occupFormId" novalidate role="form">
            <div class="card-body"> 
              <!-- Row starts -->
              <div class="row rowcustom" ng-class="{'has-error':(vm.occupationDetailsTransferForm.fifteenHrsQuestion.$error.required && vm.occupationDetailsTransferForm.fifteenHrsQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.fifteenHrsQuestion.$error.required )}">
                <div class="col-12 col-sm-6">
                  <label class="control-label">Do you work 15 or more hours per week? </label>
                  <div class="btn-group">
                    <div class="col-12 col-md-6">
                      <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('fifteenHrsQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.workHours == 'Yes')}">
                      <input checkbox-and-radio-update type="radio" name="fifteenHrsQuestion"  class="ipradio" ng-model="vm.TPD.applicant.workHours" type="radio" value="Yes" ng-change="vm.renderOccupationQuestions()" required>
                      <span></span>Yes</label>
                    </div>
                    <div class="col-12 col-md-6">
                      <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('fifteenHrsQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.workHours == 'No')}">
                      <input checkbox-and-radio-update type="radio" name="fifteenHrsQuestion"  class="ipradio" ng-model="vm.TPD.applicant.workHours" type="radio" value="No" ng-change="vm.toggleIPCondition()" required>
                      <span></span> No
                    </label>
                    </div>
                  </div>
                   <span class="error" ng-if="(vm.occupationDetailsTransferForm.fifteenHrsQuestion.$error.required && vm.occupationDetailsTransferForm.fifteenHrsQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.fifteenHrsQuestion.$error.required )">Please select Yes or No</span>
                </div>
              </div>
              
              <hr class="primeline">
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.ownBusinessQue.$error.required && vm.occupationDetailsTransferForm.ownBusinessQue.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.ownBusinessQue.$error.required )}">
	              <div class="col-sm-12">
	                <label class="control-label">Do you, directly or indirectly, own all or part of a business from which you earn your regular income?</label>
	              </div>
	              <!-- Row starts -->
	              <div class="row rowcustom">
	                <div class="col-sm-6 col-12">
	                  <div class="btn-group">
	                  <div class="col-12 col-md-6">
	                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('ownBusinessQue','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.ownBusinessQue == 'Yes')}">
	                      <input checkbox-and-radio-update name="ownBusinessQue" class="ipradio" ng-model="vm.TPD.applicant.ownBusinessQue" type="radio" value="Yes" required>
	                      <span></span>Yes</label>
	                  </div>
	                  <div class="col-12 col-md-6">
	                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('ownBusinessQue','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.ownBusinessQue == 'No')}">
	                      <input checkbox-and-radio-update name="ownBusinessQue" class="ipradio" ng-model="vm.TPD.applicant.ownBusinessQue" type="radio" value="No" required>
	                      <span></span> No </label>
	                  </div>
	                </div>
	                  <span class="error" ng-if="(vm.occupationDetailsTransferForm.ownBusinessQue.$error.required && vm.occupationDetailsTransferForm.ownBusinessQue.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.ownBusinessQue.$error.required )">Please select Yes or No</span>
	                </div>
	              </div>
	          </div>
              
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.ownBusinessYesQue.$error.required && vm.occupationDetailsTransferForm.ownBusinessYesQue.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.ownBusinessYesQue.$error.required )}" ng-if="vm.TPD.applicant.ownBusinessQue == 'Yes'">
	              <hr class="primeline">
              <div class="col-sm-12">
                <label class="control-label">
                	Are you currently: <br>
                	<li>Capable of, and performing all of the usual identifiable duties from your occupation, without restriction due to injury or illness?</li>
                </label>
              </div>
              <!-- Row starts -->
              <div class="row rowcustom">
                <div class="col-sm-6 col-12">
                  <div class="btn-group">
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('ownBusinessYesQue','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.ownBusinessYesQue == 'Yes')}">
                      <input checkbox-and-radio-update name="ownBusinessYesQue" class="ipradio" ng-model="vm.TPD.applicant.ownBusinessYesQue" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('ownBusinessYesQue','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.ownBusinessYesQue == 'No')}">
                      <input checkbox-and-radio-update name="ownBusinessYesQue" class="ipradio" ng-model="vm.TPD.applicant.ownBusinessYesQue" type="radio" value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                  <span class="error" ng-if="(vm.occupationDetailsTransferForm.ownBusinessYesQue.$error.required && vm.occupationDetailsTransferForm.ownBusinessYesQue.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.ownBusinessYesQue.$error.required )">Please select Yes or No</span>
                </div>
              </div>
              </div>
              
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.ownBusinessNoQue.$error.required && vm.occupationDetailsTransferForm.ownBusinessNoQue.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.ownBusinessNoQue.$error.required )}" ng-if="vm.TPD.applicant.ownBusinessQue == 'No'">
	              <hr class="primeline">
              <div class="col-sm-12">
                <label class="control-label">
                	With your current job, are you currently: <br>
					<li>Actively Performing all your normal duties of your occupation; and</li>
					<li>Working your usual hours without limitation of injury or illness; and</li>
					<li>Not entitled to, or not receiving any income support benefits of any kind.</li>
			</label>
              </div>
              <!-- Row starts -->
              <div class="row rowcustom">
                <div class="col-sm-6 col-12">
                  <div class="btn-group">
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('ownBusinessNoQue','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.ownBusinessNoQue == 'Yes')}">
                      <input checkbox-and-radio-update name="ownBusinessNoQue" class="ipradio" ng-model="vm.TPD.applicant.ownBusinessNoQue" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('ownBusinessNoQue','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.ownBusinessNoQue == 'No')}">
                      <input checkbox-and-radio-update name="ownBusinessNoQue" class="ipradio" ng-model="vm.TPD.applicant.ownBusinessNoQue" type="radio" value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                  <span class="error" ng-if="(vm.occupationDetailsTransferForm.ownBusinessNoQue.$error.required && vm.occupationDetailsTransferForm.ownBusinessNoQue.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.ownBusinessNoQue.$error.required )">Please select Yes or No</span>
                </div>
              </div>
              </div>
             
              

              <hr class="primeline">
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.areyouperCitzQuestion.$error.required && vm.occupationDetailsTransferForm.areyouperCitzQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.areyouperCitzQuestion.$error.required )}">
	              <div class="col-sm-12">
	                <label class="control-label">Are you either a permanent resident of Australia or a New Zealand citizen residing in Australia under a Special Category Visa?</label>
	              </div>
              
	              <div class="row rowcustom">
	                <div class="col-sm-6 col-12">
	                  <div class="btn-group">
	                  <div class="col-12 col-md-6">
	                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('areyouperCitzQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.australiaCitizenship == 'Yes')}">
	                      <input checkbox-and-radio-update name="areyouperCitzQuestion" class="ipradio" ng-model="vm.TPD.applicant.australiaCitizenship" type="radio" value="Yes" required>
	                      <span></span>Yes</label>
	                  </div>
	                  <div class="col-12 col-md-6">
	                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('areyouperCitzQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.australiaCitizenship == 'No')}">
	                      <input checkbox-and-radio-update name="areyouperCitzQuestion" class="ipradio" ng-model="vm.TPD.applicant.australiaCitizenship" type="radio" value="No" required>
	                      <span></span> No </label>
	                  </div>
	                </div>
	                  <span class="error" ng-if="(vm.occupationDetailsTransferForm.areyouperCitzQuestion.$error.required && vm.occupationDetailsTransferForm.areyouperCitzQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.areyouperCitzQuestion.$error.required )">Please select Yes or No</span>
	                </div>
	              </div>
              </div>
            
              
              <hr class="primeline">
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.industry.$error.required && vm.occupationDetailsTransferForm.industry.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.industry.$error.required )}">
	              <div class="col-12 ">
	                <label class="control-label"> What industry do you work in?</label>
	              </div>
	              <div class="row rowcustom">
	                <div class="col-12 ">
	                  <div class="select">
	                    <select class="form-control" ng-focus="vm.checkPreviousMandatoryFields('industry','occupationDetailsTransferForm')" name="industry" ng-class="(vm.occupationDetailsTransferForm.industry.$error.required && vm.occupationDetailsTransferForm.industry.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.industry.$error.required)	? 'error-border':''" ng-model="vm.TPD.applicant.industryType" ng-change="vm.getOccupations()" required>
	                      <option value="">Please select...</option>
	                      <option ng-repeat="industry in vm.IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
	                    </select>
	                    <div class="select__arrow"></div>
	                  </div>
	                   <span class="error" ng-if="(vm.occupationDetailsTransferForm.industry.$error.required && vm.occupationDetailsTransferForm.industry.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.industry.$error.required )">Please select the industry type.</span>
	                </div>
	              </div>
	         </div>
              
              <hr class="primeline">
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.industry.$error.required && vm.occupationDetailsTransferForm.industry.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.industry.$error.required )}">
	              <div class="col-12">
	                <label class="control-label"> What is your current occupation?</label>
	              </div>
                  <div class="row rowcustom">
	                <div class="col-12 ">
	                  <div class="select">
	                    <select ng-focus="vm.checkPreviousMandatoryFields('occupation','occupationDetailsTransferForm')" class="form-control" name="occupation" ng-class="(vm.occupationDetailsTransferForm.occupation.$error.required && vm.occupationDetailsTransferForm.occupation.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.occupation.$error.required)	? 'error-border':''" ng-model="vm.TPD.applicant.occupation" ng-change="vm.getTransCategoryFromDB(true)"  required>
	                      <option value="">Please select...</option>
	                      <option ng-repeat="occupation in vm.OccupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
	                    </select>
	                    <div class="select__arrow"></div>
	                  </div>
	                  <span class="error" ng-if="(vm.occupationDetailsTransferForm.occupation.$error.required && vm.occupationDetailsTransferForm.occupation.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.occupation.$error.required )">Select the occupation which best best matches with your current occupation.</span>
	                  <label class="control-label">If you do not select an occupation from the occupations listed, your premiums will be shown at standard rates.</label>
	                </div>
	              </div>
	           </div>
	           
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.otherOccupation.$invalid && vm.occupationDetailsTransferForm.otherOccupation.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.otherOccupation.$error.required)}" ng-if="vm.TPD.applicant.occupation =='Other'">
	             <hr class="primeline">
	             <div class="row rowcustom">
	              <div class="col-sm-5" >
	                <label class="control-label">  Please enter your occupation  </label>
	              </div>
	              <div class="col-sm-7 col-12">              
	                <input class="form-control" ng-focus="vm.checkPreviousMandatoryFields('otherOccupation','occupationDetailsTransferForm')" maxlength="150" name="otherOccupation" ng-class = "(vm.occupationDetailsTransferForm.otherOccupation.$invalid && vm.occupationDetailsTransferForm.otherOccupation.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.otherOccupation.$error.required)  ? 'error-border':''" ng-model="vm.TPD.applicant.otherOccupation" type="text" placeholder="Enter your occupation" uib-typeahead="occupationList as occupationList for occupationList in vm.getOtherOccupationAS($viewValue)"  ng-blur="vm.getCategoryFromDB(true)" required>
	                <span ng-if="(vm.occupationDetailsTransferForm.otherOccupation.$invalid && vm.occupationDetailsTransferForm.otherOccupation.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.otherOccupation.$error.required) " class="error">Please enter your occupation</span>
	                <!-- <span ng-if="noResults && occupationList.length>0" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true"> <ul style="list-style: none;" class="uib-dropdown-menu" > <li><a href  ng-click="!noResults">No records found</a></li></ul></span> -->                
	              </div>
	           </div>
	          </div>
              <!-- Row ends -->
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.hazardousQuestion.$error.required && vm.occupationDetailsTransferForm.hazardousQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.hazardousQuestion.$error.required )}" ng-if="vm.showHazardousTransferQuestion">
            <hr class="primeline">
             <div class="row rowcustom">
              <div class="col-sm-12">
                <label class="control-label">  Do you work in a hazardous environment and/or perform any duties of a manual nature? </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms d-block d-sm-none"></span><span class="tickforms mrm25px d-none d-sm-block"></span></span> --> </div>
              <div class="col-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('hazardousQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.workDuties == 'Yes')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option1" name="hazardousQuestion" ng-model="vm.TPD.applicant.workDuties" ng-change="vm.renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('hazardousQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.workDuties == 'No')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option2" name="hazardousQuestion" ng-model="vm.TPD.applicant.workDuties" ng-change="vm.renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(vm.occupationDetailsTransferForm.hazardousQuestion.$error.required && vm.occupationDetailsTransferForm.hazardousQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.hazardousQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>

            <div ng-if="vm.showOutsideOffice" ng-class="{'has-error':(vm.occupationDetailsTransferForm.outsideOffice.$error.required && vm.occupationDetailsTransferForm.outsideOffice.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.outsideOffice.$error.required )}">
                <hr class="primeline">
                <div class="row rowcustom">
              <div class="col-sm-12">
                <label class="control-label"> Do you spend more than 20% of your working time outside of an office environment? </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms d-block d-sm-none"></span><span class="tickforms mrm25px d-none d-sm-block"></span></span> --> </div>
              <div class="col-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('outsideOffice','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.spendTimeOutside == 'Yes')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option1" name="outsideOffice" ng-model="vm.TPD.applicant.spendTimeOutside" ng-change="vm.renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('outsideOffice','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.spendTimeOutside == 'No')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option2" name="outsideOffice" ng-model="vm.TPD.applicant.spendTimeOutside" ng-change="vm.renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(vm.occupationDetailsTransferForm.outsideOffice.$error.required && vm.occupationDetailsTransferForm.outsideOffice.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.outsideOffice.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>
              <!-- Row ends -->
              <!-- Row ends -->
              <div ng-if="vm.showWithinOfficeTransferQuestion" ng-class="{'has-error':(vm.occupationForm.withinOfficeQuestion.$error.required && vm.occupationForm.withinOfficeQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.withinOfficeQuestion.$error.required )}">
                <hr class="primeline">
                <div class="row rowcustom">
                  <div class="col-12 col-sm-11">
                    <label class="control-label">
                    <p align="justify">Are your duties entirely undertaken within an office environment?
                    <p></p>
                    </p>
                    </label>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="btn-group">
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('withinOfficeQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.occupationDuties == 'Yes')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option1" name="withinOfficeQuestion" ng-model="vm.TPD.applicant.occupationDuties" ng-change="vm.renderOccupationQuestions()" value="Yes" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('withinOfficeQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.occupationDuties == 'No')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option2" name="withinOfficeQuestion" ng-model="vm.TPD.applicant.occupationDuties" ng-change="vm.renderOccupationQuestions()"  value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                    <span class="error" ng-if="(vm.occupationDetailsTransferForm.withinOfficeQuestion.$error.required && vm.occupationDetailsTransferForm.withinOfficeQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.withinOfficeQuestion.$error.required )">Please select Yes or No</span>
                  </div>
                </div>
              </div>
              
              <div ng-if="vm.showTertiaryTransferQuestion" ng-class="{'has-error':(vm.occupationDetailsTransferForm.tertiaryQuestion.$error.required && vm.occupationDetailsTransferForm.tertiaryQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.tertiaryQuestion.$error.required )}">
                <hr class="primeline">
                <div class="row rowcustom">
                  <div class="col-12 col-sm-11">
                    <label class="control-label">Do you hold a tertiary qualification relevant to your current occupation or are you a member of a professional body relevant to your current occupation or a member of your organisation's senior management team?</label>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="btn-group">
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('tertiaryQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.tertiaryQue == 'Yes')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option1" name="tertiaryQuestion" ng-model="vm.TPD.applicant.tertiaryQue" ng-change="vm.renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('tertiaryQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.tertiaryQue == 'No')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option2" name="tertiaryQuestion" ng-model="vm.TPD.applicant.tertiaryQue" ng-change="vm.renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                    <span class="error" ng-if="(vm.occupationDetailsTransferForm.tertiaryQuestion.$error.required && vm.occupationDetailsTransferForm.tertiaryQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.tertiaryQuestion.$error.required )">Please select Yes or No</span>
                  </div>
                </div>
              </div>
              
              <hr class="primeline">
              <div class="row rowcustom" ng-class="{'has-error':(vm.occupationDetailsTransferForm.annualSalary.$invalid && vm.occupationDetailsTransferForm.annualSalary.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.annualSalary.$invalid ) || invalidSalAmount}">
                <div class="col-sm-4 col-12">
                  <label class="control-label">What is your annual salary?</label>
                </div>
                <div class="col-sm-4 col-12">
                  <input ng-focus="vm.checkPreviousMandatoryFields('annualSalary','occupationDetailsTransferForm')" ng-blur="vm.checkValidSalary()" type="text" id="annualSalCCId" format="number" numbers-only name="annualSalary" maxlength="9" class="form-control dollar" ng-model="vm.TPD.applicant.annualSalary" required>
              	  <span class="error" ng-if="(vm.occupationDetailsTransferForm.annualSalary.$invalid && vm.occupationDetailsTransferForm.annualSalary.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.annualSalary.$invalid )">Please enter your Annual Salary</span>
                  <span class="error" ng-if="vm.invalidSalAmount">Please enter a valid annual salary</span>
                  <label>Insert gross salary (i.e.your salary before tax)</label>
                </div>
              </div>
              
              
              <hr class=" primeline">
              
              <div class="row rowcustom">
              	<div class="col-sm-4">
              		<label>Display the cost of my insurance cover as <a class="icohelp"	ng-click="vm.clickToOpen('Select weekly, monthly or yearly premium frequency')"></a></label>
                  </div>
                  
                  <div class="col-sm-8">
                  	<select  ng-click="vm.checkPreviousMandatoryFields('premTransFreq','occupationDetailsTransferForm')" class="form-control" name="premTransFreq" id="coverId"  ng-change="vm.autoCalculate()"  ng-model="vm.TPD.applicant.cover[0].frequencyCostType" ng-options="premiumFrequencyOption for premiumFrequencyOption in vm.premiumFrequencyOptions track by premiumFrequencyOption">
                    </select>
                   </div>
                  </div>
                  </div>
              
            </div>
          </form>
          <!-- Row ends --> 
        </div></div>
      </div>
      <!--Occupation section ends	--> 
      <div class="card border-0  mt-2">
      	<div href="#ConvertCoverSection" class="card-header collapsed" data-toggle="collapse" ng-click="vm.isCollapsible('ConvertCoverSection', $event)">
      		<a class="card-title">
      			<h4 class="mb-0 float-left">CONVERT AND MAINTAIN TO FIXED COVER</h4>
      		</a>
      	</div>
      	<div class="overflow-hidden">
      		<div id="ConvertCoverSection" class="collapse in" style="height: auto;">
      			<div class="card-body">
      				<form autocomplete="off" name="vm.convertCover" novalidate role="form">
      					
      					<!-- death start -->
      		
			      		<div class="btn-group-horizontal heading">
			      			<div class="row rowcustom">
			      				<div class="col-sm-12 checkboxes1">
			      					<label class="active checkboxes btn" id="deathsection">
			      						<p class="col2 m0 ">Death</p>
			      						<p class="col2 m0 alignright normal">Existing cover {{vm.TPD.applicant.cover[0].existingCoverAmount | currency:undefined:0}} ({{vm.TPD.applicant.cover[0].fixedUnit}} Unit(s)) &nbsp;&nbsp;</p>
			      					</label>
			      				</div>
			      			</div>
			      		</div>
			      		
			      		<div id="death">
			      			<div class="row  coverbg">
			      				<div class="col-sm-2 col-6">
			      					<h5>Cover amount</h5>
			      				</div>
			      				<div class="col-sm-4 alignright borderright col-6">
			      					<h4 class="coverval">{{vm.TPD.applicant.cover[0].additionalCoverAmount | currency}}</h4>
			      				</div>
			      				<div class="line mob"></div>
			      				<div class="col-sm-3 col-6">
			      					<h5>{{vm.TPD.applicant.cover[0].frequencyCostType}} cost</h5>
			      				</div>
			      				<div class="col-sm-3 alignright col-6">
			      					<h4 class="coverval">{{vm.TPD.applicant.cover[0].cost | currency}}</h4>
			      				</div>
			      			</div>
			      		</div>
			      		
			      		<!-- death end -->
			      		
			      		
			      		<!-- tpd start -->
			      		
			      		<div class="btn-group-horizontal heading">
			      			<div class="row rowcustom">
			      				<div class="col-sm-12 checkboxes1">
			      					<label class="active checkboxes btn" id="TPDsection">
			      						<p class="col2 m0 ">Total &amp; Permanent Disablement</p>
			      						<p class="col2 m0 alignright normal">Existing cover {{vm.TPD.applicant.cover[1].existingCoverAmount | currency:undefined:0}} ({{vm.TPD.applicant.cover[1].fixedUnit}} Unit(s)) &nbsp;&nbsp;</p>
			      					</label>
			      				</div>
			      			</div>
			      		</div>
			      		
			      		<div id="tpd">
			      			<div class="row  coverbg">
			      				<div class="col-sm-2 col-6">
			      					<h5>Cover amount</h5>
			      				</div>
			      				<div class="col-sm-4 alignright borderright col-6">
			      					<h4 class="coverval">{{vm.TPD.applicant.cover[1].additionalCoverAmount | currency}}</h4>
			      				</div>
			      				<div class="line mob"></div>
			      				<div class="col-sm-3 col-6">
			      					<h5>{{vm.TPD.applicant.cover[0].frequencyCostType}} cost</h5>
			      				</div>
			      				<div class="col-sm-3 alignright col-6">
			      					<h4 class="coverval">{{vm.TPD.applicant.cover[1].cost | currency}}</h4>
			      				</div>
			      			</div>
			      		</div>
			      		
			      		<!-- tpd end -->
			      		
			      		<div class="row  coverbg seccolor">
			      			<div class="col-sm-3 d-none d-sm-block">
			      				<h5>&nbsp;</h5>
			      			</div>
			      			
			      			<div class="col-sm-3 alignright borderright  d-none d-sm-block">
			      				<h4 class="coverval">&nbsp; </h4>
			      			</div>
			      			
			      			<div class="col-sm-4 col-10 d-none d-sm-block">
			      				<h5 class="coverval"> Total {{vm.TPD.applicant.cover[0].frequencyCostType}} cost</h5>
			      			</div>
			      			
			      			<div class="col-sm-4 col-10 d-block d-sm-none">
			      				<h4 class="coverval" style="padding-left:9px;"> Total {{vm.TPD.applicant.cover[0].frequencyCostType}} cost</h4>
			      			</div>
			      			
			      			<div class="col-sm-2 col-12 alignright d-none d-sm-block">
			      				<h4 class="coverval">{{vm.premiumDeathTPD | currency}}</h4>
			      			</div>
			      			
			      			<div class="col-sm-3 col-3 alignright d-block d-sm-none">
			      				<h5 class="coverval" style="padding-left:9px;">{{vm.premiumDeathTPD | currency}}</h5>
			      			</div>
			      		</div>
      				</form>
      				
      				<p class="spacer">&nbsp;</p>
      				<p class="spacer">&nbsp;</p>
      				
      				<div class="p-3"> 
      					<div class="col-xs-12">
      						<p class="note">
      							<strong>Disclaimer: </strong>
      						</p>
      						<p style="text-align:left;">  This represents the total cost of the cover you have applied for based on your occupation rating. This amount does not take into account any premium loading which may apply to your existing cover. The final cost of your total insurance cover will be notified to you in writing by MTAA Super.</p>
      					</div>
      				</div>
      				
      				<p class="spacer">&nbsp;</p>
      				
      				<div class="row rowcustom">      				
      					<p class="spacer d-block d-sm-none">&nbsp;</p>
	      				<div class="col-sm-4 col-12">
	      					<button type="button" class="btn btn-primary w100p" ng-click="vm.continueToNextPage()" >Continue </button>
	      				</div>
      				</div>
      			</div>          
      		</div>
      	</div>
      </div>
      
      </div>
     </div>
     
    <div class="row mt20">
      <div class=" col-12 d-block d-sm-none">
      	<metlife-mtaa-help-block></metlife-mtaa-help-block>
      </div>
    </div>
  </div>