<metlife-mtaa-header-nav></metlife-mtaa-header-nav>
<div class="container d-none d-sm-block">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container p-0">
	<div class="col-sm-3 fright d-none d-sm-block">
		<metlife-mtaa-help-block></metlife-mtaa-help-block>
	</div>
	<div class="col-sm-9">
	<div class="accordion">
		<div class="card border-0 mt-2">
			<div class="card-header" data-toggle="collapse">
				<a class="card-title noarrow">
					<h4 class="mb-0 float-left">REQUEST SUBMITTED</h4>
				</a>
			</div>
			<div class="overflow-hidden">
				<div id="collapseOne" class="collapse in">
					<div class="card-body pb0">
						<div class="row rowcustom">
							<div class=" col-sm-12">
								<p align="justify">
									Thank you for your application to modify your insurance cover. 
									<br><br>
									You will be contacted shortly with a confirmation of the changes you've requested to your insurance cover.
									<br><br>
									If you require any further information or assistance, please contact <strong>MTAA Super</strong> on <strong>1300 362 415</strong>.
								</p>
							</div>
						</div>
						<div class="row">
							<div class=" col-sm-6 text-center coverbg borderright ">
								<h5 class="mb0">Application number</h5>
								<p>{{vm.appNum}}</p>
							</div>
							<div class=" col-sm-6 text-center coverbg">
								<h5 class="mb0">Application</h5>
								<p>
									<span class="icoDoc"></span>
									<a href="" ng-click="vm.downloadPDF()"> <strong>Download </strong></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="row mt20px">
		<div class="col-12 d-block d-sm-none">
			<metlife-mtaa-help-block></metlife-mtaa-help-block>
		</div>
	</div>
</div>