<!DOCTYPE html>
<html lang="en">

<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/firstsuper/header.html'"></div>
</div>

<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container aura">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">2 / 3</span> Health &amp; lifestyle </div>
    </div>
    <div class="col-xs-3"> <img src="static/firstsuper/images/bg_blank.png" ng-click="go('quoteoccchange/2')" class=" icoMenuRev active  "> <img src="static/firstsuper/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
     <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 360 988</h3>
      <h3 class="helpNo"> </h3>
    </div>
  </div>
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-4 dc first pointer" ng-click="go('/quoteoccchange/2')">
        <h5 style="color:#0066a1">Step 1</h5>
        <div class="txtHolder pointer"> <a href="#" class="ui-link">Personal details</a></div>
        <img src="static/firstsuper/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 cn"> <img src="static/firstsuper/images/bg_blank.png" class=" left">
        <h5>Step 2</h5>
        <div class="txtHolder"> Health &amp; lifestyle</div>
        <img src="static/firstsuper/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 cnn">
        <h5>Step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="static/firstsuper/images/bg_blank.png" class=" left"> </div>
    </div>
    <div class="panel-group" id=" ">

      <div class="panel panel-default" ng-if="auraResponseDataList">
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="   ">
          <h4 class="panel-title" ng-bind="sectionname"></h4>
          </a> </div>
        <div id="collapseOne" class="panel-collapse collapse  in   ">
          <div class="panel-body">

				<div ng-repeat="x in auraResponseDataList">
				 	 <div class="row rowcustom" ng-if="x.classType=='RadioQuestion'" ng-class="{'has-error':x.error}">
				 	<div class="col-sm-12 col-xs-12  ">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
                 	<div class="col-sm-12 col-xs-12">
                 		<div onclick="visible('tick3')" data-toggle="buttons" class="btn-group">
                 			<div ng-repeat="y in x.auraAnswer">
                 				
                 				<div ng-if="$first" ng-click="updateRadio(y.answerValue,x)">
                 					<div class="col-sm-3 pl0 col-xs-12">
	                    				<label class="btn  radiobutton "  ng-class="{'active': (x.answerTest == 'Yes')}">
	                      					<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
	                      					<span></span>{{y.answerText}}
	                      				</label>
	                      			</div>
                      			</div>
                      			
                      			<div ng-if="!$first" ng-click="updateRadio(y.answerValue,x)">
                      				<div class="col-sm-3 col-xs-12 pl0xs">
	                    				<label class="btn  radiobutton" ng-class="{'active': (x.answerTest == 'No')}">
	                      					<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
	                      					<span></span> {{y.answerText}} 
	                      				</label>
	                      			</div>
                      			</div>
                      		</div>
                      	</div>
                    </div>
					    <div ng-if="x.error" class="col-sm-12  col-xs-12  fright error"> Please select an answer <br>
                			<br>
              			</div>
					 </div>
					  <hr class="primeline">
				</div>
         

            <div class=" row rowcustom" >


			<div class="col-sm-4 col-xs-12">
				<a class="" href="" data-parent="#accordion" data-toggle="collapse">
					<button  class="btn btn-primary btn-back w100p" type="button"  ng-click="go('/quoteoccchange/2')">Previous</button>
				</a>
			</div>
			<p class="spacer visible-xs">&nbsp;</p>
			<div class="col-sm-4 col-xs-12">
				<a class=""  data-parent="#accordion" data-toggle="collapse">
					<button  class="btn btn-primary w100p avoid-arrow" type="button" ng-click="saveUpdateAura()" >Save &amp; Exit</button>
				</a>
			</div>
			<p class="spacer visible-xs">&nbsp;</p>
			<div class="col-sm-4 col-xs-12">
				<a class=""  data-parent="#accordion" data-toggle="collapse">
					<button  class="btn btn-primary w100p" type="button" ng-click="proceedNext()">Continue</button>
				</a>
			</div>
                

            </div>
          </div>
        </div>
      </div>





    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
           <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 360 988</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-1   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-4   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://www.firstsuper.com.au/privacy" class="" target="_new">Privacy policy</a>
         | <a href="http://www.firstsuper.com.au/disclaimer" class="" target="_new" >Disclaimer</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> 
     <a href="http://www.firstsuper.com.au/privacy" class="" target="_new">Privacy policy</a>
         | <a href="http://www.firstsuper.com.au/disclaimer" class="" target="_new" >Disclaimer</a> </p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>


