
<div class="c-header">
  <div class="container">
     <div class="col-sm-3 col-xs-6"><img src="static/firstsuper/images/logo.png" class="img-responsive  c-logo" alt="MetLife Australia" /></div>
    <div class="  col-xs-9 hidden-xs  ">
      <div class="logout noborderleft pointer"> <a ng-click="navigateToLandingPage()" >Home</a> </div>
      <div class="logout noborderleft"> <a target="_blank" title="Contact us" href="http://www.firstsuper.com.au/Contact">Contact us</a> </div>
      <div class="logout"> <a target="_blank" title="About us" href="http://www.firstsuper.com.au/Insurance">About us</a> </div>
    </div>
    <div class="col-xs-6 visible-xs text-right">
      <div class="mt25px"><a class="col-xs-12 form-group" target="_blank" title="About us" href="http://www.firstsuper.com.au/Insurance">About us</a>
        <a class="col-xs-12 form-group" target="_blank" title="Contact us" href="http://www.firstsuper.com.au/Contact">Contact us</a><br>
        <a class="col-xs-12 form-group" ng-click="navigateToLandingPage()">Home</a>
       </div>
    </div>
  </div>
</div>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
    <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">1 / 3</span> Personal details </div>
    </div>
    <div class="col-xs-3"> <img src="static/firstsuper/images/bg_blank.png" class=" icoMenuRev  "> <img src="static/firstsuper/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 360 988</h3>
      <h3 class="helpNo"> </h3>
    </div>
  </div>
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-3 cn first">
        <h5>Step 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="static/firstsuper/images/bg_blank.png" class=" right"> </div>

      <div class="col-sm-3 cnn"> <img src="static/firstsuper/images/bg_blank.png" class=" left">
        <h5>Step 2</h5>
        <div class="txtHolder"> Health &amp; lifestyle</div>
        <img src="static/firstsuper/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-3 nl">
        <h5>Step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="static/firstsuper/images/bg_blank.png" class=" left"> </div>
    </div>
    
    <!--Duty of Disclosure Section starts  -->
		<div class="panel-group" >
			<div id="accordiondod" class="panel panel-default">			
				<div id="collapseduty" >
					<form name="formduty" role="form" novalidate>
						<div class="panel-body">
							<div class=" col-sm-12">
									<p><strong>You must click and read the Duty of Disclosure before proceeding</strong></p>
					              <p><strong>NOTICE OF THE DUTY OF DISCLOSURE FROM OUR LIFE INSURER TO YOU</strong></p>
					           		<p><strong>Duty of disclosure </strong></p>
					                <p>A person who enters into a life insurance contract in respect of your life has a duty, before entering into the contract, to tell the insurer anything that he or she knows, or could reasonably be expected to know, which may affect the insurer's decision to provide the insurance and on what terms.</p>
					                <p>The person entering into the contract has this duty until the insurer agrees to provide the insurance.</p>
					                <p>The person entering into the contract has the same duty before he or she extends, varies or reinstates the contract.</p>
					                <p>The person entering into the contract does not need to tell the insurer anything that:</p>
					               		<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
					               			<li>reduces the risk the insurer insures him or her for; or</li>
					               			<li>is common knowledge; or</li>
					               			<li>the insurer knows or should know as an insurer; or</li>
					               			<li>the insurer waives his or her duty to tell them about.</li>
					           			</ul>
					                
					                <p>If the person does not tell the insurer something that he or she knows, or could reasonably be expected to know, this may affect the insurer's decision 
					                    to provide the insurance and on what terms, and may be treated by the insurer as a failure by the person entering into the contract to tell the insurer 
					                    something that he or she must disclose to the insurer.</p>
					                    <p><strong> If the person entering the contract does not tell the insurer something </strong></p>
					                <p>In exercising the following rights, the insurer may consider whether different types of cover can constitute separate contracts of life insurance. If they do, the insurer may apply the following rights separately to each type of cover.</p>
					                <p>If the person entering into the contract does not tell the insurer anything he or she is required to, and the insurer would not have provided the insurance if he or she had disclosed the information, the insurer may avoid the contract within 3 years of entering into it.</p>
					             	<p>If the insurer chooses not to avoid the contract, the insurer may, at any time, reduce the amount of insurance provided. This would be worked out using a formula that takes into account the premium that would have been payable if the person had told the insurer everything he or she should have.</p>
					              	<p>However, if the contract has a surrender value, or provides cover on death, the insurer may only exercise this right within 3 years of entering into the contract.</p>
					            	<p>If the insurer chooses not to avoid the contract or reduce the amount of insurance provided, the insurer may, at any time vary the contract in a way that places the 
					             		insurer in the same position the insurer would have been in if the person had told the insurer everything he or she should have.
					              		However, this right does not apply if the contract has a surrender value or provides cover on death.</p>
					              	<p>If the failure to tell the insurer is fraudulent, the insurer may refuse to pay a claim and treat the contract as if it never existed.</p>
								<div class="row rowcustom " ng-class="{'has-error':dodFlagErr}" >
										<div class="col-sm-12">
											<div class="btn-group-vertical" data-toggle="buttons">
												 <div class=" row rowcustom" >
	                                               <div class="col-sm-12" >
	                                                   <label class="btn checkboxes col-xs-12 ack-checkbox-label" id="dodCkBoxLblId" ng-click="checkDodState()">
	                                                    <input type="checkbox" id="dodlabelCheck" name="dod" required>
	                                                    <span></span> <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above. </div>
	                                                   </label><p ng-if="dodFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
	                                                   
	                                                </div>
												</div>
											</div>
										</div>
									</div>
								<p></p>
							</div>
						</div>
					</form>
				</div>
			</div>

	<!--Duty of Disclosure Section starts  -->
	
    
    <!--Privacy Policy Section starts  -->
		<!-- <div class="panel-group" > -->
			<div id="accordionprivacy" class="panel panel-default">
				<div class="panel-heading" ng-click="isCollapsible('collapseprivacy', $event)">
					<a data-toggle="collapse" data-parent="#accordionprivacy" data-target="#collapseprivacy" class="collapsed">
						<h4 class="panel-title">Privacy statement</h4>
					</a>
				</div>
				<div id="collapseprivacy" class="panel-collapse collapse">

					<form name="lifeEventPrivacyPolicyForm" role="form" novalidate>
						<div class="panel-body">
							<div class=" col-sm-12">
								 <p> <strong>You must click and read the Privacy Statement before proceeding</strong></p>
					               <p class="privacy-text"> <strong> Your privacy with MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife' & the 'Insurer')</strong></p>
					                <p>The personal information you provide in the form is necessary for us to provide you with the products and services you have requested from us, 
					                and to manage your claims. You do not have to provide us with your personal information, but if you do not do so we may not be able to provide you with our 
					                products or services. MetLife Insurance Limited complies with the Privacy Act 1988 and the principles laid out in its privacy policy which details information 
					                about how you may access or seek correction of your personal information, how we manage that information and our complaints process. 
					                MetLife's Privacy Policy is readily available and can be viewed at <a href="http://www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy</a>.
					                </p>
					                <p> <strong>Your privacy as a member of Your Super Fund</strong></p>
					                <p>The information you provide in this form is collected by and held by the fund administrator, in accordance with the Australian Privacy Principles of the 
					                Privacy Act. Such information is usually disclosed to third parties, including the Insurer or medical consultant who may be involved with the assessment of 
					                this application, and is held by Administrator and the Insurer. For more information about privacy, contact Customer Service on 1300 360 988 or visit 
					                <a href="http://www.firstsuper.com.au/privacy" class="" target="_new">www.firstsuper.com.au/privacy</a> to view the privacy policy .
					               </p>
								<div class="row rowcustom " ng-class="{'has-error':privacyFlagErr}" >
										<div class="col-sm-12">
											<div class="btn-group-vertical" data-toggle="buttons">
												 <div class=" row rowcustom" >
	                                               <div class="col-sm-12" >
	                                                   <label class="btn checkboxes col-xs-12 ack-checkbox-label" id="privacyCkBoxLblId" ng-click="checkPrivacyState()">
	                                                    <input type="checkbox" id="privacylabelCheck" name="privacy" required>
	                                                    <span></span><div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above. </div>
	                                                   </label>
	                                                   <p ng-if="privacyFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the privacy Statement.</p>
	                                                   </div>
												</div>
											</div>
										</div>
									</div>
								<p></p>
							</div>
						</div>
					</form>
				</div>
			</div>

		<!--Specific life event Section starts  -->
			<div class="panel panel-default" id="accordionlifeevent" ng-if="privacyFlagErr != null">			
				<div id="collapseduty" >
					<form name="formlife" role="form" novalidate>
						<div class="panel-body">
							<div class=" col-sm-12">
								<p class="normal" style="text-align: justify; margin-top: 8px;">
								</p>
								<p>To make sure your insurance keeps up with you whenever you take a big step forward - like buying a 
								new home or starting a family, you can take advantage of our Specific life events cover. </p>
								<p><strong class="color">How it works</strong> specific life events cover allows you to :</p>
								(1) Increase your unitized cover by one additional unit OR <br>
								(2) Under fixed benefit cover, increase your cover by 25% of your current sum insured upto a maximum $200,000... without the need to complete lengthy paperwork or supply medical information.
								Making the process seamless so you can spend time enjoying the important things in life.
					        </div>
						</div>
					</form>
				</div>
			</div>

        <!--Specific life event Section ends  -->
       <!--Contact Details Section starts  -->
   	<div class="panel panel-default">
        <div class="panel-heading" ng-click="isCollapsible('collapseOne', $event)"> 
          <a data-toggle="collapse" data-parent="accordionContactId" data-target="#collapseOne" class="collapsed">
           <h4 class="panel-title"> Contact details</h4>
          </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
        <form name="contactDetailsLifeEventForm" role="form"  novalidate>
          <div class="panel-body" >
            <!-- Row starts -->
            <div class="row rowcustom first">
              <div class="col-sm-12">
                <label class="control-label"> Please leave your contact details in the event we need to contact you</label>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(contactDetailsLifeEventForm.contactDetailsLifeEventEmail.$invalid && contactDetailsLifeEventForm.contactDetailsLifeEventEmail.$touched) || (contactDetailsLifeEventForm.$submitted && contactDetailsLifeEventForm.contactDetailsLifeEventEmail.$error.required)}">
              <div class="col-sm-5">
                <label class="control-label"> Email address </label>
              </div>
              <div class="col-sm-7 col-xs-12">
                <input class="form-control" ng-pattern="emailFormatLifeEvent" maxlength="50" ng-focus="checkLifeEventFormPreviousMandatoryFields('contactDetailsLifeEventEmail','contactDetailsLifeEventForm')" name="contactDetailsLifeEventEmail" ng-class = "(contactDetailsLifeEventForm.contactDetailsLifeEventEmail.$invalid && contactDetailsLifeEventForm.contactDetailsLifeEventEmail.$touched) || (contactDetailsLifeEventForm.$submitted && contactDetailsLifeEventForm.contactDetailsLifeEventEmail.$error.required)  ? 'error-border':''" ng-model="lifeEventEmail" type="email" placeholder="Enter your email" required />
                <span ng-if="(contactDetailsLifeEventForm.contactDetailsLifeEventEmail.$invalid && contactDetailsLifeEventForm.contactDetailsLifeEventEmail.$touched) || (contactDetailsLifeEventForm.$submitted && contactDetailsLifeEventForm.contactDetailsLifeEventEmail.$error.required ) ||(contactDetailsLifeEventForm.$submitted && contactDetailsLifeEventForm.contactDetailsLifeEventEmail.$error.pattern)" class="error">Please enter your email address</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">

            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':contactDetailsLifeEventForm.contactDetailsLifeEventPhone.$invalid && contactDetailsLifeEventForm.contactDetailsLifeEventPhone.$touched || ((contactDetailsLifeEventForm.$submitted && contactDetailsLifeEventForm.contactDetailsLifeEventPhone.$error.required) ||(contactDetailsLifeEventForm.$submitted && contactDetailsLifeEventForm.contactDetailsLifeEventPhone.$error.pattern))}" >  
              <div class="col-sm-5">
                <label class="control-label"> Preferred contact number </label>
              </div>
              <div class="col-sm-3 col-xs-12">
                 <select  class="form-control" ng-model="preferredContactType" ng-change="changePrefContactType()" ng-options="contactTypeOption for contactTypeOption in contactTypeOptions track by contactTypeOption">
                 	<option value="">Please select</option>
                 </select>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12">
                <input  maxlength="10" id="preferrednumCCTransId" ng-disabled="!preferredContactType" ng-pattern="phoneNumbrLifeEvent" phone-only class="form-control"  ng-focus="checkLifeEventFormPreviousMandatoryFields('contactDetailsLifeEventPhone','contactDetailsLifeEventForm')" name="contactDetailsLifeEventPhone" ng-class = "{'error-border': contactDetailsLifeEventForm.contactDetailsLifeEventPhone.$invalid && contactDetailsLifeEventForm.contactDetailsLifeEventPhone.$touched || contactDetailsLifeEventForm.$submitted}" ng-model="lifeEventPhone" type="text" placeholder="Enter your Phone No" required />
                <span ng-if="contactDetailsLifeEventForm.contactDetailsLifeEventPhone.$invalid && contactDetailsLifeEventForm.contactDetailsLifeEventPhone.$touched || ((contactDetailsLifeEventForm.$submitted && contactDetailsLifeEventForm.contactDetailsLifeEventPhone.$error.required) ||(contactDetailsLifeEventForm.$submitted && contactDetailsLifeEventForm.contactDetailsLifeEventPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">

            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{' has-error':(contactDetailsLifeEventForm.contactDetailsLifeEventPrefTime.$error.required && contactDetailsLifeEventForm.contactDetailsLifeEventPrefTime.$touched) || (contactDetailsLifeEventForm.$submitted && contactDetailsLifeEventForm.contactDetailsLifeEventPrefTime.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What time of day do you prefer to be contacted? </label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (lifeEventTime == 'Morning (9am - 12pm)')}">
                      <input class="ipradio" id="prefTimeOptOne" ng-click="checkLifeEventFormPreviousMandatoryFields('contactDetailsLifeEventPrefTime','contactDetailsLifeEventForm')" name="contactDetailsLifeEventPrefTime" 
                      ng-class = "(contactDetailsLifeEventForm.contactDetailsLifeEventPrefTime.$error.required && contactDetailsLifeEventForm.contactDetailsLifeEventPrefTime.$touched) || (contactDetailsLifeEventForm.$submitted && contactDetailsLifeEventForm.contactDetailsLifeEventPrefTime.$error.required)  ? 'radio-validation':''"
                       ng-model="lifeEventTime" type="radio" value="Morning (9am - 12pm)" required>
                      <span></span> Morning (9am&ndash;12pm)</label>
                  </div>
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (lifeEventTime == 'Afternoon (12pm - 6pm)')}">
                      <input class="ipradio" id="prefTimeOptTwo" ng-click="checkLifeEventFormPreviousMandatoryFields('contactDetailsLifeEventPrefTime','contactDetailsLifeEventForm')" name="contactDetailsLifeEventPrefTime"
                       ng-class = "(contactDetailsLifeEventForm.contactDetailsLifeEventPrefTime.$error.required && contactDetailsLifeEventForm.contactDetailsLifeEventPrefTime.$touched) || (contactDetailsLifeEventForm.$submitted && contactDetailsLifeEventForm.contactDetailsLifeEventPrefTime.$error.required)  ? 'radio-validation':''" 
                      ng-model="lifeEventTime" type="radio" value="Afternoon (12pm - 6pm)" required>
                      <span></span> Afternoon (12pm&ndash;6pm)</label>                      
                  </div>
                </div>
                <span ng-if="(contactDetailsLifeEventForm.contactDetailsLifeEventPrefTime.$error.required && contactDetailsLifeEventForm.contactDetailsLifeEventPrefTime.$touched) || (contactDetailsLifeEventForm.$submitted && contactDetailsLifeEventForm.contactDetailsLifeEventPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
              </div>
            </div>
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">
              <a data-toggle="collapse" data-parent="#accordion"  >
             	<button class="btn btn-primary w100p" ng-click="lifeEventFormSubmit(contactDetailsLifeEventForm);" type="button">Continue</button>           
             	</a>
               </div>
            </div>
          </div>
         </form>
        </div>
      </div>
      <!-- Contact Details Section ends -->
      
            <!-- Occupation section starts -->
      <div class="panel panel-default">
        <div class="panel-heading" ng-click="isCollapsible('collapseTwo', $event)">
         <a data-toggle="collapse"  data-target="#collapseTwo" class="collapsed">
          <h4 class="panel-title">Occupation</h4>
          </a> </div>
        <div id="collapseTwo" class="panel-collapse collapse">
         <form name="occupationDetailsLifeEventForm"  novalidate role="form">
          <div class="panel-body">
            <!-- Row starts -->
            <!-- <div class="row rowcustom" ng-class="{'has-error':(occupationDetailsLifeEventForm.areyouperCitzLifeEventQuestion.$error.required && occupationDetailsLifeEventForm.areyouperCitzLifeEventQuestion.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.areyouperCitzLifeEventQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">Are you a citizen or permanent resident of Australia?</label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>  </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzLifeEventQuestion == 'Yes')}">
                      <input name="areyouperCitzLifeEventQuestion" class="ipradio" ng-click="checkLifeEventFormPreviousMandatoryFields('areyouperCitzLifeEventQuestion','occupationDetailsLifeEventForm')"
                       ng-class = "(occupationDetailsLifeEventForm.areyouperCitzLifeEventQuestion.$error.required && occupationDetailsLifeEventForm.areyouperCitzLifeEventQuestion.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.areyouperCitzLifeEventQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzLifeEventQuestion" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzLifeEventQuestion == 'No')}">
                      <input name="areyouperCitzLifeEventQuestion" class="ipradio" ng-click="checkLifeEventFormPreviousMandatoryFields('areyouperCitzLifeEventQuestion','occupationDetailsLifeEventForm')"
                       ng-class = "(occupationDetailsLifeEventForm.areyouperCitzLifeEventQuestion.$error.required && occupationDetailsLifeEventForm.areyouperCitzLifeEventQuestion.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.areyouperCitzLifeEventQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzLifeEventQuestion" type="radio" value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationDetailsLifeEventForm.areyouperCitzLifeEventQuestion.$error.required && occupationDetailsLifeEventForm.areyouperCitzLifeEventQuestion.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.areyouperCitzLifeEventQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
           <hr class="primeline">   --> 
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationDetailsLifeEventForm.lifeEventIndustry.$error.required && occupationDetailsLifeEventForm.lifeEventIndustry.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.lifeEventIndustry.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What industry do you work in?</label>
              </div>
              <div class="col-sm-12 ">
                <select  class="selectpicker  form-control" name="lifeEventIndustry" ng-focus="checkLifeEventFormPreviousMandatoryFields('lifeEventIndustry','occupationDetailsLifeEventForm')"  ng-class = "(occupationDetailsLifeEventForm.lifeEventIndustry.$error.required && occupationDetailsLifeEventForm.lifeEventIndustry.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.lifeEventIndustry.$error.required)  ? 'error-border':''" ng-model="lifeEventIndustry" ng-change="getOccupations()" required>
                  <option value="">Please select...</option>
                  <option ng-repeat="lifeEventIndustry in IndustryOptions | orderBy :'value' " value="{{lifeEventIndustry.key}}">{{lifeEventIndustry.value}}</option>
                </select>
                <span class="error" ng-if="(occupationDetailsLifeEventForm.lifeEventIndustry.$error.required && occupationDetailsLifeEventForm.lifeEventIndustry.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.lifeEventIndustry.$error.required )">Please select the industry type</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">

            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationDetailsLifeEventForm.lifeEventOccupation.$error.required && occupationDetailsLifeEventForm.lifeEventOccupation.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.lifeEventOccupation.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What is your current occupation?<a class="icohelp" ng-click="clickToOpen('If you do not select an occupation from the occupations listed, your premiums will be shown at standard rates.')"></a></label>
              </div>
              <div class="col-sm-12 ">
                <select  class="selectpicker  form-control" ng-change="getLECategoryFromDB()" name="lifeEventOccupation" ng-focus="checkLifeEventFormPreviousMandatoryFields('lifeEventOccupation','occupationDetailsLifeEventForm')"  ng-class = "(occupationDetailsLifeEventForm.lifeEventOccupation.$error.required && occupationDetailsLifeEventForm.lifeEventOccupation.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.lifeEventOccupation.$error.required)  ? 'error-border':''" ng-model="lifeEventOccupation" required>
                  <option value="">Please select...</option>
                  <option ng-repeat="occupationLifeEventOption in OccupationList" value="{{occupationLifeEventOption.occupationName}}">{{occupationLifeEventOption.occupationName}}</option>
                </select>
                <span class="error" ng-if="(occupationDetailsLifeEventForm.lifeEventOccupation.$error.required && occupationDetailsLifeEventForm.lifeEventOccupation.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.lifeEventOccupation.$error.required )">Select the occupation which best matches your current occupation</span>
              </div>
             <!--   <div class="col-sm-12 "><label class="helpHintLabel">If you do not select an occupation from the occupations listed, your premiums will be shown at standard rates.</label></div> -->
            </div>
            <!-- Row ends -->
			<!-- Row starts -->
            <div ng-if="lifeEventOccupation == 'Other'">  
	             <hr class="primeline">
	             <div class="row rowcustom " ng-class="{'has-error':(occupationDetailsLifeEventForm.lifeEventOtherOccupation.$invalid && occupationDetailsLifeEventForm.lifeEventOtherOccupation.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.lifeEventOtherOccupation.$error.required)}">
	              <div class="col-sm-5" >
	                <label class="control-label">  Please enter your occupation  </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">	              
	                <input class="form-control"  ng-focus="checkLifeEventFormPreviousMandatoryFields('lifeEventOtherOccupation','occupationDetailsLifeEventForm')" maxlength="50" name="lifeEventOtherOccupation" ng-class = "(occupationDetailsLifeEventForm.lifeEventOtherOccupation.$invalid && occupationDetailsLifeEventForm.lifeEventOtherOccupation.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.lifeEventOtherOccupation.$error.required)  ? 'error-border':''" ng-model="otherOccupationObj.lifeEventOtherOccupation" type="text" placeholder="Enter your occupation" required>
		            <span ng-if="(occupationDetailsLifeEventForm.lifeEventOtherOccupation.$invalid && occupationDetailsLifeEventForm.lifeEventOtherOccupation.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.lifeEventOtherOccupation.$error.required) " class="error">Please enter your occupation</span>
	              </div>
	           	</div>
          	</div> 
            <!-- Row ends -->

             <div class="">
                <div class=""></div>
                <div class=""></div>
                
                <!-- <div ng-if="showhazardousLifeEventQuestion">
                <hr class="primeline">
                 
             <div class="row rowcustom" ng-class="{'has-error':(occupationDetailsLifeEventForm.hazardousLifeEventQuestion.$error.required && occupationDetailsLifeEventForm.hazardousLifeEventQuestion.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.hazardousLifeEventQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">  Do you work in a hazardous environment and/or perform any duties of a manual nature? </label>
                <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': ($parent.hazardousLifeEventQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" name="hazardousLifeEventQuestion" ng-click="checkLifeEventFormPreviousMandatoryFields('hazardousLifeEventQuestion','occupationDetailsLifeEventForm')"
                       ng-class = "(occupationDetailsLifeEventForm.hazardousLifeEventQuestion.$error.required && occupationDetailsLifeEventForm.hazardousLifeEventQuestion.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.hazardousLifeEventQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.hazardousLifeEventQuestion" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton  " ng-class="{'active': ($parent.hazardousLifeEventQuestion == 'No')}">
                      <input type="radio" class="ipradio" name="hazardousLifeEventQuestion" ng-click="checkLifeEventFormPreviousMandatoryFields('hazardousLifeEventQuestion','occupationDetailsLifeEventForm')"
                       ng-class = "(occupationDetailsLifeEventForm.hazardousLifeEventQuestion.$error.required && occupationDetailsLifeEventForm.hazardousLifeEventQuestion.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.hazardousLifeEventQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.hazardousLifeEventQuestion" ng-change="renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationDetailsLifeEventForm.hazardousLifeEventQuestion.$error.required && occupationDetailsLifeEventForm.hazardousLifeEventQuestion.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.hazardousLifeEventQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div> -->
            
            <div ng-if="showLifeEventOutsideOffice">
                <hr class="primeline">
                <div class="row rowcustom" ng-class="{'has-error':(occupationDetailsLifeEventForm.lifeEventOutsideOffice.$error.required && occupationDetailsLifeEventForm.lifeEventOutsideOffice.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.lifeEventOutsideOffice.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Do you spend at least 80% of all working time in an office environment?</label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': ($parent.lifeEventOutsideOffice == 'Yes')}">
                      <input type="radio" class="ipradio" name="lifeEventOutsideOffice" ng-click="checkLifeEventFormPreviousMandatoryFields('lifeEventOutsideOffice','occupationDetailsLifeEventForm')"
                       ng-class = "(occupationDetailsLifeEventForm.lifeEventOutsideOffice.$error.required && occupationDetailsLifeEventForm.lifeEventOutsideOffice.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.lifeEventOutsideOffice.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.lifeEventOutsideOffice" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton  " ng-class="{'active': ($parent.lifeEventOutsideOffice == 'No')}">
                      <input type="radio" class="ipradio" name="lifeEventOutsideOffice" ng-click="checkLifeEventFormPreviousMandatoryFields('lifeEventOutsideOffice','occupationDetailsLifeEventForm')"
                       ng-class = "(occupationDetailsLifeEventForm.lifeEventOutsideOffice.$error.required && occupationDetailsLifeEventForm.lifeEventOutsideOffice.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.lifeEventOutsideOffice.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.lifeEventOutsideOffice" ng-change="renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationDetailsLifeEventForm.lifeEventOutsideOffice.$error.required && occupationDetailsLifeEventForm.lifeEventOutsideOffice.$touched) || (occupationDetailsLifeEventForm.$submitted && occupationDetailsLifeEventForm.lifeEventOutsideOffice.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>  
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">
               <a data-toggle="collapse" data-parent="#accordion"> 
               <button  class="btn btn-primary w100p" type="button" ng-click="lifeEventFormSubmit(occupationDetailsLifeEventForm);">Continue</button></a>
              </div>
              <!-- <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div> -->
            </div>
          </div>
          <!-- Row ends -->
          </div>
          </form>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading" ng-click="isCollapsible('collapseThree', $event)"> 
          <a data-toggle="collapse"  data-target="#collapseThree" class=" collapsed ">
           <h4 class="panel-title"> Life event</h4>
          </a>
         </div>
        <div id="collapseThree" class="panel-collapse collapse">
        <form name="lifeEvent" novalidate role="form">
          <div class="panel-body">
            <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label"> Please tell us more about your life event and note that you are allowed to request for an increase in your amount of Death Only and Total & Permanent Disablement (TPD) cover by one unit or 25% of your fixed benefit cover (up to $200,000) 
                   without having to provide medical evidence because a specific life event has occurred. Please note that your premiums will increase accordingly. </label>
              </div>
            </div>
               <hr class="primeline"> 
            <div class="row rowcustom" ng-class="{'has-error':(lifeEvent.event.$error.required && lifeEvent.event.$touched) || (lifeEvent.$submitted && lifeEvent.event.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Please select the specific life event you are applying under to increase your cover<a class="icohelp" ng-click="clickToOpen('Select a specific life event in order to obtain additional cover under this life event feature. Please note that you will need to provide proof that the life event has occurred.')"></a></label>
              </div>
              <div class="col-sm-12 ">
                <select  class="selectpicker  form-control" name="event" ng-options="obj.desc for obj in eventList track by obj.cde" ng-focus="checkLifeEventFormPreviousMandatoryFields('event','lifeEvent')"  ng-class = "(lifeEvent.event.$error.required && lifeEvent.event.$touched) || (lifeEvent.$submitted && lifeEvent.event.$error.required)  ? 'error-border':''" ng-model="event" required>
                  <option value="">Please Select your Life event</option>
                  <!-- <option ng-repeat="obj in eventList | orderBy :'desc' " value="{{obj.cde}}">{{obj.desc}}</option> -->
                </select>
                <span class="error" ng-if="(lifeEvent.event.$error.required && lifeEvent.event.$touched) || (lifeEvent.$submitted && lifeEvent.event.$error.required )">Please enter the reason why you are applying for increased cover</span>
                <!-- <label class="helpHintLabel">Select a specific life event in order to obtain additional cover under this life event feature. Please note that you will need to provide proof that the life event has occurred.</label> -->
                <p>{{event.docDesc}}</p>
              </div>
            </div>


            <hr class=" primeline">
            <div class="row rowcustom" ng-class="{'has-error':(lifeEvent.eventDate.$error.required && lifeEvent.eventDate.$touched) || (lifeEvent.eventDate.$error.notInRange && lifeEvent.eventDate.$touched) || (lifeEvent.eventDate.$error.futureDate && lifeEvent.eventDate.$touched)|| (lifeEvent.$submitted && lifeEvent.eventDate.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What is the date of the life event?<a class="icohelp" ng-click="clickToOpen('Enter the date that the life event occurred. Please note the life event must be within 6 months to be eligible for this life event cover.')"></a></label>
              </div>
              <div class="col-sm-7 ">
                <input type="text" class="form-control" placeholder="dd/mm/yyyy"  name="eventDate"  ng-change="isValidEventDate(eventDate)" ng-focus="checkLifeEventFormPreviousMandatoryFields('eventDate','lifeEvent')" ng-blur="validateEventDate(eventDate,'lifeEvent','eventDate')" ng-class = "(lifeEvent.eventDate.$error.required && lifeEvent.eventDate.$touched) || (lifeEvent.$submitted && lifeEvent.eventDate.$error.required)  ? 'error-border':''" 
                  ng-model="eventDate" required >
                <span class="error" ng-if="(lifeEvent.eventDate.$error.required && lifeEvent.eventDate.$touched) || (lifeEvent.$submitted && lifeEvent.eventDate.$error.required )">Please enter the date of the Life Event.</span>
                <span class="error" ng-if="(!lifeEvent.eventDate.$error.required && lifeEvent.eventDate.$error.futureDate && lifeEvent.eventDate.$touched)">Enter a valid date.</span>
                <span class="error" ng-if="(!lifeEvent.eventDate.$error.required && lifeEvent.eventDate.$error.notInRange && lifeEvent.eventDate.$touched)">You are not eligible for an increase in cover due to life event. Application must be made within six months of the life event occurring.</span>
              <!-- 	<label class="helpHintLabel">Enter the date that the life event occurred. Please note the life event must be within 6 months to be eligible for this life event cover.</label> -->
              </div>
            </div>

           <hr class="primeline">
             <div class="row rowcustom" ng-class="{'has-error':(lifeEvent.eventAlreadyApplied.$error.required && lifeEvent.eventAlreadyApplied.$touched) || (lifeEvent.$submitted && lifeEvent.eventAlreadyApplied.$error.required) || (eventAlreadyApplied == 'Yes')}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">  Have you successfully applied for an increase in cover due to a life event within the last 12 months within this calendar year?</p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (eventAlreadyApplied == 'Yes')}">
                      <input type="radio" class="ipradio" name="eventAlreadyApplied" ng-click="checkLifeEventFormPreviousMandatoryFields('eventAlreadyApplied','lifeEvent')"
                       ng-class = "(lifeEvent.eventAlreadyApplied.$error.required && lifeEvent.eventAlreadyApplied.$touched) || (lifeEvent.$submitted && lifeEvent.eventAlreadyApplied.$error.required)  ? 'radio-validation':''" 
                      ng-model="eventAlreadyApplied" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-3 pl0xs">
                    <label class="btn  radiobutton  " ng-class="{'active': (eventAlreadyApplied == 'No')}">
                      <input type="radio" class="ipradio" name="eventAlreadyApplied" ng-click="checkLifeEventFormPreviousMandatoryFields('eventAlreadyApplied','lifeEvent')"
                       ng-class = "(lifeEvent.eventAlreadyApplied.$error.required && lifeEvent.eventAlreadyApplied.$touched) || (lifeEvent.$submitted && lifeEvent.eventAlreadyApplied.$error.required)  ? 'radio-validation':''" 
                      ng-model="eventAlreadyApplied" value="No" required>
                      <span></span> No</label>
                  </div>
                   <div class="col-sm-3 pl0xs">
                    <label class="btn  radiobutton  " ng-class="{'active': (eventAlreadyApplied == 'Unsure')}">
                      <input type="radio" class="ipradio" name="eventAlreadyApplied" ng-click="checkLifeEventFormPreviousMandatoryFields('eventAlreadyApplied','lifeEvent')"
                       ng-class = "(lifeEvent.eventAlreadyApplied.$error.required && lifeEvent.eventAlreadyApplied.$touched) || (lifeEvent.$submitted && lifeEvent.eventAlreadyApplied.$error.required)  ? 'radio-validation':''" 
                      ng-model="eventAlreadyApplied" value="Unsure" required>
                      <span></span> Unsure</label>
                  </div>
                </div>
                <span class="error" ng-if="eventAlreadyApplied == 'Yes'">You are not eligible for an increase in cover due to life event. There is a limit of one life event increase within this calendar year. </span>                
                <span class="error" ng-if="(lifeEvent.eventAlreadyApplied.$error.required && lifeEvent.eventAlreadyApplied.$touched) || (lifeEvent.$submitted && lifeEvent.eventAlreadyApplied.$error.required )">Please select yes or no or unsure</span>                
              </div>
            </div>


            <hr class=" primeline">
            <div class="row rowcustom" ng-class="{'has-error':(lifeEvent.documentName.$error.required && lifeEvent.documentName.$touched) || (lifeEvent.$submitted && lifeEvent.documentName.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Do you wish to include documentary evidence of your life event? </label>
               
                  </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0 col-xs-12">
                    <label class="btn  radiobutton" ng-class="{'active': (documentName == 'Yes')}">
                      <input type="radio" class="ipradio"  name="documentName" ng-click="checkLifeEventFormPreviousMandatoryFields('documentName','lifeEvent')"
                       ng-class = "(lifeEvent.documentName.$error.required && lifeEvent.documentName.$touched) || (lifeEvent.$submitted && lifeEvent.documentName.$error.required)  ? 'radio-validation':''" 
                      ng-model="documentName" value="Yes" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-sm-3 col-xs-12 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (documentName == 'No')}">
                      <input type="radio" class="ipradio" name="documentName" ng-click="checkLifeEventFormPreviousMandatoryFields('documentName','lifeEvent')"
                       ng-class = "(lifeEvent.documentName.$error.required && lifeEvent.documentName.$touched) || (lifeEvent.$submitted && lifeEvent.documentName.$error.required)  ? 'radio-validation':''" 
                      ng-model="documentName" value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(lifeEvent.documentName.$error.required && lifeEvent.documentName.$touched) || (lifeEvent.$submitted && lifeEvent.documentName.$error.required )">Please select Yes or No</span>
              </div>
            </div>

             <div class="" id="death" style="display:block" ng-if="documentName =='Yes'">
              <div class=" secrow " id="transferitrId_div_id" ng-class="{'has-error': fileNotUploadedError}">
                <div class=""></div>
                <div class=""></div>
                 <div class="row rowcustom">
                    <!--  <div id="attach_file_div_id" class="col-sm-5">
                     <label class="control-label primecolor"><strong style="font-size: 10pt;"> Evidence of your Existing Cover</strong></label>
                    </div> -->
                    <div class="col-sm-12">
                 
                    	<label class="control-label">Please include documentary evidence of your event. You are required to upload: </label>
                          <span>
		                 <div class="col-sm-12">
		                   <label class="control-label"> A certified copy of all the following:
		                   <ul style="padding:10px 0 0px 35px;list-style-type:disc;">
		                   <li>stamped front page of the contract of sale or written confirmation of the new mortgage by the mortgage provider </li> 
		                   <br>and <br><br><li>statutory declaration confirming the purchased property will be the primary place of residence. </li> </ul><br>
		                   </label>
		                 </div></span>
                        <br>All copies must be certified. A certified copy is a copy of an original document that has been certified by any of 
                         the following acceptable persons: legal practitioner, Justice of the Peace, magistrate, notary public, police officer,
                         dentist, veterinary practitioner, pharmacist, accountant, Member of Parliament, minister of religion, and medical 
                         practitioner.<br><br>
                         A certified copy must be noted as follows: "I certify that I have sighted the original document and this is a true 
                         copy of it." This certification must have the certifier's full name, title, registration number (where applicable) and be signed and dated.
                  </div>
                </div>                
		     	<div class="row  rowcustom">
                  <div class="col-sm-3">
                    <label class="control-label primecolor"><strong class="attach-file-label">Attach your file(s) </strong></label>
                  </div>
                   <div class="col-sm-4">
                   	<span class="">
                   		<input id="transfer_input_file_txt_id" ng-model="selectedFile.name" name="transfer_input_file_txt_id" disabled="" size="100" maxlength="200" type="text" class="form-control text-overflow-ellipsis" name="file" value="{{}}"/>
                   	</span>	  
                   </div>
                   <div class="col-sm-3">
	                   <p class="spacer visible-xs"></p>
	                    <div class="fileUpload fleft">
	                    	 <a id="transferCvrFileUploadAddIdBtn" name="transferCvrFileUploadAddIdBtn" style="margin:0px !important" class="btn btn-default w100p" ngf-pattern="'image/*,application/pdf,*.txt,*.doc,*.docx,*.xls,*.xlsx,*.tif'"  ngf-select="uploadFiles($files, $invalidFiles)" ngf-max-height="1000">
	                    		<span >Browse</span>
	                    	</a>  
	                    	<!--<input class="btn btn-default w100p" ng-change="uploadFiles()" text="Browse" type="file" name="file" /> -->
	                    </div>
	                    <p class="spacer visible-xs"></p>                
                   </div>
                   <div class="col-sm-2">
                   	<a id="transferCvrFileUploadAddId" name="transferCvrFileUploadAddId" style="margin:0px !important" class="btn btn-primary w100p" ng-click="addFilesToStack()" ng-disabled="!selectedFile">
                   		<span >Add</span>
                   	</a>
                  </div>
                    <div class="row rowcustom" ng-if="fileSizeErrFlag == true">
		  		    <div class="col-sm-12">
	  			      <img src="static/firstsuper/images/warning.png" >
	                <label class="control-label">  {{fileSizeErrorMsg}} </label>	            
		  		   </div>
		     	</div>
                </div>
		      <div class="row rowcustom">
                <div class="col-sm-3">&nbsp;</div>
                 <div class="col-sm-9">
                  <ul class="files">
                  	 <li ng-repeat="file in files track by $index" class="text-overflow-ellipsis">
                  		<img src="static/firstsuper/images/bg_blank.png" class="icoAttach mr10px" /> 
                  		<a class="color1">{{file.name}}</a> <span>({{(file.size/1024) | number:0}} Kb)</span>
                  		<img src="static/firstsuper/images/bg_blank.png" class="closeb" ng-click="removeFile($index)" />
                     </li>
                  </ul>
			    </div>
			   </div>
	          <p class="error" ng-if="fileNotUploadedError" style="margin-top:5px;    margin-left: 30px;">  Please upload the file</p>
	     	</div>
            </div> 
            
           <!--   <div class="" style="display:block" ng-if="documentName =='No'">
              <div class="">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom" ng-class="{'has-error':(lifeEvent.ackDocument2.$error.required && lifeEvent.ackDocument2.$touched) || (lifeEvent.$submitted && lifeEvent.ackDocument2.$error.required )}">
                  <div class="col-sm-12">
                    <div data-toggle="buttons" class=" btn-group-vertical">
                      <label class="btn  checkboxes p0"  id="acknowledgeDocAdressCheck" ng-click="checkLifeEventFormPreviousMandatoryFields('ackDocument2','lifeEvent'); ackDocument2= !ackDocument2" >
                        <input type="checkbox" class=" " name="ackDocument2"
						ng-class = "(lifeEvent.ackDocument2.$error.required && lifeEvent.ackDocument2.$touched) || (lifeEvent.$submitted && lifeEvent.ackDocument2.$error.required)" 
                         ng-value="ackDocument2" required>
                        <span></span>     If you have not been able to attach all the required documents, please check the box to indicate that you will send the supporting documents to the address below.  </label>
                        <span class="error" ng-if="(lifeEvent.ackDocument2.$invalid && lifeEvent.ackDocument2.$touched) || (lifeEvent.$submitted && lifeEvent.ackDocument2.$error.required) " ></span>
                    </div>
                  </div>
                  
                  <div class="row   rowcustom  ">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-11">
                     <p style="padding-top: 8px;"> Postal address: <br><br>Hostplus<br>Locked Bag 5046<br>Parramatta<br>NSW 2124</p>
                    
                  </div>
                  
                  
                </div>
              </div>
            </div> 
            
            
            
          </div>   -->
            <div class="" style="display:block" ng-if="documentName =='No'">
              <div class="secrow">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom" >
                  <div class="col-sm-12">
                    
                      <p>  If you have not been able to attach all the required documents, you will not be able to proceed with the rest of the application. Please contact us on 1300 360 988.</p>  
                    
                  </div>
                  
               
              </div>
            </div> 
         </div>
           
            <hr class="primeline">
          <p class="spacer">&nbsp;</p>


          <div class=" row rowcustom">
            <div class="col-sm-3 col-xs-12">
              <a data-toggle="collapse" data-parent="#accordion">
              <button type="button" class="btn btn-primary w100p" ng-click="lifeEventFormSubmit(lifeEvent);" >Continue </button></a>
            </div>
              <!-- <div class="col-sm-6 alignleft hidden-xs"> <a class="cancellink" href="#"> Cancel</a> </div>
          	  <div class=" col-xs-12 aligncenter   visible-xs"> <a class="cancellink" href="#"> Cancel </a> </div>  -->
          	<!--  <div class="col-sm-3 col-xs-12 hidden-xs"><button type="button" class="btn btn-primary w100p" ng-click="saveQuoteLifeEvent()" >Save &amp; Exit </button></div> 
       		  <div class="col-sm-3 col-xs-12 visible-xs"><button type="button" class="btn btn-primary w100p" ng-click="saveQuoteLifeEvent()" >Save &amp; Exit</button></div> -->
          </div>
          <!-- <p class="spacer">&nbsp;</p> -->
          </div>
          </form>
        </div>
      </div>
    </div>
      </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 360 988</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->

<p class="spacer">&nbsp;</p>


<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-1   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-6   ">
      <!-- <p class="footertext"> &copy; Copyright First Super</p> -->
    </div>
    <div class="col-sm-5   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://www.firstsuper.com.au/privacy" class="" target="_new">Privacy Statement</a>
         | <a href="http://www.firstsuper.com.au/disclaimer" class="" target="_new" >Legal Notice</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="http://www.firstsuper.com.au/privacy" class="" target="_new">Privacy Statement</a>
         | <a href="http://www.firstsuper.com.au/disclaimer" class="" target="_new" >Legal Notice</a> </p>
  <!--   <p class="footertext">&copy; Copyright First Super</p> -->
  </div>
  <p class="spacer">&nbsp;</p>
</div>
<help-text show='modalShown' msg='tipMsg' width='550px'>
	  <p>Modal Content Goes here<p>
	</help-text>