
<div class="c-header">
  <div class="container">
    <div class="col-sm-3 col-xs-6">
     <img src="static/firstsuper/images/logo.png" class="img-responsive  c-logo" alt="MetLife Australia" /> 
    </div>
    <div class="  col-xs-9 hidden-xs  ">
     <!--  <div class="logout noborderleft pointer"> <a  ng-click="navigateToLandingPage()" >Home</a> </div> -->
      <div class="logout noborderleft"> <a target="_blank" title="Contact us" href="http://www.firstsuper.com.au/Contact">Contact us</a></div>
      <div class="logout"><a target="_blank" title="About us" href="http://www.firstsuper.com.au/Insurance">About us</a></div>
    </div>
    <div class="col-xs-6 visible-xs text-right">
      <div class="mt25px"><a class="col-xs-12 form-group" target="_blank" title="About us" href="http://www.firstsuper.com.au/Insurance">About us</a>
        <a class="col-xs-12 form-group" target="_blank" title="Contact us" href="http://www.firstsuper.com.au/Contact">Contact us</a><br>
       <!--  <a class="col-xs-12 form-group" ng-click="navigateToLandingPage()">Home</a> -->
       </div>
    </div>
  </div>
</div>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
 <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">1 / 3</span> Personal details </div>
    </div>
    <div class="col-xs-3"> <img src="static/firstsuper/images/bg_blank.png" class=" icoMenuRev  "> <img src="static/firstsuper/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149</h3> -->
       <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 988</h3>
      <h3 class="helpNo"> </h3>
    </div>
  </div>
  
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-4 cn first">
        <h5>Step 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="static/firstsuper/images/bg_blank.png" class=" right"> </div>
    
      <div class="col-sm-4 cnn" > <img src="static/firstsuper/images/bg_blank.png" class=" left">
        <h5>Step 2</h5>
        <div class="txtHolder"> Health &amp; lifestyle</div>
        <img src="static/firstsuper/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 nl">
        <h5>Step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="static/firstsuper/images/bg_blank.png" class=" left"> </div>
    </div>
    
    
    <!--Duty of Disclosure Section starts  -->
		<div class="panel-group" id="accordiondod">
			<div class="panel panel-default">
				<div id="collapseduty">
					<form autocomplete="off"  name="formduty" role="form" novalidate>
						<div class="panel-body">
							<div class="col-sm-12">
								<p class="normal" style="text-align: justify; margin-top: 8px;"></p>
								<p><strong class="color">Insured's duty of disclosure</strong></p>
                <div class="scrollBox">
  								 <p>A person who enters into a life insurance contract in respect of your life has a duty, before entering into the contract, to tell the insurer anything that he or she knows, or could reasonably be expected to know, which may affect the insurer's decision to provide the insurance and on what terms.</p>
					                <p>The person entering into the contract has this duty until the insurer agrees to provide the insurance.</p>
					                <p>The person entering into the contract has the same duty before he or she extends, varies or reinstates the contract.</p>
					                <p>The person entering into the contract does not need to tell the insurer anything that:</p>
					               		<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
					               			<li>reduces the risk the insurer insures him or her for; or</li>
					               			<li>is common knowledge; or</li>
					               			<li>the insurer knows or should know as an insurer; or</li>
					               			<li>the insurer waives his or her duty to tell them about.</li>
					           			</ul>
					                
					                <p>If the person does not tell the insurer something that he or she knows, or could reasonably be expected to know, this may affect the insurer's decision 
					                    to provide the insurance and on what terms, and may be treated by the insurer as a failure by the person entering into the contract to tell the insurer 
					                    something that he or she must disclose to the insurer.</p>
					                    <p><strong> If the person entering the contract does not tell the insurer something </strong></p>
					                <p>In exercising the following rights, the insurer may consider whether different types of cover can constitute separate contracts of life insurance. If they do, the insurer may apply the following rights separately to each type of cover.</p>
					                <p>If the person entering into the contract does not tell the insurer anything he or she is required to, and the insurer would not have provided the insurance if he or she had disclosed the information, the insurer may avoid the contract within 3 years of entering into it.</p>
					             	<p>If the insurer chooses not to avoid the contract, the insurer may, at any time, reduce the amount of insurance provided. This would be worked out using a formula that takes into account the premium that would have been payable if the person had told the insurer everything he or she should have.</p>
					              	<p>However, if the contract has a surrender value, or provides cover on death, the insurer may only exercise this right within 3 years of entering into the contract.</p>
					            	<p>If the insurer chooses not to avoid the contract or reduce the amount of insurance provided, the insurer may, at any time vary the contract in a way that places the 
					             		insurer in the same position the insurer would have been in if the person had told the insurer everything he or she should have.
					              		However, this right does not apply if the contract has a surrender value or provides cover on death.</p>
					              	<p>If the failure to tell the insurer is fraudulent, the insurer may refuse to pay a claim and treat the contract as if it never existed.</p>
                </div>
								<div class="row rowcustom" ng-class="{'has-error':dodFlagErr}" >
									<div class="col-sm-12">
										<div class="btn-group-vertical" data-toggle="buttons">
											 <div class=" row rowcustom" >
                         <div class="col-sm-12">
                          <label class="btn checkboxes col-xs-12 ack-checkbox-label" ng-class="{'active': QPD.dodCheck}" id="dodLabel" ng-click="checkDodState()">
                            <input type="checkbox" id="dodlabelCheck" name="dod" required>
                            <span></span>  <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above </div>
                          </label><p ng-if="dodFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
                        </div>
											</div>
										</div>
									</div>
								</div>
								<p></p>
							</div>
						</div>
					</form>
				</div>
			</div>
	
	<!--Duty of Disclosure Section starts  -->
	
    
    <!--Privacy Policy Section starts  -->
    <div class="panel-group" id="accordionprivacy">
			<div class="panel panel-default">
				<div class="panel-heading" ng-click="isCollapsible('collapseprivacy', $event)">
					<a data-toggle="collapse" data-parent="#accordionprivacy" data-target="#collapseprivacy" class="collapsed" ng-class="{'disabled': dodFlagErr}">
						<h4 class="panel-title">Privacy statement</h4>
					</a>
				</div>
				<div id="collapseprivacy" class="panel-collapse collapse">
					<form autocomplete="off"  name="cancelprivacyPolicyForm" role="form" novalidate>
						<div class="panel-body">
							<div class=" col-sm-12">
								<p class="normal" style="text-align: justify; margin-top: 8px;"></p>
								<p><strong>You must read and acknowledge the Privacy Statement before proceeding</strong></p>
								<div class="scrollBox">
  								<p>
  									The personal information you provide in the form is necessary for us to provide you with the products and services you have requested from us, 
					                and to manage your claims. You do not have to provide us with your personal information, but if you do not do so we may not be able to provide you with our 
					                products or services. MetLife Insurance Limited complies with the Privacy Act 1988 and the principles laid out in its privacy policy which details information 
					                about how you may access or seek correction of your personal information, how we manage that information and our complaints process. 
					                MetLife's Privacy Policy is readily available and can be viewed at <a href="http://www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy</a>.
  								</p>
  								 <p> <strong>Your privacy as a member of Your Super Fund</strong></p>
					                <p>The information you provide in this form is collected by and held by the fund administrator, in accordance with the Australian Privacy Principles of the 
					                Privacy Act. Such information is usually disclosed to third parties, including the Insurer or medical consultant who may be involved with the assessment of 
					                this application, and is held by Administrator and the Insurer. For more information about privacy, contact Customer Service on 1300 360 988 or visit 
					                <a href="http://www.firstsuper.com.au/privacy" class="" target="_new">www.firstsuper.com.au/privacy</a> to view the privacy policy .
					               </p>
                </div>
								<div class="row rowcustom " ng-class="{'has-error':privacyFlagErr}">
									<div class="col-sm-12">
										<div class="btn-group-vertical" data-toggle="buttons">
											 <div class=" row rowcustom" >
                         <div class="col-sm-12">
                           <label class="btn checkboxes col-xs-12 ack-checkbox-label" ng-class="{'active': QPD.privacyCheck}" id="privacyLabel" ng-click="checkPrivacyState()">
                            <input type="checkbox" id="privacylabelCheck" name="privacy" required>
                            <span></span>  <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above </div>
                           </label>
                           <p ng-if="privacyFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the privacy statement.</p>
                        </div>
											</div>
										</div>
									</div>
								</div>
								<p></p>
							</div>
						</div>
					</form>
				</div>
			</div>
		
		<!--Privacy Policy Section starts  -->
		
	<!--Introduction Details Section starts  -->
	<div class="panel-group" id="accordionIntroId" >
	<div class="panel panel-default">
        <div class="panel-heading" ng-click="isCollapsible('collapseIntro', $event)"> 
        <a data-toggle="collapse" data-parent="#accordionIntroId" data-target="#collapseIntro" class="collapsed">
          <h4 class="panel-title"> Introduction</h4>
          </a> </div>
        <div id="collapseIntro" class="panel-collapse collapse">
       
         <form name="formIntroduction" role="form"  novalidate>
          <div class="panel-body"> 
            
            <!-- Row starts -->
            <div class="row rowcustom first">
              <div class="col-sm-12">
                <label class="control-label"> Tell us a few details about yourself</label>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error' : (formIntroduction.introTitle.$invalid && formIntroduction.introTitle.$touched) || (formIntroduction.$submitted && formIntroduction.introTitle.$error.required)}" >
              <div class="col-sm-5">
                <label class="control-label"> Title </label>
              </div>
              <div class="col-sm-3 col-xs-12">
                <select  class=" form-control" ng-model="introTitle" name="introTitle" ng-options="introTitleOption for introTitleOption in introTitleOptions track by introTitleOption" required>
                <option value="">Please select</option>                
                </select>
                <span ng-if="(formIntroduction.$submitted && formIntroduction.introTitle.$error.required)"  class="error">Please enter title</span>
              </div>              
            </div>
            <!-- Row ends -->
            <hr class="primeline">   
            
            <!-- Row starts -->
           
            <div class="row rowcustom " ng-class="{'has-error':(formIntroduction.introfname.$invalid && formIntroduction.introfname.$touched) || (formIntroduction.$submitted && formIntroduction.introfname.$error.required)}">
              <div class="col-sm-5">
                <label class="control-label"> First name </label>
              </div>
              <div class="col-sm-7 col-xs-12">              
                <input class="form-control" maxlength="50" id = "introfnameId" ng-focus="checkPreviousMandatoryFields('introfname','formIntroduction')" name="introfname" ng-class = "(formIntroduction.introfname.$invalid && formIntroduction.introfname.$touched) || (formIntroduction.$submitted && formIntroduction.introfname.$error.required)  ? 'error-border':''" ng-model="introfname" type="introfname" placeholder="Enter your firstname" required onkeyup="return isAlphaNumeric('introfnameId');"
                onkeypress="return isAlphaNumeric('introfnameId');">
	            <span ng-if="(formIntroduction.$submitted && formIntroduction.introfname.$error.required)" class="error">Please enter your first name</span>
              </div>
           </div>
            
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           
            <div class="row rowcustom " ng-class="{'has-error':(formIntroduction.introlname.$invalid && formIntroduction.introlname.$touched) || (formIntroduction.$submitted && formIntroduction.introlname.$error.required)}">
              <div class="col-sm-5">
                <label class="control-label"> Last name </label>
              </div>
              <div class="col-sm-7 col-xs-12">              
                <input class="form-control" maxlength="50" id="introlnameId"  ng-focus="checkPreviousMandatoryFields('introlname','formIntroduction')" name="introlname" ng-class = "(formIntroduction.introlname.$invalid && formIntroduction.introlname.$touched) || (formIntroduction.$submitted && formIntroduction.introlname.$error.required)  ? 'error-border':''" ng-model="introlname" type="introlname" placeholder="Enter your lastname" required onkeyup="return isAlphaNumeric('introlnameId');"
                onkeypress="return isAlphaNumeric('introlnameId');">
	            <span ng-if="(formIntroduction.$submitted && formIntroduction.introlname.$error.required)" class="error">Please enter your last name</span>
              </div>
           </div>
            
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(formIntroduction.dateOfBirth.$error.required && formIntroduction.dateOfBirth.$touched) || (formIntroduction.dateOfBirth.$error.notInRange && formIntroduction.dateOfBirth.$touched) || (formIntroduction.$submitted && formIntroduction.dateOfBirth.$error.required )}">
              <div class="col-sm-5">
                <label class="control-label"> Date of birth</label>
              </div>
              <div class="col-sm-7 col-xs-12">
                <input type="text" class="form-control" placeholder="dd/mm/yyyy"  name="dateOfBirth" ng-change="isValidDateOfBirth(dateOfBirth)" ng-blur="validateDateOfBirth(dateOfBirth,'formIntroduction','dateOfBirth')" ng-focus="checkPreviousMandatoryFields('dateOfBirth','formIntroduction')" ng-blur="validateEventDate(dateOfBirth,'formIntroduction','dateOfBirth')" ng-class = "(formIntroduction.dateOfBirth.$error.required && formIntroduction.dateOfBirth.$touched) || (formIntroduction.$submitted && formIntroduction.dateOfBirth.$error.required)  ? 'error-border':''" 
                  ng-model="dateOfBirth" required >
                <span class="error" ng-if="(formIntroduction.dateOfBirth.$error.required && formIntroduction.dateOfBirth.$touched) || (formIntroduction.$submitted && formIntroduction.dateOfBirth.$error.required )">Please enter your date of birth</span>
               </div>
            </div>
		   <!-- Row ends -->
           <hr class="primeline">
           
           <!-- Row starts --> 
           <div class="row   rowcustom " ng-class="{'has-error':(formIntroduction.gender.$error.required && formIntroduction.gender.$touched) || (formIntroduction.$submitted && formIntroduction.gender.$error.required )}" >
                  <div class="col-sm-5">
                    <label class="control-label"> Gender </label>
                  </div>
                  <div class="col-sm-7 col-xs-12">
                    <div class="btn-group">
                      <div class="col-sm-6 pl0">
                        <label class="btn radiobutton" ng-class="{'active': (gender == 'Male')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','formIntroduction')" 
                       ng-class = "(formIntroduction.gender.$error.required && formIntroduction.gender.$touched) || (formIntroduction.$submitted && formIntroduction.gender.$error.required)  ? 'radio-validation':''" 
                      ng-model="gender" value="Male" required>
                          <span></span> Male </label>
                         </div>
                      <div class="col-sm-6 pl0xs">
                        <label class="btn   radiobutton" ng-class="{'active': (gender == 'Female')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','formIntroduction')" 
                       ng-class = "(formIntroduction.gender.$error.required && formIntroduction.gender.$touched) || (formIntroduction.$submitted && formIntroduction.gender.$error.required)  ? 'radio-validation':''" 
                      ng-model="gender" value="Female" required>
                          <span></span> Female </label>                         
                        </div>
                    </div>
                     <span class="error" ng-if="(formIntroduction.gender.$error.required && formIntroduction.gender.$touched) || (formIntroduction.$submitted && formIntroduction.gender.$error.required )">Please select gender</span>
                  </div>
                </div>
               
                <!-- Row ends --> 
                
              <!-- <hr class="primeline"> -->
            
            <!-- Row starts --> 
            <!-- <div class="row rowcustom" ng-class="{'has-error':(formIntroduction.areyouperCitzQuestion.$error.required && formIntroduction.areyouperCitzQuestion.$touched) || (formIntroduction.$submitted && formIntroduction.areyouperCitzQuestion.$error.required )}">
              <div class="col-sm-5">
                <label class="control-label">Are you a citizen or permanent resident of Australia?</label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>  </div>
              <div class="col-sm-7 col-xs-12 ">
                <div class="btn-group">
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzQuestion == 'Yes')}">
                      <input name="areyouperCitzQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('areyouperCitzQuestion','formIntroduction')"
                       ng-class = "(formIntroduction.areyouperCitzQuestion.$error.required && formIntroduction.areyouperCitzQuestion.$touched) || (formIntroduction.$submitted && formIntroduction.areyouperCitzQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzQuestion" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzQuestion == 'No')}">
                      <input name="areyouperCitzQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('areyouperCitzQuestion','formIntroduction')"
                       ng-class = "(formIntroduction.areyouperCitzQuestion.$error.required && formIntroduction.areyouperCitzQuestion.$touched) || (formIntroduction.$submitted && formIntroduction.areyouperCitzQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzQuestion" type="radio" value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(formIntroduction.areyouperCitzQuestion.$error.required && formIntroduction.areyouperCitzQuestion.$touched) || (formIntroduction.$submitted && formIntroduction.areyouperCitzQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>   -->  
            
            
            <!-- <hr class="primeline">
           <div class="row   rowcustom " ng-class="{'has-error':(formIntroduction.smoker.$error.required && formIntroduction.smoker.$touched) || (formIntroduction.$submitted && formIntroduction.smoker.$error.required )}" >
                  <div class="col-sm-5">
                    <label class="control-label"> Have you smoked in the last 12 months </label>
                  </div>
                  <div class="col-sm-7 col-xs-12">
                    <div class="btn-group">
                      <div class="col-sm-3 pl0">
                        <label class="btn radiobutton" ng-class="{'active': (smoker == 'Yes')}">
                          <input type="radio" name="smoker" class="ipradio" ng-click="checkPreviousMandatoryFields('smoker','formIntroduction')" 
                       ng-class = "(formIntroduction.smoker.$error.required && formIntroduction.smoker.$touched) || (formIntroduction.$submitted && formIntroduction.smoker.$error.required)  ? 'radio-validation':''" 
                      ng-model="smoker" value="Yes" required>
                          <span></span> Yes </label>
                         </div>
                      <div class="col-sm-6 pl0xs">
                        <label class="btn   radiobutton" ng-class="{'active': (smoker == 'No')}">
                          <input type="radio" name="smoker" class="ipradio" ng-click="checkPreviousMandatoryFields('smoker','formIntroduction')" 
                       ng-class = "(formIntroduction.smoker.$error.required && formIntroduction.smoker.$touched) || (formIntroduction.$submitted && formIntroduction.smoker.$error.required)  ? 'radio-validation':''" 
                      ng-model="smoker" value="No" required>
                          <span></span> No </label>                         
                        </div>
                    </div>
                     <span class="error" ng-if="(formIntroduction.smoker.$error.required && formIntroduction.smoker.$touched) || (formIntroduction.$submitted && formIntroduction.smoker.$error.required )">Please select Yes or No</span>
                  </div>
                </div>
                -->
                <!-- Row ends --> 
            
            
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">     
             	<a data-toggle="collapse" data-parent="#accordion"  >
             	<button class="btn btn-primary w100p" ng-click="formOneSubmit(formIntroduction);" type="button">Continue</button>           
             	</a>
              </div>
            </div>
            </form>
          </div>
        </div>
	
	</div>
	<!--Introduction Details Section ends  -->	
	
		
     <!--Contact Details Section starts  -->
     <div class="panel-group" id="accordionContactId" >
      <div class="panel panel-default">
        <div class="panel-heading"  ng-click="isCollapsible('collapseOne', $event)"> 
        <a data-toggle="collapse" data-target="#collapseOne" class="collapsed">
          <h4 class="panel-title"> Contact details</h4>
          </a> </div>
        <div id="collapseOne" class="panel-collapse collapse">
       
         <form name="formOne" role="form"  novalidate>
          <div class="panel-body"> 
            
            <!-- Row starts -->
            <div class="row rowcustom first">
              <div class="col-sm-12">
                <label class="control-label"> Please leave your contact details in the event we need to contact you</label>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           
            <div class="row rowcustom " ng-class="{'has-error':(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required)}">
              <div class="col-sm-5">
                <label class="control-label"> Email address </label>
              </div>
              <div class="col-sm-7 col-xs-12">              
                <input class="form-control" ng-pattern="emailFormat" maxlength="50" ng-focus="checkPreviousMandatoryFields('contactEmail','formOne')" name="contactEmail" ng-class = "(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required)  ? 'error-border':''" ng-model="email" type="email" placeholder="Enter your email" required>
	            <span ng-if="(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required) || (formOne.$submitted && formOne.contactEmail.$error.pattern)" class="error">Please enter your email address</span>
              </div>
           </div>
            
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error' : (formOne.contactPhone.$invalid && formOne.contactPhone.$touched) || ((formOne.$submitted && formOne.contactPhone.$error.required)  ||(formOne.$submitted && formOne.contactPhone.$error.pattern))}" >
              <div class="col-sm-5">
                <label class="control-label"> Preferred contact number </label>
              </div>
              <div class="col-sm-3 col-xs-12">
                <select  class=" form-control" ng-model="preferredContactType" ng-change="changePrefContactType()" ng-options="contactTypeOption for contactTypeOption in contactTypeOptions track by contactTypeOption">
                <!-- <option value="">Please select</option> -->
                </select>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12">	
                <input class="form-control" ng-pattern="phoneNumbr" phone-only id="preferrednumCCId" onkeyup="return isIntegerFun(this);"  onkeypress="return isIntegerFun(this);" maxlength="10" ng-focus="checkPreviousMandatoryFields('contactPhone','formOne')" name="contactPhone" ng-class = "{'error-border': formOne.contactPhone.$invalid && formOne.contactPhone.$touched || formOne.$submitted}" ng-model="changeCvrPhone" type="text" placeholder="Enter your Phone No" required>
                <span ng-if="(formOne.contactPhone.$invalid && formOne.contactPhone.$touched) || ((formOne.$submitted && formOne.contactPhone.$error.required)  ||(formOne.$submitted && formOne.contactPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           <div class="row rowcustom" ng-class="{'has-error':(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What time of day do you prefer to be contacted? </label>
                <span id="tick 3" style=" visibility:hidden">
                 <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span>
                </span> 
              </div> 
             <div class="col-sm-12 ">
                <div class="btn-group" >
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Morning (9am - 12pm)')}">
                      <input class="ipradio " ng-click="checkPreviousMandatoryFields('contactPrefTime','formOne')" name="contactPrefTime" 
                      ng-class = "(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required)  ? 'radio-validation':''"
                       ng-model="time" type="radio" value="Morning (9am - 12pm)" required>
                      <span></span> Morning (9am&ndash;12pm) </label>
                  </div>
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Afternoon (12pm - 6pm)')}">
                      <input class='ipradio' ng-click="checkPreviousMandatoryFields('contactPrefTime','formOne')" name="contactPrefTime"
                       ng-class = "(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required)  ? 'radio-validation':''" 
                      ng-model="time" type="radio" value="Afternoon (12pm - 6pm)" required>
                      <span></span> Afternoon (12pm&ndash;6pm) </label>              
                  </div>                 
                </div>
                 <span ng-if="(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
              </div>  
            </div> 
            
            <div class="row rowcustom" ng-class="{'has-error' : (formOne.otherCvrPhone.$invalid && formOne.otherCvrPhone.$touched) || ((formOne.$submitted && formOne.otherCvrPhone.$error.required)  ||(formOne.$submitted && formOne.otherCvrPhone.$error.pattern))}" >
              <div class="col-sm-5">
                <label class="control-label"> Other contact number </label>
              </div>
              <div class="col-sm-3 col-xs-12">
                <select  class=" form-control" ng-model="otherContactType" ng-change="changeOtherContactType()" ng-options="contactTypeOption for contactTypeOption in contactTypeOptions track by contactTypeOption">
                </select>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12">	
                <input class="form-control" ng-pattern="phoneNumbr" name= "otherCvrPhone" phone-only onkeyup="return isIntegerFun(this);"  onkeypress="return isIntegerFun(this);" maxlength="10"  ng-model="otherCvrPhone" type="text">
                <span ng-if="(formOne.otherCvrPhone.$invalid && formOne.otherCvrPhone.$touched) || ((formOne.$submitted && formOne.otherCvrPhone.$error.required)  ||(formOne.$submitted && formOne.otherCvrPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
              </div>
            </div>
            
            
            
            <!-- Row ends -->
            
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">     
             	<a data-toggle="collapse" data-parent="#accordion"  >
             	<button class="btn btn-primary w100p" ng-click="formOneSubmit(formOne);" type="button">Continue</button>           
             	</a>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Contact Details Section ends -->
      
      
      <!-- Occupation section starts -->
      
      <div class="panel panel-default" >
        <div class="panel-heading" ng-click="isCollapsible('collapseTwo', $event)"> <a data-toggle="collapse"  data-target="#collapseTwo" class=" collapsed  ">
          <h4 class="panel-title">Occupation </h4>
          </a> </div>
        <div id="collapseTwo" class="panel-collapse collapse" >
        
         <form name="occupationForm" id="occupFormId" novalidate role="form">
          <div class="panel-body"> 
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Do you work more than 15 hours per week? <a class="icohelp"	ng-click="clickToOpen('If you work less than 15 hours per week on average, you are not eligible for income protection cover.')"></a></label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (fifteenHrsQuestion == 'Yes')}">
                      <input type="radio" name="fifteenHrsQuestion "  class="ipradio" ng-click="checkPreviousMandatoryFields('fifteenHrsQuestion','occupationForm')"
                       ng-class = "(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="fifteenHrsQuestion" type="radio" value="Yes" ng-change="checkAnnualSalary()" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-sm-3 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (fifteenHrsQuestion == 'No')}">
                      <input type="radio" name="fifteenHrsQuestion"  class="ipradio" ng-click="checkPreviousMandatoryFields('fifteenHrsQuestion','occupationForm')"
                       ng-class = "(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="fifteenHrsQuestion" type="radio" value="No" ng-change="checkAnnualSalary()" required>
                      <span></span> No
                    </label>
                  </div>                  
                </div>
                <span class="error" ng-if="(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            <!-- Row ends -->
             <hr class="primeline">
            <!-- Row starts -->
            <!-- <div class="row rowcustom" ng-class="{'has-error':(occupationForm.areyouperCitzQuestion.$error.required && occupationForm.areyouperCitzQuestion.$touched) || (occupationForm.$submitted && occupationForm.areyouperCitzQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">Are you a citizen or permanent resident of Australia?</label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>  </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzQuestion == 'Yes')}">
                      <input name="areyouperCitzQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('areyouperCitzQuestion','occupationForm')"
                       ng-class = "(occupationForm.areyouperCitzQuestion.$error.required && occupationForm.areyouperCitzQuestion.$touched) || (occupationForm.$submitted && occupationForm.areyouperCitzQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzQuestion" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzQuestion == 'No')}">
                      <input name="areyouperCitzQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('areyouperCitzQuestion','occupationForm')"
                       ng-class = "(occupationForm.areyouperCitzQuestion.$error.required && occupationForm.areyouperCitzQuestion.$touched) || (occupationForm.$submitted && occupationForm.areyouperCitzQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzQuestion" type="radio" value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.areyouperCitzQuestion.$error.required && occupationForm.areyouperCitzQuestion.$touched) || (occupationForm.$submitted && occupationForm.areyouperCitzQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>     -->
            <!-- Row ends -->
           <!--  <hr class="primeline"> -->
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label" > What industry do you work in?</label>
              </div>              
              <div class="col-sm-12 ">
                <select class="  form-control" name="industry" ng-focus="checkPreviousMandatoryFields('industry','occupationForm')"  ng-class = "(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required)  ? 'error-border':''" ng-model="industry" ng-change="getOccupations()" required>
                  <option value="">Please select...</option>
                  <option ng-repeat="industry in IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
                </select>
                <span class="error" ng-if="(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required )">Please select the industry type.</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What is your current occupation?<a class="icohelp" ng-click="clickToOpen('If you do not select an occupation from the occupations listed, your premiums will be shown at standard rates.')"></a></label>
              </div>
              <div class="col-sm-12 ">
                <select  class="  form-control" name="occupation" ng-focus="checkPreviousMandatoryFields('occupation','occupationForm')"  ng-class = "(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required)  ? 'error-border':''" ng-model="occupation" ng-change="getCategoryFromDB()" required>
                  <option value="">Please select...</option>
                   <option ng-repeat="occupation in OccupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
                </select>
                 <span class="error" ng-if="(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required )">Select the occupation which best best matches with your current occupation.</span>
              </div>
            </div>
          
            <div ng-if="occupation =='Other'">  
             <hr class="primeline">
             <div class="row rowcustom " ng-class="{'has-error':(occupationForm.otherOccupation.$invalid && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required)}">
              <div class="col-sm-5" >
                <label class="control-label">  Please enter your occupation  </label>
              </div>
              <div class="col-sm-7 col-xs-12">              
                <input class="form-control" ng-focus="checkPreviousMandatoryFields('otherOccupation','occupationForm')" maxlength="50" name="otherOccupation" ng-class = "(occupationForm.otherOccupation.$invalid && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required)  ? 'error-border':''" ng-model="otherOccupationObj.otherOccupation" type="text" placeholder="Enter your occupation" required>
	            <span ng-if="(occupationForm.otherOccupation.$invalid && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required) " class="error">Please enter your occupation</span>
              </div>
           </div>
          </div>
          
          <!-- Row ends -->
            <div ng-if="showOutsideOfficeQuestion">
            <hr class="primeline">
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.outsideOffice.$error.required && occupationForm.outsideOffice.$touched) || (occupationForm.$submitted && occupationForm.outsideOffice.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">Do you spend at least 80% of all working time in an office environment?</p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (outsideOffice == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="outsideOffice" ng-click="checkPreviousMandatoryFields('outsideOffice','occupationForm')"
                       ng-class = "(occupationForm.outsideOffice.$error.required && occupationForm.outsideOffice.$touched) || (occupationForm.$submitted && occupationForm.outsideOffice.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.outsideOffice" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-sm-3 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (outsideOffice == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="outsideOffice" ng-click="checkPreviousMandatoryFields('outsideOffice','occupationForm')"
                       ng-class = "(occupationForm.outsideOffice.$error.required && occupationForm.outsideOffice.$touched) || (occupationForm.$submitted && occupationForm.outsideOffice.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.outsideOffice" ng-change="renderOccupationQuestions()"  value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.outsideOffice.$error.required && occupationForm.outsideOffice.$touched) || (occupationForm.$submitted && occupationForm.outsideOffice.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>
            <!-- Row ends -->
            <div ng-if="showWithinOfficeQuestion">
            <hr class="primeline">
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">Are your duties entirely undertaken within an office environment?</p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (withinOfficeQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="withinOfficeQuestion" ng-click="checkPreviousMandatoryFields('withinOfficeQuestion','occupationForm')"
                       ng-class = "(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.withinOfficeQuestion" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-sm-3 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (withinOfficeQuestion == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="withinOfficeQuestion" ng-click="checkPreviousMandatoryFields('withinOfficeQuestion','occupationForm')"
                       ng-class = "(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.withinOfficeQuestion" ng-change="renderOccupationQuestions()"  value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>
            <div ng-if="showTertiaryQuestion">
            <hr class="primeline">
                 
             <div class="row rowcustom" ng-class="{'has-error':(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (tertiaryQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="tertiaryQuestion" ng-click="checkPreviousMandatoryFields('tertiaryQuestion','occupationForm')"
                       ng-class = "(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.tertiaryQuestion" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-3 pl0xs">
                    <label class="btn  radiobutton  " ng-class="{'active': (tertiaryQuestion == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="tertiaryQuestion" ng-click="checkPreviousMandatoryFields('tertiaryQuestion','occupationForm')"
                       ng-class = "(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.tertiaryQuestion" ng-change="renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required )">Please select Yes or No</span>                
              </div>
            </div>
            </div>
            
            <hr class="primeline">
          
             
              
           <div class="row rowcustom" ng-class="{'has-error':(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required ) || invalidSalAmount || salMaxlimit}">
              <div class="col-sm-4 col-xs-12">
                <label class="control-label">What is your annual salary?<a class="icohelp"	ng-click="clickToOpen('Insert Annual Income as defined in the policy document.')"></a></label>
              </div>
              <div class="col-sm-3 col-xs-12">
                <input type="text" id="annualSalCCId" format="number" onkeyup="return isNumeric('annualSalCCId');" onkeypress="return isNumeric('annualSalCCId');"  name="annualSalary" maxlength="9" class="form-control dollar" ng-change="toggleIPCondition()"  ng-focus="checkPreviousMandatoryFields('annualSalary','occupationForm')"  ng-class = "(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required)  ? 'error-border':''" ng-model="annualSalary" required>
              <span class="error" ng-if="(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required )">Please enter your Annual Salary</span>
              <span class="error" ng-if="invalidSalAmount">Please enter valid annual salary.</span>
              <span class="error" ng-if="salMaxlimit">Your salary exceeds the maximum limit.</span>
              <label class="helpHintLabel">Insert Annual Income as defined in policy document</label>
              </div>
            </div>
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">
               <a data-toggle="collapse" data-parent="#accordion"> 
                <button  class="btn btn-primary w100p" type="button" ng-click="formOneSubmit(occupationForm);">Continue</button>
               </a>
            </div>
          </div>
          </div>
        </form>
          <!-- Row ends --> 
          
        </div>
      </div>
      
      <!--Occupation section ends  -->
      
      <!-- Cover Calculator section starts -->
      
      <div class="panel panel-default"  >
        <div class="panel-heading" ng-click="isCollapsible('collapseThree', $event)"> <a data-toggle="collapse"  data-target="#collapseThree" class=" collapsed ">
          <h4 class="panel-title"> Cover calculator</h4>
          </a> </div>
        <div id="collapseThree" class="panel-collapse collapse  ">
        
        <form name="coverCalculatorForm" novalidate id="coverCalFormId" role="form">
          <div class="panel-body">
            <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label"></label>
              </div>
            </div>
            
            <div class="">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom" ng-class="">
                  <div class="col-sm-4">
                    <label class="control-label">Display the cost of my insurance cover as</label>
                  </div>
           			 <div class="col-sm-8  ">
                    <select  class="form-control" name="premFreq" id="coverId"  ng-change="calculateOnChange()" ng-model="premFreq" ng-options="premiumFrequencyOption for premiumFrequencyOption in premiumFrequencyOptions track by premiumFrequencyOption">
                    </select>
                     <label class="control-label">premium.</label>
                    <span class="error" ng-if="">Please select  Cover what you want.</span>
                  </div>
                  </div>
                  </div>
            <hr class=" primeline">

            <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label"> Select the benefits you wish to amend</label>
              </div>
            </div>
            <div class=" btn-group-vertical   heading" data-toggle="buttons"  >
              <div class="row rowcustom" >
                <div class="col-sm-12 checkboxes1">
                   <label class="active" id="deathsection" ng-disabled="isDeathDisabled">
                    <input type="checkbox" id="option3" name="coverDet" id="coverDetId"> 
                   Death </label>
                    </div>
              </div>
            </div>
            <div class="" id="death" style="display:block">
              <div class="row rowcustom"  ng-class = "(coverCalculatorForm.existingRequireCover.$error.required && coverCalculatorForm.existingRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.existingRequireCover.$error.required) ? 'error-border':''">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing cover <a class="icohelp"	ng-click="clickToOpen('This is the amount of existing cover you already hold through First Super')"></a></h5>
                </div>
                <div class='col-sm-3 col-xs-12'>
                <input type="text" id="nondollar" format="number" name="existingRequireCover" class="form-control dollar" onkeyup="return isNumeric('nondollar');" onkeypress="return isNumeric('nondollar');" 
                       ng-focus="checkPreviousMandatoryFields('existingRequireCover','coverCalculatorForm')" 
                       ng-class = "(coverCalculatorForm.existingRequireCover.$error.required && coverCalculatorForm.existingRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.existingRequireCover.$error.required) ? 'error-border':''" 
                       ng-model="existingRequireCover" >
                       <span class="error" ng-if="(coverCalculatorForm.existingRequireCover.$error.required && coverCalculatorForm.existingRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.existingRequireCover.$error.required )">Please select required Cover</span>
                       </div>
              </div>
              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
              <!--   <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.coverName.$error.required && coverCalculatorForm.coverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverName.$error.required )}">
                  <div class="col-sm-4">
                    <label class="control-label"> I want to </label>
                  </div>
                  <div class="col-sm-8  ">
                    <select  class="form-control" name="coverName" id="coverId" ng-focus="checkPreviousMandatoryFields('coverName','coverCalculatorForm')"  ng-class = "(coverCalculatorForm.coverName.$error.required && coverCalculatorForm.coverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverName.$error.required)  ? 'error-border':''"  ng-change="checkDeathOption()" ng-model="coverName">
                      <option value="">What would you like to do ?</option>
                      <option ng-repeat="cover in DeathCoverOptions" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      <option ng-if="!deathCoverDetails.amount || (deathCoverDetails.amount && deathCoverDetails.amount == 0)" ng-repeat="cover in coverOptionsTwo" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                    </select>
                    <span class="error" ng-if="(coverCalculatorForm.coverName.$error.required && coverCalculatorForm.coverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverName.$error.required )">Please select  Cover what you want.</span>
                  </div>
                </div> -->
                <hr class="primeline">
                <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required )}">
                  <div class="col-sm-4">
                    <label class="control-label"> Cover type <a class="icohelp"	ng-click="clickToOpen('This is the total amount of insurance cover you require.  If you have existing cover, you must enter at least the same amount of cover, either unitised or fixed, in the fields provided.')"></a> </label>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                        <label ng-disabled="isDCCoverTypeDisabled" radio-sync="Fixed" class="btn  radiobutton" onclick="showhide('dollar','nodollar')" ng-class="{'active': (coverType=='DcFixed')}">  
                          <input  type="radio" name="coverType" ng-change="syncRadios('Fixed')" data-sync="Fixed" id="option1" class="ipradio" ng-focus="checkPreviousMandatoryFields('coverType','coverCalculatorForm')"
                           ng-class = "(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required)  ? 'radio-validation':''" 
                           ng-model="coverType" value="DcFixed" ng-required="!isDCCoverTypeDisabled">
                          <span></span> Fixed 
                         </label>
                      </div>
                      <div class="col2">
                          <label ng-disabled="isDCCoverTypeDisabled" radio-sync="Unitised" class="btn   radiobutton" onclick="showhide('nodollar','dollar')" ng-class="{'active': (coverType=='DcUnitised')}">
                            <input  type="radio" name="coverType" ng-change="syncRadios('Unitised')" data-sync="Unitised" id="option2" class="ipradio" ng-focus="checkPreviousMandatoryFields('coverType','coverCalculatorForm')"
                      		 ng-class = "(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required)  ? 'radio-validation':''" 
                     		 ng-model="coverType" value="DcUnitised" ng-required="!isDCCoverTypeDisabled">
                            <span></span> Unit-based
                          </label>
                        <span class="error" ng-if="(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required )">Please select Cover type</span>
                      </div>
                    </div>
                  </div>
                </div>               
                
                
                <hr class="primeline">
                <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required ) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag}">
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Cover required </label>
                    <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
                 <!--  <div class="col-sm-5 col-xs-12">
                           <div class="slidercover">
                            <div id="slider2" class="slider"></div>
                            <div class="sliderin"></div>
                            <div class="leftval hidden-xs">0</div>
                            <div class="rightval hidden-xs">1,000,000</div>
                          </div> 
                        </div><p class=" spacer visible-xs">&nbsp;</p> -->
                        <div class="col-sm-3 col-xs-12">
                    <input type="text" id="dollar" format="number" name="requireCover" class="form-control dollar" onkeyup="return isNumeric('dollar');" onkeypress="return isNumeric('dollar');" 
                       ng-focus="checkPreviousMandatoryFields('requireCover','coverCalculatorForm')" 
                       ng-class = "(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag ? 'error-border':''" 
                       ng-model="requireCover" ng-change="validateDeathTpdIpAmounts()" >
                    
                     <input type="text" id="nodollar" limit-to="3" ng-change="convertDeathUnitsToAmount()"   ng-model="requireCover"  name="requireCover"
                      style="display:none" class="form-control"
                      onkeyup="return isNumeric('nodollar');" onkeypress="return isNumeric('nodollar');" 
                      ng-focus="checkPreviousMandatoryFields('requireCover','coverCalculatorForm')" 
                      ng-class = "(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag? 'error-border':''">
                   
                    <span class="error" ng-if="(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required )">Please select required Cover</span>
                     <span class="error" ng-if="deathErrorFlag">{{deathErrorMsg}}</span></div>
                </div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{dcCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>{{premFreq}} cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{dcWeeklyCost | currency}}</h4>
                  </div>
                </div>
              </div>
            </div>
             <div class="row rowcustom" ng-if="isDeathDisabled == true">
		  		<div class="col-sm-12">
	  			<img src="static/firstsuper/images/warning.png" >
	                <label class="control-label"> You are not eligible for Death cover due to your age </label>	            
		  		</div>
		  	</div>
		  	<p class="spacer">&nbsp;</p>
            <div class=" btn-group-vertical   heading" data-toggle="buttons"  >
              <div class="row rowcustom">
                <div class="col-sm-12 checkboxes1">
                   <label class="active" id="tpdsection" ng-disabled="isTPDDisabled">
                    <input type="checkbox" id="perDisplacementId" name="perDisplacement"> 
                     Total Permanent Disability </label>
                </div>
              </div>
            </div>
            <div class="" id="tpd" style="display:block">
            <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing cover <a class="icohelp"		ng-click="clickToOpen('This is the amount of existing cover you already hold through First Super')"></a></h5>
                </div>
                <div class='col-sm-3 col-xs-12'>
                <input type="text" id="nondollarTpd" format="number" name="existingTPDRequireCover" class="form-control dollar" onkeyup="return isNumeric('nondollarTpd');" onkeypress="return isNumeric('nondollarTpd');" 
                       ng-focus="checkPreviousMandatoryFields('existingTPDRequireCover','coverCalculatorForm')" 
                       ng-class = "(coverCalculatorForm.existingTPDRequireCover.$error.required && coverCalculatorForm.existingTPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.existingTPDRequireCover.$error.required) ? 'error-border':''" 
                       ng-model="existingTPDRequireCover" >
                       <span class="error" ng-if="(coverCalculatorForm.existingTPDRequireCover.$error.required && coverCalculatorForm.existingTPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.existingTPDRequireCover.$error.required )">Please select required Cover</span>
                       </div>
              </div>
              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
            <!--  <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.tpdCoverName.$error.required && coverCalculatorForm.tpdCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverName.$error.required ) }" >
                  <div class="col-sm-4">
                    <label class="control-label"> I want to</label>
                  </div>
                  <div class="col-sm-8  ">
                    <select  ng-disabled="isTPDCoverNameDisabled" class=" form-control" name="tpdCoverName" id="coverId" ng-focus="checkPreviousMandatoryFields('tpdCoverName','coverCalculatorForm')"  ng-class = "(coverCalculatorForm.tpdCoverName.$error.required && coverCalculatorForm.tpdCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverName.$error.required) ? 'error-border':''" ng-model="tpdCoverName" ng-change="checkTPDOption()">
                      <option value="">What would you like to do ?</option>
                      <option ng-repeat="cover in TPDCoverOptions" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      <option ng-if="!tpdCoverDetails.amount || (tpdCoverDetails.amount && tpdCoverDetails.amount == 0) " ng-repeat="cover in coverOptionsTwo" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      
                    </select>
                    <span class="error" ng-if="(coverCalculatorForm.tpdCoverName.$error.required && coverCalculatorForm.tpdCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverName.$error.required )">Please select  Cover what you want.</span>
                  </div>
                </div> -->
                <hr class="primeline">
                <div class="row rowcustom"  ng-class="{'has-error':(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required )}">
                  <div class="col-sm-4">
                    <label class="control-label"> Cover type <a class="icohelp"		ng-click="clickToOpen('This is the total amount of insurance cover you require.  If you have existing cover, you must enter at least the same amount of cover, either unitised or fixed, in the fields provided.')"></a>  </label>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2">
                        <label  ng-disabled="isTPDCoverTypeDisabled" radio-sync="Fixed" class="btn radiobutton"  onclick="showhide('dollar1','nodollar1')" ng-class="{'active': (tpdCoverType=='TPDFixed')}">
                          <input type="radio" name="tpdCoverType" ng-change="syncRadios('Fixed')" data-sync="Fixed" id="option1" class="ipradio" ng-focus="checkPreviousMandatoryFields('tpdCoverType','coverCalculatorForm')"
                           ng-class = "(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required)  ? 'radio-validation':''" 
                           ng-model="tpdCoverType" value="TPDFixed" ng-required="!isTPDCoverTypeDisabled">
                          <span></span> Fixed </label>
                         </div>
                      <div class="col2"> 
                        <label ng-disabled="isTPDCoverTypeDisabled" radio-sync="Unitised" class="btn radiobutton"  onclick="showhide('nodollar1','dollar1')" ng-class="{'active': (tpdCoverType=='TPDUnitised')}">
                          <input type="radio" name="tpdCoverType" ng-change="syncRadios('Unitised')" data-sync="Unitised" id="option2" class="ipradio"  ng-focus="checkPreviousMandatoryFields('tpdCoverType','coverCalculatorForm')"
                      		 ng-class = "(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required)  ? 'radio-validation':''" 
                     		 ng-model="tpdCoverType" value="TPDUnitised" ng-required="!isTPDCoverTypeDisabled">
                          <span></span> Unit-based </label>
                          <span class="error" ng-if="(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required )">Please select Cover type</span>
                         </div>
                    </div>
                  </div>
                </div>
                
                <hr class="primeline">
                
                <div class="row rowcustom " ng-class="{'has-error':(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required ) || (coverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag}">
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Cover required </label>
                  </div>
                  <div class="col-sm-3 col-xs-12">
                    <input id="dollar1" type="text" format="number" name="TPDRequireCover" class="form-control dollar" onkeyup="return isNumeric('dollar1');" onkeypress="return isNumeric('dollar1');" 
                       ng-focus="checkPreviousMandatoryFields('TPDRequireCover','coverCalculatorForm')" 
                       ng-class = "(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required) || (coverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag ? 'error-border':''" 
                       ng-model="TPDRequireCover" ng-change="validateDeathTpdIpAmounts()" >
                    <input type="text" id="nodollar1" limit-to="3" name="TPDRequireCover"  class="form-control"   style="display:none"
                        onkeyup="return isNumeric('nodollar1');" onkeypress="return isNumeric('nodollar1');" 
                        ng-focus="checkPreviousMandatoryFields('TPDRequireCover','coverCalculatorForm')" 
                        ng-class = "(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required) || (coverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag ? 'error-border':''"
                        ng-model="TPDRequireCover" ng-change="convertTPDUnitsToAmount()"  >
                       <span class="error" ng-if="(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required )">Please select required Cover</span>
                       <span class="error" ng-if="tpdErrorFlag">{{tpdErrorMsg}}</span>
                  </div>
                </div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{tpdCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>{{premFreq}} cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{tpdWeeklyCost | currency}}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="row rowcustom" ng-if="isTPDDisabled == true">
		  		<div class="col-sm-12">
	  			<img src="static/firstsuper/images/warning.png" >
	                <label class="control-label"> You are not eligible for TPD cover due to your age </label>	            
		  		</div>
		  	</div>
		  	<p class="spacer">&nbsp;</p>
            <div class=" btn-group-vertical   heading" data-toggle="buttons"  >
              <div class="row rowcustom"  >
                <div class="col-sm-12 checkboxes1">
                   <label class="active" ng-disabled="isIPDisabled" id="ipsection">
                    <input type="checkbox" id="option3" class=" "> 
                    Income Protection </label>
                </div>
              </div>
            </div>
            <div class="row rowcustom" ng-if="isIPDisabled15Hrs == true">
		  		<div class="col-sm-12">
	  			<img src="static/firstsuper/images/warning.png" >
	                <label class="control-label"> To be eligible for Income Protection, you need to work more than 15 hours per week. </label>	            
		  		</div>
		  	</div>
            
            <div class="" id="sc" style="display:block">
            <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing cover <a class="icohelp"		ng-click="clickToOpen('This is the amount of existing cover you already hold through First Super')"></a></h5>
                </div>
               <div class='col-sm-3 col-xs-12'>
                <input type="text" id="nondollarIp" format="number" name="existingIpRequireCover" class="form-control dollar" onkeyup="return isNumeric('nondollarIp');" onkeypress="return isNumeric('nondollarIp');" 
                       ng-focus="checkPreviousMandatoryFields('existingRequireCover','coverCalculatorForm')" ng-disabled="isIPCoverRequiredDisabled"
                       ng-class = "(coverCalculatorForm.existingIpRequireCover.$error.required && coverCalculatorForm.existingIpRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.existingIpRequireCover.$error.required) ? 'error-border':''" 
                       ng-model="existingIpRequireCover" >
                       <span class="error" ng-if="(coverCalculatorForm.existingIpRequireCover.$error.required && coverCalculatorForm.existingIpRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.existingIpRequireCover.$error.required )">Please select required Cover</span>
                       </div>
              </div>
              
               <div class="row rowcustom" ng-hide="ipCoverDetails.amount == '0.0'">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing waiting period  </h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{ipCoverDetails.waitingPeriod}}</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{ipCoverDetails.waitingPeriod}}</p>
                </div>
              </div>
              
               <div class="row rowcustom" ng-hide="ipCoverDetails.amount == '0.0'">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing benefit period  </h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{ipCoverDetails.benefitPeriod}}</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{ipCoverDetails.benefitPeriod}}</p>
                </div>
              </div>
              
              
              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
               <!--  <div class="row rowcustom " ng-class="{'has-error':(coverCalculatorForm.ipCoverName.$error.required && coverCalculatorForm.ipCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipCoverName.$error.required ) }" >
                  <div class="col-sm-4">
                    <label class="control-label"> I want to </label>
                  </div>
                  <div class="col-sm-8  ">
                    <select  ng-disabled="isIPCoverNameDisabled" class="form-control" name="ipCoverName" id="coverId" ng-focus="checkPreviousMandatoryFields('ipCoverName','coverCalculatorForm')" ng-change="checkIPOption()"  ng-class = "(coverCalculatorForm.ipCoverName.$error.required && coverCalculatorForm.ipCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipCoverName.$error.required) ? 'error-border':''" ng-model="ipCoverName">
                       <option value="">What would you like to do ?</option>
                      <option ng-repeat="cover in IPCoverOptions" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      <option ng-if="!ipCoverDetails.amount || (ipCoverDetails.amount && ipCoverDetails.amount == 0)" ng-repeat="cover in coverOptionsTwo" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                    </select>
                    <span class="error" ng-if="(coverCalculatorForm.ipCoverName.$error.required && coverCalculatorForm.ipCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipCoverName.$error.required )">Please select  Cover what you want.</span>
                  </div>
                </div> -->
                <hr class="primeline">
                
                <div class="row rowcustom ">
                  <div class="col-xs-10 col-sm-6 mr10px">
                    <div data-toggle="buttons" class="btn-group">
                      <label class="btn  checkboxes    p0  " id="ipsalarychecklabel" ng-disabled="isIpSalaryCheckboxDisabled" ng-click="toggleIPCondition()">
                        <input type="checkbox" class=" " id="ipsalarycheck" ng-disabled="isIpSalaryCheckboxDisabled">
                        <span></span> Insure 85% of my salary 
                        </label>
                    </div>                     
                  </div> 
                  <!-- <div class="col-xs-2 col-sm-1"> -->
                  <div class="relative fleft ml10px">
                      <a class="icohelp" ng-click="clickToOpen('This is the total amount of insurance cover you require.  If you have existing cover, you must enter at least the same amount of cover, either unitised or fixed, in the fields provided.')"></a>
                       <!-- </div> -->
                    </div>                 
                </div>
                <hr class="primeline">
                <div class="row rowcustom   ">
                  <div class="col-sm-4">
                    <label class="control-label"> Waiting period </label>
                  </div>
                  <div class="col-sm-8  ">
                  <select ng-disabled="isWaitingPeriodDisabled" class="form-control" ng-model="waitingPeriodAddnl" ng-options="waitingPeriodOption for waitingPeriodOption in waitingPeriodOptions track by waitingPeriodOption" ng-change="checkBenefitPeriod()"></select>
                    <!-- <select  class="selectpicker  form-control" ng-model="waitingPeriod">
                      <option value="30 Days" ng-selected="ipCoverDetails.waitingPeriod == waitingPeriod"  >30 Days</option>
                      <option value="60 Days">60 Days</option>
                      <option value="90 Days">90 Days</option> 
                   </select> -->
                  </div>
                </div>
                <hr class="primeline">
                <div class="row rowcustom   ">
                  <div class="col-sm-4">
                    <label class="control-label"> Benefit period </label>
                  </div>
                  <div class="col-sm-8  ">
                  <select ng-disabled="isBenefitPeriodDisabled" class="form-control" ng-model="benefitPeriodAddnl" ng-options="benefitPeriodOption for benefitPeriodOption in benefitPeriodOptions track by benefitPeriodOption" ng-change="checkBenefitPeriod()"></select>             
                    <!-- <select  class="selectpicker  form-control" ng-model="benefitPeriod">
                      <option value="2 Years" ng-selected="">2 Years</option>
                      <option value="5 Years">5 Years</option>
                      
                    </select> -->
                  </div>
                </div>
                <hr class="primeline">
                <div class="row rowcustom " ng-class="{'has-error':(coverCalculatorForm.IPRequireCover.$error.required && coverCalculatorForm.IPRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.IPRequireCover.$error.required ) || (coverCalculatorForm.$submitted && ipErrorFlag) || ipErrorFlag}">
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Cover required </label>
                    <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
                  <div class="col-sm-3 col-xs-12">
                  <input id="nodollar2" type="text" name="IPRequireCover" maxlength="3" class="form-control" onkeyup="return isNumeric('nodollar2');" onkeypress="return isNumeric('nodollar2');"
                       ng-focus="checkPreviousMandatoryFields('IPRequireCover','coverCalculatorForm')"  ng-disabled="isIPCoverRequiredDisabled"
                       ng-class = "(coverCalculatorForm.IPRequireCover.$error.required && coverCalculatorForm.IPRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.IPRequireCover.$error.required) || (coverCalculatorForm.$submitted && ipErrorFlag) || ipErrorFlag ? 'error-border':''" 
                       ng-model="IPRequireCover" ng-change="checkIpCover()" >
                       <span class="error" ng-if="(coverCalculatorForm.IPRequireCover.$error.required && coverCalculatorForm.IPRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.IPRequireCover.$error.required )" >Please enter required Cover</span>
                       <span class="error" ng-if="ipErrorFlag">{{ipErrorMsg}}</span>
                       <div class="row rowcustom" ng-if="ipWarningFlag">
					  		<div class="col-sm-12">
					  			<img src="static/firstsuper/images/warning.png">
				                <label class="control-label">The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</label>	            
					  		</div>
					  	</div>
                  </div>
                </div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{ipCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>{{premFreq}} cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{ipWeeklyCost | currency}}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="row rowcustom" ng-if="isIPDisabled == true">
		  		<div class="col-sm-12">
	  			<img src="static/firstsuper/images/warning.png" >
	                <label class="control-label"> You are not eligible for IP cover due to your age </label>	            
		  		</div>
		  	</div>
		  	
          </div>
          <!-- Row ends -->
          
          <div class="row   coverbg seccolor ">
            <div class="col-sm-3 hidden-xs">
              <h5>&nbsp;</h5>
            </div>
            <div class="col-sm-3 alignright borderright  hidden-xs">
              <h4 class="coverval">&nbsp; </h4>
            </div>
            <div class="col-sm-3 col-xs-6">
              <h5>Estimated Total {{premFreq}} Cost</h5>
            </div>
            <div class="col-sm-3 col-xs-6 alignright">
              <h4 class="coverval">{{totalWeeklyCost | currency}}</h4>
            </div>
          </div>
          <p class="spacer">&nbsp;</p>
        <!--   <div class=" row rowcustom">
	          <div class="col-xs-12">
		          <p class="note">
		          	<strong>Disclaimer:</strong>
		          	<p style="text-align:left;" > </p>
		            </p>
		          </p>
	          </div>
	          
          </div> -->
          <div class=" row rowcustom">
          <div ng-hide="totalWeeklyCost > 0" class="col-sm-3 col-xs-12">
          <button type="button" class="btn btn-primary w100p" ng-click="formOneSubmit(coverCalculatorForm);" ng-if="totalWeeklyCost == 0">Calculate quote </button>
          </div>
           <div class="col-sm-3 col-xs-12">
            	<button ng-if="totalWeeklyCost > 0" type="button" class="btn btn-primary w100p" ng-click="generatePDF()">Print </button>
             </div> 
             <p class="spacer visible-xs">&nbsp;</p>
            <div class="col-sm-3 col-xs-12">
               <button ng-if="totalWeeklyCost > 0 && (deathDecOrCancelFlag || tpdDecOrCancelFlag || ipDecOrCancelFlag)" id="continueWithPopUpId" type="button" class="btn btn-primary w100p" 
                ng-click="showDecreaseOrCancelPopUp(decCancelMsg)">Continue
               </button> 
              <button ng-if="totalWeeklyCost > 0 && (!deathDecOrCancelFlag  && !tpdDecOrCancelFlag && !ipDecOrCancelFlag)" type="button" class="btn btn-primary w100p" ng-click="goToAura()">Continue </button> 
            </div>
            
            <div class="col-sm-3 col-xs-12 hidden-xs">
			    <button type="button" class="btn btn-primary w100p" ng-if="totalWeeklyCost > 0" ng-click="saveQuote()">Save &amp; exit </button>  
            </div>
            <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12 aligncenter visible-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-if="totalWeeklyCost > 0" ng-click="saveQuote()"> Save &amp; exit</button>
              </div>
            <!-- <div ng-if="totalWeeklyCost > 0" class="col-sm-6 alignleft hidden-xs"> <a class="cancellink" href="landingpage.html"> Cancel</a> </div>
       		<div  ng-if="totalWeeklyCost > 0" class=" col-xs-12 aligncenter   visible-xs"> <a class="cancellink" href="#"> Cancel </a> </div> -->
       		<!-- <p class="col-xs-12 visible-xs">&nbsp;</p> -->
       		<!-- <div ng-if="totalWeeklyCost > 0" class="col-sm-3 col-xs-12 hidden-xs"><button type="button" class="btn btn-primary w100p" ng-click="navigateToLandingPage()">Cancel </button></div> 
       		<div  ng-if="totalWeeklyCost > 0" class="col-sm-3 col-xs-12 visible-xs"><button type="button" class="btn btn-primary w100p" ng-click="navigateToLandingPage()">Cancel </button></div>  -->
          </div>
          <p class="spacer">&nbsp;</p>
          </form>
        </div>
      </div>
      </div>
      <!-- Cover Calculator section ends -->
      
    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
          <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 988</h3>
      <h3 class="helpNo"></h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
<p class="spacer">&nbsp;</p>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-1   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-6   ">
      <p class="footertext"> &copy; Copyright First Super</p>
    </div>	
    <div class="col-sm-5   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://www.firstsuper.com.au/privacy" class="" target="_new">Privacy statement</a>
          | <a href="http://www.firstsuper.com.au/disclaimer" class="" target="_new" >Legal notice</a> 
         </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
     <p class="footerlinks"> <a href="http://www.firstsuper.com.au/privacy" class="" target="_new">Privacy statement</a>
      | <a href="http://www.firstsuper.com.au/disclaimer" class="" target="_new" >Legal notice</a>  </p>
    <p class="footertext"> &copy; Copyright First Super</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>

    <!-- Decrease or Cancel Popup starts --> 
		<div aria-hidden="false" aria-labelledby="mymodalDecCancelLabel" role="dialog" tabindex="-1" class="modal fade in" id="mymodalDecCancel" style="display: none;" 
		 onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';" >
		  <div class="modal-dialog hhints">
		    <div id="modal-content-id" class="modal-content">
		       <div class="modal-header">
			      <a onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';" 
			          data-dismiss="modal" aria-hidden="true"> <button class="close xi" type="button">X</button>
		          </a>
		       </div>
		       <div class="modal-body">
			    <h4 class="modal-title aligncenter" id="mymodalDecCancelLabel">Change cover</h4>
		      	<!-- Row starts -->
		         <div class="row  rowcustom  ">
		          <div class="col-sm-12">
		            <p class="aligncenter">
		              <div id="decCancelMsg_text"></div>
		              <p></p>
		            </p>
		           </div>
		         </div>
		       <!-- Row ends -->
		      </div> 
		      <div class="modal-footer mt0 pt0">
		       <div class="row">
		        <div class="col-sm-4"></div>
		         <div class="col-sm-4 col-xs-12">
		          <a onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';">
		           <!-- <button class="btn btn-primary w100p" type="button" ng-click="go('/quote')">Yes</button> -->
		          </a> 
		          <button class="btn btn-primary w100p" type="button" ng-click="checkForAura()">Continue</button>
		         </div>
		          <div class="col-sm-4"> </div> 
		        </div>
		      </div>
		     </div>
			    <!-- /.modal-content --> 
		  </div>
	    <!-- /.modal-dialog --> 
	  </div>
	 <div class="modal-backdrop fade in" id= "mymodalDecCancelFade" style="display:none;"> 
  </div>
 <!--  <button ng-click='toggleModal()'>Open Modal Dialog</button> -->
	<help-text show='modalShown' msg='tipMsg' width='550px'>
	  <p>Modal Content Goes here<p>
	</help-text>
 <!--Decrease or Cancel Popup ends -->	




<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 

    
 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 



