<div class="c-header">
  <div class="container">
    <div class="col-sm-3 col-xs-6">
    	<img src="static/firstsuper/images/logo.png" class="img-responsive  c-logo" alt="MetLife Australia" />
    	<p ng-if="hideHomebutton" class="color3"><Strong>Hello,&nbsp;{{fName}}&nbsp;{{lName}}</Strong></p>
    </div>
    <div class="col-sm-9 col-xs-6 menuBlock text-right">
      <div ng-if="!hideHomebutton">
        <a class="col-xs-12 form-group" href="" ng-click="navigateToHomePage()" >Home</a> 
      </div>
      <div>
        <a class="col-xs-12 form-group" target="_blank" title="About us" href="http://www.firstsuper.com.au/Insurance">About us</a>
      </div>
      <div>
        <a class="col-xs-12 form-group" target="_blank" title="Contact us" href="http://www.firstsuper.com.au/Contact">Contact us</a>
      </div>
      <div>
        <a class="col-xs-12 form-group" href="" ng-click="logout()" >Logout</a>
      </div>
    </div>
  </div>
</div>