

 
<div class="c-header">
  <div class="container">
    <div class="col-sm-3 col-xs-6">
     <img src="static/firstsuper/images/logo.png" class="img-responsive  c-logo" alt="MetLife Australia" /> 
    </div>
    <div class="  col-xs-9 hidden-xs  ">
      <!-- <div class="logout noborderleft pointer"><a  ng-click="navigateToLandingPage()" >Home</a> </div> -->
      <div class="logout noborderleft"><a target="_blank" title="Contact us" href="http://www.firstsuper.com.au/Contact">Contact us</a> </div>
      <div class="logout">  <a target="_blank" title="About us" href="http://www.firstsuper.com.au/Insurance">About us</a> </div>
    </div>
    <div class="col-xs-6 visible-xs text-right">
      <div class="mt25px"><a class="col-xs-12 form-group" target="_blank" title="About us" href="http://www.firstsuper.com.au/Insurance">About us</a>
        <a class="col-xs-12 form-group" target="_blank" title="Contact us" href="http://www.firstsuper.com.au/Contact">Contact us</a><br>
    <!--     <a class="col-xs-12 form-group" ng-click="navigateToLandingPage()">Home</a> -->
       </div>
    </div>
  </div>
</div>
<h2 ng-show="errorOccured" style="color:red;text-align: center;">Something went wrong...Please try after sometime</h2>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-xs-3 nav-arrows"> 
    <img src="static/firstsuper/images/bg_blank.png" ng-if="!auraDisabled" ng-click="go('/auraNonMember/')" class=" icoMenuRev active  "> 
    <img src="static/firstsuper/images/bg_blank.png" ng-if="auraDisabled" ng-click="go('/nonmember/')" class=" icoMenuRev active  "> 
    <img src="static/firstsuper/images/bg_blank.png" class=" icoMenuFwd  ml30p">
    </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149</h3> -->
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 988</h3>
      <h3 class="helpNo"> </h3>
    </div>
     
  </div>
   <div class="col-sm-9">
	    <div class="menu hidden-xs">
	       <div class="col-sm-4 nn">
	        <h5 style="color:#0066a1">Step 1</h5>
	        <div class="txtHolder"> <a ng-click="go('/nonmember/')"> Personal details</a> </div>
	        <img src="static/firstsuper/images/bg_blank.png" class=" right">
	       </div>
	       
	        <div class="col-sm-4 nl" ng-if="!auraDisabled">
	         <img src="static/firstsuper/images/bg_blank.png" class=" left">
	         <h5 style="color:#0066a1">Step 2</h5>
	         <div class="txtHolder"> <a ng-click="go('/auraNonMember/')"> Health &amp; lifestyle</a></div>
	         <img src="static/firstsuper/images/bg_blank.png" class=" right">
	        </div>
	        <div class="col-sm-4 nl" ng-if="auraDisabled" ng-disabled="auraDisabled">
	         <img src="static/firstsuper/images/bg_blank.png" class=" left">
	         <h5 style="color:#d9d9d9">Step 2</h5>
	         <div class="txtHolder"> <a style="color:#d9d9d9"> Health &amp; lifestyle</a></div>
	         <img src="static/firstsuper/images/bg_blank.png" class=" right">
	        </div>
	       
	        <div class="col-sm-4 cn">
	         <h5>Step 3</h5>
	         <div class="txtHolder" style="color:#000"> Confirmation </div>
	         <img src="static/firstsuper/images/bg_blank.png" class=" left"> 
	        </div>
	     </div>
	     
	    <div class="panel-group" id=" ">
	      <div class="panel panel-default">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="  ">
	          	<h4 class="panel-title">Personal details </h4>
	          </a> 
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse in ">
	          <div class="panel-body"> 
	            <!-- Row starts -->
	             <div class="row rowcustom first">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>First name</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	                <label class="control-label">{{changeCoverDetails.firstName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            <!-- Row starts -->
	            <div class="row rowcustom first">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Last name</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	                <label class="control-label">{{changeCoverDetails.lastName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Date of birth</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label"> {{changeCoverDetails.dob}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            
	            <!-- Row starts -->
	          <!--<div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong> Resident status </strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	                <label class="control-label">{{changeCoverDetails.country}}</label>
	              </div>
	            </div> 
	             <hr class="primeline"> -->  
	            <!-- Row ends -->
	           
	            <!-- Row starts -->
	            <!-- <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>Smoker</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	                <label class="control-label">No</label>
	              </div>
	            </div>
	            Row ends
	            <hr class="primeline"> -->
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Email address</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverDetails.email}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Preferred contact number </strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverDetails.contactPhone}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>What time of day do you prefer to be contacted?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label" ng-if="changeCoverDetails.contactPrefTime=='Morning (9am - 12pm)'">Morning (9am&ndash;12pm)</label>
	               <label class="control-label" ng-if="changeCoverDetails.contactPrefTime=='Afternoon (12pm - 6pm)'">Afternoon (12pm&ndash;6pm)</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	         
	            <!-- <hr class="primeline"> -->
	            <!-- Row ends -->
	            
	            <!-- Row starts -->
	            <!-- <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Are you a citizen or permanent resident of Australia?</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.citizenQue}}</label>
	              </div>
	            </div> -->
	           <!--  Row ends -->
	            <hr class="primeline">
	            
	             <!-- Row starts -->
	            <!-- <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Have you smoked in the last 12 months</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverDetails.smoker}}</label>
	              </div>
	            </div>
	            Row ends
	            <hr class="primeline">
	             -->
	            
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>What industry do you work in?</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.industryName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>What is your current occupation?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12" >
	                <label class="control-label" ng-show="changeCoverOccDetails.occupation !='Other'">{{changeCoverOccDetails.occupation}}</label>
	                <label class="control-label" ng-show="changeCoverOccDetails.occupation =='Other'">{{changeCoverOccDetails.otherOccupation}}</label>
	              </div>
	             
	            </div>
	            <!-- Row ends -->
	              <div class="row rowcustom" ng-if="changeCoverDetails.showOutsideOfficeQuestion">
	            <hr class="primeline">
	             <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <p align="justify"><strong>Do you spend at least 80% of all working time in an office environment?</strong></p></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.managementRoleQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends -->
	             </div>
	            <div class="row rowcustom" ng-if="changeCoverDetails.showWithinOfficeQuestion">
	            <hr class="primeline">
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><p align="justify"> <strong>Are your duties entirely undertaken within an office environment?</strong></p></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.withinOfficeQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends -->
	             </div>
	             <div class="row rowcustom" ng-if="changeCoverDetails.showTertiaryQuestion">
	            <hr class="primeline">
	             <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <p align="justify"><strong>Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</strong></p></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.tertiaryQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends -->
	             </div>
	            
	                <hr class="primeline">
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Do you work more than 15 hours per week?</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.fifteenHr}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <!-- <hr class="primeline">
	             Row starts
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Are you in a management role?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.managementRoleQue}}</label>
	              </div>
	            </div>
	             Row ends -->
	            <hr class="primeline">
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>Gender</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.gender}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Annual salary</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	              <label class="control-label">{{changeCoverOccDetails.salary | currency:undefined:0}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	             <hr class="primeline">
	            <!-- Row starts -->
	           <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Reason for application for additional cover:</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	             <select  class="  form-control" name="rsnForAdnlCvr"   ng-model="rsnForAdnlCvr" >
                  <option value="">Please select...</option>
                   <option ng-repeat="reason in rsnFrAplyAdnlCvr" value="{{reason.rsn}}">{{reason.rsn}}</option>
                </select>
	              </div>
	            </div>
	            <!-- Row ends -->
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default nobg">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" class="">
	            <h4 class="panel-title"> Your cover</h4>
	            </a>
	        </div>
	        <div id="collapseTwo" class="panel-collapse collapse  in    ">
	           <div class="">
	           
	            <div class="row   ">
	            <!-- Death Cover Details Starts--> 
	            <div class="col-sm-4 bgwhite borderright5px h350px">
	              <div class="boxnonmember coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Death<br>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="boxnonmember mt10px    aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p>{{changeCoverDetails.existingDeathAmt | currency:undefined:0}} </p>
	                <h5 class=" color2">New cover</h5>
	                <p>{{deathAddnlDetails.deathFixedAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category </h5>
	                <p>{{changeCoverDetails.deathOccCategory}}</p>
	                <h5 class=" color2">{{changeCoverDetails.freqCostType}} cost</h5>
	                <p>{{deathAddnlDetails.deathCoverPremium | currency}}</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="spacer visible-sm visible-md">&nbsp;</p>
	                <p class="spacer visible-sm visible-md mtm3px">&nbsp;</p>
	                <p class="spacer mt20px visible-sm ">&nbsp;</p>
	                
	              </div>
	            </div>
	            <!-- Death Cover Details Ends--> 
	            
	            <p class="spacer visible-xs">&nbsp;</p>
	            
	           <!-- TPD Cover Details Starts--> 
	           <div class="col-sm-4 bgwhite borderright5px h350px ">
	              <div class="boxnonmember coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Total Permanent<br> Disability</strong> 
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="boxnonmember mt10px    aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p>{{changeCoverDetails.existingTpdAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">New cover</h5>
	                <p>{{tpdAddnlDetails.tpdFixedAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category </h5>
	                <p>{{changeCoverDetails.tpdOccCategory}}</p>
	                <h5 class=" color2">{{changeCoverDetails.freqCostType}} cost</h5>
	                <p>{{tpdAddnlDetails.tpdCoverPremium | currency}}</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="spacer visible-sm visible-md">&nbsp;</p>
	                <p class="spacer visible-sm visible-md mtm3px">&nbsp;</p>
	                <p class="spacer mt20px visible-sm ">&nbsp;</p>
	              </div>
	              </div>
	             <!-- TPD Cover Details Ends--> 
	             
	             <p class="spacer visible-xs">&nbsp;</p>
	             
	             <!-- IP Cover Details Starts-->
	             <div class="col-sm-4 bgwhite h350px">
	              <div class="boxnonmember coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Income <br> Protection  <span class="visible-sm"><br>
	                </span></strong>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="boxnonmember mt10px aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p>{{changeCoverDetails.existingIPAmount | currency:undefined:0}}</p>
	                <!-- <p>{{changeCoverDetails.existingIPUnits| currency:undefined:0}} </p> -->
	                <h5 class=" color2">New cover</h5>
	                <p>{{ipAddnlDetails.ipFixedAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Waiting period</h5>
	                <p>{{ipAddnlDetails.waitingPeriod}}</p>
	                <h5 class=" color2">Benefit period</h5>
	                <p>{{ipAddnlDetails.benefitPeriod}}</p>
	                <h5 class=" color2">Occupational category </h5>
	                <p>{{changeCoverDetails.ipOccCategory}}</p>
	                <h5 class=" color2">{{changeCoverDetails.freqCostType}} cost</h5>
	                <p>{{ipAddnlDetails.ipCoverPremium | currency}}</p>
	                <!-- <p class="h5px mt0 mb0">&nbsp;</p><p class="h5px mt0 mb0">&nbsp;</p> -->
	                <p class="spacer visible-sm visible-md">&nbsp;</p>
	                <p class="spacer visible-sm visible-md mtm3px">&nbsp;</p>
	                <p class="spacer mt20px visible-sm ">&nbsp;</p>
	              </div> 
	               </div>
	               <!-- IP Cover Details Ends-->
	             <!-- <div class="box mt10px aligncenter "> 
	                <p class=" mt15px">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class=" visible-sm ">&nbsp;</p>
	              </div> -->
	            </div>
	             
	             <div ng-if="auraDetails == null || auraDetails.specialTerm == false"> 
		          <div class="row  mt0  coverbg seccolor ">
		            <div class="col-sm-9 col-xs-12">
		              <h5>&nbsp;Total {{changeCoverDetails.freqCostType}} cost</h5>
		            </div>
		            <div class="col-sm-3 col-xs-6 alignright hidden-xs">
		              <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}&nbsp;</h4>
		            </div>
		            <div class="col-sm-3 col-xs-6 visible-xs">
		              <h4 class="coverval" style="padding-left:3px;">{{changeCoverDetails.totalPremium | currency}}&nbsp;</h4>
		            </div>
	              </div>
	           	  <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by First Super</p>
		         </div>
	             <!-- <div class="box mt10px aligncenter "> 
	                 <p class=" mt15px">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer visible-sm visible-md">&nbsp;</p>
	                 <p class=" visible-sm ">&nbsp;</p>
	               </div> -->
	            </div>
	          </div>
	         <!-- <div ng-if="auraDetails == null || auraDetails.specialTerm == false"> 
	          <div class="row  mt0  coverbg seccolor ">
	            <div class="col-sm-9 col-xs-6">
	              <h5>&nbsp;Total {{changeCoverDetails.freqCostType}} cost</h5>
	            </div>
	            <div class="col-sm-3 col-xs-6 alignright hidden-xs">
	              <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}&nbsp;</h4>
	            </div>
	            <div class="col-sm-3 col-xs-6 alignright visible-xs">
	              <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}&nbsp;</h4>
	            </div>
              </div>
           	  <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by First Super</p>
	         </div> -->  
	            
        <div class=" secrow1 " ng-if="auraDetails.specialTerm == true && auraDetails.overallDecision == 'ACC' && ((auraDetails.deathLoading != null && auraDetails.deathLoading != '0.0') || (auraDetails.tpdLoading != null && auraDetails.tpdLoading != 0.0) || (auraDetails.ipLoading != null && auraDetails.ipLoading != 0.0))">
         <div class="lwt"></div>
         <div class="rwt"></div>
          <div class="panel panel-default nobg">
	        <div class="col-sm-12 bgwhite">
			 <!-- Row starts -->
            <div class="row rowcustom">
              <div class="col-sm-12">
			     <div class="row rowcustom ">
                  <div class="col-sm-12">
                    <p> Loadings</p>
                   </div>
                  </div>
		           <!-- Row ends -->
		           <hr class="primeline">
		             <div class="row rowcustom ">
		               <div class="col-sm-12">
		                 <div data-toggle="buttons" class=" btn-group-vertical">
		                  <div class="row rowcustom" >
		                    <div class="col-sm-12" ng-if="auraDetails.deathLoading != null && auraDetails.deathLoading != 0.0">
		                      <h6>Death</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;"> 
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to 
		                         a loading of {{auraDetails.deathLoading}}%, an additional premium in the amount of {{deathLoadingCost | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="auraDetails.tpdLoading != null && auraDetails.tpdLoading != 0.0">
		                      <h6>TPD</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;"> 
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to 
		                         a loading of {{auraDetails.tpdLoading}}%, an additional premium in the amount of {{tpdLoadingCost | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="auraDetails.ipLoading != null && auraDetails.ipLoading != 0.0">
		                      <h6>Income Protection</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;"> 
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to 
		                         a loading of {{auraDetails.ipLoading}}%, an additional premium in the amount of {{ipLoadingCost | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                   </div>
		                 </div>
		                </div>
		             </div>
			   </div>
             </div>
            </div>
         </div>
        </div>
      <div class="secrow1" ng-if="auraDetails.specialTerm == true && auraDetails.overallDecision == 'ACC' && (auraDetails.deathExclusions != null || auraDetails.tpdExclusions != null || auraDetails.ipExclusions != null)">
        <div class="lwt"></div>
        <div class="rwt"></div>
         <div class="panel panel-default nobg">
	        <div class="col-sm-12 bgwhite">
			 <!-- Row starts -->
            <div class="row rowcustom">
              <div class="col-sm-12">
			     <div class="row rowcustom ">
                  <div class="col-sm-12">
                    <p> Exclusions</p>
                   </div>
                  </div>
		           <!-- Row ends -->
	                <hr class="primeline">
		             <div class="row rowcustom ">
		               <div class="col-sm-12">
		                 <div data-toggle="buttons" class=" btn-group-vertical">
		                  <div class="row rowcustom" >
	                    <div class="col-sm-12" ng-if="auraDetails.deathExclusions != null">
		                      <h6>Death</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;"> {{auraDetails.deathExclusions}}
		                       </p>
		                    </div>
	                    <div class="col-sm-12" ng-if="auraDetails.tpdExclusions != null">
		                      <h6>TPD</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;"> {{auraDetails.tpdExclusions}}
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="auraDetails.ipExclusions != null">
		                      <h6>Income Protection</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;"> {{auraDetails.ipExclusions}}
						       </p>
		                    </div>
		                   </div>
		                 </div>
	                </div>
		             </div>
			   </div>
             </div>
            </div>
         </div>
		</div>	  
            <div class="col-sm-12 bgwhite " ng-if="auraDetails.specialTerm == true && auraDetails.overallDecision == 'ACC' ">
              <!--<div class="row rowcustom">
                   <div class="col-sm-12"></div>
           	    </div><hr class="primeline"> -->
             <div class="row rowcustom " ng-class="{'has-error':LEFlag}" ng-click="checkAckStateLE()">
               <div class="col-sm-12">
                 <div data-toggle="buttons" class="btn-group-vertical">
                  <div class="row rowcustom">
                    <div class="col-sm-12">
                     <label class="btn  checkboxes ack-checkbox-label" id="lodadingExclusionLabel">
                      <input type="checkbox" class=" " id="lodadingExclusionId">
                      <span></span><div class="custom-checkbox-label"> I acknowledge I have read and understood the above exclusion(s) and/or loading(s) which apply to this cover.</div>
                     </label>
                    </div>
                   </div>
                 </div>
                </div>
             </div>
            </div>
            <div  ng-if="auraDetails.specialTerm == true">
             <div class="row  mt0  coverbg seccolor ">
           <div class="col-sm-9 col-xs-6">
             <h5>Total {{changeCoverDetails.freqCostType}} cost</h5>
           </div>
           <div class="col-sm-3 col-xs-6 alignright hidden-xs">
             <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}</h4>
           </div>
           <div class="col-sm-3 col-xs-6 alignright visible-xs">
             <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}</h4>
           </div>
            </div>
         	  <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by First Super</p>
       </div>    
           
           
           
             
         <!--     <div class="row  mt0  coverbg seccolor ">
            <div class="col-sm-9 col-xs-6">
              <h5>Total weekly cost</h5>
            </div>
            <div class="col-sm-3 col-xs-6 alignright">
              <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}</h4>
            </div>
             </div>
          <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by HESTA SUPER</p>
          -->
          </div>
       </div>
       
    </div>
      
      <!-- Check bok for loading and exclusions  -->
        
    <div class="panel-group col-sm-9" id=" ">  
       <div class="panel panel-default nobg">
        <div class="panel-heading">  
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" class="  ">
           <h4 class="panel-title"> Terms &amp; conditions </h4>
          </a> 
        </div>
        <div id="collapse4" class="panel-collapse collapse in ">
          <div class="col-sm-12 bgwhite">
			 <!-- Row starts -->
           <!--  <div class="row rowcustom">
              <div class="col-sm-12">
              <p><strong>You must click and read the General Consent before proceeding</strong></p>
              <p><strong>NOTICE OF THE DUTY OF DISCLOSURE FROM OUR LIFE INSURER TO YOU</strong></p>
           		<p><strong>Duty of disclosure </strong></p>
                <p>A person who enters into a life insurance contract in respect of your life has a duty, before entering into the contract, to tell the insurer anything that he or she knows, or could reasonably be expected to know, which may affect the insurer's decision to provide the insurance and on what terms.</p>
                <p>The person entering into the contract has this duty until the insurer agrees to provide the insurance.</p>
                <p>The person entering into the contract has the same duty before he or she extends, varies or reinstates the contract.</p>
                <p>The person entering into the contract does not need to tell the insurer anything that:</p>
               		<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
               			<li>reduces the risk the insurer insures him or her for; or</li>
               			<li>is common knowledge; or</li>
               			<li>the insurer knows or should know as an insurer; or</li>
               			<li>the insurer waives his or her duty to tell them about.</li>
           			</ul>
                
                <p>If the person does not tell the insurer something that he or she knows, or could reasonably be expected to know, this may affect the insurer's decision 
                    to provide the insurance and on what terms, and may be treated by the insurer as a failure by the person entering into the contract to tell the insurer 
                    something that he or she must disclose to the insurer.</p>
                <p>In exercising the following rights, the insurer may consider whether different types of cover can constitute separate contracts of life insurance. If they do, the insurer may apply the following rights separately to each type of cover.</p>
                <p>If the person entering into the contract does not tell the insurer anything he or she is required to, and the insurer would not have provided the insurance if he or she had disclosed the information, the insurer may avoid the contract within 3 years of entering into it.</p>
             	<p>If the insurer chooses not to avoid the contract, the insurer may, at any time, reduce the amount of insurance provided. This would be worked out using a formula that takes into account the premium that would have been payable if the person had told the insurer everything he or she should have.</p>
              	<p>However, if the contract has a surrender value, or provides cover on death, the insurer may only exercise this right within 3 years of entering into the contract.</p>
            	<p>If the insurer chooses not to avoid the contract or reduce the amount of insurance provided, the insurer may, at any time vary the contract in a way that places the 
             		insurer in the same position the insurer would have been in if the person had told the insurer everything he or she should have.
              		However, this right does not apply if the contract has a surrender value or provides cover on death.</p>
              	<p>If the failure to tell the insurer is fraudulent, the insurer may refuse to pay a claim and treat the contract as if it never existed.</p>
              </div>
            </div>
             <hr class="primeline">
              <div class="row rowcustom " ng-class="{'has-error':CCDDackFlag}" ng-click="checkAckStateDD()">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom">
                     <div class="col-sm-12">
                      <label class="btn  checkboxes   " id="DutyOfDisclosureLabel">
                       <input type="checkbox" class=" " id="option2">
                       <span></span>I acknowledge and consent to the above.
                      </label>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            Row ends
            <hr class="primeline">
            <div class="row rowcustom ">
              <div class="col-sm-12">
               <p> <strong>You must click and read the Privacy Statement before proceeding</strong></p>
               <p> <strong> Your privacy with MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife' and the 'Insurer')</strong></p>
                <p>The personal information you provide in the form is necessary for us to provide you with the products and services you have requested from us, 
                and to manage your claims. You do not have to provide us with your personal information, but if you do not do so we may not be able to provide you with our 
                products or services. MetLife Insurance Limited complies with the Privacy Act 1988 and the principles laid out in its privacy policy which details information 
                about how you may access or seek correction of your personal information, how we manage that information and our complaints process. 
                MetLife's Privacy Policy is readily available and can be viewed at <a href="www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy</a>.
                </p>
                <p> <strong>Your privacy as a member of Your Super Fund</strong></p>
                <p>The information you provide in this form is collected by and held by the fund administrator, in accordance with the Australian Privacy Principles of the 
                Privacy Act. Such information is usually disclosed to third parties, including the Insurer or medical consultant who may be involved with the assessment of 
                this application, and is held by Administrator and the Insurer. For more information about privacy, contact Customer Service on 1300 360 988 or visit 
                <a href="www.firstsuper.com.au/privacy" class="" target="_new">www.firstsuper.com.au/privacy</a> to view the privacy policy .
               </p>
             </div>
            </div>
            <hr class="primeline">
              <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':CCPPackFlag}" ng-click="checkAckStatePP()">
                     <div class="col-sm-12">
                      <label class="btn  checkboxes   " id="privacyPolicyLabel">
                       <input type="checkbox" class=" " id="option2">
                       <span></span>I acknowledge and consent to the  collection, use and disclosure of my personal information (including health information) in accordance with the privacy policies of CareSuper and MetLife.
                       <span></span>I acknowledge and consent to the above.
                      </label>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            Row ends
            <hr class="primeline"> -->
            <br>
              <div class="scrollBox">
               <div class="row rowcustom ">
              <div class="col-sm-12">
              <p><strong>You must click and read the General Consent before proceeding</strong></p>
               <p> <strong>General consent</strong></p>
               <p align="justify">By clicking on the tick box below, I declare that:</p> 
               		<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
               			<li>I have read and understand my duty of disclosure and that this duty applies until formal notification of acceptance.</li>
               			<li>The answers to the questions in this application are true, and I have not deliberately withheld any information material to the proposed insurance.</li>
               			<li>I agree to be bound by the terms and conditions attached to this cover as set out in the Insurance Policy Document between Your Super Fund and the Insurer.</li>
               			<li>I have read and understood the privacy statement and agree to the collection, use and disclosure of personal information as described in those statements.</li>
               			<li>I consent to MetLife Insurance Limited seeking medical information from any doctor who at any time I have consulted prior to the date hereof.</li>
               			<li>I understand that my insurance cover will not become effective until MetLife has accepted this application in writing and provided my member account has adequate funds to meet the premium payable. I understand that increases or changes to insurance premiums may apply. </li>
               			<li>I have read the insurance section of the current First Super Member Guide (Product Disclosure Statement) relevant to my Division, including the Member Guide Supplement: Insurance.</li>
               			<li>I authorise any hospital, physician or other person who has attended me to furnish MetLife Insurance Limited or its representatives, any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records.</li>
           			</ul>
             </div>
            </div>
            </div>
            <!-- Row ends -->
            <!-- <hr class="primeline"> -->
              <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':CCGCackFlag}" ng-click="checkAckStateGC()">
                     <div class="col-sm-12">
                      <label class="btn  checkboxes ack-checkbox-label" id="generalConsentLabel">
                       <input type="checkbox" class=" " id="option2">
                       <span></span><div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above. </div>

                      </label>
                       <p ng-if="CCGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            
            <hr class="primeline">
            <div class=" row rowcustom">
               <div class="col-sm-3 col-xs-12">
		        <a class="" href="" data-parent="#accordion" data-toggle="collapse">
	             <button  class="btn btn-primary w100p" type="button" ng-if="!auraDisabled" ng-click="go('/auraNonMember/')">Previous</button>
	             <button  class="btn btn-primary w100p" type="button" ng-if="auraDisabled" ng-click="go('/nonmember/')">Previous</button>
		        </a>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12">
                <button type="button" class="btn btn-primary w100p" ng-click="navigateToDecision()" >Submit</button>
              </div>
              <div class="col-sm-3 col-xs-12 alignleft hidden-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-click="saveSummary()" > Save &amp; exit</button>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12 aligncenter   visible-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-click="saveSummary()" > Save &amp; exit</button>
              </div>
            </div>
         </div>
        </div>
       </div>
     </div>   
    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
          <p class="helpTxt aligncenter">We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 988</h3>
         <!--  <h3 class="helpNo aligncenter"> 8am&ndash;8pm weekdays</h3> -->
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-1   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-6   ">
      <p class="footertext"> &copy; Copyright First Super</p>
    </div>	
    <div class="col-sm-5   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://www.firstsuper.com.au/privacy" class="" target="_new">Privacy statement</a>
      | <a href="http://www.firstsuper.com.au/disclaimer" class="" target="_new" >Legal notice</a> 
         </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="http://www.firstsuper.com.au/privacy" class="" target="_new">Privacy statement</a>
      | <a href="http://www.firstsuper.com.au/disclaimer" class="" target="_new" >Legal notice</a>  </p>
    <p class="footertext"> &copy; Copyright First Super</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>


<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider2' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount2' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script>

