
<div class="menut">
  <div class="container relative">
    <div class=" row bgsec">
      <div class="  c-mt10px clearfix">
        <div class="col-sm-3 hidden-xs ">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="wwrap fleft  hidden-xs ">
            <tbody>
              <tr>
                <td class="fleft"  ><span class="ico icoSave colorsec  mr5px"></span></td>
                <td class="fleft note"  ><a href="#">Save &amp; Email</a></td>
                <td class="fleft  " >&nbsp;&nbsp; </td>
                <td class="fleft  "><span class="ico  ico icoPrint colorsec  mr5px"></span></td>
                <td class="fleft   note"  ><a href="#">Print</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-3 col-xs-5">
          <div class=" visible-xs clearfix  fleft  mb5px">
            <p class="telno  "> <span class="ico icoCall"></span> 1300 265 374 </p>
          </div>
          <p class="hidden-xs"> <strong>Level <span class="red">$20</span></strong> per month </p>
        </div>
        <div class="col-sm-3 col-xs-7">
          <p class="   note fright"> <strong>Quote ID: COLI-999-9999</strong></p>
        </div>
        <div class="col-sm-3 col-xs-12">
          <p class="visible-xs"> <strong>Level <span class="red">$20</span></strong> per month </p>
          <div class="fright note mr10px hidden-xs"> Call 1300 265 374 for help </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="c-header">
  <div class="container">
    <div class="col-sm-3 col-xs-6">
     <img src="static/firstsuper/images/logo.png" class="img-responsive  c-logo" alt="MetLife Australia" /> 
    </div>
    <div class="  col-xs-9 hidden-xs  ">
      <div class="logout noborderleft pointer"> <a ng-click="navigateToLandingPage()">Home</a> </div>
      <div class="logout noborderleft"> <a target="_blank" title="Contact us" href="http://www.firstsuper.com.au/Contact">Contact us</a> </div>
      <div class="logout"> <a target="_blank" title="About us" href="http://www.firstsuper.com.au/Insurance">About us</a> </div>      
    </div>
    <div class="col-xs-6 visible-xs text-right">
      <div class="mt25px"><a class="col-xs-12 form-group" target="_blank" title="About us" href="http://www.firstsuper.com.au/Insurance">About us</a>
        <a class="col-xs-12 form-group" target="_blank" title="Contact us" href="http://www.firstsuper.com.au/Contact">Contact us</a><br>
        <a class="col-xs-12 form-group" ng-click="navigateToLandingPage()">Home</a>
       </div>
    </div>
  </div>
</div>
<div class="container ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149</h3> -->
       <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 988</h3>
     <!--  <h3 class="helpNo"> </h3> -->
    </div>
   
  </div>
  <div class=" col-sm-9">
 
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class=" ">
          <h4 class="panel-title"> Your saved applications </h4>
          </a> 
        </div>
        <div id="collapseOne" class="panel-collapse collapse in   ">
          <div class="panel-body pt0 pb0"> 
            	<div class="row">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="grid table table-responsive">
                  <tr class="">
                    <th class="coverbg">
                      <h5 class=" ">Application</h5>
                    </th>
                    <th class="coverbg">
                    <h5 class=" ">Created</h5>
                    </th>
                    <!-- <th width="20%"  class="coverbg">
                    <h5 class=" ">Expires</h5>
                    </th> -->
                    <th class="coverbg">
                    <h5 class=" ">Type</h5>
                    </th>
                    <th class="coverbg hidden-xs">
                    <h5 class=" ">Status</h5>
                    </th>
                  </tr>
                  <tr ng-repeat="app in apps" class="hidden-xs">
                    <td ng-show="app.hyperlink==true"><a href="#" ng-click="goToSavedApp(app)">{{app.applicationNumber}}</a></td>
                    <td ng-show="app.hyperlink==false">{{app.applicationNumber}}</td>
                    <td>{{app.createdDate}}</td>
                    <!-- <td>30/03/2015</td> -->
                    <td>{{app.requestType}}</td>
                    <td>{{app.applicationStatus}}</td>
                  </tr>
                  <tr ng-repeat="app in apps" class="visible-xs">
                    <td ng-show="app.hyperlink==true"><a href="#" ng-click="goToSavedApp(app)">{{app.applicationNumber}} ({{app.applicationStatus}})</a></td>
                    <td ng-show="app.hyperlink==false">{{app.applicationNumber}} ({{app.applicationStatus}})</td>
                    <td>{{app.createdDate}}</td>
                    <!-- <td>30/03/2015</td> -->
                    <td>{{app.requestType}}</td>
                  </tr>
                </table>
              </div>
					<!-- <div class="row visible-xs">
					<table width="100%" border="0" cellspacing="0" cellpadding="0" class="grid ">
                      <tr class="">
                        <th width="50%" class="coverbg     ">
                        	<h5 class=" ">Application</h5>
                        </th>
                        <th width="50%"  class="coverbg     ">
                        <h5 class=" ">Created</h5>
                        </th>
                      </tr>
                      <tr>
                        <td><a href="#">77586653</a></td>
                        <td>31/03/2014</td>
                      </tr>
                      <tr>
                        <td><a href="#">77586654</a></td>
                        <td>31/03/2014</td>
                      </tr>
                      <tr>
                        <td><a href="#">77586655</a></td>
                        <td>31/03/2014</td>
                      </tr>
                    </table>
             	</div> -->
          </div>
        </div>
      </div>
    </div>
    
     <!-- Row starts -->
    
    <!-- Row ends -->
  
    
    <p class="spacer">&nbsp;</p>
    
    <!-- Row starts -->
    <div class="row hidden-xs">
      <div class="col-sm-12  ">
        <div class="bgwhite notebox clearfix">
          <div class="col-sm-2 aligncenter"> <img src="static/firstsuper/images/wait.png" class="img-responsive mt20px " /> </div>
          <div class="col-sm-10">
            <h2 class="noteTitle">  SOMETHING MISSING!</h2>
            <p>Your application may have expired if: a birthday has passed; underwriting rules have changed; or more than 30 days have lapsed since you last saved it. You will have to create a new one.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Row ends -->
    
     <!-- Row starts -->
    <div class="row aligncenter visible-xs ">
      <div class="col-sm-12  ">
        <div class="bgwhite notebox clearfix">
          <div class="col-sm-2 aligncenter"> <img src="static/firstsuper/images/wait.png" class="    mt20px " /> </div>
          <div class="col-sm-10">
            <h2 class="noteTitle">  SOMETHING MISSING!</h2>
            <p>Your application may have expired if: a birthday has passed; underwriting rules have changed; or more than 30 days have lapsed since you last saved it. You will have to create a new one.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Row ends -->
    
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
        <!--   <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
         <!--  <p class="helpTxt aligncenter">Like to speak to someone?</p> -->
          <h3 class="helpNo aligncenter"> 1300 360 988</h3>
         <!--  <h3 class="helpNo aligncenter"> 8am&ndash;8pm weekdays</h3> -->
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
 <p class="spacer">&nbsp;</p>
<div class="c-footer hidden-xs">
  <div class="container">
   <div class="col-sm-1   "> <p class="footertext">&nbsp;  </p> </div>
    <div class="col-sm-6   ">
      <!-- <p class="footertext">&copy; Copyright First Super</p> -->
    </div>	
    <div class="col-sm-5   ">
      <div class="text-right  ">
        <p class="footerlinks">
          <a href="http://www.firstsuper.com.au/privacy" class="" target="_new">Privacy Statement</a>
           | <a href="http://www.firstsuper.com.au/disclaimer" class="" target="_new" >Legal Notice</a>
        </p>
      </div>
    </div>
  </div>
</div>

 
  <div class="container visible-xs">
 
      <div class=" col-xs-12 aligncenter ">
        <p class="footerlinks"> <a href="http://www.firstsuper.com.au/privacy" class="" target="_new">Privacy Statement</a>
         | <a href="http://www.firstsuper.com.au/disclaimer" class="" target="_new">Legal Notice</a> 
        </p>
        <!-- <p class="footertext"> &copy; Copyright First Super</p> -->
      </div>
   <p class="spacer">&nbsp;</p>
  </div>

