<div class="container pt-5" ng-init="$ctrl.init()">
  <div class="menumobile d-block d-md-none no-gutters">
    <div class="col-8 d-block float-left">
      <div class="txtHolderMob">
        <span class="color2">2 / 2</span> Acknowledge Cancellation </div>
    </div>
    <div class="col-4 align-top d-inline-block">
      <div class="icoMenuRev">
        <span></span>
      </div>
      <div class="icoMenuFwd">
        <span></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="menu d-none d-md-block">
        <div class="col-sm-4 dc first float-left">
          <h5>step 1</h5>
          <div class="txtHolder cursor-pointer" ng-click="$ctrl.previous()"> Personal details </div>
          <img src="static/corporate/src/assets/images/bg_blank.png" class="shadow-image right"></img>
        </div>
        <div class="col-sm-8 cn float-left">
          <img src="static/corporate/src/assets/images/bg_blank.png" class="shadow-image left"></img>
          <h5>step 2</h5>
          <div class="txtHolder"> Acknowledge Cancellation</div>
        </div>
      </div>
      <div class="cancel-acknowledge">
        <form name="$ctrl.cancelAckForm" role="form" novalidate>
          <div class="row no-gutters card p-4 iedisplayBlock">
            <div class="col-sm-12">
              <label class="control-label"> Please provide reason for cancelling your cover by selecting one of the following options</label>
            </div>
            <div class="col-sm-12" ng-class="{'has-error': ($ctrl.cancelAckForm.$submitted && $ctrl.cancelAckForm.reason.$error.required) || ($ctrl.cancelAckForm.$submitted && $ctrl.cancelAckForm.otherReason.$error.required)}">
              <div class="btn-group iedisplayBlock" data-toggle="buttons">
                <div class="row">
                  <div class="col-12">
                    <button class="btn mt-2 ingd-radiobutton text-left pl-3" ng-click="$ctrl.updateCancellationReason('option1')">
                      <input type="radio" checkbox-and-radio-update name="reason" ng-model="$ctrl.cancelReason" id="option1" value="option1" required>
                      <span></span> No longer require insurance </button>
                  </div>
                  <div class="col-12">
                    <button class="btn mt-2 ingd-radiobutton text-left pl-3" ng-click="$ctrl.updateCancellationReason('option2')">
                      <input type="radio" checkbox-and-radio-update name="reason" ng-model="$ctrl.cancelReason" id="option2" value="option2" required>
                      <span></span> Affordability constraints </button>
                  </div>
                  <div class="col-12">
                    <button class="btn mt-2 ingd-radiobutton text-left pl-3" ng-click="$ctrl.updateCancellationReason('option3')">
                      <input type="radio" checkbox-and-radio-update name="reason" ng-model="$ctrl.cancelReason" id="option3" value="option3" required>
                      <span></span> I have sufficient insurance in place </button>
                  </div>
                  <div class="col-12">
                    <button class="btn mt-2 ingd-radiobutton text-left pl-3" ng-click="$ctrl.updateCancellationReason('option4')">
                      <input type="radio" checkbox-and-radio-update name="reason" ng-model="$ctrl.cancelReason" id="option4" value="option4" required>
                      <span></span> I don&rsquo;t wish to provide details </button>
                  </div>
                  <div class="col-sm-12 col-xs-12 pl0" ng-class="{'has-error': ($ctrl.cancelAckForm.otherReason.$error.required && $ctrl.cancelAckForm.otherReason.$touched) || ($ctrl.cancelAckForm.$submitted && $ctrl.cancelAckForm.otherReason.$error.required)}">
                    <button class="btn mt-2 ingd-radiobutton text-left pl-3" ng-click="$ctrl.updateCancellationReason('option5')">
                      <input type="radio" checkbox-and-radio-update name="reason" ng-model="$ctrl.cancelReason" id="option5" value="option5" required>
                      <span></span> Other &ndash; please provide details </button>
                    <div ng-if="$ctrl.cancelReason =='option5'" class="mt-3">
                      <div class="row">
                        <div class="col-sm-5">
                          <label class="control-label"> Please enter other reason </label>
                        </div>
                        <div class="col-sm-7 col-xs-12">
                          <input class="form-control" maxlength="50" name="otherReason" ng-model="$ctrl.cancelOtherReason" type="text" placeholder="Enter other reason"
                            required>
                          <span ng-if="($ctrl.cancelAckForm.otherReason.$error.required && $ctrl.cancelAckForm.otherReason.$touched) || ($ctrl.cancelAckForm.$submitted && $ctrl.cancelAckForm.otherReason.$error.required)" class="error">Please enter your reason</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="error" style="padding-top:5px;" ng-if="($ctrl.cancelAckForm.$submitted && $ctrl.cancelAckForm.reason.$error.required) || ($ctrl.cancelAckForm.$submitted && $ctrl.cancelAckForm.otherReason.$error.required)">Please provide reason for cancellation.</p>
            </div>
            
            <div class="col-12">
              <p style="margin: 40px 0 20px;">Please take the time to review your Insurance Inside Super and find out about the benefits.</p>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/250046029" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
          <h4 class="card-title ml-2 mt-4">Acknowledgement</h4>
          <div class="row card no-gutters p-4 iedisplayBlock">
            <div class="col-12">
              <p>By clicking on the tick box below, I declare that: </p>
              <div class="mb-4 row" ng-class="{'has-error': ($ctrl.cancelAckForm.acknowledgeCheck.$error.required && $ctrl.cancelAckForm.acknowledgeCheck.$touched) || ($ctrl.cancelAckForm.$submitted && $ctrl.cancelAckForm.acknowledgeCheck.$error.required)}">
                <div class="btn-group-vertical w-100 ml-3 mr-3 mt-1" data-toggle="buttons">
                  <button class="btn mt-2 ingd-button-checkbox col-12 p-1" id="ackCancellationLabelId" ng-click="$ctrl.checkAckState()">
                    <input checkbox-and-radio-update name="acknowledgeCheck" ng-model="$ctrl.cancelSubmitData.ackCheck" type="checkbox" ng-true-value="'true'" ng-false-value="'false'" required="">
                    <span></span>
                    <div class="d-flex">I understand that I am cancelling my {{$ctrl.cancelWarning}} insurance cover with ING and if I wish to
                        apply for cover with ING in the future I will need to go through underwriting.</div>
                  </button>
                  <p ng-if="($ctrl.cancelAckForm.acknowledgeCheck.$error.required && $ctrl.cancelAckForm.acknowledgeCheck.$touched) || ($ctrl.cancelAckForm.$submitted && $ctrl.cancelAckForm.acknowledgeCheck.$error.required)" class="error" style="padding-top:5px;">Please acknowledge and consent to the declaration.</p>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-12 col-md-4">
                  <button class="metlife-btn-primary btn btn-block btn-outline" ng-click="$ctrl.previous()">Previous</button>
                </div>
                <span class="spacer d-block d-sm-none">&nbsp;</span>
                <div class="form-group col-12 col-md-4">
                  <button class="metlife-btn-primary btn btn-block btn-outline" type="submit"
                    ng-click="$ctrl.confirm()">Confirm Cancellation</button>
                </div>
                <span class="spacer d-block d-sm-none">&nbsp;</span>
                <div class="form-group col-12 col-md-4">
                  <button class="metlife-btn-primary btn btn-block btn-outline" ng-click=" $ctrl.close()">Close</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-3 mt-4 mt-md-0">
      <div class="need-help-block text-white p-3">
        <h4 class="text-white">Can we help?</h4>
        <p> Call us on
          <strong>133 464</strong>
        </p>
        <p> 8am - 8pm Monday to Friday</p>
        <p> 9am - 5pm Saturday (AEST/AEDT)</p>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>