<div class="container pt-5" ng-init="$ctrl.init()">
  <div class="menumobile d-block d-md-none no-gutters">
    <div class="col-8 d-block float-left">
      <div class="txtHolderMob">
        <span class="color2">1 / 2</span> Personal details </div>
    </div>
    <div class="col-4 align-top d-inline-block">
      <div class="icoMenuRev">
        <span></span>
      </div>
      <div class="icoMenuFwd">
        <span></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="menu d-none d-md-block">
        <div class="col-sm-4 cn first float-left">
          <h5>step 1</h5>
          <div class="txtHolder"> Personal details </div>
          <div class="shadow-image right"></div>
        </div>
        <div class="col-sm-8 cnn float-left">
          <div src="static/corporate/src/assets/images/bg_blank.png" class="shadow-image left"></div>
          <h5>step 2</h5>
          <div class="txtHolder"> Acknowledge Cancellation</div>
        </div>
      </div>
      <div id="cancel-accordion1">
        <div class="card border-0 mt-4">
          
          <div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
      			<div data-toggle="collapse" data-target="#contact-details">
      				<button class="ingd-section-title mb-0">Contact Details</button>
      			</div>
      		</div>
      		
          <div id="contact-details" class="collapse show" aria-labelledby="contact-info" data-parent="#cancel-accordion">
            <form name="memberDetails" role="form" novalidate>
                <div class="card mb-3 p-3">
                  <div class="p-0 px-sm-3">
                    <label class="m-0 p-0"> Please leave your contact details in the event we need to contact you</label>
                  </div>
                  <hr class="primeline">

                  <div class="d-sm-flex mb-1">
                    <div class="col-sm-6 col-12 p-0 px-sm-3" ng-class="{'has-error':(memberDetails.contactEmail.$invalid && memberDetails.contactEmail.$touched) || (memberDetails.$submitted && memberDetails.contactEmail.$error.required) || (memberDetails.$submitted && memberDetails.contactEmail.$error.pattern)}">
                      <label class="my-2"> Email address </label>
                      <input ng-focus="$ctrl.checkPreviousMandatoryFields('memberDetails','contactEmail');" class="form-control px-1 border-secondary" maxlength="50" name="contactEmail" ng-model="$ctrl.cancelSubmitData.applicant.emailId" type="email" ng-pattern="$ctrl.emailPattern" placeholder="Enter your email" required>
                      <span ng-if="(memberDetails.contactEmail.$invalid && memberDetails.contactEmail.$touched) || (memberDetails.$submitted && memberDetails.contactEmail.$error.required) || (memberDetails.$submitted && memberDetails.contactEmail.$error.pattern)" class="error">Please enter your email address</span>
                    </div>
                    <div class="col-sm-6 col-12 p-0 px-sm-3">
                      <label class="my-2">Preferred contact number</label>
                      <div class="d-sm-flex">
                        <div class="mr-sm-2 w-100 w-sm-50" ng-class="{'has-error':(memberDetails.contactType.$invalid && memberDetails.contactType.$touched) || (memberDetails.$submitted && memberDetails.contactType.$error.required)}">
                          <select ng-click="$ctrl.checkPreviousMandatoryFields('memberDetails','contactType');" name="contactType" class="form-control px-1 border-secondary" ng-model="$ctrl.cancelSubmitData.applicant.contactDetails.preferedContacType" ng-change="$ctrl.changePrefContactType()" ng-options="contact.value as contact.text for contact in $ctrl.contactOpts" required>
                          </select>
                          <span ng-if="(memberDetails.contactType.$invalid && memberDetails.contactType.$touched) || (memberDetails.$submitted && memberDetails.contactType.$error.required)" class="error">Please select the Preferred contact type</span>
                        </div>
                        
                        <div class="mr-sm-2 w-100 w-sm-100 mt-2 mt-sm-0" ng-class="{'has-error':(memberDetails.contactPhone.$invalid && memberDetails.contactPhone.$touched) || ((memberDetails.$submitted && memberDetails.contactPhone.$error.required)  || (memberDetails.contactPhone.$error.pattern))}">
                          <input ng-focus="$ctrl.checkPreviousMandatoryFields('memberDetails','contactPhone');" name="contactPhone" class="form-control px-1 border-secondary" ng-model="$ctrl.cancelSubmitData.applicant.contactDetails.preferedContactNumber" type="text" ng-pattern="$ctrl.mobilePattern" placeholder="Enter your Phone No" required>
                          <span ng-if="(memberDetails.contactPhone.$invalid && memberDetails.contactPhone.$touched) || ((memberDetails.$submitted && memberDetails.contactPhone.$error.required)  || (memberDetails.contactPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr class="primeline">

                  <div class="d-sm-flex mb-1">
                    <div class="col-sm-6 col-12 p-0 px-sm-3" ng-class="{'has-error':(memberDetails.contactPrefTime.$error.required && memberDetails.contactPrefTime.$touched) || (memberDetails.$submitted && memberDetails.contactPrefTime.$error.required)}">
                      <label class="my-2"> What time of day do you prefer to be contacted? </label>
                      <div class="d-block d-sm-flex" data-toggle="buttons">
                        <div class="mr-sm-2 w-100 w-sm-50">
                          <label class="btn mt-2 ingd-radiobutton" ng-click="$ctrl.checkPreviousMandatoryFields('memberDetails','contactPrefTime');" ng-class="{'active': ($ctrl.cancelSubmitData.applicant.contactDetails.preferedContactTime == 'Morning (9am - 12pm)')}">
                            <input class="ingdRadioInput" name="contactPrefTime" ng-model="$ctrl.cancelSubmitData.applicant.contactDetails.preferedContactTime" type="radio" value="Morning (9am - 12pm)" required>
                            <span></span> {{$ctrl.PrefTimeOpts[0]}}
                          </label>
                        </div>
                        <div class="ml-sm-2 w-100 w-sm-50">
                          <label class="btn mt-2 ingd-radiobutton" ng-click="$ctrl.checkPreviousMandatoryFields('memberDetails','contactPrefTime');" ng-class="{'active': ($ctrl.cancelSubmitData.applicant.contactDetails.preferedContactTime == 'Afternoon (12pm - 6pm)')}">
                            <input class="ingdRadioInput" name="contactPrefTime" ng-model="$ctrl.cancelSubmitData.applicant.contactDetails.preferedContactTime" type="radio" value="Afternoon (12pm - 6pm)" required>
                            <span></span> {{$ctrl.PrefTimeOpts[1]}}
                          </label>
                        </div>
                      </div>
                      <span ng-if="(memberDetails.contactPrefTime.$error.required && memberDetails.contactPrefTime.$touched) || (memberDetails.$submitted && memberDetails.contactPrefTime.$error.required)" class="error">Please enter your preferred contact time</span>
                    </div>
                    <div class="col-sm-6 col-12 p-0 px-sm-3" ng-class="{'has-error':(memberDetails.gender.$error.required && memberDetails.gender.$touched) || (memberDetails.$submitted && memberDetails.gender.$error.required )}">
                      <label class="my-2"> Gender </label>
                      <div class="btn-group d-block d-sm-flex" data-toggle="buttons">
                        <div class="mr-sm-2 w-100 w-sm-50">
                          <label class="btn mt-2 ingd-radiobutton" ng-click="$ctrl.checkPreviousMandatoryFields('memberDetails','gender');" ng-class="{'active': ($ctrl.cancelSubmitData.applicant.gender == 'Male')}">
                            <input type="radio" class="ingdRadioInput" name="gender" ng-model="$ctrl.cancelSubmitData.applicant.gender" value="Male" required>
                            <span></span> Male </label>
                        </div>
                        <div class="ml-sm-2 w-100 w-sm-50">
                          <label class="btn mt-2 ingd-radiobutton" ng-click="$ctrl.checkPreviousMandatoryFields('memberDetails','gender');" ng-class="{'active': ($ctrl.cancelSubmitData.applicant.gender == 'Female')}">
                            <input type="radio" class="ingdRadioInput" name="gender" ng-model="$ctrl.cancelSubmitData.applicant.gender" value="Female" required>
                            <span></span> Female
                          </label>
                        </div>
                      </div>
                      <span class="error" ng-if="(memberDetails.gender.$error.required && memberDetails.gender.$touched) || (memberDetails.$submitted && memberDetails.gender.$error.required )">Please select Gender</span>
                    </div>
                  </div>
                </div>
              </form>
          </div>
        </div>
        
        <div class="card border-0 mt-4">
          
          <div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
      			<div data-toggle="collapse" data-target="#cancel-details" ng-click="$ctrl.isCollapsable('cancel-details', $event);">
      				<button class="ingd-section-title mb-0">Cover cancellation</button>
      			</div>
      		</div>
      		
          <div id="cancel-details" class="collapse" aria-labelledby="cancel-info" data-parent="#cancel-accordion">
            <form name="$ctrl.cancelForm" role="form">
              <div class="card p-3">
                <div class="d-sm-flex">
                  <div class="p-0 px-sm-3">
                    <label class="m-0 p-0"> Select the cover(s) you want to cancel.</label>
                  </div>
                </div>
                <hr class=" primeline">
                <p class="mb-0 p-3" ng-if="$ctrl.cancelSubmitData.applicant.cover[0].existingCoverAmount == 0 && $ctrl.cancelSubmitData.applicant.cover[1].existingCoverAmount == 0.0 && $ctrl.cancelSubmitData.applicant.cover[2].existingCoverAmount == 0">You have no valid cover to cancel. Please close the window to exit. </p>
                
                <div class="mt-2 ml-1 mb-2 px-sm-3 row no-gutters" ng-if="$ctrl.cancelSubmitData.applicant.cover[0].existingCoverAmount != 0">
                  <div class="btn-group-vertical col-12">
                    <label class="btn mt-2 ingd-button-checkbox col-12 p-1" ng-class="{'active': ($ctrl.cancelSubmitData.coverCancellation.death == true)}">
                      <input class="ingdCheckBoxInput" name="cancelDeath" ng-model="$ctrl.cancelSubmitData.coverCancellation.death" id="cancelDeath" type="checkbox" ng-true-value="true" ng-false-value="false" required>
                      <span></span>
                      <div class="">Death</div>
                    </label>
                  </div>
                  <div class="col-12">
                    <div class="row mt-3 no-gutters">
                      <div class="col-4">
                        <span class="font-weight-bold float-left">Existing Cover </span>
                        <a class="icohelp position-static m-0 ml-4 float-left" ng-click="$ctrl.openHH('This is the amount of existing cover you already hold through ING.')"></a>
                      </div>
                      <div class="col-6">
                        <p class="cover">{{$ctrl.cancelSubmitData.applicant.cover[0].existingCoverAmount | currency:undefined:0}} {{$ctrl.cancelSubmitData.applicant.cover[0].coverCategory === 'DcAutomatic' ? '(Automatic)' : '(Tailored)'}}</p>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class=" primeline" ng-if="$ctrl.cancelSubmitData.applicant.cover[1].existingCoverAmount != 0">

                <div class="mt-2 ml-1 mb-2 px-sm-3 row no-gutters" ng-if="$ctrl.cancelSubmitData.applicant.cover[1].existingCoverAmount != 0">
                  <div class="btn-group-vertical col-12">
                    <label class="btn mt-2 ingd-button-checkbox col-12 p-1" ng-class="{'active': ($ctrl.cancelSubmitData.coverCancellation.tpd == true)}">
                      <input class="ingdCheckBoxInput" name="cancelTpd" ng-model="$ctrl.cancelSubmitData.coverCancellation.tpd" type="checkbox" id="cancelTpd" ng-true-value="true" ng-false-value="false" required>
                      <span></span>
                      <div class="">Total &amp; Permanent Disablement</div>
                    </label>
                  </div>
                  <div class="col-12">
                    <div class="row mt-3 no-gutters">
                      <div class="col-4">
                        <span class="font-weight-bold float-left">Existing Cover </span>
                        <a class="icohelp position-static m-0 ml-4 float-left" ng-click="$ctrl.openHH('This is the amount of existing cover you already hold through ING.')"></a>
                      </div>
                      <div class="col-6">
                        <p class="cover">{{$ctrl.cancelSubmitData.applicant.cover[1].existingCoverAmount | currency:undefined:0}} {{$ctrl.cancelSubmitData.applicant.cover[1].coverCategory === 'TPDAutomatic' ? '(Automatic)' : '(Tailored)'}}</p>
                      </div>
                    </div>
                  </div>
                </div>

                <hr class=" primeline" ng-if="$ctrl.cancelSubmitData.applicant.cover[2].existingCoverAmount != 0">

                <div class="mt-2 ml-1 mb-2 px-sm-3 row no-gutters" ng-if="$ctrl.cancelSubmitData.applicant.cover[2].existingCoverAmount != 0">
                  <div class="btn-group-vertical col-12">
                    <label class="btn mt-2 ingd-button-checkbox col-12 p-1" ng-class="{'active': ($ctrl.cancelSubmitData.coverCancellation.incomeProtection == true)}">
                      <input class="ingdCheckBoxInput" name="cancelIp" ng-model="$ctrl.cancelSubmitData.coverCancellation.incomeProtection" type="checkbox" id="cancelIp" ng-true-value="true" ng-false-value="false" required>
                      <span></span>
                      <div class="">Income Protection</div>
                    </label>
                  </div>
                  <div class="col-12">
                    <div class="row mt-3 no-gutters">
                      <div class="col-4">
                        <span class="font-weight-bold float-left">Existing Cover </span>
                        <a class="icohelp position-static m-0 ml-4 float-left" ng-click="$ctrl.openHH('This is the amount of existing cover you already hold through ING.')"></a>
                      </div>
                      <div class="col-6">
                        <p class="cover">{{$ctrl.cancelSubmitData.applicant.cover[2].existingCoverAmount | currency:undefined:0}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class=" primeline">
                <div class="d-sm-flex mt-1 mb-3">
                  <div class="col-sm-3 col-12">
                    <button class="btn ingd-submit-button font-weight-normal text-white w-100" type="button" ng-disabled="!$ctrl.cancelSubmitData.coverCancellation.death  && !$ctrl.cancelSubmitData.coverCancellation.tpd && !$ctrl.cancelSubmitData.coverCancellation.incomeProtection" ng-click=" $ctrl.continue()">Continue</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 mt-4 mt-md-0">
      <div class="need-help-block text-white p-3">
        <h4 class="text-white">Can we help?</h4>
        <p> Call us on
          <strong>133 464</strong>
        </p>
        <p> 8am - 8pm Monday to Friday</p>
        <p> 9am - 5pm Saturday (AEST/AEDT)</p>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>