<div class="container pt-5" ng-init="$ctrl.init()">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="card border-0 mt-4">
        <div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
      			<div data-toggle="collapse" data-target="#cancel-decision">
      				<button class="ingd-section-title mb-0">REQUEST SUBMITTED</button>
      			</div>
      	</div>
      		
        <div id="cancel-decision" class="collapse show p-4" aria-labelledby="decision-info">
          <p>We have received your request to cancel your {{$ctrl.cancelWarning}} cover.</p>
          <p>We will send a confirmation of the changes to you.</p>         
          <p>Please close the window to exit.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 mt-4 mt-md-0">
      <div class="need-help-block text-white p-3">
        <h4 class="text-white">Can we help?</h4>
        <p> Call us on
          <strong>133 464</strong>
        </p>
        <p> 8am - 8pm Monday to Friday</p>
        <p> 9am - 5pm Saturday (AEST/AEDT)</p>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>