<metlife-guil-header-nav></metlife-guil-header-nav>
<div class="menut">
  <div class="container relative">
    <div class=" row bgsec">
      <div class="  c-mt10px clearfix">
        <div class="col-sm-3 d-none d-sm-block ">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="wwrap fleft  d-none d-sm-block ">
            <tbody>
              <tr>
                <td class="fleft"  ><span class="      ico icoSave colorsec     mr5px"></span></td>
                <td class="fleft note"  ><a href="#">Save &amp; Email</a></td>
                <td class="fleft  " >&nbsp;&nbsp; </td>
                <td class="fleft  "><span class="ico  ico icoPrint colorsec  mr5px"></span></td>
                <td class="fleft   note"  ><a href="#">Print</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-3 col-5">
          <div class=" d-block d-sm-none clearfix  fleft  mb5px">
            <p class="telno  "> <span class="ico icoCall"></span> 1300 265 374 </p>
          </div>
          <p class="d-none d-sm-block"> <strong>Level <span class="red">$20</span></strong> per month </p>
        </div>
        <div class="col-sm-3 col-7">
          <p class="   note fright"> <strong>Quote ID: COLI-999-9999</strong></p>
        </div>
        <div class="col-sm-3 col-12">
          <p class="d-block d-sm-none"> <strong>Level <span class="red">$20</span></strong> per month </p>
          <div class="fright note mr10px d-none d-sm-block"> Call 1300 265 374 for help </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container d-none d-sm-block">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class=" col-sm-3 fright d-none d-sm-block">
   <metlife-guil-help-block></metlife-guil-help-block>
  </div>
  <div class="col-sm-9">
	<div class="accordion">
		<div class="card border-0 mt-2">
			<div class="card-header bg-dark text-white" data-toggle="collapse">
				<a class="card-title noarrow">
					<h4 class="mb-0 float-left">REFERRED TO MTAA SUPER</h4>
				</a>
			</div>
			<div class="overflow-hidden">
				<div id="collapseOne" class="collapse in">
					<div class="card-body pb0">
						<div class="row rowcustom">
							<div class=" col-sm-12">
								<p align="justify">
									Thank you for your application for insurance cover.
									<br><br>
									Your application has been referred to the insurer for further assessment. You will be contacted shortly with the details of either a decision or requests for further requirements to finalise your application. <br>
									<br>
									Should you have any further concerns or queries, please do not hesitate to contact us on <strong>1300 362 415</strong>.
								</p>
							</div>
						</div>
						<div class="row">
							<div class=" col-sm-6 text-center coverbg borderright ">
								<h5 class="mb0">Application number</h5>
								<p>{{vm.appNum}}</p>
							</div>
							<div class=" col-sm-6 text-center coverbg">
								<h5 class="mb0">Application</h5>
								<p>
									<span class="icoDoc"></span>
									<a href="" ng-click="vm.downloadPDF()"> <strong>Download </strong></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt20">
		<div class="col-12 d-block d-sm-none">
			<metlife-guil-help-block></metlife-guil-help-block>
		</div>
	</div>
</div>
  <!-- /container --> 
</div>


