  <div class="c-footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="footerlinks text-center text-sm-right">
            <a href="{{vm.footerNav.aboutUsUrl}}" target="_new">About Us</a> |
            <a href="{{vm.footerNav.privacyUrl}}" target="_new">Privacy Policy</a> |
            <a href="{{vm.footerNav.legalNoticeUrl}}" target="_new">Legal Notice</a> 
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="footertext text-center text-sm-right">MetLife Insurance Limited (ABN 75 004 274 882) is an Australian Financial Services Licensee, <nobr>AFSL No. 238 096.</nobr></p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container d-block d-md-none">
    <div class="col-xs-12">
      <p class="footerlinks text-right">
        <a href="{{vm.constants.aboutUsUrl}}" target="_new">About Us</a> |
        <a href="{{vm.constants.privacyUrl}}" target="_new">Privacy Policy</a> |
        <a href="{{vm.constants.legalNoticeUrl}}" target="_new">Legal Notice</a> 
      </p>
      <p class="footertext text-right">MetLife Insurance Limited (ABN 75 004 274 882) is an Australian Financial Services Licensee, 
        <nobr>AFSL No. 238 096</nobr>
      </p>
    </div>
  </div> -->
