/* Statewide CSS START */

body {
	background: white;
	font-family: Arial, Helvetica, sans-serif;
}

.global_header .metlifeLogo .row img {
	width: auto;
	height: 44px;
}

@media (min-width: 768px) {

	.global_header .metlifeLogo .row img {
		width: auto;
		height: 56px;
	}

	.global_header.fixedHeader .metlifeLogo .row img {
		width: 120px;
	}
	.no-underline {
		text-decoration: none !important;
		cursor: default;
		color: #333 !important;;
	}

}

section.header-secondary {
	background-color: #1d385f;
}

.btn-info {
	background-color: #4ca9d4;
	color: white !important;
	border-color: #4ca9d4;
}

.btn-info:hover {
	color: #4ca9d4 !important;
	background-color: white;
	border-color: #4ca9d4;
}

button.btn-primary {
	background: #e0582e;
}

button.btn.btn-primary:hover {
	background-color: #cf451a;
}

#trigger-add {
	background: #4ca9d4;
}


section.main {
	background: #f2f2f2;
}

.faqs-wrapper .accordionHeader {
	background: white;
	border: 1px solid #1d385f;
	border-left: 10px solid #1d385f;
	color: #1d385f;
}

.faqs-wrapper .accordionHeader.acc-open {
	border-bottom: 0;
	color: white;
	background-color: #1d385f;
}

.faqs-wrapper .accordionHeader:after {
	background-color: transparent;
}

.faqs-wrapper .accordionHeader.acc-open:after {
	color: white;
}

.faqs-wrapper .accordionContent {
	background: white;
	border: 1px solid #1d385f;
	border-left: 10px solid #1d385f;
	border-top: 0;
	padding: 20px 18px 10px;
	color: #1d385f;
}


.region.region-footer {
	background: white;
	margin-top: 0;
}


.footer_logo_legal {
	border-top: 0;
	padding: 30px 0 40px;
}

/* Statewide CSS END */




.error {
	color: red;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0; 
}
