<metlife-guil-header-nav></metlife-guil-header-nav>
<div class="container d-none d-sm-block">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container aura p-0">
  <div class="menumobile d-block d-sm-none d-flex h-100">
    <div class="col-9">
      <div class="txtHolderMob"><span class="color2">2 / 3</span> Health &amp; lifestyle </div>
    </div>
    <div class="col-3"> <img src="./static/mtaa/src/app/assets/images/bg_blank.png" ng-click="vm.go('/quotetransfer/2')" class=" icoMenuRev active  "> <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright d-none d-sm-block">
    <metlife-guil-help-block></metlife-guil-help-block>
  </div>
  <div class=" col-sm-9">
    <div class="menu d-none d-sm-block">
      <div class="col-sm-4 dc first pointer float-left pt-2" ng-click="vm.go('/quotetransfer/2')">
        <h5 style="color:#0066a1">Step 1</h5>
        <div class="txtHolder pointer"> <a class="ui-link">Personal details</a></div>
        <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="right"> </div>
      <div class="col-sm-4 cn float-left pt-2">
      	<img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="left">
        <h5>Step 2</h5>
        <div class="txtHolder"> Health &amp; lifestyle</div>
        <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="right"> </div>
      <div class="col-sm-4 cnn float-left pt-2">
        <h5>Step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="left"> </div>
    </div>
    
    <div class="accordion">

      <div class="card border-0  mt-2" ng-if="vm.auraResponseDataList">
        <div class="card-header bg-dark text-white" data-toggle="collapse" href="#collapseOne">
        	<a class="card-title">
        		<h4 class="mb-0 float-left" ng-bind="vm.sectionname"></h4>
        	</a>
        </div>
        <div class="overflow-hidden">
	        <div id="collapseOne" class="panel-collapse collapse in">
	        	<div class="panel-body">
	        		<div ng-repeat="x in vm.auraResponseDataList">
	        			<div ng-if="x.classType=='RadioQuestion'" class="row rowcustom" ng-class="{'has-error':x.error}">
	        				
	        				<div class="col-sm-12 col-12">
	        					<label class="control-label" ng-bind="x.questionText | split"></label>
	        				</div>
	        				
	        				<div class="col-sm-12 col-12">
	        					<div class="btn-group" onclick="visible('tick3')">
	        						<div class="col-12 col-sm-3" ng-repeat="y in x.auraAnswer">
	        							<div ng-if="$first" ng-click="vm.updateRadio(y.answerValue,x)">	        								
        									<label class="btn  radiobutton" ng-class="{'active': (x.answerTest == 'Yes')}">
        										<input type="radio" class="ipradio" id="option1" name="options" ng-value="x.answerTest">
        										<span></span>
        										{{y.answerText}}
        									</label>	        								
	        							</div>
	        							<div ng-if="!$first" ng-click="vm.updateRadio(y.answerValue,x)">	        								
        									<label class="btn  radiobutton" ng-class="{'active': (x.answerTest == 'No')}">
        										<input type="radio" class="ipradio" id="option2" name="options" ng-value="x.answerTest">
        										<span></span>
        										{{y.answerText}}
        									</label>	        								
	        							</div>
	        						</div>
	        					</div>
	        				</div>
	        				
	        				<div ng-repeat="z in x.auraAnswer">
	        					<div ng-repeat="x in z.childQuestions"  class="row rowcustom">
	        						<div ng-class="{'row' : x.baseQuestion==false && !x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
	        							<div ng-class="{ 'col-sm-11  col-11 fright' : x.baseQuestion==false}">
	        								<label class="control-label" ng-bind="x.questionText | split"></label>
	        							</div>
	        							
	        							<div class="col-sm-11 col-11 fright">
	        								<div class="col-sm-5 col-11" ng-show="x.answerTest==''">
	        									<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeTextArea">
	        								</div>
	        							
		        							<div class="col-sm-5  col-11" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
		        								<label class="control-label" ng-bind="x.answerTest | split"></label>
		        							</div>
		        							
		        							<div class="col-sm-3  col-11" ng-if="!x.questionComplete ||  x.answerTest==''">
		        								<button type="button" class="btn btn-primary w100p no-arrow" ng-click="vm.updateRadio(freeTextArea,x)">Enter</button>
		        							</div>
		        							
		        							<div class="col-sm-3  col-11" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
		        								<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
		        							</div>
		        						</div>
		        						
		        						<div ng-if="x.error"  ng-class="{'col-sm-11  col-11' : x.baseQuestion==false}" class="fright error">
		        							Please select an answer
		        							<br><br>
		        						</div>
		        					</div>
		        				</div>
		        			</div>
		        			
		        			<div ng-if="x.error" class="col-sm-12  col-12  fright error">
		        				Please select an answer
		        				<br><br>
		        			</div>
		        		</div>	        		
		        		<hr class="primeline">
		        	</div>
	
	            <div class="row rowcustom">
	            
	            <div class="col-sm-4 col-12">
	            	<a href="" data-parent="#accordion" data-toggle="collapse">
	            		<button  class="btn btn-primary btn-back w100p" type="button"  ng-click="vm.go('/quotetransfer/2')">Previous</button>
	            	</a>
	            </div>
	            <p class="spacer d-block d-sm-none">&nbsp;</p>
	            <div class="col-sm-4 col-12">
	            	<a data-parent="#accordion" data-toggle="collapse">
	            		<button  class="btn btn-primary w100p avoid-arrow" type="button" ng-click="vm.saveAuraTransfer()" >Save &amp; Exit</button>
			        </a>
			     </div>
			     <p class="spacer d-block d-sm-none">&nbsp;</p>
			     <div class="col-sm-4 col-12">
			     	<a class=""  data-parent="#accordion" data-toggle="collapse">
			     		<button  class="btn btn-primary w100p" type="button" ng-click="vm.proceedNext()">Continue</button>
			     	</a>
			     </div>
	                
	
	            </div>
	          </div>
	        </div>
	     </div>
      </div>





    </div>
    <div class="row mt20px">
      <div class="col-12 d-block d-sm-none">
        <metlife-guil-help-block></metlife-guil-help-block>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>