<metlife-guil-header-nav></metlife-guil-header-nav>
<div class="container d-none d-sm-block">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container p-0">
	<div class="col-sm-3 fright d-none d-sm-block">
		<metlife-guil-help-block></metlife-guil-help-block>
	</div>
	<div class="col-sm-9">
	<div class="accordion" ng-if="vm.transferDecision=='Accepted'">
		<div class="card border-0 mt-2">
			<div class="card-header bg-dark text-white" data-toggle="collapse">
				<a class="card-title noarrow">
					<h4 class="mb-0 float-left text-white">REFERRED TO MTAA SUPER</h4>
				</a>
			</div>
			<div class="overflow-hidden">
				<div id="collapseOne" class="collapse in">
					<div class="card-body pb0">
						<div class="row rowcustom">
							<div class=" col-sm-12">
								<p align="justify">
									Thank you for your application to transfer your existing insurance cover to <strong>MTAA Super</strong>.
									<br><br>
									Your application has been referred for further assessment. You will be contacted shortly with the details of either a decision or requests for further requirements to finalise your application.
									<br><br>
									Please note that your application will not be assessed until the supporting documentation has been received.
									<br><br>
									If you require any further information or assistance, please contact <strong>MTAA Super</strong> on <strong>1300 362 415</strong>.
								</p>
							</div>
						</div>
						<div class="row">
							<div class=" col-sm-6 text-center coverbg borderright ">
								<h5 class="mb0">Application number</h5>
								<p>{{vm.appNum}}</p>
							</div>
							<div class=" col-sm-6 text-center coverbg">
								<h5 class="mb0">Application</h5>
								<p>
									<span class="icoDoc"></span>
									<a href="" ng-click="vm.downloadPDF()"> <strong>Download </strong></a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div ng-if="vm.transferDecision=='Declined'" class="accordion">
		<div class="card border-0 mt-2">
			<div class="card-header bg-dark text-white" data-toggle="collapse">
				<a class="card-title noarrow">
      				<h4 class="mb-0 float-left">TRANSFER OF COVER</h4>
      			</a>
			</div>
			<div class="overflow-hidden">
				<div id="collapseOne" class="collapse in">
					<div class="card-body pb0">
						<div class="row rowcustom">
							<div class="col-sm-12">
								<p>
									Thank you for your application to transfer your existing cover to <strong>MTAA Super</strong>.
									<br><br>
									However, you are not eligible for the transfer of cover. All your existing Death, TPD and/or Income Protection cover will be maintained.
									<br><br>
									You can still apply to increase your cover using the 'Change your insurance cover' function. Click <a ng-click="vm.navigateToLandingPage()"> here </a> to apply online.
									<br><br>
									If you require any further information or assistance, please contact <strong>MTAA Super</strong> on <strong>1300 362 415</strong>.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row mt20px">
		<div class="col-12 d-block d-sm-none">
			<metlife-guil-help-block></metlife-guil-help-block>
		</div>
	</div>
</div>