<div class="container pt-5" ng-init="$ctrl.init()">
  <div class="menumobile d-block d-md-none no-gutters">
    <div class="col-8 d-block float-left">
      <div class="txtHolderMob">
        <span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-4 align-top d-inline-block">
      <div class="icoMenuRev">
        <span></span>
      </div>
      <div class="icoMenuFwd">
        <span></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="menu d-none d-sm-block cursor-pointer">
      	<div class="col-sm-4 dd first float-left pt-2" ng-click="$ctrl.goToPath('app.transfercover');">
      		<h5 style="color:#0066a1">Step 1</h5>
      		<div class="txtHolder pointer">Personal details</div>
      		<img src="./static/ingd/src/assets/images/bg_blank.png" class="right">
      	</div>
      	
      	<div class="col-sm-4 dc float-left pt-2 cursor-pointer" ng-click="$ctrl.previous();">
      		<img src="./static/ingd/src/assets/images/bg_blank.png" class="left">
      		<h5 style="color:#0066a1">Step 2</h5>
      		<div class="txtHolder pointer">Health &amp; lifestyle</div>
      		<img src="./static/ingd/src/assets/images/bg_blank.png" class="right">
      	</div>
      	
      	<div class="col-sm-4 cn dc float-left pt-2">
      		<img src="./static/ingd/src/assets/images/bg_blank.png" class=" left">
      		<h5>Step 3</h5>
      		<div class="txtHolder" style="color:#000"> Confirmation </div>
      	</div>
      </div>
	     
      <div class="panel-group">
      	<!-- Personal Details section -->
      	<div class="card border-0 mt-2">  
      	    		
      		<div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
      			<div data-toggle="collapse" data-target="#personal-section">
      				<button class="ingd-section-title mb-0">Personal details</button>
      			</div>
      		</div>
      		      		      		
      		<div id="personal-section" class="collapse in show">
      			<div class="mb-3 p-3">
      				<div class="row">
      					<div class="col-sm-6 col-12">
      						<label class="d-block"><strong>First Name</strong></label>
      						<label  class="d-block">{{$ctrl.transferData.applicant.firstName}}</label>
      					</div>
      					
      					<div class="col-sm-6 col-12">
      						<label  class="d-block"><strong>Last name</strong> </label>
      						<label  class="d-block">{{$ctrl.transferData.applicant.lastName}} </label>
      					</div>
      				</div>
      				
      				<hr class="primeline d-none d-sm-block">
      				
      				
      				<div class="row">
      					<div class="col-sm-6 col-12">
      						<label class="d-block"><strong>Gender</strong></label>
      						<label  class="d-block">{{$ctrl.transferData.applicant.gender}}</label>
      					</div>
      					
      					<div class="col-sm-6 col-12">
      						<label  class="d-block"><strong>Preferred contact type</strong> </label>
      						<label  class="d-block">{{$ctrl.transferData.applicant.contactDetails.preferedContacType}}</label>
      					</div>
      				</div>
      				
      				<hr class="primeline d-none d-sm-block">

                    <div class="row">
      					<div class="col-sm-6 col-12">
      						<label class="d-block"><strong>Preferred contact number</strong></label>
      						<label  class="d-block">{{$ctrl.transferData.applicant.contactDetails.preferedContactNumber}}</label>
      					</div>
      					
      					<div class="col-sm-6 col-12">
      						<label  class="d-block"><strong>Email address</strong> </label>
      						<label  class="d-block">{{$ctrl.transferData.applicant.emailId}} </label>
      					</div>
      				</div>
      				
      				
      				<hr class="primeline d-none d-sm-block">

                    <div class="row">
      					<div class="col-sm-6 col-12">
      						<label class="d-block"><strong>Date of birth</strong></label>
      						<label  class="d-block">{{$ctrl.transferData.applicant.birthDate}}</label>
      					</div>
      					
      					<div class="col-sm-6 col-12">
      						<label  class="d-block"><strong>What time of day do you prefer to be contacted?</strong> </label>
      						<label  class="d-block">{{$ctrl.transferData.applicant.contactDetails.preferedContactTime}}</label>      						
      					</div>
      				</div>
      				
      				
      				<hr class="primeline d-none d-sm-block">

                    <div class="row">
      					<div class="col-sm-6 col-12">
      						<label class="d-block"><strong>Do you work 15 or more hours per week?</strong></label>
      						<label  class="d-block">{{$ctrl.transferData.applicant.workHours}}</label>
      					</div>
      					
      					<div class="col-sm-6 col-12">
      						<label  class="d-block"><strong>Annual salary</strong> </label>
      						<label  class="d-block">{{$ctrl.transferData.applicant.annualSalary | currency:undefined:0}}</label>
      					</div>
      				</div>
      				
      				<hr class="primeline d-none d-sm-block">

                    <div class="row">
      					<div class="col-sm-6 col-12">
      						<label class="d-block"><strong>What industry do you work in?</strong></label>
      						<label  class="d-block">{{$ctrl.transferData.applicant.occupationCode}}</label>
      					</div>
      					
      					<div class="col-sm-6 col-12">
      						<label  class="d-block"><strong>What is your occupation?</strong> </label>
      						<label  class="d-block" ng-show="$ctrl.transferData.applicant.occupation !='Other'">{{$ctrl.transferData.applicant.occupation}}</label>
      						<label  class="d-block" ng-show="$ctrl.transferData.applicant.occupation =='Other'">{{$ctrl.transferData.applicant.otherOccupation}} </label>
      					</div>
      				</div>
      			
      			</div>
      		</div>
      	</div>
      	
      		<div>
                    <div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
                        <div data-toggle="collapse" href="#collapseTwo">
                            <button class="ingd-section-title mb-0">Your cover</button>
                        </div>
                    </div>
                    <div id="collapseTwo" class="collapse in show">
                        <div class=" mb-3">
                            <div class="d-sm-flex text-center">
                                    <div class="col-sm-4 bg-white ingd-card pb-3 mt-2 mt-sm-0">
                                    <div class="row text-center py-3 ingd-card-header mb-3">
                                        <p class="font-weight-bold mb-2 align-self-center w-100">Death</p> 
                                    </div>
                                    <div>
                                        <p class="font-weight-bold mb-1">Cover Type</p>
                                        <p>{{$ctrl.transferData.applicant.cover[0].coverCategory === 'DcAutomatic' ? 'Automatic' : 'Tailored'}}</p>
                                        <p class="font-weight-bold mb-1">Existing Amount</p>
                                        <p>{{$ctrl.transferData.applicant.cover[0].existingCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">Transfer cover</p>
                                        <p>{{$ctrl.transferData.applicant.cover[0].additionalCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">Total cover required</p>
                                        <p>{{$ctrl.transferData.applicant.cover[0].transferCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">Occupation Rating</p>
                                        <p>{{$ctrl.transferData.applicant.cover[0].occupationRating}}</p>
                                        <p class="font-weight-bold mb-1">{{$ctrl.transferData.applicant.cover[0].frequencyCostType}} Cost</p>
                                        <p>{{$ctrl.transferData.applicant.cover[0].cost | currency}}</p>
                                    </div>
                                </div>
                                <div class="col-sm-4 bg-white  ingd-card pb-3 mt-2 mt-sm-0">
                                    <div class="row text-center py-3 ingd-card-header mb-3">
                                        <p class="font-weight-bold mb-2 align-self-center w-100">Total &amp; Permanent Disablement</p> </div>
                                    <div class="">
                                        <p class="font-weight-bold mb-1">Cover Type</p>
                                        <p>{{$ctrl.transferData.applicant.cover[1].coverCategory === 'TPDAutomatic' ? 'Automatic' : 'Tailored'}}</p>
                                        <p class="font-weight-bold mb-1">Existing Amount</p>
                                        <p>{{$ctrl.transferData.applicant.cover[1].existingCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">Transfer cover</p>
                                        <p>{{$ctrl.transferData.applicant.cover[1].additionalCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">Total cover required</p>
                                        <p>{{$ctrl.transferData.applicant.cover[1].transferCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">Occupation Rating</p>
                                        <p>{{$ctrl.transferData.applicant.cover[1].occupationRating}}</p>
                                        <p class="font-weight-bold mb-1">{{$ctrl.transferData.applicant.cover[1].frequencyCostType}} Cost</p>
                                        <p>{{$ctrl.transferData.applicant.cover[1].cost | currency}}</p>
                                    </div>
                                </div>
                                <div class="col-sm-4 bg-white pb-3 mt-2 mt-sm-0">
                                    <div class="row text-center py-3 ingd-card-header mb-3">
                                        <p class="font-weight-bold mb-2 align-self-center w-100">Income Protection</p> </div>
                                    <div class="">
                                        <p class="font-weight-bold mb-1">Existing Amount</p>
                                        <p>{{$ctrl.transferData.applicant.cover[2].existingCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">Transfer cover</p>
                                        <p>{{$ctrl.transferData.applicant.cover[2].additionalCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">Total cover required</p>
                                        <p>{{$ctrl.transferData.applicant.cover[2].transferCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">Occupation Rating</p>
                                        <p>{{$ctrl.transferData.applicant.cover[2].occupationRating}}</p>
                                        <p class="font-weight-bold mb-1">Waiting period</p>
                                        <p>{{$ctrl.transferData.applicant.cover[2].totalIpWaitingPeriod}}</p>
                                        <p class="font-weight-bold mb-1">Benefit period</p>
                                        <p>{{$ctrl.transferData.applicant.cover[2].totalIpBenefitPeriod}}</p>
                                        <p class="font-weight-bold mb-1">{{$ctrl.transferData.applicant.cover[2].frequencyCostType}} Cost</p>
                                        <p>{{$ctrl.transferData.applicant.cover[2].cost | currency}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-0 bg-secondary d-flex align-items-center py-2">
                                <div class="col-sm-9 col-6">
                                    <p class="m-0 text-white">Total {{$ctrl.transferData.applicant.cover[0].frequencyCostType}} cost</p>
                                </div>
                                <div class="col-sm-3 col-6 text-right">
                                    <h4 class="m-0 text-white">{{$ctrl.transferData.totalMonthlyPremium | currency}}</h4>
                                </div>
                            </div>
                            <p class="text-center my-2"> The final amount and cost of your total insurance coverage will be notified in writing by MetLife Super</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                
                <div>
                	<div class="ingd-section-header p-0 py-sm-2  mb-2 mb-sm-0">
                		<div data-toggle="collapse" href="#document-evidence">
                			<button class="ingd-section-title mb-0">Document Evidence</button>
                		</div>
                	</div>
                	
                	<div id="document-evidence" class="collapse in show">
                		<div class="bg-white p-3">
                			<p><strong>Please send documentary evidence of your existing insurance cover.</strong></p>
                			<p>Documentary evidence will be:</p>
                			<ul>
                				<li>a copy of the most recent fund statement (no older than 12 months if annual statement) or an up-to-date certificate of currency from your previous fund or policy, and</li>
                				<li>a copy of the insurance acceptance letter from the super fund which sets out:
                					<ul>
                						<li>the type of insurance cover (eg. death and/or TPD and/or IP); and</li>
                						<li>the current level of cover (i.e. sum insured or benefit amount and any waiting periods); and</li>
                						<li>the terms granted including any loadings, exclusions and/or restrictions that may have been applied to the cover.</li>
                					</ul>
                				</li>
                			</ul>
                			<p><strong>Important Note:</strong></p>
                			<p>To ensure a smooth process, you may consider contacting your former super fund provider for the information listed above. You will need to submit evidence of your cover within 30 days of your transfer application date. It's best to wait until we confirm acceptance of your transfer of cover application before you cancel the insurance in your previous superfund.</p>
                			<p><strong>Postal Address: ING REPLY PAID 4307 SYDNEY NSW 2001.</strong></p>
                			
                			<form name="evidenceForm" role="form">
	                            <div class="mt-2 ml-1 mb-2 px-sm-3 row no-gutters" ng-class="{'has-error':(evidenceForm.$dirty && evidenceForm.$invalid) || (evidenceForm.$submitted && evidenceForm.$invalid)}">
	                            	<div class="btn-group-vertical w-100">
	                            		<label class="btn mt-2 ingd-button-checkbox col-12 p-1" ng-class="{'active': ($ctrl.evidenceFlag == true)}">
	                            			<input class="ingdCheckBoxInput" name="evidenceFlag" ng-model="$ctrl.evidenceFlag" type="checkbox" ng-true-value="true" ng-false-value="false" required>
	                            			<span></span>
	                            			<div class="">I acknowledge that my application will not be reviewed by the insurer until I send the supporting documents to the address above.</div>
	                            		</label>
	                            		<p ng-if="(evidenceForm.$dirty && evidenceForm.$invalid) || (evidenceForm.$submitted && evidenceForm.$invalid)" class="error" style="padding-top:5px;">Please acknowledge and consent to the Document Evidence.</p>
	                            	</div>
	                            </div>
	                        </form>
                		</div>
                	</div>
                </div>
                
                
                <div>
                    <div class="ingd-section-header p-0 py-sm-2  mb-2 mb-sm-0">
                        <div data-toggle="collapse" href="#collapse4">
                            <button class="ingd-section-title mb-0">Terms &amp; conditions </button>
                        </div>
                    </div>
                    <div id="collapse4" class="collapse in show">
                        <div class="bg-white p-3">
                            <div class="ingd-scrollbox">
                                <p><strong>You must read and acknowledge the General Consent before proceeding </strong></p>
                                <p><strong>General consent </strong></p>
                                <p align="justify">By clicking on the tick box below, I declare that:</p> 
                                <ul>
                                    <li>I have read and understand my Duty of Disclosure and the consequences of failing to comply with this Duty. I understand that this Duty applies until formal notification of acceptance of my application.</li>
                                    <li>The answers to the questions in this application are true and correct, and I have not deliberately withheld any information material to the proposed insurance.</li>
                                    <li>I agree to be bound by the terms and conditions attached to this cover as set out in the Insurance Policy Document between <strong>ING</strong> and the Insurer, MetLife Insurance Limited ("MetLife").</li>
                                    <li> I have read the <strong>ING</strong> privacy policy available at <a href="https://www.ing.com.au/privacy.html" class="" target="_new">www.ing.com.au/privacy.html.</a> and the <a href="http://www.metlife.com.au/privacy/index.html" class="" target="_new"> MetLife Privacy Policy </a> and I consent to the collection, use and disclosure of my personal (including sensitive) information in accordance with the terms of these documents;</li>
                                    <li>I consent to MetLife seeking medical information from any doctor who at any time I have consulted prior to the date hereof. I consent to MetLife seeking medical information from any doctor who at any time I have consulted prior to the date hereof.</li>
                                    <li>I understand that my insurance cover will not become effective until MetLife has accepted this application in writing and provided my member account has adequate funds to meet the premium payable. I understand that increases or changes to insurance premiums may apply. </li>
                                    <li>I have read the insurance section of the current <strong>ING</strong> Member Guide (Product Disclosure Statement) relevant to my Division, including the Member Guide Supplement: Insurance. </li>
                                    <li>I understand that if I have chosen fixed Total and Permanent Disablement cover that this cover will taper by 20% of the fixed Total and Permanent Disablement cover held, each year from the date I turn 61 years of age.</li>
                                    <li>I authorise any hospital, physician or other person who has attended me to furnish MetLife or its representatives, any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records.</li>
                                    <li>I understand that if I have any un-finalised requests for Transfer of Cover or Life Event Increase, these cover amounts will not be incorporated to the Total Cover amounts applied for under this application. </li>
                                </ul>                                
                            </div>
                            <form name="termsForm" role="form">
	                            <div class="mt-2 ml-1 mb-2 px-sm-3 row no-gutters" ng-class="{'has-error':(termsForm.$dirty && termsForm.$invalid) || (termsForm.$submitted && termsForm.$invalid)}">
	                            	<div class="btn-group-vertical w-100">
	                            		<label class="btn mt-2 ingd-button-checkbox col-12 p-1" ng-class="{'active': ($ctrl.termsDod == true)}">
	                            			<input class="ingdCheckBoxInput" name="termsDod" ng-model="$ctrl.termsDod" type="checkbox" ng-true-value="true" ng-false-value="false" required>
	                            			<span></span>
	                            			<div class="">I acknowledge I have read, understood and consent to the above </div>
	                            		</label>
	                            		<p ng-if="(termsForm.$dirty && termsForm.$invalid) || (termsForm.$submitted && termsForm.$invalid)" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
	                            	</div>
	                            </div>
	                        </form>
	                        
                            <hr class="row primeline">
                            <div class="row m-1">
				                <div class="form-group col-12 col-md-4">
				                  <button class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.previous()">Previous</button>
				                </div>
				                <span class="spacer d-block d-sm-none">&nbsp;</span>
				                <div class="form-group col-12 col-md-4">
				                  <button class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.save()">Save & Exit</button>
				                </div>
				                <span class="spacer d-block d-sm-none">&nbsp;</span>
				                <div class="form-group col-12 col-md-4">
				                  <button class="btn ingd-submit-button font-weight-normal text-white w-100"  ng-click="$ctrl.submit()">Submit</button>
				                </div>
              				</div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="col-12 col-md-3 mt-4 mt-md-0">
      <div class="need-help-block text-white p-3">
        <h4 class="text-white">Can we help?</h4>
        <p> Call us on
          <strong>133 464</strong>
        </p>
        <p> 8am - 8pm Monday to Friday</p>
        <p> 9am - 5pm Saturday (AEST/AEDT)</p>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>