<div class="container pt-5" ng-init="$ctrl.init()">
  <div class="menumobile d-block d-md-none no-gutters">
    <div class="col-8 d-block float-left">
      <div class="txtHolderMob">
        <span class="color2">1 / 3</span> Personal details </div>
    </div>
    <div class="col-4 align-top d-inline-block">
      <div class="icoMenuRev">
        <span></span>
      </div>
      <div class="icoMenuFwd">
        <span></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
    	<div class="panel-group">
    		<!-- <div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0" ng-if="$ctrl.finalDecision=='ACC'">
      			<div data-toggle="collapse" data-target="#personal-section">
      				<button class="ingd-section-title mb-0" ng-if="$ctrl.finalDecision=='DCL'">REFERRED TO BROKER</button>
      				<button class="ingd-section-title mb-0" ng-if="$ctrl.finalDecision=='ACC'">Your application has been accepted</button>
      			</div>
      		</div> -->
      		<div id="personal-section" class="collapse in show">
      			<div class="card panel-body pt-3 px-3">
      				<div class="row rowcustom">
      					<div class=" col-sm-12" ng-if="$ctrl.finalDecision=='DCL'">
	      					<p> Thanks {{$ctrl.transferData.applicant.firstName}} {{$ctrl.transferData.applicant.lastName}}, we've received your request to transfer insurance from another Super provider and will be in touch within the next three business days.</p>
	      					<p>We're here to help. If you have any questions, please call <strong>133 464</strong> 8am - 8pm Monday - Friday, or 9am - 5pm Saturday.</p>
      					</div>
      					
      					<div class=" col-sm-12" ng-if="$ctrl.finalDecision=='ACC'">
	      					<p> Thanks {{$ctrl.transferData.applicant.firstName}} {{$ctrl.transferData.applicant.lastName}}, we've received your request to transfer insurance from another Super provider and will be in touch once all the supporting documentation has been received.</p>
	      					<strong>For your records:</strong>
	      					<p></p>
	      					<ul>
	      						<li>If you're seeking additional cover, you can apply for an increase once the transfer is complete.</li>
	      						<!-- <li><a style="text-decoration:underline;" class="cursor-pointer" ng-click="$ctrl.downloadPDF()">Here's</a> a copy of your application.</li>	 -->      						
	      					</ul>
	      					<p>We're here to help. If you have any questions, please call <strong>133 464</strong> 8am - 8pm Monday - Friday, or 9am - 5pm Saturday.</p>
      					</div>
      			</div>
      			
      			<div class="row">
      				<div class="col-sm-6 aligncenter coverbg borderright decision">
      				<h5 class="mb0">Application number</h5>
      				<p>{{$ctrl.transferData.applicatioNumber}}</p>
      			</div>
      			
      			<div class="col-sm-6 aligncenter coverbg decision">
      				<h5 class="mb0">Application</h5>
      				<p>
      					<span class="icoDoc"></span>
      					<a class="cursor-pointer" ng-click="$ctrl.downloadPDF()"><strong>Download </strong></a>
      				</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-3 mt-4 mt-md-0">
      <div class="need-help-block text-white p-3">
        <h4 class="text-white">Can we help?</h4>
        <p> Call us on
          <strong>133 464</strong>
        </p>
        <p> 8am - 8pm Monday to Friday</p>
        <p> 9am - 5pm Saturday (AEST/AEDT)</p>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>