<div class="container pt-5" ng-init="$ctrl.init()">
  <div class="menumobile d-block d-md-none no-gutters">
    <div class="col-8 d-block float-left">
      <div class="txtHolderMob">
        <span class="color2">2 / 3</span> Health &amp; lifestyle </div>
    </div>
    <div class="col-4 align-top d-inline-block">
      <div class="icoMenuRev">
        <span></span>
      </div>
      <div class="icoMenuFwd">
        <span></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
      
      <div class="menu d-none d-sm-block">
			<div class="col-sm-4 dc first float-left cursor-pointer" ng-click="$ctrl.previous();">
				<h5 style="color:#0066a1" class="mt15">Step 1</h5>
				<div class="txtHolder pointer">	Personal details</div>
				<img src="./static/ingd/src/assets/images/bg_blank.png" class="shadow-image right">
			</div>
			<div class="col-sm-4 cn float-left">
				<img src="static/aeis/images/bg_blank.png" class="shadow-image left">
				<h5 class="mt15">Step 2</h5>
				<div class="txtHolder"> Health &amp; lifestyle</div>
				<img src="./static/ingd/src/assets/images/bg_blank.png" class="shadow-image right">
			</div>
			<div class="col-sm-4 cnn float-left">
				<h5 class="mt15">Step 3</h5>
				<div class="txtHolder"> Confirmation </div>
				<img src="./static/ingd/src/assets/images/bg_blank.png" class="shadow-image left">
			</div>
	</div>
			
      <div>
        <div id="transferaura-accordion">
          <div class="card border-0 mt-3" ng-if="$ctrl.auraResponseDataList">
          
          <div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
          	<div data-toggle="collapse" data-target="#transfer-aura">
          		<button class="ingd-section-title mb-0" ng-bind="$ctrl.sectionname"></button>
          	</div>
          </div>
            
            <div id="transfer-aura" class="collapse show" role="tabpanel">
              <div class="card-body">
                <div ng-repeat="x in $ctrl.auraResponseDataList">
                  <div ng-if="x.classType=='RadioQuestion'" class="row" ng-class="{'has-error':x.error}">
                    <div class="col-sm-12 col-12">
                      <label class="control-label" ng-bind="x.questionText | split"></label>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="btn-group d-block d-sm-flex" data-toggle="buttons">
                        <div ng-repeat="y in x.auraAnswer" class="mr-sm-2 w-100 w-sm-50" >
                           <div ng-if="$first" ng-click="$ctrl.updateRadio(y.answerValue,x)">                            
                              <button class="btn mt-2 ingd-radiobutton" ng-class="{'active': (x.answerTest == 'Yes')}">
                                <input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest">
                                <span></span>
                                {{y.answerText}}
                              </button>
                          </div>
                           <div ng-if="!$first" ng-click="$ctrl.updateRadio(y.answerValue,x)">                            
                              <button class="btn mt-2 ingd-radiobutton" ng-class="{'active': (x.answerTest == 'No')}">
                                <input type="radio" class="ipradio" id="option2" name="options" ng-value="x.answerTest">
                                <span></span>
                                {{y.answerText}}
                              </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div ng-repeat="z in x.auraAnswer">
                      <div ng-repeat="x in z.childQuestions" class="row">
                        <div ng-class="{'row' : x.baseQuestion==false && !x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
                          <div ng-class="{ 'col-sm-11  col-11 fright' : x.baseQuestion==false}">
                            <label class="control-label" ng-bind="x.questionText | split"></label>
                          </div>
                          <div class="col-sm-11  col-11  fright ">

                            <div class="col-sm-5  col-11" ng-show="x.answerTest=='' ">
                              <input type="text" class="form-control " ng-model="freeTextArea">
                            </div>
                            <div class="col-sm-5  col-11" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
                              <label class="control-label" ng-bind="x.answerTest | split"></label>
                            </div>
                            <div class="col-sm-3  col-11" ng-if="!x.questionComplete ||  x.answerTest==''">
                              <button type="button" class="btn btn-primary w100p no-arrow" ng-click="$ctrl.updateRadio(freeTextArea,x)">Enter</button>
                            </div>
                            <div class="col-sm-3  col-11" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
                              <button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
                            </div>
                          </div>
                          <div ng-if="x.error" ng-class="{'col-sm-11  col-11' : x.baseQuestion==false}" class="fright error"> Please select an answer
                            <br>
                            <br>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div ng-if="x.error" class="col-sm-12  col-12  fright error"> Please select an answer
                      <br>
                      <br>
                    </div>
                  </div>
                  <hr class="primeline">
                </div>
                <div class="row ">
                  <div class="form-group col-12 col-md-4">
                    <button class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.previous()">Previous</button>
                  </div>
                  <span class="spacer d-block d-sm-none">&nbsp;</span>
                  <div class="form-group col-12 col-md-4">
                    <button class="btn ingd-submit-button font-weight-normal text-white w-100" ng-disabled="($ctrl.deathDisabled && $ctrl.tpdDisabled && $ctrl.ipDisabled)" ng-click="$ctrl.save()">Save & Exit</button>
                  </div>
                  <span class="spacer d-block d-sm-none">&nbsp;</span>
                  <div class="form-group col-12 col-md-4">
                    <button class="btn ingd-submit-button font-weight-normal text-white w-100" ng-disabled="($ctrl.deathDisabled && $ctrl.tpdDisabled && $ctrl.ipDisabled)" ng-click=" $ctrl.continue()">Continue</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 mt-4 mt-md-0">
      <div class="need-help-block text-white p-3">
        <h4 class="text-white">Can we help?</h4>
        <p> Call us on
          <strong>133 464</strong>
        </p>
        <p> 8am - 8pm Monday to Friday</p>
        <p> 9am - 5pm Saturday (AEST/AEDT)</p>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>