<div class="container pt-5" ng-init="$ctrl.init()">
  <div class="menumobile d-block d-md-none no-gutters">
    <div class="col-8 d-block float-left">
      <div class="txtHolderMob">
        <span class="color2">1 / 3</span> Personal details </div>
    </div>
    <div class="col-4 align-top d-inline-block">
      <div class="icoMenuRev">
        <span></span>
      </div>
      <div class="icoMenuFwd">
        <span></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="menu d-none d-md-block">
        <div class="col-sm-4 cn first float-left">
          <h5>step 1</h5>
          <div class="txtHolder"> Personal details </div>
          <div ng-src="./static/ingd/src/assets/images/bg_blank.png" class="shadow-image right"></div>
        </div>
        <div class="col-sm-4 cnn float-left">
          <div src="./static/ingd/src/assets/images/bg_blank.png" class="shadow-image left"></div>
          <h5>step 2</h5>
          <div class="txtHolder"> Health &amp; lifestyle</div>
          <div ng-src="./static/ingd/src/assets/images/bg_blank.png" class="shadow-image right"></div>
        </div>
        <div class="col-sm-4 nl float-left">
          <h5>step 3</h5>
          <div class="txtHolder"> Confirmation </div>
          <div ng-src="./static/ingd/src/assets/images/bg_blank.png" class="shadow-image left"></div>
        </div>
      </div>
      <div>
        <form name="formduty" role="form">
          <div class="d-block card mb-3 border-0 p-3 pt-4">
            <div class="col-sm-12 p-0 px-sm-3">
              <p>
                <strong>Insured's duty of disclosure</strong>
              </p>
              <div class="ingd-scrollbox">
                <p>A person who enters into a life insurance contract in respect of your life has a duty, before entering into the contract, to tell us anything that he or she knows, or could reasonably be expected to know, may affect our decision to provide the insurance and on what terms.</p>
                <p>The person entering into the contract has this duty until we agree to provide the insurance.</p>
                <p>The person entering into the contract has the same duty before he or she extends, varies or reinstates the contract.</p>
                <p>The person entering into the contract does not need to tell us anything that:</p>
                <ul>
                  <li>reduces the risk we insure you for; or</li>
                  <li>is common knowledge; or</li>
                  <li>we know or should know as an insurer; or</li>
                  <li>we waive your duty to tell us about.</li>
                </ul>
                <p>If you do not tell us something that you know, or could reasonably be expected to know, may affect our decision to provide the insurance and on what terms, this may be treated as a failure by the person entering into the contract to tell us something that he or she must tell us.</p>
                <strong>If the person entering the contract does not tell us something</strong>
                <br>
                <br>
                <p>In exercising the following rights, we may consider whether different types of cover can constitute separate contracts of life insurance. If they do, we may apply the following rights separately to each type of cover.</p>
                <p>If the person entering into the contract does not tell us anything he or she is required to, and we would not have provided the insurance if he or she had told us, we may avoid the contract within 3 years of entering into it.</p>
                <p>If we choose not to avoid the contract, we may, at any time, reduce the amount of insurance provided. This would be worked out using a formula that takes into account the premium that would have been payable if he or she had told us everything he or she should have.</p>
                <p>However, if the contract has a surrender value, or provides cover on death, we may only exercise this right within 3 years of entering into the contract.</p>
                <p>If we choose not to avoid the contract or reduce the amount of insurance provided, we may, at any time vary the contract in a way that places us in the same position we would have been in if he or she had told us everything he or she should have. However, this right does not apply if the contract has a surrender value or provides cover on death.</p>
                <p>If the failure to tell us is fraudulent, we may refuse to pay a claim and treat the contract as if it never existed.</p>
              </div>
            </div>
            <div class="mt-2 ml-1 mb-2 px-sm-3 row no-gutters" ng-class="{'has-error':(formduty.$dirty && formduty.$invalid) || (formduty.$submitted && formduty.$invalid)}">
              <div class="btn-group-vertical w-100">
                <label class="btn mt-2 ingd-button-checkbox col-12 p-1" ng-class="{'active': ($ctrl.transferData.dodCheck == true)}">
                  <input class="ingdCheckBoxInput" name="transferDod" ng-model="$ctrl.transferData.dodCheck" type="checkbox" ng-true-value="true" ng-false-value="false" required>
                  <span></span>
                  <div class="">I acknowledge I have read, understood and consent to the above </div>
                </label>
                <p ng-if="(formduty.$dirty && formduty.$invalid) || (formduty.$submitted && formduty.$invalid)" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
              </div>
            </div>
          </div>
        </form>
        <div id="transfer-accordion">
          <div class="card border-0 mt-2">
            
            <div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
            	<div data-toggle="collapse" data-target="#privacy-statement" ng-click="$ctrl.isCollapsable('privacy', $event);">
            		<button class="ingd-section-title mb-0">Privacy statement</button>
            	</div>
            </div>
        
            <div id="privacy-statement" class="collapse">
              <form name="privacyForm" role="form" novalidate>
                <div class="d-block card mb-3  border-0 p-3 pt-4">
                  <div class=" col-sm-12 p-0 px-sm-3">
                    <p>
                      <strong>You must read and acknowledge the Privacy Statement before proceeding</strong>
                    </p>
                    <div class="ingd-scrollbox">
                      <p>
                        <strong class="ingd-color2">Your privacy with MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife' or the 'Insurer')
                        </strong>
                        <br> If you make a claim under this policy the Insurer may conduct investigations to assess the value and
                        validity of the claim. This may involve the use of investigation agents, legal advisors and the collection
                        of personal data that MetLife believes is relevant. MetLife complies with the Privacy Act 1988 and
                        the principles laid out on their privacy policy, which is readily available on request and also available
                        online at
                        <a href="http://www.metlife.com.au/privacy" target="_blank">
                          <strong> www.metlife.com.au/privacy </strong>
                        </a>.</p>
                      <p>
                        <strong class="ingd-color2">Your privacy as a member of Your Super Fund</strong>
                        <br> The information you provide in this form is collected by and held by ING' administrator, Superpartners
                        to administer your insurance within your ING account. If you do not provide the requested information,
                        we may be unable to properly administer your insurance. Your personal and sensitive information will
                        only be disclosed to ING staff as required, our administrators Superpartners, Metlife Insurance Limited
                        and/or our legal or other professional advisors if reasonably necessary.</p>
                      <p>The ING Privacy Policy provides information about overseas disclosure of personal information, how you
                        may access and seek correction of your personal information as well as how you can make a complaint
                        about a breach of the Australian Privacy Principles or the Privacy Act 1988. You can access the ING
                        Privacy Policy at
                        <a href="http://www.ING.com.au/privacy" target="_blank">
                          <strong>www.ING.com.au/privacy. </strong>
                        </a> For all privacy related questions or privacy related matters you can contact ING on
                        <strong>1300 ING (133 464)</strong> or via email at
                        <a href="mailto:privacy@mail.ING.com.au" target="_top">
                          <strong> privacy@mail.ING.com.au </strong>
                        </a>
                      </p>
                    </div>
                    <!-- <div class="d-sm-flex mt-3">
                      <div class="btn-group-vertical w-100" data-toggle="buttons">
                        <button class="btn mt-2 ingd-button-checkbox mt-2 col-12 p-1">
                          <input type="checkbox" required>
                          <span></span>
                          <div class="">I acknowledge I have read, understood and consent to the above </div>
                        </button>
                      </div>
                    </div> -->
                  </div>
                  <div class="mt-2 ml-1 mb-2 px-sm-3 row no-gutters" ng-class="{'has-error':(privacyForm.$dirty && privacyForm.$invalid) || (privacyForm.$submitted && privacyForm.$invalid)}">
                    <div class="btn-group-vertical w-100">
                      <label class="btn mt-2 ingd-button-checkbox col-12 p-1" ng-class="{'active': ($ctrl.transferData.privacyCheck == true)}">
                        <input class="ingdCheckBoxInput" name="transferPrivacy" ng-model="$ctrl.transferData.privacyCheck" ng-true-value="true" ng-false-value="false" type="checkbox" required="">
                        <span></span>
                        <div class="">I acknowledge I have read, understood and consent to the above </div>
                      </label>
                      <p ng-if="(privacyForm.$dirty && privacyForm.$invalid) || (privacyForm.$submitted && privacyForm.$invalid)" class="error" style="padding-top:5px;">Please acknowledge and consent to the privacy statement.</p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card border-0 mt-2">
          
          	<div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
            	<div data-toggle="collapse" data-target="#contact-details" ng-click="$ctrl.isCollapsable('memberDetailSection', $event);">
            		<button class="ingd-section-title mb-0">Contact Details</button>
            	</div>
            </div>
            
            <div id="contact-details" class="collapse" aria-labelledby="contact-info">
              <form name="memberDetails" role="form" novalidate>
                <div class="card mb-3 p-3">
                  <div class="p-0 px-sm-3">
                    <label class="m-0 p-0"> Please leave your contact details in the event we need to contact you</label>
                  </div>
                  <hr class="primeline">

                  <div class="d-sm-flex mb-1">
                    <div class="col-sm-6 col-12 p-0 px-sm-3" ng-class="{'has-error':(memberDetails.contactEmail.$invalid && memberDetails.contactEmail.$touched) || (memberDetails.$submitted && memberDetails.contactEmail.$error.required) || (memberDetails.$submitted && memberDetails.contactEmail.$error.pattern)}">
                      <label class="my-2"> Email address </label>
                      <input ng-focus="$ctrl.checkPreviousMandatoryFields('memberDetails','contactEmail');" class="form-control px-1 border-secondary" maxlength="50" name="contactEmail" ng-model="$ctrl.transferData.applicant.emailId" type="email" ng-pattern="$ctrl.emailPattern" placeholder="Enter your email" required>
                      <span ng-if="(memberDetails.contactEmail.$invalid && memberDetails.contactEmail.$touched) || (memberDetails.$submitted && memberDetails.contactEmail.$error.required) || (memberDetails.$submitted && memberDetails.contactEmail.$error.pattern)" class="error">Please enter your email address</span>
                    </div>
                    <div class="col-sm-6 col-12 p-0 px-sm-3">
                      <label class="my-2">Preferred contact number</label>
                      <div class="d-sm-flex">
                        <div class="mr-sm-2 w-100 w-sm-50" ng-class="{'has-error':(memberDetails.contactType.$invalid && memberDetails.contactType.$touched) || (memberDetails.$submitted && memberDetails.contactType.$error.required)}">
                          <select ng-click="$ctrl.checkPreviousMandatoryFields('memberDetails','contactType');" name="contactType" class="form-control px-1 border-secondary" ng-model="$ctrl.transferData.applicant.contactDetails.preferedContacType" ng-change="$ctrl.changePrefContactType()" ng-options="contact.value as contact.text for contact in $ctrl.contactOpts" required>
                          </select>
                          <span ng-if="(memberDetails.contactType.$invalid && memberDetails.contactType.$touched) || (memberDetails.$submitted && memberDetails.contactType.$error.required)" class="error">Please select the Preferred contact type</span>
                        </div>
                        
                        <div class="mr-sm-2 w-100 w-sm-100 mt-2 mt-sm-0" ng-class="{'has-error':(memberDetails.contactPhone.$invalid && memberDetails.contactPhone.$touched) || ((memberDetails.$submitted && memberDetails.contactPhone.$error.required)  || (memberDetails.contactPhone.$error.pattern))}">
                          <input ng-focus="$ctrl.checkPreviousMandatoryFields('memberDetails','contactPhone');" name="contactPhone" class="form-control px-1 border-secondary" ng-model="$ctrl.transferData.applicant.contactDetails.preferedContactNumber" type="text" ng-pattern="$ctrl.mobilePattern" placeholder="Enter your Phone No" required>
                          <span ng-if="(memberDetails.contactPhone.$invalid && memberDetails.contactPhone.$touched) || ((memberDetails.$submitted && memberDetails.contactPhone.$error.required)  || (memberDetails.contactPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <hr class="primeline">

                  <div class="d-sm-flex mb-1">
                    <div class="col-sm-6 col-12 p-0 px-sm-3" ng-class="{'has-error':(memberDetails.contactPrefTime.$error.required && memberDetails.contactPrefTime.$touched) || (memberDetails.$submitted && memberDetails.contactPrefTime.$error.required)}">
                      <label class="my-2"> What time of day do you prefer to be contacted? </label>
                      <div class="d-block d-sm-flex" data-toggle="buttons">
                        <div class="mr-sm-2 w-100 w-sm-50">
                          <label class="btn mt-2 ingd-radiobutton" ng-click="$ctrl.checkPreviousMandatoryFields('memberDetails','contactPrefTime');" ng-class="{'active': ($ctrl.transferData.applicant.contactDetails.preferedContactTime == 'Morning (9am - 12pm)')}">
                            <input class="ingdRadioInput" name="contactPrefTime" ng-model="$ctrl.transferData.applicant.contactDetails.preferedContactTime" type="radio" value="Morning (9am - 12pm)" required>
                            <span></span> {{$ctrl.PrefTimeOpts[0]}}
                          </label>
                        </div>
                        <div class="ml-sm-2 w-100 w-sm-50">
                          <label class="btn mt-2 ingd-radiobutton" ng-click="$ctrl.checkPreviousMandatoryFields('memberDetails','contactPrefTime');" ng-class="{'active': ($ctrl.transferData.applicant.contactDetails.preferedContactTime == 'Afternoon (12pm - 6pm)')}">
                            <input class="ingdRadioInput" name="contactPrefTime" ng-model="$ctrl.transferData.applicant.contactDetails.preferedContactTime" type="radio" value="Afternoon (12pm - 6pm)" required>
                            <span></span> {{$ctrl.PrefTimeOpts[1]}}
                          </label>
                        </div>
                      </div>
                      <span ng-if="(memberDetails.contactPrefTime.$error.required && memberDetails.contactPrefTime.$touched) || (memberDetails.$submitted && memberDetails.contactPrefTime.$error.required)" class="error">Please enter your preferred contact time</span>
                    </div>
                    <div class="col-sm-6 col-12 p-0 px-sm-3" ng-class="{'has-error':(memberDetails.gender.$error.required && memberDetails.gender.$touched) || (memberDetails.$submitted && memberDetails.gender.$error.required )}">
                      <label class="my-2"> Gender </label>
                      <div class="btn-group d-block d-sm-flex" data-toggle="buttons">
                        <div class="mr-sm-2 w-100 w-sm-50">
                          <label class="btn mt-2 ingd-radiobutton" ng-click="$ctrl.checkPreviousMandatoryFields('memberDetails','gender');$ctrl.calculate();" ng-class="{'active': ($ctrl.transferData.applicant.gender == 'Male')}">
                            <input type="radio" class="ingdRadioInput" name="gender" ng-model="$ctrl.transferData.applicant.gender" value="Male" required>
                            <span></span> Male </label>
                        </div>
                        <div class="ml-sm-2 w-100 w-sm-50">
                          <label class="btn mt-2 ingd-radiobutton" ng-click="$ctrl.checkPreviousMandatoryFields('memberDetails','gender');$ctrl.calculate();" ng-class="{'active': ($ctrl.transferData.applicant.gender == 'Female')}">
                            <input type="radio" class="ingdRadioInput" name="gender" ng-model="$ctrl.transferData.applicant.gender" value="Female" required>
                            <span></span> Female
                          </label>
                        </div>
                      </div>
                      <span class="error" ng-if="(memberDetails.gender.$error.required && memberDetails.gender.$touched) || (memberDetails.$submitted && memberDetails.gender.$error.required )">Please select Gender</span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Occupation section starts -->
          <div class="card border-0 mt-2">
          
          	<div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
            	<div data-toggle="collapse" data-target="#occupation-details" ng-click="$ctrl.isCollapsable('OccupationSection', $event);">
            		<button class="ingd-section-title mb-0">Occupation</button>
            	</div>
            </div>
            
            <div id="occupation-details" class="collapse" aria-labelledby="occupation-info">
              <form name="occupationForm" id="occupFormId" novalidate role="form">
                <div class="card-body">
                  <div class="row" ng-class="{'has-error':(occupationForm.fifteenHrsWork.$error.required && occupationForm.fifteenHrsWork.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsWork.$error.required )}">
                    <div class="col-sm-12">
                      <label class="control-label"> Do you work 15 or more hours per week?  
                      <a style="right:0" class="icohelp" role="button" ng-keypress="$ctrl.clickToOpen('If you work less than 15 hours per week on average, you are not eligible for Income Protection cover.')" ng-click="$ctrl.clickToOpen('If you work less than 15 hours per week on average, you are not eligible for Income Protection cover.')"></a>
                      </label>
                      <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <div class="btn-group d-block d-sm-flex" data-toggle="buttons">
                        <div class="mr-sm-2 w-100 w-sm-50">
                          <label class="btn mt-2 ingd-radiobutton" ng-click="$ctrl.checkPreviousMandatoryFields('occupationForm','fifteenHrsWork');$ctrl.revertIpSection();" ng-class="{'active': ($ctrl.transferData.applicant.workHours == 'Yes')}">
                            <input class="ingdRadioInput" type="radio" ng-model="$ctrl.transferData.applicant.workHours" name="fifteenHrsWork" value="Yes" required>
                            <span></span> Yes </label>
                        </div>
                        <div class="ml-sm-2 w-100 w-sm-50">
                          <label class="btn mt-2 ingd-radiobutton" ng-click="$ctrl.checkPreviousMandatoryFields('occupationForm','fifteenHrsWork');$ctrl.revertIpSection();" ng-class="{'active': ($ctrl.transferData.applicant.workHours == 'No')}">
                            <input class="ingdRadioInput" type="radio" ng-model="$ctrl.transferData.applicant.workHours" name="fifteenHrsWork" value="No" required>
                            <span></span> No
                          </label>
                        </div>
                      </div>
                      <span class="error" ng-if="(occupationForm.fifteenHrsWork.$error.required && occupationForm.fifteenHrsWork.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsWork.$error.required )">Please select Yes or No</span>
                    </div>
                  </div>
                  
                  <hr class="primeline">
                  <div class="row" ng-class="{'has-error':(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required)}">
                    <div class="col-sm-12">
                      <label class="control-label w-100"> What industry do you work in?</label>
                      <div class="form-group w-100">
                        <div class="select">
                          <select ng-click="$ctrl.checkPreviousMandatoryFields('occupationForm','industry');" name="industry" ng-model="$ctrl.transferData.applicant.industryType" required class="form-control custom-input" ng-change="$ctrl.getOccupations()">
                            <option value="" class="" selected="selected">Please select</option>
                            <option ng-repeat="industry in $ctrl.IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
                          </select>
                          <div class="select__arrow"></div>
                        </div>
                      </div>
                      <span class="error" ng-if="(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required)">Please select the industry type</span>
                    </div>
                  </div>
                  <!-- Row ends -->

                  <hr class="primeline">

                  <div class="row" ng-class="{'has-error':(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required)}">
                    <div class="col-sm-12">
                      <label class="control-label w-100"> What is your current occupation?<!-- <a class="icohelp"></a> --></label>
                      <div class="form-group w-100">
                        <div class="select">
                          <select ng-change="$ctrl.getOccupationRating();" ng-click="$ctrl.checkPreviousMandatoryFields('occupationForm','occupation');" required name="occupation" required class="form-control custom-input" ng-model="$ctrl.transferData.applicant.occupation">
                            <option value="" class="" selected="selected">Please select</option>
                            <option ng-repeat="occupation in $ctrl.occupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
                          </select>
                          <div class="select__arrow"></div>
                        </div>
                      </div>
                      <span class="error" ng-if="(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required )">Please select an occupation from dropdown.</span>
                    </div>
                  </div>
                  <div ng-if="$ctrl.transferData.occupation == 'Other'">
                    <hr class="primeline">
                    <div class="row" ng-class="{'has-error':(occupationForm.otherOccupation.$error.required && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required)}">
                      <div class="col-sm-4 col-12 form-group" >
                        <label class="control-label w-100">Please enter your occupation</label>
                      </div>
                      <div class="col-sm-4 col-12">
                        <input type="text" id="otherOccupationId" name="otherOccupation" class="form-control custom-input" ng-focus="vm.checkPreviousMandatoryFields('otherOccupation','occupationForm')"
                          ng-class="(occupationForm.otherOccupation.$error.required && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required) ? 'error-border':''"
                          ng-model="$ctrl.transferData.applicant.otherOccupation" ng-focus="$ctrl.checkPreviousMandatoryFields('occupationForm','otherOccupation');" required>
                        <span class="error" ng-if="(occupationForm.otherOccupation.$error.required && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required) ">Please enter your occupation</span>
                      </div>
                    </div>
                  </div>
                  <hr class="primeline">
                  <div class="row" ng-class="{'has-error':$ctrl.salaryErrorFlag || (occupationForm.annualSalary.$invalid && occupationForm.annualSalary.$touched) || (occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required)}">

                    <div class="col-sm-5 col-12 form-group">
                      <label class="control-label">What is your gross annual salary (excl. super)?<a style="top:0;right:0;" class="icohelp" ng-keypress="$ctrl.clickToOpen('Gross annual salary is your before tax income for the year, excluding Super.')" ng-click="$ctrl.clickToOpen('Gross annual salary is your before tax income for the year, excluding Super.')"></a></label>
                    </div>
                    <div class="col-sm-4 col-12 form-group">
                      <input numbers-only format="number" ng-change="$ctrl.checkValidSalary()" ng-model-options="$ctrl.modelOptions" maxlength="15" type="text" id="annualSalCCId" name="annualSalary" class="form-control custom-input dollar" ng-model="$ctrl.transferData.applicant.annualSalary" ng-focus="$ctrl.checkPreviousMandatoryFields('occupationForm','annualSalary');" required>
                        <span class="error" ng-if="(occupationForm.annualSalary.$invalid && occupationForm.annualSalary.$touched) || (occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required )">Please enter your Annual Salary</span>
                        <span class="error" ng-if="$ctrl.minSalaryErrorFlag">Please enter the valid amount</span>
                        <span class="error" ng-if="$ctrl.maxSalaryErrorFlag">Maximum Salary amount $500000</span>
                    </div>
                  </div>
                </div>
              </form>
              <!-- Row ends -->
            </div>
          </div>
          <!--Occupation section ends    -->
          <div class="card border-0 mt-2">
            <div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
            	<div data-toggle="collapse" data-target="#cover-details" ng-click="$ctrl.isCollapsable('CoverSection', $event);">
            		<button class="ingd-section-title mb-0">Cover Calculator</button>
            	</div>
            </div>
            
            <div id="cover-details" class="collapse" aria-labelledby="cover-info">
            	<form name="coverCalculatorForm" role="form" novalidate>            		
            		<div class="card p-3">
            		
            			<div class="d-sm-flex">
            				<div class="p-0 px-sm-3">
            					<label class="m-0 p-0">Please tell us more about the cover products you want to transfer.</label>
            				</div>
            			</div>
            			
            			<hr class="primeline">
            			
            			<div class="d-block">
            				<div class="col-sm-12 p-0 px-sm-3">
            					<label class="my-2">What cover would you like to transfer?</label>
            				</div>
            			</div>
            			
            			<div class="btn-group-vertical" data-toggle="buttons">
            				<div class="d-flex w-100">
            					<div class="col-sm-12 p-0 px-sm-3">
            						<button class="active ingd-button-checkbox mt-2 btn" id="deathsection">
            							<p class="px-2 w-50 m-0 float-left">Death</p>
            							<p class="px-2 w-50 m-0 text-right float-right pr-2">Existing cover $ <b>{{$ctrl.transferData.applicant.cover[0].existingCoverAmount}}</b> {{$ctrl.transferData.applicant.cover[0].existingCoverCategory === 'DcAutomatic' ? '(Automatic)' : '(Tailored)'}}</p>
            						</button>
            					</div>
            				</div>
            			</div>
            			
            			<div id="death">
            				<div class="d-block mb-3">
            					<div class="d-block d-sm-flex mt-3">
            						<div class="col-sm-6 col-12 p-0 px-sm-3 mt-2">
            							<label class="my-2"> Transfer Amount </label>
            						</div>
            						
            						<div class="col-sm-6 col-12 p-0 pr-sm-3" ng-class="{'has-error':$ctrl.minDeathErrorFlag || $ctrl.maxDeathErrorFlag || (coverCalculatorForm.deathRequireCover.$invalid && coverCalculatorForm.deathRequireCover.$touched) || (coverCalculatorForm.deathRequireCover.$error.required && coverCalculatorForm.deathRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.deathRequireCover.$error.required )}">
            							<input numbers-only format="number" ng-model-options="$ctrl.modelOptions" ng-change="$ctrl.validateDeathAmount()" ng-model="$ctrl.transferData.applicant.cover[0].additionalCoverAmount" type="text" name="deathRequireCover" class="form-control px-1 mt-1 border-secondary dollar" ng-focus="$ctrl.checkPreviousMandatoryFields('coverCalculatorForm','deathRequireCover');" required>
            							<span class="error" ng-if="(coverCalculatorForm.deathRequireCover.$invalid && coverCalculatorForm.deathRequireCover.$touched) || (coverCalculatorForm.deathRequireCover.$error.required && coverCalculatorForm.deathRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.deathRequireCover.$error.required)">Please enter valid cover Amount</span>
            							<span class="error" ng-if="$ctrl.minDeathErrorFlag">Your total Death cover is less than eligibility limit, minimum amount allowed for this product is {{$ctrl.deathMinLimit}}. Please re-enter your cover.</span>
										<span class="error" ng-if="$ctrl.maxDeathErrorFlag">Your total Death cover exceeds eligibility limit, maximum amount allowed for this product is {{$ctrl.deathMinLimit}}. Please re-enter your cover.</span>
            						</div>
            					</div>
            				</div>
            				
            				<div ng-if="$ctrl.transferData.applicant.cover[0].existingCoverCategory === 'DcAutomatic' && $ctrl.transferData.applicant.cover[1].existingCoverCategory === 'TPDAutomatic'" class="d-sm-flex">
	            				<div class="p-0 px-sm-3">
	            					<label class="m-0 p-0">
	            						<strong>
	            							Your existing Automatic cover will be cancelled and the total cover required will become the transfer cover amount. Your cover type will switch to Tailored cover. Any exclusions and/or loadings that apply to the insurance cover you are transferring over will carry over to the insurance inside Living Super.
	            						</strong>
	            					</label>
	            				</div>
	            			</div>
	            			
	            			<div ng-if="$ctrl.transferData.applicant.cover[0].existingCoverCategory === 'DcTailored' || $ctrl.transferData.applicant.cover[1].existingCoverCategory === 'TPDTailored'" class="d-sm-flex">
	            				<div class="p-0 px-sm-3">
	            					<label class="m-0 p-0">
	            						<strong>
	            							The total cover required will become the transfer cover amount plus your existing cover with Living Super. Any exclusions and/or loadings that apply to the cover you are transferring over, will only apply to the transferred cover amount.
	            						</strong>
	            					</label>
	            				</div>
	            			</div>
            				
            				<hr class="primeline">
            				
            				<div class="row d-flex my-3 bg-light align-items-center">
            					<div class="col-sm-3 col-6">
            						<p class="my-3">Cover amount</p>
            					</div>
            					
            					<div class="col-sm-3 text-right border-right col-6">
            						<h6 class="mt-2">{{$ctrl.transferData.applicant.cover[0].transferCoverAmount | currency}}</h6>
            					</div>
            					
            					<div class="line mob "></div>
            					
            					<div class="col-sm-3 col-6">
            						<p class="my-3">{{$ctrl.transferData.applicant.cover[0].frequencyCostType}} cost</p>
            					</div>
            					
            					<div class="col-sm-3 text-right col-6">
            						<h6 class="mt-2">{{$ctrl.transferData.applicant.cover[0].cost | currency}}</h6>
            					</div>
            				</div>
            			</div>
            			
            			<!-- tpd -->
            			
            			<div class="btn-group-vertical" data-toggle="buttons">
            				<div class="d-flex w-100">
            					<div class="col-sm-12 p-0 px-sm-3">
            						<button class="active ingd-button-checkbox mt-2 btn" id="deathsection">
            							<p class="px-2 w-50 m-0 float-left">Total &amp; Permanent Disablement</p>
            							<p class="px-2 w-50 m-0 text-right float-right pr-2">Existing cover $ <b>{{$ctrl.transferData.applicant.cover[1].existingCoverAmount}}</b> {{$ctrl.transferData.applicant.cover[1].existingCoverCategory === 'TPDAutomatic' ? '(Automatic)' : '(Tailored)'}}</p>
            						</button>
            					</div>
            				</div>
            			</div>
            			
            			<div id="tpd">
            				<div class="d-block mb-3">
            					<div class="d-block d-sm-flex mt-3">
            						<div class="col-sm-6 col-12 p-0 px-sm-3 mt-2">
            							<label class="my-2"> Transfer Amount </label>
            						</div>
            						
            						<div class="col-sm-6 col-12 p-0 pr-sm-3" ng-class="{'has-error': $ctrl.minTPDErrorFlag || $ctrl.maxTPDErrorFlag || (coverCalculatorForm.TPDrequireCover.$invalid && coverCalculatorForm.TPDrequireCover.$touched) || (coverCalculatorForm.TPDrequireCover.$error.required && coverCalculatorForm.TPDrequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDrequireCover.$error.required )}">
            							<input numbers-only format="number" ng-model-options="$ctrl.modelOptions" ng-change="$ctrl.validateTPDAmount()" ng-model="$ctrl.transferData.applicant.cover[1].additionalCoverAmount" type="text" name="TPDrequireCover" class="form-control px-1 mt-1 border-secondary dollar" ng-focus="$ctrl.checkPreviousMandatoryFields('coverCalculatorForm','TPDrequireCover');" required>
            							<span class="error" ng-if="(coverCalculatorForm.TPDrequireCover.$invalid && coverCalculatorForm.TPDrequireCover.$touched) || (coverCalculatorForm.TPDrequireCover.$error.required && coverCalculatorForm.TPDrequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDrequireCover.$error.required)">Please enter valid cover Amount</span>
            							<span class="error" ng-if="$ctrl.minTPDErrorFlag">Your total TPD cover is less than eligibility limit, minimum amount allowed for this product is {{$ctrl.TPDMinLimit}}. Please re-enter your cover.</span>
										<span class="error" ng-if="$ctrl.maxTPDErrorFlag">Your total TPD cover exceeds eligibility limit, maximum amount allowed for this product is {{$ctrl.TPDMaxLimit}}. Please re-enter your cover.</span>
            						</div>
            					</div>
            				</div>
            				
            				<div ng-if="$ctrl.transferData.applicant.cover[0].existingCoverCategory === 'DcAutomatic' && $ctrl.transferData.applicant.cover[1].existingCoverCategory === 'TPDAutomatic'" class="d-sm-flex">
	            				<div class="p-0 px-sm-3">
	            					<label class="m-0 p-0">
	            						<strong>
	            							Your existing Automatic cover will be cancelled and the total cover required will become the transfer cover amount. Your cover type will switch to Tailored cover. Any exclusions and/or loadings that apply to the insurance cover you are transferring over will carry over to the insurance inside Living Super.
	            						</strong>
	            					</label>
	            				</div>
	            			</div>
	            			
	            			<div ng-if="$ctrl.transferData.applicant.cover[0].existingCoverCategory === 'DcTailored' || $ctrl.transferData.applicant.cover[1].existingCoverCategory === 'TPDTailored'" class="d-sm-flex">
	            				<div class="p-0 px-sm-3">
	            					<label class="m-0 p-0">
	            						<strong>
	            							The total cover required will become the transfer cover amount plus your existing cover with Living Super. Any exclusions and/or loadings that apply to the cover you are transferring over, will only apply to the transferred cover amount.
	            						</strong>
	            					</label>
	            				</div>
	            			</div>
	            			
            				<hr class="primeline">
            				
            				<div class="row d-flex my-3 bg-light align-items-center">
            					<div class="col-sm-3 col-6">
            						<p class="my-3">Cover amount</p>
            					</div>
            					
            					<div class="col-sm-3 text-right border-right col-6">
            						<h6 class="mt-2">{{$ctrl.transferData.applicant.cover[1].transferCoverAmount | currency}}</h6>
            					</div>
            					
            					<div class="line mob "></div>
            					
            					<div class="col-sm-3 col-6">
            						<p class="my-3">{{$ctrl.transferData.applicant.cover[1].frequencyCostType}} cost</p>
            					</div>
            					
            					<div class="col-sm-3 text-right col-6">
            						<h6 class="mt-2">{{$ctrl.transferData.applicant.cover[1].cost | currency}}</h6>
            					</div>
            				</div>
            			</div>
            			<!-- ip -->
            			
            			<div class="btn-group-vertical font-weight-bold" data-toggle="buttons">
            				<div class="d-flex w-100">
            					<div class="col-sm-12 p-0 px-sm-3">
            						<button class="active ingd-button-checkbox mt-2 btn" id="ipsection">
            							<p class="px-2 w-50 m-0 float-left">Income Protection</p>
            							<p class="px-2 w-50 m-0 text-right float-right pr-2">Existing cover $ <b> {{$ctrl.transferData.applicant.cover[2].existingCoverAmount}}</b></p>
            						</button>
            					</div>
            				</div>
            			</div>
            			
            			<div class="d-sm-flex mt-5">
            				<div class="col-sm-6 col-12 p-0 px-sm-3">
            					<p class="float-left mr-2 font-weight-bold">Existing waiting period : </p>
            					<p class="float-left">{{$ctrl.transferData.applicant.cover[2].existingIpWaitingPeriod}}</p>
            				</div>
            				
            				<div class="col-sm-6 col-12 p-0 px-sm-3">
            					<p class="float-left mr-2 font-weight-bold">Existing benefit period : </p>
            					<p class="float-left">{{$ctrl.transferData.applicant.cover[2].existingIpBenefitPeriod}}</p>
            				</div>
            			</div>
            			
            			<hr class="primeline">
            			
            			<div class="d-sm-flex mb-3">
            				<div class="col-sm-4 col-12 mb-2  p-0 px-sm-3">
            					<label class="my-2"> Waiting period </label>
            						<select ng-disabled="$ctrl.transferData.applicant.workHours == 'No'" ng-change="$ctrl.changeWaitingPeriod()" name="ipWaitingPeriod" class="form-control px-1 border-secondary" ng-model="$ctrl.transferData.applicant.cover[2].additionalIpWaitingPeriod" ng-options="WaitingPeriod for WaitingPeriod in $ctrl.waitingOpts">
            						</select>
            					<div class="select__arrow"></div>
            				</div>
            				
            				<div class="col-sm-4 col-12 mb-2  p-0 px-sm-3">
            					<label class="my-2"> Benefit period </label>
            						<select ng-disabled="$ctrl.transferData.applicant.workHours == 'No'" ng-change="$ctrl.changeBenefitPeriod()" name="ipBenefitPeriod" class="form-control px-1 border-secondary" ng-model="$ctrl.transferData.applicant.cover[2].additionalIpBenefitPeriod" ng-options="BenefitPeriod for BenefitPeriod in $ctrl.benefitOpts">
            						</select>
            						<div class="select__arrow"></div>
            				</div>
            				
            				<div class="col-sm-4 col-12 p-0 px-sm-3" ng-class="{'has-error':$ctrl.minIPErrorFlag || $ctrl.maxIPErrorFlag || (coverCalculatorForm.ipRequireCover.$invalid && coverCalculatorForm.ipRequireCover.$touched) || (coverCalculatorForm.ipRequireCover.$error.required && coverCalculatorForm.ipRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipRequireCover.$error.required)}">
            					<label class="my-2"> Transfer Amount </label>
            					<input ng-disabled="$ctrl.transferData.applicant.workHours == 'No'" numbers-only format="number" ng-model-options="$ctrl.modelOptions" ng-change="$ctrl.validateIPAmount()" type="text" name="ipRequireCover" ng-model="$ctrl.transferData.applicant.cover[2].additionalCoverAmount" class="form-control px-1 border-secondary dollar" ng-focus="$ctrl.checkPreviousMandatoryFields('coverCalculatorForm','ipRequireCover');" required>
            					<span class="error" ng-if="(coverCalculatorForm.ipRequireCover.$invalid && coverCalculatorForm.ipRequireCover.$touched) || (coverCalculatorForm.ipRequireCover.$error.required && coverCalculatorForm.ipRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipRequireCover.$error.required)">Please enter valid cover Amount</span>
            					<span class="error" ng-if="$ctrl.minIPErrorFlag">Your total IP cover is less than eligibility limit, minimum amount allowed for this product is {{$ctrl.IPMinLimit}}. Please re-enter your cover.</span>
								<span class="error" ng-if="$ctrl.maxIPErrorFlag">Your total IP cover exceeds eligibility limit, maximum amount allowed for this product is {{$ctrl.IPMaxLimit}}. Please re-enter your cover.</span>
								
								<div class="display-flex" ng-if="$ctrl.insuredMaxIPFlag">
									<div class="mt-3">
										<label class="control-label">
											<img src="./static/ingd/src/assets/images/warning.png">
											The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum
										</label>
									</div>
								</div>
								
            				</div>
            				
            			</div>
            			
            			<div class="row d-flex my-3 bg-light align-items-center">            				
            				<div class="col-sm-3 col-6">
            					<p class="my-3">Cover amount</p>
            				</div>
            				
            				<div class="col-sm-3 text-right border-right col-6">
            					<h6 class="mt-2">{{$ctrl.transferData.applicant.cover[2].transferCoverAmount | currency}}</h6>
            				</div>
            				
            				<div class="line mob"></div>
            				
            				<div class="col-sm-3 col-6">
            					<p class="my-3">{{$ctrl.transferData.applicant.cover[2].frequencyCostType}} cost</p>
            				</div>
            				
            				<div class="col-sm-3 text-right col-6">
            					<h6 class="mt-2">{{$ctrl.transferData.applicant.cover[2].cost | currency}}</h6>
            				</div>
            			</div>
            			
            			<hr class="primeline">
            			
           				<div class="row rowcustom">
           					<div class="col-sm-4">
           						<label> Waiting period </label>
           					</div>
           					
           					<div class="col-sm-8">
           						<select class="form-control" disabled ng-model="$ctrl.transferData.applicant.cover[2].totalIpWaitingPeriod" ng-options="WaitingPeriod for WaitingPeriod in $ctrl.waitingOpts"></select>
           					</div>
           				</div>
           				
           				<hr class="primeline">
           				
           				<div class="row rowcustom">
           					<div class="col-sm-4">
           						<label> Benefit period </label>
           					</div>
           					
           					<div class="col-sm-8">
           						<select class="form-control" disabled ng-model="$ctrl.transferData.applicant.cover[2].totalIpBenefitPeriod" ng-options="BenefitPeriod for BenefitPeriod in $ctrl.benefitOpts"></select>
           					</div>
           				</div> 				
           				
            			            			
            		</div>
            		<!-- total -->
            		<div class="d-flex bg-secondary text-right">
            			<div class="col-12 p-2">
            				<h6 class="text-white d-inline mt-2"> Total {{$ctrl.transferData.applicant.cover[0].frequencyCostType}} cost : </h6>
            				<h4 class="text-white d-inline ml-2 mt-2" > {{$ctrl.transferData.totalMonthlyPremium | currency}}</h4>
            			</div>
            		</div>
              </form>
              <div class="m-4">
                <p class="mb-2">
                  <strong>Things you should know: </strong>
                </p>
                <p>To be eligible for transfer of cover, you must have previously been underwritten in full (ie. a comprehensive personal statement has been completed). Default cover, or cover with a pre-existing condition exclusion, and direct cover that has not been fully underwritten are not eligible for transfer of cover. If accepted, you will be covered for the same sum insured amount with the same or similar benefit and waiting periods (if any), and if applicable, the same underwritten exclusions and/or loadings as you had before.</p>
                <p>This quote is an estimate of premiums only. The actual premium may differ depending on your responses to the health and lifestyle questions. Once your application is accepted by the insurer, you can view your actual premiums online. If you are on Automatic Cover, and your application to change your insurance is accepted (including transfer of cover), your Automatic Cover will end.</p>
              </div>
              
              <div class="row m-1">
                <div class="form-group col-12 col-md-4">
                  <button class="btn ingd-submit-button font-weight-normal text-white w-100" ng-disabled="coverCalculatorForm.$invalid" ng-click="$ctrl.print()">Print</button>
                </div>
                <span class="spacer d-block d-sm-none">&nbsp;</span>
                <div class="form-group col-12 col-md-4">
                  <button class="btn ingd-submit-button font-weight-normal text-white w-100" ng-disabled="coverCalculatorForm.$invalid" ng-click="$ctrl.save()">Save & Exit</button>
                </div>
                <span class="spacer d-block d-sm-none">&nbsp;</span>
                <div class="form-group col-12 col-md-4">
                  <button class="btn ingd-submit-button font-weight-normal text-white w-100" ng-disabled="coverCalculatorForm.$invalid" ng-click=" $ctrl.continue()">Continue</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 mt-4 mt-md-0">
      <div class="need-help-block text-white p-3">
        <h4 class="text-white">Can we help?</h4>
        <p> Call us on
          <strong>133 464</strong>
        </p>
        <p> 8am - 8pm Monday to Friday</p>
        <p> 9am - 5pm Saturday (AEST/AEDT)</p>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>