<div class="container">
  <div class="row">
    <div class="col-12" ng-class="{'col-md-9': vm.channel == 'email'}">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="title">Login</h2>
          <h6>Please enter the following information.</h6>
        </div>
      </div>
		  <p style="font-size:16px" class="error text-center" ng-if="vm.servicefailureFlag && (!vm.brokerName || !vm.brokerCnctNum)">We are unable to initiate the application due to an error. Please contact your broker to resolve the issue. </p>
		  <p style="font-size:16px" class="error text-center" ng-if="vm.servicefailureFlag && vm.brokerName && vm.brokerCnctNum">We are unable to initiate the application due to an error. Please contact your broker {{vm.brokerName}} on {{vm.brokerCnctNum}} to resolve the issue. </p>
      <form name="vm.eviewForm" class="form-box-style" novalidate  ng-if="vm.channel != 'eviewsave'">
        <div class="card card-default form-box-style">
          <div id="collapseOne" class="card-collapse collapsed" style="height: auto;">
            <div class="card-body corp-panel-body">
              <div class="row corp-row-style" ng-if="vm.channel != 'email'">
                <div class="form-group col-12 col-md-4">
                  <label for="appnumber">Application number</label>
                  <input type="text" numbers-only class="form-control custom-input" id="appnumber" ng-model="vm.appNum"
                    placeholder="Enter application number"/>
                </div>
              </div>
              <hr class="primeline d-none d-sm-block" ng-if="vm.channel != 'email'">
              <div class="row corp-row-style">
                <div class="form-group col-12 col-md-4 required" ng-if="vm.channel == 'email'">
                  <label for="appnumber">Application number</label>
                  <input type="text" numbers-only class="form-control custom-input" id="appnumber" name="appnumber" ng-model="vm.appNum" 
                    placeholder="Enter application number" required="true" />
                </div>
                <div class="form-group col-12 col-md-4 required" ng-if="vm.channel != 'email'">
                  <label for="fname">First name</label>
                  <input type="text" class="form-control custom-input" name-only maxlength="20" name="fname" id="fname" ng-model="vm.inputData.firstName" placeholder="Enter first name"
                    required />
                  <span ng-if="((vm.eviewForm.fname.$invalid && vm.eviewForm.fname.$touched) || (vm.eviewForm.$submitted && vm.eviewForm.fname.$error.required))"
                    class="error">Please enter first name</span>
                </div>
                <div class="form-group col-12 col-md-4 required">
                  <label for="lname">Surname</label>
                  <input type="text" class="form-control custom-input" name-only maxlength="20" name="lname" id="lname" ng-model="vm.lName" 
                    placeholder="Enter last name" required />
                  <span ng-if="((vm.eviewForm.lname.$invalid && vm.eviewForm.lname.$touched) || (vm.eviewForm.$submitted && vm.eviewForm.lname.$error.required))"
                    class="error">Please enter surname</span>
                </div>
                <div class="form-group col-12 col-md-4 required">
                  <label for="dob">Date of birth (dd/mm/yyyy)</label>
                  <input type="text" class="form-control custom-input" ng-pattern="vm.constants.dateFormat" date-picker-dob channel="{{vm.channel}}" name="dob" id="dob" ng-model="vm.dob" ng-change="vm.checkDOB()" 
                    placeholder="Enter date of birth" required />
                  <span ng-if="((vm.eviewForm.dob.$error.required && vm.eviewForm.dob.$touched) || (vm.eviewForm.$submitted && vm.eviewForm.dob.$error.required))"
                    class="error">Please enter date of birth</span>
                  <span ng-if="(vm.eviewForm.dob.$invalid && vm.eviewForm.dob.$touched && !vm.eviewForm.dob.$error.required)"
                    class="error">Please enter valid date of birth</span>
                </div>
              </div>
              <hr class="primeline d-none d-sm-block" ng-if="vm.channel != 'email'">
              <div class="row corp-row-style">
                <div class="form-group col-12 col-md-4 required" ng-if="vm.channel != 'email'">
                  <label for="plancode">Plan code</label>
                  <input type="text" class="form-control custom-input" name="plancode" id="plancode" ng-model="vm.inputData.AFUNDID" ng-disabled="vm.channel != 'email'"
                    placeholder="Enter plan code" required />
                  <span ng-if="((vm.eviewForm.plancode.$invalid && vm.eviewForm.plancode.$touched) || (vm.eviewForm.$submitted && vm.eviewForm.plancode.$error.required))"
                    class="error">Please enter plan code</span>
                </div>
                <div class="form-group col-12 col-md-4 required" ng-if="vm.channel != 'email'">
                  <label for="brokeremail">Broker email</label>
                  <input type="text" class="form-control custom-input" name="brokeremail" id="brokeremail" ng-model="vm.inputData.brokerEmail" placeholder="Enter broker email"
                    ng-pattern="vm.constants.emailFormat" required />
                    <span ng-if="((vm.eviewForm.brokeremail.$invalid && vm.eviewForm.brokeremail.$touched) || (vm.eviewForm.$submitted && vm.eviewForm.brokeremail.$error.required))"
                    class="error">Please enter the broker email </span>
                </div>
                <div class="form-group col-12 col-md-4 required" ng-if="vm.channel != 'email'">
                  <label for="category">Category</label>
                  <select class="form-control custom-input" name="category" id="category" ng-model="vm.inputData.membershipCategory" required>
                    <option  ng-repeat="categoryOptions in vm.fundCat" value="{{categoryOptions.category}}">Category {{categoryOptions.category}}</option>
                  </select>
                  <span ng-if="((vm.eviewForm.category.$invalid && vm.eviewForm.category.$touched) || (vm.eviewForm.$submitted && vm.eviewForm.category.$error.required))"
                  class="error">Please enter category</span>
                </div>
              </div>
              <hr class="primeline">
              <div class="row corp-row-style">
                <div class="form-group col-12 col-md-4">
                  <button ng-disabled="((vm.servicefailureFlag || vm.eviewForm.$invalid) && vm.channel=='email') || vm.eviewForm.$invalid" class="metlife-btn-primary btn btn-block btn-outline" type="submit" ng-click="vm.showSavedAppPopup('CCOVER')">Login </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
            <form name="vm.eviewsaveForm" class="form-box-style" novalidate  ng-if="vm.channel == 'eviewsave'">
        <div class="card card-default form-box-style">
          <div id="collapseOne" class="card-collapse collapsed" style="height: auto;">
            <div class="card-body corp-panel-body">
              <hr class="primeline d-none d-sm-block" ng-if="vm.channel != 'email'">
              <div class="row corp-row-style">
                <div class="form-group col-12 col-md-4 required" ng-if="vm.channel == 'eviewsave'">
                  <label for="appnumber">Application number</label>
                  <input type="text" numbers-only class="form-control custom-input" id="appnumber" name="appnumber" ng-model="vm.appNum"
                    placeholder="Enter application number" required="true" />
                </div>
                <div class="form-group col-12 col-md-4 required">
                  <label for="lname">Surname</label>
                  <input type="text" class="form-control custom-input" name-only maxlength="20" name="lname" id="lname" ng-model="vm.lName"
                    placeholder="Enter last name" required />
                  <span ng-if="((vm.eviewsaveForm.lname.$invalid && vm.eviewsaveForm.lname.$touched) || (vm.eviewsaveForm.$submitted && vm.eviewsaveForm.lname.$error.required))"
                    class="error">Please enter surname</span>
                </div>
                <div class="form-group col-12 col-md-4 required">
                  <label for="dob">Date of birth (dd/mm/yyyy)</label>
                  <input type="text" date-picker-dob channel="{{vm.channel}}" class="form-control custom-input" name="dob" id="dob" ng-model="vm.dob"
                    placeholder="Enter date of birth" required />
                  <span ng-if="((vm.eviewsaveForm.dob.$invalid && vm.eviewsaveForm.dob.$touched) || (vm.eviewsaveForm.$submitted && vm.eviewsaveForm.dob.$error.required))"
                    class="error">Please enter date of birth</span>
                </div>
              </div>
           
              <hr class="primeline">
              <div class="row corp-row-style">
                <div class="form-group col-12 col-md-4">
                  <button ng-disabled="(vm.servicefailureFlag || vm.eviewsaveForm.$invalid)" class="metlife-btn-primary btn btn-block btn-outline" type="submit" ng-click="vm.showSavedAppPopup('CCOVER')">Login </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-3 align-top" ng-if="vm.channel === 'email'">
      <div class="help-block">
        <h2 class="helpHead">NEED HELP?</h2>
        <p class="helpTxt">Please call</p>
        <h3 class="helpNo">
          <a class="telephone d-block d-sm-none" href="tel:{{vm.brokerCnctNum}}">{{vm.brokerCnctNum}}</a>
          <a class="telephone d-none d-md-block">{{vm.brokerCnctNum}}</a>
        </h3>
        <p class="helpTxt">if you are having trouble with this application.</p>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>