body#caresuper {
	font-family: 'Arial', Helvetica, sans-serif;
	background: #e5e5e5;

	h1, h2, h3, h4, h5 {
		font-family: Helvetica, 'Arial', sans-serif !important;
	}

	.global_header {
		height: 70px;
		background-color: #ffffff !important;

		@include mobile {
			height: 50px;

			.metlifeLogo {
				
				.row img {
					width: 140px;
				}

			}

		}

		&.fixedHeader {
			height: 50px;

			.metlifeLogo {
				
				.row img {
					width: 140px;
				}

			}

		}

	}

	.header-secondary {
		background-color: #888888;
	}

	.list-container ul li>a {
		border: 2px solid #e8eaef;
		background-color: #e8eaef;
	}

	.tab-container {
		background: #e5e5e5;
	}


	.region.region-footer {
		margin-top: 0;
	}

	.region-footer section .container {
		padding-top: 30px;
		border-top: 1px solid #ccc;
	}

	.clientFooter {
		display: table;
		margin: 0 auto;
		padding-bottom: 30px;
		float: none;

		@include mobile {
			display: block;
			padding: 0 0 20px;
		}

		.logo {
			display: table-cell;
			vertical-align: top;
			width: 180px;

			@include mobile {
				display: inline-block;
				width: 100%;

				img {
					max-width: 150px;
					margin: 0 auto;
				}

			}

		}

		#footer_menu {
			display: table-cell;
			vertical-align: middle;
			padding: 7px 0 0 30px;
			font-size: 12px;
			text-align: right;

			@include mobile {
				display: block;
				text-align: center;
				width: 100%;
				padding: 20px 10px 0;
			}

		}

	}

}
