/* ==========================================================================
   Metlife Global Stylesheet
   Date: July 2016
   ========================================================================== */

html { 
	font-size: 62.5%;
} 

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	color: $primary-text;
	background: $body-bg-grey;
}

* {
	outline: none;
}

a {
	&:link, &:visited  {
		color: $link-text;
		text-decoration: none;
	}

	&:hover {
		text-decoration: underline;
	}

	&:active {
		color: $link-text;
	}
}

ul li {
	list-style: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Elements
   ========================================================================== */
button {
	@include btn();

	@include desktop() {
		width: auto;
 		font-size: 1.1rem;
	}
}

.container {
	@include tablet() {
		width: 95%;
	}

	@include desktop() {
		width: 100%;
		max-width: 1300px;
	}
}

.module {
	padding-bottom: 40px;

	@include mobile {
		padding-bottom: 25px;
	}
}

.is_stuck {
	z-index: 999;
}

/* Headers
   ========================================================================== */

.header-secondary {
	background-color: $dark-blue;
	padding-top: 70px;
	color: white;

	@include mobile {
		padding-top: 50px;
	}

	.row .row {
		display: table;
		width: 100%;
		height: 60px;
		table-layout: fixed;
		margin-left: 0;

		> div {
			display: table-cell;
			float: none;
			vertical-align: middle;
			height: 60px;
		}

		@include mobile {
			display: block;
			padding: 5px 0 8px;
			margin: 0;
			height: auto;

			> div {
				display: block;
				width: 100%;
				text-align: left;
				height: auto;
				padding: 5px 20px;
				text-align: center;

				&:first-of-type {
					padding: 5px 20px 0;
				}

			}

		}

	}

	.title {
		padding-left: 0;

		@include mobile {
			font-weight: bold;
		}

	}

	.member-info {
		text-align: right;
		padding-right: 0;
	}

}



/* Icons
   ========================================================================== */

.fa-exclamation-circle {
	color: $red;
}

.fa-check-circle {
	color: $green;
}

.fa-phone {
	color: $mid-blue;
}

.fa-question-circle {
	color: $mid-blue;
}

.fa-clock-o {
	color: $orange;
}

.fa-thumbs-o-up {
	color: $mid-blue;
}



/* Tabs
   ========================================================================== */

.tab-container {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-top: 50px;
	background: $body-bg-grey;

	@include mobile {
		padding: 0;
		margin: 0;
	}

	> a {
		display: table-cell;
		float: none;
		vertical-align: middle;
		text-align: center;
		text-transform: uppercase;
		color: $dark-grey;
		font-size: 11px;
		font-weight: bold;
		padding: 30px 20px 20px;
		width: 25%;

		@include mobile {
			padding: 14px 5px;
		}

		&:hover {
			text-decoration: none;

			@include desktop {
				background-color: rgba(0,0,0, 0.1);
			}

		}

		&.active {
			background-color: white;
			text-decoration: none;

			&:hover {
				background-color: white;
				color: $mid-grey;
			}

		}

		.fa {
			font-size: 30px;
			margin-bottom: 18px;
			display: block;

			@include mobile {
				font-size: 20px;
				margin-bottom: 3px;
			}

		}

	}

}


.is_stuck {

	@include mobile {
		@include box-shadow();
	}

	.tab-container {

		@include desktop() {

			&:after {
				content: "";
				width: 97.5%;
				height: 1px;
				display: block;
				position: absolute;
				left: 50%;
				z-index: -1;
				@include box-shadow();
				bottom: 0;
				transform: translateX(-50%);
			}

		}

	}

}

.tab-content {

	@include mobile {
		padding: 0;
	}

	.row {
		background-color: white;
		padding: 50px 10px 25px;
		margin: 0;
		text-align: center;
		font-size: 14px;
		color: $dark-grey;

		@include desktop {
			padding: 60px 60px 25px;
		}

		@include mobile {
			padding: 30px 0 20px;
		}

		h2 {
			font-size: 23px;
			margin: 60px 0 45px;

			@include mobile {
				margin: 45px 0 30px;
			}

		}

		.btt-link {
			margin-top: 50px;
			display: inline-block;
			font-size: 12px;
		}

	}


	// Empty tab content
	.empty {
		margin: 0 auto;
		float: none;
		font-size: 16px;

		.fa {
			font-size: 74px;
			margin-bottom: 30px;
		}

	}

}




/* Lists
   ========================================================================== */

.list-container {
	border-top: 1px solid #D1D1D1;
	margin: 50px auto 0;
	padding: 0;
	float: none;
	overflow: hidden;

	@include mobile {
		margin: 30px auto 0;
	}

	ul {
		width: 100%;
		margin: 0;
		padding: 24px 0 0;
		overflow: hidden;

		li {
			position: relative;
			padding-top: 30px;
			text-align: left;
			float: left;
			width: 100%;

			.list-item {
				display: table;
				width: 100%;

				.item-icon {
					display: table-cell;
					vertical-align: middle;
					width: 50px;
				}

				.item-text {
					display: table-cell;
					vertical-align: middle;
					width: calc(100% - 50px);
					position: relative;
					padding: 0;
				}

			}

			> div {
				overflow: hidden;
				padding: 5px 5px 5px 13px;
				border: 2px solid white;
			}

			> a {
				border: 2px solid $light-grey;
				border-radius: 5px;
				overflow: hidden;
				padding: 7px 5px 10px 13px;
				background-color: #f7f7f7;

				&:hover {
					background-color: rgba(0,0,0, 0.1);
					text-decoration: none;
				}

				.item-text {
					padding: 0 30px 0 0 !important;

					&:after {
						content:'\f105';
						@include font-awesome;
						font-size: 30px;
						color: $dark-grey;
						position: absolute;
						top: 50%;
						right: 7px;
						transform: translateY(-50%);
					}

				}

			}

			.fa {
				font-size: 42px;
				float: left;
				margin: 3px 13px 0 0;

				@include mobile {
					margin: 1px 10px 0 0;
				}

			}

			.timestamp {
				font-size: 13px;
				color: $mid-grey;
				display: block;
				padding: 0 0 2px;

				@include mobile {
					padding: 0;
				}

			}

			.desc {
				font-size: 20px;
				display: block;
				color: $dark-grey;
				line-height: 120%;
				padding-right: 0px;

				@include mobile {
					font-size: 15px;
				}

			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 32px;
				width: 2px;
				height: 30px;
				background-color: #dedede;
			}

			&:first-of-type {
				padding-top: 0;

				&:before {
					display: none;
				}

			}

		}

	}

}

// Load More CSS

// Commented out due to hiding via jQuery for qhen javascript isn't installed
// #showMoreList li {
// 	display: none;
// }

#loadMore.btn {
	width: 100%;
	color: $dark-grey;
	margin-top: 40px;
}




/* Forms
   ========================================================================== */

.closed-msg {
	background-color: #ec4747;
	color: white;
	border: 1px solid #c7232d;
	text-align: left;
	padding: 15px 15px 15px 62px;
	margin: 0 0 40px;
	border-radius: 5px;
	position: relative;

	&:before {
		font-family:'FontAwesome';
		content: '\f05a';
		font-size: 36px;
		color: #b80017;
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
	}

	a {
		text-transform: none !important;
		color: white !important;
		text-decoration: underline;
		font-weight: normal !important;
	}

}


form {

	label {
		display: block;
		line-height: 2.0rem;
		font-size: 1.4rem;
		font-weight: 500;
		margin-bottom: 3px;
		text-align: left;
	}

	input, select {
		font-size: 1.3rem;
		margin: 10px 0;
		padding: 10px 12px;
		width: 100%;
		color: $icon-text;
		background: $white;
		border-radius: 0 !important;
		border: 1px solid $border-outline;
	}

	button {
		display: table;
		margin: 0 auto;
		padding: 12px 20px;
		width: auto;
		min-width: 150px;
	}
}

.btn {
	font-size: 12px;
	padding: 6px 20px;

	&:focus {
		outline: 0 !important;
	}

}


/* Datepicker jquery-ui tweaks
   ========================================================================== */

.ui-datepicker-trigger{
	border: none;
	background: none;
	color: $mid-blue;
	padding: 0;
	box-shadow: none;
	display: inline-block;
	min-width: 40px;
	float: left;
	min-height: 34px;

	&:focus {
		outline: 0;
	}

	.fa {
		line-height: 34px;
		font-size: 30px;
	}

}

.ui-datepicker-prev {
	position: relative;

	&:before {
		font-family:'FontAwesome';
		content: '\f104';
	}

}

.ui-datepicker-next {
	position: relative;

	&:before {
		font-family:'FontAwesome';
		content: '\f105';
	}

}

.hasDatepicker {
	width: calc(100% - 40px);
	float: left;
}




/* Back to top smooth scroll
   ========================================================================== */

.cd-top {
	display: inline-block;
	position: fixed;
	bottom: 40px;
	right: 10px;
	white-space: nowrap;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;

	@include tablet {
		right: 20px;
		bottom: 30px;
	}

	&.cd-is-visible {
		visibility: visible;
		opacity: 1;
	}

	// &.cd-fade-out {
	// 	opacity: .5;
	// }

	.icon {
		font-size: 49px;
		color: #919191;
	}

	.label {
		text-indent: 100%;
		display: none;
	}

}


// Position on the inside of the white box on wider screens
@media only screen and (min-width: 1300px) {
	.cd-top {
		right: calc(50% - 600px);
		bottom: 45%;
	}
}



// Skip to content link
.skip-link {
	background-color: #ffffff;
	// box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
	color: #21759b;
	display: block;
	font: bold 14px/normal Arial, sans-serif;
	left: -9999em;
	outline: none;
	padding: 15px 23px 14px;
	text-decoration: none;
	text-transform: none;
	top: -9999em;
}
.says, .screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}



/* CSS Fixes
   ========================================================================== */

.global_header .headerLeft {

	@include mobile {
		padding: 0 0 0 12px !important;
	}

}