.global_header {
	position: fixed;
	overflow: hidden;
	z-index: 1000;
	width: 100%;
	height: 50px;
	background-color: white;

	@include tablet() {
		height: 70px;
	}

	.metlifeLogo {
		display: table;
		height: 100%;
		margin: 0 auto;
		float: none;

		.row {
			display: table-cell;
			vertical-align: middle;

			img {
				display: block;
				margin: auto;
				width: 120px;
				height: auto;
				transition: all 500ms ease 0s;

				@include tablet() {
					width: 168px;
				}

			}

		}

	}

	&.notFixedHeader {
		@include tablet() {
			height: 70px;
			transition: height 500ms ease 0s;
		}
	}

	&.fixedHeader {
		height: 50px;
		transition: height 500ms ease 0s;

		.metlifeLogo {

			.row {

				img {

					@include tablet() {
						width: 120px;
					}

				}

			}

		}

	}

}
