// Button variants

/* icon fonts */

@mixin font-awesome() {
  font-family: FontAwesome;
  font-weight: normal;
}

@mixin ion-icon() {
  font-family: ionicons;
  font-weight: normal;
}

/* buttons */
@mixin btn {
  min-height: 40px;
  max-height: 80px;
  width: 100%;
  padding: 12.5px 30px;
  font-size: 1.2rem;
  line-height: 15px;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $dark-grey;
  border: none;
  border-radius: 2px;
  @include box-shadow;

  &.btn-primary {
    background-color: #a0c323;
    background: -webkit-linear-gradient(#a0c323, #8caa0a);
    background: -o-linear-gradient(#a0c323, #8caa0a);
    background: -moz-linear-gradient(#a0c323, #8caa0a);
    background: linear-gradient(#a0c323, #8caa0a);
    border-color: transparent;
    
    &:hover {
      background: #a0c323;
      border-color: transparent;
    }

  }

  &.btn-secondary {
    background-color: #52BDFC;
    background: -webkit-linear-gradient(#52BDFC, #4CA6E1);
    background: -o-linear-gradient(#52BDFC, #4CA6E1);
    background: -moz-linear-gradient(#52BDFC, #4CA6E1);
    background: linear-gradient(#52bdfc, #4ca6e1);
    color: white;

    &:hover {
      background-color: #52BDFC;
    }

  }
}

/* misc */
@mixin box-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
}

@mixin text-shadow() {
  text-shadow: rgba(150, 150, 150, 0.8) 2px 2px 5px;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder {@content}
  &::-moz-placeholder {@content}
  &:-ms-input-placeholder {@content}  
}


/* headings */
@mixin hero-text() {
  color: $white;
  text-align: center;
  font-size: 2.0rem;
  @include text-shadow();

  @include desktop() {
    font-size: 5.0rem;
  }

}

/* breakpoints */
$tablet-width: 768px;
$desktop-width: 1024px;

/* max width 767 */
@mixin mobile {

  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }

}

/* min width 768 */
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

/* min-width 768 and max width 1023 */
@mixin tablet-desktop {

  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }

}

/* max width 1023 */
@mixin tablet-down {

  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }

}

/* min width 1025 */
@mixin desktop {

  @media (min-width: #{$desktop-width + 1px}) {
    @content;
  }

}

@mixin button-variant($black, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 25%);
  }

  &:hover {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken($border, 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
      border-color: darken($border, 25%);
    }

  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: $border;
    }

  }

  .badge {
    color: $background;
    background-color: $color;
  }

}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
