.module.topic-selection {
	background: $white;

    .header_cta {
    	padding: 25px 20px;
		background-color: $mid-blue;
	    text-align: left;

	    @include tablet() {
	    	position: relative;
	    	display: table;
	    	margin: -40px auto 0 auto;
            padding: 30px 35px;
	    	width: auto;
	    }

	    @include tablet-desktop() {
    		width: 48%;
    	}

    	@include desktop() {
    		margin-top: -50px;
    		width: 38%;
    	}
        
        .form-actions {
            display: table;
            margin: 0 auto;
        }
    }
}