// Variables
// --------------------------------------------------

//== Colors
// Metlife Brand Colors
$white: 			#fff;
$black:				#000;
$light-blue: 		#379bde;
$mid-blue: 			#2675c8;
$dark-blue: 		#0061a0;
$light-grey: 		#eeeeee;
$mid-grey:	 		#7b7b7b;
$dark-grey: 		#171717;
$red: 				#d0021b;
$orange: 			#ff9f00;
$green:				#7ed321;
$primary-text:		#333;
$secondary-text: 	#999;
$icon-text: 		#666;
$link-text: 		#337ab7;
$border-outline: 	#e3e3e3;
$body-bg-grey: 		#f2f2f2;
$divider-outline: 	#ccc;

// Form validation
$warning-text: 		#eb4646;
$input-warning:		#f5d0d0;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Open Sans', sans-serif;
$font-family-base:        $font-family-sans-serif !default;
