<metlife-mtaa-header-nav></metlife-mtaa-header-nav>
<h2 ng-if="CCS.errorOccured" style="color:red;text-align: center;">Something went wrong...Please try after sometime</h2>
<div class="container d-none d-sm-block ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container p-0">
  <div class="menumobile  d-block d-sm-none d-flex h-100">
    <div class="col-9">
      <div class="txtHolderMob"><span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-3 nav-arrows float-right justify-content-center align-self-center">
    <img src="./static/mtaa/src/app/assets/images/bg_blank.png" ng-if="!vm.CCS.auraDisabled" ng-click="vm.go('/aura')" class=" icoMenuRev active  ">
    <img src="./static/mtaa/src/app/assets/images/bg_blank.png" ng-if="vm.CCS.auraDisabled" ng-click="vm.go('/cover/2')" class=" icoMenuRev active  ">
    <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" icoMenuFwd  ml30p">
    </div>
  </div>
  <div class=" col-sm-3 fright d-none d-sm-block">
   <metlife-mtaa-help-block></metlife-mtaa-help-block>
 </div>
   <div class="col-sm-9 landingPageBoxes">
	    <div class="menu d-none d-sm-block">
	       <div class="col-sm-4 dd first float-left pt-2">
	        <h5 style="color:#0066a1">Step 1</h5>
	        <div class="txtHolder pointer"> <a ng-click="vm.go('/cover/2')"> Personal details</a> </div>
	        <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" right">
	       </div>

	        <div class="col-sm-4 dc float-left pt-2" ng-if="!vm.CCS.auraDisabled">
	         <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" left">
	         <h5 style="color:#0066a1">Step 2</h5>
	         <div class="txtHolder pointer"> <a ng-click="vm.go('/aura')"> Health &amp; lifestyle</a></div>
	         <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" right">
	        </div>
	        <div class="col-sm-4 dc float-left pt-2" ng-if="vm.CCS.auraDisabled" ng-disabled="vm.CCS.auraDisabled">
	         <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" left">
	         <h5 style="color:#d9d9d9">Step 2</h5>
	         <div class="txtHolder"> <p style="color:#d9d9d9" class="txtHolder"> Health &amp; lifestyle</p></div>
	         <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" right">
	        </div>

	        <div class="col-sm-4 cn float-left pt-2">
	         <h5>Step 3</h5>
	         <div class="txtHolder" style="color:#000"> Confirmation </div>
	         <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" left">
	        </div>
	     </div>

	    <div class="accordion" id=" ">
	      <div class="card border-0 mt-2 no-background twoColData">
	        <div class="card-header" data-toggle="collapse" href="#collapseOne">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a class="card-title">
	          	<h4 class="mb-0 float-left">Personal details </h4>
	          </a>
	        </div>
	        <div class="overflow-hidden">
	        	<div id="collapseOne" class="card-body p-0 pt-2 parent-flex-container collapse in">
	          <div class="card card-body">
	            <!-- Row starts -->
	           <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>First name</strong> </label>
	                <label class="control-label">{{vm.personalDetails.firstName}}</label>
	              </div>
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>Last name</strong> </label>
	                <label class="control-label">{{vm.personalDetails.lastName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	             <hr class="primeline d-none d-sm-block">
	             <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-12">
	                <label class="control-label"><strong>Sex</strong></label>
	               <label class="control-label">{{vm.CCS.applicant.gender}}</label>
	              </div>
	              <div class="col-sm-6 col-12">
	                <label class="control-label"><strong>Preferred contact type</strong></label>
	               <label class="control-label">{{vm.contactType}}</label>
	              </div>
	            </div>
	             <hr class="primeline d-none d-sm-block">

	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>Preferred contact number </strong></label>
	               <label class="control-label">{{vm.CCS.applicant.contactDetails.preferedContactNumber}}</label>
	              </div>
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>Email address</strong> </label>
	               <label class="control-label">{{vm.CCS.applicant.emailId}}</label>
	              </div>
	            </div>
	            <hr class="primeline d-none d-sm-block">

	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>Date of birth</strong> </label>
	               <label class="control-label"> {{vm.CCS.applicant.birthDate}}</label>
	              </div>
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>What time of day do you prefer to be contacted?</strong></label>
	               <label class="control-label" ng-if="vm.CCS.applicant.contactDetails.preferedContactTime =='1'">Morning (9am&ndash;12pm)</label>
	               <label class="control-label" ng-if="vm.CCS.applicant.contactDetails.preferedContactTime =='2'">Afternoon (12pm&ndash;6pm)</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline d-none d-sm-block">
	            <!-- Row starts -->
	           <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>Do you work 15 or more hours per week?</strong> </label>
	               <label class="control-label">{{vm.CCS.applicant.workHours}}</label>
	            </div>
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>Do you, directly or indirectly, own all or part of a business from which you earn your regular income?</strong> </label>
	               <label class="control-label">{{vm.CCS.applicant.ownBusinessQue}}</label>
	            </div>
	            </div>
	            <!-- Row ends -->
				<hr class="primeline d-none d-sm-block">

	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-12" ng-if="vm.CCS.applicant.ownBusinessQue == 'Yes'">
	                <label class="control-label"><strong>Are you currently: <br>
                	  Capable of, and performing all of the usual identifiable duties from your occupation, without restriction due to injury or illness?</strong>
                    </label>
	               <label class="control-label">{{vm.CCS.applicant.ownBusinessYesQue}}</label>
	              </div>
	              <div class="col-sm-6 col-12" ng-if="vm.CCS.applicant.ownBusinessQue == 'No'">
	                <label class="control-label"><strong>With your current job, are you currently: <br> <li> Actively Performing all your normal duties of your occupation; and </li> <br> <li> Working your usual hours without limitation of injury or illness; and </li>
	                 <br> <li> Not entitled to, or not receiving any income support benefits of any kind.</li></strong>
	                </label>
	               <label class="control-label">{{vm.CCS.applicant.ownBusinessNoQue}}</label>
	              </div>
	              <div class="col-sm-6 col-12">
	                <!-- <label class="control-label"> <strong>Are you a citizen or permanent resident of Australia?</strong> </label> -->
	                <label class="control-label"> <strong>Are you either a permanent resident of Australia or a New Zealand citizen residing in Australia under a Special Category Visa?</strong> </label>
	               <label class="control-label">{{vm.CCS.applicant.australiaCitizenship}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline d-none d-sm-block">


	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>What industry do you work in?</strong> </label>
	               <label class="control-label">{{vm.CCS.applicant.occupationCode}}</label>
	              </div>
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>What is your current occupation?</strong></label>
	                <!-- <label class="control-label">{{CCS.occupationDetails.occupation}}</label> -->
	                <label class="control-label" ng-show="vm.CCS.applicant.occupation !='Other'">{{vm.CCS.applicant.occupation}}</label>
	                <label class="control-label" ng-show="vm.CCS.applicant.occupation =='Other'">{{vm.CCS.applicant.otherOccupation}}</label> 
	              </div>
	            </div>
	            <!-- Row ends -->
				 <hr class="primeline d-none d-sm-block">
				 
	            <!-- Row starts -->
	            <div class="row rowcustom odd" ng-if="vm.CCS.applicant.occupationDuties == 'Yes' || vm.CCS.applicant.occupationDuties == 'No' || vm.CCS.applicant.tertiaryQue == 'Yes'|| vm.CCS.applicant.tertiaryQue == 'No'">
	              <div class="col-sm-6 col-12"  ng-if="vm.CCS.applicant.occupationDuties == 'Yes' || vm.CCS.applicant.occupationDuties == 'No'">
	                <label class="control-label"><p align="justify"> <strong>Are your duties entirely undertaken within an office environment?</strong></p></label>
	               <label class="control-label">{{vm.CCS.applicant.occupationDuties}}</label>
	              </div>
	            <div class="col-sm-6 col-12" ng-if="vm.CCS.applicant.tertiaryQue == 'Yes' || vm.CCS.applicant.tertiaryQue == 'No'">
	                <label class="control-label"> <p align="justify"><strong>Do you hold a tertiary qualification relevant to your current occupation or are you a member of a professional body relevant to your current occupation or a member of your organisation's senior management team?</strong></p></label>
	               <label class="control-label">{{vm.CCS.applicant.tertiaryQue}}</label>
	              </div>
	          </div>
	          <hr ng-if="vm.CCS.applicant.occupationDuties == 'Yes' || vm.CCS.applicant.occupationDuties == 'No' || vm.CCS.applicant.tertiaryQue == 'Yes'|| vm.CCS.applicant.tertiaryQue == 'No'"class="primeline d-none d-sm-block">
	          <div class="row rowcustom odd" ng-if="vm.CCS.applicant.spendTimeOutside == 'Yes' || vm.CCS.applicant.spendTimeOutside == 'No' || vm.CCS.applicant.workDuties == 'Yes' || vm.CCS.applicant.workDuties == 'No'">
	            <div class="col-sm-6 col-12" ng-if="vm.CCS.applicant.spendTimeOutside == 'Yes' || vm.CCS.applicant.spendTimeOutside == 'No'">
	                <label class="control-label"> <strong>Do you spend more than 20% of your working time outside of an office environment?  </strong></label>
	               <label class="control-label">{{vm.CCS.applicant.spendTimeOutside}}</label>
	              </div>
	            <div class="col-sm-6 col-12" ng-if="vm.CCS.applicant.workDuties == 'Yes' || vm.CCS.applicant.workDuties == 'No'">
	                <label class="control-label"> <strong>Do you work in a hazardous environment and/or perform any duties of a manual nature?</strong></label>
	               <label class="control-label">{{vm.CCS.applicant.workDuties}}</label>
	              </div>
	            </div>
	             <hr ng-if="vm.CCS.applicant.spendTimeOutside == 'Yes' || vm.CCS.applicant.spendTimeOutside == 'No' || vm.CCS.applicant.workDuties == 'Yes' || vm.CCS.applicant.workDuties == 'No'" class="primeline d-none d-sm-block">

	             <!-- Row ends -->

	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>Annual salary</strong></label>
	              <label class="control-label">{{vm.CCS.applicant.annualSalary | currency:undefined:0}}</label>
	            </div>
	           </div>
	            <!-- Row ends -->

	          </div>
	        </div>
	        </div>
	      </div>
	      <div class="card border-0 mt-2">
	        <div class="card-header" data-toggle="collapse" href="#collapseCover">  <!-- <a href="#" class="linkright"> Edit </a> -->
	           <a class="card-title">
	            <h4 class="mb-0 float-left"> Your cover</h4>
	            </a>
	        </div>
	        <div class="overflow-hidden">
	        	
           	<div class="card-body" id="collapseCover" class="collapse in">
       		 <div class="p-0 pt-2 parent-flex-container">
         	   <div class="col-12 col-sm-4 child-flex-box card-border-right p-0">
           		<div class="box coverbg text-center">
                <h5 class="mb0">cover type</h5>
                <strong>Death<br><span class="d-none d-sm-block d-md-none"><br></span> &nbsp;
				</strong>
              </div>
              <div class="box mt-2 text-center">
                <h5 class=" color2">Existing cover</h5>
                <p class="color3">{{vm.CCS.applicant.cover[0].existingCoverAmount| currency:undefined:0}} </p>
                <h5 class=" color2">New cover</h5>
                <p class="color3">{{vm.CCS.applicant.cover[0].additionalCoverAmount | currency:undefined:0}}</p>
                <h5 class=" color2">Occupational category </h5>
                <p class="color3">{{vm.CCS.applicant.cover[0].occupationRating}}</p>
                <h5 class=" color2">{{vm.CCS.applicant.cover[0].frequencyCostType}} cost</h5>
                <p class="color3">{{vm.CCS.applicant.cover[0].cost | currency}}</p>
              </div>
              <p class="spacer">&nbsp;</p>
             </div>
            <!-- Death Cover Details Ends-->

            <p class="spacer d-block d-sm-none">&nbsp;</p>

           <!-- TPD Cover Details Starts-->
          <div class="col-12 col-sm-4 child-flex-box card-border-right p-0">
            <div class="box coverbg text-center">
              <h5 class="mb0">cover type</h5>
              <strong>Total &amp; permanent<br> disablement<span class="d-none d-sm-block d-md-none"><br></span> &nbsp;
			  </strong>
            </div>
            <div class="box mt-2 text-center">
              <h5 class=" color2">Existing cover</h5>
              <p class="color3">{{vm.CCS.applicant.cover[1].existingCoverAmount | currency:undefined:0}}</p>
              <h5 class=" color2">New cover</h5>
              <p class="color3">{{vm.CCS.applicant.cover[1].additionalCoverAmount| currency:undefined:0}}</p>
              <h5 class=" color2">Occupational category </h5>
              <p class="color3">{{vm.CCS.applicant.cover[1].occupationRating}}</p>
              <h5 class=" color2">{{vm.CCS.applicant.cover[1].frequencyCostType}} cost</h5>
              <p class="color3">{{vm.CCS.applicant.cover[1].cost | currency}}</p>
            </div>
            <p class="spacer">&nbsp;</p>
          </div>
          <!-- TPD Cover Details Ends-->
          <p class="spacer d-block d-sm-none">&nbsp;</p>
	             <!-- IP Cover Details Starts-->
           <div class="col-12 col-sm-4 child-flex-box p-0">
              <div class="box coverbg text-center">
                <h5 class="mb0">cover type</h5>
                <strong>Income <br> protection<span class="d-none d-sm-block d-md-none"><br></span>
		        </strong>
              </div>
              <div class="box mt-2 text-center">
                <h5 class=" color2">Existing cover</h5>
                <p class="color3">{{vm.CCS.applicant.cover[2].existingCoverAmount | currency:undefined:0}}</p>
                <h5 class=" color2">New cover</h5>
                <p class="color3">{{vm.CCS.applicant.cover[2].additionalCoverAmount | currency:undefined:0}}</p>
                 <h5 class=" color2">Occupational category </h5>
                <p class="color3">{{vm.CCS.applicant.cover[2].occupationRating}}</p>
                <h5 class=" color2">Waiting period</h5>
                <p class="color3">{{vm.CCS.applicant.cover[2].additionalIpWaitingPeriod}}</p>
                <h5 class=" color2">Benefit period</h5>
                <p class="color3">{{vm.CCS.applicant.cover[2].additionalIpBenefitPeriod}}</p>
                <h5 class=" color2">{{vm.CCS.applicant.cover[2].frequencyCostType}} cost</h5>
                <p class="color3">{{vm.CCS.applicant.cover[2].cost | currency}}</p>
              </div>
              <p class="spacer">&nbsp;</p>
	          </div>
	          <!-- IP Cover Details Ends-->
	        </div>
	        <div>
             <div class="row	mt0	coverbg seccolor">
            <div class="col-sm-9 col-6">
             <h5>Total {{vm.CCS.applicant.cover[0].frequencyCostType}} cost</h5>
           </div>
            <div class="col-sm-3 col-6 alignright">
             <h4 class="coverval">{{vm.CCS.totalMonthlyPremium | currency}}</h4>
           </div>
            </div>
         	  <p class=" note text-center clearfix color2 mt15 mb10" > The final amount and cost of your total insurance coverage will be notified in writing by MTAA Super</p>
       </div>

	            <!-- <div>
		           <div class="row	mt-1	coverbg seccolor">
           				 <div class="col-sm-9 col-6">
		              <h5 class="coverval ng-binding">&nbsp;Total {{vm.CCS.applicant.cover[2].frequencyCostType}} cost</h5>
		            </div>
		            <div class="col-sm-3 col-6 alignright">
		              <h4 class="coverval">{{vm.CCS.totalMonthlyPremium | currency}}&nbsp;</h4>
		            </div>
	              </div>
	           	  <p class=" note text-center clearfix color2 mt-3" > The final amount and cost of your total insurance coverage will be notified in writing by MTAA Super</p>
		        </div> -->
	            </div>
	          </div>
	    <hr class="primeline">

        <div class=" secrow1 " ng-if="vm.auraDetails.specialTerm == true && vm.auraDetails.overallDecision == 'ACC' && ((vm.auraDetails.deathLoading != null && vm.auraDetails.deathLoading != '0.0') || (vm.auraDetails.tpdLoading != null && vm.auraDetails.tpdLoading != 0.0) || (vm.auraDetails.ipLoading != null && vm.auraDetails.ipLoading != 0.0))">
         <div class="lwt"></div>
         <div class="rwt"></div>
          <div class="panel panel-default nobg secrow">
	        <div class="col-sm-12 bgwhite">
			 <!-- Row starts -->
            <div class="row rowcustom">
              <div class="col-sm-12">
			     <div class="row rowcustom ">
                  <div class="col-sm-12">
                    <p> Loadings</p>
                   </div>
                  </div>
		           <!-- Row ends -->
		           <hr class="primeline">
		             <div class="row rowcustom ">
		               <div class="col-sm-12">
		                 <div data-toggle="buttons" class=" btn-group-vertical">
		                  <div class="row rowcustom" >
		                    <div class="col-sm-12" ng-if="vm.auraDetails.deathLoading != null && vm.auraDetails.deathLoading != 0.0">
		                      <h6>Death</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;">
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to
		                         a loading of {{vm.auraDetails.deathLoading}}%, an additional premium in the amount of {{vm.CCS.applicant.cover[0].policyFee | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="vm.auraDetails.tpdLoading != null && vm.auraDetails.tpdLoading != 0.0">
		                      <h6>TPD</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;">
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to
		                         a loading of {{vm.auraDetails.tpdLoading}}%, an additional premium in the amount of {{vm.CCS.applicant.cover[1].policyFee | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="vm.auraDetails.ipLoading != null && vm.auraDetails.ipLoading != 0.0">
		                      <h6>Income protection</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;">
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to
		                         a loading of {{vm.auraDetails.ipLoading}}%, an additional premium in the amount of {{vm.CCS.applicant.cover[2].policyFee | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                   </div>
		                 </div>
		                </div>
		             </div>
			   </div>
             </div>
            </div>
         </div>
        </div>
      <div class="secrow1" ng-if="vm.auraDetails.specialTerm == true && vm.auraDetails.overallDecision == 'ACC' && (vm.auraDetails.deathExclusions != null || vm.auraDetails.tpdExclusions != null || vm.auraDetails.ipExclusions != null)">
        <div class="lwt"></div>
        <div class="rwt"></div>
         <div class="panel panel-default nobg">
	        <div class="col-sm-12 bgwhite">
			 <!-- Row starts -->
            <div class="row rowcustom">
              <div class="col-sm-12">
			     <div class="row rowcustom ">
                  <div class="col-sm-12">
                    <p> Exclusions</p>
                   </div>
                  </div>
		           <!-- Row ends -->
	                <hr class="primeline">
		             <div class="row rowcustom ">
		               <div class="col-sm-12">
		                 <div data-toggle="buttons" class=" btn-group-vertical">
		                  <div class="row rowcustom" >
	                    <div class="col-sm-12" ng-if="vm.auraDetails.deathExclusions != null">
		                      <h6>Death</h6>
		                       <!-- <p class= "normal" style="text-align:justify;margin-top:8px;"> {{vm.auraDetails.deathExclusions}} 
		                       </p> -->
		                       <p class= "normal" style="text-align:justify;margin-top:8px;" ng-bind-html="vm.auraDetails.deathExclusions"> 
		                       </p>
		                    </div>
	                    <div class="col-sm-12" ng-if="vm.auraDetails.tpdExclusions != null">
		                      <h6>TPD</h6>
		                       <!-- <p class= "normal" style="text-align:justify;margin-top:8px;"> {{vm.auraDetails.tpdExclusions}}
						       </p> -->
						       <p class= "normal" style="text-align:justify;margin-top:8px;" ng-bind-html="vm.auraDetails.tpdExclusions">
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="vm.auraDetails.ipExclusions != null">
		                      <h6>Income protection</h6>
		                       <!-- <p class= "normal" style="text-align:justify;margin-top:8px;"> {{vm.auraDetails.ipExclusions}}
						       </p> -->
						       <p class= "normal" style="text-align:justify;margin-top:8px;" ng-bind-html="vm.auraDetails.ipExclusions">
						       </p>
		                    </div>
		                   </div>
		                 </div>
	                </div>
		             </div>
			   </div>
             </div>
            </div>
         </div>
		</div>
		<div class="col-sm-12 bgwhite " ng-if="vm.auraDetails.specialTerm == true && vm.auraDetails.overallDecision == 'ACC' ">
             <!-- <div class="row rowcustom " ng-class="{'has-error':vm.CCS.LEFlag}" ng-click="vm.checkAckStateLE()">
               <div class="col-sm-12">
                 <div data-toggle="buttons" class="btn-group-vertical">
                  <div class="row rowcustom">
                    <div class="col-sm-12">
                     <label class="btn  checkboxes ack-checkbox-label" id="lodadingExclusionLabel">
                      <input type="checkbox" class=" " id="lodadingExclusionId">
                      <span></span> <div class="custom-checkbox-label">I acknowledge I have read and understood the above exclusion(s) and/or loading(s) which apply to this cover.</div>
                     </label>
                       <p ng-if="vm.CCS.LEFlag" class="error" style="padding-top:5px;">Please tick the box to acknowledge the exclusion(s) and/or loading(s) before proceeding with your application.</p>
                    </div>
                   </div>
                 </div>
                </div>
             </div> -->
             
             <div class="row rowcustom" ng-class="{'has-error':vm.CCS.LEFlag}">
	              	<p class="spacer">&nbsp;</p>
	              	<div class="btn-group-vertical">
	              		<button class="btn checkboxes col-12" id="lodadingExclusionLabel" ng-class="{'active': vm.lodadingExclusion}" ng-click="vm.lodadingExclusion=!vm.lodadingExclusion;vm.checkAckStateLE()">
                    		<input type="checkbox" name="ackCheck" ng-model="vm.lodadingExclusion" required>
                    		<span></span>
                    		<div class="custom-checkbox-label">I acknowledge I have read and understood the above exclusion(s) and/or loading(s) which apply to this cover.</div>
                    	</button>
                    	<p ng-if="vm.CCS.LEFlag" class="error" style="padding-top:5px;">Please tick the box to acknowledge the exclusion(s) and/or loading(s) before proceeding with your application.</p>
                  </div>
                </div>
                
            </div>
            <!-- <div  ng-if="vm.auraDetails.specialTerm == true">
             <div class="row	mt0	coverbg seccolor">
            <div class="col-sm-9 col-6">
             <h5>Total {{vm.CCS.applicant.cover[0].frequencyCostType}} cost</h5>
           </div>
            <div class="col-sm-3 col-6 alignright">
             <h4 class="coverval">{{vm.CCS.totalMonthlyPremium | currency}}</h4>
           </div>
            </div>
         	  <p class=" note text-center clearfix color2 mt15 mb10" > The final amount and cost of your total insurance coverage will be notified in writing by MTAA Super</p>
       </div> -->
	        </div>
          </div>
          
          
          <div class="card border-0 mt-2 no-background">
        <div class="card-header" data-toggle="collapse" href="#collapse4">
          <a class="card-title">
           <h4 class="mb-0 float-left"> Terms &amp; conditions </h4>
          </a>
        </div>
         <div class="overflow-hidden">
		        <div id="collapse4" class="collapse in">
		          <div class="card-body"> 
          <div class="col-sm-12 bgwhite">
             <div class="row rowcustom ">
             		<div class="col-sm-12">
							<div class="scrollBox">
							
							<p > <strong>You must read and acknowledge the General
								Consent before proceeding</strong></p>
							<p>
								<strong>General consent</strong>
							</p>
							<p align="justify">By clicking on the tick box below, I declare that:</p>
							<ul>
		               			<li>I have read and understand my Duty of Disclosure and the consequences of failing to comply with this Duty. I understand that this Duty applies until formal notification of acceptance of my application. </li>
		               			<li>The answers to the questions in this application are true and correct, and I have not deliberately withheld any information material to the proposed insurance. </li>
		               			<li> I agree to be bound by the terms and conditions attached to this cover as set out in the Insurance Policy Document between MTAA Super and the Insurer, MetLife Insurance Limited ("MetLife"). </li>
		               			<li> I have read the MTAA Super privacy policy available at <a href="https://mtaasuper.com.au/privacy-policy" class="" target="_new"> www.mtaasuper.com.au/privacy-statement.</a> and the <a href="http://www.metlife.com.au/privacy/index.html" class="" target="_new"> MetLife Privacy Policy </a>
		               			 and I consent to the collection, use and disclosure of my personal (including sensitive) information in accordance with the terms of these documents;</li>
		               			 <li>I consent to MetLife seeking medical information from any doctor who at any time I have consulted prior to the date hereof.</li>
		               			 <li>I understand that my insurance cover will not become effective until MetLife has accepted this application in writing and provided my member account has adequate funds to meet the premium payable. I understand that increases or changes to insurance premiums may apply. </li>
		               			 <li>I have read the insurance section of the current MTAA Super Member Guide (Product Disclosure Statement) relevant to my Division, including the Member Guide Supplement: Insurance. </li>
		               			 <li>I authorise any hospital, physician or other person who has attended me to furnish MetLife or its representatives, any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records.</li>
		               			 <li>I understand that if I have any un-finalised requests for Transfer of Cover or Life Event Increase, these cover amounts will not be incorporated to the Total Cover amounts applied for under this application. </li>
		           			</ul>
						</div>
						</div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
              <!-- <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':vm.WRGCackFlag}" ng-click="vm.checkAckStateGCWR()">
                     <div class="col-sm-12">
                      <button class="btn  checkboxes ack-checkbox-label" ng-class="{'active': vm.UCS.ackCheck}" id="generalConsentLabelWR">
                       <input type="checkbox" ng-model = "vm.UCS.ackCheck" class=" " id="option2">
                       <span></span> <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above </div> 
                      </button>
                      <p ng-if="vm.WRGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
                     </div>
                    </div>
                  </div>
                 </div>
              </div> -->
              
              <div class="row rowcustom" ng-class="{'has-error':vm.CCGCackFlag}">
	              	<p class="spacer">&nbsp;</p>
	              	<div class="btn-group-vertical">
	              		<button class="btn checkboxes col-12" id="generalConsentLabel" ng-class="{'active': vm.CCS.ackCheck}" ng-click="vm.CCS.ackCheck=!vm.CCS.ackCheck;vm.checkAckStateGC()">
                    		<input type="checkbox" name="ackCheck" ng-model="vm.CCS.ackCheck" required>
                    		<span></span>
                    		<div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above</div>
                    	</button>
                    	<p ng-if="vm.CCGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
                  </div>
                </div>
            
            <hr class="primeline">
            <div class=" row rowcustom">
               <div class="col-sm-3 col-12">
		        <!-- <a class="" href="" data-parent="#accordion" data-toggle="collapse"> -->
	             <button  class="btn btn-primary w100p" type="button" ng-if="!vm.CCS.auraDisabled" ng-click="vm.go('/aura')">Previous</button>
               <button  class="btn btn-primary w100p" type="button" ng-if="vm.CCS.auraDisabled" ng-click="vm.go('/cover/2')">Previous</button>
	             <!-- <button  class="btn btn-primary w100p" type="button" ng-click="go('/quote')">Previous</button> -->
		        <!-- </a> -->
              </div>
              <p class="spacer d-block d-sm-none">&nbsp;</p>
              <div class="col-sm-3 col-12 alignleft d-none d-sm-block">
                <button type="button" class="btn btn-primary w100p" ng-click="vm.saveSummary()" > Save &amp; exit</button>
              </div>
              <div class="col-sm-3 col-12 text-center   d-block d-sm-none">
                <button type="button" class="btn btn-primary w100p" ng-click="vm.saveSummary()" > Save &amp; exit</button>
              </div>
              <p class="spacer d-block d-sm-none">&nbsp;</p>
              <div class="col-sm-3 col-12">
                <button type="button" class="btn btn-primary w100p" ng-click="vm.navigateToDecision()" >Submit</button>
              </div>
            </div>
         </div>
         </div>
        </div>
        </div>
       </div>
       

    <div class="row mt20">
      <div class=" col-sm-3 fright d-block d-sm-none">
   		<metlife-mtaa-help-block></metlife-mtaa-help-block>
 	  </div>
    </div>
     </div>
  </div>
  <!-- /container -->
<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900',
                    maxDate:'12/31/'+y,
                });
            });
</script>
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script>
