
<div class="menut">
  <div class="container relative">
    <div class=" row bgsec">
      <div class="  c-mt10px clearfix">
        <div class="col-sm-3 hidden-xs ">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="wwrap fleft  hidden-xs ">
            <tbody>
              <tr>
                <td class="fleft"  ><span class="      ico icoSave colorsec     mr5px"></span></td>
                <td class="fleft note"  ><a href="#">Save &amp; Email</a></td>
                <td class="fleft  " >&nbsp;&nbsp; </td>
                <td class="fleft  "><span class="ico  ico icoPrint colorsec  mr5px"></span></td>
                <td class="fleft   note"  ><a href="#">Print</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-3 col-xs-5">
          <div class=" visible-xs clearfix  fleft  mb5px">
            <p class="telno  "> <span class="ico icoCall"></span> 1300 265 374 </p>
          </div>
          <p class="hidden-xs"> <strong>Level <span class="red">$20</span></strong> per month </p>
        </div>
        <div class="col-sm-3 col-xs-7">
          <p class="   note fright"> <strong>Quote ID: COLI-999-9999</strong></p>
        </div>
        <div class="col-sm-3 col-xs-12">
          <p class="visible-xs"> <strong>Level <span class="red">$20</span></strong> per month </p>
          <div class="fright note mr10px hidden-xs"> Call 1300 265 374 for help </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="c-header">
  <div class="container">
    <div class="  col-xs-3  "> <img src="static/hesta/images/logo.png" class="img-responsive  c-logo" alt="HESTA SUPER Australia" /> </div>
    <div class="  col-xs-9 hidden-xs  ">
      <div class="logout noborderleft pointer"><a  ng-click="navigateToLandingPage()" >Home</a> </div>
      <div class="logout noborderleft"> <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a> </div>
      <div class="logout"> <a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us" >About us</a> </div>      
    </div>
    <div class="  col-xs-9 visible-xs  ">
      <div class="logout mob"> 
          <a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a> <br>
          <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a> <br>
          <div class="pointer"><a  ng-click="navigateToLandingPage()" >Home</a></div>
      </div>
    
    </div>
  </div>
</div>
<div class="container ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">2 / 2</span> Acknowledge cancellation </div>
    </div>
    <div class="col-xs-3"> <img src="static/hesta/images/bg_blank.png" class=" icoMenuRev  "> <img src="static/hesta/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149</h3> -->
       <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1800 813 327</h3>
      <h3 class="helpNo"> </h3>
    </div>
    
  </div>
    <div class="menu hidden-xs">
      <div class="col-sm-4 cn first pointer" ng-click="go('/quotecancel/2')">
        <h5 style="color:#0066a1">Step 1</h5>
        <div class="txtHolder"><a href="#" class="ui-link"> Personal details</a></div>
        <img src="static/hesta/images/bg_blank.png" class=" right">
      </div>
      <div class="col-sm-4 cnn">
        <h5 style="color:#0066a1;">Step 2</h5>
        <div class="txtHolder"><a href="#" class="ui-link">Acknowledge cancellation</a></div>
        <img src="static/hesta/images/bg_blank.png" class=" left"> 
      </div>
    </div>
   
  <div class=" col-sm-9">
    <div class="panel-group" id=" ">
      <div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href="" class="noarrow">
          <h4 class="panel-title">Acknowledgement</h4>
          </a> 
        </div>
        <div id="collapseOne" class="panel-collapse collapse in   ">
          <div class="panel-body pb0"> 
            <div class="row rowcustom">
             <div class=" col-sm-12">
             <p>By clicking on the tick box below, I declare that: </p>
               <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':ackCancelFlag}">
                     <div class="col-sm-12">
                      <label  class="btn checkboxes" id="ackCancellationLabelId" ng-click="checkAckState()">
                       <input type="checkbox" class=" " id="option2">
                       <span></span>
                       <p align="justify" style="margin-left:30px;">I understand that I am cancelling all my insurance cover with HESTA SUPER and if I wish to apply for cover with HESTA SUPER in the future I will need to go through underwriting. 
                      <!--  <br><label>Are you sure you want to cancel all your Insurance cover with CareSuper?</label></p> -->
                      </label>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            
            <hr class="primeline">
             <div class=" row rowcustom">
              <p class="spacer visible-xs">&nbsp;</p>
               <div class="col-sm-3 col-xs-12">
                <button type="button" class="btn btn-primary w100p" ng-click="cancelConfirmationPopUp()" >Confirm</button>
               </div>
               <div class="col-sm-3 col-xs-12 alignleft hidden-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-click="cancel()" >Cancel</button>
               </div>
               <p class="spacer visible-xs">&nbsp;</p>
               <div class="col-sm-3 col-xs-12 aligncenter   visible-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-click="cancel()">Cancel</button>
               </div>
             </div>
            </div>
           </div>
          </div>
        </div>
      </div>
      
      
      
      
    </div>
     
    
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
          <p class="helpTxt aligncenter">Like to speak to someone?</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3>
          <h3 class="helpNo aligncenter"> 8am&ndash;8pm weekdays</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
 
<div class="c-footer hidden-xs">
  <div class="container">
   <div class="col-sm-2   "> <p class="footertext">&nbsp;  </p> </div>
    <div class="col-sm-7   ">
      <p class="footertext"> CARE Super Pty Ltd (Trustee) ABN 91 006 670 060 AFSL 235226 CARE Super (Fund) ABN 98 172 275 725</p>
    </div>	
    <div class="col-sm-3   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
        <!--  | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> --> 
        </p>
      </div>
    </div>
  </div>
</div>

 
  <div class="container visible-xs">
 
      <div class=" col-xs-12 aligncenter ">
        <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
        <!--  |<a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a>  -->
        </p>
        <p class="footertext"> &copy; CARE Super Pty Ltd (Trustee) ABN 91 006 670 060 AFSL 235226 CARE Super (Fund) ABN 98 172 275 725</p>
      </div>
   <p class="spacer">&nbsp;</p>
  </div>
 

<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script>

