
<div class="c-header">
  <div class="container">
    <div class="  col-sm-3 col-xs-10  ">
     <img src="static/hesta/images/logo.png" class="img-responsive  c-logo" alt="CareSuper Australia" /> </div>
    <div class="  col-xs-9 hidden-xs  ">
      <div class="logout noborderleft pointer"> <a  ng-click="navigateToLandingPage()" >Home</a> </div>
      <div class="logout noborderleft"> <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a> </div>
      <div class="logout"> <a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a> </div>
    </div>
    <div class="  col-xs-9 visible-xs  ">
       <div class="logout mob"> <a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a> <br>
        <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a> <br>
        <div class="pointer"><a  ng-click="navigateToLandingPage()" >Home</a>
       </div>
      </div>
    </div>
  </div>
</div>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
 <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">1 / 2</span> Personal details </div>
    </div>
    <div class="col-xs-3"> <img src="static/hesta/images/bg_blank.png" class=" icoMenuRev  "> <img src="static/hesta/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149</h3> -->
       <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1800 813 327</h3>
      <h3 class="helpNo"> </h3>
    </div>
  </div>
  
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-4 cn first">
        <h5>Step 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="static/hesta/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 cnn">
        <h5>Step 2</h5>
        <div class="txtHolder">Acknowledge cancellation</div>
        <img src="static/hesta/images/bg_blank.png" class=" left"> </div>
    </div>
    
     <!--Contact Details Section starts  -->
    <div class="panel-group" id="accordionContact">
      <div class="panel panel-default">
         <div class="panel-heading"> 
          <a data-toggle="collapse" data-parent="#accordionContact" data-target="#collapseOne" class="     ">
          <h4 class="panel-title"> Contact details</h4>
          </a>
         </div>
        <div id="collapseOne" class="panel-collapse collapse in">
       
         <form name="cancelContactDetailsForm" role="form"  novalidate>
          <div class="panel-body"> 
            
            <!-- Row starts -->
            <div class="row rowcustom first">
              <div class="col-sm-12">
                <label class="control-label"> Please leave your contact details in the event we need to contact you</label>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           
            <div class="row rowcustom " ng-class="{'has-error':(cancelContactDetailsForm.cancelCoverEmail.$invalid && cancelContactDetailsForm.cancelCoverEmail.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverEmail.$error.required)}">
              <div class="col-sm-5">
                <label class="control-label"> Email address </label>
              </div>
              <div class="col-sm-7 col-xs-12">              
                <input class="form-control" maxlength="50" ng-pattern="emailFormatCancel" ng-focus= "checkPreviousMandatoryFieldsFrCancelCover('cancelCoverEmail','cancelContactDetailsForm')" name="cancelCoverEmail" ng-class = "(cancelContactDetailsForm.cancelCoverEmail.$invalid && cancelContactDetailsForm.cancelCoverEmail.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverEmail.$error.required)  ? 'error-border':''" ng-model="email" type="email" placeholder="Enter your email" required>
	            <span ng-if="(cancelContactDetailsForm.cancelCoverEmail.$invalid && cancelContactDetailsForm.cancelCoverEmail.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverEmail.$error.required) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverEmail.$error.pattern)" class="error">Please enter your email address</span>
              </div>
           </div>
            
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error' : (cancelContactDetailsForm.cancelCoverPhoneNo.$error.required && cancelContactDetailsForm.cancelCoverPhoneNo.$touched) ||((cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverPhoneNo.$error.required) ||(cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverPhoneNo.$error.pattern))}" >
              <div class="col-sm-5">
                <label class="control-label"> Preferred contact number </label>
              </div>
              <div class="col-sm-3 col-xs-12">
               <select  class=" form-control" ng-model="preferredContactType" ng-change="changePrefContactType()" ng-options="contactTypeOption for contactTypeOption in contactTypeOptions track by contactTypeOption"></select>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12">	
                 <input class="form-control" id="cancelCoverPhoneNoID" phone-only ng-pattern="phoneNumbrCancel" maxlength="10" onkeyup="return isIntegerFun(this);"  onkeypress="return isIntegerFun(this);" ng-focus="checkPreviousMandatoryFieldsFrCancelCover('cancelCoverPhoneNo','cancelContactDetailsForm')" name="cancelCoverPhoneNo" ng-class = "(cancelContactDetailsForm.cancelCoverPhoneNo.$error.required && cancelContactDetailsForm.cancelCoverPhoneNo.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverPhoneNo.$error.required)  ? 'error-border':''" ng-model="cancelPhone" type="text" placeholder="Enter your Phone No" required>
                <span ng-if="(cancelContactDetailsForm.cancelCoverPhoneNo.$error.required && cancelContactDetailsForm.cancelCoverPhoneNo.$touched) || ((cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverPhoneNo.$error.required) ||(cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverPhoneNo.$error.pattern))"  class="error">Please enter your preferred contact number</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           <div class="row rowcustom" ng-class="{'has-error':(cancelContactDetailsForm.cancelCvrPrefTime.$error.required && cancelContactDetailsForm.cancelCvrPrefTime.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCvrPrefTime.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What time of day do you prefer to be contacted? </label>
                <span id="tick 3" style=" visibility:hidden">
                 <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span>
                </span> 
              </div> 
             <div class="col-sm-12 ">
                <div class="btn-group" >
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Morning (9am - 12pm)')}">
                      <input class="ipradio " ng-click="checkPreviousMandatoryFieldsFrCancelCover('cancelCvrPrefTime','cancelContactDetailsForm')" name="cancelCvrPrefTime" 
                      ng-class = "(cancelContactDetailsForm.cancelCvrPrefTime.$error.required && cancelContactDetailsForm.cancelCvrPrefTime.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCvrPrefTime.$error.required)  ? 'radio-validation':''"
                       ng-model="time" type="radio" value="Morning (9am - 12pm)" required>
                      <span></span> Morning (9am&ndash;12pm) </label>
                  </div>
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Afternoon (12pm - 6pm)')}">
                      <input class='ipradio' ng-click="checkPreviousMandatoryFieldsFrCancelCover('cancelCvrPrefTime','cancelContactDetailsForm')" name="cancelCvrPrefTime"
                       ng-class = "(cancelContactDetailsForm.cancelCvrPrefTime.$error.required && cancelContactDetailsForm.cancelCvrPrefTime.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCvrPrefTime.$error.required)  ? 'radio-validation':''" 
                      ng-model="time" type="radio" value="Afternoon (12pm - 6pm)" required>
                      <span></span> Afternoon (12pm&ndash;6pm) </label>              
                  </div>                 
                </div>
                 <span ng-if="(cancelContactDetailsForm.cancelCvrPrefTime.$error.required && cancelContactDetailsForm.cancelCvrPrefTime.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCvrPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
              </div>
                
           <div class="row   rowcustom " ng-show="!genderFlag" ng-class="{'has-error':(cancelContactDetailsForm.gender.$error.required && cancelContactDetailsForm.gender.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.gender.$error.required )}" >
            
              <div class="col-sm-12"> <hr class="primeline" > 
                <label class="control-label">Gender </label>
              </div>
              <div class="col-sm-12">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn radiobutton" ng-class="{'active': (gender == 'Male')}">
                      <input type="radio" name="gender" class="ipradio"  ng-click="checkPreviousMandatoryFieldsFrCancelCover('gender','cancelContactDetailsForm')"
                   ng-class = "(cancelContactDetailsForm.gender.$error.required && cancelContactDetailsForm.gender.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.gender.$error.required)  ? 'radio-validation':''" 
                  ng-model="gender" value="Male" required>
                      <span></span> Male </label>
                     </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn   radiobutton" ng-class="{'active': (gender == 'Female')}">
                      <input type="radio" name="gender" class="ipradio"  ng-click="checkPreviousMandatoryFieldsFrCancelCover('gender','cancelContactDetailsForm')"
                   ng-class = "(cancelContactDetailsForm.gender.$error.required && cancelContactDetailsForm.gender.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.gender.$error.required)  ? 'radio-validation':''" 
                  ng-model="gender" value="Female" required>
                      <span></span> Female </label>                         
                    </div>
                </div>
                 <span class="error" ng-if="(cancelContactDetailsForm.gender.$error.required && cancelContactDetailsForm.gender.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.gender.$error.required )">Please select gender</span>
              </div>
            </div>  
              
                <!-- <div class="btn-group" data-toggle="buttons" >
                 <div class="col-sm-6 pl0">
                   <label class="btn  radiobutton" ng-repeat="option in prefTimeOptions" ng-click="validate('contactDetFormId')">
                     <input type="radio" name="time" id="{{option.name}}" ng-model="contactTime" class="ipradio" ng-required="true">
                     <span></span> {{option.value}}
                    </label> <span class="error" >Please select</span>
                 </div>
                </div> -->
              
            </div> 
            <!-- Row ends -->
            
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">     
             	<a data-toggle="collapse" data-parent="#accordion"  >
             	<button class="btn btn-primary w100p" ng-click="cancelContactDetailsFormSubmit(cancelContactDetailsForm);" type="button">Continue</button>           
             	</a>
              </div>
             <!--  <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div> -->
            </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Contact Details Section ends -->
      
    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
          <p class="helpTxt aligncenter">Like to speak to someone?</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3>
          <h3 class="helpNo aligncenter"> 8am&ndash;8pm weekdays</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
  
<p class="spacer">&nbsp;</p> 
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-2   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext">HESTA (ABN): 64 971 749 321</p>
    </div>	
    <div class="col-sm-3   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
         <!-- | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> --> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
     <!-- | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> --> </p>
    <p class="footertext"> &copy; CARE Super Pty Ltd (Trustee) ABN 91 006 670 060 AFSL 235226 CARE Super (Fund) ABN 98 172 275 725</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>




<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 

    
 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 

