
<div class="c-header">
  <div class="container">
    <div class="  col-sm-3 col-xs-10  "> <img src="static/hesta/images/logo.png" class="img-responsive  c-logo" alt="CareSuper Australia" /> </div>
    <div class="  col-xs-9 hidden-xs  ">
      <div class="logout noborderleft pointer"> <a ng-click="navigateToLandingPage()" >Home</a> </div>
      <div class="logout noborderleft"> <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a> </div>
      <div class="logout"> <a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a> </div>
    </div>
    <div class="  col-xs-9 visible-xs  ">
      <div class="logout mob"> <a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a> <br>
        <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a> <br>
        <div class="pointer"><a ng-click="navigateToLandingPage()" >Home</a></div>
       </div>
    </div>
  </div>
</div>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
    <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">1 / 3</span> Personal details </div>
    </div>
    <div class="col-xs-3"> <img src="static/hesta/images/bg_blank.png" class=" icoMenuRev  "> <img src="static/hesta/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149</h3> -->
       <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1800 813 327</h3>
      <h3 class="helpNo"> </h3>
    </div>
  </div>
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-3 cn first">
        <h5>Step 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="static/hesta/images/bg_blank.png" class=" right"> </div>

      <div class="col-sm-3 cnn"> <img src="static/hesta/images/bg_blank.png" class=" left">
        <h5>Step 2</h5>
        <div class="txtHolder"> Health &amp; lifestyle</div>
        <img src="static/hesta/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-3 nl">
        <h5>Step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="static/hesta/images/bg_blank.png" class=" left"> </div>
    </div>
       <!--Contact Details Section starts  -->
    <div class="panel-group" id="accordionContact" >
   	<div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse"  data-target="#collapseOne" class="     ">
          <h4 class="panel-title"> Contact details</h4>
          </a> </div>
        <div id="collapseOne" class="panel-collapse collapse in">
        <form name="coverDetailsTransferForm" role="form"  novalidate>
          <div class="panel-body">

            <!-- Row starts -->
            <div class="row rowcustom first">
              <div class="col-sm-12">
                <label class="control-label"> Please leave your contact details in the event we need to contact you</label>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(coverDetailsTransferForm.coverDetailsTransferEmail.$invalid && coverDetailsTransferForm.coverDetailsTransferEmail.$touched) || (coverDetailsTransferForm.$submitted && coverDetailsTransferForm.coverDetailsTransferEmail.$error.required)}">
              <div class="col-sm-5">
                <label class="control-label"> Email address </label>
              </div>
              <div class="col-sm-7 col-xs-12">
                <input class="form-control" ng-pattern="emailFormatTrans" maxlength="50" ng-focus="checkCoverDetailsTransferFormPreviousMandatoryFields('coverDetailsTransferEmail','coverDetailsTransferForm')" name="coverDetailsTransferEmail" ng-class = "(coverDetailsTransferForm.contactEmail.$invalid && coverDetailsTransferForm.contactEmail.$touched) || (coverDetailsTransferForm.$submitted && coverDetailsTransferForm.contactEmail.$error.required)  ? 'error-border':''" ng-model="transferEmail" type="email" placeholder="Enter your email" required />
                <span ng-if="(coverDetailsTransferForm.coverDetailsTransferEmail.$invalid && coverDetailsTransferForm.coverDetailsTransferEmail.$touched) || (coverDetailsTransferForm.$submitted && coverDetailsTransferForm.coverDetailsTransferEmail.$error.required ) ||(coverDetailsTransferForm.$submitted && coverDetailsTransferForm.coverDetailsTransferEmail.$error.pattern)" class="error">Please enter your email address</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">

            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':coverDetailsTransferForm.coverDetailsTransferPhone.$invalid && coverDetailsTransferForm.coverDetailsTransferPhone.$touched || ((coverDetailsTransferForm.$submitted && coverDetailsTransferForm.coverDetailsTransferPhone.$error.required) ||(coverDetailsTransferForm.$submitted && coverDetailsTransferForm.coverDetailsTransferPhone.$error.pattern))}" >  
              <div class="col-sm-5">
                <label class="control-label"> Preferred contact number </label>
              </div>
              <div class="col-sm-3 col-xs-12">
                 <select  class="  form-control" ng-model="preferredContactType" ng-change="changePrefContactType()" ng-options="contactTypeOption for contactTypeOption in contactTypeOptions track by contactTypeOption"></select>
                <!--<select  class="form-control" ng-model="preferredContactTrans" ng-options="preferredContactTransOption for preferredContactTransOption in preferredContactTransOptions track by preferredContactTransOption"></select> -->
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12">
                <input  maxlength="10" id="preferrednumCCTransId"  ng-pattern="phoneNumbrTrans" phone-only class="form-control"  ng-focus="checkCoverDetailsTransferFormPreviousMandatoryFields('coverDetailsTransferPhone','coverDetailsTransferForm')" name="coverDetailsTransferPhone" ng-class = "{'error-border': coverDetailsTransferForm.coverDetailsTransferPhone.$invalid && coverDetailsTransferForm.coverDetailsTransferPhone.$touched || coverDetailsTransferForm.$submitted}" ng-model="transferPhone" type="text" placeholder="Enter your Phone No" required />
                <span ng-if="coverDetailsTransferForm.coverDetailsTransferPhone.$invalid && coverDetailsTransferForm.coverDetailsTransferPhone.$touched || ((coverDetailsTransferForm.$submitted && coverDetailsTransferForm.coverDetailsTransferPhone.$error.required) ||(coverDetailsTransferForm.$submitted && coverDetailsTransferForm.coverDetailsTransferPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">

            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{' has-error':(coverDetailsTransferForm.coverDetailsTransferPrefTime.$error.required && coverDetailsTransferForm.coverDetailsTransferPrefTime.$touched) || (coverDetailsTransferForm.$submitted && coverDetailsTransferForm.coverDetailsTransferPrefTime.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What time of day do you prefer to be contacted? </label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (TransferTime == 'Morning (9am - 12pm)')}">
                      <input class="ipradio" id="prefTimeOptOne" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('coverDetailsTransferPrefTime','coverDetailsTransferForm')" name="coverDetailsTransferPrefTime" 
                      ng-class = "(coverDetailsTransferForm.coverDetailsTransferPrefTime.$error.required && coverDetailsTransferForm.coverDetailsTransferPrefTime.$touched) || (coverDetailsTransferForm.$submitted && coverDetailsTransferForm.coverDetailsTransferPrefTime.$error.required)  ? 'radio-validation':''"
                       ng-model="TransferTime" type="radio" value="Morning (9am - 12pm)" required>
                      <span></span> Morning (9am&ndash;12pm)</label>
                  </div>
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (TransferTime == 'Afternoon (12pm - 6pm)')}">
                      <input class="ipradio" id="prefTimeOptTwo" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('coverDetailsTransferPrefTime','coverDetailsTransferForm')" name="coverDetailsTransferPrefTime"
                       ng-class = "(coverDetailsTransferForm.coverDetailsTransferPrefTime.$error.required && coverDetailsTransferForm.coverDetailsTransferPrefTime.$touched) || (coverDetailsTransferForm.$submitted && coverDetailsTransferForm.coverDetailsTransferPrefTime.$error.required)  ? 'radio-validation':''" 
                      ng-model="TransferTime" type="radio" value="Afternoon (12pm - 6pm)" required>
                      <span></span> Afternoon (12pm&ndash;6pm)</label>                      
                  </div>
                </div>
                <span ng-if="(coverDetailsTransferForm.coverDetailsTransferPrefTime.$error.required && coverDetailsTransferForm.coverDetailsTransferPrefTime.$touched) || (coverDetailsTransferForm.$submitted && coverDetailsTransferForm.coverDetailsTransferPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
              </div>
            </div>
            <!-- Row ends -->

            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">
              <a data-toggle="collapse" data-parent="#accordion"  >
             	<button class="btn btn-primary w100p" ng-click="CoverDetailsTransferFormSubmit(coverDetailsTransferForm);" type="button">Continue</button>           
             	</a>
               </div>
              <!-- <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>  -->
            </div>
          </div>
         </form>
        </div>
      </div>
      <!-- Contact Details Section ends -->
      
            <!-- Occupation section starts -->
      <div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse"  data-target="#collapseTwo" class=" collapsed  ">
          <h4 class="panel-title">Occupation </h4>
          </a> </div>
        <div id="collapseTwo" class="panel-collapse collapse" ng-show="coltwo">
         <form name="occupationDetailsTransferForm"  novalidate role="form">
          <div class="panel-body">

            <!-- Row starts -->
           <div class="row rowcustom" ng-class="{'has-error':(occupationDetailsTransferForm.fifteenHrsTransferQuestion.$error.required && occupationDetailsTransferForm.fifteenHrsTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.fifteenHrsTransferQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Do you work 15 hours or more per week? <a class="icohelp"	ng-click="clickToOpen('To be eligible for income protection cover you must be earning at least $16,000 per year on an ongoing basis or be working 15 hours or more per week.')"></a> </label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (fifteenHrsTransferQuestion == 'Yes')}">
                      <input name="fifteenHrsTransferQuestion" class="ipradio" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('fifteenHrsTransferQuestion','occupationDetailsTransferForm')"
                       ng-class = "(occupationDetailsTransferForm.fifteenHrsTransferQuestion.$error.required && occupationDetailsTransferForm.fifteenHrsTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.fifteenHrsTransferQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="fifteenHrsTransferQuestion" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (fifteenHrsTransferQuestion == 'No')}">
                      <input name="fifteenHrsTransferQuestion" class="ipradio" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('fifteenHrsTransferQuestion','occupationDetailsTransferForm')"
                       ng-class = "(occupationDetailsTransferForm.fifteenHrsTransferQuestion.$error.required && occupationDetailsTransferForm.fifteenHrsTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.fifteenHrsTransferQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="fifteenHrsTransferQuestion" type="radio" value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationDetailsTransferForm.fifteenHrsTransferQuestion.$error.required && occupationDetailsTransferForm.fifteenHrsTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.fifteenHrsTransferQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>  
            <!-- Row ends -->
           <hr class="primeline">   
           
           
            <!-- Row starts -->
           <!-- <div class="row rowcustom" ng-class="{'has-error':(occupationDetailsTransferForm.areyouperCitzTransferQuestion.$error.required && occupationDetailsTransferForm.areyouperCitzTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.areyouperCitzTransferQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">Are you a citizen or permanent resident of Australia?</label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>  </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzTransferQuestion == 'Yes')}">
                      <input name="areyouperCitzTransferQuestion" class="ipradio" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('areyouperCitzTransferQuestion','occupationDetailsTransferForm')"
                       ng-class = "(occupationDetailsTransferForm.areyouperCitzTransferQuestion.$error.required && occupationDetailsTransferForm.areyouperCitzTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.areyouperCitzTransferQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzTransferQuestion" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzTransferQuestion == 'No')}">
                      <input name="areyouperCitzTransferQuestion" class="ipradio" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('areyouperCitzTransferQuestion','occupationDetailsTransferForm')"
                       ng-class = "(occupationDetailsTransferForm.areyouperCitzTransferQuestion.$error.required && occupationDetailsTransferForm.areyouperCitzTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.areyouperCitzTransferQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzTransferQuestion" type="radio" value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationDetailsTransferForm.areyouperCitzTransferQuestion.$error.required && occupationDetailsTransferForm.areyouperCitzTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.areyouperCitzTransferQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>  -->  
            <!-- Row ends -->
            <!-- <hr class="primeline">    -->

            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationDetailsTransferForm.transferIndustry.$error.required && occupationDetailsTransferForm.transferIndustry.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.transferIndustry.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What industry do you work in?</label>
              </div>
              <div class="col-sm-12 ">
                <select  class="selectpicker  form-control" name="transferIndustry" ng-focus="checkCoverDetailsTransferFormPreviousMandatoryFields('transferIndustry','occupationDetailsTransferForm')"  ng-class = "(occupationDetailsTransferForm.transferIndustry.$error.required && occupationDetailsTransferForm.transferIndustry.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.transferIndustry.$error.required)  ? 'error-border':''" ng-model="transferIndustry" ng-change="getOccupations()" required>
                  <option value="">Please select...</option>
                  <option ng-repeat="industryTransfer in IndustryOptions | orderBy :'value' " value="{{industryTransfer.key}}">{{industryTransfer.value}}</option>
                </select>
                <span class="error" ng-if="(occupationDetailsTransferForm.transferIndustry.$error.required && occupationDetailsTransferForm.transferIndustry.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.transferIndustry.$error.required )">Please select the industry type</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">

            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationDetailsTransferForm.occupationTransfer.$error.required && occupationDetailsTransferForm.occupationTransfer.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.occupationTransfer.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What is your current occupation? <a class="icohelp"	ng-click="clickToOpen('Please note that your premiums will not be calculated based on your selection of occupation, but will be based on your salary and the questions related to your occupational activities.')"></a></label>
              </div>
              <div class="col-sm-12 ">
                <select  class="selectpicker  form-control" ng-change="getTransferOccupationCategory()" name="occupationTransfer" ng-focus="checkCoverDetailsTransferFormPreviousMandatoryFields('occupationTransfer','occupationDetailsTransferForm')"  ng-class = "(occupationDetailsTransferForm.occupationTransfer.$error.required && occupationDetailsTransferForm.occupationTransfer.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.occupationTransfer.$error.required)  ? 'error-border':''" ng-model="occupationTransfer" required>
                  <option value="">Please select...</option>
                  <option ng-repeat="occupationTransfer in OccupationList" value="{{occupationTransfer.occupationName}}">{{occupationTransfer.occupationName}}</option>
                </select>
                <span class="error" ng-if="(occupationDetailsTransferForm.occupationTransfer.$error.required && occupationDetailsTransferForm.occupationTransfer.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.occupationTransfer.$error.required )">Select the occupation which best matches your current occupation</span>
              </div>
            </div>
            <!-- Row ends -->
			<!-- Row starts -->
            <div ng-if="occupationTransfer == 'Other'">  
	             <hr class="primeline">
	             <div class="row rowcustom " ng-class="{'has-error':(occupationDetailsTransferForm.transferotherOccupation.$invalid && occupationDetailsTransferForm.transferotherOccupation.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.transferotherOccupation.$error.required)}">
	              <div class="col-sm-5" >
	                <label class="control-label">  Please enter your occupation  </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">	              
	                <input class="form-control" ng-focus="checkPreviousMandatoryFields('transferotherOccupation','occupationDetailsTransferForm')" maxlength="50" name="transferotherOccupation" ng-class = "(occupationDetailsTransferForm.transferotherOccupation.$invalid && occupationDetailsTransferForm.transferotherOccupation.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.transferotherOccupation.$error.required)  ? 'error-border':''" ng-model="otherOccupationObj.transferotherOccupation" type="text" placeholder="Enter your occupation" required>
		            <span ng-if="(occupationDetailsTransferForm.transferotherOccupation.$invalid && occupationDetailsTransferForm.transferotherOccupation.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.transferotherOccupation.$error.required) " class="error">Please enter your occupation</span>
	              </div>
	           	</div>
          	</div> 
            <!-- Row ends -->
            <hr class="primeline">

             <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>  

                 <div class="row rowcustom"  ng-class="{'has-error':(occupationDetailsTransferForm.withinOfficeTransferQuestion.$error.required && occupationDetailsTransferForm.withinOfficeTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.withinOfficeTransferQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify"> Are the duties of your occupation limited to professional, managerial, administrative, clerical, secretarial or similar 'white collar' tasks which do not involve manual work and are undertaken entirely within an office environment (excluding travel time from one office environment to another)? </p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>  --></div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (withinOfficeTransferQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" name="withinOfficeTransferQuestion" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('withinOfficeTransferQuestion','occupationDetailsTransferForm')"
                       ng-class = "(occupationDetailsTransferForm.withinOfficeTransferQuestion.$error.required && occupationDetailsTransferForm.withinOfficeTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.withinOfficeTransferQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="withinOfficeTransferQuestion" ng-change="setCategory()" value="Yes" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (withinOfficeTransferQuestion == 'No')}">
                      <input type="radio" class="ipradio" name="withinOfficeTransferQuestion" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('withinOfficeTransferQuestion','occupationDetailsTransferForm')"
                       ng-class = "(occupationDetailsTransferForm.withinOfficeTransferQuestion.$error.required && occupationDetailsTransferForm.withinOfficeTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.withinOfficeTransferQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="withinOfficeTransferQuestion" ng-change="setCategory()"  value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationDetailsTransferForm.withinOfficeTransferQuestion.$error.required && occupationDetailsTransferForm.withinOfficeTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.withinOfficeTransferQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
                <hr class="primeline">

                  <div class="row rowcustom" ng-class="{'has-error':(occupationDetailsTransferForm.tertiaryTransferQuestion.$error.required && occupationDetailsTransferForm.tertiaryTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.tertiaryTransferQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify"> Do you hold a tertiary qualification or are you a member of a professional institute or registered as a practising member of your profession by a government body?</p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>  --> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (tertiaryTransferQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" name="tertiaryTransferQuestion" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('tertiaryTransferQuestion','occupationDetailsTransferForm')"
                       ng-class = "(occupationDetailsTransferForm.tertiaryTransferQuestion.$error.required && occupationDetailsTransferForm.tertiaryTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.tertiaryTransferQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="tertiaryTransferQuestion" ng-change="setCategory()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (tertiaryTransferQuestion == 'No')}">
                      <input type="radio" class="ipradio" name="tertiaryTransferQuestion" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('tertiaryTransferQuestion','occupationDetailsTransferForm')"
                       ng-class = "(occupationDetailsTransferForm.tertiaryTransferQuestion.$error.required && occupationDetailsTransferForm.tertiaryTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.tertiaryTransferQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="tertiaryTransferQuestion" ng-change="setCategory()" value="No" required>
                      <span></span> No</label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationDetailsTransferForm.tertiaryTransferQuestion.$error.required && occupationDetailsTransferForm.tertiaryTransferQuestion.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.tertiaryTransferQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
              <hr class="primeline">
               <div class="row rowcustom" ng-class="{'has-error':(occupationDetailsTransferForm.managementTransferRole.$error.required && occupationDetailsTransferForm.managementTransferRole.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.managementTransferRole.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Are you in a management role?  </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>  --> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (managementTransferRole == 'Yes')}">
                      <input type="radio" class="ipradio" name="managementTransferRole" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('managementTransferRole','occupationDetailsTransferForm')"
                       ng-class = "(occupationDetailsTransferForm.managementTransferRole.$error.required && occupationDetailsTransferForm.managementTransferRole.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.managementTransferRole.$error.required)  ? 'radio-validation':''" 
                      ng-model="managementTransferRole" ng-change="setCategory()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (managementTransferRole == 'No')}">
                      <input type="radio" class="ipradio" name="managementTransferRole" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('managementTransferRole','occupationDetailsTransferForm')"
                       ng-class = "(occupationDetailsTransferForm.managementTransferRole.$error.required && occupationDetailsTransferForm.managementTransferRole.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.managementTransferRole.$error.required)  ? 'radio-validation':''" 
                      ng-model="managementTransferRole" ng-change="setCategory()" value="No" required>
                      <span></span> No</label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationDetailsTransferForm.managementTransferRole.$error.required && occupationDetailsTransferForm.managementTransferRole.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.managementTransferRole.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            
           </div>  
           
          <div class="row   rowcustom " ng-show="!genderFlag" ng-class="{'has-error':(occupationDetailsTransferForm.gender.$error.required && occupationDetailsTransferForm.gender.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.gender.$error.required )}" >
            <hr class="primeline"> 
              <div class="col-sm-12">
                <label class="control-label"> Gender </label>
              </div>
              <div class="col-sm-12">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn radiobutton" ng-class="{'active': (gender == 'Male')}">
                      <input type="radio" name="gender" class="ipradio"  ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('gender','occupationDetailsTransferForm')"
                   ng-class = "(occupationDetailsTransferForm.gender.$error.required && occupationDetailsTransferForm.gender.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.gender.$error.required)  ? 'radio-validation':''" 
                  ng-model="gender" value="Male" required>
                      <span></span> Male </label>
                     </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn   radiobutton" ng-class="{'active': (gender == 'Female')}">
                      <input type="radio" name="gender" class="ipradio"  ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('gender','occupationDetailsTransferForm')"
                   ng-class = "(occupationDetailsTransferForm.gender.$error.required && occupationDetailsTransferForm.gender.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.gender.$error.required)  ? 'radio-validation':''" 
                  ng-model="gender" value="Female" required>
                      <span></span> Female </label>                         
                    </div>
                </div>
                 <span class="error" ng-if="(occupationDetailsTransferForm.gender.$error.required && occupationDetailsTransferForm.gender.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.gender.$error.required )">Please select gender</span>
              </div>
            </div>
           
            <hr class="primeline">
            <div class="row  rowcustom " ng-class="{'has-error':(occupationDetailsTransferForm.annualTransferSalary.$error.required && occupationDetailsTransferForm.annualTransferSalary.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.annualTransferSalary.$error.required ) || invalidSalAmount}">
              <div class="col-sm-4 col-xs-12">
                <label class="control-label"> What is your annual salary? <a class="icohelp"	ng-click="clickToOpen('Insert gross salary (including overtime, commissions, bonuses and shift allowances, but excluding employer contributions).')"></a> </label>
                <!-- <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
               <p class="spacer visible-xs">&nbsp; </p>
              <div class="col-sm-3 col-xs-12">
                <input type="text" id="transferAnnualSal" format="number" onkeyup="return isNumeric('transferAnnualSal');" onkeypress="return isNumeric('transferAnnualSal');" maxlength="9" name="annualTransferSalary" class="form-control dollar" ng-focus="checkCoverDetailsTransferFormPreviousMandatoryFields('annualTransferSalary','occupationDetailsTransferForm')"  ng-class = "(occupationDetailsTransferForm.annualTransferSalary.$error.required && occupationDetailsTransferForm.annualTransferSalary.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.annualTransferSalary.$error.required)  ? 'error-border':''" ng-model="annualTransferSalary" ng-change="checkValidSalary()" required>
                <span class="error" ng-if="(occupationDetailsTransferForm.annualTransferSalary.$error.required && occupationDetailsTransferForm.annualTransferSalary.$touched) || (occupationDetailsTransferForm.$submitted && occupationDetailsTransferForm.annualTransferSalary.$error.required )">Please enter your annual Salary</span>
                <span class="error" ng-if="invalidSalAmount">Please enter a valid annual salary</span>
              </div>
            </div>
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">
               <a data-toggle="collapse" data-parent="#accordion"> 
               <button  class="btn btn-primary w100p" type="button" ng-click="CoverDetailsTransferFormSubmit(occupationDetailsTransferForm);">Continue</button></a>
              </div>
              <!-- <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div> -->
            </div>
          </div>
          <!-- Row ends -->
          </form>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse"  data-target="#collapseThree" class=" collapsed ">
          <h4 class="panel-title"> Previous cover</h4>
          </a> </div>
        <div id="collapseThree" ng-show="colthree" class="panel-collapse collapse">
        <form name="previousCoverForm" novalidate role="form">
          <div class="panel-body">
            <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label"> We just need a few  extra details  about you and your previous fund or insurer. </label>
              </div>
            </div>
            <!--<hr class="primeline">


             <div class="row   rowcustom " ng-class="{'has-error':(previousCoverForm.gender.$error.required && previousCoverForm.gender.$touched) || (previousCoverForm.$submitted && previousCoverForm.gender.$error.required )}" >
                  <div class="col-sm-5">
                    <label class="control-label"> Gender </label>
                  </div>
                  <div class="col-sm-7">
                    <div class="btn-group">
                      <div class="col2">
                        <label class="btn radiobutton" ng-class="{'active': (gender == 'Male')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('gender','previousCoverForm')"
                       ng-class = "(previousCoverForm.gender.$error.required && previousCoverForm.gender.$touched) || (previousCoverForm.$submitted && previousCoverForm.gender.$error.required)  ? 'radio-validation':''" 
                      ng-model="gender" value="Male" required>
                          <span></span> Male </label>
                         </div>
                      <div class="col2">
                        <label class="btn   radiobutton" ng-class="{'active': (gender == 'Female')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('gender','previousCoverForm')"
                       ng-class = "(previousCoverForm.gender.$error.required && previousCoverForm.gender.$touched) || (previousCoverForm.$submitted && previousCoverForm.gender.$error.required)  ? 'radio-validation':''" 
                      ng-model="gender" value="Female" required>
                          <span></span> Female </label>                         
                        </div>
                    </div>
                     <span class="error" ng-if="(previousCoverForm.gender.$error.required && previousCoverForm.gender.$touched) || (previousCoverForm.$submitted && previousCoverForm.gender.$error.required )">Please select gender</span>
                  </div>
                </div>




               <hr class="primeline">  -->
            <div class="row rowcustom" ng-class="{'has-error':(previousCoverForm.previousFundName.$error.required && previousCoverForm.previousFundName.$touched) || (previousCoverForm.$submitted && previousCoverForm.previousFundName.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What is the name of your previous fund or insurer? <a class="icohelp"	ng-click="clickToOpen('The previous fund or insurer must be linked to a superannuation fund.')"></a></label>

              </div>
              <div class="col-sm-12 ">
                <input type="text" class="form-control" name="previousFundName" alpha-numeric-with-space ng-focus="checkCoverDetailsTransferFormPreviousMandatoryFields('previousFundName','previousCoverForm')"  ng-class = "(previousCoverForm.previousFundName.$error.required && previousCoverForm.previousFundName.$touched) || (previousCoverForm.$submitted && previousCoverForm.previousFundName.$error.required)  ? 'error-border':''" ng-model="previousFundName" required >
                <span class="error" ng-if="(previousCoverForm.previousFundName.$error.required && previousCoverForm.previousFundName.$touched) || (previousCoverForm.$submitted && previousCoverForm.previousFundName.$error.required )">Please enter your Previous Fund Name</span>
              </div>
            </div>



            <hr class=" primeline">
            <div class="row rowcustom" ng-class="{'has-error':(previousCoverForm.membershipNumber.$error.required && previousCoverForm.membershipNumber.$touched) || (previousCoverForm.$submitted && previousCoverForm.membershipNumber.$error.required )}">
              <div class="col-sm-5">
                <label class="control-label"> Please enter your fund member or insurance policy number <a class="icohelp"	ng-click="clickToOpen('The fund member or insurance policy number must be linked to a superannuation fund.')"></a></label>
              </div>
              <div class="col-sm-7 ">
                <input type="text" class="form-control" alpha-numeric name="membershipNumber" ng-focus="checkCoverDetailsTransferFormPreviousMandatoryFields('membershipNumber','previousCoverForm')"  ng-class = "(previousCoverForm.membershipNumber.$error.required && previousCoverForm.membershipNumber.$touched) || (previousCoverForm.$submitted && previousCoverForm.membershipNumber.$error.required)  ? 'error-border':''" ng-model="membershipNumber" required >
                <span class="error" ng-if="(previousCoverForm.membershipNumber.$error.required && previousCoverForm.membershipNumber.$touched) || (previousCoverForm.$submitted && previousCoverForm.membershipNumber.$error.required )">Please enter Membership Number</span>
              </div>
            </div>
            
            

             <hr class=" primeline">
            <div class="row rowcustom">
              <div class="col-sm-5">
                <label class="control-label">  Please enter your former fund USI number (if known)  <a class="icohelp"	ng-click="clickToOpen('Please enter the Unique Superannuation Identifier (USI) which helps us to identify your previous superannuation fund.')"></a></label>
              </div>
              <div class="col-sm-7 ">
                <input type="text"  class="form-control" name='spinNumber' alpha-numeric  ng-focus="checkCoverDetailsTransferFormPreviousMandatoryFields('spinNumber','previousCoverForm')"  ng-model="spinNumber" >
                <!-- <span class="error" ng-if="(previousCoverForm.spinNumber.$error.required && previousCoverForm.spinNumber.$touched) || (previousCoverForm.$submitted && previousCoverForm.spinNumber.$error.required )">Please enter Fund USI number</span>  -->
              </div>

            </div>


            <hr class=" primeline">
            <div class="row rowcustom" ng-class="{'has-error':(previousCoverForm.documentName.$error.required && previousCoverForm.documentName.$touched) || (previousCoverForm.$submitted && previousCoverForm.documentName.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Do you wish to include documentary evidence of your previous insurance cover that you wish to transfer? </label>
                <p class="note color2">Document need to be uploaded</p>
                  </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0 col-xs-12">
                    <label class="btn  radiobutton" ng-class="{'active': (documentName == 'Yes')}">
                      <input type="radio" class="ipradio"  name="documentName" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('documentName','previousCoverForm')"
                       ng-class = "(previousCoverForm.documentName.$error.required && previousCoverForm.documentName.$touched) || (previousCoverForm.$submitted && previousCoverForm.documentName.$error.required)  ? 'radio-validation':''" 
                      ng-model="documentName" value="Yes" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-sm-3 col-xs-12 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (documentName == 'No')}">
                      <input type="radio" class="ipradio" name="documentName" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('documentName','previousCoverForm')"
                       ng-class = "(previousCoverForm.documentName.$error.required && previousCoverForm.documentName.$touched) || (previousCoverForm.$submitted && previousCoverForm.documentName.$error.required)  ? 'radio-validation':''" 
                      ng-model="documentName" value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(previousCoverForm.documentName.$error.required && previousCoverForm.documentName.$touched) || (previousCoverForm.$submitted && previousCoverForm.documentName.$error.required )">Please select Yes or No</span>
              </div>
            </div>

             <div class="" id="death" style="display:block" ng-if="documentName =='Yes'">
              <!-- <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
                <div class="row  rowcustom   ">
                  <div class="col-sm-4">
                    <label class="control-label primecolor"> <a href="#"><strong>Attach your file(s) </strong></a></label>
                    <input type="file" id="file" name="file"/> <p class="spacer">&nbsp;</p>
        			<input type="button" ng-click="uploadFiles()" value="Upload" />                    
                  </div>
                  <div class="col-sm-8  ">
                     <ul class="files">
                        	<li><img src="static/hesta/images/bg_blank.png" class="icoAttach mr10px" /> <a href="#" class="color1">Birth Certificate.jpg</a> <span>(873kb)</span><img src="static/hesta/images/bg_blank.png" class="closeb" />
                            </li>
                        	<li><img src="static/hesta/images/bg_blank.png" class="icoAttach mr10px" />
                            <a href="#" class="color1">Australian Marriage Certificate.jpeg</a> <span>(2.3mb)</span><img src="static/hesta/images/bg_blank.png" class="closeb" />
                            </li> 
                            <input type="file" ng-file-select="onSelectFile($files)" multiple>
                            <li><img src="static/hesta/images/bg_blank.png" class="icoAttach mr10px" /> <a href="#" target="_blank" class="color1">click for more...</a> <span>(873kb)</span><img src="static/hesta/images/bg_blank.png" class="closeb" /></li>	
                            				
                        </ul>
                  </div>
                </div>
              </div>  -->
              
              
              <div class=" secrow " id="transferitrId_div_id">
                <div class=""></div>
                <div class=""></div>
                  <div class="row rowcustom">
                    <div id="attach_file_div_id" class="col-sm-5">
                     <label class="control-label primecolor"><strong> Evidence of your existing cover</strong></label>
                    </div>
                    <div class="col-sm-12">
                    	<label class="control-label">Please include documentary evidence of your existing insurance cover that you wish to transfer, including details of any exclusions or loadings that were applicable. </label>
                    	<br>Examples of documentary evidence include:<br>
                    		<ul style="padding:0 0 0 20px;list-style-type:disc">
                    			<li>Last member statement (within 90 days of it being issued) <br></li>
                    			<li>Current print-out of your online member account <br></li>
                    			<li>Statement from insurer of your individual policy</li>                    			
                    		</ul>
                    		<p>If you have a loading or exclusion applied to your existing insurance cover, in addition we require</p>
                    		<ul style="padding:0 0 0 20px;list-style-type:disc">
                    			<li>A copy of the terms & conditions of your policy that you are transferring, showing the exclusion(s) or loading. <br></li>     			
                    		</ul><br>
                  </div>
                </div>                  
		     	<div class="row  rowcustom">
                  <div class="col-sm-3">
                    <label class="control-label primecolor"><strong>Attach your file(s) </strong></label>
                  </div>
                   <div class="col-sm-4">
                   	<span class="form-control1">
                   		<input id="transfer_input_file_txt_id" ng-model="selectedFile.name" name="transfer_input_file_txt_id" disabled="" size="30" maxlength="200" type="text" name="file" value="{{}}"/>
                   	</span>	  
                   </div>
                   <div class="col-sm-3">
	                   <p class="spacer visible-xs"></p>
	                    <div class="fileUpload fleft">
	                    	 <a id="transferCvrFileUploadAddIdBtn" name="transferCvrFileUploadAddIdBtn" class="btn btn-default w100p" ngf-pattern="'image/*,application/pdf,*.txt,*.doc,*.docx,*.xls,*.xlsx,*.tif'"  ngf-select="uploadFiles($files, $invalidFiles)" ngf-max-height="1000">
	                    		<span >Browse</span>
	                    	</a>  
	                    	<!--<input class="btn btn-default w100p" ng-change="uploadFiles()" text="Browse" type="file" name="file" /> -->
	                    </div>
	                    <p class="spacer visible-xs"></p>                
                   </div>
                   <div class="col-sm-2">
                   	<a id="transferCvrFileUploadAddId" name="transferCvrFileUploadAddId" class="btn btn-primary w100p" ng-click="addFilesToStack()" ng-disabled="!selectedFile">
                   		<span >Add</span>
                   	</a>
                  </div>
                    <div class="row rowcustom" ng-if="fileSizeErrFlag == true">
		  		    <div class="col-sm-12">
	  			      <img src="static/hesta/images/warning.png" >
	                <label class="control-label">  {{fileSizeErrorMsg}} </label>	            
		  		   </div>
		     	</div>
                </div>
		      <div class="row rowcustom">
                <div class="col-sm-3">&nbsp;</div>
                 <div class="col-sm-9">
                  <ul class="files">
                  	 <li ng-repeat="file in files track by $index" >
                  		<img src="static/hesta/images/bg_blank.png" class="icoAttach mr10px" /> 
                  		<a class="color1">{{file.name}}</a> <span>({{(file.size/1024) | number:0}} Kb)</span>
                  		<img src="static/hesta/images/bg_blank.png" class="closeb" ng-click="files.splice($index, 1)" />
                     </li>
                  </ul>
			    </div>
			   </div>
	          <p class="error" style="margin-top:5px;">  Please add the file</p>
	     	</div>
            </div> 
            
             <div class="" style="display:block" ng-if="documentName =='No'">
              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom" ng-class="{'has-error':(previousCoverForm.ackDocument2.$error.required && previousCoverForm.ackDocument2.$touched) || (previousCoverForm.$submitted && previousCoverForm.ackDocument2.$error.required )}">
                  <div class="col-sm-12">
                    <div data-toggle="buttons" class=" btn-group-vertical">
                      <label class="btn  checkboxes p0"  id="acknowledgeDocAdressCheck" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('ackDocument2','previousCoverForm'); ackDocument2= !ackDocument2" >
                        <input type="checkbox" class=" " name="ackDocument2"
						ng-class = "(previousCoverForm.ackDocument2.$error.required && previousCoverForm.ackDocument2.$touched) || (previousCoverForm.$submitted && previousCoverForm.ackDocument2.$error.required)" 
                         ng-value="ackDocument2" required>
                        <span></span>  I acknowledge that my application will not be reviewed until I send the supporting documents to the postal address below <b>:</b> </label>
                        <span class="error" ng-if="(previousCoverForm.ackDocument2.$invalid && previousCoverForm.ackDocument2.$touched) || (previousCoverForm.$submitted && previousCoverForm.ackDocument2.$error.required) " ></span>
                    </div>
                  </div>
                  
                  <div class="row   rowcustom  ">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-11">
                     CareSuper <br>
                     GPO Box 3319<br>Sydney, NSW, 2001<br>Australia</p>
                    
                  </div>
                  
                  
                </div>
              </div>
            </div> 
            
            
            
          </div>  
          
          
          
          <!-- Row ends -->
		  <!-- <hr class=" primeline">
              <div class="row rowcustom" ng-class="{'has-error':(previousCoverForm.tpdClaimTrans.$error.required && previousCoverForm.tpdClaimTrans.$touched) || (previousCoverForm.$submitted && previousCoverForm.tpdClaimTrans.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Have you previously been paid a TPD claim from any source? </label>
                <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (tpdClaimTrans == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="tpdClaimTrans" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('tpdClaimTrans','previousCoverForm')"
                       ng-class = "(previousCoverForm.tpdClaimTrans.$error.required && previousCoverForm.tpdClaimTrans.$touched) || (previousCoverForm.$submitted && previousCoverForm.tpdClaimTrans.$error.required)  ? 'radio-validation':''" 
                      ng-model="tpdClaimTrans" value="Yes" ng-change="toggleSection()" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton  " ng-class="{'active': (tpdClaimTrans == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="tpdClaimTrans" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('tpdClaimTrans','previousCoverForm')"
                       ng-class = "(previousCoverForm.tpdClaimTrans.$error.required && previousCoverForm.tpdClaimTrans.$touched) || (previousCoverForm.$submitted && previousCoverForm.tpdClaimTrans.$error.required)  ? 'radio-validation':''" 
                      ng-model="tpdClaimTrans" value="No" ng-change="toggleSection()" required>
                      <span></span> No</label>                      
                  </div>
                </div>
                <span class="error" ng-if="(previousCoverForm.tpdClaimTrans.$error.required && previousCoverForm.tpdClaimTrans.$touched) || (previousCoverForm.$submitted && previousCoverForm.tpdClaimTrans.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            
              <hr class=" primeline">
              
              <div class="row rowcustom" ng-class="{'has-error':(previousCoverForm.terminalIllnessClaimTrans.$error.required && previousCoverForm.terminalIllnessClaimTrans.$touched) || (previousCoverForm.$submitted && previousCoverForm.terminalIllnessClaimTrans.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Have you previously been paid a terminal illness claim from any source? </label>
                <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (terminalIllnessClaimTrans == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="terminalIllnessClaimTrans" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('terminalIllnessClaimTrans','previousCoverForm')"
                       ng-class = "(previousCoverForm.terminalIllnessClaimTrans.$error.required && previousCoverForm.terminalIllnessClaimTrans.$touched) || (previousCoverForm.$submitted && previousCoverForm.terminalIllnessClaimTrans.$error.required)  ? 'radio-validation':''" 
                      ng-model="terminalIllnessClaimTrans" ng-change="toggleSection()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton  " ng-class="{'active': (terminalIllnessClaimTrans == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="terminalIllnessClaimTrans" ng-click="checkCoverDetailsTransferFormPreviousMandatoryFields('terminalIllnessClaimTrans','previousCoverForm')"
                       ng-class = "(previousCoverForm.terminalIllnessClaimTrans.$error.required && previousCoverForm.terminalIllnessClaimTrans.$touched) || (previousCoverForm.$submitted && previousCoverForm.terminalIllnessClaimTrans.$error.required)  ? 'radio-validation':''" 
                      ng-model="terminalIllnessClaimTrans" ng-change="toggleSection()" value="No" required>
                      <span></span> No</label>                      
                  </div>
                </div>
                <span class="error" ng-if="(previousCoverForm.terminalIllnessClaimTrans.$error.required && previousCoverForm.terminalIllnessClaimTrans.$touched) || (previousCoverForm.$submitted && previousCoverForm.terminalIllnessClaimTrans.$error.required )">Please select Yes or No</span>
              </div>
            </div> -->
           
            <hr class="primeline">
            
            
		  	<!-- <div class="row rowcustom" ng-if="(tpdClaimTrans == 'Yes') || (terminalIllnessClaimTrans == 'Yes')">
		  		<div class="col-sm-12">
		  			<img src="static/hesta/images/warning.png">
	                <label class="control-label"> Member not eligible for Cover </label>	            
		  		</div>
		  	</div> -->
			
          <p class="spacer">&nbsp;</p>


          <div class=" row rowcustom">
            <div class="col-sm-3 col-xs-12">
              <a data-toggle="collapse" data-parent="#accordion">
              <button type="button" class="btn btn-primary w100p" ng-click="CoverDetailsTransferFormSubmit(previousCoverForm);" >Continue </button></a>
            </div>
              <!-- <div class="col-sm-6 alignleft hidden-xs"> <a class="cancellink" href="#"> Cancel</a> </div>
          	  <div class=" col-xs-12 aligncenter   visible-xs"> <a class="cancellink" href="#"> Cancel </a> </div>  -->
          </div>
          <!-- <p class="spacer">&nbsp;</p> -->
          
          </form>
        </div>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse" data-target="#collapseFour" class=" collapsed " >
          <h4 class="panel-title"> Transfer cover </h4>
          </a> </div>
      
        <div id="collapseFour" ng-show="colfour" class="panel-collapse collapse" >
         <form name="TranscoverCalculatorForm" novalidate role="form">
           <div class="panel-body">
            <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label"> Please tell us more about the cover products you want to transfer. </label>
              </div>
            </div>


            <hr class=" primeline">
            <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label"> What cover would you like to transfer?</label>
              </div>
            </div>
            <div class=" btn-group-vertical   heading" data-toggle="buttons"  >
              <div class="row rowcustom"  >
                <div class="col-sm-12 checkboxes1">
                  <label class="checkboxes active">
                    <input type="checkbox" id="option3" class=" ">
                     Death </label>
                </div>
              </div>
            </div>
            <div class="" id="death" style="display:block">
              <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing cover <a class="icohelp"	ng-click="clickToOpen('This is the amount of existing cover you already hold through CareSuper.')"></a></h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover" ng-if="!isEmpty(deathCoverTransDetails.units)">{{deathCoverTransDetails.amount | currency:undefined:0}} ({{deathCoverTransDetails.units}} units)</p>
                  <p class="cover" ng-if="isEmpty(deathCoverTransDetails.units)">{{deathCoverTransDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover" ng-if="!isEmpty(deathCoverTransDetails.units)">{{deathCoverTransDetails.amount | currency:undefined:0}} ({{deathCoverTransDetails.units}} units)</p>
                  <p class="cover" ng-if="isEmpty(deathCoverTransDetails.units)">{{deathCoverTransDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
              </div>
              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>

				<div class="row rowcustom" ng-if="isEmpty(deathCoverTransDetails.units)">
                  <div class="col-sm-4">                    
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                          <div data-toggle="buttons" class="btn-group">
		                      <label class="btn  checkboxes p0" ng-class="{'active': indexation.death}" ng-click="setIndexation($event)">
		                        	<input type="checkbox" class=" " id="indexation-death" ng-model="indexation.death" ng-value="indexation.death">
		                        	<span></span>I would like to index my fixed cover annually by 5% 
		                      </label>
                   	 	  </div>                   	 	                
                      </div>                      
                    </div>
                  </div>
                  <div class="col-sm-2">  
                      	<a class="icohelp"	ng-click="clickToOpen('You can choose to index your fixed Death & TPD cover annually by 5%. This will take effect on 1 July each year.')"></a>
                      </div>
                </div>


                <div class="row  rowcustom " >
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Transfer amount <a class="icohelp"	ng-click="clickToOpen('This is the amount you are transferring from your previous fund. This amount will be added to your existing cover.')"></a></label>
                    <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
                   <p class=" spacer visible-xs">&nbsp;</p>
                        <div class="col-sm-3 col-xs-12">
                    <!-- <input type="text" id="amount2" onclick="visible('tick1')" class="form-control dollar">  -->
                    <input type="text" id="dcTransferAmount" format="number" onkeyup="return isNumeric('dcTransferAmount');" 
                    	onkeypress="return isNumeric('dcTransferAmount');"  name="TransDeathRequireCover" maxlength='10' class="form-control dollar"
                        ng-model="TransDeathRequireCover" ng-change="validateDeathMaxAmount()" >
                       <span class="error" ng-if="(TranscoverCalculatorForm.TransDeathRequireCover.$error.required && TranscoverCalculatorForm.TransDeathRequireCover.$touched) || (TranscoverCalculatorForm.$submitted && TranscoverCalculatorForm.TransDeathRequireCover.$error.required )">Please enter the Transfer amount</span>
                       <!-- <span class="error" ng-if="maxDeathErrorFlag">Your total death cover exceeds eligibility limit, maximum allowed for this product is 2000000. Please re-enter your cover.</span> -->
                       <div class="row rowcustom" ng-if="maxDeathErrorFlag">
					  		<div class="col-sm-12">
					  			<img src="static/hesta/images/warning.png">
				                <label class="control-label">The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</label>	            
					  		</div>
					  	</div>
                    <input type="text" id="nodollar" ng-model="TransDeathRequireCover"  style="display:none"  class="form-control">
                  </div>
                </div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{dcTransCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>Weekly cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{dcTransCost | currency}}</h4>
                  </div>
                </div>
              </div>
            </div>
            <p class="spacer">&nbsp;</p>
            <div class=" btn-group-vertical   heading" data-toggle="buttons"  >
              <div class="row rowcustom"  >
                <div class="col-sm-12 checkboxes1">
                  <label class="checkboxes  active">
                    <input type="checkbox" id="option2" class=" ">
                     Total &amp; permanent disablement </label>
                </div>
              </div>
            </div>
            <div class="" id="tpd" style="display:block">
            <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing cover <a class="icohelp"	ng-click="clickToOpen('This is the amount of existing cover you already hold through CareSuper.')"></a></h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover" ng-if="!isEmpty(tpdCoverTransDetails.units)">{{tpdCoverTransDetails.amount | currency:undefined:0}} ({{tpdCoverTransDetails.units}} units)</p>
                  <p class="cover" ng-if="isEmpty(tpdCoverTransDetails.units)">{{tpdCoverTransDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover" ng-if="!isEmpty(tpdCoverTransDetails.units)">{{tpdCoverTransDetails.amount | currency:undefined:0}} ({{tpdCoverTransDetails.units}} units)</p>
                  <p class="cover" ng-if="isEmpty(tpdCoverTransDetails.units)">{{tpdCoverTransDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
              </div>



              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>

                <!-- <div class="row    ">
                  <div class="col-sm-4">
                    <label class="control-label"> Cover type <a href="h_helpfulhints.html" class="icohelp"></a> </label>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" data-toggle="buttons">
                      <div class="col2"> <a data-toggle="collapse" data-parent="#accordion" href="" class=" " onclick="visible('tick4')">
                        <label class="btn   radiobutton  active   ">
                          <input type="radio" name="options1" id="option1" class="ipradio  ">
                          <span></span> Fixed </label>
                        </a> </div>
                      <div class="col2"> <a data-toggle="collapse" data-parent="#accordion" href=" " class=" " onclick="visible('tick4')">
                        <label class="btn   radiobutton    ">
                          <input type="radio" name="options1" id="option2" class="ipradio">
                          <span></span> Unitised </label>
                        </a> </div>
                    </div>
                  </div>
                </div>  
                <hr class="line"> -->
                
                <div class="row rowcustom" ng-if="isEmpty(tpdCoverTransDetails.units)">
                  <div class="col-sm-4">                    
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                          <div data-toggle="buttons" class="btn-group">
		                      <label class="btn  checkboxes    p0 " ng-class="{'active': indexation.disable}" ng-click="setIndexation($event)">
		                        	<input type="checkbox" class=" " id="indexation-disable" ng-model="indexation.disable" ng-value="indexation.disable">
		                        	<span></span>I would like to index my fixed cover annually by 5% 
		                      </label>
                   	 	  </div>                   	 	                
                      </div>                      
                    </div>
                  </div>
                  <div class="col-sm-2">  
                      	<a class="icohelp"	ng-click="clickToOpen('You can choose to index your fixed Death & TPD cover annually by 5%. This will take effect on 1 July each year.')"></a>
                      </div>
                </div>
                
                <div class="row rowcustom " ng-class="{'has-error':(TranscoverCalculatorForm.$submitted && coverAmtErrFlag) || coverAmtErrFlag}">
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Transfer amount <a class="icohelp"	ng-click="clickToOpen('This is the amount you are transferring from your previous fund. This amount will be added to your existing cover.')"></a></label>
                  </div>
                   <p class="spacer visible-xs">&nbsp; </p>
                  <div class="col-sm-3 col-xs-12">
                    <!-- <input type="text" id="amount3" onclick="visible('tick1')" class="form-control dollar"> -->
                    <input id="tpdTransferAmount" format="number" onkeyup="return isNumeric('tpdTransferAmount');" onkeypress="return isNumeric('tpdTransferAmount');" type="text" name="TransTPDRequireCover" maxlength='10' class="form-control dollar"
                       ng-class = "(TranscoverCalculatorForm.$submitted && coverAmtErrFlag) || coverAmtErrFlag ? 'error-border':''" 
                       ng-model="TransTPDRequireCover" ng-change="validateTpdMaxAmount()" >
                       <span class="error" ng-if="(TranscoverCalculatorForm.TransTPDRequireCover.$error.required && TranscoverCalculatorForm.TransTPDRequireCover.$touched) || (TranscoverCalculatorForm.$submitted && TranscoverCalculatorForm.TransTPDRequireCover.$error.required )">Please enter the Transfer amount</span>
                       <span class="error" ng-if="coverAmtErrFlag">{{coverAmtErrMsg}}</span>
                       <div class="row rowcustom" ng-if="maxTpdErrorFlag">
					  		<div class="col-sm-12">
					  			<img src="static/hesta/images/warning.png">
				                <label class="control-label">The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</label>	            
					  		</div>
					  	</div>
                     <input type="text" id="nodollar1" ng-model="TransTPDRequireCover" style="display:none"  class="form-control    ">
                  </div>
                </div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{tpdTransCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>Weekly cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{tpdTransCost | currency}}</h4>
                  </div>
                </div>
              </div>
            </div>
            <p class="spacer">&nbsp;</p>
            <div class=" btn-group-vertical   heading" data-toggle="buttons"  >
              <div class="row rowcustom"  >
                <div class="col-sm-12 checkboxes1">
                  <label class="checkboxes  active">
                    <input type="checkbox" id="option3" class=" ">
                     Income protection </label>
                </div>
              </div>
            </div>
            <div class="" id="sc" style="display:block">
            <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing cover <a class="icohelp"	ng-click="clickToOpen('This is the amount of existing cover you already hold through CareSuper.')"></a></h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{ipCoverTransDetails.amount | currency:undefined:0}} ({{ipCoverTransDetails.units}} units)</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{ipCoverTransDetails.amount | currency:undefined:0}} ({{ipCoverTransDetails.units}} units)</p>
                </div>
              </div>

               <div class="row rowcustom" ng-hide="ipCoverTransDetails.amount == '0.0'">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing waiting period  </h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{ipCoverTransDetails.waitingPeriod}}</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{ipCoverTransDetails.waitingPeriod}}</p>
                </div>
              </div>

               <div class="row rowcustom" ng-hide="ipCoverTransDetails.amount == '0.0'">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing benefit period  </h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{ipCoverTransDetails.benefitPeriod}}</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{ipCoverTransDetails.benefitPeriod}}</p>
                </div>
              </div>


              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>


                <!-- <div class="row mt20px ">
                  <div class="col-sm-12">
                    <div data-toggle="buttons" class=" btn-group      ">
                      <label class="btn  checkboxes    p0  ">
                        <input type="checkbox" class=" " id="option3">
                        <span></span> Insure 90% of my salary </label>
                    </div>
                  </div>
                </div>  -->
               <hr class="primeline"> 
                <div class="row rowcustom   ">
                  <div class="col-sm-4">
                    <label class="control-label"> Waiting period </label>
                  </div>
                  <div class="col-sm-8  ">
                    <!--  <select  class="selectpicker  form-control">
                      <option>Weekly</option>
                      <option>Monthly</option>
                      <option>Yearly</option>
                    </select> -->
                    <select  class="form-control" ng-change="changeWaitingPeriod()" ng-model="waitingPeriodTransPer" ng-options="waitingPeriodTransOption for waitingPeriodTransOption in waitingPeriodTransOptions track by waitingPeriodTransOption"></select>
                  </div>
                </div>
                <hr class="primeline">
                <div class="row rowcustom   ">
                  <div class="col-sm-4">
                    <label class="control-label"> Benefit period </label>
                  </div>
                  <div class="col-sm-8  ">
                    <!-- <select  class="selectpicker  form-control">
                      <option>Weekly</option>
                      <option>Monthly</option>
                      <option>Yearly</option>
                    </select> -->
                    <select  class="form-control" ng-change="changeBenefitPeriod()" ng-model="benefitPeriodTransPer" ng-options="benefitPeriodTransOption for benefitPeriodTransOption in benefitPeriodTransOptions track by benefitPeriodTransOption"></select>  
                  </div>
                </div>
                <hr class="primeline">
                <div class="row rowcustom " >
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Transfer amount <a class="icohelp"	ng-click="clickToOpen('This is the amount you are transferring from your previous fund. This amount will not be added to your existing cover, but the larger of the two amounts will be retained as your new cover amount.')"></a></label>
                    <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
                   <p class="spacer visible-xs">&nbsp; </p>
                  <div class="col-sm-3 col-xs-12">
                    <!-- <input type="text" id="amount4" onclick="visible('tick1')" class="form-control dollar">  -->
                    <input type="text" id="ipTransferAmount" format="number" onkeyup="return isNumeric('ipTransferAmount');" 
                    	 onkeypress="return isNumeric('ipTransferAmount');" name="TransIPRequireCover" maxlength='10' class="form-control dollar"
                         ng-model="TransIPRequireCover" ng-change="validateIpMaxAmount()" >
                       <span class="error" ng-if="(TranscoverCalculatorForm.TransIPRequireCover.$error.required && TranscoverCalculatorForm.TransIPRequireCover.$touched) || (TranscoverCalculatorForm.$submitted && TranscoverCalculatorForm.TransIPRequireCover.$error.required )" >Please enter required Cover</span>
                       <!-- <span class="error" ng-if="maxIpErrorFlag">Your total death cover exceeds eligibility limit, maximum allowed for this product is 20000. Please re-enter your cover.</span> -->
                       <div class="row rowcustom" ng-if="maxIpErrorFlag">
					  		<div class="col-sm-12">
					  			<img src="static/hesta/images/warning.png">
				                <label class="control-label">The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</label>	            
					  		</div>
					  	</div>
                  </div>
                </div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{ipTransCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>Weekly cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{ipTransCost | currency}}</h4>
                  </div>
                </div>
                
                 <hr class="primeline">
		          <div class="row rowcustom   ">
		            <div class="col-sm-4">
		              <label class="control-label"> Waiting period </label>
		            </div>
		            <div class="col-sm-8  ">
		              <select  class="form-control" disabled ng-model="waitingPeriodTransAddnl" ng-options="waitingPeriodTransOption for waitingPeriodTransOption in waitingPeriodTransAdlnOptions track by waitingPeriodTransOption"></select>
		            </div>
		          </div>
		          <hr class="primeline">
		          <div class="row rowcustom   ">
		            <div class="col-sm-4">
		              <label class="control-label"> Benefit period </label>
		            </div>
		            <div class="col-sm-8  ">
		              <select  class="form-control" disabled ng-model="benefitPeriodTransAddnl" ng-options="benefitPeriodTransOption for benefitPeriodTransOption in benefitPeriodTransAdlnOptions track by benefitPeriodTransOption"></select>  
		            </div>
		          </div>
		          <hr class="primeline">
              </div>
            </div>
          </div>
          <!-- Row ends -->

          <div class="row   coverbg seccolor ">
            <div class="col-sm-3 hidden-xs">
              <h5>&nbsp;</h5>
            </div>
            <div class="col-sm-3 alignright borderright  hidden-xs">
              <h4 class="coverval">&nbsp; </h4>
            </div>
            <div class="col-sm-3 col-xs-6">
              <h5>Weekly cost</h5>
            </div>
            <div class="col-sm-3 col-xs-6 alignright">
              <h4 class="coverval">{{totalTransCost | currency}}</h4>
            </div>
          </div>  
          
          <p class="spacer">&nbsp;</p>
          <div class=" row rowcustom">
	          <div class="col-xs-12">
		          <p class="note">
		          	<strong>Disclaimer:</strong><p style="text-align:left;"> This represents the total cost of the cover you have applied for based on your occupation rating. This amount does not take into account any premium loading which may apply to your existing cover. The final cost of your total insurance cover will be notified to you in writing by CareSuper.</p>
		            <p ng-if="totalTransCost > 0" style="text-align:left;">Insurance cover through CareSuper is provided by MetLife Insurance Limited ABN 75 004 274 882 AFSL No. 238096. When completing your application for insurance, you will be providing MetLife with your personal information including your health information. By clicking the Continue button, you consent to the collection, use and disclosure of your personal information as described in MetLife's Privacy Policy which is available at <a href="https://www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy-policy</a>.
		            </p>
		          </p>
	          </div>
	          
          </div>
          <div class=" row rowcustom" ng-class="{'has-error':transferAckFlag}" ng-click="checkTransferAckState()">
          <div class="col-sm-12" ng-if="totalTransCost > 0">
                <div data-toggle="buttons" class=" btn-group-vertical">
                  <label class="btn wrap checkboxes1" id="transferTermsLabel">
                    <input type="checkbox" class="ng-pristine ng-untouched ng-valid" id="TransferTermsNconditionsCheck" name="ackDocument" value="" required>
                    <span></span>  I agree to all the above terms & conditions </label>
                    
                </div>
              </div>
              </div> 
          <div class=" row rowcustom">
            <div class="col-sm-3 col-xs-12">
              <button type="button" class="btn btn-primary w100p" ng-if="totalTransCost > 0" ng-click="goToAura()">Continue </button>
              <button class="btn btn-primary w100p" ng-click="CoverDetailsTransferFormSubmit(TranscoverCalculatorForm)" ng-if="totalTransCost == 0">Calculate</button>
            </div>
            <!-- <div class="col-sm-3 col-xs-12 hidden-xs">
			    <button type="button" class="btn btn-primary w100p" ng-if="totalTransCost > 0" ng-click="saveQuoteTransfer()">Save &amp; Exit </button>  
            </div>
            <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12 aligncenter visible-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-if="totalTransCost > 0" ng-click="saveQuoteTransfer()"> Save &amp; Exit</button>
              </div> -->
              <p class="col-xs-12 visible-xs">&nbsp;</p>
             <div ng-if="totalTransCost > 0" class="col-sm-3 col-xs-12 hidden-xs"><button type="button" class="btn btn-primary w100p" ng-click="navigateToLandingPage()">Cancel </button></div> 
       		<div  ng-if="totalTransCost > 0" class="col-sm-3 col-xs-12 visible-xs"><button type="button" class="btn btn-primary w100p" ng-click="navigateToLandingPage()">Cancel </button></div> 
          </div>
          <p class="spacer">&nbsp;</p>
          </form>
        </div>
      </div>
    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
          <p class="helpTxt aligncenter">Like to speak to someone?</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3>
          <h3 class="helpNo aligncenter"> 8am&ndash;8pm weekdays</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>
<p class="spacer">&nbsp;</p>


<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-2   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext">HESTA (ABN): 64 971 749 321</p>
    </div>
    <div class="col-sm-3   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
         <!-- | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> --> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
     <!-- | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> --> </p>
    <p class="footertext"> &copy; CARE Super Pty Ltd (Trustee) ABN 91 006 670 060 AFSL 235226 CARE Super (Fund) ABN 98 172 275 725</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>