
<div class="c-header">
  <div class="container">
    <div class="  col-sm-3 col-xs-10  ">
     <img src="static/hesta/images/logo.png" class="img-responsive  c-logo" alt="CareSuper Australia" /> </div>
    <div class="  col-xs-9 hidden-xs  ">
      <div class="logout noborderleft pointer"> <a  ng-click="navigateToLandingPage()" >Home</a> </div>
      <div class="logout noborderleft"> <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a></div>
      <div class="logout"><a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a></div>
    </div>
    <div class="  col-xs-9 visible-xs  ">
      <div class="logout mob"><a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a><br>
        <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a><br>
        <div class="pointer"><a ng-click="navigateToLandingPage()">Home</a></div>
       </div>
    </div>
  </div>
</div>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
 <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">1 / 3</span> Personal details </div>
    </div>
    <div class="col-xs-3"> <img src="static/hesta/images/bg_blank.png" class=" icoMenuRev  "> <img src="static/hesta/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149</h3> -->
       <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1800 813 327</h3>
      <h3 class="helpNo"> </h3>
    </div>
  </div>
  
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-4 cn first">
        <h5>Step 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="static/hesta/images/bg_blank.png" class=" right"> </div>
    
      <div class="col-sm-4 cnn" > <img src="static/hesta/images/bg_blank.png" class=" left">
        <h5>Step 2</h5>
        <div class="txtHolder"> Health &amp; lifestyle</div>
        <img src="static/hesta/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 nl">
        <h5>Step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="static/hesta/images/bg_blank.png" class=" left"> </div>
    </div>
    
     <!--Contact Details Section starts  -->
    <div class="panel-group" id="accordionContact">
      <div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse"  data-target="#collapseOne" class="     ">
          <h4 class="panel-title"> Contact details</h4>
          </a> </div>
        <div id="collapseOne" class="panel-collapse collapse in">
       
         <form name="formOne" role="form"  novalidate>
          <div class="panel-body"> 
            
            <!-- Row starts -->
            <div class="row rowcustom first">
              <div class="col-sm-12">
                <label class="control-label"> Please leave your contact details in the event we need to contact you</label>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           
            <div class="row rowcustom " ng-class="{'has-error':(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required)}">
              <div class="col-sm-5">
                <label class="control-label"> Email address </label>
              </div>
              <div class="col-sm-7 col-xs-12">              
                <input class="form-control" ng-pattern="emailFormat" maxlength="50" ng-focus="checkPreviousMandatoryFields('contactEmail','formOne')" name="contactEmail" ng-class = "(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required)  ? 'error-border':''" ng-model="email" type="email" placeholder="Enter your email" required>
	            <span ng-if="(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required) || (formOne.$submitted && formOne.contactEmail.$error.pattern)" class="error">Please enter your email address</span>
              </div>
           </div>
            
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error' : (formOne.contactPhone.$invalid && formOne.contactPhone.$touched) || ((formOne.$submitted && formOne.contactPhone.$error.required)  ||(formOne.$submitted && formOne.contactPhone.$error.pattern))}" >
              <div class="col-sm-5">
                <label class="control-label"> Preferred contact number </label>
              </div>
              <div class="col-sm-3 col-xs-12">
                <select  class=" form-control" ng-model="preferredContactType" ng-change="changePrefContactType()" ng-options="contactTypeOption for contactTypeOption in contactTypeOptions track by contactTypeOption"></select>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12">	
                <input class="form-control" ng-pattern="phoneNumbr" phone-only id="preferrednumCCId" onkeyup="return isIntegerFun(this);"  onkeypress="return isIntegerFun(this);" maxlength="10" ng-focus="checkPreviousMandatoryFields('contactPhone','formOne')" name="contactPhone" ng-class = "{'error-border': formOne.contactPhone.$invalid && formOne.contactPhone.$touched || formOne.$submitted}" ng-model="changeCvrPhone" type="text" placeholder="Enter your Phone No" required>
                <span ng-if="(formOne.contactPhone.$invalid && formOne.contactPhone.$touched) || ((formOne.$submitted && formOne.contactPhone.$error.required)  ||(formOne.$submitted && formOne.contactPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           <div class="row rowcustom" ng-class="{'has-error':(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What time of day do you prefer to be contacted? </label>
                <span id="tick 3" style=" visibility:hidden">
                 <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span>
                </span> 
              </div> 
             <div class="col-sm-12 ">
                <div class="btn-group" >
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Morning (9am - 12pm)')}">
                      <input class="ipradio " ng-click="checkPreviousMandatoryFields('contactPrefTime','formOne')" name="contactPrefTime" 
                      ng-class = "(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required)  ? 'radio-validation':''"
                       ng-model="time" type="radio" value="Morning (9am - 12pm)" required>
                      <span></span> Morning (9am&ndash;12pm) </label>
                  </div>
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Afternoon (12pm - 6pm)')}">
                      <input class='ipradio' ng-click="checkPreviousMandatoryFields('contactPrefTime','formOne')" name="contactPrefTime"
                       ng-class = "(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required)  ? 'radio-validation':''" 
                      ng-model="time" type="radio" value="Afternoon (12pm - 6pm)" required>
                      <span></span> Afternoon (12pm&ndash;6pm) </label>              
                  </div>                 
                </div>
                 <span ng-if="(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
              </div>  
              
                <!-- <div class="btn-group" data-toggle="buttons" >
                 <div class="col-sm-6 pl0">
                   <label class="btn  radiobutton" ng-repeat="option in prefTimeOptions" ng-click="validate('contactDetFormId')">
                     <input type="radio" name="time" id="{{option.name}}" ng-model="contactTime" class="ipradio" ng-required="true">
                     <span></span> {{option.value}}
                    </label> <span class="error" >Please select</span>
                 </div>
                </div> -->
              
            </div> 
            <!-- Row ends -->
            
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">     
             	<a data-toggle="collapse" data-parent="#accordion"  >
             	<button class="btn btn-primary w100p" ng-click="formOneSubmit(formOne);" type="button">Continue</button>           
             	</a>
              </div>
             <!--  <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div> -->
            </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Contact Details Section ends -->
      
      
      <!-- Occupation section starts -->
      
      <div class="panel panel-default" >
        <div class="panel-heading"> <a data-toggle="collapse"  data-target="#collapseTwo" class=" collapsed  ">
          <h4 class="panel-title">Occupation </h4>
          </a> </div>
        <div id="collapseTwo" class="panel-collapse collapse" ng-show="coltwo">
        
         <form name="occupationForm" id="occupFormId" novalidate role="form">
          <div class="panel-body"> 
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Do you work 15 hours or more per week? <a class="icohelp"	ng-click="showHelp('To be eligible for income protection cover you must be earning at least $16,000 per year on an ongoing basis or be working 15 hours or more per week.')"></a></label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (fifteenHrsQuestion == 'Yes')}">
                      <input type="radio" name="fifteenHrsQuestion "  class="ipradio" ng-click="checkPreviousMandatoryFields('fifteenHrsQuestion','occupationForm')"
                       ng-class = "(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="fifteenHrsQuestion" type="radio" value="Yes" ng-change="checkAnnualSalary()" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (fifteenHrsQuestion == 'No')}">
                      <input type="radio" name="fifteenHrsQuestion"  class="ipradio" ng-click="checkPreviousMandatoryFields('fifteenHrsQuestion','occupationForm')"
                       ng-class = "(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="fifteenHrsQuestion" type="radio" value="No" ng-change="checkAnnualSalary()" required>
                      <span></span> No
                    </label>
                  </div>                  
                </div>
                <span class="error" ng-if="(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           <!-- <div class="row rowcustom" ng-class="{'has-error':(occupationForm.areyouperCitzQuestion.$error.required && occupationForm.areyouperCitzQuestion.$touched) || (occupationForm.$submitted && occupationForm.areyouperCitzQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">Are you a citizen or permanent resident of Australia?</label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>  </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzQuestion == 'Yes')}">
                      <input name="areyouperCitzQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('areyouperCitzQuestion','occupationForm')"
                       ng-class = "(occupationForm.areyouperCitzQuestion.$error.required && occupationForm.areyouperCitzQuestion.$touched) || (occupationForm.$submitted && occupationForm.areyouperCitzQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzQuestion" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzQuestion == 'No')}">
                      <input name="areyouperCitzQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('areyouperCitzQuestion','occupationForm')"
                       ng-class = "(occupationForm.areyouperCitzQuestion.$error.required && occupationForm.areyouperCitzQuestion.$touched) || (occupationForm.$submitted && occupationForm.areyouperCitzQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzQuestion" type="radio" value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.areyouperCitzQuestion.$error.required && occupationForm.areyouperCitzQuestion.$touched) || (occupationForm.$submitted && occupationForm.areyouperCitzQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>   --> 
            <!-- Row ends -->
           <!--  <hr class="primeline">  -->
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label" > What industry do you work in?</label>
              </div>              
              <div class="col-sm-12 ">
                <select class="  form-control" name="industry" ng-focus="checkPreviousMandatoryFields('industry','occupationForm')"  ng-class = "(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required)  ? 'error-border':''" ng-model="industry" ng-change="getOccupations()" required>
                  <option value="">Please select...</option>
                  <option ng-repeat="industry in IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
                </select>
                <span class="error" ng-if="(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required )">Please select the industry type.</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What is your current occupation?<a class="icohelp" ng-click="showHelp('Please note that your premiums will not be calculated based on your selection of occupation, but will be based on your salary and the questions related to your occupational activities.')"></a></label>
              </div>
              <div class="col-sm-12 ">
                <select  class="  form-control" name="occupation" ng-focus="checkPreviousMandatoryFields('occupation','occupationForm')"  ng-class = "(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required)  ? 'error-border':''" ng-model="occupation" required>
                  <option value="">Please select...</option>
                   <option ng-repeat="occupation in OccupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
                </select>
                 <span class="error" ng-if="(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required )">Select the occupation which best best matches with your current occupation.</span>
              </div>
            </div>
          
            <div ng-if="occupation =='Other'">  
             <hr class="primeline">
             <div class="row rowcustom " ng-class="{'has-error':(occupationForm.otherOccupation.$invalid && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required)}">
              <div class="col-sm-5" >
                <label class="control-label">  Please enter your occupation  </label>
              </div>
              <div class="col-sm-7 col-xs-12">              
                <input class="form-control" ng-focus="checkPreviousMandatoryFields('otherOccupation','occupationForm')" maxlength="50" name="otherOccupation" ng-class = "(occupationForm.otherOccupation.$invalid && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required)  ? 'error-border':''" ng-model="otherOccupationObj.otherOccupation" type="text" placeholder="Enter your occupation" required>
	            <span ng-if="(occupationForm.otherOccupation.$invalid && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required) " class="error">Please enter your occupation</span>
              </div>
           </div>
          </div>
            <!-- Row ends -->
            
             <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
            <hr class="primeline">
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">  Are the duties of your occupation limited to professional, managerial, administrative, clerical, secretarial or similar 'white collar' tasks which do not involve manual work and are undertaken entirely within an office environment (excluding travel time from one office environment to another)? </p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (withinOfficeQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="withinOfficeQuestion" ng-click="checkPreviousMandatoryFields('withinOfficeQuestion','occupationForm')"
                       ng-class = "(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="withinOfficeQuestion" ng-change="calculateOnChange()" value="Yes" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (withinOfficeQuestion == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="withinOfficeQuestion" ng-click="checkPreviousMandatoryFields('withinOfficeQuestion','occupationForm')"
                       ng-class = "(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="withinOfficeQuestion" ng-change="calculateOnChange()"  value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            <hr class="primeline">
                 
             <div class="row rowcustom" ng-class="{'has-error':(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">  Do you hold a tertiary qualification or are you a member of a professional institute or registered as a practising member of your profession by a government body?</p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (tertiaryQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="tertiaryQuestion" ng-click="checkPreviousMandatoryFields('tertiaryQuestion','occupationForm')"
                       ng-class = "(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="tertiaryQuestion" ng-change="calculateOnChange()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton  " ng-class="{'active': (tertiaryQuestion == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="tertiaryQuestion" ng-click="checkPreviousMandatoryFields('tertiaryQuestion','occupationForm')"
                       ng-class = "(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="tertiaryQuestion" ng-change="calculateOnChange()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required )">Please select Yes or No</span>                
              </div>
            </div>
            
            <hr class="primeline">
                 
             <div class="row rowcustom" ng-class="{'has-error':(occupationForm.managementRole.$error.required && occupationForm.managementRole.$touched) || (occupationForm.$submitted && occupationForm.managementRole.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">  Are you in a management role? </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (managementRole == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="managementRole" ng-click="checkPreviousMandatoryFields('managementRole','occupationForm')"
                       ng-class = "(occupationForm.managementRole.$error.required && occupationForm.managementRole.$touched) || (occupationForm.$submitted && occupationForm.managementRole.$error.required)  ? 'radio-validation':''" 
                      ng-model="managementRole" ng-change="calculateOnChange()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton  " ng-class="{'active': (managementRole == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="managementRole" ng-click="checkPreviousMandatoryFields('managementRole','occupationForm')"
                       ng-class = "(occupationForm.managementRole.$error.required && occupationForm.managementRole.$touched) || (occupationForm.$submitted && occupationForm.managementRole.$error.required)  ? 'radio-validation':''" 
                      ng-model="managementRole" ng-change="calculateOnChange()" value="No" required>
                      <span></span> No</label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.managementRole.$error.required && occupationForm.managementRole.$touched) || (occupationForm.$submitted && occupationForm.managementRole.$error.required )">Please select Yes or No</span>
              </div>
            </div>
                
              </div>
              
              <hr ng-show="!genderFlag" class="primeline">
             <div class="row   rowcustom " ng-show="!genderFlag" ng-class="{'has-error':(occupationForm.gender.$error.required && occupationForm.gender.$touched) || (occupationForm.$submitted && occupationForm.gender.$error.required )}" >
                  <div class="col-sm-12">
                    <label class="control-label"> Gender </label>
                  </div>
                  <div class="col-sm-12">
                    <div class="btn-group">
                      <div class="col-sm-3 pl0">
                        <label class="btn radiobutton" ng-class="{'active': (gender == 'Male')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','occupationForm')" 
                       ng-class = "(occupationForm.gender.$error.required && occupationForm.gender.$touched) || (occupationForm.$submitted && occupationForm.gender.$error.required)  ? 'radio-validation':''" 
                      ng-model="gender" value="Male" required>
                          <span></span> Male </label>
                         </div>
                      <div class="col-sm-6 pl0xs">
                        <label class="btn   radiobutton" ng-class="{'active': (gender == 'Female')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','occupationForm')" 
                       ng-class = "(occupationForm.gender.$error.required && occupationForm.gender.$touched) || (occupationForm.$submitted && occupationForm.gender.$error.required)  ? 'radio-validation':''" 
                      ng-model="gender" value="Female" required>
                          <span></span> Female </label>                         
                        </div>
                    </div>
                     <span class="error" ng-if="(occupationForm.gender.$error.required && occupationForm.gender.$touched) || (occupationForm.$submitted && occupationForm.gender.$error.required )">Please select gender</span>
                  </div>
                </div>
				<!-- <hr ng-show="!genderFlag" class="primeline"> -->
              
              <hr class="primeline">
           <div class="row rowcustom" ng-class="{'has-error':(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required ) || invalidSalAmount}">
              <div class="col-sm-4 col-xs-12">
                <label class="control-label">What is your annual salary?<a class="icohelp"	ng-click="showHelp('Insert gross salary (including overtime, commissions, bonuses and shift allowances, but excluding employer contributions).')"></a></label>
                <!-- <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <!-- <div class="col-sm-5 col-xs-12">
                <div class="slidercover">
                  <div id="slider1" class="slider"></div>
                  <div class="sliderin"></div>
                  <div class="leftval hidden-xs">0</div>
                  <div class="rightval hidden-xs">1,000,000</div>
                </div>
              </div>
              <p class="spacer visible-xs">&nbsp; </p> -->
              <div class="col-sm-3 col-xs-12">
                <input type="text" id="annualSalCCId" format="number" onkeyup="return isNumeric('annualSalCCId');" onkeypress="return isNumeric('annualSalCCId');"  name="annualSalary" maxlength="9" class="form-control dollar" ng-change="toggleIPCondition()"  ng-focus="checkPreviousMandatoryFields('annualSalary','occupationForm')"  ng-class = "(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required)  ? 'error-border':''" ng-model="annualSalary" required>
              <span class="error" ng-if="(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required )">Please enter your Annual Salary</span>
              <span class="error" ng-if="invalidSalAmount">Please enter a valid annual salary</span>
              </div>
              
            </div>
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">
               <a data-toggle="collapse" data-parent="#accordion"> 
                <button  class="btn btn-primary w100p" type="button" ng-click="formOneSubmit(occupationForm);">Continue</button>
               </a>
              </div>
              <!-- <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div> -->
            </div>
          </div>
        </form>
          <!-- Row ends --> 
          
        </div>
      </div>
      
      <!--Occupation section ends  -->
      
      <!-- Cover Calculator section starts -->
      
      <div class="panel panel-default"  >
        <div class="panel-heading"> <a data-toggle="collapse"  data-target="#collapseThree" class=" collapsed ">
          <h4 class="panel-title"> Cover calculator</h4>
          </a> </div>
        <div id="collapseThree" ng-show="colthree" class="panel-collapse collapse  ">
        
        <form name="coverCalculatorForm" novalidate id="coverCalFormId" role="form">
          <div class="panel-body">
            <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label"> Use the premium calculator to select the most appropriate cover for you.</label>
              </div>
            </div>
           
           <!--  <div class="row rowcustom" >
              <div class="col-sm-4">
                <label class="control-label">Premium Frequency<a class="icohelp" href="h_helpfulhints.html"></a> </label>
              </div>
              <div class="col-sm-8  ">
                  <select class="selectpicker  form-control" name="premiumFreq" id="premiumFreqId" >
                  <option>Weekly</option>
                  <option>Monthly</option>
                  <option>Yearly</option>
                </select>
               </div>
            </div> -->
            <hr class=" primeline">
            <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label"> Select the benefits you wish to amend</label>
              </div>
            </div>
            <div class=" btn-group-vertical   heading" data-toggle="buttons"  >
              <div class="row rowcustom" >
                <div class="col-sm-12 checkboxes1">
                   <label class="checkboxes active" id="deathsection" ng-disabled="isDeathDisabled">
                    <input type="checkbox" id="option3" name="coverDet" id="coverDetId"> 
                   Death </label>
                    </div>
              </div>
            </div>
            <div class="" id="death" style="display:block">
              <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing cover <a class="icohelp"	ng-click="showHelp('This is the amount of existing cover you already hold through CareSuper.')"></a></h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover" ng-if="!isEmpty(deathCoverDetails.units)">{{deathCoverDetails.amount | currency:undefined:0}} ({{deathCoverDetails.units}} units)</p>
                  <p class="cover" ng-if="isEmpty(deathCoverDetails.units)">{{deathCoverDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover" ng-if="!isEmpty(deathCoverDetails.units)">{{deathCoverDetails.amount | currency:undefined:0}} ({{deathCoverDetails.units}} units)</p>
                  <p class="cover" ng-if="isEmpty(deathCoverDetails.units)">{{deathCoverDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
              </div>
              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.coverName.$error.required && coverCalculatorForm.coverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverName.$error.required )}">
                  <div class="col-sm-4">
                    <label class="control-label"> I want to </label>
                  </div>
                  <div class="col-sm-8  ">
                    <select  class="form-control" name="coverName" id="coverId" ng-focus="checkPreviousMandatoryFields('coverName','coverCalculatorForm')"  ng-class = "(coverCalculatorForm.coverName.$error.required && coverCalculatorForm.coverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverName.$error.required)  ? 'error-border':''"  ng-change="checkDeathOption()" ng-model="coverName">
                      <option value="">What would you like to do ?</option>
                      <option ng-if="deathCoverDetails.amount && deathCoverDetails.amount != 0" ng-repeat="cover in DeathCoverOptionsOne" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      <option ng-if="!deathCoverDetails.amount || (deathCoverDetails.amount && deathCoverDetails.amount == 0)" ng-repeat="cover in coverOptionsTwo" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                    </select>
                    <span class="error" ng-if="(coverCalculatorForm.coverName.$error.required && coverCalculatorForm.coverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverName.$error.required )">Please select  Cover what you want.</span>
                  </div>
                </div>
                <hr class="primeline">
                <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required )}">
                  <div class="col-sm-4">
                    <label class="control-label"> Cover type <a class="icohelp"	ng-click="showHelp('You can choose either unit-based or fixed benefit cover. If you select unit-based cover, the amount of Death & TPD cover provided per unit will change with your age, however your monthly premium will remain the same. If you select fixed cover, your level of cover remains fixed and your premium changes with your age. Fixed cover is available in multiples of $1000. If you request cover that is not in multiples of $1000, any cover accepted will be rounded down to the nearest $1000.  There is a minimum of $10,000 for fixed cover.')"></a> </label>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                        <label ng-disabled="isDCCoverTypeDisabled" radio-sync="Fixed" class="btn  radiobutton" onclick="showhide('dollar','nodollar')" ng-class="{'active': (coverType=='DcFixed')}">  
                          <input  type="radio" name="coverType" ng-change="syncRadios('Fixed')" data-sync="Fixed" id="option1" class="ipradio" ng-focus="checkPreviousMandatoryFields('coverType','coverCalculatorForm')"
                           ng-class = "(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required)  ? 'radio-validation':''" 
                           ng-model="coverType" value="DcFixed" ng-required="!isDCCoverTypeDisabled">
                          <span></span> Fixed 
                         </label>
                      </div>
                      <div class="col2">
                          <label ng-disabled="isDCCoverTypeDisabled" radio-sync="Unitised" class="btn   radiobutton" onclick="showhide('nodollar','dollar')" ng-class="{'active': (coverType=='DcUnitised')}">
                            <input  type="radio" name="coverType" ng-change="syncRadios('Unitised')" data-sync="Unitised" id="option2" class="ipradio" ng-focus="checkPreviousMandatoryFields('coverType','coverCalculatorForm')"
                      		 ng-class = "(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required)  ? 'radio-validation':''" 
                     		 ng-model="coverType" value="DcUnitised" ng-required="!isDCCoverTypeDisabled">
                            <span></span> Unit-based
                          </label>
                        <span class="error" ng-if="(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required )">Please select Cover type</span>
                      </div>
                    </div>
                  </div>
                </div>               
                
                <div class="row rowcustom" ng-if="coverType=='DcFixed'">
                  <div class="col-sm-4">                    
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                          <div data-toggle="buttons" class="btn-group" >                        
		                      <label class="btn  checkboxes    p0  " ng-disabled="isDCCoverTypeDisabled" ng-class="{'active': indexation.death}" ng-click="setIndexation($event)">
		                        	<input type="checkbox" class=" " id="changecvr_index-dth" ng-model="indexation.death" ng-value="indexation.death">
		                        	<span></span> I would like to index my fixed cover annually by 5% 
		                      </label>
                   	 	  </div>                   	 	                
                      </div>                      
                    </div>
                  </div>
                  <div class="col-sm-2">  
                      	<a class="icohelp"		ng-click="showHelp('You can choose to index your fixed Death & TPD cover annually by 5%. This will take effect on 1 July each year.')"></a>
                      </div>
                </div>
                
                <hr class="primeline">
                <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required ) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag}">
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Cover required </label>
                    <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
                 <!--  <div class="col-sm-5 col-xs-12">
                           <div class="slidercover">
                            <div id="slider2" class="slider"></div>
                            <div class="sliderin"></div>
                            <div class="leftval hidden-xs">0</div>
                            <div class="rightval hidden-xs">1,000,000</div>
                          </div> 
                        </div><p class=" spacer visible-xs">&nbsp;</p> -->
                        <div class="col-sm-3 col-xs-12">
                    <input type="text" id="dollar" format="number" name="requireCover" class="form-control dollar" onkeyup="return isNumeric('dollar');" onkeypress="return isNumeric('dollar');" 
                       ng-focus="checkPreviousMandatoryFields('requireCover','coverCalculatorForm')" 
                       ng-class = "(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag ? 'error-border':''" 
                       ng-model="requireCover" ng-change="validateDeathTpdIpAmounts()" ng-disabled="isDCCoverRequiredDisabled"  ng-required="!isDCCoverRequiredDisabled" >
                    
                     <input type="text" id="nodollar" limit-to="3" ng-change="convertDeathUnitsToAmount()"   ng-model="requireCover"  name="requireCover"
                      style="display:none" class="form-control" ng-disabled="isDCCoverRequiredDisabled" ng-required="!isDCCoverRequiredDisabled" 
                      onkeyup="return isNumeric('nodollar');" onkeypress="return isNumeric('nodollar');" 
                      ng-focus="checkPreviousMandatoryFields('requireCover','coverCalculatorForm')" 
                      ng-class = "(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag? 'error-border':''">
                   
                    <span class="error" ng-if="(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required )">Please select required Cover</span>
                     <span class="error" ng-if="deathErrorFlag">{{deathErrorMsg}}</span></div>
                </div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{dcCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>Weekly cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{dcWeeklyCost | currency}}</h4>
                  </div>
                </div>
              </div>
            </div>
             <div class="row rowcustom" ng-if="isDeathDisabled == true">
		  		<div class="col-sm-12">
	  			<img src="static/hesta/images/warning.png" >
	                <label class="control-label"> You are not eligible for Death cover due to your age </label>	            
		  		</div>
		  	</div>
		  	<p class="spacer">&nbsp;</p>
            <div class=" btn-group-vertical   heading" data-toggle="buttons"  >
              <div class="row rowcustom">
                <div class="col-sm-12 checkboxes1">
                   <label class="checkboxes  active" id="tpdsection" ng-disabled="isTPDDisabled">
                    <input type="checkbox" id="perDisplacementId" name="perDisplacement"> 
                     Total &amp; permanent disablement </label>
                </div>
              </div>
            </div>
            <div class="" id="tpd" style="display:block">
            <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing cover <a class="icohelp"		ng-click="showHelp('This is the amount of existing cover you already hold through CareSuper.')"></a></h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover" ng-if="!isEmpty(tpdCoverDetails.units)">{{tpdCoverDetails.amount | currency:undefined:0}} ({{tpdCoverDetails.units}} units)</p>
                  <p class="cover" ng-if="isEmpty(tpdCoverDetails.units)">{{tpdCoverDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover" ng-if="!isEmpty(tpdCoverDetails.units)">{{tpdCoverDetails.amount | currency:undefined:0}} ({{tpdCoverDetails.units}} units)</p>
                  <p class="cover" ng-if="isEmpty(tpdCoverDetails.units)">{{tpdCoverDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
              </div>
              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
             <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.tpdCoverName.$error.required && coverCalculatorForm.tpdCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverName.$error.required ) }" >
                  <div class="col-sm-4">
                    <label class="control-label"> I want to</label>
                  </div>
                  <div class="col-sm-8  ">
                    <select  ng-disabled="isTPDCoverNameDisabled" class=" form-control" name="tpdCoverName" id="coverId" ng-focus="checkPreviousMandatoryFields('tpdCoverName','coverCalculatorForm')"  ng-class = "(coverCalculatorForm.tpdCoverName.$error.required && coverCalculatorForm.tpdCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverName.$error.required) ? 'error-border':''" ng-model="tpdCoverName" ng-change="checkTPDOption()">
                      <option value="">What would you like to do ?</option>
                      <option ng-if="(tpdCoverDetails.amount && tpdCoverDetails.amount != 0) " ng-repeat="cover in TPDCoverOptionsOne" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      <option ng-if="!tpdCoverDetails.amount || (tpdCoverDetails.amount && tpdCoverDetails.amount == 0) " ng-repeat="cover in coverOptionsTwo" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      
                    </select>
                    <span class="error" ng-if="(coverCalculatorForm.tpdCoverName.$error.required && coverCalculatorForm.tpdCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverName.$error.required )">Please select  Cover what you want.</span>
                  </div>
                </div>
                <hr class="primeline">
                <div class="row rowcustom"  ng-class="{'has-error':(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required )}">
                  <div class="col-sm-4">
                    <label class="control-label"> Cover type <a class="icohelp"		ng-click="showHelp('You can choose either unit-based or fixed benefit cover. If you select unit-based cover, the amount of Death & TPD cover provided per unit will change with your age, however your monthly premium will remain the same. If you select fixed cover, your level of cover remains fixed and your premium changes with your age. Fixed cover is available in multiples of $1000. If you request cover that is not in multiples of $1000, any cover accepted will be rounded down to the nearest $1000.  There is a minimum of $10,000 for fixed cover.')"></a>  </label>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2">
                        <label  ng-disabled="isTPDCoverTypeDisabled" radio-sync="Fixed" class="btn radiobutton"  onclick="showhide('dollar1','nodollar1')" ng-class="{'active': (tpdCoverType=='TPDFixed')}">
                          <input type="radio" name="tpdCoverType" ng-change="syncRadios('Fixed')" data-sync="Fixed" id="option1" class="ipradio" ng-focus="checkPreviousMandatoryFields('tpdCoverType','coverCalculatorForm')"
                           ng-class = "(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required)  ? 'radio-validation':''" 
                           ng-model="tpdCoverType" value="TPDFixed" ng-required="!isTPDCoverTypeDisabled">
                          <span></span> Fixed </label>
                         </div>
                      <div class="col2"> 
                        <label ng-disabled="isTPDCoverTypeDisabled" radio-sync="Unitised" class="btn radiobutton"  onclick="showhide('nodollar1','dollar1')" ng-class="{'active': (tpdCoverType=='TPDUnitised')}">
                          <input type="radio" name="tpdCoverType" ng-change="syncRadios('Unitised')" data-sync="Unitised" id="option2" class="ipradio"  ng-focus="checkPreviousMandatoryFields('tpdCoverType','coverCalculatorForm')"
                      		 ng-class = "(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required)  ? 'radio-validation':''" 
                     		 ng-model="tpdCoverType" value="TPDUnitised" ng-required="!isTPDCoverTypeDisabled">
                          <span></span> Unit-based </label>
                          <span class="error" ng-if="(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required )">Please select Cover type</span>
                         </div>
                    </div>
                  </div>
                </div>
                
                <div class="row rowcustom" ng-if="tpdCoverType=='TPDFixed'">
                  <div class="col-sm-4">                    
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                          <div data-toggle="buttons" class="btn-group">
		                      <label class="btn  checkboxes    p0  " ng-disabled="isTPDCoverTypeDisabled" ng-class="{'active': indexation.disable}" ng-click="setIndexation($event)">
		                        	<input type="checkbox" class=" " id="changeCvr-indextpd-disable" ng-model="indexation.disable" ng-value="indexation.disable">
		                        	<span></span> I would like to index my fixed cover annually by 5% 
		                      </label>
                   	 	  </div>                   	 	                
                      </div>                      
                    </div>
                  </div>
                  <div class="col-sm-2">  
                      	<a class="icohelp"		ng-click="showHelp('You can choose to index your fixed Death & TPD cover annually by 5%. This will take effect on 1 July each year.')"></a>
                      </div>
                </div>
                <hr class="primeline">
                
                <div class="row rowcustom " ng-class="{'has-error':(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required ) || (coverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag}">
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Cover required </label>
                  </div>
                 <!--  <div class="col-sm-5 col-xs-12">
                     <div class="slidercover">
                      <div id="slider3" class="slider"></div>
                      <div class="sliderin"></div>
                      <div class="leftval hidden-xs">0</div>
                      <div class="rightval hidden-xs">1,000,000</div>
                    </div> 
                  </div><p class="spacer visible-xs">&nbsp; </p> -->
                  <div class="col-sm-3 col-xs-12">
                    <input id="dollar1" type="text" format="number" name="TPDRequireCover" class="form-control dollar" onkeyup="return isNumeric('dollar1');" onkeypress="return isNumeric('dollar1');" 
                       ng-focus="checkPreviousMandatoryFields('TPDRequireCover','coverCalculatorForm')" 
                       ng-class = "(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required) || (coverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag ? 'error-border':''" 
                       ng-model="TPDRequireCover" ng-change="validateDeathTpdIpAmounts()" ng-disabled="isTPDCoverRequiredDisabled" ng-required="!isTPDCoverRequiredDisabled">
                    <input type="text" id="nodollar1" limit-to="3" name="TPDRequireCover"  class="form-control"   style="display:none"
                        onkeyup="return isNumeric('nodollar1');" onkeypress="return isNumeric('nodollar1');" 
                        ng-focus="checkPreviousMandatoryFields('TPDRequireCover','coverCalculatorForm')" 
                        ng-class = "(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required) || (coverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag ? 'error-border':''"
                        ng-model="TPDRequireCover" ng-change="convertTPDUnitsToAmount()"  ng-disabled="isTPDCoverRequiredDisabled" ng-required="!isTPDCoverRequiredDisabled">
                       <span class="error" ng-if="(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required )">Please select required Cover</span>
                       <span class="error" ng-if="tpdErrorFlag">{{tpdErrorMsg}}</span>
                  </div>
                </div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{tpdCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>Weekly cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{tpdWeeklyCost | currency}}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="row rowcustom" ng-if="isTPDDisabled == true">
		  		<div class="col-sm-12">
	  			<img src="static/hesta/images/warning.png" >
	                <label class="control-label"> You are not eligible for TPD cover due to your age </label>	            
		  		</div>
		  	</div>
		  	<p class="spacer">&nbsp;</p>
            <div class=" btn-group-vertical   heading" data-toggle="buttons"  >
              <div class="row rowcustom"  >
                <div class="col-sm-12 checkboxes1">
                   <label class="checkboxes  active" ng-disabled="isIPDisabled" id="ipsection">
                    <input type="checkbox" id="option3" class=" "> 
                    Income protection </label>
                </div>
              </div>
            </div>
            <div class="" id="sc" style="display:block">
            <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing cover <a class="icohelp"		ng-click="showHelp('This is the amount of existing cover you already hold through CareSuper.')"></a></h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{ipCoverDetails.amount | currency:undefined:0}} ({{ipCoverDetails.units}} units)</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{ipCoverDetails.amount | currency:undefined:0}} ({{ipCoverDetails.units}} units)</p>
                </div>
              </div>
              
               <div class="row rowcustom" ng-hide="ipCoverDetails.amount == '0.0'">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing waiting period  </h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{ipCoverDetails.waitingPeriod}}</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{ipCoverDetails.waitingPeriod}}</p>
                </div>
              </div>
              
               <div class="row rowcustom" ng-hide="ipCoverDetails.amount == '0.0'">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing benefit period  </h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{ipCoverDetails.benefitPeriod}}</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{ipCoverDetails.benefitPeriod}}</p>
                </div>
              </div>
              
              
              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom " ng-class="{'has-error':(coverCalculatorForm.ipCoverName.$error.required && coverCalculatorForm.ipCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipCoverName.$error.required ) }" >
                  <div class="col-sm-4">
                    <label class="control-label"> I want to </label>
                  </div>
                  <div class="col-sm-8  ">
                    <select  ng-disabled="isIPCoverNameDisabled" class="form-control" name="ipCoverName" id="coverId" ng-focus="checkPreviousMandatoryFields('ipCoverName','coverCalculatorForm')" ng-change="checkIPOption()"  ng-class = "(coverCalculatorForm.ipCoverName.$error.required && coverCalculatorForm.ipCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipCoverName.$error.required) ? 'error-border':''" ng-model="ipCoverName">
                       <option value="">What would you like to do ?</option>
                      <option ng-if="ipCoverDetails.amount && ipCoverDetails.amount != 0" ng-repeat="cover in IPCoverOptionsOne" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      <option ng-if="!ipCoverDetails.amount || (ipCoverDetails.amount && ipCoverDetails.amount == 0)" ng-repeat="cover in coverOptionsTwo" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                    </select>
                    <span class="error" ng-if="(coverCalculatorForm.ipCoverName.$error.required && coverCalculatorForm.ipCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipCoverName.$error.required )">Please select  Cover what you want.</span>
                  </div>
                </div>
                <hr class="primeline">
                
                <div class="row rowcustom ">
                  <div class="col-sm-3">
                    <div data-toggle="buttons" class="btn-group">
                      <label class="btn  checkboxes    p0  " id="ipsalarychecklabel" ng-disabled="isIpSalaryCheckboxDisabled" ng-click="toggleIPCondition()">
                        <input type="checkbox" class=" " id="ipsalarycheck" ng-disabled="isIpSalaryCheckboxDisabled">
                        <span></span> Insure 85% of my salary 
                        </label>
                    </div>                     
                  </div> 
                  <div class="col-sm-1">
                      <a class="icohelp" ng-click="showHelp('Refer to the Insurance Guide to calculate the number of units you want, up to 85% of income. If your annual salary exceeds $423,530, your income protection cover will be subject to maximum benefit restrictions.')"></a>
                        
                    </div>                 
                </div>
                <hr class="primeline">
                <div class="row rowcustom   ">
                  <div class="col-sm-4">
                    <label class="control-label"> Waiting period </label>
                  </div>
                  <div class="col-sm-8  ">
                  <select ng-disabled="isWaitingPeriodDisabled" class="form-control" ng-model="waitingPeriodAddnl" ng-options="waitingPeriodOption for waitingPeriodOption in waitingPeriodOptions track by waitingPeriodOption" ng-change="checkBenefitPeriod()"></select>
                    <!-- <select  class="selectpicker  form-control" ng-model="waitingPeriod">
                      <option value="30 Days" ng-selected="ipCoverDetails.waitingPeriod == waitingPeriod"  >30 Days</option>
                      <option value="60 Days">60 Days</option>
                      <option value="90 Days">90 Days</option> 
                   </select> -->
                  </div>
                </div>
                <hr class="primeline">
                <div class="row rowcustom   ">
                  <div class="col-sm-4">
                    <label class="control-label"> Benefit period </label>
                  </div>
                  <div class="col-sm-8  ">
                  <select ng-disabled="isBenefitPeriodDisabled" class="form-control" ng-model="benefitPeriodAddnl" ng-options="benefitPeriodOption for benefitPeriodOption in benefitPeriodOptions track by benefitPeriodOption" ng-change="checkBenefitPeriod()"></select>             
                    <!-- <select  class="selectpicker  form-control" ng-model="benefitPeriod">
                      <option value="2 Years" ng-selected="">2 Years</option>
                      <option value="5 Years">5 Years</option>
                      
                    </select> -->
                  </div>
                </div>
                <hr class="primeline">
                <div class="row rowcustom " ng-class="{'has-error':(coverCalculatorForm.IPRequireCover.$error.required && coverCalculatorForm.IPRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.IPRequireCover.$error.required ) || (coverCalculatorForm.$submitted && ipErrorFlag) || ipErrorFlag}">
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Cover required </label>
                    <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
                  <!-- <div class="col-sm-5 col-xs-12">
                     <div class="slidercover">
                      <div id="slider4" class="slider"></div>
                      <div class="sliderin"></div>
                      <div class="leftval hidden-xs">0</div>
                      <div class="rightval hidden-xs">1,000,000</div>
                    </div> 
                  </div><p class="spacer visible-xs">&nbsp; </p> -->
                  <div class="col-sm-3 col-xs-12">
                  <input id="nodollar2" type="text" name="IPRequireCover" maxlength="3" class="form-control" onkeyup="return isNumeric('nodollar2');" onkeypress="return isNumeric('nodollar2');"
                       ng-focus="checkPreviousMandatoryFields('IPRequireCover','coverCalculatorForm')" 
                       ng-class = "(coverCalculatorForm.IPRequireCover.$error.required && coverCalculatorForm.IPRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.IPRequireCover.$error.required) || (coverCalculatorForm.$submitted && ipErrorFlag) || ipErrorFlag ? 'error-border':''" 
                       ng-model="IPRequireCover" ng-change="checkIpCover()" ng-disabled="isIPCoverRequiredDisabled" ng-required="!isIPCoverRequiredDisabled">
                       <span class="error" ng-if="(coverCalculatorForm.IPRequireCover.$error.required && coverCalculatorForm.IPRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.IPRequireCover.$error.required )" >Please enter required Cover</span>
                       <span class="error" ng-if="ipErrorFlag">{{ipErrorMsg}}</span>
                       <div class="row rowcustom" ng-if="ipWarningFlag">
					  		<div class="col-sm-12">
					  			<img src="static/hesta/images/warning.png">
				                <label class="control-label">The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</label>	            
					  		</div>
					  	</div>
                    <!-- <input type="text" id="amount4" onclick="visible('tick1')" class="form-control dollar" ng-disabled="!isEnable" > -->
                  </div>
                </div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{ipCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>Weekly cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{ipWeeklyCost | currency}}</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="row rowcustom" ng-if="isIPDisabled == true">
		  		<div class="col-sm-12">
	  			<img src="static/hesta/images/warning.png" >
	                <label class="control-label"> You are not eligible for IP cover due to your age </label>	            
		  		</div>
		  	</div>
          </div>
          <!-- Row ends -->
          
          <div class="row   coverbg seccolor ">
            <div class="col-sm-3 hidden-xs">
              <h5>&nbsp;</h5>
            </div>
            <div class="col-sm-3 alignright borderright  hidden-xs">
              <h4 class="coverval">&nbsp; </h4>
            </div>
            <div class="col-sm-3 col-xs-6">
              <h5>Weekly cost</h5>
            </div>
            <div class="col-sm-3 col-xs-6 alignright">
              <h4 class="coverval">{{totalWeeklyCost | currency}}</h4>
            </div>
          </div>
          <p class="spacer">&nbsp;</p>
          <div class=" row rowcustom">
	          <div class="col-xs-12">
		          <p class="note">
		          	<strong>Disclaimer:</strong>
		          	<p style="text-align:left;" ng-if="disclaimerFlag"> This represents the total cost of the cover you have applied for based on your occupation rating. This amount does not take into account any premium loading which may apply to your existing cover. The final cost of your total insurance cover will be notified to you in writing by CareSuper. </p>
		          	<p style="text-align:left;" ng-if="!disclaimerFlag">Please note that if you want to change the waiting period or benefit period in the future which increases the risk, then you will need to be underwritten. </p>
		             <p ng-if="totalWeeklyCost > 0" style="text-align:left;">Insurance cover through CareSuper is provided by MetLife Insurance Limited ABN 75 004 274 882 AFSL No. 238096. When completing your application for insurance, you will be providing MetLife with your personal information including your health information. By clicking the Continue button, you consent to the collection, use and disclosure of your personal information as described in MetLife's Privacy Policy which is available at <a href="https://www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy-policy</a>.
		            </p>
		          </p>
	          </div>
	          
          </div>
          <div class=" row rowcustom" ng-class="{'has-error':ackFlag}" ng-click="checkAckState()">
	          <div class="col-sm-12" ng-if="totalWeeklyCost > 0" >
                <div data-toggle="buttons" class=" btn-group-vertical">
                  <label class="btn wrap checkboxes1" id="termsLabel">
                    <input type="checkbox" class="" id="termsNconditionsCheck" name="ackDocument" required>
                    <span></span>  I agree to all the above terms & conditions </label>
                    
                </div>
              </div>
              </div>
          
          <div class=" row rowcustom">
            <div class="col-sm-3 col-xs-12">
              <!-- <button ng-if="totalWeeklyCost > 0" type="button" class="btn btn-primary w100p" ng-click="continueToNextPage()" >Continue </button> -->
              <!-- <button ng-if="totalWeeklyCost > 0 && (!deathDecOrCancelFlag  && !tpdDecOrCancelFlag && !ipDecOrCancelFlag)" type="button" id="continueId" class="btn btn-primary w100p" ng-click="continueToNextPage()" >Continue </button>--> 
               <button ng-if="totalWeeklyCost > 0 && (deathDecOrCancelFlag || tpdDecOrCancelFlag || ipDecOrCancelFlag)" id="continueWithPopUpId" type="button" class="btn btn-primary w100p" 
                ng-click="showDecreaseOrCancelPopUp(decCancelMsg)">Continue
               </button> 
              <button ng-if="totalWeeklyCost > 0 && (!deathDecOrCancelFlag  && !tpdDecOrCancelFlag && !ipDecOrCancelFlag)" type="button" class="btn btn-primary w100p" ng-click="goToAura()">Continue </button> 
              <button type="button" class="btn btn-primary w100p" ng-click="formOneSubmit(coverCalculatorForm);" ng-if="totalWeeklyCost == 0">Calculate quote </button>
            </div>
            <div class="col-sm-3 col-xs-12 hidden-xs">
			    <button type="button" class="btn btn-primary w100p" ng-if="totalWeeklyCost > 0" ng-click="saveQuote()">Save &amp; exit </button>  
            </div>
            <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12 aligncenter visible-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-if="totalWeeklyCost > 0" ng-click="saveQuote()"> Save &amp; exit</button>
              </div>
            <!-- <div ng-if="totalWeeklyCost > 0" class="col-sm-6 alignleft hidden-xs"> <a class="cancellink" href="landingpage.html"> Cancel</a> </div>
       		<div  ng-if="totalWeeklyCost > 0" class=" col-xs-12 aligncenter   visible-xs"> <a class="cancellink" href="#"> Cancel </a> </div> -->
       		<p class="col-xs-12 visible-xs">&nbsp;</p>
       		<div ng-if="totalWeeklyCost > 0" class="col-sm-3 col-xs-12 hidden-xs"><button type="button" class="btn btn-primary w100p" ng-click="navigateToLandingPage()">Cancel </button></div> 
       		<div  ng-if="totalWeeklyCost > 0" class="col-sm-3 col-xs-12 visible-xs"><button type="button" class="btn btn-primary w100p" ng-click="navigateToLandingPage()">Cancel </button></div> 
          </div>
          <p class="spacer">&nbsp;</p>
          </form>
        </div>
      </div>
      <!-- Cover Calculator section ends -->
      
    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
          <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1800 813 327</h3>
      <h3 class="helpNo"></h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
<p class="spacer">&nbsp;</p>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-2   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext">HESTA (ABN): 64 971 749 321</p>
    </div>	
    <div class="col-sm-3   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
         <!-- | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> -->
         </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
     <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
     <!-- | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a>  --></p>
    <p class="footertext"> &copy; HESTA (ABN): 64 971 749 321</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>

    <!-- Decrease or Cancel Popup starts --> 
		<div aria-hidden="false" aria-labelledby="mymodalDecCancelLabel" role="dialog" tabindex="-1" class="modal fade in" id="mymodalDecCancel" style="display: none;" 
		 onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';" >
		  <div class="modal-dialog hhints">
		    <div id="modal-content-id" class="modal-content">
		       <div class="modal-header">
			      <a onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';" 
			          data-dismiss="modal" aria-hidden="true"> <button class="close xi" type="button">X</button>
		          </a>
		       </div>
		       <div class="modal-body">
			    <h4 class="modal-title aligncenter" id="mymodalDecCancelLabel">Change cover</h4>
		      	<!-- Row starts -->
		         <div class="row  rowcustom  ">
		          <div class="col-sm-12">
		            <p class="aligncenter">
		              <div id="decCancelMsg_text"></div>
		              <p></p>
		            </p>
		           </div>
		         </div>
		       <!-- Row ends -->
		      </div> 
		      <div class="modal-footer mt0 pt0">
		       <div class="row">
		        <div class="col-sm-4"></div>
		         <div class="col-sm-4 col-xs-12">
		          <a onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';">
		           <!-- <button class="btn btn-primary w100p" type="button" ng-click="go('/quote')">Yes</button> -->
		          </a> 
		          <button class="btn btn-primary w100p" type="button" ng-click="checkForAura()">Continue</button>
		         </div>
		          <div class="col-sm-4"> </div> 
		        </div>
		      </div>
		     </div>
			    <!-- /.modal-content --> 
		  </div>
	    <!-- /.modal-dialog --> 
	  </div>
	 <div class="modal-backdrop fade in" id= "mymodalDecCancelFade" style="display:none;"> 
  </div>
 <!--  <button ng-click='toggleModal()'>Open Modal Dialog</button> -->
	<help-text show='modalShown' msg='tipMsg' width='550px'>
	  <p>Modal Content Goes here<p>
	</help-text>
 <!--Decrease or Cancel Popup ends -->	




<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 

    
 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 



