 <div>
 <div class="c-header">
  <div class="container">
    <div class="   col-sm-3 col-xs-10    "> <img src="static/hesta/images/logo.png" class="img-responsive  c-logo" alt="CareSuper Australia" /> 
    <strong> Hello, {{ personalDetails.firstName}} {{ personalDetails.lastName}}</strong>  
     </div>
     <div class="  col-xs-9 hidden-xs  ">
    <!--   <div class="logout noborderleft pointer"> <a >Logout</a> </div> -->
      <div class="logout noborderleft pointer" tabindex="0" id="contactLinkId" ng-click-accessible ng-click="openWindow('https://www.caresuper.com.au/super/contact-us')"> <a>Contact us</a> </div>
      <div class="logout pointer" tabindex="0" id="aboutLinkId" ng-click-accessible ng-click="openWindow('https://www.caresuper.com.au/about-us')"> <a>About us</a> </div>
     
    </div>
    
    <div class="  col-xs-9 visible-xs  ">
      <div class="logout mob"><a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a><br>
        <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a><br>
       </div>
    </div>
    <div class="  col-xs-3   ">
      <!--div class="logout"> <a href="#" >Logout</a> </div-->
    </div>
  </div>
</div>
<div class="container ">
  <p class="spacer">&nbsp;</p>
</div>
 <div class="container ">
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
     <!--  <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149</h3> -->
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1800 813 327</h3>
      <h3 class="helpNo"></h3>
    </div>    
  </div>
  <div class=" col-sm-9">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default nobg">
        <div class="panel-heading" tabindex="0"> <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="">
          <h4 class="panel-title" style="text-transform:none;">Your current cover </h4>
          </a> </div>
        <div id="collapseOne" class="panel-collapse collapse  in   ">
          <div class="panel-body">
            <div class="col-sm-4 bgwhite borderright5px h350px">
              <div class="box coverbg aligncenter">
                <h5 class="mb0" style="text-transform:none; font-size: 14px;">Cover type</h5>
                <strong >Death<br>
                <span  class="visible-sm" ><br>
                </span> &nbsp;</strong> </div>
              <div class="box mt10px    aligncenter" ng-if="deathCover.amount!=0.0">
                <h5 class=" color2" style="text-transform:none;">Amount</h5>
                <p ng-bind="deathCover.amount | currency:undefined:0"></p>
                <!-- 
                <p ng-if="deathCover.units!='0'">{{deathCover.units}} Unit(s)</p>   
                <p ng-if="deathCover.units=='0'">Fixed</p> 
                 -->
                <p ng-if="!isEmpty(deathCover.units)">{{deathCover.units}} Unit(s)</p> 
                <p ng-if="isEmpty(deathCover.units)">Fixed</p>     
                <h5 class=" color2" style="text-transform:none;">Occupational category</h5>
                <p ng-bind="deathCover.occRating"></p>         
                <p class="spacer visible-sm visible-md">&nbsp;</p>
                <p class="spacer visible-sm visible-md mtm3px">&nbsp;</p>
                <p class="spacer mt20px visible-sm ">&nbsp;</p>
                <div ng-if="ipCover.amount!='0.0'">
                <p>&nbsp;</p><p>&nbsp;</p>
                </div>
              </div>
               <div class="box mt10px aligncenter "> <img src="static/hesta/images/nocover.png" alt="Death Cover" class=" aligncenter mt10px" ng-if="deathCover.amount=='0.0'"/><br>
                <strong ng-if="deathCover.amount=='0.0'"> No cover</strong>
                  <p ng-if="deathCover.amount=='0.0'" class="size2"><br>
                   Learn about the great benefits of<br>
                  <a href="https://www.caresuper.com.au/content/standard-cover" class="" target="_new"><strong>Death</strong></a><br>
                  cover</p>
              </div>
              <div class="row" ng-if="deathCover.amount=='0.0'">
                <div class="col-md-2"> &nbsp; </div>
                <div class="col-sm-12 col-md-8">
                 <!--  <button type="button" id="bu3" class="btn btn-primary w100p" ng-click="go('/quote')">Apply now </button> -->
                   <button type="button" id="bu3" class="btn btn-primary w100p" ng-click="go('/quote/1',true)">Apply now </button>
                  <p class="visible-md">&nbsp;</p>
                </div>
                <div class="col-md-2"> &nbsp; </div>
              </div>
            </div>
            <p class="spacer visible-xs">&nbsp;</p>
            <div class="col-sm-4 bgwhite borderright5px h350px ">
              <div class="box coverbg aligncenter">
                <h5 class="mb0" style="text-transform:none; font-size: 14px;">Cover type</h5>
                <strong >Total & permanent<br>
                disablement</strong> </div>
                <div class="box mt10px    aligncenter" ng-if="tpdCover.amount!='0.0'">
                <h5 class=" color2" style="text-transform:none;">Amount</h5>
                <p  ng-bind="tpdCover.amount | currency:undefined:0"></p>
                <!-- 
                <p ng-if="tpdCover.units!='0'">{{tpdCover.units}} Unit(s)</p>   
                <p ng-if="tpdCover.units=='0'">Fixed</p> -->
                <p ng-if="!isEmpty(tpdCover.units)">{{tpdCover.units}} Unit(s)</p> 
                <p ng-if="isEmpty(tpdCover.units)">Fixed</p>  
               <h5 class=" color2" style="text-transform:none;">Occupational category</h5>
                <p ng-bind="tpdCover.occRating"></p>                
                <p class="spacer visible-sm visible-md">&nbsp;</p>
                <p class="spacer visible-sm visible-md mtm3px">&nbsp;</p>
                <p class="spacer mt20px visible-sm ">&nbsp;</p>
                <div ng-if="ipCover.amount!='0.0'">
                <p>&nbsp;</p><p>&nbsp;</p>
                </div>
              </div>
              <div class="box mt10px aligncenter "> <img src="static/hesta/images/nocover.png" alt="Total & permanent disablement Cover" class=" aligncenter mt10px" ng-if="tpdCover.amount=='0.0'"/><br>
                <strong ng-if="tpdCover.amount=='0.0'"> No cover</strong>
                <p ng-if="tpdCover.amount=='0.0'" class="size2"><br>
                 Learn about the great benefits of<br>
                 <a href="https://www.caresuper.com.au/content/standard-cover" class="" target="_new"> <strong>Total & permanent disablement</strong></a> <br>
                  cover</p>
              </div>
              <div class="row" ng-if="tpdCover.amount=='0.0'">
                <div class="col-md-2"> &nbsp; </div>
                <div class="col-sm-12 col-md-8">
                  <!-- <button type="button" id="bu3" class="btn btn-primary w100p" ng-click="go('/quote')">Apply now </button> -->
                  <button type="button" id="bu3" class="btn btn-primary w100p" ng-click="go('/quote/1',true)">Apply now </button>
                  <p class="visible-md">&nbsp;</p>
                </div>
                <div class="col-md-2"> &nbsp; </div>
              </div>
            </div>
            <p class="spacer visible-xs">&nbsp;</p>
            <div class="col-sm-4 bgwhite h350px">
              <div class="box coverbg aligncenter">
                <h5 class="mb0" style="text-transform:none; font-size: 14px;">Cover type</h5>
                <strong >Income <br>
                protection <span  class="visible-sm" ><br>
                </span></strong> </div>
                <div class="box mt10px    aligncenter" ng-if="ipCover.amount!='0.0'">
                <h5 class=" color2" style="text-transform:none;">Amount</h5>
                <p ng-bind="ipCover.amount | currency:undefined:0"></p>
                <p ng-if="!isEmpty(ipCover.units)">{{ipCover.units}} Unit(s)</p>
                <p ng-if="isEmpty(ipCover.units)">Fixed</p>
                <h5 class=" color2" style="text-transform:none;">Occupational category</h5>
                <p ng-bind="ipCover.occRating"></p>
                <h5 class=" color2">Waiting period</h5>
                <p ng-bind="ipCover.waitingPeriod"></p>
                <h5 class=" color2">Benefit period</h5>
                <p ng-bind="ipCover.benefitPeriod"></p>
              </div>
                
              <div class="box mt10px aligncenter " ng-if="ipCover.amount=='0.0'"> <img src="static/hesta/images/nocover.png" alt="Income Protection Cover" class=" aligncenter mt10px"  /><br>
                <strong ng-if="ipCover.amount=='0.0'"> No cover</strong>
                <p  ng-if="ipCover.amount=='0.0'" class="size2"><br>
                  Learn about the great benefits of<br>
                  <a href="https://www.caresuper.com.au/super/insurance/income-protection" class="" target="_new">
                  <strong>Income protection</strong></a><br>cover
                </p>
                <p class="spacer visible-sm visible-md">&nbsp;</p>
              </div>
              <div class="row"  ng-if="ipCover.amount=='0.0'">
                <div class="col-md-2"> &nbsp; </div>
                <div class="col-sm-12 col-md-8">
                 <!--  <button ng-click="go('/quote')" type="button" id="bu3" class="btn btn-primary w100p">Apply now </button> -->
                  <button  type="button" id="bu3" class="btn btn-primary w100p" ng-click="go('/quote/1',true)">Apply now </button>
                  <p class="visible-md">&nbsp;</p>
                </div>
                <div class="col-md-2"> &nbsp; </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default nobg">
        <div class="panel-heading" tabindex="0"> <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" class="    ">
          <h4 class="panel-title" style="text-transform:none;">Manage your insurance </h4>
          </a> </div>
        <div id="collapseTwo" class="panel-collapse collapse  in   ">
          <div class="panel-body">
          
          <!-- Added to show popup for New Member to continue with change cover if "Yes" -->
           <div  class="col-sm-4 bgwhite borderright5px h260px pointer" ng-if="newMemberOffer" id="newMemberChangeCoverId" tabindex="0" ng-click-accessible
             ng-click="showSavedAppPopup('CCOVER')" > 
           <!--   <div class="col-sm-4 bgwhite borderright5px h260px pointer " >-->
              <div class="box mt10px    aligncenter">
                <img src="static/hesta/images/bg_blank.png" alt="Change your insurance" class="icoTick mt30px" >
                <h4 class="mt15px " style="text-transform:none;">Change your  <br> insurance </h4>
                <h6 class="color2" style="text-transform:none;">Use this option to apply to increase or vary your level of insurance cover, including decreases, cancellation of individual benefits and changes to benefit details.</h5>
              </div>
            </div>
            
            <div  class="col-sm-4 bgwhite borderright5px h260px pointer" ng-if="!newMemberOffer" id="changeCoverId" tabindex="0" ng-click-accessible ng-click="showSavedAppPopup('CCOVER')"> 
           <!--   <div class="col-sm-4 bgwhite borderright5px h260px pointer " >-->
              <div class="box mt10px    aligncenter">
                <img src="static/hesta/images/bg_blank.png" alt="Change your insurance" class="icoTick mt30px" >
                <h4 class="mt15px " style="text-transform:none;">Change your  <br> insurance </h4>
                <h6 class="color2" style="text-transform:none;">Use this option to apply to increase or vary your level of insurance cover, including decreases, cancellation of individual benefits and changes to benefit details.</h5>
              </div>
            </div>
            
            <p class="spacer visible-xs">&nbsp;</p>
            <div class="col-sm-4 bgwhite borderright5px  h260px pointer" ng-if="newMemberOffer" id="newMemberId" tabindex="0" ng-click-accessible ng-click="go('/newmemberquote/1',true)">
              <div class="box mt10px aligncenter ">  
               <img src="static/hesta/images/bg_blank.png"  alt="New member option" class="icoSave mt30px" >                
                <h4 class="mt15px" style="text-transform:none;">New member<br>option <span class="visible-sm"><br><br>  </span></h4>
                <h6 class="color2" style="text-transform:none;">Use this option to increase your Death and TPD cover or add Income protection cover with no health assessment provided you are under 60 and your application is received within 90 days of the date on your welcome letter or email.</h5>
              </div>               
            </div>           
            
            <p class="spacer visible-xs">&nbsp;</p>
            
            
         <!-- <div class="col-sm-2 bgwhite borderright5px  h130px pointer " ng-if="newMemberOffer" ng-click="go('/auratransfer')">  -->    
         	  <div class="col-sm-4 bgwhite   h130px pointer " ng-if="newMemberOffer" id="newMemberTransferCoverId" tabindex="0" ng-click-accessible ng-click="go('/quotetransfer/1',true)">       
              <div class="box mt10px    aligncenter"> <img src="static/hesta/images/bg_blank.png" alt="Transfer your existing cover" class="icoRefresh mt15px " >
                <h5 class="color3 mt15px" style="text-transform:none;">Transfer your existing cover<br>
                  &nbsp; <span class="visible-sm"><br>
                  <br>
                  </span></h5>
                  <h6 class="color2" style="text-transform:none;">Use this option to apply to transfer your existing cover to CareSuper if you have insurance cover through another superannuation fund or if you wish to transfer from personal plan to employee plan.</h6> 
              </div>
              
            </div>
            <div class="col-sm-4 bgwhite  bordertop5px h130px"  ng-if="newMemberOffer" tabindex="0">
              <div class="box mt10px    aligncenter"> <img src="static/hesta/images/bg_blank.png" alt="Retrieve or track previous applications" class="icoDollar mt15px" >
                <h5 class=" color3 mt15px" style="text-transform:none;">Retrieve or track previous applications</h5>
                <h6 class="color2" style="text-transform:none;">Use this option to retrieve previously saved online applications or track the status of applications.</h6> 
              </div>
            </div>             
           
            <!-- <div class="col-sm-4 bgwhite borderright5px    h130px pointer  " ng-if="!newMemberOffer" ng-click="go('/auratransfer')">    -->    
            <div class="col-sm-4 bgwhite borderright5px    h130px pointer  " ng-if="!newMemberOffer" id="transferCoverId" tabindex="0" ng-click-accessible ng-click="maxAge >= 60 || go('/quotetransfer/1',true)">      
              <div class="box mt10px    aligncenter">
                <img src="static/hesta/images/bg_blank.png" alt="Transfer your existing cover" class="icoRefresh mt15px" >
                 <h5 class="color2 mt15px" ng-if="maxAge >= 60" style="text-transform:none;">Transfer your existing cover<br>
                  &nbsp; <span class="visible-sm"><br>
                  <br>
                  </span></h5>
                <h5 class="color3 mt15px" ng-if="maxAge <= 59" style="text-transform:none;">Transfer your existing cover<br> &nbsp;<span class="visible-sm"><br><br><br>  </span> </h5>
                 <h6 class="color2" style="text-transform:none;">Use this option to apply to transfer your existing cover to CareSuper if you have insurance cover through another superannuation fund or if you wish to transfer from personal plan to employee plan.</h6> 
              </div>
            </div>
            
      		 <div class="col-sm-4 bgwhite h130px pointer" ng-if="!newMemberOffer" id="retrieveCoverId" tabindex="0" ng-click-accessible ng-click="go('/retrievesavedapplication',true)" >
              <div class="box mt10px    aligncenter">
                <img src="static/hesta/images/bg_blank.png" alt="Retrieve or track previous applications" class="icoDollar mt15px" >
                <h5 class=" color3 mt15px" style="text-transform:none;">Retrieve or track previous applications </h5>
                <h6 class="color2" style="text-transform:none;">Use this option to retrieve previously saved online applications or track the status of applications.</h6> 
              </div>
            </div> 
            
            <div class="col-sm-4 bgwhite borderright5px  bordertop5px h130px pointer" id="workRatingCoverId" tabindex="0" ng-click-accessible
             ng-click="(deathCover.amount=='0.0' && tpdCover.amount=='0.0' && ipCover.amount=='0.0') ||go('/quoteoccchange/1',true)" ng-if="!newMemberOffer"> 
            <!-- <div class="col-sm-4 bgwhite borderright5px  bordertop5px h130px pointer  "  ng-if="!newMemberOffer">     -->        
              <div class="box mt10px    aligncenter">
                <img src="static/hesta/images/bg_blank.png" class="icoEdit mt15px" alt="Update your occupational category" >
               <h5 class="color2 mt15px" ng-if="deathCover.amount=='0.0' && tpdCover.amount=='0.0' && ipCover.amount=='0.0'" style="text-transform:none;">Update your <br> occupational category <span class="visible-sm"><br><br><br>  </span> </h5>
                 <h5 class="color3 mt15px" ng-if="deathCover.amount!='0.0' || tpdCover.amount!='0.0' || ipCover.amount!='0.0'" style="text-transform:none;">Update your <br> occupational category <span class="visible-sm"><br><br><br>  </span> </h5>
                <h6 class="color2" style="text-transform:none;">Use this option to apply to update your occupational category if you have recently changed occupation.</h6> 
              </div>
            </div>
            
            
             <div class="col-sm-4 bgwhite  bordertop5px h130px pointer" id="cancelCoverId" tabindex="0" ng-click-accessible  ng-click="go('/quotecancel/1',true)" ng-if="!newMemberOffer"> 
            <!--<div class="col-sm-4 bgwhite  bordertop5px h130px "  ng-if="!newMemberOffer"> -->
              <div class="box mt10px    aligncenter">
                <img src="static/hesta/images/bg_blank.png" alt="Cancel all cover" class="icoDelete mt15px" >
                <h5 class=" color3 mt15px" style="text-transform:none;">Cancel <br> all cover <span class="visible-sm"><br><br><br> </span> </h5>
                <h6 class="color2" style="text-transform:none;">Use this option to cancel all your insurance cover with CareSuper.  Note: if you reapply for insurance cover with CareSuper in the future, you will need to go through underwriting.</h6> 
              </div>
            </div>
            
             <div class="col-sm-4 bgwhite borderright5px  bordertop5px h130px pointer" id="newMemberWorkRatingId" tabindex="0" ng-click-accessible  ng-click="go('/quoteoccchange/1',true)" ng-if="newMemberOffer"> 
            <!--<div class="col-sm-2 bgwhite borderright5px  bordertop5px h130px pointer  "  ng-if="newMemberOffer">  -->          
              <div class="box mt10px    aligncenter">
                <img src="static/hesta/images/bg_blank.png" alt="Update your occupational category" class="icoEdit mt15px" >
                <h5 class="color3 mt15px" style="text-transform:none;">Update your <br> occupational category <span class="visible-sm"><br><br><br>  </span> </h5>
                <h6 class="color2" style="text-transform:none;">Use this option to apply to update your occupational category if you have recently changed occupation.</h6> 
              </div>
            </div>
            
            
           <div class="col-sm-4 bgwhite  bordertop5px  borderright5px h130px pointer" id="newMemberCancelCoverId" tabindex="0" ng-click-accessible ng-click="go('/quotecancel/1',true)" ng-if="newMemberOffer"> 
            <!--<div class="col-sm-2 bgwhite  bordertop5px h130px "  ng-if="newMemberOffer">-->
              <div class="box mt10px    aligncenter">
                <img src="static/hesta/images/bg_blank.png" alt="Cancel all cover" class="icoDelete mt15px" >
                <h5 class=" color3 mt15px" style="text-transform:none;">Cancel <br> all cover <span class="visible-sm"><br><br><br> </span> </h5>
                <h6 class="color2" style="text-transform:none;">Use this option to cancel all your insurance cover with CareSuper.  Note: if you reapply for insurance cover with CareSuper in the future, you will need to go through underwriting.</h6> 
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="panel panel-default nobg">
        <div class="panel-heading" tabindex="0"> <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" class="  ">
          <h4 class="panel-title" style="text-transform:none;">Insurance calculators </h4>
          </a> </div>
        <div id="collapseThree" class="panel-collapse collapse  in    ">
           
           <div class="panel-body">
          
          
            <div class="col-sm-4 bgwhite borderright5px h260px pointer " id="insuranceCoverId" tabindex="0" ng-click-accessible ng-click="openWindow('https://www.e2e.eapplication.metlife.com.au/eApplication/InsCalcController?s=' + calcEncrpytURL)">
           <!--  <div class="col-sm-4 bgwhite borderright5px h260px pointer "  >  -->
              <div class="box mt10px    aligncenter">
                <img src="static/hesta/images/bg_blank.png" alt="Insurance cover" class="icoFile mt30px" >
                <h4 class=" mt15px" style="text-transform:none;">Insurance<br> cover </h4>
                <h5 class="color2" style="text-transform:none;">How much insurance cover<br> do i need?</h5>
                <h6 class="color2">Use this option to determine the amount of insurance cover you require based on your personal and financial situation.</h6> 
              </div>
            </div>
            
            
            <p class="spacer visible-xs">&nbsp;</p>
            <div class="col-sm-4 bgwhite borderright5px  h260px pointer " id="insuranceCostrId" tabindex="0" ng-click-accessible ng-click="openWindow('https://www.e2e.eapplication.metlife.com.au/eApplication/QuickQuoteController?S=' + calcEncrpytURL)"> 
           <!--  <div class="col-sm-4 bgwhite borderright5px  h260px pointer "  > -->
              <div class="box mt10px aligncenter ">  
               <img src="static/hesta/images/bg_blank.png" alt="Insurance cost" class="icoWallet mt30px" >
                <h4 class="color3 mt15px" style="text-transform:none;">Insurance <br> cost</h4>
                <h5 class="color2" style="text-transform:none;">How much will my insurance cost? <span class="visible-sm"><br></span></h5>
                <h6 class="color2">Use this option to quickly calculate the estimated cost of insurance cover that you require.</h6> 
              </div>
               
            </div>
            
            
            <p class="spacer visible-xs">&nbsp;</p>
            
            
            <div class="col-sm-4 hidden-xs">
               &nbsp;
            </div>
            <p class="spacer hidden-xs">&nbsp;</p>
            <div class="col-sm-6   bgwhite borderright15px aligncenter">
            	 <p class="spacer">&nbsp;</p>
            	 <h4 class="color3   " style="text-transform:none;">Talk to a financial planner</h4>
                 <img src="static/hesta/images/adviser.png"  alt="Talk to a financial planner">
                 <p>Not sure how much cover you need? CareSuper members have access to super-related advice over the phone from qualified financial planners at no extra cost.<br>&nbsp;</p>
                 <div class="col-sm-1 col-md-3">
                 &nbsp;
                 </div>
                 <div class="col-sm-9 col-md-6">
                 <a href="https://www.caresuper.com.au/advice" target="_blank" style="color:#FFFFFF;font-size:17px;font-weight:bold;" id="bu3" class="btn btn-primary w100p">Learn more</a>
                 </div>
                 <p class="spacer">&nbsp;</p><p class="spacer visible-xs">&nbsp;</p>
            </div>
            
            
            <div class="col-sm-6   bgwhite borderleft15px aligncenter">
            	 <p class="spacer">&nbsp;</p>
            	 <h4 class="color3   " style="text-transform:none;">Insurance to suit your needs</h4>
                 <img src="static/hesta/images/ico_kss.png" alt="Insurance to suit your needs" >
                 <p>If your income was suddenly taken away, insurance cover could help reduce the impact on you or your family. CareSuper offers eligible members death, TPD and income protection cover at competitive rates. <span class="visible-lg"></span></p>
                 <div class="col-sm-1 col-md-3">
                 &nbsp;
                 </div>
                 <div class="col-sm-9 col-md-6">
                  <a href="https://www.caresuper.com.au/content/standard-cover" target="_blank" style="color:#FFFFFF;font-size:17px;font-weight:bold;" id="bu3" class="btn btn-primary w100p">Learn more</a>
                 </div>
                 <p class="spacer">&nbsp;</p><p class="spacer visible-xs">&nbsp;</p>
            </div>
            
            
            
            
          </div>
          
          
           
        </div>
      </div>
    </div>
    
    <!-- <div class="row mt20px">
    <div class="  col-xs-12 visible-xs ">
      <div class="logoutxs pointer " ng-click="openWindow('https://www.caresuper.com.au/about-us')"> <a>About Us</a> </div>
      <div class="logoutxs  pointer nobordertop" ng-click="openWindow('https://member.aas.com.au/#/ContactUs')"> <a>Contact Us</a> </div>
      
     </div>
    </div>  -->
    
    
    
     <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
          <p class="helpTxt aligncenter">Like to speak to someone?</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3>
          <h3 class="helpNo aligncenter"> 8am&ndash;8pm weekdays</h3>
        </div>
      </div>
    </div>
</div>
 	
 </div>
  
  <!-- /container --> 
 <p class="spacer">&nbsp;</p>
<div class="c-footer hidden-xs">
  <div class="container">
   <div class="col-sm-2   "> <p class="footertext">&nbsp;  </p> </div>
    <div class="col-sm-7   ">
      <p class="footertext">HESTA (ABN): 64 971 749 321</p>
    </div>	
    <div class="col-sm-3   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
        <!--  | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> --> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
 
      <div class=" col-xs-12 aligncenter ">
        <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a> 
        <!-- | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> --> </p>
        <p class="footertext"> &copy; HESTA (ABN): 64 971 749 321</p>
      </div>
   <p class="spacer">&nbsp;</p>
  </div>

<!-- New Member Popup starts --> 
		<div aria-hidden="false" aria-labelledby="mymodalNewMemLabel" role="dialog" tabindex="-1" class="modal fade in" id="mymodalNewMem" style="display: none;" 
		 onclick="document.getElementById('mymodalNewMem').style.display = 'none';document.getElementById('mymodalNewMemFade').style.display = 'none';" >
		  <div class="modal-dialog hhints">
		    <div id="modal-content-id" class="modal-content">
		       <div class="modal-header">
			      <a onclick="document.getElementById('mymodalNewMem').style.display = 'none';document.getElementById('mymodalNewMemFade').style.display = 'none';" 
			          data-dismiss="modal" aria-hidden="true"> <button class="close xi" type="button">X</button>
		          </a>
		       </div>
			   <div class="modal-body">
			    <h4 class="modal-title aligncenter" id="mymodalNewMemLabel"> New member</h4>
		      	<!-- Row starts -->
		         <div class="row  rowcustom  ">
		          <div class="col-sm-12">
		            <p class="aligncenter">
		              <div id="newMember_text"></div>
		            </p>
		           </div>
		         </div>
		       <!-- Row ends -->
		      </div>
				        
		      <div class="modal-footer mt0 pt0">
		       <div class="row">
		        <div class="col-sm-4"></div>
		         <div class="col-sm-4 col-xs-12">
		          <a onclick="document.getElementById('mymodalNewMem').style.display = 'none';document.getElementById('mymodalNewMemFade').style.display = 'none';">
		           <!-- <button class="btn btn-primary w100p" type="button" ng-click="go('/quote')">Yes</button> -->
		          </a> 
		          <button class="btn btn-primary w100p" type="button" ng-click="go('/newmemberquote/1',true)">Yes</button>
		         </div>
		         <div class="col-sm-4 col-xs-12">
		          <a onclick="document.getElementById('mymodalNewMem').style.display = 'none';document.getElementById('mymodalNewMemFade').style.display = 'none';">
		           <!-- <button class="btn btn-primary w100p" type="button" ng-click="go('/newmemberquote')">No</button>-->
		          </a> 
		            <button class="btn btn-primary w100p" type="button" ng-click="go('/quote/1',true)">No</button>
		         </div>
		         <div class="col-sm-4"> </div> 
		        </div>
		      </div>
		     </div>
			    <!-- /.modal-content --> 
		  </div>
	    <!-- /.modal-dialog --> 
	  </div>
	 <div class="modal-backdrop fade in" id= "mymodalNewMemFade" style="display:none;"> 
  </div>
  </div>
<!--New Member Popup ends -->

<!-- <script type="text/javascript">
    function showNewMemberPopUp(val){	
   		if(val == null || val == "" || val == " "){
   			hideTips();
   		}else{
   		 document.getElementById('mymodalNewMem').style.display = 'block';
   		 document.getElementById('mymodalNewMemFade').style.display = 'block';
   		 document.getElementById('newMember_text').innerHTML=val;	
   		}
   	}
     function hideTips (){
   		if(document.getElementById('help_div')){
   			document.getElementById('help_div').style.display = "none";
   		}						
   	}
</script>
 -->
<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider2' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount2' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script>

