<div class="c-header">
  <div class="container">
    <div class="  col-xs-3  "> 
     <img src="static/hesta/images/logo.png" class="img-responsive  c-logo" alt="CareSuper Australia" />
    </div>
    <div class="  col-xs-9 hidden-xs  ">
      <div class="logout noborderleft pointer"><a  ng-click="navigateToLandingPage()" >Home</a> </div>
      <div class="logout noborderleft"><a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a> </div>
      <div class="logout">  <a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a> </div>
    </div>
    <div class="  col-xs-9 visible-xs  ">
      <div class="logout mob"> <a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a> <br>
        <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a> <br>
        <div class="pointer"><a  ng-click="navigateToLandingPage()" >Home</a> </div>
      </div>
    </div>
  </div>
</div>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-xs-3"> 
    <img src="static/hesta/images/bg_blank.png" class=" icoMenuRev active  "> 
    <img src="static/hesta/images/bg_blank.png" class=" icoMenuFwd  ml30p">
    </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149</h3> -->
       <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1800 813 327</h3>
      <h3 class="helpNo"> </h3>
    </div>
     
  </div>
   <div class="col-sm-9">
	    <div class="menu hidden-xs">
	       <div class="col-sm-4 nn">
	        <h5 style="color:#0066a1">Step 1</h5>
	        <div class="txtHolder"> <a ng-click="go('/newmemberquote/2')"> Personal details</a> </div>
	        <img src="static/hesta/images/bg_blank.png" class=" right">
	       </div>
	        <div class="col-sm-4 nl">
	         <img src="static/hesta/images/bg_blank.png" class=" left">
	         <h5 style="color:#0066a1">Step 2</h5>
	         <div class="txtHolder"> <a ng-click="go('/auraspecialoffer/2')"> Health &amp; lifestyle</a></div>
	         <img src="static/hesta/images/bg_blank.png" class=" right">
	        </div>
	        <div class="col-sm-4 cn">
	         <h5>Step 3</h5>
	         <div class="txtHolder" style="color:#000"> Confirmation </div>
	         <img src="static/hesta/images/bg_blank.png" class=" left"> 
	        </div>
	     </div>
	     
	    <div class="panel-group" id=" ">
	      <div class="panel panel-default">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="  ">
	          	<h4 class="panel-title">Personal details </h4>
	          </a> 
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse in ">
	          <div class="panel-body"> 
	            <!-- Row starts -->
	            <div class="row rowcustom first">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Name</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	                <label class="control-label">{{newMemberCoverDetails.name}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Date of birth</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label"> {{newMemberCoverDetails.dob}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            
	            <!-- Row starts -->
	          <!--<div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong> Resident status </strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	                <label class="control-label">{{newMemberCoverDetails.country}}</label>
	              </div>
	            </div> 
	             <hr class="primeline"> -->  
	            <!-- Row ends -->
	           
	            <!-- Row starts -->
	            <!-- <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>Smoker</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	                <label class="control-label">No</label>
	              </div>
	            </div>
	            Row ends
	            <hr class="primeline"> -->
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Email address</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{newMemberCoverDetails.email}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Preferred contact number </strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{newMemberCoverDetails.contactPhone}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>What time of day do you prefer to be contacted?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <!-- <label class="control-label">{{newMemberCoverDetails.contactPrefTime}}</label> -->
	               <label class="control-label" ng-if="newMemberCoverDetails.contactPrefTime=='Morning (9am - 12pm)'">Morning (9am&ndash;12pm)</label>
	               <label class="control-label" ng-if="newMemberCoverDetails.contactPrefTime=='Afternoon (12pm - 6pm)'">Afternoon (12pm&ndash;6pm)</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Do you work 15 or more hours per week?</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{newOccDetails.fifteenHr}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            <!-- Row ends -->
	            
	            <!-- Row starts -->
	            <!-- <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Are you a citizen or permanent resident of Australia?</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{newOccDetails.citizenQue}}</label>
	              </div>
	            </div> -->
	            <!-- Row Ends -->
	            <!-- <hr class="primeline">  -->
	            
	            
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>What industry do you work in?</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{newOccDetails.industryName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>What is your current occupation?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	                <label class="control-label" ng-show="newOccDetails.occupation !='Other'">{{newOccDetails.occupation}}</label>
	                <label class="control-label" ng-show="newOccDetails.occupation =='Other'">{{newOccDetails.otherOccupation}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><p align="justify"> <strong>Are the duties of your occupation limited to professional, managerial, administrative, clerical, secretarial or similar 'white collar' tasks which do not involve manual work and are undertaken entirely within an office environment (excluding travel time from one office environment to another)?</strong></p></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{newOccDetails.withinOfficeQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends -->
	            <hr class="primeline">
	             <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><p align="justify"> <strong>Do you hold a tertiary qualification or are you a member of a professional institute or registered as a practising member of your profession by a government body?</strong></p></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{newOccDetails.tertiaryQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends -->
	            <hr class="primeline">
	             <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Are you in a management role?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{newOccDetails.managementRoleQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends -->
	            <hr class="primeline">
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>Gender</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{newOccDetails.gender}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            <!-- Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Annual salary</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	              <label class="control-label">{{newOccDetails.salary | currency:undefined:0}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <!--  <hr class="primeline">
	            
	            Row starts
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Have you previously been paid a TPD claim from any source?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{newMemberCoverDetails.previousTpdClaimQue}}</label>
	              </div>
	            </div> -->
	            <!-- Row ends -->
	           <!--  <hr class="primeline">
	            
	            Row starts
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Have you previously been paid a terminal illness claim from any source?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{newMemberCoverDetails.terminalIllClaimQue}}</label>
	              </div>
	            </div> -->
	            <!-- Row ends -->
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default nobg">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" class="">
	            <h4 class="panel-title"> Your cover</h4>
	            </a>
	        </div>
	        <div id="collapseTwo" class="panel-collapse collapse  in    ">
	           <div class="panel-body">
	           
	            <div class="row   ">
	            <!-- Death Cover Details Starts--> 
	            <div class="col-sm-4 bgwhite borderright5px h350px">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Death<br>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px    aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p>{{newMemberCoverDetails.newExistingDeathAmt | currency:undefined:0}} </p>
	                <h5 class=" color2">New cover</h5>
	                <p>{{deathAddnlDetails.newDeathLabelAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category</h5>
	                <p>{{newMemberCoverDetails.deathOccCategory}}</p>
	                <h5 class=" color2">Weekly cost</h5>
	                <p>{{deathAddnlDetails.newDeathCoverPremium | currency}}</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="spacer visible-sm visible-md">&nbsp;</p>
	                <p class="spacer visible-sm visible-md mtm3px">&nbsp;</p>
	                <p class="spacer mt20px visible-sm ">&nbsp;</p>
	                
	              </div>
	            </div>
	            <!-- Death Cover Details Ends--> 
	            
	            <p class="spacer visible-xs">&nbsp;</p>
	            
	           <!-- TPD Cover Details Starts--> 
	           <div class="col-sm-4 bgwhite borderright5px h350px ">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Total &amp; permanent<br> disablement</strong> 
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px    aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p>{{newMemberCoverDetails.newExistingTpdAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">New cover</h5>
	                <p>{{tpdAddnlDetails.newTpdLabelAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category</h5>
	                <p>{{newMemberCoverDetails.tpdOccCategory}}</p>
	                <h5 class=" color2">Weekly cost</h5>
	                <p>{{tpdAddnlDetails.newTpdCoverPremium | currency}}</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="spacer visible-sm visible-md">&nbsp;</p>
	                <p class="spacer visible-sm visible-md mtm3px">&nbsp;</p>
	                <p class="spacer mt20px visible-sm ">&nbsp;</p>
	              </div>
	              </div>
	             <!-- TPD Cover Details Ends--> 
	             
	             <p class="spacer visible-xs">&nbsp;</p>
	             
	             <!-- IP Cover Details Starts-->
	             <div class="col-sm-4 bgwhite h350px">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong> Income <br> protection <span class="visible-sm"><br>
	                </span></strong>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	           <!-- <p>{{newMemberCoverDetails.existingIPAmt | currency:undefined:0}}</p> -->
	                <p>{{newMemberCoverDetails.newExistingIPUnits}} Unit(s)</p>
	                <h5 class=" color2">New cover</h5>
	                <p>{{ipAddnlDetails.newIpLabelAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Waiting period</h5>
	                <p>{{ipAddnlDetails.newWaitingPeriod}}</p>
	                <h5 class=" color2">Benefit period</h5>
	                <p>{{ipAddnlDetails.newBenefitPeriod}}</p>
	                <h5 class=" color2">Occupational category</h5>
	                <p>{{newMemberCoverDetails.ipOccCategory}}</p>
	                <h5 class=" color2">Weekly cost</h5>
	                <p>{{ipAddnlDetails.newIpCoverPremium | currency}}</p>
	                <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="spacer visible-sm visible-md">&nbsp;</p>
	                <p class="spacer visible-sm visible-md mtm3px">&nbsp;</p>
	                <p class="spacer mt20px visible-sm ">&nbsp;</p>
	              </div> 
	               </div>
	               <!-- IP Cover Details Ends-->
	             <!-- <div class="box mt10px aligncenter "> 
	                <p class=" mt15px">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class=" visible-sm ">&nbsp;</p>
	              </div> -->
	            </div>
	            
	               
	               
	              
	              
	                 <!-- <div class="box mt10px aligncenter "> 
	                 <p class=" mt15px">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer visible-sm visible-md">&nbsp;</p>
	                 <p class=" visible-sm ">&nbsp;</p>
	               </div> -->
	            </div>
	          </div>
	            
	              
	              <div class="row  mt0  coverbg seccolor ">
		            <div class="col-sm-9 col-xs-6">
		              <h5>Total weekly cost</h5>
		            </div>
		            <div class="col-sm-3 col-xs-6 alignright">
		              <h4 class="coverval">{{newMemberCoverDetails.totalPremium | currency}}</h4>
		            </div>
	              </div>
	           <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by CareSuper</p>
	           </div>
	        </div>
      </div>
      
       <!-- Check bok for loading and exclusions  -->
      <!--  <div class="col-sm-9 bgwhite" ng-if="newAuraDetails.specialTerm == true">
        <div class="row rowcustom">
              <div class="col-sm-12">
              
              </div>
            </div>
             <hr class="primeline">
              <div class="row rowcustom " ng-class="{'has-error':LEFlag}" ng-click="checkAckStateLE()">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom">
                     <div class="col-sm-12">
                      <label class="btn  checkboxes   " id="lodadingExclusionLabel">
                       <input type="checkbox" class=" " id="lodadingExclusionId">
                       <span></span> I acknowledge I have read and understood the above exclusion(s) and/or loading(s) which apply to this cover.
                      </label>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
              </div> -->
              
       <div class="panel panel-default nobg">
        <div class="panel-heading">  
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" class="  ">
           <h4 class="panel-title"> Terms &amp; conditions </h4>
          </a> 
        </div>
        <div id="collapse4" class="panel-collapse collapse in ">
          <div class="col-sm-9 bgwhite">
			 <!-- Row starts -->
            <div class="row rowcustom">
              <div class="col-sm-12">
               <!-- <p> <strong>Duty of Disclosure </strong></p>
               <p> <strong class="color2">Insurance duty of disclosure </strong></p>
                <p align="justify">Before CareSuper as Trustee of the Fund enters into a life insurance contract in respect of the life of another person (a member), it has a duty to tell the insurer anything that it knows or could reasonably be expected to know that may affect the insurer's decision to provide the insurance and on what terms.</p>
                <p align="justify">CareSuper has this duty of disclosure until the insurance is provided. CareSuper has the same duty before it extends, varies or reinstates the contract.</p>
                <p align="justify">CareSuper does not need to tell the insurer anything that:
                	<br>
               		<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
               			<li>Reduces the risk of the insurance, or</li>
               			<li>Is common knowledge, or</li>
               			<li>The insurer knows or should know as an insurer, or</li>
               			<li>The insurer waives the duty to tell the insurer about.</li>
           			</ul>
       			</p>
                
                <p>If you as a member of CareSuper do not tell the insurer something</p>
                <p align="justify">If you as the person whose life is to be insured as a member of CareSuper do not tell the insurer something that you know or could reasonably be expected to know that may affect the insurer's decision to provide the insurance and on what terms, this may be treated as a failure by CareSuper.</p>
                <p >If CareSuper does not tell the insurer something</p>
                <p align="justify">In exercising the following rights, the insurer may consider whether different types of cover can constitute separate contracts of life insurance.</p>
                <p>If the insurer does, it may apply the following rights separately to each type of cover.</p>
                <p>
                	<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
                		<li>If CareSuper does not tell the insurer anything they are required to and the insurer would not have provided the 
                		 insurance if they had been told, the insurer may avoid the contract within three years of entering into it.</li>
                		<li>If the insurer chooses not to avoid the contract, it may at any time reduce the amount of insurance provided. This would be worked out using the
                		 formula that takes into account the premium that would have been payable if CareSuper had told the insurer everything it should have. However, 
                		 if the contract has a surrender value or provides cover on death, the insurer may only exercise this right within three 
                		 years of entering into the contract.</li>
                		<li>If the insurer chooses not to avoid the contract or reduce the amount of insurance provided, it may at any time vary the contract in a way that places the insurer in the same position it would have been in if CareSuper had told the insurer everything it should have.  However, this right does not apply if the contract has a surrender value or provides cover on death.</li>
                		<li>If the failure to comply with the duty of disclosure is fraudulent, the insurer may refuse to pay a claim and treat the contract as if it never existed.</li>
               		</ul>
           		</p> -->
           		<p> <strong>Duty of disclosure </strong></p>
               <p> <strong class="color2">Insurance duty of disclosure </strong></p>
                <p align="justify"> Before CareSuper enters into an insurance contract in respect of a member, it has a duty to tell the insurer anything it knows or could reasonably be expected to know that may affect the insurer's decision to provide the insurance and on what terms.</p>
                <p align="justify">CareSuper has this duty of disclosure until the insurance is provided.CareSuper has the same duty before it extends, varies or reinstates the contract.</p>
                <p align="justify">CareSuper does not need to tell the insurer anything that:
                	<br>
               		<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
               			<li>Reduces the risk of the insurance</li>
               			<li>Is common knowledge</li>
               			<li>The insurer knows or should know as an insurer, or</li>
               			<li>The insurer waives the duty to tell the insurer about.</li>
           			</ul>
       			</p>
                
                <p><strong>If you as a member of CareSuper do not tell the insurer something</strong></p>
                <p align="justify">If you, as the person whose life is to be insured as a member of CareSuper, do not tell the insurer something you know or could reasonably be expected to know that may affect the insurer's decision to cover you and on what terms, this may be treated as a failure by CareSuper.</p>
                <p><strong>If CareSuper does not tell the insurer something about you</strong>
                <br>
                <!-- <p align="justify">In exercising the following rights, the insurer may consider whether different types of cover can constitute separate contracts of life insurance.</p> -->
               <!--  <p>If the insurer does, it may apply the following rights separately to each type of cover.</p> -->
             <!--    <p> -->
                	<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
                		<li>If CareSuper does not tell the insurer something it is required to and the insurer would not have provided you with the insurance if it had been told, the insurer may avoid the contract within three years of entering into it.</li>
                		<li>If the insurer chooses not to avoid the contract, it may at any time reduce the amount of insurance provided to you. This would be worked out using a formula that takes into account the premium that would have been payable if CareSuper had told the insurer everything it should have. However, if the contract has a surrender value or provides cover on death, the insurer may only exercise this right within three years of entering into the contract.</li>
                		<li>If the insurer chooses not to avoid the contract or reduce the amount of insurance provided, it may at any time vary the contract in a way that places the insurer in the same position it would have been in if CareSuper had told the insurer everything it should have. However, this right does not apply if the contract has a surrender value or provides cover on death.</li>
                		<li>If the failure to comply with the duty of disclosure is fraudulent, the insurer may refuse to pay a claim and treat the contract as if it never existed.</li>
               		</ul>
           		</p>
           		  <p align="justify">In exercising its rights, the insurer may consider whether different types of cover can constitute separate contracts of insurance, and may apply its rights separately to each type of cover.</p>
              </div>
            </div>
             <hr class="primeline">
              <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':NMDDackFlag}" ng-click="checkAckStateDDNM()">
                     <div class="col-sm-12">
                      <label class="btn  checkboxes   " id="DutyOfDisclosureLabelNM">
                       <input type="checkbox" class=" " id="option2">
                       <span></span> I acknowledge and consent to the above.
                      </label>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            <!-- Row ends -->
            <hr class="primeline">
            <div class="row rowcustom ">
              <div class="col-sm-12">
               <p> <strong>Privacy statement</strong></p>
                <p align="left">Personal information is protected by the CareSuper Privacy Policy. The CareSuper Privacy Policy outlines the approach that CareSuper takes to the personal information which is collected in the course of work. CareSuper is bound by 
                  the Australian Privacy Principles contained in the Privacy Act 1988 (and subsequent amendments). For more information, please contact
                  CareSuper or obtain a copy of the Privacy Policy from 
                  <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">www.caresuper.com.au/privacy-policy</a>
                </p>
                <p> <strong class="color2">MetLife's Privacy Statement </strong></p>
                <p align="justify">Your privacy with MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife and the Insurer')</p>
                <p align="justify">The personal information you provide in the form is necessary for us to provide you with the products and services you have
                 requested from us, and to manage your claims. You do not have to provide us with your personal information, but if you do not do so we 
                 may not be able to provide you with our products or services. MetLife Insurance Limited complies with the Privacy Act 1988 and the 
                 principles laid out in its privacy policy which details information about how you may access or seek correction of the your personal 
                 information, how we manage that information and our complaints process. MetLife's Privacy Policy is readily available and can be viewed 
                 at <a href="https://www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy</a>.
               </p>
             </div>
            </div>
            <hr class="primeline">
              <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':NMPPackFlag}" ng-click="checkAckStatePPNM()">
                     <div class="col-sm-12">
                      <label class="btn  checkboxes   " id="privacyPolicyLabelNM">
                       <input type="checkbox" class=" " id="option2">
                       <span></span>I acknowledge and consent to the  collection, use and disclosure of my personal information (including health information) in accordance with the privacy policies of CareSuper and MetLife.
                       <!-- <span></span>I acknowledge and consent to the above. -->
                      </label>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            <!-- Row ends -->
            <hr class="primeline">
            
             <div class="row rowcustom ">
              <div class="col-sm-12">
               <p> <strong>General consent</strong></p>
               <p align="justify">By clicking on the tick box below, I declare that:</p><p align="justify">I have read and understood the CareSuper Member Guide PDS and the incorporated Insurance Guide.</p><p align="justify">I have read and understand my Duty of Disclosure and the consequences of failing to comply with this Duty. I understand that this Duty applies until formal notice of acceptance of my application.</p><p align="justify">The answers to the questions in this application are true and complete, and I have not deliberately withheld any information material to the proposed insurance.</p><p align="justify">I agree to be bound by the terms and conditions as set out in the insurance policy contract between CareSuper and MetLife Insurance Limited (MetLife).</p><p align="justify">I have read the CareSuper privacy policy available at <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">www.caresuper.com.au/privacy-policy</a> and the MetLife Privacy Policy <a href="https://www.metlife.com.au/privacy/index.html" class="" target="_new">www.metlife.com.au/privacy/index.html</a>  and I consent to the collection, use and disclosure of my personal (including sensitive) information in accordance with the terms of these documents.</p><p align="justify">I authorise any doctor, hospital, physician or other person who has attended me to furnish MetLife or its representatives, any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records. I agree that a photocopy or electronic version of this authorisation shall be considered as effective as a hard copy original.</p><p align="justify">I understand that my insurance cover will not become effective until MetLife has accepted this application in writing. I understand that increases or changes to insurance premiums may apply.</p><p align="justify">I understand that the acceptance of the proposed increased amount of insurance is conditional upon my disclosure of all matters known to me that are relevant to MetLife's decision to increase the amount insured. If this condition is not met, MetLife may, among other things, reduce or not pay the increased amount of insurance.</p><p align="justify">I understand that if I apply for any other increase in cover when this application is not yet finalised, the additional cover amounts applied for under this application may be reduced or not paid.</p>
             </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
              <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':NMGCackFlag}" ng-click="checkAckStateGCNM()">
                     <div class="col-sm-12">
                      <label class="btn  checkboxes   " id="generalConsentLabelNM">
                       <input type="checkbox" class=" " id="option2">
                       <span></span> I acknowledge and consent to the above.
                      </label>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            
            <hr class="primeline">
            <div class=" row rowcustom">
            	<div class="col-sm-3 col-xs-12">
			        <a class="" href="" data-parent="#accordion" data-toggle="collapse">
			             <button  class="btn btn-primary w100p" type="button"  ng-click="go('/auraspecialoffer/2')">Previous</button>
			        </a>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12">
                <button type="button" class="btn btn-primary w100p" ng-click="navigateToDecision()" >Submit</button>
              </div>
              <!-- <div class="col-sm-3 col-xs-12 alignleft hidden-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-click="saveNewMemberSummary()" > Save &amp; Exit</button>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12 aligncenter   visible-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-click="saveNewMemberSummary()" > Save &amp; Exit</button>
              </div> -->
            </div>
         </div>
        </div>
       </div>
        
    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
          <p class="helpTxt aligncenter">Like to speak to someone?</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3>
          <h3 class="helpNo aligncenter"> 8am&ndash;8pm weekdays</h3> 
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-2   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext"> HESTA (ABN): 64 971 749 321</p>
    </div>	
    <div class="col-sm-3   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
         <!-- | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> -->
         </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
     <!-- | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> --> </p>
    <p class="footertext"> &copy; CARE Super Pty Ltd (Trustee) ABN 91 006 670 060 AFSL 235226 CARE Super (Fund) ABN 98 172 275 725</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>


<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider2' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount2' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script>

