﻿<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="images/favicon.ico">
<title>CareSuper</title>

<!-- Bootstrap core CSS -->
<!-- <link href="css/bootstrap.css" rel="stylesheet"> -->
<!-- <link href="css/docs.min.css" rel="stylesheet"> -->
<!-- <link rel="stylesheet" type="text/css" media="screen" href="css/datepicker.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-select.css"> -->

<!-- Custom styles for this template -->
<!-- <link href="css/custom.css" rel="stylesheet"> -->

<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="tooltip-demo">

<div class="c-header">
  <div class="container">
    <div class="  col-xs-3  "> 
     <img src="static/hesta/images/logo.png" class="img-responsive  c-logo" alt="CareSuper Australia" />
    </div>
    <div class="  col-xs-9 hidden-xs  ">
      <!-- <div class="logout noborderleft pointer"><a  ng-click="navigateToLandingPage()" >Home</a> </div> -->
      <div class="logout noborderleft"><a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a> </div>
      <div class="logout">  <a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a> </div>
    </div>
    <div class="  col-xs-9 visible-xs  ">
      <div class="logout mob"> <a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a> <br>
        <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a> <br>
       <!--  <div class="pointer"><a  ng-click="navigateToLandingPage()" >Home</a> </div> -->
      </div>
    </div>
  </div>
</div>
<div class="container ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
<div class=" col-sm-3 fright hidden-xs">
  <div class="help-block">
    <h2 class="helpHead">Need help?</h2>
    <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
    <h3 class="helpNo"> 1300 360 149</h3> -->
     <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1800 813 327</h3>
      <h3 class="helpNo"> </h3>
  </div>
</div>
<div class=" col-sm-9">
  <div class="panel-group" id=" ">
    <div class="panel panel-default mt5px"> 
      <!--div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href=" " class=" ">
          <h4 class="panel-title"> Personal details </h4>
          </a> </div-->
      <div id="collapseOne" class="panel-collapse collapse in   ">
        <div class="panel-body">
          <div class="row rowcustom">
            <div class="col-sm-12">
              <h2 class="title mt0">Session Expiry</h2>
            </div>
          </div>
          <hr class="primeline">
          <div class="row rowcustom">
            <div class="col-sm-12">
              <p>To protect your secure information we limit the amount of time a secure connection can be inactive.</p>
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
          <p class="helpTxt aligncenter">Like to speak to someone?</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3>
          <h3 class="helpNo aligncenter"> 8am&ndash;8pm weekdays</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-2   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext">HESTA (ABN): 64 971 749 321</p>
    </div>	
    <div class="col-sm-3   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
         <!-- | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> -->
         </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
    <!--  | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a>  --></p>
    <p class="footertext"> &copy; CARE Super Pty Ltd (Trustee) ABN 91 006 670 060 AFSL 235226 CARE Super (Fund) ABN 98 172 275 725</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>

<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/docs.min.js"></script> 
<script type="text/javascript" src="js/moment.js"></script> 
<script type="text/javascript" src="js/datetimepickercustom.js"></script> 
<script type="text/javascript" src="js/bootstrap-select.js"></script> 
<script src="js/custom.js"></script> 
<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script>
</body>
</html>
