
<div class="menut">
  <div class="container relative">
    <div class=" row bgsec">
      <div class="  c-mt10px clearfix">
        <div class="col-sm-3 hidden-xs ">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="wwrap fleft  hidden-xs ">
            <tbody>
              <tr>
                <td class="fleft"  ><span class="      ico icoSave colorsec     mr5px"></span></td>
                <td class="fleft note"  ><a href="#">Save &amp; Email</a></td>
                <td class="fleft  " >&nbsp;&nbsp; </td>
                <td class="fleft  "><span class="ico  ico icoPrint colorsec  mr5px"></span></td>
                <td class="fleft   note"  ><a href="#">Print</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-3 col-xs-5">
          <div class=" visible-xs clearfix  fleft  mb5px">
            <p class="telno  "> <span class="ico icoCall"></span> 1300 265 374 </p>
          </div>
          <p class="hidden-xs"> <strong>Level <span class="red">$20</span></strong> per month </p>
        </div>
        <div class="col-sm-3 col-xs-7">
          <p class="   note fright"> <strong>Quote ID: COLI-999-9999</strong></p>
        </div>
        <div class="col-sm-3 col-xs-12">
          <p class="visible-xs"> <strong>Level <span class="red">$20</span></strong> per month </p>
          <div class="fright note mr10px hidden-xs"> Call 1300 265 374 for help </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="c-header">
  <div class="container">
    <div class="  col-xs-3  "> <img src="static/hesta/images/logo.png" class="img-responsive  c-logo" alt="CareSuper Australia" /> </div>
    <div class="  col-xs-9 hidden-xs  ">
      <div class="logout noborderleft pointer"><a  ng-click="navigateToLandingPage()" >Home</a> </div>
      <div class="logout noborderleft"> <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a> </div>
      <div class="logout"> <a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us" >About us</a> </div>      
    </div>
    <div class="  col-xs-9 visible-xs  ">
      <div class="logout mob"> 
          <a target="_blank" title="About us" href="https://www.caresuper.com.au/about-us">About us</a> <br>
          <a target="_blank" title="Contact us" href="https://www.caresuper.com.au/super/contact-us">Contact us</a> <br>
          <div class="pointer"><a  ng-click="navigateToLandingPage()" >Home</a></div>
      </div>
    
    </div>
  </div>
</div>
<div class="container ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149</h3> -->
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1800 813 327</h3>
      <h3 class="helpNo"></h3>
    </div>
    
  </div>
  <div class=" col-sm-9">
 
    <div class="panel-group" id=" ">
      <div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href="" class="noarrow">
          <h4 class="panel-title">Occupational category update</h4>
          </a> </div>
        <div id="collapseOne" class="panel-collapse collapse in   ">
          <div class="panel-body pb0"> 
            <div class="row rowcustom">
             <div class=" col-sm-12">
         <p>
         Thank you for your application to change your occupational category.  Unfortunately, based on the information you have given us you are not eligible for a change in your occupational category. 
         <br><br>
        Your occupational category will be maintained, and your existing Death or TPD cover will be maintained based on your previous occupational category.  Similarly, your Income Protection cover (if any) will be maintained based on your previous occupational category.
         <br><br>
         If your circumstances change in the future, you can re-apply to update your occupational category.
         <br><br>
          Click  <a href="" ng-click="downloadPDF()"><strong>here</strong></a> to open an electronic version of your completed application form, which you can save or print.
        <br><br>
         If you require any further information or assistance, please call the CareSuperLine on <span style="font-family:Swiss721BT-Medium">1300 360 149 </span>.
         </p>
            
            
            </div>
            </div>
            <!-- <div class="row     ">
             <div class=" col-sm-6 aligncenter coverbg borderright ">
             <h5 class="mb0">Application number</h5>
             <p>{{appNum}}</p>
             </div>
             
              <div class=" col-sm-4 aligncenter coverbg  borderright">
             <h5 class="mb0">cover starts</h5>
             <p> -- </p>
             </div>
         
              <div class=" col-sm-6 aligncenter coverbg ">
             <h5 class="mb0">Application</h5>
             <p> <span class="icoDoc"></span> <a href="" ng-click="downloadPDF()"> <strong>Download </strong></a></p>
             </div>
             </div> -->
            
            
          </div>
        </div>
      </div>
      
      
      
      
    </div>
     
    
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
          <p class="helpTxt aligncenter">Like to speak to someone?</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3>
          <h3 class="helpNo aligncenter"> 8am&ndash;8pm weekdays</h3>
          
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
 
<div class="c-footer hidden-xs">
  <div class="container">
   <div class="col-sm-2   "> <p class="footertext">&nbsp;  </p> </div>
    <div class="col-sm-7   ">
      <p class="footertext">HESTA (ABN): 64 971 749 321</p>
    </div>	
    <div class="col-sm-3   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
        <!--  | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a>  -->
        </p>
      </div>
    </div>
  </div>
</div>

 
  <div class="container visible-xs">
 
      <div class=" col-xs-12 aligncenter ">
        <p class="footerlinks"> <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">Privacy statement</a>
         <!-- |<a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a>  -->
        </p>
        <p class="footertext"> &copy; CARE Super Pty Ltd (Trustee) ABN 91 006 670 060 AFSL 235226 CARE Super (Fund) ABN 98 172 275 725</p>
      </div>
   <p class="spacer">&nbsp;</p>
  </div>
 

<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script>

