<footer class="region region-footer" role="contentinfo">
<section id="block-block-8" class="block block-block clearfix">
	<!--Begin CareSuper footer -->
	<div class="container">
		<div class="row">
			<div class="col col-lg-12 clientFooter">
				<div class="logo"><a href="https://www.statewide.com.au/" target="_blank"><img ng-src="../../eapply/static/pages/SFPS/img/footer_logo.png" alt="StatewideSuper" /></a></div>
				<div id="footer_menu">
					<a href="http://www.statewidesuper.com.au/insurance">Disclaimer</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="http://www.statewidesuper.com.au/privacy_policy">Privacy policy</a>
				</div>
			</div>
		</div>
	</div>
	<!--End CareSuper footer -->
	</section>
</footer>
