
	<header class="global_header">
		<div class="metlifeLogo col-sm-12">
			<div class="row">
				<a id="headerLogoLink" href="https://www.statewide.com.au/" target="_blank"><img src="../../eapply/static/pages/SFPS/img/footer_logo.png" alt="StatewideSuper logo" class="desktop-view"></a>
			
			</div>
		</div>
	</header>	