<div ng-init="vm.init()" class="container">
    <div class="menumobile d-block d-sm-none no-gutters">
      <div class="col-8 d-block float-left">
        <div class="txtHolderMob">
          <span class="color2">1 / 3</span> Personal details </div>
      </div>
      <div class="col-4 align-top d-inline-block">
        <div class="icoMenuRev"><span></span></div>
        <div class="icoMenuFwd"><span></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-9">
        <div class="menu d-none d-sm-block">
          <div class="col-sm-4 cn first float-left">
            <h5>step 1</h5>
            <div class="txtHolder"> Personal details </div>
            <div ng-src="static/corporate/src/assets/images/bg_blank.png" class="shadow-image right"></div>
          </div>
          <div class="col-sm-4 cnn float-left">
            <div src="static/corporate/src/assets/images/bg_blank.png" class="shadow-image left"></div>
            <h5>step 2</h5>
            <div class="txtHolder"> Health &amp; lifestyle</div>
            <div ng-src="static/corporate/src/assets/images/bg_blank.png" class="shadow-image right"></div>
          </div>
          <div class="col-sm-4 nl float-left">
            <h5>step 3</h5>
            <div class="txtHolder"> Confirmation </div>
            <div ng-src="static/corporate/src/assets/images/bg_blank.png" class="shadow-image left"></div>
          </div>
        </div>
  
        <!--Duty of Disclosure Section starts   -->
        <div class="" id="accordiondod">
          <div class="card card-default form-box-style">
            <div id="collapseduty">
              <form name="vm.formduty" role="form" novalidate>
                <div class="card-body pb-1">
                  <div class="col-sm-12">
                    <p>
                      <strong class="color">Insured's duty of disclosure</strong><a class="icohelp" ng-click="vm.clickToOpen('Please read and tick the box to acknowledge your Duty of Disclosure.')"></a>
                    </p>
                    <div class="scrollBox">
                      <p>A person who enters into a life insurance contract in respect of your life has a duty, before entering
                        into the contract, to tell the insurer anything that he or she knows, or could reasonably be expected
                        to know, which may affect the insurer's decision to provide the insurance and on what terms.</p>
                      <p>The person entering into the contract has this duty until the insurer agrees to provide the insurance.</p>
                      <p>The person entering into the contract has the same duty before he or she extends, varies or reinstates
                        the contract.</p>
                      <p>The person entering into the contract does not need to tell the insurer anything that:</p>
                      <ul class="listing">
                        <li>reduces the risk the insurer insures him or her for; or</li>
                        <li>is common knowledge; or</li>
                        <li>the insurer knows or should know as an insurer; or</li>
                        <li>the insurer waives his or her duty to tell them about.</li>
                      </ul>
                      <p>If the person does not tell the insurer something that he or she knows, or could reasonably be expected
                        to know, this may affect the insurer's decision to provide the insurance and on what terms, and may
                        be treated by the insurer as a failure by the person entering into the contract to tell the insurer
                        something that he or she must disclose to the insurer.</p>
                      <strong class="color">If the person entering the contract does not tell the Insurer something </strong>
                      <br>
                      <br>
                      <p>In exercising the following rights, the insurer may consider whether different types of cover can constitute
                        separate contracts of life insurance. If they do, the insurer may apply the following rights separately
                        to each type of cover.</p>
                      <p>If the person entering into the contract does not tell the insurer anything he or she is required to,
                        and the insurer would not have provided the insurance if he or she had disclosed the information, the
                        insurer may avoid the contract within 3 years of entering into it.</p>
                      <p>If the insurer chooses not to avoid the contract, the insurer may, at any time, reduce the amount of
                        insurance provided. This would be worked out using a formula that takes into account the premium that
                        would have been payable if the person had told the insurer everything he or she should have.</p>
                      <p>However, if the contract has a surrender value, or provides cover on death, the insurer may only exercise
                        this right within 3 years of entering into the contract.</p>
                      <p>If the insurer chooses not to avoid the contract or reduce the amount of insurance provided, the insurer
                        may, at any time vary the contract in a way that places the insurer in the same position the insurer
                        would have been in if the person had told the insurer everything he or she should have. However, this
                        right does not apply if the contract has a surrender value or provides cover on death.</p>
                      <p>If the failure to tell the insurer is fraudulent, the insurer may refuse to pay a claim and treat the
                        contract as if it never existed.</p>
                    </div>
                    <div class="row corp-row-style pt-4" ng-class="{'has-error': (vm.formduty.dod.$dirty && vm.formduty.dod.$error.required) && !vm.coverData.dodCheck}">
                      <div class="btn-group-vertical w-100" data-toggle="buttons">
                        <button class="btn checkboxes col-12 ack-checkbox-label" id="dodLabel">
                          <input checkbox-and-radio-update ng-model="vm.coverData.dodCheck" type="checkbox" id="dodlabelCheck" name="dod" required>
                          <span></span>
                          <div>I acknowledge I have read, understood and consent to the above</div>
                        </button>
  
                      </div>
                      <span ng-if="vm.dodFlagErr || ((vm.formduty.dod.$dirty && vm.formduty.dod.$error.required) && !vm.coverData.dodCheck)" class="error">Please acknowledge and consent to the disclosure.</span>
                    </div>
                    <p></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!--Duty of Disclosure Section ends -->
  
          <!--Introduction Section starts    -->
            <div class="card card-default mt-4">
              <div class="card-header corp-card-header accordionHeader" ng-click="vm.isCollapsible('collapseIntro', $event)" role="tab" id="introduction">
                <a data-toggle="collapse" data-parent="#collapseIntro" data-target="#collapseIntro" class="" aria-expanded="true">
                  <h4 class="card-title text-white corp-card-header-text">INTRODUCTION</h4>
                  <input type="hidden">
                </a>
              </div>
              <div id="collapseIntro" class="card-collapse form-box-style collapse" role="tabpanel" aria-labelledby="introduction">
                <form name="vm.formIntro" role="form" novalidate>
                  <div class="card-body">
                    <!-- Row starts -->
                    <div class="row corp-row-style first">
                      <div class="col-sm-12">
                        <label class="control-label"> Tell us a few details about yourself</label>
                      </div>
                    </div>
                    <!-- Row ends -->
    
                    <hr class="primeline">
                    <!-- Row starts -->
                    <div class="row corp-row-style">
                      <div class="form-group col-md-3 col-sm-12" ng-class="{'has-error':(vm.formIntro.brokerTitle.$invalid && vm.formIntro.brokerTitle.$touched) || (vm.formIntro.$submitted && vm.formIntro.brokerTitle.$error.required)}">
                        <label class="control-label w-100">Title</label>
                        <div class="form-group w-100">
                          <div class="select">
                            <select name="brokerTitle" required class="form-control custom-input" ng-model="vm.coverData.title" ng-options="contact.value as contact.text for contact in vm.constants.titleOption">
                              <option value="" class="" selected="selected">Please select</option>
                            </select>
                            <div class="select__arrow"></div>
                          </div>
                        </div>
                        <span class="error" ng-if="(vm.formIntro.brokerTitle.$invalid && vm.formIntro.brokerTitle.$touched) || (vm.formIntro.$submitted && vm.formIntro.brokerTitle.$error.required)">Please select title</span>
                      </div>
                      <div class="form-group col-12 col-md-4" ng-class="{'has-error':(vm.formIntro.fname.$invalid && vm.formIntro.fname.$touched) || (vm.formIntro.$submitted && vm.formIntro.fname.$error.required)}">
                        <label class="control-label"> First name </label>
                        <input class="form-control custom-input" id="member-fname" name-only maxlength="20" ng-focus="vm.checkPreviousMandatoryFields('fname','formIntro')"
                          name="fname" ng-class="(vm.formIntro.fname.$invalid && vm.formIntro.fname.$touched) || (vm.formIntro.$submitted && vm.formIntro.fname.$error.required) ? 'error-border':''"
                          ng-model="vm.coverData.personalDetails.firstName" placeholder="Enter your first name" required="" type="text">
                        <span class="error" ng-if="(vm.formIntro.fname.$invalid && vm.formIntro.fname.$touched) || (vm.formIntro.$submitted && vm.formIntro.fname.$error.required)">Please enter your first name</span>
                      </div>
                      <div class="form-group col-12 col-md-5" ng-class="{'has-error':(vm.formIntro.lname.$invalid && vm.formIntro.lname.$touched) || (vm.formIntro.$submitted && vm.formIntro.lname.$error.required)}">
                        <label class="control-label"> Last name </label>
                        <input class="form-control custom-input" id="member-lname" name-only maxlength="20" ng-focus="vm.checkPreviousMandatoryFields('lname','formIntro')"
                          name="lname" ng-class="(vm.formIntro.lname.$invalid && vm.formIntro.lname.$touched) || (vm.formIntro.$submitted && vm.formIntro.lname.$error.required) ? 'error-border':''"
                          ng-model="vm.coverData.personalDetails.lastName" placeholder="Enter your last name" required="" type="text">
                        <span class="error" ng-if="(vm.formIntro.lname.$invalid && vm.formIntro.lname.$touched) || (vm.formIntro.$submitted && vm.formIntro.lname.$error.required)">Please enter your last name</span>
                      </div>
                    </div>
                    <hr class="primeline">
                    <div class="row corp-row-style">
                      <div class="form-group col-12 col-md-6">
                        <label class="control-label w-100" for="dob">Date of birth</label>
                        <input type="text" class="form-control custom-input" ng-focus="vm.checkPreviousMandatoryFields('dob','formIntro')" name="dob" id="dob" ng-model="vm.coverData.dob" ng-disabled="true"
                          placeholder="Enter date of birth" required />
                        <span ng-if="((vm.formIntro.dob.$invalid && vm.formIntro.dob.$touched) || (vm.formIntro.$submitted && vm.formIntro.dob.$error.required))"
                          class="error">Please enter date of birth</span>
                      </div>
                      <div class="form-group col-md-6 col-sm-12" ng-class="{'has-error':(vm.formIntro.gender.$error.required && vm.formIntro.gender.$touched) || (vm.formIntro.$submitted && vm.formIntro.gender.$error.required)}">
                        <label class="control-label w-100"> Gender </label>
                        <div class="btn-group w-100 cover-button-group" data-toggle="buttons">
                          <div class="form-group w-100 w-md-50 first-button">
                            <label class="btn radiobutton w-100">
                              <input checkbox-and-radio-update type="radio" ng-focus="vm.checkPreviousMandatoryFields('gender','formIntro')" name="gender" class="ipradio" ng-model="vm.coverData.occupationDetails.gender"
                                value="Male" required>
                              <span></span> Male </label>
                          </div>
                          <div class="form-group w-100 w-md-50 second-button">
                            <label class="btn radiobutton w-100">
                              <input checkbox-and-radio-update type="radio" ng-focus="vm.checkPreviousMandatoryFields('gender','formIntro')" name="gender" class="ipradio" ng-model="vm.coverData.occupationDetails.gender"
                                value="Female" required>
                              <span></span> Female </label>
                          </div>
                        </div>
                        <span class="error" ng-if="(vm.formIntro.gender.$error.required && vm.formIntro.gender.$touched) || (vm.formIntro.$submitted && vm.formIntro.gender.$error.required)">Please select gender</span>
                      </div>
                      <div class="form-group col-12 col-md-6" ng-class="{'has-error':(vm.formIntro.empNumber.$error.required && vm.formIntro.empNumber.$touched) || (vm.formIntro.$submitted && vm.formIntro.empNumber.$error.required)}">
                        <label class="control-label w-100" for="empNumber">Member number</label>
                        <input type="text" class="form-control custom-input" name="empNumber" numbers-only id="empNumber" maxlength="50" ng-model="vm.coverData.clientRefNumber" ng-disabled="vm.channel == 'email'"
                          placeholder="Enter member number" required />
                        <span ng-if="((vm.formIntro.empNumber.$invalid && vm.formIntro.empNumber.$touched) || (vm.formIntro.$submitted && vm.formIntro.empNumber.$error.required))"
                          class="error">Please enter member number</span>
                      </div>
                    </div>
                    <!-- Row ends -->
                  </div>
                </form>
              </div>
            </div>
            <!-- Introduction Section ends -->
  
          <!--Contact Details Section starts    -->
          <!-- <div class="card-group" id="accordionContact"> -->
          <div class="card card-default mt-4">
            <div class="card-header corp-card-header accordionHeader" ng-click="vm.isCollapsible('collapseOne', $event)" role="tab" id="contact">
              <a data-toggle="collapse" data-parent="#collapseOne" data-target="#collapseOne" class="" aria-expanded="true">
                <h4 class="card-title text-white corp-card-header-text">Contact details</h4>
                <input type="hidden">
              </a>
            </div>
            <div id="collapseOne" class="card-collapse form-box-style collapse in" role="tabpanel" aria-labelledby="contact">
              <form name="vm.formOne" role="form" novalidate>
                <div class="card-body">
                  <!-- Row starts -->
                  <div class="row corp-row-style first">
                    <div class="col-sm-12">
                      <label class="control-label"> Please leave your contact details in the event we need to contact you</label>
                    </div>
                  </div>
                  <!-- Row ends -->
  
                  <hr class="primeline">
                  <!-- Row starts -->
                  <div class="row corp-row-style">
                    <div class="form-group col-12 col-md-6" ng-class="{'has-error':(vm.formOne.contactEmail.$invalid && vm.formOne.contactEmail.$touched) || (vm.formOne.$submitted && vm.formOne.contactEmail.$error.required)}">
                      <label class="control-label"> Email address </label>
                      <input class="form-control custom-input" ng-pattern="vm.constants.emailFormat" maxlength="50" ng-focus="vm.checkPreviousMandatoryFields('contactEmail','formOne')"
                        name="contactEmail" ng-class="(vm.formOne.contactEmail.$invalid && vm.formOne.contactEmail.$touched) || (vm.formOne.$submitted && vm.formOne.contactEmail.$error.required) ? 'error-border':''"
                        ng-model="vm.coverData.email" placeholder="Enter your email" required="" type="email">
                      <span class="error" ng-if="(vm.formOne.contactEmail.$invalid && vm.formOne.contactEmail.$touched) || (vm.formOne.$submitted && vm.formOne.contactEmail.$error.required)">Please enter valid Email address</span>
                    </div>
                    <div class="form-group col-12" ng-class="{'has-error':(vm.formOne.contactPrefTime.$error.required && vm.formOne.contactPrefTime.$touched) || (vm.formOne.$submitted && vm.formOne.contactPrefTime.$error.required )}">
                      <label class="control-label"> What time of day do you prefer to be contacted? </label>
                      <span id="tick 3" style=" visibility:hidden">
                        <span class="tickforms d-block d-sm-none"></span>
                        <span class="tickforms mrm25px d-none d-sm-block"></span>
                      </span>
                      <div class="btn-group w-100 cover-button-group" data-toggle="buttons">
                        <div class="form-group w-100 w-md-50 first-button">
                          <label class="btn radiobutton w-100">
                            <input checkbox-and-radio-update class="ipradio" name="contactPrefTime" ng-focus="vm.checkPreviousMandatoryFields('contactPrefTime','formOne')" ng-model="vm.coverData.contactPrefTime" type="radio"
                              value="Morning (9am - 12pm)" required>
                            <span></span> Morning (9am-12pm) </label>
                        </div>
                        <div class="form-group w-100 w-md-50 second-button">
                          <label class="btn radiobutton w-100">
                            <input checkbox-and-radio-update class="ipradio" name="contactPrefTime" ng-focus="vm.checkPreviousMandatoryFields('contactPrefTime','formOne')" ng-model="vm.coverData.contactPrefTime" type="radio"
                              value="Afternoon (12pm - 6pm)" required>
                            <span></span> Afternoon (12pm-6pm) </label>
                        </div>
                      </div>
                      <span class="error" ng-if="(vm.formOne.contactPrefTime.$error.required && vm.formOne.contactPrefTime.$touched) || (vm.formOne.$submitted && vm.formOne.contactPrefTime.$error.required)">Please select preferred time</span>
                    </div>
                  </div>
                  <hr class="primeline">
                  <div class="row corp-row-style">
                    <div class="form-group col-md-6 col-sm-12" ng-class="{'has-error':(vm.formOne.preferredContactType.$invalid && vm.formOne.preferredContactType.$touched) || (vm.formOne.$submitted && vm.formOne.preferredContactType.$error.required)}">
                      <label class="control-label w-100">Preferred contact type</label>
                      <div class="form-group w-100">
                        <div class="select">
                          <select name="preferredContactType" required class="form-control custom-input" ng-focus="vm.checkPreviousMandatoryFields('preferredContactType','formOne')" ng-model="vm.coverData.contactType" ng-change="vm.changePrefContactType()"
                            ng-options="contact.value as contact.text for contact in vm.constants.contactTypeOption" required>
                            <!-- <option value="" class="" selected="selected">Please select</option> -->
                          </select>
                          <div class="select__arrow"></div>
                        </div>
                      </div>
                      <span class="error" ng-if="(vm.formOne.preferredContactType.$invalid && vm.formOne.preferredContactType.$touched) || (vm.formOne.$submitted && vm.formOne.preferredContactType.$error.required)">Please select Preferred contact type</span>
                    </div>
  
                    <div class="form-group col-md-6 col-sm-12" ng-class="{'has-error': (vm.formOne.contactPhone.$error.pattern && vm.formOne.contactPhone.$touched) || (vm.formOne.contactPhone.$invalid && vm.formOne.contactPhone.$touched) || (vm.formOne.$submitted && vm.formOne.contactPhone.$error.required)}">
                      <label class="control-label">Preferred contact no.</label>
                      <input class="form-control custom-input" ng-focus="vm.checkPreviousMandatoryFields('contactPhone','formOne')" ng-pattern="vm.constants.phoneNumber" ng-model="vm.coverData.contactPhone" phone-only
                        id="preferrednumCCId" ng-minlength="10" maxlength="10" name="contactPhone" placeholder="Enter your Phone no." required
                        type="text">
                      <span class="error" ng-show="(vm.formOne.contactPhone.$error.pattern && vm.formOne.contactPhone.$touched) || (vm.formOne.contactPhone.$invalid && vm.formOne.contactPhone.$touched) || (vm.formOne.$submitted && vm.formOne.contactPhone.$error.required)">Please enter valid contact number</span>
                    </div>
                  </div>
                  <hr class="primeline">
                  <div class="row corp-row-style">
                    <div class="form-group col-md-6 col-sm-12" ng-class="{'has-error':(vm.formOne.otherContactType.$invalid && vm.formOne.otherContactType.$touched) || (vm.formOne.$submitted && vm.formOne.otherContactType.$error.required)}">
                      <label class="control-label w-100">Other contact type</label>
                      <div class="form-group w-100">
                        <div class="select">
                          <select name="otherContactType" required class="form-control custom-input" ng-focus="vm.checkPreviousMandatoryFields('otherContactType','formOne')" ng-model="vm.coverData.otherContactType" ng-change="vm.changeOtherContactType()"
                            ng-options="contact.value as contact.text for contact in vm.constants.contactTypeOption">
                            <!-- <option value="" class="" selected="selected">Please select</option> -->
                          </select>
                          <div class="select__arrow"></div>
                        </div>
                      </div>
                      <span class="error" ng-if="(vm.formOne.otherContactType.$invalid && vm.formOne.otherContactType.$touched) || (vm.formOne.$submitted && vm.formOne.otherContactType.$error.required)">Please select Other contact type</span>
                    </div>
                    <div class="form-group col-md-6 col-sm-12" ng-class="{'has-error': (vm.formOne.otherContactNo.$error.pattern && vm.formOne.otherContactNo.$touched) || (vm.formOne.otherContactNo.$invalid && vm.formOne.otherContactNo.$touched)}">
                      <label class="control-label">Other contact no.</label>
                      <input class="form-control custom-input" ng-pattern="vm.constants.phoneNumber" ng-focus="vm.checkPreviousMandatoryFields('otherContactNo','formOne')" ng-model="vm.coverData.otherContactPhone"
                        phone-only ng-minlength="10" maxlength="10" name="otherContactNo" placeholder="Enter your Phone no." type="text">
                      <span class="error" ng-show="(vm.formOne.otherContactNo.$error.pattern && vm.formOne.otherContactNo.$touched) || (vm.formOne.otherContactNo.$invalid && vm.formOne.otherContactNo.$touched)">Please enter valid contact number</span>
                    </div>
                  </div>
                  <!-- Row ends -->
                </div>
              </form>
            </div>
          </div>
          <!-- Contact Details Section ends -->
  
          <!-- Address Details Section ends -->
          <div class="card card-default mt-4">
            <div class="card-header corp-card-header accordionHeader" ng-click="vm.isCollapsible('collapseAddress', $event)" role="tab"
              id="contact">
              <a data-toggle="collapse" data-parent="#collapseAddress" data-target="#collapseAddress" class="" aria-expanded="true">
                <h4 class="card-title text-white corp-card-header-text">Address details</h4>
              </a>
            </div>
            <div id="collapseAddress" class="card-collapse form-box-style collapse" role="tabpanel" aria-labelledby="contact">
              <form name="vm.addressForm" role="form" novalidate>
                <div class="card-body">
                  <!-- Row starts -->
                  <!-- <div class="row corp-row-style first">
                    <div class="col-sm-12">
                      <label class="control-label"> Please leave your address details in the event we need to communicate you</label>
                    </div>
                  </div> -->
                  <!-- Row ends -->
  
                  <!-- <hr class="primeline"> -->
  
                  <!-- Row starts -->
                  <div class="row corp-row-style">
  
                    <div class="form-group col-12 col-md-6" ng-class="{'has-error':(vm.addressForm.lineOne.$error.required && vm.addressForm.lineOne.$touched) || (vm.addressForm.$submitted && vm.addressForm.lineOne.$error.required)}">
                      <label class="control-label">Line 1</label>
                      <input required class="form-control custom-input" ng-focus="vm.checkPreviousMandatoryFields('lineOne','addressForm')" maxlength="50" name="lineOne" ng-model="vm.coverData.address.line1" placeholder="Enter your Line 1"
                        type="text">
                      <span class="error" ng-if="(vm.addressForm.lineOne.$error.required && vm.addressForm.lineOne.$touched) || (vm.addressForm.$submitted && vm.addressForm.lineOne.$error.required)">Please enter Line 1</span>
                    </div>
  
                    <div class="form-group col-12 col-md-6">
                      <label class="control-label">Line 2</label>
                      <input class="form-control custom-input" maxlength="50" ng-focus="vm.checkPreviousMandatoryFields('lineTwo','addressForm')" name="lineTwo" ng-model="vm.coverData.address.line2" placeholder="Enter your Line 2"
                        type="text">
                    </div>
  
                  </div>
  
                  <hr class="primeline">
                  <div class="row corp-row-style">
                    <div class="form-group col-12 col-md-6" ng-class="{'has-error':(vm.addressForm.suburb.$error.required && vm.addressForm.suburb.$touched) || (vm.addressForm.$submitted && vm.addressForm.suburb.$error.required)}">
                      <label class="control-label">Suburb</label>
                      <input required class="form-control custom-input" maxlength="50" name="suburb" ng-model="vm.coverData.address.suburb" placeholder="Enter your Suburb"
                        type="text" id="addressSuburb" ng-focus="vm.checkPreviousMandatoryFields('suburb','addressForm')" alpha-only>
                      <span class="error" ng-if="(vm.addressForm.suburb.$error.required && vm.addressForm.suburb.$touched) || (vm.addressForm.$submitted && vm.addressForm.suburb.$error.required)">Please enter Suburb</span>
                    </div>
                    <div class="form-group col-12 col-md-6" ng-class="{'has-error':(vm.addressForm.state.$error.required && vm.addressForm.state.$touched) || (vm.addressForm.$submitted && vm.addressForm.state.$error.required)}">
                      <label class="control-label w-100">State</label>
                      <div class="form-group w-100">
                        <div class="select">
                          <select name="state" required class="form-control custom-input" ng-focus="vm.checkPreviousMandatoryFields('state','addressForm')" ng-model="vm.coverData.address.state">
                            <option value="" class="" selected="selected">Please select</option>
                            <option ng-repeat="state in vm.constants.stateOptions" value="{{state.key}}">{{state.value}}</option>
                          </select>
                          <div class="select__arrow"></div>
                        </div>
                      </div>
                      <span class="error" ng-if="(vm.addressForm.state.$error.required && vm.addressForm.state.$touched) || (vm.addressForm.$submitted && vm.addressForm.state.$error.required)">Please enter State</span>
                    </div>
  
                  </div>
  
                  <hr class="primeline">
                  <div class="row corp-row-style">
                    <div class="form-group col-12 col-md-6" ng-class="{'has-error':(vm.addressForm.postCode.$error.required && vm.addressForm.postCode.$touched) || (vm.addressForm.$submitted && vm.addressForm.postCode.$error.required) || (vm.addressForm.postCode.$touched && vm.addressForm.postCode.$invalid)}">
                      <label class="control-label">Post code</label>
                      <input required class="form-control custom-input" ng-focus="vm.checkPreviousMandatoryFields('postCode','addressForm')" ng-minlength="4" maxlength="4" name="postCode" ng-model="vm.coverData.address.postCode"
                        placeholder="Enter your Post code" type="text" numbers-only>
                      <span class="error" ng-if="(vm.addressForm.postCode.$error.required && vm.addressForm.postCode.$touched) || (vm.addressForm.$submitted && vm.addressForm.postCode.$error.required) || (vm.addressForm.postCode.$touched && vm.addressForm.postCode.$invalid)">Please enter valid Post code</span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Occupation section starts -->
          <div class="card card-default mt-4">
            <div class="card-header corp-card-header accordionHeader" ng-click="vm.isCollapsible('collapseTwo', $event)" role="tab" id="occupation">
              <a data-toggle="collapse" data-parent="#collapseTwo" data-target="#collapseTwo" class="" aria-expanded="true">
                <h4 class="card-title text-white corp-card-header-text">Occupation</h4>
                <input type="hidden">
              </a>
            </div>
            <div id="collapseTwo" class="card-collapse form-box-style collapse" role="tabpanel" aria-labelledby="occupation">
              <form name="vm.occupationForm" id="occupFormId" novalidate role="form">
                <div class="card-body">
                  <div class="row corp-row-style">
                    <div class="col-sm-12" ng-class="{'has-error':(vm.occupationForm.industry.$invalid && vm.occupationForm.industry.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.industry.$error.required)}">
                      <label class="control-label w-100"> What industry do you work in?</label>
                      <div class="form-group w-100">
                        <div class="select">
                          <select name="industry" required class="form-control custom-input" ng-model="vm.coverData.occupationDetails.industryCode" ng-change="vm.getOccupations()">
                            <option value="" class="" selected="selected">Please select</option>
                            <option ng-repeat="industry in vm.IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
                          </select>
                          <div class="select__arrow"></div>
                        </div>
                      </div>
                      <span class="error" ng-if="(vm.occupationForm.industry.$invalid && vm.occupationForm.industry.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.industry.$error.required)">Please select an industry from dropdown.</span>
                    </div>
                  </div>
                  <!-- Row ends -->
  
                  <hr class="primeline">
  
                  <div class="row corp-row-style">
                    <div class="col-sm-12" ng-class="{'has-error':(vm.occupationForm.occupation.$invalid && vm.occupationForm.occupation.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.industry.$error.required)}">
                      <label class="control-label w-100"> What is your current occupation?<a class="icohelp" ng-click="vm.clickToOpen('Please select an occupation from the drop down list.')"></a></label>
                      <div class="form-group w-100">
                        <div class="select">
                          <select required name="occupation" required class="form-control custom-input" ng-model="vm.coverData.occupationDetails.occupation">
                            <option value="" class="" selected="selected">Please select</option>
                            <option ng-repeat="occupation in vm.OccupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
                          </select>
                          <div class="select__arrow"></div>
                        </div>
                      </div>
                      <span class="error" ng-if="(vm.occupationForm.occupation.$invalid && vm.occupationForm.occupation.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.industry.$error.required)">Please select an occupation from dropdown.</span>
                      <!-- <div class="col-sm-12">
                        <label class="helpHintLabel">If you do not select an occupation from the occupations listed, your premiums will be shown at standard
                          rates.</label>
                      </div> -->
                    </div>
                  </div>
                  <div ng-if="vm.coverData.occupationDetails.occupation == 'Other'">
                    <hr class="primeline">
                    <div class="row corp-row-style">
                      <div class="col-sm-4 col-12 form-group" ng-class="{'has-error':(vm.occupationForm.otherOccupation.$error.required && vm.occupationForm.otherOccupation.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.otherOccupation.$error.required)}">
                        <label class="control-label w-100">Please enter your occupation</label>
                      </div>
                      <div class="col-sm-4 col-12" ng-class="{'has-error':(vm.occupationForm.otherOccupation.$error.required && vm.occupationForm.otherOccupation.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.otherOccupation.$error.required)}">
                        <input type="text" id="otherOccupationId" name="otherOccupation" class="form-control custom-input" ng-focus="vm.checkPreviousMandatoryFields('otherOccupation','occupationForm')"
                          ng-class="(vm.occupationForm.otherOccupation.$error.required && vm.occupationForm.otherOccupation.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.otherOccupation.$error.required) ? 'error-border':''"
                          ng-model="vm.coverData.occupationDetails.otherOccupation" onkeyup="return isAlpha('otherOccupationId');"
                          onkeypress="return isAlpha('otherOccupationId');" required>
                        <span class="error" ng-if="(vm.occupationForm.otherOccupation.$error.required && vm.occupationForm.otherOccupation.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.otherOccupation.$error.required )">Please enter your Occupation</span>
                      </div>
                    </div>
                  </div>
                  <hr class="primeline">
                  <div class="row corp-row-style" ng-class="{'has-error':(vm.occupationForm.annualSalary.$error.required && vm.occupationForm.annualSalary.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.annualSalary.$error.required ) || vm.invalidSalAmount}">
  
                    <div class="col-sm-6 col-12 form-group">
                      <label class="control-label">What is your annual salary?<a class="icohelp" ng-click="vm.clickToOpen('Insert gross salary (i.e. your salary before tax).')"></a></label>
                    </div>
                    <div class="col-sm-4 col-12 form-group">
                      <input type="text" id="annualSalCCId" format="number" ng-disabled="vm.channel == 'email'" numbers-only name="annualSalary" limit-to="9" class="form-control custom-input dollar"
                        ng-change="vm.checkAnnualSalary()" ng-focus="vm.checkPreviousMandatoryFields('annualSalary','occupationForm')"
                        ng-class="(vm.occupationForm.annualSalary.$error.required && vm.occupationForm.annualSalary.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.annualSalary.$error.required) || vm.invalidSalAmount ? 'error-border':''"
                        ng-model="vm.coverData.occupationDetails.salary" required="" ng-disabled="vm.channel == 'email'">
                      <!-- <label class="helpHintLabel">Insert gross salary (i.e.your salary before tax)</label> -->
                      <span class="error" ng-if="(vm.occupationForm.annualSalary.$error.required && vm.occupationForm.annualSalary.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.annualSalary.$error.required )">Please enter your Annual Salary</span>
                      <span class="error" ng-if="vm.occupationForm.annualSalary.$touched && vm.invalidSalAmount && vm.occupationForm.annualSalary.$invalid">Please enter a valid annual salary</span>
                    </div>
  
                  </div>
                </div>
              </form>
              <!-- Row ends -->
            </div>
          </div>
          <!--Occupation section ends    -->
  
          <!-- Cover Calculator section starts -->
          <div class="card card-default mt-4" role="tab" id="coverCalculator">
            <!-- <a data-toggle="collapse" data-target="#collapseThree" class="" aria-expanded="true">
              <h4 class="card-title"> Cover Calculator</h4>
              </a> -->
            <div class="card-header corp-card-header accordionHeader" ng-click="vm.isCollapsible('collapseThree', $event)" role="tab"
              id="coverCalculator">
              <a data-toggle="collapse" data-parent="#collapseThree" data-target="#collapseThree" class="" aria-expanded="true">
                <h4 class="card-title text-white corp-card-header-text">Cover Calculator</h4>
                <input type="hidden">
              </a>
            </div>
            <div id="collapseThree" class="card-collapse form-box-style collapse corp-cover-section" role="tabpanel" aria-labelledby="coverCalculator">
              <form name="vm.coverCalculatorForm" novalidate id="coverCalFormId" role="form" class="ng-pristine ng-valid ng-valid-required ng-valid-maxlength">
                <!--  <div class="row corp-row-style">
                <div class="col-sm-12">
                  <label class="control-label"> Use the premium calculator to select the most appropriate cover for you.</label>
                </div>
              </div>
              <hr class="primeline"> -->
                
                <div class="card-body">
                  <div class="row corp-row-style ful-question">
                    <div class="form-group col-12 col-sm-12" ng-class="{'has-error':(vm.coverCalculatorForm.fulCalculation.$error.required && vm.coverCalculatorForm.fulCalculation.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.fulCalculation.$error.required)}">
                      <label class="control-label w-100"> Would you like to be underwritten to the maximum allowable cover and acknowledge that additional evidence may be required? </label>
                      <div class="btn-group w-100 mt-2 cover-button-group" data-toggle="buttons">
                        <div class="form-group w-100 w-md-50 first-button">
                          <button class="btn radiobutton w-100">
                            <input checkbox-and-radio-update type="radio" name="fulCalculation" class="ipradio ful-calculation-yes" ng-model="vm.coverData.fulCheck"
                              value="true" required>
                            <span></span> Yes </button>
                        </div>
                        <div class="form-group w-100 w-md-50 second-button">
                          <button class="btn radiobutton w-100">
                            <input checkbox-and-radio-update type="radio" name="gender" class="ipradio ful-calculation-no" ng-model="vm.coverData.fulCheck"
                              value="false" required>
                            <span></span> No </button>
                        </div>
                      </div>
                      <span class="error" ng-if="(vm.coverCalculatorForm.fulCalculation.$error.required && vm.coverCalculatorForm.fulCalculation.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.fulCalculation.$error.required )">Please select any option to opt/unopt for FUL Cover</span>
                    </div>
                  </div>
                  <hr class="primeline">
                  <div class="row corp-row-style">
                    <div class="col-sm-12">
                      <label class="control-label">What cover details do you require?</label>
                    </div>
                  </div>
                  <div class="row cover-header" ng-if="!vm.deathDisabled">
                    <div class="col-12 col-md-4">Death</div>
                    <div class="col-12 col-md-8 text-sm-left text-md-right">Existing Cover in the Fund {{vm.coverData.existingDeathAmt | currency:'$':0}}
                    <a class="icohelp" ng-click='vm.clickToOpen("This is the amount of existing cover you already hold through "+vm.coverData.partnerName+".")' ></a>  &nbsp;&nbsp;</div>
                  </div>
                  <div class="mt-2" id="death" ng-if="!vm.deathDisabled">
                    <div class="secrow">
                      <div class="row corp-row-style">
                        <div class="col-12 col-lg-8 form-group" ng-class="{'has-error':(vm.coverCalculatorForm.coverType.$error.required && vm.coverCalculatorForm.coverType.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.coverType.$error.required)}">
                          <div class="btn-group w-100 cover-button-group">
                            <div class="form-group w-100 w-md-50 first-button">
                              <button radio-sync="Fixed" ng-disabled="true" class="btn radiobutton w-100 active">
                                <input type="radio" name="coverType" data-sync="Fixed" id="option1" class="ipradio" ng-model="coverType" value="DcFixed">
                                <span></span> Nominated cover </button>
                            </div>
                            <div class="form-group w-100 w-md-50 second-button">
                              <button ng-disabled="true" radio-sync="Unitised" class="btn w-100 radiobutton">
                                <input type="radio" name="coverType" data-sync="Unitised" id="option2" class="ipradio" ng-model="coverType" value="DcUnitised">
                                <span></span> Unitised</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-lg-4 form-group" ng-class="{'has-error':((vm.coverCalculatorForm.requireCover.$error.required && vm.coverCalculatorForm.requireCover.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.requireCover.$error.required)
                                  || (vm.coverCalculatorForm.$submitted && vm.deathErrorFlag) || vm.deathErrorFlag)}">
                          <label class="control-label">  Total Cover Required <a class="icohelp" ng-click="vm.clickToOpen('Please enter the total amount of cover you require for each benefit. If you do not want any additional cover, please enter your existing cover under that cover type.')"></a></label>
                          <input type="text" id="dollar" numbers-only format="number" ng-model="vm.coverData.addnlDeathCoverDetails.deathInputTextValue"
                            name="requireCover" limit-to="8" class="form-control custom-input dollar" ng-blur="vm.validateDeathAmount()"
                            ng-disabled="vm.channel == 'email'" required>
                          <span class="error" ng-if="vm.deathErrorFlag">{{vm.deathErrorMsg}}</span>
                          <span class="error" ng-if="(vm.coverCalculatorForm.requireCover.$invalid && vm.coverCalculatorForm.requireCover.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.requireCover.$error.required)">Please enter a valid amount</span>
                        </div>
                        <!-- <div class="col-12">
                          <p class="note mt10px" style="display: block"> With fixed cover, your cover stays the same, but the amount you pay for the insurance increases as
                            you get older. </p>
                        </div> -->
                      </div>
                      <hr class="primeline">
                      <div class="row coverbg cover-amount-holder">
                        <div class="col-sm-3 col-6">
                          <h5>Cover amount</h5>
                        </div>
                        <div class="col-sm-3 alignright borderright col-6">
                          <h4 class="coverval">{{vm.coverData.addnlDeathCoverDetails.deathInputTextValue | currency:'$':0}}.00</h4>
                        </div>
                        <div class="line mob"></div>
                        <!-- <div class="col-sm-3 col-xs-6">
                          <h5 class="ng-binding">Weekly cost</h5>
                        </div>
                        <div class="col-sm-3 alignright col-xs-6">
                          <h4 class="coverval ng-binding">$16.47</h4>
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row corp-row-style" ng-if="vm.deathDisabled">
                    <div class="col-sm-12">
                      <img ng-src="static/corporate/src/assets/images/warning.png">
                      <label class="control-label">{{vm.deathDisabledMsg}} </label>
                    </div>
                  </div> -->
                  <p class="spacer" ng-if="!vm.deathDisabled">&nbsp;</p>
                  <div class="row cover-header mt-4" ng-if="!vm.tpdDisabled">
                    <div class="col-12 col-md-6">Total &amp; Permanent Disability </div>
                    <div class="col-12 col-md-6 text-sm-left text-md-right">Existing Cover in the Fund {{vm.coverData.existingTpdAmt | currency:'$':0}}
                    <a class="icohelp" ng-click='vm.clickToOpen("This is the amount of existing cover you already hold through "+vm.coverData.partnerName+".")'></a> &nbsp;&nbsp;</div>
                  </div>
                  <div class="mt-2" id="tpd" ng-if="!vm.tpdDisabled">
                    <div class="secrow">
                      <div class="row corp-row-style">
                        <div class="col-12 col-lg-8 form-group">
                         <!--  <label class="control-label w-100"> Cover type
                            <a class="icohelp" ng-click="vm.clickToOpen(
                                  '<strong>Unitised cover how your benefit and premium is calculated </strong><br/>When calculating your benefit, it is based on three factors:<br/>(1) your occupation,<br/> (2) your age at the date the incident that led to your claim occurred, and <br/>(3) the number of units you are covered for at that time.')"></a>
                          </label> -->
                          <div class="btn-group w-100 cover-button-group" data-toggle="buttons">
                            <div class="form-group w-100 w-md-50 first-button">
                              <button radio-sync="Fixed" ng-disabled="true" class="btn w-100 radiobutton active">
                                <input type="radio" name="tpdCoverType" data-sync="Fixed" id="option1" class="ipradio" ng-model="tpdCoverType" value="TPDFixed">
                                <span></span> Nominated cover </button>
                            </div>
                            <div class="form-group w-100 w-md-50 second-button">
                              <button ng-disabled="true" radio-sync="Unitised" class="btn w-100 radiobutton">
                                <input type="radio" name="tpdCoverType" data-sync="Unitised" id="option2" class="ipradio" ng-model="tpdCoverType" value="TPDUnitised">
                                <span></span> Unitised </button>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-lg-4 form-group" ng-class="{'has-error':((vm.coverCalculatorForm.TPDRequireCover.$error.required && vm.coverCalculatorForm.TPDRequireCover.$touched)
                                  || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.TPDRequireCover.$error.required)
                                  || (vm.coverCalculatorForm.$submitted && vm.tpdErrorFlag) || vm.tpdErrorFlag)}">
                          <label class="control-label">   Total Cover Required <a class="icohelp" ng-click="vm.clickToOpen('Please enter the total amount of cover you require for each benefit. If you do not want any additional cover, please enter your existing cover under that cover type.')"></a> </label>
                          <input id="dollar1" type="text" numbers-only format="number" name="TPDRequireCover" ng-model="vm.coverData.addnlTpdCoverDetails.tpdInputTextValue"
                            class="form-control dollar custom-input" limit-to="7" ng-blur="vm.validateTpdAmount()" ng-disabled="vm.channel == 'email'"
                            required>
                          <span class="error" ng-if="vm.tpdErrorFlag">{{vm.tpdErrorMsg}}</span>
                          <span class="error" ng-if="(vm.coverCalculatorForm.TPDRequireCover.$invalid && vm.coverCalculatorForm.TPDRequireCover.$touched)|| (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.TPDRequireCover.$error.required)">Please enter a valid amount</span>
                        </div>
                        <!-- <div class="col-12">
                          <p class="note mt10px" style="display: block"> With fixed cover, your cover stays the same, but the amount you pay for the insurance increases as
                            you get older. </p>
                        </div> -->
                      </div>
                      <hr class="primeline">
                      <div class="row coverbg cover-amount-holder">
                        <div class="col-sm-3 col-6">
                          <h5>Cover amount</h5>
                        </div>
                        <div class="col-sm-3 alignright borderright col-6">
                          <h4 class="coverval">{{vm.coverData.addnlTpdCoverDetails.tpdInputTextValue | currency:'$':0}}.00</h4>
                        </div>
                        <div class="line mob"></div>
                        <!-- <div class="col-sm-3 col-6">
                          <h5 class="ng-binding">Weekly cost</h5>
                        </div>
                        <div class="col-sm-3 alignright col-6">
                          <h4 class="coverval ng-binding">$68.68</h4>
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row corp-row-style" ng-if="vm.tpdDisabled">
                    <div class="col-sm-12">
                      <img ng-src="static/corporate/src/assets/images/warning.png">
                      <label class="control-label">{{vm.tpdDisabledMsg}}</label>
                    </div>
                  </div> -->
                  <p class="spacer" ng-if="!vm.tpdDisabled">&nbsp;</p>
                  <div class="row cover-header mt-4" ng-if="!vm.ipDisabled">
                    <div class="col-12 col-md-6">Income Protection (benefit per month) </div>
                    <div class="col-12 col-md-6 text-sm-left text-md-right">Existing Cover in the Fund {{vm.coverData.existingIPAmount | currency:'$':0}}
                    <a class="icohelp" ng-click='vm.clickToOpen("This is the amount of existing cover you already hold through "+vm.coverData.partnerName+".")'></a> &nbsp;&nbsp;</div>
                  </div>
                  <div class="mt-2" id="sc" ng-if="!vm.ipDisabled">
                    <div class="row corp-row-style" ng-if="vm.coverDetails.ipWaitingPeriod && vm.coverDetails.ipBenefitPeriod">
                      <div class="col-12 col-md-6">
                        <h5 class="float-left">Existing waiting period : </h5>
                        <p class="cover mt-1 pl-1 float-left ng-binding">{{vm.coverDetails.ipWaitingPeriod}}</p>
                      </div>
                      <div class="col-12 col-md-6">
                        <h5 class="float-left">Existing benefit period : </h5>
                        <p class="cover mt-1 pl-1 float-left ng-binding">{{vm.coverDetails.ipBenefitPeriod}}</p>
                      </div>
                    </div>
                    <div class="secrow">
                      <!-- <div class="row corp-row-style" ng-if="vm.channel != 'email'">
                        <div class="col-sm-6">
                          <div class="btn-group-vertical w-100" data-toggle="buttons">
                            <label class="btn checkboxes col-12 ack-checkbox-label" id="salaryCheckBoxLabel" ng-disabled="vm.ipTextDisabled" ng-class="(vm.ipsalarycheck) ? 'active':''"
                              ng-click="vm.insurePercentIp()">
                              <input id="ipsalarycheck" name="dod" type="checkbox" ng-model="vm.ipsalarycheck" ng-disabled="vm.ipTextDisabled"> Insure {{vm.ipInsuredPercentage}}% of my salary
                              <span></span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <hr class="primeline" ng-if="vm.channel == 'email'"> -->
                      <div class="row corp-row-style">
                        <div class="col-sm-4 col-12 mmb10px form-group">
                          <label class="control-label"> Waiting period </label>
                          <div class="select">
                            <select class="form-control custom-input" ng-model="vm.coverData.addnlIpCoverDetails.waitingPeriod" ng-disabled="vm.coverData.addnlIpCoverDetails.waitingPeriod != ''"
                              ng-options="waitingPeriodOption for waitingPeriodOption in vm.constants.waitingPeriodOptions">
                            </select>
                            <div class="select__arrow"></div>
                          </div>
                        </div>
                        <div class="col-sm-4 col-12 mmb10px form-group">
                          <label class="control-label"> Benefit period </label>
                          <div class="select">
                            <select class="form-control custom-input" ng-model="vm.coverData.addnlIpCoverDetails.benefitPeriod" ng-disabled="vm.coverData.addnlIpCoverDetails.benefitPeriod != ''"
                              ng-options="benefitPeriodOption for benefitPeriodOption in vm.constants.benefitPeriodOptions">
                            </select>
                            <div class="select__arrow"></div>
                          </div>
                        </div>
                        <div class="col-sm-4 col-12" ng-class="{'has-error':((vm.coverCalculatorForm.IPRequireCover.$error.required && vm.coverCalculatorForm.IPRequireCover.$touched)
                                  || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.IPRequireCover.$error.required)
                                  || (vm.coverCalculatorForm.$submitted && vm.ipErrorFlag) || vm.ipErrorFlag)}">
                          <label class="control-label">   Total Cover Required <a class="icohelp" ng-click="vm.clickToOpen('Please enter the total amount of cover you require for each benefit. If you do not want any additional cover, please enter your existing cover under that cover type.')"></a> </label>
                          <input id="dollar2" type="text" format="number" name="IPRequireCover" ng-model="vm.coverData.addnlIpCoverDetails.ipInputTextValue"
                            maxlength="6" class="form-control dollar custom-input" ng-blur="vm.validateIpAmount()" ng-disabled="vm.channel == 'email'"
                            required>
                          <span class="error" ng-if="vm.ipErrorFlag">{{vm.ipErrorMsg}}</span>
                          <span class="error" ng-if="(vm.coverCalculatorForm.IPRequireCover.$invalid && vm.coverCalculatorForm.IPRequireCover.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.IPRequireCover.$error.required)">Please enter a valid amount</span>
                          <div class="row corp-row-style" ng-if="vm.ipWarningFlag || vm.ipWarningMsg">
                            <div class="col-1 mt-3 ip-warning-exceeded">
                              <img ng-src="static/corporate/src/assets/images/warning.png">
                            </div>
                            <div class="col-10">
                              <label class="control-label mt-1">Your total income protection cover amount exceeded the maximum insurable limit and has been restricted to the maximum amount of cover you are eligible for.
                                </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row coverbg cover-amount-holder">
                        <div class="col-sm-3 col-6">
                          <h5>Cover amount</h5>
                        </div>
                        <div class="col-6 col-sm-3 float-right borderright">
                          <h4 class="coverval">{{vm.coverData.addnlIpCoverDetails.ipInputTextValue | currency:'$':0}}.00</h4>
                        </div>
                        <div class="line mob"></div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row corp-row-style" ng-if="vm.ipDisabled">
                    <div class="col-sm-12">
                      <img ng-src="static/corporate/src/assets/images/warning.png">
                      <label class="control-label"> {{vm.ipDisabledMsg}}</label>
                    </div>
                  </div> -->
                </div>
                <!-- Row ends -->
                <div class="row corp-row-style">
                  <div class="form-group col-12 col-md-4">
                    <button class="metlife-btn-primary btn btn-block btn-outline" ng-click="vm.generatePDF()">Print</button>
                  </div>
                  <span class="spacer d-block d-sm-none">&nbsp;</span>
                  <div class="form-group col-12 col-md-4">
                    <button class="metlife-btn-primary btn btn-block btn-outline" ng-disabled="(vm.deathDisabled && vm.tpdDisabled && vm.ipDisabled)" ng-click="vm.save()">Save & Exit</button>
                  </div>
                  <span class="spacer d-block d-sm-none">&nbsp;</span>
                  <div class="form-group col-12 col-md-4">
                    <button class="metlife-btn-primary btn btn-block btn-outline" ng-disabled="(vm.deathDisabled && vm.tpdDisabled && vm.ipDisabled)" ng-click=" vm.gotoAura()">Continue</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Cover Calculator section ends -->
        </div>
      </div>
      <div class="col-12 col-md-3 align-top">
        <div class="help-block">
          <h2 class="helpHead">NEED HELP?</h2>
          <p class="helpTxt">Please call</p>
          <h3 class="helpNo">
            <a class="telephone d-block d-sm-none" href="tel:{{vm.coverData.contactDetails.fundBrokerNum}}">{{vm.coverData.contactDetails.fundBrokerNum}}</a>
            <a class="telephone d-none d-md-block">{{vm.coverData.contactDetails.fundBrokerNum}}</a>
          </h3>
          <p class="helpTxt">if you are having trouble with this application.</p>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>