<div class="container d-none d-sm-block">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-12" ng-class="{'col-md-9': vm.brokernumber}">
      <div class="panel-group" id="">
        <div class="card card-default">
          <div class="card-header corp-card-header accordionHeader" role="tab">
            <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true" class="noarrow">
              <h4 class="card-title text-white corp-card-header-text">Session Expiry</h4>
            </a>
          </div>
          <div id="collapseOne" class="card-collapse show form-box-style collapse in">
            <div class="card-body">
              <div class="row corp-row-style">
                <div class=" col-sm-12">
                    <p>
                      To protect your secure information we limit the amount of time a secure connection can be inactive.
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3" ng-if="vm.brokernumber">
      <div class="help-block">
        <h2 class="helpHead">NEED HELP?</h2>
        <p class="helpTxt">Please call</p>
        <h3 class="helpNo">
          <a class="telephone d-block d-sm-none" href="tel:{{vm.brokernumber}}">{{vm.brokernumber}}</a>
          <a class="telephone d-none d-md-block">{{vm.brokernumber}}</a>
        </h3>
        <p class="helpTxt">if you are having trouble with this application.</p>
      </div>
    </div>
  </div>
</div>