.contact-details {
	padding-top: 5px;
	font-size: 13px;
	color: $mid-grey;

	@include mobile {
		padding-top: 25px;
	}

	.contact-image {
		float: none;
		margin: 0 auto 15px;
		border: 2px solid #c2c2c2;
		border-radius: 50%;
		max-width: 110px;
	}

	h3 {
		color: $dark-grey;
	}

	a {
		font-size: 18px;
		color: $mid-blue;
	}

}


.faqs-wrapper {
	text-align: left;
	padding: 50px 0 0;

	h3 {
		margin: 0 0 30px;
	}

	.accordionHeader {
		font-size: 16px;
		color: $mid-blue;
		background-color: #f7f7f7;
		padding: 20px 45px 20px 18px;
		margin: 20px 0 0;
		position: relative;
		line-height: 130%;

		@include tablet-down {
			margin: 10px 0 0;
			padding: 13px 40px 13px 15px;
			font-size: 15px;
		}

		&:after {
			content:'\f107';
			@include font-awesome;
			font-size: 28px;
			color: $dark-grey;
			background-color: #f7f7f7;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);

			@include tablet-down {
				font-size: 20px;
				right: 15px;
			}

		}

		&:hover {
			cursor: pointer;
		}

		&.acc-open {

			&:after {
				content:'\f106';
			}
		}

	}

	.accordionContent {
		display: none;
		padding: 0px 18px 10px;
		margin-bottom: 20px;
		font-size: 15px;
		background-color: #f7f7f7;

		@include tablet-down {
			padding: 0px 18px 10px;
		}

	}

}