.region {
	&.region-footer {
		@include desktop() {
			margin-top: 40px;
		}

		.footer_links {
		    margin: 0px;
		    padding: 60px 0 40px;
		    width: 100%;
		    border-top: 1px solid $divider-outline;

		    .footer_links_col {
		    	padding-right: 10px;
		    	padding-left: 0;
			    width: 20%;

			    .footer_links_col_title {
			    	margin-bottom: 10px;
				    font-size: 1.2rem;
				    font-weight: 400;
				    color: $icon-text;
				    line-height: 16px;
				    text-align: left;

				    @include desktop() {
				    	font-size: 1.6rem;
				    }
				}

				ul {
					padding-left: 0;
			    	text-align: left;

					li {
					    margin-bottom: 5px;
					    padding-top: 3px;
					    padding-bottom: 3px;
					    font-size: 1.2rem;
					    line-height: 15px;
					    list-style-type: none;

					    a {
						    font-weight: 600;
						}
				  	}
			  	}
			}
		}

		.footer_country_language_social {
			@include tablet() {
				display: table;
				margin: 0px;
		    	padding-bottom: 40px;
		    	width: 100%;
		    	border-bottom: 1px solid $divider-outline;
			}
			
		    .selected .country_name {
			    display: block;
			    position: relative;
			}

			.country_selector_container {
				position: absolute;
				top: 0;
				left: 34px;
				width: 100%;
				height: 100%;

				@include desktop() {
					position: relative;
					left: 0;
					height: auto;
					width: 244px;
				}

				.country_name {
				    vertical-align: middle;
				    margin-right: 8px;
				    
				    &:before {
				    	content: "";
				    	width: 24px;
				    	height: 26px;
				    	max-width: 100%;
				    	position: relative;
				    	background: url("../../assets/img/country_flags_sprite_standard.png") -192px 6px no-repeat;
				    	display: inline-block;
				    	margin-right: 10px;
				    	vertical-align: bottom;
				    }
				}
			}
		}

		.country_list_container {
			a {
				@include tablet() {
					padding: 0;
				}
			}

			.country_name {
			    vertical-align: middle;
			    margin-right: 8px;
			    
			    &:before {
			    	content: "";
			    	width: 24px;
			    	height: 26px;
			    	max-width: 100%;
			    	position: relative;
			    	background: url("../../assets/img/country_flags_sprite_standard.png") 0 6px no-repeat;
			    	display: inline-block;
			    	margin-right: 10px;
			    	vertical-align: bottom;
			    }

			    &.australia:before {
			    	background-position: -192px 6px;
		    	}

		    	&.argentina:before {
			    	background-position: -24px 5px;
			    }

			    &.brazil:before {
			    	background-position: -48px 5px;
			    }

			    &.chile:before, &.chile-2:before {
			    	background-position: -72px 5px;
			    }

			    &.colombia:before {
			    	background-position: -120px 5px;
			    }

			    &.mexico:before {
			    	background-position: -144px 5px;
			    }

			    &.uruguay:before {
			    	background-position: -168px 6px;
			    }

			    &.hk:before {
			    	background-position: -264px 5px;
			    }

			    &.bangladesh:before {
			    	background-position: -216px 5px;
			    }

			    &.china:before {
			    	background-position: -240px 5px;
			    }

			    &.bulgaria:before {
			    	background-position: -432px 5px;
			    }

			    &.italy:before {
			    	background-position: -600px 5px;
			    }
			}
		}

		.country_selector_container .selected a {
			display: none;

		    @include tablet() {
		    	display: table;
				z-index: 200;
			    padding: 0 12px 0 5px;
				border-radius: 2px;
				background: url("../../assets/img/icon_selection_arrow.png") 99% 58% /18px no-repeat;
			    text-decoration: none;
			    color: $divider-outline;
			    border: 1px solid $divider-outline;
			    width: 100%;
			    max-width: 215px;
			    min-height: 40px;
		    }

		   	&:hover {
		    	z-index: 100;
		    	background: url("../../assets/img/icon_selection_arrow.png") 99% 58% /18px no-repeat $white;
		    }
		}

		.country_selector_label {
	        display: inline-block;
		    float: left;
		    color: $icon-text;
		    font-size: 1.6rem;
		    line-height: 18px;
		    font-weight: 400;
		    text-align: left;

		    @include tablet() {
		    	position: absolute;
				top: 0;
				left: 0;

		    	padding-left: 0;
			    font-size: 1.2rem;
			    line-height: 40px;
			    text-align: left;
			    width: 50px;
		    }

		    @include desktop {
		    	position: relative;
				font-size: 1.6rem;
		    }
		}

		.country_name {
			display: table-cell;
			vertical-align: middle;
			padding: 0px;
			color: $mid-blue;
			font-size: 1.2rem;
			line-height: 15px;
			padding-left: 8px;
		}

			.country_header {
				padding: 8px 0px 8px 6px;
				display: block;
				width: 100%;
				font-weight: bold;
				text-decoration: none;
				color: $black;
				font-size: 1.3rem;

				&:not(:first-child) {
				  	margin-top: 15px;
				}
			}

			.countries {
				position: relative;
				float: left;
				width: 50%;
				border-top: 1px solid $divider-outline;
				border-bottom: 1px solid $divider-outline;
				border-right: 1px solid $divider-outline;
				padding: 25px 10px;
				height: 72px;

			    @include tablet() {
			    	width: 300px;
			    	border: 0;
			    }

			    @include desktop {
			    	margin-right: 20px;
    				width: 327px;
			    }

				.country_list_container {
				   	display: none;
					position: absolute;
					top: 55px;
					left: 25px;
					overflow-x: auto;
					overflow-y: auto;
					height: 250px;
					border: 1px solid $divider-outline;
					border-radius: 2px;
					background-color: $white;
					padding: 5px 10px;
					z-index: 905;
					width: 200px;

					@include tablet() {
					  	min-width: 0;
					  	top: 40px!important;
					    left: 49px;
					    width: 215px;
					    padding: 5px 0 10px 5px;
					}

				    @include desktop() {
					   	top: 64px!important;
					    left: 75px;
					    width: 214px;
				    }

				    a {
					  	display: table;
					  	width: 100%;
					  	height: 40px;
					}
				}

				.country_flag {
				    display: table-cell;
					vertical-align: middle;
 					max-width: 100%;
					position: relative;
 					background: url("../../assets/img/country_selector_flags/country_flags_sprite_standard.png") 0 0 no-repeat;
				}
			}

			.language_selector {
			    height: 72px;
			    float: right;
			    width: 50%;
			    font-size: 14px;
			    line-height: 20px;
			    font-weight: 400;
			    text-align: center;
			    text-decoration: none;
			    padding: 25px 10px;
			    border-bottom: 1px solid $divider-outline;
			    border-top: 1px solid $divider-outline;

			    @include tablet() {
			    	border: 0;
			    }

			    a {
				    display: inline-block;
				    font-size: 1.1rem;
				    font-weight: 600;
				    padding-right: 7px;
				    color: $mid-blue;
				}
			}

			.footer_social {
				float: left;
				display: table-cell;
				width: 100%;
				vertical-align: top;
				margin-top: 10px;
				padding: 0;

				@include tablet () {
				    width: 240px;
				    float: none;
				    line-height: 30px;
				}

			    .social_label {
				    position: relative;
				    float: left;
				    font-size: 1.2rem;
				    font-weight: 400;
				    line-height: 36px;
				    text-align: right;
				    top: 2px;

				    @include desktop() {
					    font-size: 16px;
					    text-align: right;
					    width: 188px;
				    }
				}

				.social_icons_wrapper {
				    float: right;
				    width: 20px;
				    
				    @include tablet() {
				    	margin-right: 20px;
				    }

				    a {
				    	display: inline-block;

				    	i {
					    	font-size: 2rem;
					    	vertical-align: bottom;
					    	line-height: 24px;
					    	color: $mid-blue;
						}
				    }
				}

				.footer_logo_wrapper .footer_metlife_logo {
					width: 150px;
				}
			}
		}	
	}

.footer_logo_wrapper {
	padding: 0;
}

.footer_logo_legal {
    width: 100%;
    padding: 40px 0 50px;
    border-top: 1px solid #ccc;
    display: table;

    @include mobile {
    	display: block;
		overflow: hidden;
		padding: 20px 0 0;
		text-align: center;
    }

    .footer_logo_contact {
    	display: table-cell;
		float: none;
		vertical-align: middle;

		@include mobile() {
			display: block;
		}

	    .footer_logo_wrapper {

			@include mobile {
				overflow: hidden;
				display: inline-block;
			}

			.footer_metlife_logo {
				padding: 0 !important;

				@include tablet() {
					width: 130px;
				}

				@include mobile {
					margin: 0 auto 10px;
					float: none;
				}

			}

		}

	}

	.footer_legal {
		display: table-cell;
		float: none;
		vertical-align: middle;

		@include tablet-down() {
			padding: 0 15px 0 0;
		}

		@include mobile() {
			display: block;
			padding: 0;
		}

	}

    .legal_footer_links {
		font-size: 1.2rem;
		line-height: 15px;
		padding: 0 0 15px 0;
		border-bottom: 1px solid $divider-outline;
		margin-bottom: 0;
		text-align: right;

		@include tablet() {
			padding-bottom: 0;
			border-bottom: 0;
		}

		@include tablet-down() {
			text-align: left;
		}

		@include mobile() {
			text-align: center;
			padding: 0 0 20px;
		}

	    span, a {
	    	line-height: 1.6rem;

			@include tablet-down() {
				font-size: 1.2rem !important;
			}
	    }

	    span {
	    	color: $secondary-text;
	    }

		a {
		    padding: 0 2%;

		    @include tablet() {
		    	padding: 0;
		    }
		}
	}
}





