.hero-banner {
	position: relative;

	.text {
		@include centerer();
		z-index: 2;
		width: 80%;
	
		h1 {
			@include hero-text();

			@include desktop() { 
				font-size: 5.0rem;
			}
		}

		@include tablet() {
			width: auto;
		}
	}

	.hero {
		position: relative;
		min-height: 150px;
		background: url("../../assets/img/hero-banner.jpg") top center no-repeat;

		@include desktop() {
			min-height: 400px;
		}

		img {
			z-index: 1;
		
			@include desktop() {
				height: 400px;
				width: 100%;
			}	
		}
	}
}

.hero-carousel {
	position: relative;
	background: $mid-blue;

	.carousel {
		margin-top: 50px;
		margin-bottom: 0;
		padding: 0;
		overflow-x: hidden;

		@include desktop() {
			margin-top: 70px;
		}

		button {
			box-shadow: none;
		}

		.slick-next {
			right: 30px;

			&:before {
				content: "\f125";
				font-size: 3.2rem;
				@include ion-icon();
			}
		}

		.slick-initialized .slick-slide {
			@include desktop() {
				/* height: 400px; */
			}
		}

		.slick-prev {
			left: 30px;
			z-index: 200;

			&:before {
				content: "\f124";
				font-size: 3.2rem;
				@include ion-icon();
			}
		}

		.slick-dots {
			bottom: 55px;
			z-index: 300;

			button {
				box-shadow: none;
			}

			li {
				&.slick-active {
					button {
						&:before {
							color: $white;
						}
					}
				}

				button:before {
					font-size: .9rem;
					color: lighten($black, 50%);
				}
			}
		}

		.item {
			position: relative;

			@include desktop() {
				height: 400px;
			}

			img {
				@include desktop() {
					min-height: 400px;
    				max-width: 100%;
				}
			}
		}

		.text {
			@include centerer;
			width: 80%;

			@include tablet() {
				width: 100%;
			}

			h1 {
				@include hero-text();

				@include desktop() {
					width: 50%;
					margin: 0 auto;
				}
			}
		}
	}
}





