// Variables
// --------------------------------------------------

//== Hesta Colors
$hesta-purple: #7226e0;
$hesta-grey: #f2f2f2;
$hesta-lightgrey: #f0f0f0;
$hesta-orange: #fec064;
$hesta-darkblue: #292460;


// Typography
// --------------------------------------------------

@font-face {
    font-family: "HurmeGeometricSans4-Bold";
    src: url("../fonts/317EDA_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/317EDA_4_0.woff2") format("woff2"), url("../fonts/317EDA_4_0.woff") format("woff"), url("../fonts/317EDA_4_0.ttf") format("truetype");
}

@font-face {
	font-family: "HurmeGeometricSans4-Regular";
	src: url("../fonts/317EDA_8_0.eot?#iefix") format("embedded-opentype"), url("../fonts/317EDA_8_0.woff2") format("woff2"), url("../fonts/317EDA_8_0.woff") format("woff"), url("../fonts/317EDA_8_0.ttf") format("truetype");
}

@font-face {
    font-family: "HurmeGeometricSans4-SemiBold";
    src: url("../fonts/317EDA_B_0.eot?#iefix") format("embedded-opentype"), url("../fonts/317EDA_B_0.woff2") format("woff2"), url("../fonts/317EDA_B_0.woff") format("woff"), url("../fonts/317EDA_B_0.ttf") format("truetype");
}

@font-face {
    font-family: "mulilight";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/muli-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/muli-light-webfont.woff2") format("woff2"), url("../fonts/muli-light-webfont.woff") format("woff"), url("../fonts/muli-light-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "mulibold";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/muli-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/muli-bold-webfont.woff2") format("woff2"), url("../fonts/muli-bold-webfont.woff") format("woff"), url("../fonts/muli-bold-webfont.ttf") format("truetype");
}


body#hesta {
	font-family: "mulilight", Verdana, Arial, sans-serif;
	background: #e8e8e8;

	h1, h2, h3, h4, h5 {
		font-family: "HurmeGeometricSans4-Bold", Verdana, Arial, sans-serif;
	}

	.global_header {
		height: 70px;
		background-color: $hesta-purple;

		@include mobile {
			height: 50px;
		}

		.metlifeLogo {
			
			.row img {
				height: 44px;
				width: auto;

				@include mobile {
					height: 35px;
					width: auto;
				}

			}

		}

		&.fixedHeader {
			height: 50px;

			.metlifeLogo {
				
				.row img {
					height: 35px;
					width: auto;
				}

			}

		}

	}

	.btn {
		background-color: $hesta-purple;
		color: white;
		font-family: "HurmeGeometricSans4-Bold" !important;
		font-size: 17px !important;
		text-transform: none !important;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		border-radius: 0 !important;

		&:hover {
			background-color: $hesta-darkblue;
		}
	}

	button.btn-primary {
		background: $hesta-purple !important;
	}

	#trigger-add {
		background: white !important;
		border: 2px solid $hesta-purple !important;
		color: $hesta-purple !important;
		font-family: "HurmeGeometricSans4-Bold" !important;
		font-size: 17px !important;
		text-transform: none !important;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		border-radius: 0 !important;
		font-weight: normal;
		line-height: 26px;

		&:hover {
			background-color: $hesta-darkblue !important;
			border: 2px solid $hesta-darkblue !important;
			color: white !important;
		}
	}

	.header-secondary {
		background-color: $hesta-orange;
		color: black;
	}

	.list-container ul li {

		>a {
			border: 2px solid $hesta-grey;
			background-color: $hesta-grey;
		}

		.timestamp {
			font-size: 12px;
		}

		.desc {
			font-size: 19px;

			@include mobile {
				font-size: 15px;
			}

		}

	}

	.module {

		@include mobile {
			padding-bottom: 0;
		}

	}

	.tab-container {
		background: #e8e8e8;
	}


	.faqs-wrapper {
		border-bottom: 1px solid #ddd;

		.accordionHeader {
			color: black;
			font-family: "mulibold";
			background: transparent;
			border-top: 1px solid #ddd;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			margin: 0;

			&:after {
				background-color: transparent;
			}

			@include desktop {

				&:hover {
					background-color: $hesta-lightgrey;
				}

			}

			&.acc-open {
				background-color: $hesta-lightgrey;
			}

		}

		.accordionContent {
			background: transparent;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			margin-bottom: 0;
			padding: 20px 18px 25px;
		}

	}

	.region.region-footer {
		margin-top: 0;
		background-color: $hesta-purple;
		color: white;
	}

	.region-footer section .container {
		padding-top: 30px;
	}

	.clientFooter {
		display: table;
		margin: 0 auto;
		padding-bottom: 30px;
		float: none;

		@include mobile {
			display: block;
			padding: 0 0 20px;
		}

		.logo {
			display: table-cell;
			vertical-align: top;
			width: 180px;

			img {
				height: 46px;
				width: auto;
			}

			@include mobile {
				display: inline-block;
				width: 100%;

				img {
					max-width: 150px;
					margin: 0 auto;
					height: 40px;
				}

			}

		}

		#footer_menu {
			display: table-cell;
			vertical-align: middle;
			padding: 0 0 0 30px;
			font-size: 12px;
			text-align: right;

			@include mobile {
				display: block;
				text-align: center;
				width: 100%;
				padding: 20px 10px 0;
			}

			a {
				color: white;
				font-size: 14px;
			}

		}

	}

	form label {
		font-weight: 600;
	}

}
