// Variables
// --------------------------------------------------

//== Hostplus Colors
$hostplus-darkblue: #002855;
$hostplus-blue: #004088;
$hostplus-grey: #707372;
$hostplus-gold: #ffd000;
$hostplus-yellow: #ffe24e;
$hostplus-orange: #fcb40e;


$hesta-grey: #f2f2f2;
$hesta-lightgrey: #f0f0f0;
$hesta-darkblue: #292460;


// Typography
// --------------------------------------------------

@font-face {
	font-family: 'effra-bold';
	src: url('../fonts/effra_bold-webfont.eot');
	src: url('../fonts/effra_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/effra_bold-webfont.woff2') format('woff2'), url('../fonts/effra_bold-webfont.woff') format('woff'), url('../fonts/effra_bold-webfont.ttf') format('truetype'), url('../fonts/effra_bold-webfont.svg#effrabold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'effra-heavy';
	src: url('../fonts/effra_heavy-webfont.eot');
	src: url('../fonts/effra_heavy-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/effra_heavy-webfont.woff2') format('woff2'), url('../fonts/effra_heavy-webfont.woff') format('woff'), url('../fonts/effra_heavy-webfont.ttf') format('truetype'), url('../fonts/effra_heavy-webfont.svg#effra_heavyregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'effra-regular';
	src: url('../fonts/effra_std_rg-webfont.eot');
	src: url('../fonts/effra_std_rg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/effra_std_rg-webfont.woff2') format('woff2'), url('../fonts/effra_std_rg-webfont.woff') format('woff'), url('../fonts/effra_std_rg-webfont.ttf') format('truetype'), url('../fonts/effra_std_rg-webfont.svg#effraregular') format('svg');
	font-weight: normal;
	font-style: normal;
}





body#hostplus {
	font-family: "effra-regular", Verdana, Arial, sans-serif;
	font-size: 20px;
	color: $hostplus-grey;
	background: #eaeaea;

	h1 {
		font-family: "effra-heavy", Verdana, Arial, sans-serif;
		color: $hostplus-darkblue;
	}

	h2, h3, h4, h5 {
		font-family: "effra-bold", Verdana, Arial, sans-serif;
		color: $hostplus-darkblue;
	}

	.global_header {
		height: 70px;
		background-color: white;

		@include mobile {
			height: 50px;
		}

		.metlifeLogo {
			
			.row img {
				height: 44px;
				width: auto;

				@include mobile {
					height: 35px;
					width: auto;
				}

			}

		}

		&.fixedHeader {
			height: 50px;

			.metlifeLogo {
				
				.row img {
					height: 35px;
					width: auto;
				}

			}

		}

	}

	.tab-content .row,
	.tab-content .empty, {
		font-size: 20px;
		color: $hostplus-grey;
	}

	.btn {
		background-color: $hostplus-darkblue;
		color: white;
		font-family: "effra-bold" !important;
		font-size: 17px !important;
		text-transform: none !important;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		border-radius: 0 !important;

		&:hover {
			background-color: $hostplus-blue;
		}
	}

	button.btn-primary {
		background: $hostplus-darkblue !important;
	}

	#trigger-add {
		background: white !important;
		border: 2px solid $hostplus-darkblue !important;
		color: $hostplus-darkblue !important;
		font-family: "effra-bold" !important;
		font-size: 17px !important;
		text-transform: none !important;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		border-radius: 0 !important;
		font-weight: normal;
		line-height: 26px;

		&:hover {
			background-color: $hesta-darkblue !important;
			border: 2px solid $hesta-darkblue !important;
			color: white !important;
		}
	}

	.header-secondary {
		background-color: $hostplus-gold;
		font-size: 14px;
		color: black;
	}

	.list-container ul li {

		>a {
			border: 2px solid $hostplus-gold;
			background-color: $hostplus-gold;

			&:hover {
				border: 2px solid $hostplus-orange;
				background-color: $hostplus-orange;
			}
		}

		.timestamp {
			font-size: 12px;
			color: #171717;
		}

		.desc {
			font-family: effra-bold;

			@include mobile {
				font-size: 15px;
			}

		}

	}

	.module {

		@include mobile {
			padding-bottom: 0;
		}

	}

	.tab-container {
		background: #e8e8e8;
	}


	.faqs-wrapper {
		border-bottom: 2px solid white;

		.accordionHeader {
			color: #333;
			font-size: 24px;
			font-family: "effra-bold";
			background: $hostplus-gold;
			border-top: 3px solid white;
			margin: 0;
			padding-right: 70px;

			&:after {
				background-color: transparent;
				font-size: 54px;
			}

			@include desktop {

				&:hover {
					background-color: $hostplus-orange;
				}

			}

			&.acc-open {
				background-color: $hostplus-orange;
			}

		}

		.accordionContent {
			background: transparent;
			margin-bottom: 0;
			padding: 50px 18px 55px;
			font-size: 20px;
			color: $hostplus-grey;
		}

	}

	.region.region-footer {
		margin-top: 0;
		background-color: $hostplus-darkblue;
		color: white;
	}

	.region-footer section .container {
		padding-top: 30px;
	}

	.clientFooter {
		display: table;
		margin: 0 auto;
		padding-bottom: 30px;
		float: none;

		@include mobile {
			display: block;
			padding: 0 0 20px;
		}

		.logo {
			display: table-cell;
			vertical-align: top;
			width: 180px;

			img {
				height: 46px;
				width: auto;
			}

			@include mobile {
				display: inline-block;
				width: 100%;

				img {
					max-width: 150px;
					margin: 0 auto;
					height: 40px;
				}

			}

		}

		#footer_menu {
			display: table-cell;
			vertical-align: middle;
			padding: 0 0 0 30px;
			font-size: 12px;
			text-align: right;

			@include mobile {
				display: block;
				text-align: center;
				width: 100%;
				padding: 20px 10px 0;
			}

			a {
				color: white;
				font-size: 14px;
			}

		}

	}

}
