.module.login {
	padding-top: 70px;
	text-align: center;

	@include mobile {
		padding-top: 50px;
	}

	h1 {
		margin: 42px 0 46px;
	}

	.login-wrapper {
		width: 100%;
		margin: 0 auto;
		padding: 0 15px 30px;
		background-color: white;

		@include desktop() {
			width: 85%;
			max-width: 1300%;
			padding: 0 0 45px;
		}

		> .row {
			margin-right: 0px;
			margin-left: 0px;
		}

		a {
			text-transform: uppercase;
			color: $mid-blue;
			font-weight: 600;
		}

		.login-container {
			margin: 0 auto;
			padding: 30px 0 25px;
			float: none;

			@include desktop() {
				padding: 45px 0 23px;
			}

			h2 {
				margin: 0 0 23px;
			}

			.form-group {
				float: left;
				width: 100%;
				margin-bottom: 30px;

				input, select {
					margin: 0;

					@include placeholder {
						color: $secondary-text !important;
					}

				}

			}

		}

	}

}