// Variables
// --------------------------------------------------

//== MTAA Colors
$mtaa-purple: #7226e0;
$mtaa-grey: #f2f2f2;
$mtaa-lightgrey: #d9d9d9;
$mtaa-teal: #2dccd3;
$mtaa-red: #f24d1f;


// Typography
// --------------------------------------------------

@font-face {
	font-family: 'Sailec-Bold';
	src: url("../fonts/31202B_0_0.eot");
	src: url("../fonts/31202B_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/31202B_0_0.woff2") format("woff2"), url("../fonts/31202B_0_0.woff") format("woff"), url("../fonts/31202B_0_0.ttf") format("truetype");
}

@font-face {
	font-family: 'Sailec-Regular';
	src: url("../fonts/31202B_A_0.eot");
	src: url("../fonts/31202B_A_0.eot?#iefix") format("embedded-opentype"), url("../fonts/31202B_A_0.woff2") format("woff2"), url("../fonts/31202B_A_0.woff") format("woff"), url("../fonts/31202B_A_0.ttf") format("truetype");
}


body#mtaa {
	font-family: "Sailec-Regular", Verdana, Arial, sans-serif;
	background: #ebebeb;

	h1, h2, h3, h4, h5 {
		font-family: "Sailec-Bold", Verdana, Arial, sans-serif;
	}

	#content {

		a:link, a:visited {
			color: $mtaa-red;
		}

	}

	.global_header {
		height: 70px;
		background-color: white;

		@include mobile {
			height: 50px;
		}

		.metlifeLogo {
			text-align: center;
			
			.row img {
				height: 44px;
				width: auto;

				@include mobile {
					height: 35px;
					width: auto;
				}

			}

			a {
				display: inline-block;
				margin: 0 auto;
				float: none;
			}

		}

		&.fixedHeader {
			height: 50px;

			.metlifeLogo {
				
				.row img {
					height: 35px;
					width: auto;
				}

			}

		}

	}

	.btn {
		background-color: $mtaa-teal;
		color: white;
		font-family: "Sailec-Bold" !important;
		font-size: 17px !important;
		text-transform: none !important;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		border-radius: 0 !important;
		border: 2px solid transparent;
		@include transition(all 0.25s);

		&:hover {
			color: $mtaa-teal;
			border-color: $mtaa-teal;
			background: white !important;
		}
	}

	button.btn-primary {
		background: $mtaa-teal !important;
	}

	#trigger-add {
		background: $mtaa-red !important;
		border: 2px solid $mtaa-red !important;
		color: white !important;
		font-family: "Sailec-Bold" !important;
		font-size: 17px !important;
		text-transform: none !important;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		border-radius: 0 !important;
		font-weight: normal;
		line-height: 24px;
		@include transition(all 0.25s);

		&:hover {
			background-color: white !important;
			color: $mtaa-red !important;
		}
	}

	.header-secondary {
		background-color: black;
		color: white;
	}

	.list-container ul li {

		>a {
			border: 2px solid $mtaa-grey;
			background-color: $mtaa-grey;
		}

		.timestamp {
			font-size: 12px;
		}

		.desc {
			font-size: 19px;

			@include mobile {
				font-size: 15px;
			}

		}

	}

	.module {

		@include mobile {
			padding-bottom: 0;
		}

		&.login .login-wrapper a {
			color: $mtaa-red;
		}

	}

	.tab-container {
		background: #e8e8e8;
	}


	.faqs-wrapper {
		border-bottom: 1px solid #ddd;

		.accordionHeader {
			color: black;
			font-family: "Sailec-Regular";
			font-weight: bold;
			background: transparent;
			border-top: 1px solid #ddd;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			margin: 0;

			&:after {
				background-color: transparent;
			}

			@include desktop {

				&:hover {
					background-color: $mtaa-lightgrey;
				}

			}

			&.acc-open {
				background-color: $mtaa-lightgrey;
			}

		}

		.accordionContent {
			background: transparent;
			border-left: 1px solid #ddd;
			border-right: 1px solid #ddd;
			margin-bottom: 0;
			padding: 20px 18px 25px;
		}

	}

	.region.region-footer {
		margin-top: 0;
		background-color: white;
		color: black;
	}

	.region-footer section .container {
		padding-top: 30px;
	}

	.clientFooter {
		display: table;
		margin: 0 auto;
		padding-bottom: 30px;
		float: none;

		@include mobile {
			display: block;
			padding: 0 0 20px;
		}

		.logo {
			display: table-cell;
			vertical-align: top;
			width: 180px;

			img {
				height: 46px;
				width: auto;
			}

			@include mobile {
				display: inline-block;
				width: 100%;

				img {
					max-width: 150px;
					margin: 0 auto;
					height: 40px;
				}

			}

		}

		#footer_menu {
			display: table-cell;
			vertical-align: middle;
			padding: 0 0 0 30px;
			font-size: 12px;
			text-align: right;

			@include mobile {
				display: block;
				text-align: center;
				width: 100%;
				padding: 20px 10px 0;
			}

			a {
				color: black;
				font-size: 14px;

				&:hover {
					color: $mtaa-red;
				}
			}

		}

	}

	form label {
		font-weight: 600;
	}

	.qq-uploader .upload-title .fa {
		color: $mtaa-teal;
	}

}
