.module.product-tile {
	@include tablet() {
		background: $white;
	}

	h2 {
		font-size: 26px;
		text-align: center;
		line-height: 50px;
		margin-bottom: 15px;
	}

	.tile-group {
		.wrapper {
			@include box-shadow;

			@include tablet() {
				box-shadow: none;
			}
		}

		.item {
			margin-top: 10px;
			margin-bottom: 20px;

			.image {
				img {
					@include desktop() {
						min-height: 150px;
					}
				}
			}

			.caption {
				background: $white;
				padding: 20px;

				@include tablet() {
					padding: 10px 0;
				}

				p {
					font-size: 1.8rem;
					line-height: 2.2rem;

					@include tablet() {
						font-size: 1.4rem;
						line-height: 1.8rem;
					}

					@include desktop() {
						font-size: 1.6rem;
						line-height: 2.0rem;
					}
				}
			}
		}
	}
}

