<script type="text/ng-template" id="tree_item_renderer_level_1.html">
	<!-- Row starts   Radio buttons  -->
				<div ng-class="{'row' : x.baseQuestion==false && !x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RadioQuestion'">
				 	<div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}">
					  <div ng-click="$ctrl.visible('tick3')" data-toggle="buttons" class="btn-group w-100 row">
					  	<div ng-class="{'col-sm-4 twobuttons p-0 col-12':x.auraAnswer.length <= 2, 'col-sm-4 p-0 col-12':x.auraAnswer.length > 2 }" ng-repeat="y in x.auraAnswer" ng-if="x.visible">
                 		 	<div ng-if="x.auraAnswer.length <= 2 && y.answerText.length < 4">
								<div class="col-sm-12 col-12" ng-if="$first" ng-click="$ctrl.updateRadio(y.answerValue,x)">
                    				<button class="btn radiobutton metlife-btn-aura mt-2 w-100"  ng-class="{'active': (x.answerTest == y.answerValue)}" title="{{y.answerText| split}}">
                      				<input type="radio" class="ipradio" id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
                  		  		<div class="col-sm-12 col-12" ng-if="!$first" ng-click="$ctrl.updateRadio(y.answerValue,x)">
                    				<button class="btn radiobutton metlife-btn-aura mt-2 w-100" ng-class="{'active': (x.answerTest == y.answerValue)}" title="{{y.answerText| split}}">
                      				<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
                      				<span></span> {{y.answerText | split}}  </button>
                 				</div>
							</div>
							<div ng-if="x.auraAnswer.length >2 ||  y.answerText.length > 3">
								<div class="col-sm-12 col-12" ng-click="$ctrl.updateRadio(y.answerValue,x)">
                    				<button class="btn radiobutton metlife-btn-aura mt-2 w-100"  ng-class="{'active': (x.answerTest == y.answerValue)}" title="{{y.answerText| split}}">
                      				<input type="radio" class="ipradio" id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
							</div>
               			</div>
						<div ng-repeat="z in x.auraAnswer" class="col-12">
							<div ng-repeat="x in z.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="aura-level-2"></div>
						</div>
					  </div>
					</div>
 					<div ng-if="x.error" ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}" class="error"> Please select an answer <br>
                			<br>
              		</div>
			</div>
 <!-- Row ends  radio buttons-->


<!-- Row STARTS  CHECK BOX -->
				 <!-- Row ends -->
			            <div ng-if="x.classType=='CheckBoxQuestion'" ng-class="{'row aura-row-style' : !x.baseQuestion && !x.error, 'row aura-row-style has-error' : !x.baseQuestion && x.error}">
			            <!-- <div > -->
              				<div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}" >
                				<label class="control-label" ng-bind="x.questionText | split"></label>
              				</div>
            			<!-- </div> -->
            			<div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}" ng-repeat="y in x.auraAnswer | checkboxFilter:y">

                			<div  class="row ml-1" >
								<div class=" btn-group-vertical w-100 auraBtnHeight" data-toggle="buttons">
                 				 <div class="ui-checkbox  w-100">
                    				<button ng-click="$ctrl.updateCheckBox(y.answerValue,x,$index)" class="px-2 btn metlife-btn-aura mt-2 checkboxes ingd-button-checkbox"  ng-class="{'active': (x.answerTest.indexOf(y.answerValue) !== -1)}"> <span></span>{{y.answerText| split}}
									<!--<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	onclick="showTips(this,'Test')"></a>-->
									<!-- <a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	 ng-click="vm.clickToOpen(y.helpText)"></a> -->
									</button>
									<a class="icohelp auraSubcheckBox" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	 ng-click="vm.clickToOpen(y.helpText)"></a>
                    				<input type="checkbox" id="option3" class="" name="{{x.questionId}}" ng-value="y.answerValue" ng-model="y.answerValue" >
                  				</div>
                			  </div>
								<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="col-12"></div>
              				</div>
            			</div>
						<div ng-if="x.error" class="col-sm-12 col-12  fright error"> Please select an answer <br>
                					<br>
              					</div>
            		</div>

 <!-- Row ends  CHECK BOX-->

<!--Row start for combo box-->

<div ng-class="{'col-sm-11 col-10 fright' : !x.baseQuestion && !x.error, 'col-sm-11 col-10 fright has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='ComboBoxQuestion'">
				 	<!-- <div ng-class="{'col-sm-11 col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<select ng-model="selectedName" class="selectpicker  form-control" style="display: none;"  ng-options="z.answerValue | split for z in x.auraAnswer"></select>
						<div class="col-sm-5 col-10" ng-if="!x.answerTest">
							<select ng-model="selectedName" class="selectpicker  form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ></select>
				 		</div>-->
						<div class="col-sm-5 col-10" ng-if="x.questionComplete && x.answerTest">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-5 col-10" ng-show="x.answerTest=='' && !x.answerTest">
							<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="selectedName" >
							</select>
						</div>

						<div class="col-sm-5 col-10" ng-if="!x.answerTest">
							<button type="button" class="btn btn-primary metlife-btn-aura" ng-click="$ctrl.updateRadio(selectedName.answerText,x)">Select</button>
						</div>
						<div class="col-sm-5 col-10" ng-if="x.answerTest">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
						<div ng-repeat="y in x.auraAnswer" class="col-12">
							<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="aura-level-2">
						</div>

					</div>

              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>

</div>
<!-- Row ends-->

<!--Row start for search question-->
<!--Row start for search question-->
<div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false && !x.error,  'col-sm-11  col-11 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
				 	<!-- <div ng-class="{ 'col-sm-11  col-11 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<div class="col-sm-4 col-10" ng-show="x.answerTest=='' || !x.questionComplete">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="serachText" ng-init="serachText = x.answerTest">
              			</div>
						<div class="col-sm-4 col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && x.questionComplete">
							<label class="control-label" ng-bind="x.answerTest"></label>
				 		</div>
						<div class="col-sm-4 col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(serachText,x)">Search</button>
						</div>
						<p class="col-12 d-block d-sm-none">&nbsp;</p>
						<div class="col-sm-4 col-10" ng-if="!x.questionComplete && x.answerTest != ''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateFreeText(x.answerTest,x)" title="Accept free text">Accept free text</button>
						</div>
						<!-- <div class="col-sm-4 col-10" ng-if="x.error  && x.questionText == '[10842]What is the name of your hazardous activity or pursuit?'">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateFreeText(x.answerTest,x)">Accept free text</button>
						</div> -->
						<div class="col-sm-5 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=''; x.questionComplete = false">Edit</button>
						</div>
              </div>
				<div class="col-sm-12 col-12 mt-2 p-0 fright" ng-if="!x.error && !x.questionComplete && x.answerTest != ''" >
					<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="z.answerValue" ng-change="$ctrl.searchValSubmit(z.answerValue,z,x)">
						<option value="" ng-if="false"></option>
					</select>
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="aura-level-2"></div>
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error" ng-bind="x.validationMsg || 'Please select an answer'"><br>
                			<br>
				</div>
</div>
<!-- Row ends-->
<!--Row start for DateQuestion question-->
	<div ng-class="{'col-sm-11 col-11' : x.baseQuestion==false && !x.error,  'col-sm-11 col-11 has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='DateQuestion'">
				 	<!-- <div ng-class="{'col-sm-11 col-11' : x.baseQuestion, 'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" >{{x.questionText | split}}(dd/mm/yyyy)</label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1,'col-sm-5 col-10': x.answerTest.length==0 , 'displaynone': x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 }">
                				<input type="text"  ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="freeTextArea">
              			</div>-->
						<div  class="col-sm-5 col-10" ng-show="x.answerTest=='' || x.error">
                				<input type="text" date-only ng-click="$ctrl.visible('tick8')" ng-model-options="{updateOn: 'blur'}" class="datepicker form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5 col-10" ng-if="!x.error && x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | dateTextSplit"></label>
				 		</div>
						<div class="col-sm-3 col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest !== ''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>

	</div>
<!-- Row ends-->
<!--Row start for statement question-->
<div class="col-sm-11  col-11 fright" ng-if="x.classType=='Statement'">
				 	<!-- <div ng-class="{'' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
	<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="aura-level-2"></div>
				</div>
</div>

<!-- Row ends-->
<!--row start for text area("TextAreaQuestion") question-->
<div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false && !x.error, 'col-sm-11  col-11 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
				 	<!-- <div ng-class="{ 'col-sm-11  col-11 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED' || x.answerTest.length==0 , 'displaynone':x.answerTest!='NO_ANSWER_CHECKED' && x.answerTest.length>0 }">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="freeTextArea">
              			</div>-->
						<div class="col-sm-5  col-11" ng-show="x.answerTest==''">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-11" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3  col-11" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-11" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-11  col-11' : x.baseQuestion==false}" class="fright error"> Please provide an answer <br>
                			<br>
				</div>
</div>
<!--row ends-->
<!--"TextQuestion"-->
<div ng-class="{ 'col-sm-11  col-11 fright' : x.baseQuestion==false && !x.error,  'col-sm-11  col-11 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextQuestion'">
				 	<!-- <div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED', 'displaynone':x.answerTest!='NO_ANSWER_CHECKED'}">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="freeText">
              			</div>-->
						<div  class="col-sm-5  col-11" ng-show="x.answerTest==''">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control custom-input h-100" ng-model="freeText[x.questionText]">
              			</div>
						<div class="col-sm-5  col-11"  ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3  col-11" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(freeText[x.questionText],x)">Enter</button>
						</div>
						<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-11  col-11' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>
</div>

<!--row ends-->
<!--"RangeQuestion"-->
<div ng-class="{'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RangeQuestion'">
				 	<div ng-class="{ 'col-sm-11  col-11 fright' : x.baseQuestion==false}" ng-if="x.visible">
						<label class="control-label" ng-bind="x.questionText | split"></label>
					</div>
					<div  ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}" ng-if="x.visible">
						<div class="row">
							<div class="col-sm-5  col-11" ng-show="x.answerTest=='' || x.error" >
								<input type="number"  ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="rangeText" >
							</div>
							<div class="col-sm-5  col-11" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && !x.error">
								<label class="control-label" ng-bind="x.answerTest | split"></label>
							</div>
							<div class="col-sm-3  col-11" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
								<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(rangeText,x)">Enter</button>
							</div>
							<div class="col-sm-3  col-11" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
								<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
							</div>
						</div>
					</div>

				<div ng-if="x.error && x.visible"  ng-class="{ 'col-sm-11  col-11' : x.baseQuestion==false}" class="fright error"> <span ng-if="!x.answerTest">Please answer the question</span><span ng-if="x.answerTest !== '' && x.answerTest">Answer is out of acceptable range, please re-enter the number</span> <br>
                			<br>
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="aura-level-2"></div>
				</div>
</div>

<!--row ends-->
</script>
<script type="text/ng-template" id="tree_item_renderer_level_2.html">
	<!-- Row starts   Radio buttons  -->
				<div ng-class="{'row' : x.baseQuestion==false && !x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RadioQuestion'" class="radio-question-level2">
				 	<div ng-class="{'col-sm-10 col-10 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div ng-class="{'col-sm-10 col-10 fright' : x.baseQuestion==false}">
					  <div ng-click="$ctrl.visible('tick3')" data-toggle="buttons" class="btn-group w-100 row">
					  	<div ng-class="{'col-sm-4 p0 col-12':x.auraAnswer.length <3 && y.answerText.length < 4, 'col-sm-12 p0 col-12':x.auraAnswer.length >2 || y.answerText.length > 3 }" ng-repeat="y in x.auraAnswer" ng-if="x.visible">
                 		 	<div ng-if="x.auraAnswer.length <3 && y.answerText.length < 4">
								<div class="col-sm-12 col-12" ng-if="$first" ng-click="$ctrl.updateRadio(y.answerValue,x)">
                    				<button class="btn radiobutton metlife-btn-aura mt-2 w-100"  ng-class="{'active': (x.answerTest == y.answerValue)}" title="{{y.answerText| split}}">
                      				<input type="radio" class="ipradio" id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
                  		  		<div class="col-sm-12 col-12" ng-if="!$first" ng-click="$ctrl.updateRadio(y.answerValue,x)">
                    				<button class="btn radiobutton metlife-btn-aura mt-2 w-100" ng-class="{'active': (x.answerTest == y.answerValue)}" title="{{y.answerText| split}}">
                      				<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
                      				<span></span> {{y.answerText | split}}  </button>
                 				</div>
							</div>
							<div ng-if="x.auraAnswer.length >2 ||  y.answerText.length > 3">
								<div class="col-sm-12 col-12" ng-click="$ctrl.updateRadio(y.answerValue,x)">
                    				<button class="btn radiobutton metlife-btn-aura mt-2 w-100"  ng-class="{'active': (x.answerTest == y.answerValue)}" title="{{y.answerText| split}}">
                      				<input type="radio" class="ipradio" id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
							</div>
               			</div>
						<div ng-repeat="z in x.auraAnswer" class="col-12">
							<div ng-repeat="x in z.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
						</div>
					  </div>
					</div>
 					<div ng-if="x.error" ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}" class="error"> Please select an answer 
              		</div>
			</div>
 <!-- Row ends  radio buttons-->


<!-- Row STARTS  CHECK BOX -->
				 <!-- Row ends -->
			            <div ng-if="x.classType=='CheckBoxQuestion'" ng-class="{'row aura-row-style' : !x.baseQuestion && !x.error, 'row aura-row-style has-error' : !x.baseQuestion && x.error}">
			            <!-- <div > -->
              				<div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}" >
                				<label class="control-label" ng-bind="x.questionText | split"></label>
              				</div>
            			<!-- </div> -->
            			<div class="col-sm-12 col-12 fright" ng-repeat="y in x.auraAnswer | checkboxFilter:y">
					<div  ng-class="{'row ml-1' : x.baseQuestion==false}" >
              				<div class=" btn-group-vertical w-100 auraBtnHeight" data-toggle="buttons">
                 				 <div class="ui-checkbox w-100"  >
                    				<button ng-click="$ctrl.updateCheckBox(y.answerValue,x,$index)" class="px-2 btn metlife-btn-aura mt-2 checkboxes ingd-button-checkbox"  ng-class="{'active': (x.answerTest.indexOf(y.answerValue) !== -1)}"> <span></span>{{y.answerText| split}}
									<!--<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	onclick="showTips(this,'Test')"></a>-->

									</button>
									<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	 ng-click="vm.clickToOpen(y.helpText)"></a>
                    				<input type="checkbox" id="option3" class="" name="{{x.questionId}}" ng-value="y.answerValue" ng-model="y.answerValue" >
                  				</div>
                			  </div>
								<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="col-sm-12 col-12 aura-level-3 fright"></div>
              				</div>
            			</div>
						<div ng-if="x.error" class="col-sm-12 col-12  fright error"> Please select an answer <br>
                					<br>
              					</div>
            		</div>

 <!-- Row ends  CHECK BOX-->

<!--Row start for combo box-->

<div ng-class="{'col-sm-12 col-12 fright' : !x.baseQuestion && !x.error, 'col-sm-12 col-12 fright has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='ComboBoxQuestion'">
				 	<!-- <div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<select ng-model="selectedName" class="selectpicker  form-control" style="display: none;"  ng-options="z.answerValue | split for z in x.auraAnswer"></select>
						<div class="col-sm-5 col-10" ng-if="!x.answerTest">
							<select ng-model="selectedName" class="selectpicker  form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ></select>
				 		</div>-->
						<div class="col-sm-5 col-10" ng-if="x.questionComplete && x.answerTest">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-5 col-10" ng-show="x.answerTest=='' && !x.answerTest">
							<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="selectedName" >
							</select>
						</div>

						<div class="col-sm-5 col-10" ng-if="!x.answerTest">
							<button type="button" class="btn btn-primary metlife-btn-aura" ng-click="$ctrl.updateRadio(selectedName.answerText,x)">Select</button>
						</div>
						<div class="col-sm-5 col-10" ng-if="x.answerTest">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
						<div ng-repeat="y in x.auraAnswer" class="col-12">
							<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3">
						</div>

					</div>

              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>

</div>
<!-- Row ends-->

<!--Row start for search question-->
<div ng-class="{'col-sm-12 col-12 fright' : !x.baseQuestion && !x.error, 'col-sm-12 col-12 fright has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
				 	<!-- <div ng-class="{ 'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<div class="col-sm-4 col-10" ng-show="x.answerTest=='' || !x.questionComplete">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control custom-input" ng-model="serachText" ng-init="serachText = x.answerTest">
              			</div>
						<div class="col-sm-4 col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && x.questionComplete">
							<label class="control-label" ng-bind="x.answerTest"></label>
				 		</div>
						<div class="col-sm-4 col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(serachText,x)">Search</button>
						</div>
						<p class="col-12 d-block d-sm-none">&nbsp;</p>
						<div class="col-sm-4 col-10" ng-if="!x.questionComplete && x.answerTest != ''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateFreeText(x.answerTest,x)" title="Accept free text">Accept free text</button>
						</div>
						<div class="col-sm-5 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=''; x.questionComplete = false">Edit</button>
						</div>
              </div>
				<div class="col-sm-12 col-12 fright mt-2 p-0" ng-if="!x.error && !x.questionComplete && x.answerTest != ''" >
					<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="z.answerValue" ng-change="$ctrl.searchValSubmit(z.answerValue,z,x)">
						<option value="" ng-if="false"></option>
					</select>
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error" ng-bind="x.validationMsg || 'Please select an answer'"><br>
                			<br>
				</div>
</div>

<!-- Row ends-->
<!--Row start for DateQuestion question-->
	<div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false && !x.error,  'col-sm-12 col-12 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='DateQuestion'">
				 	<!-- <div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" >{{x.questionText | split}}(dd/mm/yyyy)</label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1,'col-sm-5 col-10': x.answerTest.length==0 , 'displaynone': x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 }">
                				<input type="text"  ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="freeTextArea">
              			</div>-->
						<div  class="col-sm-5 col-10" ng-show="x.answerTest=='' || x.error">
                				<input type="text" date-only ng-click="$ctrl.visible('tick8')" ng-model-options="{updateOn: 'blur'}" class="datepicker form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5 col-10" ng-if="!x.error && x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | dateTextSplit"></label>
				 		</div>
						<div class="col-sm-3 col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest !== ''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please provide an answer <br>
                			<br>
				</div>

	</div>
<!-- Row ends-->
<!--Row start for statement question-->
<div class="col-sm-12 col-12 fright" ng-if="x.classType=='Statement'">
				 	<!-- <div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
	<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
</div>

<!-- Row ends-->
<!--row start for text area("TextAreaQuestion") question-->
<div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false && !x.error, 'col-sm-12 col-12 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
				 	<!-- <div ng-class="{ 'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED' || x.answerTest.length==0 , 'displaynone':x.answerTest!='NO_ANSWER_CHECKED' && x.answerTest.length>0 }">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="freeTextArea">
              			</div>-->
						<div class="col-sm-5 col-10" ng-show="x.answerTest==''">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5 col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3 col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please provide an answer <br>
                			<br>
				</div>
</div>
<!--row ends-->
<!--"TextQuestion"-->
<div ng-class="{ 'col-sm-12 col-12 fright' : x.baseQuestion==false && !x.error,  'col-sm-12 col-12 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextQuestion'">
				 	<!-- <div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED', 'displaynone':x.answerTest!='NO_ANSWER_CHECKED'}">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="freeText">
              			</div>-->
						<div  class="col-sm-5 col-10" ng-show="x.answerTest==''">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control custom-input h-100" ng-model="freeText[x.questionText]">
              			</div>
						<div class="col-sm-5 col-10"  ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3 col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(freeText[x.questionText],x)">Enter</button>
						</div>
						<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please provide an answer <br>
                			<br>
				</div>
</div>

<!--row ends-->
<!--"RangeQuestion"-->
<div ng-class="{'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RangeQuestion'">
				 	<div ng-class="{ 'col-sm-12 col-12 fright' : x.baseQuestion==false}" ng-if="x.visible">
						<label class="control-label" ng-bind="x.questionText | split"></label>
					</div>
					<div  ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}" ng-if="x.visible">
						<div  class="row">
							<div  class="col-sm-5 col-10" ng-show="x.answerTest=='' || x.error" >
								<input type="number"  ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="rangeText" >
							</div>
							<div class="col-sm-5 col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && !x.error">
								<label class="control-label" ng-bind="x.answerTest | split"></label>
							</div>
							<div class="col-sm-3 col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
								<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(rangeText,x)">Enter</button>
							</div>
							<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
								<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
							</div>
						</div>
					</div>

				<div ng-if="x.error && x.visible"  ng-class="{ 'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> <span ng-if="!x.answerTest">Please answer the question</span><span ng-if="x.answerTest !== '' && x.answerTest">Answer is out of acceptable range, please re-enter the number</span> <br>
                			<br>
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
</div>

<!--row ends-->
</script>
<script type="text/ng-template" id="tree_item_renderer_level_3.html">
	<!-- Row starts   Radio buttons  -->
				<div ng-class="{'row' : x.baseQuestion==false && !x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RadioQuestion'" class="radio-question-level3">
				 	<div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}">
					  <div ng-click="$ctrl.visible('tick3')" data-toggle="buttons" class="btn-group w-100 row">
					  	<div ng-class="{'col-sm-12 p-0 col-12':x.auraAnswer.length <= 2 && y.answerText.length > 25, 'col-sm-6 p-0 col-12':x.auraAnswer.length <= 2 && y.answerText.length <= 25, 'col-sm-4 p-0 col-12':x.auraAnswer.length > 2 }" ng-repeat="y in x.auraAnswer" ng-if="x.visible">
                 		 	<div ng-if="x.auraAnswer.length <= 2 && y.answerText.length < 4">
								<div class="col-sm-12 col-12" ng-if="$first" ng-click="$ctrl.updateRadio(y.answerValue,x)">
                    				<button class="btn radiobutton metlife-btn-aura mt-2 w-100"  ng-class="{'active': (x.answerTest == y.answerValue)}" title="{{y.answerText| split}}">
                      				<input type="radio" class="ipradio" id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
                  		  		<div class="col-sm-12 col-12" ng-if="!$first" ng-click="$ctrl.updateRadio(y.answerValue,x)">
                    				<button class="btn radiobutton metlife-btn-aura mt-2 w-100" ng-class="{'active': (x.answerTest == y.answerValue)}" title="{{y.answerText| split}}">
                      				<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
                      				<span></span> {{y.answerText | split}}  </button>
                 				</div>
							</div>
							<div ng-if="x.auraAnswer.length >2 ||  y.answerText.length > 3">
								<div class="col-sm-12 col-12" ng-click="$ctrl.updateRadio(y.answerValue,x)">
                    				<button class="btn radiobutton metlife-btn-aura mt-2 w-100"  ng-class="{'active': (x.answerTest == y.answerValue)}" title="{{y.answerText| split}}">
                      				<input type="radio" class="ipradio" id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
							</div>
               			</div>
						<div ng-repeat="z in x.auraAnswer" class="col-12">
							<div ng-repeat="x in z.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
						</div>
					  </div>
					</div>
 					<div ng-if="x.error" ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}" class="error"> Please select an answer</div>
			</div>
 <!-- Row ends  radio buttons-->


<!-- Row STARTS  CHECK BOX -->
				 <!-- Row ends -->
			            <div ng-if="x.classType=='CheckBoxQuestion'" ng-class="{'row aura-row-style' : !x.baseQuestion && !x.error, 'row aura-row-style has-error' : !x.baseQuestion && x.error}">
			            <!-- <div > -->
              				<div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}" >
                				<label class="control-label" ng-bind="x.questionText | split"></label>
              				</div>
            			<!-- </div> -->
            			<div class="col-sm-12 col-12 fright" ng-repeat="y in x.auraAnswer | checkboxFilter:y">
						<div  ng-class="{'row ml-1' : x.baseQuestion==false}" >
              				<div class=" btn-group-vertical w-100 auraBtnHeight" data-toggle="buttons">
                 				 <div class="ui-checkbox w-100"  >
                    				<button ng-click="$ctrl.updateCheckBox(y.answerValue,x,$index)" class="px-2 btn metlife-btn-aura mt-2 checkboxes ingd-button-checkbox"  ng-class="{'active': (x.answerTest.indexOf(y.answerValue) !== -1)}"> <span></span>{{y.answerText| split}}
									<!--<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	onclick="showTips(this,'Test')"></a>-->

									</button>
									<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	 ng-click="vm.clickToOpen(y.helpText)"></a>
                    				<input type="checkbox" id="option3" class="" name="{{x.questionId}}" ng-value="y.answerValue" ng-model="y.answerValue" >
                  				</div>
                			  </div>
								<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="row aura-row-style aura-level-3"></div>
              				</div>
            			</div>
						<div ng-if="x.error" class="col-sm-12 col-12  fright error"> Please select an answer <br>
                					<br>
              					</div>
            		</div>

 <!-- Row ends  CHECK BOX-->

<!--Row start for combo box-->

<div ng-class="{'col-sm-12 col-12 fright' : !x.baseQuestion && !x.error, 'col-sm-12 col-12 fright has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='ComboBoxQuestion'">
				 	<!-- <div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<select ng-model="selectedName" class="selectpicker  form-control" style="display: none;"  ng-options="z.answerValue | split for z in x.auraAnswer"></select>
						<div class="col-sm-5 col-10" ng-if="!x.answerTest">
							<select ng-model="selectedName" class="selectpicker  form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ></select>
				 		</div>-->
						<div class="col-sm-5 col-10" ng-if="x.questionComplete && x.answerTest">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-5 col-10" ng-show="x.answerTest=='' && !x.answerTest">
							<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="selectedName" >
							</select>
						</div>

						<div class="col-sm-5 col-10" ng-if="!x.answerTest">
							<button type="button" class="btn btn-primary metlife-btn-aura mt-2" ng-click="$ctrl.updateRadio(selectedName.answerText,x)">Select</button>
						</div>
						<div class="col-sm-5 col-10" ng-if="x.answerTest">
							<button type="button" class="btn btn-primary metlife-btn-aura mt-2 w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
						<div ng-repeat="y in x.auraAnswer" class="col-12">
							<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3">
						</div>

					</div>

              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>

</div>
<!-- Row ends-->

<!--Row start for search question-->
<div ng-class="{'col-sm-12 col-12 fright' : !x.baseQuestion && !x.error, 'col-sm-12 col-12 fright has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
				 	<!-- <div ng-class="{ 'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<div class="col-sm-4 col-10 mt-2" ng-show="x.answerTest=='' || !x.questionComplete">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control custom-input" ng-model="serachText" ng-init="serachText = x.answerTest">
              			</div>
						<div class="col-sm-4 col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && x.questionComplete">
							<label class="control-label" ng-bind="x.answerTest"></label>
				 		</div>
						<div class="col-sm-4 col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary metlife-btn-aura mt-2 w-100" ng-click="$ctrl.updateRadio(serachText,x)">Search</button>
						</div>
						<p class="col-12 d-block d-sm-none">&nbsp;</p>
						<div class="col-sm-4 col-10" ng-if="!x.questionComplete && x.answerTest != ''">
							<button type="button" class="btn btn-primary metlife-btn-aura mt-2 w-100" ng-click="$ctrl.updateFreeText(x.answerTest,x)" title="Accept free text">Accept free text</button>
						</div>
						<div class="col-sm-5 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura mt-2 w-100" ng-click="x.answerTest=''; x.questionComplete = false">Edit</button>
						</div>
              </div>
				<div class="col-sm-12 col-12 fright mt-2 p-0" ng-if="!x.error && !x.questionComplete && x.answerTest != ''" >
					<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="z.answerValue" ng-change="$ctrl.searchValSubmit(z.answerValue,z,x)">
						<option value="" ng-if="false"></option>
					</select>
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error" ng-bind="x.validationMsg || 'Please select an answer'"><br>
                			<br>
				</div>
</div>

<!-- Row ends-->
<!--Row start for DateQuestion question-->
	<div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false && !x.error,  'col-sm-12 col-12 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='DateQuestion'">
				 	<!-- <div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" >{{x.questionText | split}}(dd/mm/yyyy)</label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1,'col-sm-5 col-10': x.answerTest.length==0 , 'displaynone': x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 }">
                				<input type="text"  ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="freeTextArea">
              			</div>-->
						<div  class="col-sm-5 col-10" ng-show="x.answerTest=='' || x.error">
                				<input type="text" date-only ng-click="$ctrl.visible('tick8')" ng-model-options="{updateOn: 'blur'}" class="datepicker form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5 col-10" ng-if="!x.error && x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | dateTextSplit"></label>
				 		</div>
						<div class="col-sm-3 col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest !== ''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please provide an answer <br>
                			<br>
				</div>

	</div>
<!-- Row ends-->
<!--Row start for statement question-->
<div class="col-sm-12 col-12 fright" ng-if="x.classType=='Statement'">
				 	<!-- <div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
	<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
</div>

<!-- Row ends-->
<!--row start for text area("TextAreaQuestion") question-->
<div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false && !x.error, 'col-sm-12 col-12 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
				 	<!-- <div ng-class="{ 'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED' || x.answerTest.length==0 , 'displaynone':x.answerTest!='NO_ANSWER_CHECKED' && x.answerTest.length>0 }">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="freeTextArea">
              			</div>-->
						<div class="col-sm-5 col-10" ng-show="x.answerTest==''">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5 col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3 col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please provide an answer <br>
                			<br>
				</div>
</div>
<!--row ends-->
<!--"TextQuestion"-->
<div ng-class="{ 'col-sm-12 col-12 fright' : x.baseQuestion==false && !x.error,  'col-sm-12 col-12 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextQuestion'">
				 	<!-- <div ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED', 'displaynone':x.answerTest!='NO_ANSWER_CHECKED'}">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="freeText">
              			</div>-->
						<div  class="col-sm-5 col-10" ng-show="x.answerTest==''">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control custom-input h-100" ng-model="freeText[x.questionText]">
              			</div>
						<div class="col-sm-5 col-10"  ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3 col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(freeText[x.questionText],x)">Enter</button>
						</div>
						<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
              <div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please provide an answer <br>
                			<br>
				</div>
</div>

<!--row ends-->
<!--"RangeQuestion"-->
<div ng-class="{'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RangeQuestion'">
			<div ng-class="{ 'col-sm-12 col-12 fright' : x.baseQuestion==false}" ng-if="x.visible">
				<label class="control-label" ng-bind="x.questionText | split"></label>
			</div>
			<div  ng-class="{'col-sm-12 col-12 fright' : x.baseQuestion==false}" ng-if="x.visible">
				<div  class="row">
					<div  class="col-sm-5 col-10" ng-show="x.answerTest=='' || x.error" >
						<input type="number"  ng-click="$ctrl.visible('tick8')" class="form-control custom-input h-100" ng-model="rangeText" >
					</div>
					<div class="col-sm-5 col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && !x.error">
						<label class="control-label" ng-bind="x.answerTest | split"></label>
					</div>
					<div class="col-sm-3 col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
						<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(rangeText,x)">Enter</button>
					</div>
					<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
						<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
					</div>
				</div>
			</div>

				<div ng-if="x.error && x.visible"  ng-class="{ 'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> <span ng-if="!x.answerTest">Please answer the question</span><span ng-if="x.answerTest !== '' && x.answerTest">Answer is out of acceptable range, please re-enter the number</span> <br>
                			<br>
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
</div>

<!--row ends-->
</script>
<script type="text/ng-template" id="tree_item_renderer.html">

<!-- Row starts   Radio buttons  -->
				<div ng-class="{'row aura-row-style' : x.baseQuestion && !x.error, 'row' : x.baseQuestion==false && !x.error, 'row aura-row-style has-error' : x.baseQuestion && x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RadioQuestion' && x.visible">
				 	<div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11 col-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-12 col-12 fright' : x.baseQuestion==false && x.indent==2}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11 col-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-12 col-12 fright' : x.baseQuestion==false && x.indent==2}">
					  <div ng-click="$ctrl.visible('tick3')" data-toggle="buttons" class="btn-group row w-100">
					  	<div ng-class="{'col-sm-4 twobutton p-0 col-12':x.auraAnswer.length <= 2, 'col-sm-4 p-0 col-12':x.auraAnswer.length > 2}" ng-repeat="y in x.auraAnswer" ng-if="x.visible">
								<div ng-if="x.auraAnswer.length <= 2 && y.answerText.length < 4">
								<div class="col-sm-12 col-12" ng-if="$first" ng-click="$ctrl.updateRadio(y.answerValue,x)">
                    				<button class="btn radiobutton metlife-btn-aura mt-2 w-100"  ng-class="{'active': (x.answerTest == y.answerValue)}" title="{{y.answerText| split}}">
                      				<input type="radio" class="ipradio" id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
                  		  		<div class="col-sm-12 col-12" ng-if="!$first" ng-click="$ctrl.updateRadio(y.answerValue,x)">
                    				<button class="btn radiobutton metlife-btn-aura mt-2 w-100" ng-class="{'active': (x.answerTest == y.answerValue)}" title="{{y.answerText| split}}">
                      				<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
                      				<span></span> {{y.answerText | split}}  </button>
                 				</div>
							</div>
							<div ng-if="x.auraAnswer.length >2 ||  y.answerText.length > 3">
								<div class="col-sm-12 col-12" ng-click="$ctrl.updateRadio(y.answerValue,x)">
                    				<button class="btn radiobutton metlife-btn-aura mt-2 w-100"  ng-class="{'active': (x.answerTest == y.answerValue)}" title="{{y.answerText| split}}">
                      				<input type="radio" class="ipradio" id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
							</div>
               			</div>
						<div ng-repeat="z in x.auraAnswer" class="col-12">
							<div ng-repeat="x in z.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="aura-level-1"></div>
						</div>
					  </div>
					</div>
 					<div ng-if="x.error" ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11 col-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-12 col-12 fright' : x.baseQuestion==false && x.indent==2}" class="error"> Please select an answer <br>
                			<br>
              		</div>
			</div>
			<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.baseQuestion==true && x.classType=='RadioQuestion'" ng-if="x.visible">
 <!-- Row ends  radio buttons-->
<!-- Row starts   Height Question  -->
    <!-- Row starts -->
		<div class="row aura-row-style aura-height-question" ng-class="{'has-error':x.error}" ng-if="x.classType=='HeightQuestion'">
				<div class="col-md-4 col-5">
					<label class="control-label" ng-bind="x.questionText | split"></label>
				</div>
				<div class="col-3 col-md-2">
					<input type="text" maxlength="{{heightOptions=='ft.in'? 1 : 3}}" class="form-control custom-input h-100" numbers-only ng-model="$ctrl.heightval" ng-change="$ctrl.meterValue($ctrl.heightval,x.answerTest,x)">
				</div>
				<div class="col-4 col-md-3">
					<div class="select h-100">
	    				<select ng-options="option as option for option in $ctrl.heightDropdownOpt" class="form-control custom-input h-100" ng-model="$ctrl.heightDropDown" ng-change="$ctrl.heighOptions($ctrl.heightDropDown)">
	      					  <option value="" ng-if="false"></option>
	    				</select>
	    				<div class="select__arrow"></div>
					</div>
	 			</div>
			<div class="col-12 mt-2" ng-if="$ctrl.heightOptions=='ft.in' && x.classType=='HeightQuestion'">
				<div class="row">
					<div class="col-md-4 col-5"></div>	
					<div class="col-md-2 col-3">
							<input type="text" maxlength="2" class="form-control custom-input h-100" numbers-only ng-model="$ctrl.inches" ng-change="$ctrl.inchValue($ctrl.inches)">
					</div>
					<div class="col-4 col-md-3">
						<div class="col-md-4 col-5 mt15px"></div>
						<label class="control-label mb10px" >in</label>
					</div>
				</div>
			</div>
			<div ng-if="x.error && x.classType=='HeightQuestion'" class="col-12">
				<div class="row">
					<div class="col-md-4 col-5"></div>
					<div  class="col-md-8 col-7 fright error"> Please select an answer </div>
				</div>
			</div>
		</div>
		<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.classType=='HeightQuestion'">
	<!-- Row ends -->
<!-- Row ends  Height buttons-->

<!-- Row starts Weight Question  -->
    <!-- Row starts -->
	<div class="row aura-row-style aura-height-question" ng-class="{'has-error':x.error}" ng-if="x.classType=='WeightQuestion'">
		<!-- <div> -->
			<div class="col-md-4 col-5">
				<label class="control-label" ng-bind="x.questionText | split"></label>
			</div>
			<div class="col-3 col-md-2">
				<input type="text" ng-click="$ctrl.visible('tick8')" maxlength="{{$ctrl.weightMaxLen}}" max="200" class="form-control custom-input h-100" numbers-only ng-model="$ctrl.weightVal" ng-change="$ctrl.weightValue($ctrl.weightVal,x.answerTest,x)">
			</div>
			<div class="col-4 col-md-3">
				<div class="select h-100">
    				<select ng-options="option as option for option in $ctrl.weightDropdownOpt" class="selectpicker form-control custom-input h-100" ng-model="$ctrl.weightDropDown" ng-change="$ctrl.weightOptions($ctrl.weightDropDown)">
      					 <option value="" ng-if="false"></option>
    				</select>
    				<div class="select__arrow"></div>
				</div>
 			</div>
		<!-- </div> -->
		<div class="col-12 mt-2" ng-if="$ctrl.weighOptions=='st.lb' && x.classType=='WeightQuestion'">
			<div class="row">
				<div class="col-md-4 col-5"></div>
				<div class="col-3 col-md-2">
					<input type="text" maxlength="2" class="form-control custom-input h-100" numbers-only ng-model="$ctrl.lbsval" ng-change="$ctrl.lbsValue($ctrl.lbsval)">
				</div>
				<div class="col-4 col-md-3">
					<label class="control-label mb10px" >lbs</label>
				</div>
			</div>
		</div>
		<div ng-if="x.error && x.classType=='WeightQuestion'" class="col-12">
			<div class="row">
				<div class="col-md-4 col-5"></div>
				<div class="col-md-8 col-7 fright error"> Please select an answer </div>
			</div>
		</div>
	</div>
	<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.classType=='WeightQuestion'">
    <!-- Row ends -->
<!-- Row Ends Weight Question  -->

<!-- Row STARTS  CHECK BOX -->
				 <!-- Row ends -->
			            <div ng-if="x.classType=='CheckBoxQuestion'" ng-class="{'mb-4' : x.baseQuestion, 'row aura-row-style' : !x.baseQuestion && !x.error, 'aura-row-style has-error' : !x.baseQuestion && x.error, 'has-error' : x.baseQuestion && x.error}">
			            <div>
              				<div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11 col-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-12 col-12 fright' : x.baseQuestion==false && x.indent==2}" >
                				<label class="control-label" ng-bind="x.questionText | split"></label>
              				</div>
            			</div>
            			<div class="row" ng-repeat="y in x.auraAnswer | checkboxFilter:y">
							<div  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11 col-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-12 col-12 fright' : x.baseQuestion==false && x.indent==2}" >
              					<div class=" btn-group-vertical w-100 auraBtnHeight">
              					<div class="col-sm-12">
	                 				<div class="ui-checkbox"  >
	                    				<button ng-click="(x.answerTest.indexOf('None of the above') === -1 || y.answerValue.indexOf('None of the above') === -1) && $ctrl.updateCheckBox(y.answerValue,x,$index, $event)" class="px-2 btn metlife-btn-aura mt-2 checkboxes ingd-button-checkbox"  ng-class="{'active': (x.answerTest.indexOf(y.answerValue) !== -1)}"> <span></span>{{y.answerText| split}}
										<!--<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	onclick="showTips(this,'Test')"></a>-->

										</button>
										<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	 ng-click="$ctrl.clickToOpen(y.helpText)"></a>
	                    				<input type="checkbox" id="option3" class="" name="{{x.questionId}}" ng-value="y.answerValue" ng-model="y.answerValue" >
	                  				</div>
	                			</div>
                			  </div>
								<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="aura-level-1"></div>
              				</div>
            			</div>
						<div ng-if="x.error" class="col-sm-12 col-12  fright error"> Please select an answer <br>
                					<br>
              					</div>
            		</div>
					<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.baseQuestion==true && x.classType=='CheckBoxQuestion'">
 <!-- Row ends  CHECK BOX-->

<!--Row start for combo box-->

<div ng-class="{'col-sm-11 col-10' : !x.baseQuestion && !x.error, 'col-sm-12 col-12' : x.baseQuestion && !x.error, 'col-sm-11 col-10 has-error' : !x.baseQuestion && x.error, 'col-sm-12 col-12 has-error' : x.baseQuestion && x.error}" ng-if="x.classType=='ComboBoxQuestion'">
				 	<!-- <div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11 col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row" ng-class="{'fright' : x.indent==2}">
						<!--<select ng-model="selectedName" class="selectpicker  form-control" style="display: none;"  ng-options="z.answerValue | split for z in x.auraAnswer"></select>
						<div class="col-sm-5 col-10" ng-if="!x.answerTest">
							<select ng-model="selectedName" class="selectpicker  form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ></select>
				 		</div>-->
						<div class="col-sm-5 col-10" ng-if="x.questionComplete && x.answerTest">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-5 col-10" ng-show="x.answerTest=='' && !x.answerTest">
							<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="selectedName" >
							</select>
						</div>

						<div class="col-sm-5 col-10" ng-if="!x.answerTest">
							<button type="button" class="btn btn-primary metlife-btn-aura" ng-click="$ctrl.updateRadio(selectedName.answerText,x)">Select</button>
						</div>
						<div class="col-sm-5 col-10" ng-if="x.answerTest">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
						<div ng-repeat="y in x.auraAnswer">
							<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="row aura-row-style aura-level-1">
						</div>

					</div>

              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>

</div>
<!-- Row ends-->

<!--Row start for search question-->
<div ng-class="{'col-sm-11 col-10 fright' : !x.baseQuestion && !x.error, 'col-sm-12 col-12' : x.baseQuestion && !x.error, 'col-sm-11 col-10 fright has-error' : !x.baseQuestion && x.error, 'col-sm-12 col-12 has-error' : x.baseQuestion && x.error}" ng-if="x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
				 	<!-- <div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11 col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<div class="col-sm-4 col-10" ng-show="x.answerTest=='' || !x.questionComplete">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control custom-input" ng-model="serachText" ng-init="serachText = x.answerTest">
              			</div>
						<div class="col-sm-4 col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && x.questionComplete">
							<label class="control-label" ng-bind="x.answerTest"></label>
				 		</div>
						<div class="col-sm-4 col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(serachText,x)">Search</button>
						</div>
						<p class="col-12 d-block d-sm-none">&nbsp;</p>
						<div class="col-sm-4 col-10" ng-if="!x.questionComplete && !x.error && x.answerTest != ''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateFreeText(x.answerTest,x)" title="Accept free text">Accept free text</button>
						</div>
						<div class="col-sm-5 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=''; x.questionComplete = false">Edit</button>
						</div>
              </div>
				<div class="col-sm-12 col-12 mt-2 p-0 fright" ng-if="!x.error && !x.questionComplete && x.answerTest != ''" >
					<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="z.answerValue" ng-change="$ctrl.searchValSubmit(z.answerValue,z,x)">
						<option value="" ng-if="false"></option>
					</select>
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="aura-level-1"></div>
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error" ng-bind="x.validationMsg || 'Please select an answer'"><br>
                			<br>
				</div>
</div>
<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.baseQuestion==true && x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
<!-- Row ends-->
<!--Row start for DateQuestion question-->
	<div ng-class="{'col-sm-12 col-12' : x.baseQuestion && !x.error, 'col-sm-12 col-12 fright' : x.baseQuestion==false && !x.error, 'col-sm-12 col-12 has-error' : x.baseQuestion && x.error, 'col-sm-12 col-12 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='DateQuestion'">
				 	<!-- <div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-12 col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" >{{x.questionText | split}}(dd/mm/yyyy)</label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1,'col-sm-5 col-10': x.answerTest.length==0 , 'displaynone': x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 }">
                				<input type="text"  ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="freeTextArea">
              			</div>-->
						<div  class="col-sm-5 col-10" ng-show="x.answerTest=='' || x.error">
                				<input type="text" date-only ng-click="$ctrl.visible('tick8')" ng-model-options="{updateOn: 'blur'}" class="datepicker form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5 col-10" ng-if="!x.error && x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | dateTextSplit"></label>
				 		</div>
						<div class="col-sm-3 col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest !== ''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please provide an answer <br>
                			<br>
				</div>

	</div>
<!-- Row ends-->
<!--Row start for statement question-->
<div ng-class="{'row aura-row-style' : x.baseQuestion, 'row' : x.baseQuestion==false}" ng-if="x.classType=='Statement'">
				 	<div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11 col-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
	<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="aura-level-1"></div>
				</div>
</div>

<!-- Row ends-->
<!--row start for text area("TextAreaQuestion") question-->
<div ng-class="{'row aura-row-style' : x.baseQuestion && !x.error, 'row' : x.baseQuestion==false && !x.error, 'row aura-row-style has-error' : x.baseQuestion && x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
				 	<div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-12 col-12 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-12 col-12  fright">
						<!--<div ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED' || x.answerTest.length==0 , 'displaynone':x.answerTest!='NO_ANSWER_CHECKED' && x.answerTest.length>0 }">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="freeTextArea">
              			</div>-->
						<div class="col-sm-5 col-10" ng-show="x.answerTest==''">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5 col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3 col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please provide an answer <br>
                			<br>
				</div>
</div>
<!--row ends-->
<!--"TextQuestion"-->
<div ng-class="{'row aura-row-style' : x.baseQuestion && !x.error, 'row' : x.baseQuestion==false && !x.error, 'row aura-row-style has-error' : x.baseQuestion && x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextQuestion'">
				 	<div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11 col-10 fright' : x.baseQuestion==false && x.indent==1, 'col-sm-12 col-12 fright':x.baseQuestion==false && x.indent==2}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-12 col-12  fright">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED', 'displaynone':x.answerTest!='NO_ANSWER_CHECKED'}">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="freeText">
              			</div>-->
						<div  class="col-sm-5 col-10" ng-show="x.answerTest==''">
                				<input type="text" ng-click="$ctrl.visible('tick8')" class="form-control custom-input h-100" ng-model="freeText[x.questionText]">
              			</div>
						<div class="col-sm-5 col-10"  ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3 col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(freeText[x.questionText],x)">Enter</button>
						</div>
						<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>

				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> Please provide an answer <br>
                			<br>
				</div>
</div>

<!--row ends-->
<!--"RangeQuestion"-->
<div ng-class="{'row aura-row-style' : x.baseQuestion && !x.error, 'row' : x.baseQuestion==false && !x.error, 'row aura-row-style has-error' : x.baseQuestion && x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RangeQuestion'">
				 	<div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11 col-10 fright' : x.baseQuestion==false}" ng-if="x.visible">
						<label class="control-label" ng-bind="x.questionText | split"></label>
					</div>
					<div  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11 col-10 fright' : x.baseQuestion==false}" ng-if="x.visible">
						<div  class="row">
							<div  class="col-sm-5 col-10" ng-show="x.answerTest=='' || x.error" >
								<input type="number"  ng-click="$ctrl.visible('tick8')" class="form-control" ng-model="rangeText" >
							</div>
							<div class="col-sm-5 col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && !x.error">
								<label class="control-label" ng-bind="x.answerTest | split"></label>
							</div>
							<div class="col-sm-3 col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
								<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.updateRadio(rangeText,x)">Enter</button>
							</div>
							<div class="col-sm-3 col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
								<button type="button" class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
							</div>
            </div>
					</div>

				<div ng-if="x.error && x.visible"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-12 col-12' : x.baseQuestion==false}" class="fright error"> <span ng-if="!x.answerTest">Please answer the question</span><span ng-if="x.answerTest !== '' && x.answerTest">Answer is out of acceptable range, please re-enter the number</span> <br>
                			<br>
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="aura-level-1"></div>
				</div>
</div>

<!--row ends-->
</script>

<div class="container aura pt-5" ng-init="$ctrl.init()">
	<div class="menumobile d-block d-md-none no-gutters">
    <div class="col-8 d-block float-left">
      <div class="txtHolderMob">
        <span class="color2">2 / 3</span> Health &amp; lifestyle </div>
    </div>
    <div class="col-4 align-top d-inline-block">
      <div class="icoMenuRev">
        <span></span>
      </div>
      <div class="icoMenuFwd">
        <span></span>
      </div>
    </div>
  </div>
	<div class="row">
		<div class="col-12 col-md-9">
			
			<div class="menu d-none d-sm-block">
				<div class="col-sm-4 dc first float-left cursor-pointer" ng-click="$ctrl.previous();">
					<h5 style="color:#0066a1" class="mt15">Step 1</h5>
					<div class="txtHolder pointer">	Personal details</div>
					<img src="./static/ingd/src/assets/images/bg_blank.png" class="shadow-image right"> </div>
				<div class="col-sm-4 cn float-left">
					<img src="static/aeis/images/bg_blank.png" class="shadow-image left">
					<h5 class="mt15">Step 2</h5>
					<div class="txtHolder"> Health &amp; lifestyle</div>
					<img src="./static/ingd/src/assets/images/bg_blank.png" class="shadow-image right"> </div>
				<div class="col-sm-4 cnn float-left">
					<h5 class="mt15">Step 3</h5>
					<div class="txtHolder"> Confirmation </div>
					<img src="./static/ingd/src/assets/images/bg_blank.png" class="shadow-image left"> </div>
			</div>
      		
      		<div class="panel-group">
				<div class="card border-0" ng-repeat="section in $ctrl.auraResponseDataList" ng-if="section.sectionName!='QG=Occupation Details'">
				
					<div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
						<div data-toggle="collapse" data-target="#collapse-{{$index}}" ng-click="$ctrl.isCollapsible($event, section.sectionStatus);" ng-class="{'collapsed':!section.sectionStatus}">
							<button class="ingd-section-title mb-0" ng-bind="section.sectionName | sectionSplit"></button>
						</div>
					</div>
            
					<div id="collapse-{{$index}}" class="collapse" role="tabpanel" ng-class="{'show':section.sectionStatus}">
						<div class="card-body">
							<div ng-repeat="x in section.questions" ng-if="x.visible" ng-include="'tree_item_renderer.html'"></div>
								<div class="row aura-row-style">
									<div class="col-sm-4 col-12" ng-if="!$last">
										<a class="" data-parent="#accordion" data-toggle="collapse">
											<button class="btn ingd-submit-button font-weight-normal text-white w-100" type="button" ng-click="$ctrl.collapseUncollapse($index,section.sectionName)">Continue</button>
										</a>
									</div>
									
									<div class="col-sm-12 col-12" ng-if="$last">
										
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="card card-default">
						<div class="card-body">
							<div ng-if="$ctrl.isAuraErroneous" class="row corp-row-style error">
								<div class="col-12">
									<p>Please complete below sections to continue</p>
									<ul>
										<li ng-repeat="section in $ctrl.erroneousSections"> {{section}}</li>
									</ul>
								</div>
							</div>
					
							<div class="row">
			                  <div class="form-group col-12 col-md-4">
			                    <button class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.previous()">Previous</button>
			                  </div>
			                  <span class="spacer d-block d-sm-none">&nbsp;</span>
			                  <div class="form-group col-12 col-md-4">
			                    <button class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.save()">Save & Exit</button>
			                  </div>
			                  <span class="spacer d-block d-sm-none">&nbsp;</span>
			                  <div class="form-group col-12 col-md-4">
			                    <button class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click=" $ctrl.continue()">Continue</button>
			                  </div>
			                </div>
		                </div>
		            </div>
				</div>
				
				
		</div>
		<div class="col-12 col-md-3 mt-4 mt-md-0">
      <div class="need-help-block text-white p-3">
        <h4 class="text-white">Can we help?</h4>
        <p> Call us on
          <strong>133 464</strong>
        </p>
        <p> 8am - 8pm Monday to Friday</p>
        <p> 9am - 5pm Saturday (AEST/AEDT)</p>
      </div>
    </div>
	</div>
	<!-- /container -->
</div>