<div class="container pt-5" ng-init="$ctrl.init()">
  <div class="menumobile d-block d-md-none no-gutters">
    <div class="col-8 d-block float-left">
      <div class="txtHolderMob">
        <span class="color2">1 / 3</span> Personal details </div>
    </div>
    <div class="col-4 align-top d-inline-block">
      <div class="icoMenuRev">
        <span></span>
      </div>
      <div class="icoMenuFwd">
        <span></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
    	<div class="panel-group">
    		<div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
      			<div data-toggle="collapse" data-target="#personal-section">
      				<button class="ingd-section-title mb-0" ng-if="$ctrl.finalDecision=='DCL'">Thanks</button>
      				<button class="ingd-section-title mb-0" ng-if="$ctrl.finalDecision=='ACC' && ($ctrl.enableLoadingSection || $ctrl.enableExclusionSection)">Covered</button>
      				<button class="ingd-section-title mb-0" ng-if="$ctrl.finalDecision=='ACC' && !$ctrl.enableLoadingSection && !$ctrl.enableExclusionSection">Covered</button>
      				<button class="ingd-section-title mb-0" ng-if="$ctrl.finalDecision=='RUW'">Thanks</button>
      				<button class="ingd-section-title mb-0" ng-if="$ctrl.finalDecision=='MXD'">Thanks</button>
      			</div>
      		</div>
      		<div id="personal-section" class="collapse in show">
      			<div class="card panel-body pt-3 px-3">
      				<div class="row rowcustom">
      					<div class=" col-sm-12" ng-if="$ctrl.finalDecision=='DCL'">
	      					<p> Thanks {{$ctrl.changeCoverData.applicant.firstName}} {{$ctrl.changeCoverData.applicant.lastName}}, we've received your application for Death, Total Permanent Disablement and Income Protection cover and will be in touch within the next three business days.</p>
	      					<p>We're here to help. If you have any questions, please call <strong>133 464</strong> 8am - 8pm Monday - Friday, or 9am - 5pm Saturday.</p>
      					</div>
      					
      					<div class=" col-sm-12" ng-if="$ctrl.finalDecision=='ACC' && ($ctrl.enableLoadingSection || $ctrl.enableExclusionSection)">
	      					<p> Thanks {{$ctrl.changeCoverData.applicant.firstName}} {{$ctrl.changeCoverData.applicant.lastName}}, Please see a summary of your cover below and a few notes for your info.</p>
	      					<strong>Covered</strong>
	      					<ul>
	      						<li ng-if="$ctrl.enableLoadingSection && $ctrl.enableExclusionSection">Covered for Death, Total Permanent Disablement and Income Protection with an exclusion(s) and loading(s).</li>
	      						<li ng-if="$ctrl.enableLoadingSection">Covered for Death, Total Permanent Disablement and Income Protection with a loading(s).</li>
	      						<li ng-if="$ctrl.enableExclusionSection">Covered for Death, Total Permanent Disablement and Income Protection with an exclusion(s)</li>	      						     						
	      					</ul>	      					
	      					<strong>For your records:</strong>
	      					<ul>
	      						<li>Read about exclusions and loading in the Product guide.</li>
	      						<li>Premium payments will be deducted on the last day of each month.</li>
	      						<!-- <li><a style="text-decoration:underline;" class="cursor-pointer" ng-click="$ctrl.downloadPDF()">Here's</a> a copy of your application.</li> -->	      						
	      					</ul>
	      					<p>We're here to help. If you have any questions, please call <strong>133 464</strong> 8am - 8pm Monday - Friday, or 9am - 5pm Saturday.</p>
	      				
      					</div>
      					
      					<div class=" col-sm-12" ng-if="$ctrl.finalDecision=='ACC' && !$ctrl.enableLoadingSection && !$ctrl.enableExclusionSection">
	      					<p> Thanks {{$ctrl.changeCoverData.applicant.firstName}} {{$ctrl.changeCoverData.applicant.lastName}}, you're now covered for Death, Total Permanent Disablement and Income Protection cover.</p>
	      					<strong>For your records:</strong>
	      					<p></p>
	      					<ul>
	      						<li>Premium payments will be deducted on the last day of each month.</li>
	      						<!-- <li><a style="text-decoration:underline;" class="cursor-pointer" ng-click="$ctrl.downloadPDF()">Here's</a> a copy of your application.</li> -->	      						
	      					</ul>
	      					<p>We're here to help. If you have any questions, please call <strong>133 464</strong> 8am - 8pm Monday - Friday, or 9am - 5pm Saturday.</p>
      					</div>
      					
      					<div class=" col-sm-12" ng-if="$ctrl.finalDecision=='RUW'">
	      					<p> Thanks {{$ctrl.changeCoverData.applicant.firstName}} {{$ctrl.changeCoverData.applicant.lastName}} we've received your application for Death, Total Permanent Disablement and Income Protection cover.Before things can be finalised, our insurer, MetLife Insurance Limited, will be in touch with you - please allow three business days for this to occur.</p>
	      					<strong>Interim cover</strong>
	      					<p>In the meantime, if you are not on Automatic Cover, we've provided you with Interim Accident Cover that will remain active until the earliest of:</p>
	      					<ul>
	      						<li>90 days from today.</li>
	      						<li>a final decision is made by MetLife Insurance Limited.</li>
	      						<li>you withdraw your application.</li>
	      					</ul>
	      					<!-- <strong>For your records:</strong>
	      					<p></p>
	      					<ul>
	      						<li>Read about Interim Accident Cover in the Product Guide.</li>
	      						<li><a style="text-decoration:underline;" class="cursor-pointer" ng-click="$ctrl.downloadPDF()">Here's</a> a copy of your application.</li>	      						
	      					</ul> -->
	      					<p>We're here to help. If you have any questions, please call <strong>133 464</strong> 8am - 8pm Monday - Friday, or 9am - 5pm Saturday.</p>
	      					
      					</div>
      					
      					<div class="col-sm-12" ng-if="$ctrl.finalDecision=='MXD'">
	      					<p>Thanks {{$ctrl.changeCoverData.applicant.firstName}} {{$ctrl.changeCoverData.applicant.lastName}}. Please see below a summary of your cover and a few notes for your info.</p>
	      					
	      					<strong>Covered</strong>
	      					<p>Covered for {{$ctrl.mixedAcceptedCovers}}.</p>
	      					
	      					<strong>In review</strong>
	      					<p>Regarding your request for {{$ctrl.mixedDeclinedCovers}}, we still have a few things to look at and will be in touch within the next three business days.</p>
	      					
	      					<strong>For your records:</strong>
	      					<p></p>
	      					<ul>
	      						<li>Read about exclusions and loading in the Product Guide.</li>
	      						<li>Premium payments will be deducted on the last day of each month.</li>
	      						<!-- <li><a style="text-decoration:underline;" class="cursor-pointer" ng-click="$ctrl.downloadPDF()">Here's</a> a copy of your application.</li> -->
	      					</ul>	      					
	      					<p>We're here to help. If you have any questions, please call <strong>133 464</strong> 8am - 8pm Monday - Friday, or 9am - 5pm Saturday.</p>
	      					
      					</div>
      			</div>
      			
      			<div class="row">
      				<div class="col-sm-6 aligncenter coverbg borderright decision">
      				<h5 class="mb0">Application number</h5>
      				<p>{{$ctrl.changeCoverData.applicatioNumber}}</p>
      			</div>
      			
      			<div class="col-sm-6 aligncenter coverbg decision">
      				<h5 class="mb0">Application</h5>
      				<p>
      					<span class="icoDoc"></span>
      					<a class="cursor-pointer" ng-click="$ctrl.downloadPDF()"><strong>Download </strong></a>
      				</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-3 mt-4 mt-md-0">
      <div class="need-help-block text-white p-3">
        <h4 class="text-white">Can we help?</h4>
        <p> Call us on
          <strong>133 464</strong>
        </p>
        <p> 8am - 8pm Monday to Friday</p>
        <p> 9am - 5pm Saturday (AEST/AEDT)</p>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>