<div class="container pt-5" ng-init="$ctrl.init()">
  <div class="menumobile d-block d-md-none no-gutters">
    <div class="col-8 d-block float-left">
      <div class="txtHolderMob">
        <span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-4 align-top d-inline-block">
      <div class="icoMenuRev">
        <span></span>
      </div>
      <div class="icoMenuFwd">
        <span></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="menu d-none d-sm-block cursor-pointer">
      	<div class="col-sm-4 dd first float-left pt-2" ng-click="$ctrl.goToPath('app.quote');">
      		<h5 style="color:#0066a1">Step 1</h5>
      		<div class="txtHolder pointer">Personal details</div>
      		<img src="./static/ingd/src/assets/images/bg_blank.png" class="right">
      	</div>
      	
      	<div class="col-sm-4 dc float-left pt-2 cursor-pointer" ng-if="$ctrl.changeCoverData.auraDisabled==false || $ctrl.changeCoverData.auraDisabled=='false'" ng-click="$ctrl.previous();">
      		<img src="./static/ingd/src/assets/images/bg_blank.png" class="left">
      		<h5 style="color:#0066a1">Step 2</h5>
      		<div class="txtHolder pointer">Health &amp; lifestyle</div>
      		<img src="./static/ingd/src/assets/images/bg_blank.png" class="right">
      	</div>
      	
      	<div class="col-sm-4 dc float-left pt-2" ng-if="$ctrl.changeCoverData.auraDisabled==true || $ctrl.changeCoverData.auraDisabled=='true'" style="cursor:not-allowed">
      		<img src="./static/ingd/src/assets/images/bg_blank.png" class="shadow-image left">
      		<h5 style="color:#d9d9d9">Step 2</h5>
      		<div class="txtHolder">
      			<p style="color:#d9d9d9" class="txtHolder"> Health &amp; lifestyle</p>
      		</div>
      		<img src="./static/ingd/src/assets/images/bg_blank.png" class="shadow-image right">
      	</div>
      	
      	<div class="col-sm-4 cn dc float-left pt-2">
      		<img src="./static/ingd/src/assets/images/bg_blank.png" class=" left">
      		<h5>Step 3</h5>
      		<div class="txtHolder" style="color:#000"> Confirmation </div>
      	</div>
      </div>
	     
      <div class="panel-group">
      	<!-- Personal Details section -->
      	<div class="card border-0 mt-2">  
      	    		
      		<div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
      			<div data-toggle="collapse" data-target="#personal-section">
      				<button class="ingd-section-title mb-0">Personal details</button>
      			</div>
      		</div>
      		      		      		
      		<div id="personal-section" class="collapse in show">
      			<div class="mb-3 p-3">
      				<div class="row">
      					<div class="col-sm-6 col-12">
      						<label class="d-block"><strong>First Name</strong></label>
      						<label  class="d-block">{{$ctrl.changeCoverData.applicant.firstName}}</label>
      					</div>
      					
      					<div class="col-sm-6 col-12">
      						<label  class="d-block"><strong>Last name</strong> </label>
      						<label  class="d-block">{{$ctrl.changeCoverData.applicant.lastName}} </label>
      					</div>
      				</div>
      				
      				<hr class="primeline d-none d-sm-block">
      				
      				
      				<div class="row">
      					<div class="col-sm-6 col-12">
      						<label class="d-block"><strong>Gender</strong></label>
      						<label  class="d-block">{{$ctrl.changeCoverData.applicant.gender}}</label>
      					</div>
      					
      					<div class="col-sm-6 col-12">
      						<label  class="d-block"><strong>Preferred contact type</strong> </label>
      						<label  class="d-block">{{$ctrl.changeCoverData.applicant.contactDetails.preferedContacType}}</label>
      					</div>
      				</div>
      				
      				<hr class="primeline d-none d-sm-block">

                    <div class="row">
      					<div class="col-sm-6 col-12">
      						<label class="d-block"><strong>Preferred contact number</strong></label>
      						<label  class="d-block">{{$ctrl.changeCoverData.applicant.contactDetails.preferedContactNumber}}</label>
      					</div>
      					
      					<div class="col-sm-6 col-12">
      						<label  class="d-block"><strong>Email address</strong> </label>
      						<label  class="d-block">{{$ctrl.changeCoverData.applicant.emailId}} </label>
      					</div>
      				</div>
      				
      				
      				<hr class="primeline d-none d-sm-block">

                    <div class="row">
      					<div class="col-sm-6 col-12">
      						<label class="d-block"><strong>Date of birth</strong></label>
      						<label  class="d-block">{{$ctrl.changeCoverData.applicant.birthDate}}</label>
      					</div>
      					
      					<div class="col-sm-6 col-12">
      						<label  class="d-block"><strong>What time of day do you prefer to be contacted?</strong> </label>
      						<label  class="d-block">{{$ctrl.changeCoverData.applicant.contactDetails.preferedContactTime}}</label>      						
      					</div>
      				</div>
      				
      				
      				<hr class="primeline d-none d-sm-block">

                    <div class="row">
      					<div class="col-sm-6 col-12">
      						<label class="d-block"><strong>Do you work 15 or more hours per week?</strong></label>
      						<label  class="d-block">{{$ctrl.changeCoverData.applicant.workHours}}</label>
      					</div>
      					
      					<div class="col-sm-6 col-12">
      						<label  class="d-block"><strong>Annual salary</strong> </label>
      						<label  class="d-block">{{$ctrl.changeCoverData.applicant.annualSalary | currency:undefined:0}}</label>
      					</div>
      				</div>
      				
      				<hr class="primeline d-none d-sm-block">

                    <div class="row">
      					<div class="col-sm-6 col-12">
      						<label class="d-block"><strong>What industry do you work in?</strong></label>
      						<label  class="d-block">{{$ctrl.changeCoverData.applicant.occupationCode}}</label>
      					</div>
      					
      					<div class="col-sm-6 col-12">
      						<label  class="d-block"><strong>What is your occupation?</strong> </label>
      						<label  class="d-block" ng-show="$ctrl.changeCoverData.applicant.occupation !='Other'">{{$ctrl.changeCoverData.applicant.occupation}}</label>
      						<label  class="d-block" ng-show="$ctrl.changeCoverData.applicant.occupation =='Other'">{{$ctrl.changeCoverData.applicant.otherOccupation}} </label>
      					</div>
      				</div>
      			
      			</div>
      		</div>
      	</div>
      	
      		<div>
                    <div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
                        <div data-toggle="collapse" href="#collapseTwo">
                            <button class="ingd-section-title mb-0">Your cover</button>
                        </div>
                    </div>
                    <div id="collapseTwo" class="collapse in show">
                        <div class=" mb-3">
                            <div class="d-sm-flex text-center">
                                    <div class="col-sm-4 bg-white ingd-card pb-3 mt-2 mt-sm-0">
                                    <div class="row text-center py-3 ingd-card-header mb-3">
                                        <p class="font-weight-bold mb-2 align-self-center w-100">Death</p> 
                                    </div>
                                    <div>
                                        <p class="font-weight-bold mb-1">Cover Type</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[0].coverCategory === 'DcAutomatic' ? 'Automatic' : 'Tailored'}}</p>
                                        <p class="font-weight-bold mb-1">Sub Cover Type</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[0].coverOption}}</p>
                                        <p class="font-weight-bold mb-1">Existing Amount</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[0].existingCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">New Amount</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[0].additionalCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">Occupation Rating</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[0].occupationRating}}</p>
                                        <p class="font-weight-bold mb-1">{{$ctrl.changeCoverData.applicant.cover[0].frequencyCostType}} Cost</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[0].cost | currency}}</p>
                                    </div>
                                </div>
                                <div class="col-sm-4 bg-white  ingd-card pb-3 mt-2 mt-sm-0">
                                    <div class="row text-center py-3 ingd-card-header mb-3">
                                        <p class="font-weight-bold mb-2 align-self-center w-100">Total &amp; Permanent Disablement</p> </div>
                                    <div class="">
                                        <p class="font-weight-bold mb-1">Cover Type</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[1].coverCategory === 'TPDAutomatic' ? 'Automatic' : 'Tailored'}}</p>
                                        <p class="font-weight-bold mb-1">Sub Cover Type</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[1].coverOption}}</p>
                                        <p class="font-weight-bold mb-1">Existing Amount</p>
                                         <p>{{$ctrl.changeCoverData.applicant.cover[1].existingCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">New Amount</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[1].additionalCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">Occupation Rating</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[1].occupationRating}}</p>
                                        <p class="font-weight-bold mb-1">{{$ctrl.changeCoverData.applicant.cover[1].frequencyCostType}} Cost</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[1].cost | currency}}</p>
                                    </div>
                                </div>
                                <div class="col-sm-4 bg-white pb-3 mt-2 mt-sm-0">
                                    <div class="row text-center py-3 ingd-card-header mb-3">
                                        <p class="font-weight-bold mb-2 align-self-center w-100">Income Protection</p> </div>
                                    <div class="">
                                        <p class="font-weight-bold mb-1">Existing Amount</p>
                                         <p>{{$ctrl.changeCoverData.applicant.cover[2].existingCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">New Amount</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[2].additionalCoverAmount | currency:undefined:0}}</p>
                                        <p class="font-weight-bold mb-1">Occupation Rating</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[2].occupationRating}}</p>
                                        <p class="font-weight-bold mb-1">Waiting period</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[2].additionalIpWaitingPeriod}}</p>
                                        <p class="font-weight-bold mb-1">Benefit period</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[2].additionalIpBenefitPeriod}}</p>
                                        <p class="font-weight-bold mb-1">{{$ctrl.changeCoverData.applicant.cover[2].frequencyCostType}} Cost</p>
                                        <p>{{$ctrl.changeCoverData.applicant.cover[2].cost | currency}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-0 bg-secondary d-flex align-items-center py-2">
                                <div class="col-sm-9 col-6">
                                    <p class="m-0 text-white">Total {{$ctrl.changeCoverData.applicant.cover[0].frequencyCostType}} cost</p>
                                </div>
                                <div class="col-sm-3 col-6 text-right">
                                    <h4 class="m-0 text-white">{{$ctrl.changeCoverData.totalMonthlyPremium | currency}}</h4>
                                </div>
                            </div>
                            <p class="text-center my-2"> The final amount and cost of your total insurance coverage will be notified in writing by MetLife Super</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                
                <div ng-if="$ctrl.enableLoadingSection">
                	<div class="ingd-section-header p-0 py-sm-2  mb-2 mb-sm-0">
                		<div data-toggle="collapse" href="#Loadings">
                			<button class="ingd-section-title mb-0">Loadings</button>
                		</div>
                	</div>
                	<div id="Loadings" class="collapse in show">
                		<div class="bg-white p-3">
                			<div class="row rowcustom">
                				<div class="col-sm-12" ng-if="$ctrl.deathLoading">
                					<h6>Death</h6>
                					<p class= "normal" style="text-align:justify;margin-top:8px;">
                					We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to a loading of 
                					{{$ctrl.changeCoverData.applicant.cover[0].loading}}%, 
                					an additional premium in the amount of 
                					{{$ctrl.changeCoverData.applicant.cover[0].policyFee | currency:'$':2}} 
                					will be applicable if you accept the terms of the cover.
                					</p>
                				</div>
                				
                				<div class="col-sm-12" ng-if="$ctrl.tpdLoading">
                					<h6>TPD</h6>
                					<p class= "normal" style="text-align:justify;margin-top:8px;">
                					We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to a loading of 
                					{{$ctrl.changeCoverData.applicant.cover[1].loading}}%, an additional premium in the amount of 
                					{{$ctrl.changeCoverData.applicant.cover[1].policyFee | currency:'$':2}} 
                					will be applicable if you accept the terms of the cover.
                					</p>
                				</div>
                				
                				<div class="col-sm-12" ng-if="$ctrl.ipLoading">
                					<h6>Income protection</h6>
                					<p class= "normal" style="text-align:justify;margin-top:8px;">
                					We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to a loading of 
                					{{$ctrl.changeCoverData.applicant.cover[2].loading}}%, an additional premium in the amount of 
                					{{$ctrl.changeCoverData.applicant.cover[2].policyFee | currency:'$':2}} 
                					will be applicable if you accept the terms of the cover.
                					</p>
                				</div>
		                   </div>
                		</div>
                    </div>
              </div>
              
              
              <div ng-if="$ctrl.enableExclusionSection">
                	<div class="ingd-section-header p-0 py-sm-2  mb-2 mb-sm-0">
                		<div data-toggle="collapse" href="#Exclusions">
                			<button class="ingd-section-title mb-0">Exclusions</button>
                		</div>
                	</div>
                	<div id="Exclusions" class="collapse in show">
                		<div class="bg-white p-3">
                			<div class="row rowcustom">                			
	                			<div class="col-sm-12" ng-if="$ctrl.deathExclusion">
	                				<h6>Death</h6>	                				
	                					<p ng-bind-html="$ctrl.deathExclusionText" class="normal" style="text-align:justify;margin-top:8px;"></p>
	                			</div>
	                			
	                			<div class="col-sm-12" ng-if="$ctrl.tpdExclusion">
	                				<h6>TPD</h6>
	                				<p ng-bind-html="$ctrl.tpdExclusionText" class="normal" style="text-align:justify;margin-top:8px;"></p>
							    </div>
							    
							    <div class="col-sm-12" ng-if="$ctrl.ipExclusion">
							    	<h6>Income protection</h6>
							    		<p ng-bind-html="$ctrl.ipExclusionText" class="normal" style="text-align:justify;margin-top:8px;"></p>
							    </div>
                			</div>
                		</div>
                	</div>
               </div>
               
               <form name="loadingExculsionForm" role="form">
	               <div class="mt-4" ng-if="$ctrl.enableExclusionSection || $ctrl.enableLoadingSection">
	               	<div class="bg-white p-3">		               	
		                       <div class="mt-2 ml-1 mb-2 px-sm-3 row no-gutters" ng-class="{'has-error':(loadingExculsionForm.$dirty && loadingExculsionForm.$invalid) || (loadingExculsionForm.$submitted && loadingExculsionForm.$invalid)}">
		                       	<div class="btn-group-vertical w-100">
		                       		<label class="btn mt-2 ingd-button-checkbox col-12 p-1" ng-class="{'active': ($ctrl.loadingExculsionDod == true)}">
		                       			<input class="ingdCheckBoxInput" name="loadingExculsionDod" ng-model="$ctrl.loadingExculsionDod" type="checkbox" ng-true-value="true" ng-false-value="false" required>
		                       			<span></span>
		                       			<div class="">I acknowledge I have read and understood the above exclusion(s) and/or loading(s) which apply to this cover.</div>
		                       		</label>
		                       		<p ng-if="(loadingExculsionForm.$dirty && loadingExculsionForm.$invalid) || (loadingExculsionForm.$submitted && loadingExculsionForm.$invalid)" class="error" style="padding-top:5px;">Please tick the box to acknowledge the exclusion(s) and/or loading(s) before proceeding with your application.</p>
		                       	</div>
		                       </div>
			            
			           </div>
	                </div>
                </form>
              
              
                <div>
                    <div class="ingd-section-header p-0 py-sm-2  mb-2 mb-sm-0">
                        <div data-toggle="collapse" href="#collapse4">
                            <button class="ingd-section-title mb-0">Terms &amp; conditions </button>
                        </div>
                    </div>
                    <div id="collapse4" class="collapse in show">
                        <div class="bg-white p-3">
                            <div class="ingd-scrollbox">
                                <p><strong>You must read and acknowledge the General Consent before proceeding </strong></p>
                                <p><strong>General consent </strong></p>
                                <p align="justify">By clicking on the tick box below, I declare that:</p> 
                                <ul>
                                    <li>I have read and understand my Duty of Disclosure and the consequences of failing to comply with this Duty. I understand that this Duty applies until formal notification of acceptance of my application.</li>
                                    <li>The answers to the questions in this application are true and correct, and I have not deliberately withheld any information material to the proposed insurance.</li>
                                    <li>I agree to be bound by the terms and conditions attached to this cover as set out in the Insurance Policy Document between <strong>ING</strong> and the Insurer, MetLife Insurance Limited ("MetLife").</li>
                                    <li> I have read the <strong>ING</strong> privacy policy available at <a href="https://www.ing.com.au/privacy.html" class="" target="_new">www.ing.com.au/privacy.html.</a> and the <a href="http://www.metlife.com.au/privacy/index.html" class="" target="_new"> MetLife Privacy Policy </a> and I consent to the collection, use and disclosure of my personal (including sensitive) information in accordance with the terms of these documents;</li>
                                    <li>I consent to MetLife seeking medical information from any doctor who at any time I have consulted prior to the date hereof. I consent to MetLife seeking medical information from any doctor who at any time I have consulted prior to the date hereof.</li>
                                    <li>I understand that my insurance cover will not become effective until MetLife has accepted this application in writing and provided my member account has adequate funds to meet the premium payable. I understand that increases or changes to insurance premiums may apply. </li>
                                    <li>I have read the insurance section of the current <strong>ING</strong> Member Guide (Product Disclosure Statement) relevant to my Division, including the Member Guide Supplement: Insurance. </li>
                                    <li>I understand that if I have chosen fixed Total and Permanent Disablement cover that this cover will taper by 20% of the fixed Total and Permanent Disablement cover held, each year from the date I turn 61 years of age.</li>
                                    <li>I authorise any hospital, physician or other person who has attended me to furnish MetLife or its representatives, any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records.</li>
                                    <li>I understand that if I have any un-finalised requests for Transfer of Cover or Life Event Increase, these cover amounts will not be incorporated to the Total Cover amounts applied for under this application. </li>
                                </ul>                                
                            </div>
                            <form name="termsForm" role="form">
	                            <div class="mt-2 ml-1 mb-2 px-sm-3 row no-gutters" ng-class="{'has-error':(termsForm.$dirty && termsForm.$invalid) || (termsForm.$submitted && termsForm.$invalid)}">
	                            	<div class="btn-group-vertical w-100">
	                            		<label class="btn mt-2 ingd-button-checkbox col-12 p-1" ng-class="{'active': ($ctrl.termsDod == true)}">
	                            			<input class="ingdCheckBoxInput" name="termsDod" ng-model="$ctrl.termsDod" type="checkbox" ng-true-value="true" ng-false-value="false" required>
	                            			<span></span>
	                            			<div class="">I acknowledge I have read, understood and consent to the above </div>
	                            		</label>
	                            		<p ng-if="(termsForm.$dirty && termsForm.$invalid) || (termsForm.$submitted && termsForm.$invalid)" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
	                            	</div>
	                            </div>
	                        </form>
	                        
                            <hr class="row primeline">
                            <div class="row m-1">
				                <div class="form-group col-12 col-md-4">
				                  <button class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.previous()">Previous</button>
				                </div>
				                <span class="spacer d-block d-sm-none">&nbsp;</span>
				                <div class="form-group col-12 col-md-4">
				                  <button class="btn ingd-submit-button font-weight-normal text-white w-100" ng-click="$ctrl.save()">Save & Exit</button>
				                </div>
				                <span class="spacer d-block d-sm-none">&nbsp;</span>
				                <div class="form-group col-12 col-md-4">
				                  <button class="btn ingd-submit-button font-weight-normal text-white w-100"  ng-click="$ctrl.submit()">Submit</button>
				                </div>
              				</div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="col-12 col-md-3 mt-4 mt-md-0">
      <div class="need-help-block text-white p-3">
        <h4 class="text-white">Can we help?</h4>
        <p> Call us on
          <strong>133 464</strong>
        </p>
        <p> 8am - 8pm Monday to Friday</p>
        <p> 9am - 5pm Saturday (AEST/AEDT)</p>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>