<div class="bg-white bg-header">
        <div class="container">
            <div class="row">
              <div class="col-6 col-sm-4">
                <img src="{{$header.AppConstants.logoPath}}" class="img-responsive  my-4" alt="{{$header.config.partnerName}}" /> </div>
            <ul class="col-6 col-sm-8 px-0 d-block d-sm-flex mb-0">
                <li class="nav-items nav-border border-left-0 ml-auto"> <a href="{{$header.config.aboutUs}}" target="_blank">About us</a> </li>
                <li class="nav-items nav-border border-left-0"> <a href="{{$header.config.contactUs}}" target="_blank">Contact Us</a> </li>
                <li class="nav-items nav-border"> <a ng-click="window.close()" href="#">Logout</a> </li>
            </ul>
            </div>
        </div>
    </div>