<metlife-guil-header-nav></metlife-guil-header-nav>
<script type="text/ng-template" id="tree_item_renderer_level_1.html">
	<!-- Row starts   Radio buttons  -->
				<div ng-class="{'row' : x.baseQuestion==false && !x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RadioQuestion' && x.questionAlias!='QG=Personal Details'">
				 	<div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}">
					  <div ng-click="vm.visible('tick3')" class="btn-group w-100 row">
					  	<div ng-class="{'col-sm-4 p0 col-12':x.auraAnswer.length <3 && y.answerText.length < 4, 'col-sm-12 p0 col-12':x.auraAnswer.length >2 || y.answerText.length > 3 }" ng-repeat="y in x.auraAnswer" ng-if="x.visible">
                 		 	<div ng-if="x.auraAnswer.length <3 && y.answerText.length < 4">
								<div class="col-sm-12 col-12 btn-group-vertical" ng-if="$first" ng-click="vm.updateRadio(y.answerValue,x)">
                    				<button class="btn  radiobutton metlife-btn-aura mt-2 w-100 "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
                  		  		<div class="col-sm-12 col-12 btn-group-vertical pl0" ng-if="!$first" ng-click="vm.updateRadio(y.answerValue,x)">
                    				<button class="btn  radiobutton metlife-btn-aura mt-2 w-100 ml-25" ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
                      				<span></span> {{y.answerText | split}}  </button>
                 				</div>
							</div>
							<div ng-if="x.auraAnswer.length >2 ||  y.answerText.length > 3">
								<div class="col-sm-12 col-12 btn-group-vertical" ng-click="vm.updateRadio(y.answerValue,x)">
                    				<button class="btn  radiobutton metlife-btn-aura mt-2 w-100 "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
							</div>
               			</div>
						<div ng-repeat="z in x.auraAnswer" class="col-12">
							<div ng-repeat="x in z.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="row mtaa-row-style aura-level-2 "></div>
						</div>
					  </div>
					</div>
 					<div ng-if="x.error" ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}" class="error"> Please select an answer <br>
                			<br>
              		</div>
			</div>
 <!-- Row ends  radio buttons-->


<!-- Row STARTS  CHECK BOX -->
				 <!-- Row ends -->
			            <div ng-if="x.classType=='CheckBoxQuestion'" ng-class="{'row mtaa-row-style cb' : !x.baseQuestion && !x.error, 'row mtaa-row-style has-error' : !x.baseQuestion && x.error}">
			            <!-- <div > -->
              				<div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}" >
                				<label class="control-label" ng-bind="x.questionText | split"></label>
              				</div>
            			<!-- </div> -->
            			<div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}" ng-repeat="y in x.auraAnswer | checkboxFilter:y">

                			<div  class="row ml-1 cb" >
								<div class=" btn-group-vertical w-100">
                 				 <div class="ui-checkbox  w-100">
                    				<button ng-click="vm.checkPopUp(y.answerValue,x,$index)" class="btn metlife-btn-aura mt-2 checkboxes"  ng-class="{'active': (x.answerTest.indexOf(y.answerValue) !== -1)}"> <span></span>{{y.answerText| split}}
									<!--<a class="icohelpAura" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	onclick="showTips(this,'Test')"></a>-->
									<!-- <a class="icohelpAura" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	 role="button" tabindex="0" ng-keypress="vm.clickToOpen(y.helpText)" ng-click="vm.clickToOpen(y.helpText)"></a> -->
									</button>
									<a class="icohelpAura auraSubcheckBox" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	role="button" tabindex="0" ng-keypress="vm.clickToOpen(y.helpText)" ng-click="vm.clickToOpen(y.helpText)"></a>
                    				<input type="checkbox" id="option3" class=" " name="{{x.questionId}}" ng-value="y.answerValue" ng-model="y.answerValue" >
                  				</div>
                			  </div>
								<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="col-12"></div>
              				</div>
            			</div>
						<div ng-if="x.error" class="col-sm-12  col-12  fright error"> Please select an answer <br>
                					<br>
              					</div>
            		</div>

 <!-- Row ends  CHECK BOX-->

<!--Row start for combo box-->

<div ng-class="{'col-sm-11  col-10 fright cb' : !x.baseQuestion && !x.error, 'col-sm-11  col-10 fright has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='ComboBoxQuestion'">
				 	<!-- <div ng-class="{'col-sm-11  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<select ng-model="selectedName" class="selectpicker  form-control" style="display: none;"  ng-options="z.answerValue | split for z in x.auraAnswer"></select>
						<div class="col-sm-5  col-10" ng-if="!x.answerTest">
							<select ng-model="selectedName" class="selectpicker  form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ></select>
				 		</div>-->
						<div class="col-sm-5  col-10" ng-if="x.questionComplete && x.answerTest">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-5  col-10" ng-show="x.answerTest=='' && !x.answerTest">
							<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="selectedName" >
							</select>
						</div>

						<div class="col-sm-5  col-10" ng-if="!x.answerTest">
							<button type="button" class="btn btn-primary metlife-btn-aura" ng-click="vm.updateRadio(selectedName.answerText,x)">Select</button>
						</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
						<div ng-repeat="y in x.auraAnswer">
							<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="row mtaa-row-style aura-level-2 cb">
						</div>

					</div>

              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>

</div>
<!-- Row ends-->

<!--Row start for search question-->
<!--Row start for search question-->
<div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false && !x.error,  'col-sm-11  col-11 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
				 	<!-- <div ng-class="{ 'col-sm-11  col-11 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<div class="col-sm-4 col-10" ng-show="x.answerTest=='' || !x.questionComplete">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control " ng-model="serachText" ng-init="serachText = x.answerTest">
              			</div>
						<div class="col-sm-4  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && x.questionComplete">
							<label class="control-label" ng-bind="x.answerTest "></label>
				 		</div>
						<div class="col-sm-4  col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="vm.updateRadio(serachText,x)">Search</button>
						</div>
						<p class="col-12 d-block d-sm-none">&nbsp;</p>
						<div class="col-sm-4  col-10" ng-if="x.error  && x.questionText == '[10842]What is the name of your hazardous activity or pursuit?'">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="vm.updateFreeText(x.answerTest,x)">Accept free text</button>
						</div>
						<div class="col-sm-5  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="x.answerTest=''; x.questionComplete = false">Edit</button>
						</div>
              </div>
<div class="row mt15">
				<div class="col-sm-4  col-10 fright" ng-if="!x.error && !x.questionComplete && x.answerTest != '' " >
					<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="z.answerValue" ng-change="vm.searchValSubmit(z.answerValue,z,x)">
						<option value="" ng-if="false"></option>
					</select>
				</div>
				<div class="col-sm-4  col-10" ng-if="!x.questionComplete && !x.error && x.answerTest != '' ">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="vm.updateFreeText(x.answerTest,x)">Accept free text</button>
						</div>
			</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="aura-level-2"></div>
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error" ng-bind="x.validationMsg || 'Please select an answer'"><br>
                			<br>
				</div>
</div>
<!-- Row ends-->
<!--Row start for DateQuestion question-->
	<div ng-class="{'col-sm-11 col-11' : x.baseQuestion==false && !x.error,  'col-sm-11 col-11 has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='DateQuestion'">
				 	<!-- <div ng-class="{'col-sm-11 col-11' : x.baseQuestion, 'col-sm-10  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" >{{x.questionText | split}}(dd/mm/yyyy)</label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1,'col-sm-5 col-10': x.answerTest.length==0 , 'displaynone': x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 }">
                				<input type="text"  ng-click="vm.visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div  class="col-sm-5 col-10" ng-show="x.answerTest=='' ">
                				<input type="text" date-only ng-click="vm.visible('tick8')" class="datepicker form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | dateTextSplit "></label>
				 		</div>
						<div class="col-sm-5  col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-5  col-10" ng-if="x.questionComplete &&  x.answerTest !== ''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>

	</div>
<!-- Row ends-->
<!--Row start for statement question-->
<div class="col-sm-11  col-11 fright" ng-if="x.classType=='Statement'">
				 	<!-- <div ng-class="{'' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
	<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="aura-level-2"></div>
				</div>
</div>

<!-- Row ends-->
<!--row start for text area("TextAreaQuestion") question-->
<div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false && !x.error, 'col-sm-11  col-11 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
				 	<!-- <div ng-class="{ 'col-sm-11  col-11 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED' || x.answerTest.length==0 , 'displaynone':x.answerTest!='NO_ANSWER_CHECKED' && x.answerTest.length>0 }">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div class="col-sm-5  col-11" ng-show="x.answerTest=='' ">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-11" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-5  col-11" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-5  col-11" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-11  col-11' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>
</div>
<!--row ends-->
<!--"TextQuestion"-->
<div ng-class="{ 'col-sm-11  col-11 fright' : x.baseQuestion==false && !x.error,  'col-sm-11  col-11 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextQuestion'">
				 	<!-- <div ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED', 'displaynone':x.answerTest!='NO_ANSWER_CHECKED'}">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control " ng-model="freeText">
              			</div>-->
						<div  class="col-sm-5  col-11" ng-show="x.answerTest=='' ">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control custom-input h-100" ng-model="freeText[x.questionText]">
              			</div>
						<div class="col-sm-5  col-11"  ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3  col-11" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(freeText[x.questionText],x)">Enter</button>
						</div>
						<div class="col-sm-3  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-11  col-11' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>
</div>

<!--row ends-->
<!--"RangeQuestion"-->
<div ng-class="{'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RangeQuestion'">
				 	<div ng-class="{ 'col-sm-11  col-11 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div  ng-class="{'col-sm-11  col-11 fright' : x.baseQuestion==false}" ng-if="x.visible">
						<!--<div  ng-class="{'col-sm-5 col-10': !x.questionComplete, 'displaynone':x.questionComplete}" >
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control" ng-model="rangeText">
              			</div>-->
						<div  class="col-sm-5  col-11" ng-show="x.answerTest=='' || x.error " >
                				<input type="number"  ng-click="vm.visible('tick8')" class="form-control" ng-model="rangeText" >
								<!--<input type="text" numbers-only ng-click="vm.visible('tick8')" class="form-control" ng-model="rangeText">-->

              			</div>
						<div class="col-sm-5  col-11" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && !x.error">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3  col-11" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(rangeText,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-11" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>

				<div ng-if="x.error && x.visible"  ng-class="{ 'col-sm-11  col-11' : x.baseQuestion==false}" class="fright error"> <span ng-if="!x.answerTest">Please answer the question</span><span ng-if="x.answerTest !== '' && x.answerTest">Answer is out of acceptable range, please re-enter the number</span> <br>
                			<br>
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="aura-level-2"></div>
				</div>
</div>

<!--row ends-->
</script>
<script type="text/ng-template" id="tree_item_renderer_level_2.html">
	<!-- Row starts   Radio buttons  -->
				<div ng-class="{'row' : x.baseQuestion==false && !x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RadioQuestion'" class="radio-question-level2">
				 	<div ng-class="{'col-sm-10  col-10 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div ng-class="{'col-sm-10  col-10 fright' : x.baseQuestion==false}">
					  <div ng-click="vm.visible('tick3')" class="btn-group w-100 row">
					  	<div ng-class="{'col-sm-4 p0 col-12':x.auraAnswer.length <3 && y.answerText.length < 4, 'col-sm-12 p0 col-12':x.auraAnswer.length >2 || y.answerText.length > 3 }" ng-repeat="y in x.auraAnswer" ng-if="x.visible">
                 		 	<div ng-if="x.auraAnswer.length <3 && y.answerText.length < 4">
								<div class="col-sm-12 col-12 btn-group-vertical" ng-if="$first" ng-click="vm.updateRadio(y.answerValue,x)">
                    				<button class="btn  radiobutton metlife-btn-aura mt-2 w-100 "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
                  		  		<div class="col-sm-12 col-12 pl0 btn-group-vertical" ng-if="!$first" ng-click="vm.updateRadio(y.answerValue,x)">
                    				<button class="btn  radiobutton metlife-btn-aura mt-2 w-100 ml-25" ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
                      				<span></span> {{y.answerText | split}}  </button>
                 				</div>
							</div>
							<div ng-if="x.auraAnswer.length >2 ||  y.answerText.length > 3">
								<div class="col-sm-12 col-12  btn-group-vertical" ng-click="vm.updateRadio(y.answerValue,x)">
                    				<button class="btn  radiobutton metlife-btn-aura mt-2 w-100 "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
							</div>
               			</div>
						<div ng-repeat="z in x.auraAnswer" class="col-12">
							<div ng-repeat="x in z.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="row mtaa-row-style aura-level-3 cb"></div>
						</div>
					  </div>
					</div>
 					<div ng-if="x.error" ng-class="{'col-sm-10  col-10 fright' : x.baseQuestion==false}" class="error"> Please select an answer 
              		</div>
			</div>
 <!-- Row ends  radio buttons-->


<!-- Row STARTS  CHECK BOX -->
				 <!-- Row ends -->
			            <div ng-if="x.classType=='CheckBoxQuestion'" ng-class="{'row mtaa-row-style cb' : !x.baseQuestion && !x.error, 'row mtaa-row-style has-error' : !x.baseQuestion && x.error}">
			            <!-- <div > -->
              				<div ng-class="{'col-sm-10  col-10 fright' : x.baseQuestion==false}" >
                				<label class="control-label" ng-bind="x.questionText | split"></label>
              				</div>
            			<!-- </div> -->
            			<div class="col-sm-10  col-10 fright" ng-repeat="y in x.auraAnswer | checkboxFilter:y">
					<div  ng-class="{'row ml-1 cb' : x.baseQuestion==false}" >
              				<div class=" btn-group-vertical w-100">
                 				 <div class="ui-checkbox w-100"  >
                    				<button ng-click="vm.checkPopUp(y.answerValue,x,$index)" class="btn metlife-btn-aura mt-2 checkboxes"  ng-class="{'active': (x.answerTest.indexOf(y.answerValue) !== -1)}"> <span></span>{{y.answerText| split}}
									<!--<a class="icohelpAura" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	onclick="showTips(this,'Test')"></a>-->

									</button>
									<a class="icohelpAura" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	 role="button" tabindex="0" ng-keypress="vm.clickToOpen(y.helpText)" ng-click="clickToOpen(y.helpText)"></a>
                    				<input type="checkbox" id="option3" class=" " name="{{x.questionId}}" ng-value="y.answerValue" ng-model="y.answerValue" >
                  				</div>
                			  </div>
								<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="col-sm-10  col-10 aura-level-3 fright"></div>
              				</div>
            			</div>
						<div ng-if="x.error" class="col-sm-10  col-10  fright error"> Please select an answer <br>
                					<br>
              					</div>
            		</div>

 <!-- Row ends  CHECK BOX-->

<!--Row start for combo box-->

<div ng-class="{'col-sm-12  col-12 fright cb' : !x.baseQuestion && !x.error, 'col-sm-12  col-12 fright has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='ComboBoxQuestion'">
				 	<!-- <div ng-class="{'col-sm-10  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<select ng-model="selectedName" class="selectpicker  form-control" style="display: none;"  ng-options="z.answerValue | split for z in x.auraAnswer"></select>
						<div class="col-sm-5  col-10" ng-if="!x.answerTest">
							<select ng-model="selectedName" class="selectpicker  form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ></select>
				 		</div>-->
						<div class="col-sm-5  col-10" ng-if="x.questionComplete && x.answerTest">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-5  col-10" ng-show="x.answerTest=='' && !x.answerTest">
							<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="selectedName" >
							</select>
						</div>

						<div class="col-sm-5  col-10" ng-if="!x.answerTest">
							<button type="button" class="btn btn-primary metlife-btn-aura" ng-click="vm.updateRadio(selectedName.answerText,x)">Select</button>
						</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
						<div ng-repeat="y in x.auraAnswer">
							<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="row mtaa-row-style aura-level-3 cb">
						</div>

					</div>

              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>

</div>
<!-- Row ends-->

<!--Row start for search question-->
<div ng-class="{'col-sm-10  col-10 fright cb' : !x.baseQuestion && !x.error, 'col-sm-10  col-10 fright has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
				 	<!-- <div ng-class="{ 'col-sm-10  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<div class="col-sm-4 col-10" ng-show="x.answerTest=='' || !x.questionComplete">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control custom-input h-100" ng-model="serachText" ng-init="serachText = x.answerTest">
              			</div>
						<div class="col-sm-4  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && x.questionComplete">
							<label class="control-label" ng-bind="x.answerTest "></label>
				 		</div>
						<div class="col-sm-4  col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="vm.updateRadio(serachText,x)">Search</button>
						</div>
						<p class="col-12 d-block d-sm-none">&nbsp;</p>
						
						<div class="col-sm-5  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="x.answerTest=''; x.questionComplete = false">Edit</button>
						</div>
              </div>
			<div class="row mt15">
				<div class="col-sm-4  col-10 fright" ng-if="!x.error && !x.questionComplete && x.answerTest != '' " >
					<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="z.answerValue" ng-change="vm.searchValSubmit(z.answerValue,z,x)">
						<option value="" ng-if="false"></option>
					</select>
				</div>
				<div class="col-sm-4  col-10" ng-if="!x.questionComplete && !x.error && x.answerTest != '' ">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="vm.updateFreeText(x.answerTest,x)">Accept free text</button>
						</div>
			</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error" ng-bind="x.validationMsg || 'Please select an answer'"><br>
                			<br>
				</div>
</div>

<!-- Row ends-->
<!--Row start for DateQuestion question-->
	<div ng-class="{'col-sm-10  col-10 fright' : x.baseQuestion==false && !x.error,  'col-sm-10  col-10 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='DateQuestion'">
				 	<!-- <div ng-class="{'col-sm-10  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" >{{x.questionText | split}}(dd/mm/yyyy)</label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1,'col-sm-5 col-10': x.answerTest.length==0 , 'displaynone': x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 }">
                				<input type="text"  ng-click="vm.visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div  class="col-sm-5 col-10" ng-show="x.answerTest=='' ">
                				<input type="text" date-only ng-click="vm.visible('tick8')" class="datepicker form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | dateTextSplit "></label>
				 		</div>
						<div class="col-sm-5  col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-5  col-10" ng-if="x.questionComplete &&  x.answerTest !== ''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>

	</div>
<!-- Row ends-->
<!--Row start for statement question-->
<div class="col-sm-10  col-10 fright" ng-if="x.classType=='Statement'">
				 	<!-- <div ng-class="{'col-sm-10  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
	<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
</div>

<!-- Row ends-->
<!--row start for text area("TextAreaQuestion") question-->
<div ng-class="{'col-sm-12  col-12 fright' : x.baseQuestion==false && !x.error, 'col-sm-12  col-12 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
				 	<!-- <div ng-class="{ 'col-sm-10  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED' || x.answerTest.length==0 , 'displaynone':x.answerTest!='NO_ANSWER_CHECKED' && x.answerTest.length>0 }">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div class="col-sm-5  col-10" ng-show="x.answerTest=='' ">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-5  col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-5  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>
</div>
<!--row ends-->
<!--"TextQuestion"-->
<div ng-class="{ 'col-sm-10  col-10 fright' : x.baseQuestion==false && !x.error,  'col-sm-10  col-10 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextQuestion'">
				 	<!-- <div ng-class="{'col-sm-10  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED', 'displaynone':x.answerTest!='NO_ANSWER_CHECKED'}">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control " ng-model="freeText">
              			</div>-->
						<div  class="col-sm-5  col-10" ng-show="x.answerTest=='' ">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control custom-input h-100" ng-model="freeText[x.questionText]">
              			</div>
						<div class="col-sm-5  col-10"  ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3  col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(freeText[x.questionText],x)">Enter</button>
						</div>
						<div class="col-sm-3  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>
</div>

<!--row ends-->
<!--"RangeQuestion"-->
<div ng-class="{'col-sm-10  col-10' : x.baseQuestion==false && !x.error,  'col-sm-10  col-10 has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RangeQuestion'">
				 	<!-- <div ng-class="{ 'col-sm-10  col-10 fright' : x.baseQuestion==false}" ng-if="x.visible"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div  ng-class="{'row' : x.baseQuestion==false}" ng-if="x.visible">
						<!--<div  ng-class="{'col-sm-5 col-10': !x.questionComplete, 'displaynone':x.questionComplete}" >
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control" ng-model="rangeText">
              			</div>-->
						<div  class="col-sm-5  col-10" ng-show="x.answerTest=='' || x.error " >
                				<input type="number"  ng-click="vm.visible('tick8')" class="form-control" ng-model="rangeText" >
								<!--<input type="text" numbers-only ng-click="vm.visible('tick8')" class="form-control" ng-model="rangeText">-->

              			</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && !x.error">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3  col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(rangeText,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>

				<div ng-if="x.error && x.visible"  ng-class="{ 'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> <span ng-if="!x.answerTest">Please answer the question</span><span ng-if="x.answerTest !== '' && x.answerTest">Answer is out of acceptable range, please re-enter the number</span> <br>
                			<br>
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
</div>

<!--row ends-->
</script>
<script type="text/ng-template" id="tree_item_renderer_level_3.html">
	<!-- Row starts   Radio buttons  -->
				<div ng-class="{'col-sm-12  col-12 fright' : x.baseQuestion==false && !x.error, 'col-sm-12  col-12 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RadioQuestion'" class="radio-question-level3">
				 	<div ng-class="{'col-sm-12  col-12 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div ng-class="{'col-sm-12  col-12 fright' : x.baseQuestion==false}">
					  <div ng-click="vm.visible('tick3')" class="btn-group w-100 row">
					  	<div ng-class="{'col-sm-4 p0 col-12':x.auraAnswer.length <3 && y.answerText.length < 4, 'col-sm-12 p0 col-12':x.auraAnswer.length >2 || y.answerText.length > 3 }" ng-repeat="y in x.auraAnswer" ng-if="x.visible">
                 		 	<div ng-if="x.auraAnswer.length <3 && y.answerText.length < 4">
								<div class="col-sm-12 col-12 btn-group-vertical" ng-if="$first" ng-click="vm.updateRadio(y.answerValue,x)">
                    				<button class="btn  radiobutton metlife-btn-aura mt-2 w-100 "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
                  		  		<div class="col-sm-12 col-12 pl0 btn-group-vertical" ng-if="!$first" ng-click="vm.updateRadio(y.answerValue,x)">
                    				<button class="btn  radiobutton metlife-btn-aura mt-2 w-100 ml-25" ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
                      				<span></span> {{y.answerText | split}}  </button>
                 				</div>
							</div>
							<div ng-if="x.auraAnswer.length >2 ||  y.answerText.length > 3">
								<div class="col-sm-12 col-12  btn-group-vertical" ng-click="vm.updateRadio(y.answerValue,x)">
                    				<button class="btn  radiobutton metlife-btn-aura mt-2 w-100 "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
							</div>
               			</div>
						<div ng-repeat="z in x.auraAnswer" class="col-12">
							<div ng-repeat="x in z.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="row mtaa-row-style aura-level-3"></div>
						</div>
					  </div>
					</div>
 					<div ng-if="x.error" ng-class="{'col-sm-12  col-12 fright' : x.baseQuestion==false}" class="error"> Please select an answer</div>
			</div>
 <!-- Row ends  radio buttons-->


<!-- Row STARTS  CHECK BOX -->
				 <!-- Row ends -->
			            <div ng-if="x.classType=='CheckBoxQuestion'" ng-class="{'row mtaa-row-style cb' : !x.baseQuestion && !x.error, 'row mtaa-row-style has-error' : !x.baseQuestion && x.error}">
			            <!-- <div > -->
              				<div ng-class="{'col-sm-12  col-12 fright' : x.baseQuestion==false}" >
                				<label class="control-label" ng-bind="x.questionText | split"></label>
              				</div>
            			<!-- </div> -->
            			<div class="col-sm-12  col-12 fright" ng-repeat="y in x.auraAnswer | checkboxFilter:y">
						<div  ng-class="{'row ml-1 cb' : x.baseQuestion==false}" >
              				<div class=" btn-group-vertical w-100">
                 				 <div class="ui-checkbox w-100"  >
                    				<button ng-click="vm.checkPopUp(y.answerValue,x,$index)" class="btn metlife-btn-aura mt-2 checkboxes"  ng-class="{'active': (x.answerTest.indexOf(y.answerValue) !== -1)}"> <span></span>{{y.answerText| split}}
									<!--<a class="icohelpAura" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	onclick="showTips(this,'Test')"></a>-->

									</button>
									<a class="icohelpAura" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	 role="button" tabindex="0" ng-keypress="vm.clickToOpen(y.helpText)" ng-click="vm.clickToOpen(y.helpText)"></a>
                    				<input type="checkbox" id="option3" class=" " name="{{x.questionId}}" ng-value="y.answerValue" ng-model="y.answerValue" >
                  				</div>
                			  </div>
								<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="row mtaa-row-style aura-level-3 cb"></div>
              				</div>
            			</div>
						<div ng-if="x.error" class="col-sm-12  col-12  fright error"> Please select an answer <br>
                					<br>
              					</div>
            		</div>

 <!-- Row ends  CHECK BOX-->

<!--Row start for combo box-->

<div ng-class="{'col-sm-10  col-10 fright cb' : !x.baseQuestion && !x.error, 'col-sm-10  col-10 fright has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='ComboBoxQuestion'">
				 	<!-- <div ng-class="{'col-sm-10  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<select ng-model="selectedName" class="selectpicker  form-control" style="display: none;"  ng-options="z.answerValue | split for z in x.auraAnswer"></select>
						<div class="col-sm-5  col-10" ng-if="!x.answerTest">
							<select ng-model="selectedName" class="selectpicker  form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ></select>
				 		</div>-->
						<div class="col-sm-5  col-10" ng-if="x.questionComplete && x.answerTest">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-5  col-10" ng-show="x.answerTest=='' && !x.answerTest">
							<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="selectedName" >
							</select>
						</div>

						<div class="col-sm-5  col-10" ng-if="!x.answerTest">
							<button type="button" class="btn btn-primary metlife-btn-aura mt-2" ng-click="vm.updateRadio(selectedName.answerText,x)">Select</button>
						</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest">
							<button type="button" class="btn btn-primary metlife-btn-aura mt-2 w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
						<div ng-repeat="y in x.auraAnswer">
							<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="row mtaa-row-style aura-level-3 cb">
						</div>

					</div>

              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12  col-12' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>

</div>
<!-- Row ends-->

<!--Row start for search question-->
<div ng-class="{'col-sm-12  col-12 fright cb' : !x.baseQuestion && !x.error, 'col-sm-12  col-12 fright has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
				 	<!-- <div ng-class="{ 'col-sm-12  col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<div class="col-sm-6 col-10" ng-show="x.answerTest=='' || !x.questionComplete">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control custom-input h-100" ng-model="serachText" ng-init="serachText = x.answerTest">
              			</div>
						<div class="col-sm-6  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && x.questionComplete">
							<label class="control-label" ng-bind="x.answerTest "></label>
				 		</div>
						<div class="col-sm-6  col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary metlife-btn-aura mt-2 w-100" ng-click="vm.updateRadio(serachText,x)">Search</button>
						</div>
						<p class="col-12 d-block d-sm-none">&nbsp;</p>
						<div class="col-sm-6  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura mt-2 w-100" ng-click="x.answerTest=''; x.questionComplete = false">Edit</button>
						</div>
              </div>
<div class="row mt15">
				<div class="col-sm-6  col-10 fright" ng-if="!x.error && !x.questionComplete && x.answerTest != '' " >
					<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="z.answerValue" ng-change="vm.searchValSubmit(z.answerValue,z,x)">
						<option value="" ng-if="false"></option>
					</select>
				</div>
				<div class="col-sm-6  col-10" ng-if="!x.questionComplete && !x.error && x.answerTest != '' ">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="vm.updateFreeText(x.answerTest,x)">Accept free text</button>
						</div>
			</div>
				
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-12  col-12' : x.baseQuestion==false}" class="fright error" ng-bind="x.validationMsg || 'Please select an answer'"><br>
                			<br>
				</div>
</div>

<!-- Row ends-->
<!--Row start for DateQuestion question-->
	<div ng-class="{'col-sm-10  col-10 fright' : x.baseQuestion==false && !x.error,  'col-sm-10  col-10 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='DateQuestion'">
				 	<!-- <div ng-class="{'col-sm-10  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" >{{x.questionText | split}}(dd/mm/yyyy)</label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1,'col-sm-5 col-10': x.answerTest.length==0 , 'displaynone': x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 }">
                				<input type="text"  ng-click="vm.visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div  class="col-sm-5 col-10" ng-show="x.answerTest=='' ">
                				<input type="text" date-only ng-click="vm.visible('tick8')" class="datepicker form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | dateTextSplit "></label>
				 		</div>
						<div class="col-sm-5  col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-5  col-10" ng-if="x.questionComplete &&  x.answerTest !== ''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>

	</div>
<!-- Row ends-->
<!--Row start for statement question-->
<div class="col-sm-12  col-12 fright" ng-if="x.classType=='Statement'">
				 	<!-- <div ng-class="{'col-sm-12  col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
	<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
</div>

<!-- Row ends-->
<!--row start for text area("TextAreaQuestion") question-->
<div ng-class="{'col-sm-12  col-12 fright' : x.baseQuestion==false && !x.error, 'col-sm-12  col-12 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
				 	<!-- <div ng-class="{ 'col-sm-10  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED' || x.answerTest.length==0 , 'displaynone':x.answerTest!='NO_ANSWER_CHECKED' && x.answerTest.length>0 }">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div class="col-sm-5  col-10" ng-show="x.answerTest=='' ">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-5  col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-5  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>
</div>
<!--row ends-->
<!--"TextQuestion"-->
<div ng-class="{ 'col-sm-12  col-12 fright' : x.baseQuestion==false && !x.error,  'col-sm-12  col-12 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextQuestion'">
				 	<!-- <div ng-class="{'col-sm-12  col-12 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED', 'displaynone':x.answerTest!='NO_ANSWER_CHECKED'}">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control " ng-model="freeText">
              			</div>-->
						<div  class="col-sm-5  col-10" ng-show="x.answerTest=='' ">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control custom-input h-100" ng-model="freeText[x.questionText]">
              			</div>
						<div class="col-sm-5  col-10"  ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3  col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(freeText[x.questionText],x)">Enter</button>
						</div>
						<div class="col-sm-3  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
              <div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-12  col-12' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>
</div>

<!--row ends-->
<!--"RangeQuestion"-->
<div ng-class="{'col-sm-12  col-12' : x.baseQuestion==false && !x.error,  'col-sm-12  col-12 has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RangeQuestion'">
				 	<!-- <div ng-class="{ 'col-sm-12  col-12 fright' : x.baseQuestion==false}" ng-if="x.visible"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div  ng-class="{'row' : x.baseQuestion==false}" ng-if="x.visible">
						<!--<div  ng-class="{'col-sm-5 col-10': !x.questionComplete, 'displaynone':x.questionComplete}" >
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control" ng-model="rangeText">
              			</div>-->
						<div  class="col-sm-5  col-10" ng-show="x.answerTest=='' || x.error " >
                				<input type="number"  ng-click="vm.visible('tick8')" class="form-control custom-input h-100" ng-model="rangeText" >
								<!--<input type="text" numbers-only ng-click="vm.visible('tick8')" class="form-control" ng-model="rangeText">-->

              			</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && !x.error">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3  col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(rangeText,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>

				<div ng-if="x.error && x.visible"  ng-class="{ 'col-sm-12  col-12' : x.baseQuestion==false}" class="fright error"> <span ng-if="!x.answerTest">Please answer the question</span><span ng-if="x.answerTest !== '' && x.answerTest">Answer is out of acceptable range, please re-enter the number</span> <br>
                			<br>
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="aura-level-3"></div>
				</div>
</div>

<!--row ends-->
</script>
<script type="text/ng-template" id="tree_item_renderer.html">

<!-- Row starts   Radio buttons  -->
				<div ng-class="{'row mtaa-row-style' : x.baseQuestion && !x.error, 'row' : x.baseQuestion==false && !x.error, 'row mtaa-row-style has-error' : x.baseQuestion && x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RadioQuestion' && x.visible">
				 	<div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11  col-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-12  col-12 fright' : x.baseQuestion==false && x.indent==2}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11  col-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-12  col-12 fright' : x.baseQuestion==false && x.indent==2}">
					  <div ng-click="vm.visible('tick3')" class="btn-group row w-100">
					  	<div ng-class="{'col-sm-4 p0 col-12':x.auraAnswer.length <3 && y.answerText.length < 4, 'col-sm-12 p0 col-12':x.auraAnswer.length >2 || y.answerText.length > 3 }" ng-repeat="y in x.auraAnswer" ng-if="x.visible">
                 		 	<div ng-if="x.auraAnswer.length <3 && y.answerText.length < 4">
								<div class="col-sm-12 col-12 btn-group-vertical" ng-if="$first" ng-click="vm.updateRadio(y.answerValue,x)">
                    				<button class="btn  radiobutton metlife-btn-aura mt-2 w-100 "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
                  		  		<div class="col-sm-12 col-12 pl0 btn-group-vertical" ng-if="!$first" ng-click="vm.updateRadio(y.answerValue,x)">
                    				<button class="btn  radiobutton metlife-btn-aura mt-2 w-100 ml-25" ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
                      				<span></span> {{y.answerText | split}}  </button>
                 				</div>
							</div>
							<div ng-if="x.auraAnswer.length >2 ||  y.answerText.length > 3">
								<div class="col-sm-12 col-12 btn-group-vertical" ng-click="vm.updateRadio(y.answerValue,x)">
                    				<button class="btn  radiobutton metlife-btn-aura mt-2 w-100 "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </button>
                 			 	</div>
							</div>
               			</div>
						<div ng-repeat="z in x.auraAnswer" class="col-12">
							<div ng-repeat="x in z.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="row mtaa-row-style aura-level-1 cb"></div>
						</div>
					  </div>
					</div>
 					<div ng-if="x.error" ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11  col-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-10  col-10 fright' : x.baseQuestion==false && x.indent==2}" class="error"> Please select an answer <br>
                			<br>
              		</div>
			</div>
			<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.baseQuestion==true && x.classType=='RadioQuestion'" ng-if="x.visible">
 <!-- Row ends  radio buttons-->
<!-- Row starts   Height Question  -->
    <!-- Row starts -->
		<div class="row mtaa-row-style" ng-class="{'has-error':x.error}" ng-if="x.classType=='HeightQuestion'">
			<!-- <div> -->
				<div class="col-md-4 col-5">
					<label class="control-label" ng-bind="x.questionText | split"></label>
				</div>
				<div class="col-3 col-md-2">
					<input type="text" maxlength="{{vm.heightOptions=='ft.in'? 1 : 3}}" class="form-control custom-input h-100" numbers-only ng-model="vm.heightval" ng-change="vm.meterValue(vm.heightval,x.answerTest,x)">
				</div>
				<div class="col-4 col-md-3">
					<div class="select h-100">
	    				<select ng-options="option as option for option in vm.heightDropdownOpt" class="form-control custom-input h-100" ng-model="vm.heightDropDown" ng-change="vm.heighOptions(vm.heightDropDown)">
	      					  <option value="" ng-if="false"></option>
	    				</select>
	    				<div class="select__arrow"></div>
					</div>
	 			</div>
			<!-- </div> -->
			<div  ng-if="vm.heightOptions=='ft.in' && x.classType=='HeightQuestion'" class="row">
					<div class="col-md-4 col-5 mt15"></div>
					<div class="col-3 col-md-5 mt15 left-allign">
						<input type="text" maxlength="2" class="form-control custom-input h-100" numbers-only ng-model="vm.inches" ng-change="vm.inchValue(vm.inches)">
					</div>
					<div class="col-4 col-md-3 mt15 left-allign-label">
						<label class="control-label mb10" >in</label>
		 			</div>
			</div>
			<div ng-if="x.error && x.classType=='HeightQuestion'" class="col-12">
				<div class="row">
					<div class="col-md-4 col-5"></div>
					<div  class="col-md-8 col-7 fright error"> Please select an answer </div>
				</div>
			</div>
		</div>
		<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.classType=='HeightQuestion'">
	<!-- Row ends -->
<!-- Row ends  Height buttons-->

<!-- Row starts Weight Question  -->
    <!-- Row starts -->
	<div class="row mtaa-row-style" ng-class="{'has-error':x.error}" ng-if="x.classType=='WeightQuestion'">
		<!-- <div> -->
			<div class="col-md-4 col-5">
				<label class="control-label" ng-bind="x.questionText | split"></label>
			</div>
			<div class="col-3 col-md-2">
				<input type="text" ng-click="vm.visible('tick8')" maxlength="{{vm.weightMaxLen}}" max="200" class="form-control custom-input h-100" numbers-only ng-model="vm.weightVal" ng-change="vm.weightValue(vm.weightVal,x.answerTest,x)">
			</div>
			<div class="col-4 col-md-3">
				<div class="select h-100">
    				<select ng-options="option as option for option in vm.weightDropdownOpt" class="selectpicker form-control custom-input h-100" ng-model="vm.weightDropDown" ng-change="vm.weightOptions(vm.weightDropDown)">
      					 <option value="" ng-if="false"></option>
    				</select>
    				<div class="select__arrow"></div>
				</div>
 			</div>
		<!-- </div> -->
		<div  ng-if="vm.weighOptions=='st.lb' && x.classType=='WeightQuestion'" class="row">
			<div class="col-md-4 col-5 mt15"></div>
			<div class="col-3 col-md-5 mt15 left-allign">
				<input type="text" maxlength="2" class="form-control custom-input h-100" numbers-only ng-model="vm.lbsval" ng-change="vm.lbsValue(vm.lbsval)">
			</div>
			<div class="col-4 col-md-3 mt15 left-allign-label">
				<label class="control-label mb10" >lbs</label>
			</div>
		</div>
		<div ng-if="x.error && x.classType=='WeightQuestion'" class="col-12">
			<div class="row">
				<div class="col-md-4 col-5"></div>
				<div class="col-md-8 col-7 fright error"> Please select an answer </div>
			</div>
		</div>
	</div>
	<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.classType=='WeightQuestion'">
    <!-- Row ends -->
<!-- Row Ends Weight Question  -->

<!-- Row STARTS  CHECK BOX -->
				 <!-- Row ends -->
			            <div ng-if="x.classType=='CheckBoxQuestion'" ng-class="{'mb-4' : x.baseQuestion, 'row mtaa-row-style cb' : !x.baseQuestion && !x.error, 'mtaa-row-style has-error' : !x.baseQuestion && x.error, 'has-error' : x.baseQuestion && x.error}">
			            <div>
              				<div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11  col-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-10  col-10 fright' : x.baseQuestion==false && x.indent==2}" >
                				<label class="control-label" ng-bind="x.questionText | split"></label>
              				</div>
            			</div>
            			<div class="row cb" ng-repeat="y in x.auraAnswer | checkboxFilter:y">
							<div  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11  col-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-10  col-10 fright' : x.baseQuestion==false && x.indent==2}" >
              					<div class=" btn-group-vertical w-100">
              					<div class="col-sm-12">
	                 				<div class="ui-checkbox"  >
	                    				<button ng-click="vm.checkPopUp(y.answerValue,x,$index)" class="btn metlife-btn-aura mt-2 checkboxes"  ng-class="{'active': (x.answerTest.indexOf(y.answerValue) !== -1)}"> <span></span>{{y.answerText| split}}
										<!--<a class="icohelpAura" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	onclick="showTips(this,'Test')"></a>-->

										</button>
										<a class="icohelpAura" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	role="button" tabindex="0" ng-keypress="vm.clickToOpen(y.helpText)"  ng-click="vm.clickToOpen(y.helpText)"></a>
	                    				<input type="checkbox" id="option3" class=" " name="{{x.questionId}}" ng-value="y.answerValue" ng-model="y.answerValue" >
	                  				</div>
	                			</div>
                			  </div>
								<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="row mtaa-row-style cb aura-level-1"></div>
              				</div>
            			</div>
						<div ng-if="x.error" class="col-sm-12  col-12  fright error"> Please select an answer <br>
                					<br>
              					</div>
            		</div>
					<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.baseQuestion==true && x.classType=='CheckBoxQuestion'">
 <!-- Row ends  CHECK BOX-->

<!--Row start for combo box-->

<div ng-class="{'col-sm-11  col-10 cb' : !x.baseQuestion && !x.error, 'col-sm-12 col-12' : x.baseQuestion && !x.error, 'col-sm-11  col-10 has-error' : !x.baseQuestion && x.error, 'col-sm-12 col-12 has-error' : x.baseQuestion && x.error}" ng-if="x.classType=='ComboBoxQuestion'">
				 	<!-- <div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row" ng-class="{'fright' : x.indent==2}">
						<!--<select ng-model="selectedName" class="selectpicker  form-control" style="display: none;"  ng-options="z.answerValue | split for z in x.auraAnswer"></select>
						<div class="col-sm-5  col-10" ng-if="!x.answerTest">
							<select ng-model="selectedName" class="selectpicker  form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ></select>
				 		</div>-->
						<div class="col-sm-5  col-10" ng-if="x.questionComplete && x.answerTest">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-5  col-10" ng-show="x.answerTest=='' && !x.answerTest">
							<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="selectedName" >
							</select>
						</div>

						<div class="col-sm-5  col-10" ng-if="!x.answerTest">
							<button type="button" class="btn btn-primary metlife-btn-aura" ng-click="vm.updateRadio(selectedName.answerText,x)">Select</button>
						</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
						<div ng-repeat="y in x.auraAnswer">
							<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="row mtaa-row-style aura-level-1 cb">
						</div>

					</div>

              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>

</div>
<!-- Row ends-->

<!--Row start for search question-->
<div ng-class="{'col-sm-11  col-10 fright cb' : !x.baseQuestion && !x.error, 'col-sm-12 col-12' : x.baseQuestion && !x.error, 'col-sm-11  col-10 fright has-error' : !x.baseQuestion && x.error, 'col-sm-12 col-12 has-error' : x.baseQuestion && x.error}" ng-if="x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
				 	<!-- <div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row">
						<div class="col-sm-4 col-10" ng-show="x.answerTest=='' || !x.questionComplete">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control custom-input h-100" ng-model="serachText" ng-init="serachText = x.answerTest">
              			</div>
						<div class="col-sm-4  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && x.questionComplete">
							<label class="control-label" ng-bind="x.answerTest "></label>
				 		</div>
						<div class="col-sm-4  col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="vm.updateRadio(serachText,x)">Search</button>
						</div>
						<p class="col-12 d-block d-sm-none">&nbsp;</p>
						<div class="col-sm-5  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="x.answerTest=''; x.questionComplete = false">Edit</button>
						</div>
              </div>
<div class="row mt15">
				<div class="col-sm-4  col-10 fright" ng-if="!x.error && !x.questionComplete && x.answerTest != '' " >
					<select class="form-control custom-input h-100"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="z.answerValue" ng-change="vm.searchValSubmit(z.answerValue,z,x)">
						<option value="" ng-if="false"></option>
					</select>
				</div>
				<div class="col-sm-4  col-10" ng-if="!x.questionComplete && !x.error && x.answerTest != '' ">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100" ng-click="vm.updateFreeText(x.answerTest,x)">Accept free text</button>
						</div>
			</div>
				
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="aura-level-1"></div>
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error" ng-bind="x.validationMsg || 'Please select an answer'"><br>
                			<br>
				</div>
</div>
<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.baseQuestion==true && x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
<!-- Row ends-->
<!--Row start for DateQuestion question-->
	<div ng-class="{'col-sm-12 col-12 cb' : x.baseQuestion && !x.error, 'col-sm-10  col-10 fright' : x.baseQuestion==false && !x.error, 'col-sm-12 col-12 has-error' : x.baseQuestion && x.error, 'col-sm-10  col-10 fright has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='DateQuestion'">
				 	<!-- <div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-10  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" >{{x.questionText | split}}(dd/mm/yyyy)</label>
                 	<!-- </div> -->
					<div class="row">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1,'col-sm-5 col-10': x.answerTest.length==0 , 'displaynone': x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 }">
                				<input type="text"  ng-click="vm.visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div  class="col-sm-5 col-10" ng-show="x.answerTest=='' ">
                				<input type="text" date-only ng-click="vm.visible('tick8')" class="datepicker form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | dateTextSplit "></label>
				 		</div>
						<div class="col-sm-5  col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-5  col-10" ng-if="x.questionComplete &&  x.answerTest !== ''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>

	</div>
<!-- Row ends-->
<!--Row start for statement question-->
<div ng-class="{'row mtaa-row-style cb' : x.baseQuestion, 'row' : x.baseQuestion==false}" ng-if="x.classType=='Statement'">
				 	<div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11  col-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
	<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="aura-level-1"></div>
				</div>
</div>

<!-- Row ends-->
<!--row start for text area("TextAreaQuestion") question-->
<div ng-class="{'col-sm-12 col-12' : x.baseQuestion && !x.error, 'row' : x.baseQuestion==false && !x.error, 'col-sm-12 col-12 has-error' : x.baseQuestion && x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
				 	<!-- <div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-10  col-10 fright' : x.baseQuestion==false}"> -->
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	<!-- </div> -->
					<div class="row ">
						<!--<div ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED' || x.answerTest.length==0 , 'displaynone':x.answerTest!='NO_ANSWER_CHECKED' && x.answerTest.length>0 }">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div class="col-sm-5  col-10" ng-show="x.answerTest=='' ">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control custom-input h-100" ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-5  col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-5  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>
</div>
<!--row ends-->
<!--"TextQuestion"-->
<div ng-class="{'row mtaa-row-style cb' : x.baseQuestion && !x.error, 'row' : x.baseQuestion==false && !x.error, 'row mtaa-row-style has-error' : x.baseQuestion && x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextQuestion'">
				 	<div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11  col-10 fright' : x.baseQuestion==false && x.indent==1, 'col-sm-10  col-10 fright':x.baseQuestion==false && x.indent==2}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-10  col-10  fright">
						<!--<div  ng-class="{'col-sm-5 col-10': x.answerTest=='NO_ANSWER_CHECKED', 'displaynone':x.answerTest!='NO_ANSWER_CHECKED'}">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control " ng-model="freeText">
              			</div>-->
						<div  class="col-sm-5  col-10" ng-show="x.answerTest=='' ">
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control custom-input h-100" ng-model="freeText[x.questionText]">
              			</div>
						<div class="col-sm-5  col-10"  ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3  col-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(freeText[x.questionText],x)">Enter</button>
						</div>
						<div class="col-sm-3  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>

				<div ng-if="x.error"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>
				</div>
</div>

<!--row ends-->
<!--"RangeQuestion"-->
<div ng-class="{'row mtaa-row-style cb' : x.baseQuestion && !x.error, 'row' : x.baseQuestion==false && !x.error, 'row mtaa-row-style has-error' : x.baseQuestion && x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RangeQuestion'">
				 	<div ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11  col-10 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-11  col-10 fright' : x.baseQuestion==false}" ng-if="x.visible">
						<!--<div  ng-class="{'col-sm-5 col-10': !x.questionComplete, 'displaynone':x.questionComplete}" >
                				<input type="text" ng-click="vm.visible('tick8')" class="form-control" ng-model="rangeText">
										</div>-->
						<div  class="row">
							
						<div  class="col-sm-5  col-10" ng-show="x.answerTest=='' || x.error " >
                				<input type="number"  ng-click="vm.visible('tick8')" class="form-control" ng-model="rangeText" >
								<!--<input type="text" numbers-only ng-click="vm.visible('tick8')" class="form-control" ng-model="rangeText">-->

              			</div>
						<div class="col-sm-5  col-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && !x.error">
							<label class="control-label" ng-bind="x.answerTest | split"></label>
				 		</div>
						<div class="col-sm-3  col-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="vm.updateRadio(rangeText,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary metlife-btn-aura w-100 no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
						</div>

				<div ng-if="x.error && x.visible"  ng-class="{'col-sm-12 col-12' : x.baseQuestion, 'col-sm-10  col-10' : x.baseQuestion==false}" class="fright error"> <span ng-if="!x.answerTest">Please answer the question</span><span ng-if="x.answerTest !== '' && x.answerTest">Answer is out of acceptable range, please re-enter the number</span> <br>
                			<br>
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="aura-level-1"></div>
				</div>
</div>

<!--row ends-->
</script>



<div class="container d-none d-sm-block ">
	<p class="spacer">&nbsp;</p>
</div>
<div class="container aura ">
	<div class="menumobile d-block d-sm-none">
		<div class="col-9">
			<div class="txtHolderMob">
				<span class="color2">2 / 3</span> Health &amp; lifestyle </div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-9">
			<div class="menu d-none d-sm-block">
				<div class="col-sm-4 dc first float-left">
					<h5 style="color:#0066a1" class="mt15">Step 1</h5>
					<div class="txtHolder pointer">
						<a ng-click="vm.go('/cover/2')" class="ui-link">Personal details</a>
					</div>
					<img src="static/aeis/images/bg_blank.png" class="shadow-image right"> </div>
				<div class="col-sm-4 cn float-left">
					<img src="static/aeis/images/bg_blank.png" class="shadow-image left">
					<h5 class="mt15">Step 2</h5>
					<div class="txtHolder"> Health &amp; lifestyle</div>
					<img src="static/aeis/images/bg_blank.png" class="shadow-image right"> </div>
				<div class="col-sm-4 cnn float-left">
					<h5 class="mt15">Step 3</h5>
					<div class="txtHolder"> Confirmation </div>
					<img src="static/aeis/images/bg_blank.png" class="shadow-image left"> </div>
			</div>
			<div class="panel-group" id=" ">





				<div class="card card-default" ng-repeat="section in vm.auraResponseDataList" ng-if="section.sectionName!='QG=Personal Details' && section.sectionName!='QG=Occupation Details'">

					<div class="card-header corp-card-header accordionHeader" ng-click="section.collapse=!section.collapse" role="tab">
						<a data-toggle="collapse" data-parent="#accordion"  ng-class="{'collapsed':!section.sectionStatus}" aria-expanded="true">
							<h4 class="card-title text-white corp-card-header-text" ng-bind="section.sectionName | sectionSplit "></h4>
						</a>
					</div>
					<div id="collapse-{{$index}}" class="card-collapse form-box-style collapse" role="tabpanel" ng-class="{'in':section.sectionStatus && !section.collapse}">
						<div class="card-body">
							<div ng-repeat="x in section.questions" ng-if="x.visible" ng-include="'tree_item_renderer.html'"></div>
							<div class=" row mtaa-row-style">
								<div class="col-sm-4 col-12" ng-if="!$last">
									<a class="" data-parent="#accordion" data-toggle="collapse">
										<button class="btn btn-primary metlife-btn-aura mt-2 w-100" type="button" ng-click="vm.collapseUncollapse($index,section.sectionName)">Continue</button>
									</a>
								</div>
								<div class="col-sm-8 col-12">
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="card card-default">
					<div class="card-body">
						<div ng-if="vm.isAuraErroneous" class="row mtaa-row-style error">
							<div class="col-12">
								<p>Please complete below sections to continue</p>
								<ul>
									<li ng-repeat="section in vm.erroneousSections"> {{section}}</li>
								</ul>
							</div>
						</div>
						<div class="row mtaa-row-style ">
							<div class="form-group col-12 col-md-4 pt-2 ">
								<button class="btn btn-primary w100p" ng-click="vm.go('/cover/2')">Previous</button>
							</div>
							
							<div class="form-group col-12 col-md-4 pt-2">
								<button class="btn btn-primary w100p" ng-click="vm.saveAura()">Save & Exit</button>
							</div>
							
							<div class="form-group col-12 col-md-4 pt-2">
								<button class="btn btn-primary w100p" ng-click="vm.proceedToNext()">Continue</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="col-12 col-md-3 ">
			<div class="help-block ">
				<h2 class="helpHead ">NEED HELP?</h2>
				<p class="helpTxt "> We are happy to chat over the phone</p>
				<h3 class="helpNo ">
					<a class="telephone " href="tel:1300 361 477 ">1300 361 477</a>
				</h3>
			</div>
		</div>
	</div>
	<!-- /container -->
</div>