<metlife-guil-header-nav></metlife-guil-header-nav>
<div>
<div class="container d-none d-sm-block">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container p-0">
  <div class="menumobile d-block d-sm-none d-flex h-100">
    <div class="col-9">
      <div class="txtHolderMob"><span class="color2">1 / 3</span> Personal details </div>
    </div>
    <div class="col-3 float-right justify-content-center align-self-center"><img src="./static/guil/src/app/assets/images/bg_blank.png" class="icoMenuRev">
    <img src="./static/guil/src/app/assets/images/bg_blank.png" class="icoMenuFwd ml-5">
    </div>
  </div>
  
  <div class=" col-sm-3 fright d-none d-sm-block">
   <metlife-guil-help-block></metlife-guil-help-block>
</div>
  <div class=" col-sm-9">
    <div class="menu d-none d-sm-block">
      <div class="col-sm-4 cn first float-left pt-2">
        <h5>step 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="./static/guil/src/app/assets/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 cnn float-left pt-2"> <img src="./static/guil/src/app/assets/images/bg_blank.png" class=" left">
        <h5>step 2</h5>
        <div class="txtHolder"> Health &amp; Lifestyle</div>
        <img src="./static/guil/src/app/assets/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 nl float-left pt-2">
        <h5>step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="./static/guil/src/app/assets/images/bg_blank.png" class=" left"> </div>
    </div>
    
    <!--Duty of Disclosure Section starts -->
    <div class="accordion" id="accordiondod">
      <div class="card border-0 mt-2">
        <div id="collapseduty">
          <form autocomplete="off" name="vm.formduty" role="form" novalidate>
            <div class="card-body">
              <div class=" col-sm-12">
                <p style="text-align: justify; margin-top: 8px;"></p>
                <p><strong>Insured's duty of disclosure</strong></p>
                <div class="scrollBox">
                  <u><p>The following section applies to members who are applying for cover including any application to vary or increase cover.</p></u>
                  <p>A person who enters into a life insurance contract in respect of your life has a duty, before entering into the contract, to tell our Insurer anything that he or she knows, or could reasonably be expected to know, may affect our Insurer's decision to provide the insurance and on what terms.</p>
                  <p>The person entering into the contract has this duty until our Insurer agrees to provide the insurance.</p>
                  <p>The person entering into the contract has the same duty before he or she extends, varies or reinstates the contract.</p>
                  <p>The person entering into the contract does not need to tell our Insurer anything that:</p>
                  <ul class="listing" style="margin: 0 0 10px 30px;">
                    <li>reduces the risk our Insurer insures you for; or </li>
                    <li>is common knowledge; or </li>
                    <li>our Insurer knows or should know as an insurer; or </li>
                    <li>our Insurer waives your duty to tell it about. </li>
                  </ul>
                  <p>If you do not tell our Insurer something that you know, or could reasonably be expected to know, this may affect our Insurer's decision to provide the insurance and on what terms, this may be treated as a failure by the person entering into the contract to tell our Insurer something that he or she must tell our Insurer.</p>
                  <strong>If the person entering the contract does not tell our insurer something </strong><br>
                  <br>
                  <p>In exercising the following rights, our Insurer may consider whether different types of cover can constitute separate contracts of life insurance. If they do, our Insurer may apply the following rights separately to each type of cover.</p>
                  <p>If the person entering into the contract does not tell our insurer anything he or she is required to, and our Insurer would not have provided the insurance if he or she had told us, our Insurer may avoid the contract within 3 years of entering into it.</p>
                  <p>If our Insurer chooses not to avoid the contract, our Insurer may, at any time, reduce the amount of insurance provided. This would be worked out using a formula that takes into account the premium that would have been payable if he or she had told our Insurer everything he or she should have. However, if the contract provides cover on death, we may only exercise this right within 3 years of entering into the contract.</p>
                  <p>If our Insurer chooses not to avoid the contract or reduce the amount of insurance provided, our Insurer may, at any time vary the contract in a way that places it in the same position it would have been in if you had told our insurer everything you should have. However, this right does not apply if the contract has a surrender value or provides cover on death.</p>
                  <p>If the failure to tell our Insurer is fraudulent, our Insurer may refuse to pay a claim and treat the contract as if it never existed.</p>
                </div>
                <div class="row rowcustom" ng-class="{'has-error':vm.dodFlagErr}">
                  <p class="spacer">&nbsp;</p>
                  <div class="btn-group-vertical">
                    <button class="btn mt-2 ingd-button-checkbox mt-2 col-12 p-1" id="dodLabel" ng-class="{'active': vm.QPD.dodCheck}" ng-click="vm.checkDodState()">
                    <input  tabindex="0" ng-model="vm.QPD.dodCheck" type="checkbox" id="dodlabelCheck" name="dod" required> 
                    <span></span>
                    <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above.</div>
                    </button><p ng-if="vm.dodFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
                    <!-- ngIf: dodFlagErr --> 
                  </div>
                </div>
                <p></p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- </div> --> 
      
      <!--Duty of Disclosure Section starts --> 
      <!--Privacy Policy Section starts -->
      <div class="card border-0 no-background mt-2">
        <div class="card-header bg-dark" data-toggle="collapse" href="#collapseprivacy" ng-click="vm.isCollapsible('collapseprivacy', $event)"> 
        <a class="card-title">
          <h4 class="mb-0 float-left text-white">Privacy statement</h4>
          </a> </div>
          
        <div class="overflow-hidden card">
          <div id="collapseprivacy" class="card-body p-0 pt-2 parent-flex-container collapse in" data-parent="#accordion">
          <form name="vm.cancelprivacyPolicyForm" role="form" novalidate>
            <div class="card-body">
              <div class=" col-sm-12">
                <p class="normal" style="text-align: justify; margin-top: 8px;"></p>
                <p><strong>You must read and acknowledge the Privacy Statement before proceeding</strong></p>
                <div class="scrollBox">
                  <p><strong>Your privacy with MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife' and the 'Insurer')</strong></p>
                  <p>The personal information you provide in the form is necessary for us to provide you with the products and services you have requested from us, and to manage your claims. You do not have to provide us with your personal information, but if you do not do so we may not be able to provide you with our products or services.</p>
                  <p>MetLife Insurance Limited complies with the Privacy Act 1988 and the principles laid out in its privacy policy which details information about how you may access or seek correction of your personal information, how we manage that information and our complaints process. MetLife's Privacy Policy is readily available and can be viewed at <a href="http://www.metlife.com.au/privacy">www.metlife.com.au/privacy.</a></p>
                  <p><strong>Your privacy</strong></p>
                  <p>The information you provide in this form is collected by and held by the fund administrator, in accordance with the Australian Privacy Principles of the Privacy Act. Such information is usually disclosed to third parties, including the Insurer or medical consultant who may be involved with the assessment of this application, and is held by the Administrator and the Insurer. For more information about privacy, contact Member Services on 1300 361 477 or visit <a href="http://www.guildsuper.com.au/about/group-privacy-and-security-policy">http://www.guildsuper.com.au/about/group-privacy-and-security-policy</a> to view the privacy policy .</p>
                </div>
                <div class="row rowcustom " ng-class="{'has-error':vm.privacyFlagErr}">
                  <p class="spacer">&nbsp;</p>
                  <div class="btn-group-vertical">
                    <button class="btn mt-2 ingd-button-checkbox mt-2 col-12 p-1" ng-class="{'active': vm.QPD.privacyCheck}" id="privacyLabel" ng-click="vm.checkPrivacyState()">
                    <input tabindex="1" ng-model="vm.QPD.privacyCheck" type="checkbox" id="privacylabelCheck" name="privacy" required>
                    <span></span>
                    <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above</div>
                    </button>
                    <p ng-if="vm.privacyFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the privacy statement.</p>
                  </div>
                </div>
                <p></p>
              </div>
            </div>
          </form>
        </div>
        </div>
      </div>
      <!--Privacy Policy Section starts --> 
      
      <!--Contact Details Section starts  --> 
      <!-- <div class="panel-group" id="accordionContact"> -->
      <div class="card border-0 no-background mt-2">
        <div class="card-header bg-dark " data-toggle="collapse" href="#collapseOne" ng-click="vm.isCollapsible('collapseOne', $event)"> 
        <a class="card-title">
          <h4 class="mb-0 float-left text-white"> Contact details</h4>
          </a> </div>
        <div class="overflow-hidden card">
      <div id="collapseOne" class="card-body p-0 pt-2 parent-flex-container collapse in">
          <form name="vm.formOne" role="form" novalidate class="w-100">
            <div class="card-body"> 
              <!-- Row starts -->
              <div class="row rowcustom first">
                <div class="col-sm-12">
                  <label> Please leave your contact details in the event we need to contact you</label>
                </div>
              </div>
              <!-- Row ends -->
              
              <hr class="primeline">
              
              <!-- Row starts -->
              <div class="row rowcustom ">
                <div class="col-md-5 col-sm-12" ng-class="{'has-error':(vm.formOne.contactEmail.$invalid && vm.formOne.contactEmail.$touched) || (vm.formOne.$submitted && vm.formOne.contactEmail.$error.required)}">
                  <label> Email address </label>
                  <input class="form-control" ng-model-options="vm.modelOptions" ng-pattern="vm.constants.emailFormat" maxlength="50" ng-focus="vm.checkPreviousMandatoryFields('contactEmail','formOne')" name="contactEmail" ng-class="(vm.formOne.contactEmail.$invalid && vm.formOne.contactEmail.$touched) || (vm.formOne.$submitted && vm.formOne.contactEmail.$error.required)  ? 'error-border':''" ng-model="vm.QPD.applicant.emailId"  placeholder="Enter your email" required="" type="email">
                  <span ng-if="(vm.formOne.contactEmail.$invalid && vm.formOne.contactEmail.$touched) || (vm.formOne.$submitted && vm.formOne.contactEmail.$error.required) || (vm.formOne.$submitted && vm.formOne.contactEmail.$error.pattern)" class="error">Please enter your email address</span>
                </div>
                <div class="col-md-3 col-sm-12" ng-class="{'has-error':(vm.formOne.contactType.$invalid && vm.formOne.contactType.$touched) || (vm.formOne.$submitted && vm.formOne.contactType.$error.required)}">
                  <label>Preferred contact type</label>
                      <div class="select">
                        <select  name="contactType" class="form-control" ng-model="vm.QPD.applicant.contactDetails.preferedContacType" ng-change="vm.changePrefContactType()" ng-options="contact.value as contact.text for contact in vm.constants.contactTypeOption" required>
                      <option value="">Please select</option>
                      </select>
                        <div class="select__arrow"></div>
                        <span ng-if="(vm.formOne.contactType.$invalid && vm.formOne.contactType.$touched) || ((vm.formOne.contactType.$touched && vm.formOne.contactType.$error.required)  ||(vm.formOne.contactType.$error.pattern))"  class="error">Please enter preferred contact type</span>
                      </div>
                       </div>
                    
                    <div class="col-md-4 col-sm-12" ng-class="{'has-error':(vm.formOne.contactPhone.$invalid && vm.formOne.contactPhone.$touched) || (vm.formOne.$submitted && vm.formOne.contactPhone.$error.required)}">
                      <label class="control-label">Preferred contact number</label>
                      <input class="form-control" ng-focus="vm.checkPreviousMandatoryFields('contactPhone','formOne')" ng-pattern="vm.constants.phoneNumber"  phone-only id="preferrednumCCId"  maxlength="10"  name="contactPhone" ng-class = "{'error-border': vm.formOne.contactPhone.$invalid && vm.formOne.contactPhone.$touched || vm.formOne.$submitted}" ng-model="vm.QPD.applicant.contactDetails.preferedContactNumber" type="text" placeholder="Enter your Phone No" required>
                    <span ng-if="(vm.formOne.contactPhone.$invalid && vm.formOne.contactPhone.$touched) || ((vm.formOne.contactType.$touched && vm.formOne.contactPhone.$error.required)  ||(vm.formOne.contactPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
                  </div>
               
              </div>
              <!-- Row ends -->
              
              <hr class="primeline">
              
              <!-- Row starts -->
              <div class="row rowcustom">
                <div class="col-lg-6 col-md-12" ng-class="{'has-error':(vm.formOne.contactPrefTime.$error.required && vm.formOne.contactPrefTime.$touched) || (vm.formOne.$submitted && vm.formOne.contactPrefTime.$error.required )}">
                  <label> What time of day do you prefer to be contacted? </label>
                  <span id="tick 3" style=" visibility:hidden"> <span class="tickforms d-block d-sm-none"></span> <span class="tickforms mrm25px d-none d-sm-block"></span> </span>
                  <div class="btn-group" data-toggle="buttons">
                    <div class="col-12 col-lg-6 pl-0">
                      <button class="btn radiobutton" ng-class="{'active': (vm.QPD.applicant.contactDetails.preferedContactTime == '1')}" ng-click="vm.changePrefContactTime('1')">
                        <input class="ipradio" name="contactPrefTime" ng-model="vm.QPD.applicant.contactDetails.preferedContactTime"  ng-class="(vm.formOne.contactPrefTime.$error.required && vm.formOne.contactPrefTime.$touched) || (vm.formOne.$submitted && vm.formOne.contactPrefTime.$error.required)  ? 'radio-validation':''"  type="radio" value="1" required>
                        <span></span> Morning (9am&ndash;12pm) </button>
                    </div>
                    <div class="col-12 col-lg-6  pl-0">
                      <button class="btn radiobutton" ng-class="{'active': (vm.QPD.applicant.contactDetails.preferedContactTime == '2')}" ng-click="vm.changePrefContactTime('2')">
                        <input class="ipradio" name="contactPrefTime" ng-model="vm.QPD.applicant.contactDetails.preferedContactTime" ng-class="(vm.formOne.contactPrefTime.$error.required && vm.formOne.contactPrefTime.$touched) || (vm.formOne.$submitted && vm.formOne.contactPrefTime.$error.required) ? 'radio-validation':''"  type="radio" value="2" required="">
                        <span></span> Afternoon (12pm&ndash;6pm) </button>
                    </div>
                    
                  </div>
                  <span ng-if="(vm.formOne.contactPrefTime.$error.required && vm.formOne.contactPrefTime.$touched) || (vm.formOne.$submitted && vm.formOne.contactPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
                </div>
                <div class="col-lg-6 col-md-12" ng-class="{'has-error':(vm.formOne.gender.$error.required && vm.formOne.gender.$touched) || (vm.formOne.$submitted && vm.formOne.gender.$error.required )}">
                  <label class="pl-3"> Sex </label>
                  <div class="btn-group">
                    <div class="col-12 col-md-6">
                      <button class="btn radiobutton" ng-class="{'active': (vm.QPD.applicant.gender == 'Male')}" ng-click="vm.changeGender('Male')">
                        <input  type="radio" name="gender" class="ipradio"  ng-class="(vm.formOne.gender.$error.required && vm.formOne.gender.$touched) || (vm.formOne.$submitted && vm.formOne.gender.$error.required) ? 'radio-validation':''" ng-model="vm.QPD.applicant.gender" value="Male" required>
                        <span></span> Male </button>
                    </div>
                    <div class="col-12 col-md-6">
                      <button class="btn radiobutton" ng-class="{'active': (vm.QPD.applicant.gender == 'Female')}" ng-click="vm.changeGender('Female')">
                        <input type="radio" name="gender" class="ipradio" ng-class="(vm.formOne.gender.$error.required && vm.formOne.gender.$touched) || (vm.formOne.$submitted && vm.formOne.gender.$error.required) ? 'radio-validation':''" ng-model="vm.QPD.applicant.gender" value="Female" required>
                        <span></span> Female </button>
                    </div>
                     
                  </div>
                  <span class="error pl-3" ng-if="(vm.formOne.gender.$error.required && vm.formOne.gender.$touched) || (vm.formOne.$submitted && vm.formOne.gender.$error.required )">Please select gender</span>
                </div>
              </div>
              <!-- Row ends -->
              
               <!-- <hr class="primeline">
              <div class=" row rowcustom">
                <div class="col-sm-3 col-12"> <a data-toggle="collapse" data-parent="#accordion">
                  <button class="btn btn-primary w100p" ng-click="vm.formOneSubmit(vm.formOne);" type="button">Continue</button>
                  </a> </div>
              </div> --> 
            </div>
          </form>
        </div>
        </div>
      </div>
      <!-- Contact Details Section ends --> 
      
      <!-- Occupation section starts -->
      <div class="card border-0 no-background mt-2">
        <div class="card-header bg-dark " data-toggle="collapse" href="#collapseTwo" ng-click="vm.isCollapsible('collapseTwo', $event)"> 
        <a class="card-title">
          <h4 class="mb-0 float-left text-white">Occupation</h4>
          </a> </div>
        <div class="overflow-hidden card">
          <div id="collapseTwo" class="card-body p-0 pt-2 parent-flex-container collapse in">
          <form autocomplete="off" name="vm.occupationForm" id="occupFormId" novalidate role="form">
            <div class="card-body"> 
            	<!-- Row starts -->
              <div class="row rowcustom" ng-class="{'has-error':(vm.occupationForm.empStatus.$error.required && vm.occupationForm.empStatus.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.empStatus.$error.required )}">
                <div class="col-12 col-sm-6">
                  <label>What is your employment status?</label>
                  <div class="btn-group">
                  <div class="col-12 col-md-4 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.memberType  == 'Employed')}">
                      <input type="radio" name="empStatus"  class="ipradio" ng-click="vm.checkPreviousMandatoryFields('empStatus','occupationForm')"
                       ng-class = "(vm.occupationForm.empStatus.$error.required ) || (vm.occupationForm.$submitted && vm.occupationForm.empStatus.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.memberType" type="radio" value="Employed" ng-change="vm.checkempStatus()" required>
                      <span></span>Employed</label>
                  </div>
                  <div class="col-12 col-md-4 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.memberType  == 'Self-employed')}">
                      <input type="radio" name="empStatus"  class="ipradio" ng-click="vm.checkPreviousMandatoryFields('empStatus','occupationForm')"
                       ng-class = "(vm.occupationForm.empStatus.$error.required ) || (vm.occupationForm.$submitted && vm.occupationForm.empStatus.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.memberType" type="radio" value="Self-employed" ng-change="vm.checkempStatus()" required>
                      <span></span> Self-employed</label>
                  </div>
                  <div class="col-12 col-md-4 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.memberType  == 'Unemployed')}">
                      <input type="radio" name="empStatus"  class="ipradio" ng-click="vm.checkPreviousMandatoryFields('empStatus','occupationForm')"
                       ng-class = "(vm.occupationForm.empStatus.$error.required ) || (vm.occupationForm.$submitted && vm.occupationForm.empStatus.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.memberType" type="radio" value="Unemployed" ng-change="vm.checkempStatus()" required>
                      <span></span> Unemployed</label>
                  </div>
                </div>
                  <span class="error" ng-if="((vm.occupationForm.empStatus.$error.required && vm.occupationForm.empStatus.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.empStatus.$error.required)) && !vm.QPD.applicant.memberType === 'Unemployed'">Please select an option</span>
                  <span class="error" ng-if="(vm.QPD.applicant.memberType === 'Unemployed')">You are not eligible to apply for Cover due to your employment status.</span>
                </div>
              </div>
              <!-- Row ends -->
              <hr class="primeline"  >
              <!-- Row starts -->
              <div class="row rowcustom" ng-class="{'has-error':(vm.occupationForm.fifteenHrsQuestion.$error.required && vm.occupationForm.fifteenHrsQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.fifteenHrsQuestion.$error.required )}">
                <div class="col-12 col-sm-6">
                  <label>Do you work more than 15 hours per week? </label>
                  <div class="btn-group">
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.workHours  == 'Yes')}">
                      <input type="radio" name="fifteenHrsQuestion "  class="ipradio" ng-click="vm.checkPreviousMandatoryFields('fifteenHrsQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.fifteenHrsQuestion.$error.required && vm.occupationForm.fifteenHrsQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.workHours" type="radio" value="Yes" ng-change="vm.toggleIPCondition()" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.workHours  == 'No')}">
                      <input type="radio" name="fifteenHrsQuestion"  class="ipradio" ng-click="vm.checkPreviousMandatoryFields('fifteenHrsQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.fifteenHrsQuestion.$error.required && vm.occupationForm.fifteenHrsQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.workHours" type="radio" value="No" ng-change="vm.toggleIPCondition()" required>
                      <span></span> No
                    </label>
                  </div>
                </div>
                  <span class="error" ng-if="(vm.occupationForm.fifteenHrsQuestion.$error.required && vm.occupationForm.fifteenHrsQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.fifteenHrsQuestion.$error.required )">Please select Yes or No</span>
                </div>
              </div>
              <!-- Row ends -->
              <!-- <div ng-class="{'has-error':(vm.occupationForm.ownBussinessQuestion.$error.required && vm.occupationForm.ownBussinessQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.ownBussinessQuestion.$error.required )}">
              <div class="col-12 col-sm-12">
                <label>Do you, directly or indirectly, own all or part of a business from which you earn your regular income?</label>
              </div>
              Row starts
              <div class="row rowcustom">
                <div class="col-12 col-sm-6"> <span id="tick 3" style=" visibility:hidden"><span class="tickforms d-block d-sm-none"></span><span class="tickforms mrm25px d-none d-sm-block"></span></span>
                  <div class="btn-group">
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn radiobutton" ng-class="{'active': (vm.QPD.applicant.ownBusinessQue == 'Yes')}">
                      <input name="ownBussinessQuestion" class="ipradio" ng-click="vm.checkPreviousMandatoryFields('ownBussinessQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.ownBussinessQuestion.$error.required && vm.occupationForm.ownBussinessQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.ownBussinessQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.ownBusinessQue" ng-change="vm.checkOwnBusinessQuestion()" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn radiobutton" ng-class="{'active': (vm.QPD.applicant.ownBusinessQue == 'No')}">
                      <input name="ownBussinessQuestion" class="ipradio" ng-click="vm.checkPreviousMandatoryFields('ownBussinessQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.ownBussinessQuestion.$error.required && vm.occupationForm.ownBussinessQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.ownBussinessQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.ownBusinessQue" ng-change="vm.checkOwnBusinessQuestion()" type="radio" value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                  <span class="error" ng-if="(vm.occupationForm.ownBussinessQuestion.$error.required && vm.occupationForm.ownBussinessQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.ownBussinessQuestion.$error.required )">Please select Yes or No</span>
                </div>
              </div>
              </div> -->
              <!-- Row ends -->
              <!-- <div ng-if="vm.QPD.applicant.ownBusinessQue =='Yes'">
              <hr class="primeline">
              <div ng-class="{'has-error':(vm.occupationForm.ownBussinessNoQuestion.$error.required && vm.occupationForm.ownBussinessNoQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.ownBussinessNoQuestion.$error.required )}">
              <div class="col-12 col-sm-12">
                <label>With your current job, are you currently:</label>
                <ul>
                  <li>Capable of and performing all of the usual identifiable duties from your occupation, without restriction due to injury or illness?</li>
                </ul>
              </div>
              
              Row starts
              <div class="row rowcustom " id="ob" style="display:block">
                <div class="col-sm-6 col-12">
                  <div class="btn-group">
                    <div class="col-12 col-md-6 pl-0">
                      <label class="btn radiobutton" ng-class="{'active': (vm.QPD.applicant.ownBusinessYesQue == 'Yes')}">
                        <input name="ownBussinessYesQuestion" class="ipradio" ng-click="vm.checkPreviousMandatoryFields('ownBussinessYesQuestion','occupationForm')"
                         ng-class="(vm.occupationForm.ownBussinessYesQuestion.$error.required && vm.occupationForm.ownBussinessYesQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.ownBussinessYesQuestion.$error.required)  ? 'radio-validation':''"
                        ng-model="vm.QPD.applicant.ownBusinessYesQue" type="radio" value="Yes" required>
                        <span></span>Yes</label>
                    </div>
                    <div class="col-12 col-md-6 pl-0">
                      <label class="btn radiobutton" ng-class="{'active': (vm.QPD.applicant.ownBusinessYesQue == 'No')}">
                        <input name="ownBussinessYesQuestion" class="ipradio" ng-click="vm.checkPreviousMandatoryFields('ownBussinessYesQuestion','occupationForm')"
                         ng-class="(vm.occupationForm.ownBussinessYesQuestion.$error.required && vm.occupationForm.ownBussinessYesQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.ownBussinessYesQuestion.$error.required)  ? 'radio-validation':''"
                        ng-model="vm.QPD.applicant.ownBusinessYesQue" type="radio" value="No" required>
                        <span></span> No </label>
                    </div>
                  </div>
                  <span class="error" ng-if="(vm.occupationForm.ownBussinessYesQuestion.$error.required && vm.occupationForm.ownBussinessYesQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.ownBussinessYesQuestion.$error.required )">Please select Yes or No</span>
                </div>
              </div>
              </div>
              </div> -->
              <!-- Row ends -->
              <!-- <div ng-if="vm.QPD.applicant.ownBusinessQue =='No'">
             <hr class="primeline">

            Row starts
            <div class="row rowcustom" ng-class="{'has-error':(vm.occupationForm.ownBussinessNoQuestion.$error.required && vm.occupationForm.ownBussinessNoQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.ownBussinessNoQuestion.$error.required )}">
              <div class="col-12 col-sm-12">
                <label>With your current job, are you currently: <br> <li> Actively Performing all your normal duties of your occupation; and </li> <br> <li> Working your usual hours without limitation of injury or illness; and </li> <br> <li> Not entitled to, or not receiving any income support benefits of any kind.</li></label>
              </div>
              <div class="col-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.ownBusinessNoQue == 'Yes')}">
                      <input name="ownBussinessNoQuestion" class="ipradio" ng-click="vm.checkPreviousMandatoryFields('ownBussinessNoQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.ownBussinessNoQuestion.$error.required && vm.occupationForm.ownBussinessNoQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.ownBussinessNoQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.ownBusinessNoQue" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.ownBusinessNoQue == 'No')}">
                      <input name="ownBussinessNoQuestion" class="ipradio" ng-click="vm.checkPreviousMandatoryFields('ownBussinessNoQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.ownBussinessNoQuestion.$error.required && vm.occupationForm.ownBussinessNoQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.ownBussinessNoQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.ownBusinessNoQue" type="radio" value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                <span class="error" ng-if="(vm.occupationForm.ownBussinessNoQuestion.$error.required && vm.occupationForm.ownBussinessNoQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.ownBussinessNoQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div> -->
             <!-- Row ends -->
              <!-- <hr class="primeline">
              <div ng-class="{'has-error':(vm.occupationForm.areyouperCitzQuestion.$error.required && vm.occupationForm.areyouperCitzQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.areyouperCitzQuestion.$error.required )}">
              <div class="col-12 col-sm-12">
                <label>Are you either a permanent resident of Australia or a New Zealand citizen residing in Australia under a Special Category Visa?</label>
              </div>
              Row starts
              <div class="row rowcustom">
                <div class="col-sm-6 col-12">
                  <div class="btn-group">
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.australiaCitizenship == 'Yes')}">
                      <input name="areyouperCitzQuestion" class="ipradio" ng-click="vm.checkPreviousMandatoryFields('areyouperCitzQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.areyouperCitzQuestion.$error.required && vm.occupationForm.areyouperCitzQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.areyouperCitzQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.australiaCitizenship" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.australiaCitizenship == 'No')}">
                      <input name="areyouperCitzQuestion" class="ipradio" ng-click="vm.checkPreviousMandatoryFields('areyouperCitzQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.areyouperCitzQuestion.$error.required && vm.occupationForm.areyouperCitzQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.areyouperCitzQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.australiaCitizenship" type="radio" value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                  <span class="error" ng-if="(vm.occupationForm.areyouperCitzQuestion.$error.required && vm.occupationForm.areyouperCitzQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.areyouperCitzQuestion.$error.required )">Please select Yes or No</span>
                </div>
              </div>
              </div> -->
              <!-- Row ends -->
              
              <hr class="primeline">
              <div ng-class="{'has-error':(vm.occupationForm.industry.$error.required && vm.occupationForm.industry.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.industry.$error.required )}">
              <div class="col-12 ">
                <label> What industry do you work in?</label>
              </div>
              <!-- Row starts -->
              <div class="row rowcustom">
                <div class="col-12 ">
                  <div class="select">
                    <select class="form-control" name="industry" ng-focus="vm.checkPreviousMandatoryFields('industry','occupationForm')" ng-class="(vm.occupationForm.industry.$error.required && vm.occupationForm.industry.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.industry.$error.required)  ? 'error-border':''" ng-model="vm.QPD.applicant.industryType" ng-change="vm.getOccupations()" required>
                      <option value="">Please select...</option>
                      <option ng-repeat="industry in vm.IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
                    </select>
                    <div class="select__arrow"></div>
                  </div>
                   <span class="error" ng-if="(vm.occupationForm.industry.$error.required && vm.occupationForm.industry.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.industry.$error.required )">Please select the industry type.</span>
                </div>
              </div>
              </div>
              <!-- Row ends -->
              
              <hr class="primeline">
              <div  ng-class="{'has-error':(vm.occupationForm.industry.$error.required && vm.occupationForm.industry.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.industry.$error.required )}">
              <div class="col-12  ">
                <label> What is your current occupation?</label>
              </div>
              <!-- Row starts -->
              <div class="row rowcustom">
                <div class="col-12 ">
                  <div class="select">
                    <select class="form-control" name="occupation" ng-focus="vm.checkPreviousMandatoryFields('occupation','occupationForm')" ng-class="(vm.occupationForm.occupation.$error.required && vm.occupationForm.occupation.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.occupation.$error.required)  ? 'error-border':''" ng-model="vm.QPD.applicant.occupation" ng-change="vm.getCategoryFromDB(true)"  required>
                      <option value="">Please select...</option>
                      <option ng-repeat="occupation in vm.OccupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
                    </select>
                    <div class="select__arrow"></div>
                  </div>
                  <span class="error" ng-if="(vm.occupationForm.occupation.$error.required && vm.occupationForm.occupation.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.occupation.$error.required )">Select the occupation which best best matches with your current occupation.</span>
                  <label>If you do not select an occupation from the occupations listed, your premiums will be shown at standard rates.</label>
                </div>
              </div>
              </div>
              <!-- Row ends -->
                <div ng-if="vm.QPD.applicant.occupation =='Other'">
               <hr class="primeline">
               <div class="row rowcustom " ng-class="{'has-error':(vm.occupationForm.otherOccupation.$invalid && vm.occupationForm.otherOccupation.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.otherOccupation.$error.required)}">
                <div class="col-sm-5" >
                  <label>  Please enter your occupation  </label>
                </div>
                <div class="col-sm-7 col-12">              
                  <input class="form-control" ng-focus="vm.checkPreviousMandatoryFields('otherOccupation','occupationForm');" maxlength="150" name="otherOccupation" ng-class = "(vm.occupationForm.otherOccupation.$invalid && vm.occupationForm.otherOccupation.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.otherOccupation.$error.required)  ? 'error-border':''" ng-model="vm.QPD.applicant.otherOccupation" type="text" placeholder="Enter your occupation" uib-typeahead="occupationList as occupationList for occupationList in vm.getOtherOccupationAS($viewValue)"  ng-blur="vm.getCategoryFromDB(true)" required>
                  <span ng-if="(vm.occupationForm.otherOccupation.$invalid && vm.occupationForm.otherOccupation.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.otherOccupation.$error.required) " class="error">Please enter your occupation</span>
                  <!-- <span ng-if="noResults && occupationList.length>0" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true"> <ul style="list-style: none;" class="uib-dropdown-menu" > <li><a href  ng-click="!noResults">No records found</a></li></ul></span> -->                
                </div>
             </div>
            </div>
          <!-- Row ends -->
          <!-- <div ng-if="vm.showHazardousQuestion">
            <hr class="primeline">
             <div class="row rowcustom" ng-class="{'has-error':(vm.occupationForm.hazardousQuestion.$error.required && vm.occupationForm.hazardousQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.hazardousQuestion.$error.required )}">
              <div class="col-12 col-sm-12">
                <label class="control-label">  Do you work in a hazardous environment and/or perform any duties of a manual nature? </label>
                <span style=" visibility:hidden" id="tick 3"><span class="tickforms d-block d-sm-none"></span><span class="tickforms mrm25px d-none d-sm-block"></span></span> </div>
              <div class="col-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.workDuties == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="hazardousQuestion" ng-click="vm.checkPreviousMandatoryFields('hazardousQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.hazardousQuestion.$error.required && vm.occupationForm.hazardousQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.hazardousQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.workDuties" ng-change="vm.renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton  " ng-class="{'active': (vm.QPD.applicant.workDuties == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="hazardousQuestion" ng-click="vm.checkPreviousMandatoryFields('hazardousQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.hazardousQuestion.$error.required && vm.occupationForm.hazardousQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.hazardousQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.workDuties" ng-change="vm.renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(vm.occupationForm.hazardousQuestion.$error.required && vm.occupationForm.hazardousQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.hazardousQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div> -->

            <div ng-if="vm.showOutsideOfficeQuestion">
                <hr class="primeline">
                <div class="row rowcustom" ng-class="{'has-error':(vm.occupationForm.outsideOffice.$error.required && vm.occupationForm.outsideOffice.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.outsideOffice.$error.required )}">
              <div class="col-12 col-sm-12">
                <label class="control-label">Are the duties of your occupation limited to professional, managerial, administrative, clerical, secretarial or similar white collar tasks that do not involve manual work and take place entirely (or at least 80%) within an office environment (excluding travel time from one office environment to another)?</label>
                <span style=" visibility:hidden" id="tick 3"><span class="tickforms d-block d-sm-none"></span><span class="tickforms mrm25px d-none d-sm-block"></span></span> </div>
              <div class="col-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.spendTimeOutside == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="outsideOffice" ng-click="vm.checkPreviousMandatoryFields('outsideOffice','occupationForm')"
                       ng-class = "(vm.occupationForm.outsideOffice.$error.required && vm.occupationForm.outsideOffice.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.outsideOffice.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.spendTimeOutside" ng-change="vm.renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton  " ng-class="{'active': (vm.QPD.applicant.spendTimeOutside == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="outsideOffice" ng-click="vm.checkPreviousMandatoryFields('outsideOffice','occupationForm')"
                       ng-class = "(vm.occupationForm.outsideOffice.$error.required && vm.occupationForm.outsideOffice.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.outsideOffice.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.spendTimeOutside" ng-change="vm.renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                 </div>
                </div>
                <span class="error" ng-if="(vm.occupationForm.outsideOffice.$error.required && vm.occupationForm.outsideOffice.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.outsideOffice.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>
              <!-- Row ends -->
              <!-- <div ng-if="vm.showWithinOfficeQuestion" class="ng-scope"   >
                <hr class="primeline">
                <div class="row rowcustom " ng-class="{'has-error':(vm.occupationForm.withinOfficeQuestion.$error.required && vm.occupationForm.withinOfficeQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.withinOfficeQuestion.$error.required )}" >
                  <div class="col-12 col-sm-12">
                    <label>
                    <p align="justify">Are your duties entirely undertaken within an office environment?
                    <p></p>
                    </p>
                    </label>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="btn-group">
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.occupationDuties == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="withinOfficeQuestion" ng-click="vm.checkPreviousMandatoryFields('withinOfficeQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.withinOfficeQuestion.$error.required && vm.occupationForm.withinOfficeQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.withinOfficeQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.occupationDuties" ng-change="vm.renderOccupationQuestions()" value="Yes" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.occupationDuties == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="withinOfficeQuestion" ng-click="vm.checkPreviousMandatoryFields('withinOfficeQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.withinOfficeQuestion.$error.required && vm.occupationForm.withinOfficeQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.withinOfficeQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.occupationDuties" ng-change="vm.renderOccupationQuestions()"  value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                    <span class="error" ng-if="(vm.occupationForm.withinOfficeQuestion.$error.required && vm.occupationForm.withinOfficeQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.withinOfficeQuestion.$error.required )">Please select Yes or No</span>
                  </div>
                </div>
              </div> -->
              <div ng-if="vm.showTertiaryQuestion || (vm.manualTrueProfessionalTrueFlag && vm.QPD.applicant.spendTimeOutside=='Yes')" ng-hide="vm.QPD.applicant.spendTimeOutside=='No'" class="ng-scope" >
                <hr class="primeline">
                <div class="row rowcustom " ng-class="{'has-error':(vm.occupationForm.tertiaryQuestion.$error.required && vm.occupationForm.tertiaryQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.tertiaryQuestion.$error.required )}">
                  <div class="col-12 col-sm-12">
                    <label>Are you tertiary qualified and a member of a professional institute, registered with a government body or an executive with more than 10 years industry experience?</label>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="btn-group">
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton" ng-class="{'active': (vm.QPD.applicant.tertiaryQue == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="tertiaryQuestion" ng-click="vm.checkPreviousMandatoryFields('tertiaryQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.tertiaryQuestion.$error.required && vm.occupationForm.tertiaryQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.tertiaryQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.tertiaryQue" ng-change="vm.renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-12 col-md-6 pl-0">
                    <label class="btn  radiobutton  " ng-class="{'active': (vm.QPD.applicant.tertiaryQue == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="tertiaryQuestion" ng-click="vm.checkPreviousMandatoryFields('tertiaryQuestion','occupationForm')"
                       ng-class = "(vm.occupationForm.tertiaryQuestion.$error.required && vm.occupationForm.tertiaryQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.tertiaryQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="vm.QPD.applicant.tertiaryQue" ng-change="vm.renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                    <span class="error" ng-if="(vm.occupationForm.tertiaryQuestion.$error.required && vm.occupationForm.tertiaryQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.tertiaryQuestion.$error.required )">Please select Yes or No</span>
                  </div>
                </div>
              </div>
              <hr class="primeline">
              <div class="row rowcustom" ng-class="{'has-error':(vm.occupationForm.annualSalary.$error.required && vm.occupationForm.annualSalary.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.annualSalary.$error.required ) || invalidSalAmount}">
                <div class="col-sm-4 col-12">
                  <label>What is your annual salary?</label>
                </div>
                <div class="col-sm-4 col-12">
                  <input type="text" ng-model-options="vm.modelOptions" id="annualSalCCId" format="number" numbers-only  name="annualSalary" maxlength="9" class="form-control dollar" ng-change="vm.checkAnnualSalary()"  ng-focus="vm.checkPreviousMandatoryFields('annualSalary','occupationForm')"  ng-class = "(vm.occupationForm.annualSalary.$error.required && vm.occupationForm.annualSalary.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.annualSalary.$error.required)  ? 'error-border':''" ng-model="vm.QPD.applicant.annualSalary" required>
                  <span class="error" ng-if="(vm.occupationForm.annualSalary.$error.required && vm.occupationForm.annualSalary.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.annualSalary.$error.required )">Please enter your Annual Salary</span>
                  <span class="error" ng-if="vm.invalidSalAmount">Please enter a valid annual salary</span>
                  <label class="helpHintLabel">Insert gross salary (i.e.your salary before tax)</label>
                   <label class="helpHintLabel">For self-employed members,salary is based on personal exertion, less business expenses.</label>
                </div>
              </div>
              <!-- <div class=" row rowcustom">
                <div class="col-sm-4 col-12"> <a data-toggle="collapse" data-parent="#accordion">
                  <button class="btn btn-primary w100p" type="button" ng-click="vm.formOneSubmit(vm.occupationForm);">Continue</button>
                  </a> </div>
              </div> -->
            </div>
          </form>
          <!-- Row ends --> 
        </div>
        </div>
      </div>
      <!--Occupation section ends --> 
      
      <!-- Cover Calculator section starts -->
      <div class="card border-0 no-background mt-2">
        <div class="card-header bg-dark" data-toggle="collapse" href="#collapseThree" ng-click="vm.isCollapsible('collapseThree', $event); vm.setCoverCalculatorOptions();"> 
        <a class="card-title">
          <h4 class="mb-0 float-left text-white"> Cover calculator</h4>
          </a> </div>
        <div class="overflow-hidden card">
          <div id="collapseThree" class="card-body p-0 pt-2 parent-flex-container collapse in">
          <form autocomplete="off" name="vm.coverCalculatorForm" novalidate id="coverCalFormId" role="form">
            <div class="card-body">
              <div class="row rowcustom">
                <div class="col-sm-12">
                  <label> Use the premium calculator to select the most appropriate cover for you.</label>
                </div>
              </div>
              <hr class=" primeline">
              <div class="">
                <div class="row rowcustom" ng-class="">
                  <div class="col-12">
                    <label>Display the cost of my insurance cover as </label>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="select">
                      <select class="form-control" name="premFreq" id="coverId" ng-change="vm.calculateOnChange()" ng-model="vm.frequencyCostType" ng-options="premiumFrequencyOption for premiumFrequencyOption in vm.premiumFrequencyOptions track by premiumFrequencyOption">
                      </select>
                      <div class="select__arrow"></div>
                      <span class="error" ng-if="">Please select  Cover what you want.</span>
                    </div>
                    <label class="helpHintLabel">Select weekly, monthly or yearly premium frequency</label>
                  </div>
                </div>
              </div>
              <hr class=" primeline">
              <div class="row rowcustom">
                <div class="col-sm-12">
                  <label>What cover details do you require?</label>
                </div>
              </div>
              <div class="btn-group-vertical heading">
                <div class="flex-row w-100">
                  <div class="col-sm-12">
                    <label class="active checkboxes btn" id="deathsection" ng-disabled="vm.isDeathDisabled">
                    <input type="checkbox" id="option3" name="coverDet">
                    <p class="col2 m0 ">Death</p>
                    <p class="col2 m0 alignright" ng-if="!vm.isDeathDisabled && !isEmpty(vm.QPD.applicant.cover[0].fixedUnit)">Existing cover {{vm.QPD.applicant.cover[0].existingCoverAmount | currency:undefined:0}} <b class="font-weight-bold" ng-if="vm.QPD.applicant.cover[0].fixedUnit">({{vm.QPD.applicant.cover[0].fixedUnit}} Unit(s))</b> &nbsp;&nbsp;</p>
                    <p class="col2 m0 alignright" ng-if="!vm.isDeathDisabled && isEmpty(vm.QPD.applicant.cover[0].fixedUnit)">Existing cover {{vm.QPD.applicant.cover[0].existingCoverAmount | currency:undefined:0}} (fixed) &nbsp;&nbsp;</p>
                   </label>
                  </div>
                </div>
              </div>
              <div id="death" style="display:block">
                <div>
                  <div class="row rowcustom" ng-class="{'has-error':(vm.coverCalculatorForm.coverType.$error.required && vm.coverCalculatorForm.coverType.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.coverType.$error.required )}">
                    <div class="col-sm-6 col-12">
                      <label> Cover type <a id="coverTypeDeath" class="icohelp" role="button" tabindex="0" ng-keypress="vm.clickToOpen('<strong>Unitised cover how your benefit and premium is calculated </strong><br/>When calculating your benefit, it is based on three factors:<br/>(1) your occupation,<br/> (2) your age at the date the incident that led to your claim occurred, and <br/>(3) the number of units you are covered for at that time.')" ng-click="vm.clickToOpen('<strong>Unitised cover how your benefit and premium is calculated </strong><br/>When calculating your benefit, it is based on three factors:<br/>(1) your occupation,<br/> (2) your age at the date the incident that led to your claim occurred, and <br/>(3) the number of units you are covered for at that time.')"></a> </label>
                      <div class="btn-group" data-toggle="buttons">
                        <div class="col-12 col-md-6 pl-0">
                          <button ng-disabled="vm.isDCCoverTypeDisabled" radio-sync="Fixed" class="btn  radiobutton" onclick="showhide('dollar','nodollar'); showhide('fxd','untd')" ng-class="{'active': (vm.QPD.applicant.cover[0].coverCategory =='DcFixed')}" ng-click="vm.syncRadios('Fixed')">
                            <input type="radio" name="coverType" data-sync="Fixed" id="option1"  ng-focus="vm.checkPreviousMandatoryFields('coverType','coverCalculatorForm')" ng-class="(vm.coverCalculatorForm.coverType.$error.required && vm.coverCalculatorForm.coverType.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.coverType.$error.required) ? 'radio-validation':''" ng-model="vm.QPD.applicant.cover[0].coverCategory" value="DcFixed" ng-required="!vm.isDCCoverTypeDisabled">
                            <span></span> Fixed </button>
                        </div>
                        <div class="col-12 col-md-6 pl-0">
                          <button ng-disabled="vm.isDCCoverTypeDisabled" radio-sync="Unitised" class="btn  radiobutton" onclick="showhide('nodollar','dollar'); showhide('untd','fxd')" ng-class="{'active': (vm.QPD.applicant.cover[0].coverCategory =='DcUnitised')}" ng-click="vm.syncRadios('Unitised')">
                            <input type="radio" name="coverType" data-sync="Unitised" id="option2"  ng-focus="vm.checkPreviousMandatoryFields('coverType','coverCalculatorForm')" ng-class="(vm.coverCalculatorForm.coverType.$error.required && vm.coverCalculatorForm.coverType.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.coverType.$error.required)  ? 'radio-validation':''" ng-model="vm.QPD.applicant.cover[0].coverCategory" value="DcUnitised" ng-required="!vm.isDCCoverTypeDisabled">
                            <span></span> Unitised</button>
                            <span class="error" ng-if="(vm.coverCalculatorForm.coverType.$error.required && vm.coverCalculatorForm.coverType.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.coverType.$error.required )">Please select Cover type</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-12" ng-class="{'has-error':(vm.coverCalculatorForm.requireCover.$error.required && vm.coverCalculatorForm.requireCover.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.requireCover.$error.required )}">
                      <label class="mb-2 pb-1"> Cover required </label>
                      <input ng-if="vm.QPD.applicant.cover[0].coverCategory =='DcFixed'" type="text" ng-model-options="vm.modelOptions" format="number" name="requireCover" maxlength="10" class="form-control dollar" round-up-numbers ng-focus="vm.checkPreviousMandatoryFields('requireCover','coverCalculatorForm')" ng-class="(vm.coverCalculatorForm.requireCover.$error.required && vm.coverCalculatorForm.requireCover.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.requireCover.$error.required) || (vm.coverCalculatorForm.$submitted && vm.deathErrorFlag) || vm.deathErrorFlag ? 'error-border':''" 
                      ng-model="vm.QPD.applicant.cover[0].additionalCoverAmount" ng-change="vm.validateDeathTpdIpAmounts()" ng-disabled="vm.isDCCoverRequiredDisabled"  ng-required="!vm.isDCCoverRequiredDisabled">
                      <input ng-if="vm.QPD.applicant.cover[0].coverCategory =='DcUnitised'" type="text" ng-model-options="vm.modelOptions" maxlength="3" ng-change="vm.validateDeathTpdIpAmounts()"   
                      ng-model="vm.QPD.applicant.cover[0].additionalUnit"  name="requireCover" class="form-control" ng-disabled="vm.isDCCoverRequiredDisabled" ng-required="!vm.isDCCoverRequiredDisabled" whole-numbers-only ng-focus="vm.checkPreviousMandatoryFields('requireCover','coverCalculatorForm')" ng-class="(vm.coverCalculatorForm.requireCover.$error.required && vm.coverCalculatorForm.requireCover.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.requireCover.$error.required) || (vm.coverCalculatorForm.$submitted && vm.deathErrorFlag) || vm.deathErrorFlag? 'error-border':''" value="10 units">
                      <span ng-if="vm.QPD.applicant.cover[0].coverCategory == 'DcUnitised'" class='cover-units'>units</span>
                      <span class="error" ng-if="(vm.coverCalculatorForm.requireCover.$invalid && vm.coverCalculatorForm.requireCover.$touched || vm.coverCalculatorForm.requireCover.$error.required && vm.coverCalculatorForm.requireCover.$touched || vm.coverCalculatorForm.requireCover.$error.required && vm.coverCalculatorForm.requireCover.$pristine)">Please enter some level of cover for Death Only.</span>
                    
                      <span class="error" ng-if="vm.deathErrorFlag">{{vm.deathErrorMsg}}</span>
                    </div>
                    <div class="col-12">
                      <p class="note mt10" ng-if="vm.QPD.applicant.cover[0].coverCategory == 'DcFixed'" id="fxd"> With fixed cover, your cover stays the same, but the amount you pay for the insurance increases as you get older. </p>
                      <p class="note mt10" ng-if="vm.QPD.applicant.cover[0].coverCategory == 'DcUnitised'" id="untd"> With unitized cover, you pay a set price for each unit of cover and the cover value for each unit reduces as you get older. </p>
                    </div>
                  </div>
                  <hr class="primeline">
                  <div class="row  coverbg">
                    <div class="col-sm-3 col-6">
                      <h5 class="font-weight-normal text-secondary text-uppercase">Cover amount</h5>
                    </div>
                    <div class="col-sm-3 alignright borderright col-6">
                      <h4 class="font-weight-normal coverval">{{vm.QPD.applicant.cover[0].additionalCoverAmount | currency}}</h4>
                    </div>
                    <div class="line mob "></div>
                    <div class="col-sm-3 col-6">
                      <h5  class="font-weight-normal text-secondary text-uppercase">{{vm.QPD.applicant.cover[0].frequencyCostType}} cost</h5>
                    </div>
                    <div class="col-sm-3 alignright col-6">
                      <h4 class="font-weight-normal coverval">{{vm.QPD.applicant.cover[0].cost | currency}}</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn-group-vertical heading mt-4">
                <div class="flex-row w-100">
                  <div class="col-sm-12">
                    <label class="active checkboxes btn" id="tpdsection" ng-disabled="vm.isTPDDisabled">
                    <input type="checkbox" id="perDisplacementId" name="perDisplacement">
                    <p class="col2 m0">Total &amp; Permanent Disablement </p>
                    <p class="col2 m0 alignright" ng-if="!vm.isTPDDisabled && !vm.isEmpty(vm.QPD.applicant.cover[1].existingCoverAmount)">Existing cover {{vm.QPD.applicant.cover[1].existingCoverAmount | currency:undefined:0}} <b class="font-weight-bold" ng-if="vm.QPD.applicant.cover[1].fixedUnit">({{vm.QPD.applicant.cover[1].fixedUnit}} Unit(s))</b> &nbsp;&nbsp;</p>
                  <p class="col2 m0 alignright" ng-if="!vm.isTPDDisabled && vm.isEmpty(vm.QPD.applicant.cover[1].existingCoverAmount)">Existing cover {{vm.QPD.applicant.cover[1].existingCoverAmount | currency:undefined:0}} (fixed) &nbsp;&nbsp;</p>
                 </label>
                  </div>
                </div>
              </div>
              <div class="" id="tpd" style="display:block" ng-if="!vm.isTPDDisabled">
                <div>
                  <div class="row rowcustom" ng-class="{'has-error':(vm.coverCalculatorForm.tpdCoverType.$error.required && vm.coverCalculatorForm.tpdCoverType.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.tpdCoverType.$error.required )}">
                    <div class="col-sm-6 col-12">
                      <label> Cover type <a id="coverTypeDisablement" class="icohelp" role="button" tabindex="0" ng-keypress="vm.clickToOpen('<strong>Unitised cover how your benefit and premium is calculated </strong><br/>When calculating your benefit, it is based on three factors:<br/>(1) your occupation,<br/> (2) your age at the date the incident that led to your claim occurred, and <br/>(3) the number of units you are covered for at that time.')" ng-click="vm.clickToOpen('<strong>Unitised cover how your benefit and premium is calculated </strong><br/>When calculating your benefit, it is based on three factors:<br/>(1) your occupation,<br/> (2) your age at the date the incident that led to your claim occurred, and <br/>(3) the number of units you are covered for at that time.')"></a> </label>
                      <div class="btn-group" data-toggle="buttons">
                        <div class="col-12 col-md-6 pl-0">
                          <button ng-disabled="vm.isTPDCoverTypeDisabled" radio-sync="Fixed" class="btn radiobutton" onclick="showhide('dollar1','nodollar1'); showhide('fxd1','untd1')" ng-class="{'active': (vm.QPD.applicant.cover[1].coverCategory =='TPDFixed')}"  ng-click="vm.syncRadios('Fixed')">
                            <input type="radio" name="tpdCoverType"  data-sync="Fixed" id="option1" class="ipradio" ng-focus="vm.checkPreviousMandatoryFields('tpdCoverType','coverCalculatorForm')" ng-class="(vm.coverCalculatorForm.tpdCoverType.$error.required && vm.coverCalculatorForm.tpdCoverType.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.tpdCoverType.$error.required)  ? 'radio-validation':''" ng-model="vm.QPD.applicant.cover[1].coverCategory" value="TPDFixed" ng-required="!vm.isTPDCoverTypeDisabled">
                            <span></span> Fixed </button>
                        </div>
                        <div class="col-12 col-md-6 pl-0">
                          <button ng-disabled="vm.isTPDCoverTypeDisabled" radio-sync="Unitised" class="btn radiobutton" onclick="showhide('nodollar1','dollar1'); showhide('untd1','fxd1')" ng-class="{'active': (vm.QPD.applicant.cover[1].coverCategory =='TPDUnitised')}" ng-click="vm.syncRadios('Unitised')" >
                            <input type="radio" name="tpdCoverType" data-sync="Unitised" id="option2" class="ipradio" ng-focus="vm.checkPreviousMandatoryFields('tpdCoverType','coverCalculatorForm')" ng-class="(vm.coverCalculatorForm.tpdCoverType.$error.required && vm.coverCalculatorForm.tpdCoverType.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.tpdCoverType.$error.required)  ? 'radio-validation':''" ng-model="vm.QPD.applicant.cover[1].coverCategory" value="TPDUnitised" ng-required="!vm.isTPDCoverTypeDisabled">
                            <span></span> Unitised </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-12" ng-class="{'has-error':(vm.coverCalculatorForm.TPDRequireCover.$error.required && vm.coverCalculatorForm.TPDRequireCover.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.TPDRequireCover.$error.required )}">
                      <label class="mb-2 pb-1"> Cover required </label>
                      <input ng-if="vm.QPD.applicant.cover[1].coverCategory =='TPDFixed'" type="text" ng-model-options="vm.modelOptions" format="number" name="TPDRequireCover" class="form-control dollar" maxlength="9" round-up-numbers ng-focus="vm.checkPreviousMandatoryFields('TPDRequireCover','coverCalculatorForm')" ng-class="(vm.coverCalculatorForm.TPDRequireCover.$error.required && vm.coverCalculatorForm.TPDRequireCover.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.TPDRequireCover.$error.required) || (vm.coverCalculatorForm.$submitted && vm.tpdErrorFlag) || vm.tpdErrorFlag ? 'error-border':''" 
                      ng-model="vm.QPD.applicant.cover[1].additionalCoverAmount" ng-change="vm.validateDeathTpdIpAmounts()" ng-disabled="vm.isTPDCoverRequiredDisabled" ng-required="!vm.isTPDCoverRequiredDisabled" >
                      <input ng-if="vm.QPD.applicant.cover[1].coverCategory =='TPDUnitised'" type="text" ng-model-options="vm.modelOptions" maxlength="3" name="TPDRequireCover" class="form-control" whole-numbers-only ng-focus="vm.checkPreviousMandatoryFields('TPDRequireCover','coverCalculatorForm')" ng-class="(vm.coverCalculatorForm.TPDRequireCover.$error.required && vm.coverCalculatorForm.TPDRequireCover.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.TPDRequireCover.$error.required) || (vm.coverCalculatorForm.$submitted && vm.tpdErrorFlag) || vm.tpdErrorFlag ? 'error-border':''" 
                      ng-model="vm.QPD.applicant.cover[1].additionalUnit" ng-change="vm.validateDeathTpdIpAmounts()"  ng-disabled="vm.isTPDCoverRequiredDisabled" ng-required="!vm.isTPDCoverRequiredDisabled" >
                      <span ng-if="vm.QPD.applicant.cover[1].coverCategory == 'TPDUnitised'" class='cover-units'>units</span>
                   <span class="error" ng-if="(vm.coverCalculatorForm.TPDRequireCover.$invalid && vm.coverCalculatorForm.TPDRequireCover.$touched || vm.coverCalculatorForm.TPDRequireCover.$error.required && vm.coverCalculatorForm.TPDRequireCover.$touched) || (vm.coverCalculatorForm.TPDRequireCover.$pristine && vm.coverCalculatorForm.TPDRequireCover.$error.required )">Please enter some level of cover for TPD Only.</span>
                   <span class="error" ng-if="vm.tpdErrorFlag">{{vm.tpdErrorMsg}}</span>
                    </div>
                    <div class="col-12">
                      <p class="note mt10"  ng-if="vm.QPD.applicant.cover[1].coverCategory  == 'TPDFixed'" id="fxd1"> With fixed cover, your cover stays the same, but the amount you pay for the insurance increases as you get older. </p>
                      <p class="note mt10"  ng-if="vm.QPD.applicant.cover[1].coverCategory  == 'TPDUnitised'" id="untd1"> With unitized cover, you pay a set price for each unit of cover and the cover value for each unit reduces as you get older. </p>
                    </div>
                  </div>
                  <hr class="primeline">
                  <div class="row  coverbg">
                    <div class="col-sm-3 col-6">
                      <h5 class="font-weight-normal text-secondary text-uppercase">Cover amount</h5>
                    </div>
                    <div class="col-sm-3 alignright borderright col-6">
                      <h4 class="font-weight-normal coverval">{{vm.QPD.applicant.cover[1].additionalCoverAmount | currency}}</h4>
                    </div>
                    <div class="line mob "></div>
                    <div class="col-sm-3 col-6">
                      <h5 class="font-weight-normal text-secondary text-uppercase">{{vm.QPD.applicant.cover[1].frequencyCostType}} cost</h5>
                    </div>
                    <div class="col-sm-3 alignright col-6">
                      <h4 class="font-weight-normal coverval">{{vm.QPD.applicant.cover[1].cost| currency}}</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row rowcustom" ng-if="vm.isTPDDisabled">
          <div class="col-sm-12">
            <img src="./static/guil/src/app/assets/images/warning.png" >
                <label class="control-label text-danger"> You are not eligible for TPD cover due to your age </label>
          </div>
          </div>
              <div class=" btn-group-vertical  heading mt-4">
                <div class="flex-row w-100">
                  <div class="col-sm-12">
                    <label class="active checkboxes btn" ng-disabled="vm.isIPDisabled" id="ipsection">
                    <input type="checkbox" id="option3" class=" ">
                    <p class="col2 m0">Income Protection</p>
                    <p class="col2 alignright normal m0" ng-if="!vm.isIPDisabled">Existing cover {{vm.QPD.applicant.cover[2].existingCoverAmount | currency:undefined:0}} <b class="font-weight-bold" ng-if="vm.QPD.applicant.cover[2].fixedUnit">({{vm.QPD.applicant.cover[2].fixedUnit}} Unit(s))</b> &nbsp;&nbsp;</p>
                    </label>
                  </div>
                </div>
              </div>
        <div class="row rowcustom" ng-if="vm.ipWarning">
            <div class="col-sm-12">
              <div class="control-label row">
                <div class="col-1 text-right">
                  <img src="./static/guil/src/app/assets/images/warning.png">
                </div>
                <div class="col-10 ip-warning-text">
                <span class="custom-checkbox-label">To be eligible for SC, you need to work more than 15 hours per week.</span>
                </div>
              </div>
            </div>
        </div>        
        <div class="" id="sc" style="display:block" ng-if="!vm.isIPDisabled">
                <div>
                  <div class="row rowcustom" ng-class="{'has-error':(vm.coverCalculatorForm.ipsalarychecklabel.$error.required && vm.coverCalculatorForm.ipsalarychecklabel.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.ipsalarychecklabel.$error.required )}">
                    <!-- <div class="col-sm-6">
                      <div class="btn-group-vertical ">
                        <button class="btn checkboxes  col-12 ack-checkbox-label" id="ipsalarychecklabel" ng-class="{'active': vm.QPD.applicant.insuredSalary}" ng-disabled="vm.isIpSalaryCheckboxDisabled" ng-click="vm.checkInsuredIp()">
                        <input type="checkbox" class=" " id="ipsalarycheck"" ng-model="vm.QPD.applicant.insuredSalary" ng-disabled="vm.isIpSalaryCheckboxDisabled">
                        <span></span>
                        <div>Insure 85% of my salary </div>
                        </button>
                        ngIf: dodFlagErr 
                      </div>
                    </div> -->
                    <div class="col-sm-6 col-12">
                      <label> Cover type <a ng-class="{'disabled': vm.ipWarning}" id="coverTypeIp" class="icohelp" role="button" tabindex="0" ng-keypress="vm.clickToOpen('<strong>Unitised cover how your benefit and premium is calculated </strong><br/>When calculating your benefit, it is based on three factors:<br/>(1) your occupation,<br/> (2) your age at the date the incident that led to your claim occurred, and <br/>(3) the number of units you are covered for at that time.')" ng-click="vm.clickToOpen('<strong>Unitised cover how your benefit and premium is calculated </strong><br/>When calculating your benefit, it is based on three factors:<br/>(1) your occupation,<br/> (2) your age at the date the incident that led to your claim occurred, and <br/>(3) the number of units you are covered for at that time.')"></a> </label>
                      <div class="btn-group" data-toggle="buttons">
                        <div class="col-12 col-md-6 pl-0">
                          <button ng-disabled="vm.ipWarning" radio-sync="Fixed" class="btn  radiobutton" onclick="showhide('dollarIp','nodollarIp'); showhide('fxd','untd')" 
                          	ng-class="{'active': (vm.QPD.applicant.cover[2].coverCategory =='IpFixed' && !vm.ipWarning)}" ng-click="vm.changeBenefitPeriodOnChange('Fixed')">
                            <input type="radio" name="IPCoverType" id="option1"   ng-class="(vm.coverCalculatorForm.IPCoverType.$error.required && vm.coverCalculatorForm.IPCoverType.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.IPCoverType.$error.required) ? 'radio-validation':''" 
                            ng-model="vm.QPD.applicant.cover[2].coverCategory" value="IpFixed" required>
                            <span></span> Fixed </button>
                        </div>
                        <div class="col-12 col-md-6 pl-0">
                          <button ng-disabled="vm.ipWarning" radio-sync="Unitised" class="btn  radiobutton" onclick="showhide('nodollarIp','dollarIp'); showhide('untd','fxd')" ng-class="{'active': (vm.QPD.applicant.cover[2].coverCategory =='IpUnitised' && !vm.ipWarning)}" 
                            ng-click="vm.changeBenefitPeriodOnChange('Unitised')">
                            <input type="radio" name="IPCoverType" data-sync="Unitised" id="option2"  ng-class="(vm.coverCalculatorForm.IPCoverType.$error.required && vm.coverCalculatorForm.IPCoverType.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.IPCoverType.$error.required)  ? 'radio-validation':''" 
                            ng-model="vm.QPD.applicant.cover[2].coverCategory" value="IpUnitised" required>
                            <span></span> Unitised</button>
                            <span class="error" ng-if="(vm.coverCalculatorForm.IPCoverType.$error.required && vm.coverCalculatorForm.IPCoverType.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.IPCoverType.$error.required )">Please select Cover type</span>
                        </div>
                      </div>
                    </div>
                    <!-- <div class=" relative fleft ml-4">&nbsp; <a id="insureSalary" class="icohelp mt5px " role="button" tabindex="0" ng-keypress="vm.clickToOpen('Tick this box if you wish to insure up to 85% of your monthly salary. Please note that a maximum of 75% will be payable to you; the remainder will be paid as a contribution to your MTAA super account.')" ng-click="vm.clickToOpen('Tick this box if you wish to insure up to 85% of your monthly salary. Please note that a maximum of 75% will be payable to you; the remainder will be paid as a contribution to your MTAA super account.')"></a> </div> -->
                  </div>
                  <div class="row rowcustom" ng-if="vm.QPD.applicant.cover[2].existingIpWaitingPeriod && vm.QPD.applicant.cover[2].existingIpBenefitPeriod">
	
					<div class="col-sm-6 col-12" ng-if="vm.QPD.applicant.cover[2].existingIpWaitingPeriod !==null && vm.QPD.applicant.cover[2].existingIpWaitingPeriod !== ''">
						<h5 class="fleft mr10px">Existing waiting period : </h5>
						<p class="fleft mt_2px">{{ vm.ipCoverDetails.waitingPeriod}}</p>
					</div>
			                
			        <div class="col-sm-6 col-12" ng-if="vm.QPD.applicant.cover[2].existingIpBenefitPeriod !==null && vm.QPD.applicant.cover[2].existingIpBenefitPeriod !== ''">
			        	<h5 class="fleft mr10px">Existing benefit period : </h5>
			        	<p class="fleft mt_2px">{{ vm.ipCoverDetails.benefitPeriod}}</p>
			        </div>
			    </div>
                  <hr class="primeline">
                  <div class="row rowcustom">
                    <div class="col-sm-4 col-12 mmb10" ng-class="{'has-error':(vm.coverCalculatorForm.waitingPeriod.$error.required && vm.coverCalculatorForm.waitingPeriod.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.waitingPeriod.$error.required )}">
                      <label> Waiting period </label>
                      <div class="select">
                        <select ng-disabled="vm.ipWarning"  name="waitingPeriod" class="form-control" ng-model="vm.QPD.applicant.cover[2].additionalIpWaitingPeriod" ng-options="waitingPeriodOption for waitingPeriodOption in vm.waitingPeriodOptions track by waitingPeriodOption" ng-change="vm.checkBenefitPeriod()"  required>
                        	 <!-- <option value="90 Days" selected>90 Days</option> -->
                        </select>
                        <div class="select__arrow"></div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-12" ng-class="{'has-error':(vm.coverCalculatorForm.benefitPeriod.$error.required && vm.coverCalculatorForm.benefitPeriod.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.benefitPeriod.$error.required )}">
                      <label> Benefit period </label>
                      <div class="select">
                        <select ng-disabled="true" name="benefitPeriod" class="form-control" ng-options="benefitPeriodOption for benefitPeriodOption in vm.benefitPeriodOptions track by benefitPeriodOption"
                         ng-model="vm.QPD.applicant.cover[2].additionalIpBenefitPeriod" ng-change="vm.checkBenefitPeriod()" required>{{vm.QPD.applicant.cover[2].additionalIpBenefitPeriod}}
                        	
                        </select>
                        <span class="error" ng-if="vm.eligibleFrStIpFlag">Based on your nominated occupation a benefit period to Age 65 is not available for Income Protection. You may choose a shorter benefit period.</span>
                        <div class="select__arrow"></div>
                      </div>
                    </div>
                    <div class="col-sm-4 col-12" ng-class="{'has-error':(vm.coverCalculatorForm.IPRequireCover.$error.required && vm.coverCalculatorForm.IPRequireCover.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.IPRequireCover.$error.required )}">
                      <label> Cover required </label>
                      <div class="">
                 <!--  <input id="dollar2" type="text" format="number" name="IPRequireCover" maxlength="6" class="form-control" ng-model-options="vm.modelOptions" 
                   ng-focus="vm.checkPreviousMandatoryFields('IPRequireCover','coverCalculatorForm')" whole-numbers-only
                   ng-class = "(vm.coverCalculatorForm.IPRequireCover.$error.required && vm.coverCalculatorForm.IPRequireCover.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.IPRequireCover.$error.required) || (vm.coverCalculatorForm.$submitted && vm.ipErrorFlag) || vm.ipErrorFlag ? 'error-border':''"
                   ng-model="vm.QPD.applicant.cover[2].additionalUnit" ng-change="vm.validateDeathTpdIpAmounts()" ng-disabled="vm.isIPCoverRequiredDisabled" ng-required="!vm.isIPCoverRequiredDisabled">
                   -->
                  
                   <input ng-if="vm.QPD.applicant.cover[2].coverCategory =='IpFixed'" type="text" ng-model-options="vm.modelOptions" format="number" maxlength="6" name="IPRequireCover" class="form-control dollar" maxlength="9" round-up-numbers ng-class="(vm.coverCalculatorForm.IPRequireCover.$error.required && vm.coverCalculatorForm.IPRequireCover.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.IPRequireCover.$error.required) || (vm.coverCalculatorForm.$submitted && vm.ipErrorFlag) || vm.ipErrorFlag ? 'error-border':''" 
                      ng-model="vm.QPD.applicant.cover[2].additionalCoverAmount" ng-change="vm.validateDeathTpdIpAmounts()" ng-disabled="vm.isIPCoverRequiredDisabled" ng-required="!vm.isIPCoverRequiredDisabled">
                   <input ng-if="vm.QPD.applicant.cover[2].coverCategory =='IpUnitised'" type="text" ng-model-options="vm.modelOptions" maxlength="3" name="IPRequireCover" class="form-control" whole-numbers-only ng-class="(vm.coverCalculatorForm.IPRequireCover.$error.required && vm.coverCalculatorForm.IPRequireCover.$touched) || (vm.coverCalculatorForm.$submitted && vm.coverCalculatorForm.IPRequireCover.$error.required) || (vm.coverCalculatorForm.$submitted && vm.ipErrorFlag) || vm.ipErrorFlag ? 'error-border':''" 
                   	  ng-model="vm.QPD.applicant.cover[2].additionalUnit" ng-change="vm.checkCoverRequired()" ng-disabled="vm.isIPCoverRequiredDisabled" ng-required="!vm.isIPCoverRequiredDisabled">
                      
                  
                   <span ng-if="vm.QPD.applicant.cover[2].coverCategory =='IpUnitised'" class='cover-units'>units</span> 
                   <span class="error" ng-if="(vm.coverCalculatorForm.IPRequireCover.$error.required && vm.coverCalculatorForm.IPRequireCover.$touched) || (vm.coverCalculatorForm.IPRequireCover.$pristine && vm.coverCalculatorForm.IPRequireCover.$error.required )" >Please enter required Cover</span>
                   <span class="error" ng-if="ipErrorFlag">{{vm.QPD.ipErrorMsg}}</span>
                   
                   <div class="display-flex" ng-if="vm.ipWarningFlag && !vm.ipWarning">
                   <div class="ip-warning-exceeded mt15">
                    <img src="./static/guil/src/app/assets/images/warning.png">
                   </div>
                   <div>
                    <label class="control-label">The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</label>
                   </div>
                  </div>
                </div>
                    </div>
                    <span class="clearfix"></span>
                    
                  </div>
                  <div class="row  coverbg">
                    <div class="col-sm-3 col-6">
                      <h5 class="font-weight-normal text-secondary text-uppercase">Cover amount</h5>
                    </div>
                    <div class="col-sm-3 alignright borderright col-6">
                      <h4 class="font-weight-normal coverval ng-binding">{{vm.QPD.applicant.cover[2].additionalCoverAmount | currency}}</h4>
                    </div>
                    <div class="line mob "></div>
                    <div class="col-sm-3 col-6">
                      <h5 class="font-weight-normal text-secondary text-uppercase">{{vm.QPD.applicant.cover[2].frequencyCostType}} cost</h5>
                    </div>
                    <div class="col-sm-3 alignright col-6">
                      <h4 class="font-weight-normal coverval ng-binding">{{vm.QPD.applicant.cover[2].cost | currency}}</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row rowcustom" ng-if="vm.isIPDisabled">
          <div class="col-sm-12">
            <img src="./static/guil/src/app/assets/images/warning.png" >
                  <label class="control-label text-danger"> You are not eligible for Salary Continuance cover due to your age </label>
          </div>
        </div>
            </div>
            <!-- Row ends -->
            
            <div class="row  coverbg seccolor">
              <div class="bg-secondary col-12 h-100">
                <div class="d-flex float-right">
                	<h5 class="text-white text-uppercase font-weight-normal justify-content-center align-self-center m-0 coverval ng-binding fleft"> Total {{vm.QPD.applicant.cover[2].frequencyCostType}} cost :  </h5>
                	<h4 class="text-white font-weight-normal coverval ng-binding fleft ml10" > {{vm.QPD.totalMonthlyPremium | currency}}</h4>
                </div>
              </div>
            </div>
            <p class="spacer">&nbsp;</p>
            <div class=" row rowcustom bg-white">
              <div class="col-12">
                <p class="note"> <strong>Disclaimer: </strong> </p>
                <p style="text-align:left;">Terms and conditions apply to your cover. Please refer to the Insurance Guide for details.</p>
              </div>
            </div>
            <div class="row rowcustom bg-white">
            
            
              <div class="col-sm-4 col-md-4 col-12 ng-hide">
                <button type="button" class="btn btn-primary w100p" ng-click="vm.formOneSubmit(vm.coverCalculatorForm);">Calculate Quote </button>
              </div>
              
              <div class="col-sm-4 col-md-4 col-12">
                <button type="button" class="btn btn-primary w100p" ng-click="vm.generatePDF()">Print </button>
              </div>
              <p class="spacer d-block d-sm-none">&nbsp;</p>
              
              <div class="col-sm-4 col-md-4 col-12 d-none d-sm-block">
                <button type="button" class="btn btn-primary w100p"  ng-click="vm.saveQuote()">Save &amp; exit </button>           
              </div>
              
              <div class="col-sm-4 col-md-4 col-12 text-center d-block d-sm-none">
                <button type="button" class="btn btn-primary w100p" ng-click="vm.saveQuote()"> Save &amp; exit</button>
              </div>
              
              <p class="spacer d-block d-sm-none">&nbsp;</p>
              
              <div class="col-sm-4 col-md-4 col-12">
                <button  type="button" class="btn btn-primary w100p" ng-click="vm.goToAura()">Continue </button>
              </div>
            </div>
            <p class="spacer">&nbsp;</p>
          </form>
        </div>
        </div>
      </div>
      <!-- Cover Calculator section ends --> 
    </div>
    <div class="row mt20px">
      <div class=" col-12 d-block d-sm-none">
        <metlife-guil-help-block></metlife-guil-help-block>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
</div>
<!-- Decrease or Cancel Popup starts -->
    <div aria-hidden="false" aria-labelledby="mymodalDecCancelLabel" role="dialog" tabindex="-1" class="modal" id="mymodalDecCancel" style="display: none;"
     onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';" >
      <div class="modal-dialog hhints">
        <div id="modal-content-id" class="modal-content">
           <div class="modal-header">
            <a onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';"
                data-dismiss="modal" aria-hidden="true"> <button class="close xi" type="button">X</button>
              </a>
           </div>
           <div class="modal-body">
          <h4 class="modal-title aligncenter" id="mymodalDecCancelLabel">Change cover</h4>
            <!-- Row starts -->
             <div class="row  rowcustom  ">
              <div class="col-sm-12">
                <p class="aligncenter">
                  <div id="decCancelMsg_text"></div>
                  <p></p>
                </p>
               </div>
             </div>
           <!-- Row ends -->
          </div>
          <div class="modal-footer mt0 pt0">
           <div class="d-flex w-100">
            <div class="col-sm-4"></div>
             <div class="col-sm-4 col-12">
              <a onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';">
               <!-- <button class="btn btn-primary w100p" type="button" ng-click="go('/quote')">Yes</button> -->
             
              <button class="btn btn-primary w100p" type="button" ng-click="vm.goTo()">Continue</button></a>
             </div>
              <div class="col-sm-4"> </div>
            </div>
          </div>
         </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
   <div class="modal-backdrop fade in" id= "mymodalDecCancelFade" style="display:none;">
  </div>
<help-text show='vm.modalShown' msg='tipMsg' width='550px'>
    <p>Modal Content Goes here<p>
  </help-text>
<!--Decrease or Cancel Popup ends -->
