/* New CSS classes START */
.dollarInputPopUp{
	width: 92%;
    text-indent: 5%;
    display: inline-block;
    float: right;
}
.dollarPopup{
    left: 8.5% !important;
}
.otherInputPopUp{
	width: 92%;
    text-indent: 1%;
    float:right;
}
.popupLabel{
	float: right;
    width: 92%;
    text-align: justify;
}
.right-col {
	float: right;
}
.text-align-right{
	text-align:right;	
}
.singleBox p, .doubleBox p {
	line-height: 120%;
}
.landing-page-main .panel-body {
	padding-left: 0;
	padding-right: 0;
}

@media (max-width: 767px) {
.landing-page-main, .transfer-cover-main {
	padding-left: 0;
	padding-right: 0;
}
.landing-page-main .panel-heading {
	padding-bottom: 0;
}
.landing-page-main .panel-body {
	padding-top: 0;
}
}
.linkBox.col-sm-6 {
	width: calc(50% - 2.5px);
}
.linkBox.col-sm-6:first-of-type {
	margin-right: 5px;
}
.linkBox.col-sm-4 {
	width: calc(50% - 7px);
}
.linkBox.col-sm-4:last-of-type {
	margin-right: 0;
}
.linkBox .image {
	width: calc(100% + 30px);
	margin-left: -15px;
	margin-right: -15px;
}

@media (max-width: 767px) {
.linkBox {
	width: 100% !important;
	margin-top: 10px;
}
}
.ingd-scrollbox {
	width: 100%;
	height: 220px;
	padding: 10px 15px;
	overflow-y: auto;
	border: 1px solid #CCC;
}
.subQ > div {
	border-left: 5px solid #feb914;
	margin-left: 30px;
	padding-left: 20px;
}

@media (max-width: 767px) {
.subQ > div {
	margin-left: 0px;
}
}
.twoColData .control-label + .control-label {
	display: block;
}
.contentBoxWrapper .row {
	margin-left: 0;
	margin-right: 0;
}

@media (max-width: 767px) {
.twoColData #collapseOne {
	padding-top: 0;
}
}
/* New CSS classes END */



/* Modifications to existing CSS classes START */

.c-header .container {
	padding: 0;
}
.row.rowcustom {
	padding: 10px 15px 15px;
}
.row.rowcustom.first {
	margin-top: 0;
}
.row.rowcustom label {
	padding-top: 0;
}
.rowcustom .col-sm-6 .rowcustom {
	padding: 0;
}
.row.cover-background {
	margin-bottom: 20px;
}
.rowcustom .col-sm-4 .icohelp, .rowcustom .col-sm-6 .icohelp {
	position: relative;
	top: auto;
	right: auto;
}
.btn-group-vertical.heading label.checkboxes, .btn-group-vertical label.checkboxes {
	padding: 6px 0 6px 10px;
}

@media (min-width: 1024px) {
.btn-group .col-xs-12.col-lg-6 {
	padding: 0;
	width: calc(50% - 5px);
}
.btn-group .col-xs-12.col-lg-6:first-child {
	margin-right: 10px;
}
}
.btn-group .col-xs-12.col-md-6 {
	padding: 0;
	width: calc(50% - 5px);
}
.btn-group .col-xs-12.col-md-6:first-child {
	margin-right: 10px;
}

@media (max-width: 1023px) {
.btn-group .col-xs-12.col-lg-6 {
	margin-bottom: 10px;
}
}
.ingd-help-hint {
	font-size: 11px;
}

/* Modifications to existing CSS classes END */

@media (min-width: 1024px) and (max-width: 1200px) {
/*.container {
		width: 1006px;
	}*/

}

 

@media (max-width: 767px) {
 
.singleBox.bordertop5px {
	border-top: 0;
}
.singleBox:nth-child(even) {
	margin-right: 10px;
}
.singleBox {
	width: calc(50% - 5px);
	margin-top: 10px;
}
.singleBox p {
	display: none;
}
.singleBox h4 {
	font-size: 15px;
}
.right-col {
	float: none;
}
 
/*	.help-block h2 {
		width: 20px;
		text-indent: -9999px;
		padding: 0;
	}*/

 
.col-sm-12.col-md-9 {
	padding-left: 0;
	padding-right: 0;
}
.row.rowcustom .col-sm-6.col-xs-12:nth-child(1) {
	margin-bottom: 20px;
}
.mmb10px {
	margin-bottom: 10px;
}
}

.radiobutton input, .button-checkbox input{
	display: block !important;
    width: 93% !important;
    opacity: 0 !important;
    position: absolute !important;
    cursor:pointer;
}

.unitInputSpan{
	position : absolute;
	right : 6%;
	top: 5px;
}

.errorText{
	float: right;
    width: 97%;
    color: red;
    text-align: right;
}

.errorTextLong{
	float: right;
	color: red;
	width: 86%;
}

.has-error {
    background: #ffd8d9;
    padding: 15px 0 7px 0;
}

.subText{
	font-size: 13px;
    color: #848383;
}
.btn.disabled, .btn:disabled {
    opacity: 0.25 !important;
}

#dob{
	background-color: #fff;
}
.ui-datepicker-trigger{
	position: absolute;
    right: 6%;
    top: 25%;
    display:none;
}
.datepickImg{
	background:url(images/calendar.png) no-repeat right 5px center;
}
.datepickImg::-ms-clear {
    display: none;
}

.roundedMsg{
	color: #848383 !important;
    font-weight: bold;
}
.form-control{
	padding : 0rem .75rem !important;
}

@media (min-width: 320px) and (max-width:480px){
	.dollarInputPopUp{
		width: 89%;
	    text-indent: 8%;
	}
	.dollarPopup{
	    left: 10.5% !important;
	}
	.otherInputPopUp{
		width: 89%;
	}
	.popupLabel{
	    width: 89%;
	}
	.unitInputSpan{
		right:10%;
	}
}