@font-face {
  font-family: 'CircularPro-Book';
  src: url('CircularPro-Book.eot');
  src: url('CircularPro-Book.woff2') format('woff2'),
       url('CircularPro-Book.woff') format('woff'),
       url('CircularPro-Book.ttf') format('truetype'),
       url('CircularPro-Book.svg#CircularPro-Book') format('svg'),
       url('CircularPro-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

