<metlife-mtaa-header-nav></metlife-mtaa-header-nav>
<div class="container d-none d-sm-block">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="panel-group" id="">
        <div class="card card-default">
          <div class="card-header corp-card-header accordionHeader" role="tab">
            <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true" class="noarrow">
              <h4 class="card-title text-white corp-card-header-text">Session Expiry</h4>
            </a>
          </div>
          <div id="collapseOne" class="card-collapse show form-box-style collapse in">
            <div class="card-body">
              <div class="row corp-row-style">
                <div class=" col-sm-12">
                    <p>
                      To protect your secure information we limit the amount of time a secure connection can be inactive.
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <metlife-mtaa-help-block></metlife-mtaa-help-block>
    </div>
  </div>
</div>