<div class="nav-bg">
  <div class="container p-0">
    <div class="d-flex flex-row">
    	<div class="col-sm-3 col-6 p-0">
    		<img src="{{self.constants.logoImgPath}}"  class="img-responsive  mtaa-logo" alt="MTAA Australia" />
    		<strong ng-if="self.isHomePage == true" class="d-block">Hello, {{self.userDetails.personalDetails.firstName}} {{self.userDetails.personalDetails.lastName}}</strong>
    </div>
    <div class="p-0 col-sm-9 col-6 menu-block text-right">
      <div ng-if="self.isHomePage == false">
        <a class="col-12" href="" title="Home" ng-click="self.goToHome()">Home</a>
      </div>
      <div>
        <a class="col-12" target="_blank" title="About us" href="{{self.constants.aboutUsUrl}}">About us</a>
      </div>
      <div>
        <a class="col-12" target="_blank" title="Contact us" href="{{self.constants.contactUsUrl}}">Contact us</a>
      </div>
      <div ng-if="self.isSessionExpired == false">
        <a class="col-12" href="" ng-click="self.logout()" >Logout</a>
      </div>
    </div>
    </div>
  </div>
</div> 