/*@import "//hello.myfonts.net/count/2e1ba2";*/
@font-face {
	font-family: "DINOT-Black";
	src: url(../fonts/DINOT-Black.eot);
	src: url(../fonts/DINOT-Black.eot?#iefix) format("embedded-opentype"), url(../fonts/DINOT-Black.woff2) format("woff2"), url(../fonts/DINOT-Black.woff) format("woff"), url(../fonts/DINOT-Black.ttf) format("truetype"), url(../fonts/DINOT-Black.svg#DINOT-Black) format("svg");
	font-weight: normal
}
@font-face {
	font-family: "DINOT-Bold";
	src: url(../fonts/DINOT-Bold.eot);
	src: url(../fonts/DINOT-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/DINOT-Bold.woff2) format("woff2"), url(../fonts/DINOT-Bold.woff) format("woff"), url(../fonts/DINOT-Bold.ttf) format("truetype"), url(../fonts/DINOT-Bold.svg#DINOT-Bold) format("svg");
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: "DINOT-Medium";
	src: url(../fonts/DINOT-Medium.eot);
	src: url(../fonts/DINOT-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/DINOT-Medium.woff2) format("woff2"), url(../fonts/DINOT-Medium.woff) format("woff"), url(../fonts/DINOT-Medium.ttf) format("truetype"), url(../fonts/DINOT-Medium.svg#DINOT-Medium) format("svg");
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: "DINOT-Regular";
	src: url(../fonts/DINOT-Regular.eot);
	src: url(../fonts/DINOT-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/DINOT-Regular.woff2) format("woff2"), url(../fonts/DINOT-Regular.woff) format("woff"), url(../fonts/DINOT-Regular.ttf) format("truetype"), url(../fonts/DINOT-Regular.svg#DINOT-Regular) format("svg");
	font-weight: normal;
	font-style: normal
}
@font-face {
	font-family: "DINOT-RegularItalic";
	src: url(../fonts/DINOT-RegularItalic.eot);
	src: url(../fonts/DINOT-RegularItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/DINOT-RegularItalic.woff2) format("woff2"), url(../fonts/DINOT-RegularItalic.woff) format("woff"), url(../fonts/DINOT-RegularItalic.ttf) format("truetype"), url(../fonts/DINOT-RegularItalic.svg#DINOT-RegularItalic) format("svg");
	font-weight: normal;
	font-style: normal
}
body {
	color: #231f20;
	font: 21px/1.29 'DINOT-Regular', Arial, Helvetica, sans-serif;
	background: #e8e8e8;
	font-size: 14px;
	-webkit-font-variant-ligatures: common-ligatures;
	font-variant-ligatures: common-ligatures;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, a:visited {
	color: #00629a;
	text-decoration: none;
	outline: none
}
a:hover {
	color: #00629a;
	text-decoration: underline;
	outline: none
}
.section-header div:first-child {
	text-decoration: none !important
}
.radiobutton.active {
	background: #43848e;
	box-shadow: none
}
.btn.radiobutton:active {
	box-shadow: none
}
.cover-background {
	background: #f2f2f2;
}
.color2 {
	color: #808080 !important
}
 .section-header div:first-child .section-title {
	font-size: 21px;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
    padding: 7px 30px;
    border: 0;
    color: #fff;
    background: url(../images/sprite.png) right -590px no-repeat #43848e;
    width: 100%;
    text-align: left;
    border-right: 15px solid #43848e;
}
 .section-header div:first-child.collapsed .section-title {
	padding: 7px 30px;
    background: url(../images/sprite.png) no-repeat scroll right -534px #666;
    border-right: 15px solid #666;
}

 .section-header div:first-child.noarrow .section-title {
	cursor: default
}
 .section-header div:first-child {
	background: #43848e;
	display: block;
	cursor: pointer;
	color: #000;
	padding: 0px 0px 0px 0px;
}

 .section-header div:first-child:hover {
	color: #000 !important;
	background: url(../images/sprite.png) right -534px  no-repeat #666;
}
 .section-header div:first-child.collapsed {
	background: url(../images/sprite.png) no-repeat scroll right -534px  #666;
	clear: both;
	display: block;
	overflow: hidden;
	color: #000 !important;
}
 .section-header div:first-child.collapsed:hover {
	background: url(../images/sprite.png) no-repeat scroll right -534px  #43848e;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'DINOT-Bold', Arial, Helvetica, sans-serif;
	color: #222
}
.icohelp {
	margin-left: 10px;
    font-size: 110%;
    height: 24px;
    width: 24px;
    background: url(../images/sprite.png) no-repeat -1423px -40px !important;
    float: right;
    display: block;
    position: absolute;
    top: 10px;
    right: -13px;
    margin-top: 5px;
}
input, select{
	height: 32px !important;
}
.radiobutton {
	height: 32px;
	width: 100%;
	background: #e5e5e5;
	color: #000;
	font-weight: normal;
	padding: 0;
	font-size: 15px;
	line-height: 2em;
	text-align: center;
}
input[type="radio"] {
	display: none;
}
.radiobutton:hover span {
	background: url(../images/sprite.png) no-repeat -1386px -37px;
}
.radiobutton:focus span {
	background: url(../images/sprite.png) no-repeat -1350px -37px;
}
.active.radiobutton span {
	display: none;
	float: left;
	height: 32px;
	width: 32px;
	background: url(../images/sprite.png) no-repeat -1306px -37px;
	margin: 2px 15px 0 0;
	
}
.radiobutton.active {
	color: #fff;
}
.button-checkbox.active {
	background: #13513e;
	box-shadow: none;
	color:#fff;
}
.button-checkbox:active {
	box-shadow: none
}
.button-checkbox {
	width: 99%;
	background: #e5e5e5;
	padding: 6px 0;
	font-size: 15px;
	text-align: left;
	font-weight: normal
}
.button-checkbox span {
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -36px -403px;
	margin: 0px 7px 0 0
}
.button-checkbox:hover span {
	background: url(../images/sprite.png) no-repeat -36px -403px;
}
.active.button-checkbox span {
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -68px -403px;
	margin: 0 7px 0 0;
}
.radiobutton, .button-checkbox {
	white-space: normal !important
}
.radiobutton span {
	margin: 2px 2px 0 0;
	display: none;
	float: left;
	height: 32px;
	width: 32px;
	background: url(../images/sprite.png) no-repeat -1473px -37px;
	margin: 2px 15px 0 0
}
.footertext,.footertext a{
    font-size: 12px;
    color: #808080;
}
.icovisa {
	background: url(../images/sprite.png) 0px -455px no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icomastercard {
	background: url(../images/sprite.png) -38px -455px no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icoINGcard {
	background: url(../images/sprite.png) 0px -498px no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icobpay {
	background: url(../images/sprite.png) 0px -540px no-repeat;
	width: 52px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icoencry {
	background: url(../images/sprite.png) 0px -582px no-repeat;
	width: 88px;
	height: 26px;
	display: block
}
.icoflybuys {
	width: 60px;
	height: 30px;
	background: url(../images/sprite.png) no-repeat -166px -350px;
}
.icotick {
	width: 16px;
	height: 16px;
	background: url(../images/sprite.png) no-repeat -232px -363px;
}
.icoTick, .icoFile, .icoWallet, .icoSave {
	background: url(../images/sprite.png) no-repeat;
	height: 120px;
	width: 120px;
}
.icoTick {
	background-position: -744px -355px
}
.icoFile {
	background-position: -464px -355px;
}
.icoWallet {
	background-position: -604px -355px;
}
.icoSave {
	background-position: -884px -355px;
}
.icoRefresh, .icoDollar, .icoEdit, .icoDelete, .icoConvert, .icoSaved {
	background: url(../images/sprite.png) no-repeat;
	height: 32px;
	width: 32px;
}
.icoConvert {
	background-position: -1180px -355px
}
.icoSaved {
	background-position: -1180px -407px
}
.icoRefresh {
	background-position: -1128px -409px
}
.icoDollar {
	background-position: -1076px -355px
}
.icoEdit {
	background-position: -1024px -355px
}
.icoDelete {
	background-position: -1129px -355px
}

.btn.button-checkbox a {
	color: #4B4B4B
}
.btn.button-checkbox.active a {
	color: #fff
}
.btn.button-checkbox a:hover {
	text-decoration: none
}
.row.bg-secondary {
	background: #e5e5e5;
	-webkit-box-shadow: 0 5px 8px -7px black;
	-moz-box-shadow: 0 5px 8px -7px black;
	box-shadow: 0 5px 8px -7px black;
}
.icoPhone {
	background: url(../images/sprite.png) no-repeat -104px -410px;
	height: 13px;
	width: 13px;
	display: inline-block;
}
.icoDoc {
	background: url(../images/sprite.png) no-repeat -1232px -362px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.btn-group-vertical input[type="checkbox"] {
	display: none;
}
.icoError {
	background: url(../images/sprite.png) no-repeat -324px -361px;
	width: 16px;
	height: 16px;
}
.icoCalc {
	background: #eee538 url(../images/sprite.png) -329px -355px no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: -6px;
}
.help-text {
	font-size: 14px;
}
.cursor-pointer {
	cursor: pointer
}
.button-checkbox {
	font-weight: bold;
}
.gray-border-right{
	border-right: 5px solid #e6e6e6
}

.section-header {
	padding: 10px 0;
	position: relative
}
hr.separator {
	border-width: 1px;
	border-color: #e7e7e7;
	margin: 15px -20px
}
.primecolor {
	color: #43848e;
}
.menu {
	background: #fff;
	border-bottom: 3px solid #dadada;
	margin-top: 5px;
	min-height: 71px;
	position: relative;
	font-weight: normal;
	overflow: hidden;
	font-size: 15px;
	line-height: 14px;
}
.step1.active, .step2.active, .step3.active{
	height: 68px;
     position: relative;
     background: #f2f2f2;
     color: #004385 !important;

}
 .step1.active:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 10;
    width: 0px;
    height: 30px;
    border-left: 20px solid #f2f2f2;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
  }

  .step2.active:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
  }
  .step2.active:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 10;
    width: 0;
    height: 30px;
    border-left: 20px solid #f2f2f2;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
  }
  .step3.active:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
  }
  .step3.active:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 10;
    width: 0;
    height: 30px;
    border-left: 20px solid #f2f2f2;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
  }


.close-icon {
	background: url(../images/sprite.png) no-repeat right -84px;
	display: inline-block;
	height: 11px;
	line-height: 11px;
	margin-left: 10px;
	width: 11px;
	cursor: pointer
}
.disabled .btn.radiobutton {
	cursor: default
}
.overflow-hidden{
	overflow: hidden;
}
.align-center{
	margin: 0 auto;
}
.current-cover-outer-box:not(:last-child){
	border-right: 5px solid #e6e6e6;
}
.child-flex-box{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
}
.child-flex-box>.icohelp{
	right: 10px !important;
}
.flex-panel .child-flex-box:not(:nth-child(3n)){
	border-right: 5px solid #e6e6e6;
}
.flex-panel .child-flex-box:nth-child(4n), .flex-panel .child-flex-box:nth-child(5n), .flex-panel .child-flex-box:nth-child(6n){
	margin-top: 7px;
}
.calculator-box:first-child{
	border-right: 5px solid #e6e6e6;
}
.submit-button{
	font-size: 18px;
    font-family: 'DINOT-Regular', Arial, Helvetica, sans-serif;
	background-color: #13513e;
	border-radius: 0;
	padding: 0;
	height: 32px;
}
.card-header{
	background: #f2f2f2;
	min-height: 100px;
}
.no-list-style{
	list-style-type: none;
}
.insurance-calculators:first-child{
	border-right: 5px solid #f2f2f2;
}
.insurance-calculators:last-child{
	border-left: 5px solid #f2f2f2;
}
.dollar {
	background: transparent url(../images/sprite.png) left -646px no-repeat;
    padding-left: 18px !important;
    height: 21px;
    position: relative;
    top: 8px;
    left: 15%;
    float: left;
	width: 5%;
}
.units{
	height: 21px;
    position: relative;
    top: 7px;
    left: 92%;
    float: left;
}
.dollarHalf{
	background: transparent url(../images/sprite.png) left -646px no-repeat;
    padding-left: 18px !important;
    height: 21px;
    position: relative;
    top: 8px;
    left: 8%;
    float: left;
	width: 5%;
}
.dollarInput{
	display: inline-block;
    float: right;
    width: 86%;
	text-indent: 5%;
}
.dollarInputhalf{
	display: inline-block;
    float: right;
    width: 93%;
	text-indent: 8%;
}
.dollarInputSpan{
	padding-right:0px !important;
	padding-top:0px !important;
}
.CalcBtn{
	margin-bottom:0px!important;
	color: #000;
}
.nav-items {
	border-right: 1px solid #f2f2f2;
	border-left: 1px solid #f2f2f2;
	padding: 40px 23px 30px;
	text-align: right;
	list-style-type: none;
}
.nav-items a {
	color: #888;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-items.mob a {
	font-size: 12px;
}
.nav-items a:hover {
	color: #000
}
.bg-secondary {
    background-color: #eee538 !important
}
.alignright{
	text-align:right;
}
/*Insurance Calculator Starts*/
.rwt {
    background: #fff;
    width: 5px;
    height: 5px;
    position: absolute;
    top: -5px;
    right: 35px;
}
.lwt {
    background: #fff;
    width: 5px;
    height: 5px;
    position: absolute;
    top: -5px;
    left: 35px;
}
.secrow {
    background: #fff;
    margin-left: -35px;
    margin-right: -35px;
    padding: 8px 20px;
    position: relative;	
    border-bottom: 5px solid #e4e4e4;
    border-top: 5px solid #e4e4e4;
    box-shadow: 0 5px 8px -7px black;
}
.coverbg{
	background: #a1c036;
    color: #666;
}
.coverbgSec{
	background:#d4d7d8;
	color: #000;
}
.borderright{
	border-right: 1px solid #a6a7af;
}
.coverbg_dark{
	background: #43848e;
    color: #fff;
}
.secrow_nopadding{
	background: #fff;
    margin-left: -35px;
    margin-right: -35px;
    position: relative;
}
.top0{
	top:0px;
}
.img-right-arrow{
	background: #00264c url(../images/sprite.png) no-repeat -88px -460px;
    width: 8px !important;
    height: 12px !important;
    display: inline-block;
}
.modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
}
.icInputs{
		width:97%;
		float:right;
	}
.icInputsHalf{
		width:100%;
		float:right;
	}
.helpPanel ,.helpPanel h4 {
	color:#000 !important;
	font-size: 21px;
}
.helpPanel p{font-size:18px;}
.btn-secondary,.btn-secondary:hover{
	background-color: #eee538;
	color: #000;
}
#body-mask {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.3;
	background: #fff;	
}

.body-mask-loader {
	margin-top: -40px;
    margin-left: -40px;
    top: 50%;
    left: 50%;
    position: fixed;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #43848e; /* Hostplus color */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
} 
.bg-header img{
	margin-bottom: 0rem !important;
    position: relative;
    top: -15px;
}
/*Insurance Calculator Ends*/
/*----------------------for tablet------------------------*/
@media (min-width:992px) and (max-width:1199px){
	.dollarInputhalf{
		width: 91%;
		text-indent: 10%;
	}
	.dollarHalf{
		left:9%;
	}
}
@media (min-width:767px) and (max-width:991px){
	.dollarInputhalf{
		width: 88%;
		text-indent: 10%;
	}
	.dollarHalf{
		left:12%;
	}
}
@media (max-width: 767px) {

	.borderright {
		border-right: 0px !important;
	}
	.modal{
		padding-left:17px;
	}
	.dollar {
		left: 20%;
	}
	.units{
		left: 83%;
	}
	.dollarInput{
		width: 80%;
		text-indent: 10%;
	}
	.dollarInputhalf{
		width: 86%;
		text-indent: 10%;
	}
	.dollarHalf{
		left:15%;
	}
	.icInputs{
		width:80%;
	}
	.icInputsHalf {
		width: 81%;
	}
}

@media (max-width: 576px) {
	.dollar {
		left: 13%;
	}
	.units{
		left: 87%;
	}
	.dollarInput{
		width: 88%;
		text-indent: 5%;
	}
	.dollarInputhalf {
		width: 91%;
		text-indent: 4%;
	}
	.dollarHalf{
		left:10%;
	}
	.icInputs{
		width:87%;
	}
	.icInputsHalf {
		width: 88.5%;
	}
}
/* phone */
@media only screen and (min-device-width : 320px) and (max-device-width : 576px) and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-width : 320px) and (max-device-width : 576px) and (min-device-pixel-ratio : 1.5), only screen and (min-device-width : 320px) and (max-device-width : 576px), only screen and (min-width : 320px) and (max-width : 576px), only screen and (max-width: 320px) {
	.modal{
		padding-left:17px;
	}
 .secrow ,.secrow_nopadding{
	margin-left: 0px;
    margin-right: 0px;
	padding: 0px;
 }
 .borderright {
    border-right: 0px !important;
}
.error-section .icohelp{
	top: -128px !important;
	right: -20px !important;
}
.section-header div:first-child .section-title{
	font-size: 13px !important;
	background: url(../images/sprite.png) right -598px no-repeat #43848e;
}
.section-header div:first-child.collapsed .section-title{
	font-size: 13px !important;
	background: url(../images/sprite.png) right -538px no-repeat #666;
}
.insurance-calculators{
	border: 0 !important;
}
.card{
	border: 0 !important;
}
.flex-panel .child-flex-box:nth-child(2n){
    border-right: 0 !important;
}
.flex-panel .child-flex-box:nth-child(odd){
    border-right: 5px solid #e6e6e6 !important;
}
.flex-panel .col-12:first-child{
	border: 0;
}
.flex-panel .child-flex-box{
	margin-top: 7px;
}
.current-cover-outer-box{
	border: 0 !important;
	margin-bottom: 15px;
}
.img-responsive{
	width: 100%;
	margin-top: 45px !important;
}
.nav-items{
	border: 0 !important;
	padding: 20px 15px 0 !important;
}
}

@media (max-width: 420px){
	.icInputsHalf {
		width: 87.5%;
	}
}
@media (min-width: 320px) and ( max-width:419px){
	.icInputsHalf {
		width: 86.5%;
	}
}
/*------------------------------------------end of mobile screen---------------------------------------*/