<metlife-mtaa-header-nav></metlife-mtaa-header-nav>

<div class="container d-none d-sm-block ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container aura p-0">
  <div class="menumobile d-block d-sm-none d-flex h-100">
    <div class="col-9">
      <div class="txtHolderMob"><span class="color2">2 / 3</span> Health &amp; lifestyle </div>
    </div>
    <div class="col-3"> <img src="./static/mtaa/src/app/assets/images/bg_blank.png" ng-click="vm.go('quoteoccchange/2')" class=" icoMenuRev active  "> <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright d-none d-sm-block">
    <metlife-mtaa-help-block></metlife-mtaa-help-block>
  </div>
  <div class=" col-sm-9">
  <div class="menu d-none d-sm-block">
      <div class="col-sm-4 dc first pointer float-left pt-2" ng-click="vm.go('/quoteoccchange/2')">
        <h5 style="color:#0066a1">Step 1</h5>
        <div class="txtHolder pointer"> <a class="ui-link">Personal details</a></div>
        <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="right"> </div>
      <div class="col-sm-4 cn float-left pt-2">
      	<img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="left">
        <h5>Step 2</h5>
        <div class="txtHolder">Health &amp; lifestyle</div>
        <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="right"> </div>
      <div class="col-sm-4 cnn float-left pt-2">
        <h5>Step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="left"> </div>
    </div>
    <div class="accordion">

      <div class="card border-0  mt-2" ng-if="vm.auraResponseDataList">
        <div class="card-header" data-toggle="collapse" href="#collapseOne">
        	<a class="card-title">
        		<h4 class="mb-0 float-left" ng-bind="vm.sectionname"></h4>
        	</a>
        </div>
        <div class="overflow-hidden">
        <div id="collapseOne" class="card-collapse collapse  in   ">
          <div class="card-body">

				<div ng-repeat="x in vm.auraResponseDataList">
				 	 <div class="row rowcustom" ng-if="x.classType=='RadioQuestion'" ng-class="{'has-error':x.error}">
				 	<div class="col-sm-12 col-12  ">
                		<label ng-bind="x.questionText | split"></label>
                 	</div>
                 	<div class="col-sm-12 col-12">
                 		<div onclick="visible('tick3')" data-toggle="buttons" class="btn-group">
                 			<div class="col-12 col-sm-3" ng-repeat="y in x.auraAnswer">
                 				<div ng-if="$first" ng-click="vm.updateRadio(y.answerValue,x)">
	                    				<label class="btn  radiobutton"  ng-class="{'active': (x.answerTest == 'Yes')}">
	                      					<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
	                      					<span></span>{{y.answerText}}
	                      				</label>
                      			</div>
                      			
                      			<div ng-if="!$first" ng-click="vm.updateRadio(y.answerValue,x)">
	                    				<label class="btn  radiobutton" ng-class="{'active': (x.answerTest == 'No')}">
	                      					<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
	                      					<span></span> {{y.answerText}} 
	                      				</label>
                      			</div>
                      		</div>
                      	</div>
                    </div>
					    <div ng-if="x.error" class="col-sm-12  col-12  fright error"> Please select an answer <br>
                			<br>
              			</div>
					 </div>
					  <hr class="primeline">
				</div>
         

            <div class=" row rowcustom" >


			<div class="col-sm-4 col-12">
				<a class="" href="" data-parent="#accordion" data-toggle="collapse">
					<button  class="btn btn-primary w100p" type="button"  ng-click="vm.go('/quoteoccchange/2')">Previous</button>
				</a>
			</div>
			<p class="spacer d-block d-sm-none">&nbsp;</p>
			<div class="col-sm-4 col-12">
				<a class=""  data-parent="#accordion" data-toggle="collapse">
					<button  class="btn btn-primary w100p" type="button" ng-click="vm.saveUpdateAura()" >Save &amp; Exit</button>
				</a>
			</div>
			<p class="spacer d-block d-sm-none">&nbsp;</p>
			<div class="col-sm-4 col-12">
				<a class=""  data-parent="#accordion" data-toggle="collapse">
					<button  class="btn btn-primary w100p" type="button" ng-click="vm.proceedNext()">Continue</button>
				</a>
			</div>
                

            </div>
          </div>
          </div>
        </div>
      </div>





    </div>
    <div class="row mt20">
      <div class="col-12 d-block d-sm-none">
        <metlife-mtaa-help-block></metlife-mtaa-help-block>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>



