<metlife-mtaa-header-nav></metlife-mtaa-header-nav>
<div class="menut">
  <div class="container relative">
    <div class=" row bgsec">
      <div class="  c-mt10px clearfix">
        <div class="col-sm-3 d-none d-sm-block ">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="wwrap fleft  d-none d-sm-block ">
            <tbody>
              <tr>
                <td class="fleft"  ><span class="      ico icoSave colorsec     mr5px"></span></td>
                <td class="fleft note"  ><a href="#">Save &amp; Email</a></td>
                <td class="fleft  " >&nbsp;&nbsp; </td>
                <td class="fleft  "><span class="ico  ico icoPrint colorsec  mr5px"></span></td>
                <td class="fleft   note"  ><a href="#">Print</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-3 col-5">
          <div class=" d-block d-sm-none clearfix  fleft  mb5px">
            <p class="telno  "> <span class="ico icoCall"></span> 1300 265 374 </p>
          </div>
          <p class="d-none d-sm-block"> <strong>Level <span class="red">$20</span></strong> per month </p>
        </div>
        <div class="col-sm-3 col-7">
          <p class="   note fright"> <strong>Quote ID: COLI-999-9999</strong></p>
        </div>
        <div class="col-sm-3 col-12">
          <p class="d-block d-sm-none"> <strong>Level <span class="red">$20</span></strong> per month </p>
          <div class="fright note mr10px d-none d-sm-block"> Call 1300 265 374 for help </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class=" col-sm-3 fright d-none d-sm-block">
    <metlife-mtaa-help-block></metlife-mtaa-help-block>
  </div>
  <div class=" col-sm-9">
 
    <div class="accordion">
      <div class="card border-0 mt-2">
        <div class="card-header" data-toggle="collapse"> 
        	<a class="card-title noarrow">
          	 <h4  class="mb-0 float-left">REQUEST SUBMITTED</h4>
            </a> 
          </div>
          <div class="overflow-hidden">
        <div id="collapseOne" class="collapse in">
          <div class="card-body pb0"> 
            <div class="row rowcustom">
             <div class=" col-sm-12">
         <p align="justify">
         Thank you for your application to change your work scale.
         
         <br><br>
         Your change will be in effect from today, subject to acceptance criteria. Your new premium deductions will commence at the end of the month from your superannuation account.
        <br><br>
         If you require any further information or assistance, please contact MTAA Super on 1300 362 415.
         
         </p>
            
            
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      
      
      
      
    </div>
     
    
    <div class="row mt20">
		<div class="col-12 d-block d-sm-none">
			<metlife-mtaa-help-block></metlife-mtaa-help-block>
		</div>
	</div>
  </div>
  <!-- /container --> 
</div>
 
<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script>

