<metlife-mtaa-header-nav></metlife-mtaa-header-nav>
<h2 ng-if="errorOccured" style="color:red;text-align: center;">Something went wrong...Please try after sometime</h2>
<div class="container d-none d-sm-block ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container p-0">
<div class="menumobile  d-block d-sm-none d-flex h-100">
    <div class="col-9">
      <div class="txtHolderMob"><span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-3 nav-arrows float-right justify-content-center align-self-center">
    <img src="./static/mtaa/src/app/assets/images/bg_blank.png" ng-if="!vm.UCS.auraDisabled" ng-click="vm.go('/auraocc/2')" class=" icoMenuRev active  ">
    <img src="./static/mtaa/src/app/assets/images/bg_blank.png" ng-if="vm.UCS.auraDisabled" ng-click="vm.go('/quoteoccchange/2')" class=" icoMenuRev active  ">
    <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" icoMenuFwd  ml30p">
    </div>
  </div>
  <div class="col-sm-3 fright d-none d-sm-block">
    <metlife-mtaa-help-block></metlife-mtaa-help-block>     
  </div>
   <div class="col-sm-9 landingPageBoxes">
   		<div class="menu d-none d-sm-block">
	       <div class="col-sm-4 dd first float-left pt-2">
	        <h5 style="color:#0066a1">Step 1</h5>
	        <div class="txtHolder pointer"> <a ng-click="vm.go('/quoteoccchange/2')"> Personal details</a> </div>
	        <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" right">
	       </div>

	        <div class="col-sm-4 dc float-left pt-2" ng-if="!vm.UCS.auraDisabled">
	         <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" left">
	         <h5 style="color:#0066a1">Step 2</h5>
	         <div class="txtHolder pointer"> <a ng-click="vm.go('/auraocc/2')"> Health &amp; lifestyle</a></div>
	         <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" right">
	        </div>
	        <div class="col-sm-4 dc float-left pt-2" ng-if="vm.UCS.auraDisabled" ng-disabled="vm.UCS.auraDisabled">
	         <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" left">
	         <h5 style="color:#d9d9d9">Step 2</h5>
	         <div class="txtHolder"> <p style="color:#d9d9d9" class="txtHolder"> Health &amp; lifestyle</p></div>
	         <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" right">
	        </div>

	        <div class="col-sm-4 cn float-left pt-2">
	         <h5>Step 3</h5>
	         <div class="txtHolder" style="color:#000"> Confirmation </div>
	         <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" left">
	        </div>
	     </div>
	    <div class="accordion" id=" ">
	      <div class="card border-0 mt-2 no-background twoColData">
	        <div class="card-header">
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="card-title">
	          	<h4 class="mb-0 float-left">PERSONAL DETAILS </h4>
	          </a> 
	        </div>
	        <div class="overflow-hidden">
	        <div id="collapseOne" class="card-body p-0 pt-2 parent-flex-container collapse in ">
	          <div class="card card-body"> 
	           <!-- Two column data Change -->
	           
	           <!-- Row starts -->
	            <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>First name</strong> </label>
	                <label class="control-label">{{vm.UCS.applicant.firstName}}</label>
	              </div>
	              <div class="col-sm-6 col-12">
	                 <label class="control-label"> <strong>Last name</strong> </label>
	                 <label class="control-label">{{vm.UCS.applicant.lastName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline d-none d-sm-block">
	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-12">
	                <label class="control-label"><strong>Sex</strong></label>
	                <label class="control-label">{{vm.UCS.applicant.gender}}</label>
	              </div>
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>Preferred contact type</strong> </label>
	                <label class="control-label"> {{vm.contactType}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline d-none d-sm-block">
	            <!-- Row starts -->
	            <div class="row rowcustom odd" >
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>Preferred contact number </strong></label>
	                <label class="control-label">{{vm.UCS.applicant.contactDetails.preferedContactNumber}}</label>
	              </div>
	              <div class="col-sm-6 col-12">
	               <label class="control-label"> <strong>Email address</strong> </label>
	               <label class="control-label">{{vm.UCS.applicant.emailId}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline d-none d-sm-block" >
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>Date of birth</strong> </label>
	                <label class="control-label"> {{vm.UCS.applicant.birthDate}}</label>
	              </div>
	              <div class="col-sm-6 col-12">
	               <label> <strong>What time of day do you prefer to be contacted?</strong></label>
	               <label class="control-label" ng-if="vm.UCS.applicant.contactDetails.preferedContactTime=='1'">Morning (9am&ndash;12pm)</label>
	               <label class="control-label" ng-if="vm.UCS.applicant.contactDetails.preferedContactTime=='2'">Afternoon (12pm&ndash;6pm)</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline d-none d-sm-block">
	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>Do you work 15 or more hours per week?</strong> </label>
	                <label class="control-label">{{vm.UCS.applicant.workHours}}</label>
	              </div>
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>Are you either a permanent resident of Australia or a New Zealand citizen residing in Australia under a Special Category Visa?</strong> </label>
	               <label class="control-label">{{vm.UCS.applicant.australiaCitizenship}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline d-none d-sm-block">
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>Annual salary</strong></label>
	                <label class="control-label">{{vm.UCS.applicant.annualSalary | currency:undefined:0}}</label>
	              </div>
	              <div class="col-sm-6 col-12">
	               <label class="control-label"> <strong>Industry</strong> </label>
	               <label class="control-label">{{vm.UCS.applicant.occupationCode}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline d-none d-sm-block">
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-12">
	                <label class="control-label"> <strong>What is your occupation?</strong></label>
	                <label  class="control-label" ng-show="vm.UCS.applicant.occupation !='Other'">{{vm.UCS.applicant.occupation}}</label>
	                <label  class="control-label" ng-show="vm.UCS.applicant.occupation =='Other'">{{vm.UCS.applicant.otherOccupation}}</label>
	              </div>
	              
	              <div class="col-sm-6 col-12" ng-if="(vm.UCS.applicant.spendTimeOutside == 'Yes' || vm.UCS.applicant.spendTimeOutside == 'No')">
	               <label class="control-label"><p align="justify"><strong>Do you spend more than 20% of your working time outside of an office environment?</strong></p></label>
	               <label class="control-label">{{vm.UCS.applicant.spendTimeOutside}}</label>
	              </div>
	              
	              <div class="col-sm-6 col-12" ng-if="vm.UCS.applicant.workDuties == 'Yes' || vm.UCS.applicant.workDuties == 'No'">
	                <label class="control-label"> <strong>Do you work in a hazardous environment and/or perform any duties of a manual nature?</strong></label>
	                <label class="control-label">{{vm.UCS.applicant.workDuties}}</label>
	              </div>
	            </div>
	            <hr class="primeline d-none d-sm-block">
	            
	             <!-- Row starts -->
	            <div class="row rowcustom odd" ng-if="vm.UCS.applicant.tertiaryQue == 'Yes' || vm.UCS.applicant.tertiaryQue == 'No' ||vm.UCS.applicant.occupationDuties == 'Yes' || vm.UCS.applicant.occupationDuties == 'No'">
	              <div class="col-sm-6 col-12" ng-if="vm.UCS.applicant.tertiaryQue == 'Yes' || vm.UCS.applicant.tertiaryQue == 'No'">
	                <label class="control-label"> <p align="justify"><strong>Do you hold a tertiary qualification relevant to your current occupation or are you a member of a professional body relevant to your current occupation or a member of your organisation's senior management team?</strong></p> </label>
	                <label class="control-label">{{vm.UCS.applicant.tertiaryQue}}</label>
	              </div>
	              <div class="col-sm-6 col-12" ng-if="vm.UCS.applicant.occupationDuties == 'Yes' || vm.UCS.applicant.occupationDuties == 'No'">
	               <label class="control-label"> <strong>Are your duties entirely undertaken within an office environment? </strong></label>
	               <label class="control-label">{{vm.UCS.applicant.occupationDuties}}</label>
	              </div>
	            </div>
	            
	          </div>
	        </div>
	        </div>
	        
	      </div>
	      
      </div>
      
       <div class="card border-0 mt-2 no-background">
        <div class="card-header" data-toggle="collapse" href="#collapse4">
          <a class="card-title">
           <h4 class="mb-0 float-left"> Terms &amp; conditions </h4>
          </a>
        </div>
         <div class="overflow-hidden">
		        <div id="collapse4" class="collapse in">
		          <div class="card-body"> 
          <div class="col-sm-12 bgwhite">
             <div class="row rowcustom ">
             		<div class="col-sm-12">
							<div class="scrollBox">
							
							<p > <strong>You must read and acknowledge the General
								Consent before proceeding</strong></p>
							<p>
								<strong>General consent</strong>
							</p>
							<p align="justify">By clicking on the tick box below, I declare that:</p>
							<ul>
		               			<li>I have read and understand my Duty of Disclosure and the consequences of failing to comply with this Duty. I understand that this Duty applies until formal notice of acceptance of my application; </li>
		               			<li>The answers to the questions in this application are true and correct, and I have not deliberately withheld any information material to the proposed insurance; </li>
		               			<li> I agree to be bound by the terms and conditions attached to this cover as set out in the Insurance Policy Document between MTAA Super and the Insurer; </li>
		               			<li> I have read the MTAA Super privacy policy available at <a href="https://mtaasuper.com.au/privacy-policy" class="" target="_new"> www.mtaasuper.com.au/privacy-statement.</a> and the <a href="http://www.metlife.com.au/privacy/index.html" class="" target="_new"> MetLife Privacy Policy </a>
		               			 and I consent to the collection, use and disclosure of my personal (including sensitive) information in accordance with the terms of these documents;</li>
		               			 <li>I consent to MetLife Insurance Limited ("MetLife") seeking medical information from any doctor who at any time I have consulted prior to the date hereof;</li>
		               			 <li>I understand that my insurance cover will not become effective until MetLife has accepted this application in writing and provided my member account has adequate funds to meet the premium payable. I understand that increases or changes to insurance premiums may apply; </li>
		               			 <li>I have read the insurance section of the current MTAA Super Member Guide (Product Disclosure Statement) relevant to my Division, including the Member Guide Supplement: Insurance; </li>
		               			 <li>I authorise any hospital, physician or other person who has attended me to furnish MetLife or its representatives, any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records.</li>
		               			 <!-- <li>I understand that if I have any un-finalised requests for Transfer of Cover or Life Event Increase, these cover amounts will not be incorporated to the Total Cover amounts applied for under this application. </li> -->
		           			</ul>
						</div>
						</div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
              <!-- <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':vm.WRGCackFlag}" ng-click="vm.checkAckStateGCWR()">
                     <div class="col-sm-12">
                      <button class="btn  checkboxes ack-checkbox-label" ng-class="{'active': vm.UCS.ackCheck}" id="generalConsentLabelWR">
                       <input type="checkbox" ng-model = "vm.UCS.ackCheck" class=" " id="option2">
                       <span></span> <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above </div> 
                      </button>
                      <p ng-if="vm.WRGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
                     </div>
                    </div>
                  </div>
                 </div>
              </div> -->
              
              <div class="row rowcustom" ng-class="{'has-error':vm.WRGCackFlag}">
	              	<p class="spacer">&nbsp;</p>
	              	<div class="btn-group-vertical">
	              		<button class="btn checkboxes col-12" id="generalConsentLabelWR" ng-class="{'active': vm.UCS.ackCheck}" ng-click="vm.UCS.ackCheck=!vm.UCS.ackCheck;vm.checkAckStateGCWR()">
                    		<input type="checkbox" name="ackCheck" ng-model="vm.UCS.ackCheck" required>
                    		<span></span>
                    		<div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above</div>
                    	</button>
                    	<p ng-if="vm.WRGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
                  </div>
                </div>
            
            <hr class="primeline">
            <div class=" row rowcustom">
              <div class="col-sm-4 col-12">
		        <a class="" href="" data-parent="#accordion" data-toggle="collapse">
	              <button  class="btn btn-primary btn-back w100p" type="button" ng-if="!vm.UCS.auraDisabled" ng-click="vm.go('/auraocc/2')">Previous</button>
	              <button  class="btn btn-primary btn-back w100p" type="button" ng-if="vm.UCS.auraDisabled" ng-click="vm.go('/quoteoccchange/2')">Previous</button>
		        </a>
              </div>
              <p class="spacer d-block d-sm-none">&nbsp;</p>
              <div class="col-sm-4 col-12"> 
                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="vm.saveSummaryWorkRating()" > Save &amp; Exit</button>
              </div>
              <p class="spacer d-block d-sm-none">&nbsp;</p>              
              <div class="col-sm-4 col-12">
                <button type="button" class="btn btn-primary w100p no-arrow" ng-click="vm.submitWorkRating()" >Submit</button>
              </div>
              
            </div>
         </div>
         </div>
        </div>
        </div>
       </div>
        
    </div>
    <div class="row mt20">
      <div class=" col-sm-3 fright d-block d-sm-none">
   		<metlife-mtaa-help-block></metlife-mtaa-help-block>
 	  </div>
    </div>
  </div>
  <!-- /container --> 
</div>

<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider2' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount2' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script>

