<div class="help-block">
  <h2 class="helpHead">NEED HELP?</h2>
  <p class="helpTxt"> We are happy to chat over the phone</p>
  <h3 class="helpNo">
    <a class="telephone" href="tel:{{vm.constants.helpContact}}" ng-bind="vm.constants.helpContact"></a>
  </h3>
</div>