.error{
	color:#F24D1F;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
@media (min-width: 768px) {
	.no-underline {
		text-decoration: none !important;
		cursor: default;
		color: #333 !important;;
	}
}