<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/statewide/header.html'"></div>
</div> 

<h2 ng-show="errorOccured" style="color:red;text-align: center;">Something went wrong...Please try after sometime</h2>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-xs-3 nav-arrows"> 
    <img src="static/statewide/images/bg_blank.png" ng-click="go('/auralifeevent/')" class=" icoMenuRev active  "> 
    <img src="static/statewide/images/bg_blank.png" class=" icoMenuFwd  ml30p">
    </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 65 18 65</h3>
      <h3 class="helpNo"> </h3>
    </div>
     
  </div>
   <div class="col-sm-9 landingPageBoxes">
	    <div class="menu hidden-xs">
	       <div class="col-sm-4 nn">
	        <h5 style="color:#0066a1">Step 1</h5>
	        <div class="txtHolder pointer"> <a ng-click="go('/lifeevent/')"> Personal details</a> </div>
	        <img src="static/statewide/images/bg_blank.png" class=" right">
	       </div>
	       
	        <div class="col-sm-4 nl" ng-if="!auraDisabled">
	         <img src="static/statewide/images/bg_blank.png" class=" left">
	         <h5 style="color:#0066a1">Step 2</h5>
	         <div class="txtHolder pointer"> <a ng-click="go('/auralifeevent/')"> Health &amp; lifestyle</a></div>
	         <img src="static/statewide/images/bg_blank.png" class=" right">
	        </div>
	        <div class="col-sm-4 nl" ng-if="auraDisabled" ng-disabled="auraDisabled">
	         <img src="static/statewide/images/bg_blank.png" class=" left">
	         <h5 style="color:#d9d9d9">Step 2</h5>
	         <div class="txtHolder"> <a style="color:#d9d9d9"> Health &amp; lifestyle</a></div>
	         <img src="static/statewide/images/bg_blank.png" class=" right">
	        </div>
	       
	        <div class="col-sm-4 cn">
	         <h5>Step 3</h5>
	         <div class="txtHolder" style="color:#000"> Confirmation </div>
	         <img src="static/statewide/images/bg_blank.png" class=" left"> 
	        </div>
	     </div>
	     
	    <div class="panel-group" id=" ">
	      <div class="panel panel-default twoColData">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="  ">
	          	<h4 class="panel-title">Personal details </h4>
	          </a> 
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse in ">
	          <div class="panel-body"> 
	          
	            <!-- Row starts -->
	            <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>First name</strong> </label>
	                <label class="control-label">{{lifeEventCoverDetails.firstName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                 <label class="control-label"> <strong>Last name</strong> </label>
	                 <label class="control-label">{{lifeEventCoverDetails.lastName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	         
	            <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <!-- <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>Gender</strong></label>
	                <label class="control-label">{{lifeEventCoverOccDetails.gender}}</label>
	              </div> -->
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact type</strong> </label>
	                <label class="control-label"> {{lifeEventCoverDetails.contactType}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact number </strong></label>
	                <label class="control-label">{{lifeEventCoverDetails.contactPhone}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	         
	          <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd" >
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Email address</strong> </label>
	               <label class="control-label">{{lifeEventCoverDetails.email}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Date of birth</strong> </label>
	                <label class="control-label"> {{lifeEventCoverDetails.dob}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline hidden-xs" >
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>What time of day do you prefer to be contacted?</strong></label>
	               <label class="control-label" ng-if="lifeEventCoverDetails.contactPrefTime=='Morning (9am - 12pm)'">Morning (9am&ndash;12pm)</label>
	               <label class="control-label" ng-if="lifeEventCoverDetails.contactPrefTime=='Afternoon (12pm - 6pm)'">Afternoon (12pm&ndash;6pm)</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Are you a citizen or permanent resident of Australia?</strong> </label>
	                <label class="control-label">{{lifeEventCoverOccDetails.citizenQue}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            
	              <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Industry</strong> </label>
	               <label class="control-label">{{lifeEventCoverOccDetails.industryName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>What is your occupation?</strong></label>
	                <label class="control-label" ng-show="lifeEventCoverOccDetails.occupation !='Other'">{{lifeEventCoverOccDetails.occupation}}</label>
	                <label class="control-label" ng-show="lifeEventCoverOccDetails.occupation =='Other'">{{lifeEventCoverOccDetails.otherOccupation}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	          
	          
	          <hr class="primeline hidden-xs" ng-if="lifeEventCoverOccDetails.withinOfficeQue == 'Yes' || lifeEventCoverOccDetails.withinOfficeQue == 'No' || lifeEventCoverOccDetails.tertiaryQue == 'Yes' || lifeEventCoverOccDetails.tertiaryQue == 'No'">
	            <!-- Row starts -->
	            <div class="row rowcustom odd" ng-if="lifeEventCoverOccDetails.withinOfficeQue == 'Yes' || lifeEventCoverOccDetails.withinOfficeQue == 'No' || lifeEventCoverOccDetails.tertiaryQue == 'Yes' || lifeEventCoverOccDetails.tertiaryQue == 'No'">
	              <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.withinOfficeQue == 'Yes' || lifeEventCoverOccDetails.withinOfficeQue == 'No'">
	               <label class="control-label"><p align="justify"> <strong>Are your duties entirely undertaken within an office environment?</strong></p></label>
	               <label class="control-label">{{lifeEventCoverOccDetails.withinOfficeQue}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.tertiaryQue == 'Yes' || lifeEventCoverOccDetails.tertiaryQue == 'No'">
	                <label class="control-label"> <p align="justify"><strong>Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</strong></p></label>
	                <label class="control-label">{{lifeEventCoverOccDetails.tertiaryQue}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            
	            <hr class="primeline hidden-xs" ng-if="lifeEventCoverOccDetails.managementRoleQue == 'Yes' || lifeEventCoverOccDetails.managementRoleQue == 'No' || lifeEventCoverOccDetails.hazardousQue == 'Yes' || lifeEventCoverOccDetails.hazardousQue == 'No'">
	            <!-- Row starts -->
	            <div class="row rowcustom odd" ng-if="lifeEventCoverOccDetails.managementRoleQue == 'Yes' || lifeEventCoverOccDetails.managementRoleQue == 'No' || lifeEventCoverOccDetails.hazardousQue == 'Yes' || lifeEventCoverOccDetails.hazardousQue == 'No'">
	              <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.managementRoleQue == 'Yes' || lifeEventCoverOccDetails.managementRoleQue == 'No'">
	               <label class="control-label"> <strong>Do you spend more than 10% of your working time outside of an office environment?  </strong></label>
	               <label class="control-label">{{lifeEventCoverOccDetails.managementRoleQue}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12"  ng-if="lifeEventCoverOccDetails.hazardousQue == 'Yes' || lifeEventCoverOccDetails.hazardousQue == 'No'">
	                <label class="control-label"> <strong>Do you work in a hazardous environment and/or perform any duties of a manual nature?</strong></label>
	                <label class="control-label">{{lifeEventCoverOccDetails.hazardousQue}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	           
	            <!-- <hr class="primeline">
	            Row starts
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Do you work 15 or more hours per week?</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{lifeEventCoverOccDetails.fifteenHr}}</label>
	              </div>
	            </div>
	            Row ends -->
	           
	             <!-- <hr class="primeline hidden-xs">
	             Row starts
	            <div class="row rowcustom odd">
	              
	              <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.withinOfficeQue == 'Yes' || lifeEventCoverOccDetails.withinOfficeQue == 'No'">
	               <label class="control-label"><p align="justify"><strong>Are your duties entirely undertaken within an office environment?</strong></p></label>
	               <label class="control-label">{{lifeEventCoverOccDetails.withinOfficeQue}}</label>
	              </div> -->
	            
	             <!--Row ends -->
	          
	            <!--  <hr class="primeline hidden-xs">
	             Row starts
	            <div class="row rowcustom odd" ng-if="lifeEventCoverOccDetails.managementRoleQue == 'Yes' || lifeEventCoverOccDetails.managementRoleQue == 'No' || lifeEventCoverOccDetails.hazardousQue == 'Yes' || lifeEventCoverOccDetails.hazardousQue == 'No'">
	              <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.tertiaryQue == 'Yes' || lifeEventCoverOccDetails.tertiaryQue == 'No'">
	                <label class="control-label"> <p align="justify"><strong>Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</strong></p> </label>
	                <label class="control-label">{{lifeEventCoverOccDetails.tertiaryQue}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.managementRoleQue == 'Yes' || lifeEventCoverOccDetails.managementRoleQue == 'No'">
	               <label class="control-label"> <strong>Do you spend more than 10% of your working time outside of an office environment? </strong></label>
	               <label class="control-label">{{lifeEventCoverOccDetails.managementRoleQue}}</label>
	              </div>
	             <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.hazardousQue == 'Yes' || lifeEventCoverOccDetails.hazardousQue == 'No'">
	                <label class="control-label"> <strong>Do you work in a hazardous environment and/or perform any duties of a manual nature?</strong></label>
	                <label class="control-label">{{lifeEventCoverOccDetails.hazardousQue}}</label>
	              </div>
	            </div>
	            <hr class="primeline hidden-xs" ng-if="lifeEventCoverOccDetails.managementRoleQue == 'Yes' || lifeEventCoverOccDetails.managementRoleQue == 'No' || lifeEventCoverOccDetails.hazardousQue == 'Yes' || lifeEventCoverOccDetails.hazardousQue == 'No'">
	             Row starts
	            <div class="row rowcustom odd">
	               <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Please select the specific life event you are applying under to increase your cover</strong> </label>
	               <label class="control-label">{{lifeEventCoverDetails.eventName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>What is the date of the life event?</strong></label>
	               <label class="control-label">{{lifeEventCoverDetails.eventDate}}</label>
	              </div>
	            </div> -->
	          
	          <!--   <hr class="primeline">
	            Row starts
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>Gender</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{lifeEventCoverOccDetails.gender}}</label>
	              </div>
	            </div> -->
	            <!-- Row ends -->
	           <!--  <hr class="primeline">
	            Row starts
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Annual salary</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	              <label class="control-label">{{lifeEventCoverOccDetails.salary | currency:undefined:0}}</label>
	              </div>
	            </div> -->
	            <!-- Row ends -->
	           <!-- <hr class="primeline hidden-xs">
	             Row starts
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>What is the date of the life event?</strong></label>
	               <label class="control-label">{{lifeEventCoverDetails.eventDate}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Do you, directly or indirectly, own all or part of a business from which you earn your regular income?</strong></label>
	               <label class="control-label">{{lifeEventCoverOccDetails.ownBussinessQues}}</label>
	              </div>
	            </div>
	             Row ends
	              <hr class="primeline hidden-xs">
	             Row starts
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.ownBussinessQues == 'Yes'">
	                <label class="control-label"><strong>Are you currently: <br> 
                	 <li> Capable of, and performing all of the usual identifiable duties from your occupation, without restriction due to injury or illness?</li></strong>
                    </label>
                    <label class="control-label">{{lifeEventCoverOccDetails.ownBussinessYesQues}}</label>
	              </div>
	               <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.ownBussinessQues == 'No'">
	               <label class="control-label"><strong>With your current job, are you currently: <br> <li> Actively Performing all your normal duties of your occupation; and </li> <br> <li> Working your usual hours without limitation of injury or illness; and </li>
	                 <br> <li> Not entitled to, or not receiving any income support benefits of any kind.</li></strong>
	                </label>
	                <label class="control-label">{{lifeEventCoverOccDetails.ownBussinessNoQues}}</label>
	              </div>
	            </div> -->
	            
	         
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default nobg">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseCover" class="">
	            <h4 class="panel-title"> Your cover</h4>
	            </a>
	        </div>
	        <div id="collapseCover" class="panel-collapse collapse in">
           <div class="panel-body">
       		 <div class="parent-flex-container">
         	   <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
           		<div class="box coverbg aligncenter">
                <h5 class="mb0">cover type</h5>
                <strong>Death<br>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong>
              </div>
	              <div class="box mt10px aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p class="color3"> {{lifeEventCoverDetails.deathAmt | currency:undefined:0}} </p>
	                <h5 class=" color2">New cover</h5>
	                <p class="color3">{{lifeEventCoverDetails.deathNewAmt | currency:undefined:0}} </p>
	                <h5 class=" color2">Occupational category </h5>
	                <p class="color3">{{lifeEventCoverDetails.deathOccCategory}}</p>
	                <h5 class=" color2">Weekly cost</h5>
	                <p class="color3">{{lifeEventCoverDetails.deathCoverPremium | currency}}</p>             
	              </div>
	               <p class="spacer">&nbsp;</p>
	            </div>
	            <!-- Death Cover Details Ends--> 
	            
	            <p class="spacer visible-xs">&nbsp;</p>
	            
	           <!-- TPD Cover Details Starts--> 
	           <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	               <strong>Total &amp; permanent<br> disablement
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong>
	                </div>
	              <div class="box mt10px aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p class="color3">{{lifeEventCoverDetails.tpdAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">New cover</h5>
	                <p class="color3">{{lifeEventCoverDetails.tpdNewAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category </h5>
	                <p class="color3">{{lifeEventCoverDetails.tpdOccCategory}}</p>
	                <h5 class=" color2">Weekly cost</h5>
	                <p class="color3">{{lifeEventCoverDetails.tpdCoverPremium | currency}}</p>
	              </div>
	              <p class="spacer">&nbsp;</p>
	              </div>
	             <!-- TPD Cover Details Ends--> 
	             
	             <p class="spacer visible-xs">&nbsp;</p>
	             
	             <!-- IP Cover Details Starts-->
	             <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Salary   <br>
	                continuance   <span class="visible-sm"><br>
	                </span></strong>
	                <span class="visible-sm"><br>
	                </span> &nbsp;
	                 </div>
	              <div class="box mt10px aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <!-- <p>{{lifeEventCoverDetails.existingIPAmt | currency:undefined:0}}</p> -->
	                <p class="color3">{{lifeEventCoverDetails.ipAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">New cover</h5>
	                <p class="color3">{{lifeEventCoverDetails.ipNewAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category </h5>
	                <p class="color3">{{lifeEventCoverDetails.ipOccCategory}}</p>
	                <h5 class=" color2">Waiting period</h5>
	                <p class="color3">{{lifeEventCoverDetails.waitingPeriod}}</p>
	                <h5 class=" color2">Benefit period</h5>
	                <p class="color3">{{lifeEventCoverDetails.benefitPeriod}}</p>
	                 <h5 class=" color2">Weekly cost</h5>
	                <p class="color3">{{lifeEventCoverDetails.ipCoverPremium | currency}}</p>
	                </div>
	                <p class="spacer">&nbsp;</p> 
	               </div>
	               <!-- IP Cover Details Ends-->
	             <!-- <div class="box mt10px aligncenter "> 
	                <p class=" mt15px">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class=" visible-sm ">&nbsp;</p>
	              </div> -->
	            </div>
	            
	            
	            <div class="row  mt0  coverbg seccolor ">
		            <div class="col-sm-9 col-xs-12">
		              <h5>&nbsp;Total weekly cost</h5>
		            </div>
		            <div class="col-sm-3 col-xs-6 alignright hidden-xs">
		              <h4 class="coverval">{{lifeEventCoverDetails.totalPremium | currency}}&nbsp;</h4>
		            </div>
		            <div class="col-sm-3 col-xs-6 visible-xs">
		              <h4 class="coverval" style="padding-left:3px;">{{lifeEventCoverDetails.totalPremium | currency}}&nbsp;</h4>
		            </div>
              	</div>
           	  	<p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by StateWide Super</p>
	             <!-- <div class="box mt10px aligncenter "> 
	                 <p class=" mt15px">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer visible-sm visible-md">&nbsp;</p>
	                 <p class=" visible-sm ">&nbsp;</p>
	               </div> -->
	            </div>
	          </div>
	          <!-- <div class="row  mt0  coverbg seccolor ">
	            <div class="col-sm-9 col-xs-6">
	              <h5>Total weekly cost</h5>
	            </div>
	            <div class="col-sm-3 col-xs-6 alignright hidden-xs">
	              <h4 class="coverval">{{lifeEventCoverDetails.totalPremium | currency}}</h4>
	            </div>
	            <div class="col-sm-3 col-xs-6 alignright visible-xs">
	              <h4 class="coverval">{{lifeEventCoverDetails.totalPremium | currency}}</h4>
	            </div>
              </div>
           	  <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by HOSTPLUS Super</p> -->
	            
          </div>
          <!-- Life Events Summary Starts-->
	      	<div class="panel panel-default twoColData">
		        <div class="panel-heading">  
		          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapselife" class="  ">
		           <h4 class="panel-title"> LIFE EVENT </h4>
		          </a> 
		        </div>
		        <div id="collapselife" class="panel-collapse collapse in ">
		          <div class="bgwhite">
					 
					
					 <!-- Row starts -->
	            <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Life Event</strong> </label>
	                <label class="control-label">{{lifeEventCoverDetails.eventDesc}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                 <label class="control-label"> <strong>Date of Event</strong> </label>
	                 <label class="control-label">{{lifeEventCoverDetails.eventDate}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
					 
		         <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>Have you successfully applied for an increase in cover due to a life event within the last 12 months within this calendar year?</strong></label>
	                <label class="control-label">{{lifeEventCoverDetails.eventAlreadyApplied}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverDetails.documentName=='Yes'">
	                <label class="control-label"> <strong>Documents</strong> </label>
	                  <label class="control-label"><ul class="document-name-text">
	              <li class = "text-overflow-ellipsis" ng-repeat="fileDetails in uploadedFileDetails">
	              {{fileDetails.name}}
	              </li>
	              </ul></label>
	              </div>
	              
	               <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverDetails.documentName=='No'">
	                <label class="control-label"> <strong>If you have not been able to attach all the required documents, please check the box to indicate that you will send the supporting documents to the address below. </strong></label>
	                <label class="control-label">Yes</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            
	             <hr class="primeline hidden-xs" ng-if="lifeEventCoverDetails.documentName=='No'">
	            <div class="row rowcustom odd " ng-if="lifeEventCoverDetails.documentName=='No'">
	              <div class="col-sm-12 col-xs-12">
	                <label class="control-label"><strong>Address to send supporting documents</strong></label>
	                <label class="control-label"><label class="control-label"><p style="padding-top: 8px;"> Postal address: <br><br>&emsp;Statewide Super<br>&emsp;GPO Box 1749<br>&emsp;ADELAIDE SA 5001</p></label></label>
	              </div>
	            </div> 
		        
		      
		         </div>
		        </div>
	       	</div>
	       	</div>
     		<!-- Life Events Sumamry Ends -->
     		<!-- Terms and conditions -->
     		<div class="panel panel-default nobg">
		        <div class="panel-heading">  
		          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" class="  ">
		           <h4 class="panel-title"> Terms &amp; conditions </h4>
		          </a> 
		        </div>
		        <div id="collapse4" class="panel-collapse collapse in ">
		          <div class="bgwhite">            
		             <div class="row rowcustom ">
		              <div class="col-sm-12">
		              <div class="scrollBox">
		               <div ng-include="'../../eapply/static/statewide/general_Consent.html'"></div>
		           			</div>
		             </div>
		            </div>
		            <!-- Row ends -->
		            <hr class="primeline">
		              <div class="row rowcustom ">
		                <div class="col-sm-12">
		                  <div data-toggle="buttons" class=" btn-group-vertical    ">
		                   <div class="row rowcustom" ng-class="{'has-error':CCGCackFlag}" ng-click="checkAckStateGC()">
		                     <div class="col-sm-12">
		                      <label class="btn  checkboxes   " id="generalConsentLabel">
		                       <input type="checkbox" class=" " id="option2">
		                       <span></span> I agree to all the above Terms &amp; Conditions 
		                      </label>
		                      <p ng-if="CCGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
		                     </div>
		                    </div>
		                  </div>
		                 </div>
		              </div>
		            
		            <hr class="primeline">
		            <div class=" row rowcustom">
		               <div class="col-sm-3 col-xs-12">
				        <a class="" href="" data-parent="#accordion" data-toggle="collapse">
			            	<button  class="btn btn-primary btn-back w100p" type="button"  ng-click="go('/auralifeevent/')">Previous</button>
				        </a>
		              </div>
		               <div class="col-sm-3 col-xs-12 alignleft hidden-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-click="saveSummary()" > Save &amp; Exit</button>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12 aligncenter   visible-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-click="saveSummary()" > Save &amp; Exit</button>
              </div>
		              <div class="col-sm-3 col-xs-12">
		                <button type="button" class="btn btn-primary w100p" ng-click="navigateToDecision()" >Submit</button>
		              </div>
		        
		            </div>
		         </div>
		        </div>
		    </div>
    
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 65 18 65</h3>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- /container --> 
<div ng-include="'../../eapply/static/statewide/footer.html'"></div>


<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider2' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount2' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script>

