<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/statewide/header.html'"></div>
</div>

<h2 ng-show="errorOccured" style="color:red;text-align: center;">Something went wrong...Please try after sometime</h2>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
<div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">2 / 2</span> Confirmation </div>
    </div>
    <div class="col-xs-3"> <img src="static/statewide/images/bg_blank.png" class=" icoMenuRev active " ng-click="go('/convertMaintain/2')"> <img src="static/statewide/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 65 18 65</h3>
      <h3 class="helpNo"> </h3>
    </div>
     
  </div>
   <div class="col-sm-9 landingPageBoxes">
	   <div class="menu hidden-xs">
	      <div class="col-sm-4 cn first pointer" ng-click="go('/convertMaintain/2')">
	        <h5 style="color:#0066a1">Step 1</h5>
	        <div class="txtHolder pointer"><a href="#" class="ui-link"> Personal details</a></div>
	        <img src="static/statewide/images/bg_blank.png" class=" right">
	      </div>
	      <div class="col-sm-4 cnn">
	        <h5 style="color:#0066a1;">Step 2</h5>
	        <div class="txtHolder">Confirmation</div>
	        <img src="static/statewide/images/bg_blank.png" class=" left"> 
	      </div>
	    </div>
	    <div class="panel-group" id=" ">
	      <div class="panel panel-default twoColData">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="  ">
	          	<h4 class="panel-title">Personal details </h4>
	          </a> 
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse in ">
	          <div class="panel-body"> 
	           
	           
	           <!-- Two column data Change -->
	           
	           <!-- Row starts -->
	            <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>First name</strong> </label>
	                <label class="control-label">{{changeCoverDetails.firstName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                 <label class="control-label"> <strong>Last name</strong> </label>
	                 <label class="control-label">{{changeCoverDetails.lastName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	            	<div class="col-sm-6 col-xs-12">
	                	<label class="control-label"> <strong>Date of birth</strong> </label>
	                	<label class="control-label"> {{changeCoverDetails.dob}}</label>
	              	</div>
	              	<div class="col-sm-6 col-xs-12">
	               		<label class="control-label"> <strong>Email address</strong> </label>
	               		<label class="control-label">{{changeCoverDetails.email}}</label>
	              	</div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <!-- <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>Gender</strong></label>
	                <label class="control-label">{{changeCoverOccDetails.gender}}</label>
	              </div> -->
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact number </strong></label>
	                <label class="control-label">{{changeCoverDetails.contactPhone}}</label>
	              </div>
	              <!-- <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact type</strong> </label>
	                <label class="control-label">{{changeCoverDetails.contactType}}</label>
	              </div> -->
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>What time of day do you prefer to be contacted?</strong></label>
	               <label class="control-label" ng-if="changeCoverDetails.contactPrefTime=='Morning (9am - 12pm)'">Morning (9am&ndash;12pm)</label>
	               <label class="control-label" ng-if="changeCoverDetails.contactPrefTime=='Afternoon (12pm - 6pm)'">Afternoon (12pm&ndash;6pm)</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd" >
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Are you a smoker?</strong> </label>
	               <label class="control-label">{{changeCoverOccDetails.smokerQuestion}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12" >
	               <label class="control-label"> <strong>What industry do you work in?</strong> </label>
	               <label class="control-label">{{changeCoverOccDetails.industryName}}</label>
	              </div>              
	            </div>
	            <!-- Row ends -->
	            
	            <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>What is your current occupation?</strong></label>
	                <label class="control-label" ng-show="changeCoverOccDetails.occupation !='Other'">{{changeCoverOccDetails.occupation}}</label>
	                <label class="control-label" ng-show="changeCoverOccDetails.occupation =='Other'">{{changeCoverOccDetails.otherOccupation}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12" ng-if="changeCoverOccDetails.withinOfficeQue == 'Yes' || changeCoverOccDetails.withinOfficeQue == 'No'">
	               <label class="control-label"><p align="justify"> <strong>Are your duties entirely undertaken within an office environment?</strong></p></label>
	               <label class="control-label">{{changeCoverOccDetails.withinOfficeQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends -->
	            <div ng-if="changeCoverOccDetails.managementRoleQue == 'Yes' || changeCoverOccDetails.managementRoleQue == 'No' || changeCoverOccDetails.hazardousQue == 'Yes' || changeCoverOccDetails.hazardousQue == 'No'">
	            <hr class="primeline hidden-xs" ng-if="changeCoverOccDetails.tertiaryQue == 'Yes' || changeCoverOccDetails.tertiaryQue == 'No' || changeCoverOccDetails.managementRoleQue == 'Yes' || changeCoverOccDetails.managementRoleQue == 'No'">
	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12" ng-if="changeCoverOccDetails.tertiaryQue == 'Yes' || changeCoverOccDetails.tertiaryQue == 'No'">
	              	<label class="control-label"> <p align="justify"><strong>Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</strong></p></label>
	              	<label class="control-label">{{changeCoverOccDetails.tertiaryQue}}</label>
	              </div>
	              
	              <div class="col-sm-6 col-xs-12" ng-if="changeCoverOccDetails.managementRoleQue == 'Yes' || changeCoverOccDetails.managementRoleQue == 'No'">
	              <label class="control-label"> <strong>Do you spend more than 10% of your working time outside of an office environment?  </strong></label>
	              <label class="control-label">{{changeCoverOccDetails.managementRoleQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends -->
	            
	            <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12" ng-if="changeCoverOccDetails.hazardousQue == 'Yes' || changeCoverOccDetails.hazardousQue == 'No'">
	               <label class="control-label"> <strong>Do you work in a hazardous environment and/or perform any duties of a manual nature?</strong></label>
	               <label class="control-label">{{changeCoverOccDetails.hazardousQue}}</label>
	              </div>
	              
	              <div class="col-sm-6 col-xs-12">
	              <label class="control-label"> <strong>Are you currently able to carry out all the identifiable duties of your current employment on an ongoing basis for 35 hours per week (whether or not you currently work these hours) without restriction due to accident, illness or injury?</strong> </label>
	              <label class="control-label">{{changeCoverOccDetails.hoursPerWeekQuestion}}</label>
	              </div>
	            </div>
	            </div>
	            <div ng-if="!(changeCoverOccDetails.managementRoleQue == 'Yes' || changeCoverOccDetails.managementRoleQue == 'No' || changeCoverOccDetails.hazardousQue == 'Yes' || changeCoverOccDetails.hazardousQue == 'No')">
	            	
	           <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12" ng-if="changeCoverOccDetails.tertiaryQue == 'Yes' || changeCoverOccDetails.tertiaryQue == 'No'">
	              	<label class="control-label"> <p align="justify"><strong>Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</strong></p></label>
	              	<label class="control-label">{{changeCoverOccDetails.tertiaryQue}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	              <label class="control-label"> <strong>Are you currently able to carry out all the identifiable duties of your current employment on an ongoing basis for 35 hours per week (whether or not you currently work these hours) without restriction due to accident, illness or injury?</strong> </label>
	              <label class="control-label">{{changeCoverOccDetails.hoursPerWeekQuestion}}</label>
	              </div>
	            </div>
	            
	            </div>
	            <div>
	            </div>
	             <!-- Row ends -->
	              <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Are you permanently employed?</strong> </label>
	               <label class="control-label">{{changeCoverOccDetails.permanentlyEmployedQuestion}}</label>
	              </div>
	              
	              <div class="col-sm-6 col-xs-12">
	              	<label class="control-label"> <strong>Are you a citizen or permanent resident of Australia?</strong> </label>
	              	 <label class="control-label">{{changeCoverOccDetails.citizenQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends -->
	            
	            <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	              <label class="control-label"> <strong>Do you work 15 or more hours per week?</strong> </label>
	              <label class="control-label">{{changeCoverOccDetails.fifteenHr}}</label>
	              </div>
	              
	              <div class="col-sm-6 col-xs-12">
	              <label class="control-label"> <strong>Annual salary</strong></label>
	              <label class="control-label">{{changeCoverOccDetails.salary | currency:undefined:0}}</label>
	              </div>
	            </div>
	             <!-- Row ends -->
	             
	             
	           
	           <!--  Change ends -->
	           	           
	            <!-- Row starts 
	            <!--<div class="row rowcustom first">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>First name</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	                <label class="control-label">{{changeCoverDetails.firstName}}</label>
	              </div>
	            </div>
	            <!-- Row ends 
	            <hr class="primeline">
	            <!-- Row starts
	            <div class="row rowcustom first">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Last name</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	                <label class="control-label">{{changeCoverDetails.lastName}}</label>
	              </div>
	            </div>
	            <!-- Row ends 
	             <hr class="primeline">
	             <!-- Row starts 
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>Gender</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.gender}}</label>
	              </div>
	            </div>
	            <hr class="primeline">
	             <!-- Row starts 
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>Preferred contact type</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverDetails.contactType}}</label>
	              </div>
	            </div>
	             <hr class="primeline">
	            
	            <!-- Row starts 
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Preferred contact number </strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverDetails.contactPhone}}</label>
	              </div>
	            </div>
	            <hr class="primeline">
	           
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Email address</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverDetails.email}}</label>
	              </div>
	            </div>
	            <hr class="primeline">
	            
	            <!-- Row starts 
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Date of birth</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label"> {{changeCoverDetails.dob}}</label>
	              </div>
	            </div>
	            <!-- Row ends 
	            
	            <!-- Row ends 
	           
	            <!-- Row ends
	            <hr class="primeline">
	            
	            <!-- Row starts 
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>What time of day do you prefer to be contacted?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label" ng-if="changeCoverDetails.contactPrefTime=='Morning (9am - 12pm)'">Morning (9am&ndash;12pm)</label>
	               <label class="control-label" ng-if="changeCoverDetails.contactPrefTime=='Afternoon (12pm - 6pm)'">Afternoon (12pm&ndash;6pm)</label>
	              </div>
	            </div>
	            <!-- Row ends 
	            <hr class="primeline">
	            <!-- Row starts 
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Do you work 15 or more hours per week?</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.fifteenHr}}</label>
	              </div>
	            </div>
	            <!-- Row ends
	             
	            <!-- Row starts 
	            <div class="row rowcustom ">
	            <hr class="primeline">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Do you, directly or indirectly, own all or part of a business from which you earn your regular income?</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.ownBussinessQues}}</label>
	              </div>
	            </div>
	            <!-- Row ends 
	             
	            <!-- Row starts 
	            <div class="row rowcustom" ng-if="changeCoverOccDetails.ownBussinessQues == 'Yes'">
	            <hr class="primeline">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>Are you currently: <br> 
                	 <li> Capable of, and performing all of the usual identifiable duties from your occupation, without restriction due to injury or illness?</li></strong>
                    </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.ownBussinessYesQues}}</label>
	              </div>
	            </div>
	            <!-- Row ends 
	            
	            <!-- Row starts 
	            <div class="row rowcustom" ng-if="changeCoverOccDetails.ownBussinessQues == 'No'">
	             <hr class="primeline">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>With your current job, are you currently: <br> <li> Actively Performing all your normal duties of your occupation; and </li> <br> <li> Working your usual hours without limitation of injury or illness; and </li>
	                 <br> <li> Not entitled to, or not receiving any income support benefits of any kind.</li></strong>
	                </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.ownBussinessNoQues}}</label>
	              </div>
	            </div>
	            <!-- Row ends 
	            <hr class="primeline">
	            <!-- Row ends
	            
	            <!-- Row starts 
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Are you a citizen or permanent resident of Australia?</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.citizenQue}}</label>
	              </div>
	            </div>
	            <!-- Row ends 
	            <hr class="primeline">
	            
	            
	            <!-- Row starts 
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>What industry do you work in?</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.industryName}}</label>
	              </div>
	            </div>
	            <!-- Row ends 
	            <hr class="primeline">
	            <!-- Row starts 
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>What is your current occupation?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12" >
	                <label class="control-label" ng-show="changeCoverOccDetails.occupation !='Other'">{{changeCoverOccDetails.occupation}}</label>
	                <label class="control-label" ng-show="changeCoverOccDetails.occupation =='Other'">{{changeCoverOccDetails.otherOccupation}}</label>
	              </div>
	             
	            </div>
	            <!-- Row ends 
	            
	            <!-- Row starts
	            <div class="row rowcustom" ng-if="changeCoverOccDetails.withinOfficeQue == 'Yes' || changeCoverOccDetails.withinOfficeQue == 'No'">
	              <hr class="primeline">
	              <div class="col-sm-5">
	                <label class="control-label"><p align="justify"> <strong>Are your duties entirely undertaken within an office environment?</strong></p></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.withinOfficeQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends 
	            
	             <!-- Row starts 
	            <div class="row rowcustom" ng-if="changeCoverOccDetails.tertiaryQue == 'Yes' || changeCoverOccDetails.tertiaryQue == 'No'">
	              <hr class="primeline">
	              <div class="col-sm-5">
	                <label class="control-label"> <p align="justify"><strong>Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</strong></p></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.tertiaryQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends 
	           
	             <!-- Row starts 
	            <div class="row rowcustom" ng-if="changeCoverOccDetails.managementRoleQue == 'Yes' || changeCoverOccDetails.managementRoleQue == 'No'">
	               <hr class="primeline">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Do you spend more than 10% of your working time outside of an office environment?  </strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.managementRoleQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends 
	           
	            <!-- Row starts 
	            <div class="row rowcustom" ng-if="changeCoverOccDetails.hazardousQue == 'Yes' || changeCoverOccDetails.hazardousQue == 'No'">
	               <hr class="primeline">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Do you work in a hazardous environment and/or perform any duties of a manual nature?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.hazardousQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends 
	            <hr class="primeline">
	            <!-- Row starts 
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>Gender</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{changeCoverOccDetails.gender}}</label>
	              </div>
	            </div>
	            <!-- Row ends 
	            <hr class="primeline">
	            <!-- Row starts 
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Annual salary</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	              <label class="control-label">{{changeCoverOccDetails.salary | currency:undefined:0}}</label>
	              </div>
	            </div>
	            -->
	            <!-- Row ends -->
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default nobg">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseCover" class="">
	            <h4 class="panel-title"> Your cover</h4>
	            </a>
	        </div>
	        <div id="collapseCover" class="panel-collapse collapse  in    ">
	           <div class="panel-body">
	           <div class="parent-flex-container">
	            <!-- Death Cover Details Starts--> 
	            <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Death<br>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p class="color3">{{changeCoverDetails.existingDeathAmt | currency:undefined:0}} ({{changeCoverDetails.existingDeathUnits}}Unit(s))</p>
	                <h5 class=" color2">New cover</h5>
	                <p class="color3">{{deathAddnlDetails.deathFixedAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category </h5>
	                <p class="color3">{{changeCoverDetails.deathOccCategory}}</p>
	                <h5 class=" color2">{{changeCoverDetails.freqCostType}} cost</h5>
	                <p class="color3">{{deathAddnlDetails.deathCoverPremium | currency}}</p>
	              </div>
					<p class="spacer">&nbsp;</p>
	            </div>
	            <!-- Death Cover Details Ends--> 
	            
	            <p class="spacer visible-xs">&nbsp;</p>
	            
	           <!-- TPD Cover Details Starts--> 
	           <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Total &amp; permanent<br> disablement</strong> 
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px    aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p class="color3">{{changeCoverDetails.existingTpdAmt | currency:undefined:0}} ({{changeCoverDetails.existingTPDUnits}}Unit(s))</p>
	                <h5 class=" color2">New cover</h5>
	                <p class="color3">{{tpdAddnlDetails.tpdFixedAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category </h5>
	                <p class="color3">{{changeCoverDetails.tpdOccCategory}}</p>
	                <h5 class=" color2">{{changeCoverDetails.freqCostType}} cost</h5>
	                <p class="color3">{{tpdAddnlDetails.tpdCoverPremium | currency}}</p>
	              </div>
	              <p class="spacer">&nbsp;</p>
	              </div>
	             <!-- TPD Cover Details Ends--> 
	             
	             <p class="spacer visible-xs">&nbsp;</p>
	             
	             <!-- IP Cover Details Starts-->
	             <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Salary   <br>
	                continuance   <span class="visible-sm"><br>
	                </span></strong>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <!-- <p>{{changeCoverDetails.existingIPAmt | currency:undefined:0}}</p> -->
	                <p class="color3">{{ipAddnlDetails.ipFixedAmt | currency:undefined:0}} ({{changeCoverDetails.existingIPUnits}}Unit(s))</p>
	                <h5 class=" color2">New cover</h5>
	                <p class="color3">{{ipAddnlDetails.ipFixedAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category </h5>
	                <p class="color3">{{changeCoverDetails.ipOccCategory}}</p>
	                <h5 class=" color2">Waiting period</h5>
	                <p class="color3">{{ipAddnlDetails.waitingPeriod}}</p>
	                <h5 class=" color2">Benefit period</h5>
	                <p class="color3">{{ipAddnlDetails.benefitPeriod}}</p>
	                <h5 class=" color2">{{changeCoverDetails.freqCostType}} cost</h5>
	                <p class="color3">{{ipAddnlDetails.ipCoverPremium | currency}}</p>
	              </div>
	               <p class="spacer">&nbsp;</p> 
	               </div>
	               <!-- IP Cover Details Ends-->
	             <!-- <div class="box mt10px aligncenter "> 
	                <p class=" mt15px">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class=" visible-sm ">&nbsp;</p>
	              </div> -->
	            </div>
	             
			           <div class="row  mt0  coverbg seccolor " ng-if="auraDetails == null || auraDetails.specialTerm == false">
			            <div class="col-sm-9 col-xs-12">
			              <h5 class="coverval">&nbsp;Total {{changeCoverDetails.freqCostType}} cost</h5>
			            </div>
			            <div class="col-sm-3 col-xs-6 alignright hidden-xs">
			              <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}&nbsp;</h4>
			            </div>
			            <div class="col-sm-3 col-xs-6 visible-xs">
			              <h5 class="coverval" style="padding-left:9px;">{{changeCoverDetails.totalPremium | currency}}&nbsp;</h5>
			            </div>
		              </div>
		           	  <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by StateWide Super</p> 
		            
	             <!-- <div class="box mt10px aligncenter "> 
	                 <p class=" mt15px">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer visible-sm visible-md">&nbsp;</p>
	                 <p class=" visible-sm ">&nbsp;</p>
	               </div> -->
	            </div>
	          </div>
	          </div>
	         <!-- <div ng-if="auraDetails == null || auraDetails.specialTerm == false"> 
	           <div class="row  mt0  coverbg seccolor ">
	            <div class="col-sm-9 col-xs-6">
	              <h5>Total {{changeCoverDetails.freqCostType}} cost</h5>
	            </div>
	            <div class="col-sm-3 col-xs-6 alignright hidden-xs">
	              <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}</h4>
	            </div>
	            <div class="col-sm-3 col-xs-6 alignright visible-xs">
	              <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}</h4>
	            </div>
              </div>
           	  <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by HOSTPLUS Super</p> 
	         </div>  --> 
	            
        <div class=" secrow1 " ng-if="auraDetails.specialTerm == true && auraDetails.overallDecision == 'ACC' && ((auraDetails.deathLoading != null && auraDetails.deathLoading != '0.0') || (auraDetails.tpdLoading != null && auraDetails.tpdLoading != 0.0) || (auraDetails.ipLoading != null && auraDetails.ipLoading != 0.0))">
         <div class="lwt"></div>
         <div class="rwt"></div>
          <div class="panel panel-default nobg">
	        <div class="col-sm-12 bgwhite">
			 <!-- Row starts -->
            <div class="row rowcustom">
              <div class="col-sm-12">
			     <div class="row rowcustom ">
                  <div class="col-sm-12">
                    <p> Loadings</p>
                   </div>
                  </div>
		           <!-- Row ends -->
		           <hr class="primeline">
		             <div class="row rowcustom ">
		               <div class="col-sm-12">
		                 <div data-toggle="buttons" class=" btn-group-vertical">
		                  <div class="row rowcustom" >
		                    <div class="col-sm-12" ng-if="auraDetails.deathLoading != null && auraDetails.deathLoading != 0.0">
		                      <h6>Death</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;"> 
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to 
		                         a loading of {{auraDetails.deathLoading}}%, an additional premium in the amount of {{deathLoadingCost | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="auraDetails.tpdLoading != null && auraDetails.tpdLoading != 0.0">
		                      <h6>TPD</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;"> 
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to 
		                         a loading of {{auraDetails.tpdLoading}}%, an additional premium in the amount of {{tpdLoadingCost | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="auraDetails.ipLoading != null && auraDetails.ipLoading != 0.0">
		                      <h6>Income protection</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;"> 
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to 
		                         a loading of {{auraDetails.ipLoading}}%, an additional premium in the amount of {{ipLoadingCost | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                   </div>
		                 </div>
		                </div>
		             </div>
			   </div>
             </div>
            </div>
         </div>
        </div>
      <div class="secrow1" ng-if="auraDetails.specialTerm == true && auraDetails.overallDecision == 'ACC' && (auraDetails.deathExclusions != null || auraDetails.tpdExclusions != null || auraDetails.ipExclusions != null)">
        <div class="lwt"></div>
        <div class="rwt"></div>
         <div class="panel panel-default nobg">
	        <div class="col-sm-12 bgwhite">
			 <!-- Row starts -->
            <div class="row rowcustom">
              <div class="col-sm-12">
			     <div class="row rowcustom ">
                  <div class="col-sm-12">
                    <p> Exclusions</p>
                   </div>
                  </div>
		           <!-- Row ends -->
	                <hr class="primeline">
		             <div class="row rowcustom ">
		               <div class="col-sm-12">
		                 <div data-toggle="buttons" class=" btn-group-vertical">
		                  <div class="row rowcustom" >
	                    <div class="col-sm-12" ng-if="auraDetails.deathExclusions != null">
		                      <h6>Death</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;"> {{auraDetails.deathExclusions}}
		                       </p>
		                    </div>
	                    <div class="col-sm-12" ng-if="auraDetails.tpdExclusions != null">
		                      <h6>TPD</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;"> {{auraDetails.tpdExclusions}}
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="auraDetails.ipExclusions != null">
		                      <h6>Income protection</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;"> {{auraDetails.ipExclusions}}
						       </p>
		                    </div>
		                   </div>
		                 </div>
	                </div>
		             </div>
			   </div>
             </div>
            </div>
         </div>
		</div>	  
            <div class="col-sm-12 bgwhite " ng-if="auraDetails.specialTerm == true && auraDetails.overallDecision == 'ACC' ">
              <!--<div class="row rowcustom">
                   <div class="col-sm-12"></div>
           	    </div><hr class="primeline"> -->
             <div class="row rowcustom " ng-class="{'has-error':LEFlag}" ng-click="checkAckStateLE()">
               <div class="col-sm-12">
                 <div data-toggle="buttons" class="btn-group-vertical">
                  <div class="row rowcustom">
                    <div class="col-sm-12">
                     <label class="btn  checkboxes   " id="lodadingExclusionLabel">
                      <input type="checkbox" class=" " id="lodadingExclusionId">
                      <span></span> I acknowledge I have read and understood the above exclusion(s) and/or loading(s) which apply to this cover.
                     </label>
                    </div>
                   </div>
                 </div>
                </div>
             </div>
            </div>
            <div  ng-if="auraDetails.specialTerm == true">
             <div class="row  mt0  coverbg seccolor ">
           <div class="col-sm-9 col-xs-6">
             <h5>Total {{changeCoverDetails.freqCostType}} cost</h5>
           </div>
           <div class="col-sm-3 col-xs-6 alignright hidden-xs">
             <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}</h4>
           </div>
           <div class="col-sm-3 col-xs-6 alignright visible-xs">
             <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}</h4>
           </div>
            </div>
         	  <p class=" note aligncenter clearfix color2 mt15px" > Important: The final amount and cost of your total insurance coverage will be notified in writing by Statewide.
                                                                  To update your cover details, click on 'Personal details' in the navigation bar above.</p>
       </div>    
           
           
           
             
         <!--     <div class="row  mt0  coverbg seccolor ">
            <div class="col-sm-9 col-xs-6">
              <h5>Total weekly cost</h5>
            </div>
            <div class="col-sm-3 col-xs-6 alignright">
              <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}</h4>
            </div>
             </div>
          <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by HESTA SUPER</p>
          -->
          
      </div>
      <!-- Check bok for loading and exclusions  -->
        
       <div class="panel panel-default">
        <div class="panel-heading">  
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" class="  ">
           <h4 class="panel-title"> Terms &amp; conditions </h4>
          </a> 
        </div>
        <div id="collapse4" class="panel-collapse collapse in ">
          <div class="col-sm-12 bgwhite">
			 <!-- Row starts -->
           <!--  <div class="row rowcustom">
              <div class="col-sm-12">
               <p> <strong>Duty of Disclosure </strong></p>
               <p> <strong class="color2">Insurance duty of disclosure </strong></p>
                <p align="justify">Before HESTA SUPER as Trustee of the Fund enters into a life insurance contract in respect of the life of another person (a member), it has a duty to tell the insurer anything that it knows or could reasonably be expected to know that may affect the insurer's decision to provide the insurance and on what terms.</p>
                <p align="justify">HESTA SUPER has this duty of disclosure until the insurance is provided. HESTA SUPER has the same duty before it extends, varies or reinstates the contract.</p>
                <p align="justify">CareSuper does not need to tell the insurer anything that:
                	<br>
               		<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
               			<li>Reduces the risk of the insurance, or</li>
               			<li>Is common knowledge, or</li>
               			<li>The insurer knows or should know as an insurer, or</li>
               			<li>The insurer waives the duty to tell the insurer about.</li>
           			</ul>
       			</p>
                
                <p>If you as a member of CareSuper do not tell the insurer something</p>
                <p align="justify">If you as the person whose life is to be insured as a member of CareSuper do not tell the insurer something that you know or could reasonably be expected to know that may affect the insurer's decision to provide the insurance and on what terms, this may be treated as a failure by CareSuper.</p>
                <p >If CareSuper does not tell the insurer something</p>
                <p align="justify">In exercising the following rights, the insurer may consider whether different types of cover can constitute separate contracts of life insurance.</p>
                <p>If the insurer does, it may apply the following rights separately to each type of cover.</p>
                <p>
                	<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
                		<li>If CareSuper does not tell the insurer anything they are required to and the insurer would not have provided the 
                		 insurance if they had been told, the insurer may avoid the contract within three years of entering into it.</li>
                		<li>If the insurer chooses not to avoid the contract, it may at any time reduce the amount of insurance provided. This would be worked out using the
                		 formula that takes into account the premium that would have been payable if CareSuper had told the insurer everything it should have. However, 
                		 if the contract has a surrender value or provides cover on death, the insurer may only exercise this right within three 
                		 years of entering into the contract.</li>
                		<li>If the insurer chooses not to avoid the contract or reduce the amount of insurance provided, it may at any time vary the contract in a way that places the insurer in the same position it would have been in if CareSuper had told the insurer everything it should have.  However, this right does not apply if the contract has a surrender value or provides cover on death.</li>
                		<li>If the failure to comply with the duty of disclosure is fraudulent, the insurer may refuse to pay a claim and treat the contract as if it never existed.</li>
               		</ul>
           		</p>
           		<p> <strong>Duty of disclosure </strong></p>
               <p> <strong class="color2">Insurance duty of disclosure </strong></p>
                <p align="justify">Before you enter into a contract of life insurance with an Insurer, you have a duty, under the Insurance Contracts Act 1984, to disclose to the Insurer every matter that you know, or could reasonably be expected to know, is relevant to the Insurer's decision whether to accept the risk of the insurance and, if so, on what terms. This duty remains until the Insurer advises you that your application for cover has been accepted. You have the same duty to disclose those matters to the Insurer before you vary or reinstate a contract of life insurance.</p>
                <p align="justify"> Your duty however does not require disclosure of a matter:
                	<br>
               		<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
               			<li>that diminishes the risk to be undertaken by the insurer;</li>
               			<li>that is common knowledge;</li>
               			<li>that your insurer knows or, in the ordinary course of business, ought to know; or</li>
               			<li>as to which compliance with your duty is waived by the Insurer.</li>
           			</ul>
       			</p>
                
                <p><strong>Non-Disclosure</strong></p>
                <p align="justify">If you fail to comply with your duty of disclosure and the Insurer would not have entered into the contract on any terms if the failure had not occurred, the Insurer may avoid the contract within 3 years of entering into it.  If your non-disclosure is fraudulent, the Insurer may avoid the contract at any time.</p>
                <p align="justify">An Insurer who is entitled to avoid a contract of life insurance may, within 3 years of entering into it, elect not to avoid it but to reduce the sum that you have been insured for in accordance with a formula that takes into account the premium that would have been payable if you had disclosed all relevant matters to the Insurer.</p>
                <p><strong>If HESTA SUPER does not tell the insurer something about you</strong>
                <br>
                <p align="justify">In exercising the following rights, the insurer may consider whether different types of cover can constitute separate contracts of life insurance.</p>
                <p>If the insurer does, it may apply the following rights separately to each type of cover.</p>
                <p>
                	<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
                		<li>If HESTA SUPER does not tell the insurer something it is required to and the insurer would not have provided you with the insurance if it had been told, the insurer may avoid the contract within three years of entering into it.</li>
                		<li>If the insurer chooses not to avoid the contract, it may at any time reduce the amount of insurance provided to you. This would be worked out using a formula that takes into account the premium that would have been payable if HESTA SUPER had told the insurer everything it should have. However, if the contract has a surrender value or provides cover on death, the insurer may only exercise this right within three years of entering into the contract.</li>
                		<li>If the insurer chooses not to avoid the contract or reduce the amount of insurance provided, it may at any time vary the contract in a way that places the insurer in the same position it would have been in if HESTA SUPER had told the insurer everything it should have. However, this right does not apply if the contract has a surrender value or provides cover on death.</li>
                		<li>If the failure to comply with the duty of disclosure is fraudulent, the insurer may refuse to pay a claim and treat the contract as if it never existed.</li>
               		</ul>
           		</p>
           		  <p align="justify">In exercising its rights, the insurer may consider whether different types of cover can constitute separate contracts of insurance, and may apply its rights separately to each type of cover.</p>
              </div>
            </div>
             <hr class="primeline">
              <div class="row rowcustom " ng-class="{'has-error':CCDDackFlag}" ng-click="checkAckStateDD()">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom">
                     <div class="col-sm-12">
                      <label class="btn  checkboxes   " id="DutyOfDisclosureLabel">
                       <input type="checkbox" class=" " id="option2">
                       <span></span> I acknowledge and consent to the above.
                      </label>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            Row ends
            <hr class="primeline">
            <div class="row rowcustom ">
              <div class="col-sm-12">
               <p> <strong>Privacy statement</strong></p>
               <p> <strong class="color2">Your privacy with MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife' or the 'Insurer')</strong></p>
               <p align="left">If you make a claim under this policy the Insurer may conduct investigations to assess the value and validity of the claim. 
               This may involve the use of investigation agents, legal advisors and the collection of personal data that MetLife believes is relevant.
                MetLife complies with the Privacy Act 1988 and the principles laid out on their privacy policy, which is readily available on request and also available online at 
                  <a href="http://www.metlife.com.au/privacy" class="" target="_new"> www.metlife.com.au/privacy</a>
                </p>
                <p> <strong class="color2">Your privacy as a member of Your Super Fund </strong></p>
                <p align="justify">Your privacy with MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife and the Insurer')</p>
                <p align="justify">The information you provide in this form is collected by and held by HOSTPLUS' administrator, Superpartners to administer your insurance within your HOSTPLUS account. If you do not provide the requested information, we may be unable to properly administer your insurance. Your personal and sensitive information will only be disclosed to HOSTPLUS staff 
                as required, our administrators Superpartners, Metlife Insurance Limited and/or our legal or other professional advisors if reasonably necessary. 
               </p>
               <p align="justify">The HOSTPLUS Privacy Policy provides information about overseas disclosure of personal information, how you may access and seek correction of your personal information as well as how you can make a complaint about a breach of the Australian Privacy Principles or the Privacy Act 1988. You can access the HOSTPLUS Privacy Policy at <a href="http://www.hostplus.com.au/privacy" class="" target="_new"> www.hostplus.com.au/privacy.</a>
               For all privacy related questions or privacy related matters you can contact HOSTPLUS on 1300 HOSTPLUS (1300 65 18 65) or via email at <a href="mailto:privacy@mail.hostplus.com.au" class="" target="_new"> privacy@mail.hostplus.com.au</a></p>
             </div>
            </div>
            <hr class="primeline">
              <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':CCPPackFlag}" ng-click="checkAckStatePP()">
                     <div class="col-sm-12">
                      <label class="btn  checkboxes   " id="privacyPolicyLabel">
                       <input type="checkbox" class=" " id="option2">
                       <span></span>I acknowledge and consent to the  collection, use and disclosure of my personal information (including health information) in accordance with the privacy policies of CareSuper and MetLife.
                       <span></span>I acknowledge and consent to the above.
                      </label>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            Row ends
            <hr class="primeline"> -->
            
             <div class="row rowcustom ">
              <div class="col-sm-12">
              <div class="scrollBox">
               <div ng-include="'../../eapply/static/statewide/general_Consent.html'"></div>
       			</div>
             </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
              <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':CCGCackFlag}" ng-click="checkAckStateGC()">
                     <div class="col-sm-12">
                      <label class="btn  checkboxes   " id="generalConsentLabel">
                       <input type="checkbox" class=" " id="option2">
                       <span></span> I acknowledge and consent to the above.
                      </label>
                      <p ng-if="CCGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            
            <hr class="primeline">
            <div class=" row rowcustom">
               <div class="col-sm-3 col-xs-12">
		        <a class="" href="" data-parent="#accordion" data-toggle="collapse">
	             <button  class="btn btn-primary btn-back w100p" type="button"  ng-click="go('/convertMaintain/2')">Previous</button>
		        </a>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12">
                <button type="button" class="btn btn-primary w100p" ng-click="navigateToDecision()" >Submit</button>
              </div>
              <!-- <div class="col-sm-3 col-xs-12 alignleft hidden-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-click="saveSummary()" > Save &amp; exit</button>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12 aligncenter   visible-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-click="saveSummary()" > Save &amp; exit</button>
              </div> -->
            </div>
         </div>
        </div>
       </div>
      
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 65 18 65</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
<div ng-include="'../../eapply/static/statewide/footer.html'"></div>


<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider2' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount2' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script>

