<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/statewide/header.html'"></div>
</div>

<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
 <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">1 / 2</span> Personal details </div>
    </div>
    <div class="col-xs-3"> <img src="static/statewide/images/bg_blank.png" class=" icoMenuRev  "> <img src="static/statewide/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 65 18 65</h3>
      <h3 class="helpNo"> </h3>
    </div>
  </div>
  
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-4 cn first">
        <h5>Step 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="static/statewide/images/bg_blank.png" class=" right"> 
        </div>
    
      
      <div class="col-sm-4 cnn">
        <h5>Step 2</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="static/statewide/images/bg_blank.png" class=" left"> </div>
    </div>
    
    <!--Duty of Disclosure Section starts  -->
		<div class="panel-group" id="accordiondod">
			<div class="panel panel-default">				
				<div id="collapseduty" >
					<form autocomplete="off"  name="formduty" role="form" novalidate>
						<div class="panel-body">
							<div class=" col-sm-12">
								<p class="normal" style="text-align: justify; margin-top: 8px;">
								</p>
								<p><strong>You must click and read the Duty of Disclosure before proceeding</strong></p>  
               					 <hr>
                				<p>
                 				 <strong class="color">NOTICE OF THE DUTY OF DISCLOSURE FROM OUR LIFE INSURER TO YOU</strong>
                				</p>
                				<br>
								<p><strong class="color">DUTY OF DISCLOSURE</strong></p>
					<div class="scrollBox">
								<div ng-include="'../../eapply/static/statewide/discloser.html'"></div>
							</div>
								<div class="row rowcustom " ng-class="{'has-error':dodFlagErr}" >
										<div class="col-sm-12">
											<div class="btn-group-vertical" data-toggle="buttons">
												 <div class=" row rowcustom" >
	                                               <div class="col-sm-12" >
	                                                   <label class="btn checkboxes col-xs-12 ack-checkbox-label" id="dodLabel" ng-click="checkDodState()">
	                                                    <input type="checkbox" id="dodlabelCheck" name="dod" required>
	                                                    <span></span> <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above </div>
	                                                   </label><p ng-if="dodFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
	                                                   
	                                                </div>
												</div>
											</div>
										</div>
									</div>
								<p></p>
							</div>
						</div>
					</form>
				</div>
			</div>
		<!-- </div> -->

	<!--Duty of Disclosure Section starts  -->
	
    
    <!--Privacy Policy Section starts  -->
			<div class="panel panel-default">
				<div class="panel-heading" ng-click="isCollapsible('collapseprivacy', $event)">
					<a data-toggle="collapse" data-parent="#accordionprivacy" data-target="#collapseprivacy" class="collapsed">
						<h4 class="panel-title">Privacy statement</h4>
					</a>
				</div>
				<div id="collapseprivacy" class="panel-collapse collapse">

					<form autocomplete="off"  name="cancelprivacyPolicyForm" role="form" novalidate>
						<div class="panel-body">
							<div class=" col-sm-12">
								<p class="normal" style="text-align: justify; margin-top: 8px;"></p>
								<p>
									<strong>You must click and read the Privacy Statement before proceeding</strong>
								</p>
				<div class="scrollBox">
								<div ng-include="'../../eapply/static/statewide/privacy.html'"></div>
							</div>
								<div class="row rowcustom " ng-class="{'has-error':privacyFlagErr}" >
										<div class="col-sm-12">
											<div class="btn-group-vertical" data-toggle="buttons">
												 <div class=" row rowcustom" >
	                                               <div class="col-sm-12" >
	                                                   <label class="btn checkboxes col-xs-12 ack-checkbox-label" id="privacyLabel" ng-click="checkPrivacyState()">
	                                                    <input type="checkbox" id="privacylabelCheck" name="privacy" required>
	                                                    <span></span>  <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above </div>
	                                                   </label>
	                                                   <p ng-if="privacyFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the privacy statement.</p>
	                                                   </div>
												</div>
											</div>
										</div>
									</div>
								<p></p>
							</div>
						</div>
					</form>
				</div>
			</div>
		<!--Privacy Policy Section starts  -->
    
     <!--Contact Details Section starts  -->
      <!-- <div class="panel-group" id="accordionContact"> -->
      <div class="panel panel-default">
        <div class="panel-heading" ng-click="isCollapsible('collapseOne', $event)"> 
          <a data-toggle="collapse" data-parent="#accordionContact"  data-target="#collapseOne" class="collapsed">
           <h4 class="panel-title"> Contact details</h4>
          </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
         <form autocomplete="off"  name="formOne" role="form"  novalidate>
          <div class="panel-body"> 
               
            <!-- Row starts -->
            <div class="row rowcustom first">
              <div class="col-sm-12">
                <label class="control-label"> Please leave your contact details in the event we need to contact you</label>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           
            <div class="row rowcustom " >
              <div class="col-sm-5 col-sm-12" ng-class="{'has-error':(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required)}">
                <label class="control-label"> Email address </label>           
                <input class="form-control" ng-pattern="emailFormat" maxlength="50" ng-focus="checkPreviousMandatoryFields('contactEmail','formOne')" name="contactEmail" ng-class = "(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required)  ? 'error-border':''" ng-model="email" type="email" placeholder="Enter your email" required>
	            <span ng-if="(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required) || (formOne.$submitted && formOne.contactEmail.$error.pattern)" class="error">Please enter your email address</span>
              </div>
            
            <div class="col-md-7 col-sm-12"  ng-class="{'has-error':(formOne.contactPhone.$invalid && formOne.contactPhone.$touched) || ((formOne.$submitted && formOne.contactPhone.$error.required)  ||(formOne.$submitted && formOne.contactPhone.$error.pattern))}">
                <label class="control-label"> Preferred contact number </label>
              <div class="row">
              <div class="col-sm-5 col-xs-12 mmb10px">
                <select  class="form-control" ng-model="preferredContactType" ng-change="changePrefContactType()" ng-options="contactTypeOption for contactTypeOption in contactTypeOptions track by contactTypeOption">
                 <option value="">Please select</option>
                </select>
              </div>
              <div class="col-sm-7 col-xs-12">	
                <input class="form-control" ng-pattern="phoneNumbr" ng-disabled="!preferredContactType" phone-only id="preferrednumCCId" onkeyup="return isIntegerFun(this);"  onkeypress="return isIntegerFun(this);" maxlength="10" ng-focus="checkPreviousMandatoryFields('contactPhone','formOne')" name="contactPhone" ng-class = "{'error-border': formOne.contactPhone.$invalid && formOne.contactPhone.$touched || formOne.$submitted}" ng-model="changeCvrPhone" type="text" placeholder="Enter your Phone No" required>
                <span ng-if="(formOne.contactPhone.$invalid && formOne.contactPhone.$touched) || ((formOne.$submitted && formOne.contactPhone.$error.required)  ||(formOne.$submitted && formOne.contactPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
              </div>
              </div>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           <div class="row rowcustom" >
              <div class="col-lg-6 col-md-12" ng-class="{'has-error':(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required ) }">
                <label class="control-label"> What time of day do you prefer to be contacted? </label>
                <span id="tick 3" style=" visibility:hidden">
                 <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span>
                </span> 
              <div class="btn-group">
                <div class="col-xs-12 col-lg-6 p0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Morning (9am - 12pm)')}">
                      <input class="ipradio " ng-click="checkPreviousMandatoryFields('contactPrefTime','formOne')" name="contactPrefTime" 
                      ng-class = "(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required)  ? 'radio-validation':''"
                       ng-model="time" type="radio" value="Morning (9am - 12pm)" required>
                      <span></span> Morning (9am&ndash;12pm) </label>
                   </div>
                  <div class="col-xs-12 col-lg-6  p0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Afternoon (12pm - 6pm)')}">
                      <input class='ipradio' ng-click="checkPreviousMandatoryFields('contactPrefTime','formOne')" name="contactPrefTime"
                       ng-class = "(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required)  ? 'radio-validation':''" 
                      ng-model="time" type="radio" value="Afternoon (12pm - 6pm)" required>
                      <span></span> Afternoon (12pm&ndash;6pm) </label>              
                  </div>     
                 <span ng-if="(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
              </div>  
            </div> 
            <!-- <div class="col-lg-6 col-md-12" ng-class="{'has-error':(formOne.gender.$error.required && formOne.gender.$touched) || (formOne.$submitted && formOne.gender.$error.required )}">
                    <label class="control-label"> Gender </label>
                  <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                        <label class="btn radiobutton" ng-class="{'active': (gender == 'Male')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','formOne')" 
                       ng-class = "(formOne.gender.$error.required && formOne.gender.$touched) || (formOne.$submitted && formOne.gender.$error.required)  ? 'radio-validation':''" 
                      ng-model="gender" value="Male" required>
                          <span></span> Male </label>
                         </div>
                     <div class="col-xs-12 col-md-6">
                        <label class="btn   radiobutton" ng-class="{'active': (gender == 'Female')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','formOne')" 
                       ng-class = "(formOne.gender.$error.required && formOne.gender.$touched) || (formOne.$submitted && formOne.gender.$error.required)  ? 'radio-validation':''" 
                      ng-model="gender" value="Female" required>
                          <span></span> Female </label>                         
                        </div>
                    
                     <span class="error" ng-if="(formOne.gender.$error.required && formOne.gender.$touched) || (formOne.$submitted && formOne.gender.$error.required )">Please select gender</span>
                  </div>
                  </div> -->
                </div>
            
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">     
             	<a data-toggle="collapse" data-parent="#accordion"  >
             	<button class="btn btn-primary w100p" ng-click="formOneSubmit(formOne);" type="button">Continue</button>           
             	</a>
              </div>
             <!--  <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div> -->
            </div>
            </div>
            </form>
            </div>
          </div>
          </div>
      <!-- Contact Details Section ends -->
      
      
      <!-- Occupation section starts -->
      
      <div class="panel panel-default" >
        <div class="panel-heading" ng-click="isCollapsible('collapseTwo', $event)"> <a data-toggle="collapse"  data-target="#collapseTwo" class=" collapsed  ">
          <h4 class="panel-title">Occupation </h4>
          </a> </div>
        <div id="collapseTwo" class="panel-collapse collapse">
        
         <form autocomplete="off"  name="occupationForm" id="occupFormId" novalidate role="form">
          <div class="panel-body"> 
            <!-- Row starts -->
             <div class="row rowcustom" ng-class="{'has-error':(occupationForm.smokerQuestion.$error.required && occupationForm.smokerQuestion.$touched) || (occupationForm.$submitted && occupationForm.smokerQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Are you a smoker? <a class="icohelp"	ng-click="clickToOpen('A smoker is a person who has smoked any substance in the past 12 months')"></a></label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-xs-12 col-sm-6 ">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (smokerQuestion == 'Yes')}">
                      <input type="radio" name="smokerQuestion "  class="ipradio" ng-click="checkPreviousMandatoryFields('smokerQuestion','occupationForm')"
                       ng-class = "(occupationForm.smokerQuestion.$error.required && occupationForm.smokerQuestion.$touched) || (occupationForm.$submitted && occupationForm.smokerQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="smokerQuestion" type="radio" value="Yes" ng-change="" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (smokerQuestion == 'No')}">
                      <input type="radio" name="smokerQuestion"  class="ipradio" ng-click="checkPreviousMandatoryFields('smokerQuestion','occupationForm')"
                       ng-class = "(occupationForm.smokerQuestion.$error.required && occupationForm.smokerQuestion.$touched) || (occupationForm.$submitted && occupationForm.smokerQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="smokerQuestion" type="radio" value="No" ng-change="" required>
                      <span></span> No
                    </label>
                  </div>                  
                </div>
                <span class="error" ng-if="(occupationForm.smokerQuestion.$error.required && occupationForm.smokerQuestion.$touched) || (occupationForm.$submitted && occupationForm.smokerQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            <hr class="primeline">
          
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Do you work more than 15 hours per week?</label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-xs-12 col-sm-6  ">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (fifteenHrsQuestion == 'Yes')}">
                      <input type="radio" name="fifteenHrsQuestion "  class="ipradio" ng-click="checkPreviousMandatoryFields('fifteenHrsQuestion','occupationForm')"
                       ng-class = "(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="fifteenHrsQuestion" type="radio" value="Yes" ng-change="renderOccupationQuestions()" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (fifteenHrsQuestion == 'No')}">
                      <input type="radio" name="fifteenHrsQuestion"  class="ipradio" ng-click="checkPreviousMandatoryFields('fifteenHrsQuestion','occupationForm')"
                       ng-class = "(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="fifteenHrsQuestion" type="radio" value="No" ng-change="renderOccupationQuestions()" required>
                      <span></span> No
                    </label>
                  </div>                  
                </div>
                <span class="error" ng-if="(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label" > What industry do you work in?</label>
              </div>              
              <div class="col-sm-12 ">
                <select class="  form-control" name="industry" ng-focus="checkPreviousMandatoryFields('industry','occupationForm')"  ng-class = "(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required)  ? 'error-border':''" ng-model="industry" ng-change="getOccupations()" required>
                  <option value="">Please select...</option>
                  <option ng-repeat="industry in IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
                </select>
                <span class="error" ng-if="(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required )">Please select the industry type.</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What is your current occupation?<a class="icohelp" ng-click="clickToOpen('If you do not select an occupation from the occupations listed your premiums will be shown at standard rates.')"></a></label>
              </div>
              <div class="col-sm-12 ">
                <select  class="  form-control" name="occupation" ng-focus="checkPreviousMandatoryFields('occupation','occupationForm')"  ng-class = "(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required)  ? 'error-border':''" ng-model="occupation" ng-change="getCategoryFromDB()" required>
                  <option value="">Please select...</option>
                   <option ng-repeat="occupation in OccupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
                </select>
                 <span class="error" ng-if="(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required )">Select the occupation which best best matches with your current occupation.</span>
              </div>
            </div>
          
            <div ng-if="occupation =='Other'">  
             <hr class="primeline">
             <div class="row rowcustom " ng-class="{'has-error':(occupationForm.otherOccupation.$invalid && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required)}">
              <div class="col-sm-5" >
                <label class="control-label">  Please enter your occupation  </label>
              </div>
              <div class="col-sm-7 col-xs-12">              
                <input class="form-control" ng-focus="checkPreviousMandatoryFields('otherOccupation','occupationForm')" maxlength="50" name="otherOccupation" ng-class = "(occupationForm.otherOccupation.$invalid && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required)  ? 'error-border':''" ng-model="otherOccupationObj.otherOccupation" type="text" placeholder="Enter your occupation" required>
	            <span ng-if="(occupationForm.otherOccupation.$invalid && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required) " class="error">Please enter your occupation</span>
              </div>
           </div>
          </div>
            <!-- Row ends -->
            
             <!-- <div class=" secrow ">
                <div class=""></div>
                <div class=""></div> -->
            <div ng-if="showHazardousQuestion">
            <hr class="primeline"> 
             <div class="row rowcustom" ng-class="{'has-error':(occupationForm.hazardousQuestion.$error.required && occupationForm.hazardousQuestion.$touched) || (occupationForm.$submitted && occupationForm.hazardousQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">  Do you work in a hazardous environment and/or perform any duties of a manual nature? </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-xs-12 col-sm-6  ">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (hazardousQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="hazardousQuestion" ng-click="checkPreviousMandatoryFields('hazardousQuestion','occupationForm')"
                       ng-class = "(occupationForm.hazardousQuestion.$error.required && occupationForm.hazardousQuestion.$touched) || (occupationForm.$submitted && occupationForm.hazardousQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.hazardousQuestion" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton  " ng-class="{'active': (hazardousQuestion == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="hazardousQuestion" ng-click="checkPreviousMandatoryFields('hazardousQuestion','occupationForm')"
                       ng-class = "(occupationForm.hazardousQuestion.$error.required && occupationForm.hazardousQuestion.$touched) || (occupationForm.$submitted && occupationForm.hazardousQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.hazardousQuestion" ng-change="renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.hazardousQuestion.$error.required && occupationForm.hazardousQuestion.$touched) || (occupationForm.$submitted && occupationForm.hazardousQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>
            
            <div ng-if="showOutsideOfficeQuestion">
                <hr class="primeline">
                <div class="row rowcustom" ng-class="{'has-error':(occupationForm.outsideOffice.$error.required && occupationForm.outsideOffice.$touched) || (occupationForm.$submitted && occupationForm.outsideOffice.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Do you spend more than 10% of your working time outside of an office environment? </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-xs-12 col-sm-6 ">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (outsideOffice == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="outsideOffice" ng-click="checkPreviousMandatoryFields('outsideOffice','occupationForm')"
                       ng-class = "(occupationForm.outsideOffice.$error.required && occupationForm.outsideOffice.$touched) || (occupationForm.$submitted && occupationForm.outsideOffice.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.outsideOffice" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton  " ng-class="{'active': (outsideOffice == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="outsideOffice" ng-click="checkPreviousMandatoryFields('outsideOffice','occupationForm')"
                       ng-class = "(occupationForm.outsideOffice.$error.required && occupationForm.outsideOffice.$touched) || (occupationForm.$submitted && occupationForm.outsideOffice.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.outsideOffice" ng-change="renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.outsideOffice.$error.required && occupationForm.outsideOffice.$touched) || (occupationForm.$submitted && occupationForm.outsideOffice.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>

              <div ng-if="showWithinOfficeQuestion">
              <hr class="primeline">
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">  Do you work wholly within an office environment? </p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-xs-12 col-sm-6  ">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (withinOfficeQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="withinOfficeQuestion" ng-click="checkPreviousMandatoryFields('withinOfficeQuestion','occupationForm')"
                       ng-class = "(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.withinOfficeQuestion" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (withinOfficeQuestion == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="withinOfficeQuestion" ng-click="checkPreviousMandatoryFields('withinOfficeQuestion','occupationForm')"
                       ng-class = "(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.withinOfficeQuestion" ng-change="renderOccupationQuestions()"  value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>
            
            <div ng-if="showTertiaryQuestion">
            <hr class="primeline">
             <div class="row rowcustom" ng-class="{'has-error':(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required )}">
              <div class="col-sm-12 ">
                <label class="control-label"><p align="justify">Do you hold a tertiary qualification relevant to your current occupation or are you a member of a professional body relevant to your current occupation or a member of your organisation's senior management team?</p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-xs-12 col-sm-6  ">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (tertiaryQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="tertiaryQuestion" ng-click="checkPreviousMandatoryFields('tertiaryQuestion','occupationForm')"
                       ng-class = "(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.tertiaryQuestion" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton  " ng-class="{'active': (tertiaryQuestion == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="tertiaryQuestion" ng-click="checkPreviousMandatoryFields('tertiaryQuestion','occupationForm')"
                       ng-class = "(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.tertiaryQuestion" ng-change="renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required )">Please select Yes or No</span>                
              </div>
            </div>
            </div>
              
              <hr class="primeline">
           <div class="row rowcustom" ng-class="{'has-error':(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required ) || invalidSalAmount || salMaxlimit}">
              <div class="col-sm-4 col-xs-12">
                <label class="control-label">Current annual salary?<a class="icohelp"	ng-click="clickToOpen('Please refer to the PDS available on the StatewideSuper website for the definition of salary.')"></a></label>
                <!-- <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <!-- <div class="col-sm-5 col-xs-12">
                <div class="slidercover">
                  <div id="slider1" class="slider"></div>
                  <div class="sliderin"></div>
                  <div class="leftval hidden-xs">0</div>
                  <div class="rightval hidden-xs">1,000,000</div>
                </div>
              </div>
              <p class="spacer visible-xs">&nbsp; </p> -->
              <div class="col-sm-3 col-xs-12">
                <input type="text" id="annualSalCCId" format="number" onkeyup="return isNumeric('annualSalCCId');" onkeypress="return isNumeric('annualSalCCId');"  name="annualSalary" maxlength="9" class="form-control dollar" ng-change="checkAnnualSal()"  ng-focus="checkPreviousMandatoryFields('annualSalary','occupationForm')"  ng-class = "(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required)  ? 'error-border':''" ng-model="annualSalary" required>
              <span class="error" ng-if="(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required )">Please enter your Annual Salary</span>
              <span class="error" ng-if="invalidSalAmount">Please enter a valid annual salary</span>
              <span class="error" ng-if="salMaxlimit">Your salary exceeds the maximum limit.</span>
              </div>
              
            </div>
            
            <hr class="primeline">
             <div class="row rowcustom" ng-class="{'has-error':(occupationForm.hoursPerWeekQuestion.$error.required && occupationForm.hoursPerWeekQuestion.$touched) || (occupationForm.$submitted && occupationForm.hoursPerWeekQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">Are you currently able to carry out all the identifiable duties of your current employment on an ongoing basis for 35 hours per week (whether or not you currently work these hours) without restriction due to accident, illness or injury?</p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-xs-12 col-sm-6 ">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (hoursPerWeekQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="hoursPerWeekQuestion" ng-click="checkPreviousMandatoryFields('hoursPerWeekQuestion','occupationForm')"
                       ng-class = "(occupationForm.hoursPerWeekQuestion.$error.required && occupationForm.hoursPerWeekQuestion.$touched) || (occupationForm.$submitted && occupationForm.hoursPerWeekQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="hoursPerWeekQuestion" ng-change="" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton  " ng-class="{'active': (hoursPerWeekQuestion == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="hoursPerWeekQuestion" ng-click="checkPreviousMandatoryFields('hoursPerWeekQuestion','occupationForm')"
                       ng-class = "(occupationForm.hoursPerWeekQuestion.$error.required && occupationForm.hoursPerWeekQuestion.$touched) || (occupationForm.$submitted && occupationForm.hoursPerWeekQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="hoursPerWeekQuestion" ng-change="" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.hoursPerWeekQuestion.$error.required && occupationForm.hoursPerWeekQuestion.$touched) || (occupationForm.$submitted && occupationForm.hoursPerWeekQuestion.$error.required )">Please select Yes or No</span>                
              </div>
            </div>
            
            <hr class="primeline">
             <div class="row rowcustom" ng-class="{'has-error':(occupationForm.permanentlyEmployedQuestion.$error.required && occupationForm.permanentlyEmployedQuestion.$touched) || (occupationForm.$submitted && occupationForm.permanentlyEmployedQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">Are you permanently employed?</p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-xs-12 col-sm-6  ">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (permanentlyEmployedQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="permanentlyEmployedQuestion" ng-click="checkPreviousMandatoryFields('permanentlyEmployedQuestion','occupationForm')"
                       ng-class = "(occupationForm.permanentlyEmployedQuestion.$error.required && occupationForm.permanentlyEmployedQuestion.$touched) || (occupationForm.$submitted && occupationForm.permanentlyEmployedQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="permanentlyEmployedQuestion" ng-change="" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton  " ng-class="{'active': (permanentlyEmployedQuestion == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="permanentlyEmployedQuestion" ng-click="checkPreviousMandatoryFields('permanentlyEmployedQuestion','occupationForm')"
                       ng-class = "(occupationForm.permanentlyEmployedQuestion.$error.required && occupationForm.permanentlyEmployedQuestion.$touched) || (occupationForm.$submitted && occupationForm.permanentlyEmployedQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="permanentlyEmployedQuestion" ng-change="" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.permanentlyEmployedQuestion.$error.required && occupationForm.permanentlyEmployedQuestion.$touched) || (occupationForm.$submitted && occupationForm.permanentlyEmployedQuestion.$error.required )">Please select Yes or No</span>                
              </div>
            </div>
            
            <hr class="primeline">
             <div class="row rowcustom" ng-class="{'has-error':(occupationForm.permanentResidentQuestion.$error.required && occupationForm.permanentResidentQuestion.$touched) || (occupationForm.$submitted && occupationForm.permanentResidentQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">Are you a citizen or permanent resident of Australia?</p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-xs-12 col-sm-6  ">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (permanentResidentQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="permanentResidentQuestion" ng-click="checkPreviousMandatoryFields('permanentResidentQuestion','occupationForm')"
                       ng-class = "(occupationForm.permanentResidentQuestion.$error.required && occupationForm.permanentResidentQuestion.$touched) || (occupationForm.$submitted && occupationForm.permanentResidentQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="permanentResidentQuestion" ng-change="calculateOnChange()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton  " ng-class="{'active': (permanentResidentQuestion == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="permanentResidentQuestion" ng-click="checkPreviousMandatoryFields('permanentResidentQuestion','occupationForm')"
                       ng-class = "(occupationForm.permanentResidentQuestion.$error.required && occupationForm.permanentResidentQuestion.$touched) || (occupationForm.$submitted && occupationForm.permanentResidentQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="permanentResidentQuestion" ng-change="calculateOnChange()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.permanentResidentQuestion.$error.required && occupationForm.permanentResidentQuestion.$touched) || (occupationForm.$submitted && occupationForm.permanentResidentQuestion.$error.required )">Please select Yes or No</span>                
              </div>
            </div>
            
            <hr class=" primeline">
            <div class="">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom" ng-class="">
                  <div class="col-sm-4">
                    <label class="control-label">Display the cost of my insurance cover as </label>
                  </div>
           			 <div class="col-sm-8  ">
                    <select  class="form-control" name="premFreq" id="coverId"  ng-change="calculateOnChange()" ng-model="premFreq" ng-options="premiumFrequencyOption for premiumFrequencyOption in premiumFrequencyOptions track by premiumFrequencyOption">
                    </select>
                     <label class="helpHintLabel">Select weekly, monthly or yearly premium frequency</label>
                    <span class="error" ng-if="">Please select  Cover what you want.</span>
                  <!--   <label class="helpHintLabel">Display the cost of my insurance cover as</label> -->
              	</div>
              </div>
             </div>
                  
            <hr class=" primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">
               <a data-toggle="collapse" data-parent="#accordion"> 
                <button  class="btn btn-primary w100p" type="button" ng-click="formOneSubmit(occupationForm);">Continue</button>
               </a>
              </div>
              <!-- <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div> -->
            </div>
          </div>
        </form>
          <!-- Row ends --> 
          
        </div>
      </div>
      
      <!--Occupation section ends  -->
      
      <!-- Cover Calculator section starts -->
      
      <div class="panel panel-default"  >
        <div class="panel-heading" ng-click="isCollapsible('collapseThree', $event)"> <a data-toggle="collapse"  data-target="#collapseThree" class=" collapsed ">
          <h4 class="panel-title"> CONVERT AND MAINTAIN TO FIXED COVER	 </h4>
          </a> </div>
        <div id="collapseThree" class="panel-collapse collapse  ">
        
        <form autocomplete="off"  name="coverCalculatorForm" novalidate id="coverCalFormId" role="form">
          <div class="panel-body">
            <!-- <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label"> Use the premium calculator to select the most appropriate cover for you.</label>
              </div>
            </div> -->
           
         <!--   <hr class=" primeline"> -->
            <!-- <div class="">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom" ng-class="">
                  <div class="col-sm-4">
                    <label class="control-label">Display the cost of my insurance cover as </label>
                  </div>
           			 <div class="col-sm-8  ">
                    <select  class="form-control" name="premFreq" id="coverId"  ng-change="calculateOnChange()" ng-model="premFreq" ng-options="premiumFrequencyOption for premiumFrequencyOption in premiumFrequencyOptions track by premiumFrequencyOption">
                      <option value="">Please select..</option>
                      <option  ng-repeat="premiumFrequencyOption in premiumFrequencyOptions" ng-selected="premiumFrequencyOption=='Weekly'" value="{{premiumFrequencyOption}}">{{premiumFrequencyOption}}</option>
                    </select>
                    <span class="error" ng-if="">Please select  Cover what you want.</span>
                    <label class="helpHintLabel">Select weekly, monthly or yearly premium frequency</label>
                  </div>
                  </div>
                  </div>
           <hr class=" primeline"> -->
            <!--  <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label">  What cover details do you require?</label>
              </div>
            </div> -->
            <div class=" btn-group-vertical heading">
              <div class="row rowcustom" >
                <div class="col-sm-12 checkboxes1">
                   <label class="active checkboxes btn" id="deathsection" ng-disabled="isDeathDisabled">
                    <input type="checkbox" id="option3" name="coverDet" id="coverDetId"> 
                    <p class="col2 m0 ">Death</p> 
                   <p class="col2 m0 alignright normal" ng-if="!isEmpty(deathCoverDetails.units)">Existing cover {{deathCoverDetails.amount | currency:undefined:0}} ({{deathCoverDetails.units}} Unit(s)) &nbsp;&nbsp;</p>
                    <p class="col2 m0 alignright normal" ng-if="isEmpty(deathCoverDetails.units)">Existing cover {{deathCoverDetails.amount | currency:undefined:0}} (fixed) &nbsp;&nbsp;</p>
                   </label>
                    </div>
              </div>
            </div>
            <div class="" id="death" style="display:block">
              <div class="  ">
                <div class=""></div>
                <div class=""></div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{dcCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>{{premFreq}} cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{dcWeeklyCost | currency}}</h4>
                  </div>
                </div>
             </div> 
            </div>
             <div class="row rowcustom" ng-if="isDeathDisabled == true">
		  		<div class="col-sm-12">
	  			<img src="static/statewide/images/warning.png" >
	                <label class="control-label"> You are not eligible for Death cover due to your age </label>	            
		  		</div>
		  	</div>
		  	
		  	
		  	<p class="spacer">&nbsp;</p>
            <div class="btn-group-vertical heading"  >
              <div class="row rowcustom">
                <div class="col-sm-12 checkboxes1">
                   <label class="active checkboxes btn" id="tpdsection" ng-disabled="isTPDDisabled">
                    <input type="checkbox" id="perDisplacementId" name="perDisplacement"> 
                    <p class="col2 m0 ">Total &amp; Permanent Disablement</p> 
						<p class="col2 m0 alignright normal" ng-if="!isEmpty(tpdCoverDetails.units)">Existing cover {{tpdCoverDetails.amount | currency:undefined:0}} ({{tpdCoverDetails.units}} Unit(s)) &nbsp;&nbsp;</p>
                		<p class="col2 m0 alignright normal" ng-if="isEmpty(tpdCoverDetails.units)">Existing cover {{tpdCoverDetails.amount | currency:undefined:0}} (Fixed) &nbsp;&nbsp;</p>
					 </label>
                </div>
              </div>
            </div>
            <div class="" id="tpd" style="display:block">
              <div class="  ">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom">
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{tpdCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>{{premFreq}} cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{tpdWeeklyCost | currency}}</h4>
                  </div>
                </div></div>
              </div>
            </div>
            <div class="row rowcustom" ng-if="isTPDDisabled == true">
		  		<div class="col-sm-12">
	  			<img src="static/statewide/images/warning.png" >
	                <label class="control-label"> You are not eligible for TPD cover due to your age </label>	            
		  		</div>
		  	</div>
		  	<p class="spacer">&nbsp;</p>
          
          
          <!-- IP convert start -->
          <!-- <div ng-if="showIp">
          <div class=" btn-group-vertical heading">
              <div class="row rowcustom" >
                <div class="col-sm-12 checkboxes1">
                   <label class="active checkboxes btn" id="ipsection" ng-disabled="isIPDisabled">
                    <input type="checkbox" id="option3" name="coverIp" id="coverIpId"> 
                    <p class="col2 m0 ">Income Protection</p> 
                   <p class="col2 m0 alignright normal" ng-if="!isEmpty(ipCoverDetails.units)">Existing cover {{ipCoverDetails.amount | currency:undefined:0}} ({{ipCoverDetails.units}} Unit(s)) &nbsp;&nbsp;</p>
                    <p class="col2 m0 alignright normal" ng-if="isEmpty(ipCoverDetails.units)">Existing cover {{ipCoverDetails.amount | currency:undefined:0}} (fixed) &nbsp;&nbsp;</p>
                   </label>
                    </div>
              </div>
            </div>
            <div class="" id="death" style="display:block">
              <div class="  ">
                <div class=""></div>
                <div class=""></div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{ipCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>{{premFreq}} cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{ipWeeklyCost | currency}}</h4>
                  </div>
                </div>
             </div> 
            </div>
             <div class="row rowcustom" ng-if="isIPDisabled == true">
		  		<div class="col-sm-12">
	  			<img src="static/statewide/images/warning.png" >
	                <label class="control-label"> You are not eligible for Income Protection cover due to your age </label>	            
		  		</div>
		  	</div>
		  	<p class="spacer">&nbsp;</p>
          </div>-->
          
          <div class="row   coverbg seccolor ">
            <div class="col-sm-3 hidden-xs">
              <h5>&nbsp;</h5>
            </div>
            <div class="col-sm-3 alignright borderright  hidden-xs">
              <h4 class="coverval">&nbsp; </h4>
            </div>
            <div class="col-sm-4 col-xs-10 hidden-xs">
              <h5 class="coverval"> Total {{premFreq}} cost</h5>
            </div>
            <div class="col-sm-4 col-xs-10 visible-xs">
              <h4 class="coverval" style="padding-left:9px;"> Total {{premFreq}} cost</h4>
            </div>
            <div class="col-sm-2 col-xs-12 alignright hidden-xs">
              <h4 class="coverval">{{totalWeeklyCost1 | currency}}</h4>
            </div>
            <div class="col-sm-3 col-xs-3 alignright visible-xs">
              <h5 class="coverval" style="padding-left:9px;">{{totalWeeklyCost1 | currency}}</h5>
            </div>
          </div> 
          
          <p class="spacer">&nbsp;</p>
          <div class=" row rowcustom">
	          <div class="col-xs-12">
		          <p class="note">
		          	<strong>Disclaimer: </strong> <!-- This represents the total cost of the cover you have applied for based on your occupation rating. This amount does not take into account any premium loading which may apply to your existing cover. The final cost of your total insurance cover will be notified to you in writing by HOSTPLUS.  -->
		          </p>
		          	<!-- <p style="text-align:left;" ng-if="!disclaimerFlag">Please note that if you want to change the waiting period or benefit period in the future which increases the risk, then you will need to be underwritten. </p>
		             <p ng-if="totalWeeklyCost > 0" style="text-align:left;">Insurance cover through CareSuper is provided by MetLife Insurance Limited ABN 75 004 274 882 AFSL No. 238096. When completing your application for insurance, you will be providing MetLife with your personal information including your health information. By clicking the Continue button, you consent to the collection, use and disclosure of your personal information as described in MetLife's Privacy Policy which is available at <a href="https://www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy-policy</a>.
		            </p> -->
		            <p style="text-align:left;">  This represents the total cost of the cover you have applied for based on your occupation rating. This amount does not take into account any premium loading which may apply to your existing cover. The final cost of your total insurance cover will be notified to you in writing by StateWide Super.</p> 
		          
	          </div>
	          
          </div>
          <!-- <div class=" row rowcustom" ng-class="{'has-error':ackFlag}" ng-click="checkAckState()">
	          <div class="col-sm-12" ng-if="totalWeeklyCost > 0" >
                <div data-toggle="buttons" class=" btn-group-vertical">
                  <label class="btn checkboxes" id="termsLabel">
                    <input type="checkbox" class="" id="termsNconditionsCheck" name="ackDocument" required>
                    <span></span>  I agree to all the above terms & conditions </label>
                    
                </div>
              </div>
              </div> -->
          
          <div class=" row rowcustom">
   			 <div class="col-sm-3 col-xs-12">
              <button type="button" class="btn btn-primary w100p" ng-if="(!isDeathDisabled) || (!isTPDDisabled)" ng-click="checkForAura()">Continue </button>
             </div>
            <!--  <div class="col-sm-3 col-xs-12">
            	<button ng-if="totalWeeklyCost > 0" type="button" class="btn btn-primary w100p" ng-click="generatePDF()">Print </button>
             </div>  -->
             <!-- <div class="col-sm-3 col-xs-12">
               <button ng-if="totalWeeklyCost > 0 && (deathDecOrCancelFlag || tpdDecOrCancelFlag || ipDecOrCancelFlag)" id="continueWithPopUpId" type="button" class="btn btn-primary w100p" 
                ng-click="showDecreaseOrCancelPopUp(decCancelMsg)">Continue
               </button> 
              <button ng-if="totalWeeklyCost > 0 && (!deathDecOrCancelFlag  && !tpdDecOrCancelFlag && !ipDecOrCancelFlag)" type="button" class="btn btn-primary w100p"  ng-click="checkForAura()">Continue </button> 
             </div> -->
            
             <!-- <button ng-if="totalWeeklyCost > 0" type="button" class="btn btn-primary w100p" ng-click="continueToNextPage()" >Continue </button> -->
              <!-- <button ng-if="totalWeeklyCost > 0 && (!deathDecOrCancelFlag  && !tpdDecOrCancelFlag && !ipDecOrCancelFlag)" type="button" id="continueId" class="btn btn-primary w100p" ng-click="continueToNextPage()" >Continue </button>--> 
               
            <!-- <div class="col-sm-3 col-xs-12 hidden-xs">
			    <button type="button" class="btn btn-primary w100p" ng-if="totalWeeklyCost > 0" ng-click="saveQuote()">Save &amp; exit </button>  
            </div>
            <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12 aligncenter visible-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-if="totalWeeklyCost > 0" ng-click="saveQuote()"> Save &amp; exit</button>
              </div> -->
            <!-- <div ng-if="totalWeeklyCost > 0" class="col-sm-6 alignleft hidden-xs"> <a class="cancellink" href="landingpage.html"> Cancel</a> </div>
       		<div  ng-if="totalWeeklyCost > 0" class=" col-xs-12 aligncenter   visible-xs"> <a class="cancellink" href="#"> Cancel </a> </div> -->
       		<!--<p class="col-xs-12 visible-xs">&nbsp;</p>
       		<div ng-if="totalWeeklyCost > 0" class="col-sm-3 col-xs-12 hidden-xs"><button type="button" class="btn btn-primary w100p" ng-click="navigateToLandingPage()">Cancel </button></div> 
       		<div  ng-if="totalWeeklyCost > 0" class="col-sm-3 col-xs-12 visible-xs"><button type="button" class="btn btn-primary w100p" ng-click="navigateToLandingPage()">Cancel </button></div>  -->
          </div>
          <p class="spacer">&nbsp;</p>
          </form>
        </div>
      </div>
      <!-- Cover Calculator section ends -->
      
    </div>
    
  </div>
  <!-- /container -->
  <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 65 18 65</h3>
      <h3 class="helpNo"></h3>
        </div>
      </div>
    </div> 
<p class="spacer">&nbsp;</p>
<div ng-include="'../../eapply/static/statewide/footer.html'"></div>

    <!-- Decrease or Cancel Popup starts --> 
		<div aria-hidden="false" aria-labelledby="mymodalDecCancelLabel" role="dialog" tabindex="-1" class="modal fade in" id="mymodalDecCancel" style="display: none;" 
		 onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';" >
		  <div class="modal-dialog hhints">
		    <div id="modal-content-id" class="modal-content">
		       <div class="modal-header">
			      <a onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';" 
			          data-dismiss="modal" aria-hidden="true"> <button class="close xi" type="button">X</button>
		          </a>
		       </div>
		       <div class="modal-body">
			    <h4 class="modal-title aligncenter" id="mymodalDecCancelLabel">Change cover</h4>
		      	<!-- Row starts -->
		         <div class="row  rowcustom  ">
		          <div class="col-sm-12">
		            <p class="aligncenter">
		              <div id="decCancelMsg_text"></div>
		              <p></p>
		            </p>
		           </div>
		         </div>
		       <!-- Row ends -->
		      </div> 
		      <div class="modal-footer mt0 pt0">
		       <div class="row">
		        <div class="col-sm-4"></div>
		         <div class="col-sm-4 col-xs-12">
		          <a onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';">
		           <!-- <button class="btn btn-primary w100p" type="button" ng-click="go('/quote')">Yes</button> -->
		          </a> 
		          <button class="btn btn-primary w100p" type="button" ng-click="checkForAura()">Continue</button>
		         </div>
		          <div class="col-sm-4"> </div> 
		        </div>
		      </div>
		     </div>
			    <!-- /.modal-content --> 
		  </div>
	    <!-- /.modal-dialog --> 
	  </div>
	 <div class="modal-backdrop fade in" id= "mymodalDecCancelFade" style="display:none;"> 
  </div>
 <!--  <button ng-click='toggleModal()'>Open Modal Dialog</button> -->
	<help-text show='modalShown' msg='tipMsg' width='550px'>
	  <p>Modal Content Goes here<p>
	</help-text>
 <!--Decrease or Cancel Popup ends -->	




<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 

    
 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 



