<p align="justify"> A person who enters into a life insurance contract in respect of your life has a duty, before entering into the contract, to tell the insurer anything that he or she knows, or could reasonably be expected to know, which may affect the insurer's decision to provide the insurance and on what terms.</p>
<p align="justify">The person entering into the contract has this duty until the insurer agrees to provide the insurance.</p>
<p align="justify">The person entering into the contract has the same duty before he or she extends, varies or reinstates the contract.</p>
<p align="justify">The person entering into the contract does not need to tell the insurer anything that:
<br />
	<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
		<li>reduces the risk the insurer insures him or her for; or</li>
        <li>is common knowledge; or</li>
        <li>the insurer knows or should know as an insurer; or</li>
        <li>the insurer waives  his or her duty to tell them about.</li>
    </ul>
</p>                
<p align="justify">If the person does not tell the insurer something that he or she knows, or could reasonably be expected to know, this may affect the insurer's decision to provide the insurance and on what terms,  and may be treated by the insurer as a failure by the person entering into the contract to tell the insurer something that he or she must disclose to the insurer.</p>
<p><strong>If the person entering the contract does not tell the insurer something</strong>
<br /> 
<p align="justify">In exercising the following rights, the insurer may consider whether different types of cover can constitute separate contracts of life insurance. If they do, the insurer may apply the following rights separately to each type of cover.</p>
<p align="justify">If the person entering into the contract does not tell the insurer anything he or she is required to, and the insurer would not have provided the insurance if he or she had disclosed the information, the insurer may avoid the contract within 3 years of entering into it.</p>
<p align="justify">If the insurer chooses not to avoid the contract, the insurer may, at any time, reduce the amount of insurance provided. This would be worked out using a formula that takes into account the premium that would have been payable if the person had told the insurer everything he or she should have.</p>
<p align="justify">However, if the contract has a surrender value, or provides cover on death, the insurer may only exercise this right within 3 years of entering into the contract.</p>
<p align="justify">If the insurer chooses not to avoid the contract or reduce the amount of insurance provided, the insurer may, at any time vary the contract in a way that places the insurer in the same position the insurer would have been in if the person had told the insurer everything he or she should have. However, this right does not apply if the contract has a surrender value or provides cover on death.</p>
<p align="justify">If the failure to tell the insurer is fraudulent, the insurer may refuse to pay a claim and treat the contract as if it never existed.</p>