<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-1   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-4   "></div>	
    <div class="col-sm-7   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.statewide.com.au/privacy-policy" class="" target="_new">Privacy Statement</a></p>
        <p class="footertext"> &copy; Statewide Superannuation Pty Ltd ABN 62 008 099 223 AFSL 243171.</p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="https://www.statewide.com.au/privacy-policy" class="" target="_new">Privacy Statement</a></p>
    <p class="footertext"> &copy; Statewide Superannuation Pty Ltd ABN 62 008 099 223 AFSL 243171.</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>