<p><strong>You must click and read the General Consent before proceeding</strong></p>
		               <p> <strong>General consent</strong></p>
<p>By clicking on the tick box below, I declare that:<p>
<p>
<ul>
<li>I have read and understand my duty of disclosure and that this duty applies until formal notification of acceptance.</li>

<li>The answers to the questions in this application are true, and I have not deliberately withheld any information material to the proposed insurance.</li>

<li>I agree to be bound by the terms and conditions attached to this cover as set out in the Insurance Policy Document between Statewide and the Insurer.</li>

<li>I consent to the collection, use and disclosure of personal information by the relevant Insurer and their service providers in order to assess my application and any claim under this policy.</li>

<li>I have read and understood the privacy statement and agree to the collection, use and disclosure of personal information as described in those statements.</li>

<li>I consent to the relevant Insurer, that being MetLife Insurance Limited, seeking medical information from any doctor who at any time I have consulted prior to the date hereof.</li>

<li>I understand that cover under any policy accepted does not begin until acceptance by the Insurer of which I will be notified in writing.</li>

<li>I have read the insurance section of the current Statewide Super Member Booklet relevant to my Division, including the Member Booklet Supplement: Insurance.</li>

<li>I authorise any hospital, physician or other person who has attended me to furnish MetLife Insurance Limited or its representatives, any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records. I agree that a photocopy of this authorisation shall be considered as effective as the original.</li>
</ul>