 <div>
<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/statewide/header.html'"></div>
</div>

<div class="container ">
  <p class="spacer">&nbsp;</p>
</div>
 <div class="container ">
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 65 18 65</h3>
    </div>
	<!-- <div class="help-block bg-primary pointer" style=" background-color: #feb914;" ng-click="showSavedAppPopup('SCOVER')">
		<h2 class="helpHead">Special Offer For New Members</h2>
		<p class="helpTxt">As a special offer to new members of
			HOSTPLUS, you have the opportunity to increase your default
			insurance cover and/or obtain Salary Continuance cover provided
			you apply within six months from the effective date of your first
			on time SG Contribution that is received from your HOSTPLUS
			participating employer or within 60 days from the day you receive
			your HOSTPLUS welcome letter, whichever is the latter.</p>
	</div> -->
	</div>
  <div class=" col-sm-9 landingPageBoxes">
    <div class="panel-group" id=" ">
      <div class="panel panel-default nobg">
       <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="">
           <h4 class="panel-title">Your current cover </h4>
         </a>
       </div>
       <div id="collapseOne" class="panel-collapse collapse in">
         <div class="panel-body parent-flex-container">
           <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
              <div class="box coverbg aligncenter">
                <h5 class="mb0">Cover type</h5>
               <h4 class="p0 m0 cover-header">Death<br> &nbsp; </h4>
				 </div>
             <div class="box mt10px aligncenter" ng-if="intvalue(deathCover.amount)">
               <h5 class="color2">Amount</h5>
               <p ng-bind="deathCover.amount | currency:undefined:0"></p>
               <!-- <p ng-if="!isEmpty(deathCover.units)">{{deathCover.units}} Unit(s)</p>
               <p ng-if="isEmpty(deathCover.units)">Fixed</p> -->
               <p ng-if="deathCover.type=='1'">{{deathCover.units}} Unit(s)</p>
               <p ng-if="deathCover.type=='2'">Fixed</p>
               <h5 class=" color2">Rating</h5>
                <p ng-bind="deathCover.occRating"></p>
             </div>
             <div ng-if="!intvalue(deathCover.amount) && renderView">
               <div class="box mt10px aligncenter">
                <img src="static/statewide/images/nocover.png" alt="Death Cover" class=" aligncenter mt10px"/><br>
                <strong> No cover</strong>
                  <p ng-if="!intvalue(deathCover.amount)" class="size2"><br>
                   Learn about the great benefits of<br>
                  <a href="http://www.statewide.com.au/insurance" class="" target="_new">
                  <strong>Death</strong></a><br>
                  cover<span class="visible-sm"><br><br></span> <span class="visible-md"><br></span>
                </p>
              </div>
              <div class="row">
               <!-- <div class="col-md-2 hidden-sm"> &nbsp; </div> -->
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                   <button type="button" id="bu3" class="btn btn-primary w100p" ng-click="showSavedAppPopup('CCOVER')">Apply now </button>
                </div>
              </div>
            </div>
            <p class="spacer">&nbsp;</p>
           </div>
           <p class="spacer visible-xs">&nbsp;</p>
           <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
             <div class="box coverbg aligncenter">
               <h5 class="mb0">Cover type</h5>
               <h4 class="p0 m0 cover-header">Total &amp; Permanent Disablement</h4>
             </div>
             <div class="box mt10px aligncenter" ng-if="intvalue(tpdCover.amount)">
               <h5 class=" color2">Amount</h5>
               <p ng-bind="tpdCover.amount | currency:undefined:0"></p>
               <!-- <p ng-if="!isEmpty(tpdCover.units)">{{tpdCover.units}} Unit(s)</p>
               <p ng-if="isEmpty(tpdCover.units)">Fixed</p> -->
               <p ng-if="tpdCover.type == '1'">{{tpdCover.units}} Unit(s)</p>
               <p ng-if="tpdCover.type == '2'">Fixed</p>
               <h5 class=" color2">Rating</h5>
               <p ng-bind="tpdCover.occRating"></p>
             </div>
             <div ng-if="!intvalue(tpdCover.amount) && renderView">
               <div class="box mt10px aligncenter"> <img src="static/statewide/images/nocover.png" alt="Total & permanent disablement Cover" class=" aligncenter mt10px"/><br>
                <strong> No cover</strong>
                <p class="size2"><br>
                 	Learn about the great benefits of<br>
                 	<a href="http://www.statewide.com.au/insurance" class="" target="_new"> 
                 		<strong>Total & Permanent Disablement</strong></a> <br>
                  cover
                </p>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                  <button type="button" id="bu3" class="btn btn-primary w100p" ng-click="showSavedAppPopup('CCOVER')">Apply now </button>
                </div>
                <!-- <div class="col-md-2"> &nbsp; </div> -->
              </div>
            </div>
            <p class="spacer">&nbsp;</p>
           </div>
           <p class="spacer visible-xs">&nbsp;</p>
           <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
             <div class="box coverbg aligncenter">
               <h5 class="mb0">Cover type</h5>
               <h4 class="p0 m0 cover-header">Income <br> protection</h4>
             </div>
             <div class="box mt10px aligncenter" ng-if="intvalue(ipCover.amount)">
               <h5 class=" color2">Amount</h5>
               <p ng-bind="ipCover.amount | currency:undefined:0"></p>
               <!-- <p ng-if="!isEmpty(ipCover.units)">{{ipCover.units}} Unit(s)</p>
               <p ng-if="isEmpty(ipCover.units)">Fixed</p> -->
               <p ng-if="ipCover.type == '1'">{{ipCover.units}} Unit(s)</p>
               <p ng-if="ipCover.type == '2'">Fixed</p>
               <h5 class=" color2">Rating</h5>
               <p ng-bind="ipCover.occRating"></p>
               <h5 class=" color2">Waiting period</h5>
               <p ng-bind="ipCover.waitingPeriod"></p>
               <h5 class=" color2">Benefit period</h5>
               <p ng-bind="ipCover.benefitPeriod"></p>
             </div>
             <div ng-if="!intvalue(ipCover.amount) && renderView">
               <div class="box mt10px aligncenter">
                <img src="static/statewide/images/nocover.png" alt="Income Protection Cover" class=" aligncenter mt10px"  /><br>
                <strong> No cover</strong>
                <p class="size2"><br>
                  Learn about the great benefits of<br>
                  <a href="http://www.statewide.com.au/insurance" class="" target="_new">
                  <strong>Income protection</strong></a><br>cover
                </p>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                  <button  type="button" id="bu3" class="btn btn-primary w100p" ng-click="showSavedAppPopup('CCOVER')">Apply now </button>
                </div>
              </div>
            </div>
            <p class="spacer">&nbsp;</p>
           </div>
         </div>
       </div>
     </div>
     <div class="panel panel-default nobg">
       <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" class="    ">
         <h4 class="panel-title">Manage your insurance </h4>
         </a> </div>
       <div id="collapseTwo" class="panel-collapse collapse in singleDoubleBoxes">
         <div class="panel-body parent-flex-container">

         <!-- Added to show popup for New Member to continue with change cover if "Yes" -->
          <div class="col-xs-12 col-sm-4 bgwhite pointer doubleBox child-flex-box flex-box-center" ng-if="newMemberOffer" id="newMemberChangeCoverId" ng-click="showSavedAppPopup('CCOVER')">
             <div class="manage-cover-box aligncenter"> <img src="static/statewide/images/bg_blank.png" class="icoTick img-responsive visible-sm"> <img src="static/statewide/images/bg_blank.png" class="icoTick hidden-sm">
               <h4 class="mt15px">Change your insurance cover</h4>
               <p class="note">Use this option to apply to increase or vary your level of insurance cover</p>
             </div>
           </div>

           <div class="col-xs-12 col-sm-4 bgwhite pointer doubleBox child-flex-box flex-box-center" ng-if="!newMemberOffer" id="changeCoverId" ng-click="showSavedAppPopup('CCOVER')">
             <div class="manage-cover-box aligncenter"> <img src="static/statewide/images/bg_blank.png" class="icoTick img-responsive visible-sm"> <img src="static/statewide/images/bg_blank.png" class="icoTick hidden-sm">
               <h4 class="mt15px">Change your insurance cover</h4>
               <p class="note">Use this option to apply to increase or vary your level of insurance cover</p>
             </div>
           </div>
           <div class="col-xs-12 col-sm-8 child-flex-box">
             <div class="parent-flex-container manage-insr-options">
               <div class="col-xs-6 col-sm-6 bgwhite pointer child-flex-box flex-box-center" ng-if="!newMemberOffer" id="newMemberId" ng-click="go('/retrievesavedapplication',false)">
                 <div class="manage-cover-box aligncenter"> <img src="static/statewide/images/bg_blank.png" class="icoSaved mt15px">
                   <h4 class="mt15px">Saved Applications</h4>
                 </div>
               </div>

               <!-- <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center" ng-if="newMemberOffer" id="newMemberTransferCoverId" ng-click="showSavedAppPopup('TCOVER')">
                 <div class="manage-cover-box aligncenter" > <img src="static/statewide/images/bg_blank.png" alt="Transfer your existing cover" class="icoRefresh mt15px">
                   <h4 class="mt15px">Transfer your cover</h4>
                 </div>
               </div>

               <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center" ng-if="!newMemberOffer" id="transferCoverId" ng-click="maxAge > 71 || showSavedAppPopup('TCOVER')">
                 <div class="manage-cover-box aligncenter"> <img src="static/statewide/images/bg_blank.png" alt="Transfer your existing cover" class="icoRefresh mt15px">
                   <h4 class="mt15px">Transfer your cover</h4>
                 </div>
               </div>

               <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center" ng-if="newMemberOffer"> <a ng-click="clickToOpen('Increase your cover without the need to provide any medical evidence, if you have experienced any of the below events in your life within the last six months.<ul><li>Marriage</li><li>Birth or adoption of a child</li><li>Obtaining a new mortgage or increasing an existing mortgage</li></ul>')" class="icohelp abs"></a>
                 <div class="manage-cover-box aligncenter" ng-click="showSavedAppPopup('ICOVER')"> <img src="static/statewide/images/bg_blank.png" alt="Increase your cover due to a life event" class="icoDollar mt15px">
                   <h4 class="mt15px">Increase your Cover due to a life event</h4>
                 </div>
               </div>

               <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center" ng-if="!newMemberOffer && !lifeEventDisable"> <a ng-click="clickToOpen('Increase your cover without the need to provide any medical evidence, if you have experienced any of the below events in your life within the last six months.<ul><li>Marriage</li><li>Birth or adoption of a child</li><li>Obtaining a new mortgage or increasing an existing mortgage</li></ul>')" class="icohelp abs"></a>
                 <div class="manage-cover-box aligncenter" id="retrieveCoverId" ng-click="showSavedAppPopup('ICOVER')" > <img src="static/statewide/images/bg_blank.png" alt="Increase your cover due to a life event" class="icoDollar mt15px">
                   <h4 class="mt15px">Increase your Cover due to a life event</h4>
                 </div>
               </div>
                <div class="col-xs-6 col-sm-4 bgwhite child-flex-box flex-box-center" ng-if="!newMemberOffer && lifeEventDisable"> <a ng-click="clickToOpen('Increase your cover without the need to provide any medical evidence, if you have experienced any of the below events in your life within the last six months.<ul><li>Marriage</li><li>Birth or adoption of a child</li><li>Obtaining a new mortgage or increasing an existing mortgage</li></ul>')" class="icohelp abs"></a>
                 <div class="manage-cover-box aligncenter" id="retrieveCoverId" > <img src="static/statewide/images/bg_blank.png" alt="Increase your cover due to a life event" class="icoDollar mt15px">
                   <h4 class="mt15px">Increase your Cover due to a life event</h4>
                 </div>
               </div>
 -->
               <div class="col-xs-6 col-sm-6 bgwhite pointer child-flex-box flex-box-center" ng-if="!newMemberOffer && convertMaintainDisable" id="newMemberId"> <a ng-click="clickToOpen('With fixed cover, your cover stays the same, but the amount you pay for the insurance increases as you get older.')" class="icohelp abs"></a>
                 <div class="manage-cover-box aligncenter" ng-click="go('/convertMaintain/1',true)"> <img src="static/statewide/images/bg_blank.png" class="icoConvert mt15px">
                   <h4 class="mt15px">Convert and maintain</h4>
                 </div>
               </div>

               <div class="col-xs-6 col-sm-6 bgwhite child-flex-box flex-box-center" ng-if="!newMemberOffer && !convertMaintainDisable" id="newMemberId"> <a ng-click="clickToOpen('With fixed cover, your cover stays the same, but the amount you pay for the insurance increases as you get older.')" class="icohelp abs"></a>
                 <div class="manage-cover-box aligncenter"> <img src="static/statewide/images/bg_blank.png" class="icoConvert mt15px">
                   <h4 class="mt15px">Convert and maintain</h4>
                 </div>
               </div>

               <div class="col-xs-6 col-sm-6 bgwhite pointer child-flex-box flex-box-center" id="workRatingCoverId" ng-click="showSavedAppPopup('UWCOVER')"  ng-if="!newMemberOffer && (intvalue(deathCover.amount) || intvalue(tpdCover.amount) || intvalue(ipCover.amount)) && !updateOccDisable">
                 <div class="manage-cover-box aligncenter"> <img src="static/statewide/images/bg_blank.png" alt="Update your occupational category" class="icoEdit mt15px">
                   <h4 class="mt15px">Update your occupation</h4>
                 </div>
               </div>

               <div class="col-xs-6 col-sm-6 bgwhite child-flex-box flex-box-center" id="workRatingCoverId" ng-if="!newMemberOffer && ((!intvalue(deathCover.amount) && !intvalue(tpdCover.amount) && !intvalue(ipCover.amount) || updateOccDisable))">
                 <div class="manage-cover-box aligncenter"> <img src="static/statewide/images/bg_blank.png" alt="Update your occupational category" class="icoEdit mt15px">
                   <h4 class="mt15px">Update your occupation</h4>
                 </div>
               </div>

               <div class="col-xs-6 col-sm-6 bgwhite pointer child-flex-box flex-box-center" id="cancelCoverId child-flex-box" ng-click="go('/quotecancel/1', true)" ng-if="!newMemberOffer  && cancelEnable">
                 <div class="manage-cover-box aligncenter"> <img src="static/statewide/images/bg_blank.png" alt="Cancel all cover" class="icoDelete mt15px">
                   <h4 class="mt15px">Cancel your cover</h4>
                 </div>
               </div>

               <div class="col-xs-6 col-sm-6 bgwhite child-flex-box flex-box-center" id="cancelCoverIddisable" ng-if="!newMemberOffer  && !cancelEnable">
                 <div class="manage-cover-box aligncenter"> <img src="static/statewide/images/bg_blank.png" alt="Cancel all cover" class="icoDelete mt15px">
                   <h4 class="mt15px">Cancel your cover</h4>
                 </div>
               </div>

               <div class="col-xs-6 col-sm-6 bgwhite pointer child-flex-box flex-box-center" id="newMemberWorkRatingId" ng-click="showSavedAppPopup('UWCOVER')" ng-if="newMemberOffer">
                 <div class="manage-cover-box aligncenter"> <img src="static/statewide/images/bg_blank.png" alt="Update your occupational category" class="icoEdit mt15px">
                   <h4 class="mt15px">Update your occupation</h4>
                 </div>
               </div>

               <div class="col-xs-6 col-sm-6 bgwhite child-flex-box flex-box-center" id="newMemberCancelCoverId" ng-click="go('/quotecancel/1', true)" ng-if="newMemberOffer">
                 <div class="manage-cover-box aligncenter"> <img src="static/statewide/images/bg_blank.png" alt="Cancel all cover" class="icoDelete mt15px">
                   <h4 class="mt15px">Cancel your cover</h4>
                 </div>
               </div>
           </div>
          </div>
            <!-- <div class="col-xs-12  bgSec pointer bordertop5px" ng-if="renderSpecialCover" ng-click="showSavedAppPopup('SCOVER')">
             <div class="box mt10px aligncenter">
               <h4 class="mt15px color3">SPECIAL OFFER FOR NEW MEMBERS</h4>
             </div>
             <p>As a special offer to new members of StateWide, you have the opportunity to increase your default insurance cover and/or obtain Salary Continuance cover provided you apply within six months from the effective date of your first on time SG Contribution that is received from your StateWide participating employer or within 60 days from the day you receive your StateWide welcome letter, whichever is the latter.</p>
           </div> -->
          </div>
        </div>
      </div>
      <div class="panel panel-default nobg">
         <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" class="  ">
          <h4 class="panel-title">Insurance Calculators </h4>
          </a> </div>
       <div id="collapseThree" class="panel-collapse collapse in">
          <div class="panel-body">
           <div class="col-sm-4 bgwhite borderright5px h260px pointer " id="insuranceCoverId" ng-click="openWindow('https://www.e2e.eapplication.metlife.com.au/eApplication/InsCalcController?s=' + calcEncrpytURL)">
              <div class="box mt10px    aligncenter"> <img src="static/statewide/images/bg_blank.png" class="icoTick mt30px" >
                <h4 class="mt15px">Insurance<br>
                  cover </h4>
                <p class="mt15px">How much Insurance do I need?</p>
              </div>
            </div>
            <p class="spacer visible-xs">&nbsp;</p>
            <div class="col-sm-4 bgwhite borderright5px h260px pointer" ng-click="openWindow('https://www.e2e.eapplication.metlife.com.au/eApplication/QuickQuoteController?S=' + calcEncrpytURL)">
              <div class="box mt10px aligncenter "> <img src="static/statewide/images/bg_blank.png" class="icoSave mt30px" >
                <h4 class="	 mt15px">Insurance <br>
                  cost</h4>
                <p class="mt15px">How much will my insurance cost?</p>
                <p class="spacer visible-sm">&nbsp;</p>
                <p class="spacer visible-sm">&nbsp;</p>
              </div>
            </div>
            <p class="spacer visible-xs">&nbsp;</p>
            <div class="col-sm-4 hidden-xs"> &nbsp; </div>
          </div>
          <p class="spacer hidden-xs">&nbsp;</p>
        </div>
           <p class="spacer">&nbsp;</p>
           <div class="panel panel-default nobg">
           <div id="collapseNone" class="panel-collapse collapse in">
           <div class="panel-body parent-flex-container">
           <!-- <div class="pageLinksWrapper"> -->
             <div class="col-xs-12 col-sm-6 bgwhite child-flex-box"> <img class="image" src="static/statewide/images/theme_adviser.jpg"  alt="Talk to a financial planner" >
              <div class="content">
                <h4 class=" mt20px">StateWide Super adviser</h4>
                <p class="mt15px">How do you know if you're really making the most of your super? Will you have enough for a comfortable retirement?</p>
              </div>
              <div class="col-sm-9 col-sm-offset-1 col-md-8 col-md-offset-2 mt15px">
             
                <p class="spacer hidden-md hidden-sm">&nbsp;</p>
                <button  class="btn btn-primary w100p" id="bu3" type="button" ng-click="openWindow('http://www.statewide.com.au/financial_planning/what_is_financial_advice')">Learn more </button>
              </div>
            
              <p class="spacer">&nbsp;</p>
            </div>
			<p class="spacer visible-xs">&nbsp;</p>
            <div class="col-xs-12 col-sm-6 bgwhite child-flex-box"> <!--  <img class="image" src="static/statewide/images/theme_peace-of-mind.jpg">-->
            
            <iframe src="https://player.vimeo.com/video/250046029?title=0&amp;byline=0&amp;portrait=0" width="100%" height="222" frameborder="0"></iframe>
             
              <div class="content">
                <h4 class=" mt20px">Peace of mind for life</h4>
                <p class="mt15px">Death and Total & Permanent Disability (TPD) insurance cover may ensure that your family are supported when you're no longer around.</p>
              <label class="helpHintLabel"><strong>Disclaimer: </strong></br>Issued by MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096. This video is for educational purposes. It does not take into account your personal needs. Statewide's insurance cover is provided by MetLife. Refer to the relevant Product Disclosure Statement when making a decision about your insurance.</label>
              </div>
                           
            </div>
          </div>
          </div>
          <!-- </div> -->
          </div>
         </div>
       </div>
     </div>
    </div>
    
    <!-- <div class="row mt20px">
    <div class="  col-xs-12 visible-xs ">
      <div class="logoutxs pointer " ng-click="openWindow('http://www.hostplus.com.au/about')"> <a>About Us</a> </div>
      <div class="logoutxs  pointer nobordertop" ng-click="openWindow('https://member.aas.com.au/#/ContactUs')"> <a>Contact Us</a> </div>
      
     </div>
    </div>  -->
    
    
    
     <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 65 18 65</h3>
        </div>
		<!--<div class="help-block bg-primary pointer" style=" background-color: #feb914;" ng-click="showSavedAppPopup('SCOVER')" >
			<h2 class="helpHead">Special Offer For New Members</h2>
			<p class="helpTxt">As a special offer to new members of
				HOSTPLUS, you have the opportunity to increase your default
				insurance cover and/or obtain Salary Continuance cover provided
				you apply within six months from the effective date of your first
				on time SG Contribution that is received from your HOSTPLUS
				participating employer or within 60 days from the day you receive
				your HOSTPLUS welcome letter, whichever is the latter.</p>
		</div>-->
      </div>
    </div>
</div>
 	
 </div>
  
  <!-- /container --> 
 <p class="spacer">&nbsp;</p>
<div ng-include="'../../eapply/static/statewide/footer.html'"></div>

<!-- New Member Popup starts --> 
		<div aria-hidden="false" aria-labelledby="mymodalNewMemLabel" role="dialog" tabindex="-1" class="modal fade in" id="mymodalNewMem" style="display: none;" 
		 onclick="document.getElementById('mymodalNewMem').style.display = 'none';document.getElementById('mymodalNewMemFade').style.display = 'none';" >
		  <div class="modal-dialog hhints">
		    <div id="modal-content-id" class="modal-content">
		       <div class="modal-header">
			      <a onclick="document.getElementById('mymodalNewMem').style.display = 'none';document.getElementById('mymodalNewMemFade').style.display = 'none';" 
			          data-dismiss="modal" aria-hidden="true"> <button class="close xi" type="button">X</button>
		          </a>
		       </div>
			   <div class="modal-body">
			    <h4 class="modal-title aligncenter" id="mymodalNewMemLabel"> New member</h4>
		      	<!-- Row starts -->
		         <div class="row  rowcustom  ">
		          <div class="col-sm-12">
		            <p class="aligncenter">
		              <div id="newMember_text"></div>
		            </p>
		           </div>
		         </div>
		       <!-- Row ends -->
		      </div>
				        
		      <div class="modal-footer mt0 pt0">
		       <div class="row">
		        <div class="col-sm-4"></div>
		         <div class="col-sm-4 col-xs-12">
		          <a onclick="document.getElementById('mymodalNewMem').style.display = 'none';document.getElementById('mymodalNewMemFade').style.display = 'none';">
		           <!-- <button class="btn btn-primary w100p" type="button" ng-click="go('/quote')">Yes</button> -->
		          </a> 
		          <button class="btn btn-primary w100p" type="button" ng-click="go('/newmemberquote/1',true)">Yes</button>
		         </div>
		         <div class="col-sm-4 col-xs-12">
		          <a onclick="document.getElementById('mymodalNewMem').style.display = 'none';document.getElementById('mymodalNewMemFade').style.display = 'none';">
		           <!-- <button class="btn btn-primary w100p" type="button" ng-click="go('/newmemberquote')">No</button>-->
		          </a> 
		            <button class="btn btn-primary w100p" type="button" ng-click="go('/quote/1',true)">No</button>
		         </div>
		         <div class="col-sm-4"> </div> 
		        </div>
		      </div>
		     </div>
			    <!-- /.modal-content --> 
		  </div>
	    <!-- /.modal-dialog --> 
	  </div>
	 <div class="modal-backdrop fade in" id= "mymodalNewMemFade" style="display:none;"> 
  </div>
  </div>
<!--New Member Popup ends -->

<!-- <script type="text/javascript">
    function showNewMemberPopUp(val){	
   		if(val == null || val == "" || val == " "){
   			hideTips();
   		}else{
   		 document.getElementById('mymodalNewMem').style.display = 'block';
   		 document.getElementById('mymodalNewMemFade').style.display = 'block';
   		 document.getElementById('newMember_text').innerHTML=val;	
   		}
   	}
     function hideTips (){
   		if(document.getElementById('help_div')){
   			document.getElementById('help_div').style.display = "none";
   		}						
   	}
</script>
 -->
<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider2' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount2' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script>

