<p class="color2 privacy-text"><strong>Your privacy with MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife' and the 'Insurer')</strong></p>
<p align="justify">The personal information you provide in the form is necessary for us to provide you with the products and services you have requested from us, and to manage your claims. 
You do not have to provide us with your personal information, but if you do not do so we may not be able to provide you with our products or services. MetLife Insurance Limited complies with the Privacy Act 1988 and the principles laid out in its privacy policy which details information about how you may access or seek correction of your personal information, 
how we manage that information and our complaints process. MetLife's Privacy Policy is readily available and can be viewed at 
<a href="https://www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy</a>.
</p>
<p class="color2" align="justify"><strong>Your privacy as a member of Statewide</strong></p>
<p align="justify">The information you provide on this form is collected by and held for Statewide Financial Management Services (SFMS) for the fund administrator, StatewideSuper, in accordance with the Australian Privacy Principles of the Privacy Act. 
Such information is usually disclosed to third parties, including the Insurer or medical consultant who may be involved with the assessment of this application, and is held by SFMS and the Insurer. 
For more information about privacy, contact Client Services on 1300 65 18 65 or visit
<a href="https://www.statewide.com.au" class="" target="_new">www.statewide.com.au</a> to view the privacy statement.
</p>