/*!
 * Copyright 2014 MetLife Australia.
 *//*
@font-face {
	font-family: 'DroidSerif';
	src: url('../fonts/DroidSerif.eot');
	src: url('../fonts/DroidSerif.eot?iefix') format('embedded-opentype'),  url('../fonts/DroidSerif.woff') format('woff'),  url('../fonts/DroidSerif.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'DroidSerif-Bold';
	src: url('../fonts/DroidSerif-Bold.eot');
	src: url('../fonts/DroidSerif-Bold.eot?iefix') format('embedded-opentype'),  url('../fonts/DroidSerif-Bold.woff') format('woff'),  url('../fonts/DroidSerif-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'DroidSerif-BoldItalic';
	src: url('../fonts/DroidSerif-BoldItalic.eot');
	src: url('../fonts/DroidSerif-BoldItalic.eot?iefix') format('embedded-opentype'),  url('../fonts/DroidSerif-BoldItalic.woff') format('woff'),  url('../fonts/DroidSerif-BoldItalic.ttf') format('truetype')
}
@font-face {
	font-family: 'DroidSerif-Italic';
	src: url('../fonts/DroidSerif-Italic.eot');
	src: url('../fonts/DroidSerif-Italic.eot?iefix') format('embedded-opentype'),  url('../fonts/DroidSerif-Italic.woff') format('woff'),  url('../fonts/DroidSerif-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
@font-face {
	font-family: 'Effra-Bold';
	src: url('../fonts/Effra-Bold.eot');
	src: url('../fonts/Effra-Bold.eot?iefix') format('embedded-opentype'),  url('../fonts/Effra-Bold.woff') format('woff'),  url('../fonts/Effra-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
 
@font-face {
	font-family: 'Effra-Regular';
	src: url('../fonts/Effra-Regular.eot');
	src: url('../fonts/Effra-Regular.eot?iefix') format('embedded-opentype'),  url('../fonts/Effra-Regular.woff') format('woff'),  url('../fonts/Effra-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}
    
@font-face {
	font-family: 'glyphicons-halflings-regular';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?iefix') format('embedded-opentype'),  url('../fonts/glyphicons-halflings-regular.woff') format('woff'),  url('../fonts/glyphicons-halflings-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

@font-face {
	font-family: 'ColesInsuranceIcons';
	src: url('../fonts/ColesInsuranceIcons.eot');
	src: url('../fonts/ColesInsuranceIcons.eot?iefix') format('embedded-opentype'), url('../fonts/ColesInsuranceIcons.woff') format('woff'), url('../fonts/ColesInsuranceIcons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}*/

@import "//hello.myfonts.net/count/2e1ba2";
@font-face {
    font-family: "Effra-Heavy";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Effra-Heavy.woff2") format("woff2"), url("../fonts/Effra-Heavy.woff") format("woff"), url("../fonts/Effra-Heavy.ttf") format("truetype");
}
@font-face {
    font-family: "Effra-Bold";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Effra-Bold.woff2") format("woff2"), url("../fonts/Effra-Bold.woff") format("woff"), url("../fonts/Effra-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Effra-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Effra-Regular.woff2") format("woff2"), url("../fonts/Effra-Regular.woff") format("woff"), url("../fonts/Effra-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Effra-Light";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Effra-Light.woff2") format("woff2"), url("../fonts/Effra-Light.woff") format("woff"), url("../fonts/Effra-Light.ttf") format("truetype");
}
@font-face {
    font-family: "DroidSerif";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/DroidSerif.woff2") format("woff2"), url("../fonts/DroidSerif.woff") format("woff"), url("../fonts/DroidSerif.ttf") format("truetype");
}
html {
    font-family: sans-serif;
}



@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }






body {
	color: #000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #e6e6e6;
	font-size:16px;
 
	
}
bobyRemoved{
	-webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a, a:visited {
	color: #feb914 ; outline:none
}
a:hover {
	color: #002855 ; text-decoration:none; outline:none
}
.panel-heading a  { text-decoration:none !important}
.btn {
	border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 12px;
}
.btn-default {
	border: none;
	border-radius: 0px;
	font-size: 20px;
	padding:7px 20px 7px 20px;
	font-family:Effra-Bold,Tahoma,Verdana,Geneva,sans-serif;
	text-decoration: none;
	display: inline-block;
	font-weight:  normal !important;
	color: #fff;
	background: #002855  ;
	margin:10px 0;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-primary, .btn-sec:hover, .btn-sec:focus, .btn-sec:active, .btn-sec.active, .open .dropdown-toggle.btn-sec {
	background-color: #004088 !important;
	color:#fff !important;
 }
.btn-default2 {
	border: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-size: 14px;
	padding: 6px;
	text-decoration: none;
	display: inline-block;
	text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
	font-weight: normal;
	color: #333;
	background-color: #E4E4E4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E4E4E4), to(#CECFCF));
	background-image: -webkit-linear-gradient(top, #E4E4E4, #CECFCF);
	background-image: -moz-linear-gradient(top, #E4E4E4, #CECFCF);
	background-image: -ms-linear-gradient(top, #E4E4E4, #CECFCF);
	background-image: -o-linear-gradient(top, #E4E4E4, #CECFCF);
	background-image: linear-gradient(to bottom, #E4E4E4, #CECFCF);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E4E4E4, endColorstr=#CECFCF);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .btn-default2:hover, .btn-default2:focus, .btn-default2:active, .btn-default2.active, .open .dropdown-toggle.btn-default2 {
	background-color: #194e6d; color:#fff;
	 
}


.btn-action {
	border: none;
	border-radius: 0px;
	font-size: 20px;
	padding: 7px 20px;
	font-family:Effra-Bold,Tahoma,Verdana,Geneva,sans-serif;
	text-decoration: none;
	display: inline-block;
	font-weight:  bold;
	color: #000;
	background-color: #ffd000 !important;
}
.btn-action:hover, .btn-action:focus, .btn-action:active, .btn-action.active, .open .dropdown-toggle.btn-action, .btn-sec:hover, .btn-sec:focus, .btn-sec:active, .btn-sec.active, .open .dropdown-toggle.btn-sec {
	background-color: #ffe24e !important;
	color:#000 !important;
 }
 
 a.cancellink { 

    background-image: none;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    font-family: Effra-Bold,Tahoma,Verdana,Geneva,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin-bottom: 20px;
    padding: 9px 20px 9px 18px;
    text-align: center;
    transform: perspective(1px);
    transition: background-color 200ms cubic-bezier(0.39, 0.575, 0.565, 1) 0s, color 200ms cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
    vertical-align: middle;
    white-space: nowrap;
    will-change: background-color, color, border-color;
	background-color: #002855;
    color: #fff;
	font-size: 20px;
    padding: 7px 20px;
	text-decoration:none;
	opacity:.6;


}
a.cancellink:hover { text-decoration:none; background:#004088; color:#fff;}

.btn-primary {
	border: none;
	border-radius: 0px;
	font-size: 20px;
	padding:7px 10px 7px 10px;
	font-family:Effra-Bold,Tahoma,Verdana,Geneva,sans-serif;
	text-decoration: none;
	display: inline-block;
	font-weight:  normal !important;
	color: #fff;
	background: #feb914 !important;
	margin:10px 0;
}
.btn-session {
	border: none;
	border-radius: 0px;
	font-size: 20px;
	padding:7px 31px 8px 25px;
	font-family:Effra-Bold,Tahoma,Verdana,Geneva,sans-serif;
	text-decoration: none;
	display: inline-block;
	font-weight:  normal !important;
	color: #fff !important;
	background: #feb914 !important;
	margin:10px 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-sec:hover, .btn-sec:focus, .btn-sec:active, .btn-sec.active, .open .dropdown-toggle.btn-sec {
	background-color: #E5A712 !important;
	color:#fff !important;
 }
.btn-sec {
	border: 1px solid #c01228;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 6px;
	font-size: 14px;
	padding: 6px;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
	font-weight: normal;
	color: #FFFFFF;
	background-color: #E9222C !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#E9222C), to(#D71319));
	background-image: -webkit-linear-gradient(top, #E9222C, #D71319);
	background-image: -moz-linear-gradient(top, #E9222C, #D71319);
	background-image: -ms-linear-gradient(top, #E9222C, #D71319);
	background-image: -o-linear-gradient(top, #E9222C, #D71319);
	background-image: linear-gradient(to bottom, #E9222C, #D71319);
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#E9222C, endColorstr=#D71319);
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
.btn-sec:hover, .btn-sec:focus, .btn-sec:active, .btn-sec.active, .open .dropdown-toggle.btn-sec {
	color: #ffffff;
	background-color: #E01A22;
	border-color: #E01A22 !important;
}
.radiobutton.active {
	background:none;
 
	box-shadow: none
}
.btn.radiobutton:active {
	box-shadow: none
}
.c-mt10px {
	margin-top: 10px !important
}
.c-logo {
	margin: 15px 0
}
.c-mb10px {
	margin-bottom: 10px
}
.c-values {
	font-size: 450%;
	color: #E01A22;
	margin-top: -15px
}
sup {
	top: -0.4em;
}
sub, sup {
	font-size: 60%;
}
.c-val {
	margin-left: -10px;
	font-weight: bold
}
.c-round {
	background: none;
	border: 7px solid #E01A22;
	color: #555;
	font-size: 130%;
	height: 70px;
	padding: 13px 0 0;
	text-align: center;
	width: 70px;
	float: right;
	line-height: 100%
}
.c-round.sma {
	background: #FFFFFF;
	border: 7px solid #E01A22;
	color: #555;
	font-size: 90%;
	height: 55px;
	padding: 9px 0 0;
	text-align: center;
	width: 55px;
	float: left;
	font-weight: bold
}
.sma {
	border: 2px solid #fff;
	margin: -2px 0;
	border-radius: 50%
}
.c-bg1 {
	background-color: #e5e5e5 !important;
	overflow: hidden
}
.c-bg1 .linksec {
	border-bottom: 1px dashed #cdcdcd;
}
.c-bg2 {
	box-shadow: 10px -10px 50px -20px #CCCCCC inset;
	background: url(../images/bg_repeat.png) repeat top left;
	border-radius: 10px
}
.fleft {
	float: left !important
}
.fright {
	float: right !important
}
.per {
	margin: 35px 0 0 5px;
}
.c-selected {
	color: #390 !important;
	font-size: 120%;
	text-align: left
}
.mt25px {
	margin-top: 25px !important
}
.mt30px {
	margin-top: 30px !important
}
.corner {
	border-radius: 20%;
	width: 75px
}
.price {
	font-weight: bold
}
.price span {
	font-size: 50%
}
.color1 {
	color: #666
}
.mt10px {
	margin-top: 10px !important;
}
.mr10px {
	margin-right: 10px
}
.spacer {
	clear: both;
	height: 10px;
	display: block
}
p.spacer5px {
	clear: both;
	height: 5px;
	display: block;
	margin: 0px
}
.block {
	display: block
}
.mt20px {
	margin-top: 20px
}
.tel {
	color: #fff;
	font-size: 16px;
}
.color2 {
	color: #808080 !important
}
.navbar-nav > li.active {
	background: url(../images/sprite.png)50% -114px no-repeat;
	color: #4c4c4c
}
.navbar-nav > li.done {
	background: url(../images/sprite.png)50% 0px no-repeat;
}
.navbar-nav > li.next {
	background: url(../images/sprite.png)50% -62px no-repeat;
	color: #999
}
.navbar-nav > li.active.first {
	background: url(../images/sprite.png) 31px -301px no-repeat;
	color: #333
}
.navbar-nav > li.done.first {
	background: url(../images/sprite.png) 31px -187px no-repeat;
}
.navbar-nav > li.next.first {
	background: url(../images/sprite.png) 50% -62px no-repeat;
}
.navbar-nav > li.active.last {
	background: url(../images/sprite.png) -1450px -301px no-repeat;
}
.navbar-nav > li.done.last {
	background: url(../images/sprite.png) -1444px -187px no-repeat;
}
.navbar-nav > li.next.last {
	background: url(../images/sprite.png) -1453px -249px no-repeat;
}
.navbar-nav > .active > span {
	color: #FFFFFF;
	font-size: 15px !important;
	font-weight: bold;
	left: 45%;
	position: absolute;
	top: 2px;
	z-index: 99;
}
.navbar-nav > .next > span {
	color: #bfbfbf;
	font-size: 15px !important;
	font-weight: bold;
	left: 44%;
	position: absolute;
	top: 1px;
	z-index: 99;
}
.navbar-nav > .next > span.one, .navbar-nav > .next > span.two, .navbar-nav > .next > span.three, .navbar-nav > .next > span.four, .navbar-nav > .next > span.five, .navbar-nav > .next > span.six, .navbar-nav > .active > span.one, .navbar-nav > .active > span.two, .navbar-nav > .active > span.three, .navbar-nav > .active > span.four, .navbar-nav > .active > span.five, .navbar-nav > .active > span.six {
	position: absolute;
	top: 0px;
	z-index: 99;
	height: 26px;
	width: 24px;
	background-image: url(../images/sprite.png);
	margin-left: -7px;
}
.navbar-nav > .next > span.one {
	background-position: -168px -390px;
}
.navbar-nav > .next > span.two {
	background-position: -200px -390px;
}
.navbar-nav > .next > span.three {
	background-position: -232px -390px;
}
.navbar-nav > .next > span.four {
	background-position: -264px -390px;
}
.navbar-nav > .next > span.five {
	background-position: -296px -390px;
}
.navbar-nav > .next > span.six {
	background-position: -328px -390px;
}
.navbar-nav > .active > span.one {
	background-position: -168px -422px;
}
.navbar-nav > .active > span.two {
	background-position: -200px -422px;
}
.navbar-nav > .active > span.three {
	background-position: -232px -422px;
}
.navbar-nav > .active > span.four {
	background-position: -264px -422px;
}
.navbar-nav > .active > span.five {
	background-position: -296px -422px;
}
.navbar-nav > .active > span.six {
	background-position: -328px -422px;
}
.navbar-nav > li > a span.one, .navbar-nav > li > a span.two, .navbar-nav > li > a span.three, .navbar-nav > li > a span.four, .navbar-nav > li > a span.five, .navbar-nav > li > a span.six {
	height: 26px;
	width: 24px;
	background-image: url(../images/sprite.png);
	display: block;
	float: left;
	margin: -3px 5px 0 0;
}
.navbar-nav > li > a span.one {
	background-position: -168px -390px;
}
.navbar-nav > li > a span.two {
	background-position: -200px -390px;
}
.navbar-nav > li > a span.three {
	background-position: -232px -390px;
}
.navbar-nav > li > a span.four {
	background-position: -264px -390px;
}
.navbar-nav > li > a span.five {
	background-position: -296px -390px;
}
.navbar-nav > li > a span.six {
	background-position: -328px -390px;
}
.navbar-header a span.one, .navbar-header a span.two, .navbar-header a span.three, .navbar-header a span.four, .navbar-header a span.five, .navbar-header a span.six {
	height: 26px;
	width: 24px;
	background-image: url(../images/sprite.png);
	display: block;
	float: left;
	margin: -3px 5px 0 0;
}
.navbar-header a span.one {
	background-position: -168px -422px;
}
.navbar-header a span.two {
	background-position: -200px -422px;
}
.navbar-header a span.three {
	background-position: -232px -422px;
}
.navbar-header a span.four {
	background-position: -264px -422px;
}
.navbar-header a span.five {
	background-position: -296px -422px;
}
.navbar-header a span.six {
	background-position: -328px -422px;
}
.navbar-nav a span.oned, .navbar-nav a span.twod, .navbar-nav a span.threed, .navbar-nav a span.fourd, .navbar-nav a span.fived, .navbar-nav a span.sixd {
	height: 26px;
	width: 24px;
	background-image: url(../images/sprite.png);
	display: block;
	float: left;
	margin: -3px 5px 0 0;
}
.navbar-nav a span.oned {
	background-position: -168px -422px;
}
.navbar-nav a span.twod {
	background-position: -200px -422px;
}
.navbar-nav a span.threed {
	background-position: -232px -422px;
}
.navbar-nav a span.fourd {
	background-position: -264px -422px;
}
.navbar-nav a span.fived {
	background-position: -296px -422px;
}
.navbar-nav a span.sixd {
	background-position: -328px -422px;
}
.navbar-nav > li.active a {
	color: #4C4C4C;
	font-weight: bold
}
.panel-default > .panel-heading a {
	background: url(../images/sprite.png) -1478px -594px  no-repeat ;
	display: block; cursor:pointer; 
}
.panel-default > .panel-heading a:hover    { 
	color:#002855 !important; 
	background: url(../images/sprite.png) -1478px -594px  no-repeat ; 
}
.panel-default > .panel-heading a.collapsed {
	background: url(../images/sprite.png) no-repeat -1478px -536px #feb914;
    clear: both;
    color:#FFFFFF !important;
    display: block; 
   /*  float:left;  */
}
.panel-default > .panel-heading a.collapsed:hover { background: url(../images/sprite.png) no-repeat -1478px -536px #feb914; }

.panel-default > .panel-heading a.noarrow {
	background: none;
	display: block
}
.panel-default > .panel-heading a.collapsed.noarrow {
	background: none;
	display: block
}


label {
	font-weight: normal;
	padding-top: 10px;
}
.mt12px {
	margin-top: 12px !important
}
.mt15px {
	margin-top: 15px !important
}
.ml10px {
	margin-left: 10px !important
}
.panel-group a:focus, .panel a:focus {
	outline: none;
}
.pt0 {
	padding-top: 0 !important
}
.mt0 {
	margin-top: 0 !important
}
.pt20px {
	padding-top: 20px !important
}
.pl0 {
	padding-left: 0 !important
}
.nav > li > a {
	padding: 10px 7px
}
.navbar-nav > li > a {
	font-size: 13px;
	padding: 25px 0px 0px 0;
	margin: 0 12px;
}
.navbar-nav > li.next > a {
	color: #999
}
.c-header {
	background: #fff;
	border-bottom:1px solid #eee;
}
.c-footer { border-top:1px solid #eee;
 
	padding:20px 0;
}
.c-headline {
	color: #E01A22;
	margin-top: 30px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
}
.navcustom {
	margin-bottom: 10px !important;
	margin-top: 30px;
}
.c-navxs .navbar-inverse {
	border: 2px solid #E5E5E5;
	border-radius: 5px;
	background: none
}
.c-navxs .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #333;
}
.navbar-inverse .navbar-toggle {
	border: none
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: transparent
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
	overflow: hidden
}
.bg-primary {
	background-color: #E01A22
}
.c-circprime {
	background-color: #E01A22;
	border-radius: 50%;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding: 2px
}
.c-circsec {
	background-color: #e5e5e5;
	border-radius: 50%;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding: 2px
}
.c-done {
	background: url(../images/sprite.png) no-repeat 0 -403px;
	height: 24px;
	width: 28px;
	display: block;
	float: left;
	margin-right: 3px;
}
.c-navxs .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #333;
	background: #fff;
	cursor: pointer
}
.c-navxs .navbar-nav > li {
	background: url(../images/sprite.png) no-repeat 0 -649px;
	padding: 20px 0 10px 15px
}
.c-navxs .navbar-nav > li.first {
	background: none;
	padding: 10px 0 10px 15px
}
.c-navxs .navbar-nav > li.lastitem {
	padding-bottom: 0px
}
.c-navxs .navbar-nav > li > a {
	margin: 0 !important;
	padding: 0;
	font-size: 16px;
	border-bottom: none !important
}
.c-navxs .navbar-toggle {
	padding: 7px 10px
}
.panel-title {
	color: #111111 !important;
}
a.collapsed .panel-title {
	color: #002855 !important; padding:10px 30px 10px 30px;
}
.colorsec {
	color: #1a93e0
}
.notes {
	padding: 5px 0 0 22px;
	position: relative;
	font-size: 13px;
	line-height: 120%
}
.note {
	font-size: 12px;
	line-height: 120%;
	padding: 3px 0 0 0px;
}
.footercopy {
	font-size: 12px;
	line-height: 120%
}
.icohelp {
	margin: -4px 0px 0px 7px;
	font-size: 110%;
	height: 25px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -1423px -39px  !important;
	float: right;
	display: block;
}
.aura .icohelp {
	
	float: left !important;
	margin-top:5px;

}
.icohelp-xs {
	margin: 2px 0 2px 0px;
	font-size: 110%;
	height: 19px;
	width: 19px;
	background: url(../images/sprite.png) no-repeat -1427px -43px !important;
	float: left;
	display: block;
}
.helpdiv {
	clear: both;
	overflow: hidden
}
.btn-group, .btn-group-vertical, .radiobutton {
	width: 100%
}
.col2 {
	width: 50%;
	padding-right: 2px;
	float: left
}
.col2small {
	width: 45%;
	float: left
}
.col3 {
	width: 33%;
	float: left
}
.col4 {
	width: 25%;
	float: left
}
.col5 {
	width: 20%;
	float: left
}
.withhelp .col2small .btn.radiobutton, .withhelp .col2 .btn.radiobutton, .withhelp .col3 .btn.radiobutton, .withhelp .col4 .btn.radiobutton, .withhelp .col5 .btn.radiobutton {
	width: 100%
}
.sbutton {
	margin-left: 2px
}
.lbutton {
	border-radius: 6px 0 0 6px;
}
.rbutton {
	border-radius: 0px 6px 6px 0;
	margin-left: 2px
}
.mbutton {
	border-radius: 0px;
	border-left: 2px solid #fff
}
.ipradio {
	float: left
}
.form-control {
    background: #f2f2f2 !important;
    box-shadow: inset 0px 3px 0px #d9d9d9;
    border-radius: 2px;
    padding: 10px 6px;
    height: 42px;
    border: 1px solid #cccccc;
    font-size: 16px;
    font-weight: normal;
	
}
.form-control:hover {
	border-color: #feb914;
	border-top:1px solid #feb914;
}
/*.form-control:focus {
 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #feb914;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #feb914;
} */ 
.form-control.dollar { background: #f2f2f2 url(../images/sprite.png) left -634px no-repeat !important ; padding-left:18px;}
.radiobutton {
	background-color: none;
	color: #000;
	font-weight:normal;
	padding:0 ;
	font-size: 16px;
	line-height:2em;
	text-align:left;
}
input[type="radio"] {
	display: none;
}
.radiobutton span {
	display: block;
	float: left;
	height: 32px;
	width: 32px;
	background: url(../images/sprite.png) no-repeat -1473px -37px;
	margin: 2px 15px 0 0
}
.btn-group .radiobutton:hover span {
	background: url(../images/sprite.png) no-repeat -1386px -37px;
}
.radiobutton:focus span {
	background: url(../images/sprite.png) no-repeat -1350px -37px;
}
  
.active.radiobutton span {
	display: block;
	float: left;
	height: 32px;
	width: 32px;
	background: url(../images/sprite.png) no-repeat -1306px -37px ;
	margin: 2px 15px 0 0
}

.btn-group .radiobutton.active:hover span {
	background: url(../images/sprite.png) no-repeat -1347px -37px !important;
}
.link {
	 		color: #fdb913; font-weight:bold
}
.link:hover {
	border-bottom: 1px solid #e3a812;
	color: #e3a812
}
.linksec {
	border-bottom: 1px dashed #1a93e0;
	color: #4c4c4c
}
.linksec:hover {
	border-bottom: 1px solid #1a93e0;
	color: #4c4c4c
}
.p0 {
	padding: 0 !important
}
.w100p {
	width: 100%
}
.alignleft {
	text-align: left
}
.alignright {
	text-align: right
}
.mtm3px {
	margin-top: -3px;
}
.alert-info {
	background-color: #fafafa;
	border-color: #e5e5e5;
	color: #262626;
}
.mr5px {
	margin-right: 5px
}
.footertext {
	font-size: 12px;
	color: #808080;
}
.input-group-addon.btn {
	padding: 6px 12px;
	border-color: #e5e5e5
}
.nav-tabs > li.two {
	font-weight: bold;
	text-align: center;
	width: 50%;
	background: url(../images/bg_repeattab.png) repeat scroll left top rgba(0, 0, 0, 0);
	box-shadow: 10px -10px 50px -20px #CCCCCC inset;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #339900;
}
.nav-tabs > li.two.active {
	box-shadow: none
}
.nav-tabs > li > a {
	color: #4C4C4C
}
.nav-tabs li .glyphicon-ok {
	display: none
}
.nav-tabs li.active .glyphicon-ok {
	display: inline-block
}
.nav-tabs > li.two.active {
	background: none
}
.telno {
	color: #1a93e0;
	margin: 0 0 0px;
	font-size: 90%
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
}
.tickforms {
	background: url(../images/sprite.png) no-repeat -73px -361px;
	height: 14px;
	width: 15px;
	display: block;
	float: right;
	margin-top: 8px
}
.col-sm-1 .tickforms {
	margin-top: 0px;
}
.col-sm-1.p-sm-20 .tickforms {
	margin-top: -10px;
	margin-right: 0px;
}
.mrm25px {
	margin-right: -25px
}
.relative {
	position: relative !important
}
.tickforms.cover {
	float: none;
	position: absolute;
	left: 230px;
	top: 10%
}
label {
	width: auto
}
.c-selected .tickforms {
	margin-top: 0
}
.saverow {
	padding: 0 15px !important;
	border-width: 2px;
	vertical-align: middle;
}
.tickforms.faded {
	background-position: -104px -361px
}
.btn-primary.disabled {
	border-color: transparent;
	color: #ecb8bc
}
.row.rowcustom {
	padding: 8px 15px;
}
.secrow  { background:#fff; margin-left:-35px; margin-right:-35px;   padding: 8px 20px; position:relative}
.rowcustom hr {
	border-color: #ddd;
	border-width: 2px;
	margin: 20px 15px;
}
.rowcustom hr.line { margin:10px -20px; border-width: 1px;}
.row.rowcustom.first {
	margin-top: 5px
}
.has-error .tickforms {
	background: url(../images/sprite.png) no-repeat -131px -361px
}
.has-error .form-control {
	 
}
.has-error .bg-danger {
	display: block !important;
	background: #9E0114;
	color: #fff;
	font-size: 11px;
	padding: 2px 0 2px 10px;
	border-radius: 0 0 6px 6px;
}
.row.rowcustom .bg-danger {
	display: none
}
.navbar-nav > .done > span {
	display: none
}
.navbar-nav > .done > a, .navbar-nav > .done > a:hover, .navbar-nav > .done > a:focus {
	border-bottom: 1px dashed #ccc;
	color: #4D4D4D
}
.has-error .radiobutton {
	border: 0px solid #9E0114
}
.has-error .radiobutton.lbutton {
	border-radius: 6px 0 0 0px;
}
.has-error .radiobutton.rbutton {
	border-radius: 0px 6px 0 0px;
	border-left: 0 none;
	margin-left: 0;
}
.has-error .radiobutton.rbutton + .bg-danger {
	margin-left: 2px
}
.ml2px {
	margin-left: 2px
}
.c-bg {
	background-color: #f4f4f4;
	border-bottom: 1px solid #e5e5e5;
}
.tickforms.visible-xs {
	bottom: 10px;
	position: absolute;
	right: 15px;
}
.checkboxes.active {
	background: none;
	box-shadow: none
}
.btn.checkboxes:active {
	box-shadow: none
}
.checkboxes {
	/* width: auto */
}
.checkboxes {
	background-color: none;
 
	padding: 6px 0;
	font-size: 16px;
	text-align: left;
	font-weight:normal
}
.checkboxes span {
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -36px -403px ;
	margin: 0px 7px 0 0
}
.checkboxes:hover span {
	background: url(../images/sprite.png) no-repeat -386px -403px ;
}
.active.checkboxes span {
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -68px -403px;
	margin: 0px 7px 0 0
}
.btn-group-vertical > .btn.checkboxes:first-child:not(:last-child):not(.dropdown-toggle) {
 
}
.btn-group-vertical > .btn.checkboxes:last-child:not(:first-child):not(.dropdown-toggle) {
	border-radius: 0 0 6px 6px
}
.btn-group-vertical .radiobutton, .btn-group-vertical .checkboxes {
	text-align: left;
	white-space: normal !important;
	float: left;
	max-width:85%;
}
.has-error .btn-group-vertical > .btn.checkboxes:first-child:not(:last-child):not(.dropdown-toggle) {
	border-radius: 6px 6px 0 0;
	border: 2px solid #9e0114;
	border-bottom: none
}
.has-error .btn-group-vertical > .btn.checkboxes:last-child:not(:first-child):not(.dropdown-toggle) {
	border-radius: 0;
	border: 2px solid #9e0114;
}
.has-error .btn-group-vertical .radiobutton, .has-error .btn-group-vertical .checkboxes {
	margin-bottom: 0px;
	text-align: left;
	white-space: normal !important;
	border: 0px solid #9e0114;
	border-bottom: none
}
.btn-group-vertical .radiobutton span {
	margin: 2px 2px 0 0
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
	 
}
.withhelp .btn.checkboxes, .withhelp .btn.radiobutton {
	width: 100%;
}
.withhelp .col2 .btn.radiobutton {
	width: 100%
}
.withhelp .p-sm-20 .btn.checkboxes {
	width: 100%;
}
.withhelp .icohelp {
	position: absolute;
	right: -30px;
	top: 5px;
}
.mb0 {
	margin-bottom: 0 !important
}
.icovisa {
	background: url(../images/sprite.png) 0px -455px no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icomastercard {
	background: url(../images/sprite.png) -38px -455px no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icoHOSTPLUScard {
	background: url(../images/sprite.png) 0px -498px no-repeat;
	width: 36px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icobpay {
	background: url(../images/sprite.png) 0px -540px no-repeat;
	width: 52px;
	height: 22px;
	display: block;
	margin-left: 5px;
}
.icoencry {
	background: url(../images/sprite.png) 0px -582px no-repeat;
	width: 88px;
	height: 26px;
	display: block
}
.c-phone {
	margin: 15px 0
}
.wwrap {
	white-space: nowrap
}
.red {
	color: #ee1f29;
}
.input-group .form-control {
	position: static
}
/* scrol css starts */
.menut {
	color: #4d4d4d;
	width: 100%;
	display: none
}
.fixed {
	position: fixed !important;
	top: 0;
	min-height: 34px;
	z-index: 2;
	display: block !important
}
/* scroll css ends*/
.date-picker {
	color: #aaa
}
.mb10px {
	margin-bottom: 10px
}
.btn-group > .btn, .btn-group-vertical > .btn {
	z-index: 0 !important
}
.bannerImg {
	margin: 20px 0 30px 0
}
.navbar-nav > li.last > a {
	margin-right: 0
}
.navbar-collapse {
	padding-right: 0
}
.glyphicon.glyphicon-chevron-down {
	font-size: 14px
}
.c-buy {
	padding: 9px 0;
	float: left;
	width: 66%
}
.sectionarea {
	border: 2px solid #e5e5e5;
	padding: 0 10px
}
/* Panel collapse*/
.panel-group .panel {
	border-radius: 0px;
	margin-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
	border: 0px solid #e5e5e5;
	border-top: none
}
.panel {
	border-radius: 0;
	border-width: 0px;
	box-shadow: none
}

.panel-default > .panel-heading {
	background-color: #e6e6e6;
	border-bottom: 2px solid #e5e5e5;
	clear: both; 
	overflow:hidden;
	outline: none;
}
.panel-default > .panel-heading a .panel-title {
	  font-size: 21px;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;	 
	padding: 7px 10px 7px 30px;
}

.panel-default > .panel-heading a.collapsed .panel-title {
	color:#fff !important;
	padding: 10px 30px;
}


.panel-default > .panel-heading a.noarrow .panel-title {
	cursor:default
}
.panel-body {
	border: 2px solid #e5e5e5;
	border-top: none
}
.icoflybuys {
	width: 60px;
	height: 30px;
	background: url(../images/sprite.png) no-repeat -166px -350px;
}
hr.separator {
	border-width: 2px;
	margin: 10px 0 0 0
}
hr {
	border-width: 2px;
}
.icotick {
	width: 16px;
	height: 16px;
	background: url(../images/sprite.png) no-repeat -232px -363px;
}
.icoCont {
	vertical-align: top;
	padding: 0 10px 0 0
}
.ml10p {
	margin-left: 10%;
}
.ml30p {
	margin-left: 30%;
}
.mtm15px {
	margin-top: -15px
}
.bigtxt {
	padding: 10px 0;
	font-size: 112%;
	line-height: 120%
}
.footercopy li {
	padding: 2px 0
}
.w95p {
	width: 95% !important
}
ul.list {
	padding-left: 12px
}
ul.list li {
	margin: 0;
	padding: 2px 0;
}
ul.listing li {
	margin: 0;
	padding: 5px 0;
}
.btn.checkboxes a {
	color: #4B4B4B
}
.btn.checkboxes.active a {
	color: #fff
}
.btn.checkboxes a:hover {
	text-decoration: none
}
a.nou:hover {
	text-decoration: none !important
}
.bootstrap-datetimepicker-widget {
	border: 2px solid #E01A22
}
.datehead {
	background: #E01A22;
	color: #fff;
}
.date-picker.rock {
	color: #4b4b4b
}
.bgwhite {
	background: #fff
}
.row.bgsec {
	background: #e5e5e5;
	-webkit-box-shadow: 0 5px 8px -7px black;
	-moz-box-shadow: 0 5px 8px -7px black;
	box-shadow: 0 5px 8px -7px black;
}
.mb5px {
	margin-bottom: 5px
}
.icoPhone {
	background: url(../images/sprite.png) no-repeat -104px -410px;
	height: 13px;
	width: 13px;
	display: inline-block;
}
.icoDoc {
	background: url(../images/sprite.png) no-repeat -1232px -362px;
	height: 16px;
	width: 16px;
	display: inline-block;
}
.navbar-toggle .caret {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid;
	border-top: none
}
.navbar-toggle.collapsed .caret {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid;
	border-bottom: none
}
p.telno .icoPhone {
	background: url(../images/sprite.png) no-repeat -126px -410px;
	height: 13px;
	width: 13px;
	display: inline-block;
}
.ico {
	font-family: ColesInsuranceIcons;
	position: relative;
	top: 1px;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 10px;
}
.icoCall:before {
	content: "\004B";
	font-size: 11px;
}
.icoPrint:before {
	content: "\0078";
}
.icoChat:before {
	content: "\004D";
}
.icoSave:before {
	content: "\0079";
}
.icoDownarrow:before {
	content: "\0049";
}
/*.tickforms:before { content: "\0051";}*/

/* Select box styling*/
select.selectbox {
	margin: 0;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	width: 100%;
	background-color: #e5e5e5;
	border-radius: 6px;
	box-shadow: none;
	font-weight: bold;
	padding: 7px 6px 6px 6px;
	border: none;
	border: 1px solid #e5e5e5;
}
.has-error select.selectbox {
	border: 2px solid #9e0114;
	border-radius: 6px 6px 0 0;
}
.has-error label.selectboxwrap:before {
	background-color: #e5e5e5;
	border-radius: 3px 3px 0 0;
	content: "";
	display: block;
	height: 32px;
	pointer-events: none;
	position: absolute;
	right: 2px;
	top: 2px;
	width: 25px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.has-error label.selectboxwrap:before {
	height: 31px;
}
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
select.selectbox {
	padding-right: 18px
}
}
label.selectboxwrap {
	position: relative;
	width: 100%;
	padding-top: 0;
	margin-bottom: 0
}
label.selectboxwrap:after {
	content: '\0049';
	color: #e5e5e5;
	background: url(../images/Icons-45.png);
	background-size: contain;
	font-family: ColesInsuranceIcons;
	font-size: 12px;
	right: 8px;
	top: 9px;
	padding: 0 0 2px;
	position: absolute;
	pointer-events: none;
}
label.selectboxwrap:before {
	content: '';
	right: 0px;
	top: 0px;
	width: 25px;
	height: 34px;
	background-color: #e5e5e5;
	position: absolute;
	pointer-events: none;
	display: block;
	border-radius: 6px;
}
/* select box styling ends*/
.brbn {
	border-radius: 0 !important;
}
.brtn {
	border-radius: 0 0 6px 6px !important;
}
.ml20px {
	margin-left: 20px
}
.rowcustom {
	margin-left: 20px;
	margin-right: -5px
}
.row.rowcustom {
	margin-left: -14px;
	margin-right: -15px;
}
.pl20px {
	padding-left: 45px !important
}
.p-sm-20 {
	padding-top: 20px;
}
.btn-group-vertical input[type="checkbox"] {
	display: none;
}

/* phone */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-width : 320px) and (max-device-width : 568px) and (min-device-pixel-ratio : 1.5), only screen and (min-device-width : 320px) and (max-device-width : 568px), only screen and (min-width : 320px) and (max-width : 568px), only screen and (max-width: 320px) {
.p-xs-0px {
	padding-left: 15px !important;
}
.col-sm-1 .tickforms {
	margin-top: 0px;
}
.withhelp .p-sm-20 .col2small .btn.radiobutton {
	width: 90%;
}
.withhelp .p-sm-20 .col2small .btn.radiobutton {
	width: 100%;
}
.withhelp .col2 .btn.radiobutton {
	width: 100%
}
.p-sm-20 {
	padding-top: 30px;
}
}
.input-group.date {
	width: 100%
}
span.input-group-addon.btn {
	position: absolute;
	right: 2px;
	top: 2px
}
.has-error .input-group.date .input-group-addon span {
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
	background-size: contain;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
	border-top-right-radius: 6px
}
.dText {
	color: #333333 !important;
	font-weight: normal;
	font-size: 16px;
}
.outline {
	border: 1px solid #e5e5e5;
	margin: -9px 70px -9px 15px;
	overflow: hidden;
}
.clr {
	clear: both !important
}
.overhidden {
	overflow: hidden
}
.icoError {
	background: url(../images/sprite.png) no-repeat -324px -361px;
	width: 16px;
	height: 16px;
}
.pr0 {
	padding-right: 0 !important
}
.pr20px {
	padding-right: 20px !important
}
.btn-primary.xi:hover, .btn-primary.xi:focus {
	color: #fff !important
}
.help-block {
	background: #003b5d;
	color: #fff;
	padding: 2% 10% 10%;

}
.helpLink {
	background: #feb914 url(../images/sprite.png) right -346px;
	color: #fff;
	 font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
	padding: 8% 10%;
	margin-top:-10px;
	cursor:pointer;
}
.logout {border-right:1px solid #f2f2f2; border-left:1px solid #f2f2f2; padding:50px 30px 56px 30px; text-align:right; float:right;}

.logout.mob {border-right:1px solid #f2f2f2; border-left:1px solid #f2f2f2; padding:10px 30px 16px 30px; text-align:right; float:right;}


.logout a { color:#888; text-transform:uppercase; font-weight:bold; text-decoration:none; font-size:10pt; line-height:1em; }
.logout.mob a { font-size:12px;  }
.logout a:hover { color:#000}
h2.helpHead {  font-size:21px; font-weight:bold; text-transform:uppercase}
h3.helpNo { font-size: 21px;     font-weight: bold; } 
p.helpTxt { font-size:16px; }
h2.title { color:#003b5d; text-transform:uppercase; font-size:21px; font-weight:bold}
h3.subtitle {    font-size:18px; font-weight:bold}
h3.subtitle1 { color:#003b5d; text-transform:uppercase; font-size:18px; font-weight:bold; padding:0 15px; margin:0px 0 20px 0;}
.bootstrap-select > .btn { 
	padding:10px 25px 8px 0px; background-color: #fff;
    border-radius: 0px;
    border-bottom: 2px solid #d4d5d4;
    
	font-size:18px; font-weight:normal
     }
	 
.bootstrap-select > .btn:hover { 
border: none;
    border-bottom: 2px solid #feb914  ;
    border-top: 1px solid #fff ;
	padding:10px 25px 8px 1px;
     }
.bootstrap-select > .btn:focus { 
 
}
  
.btn-group.bootstrap-select.form-control.open .btn.dropdown-toggle.selectpicker { border-radius:0;}
.bootstrap-select.btn-group.open .dropdown-toggle { box-shadow: 0 0px 0 #002855 inset;}
.bootstrap-select.btn-group .btn .caret { color:#002855;}
.bootstrap-select.btn-group .dropdown-menu li > a { font-size:16px; font-weight:normal }
.notebox { background:#fff; padding:15px; }
h2.noteTitle {   font-size: 21px; font-weight: bold; padding: 0 5px 5px; text-transform: uppercase;} 
.footerlinks {color:#808080; font-size:14px;}
.footerlinks a { color:#808080;  margin:0 10px; text-decoration:underline}
.footerlinks a:hover { text-decoration:none}
.footerlinks a:last-child { margin-right:0;}
.row.has-error, .has-error   { background: #ffd8d9}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline { color:#000} 
.aligncenter { text-align:center !important}
.icoCalc { background:url(../images/sprite.png) -330px -352px no-repeat; width:22px; height:23px; display:inline-block; margin-bottom:-3px;}
.pointer { cursor:pointer}
.btn-group-vertical.heading .checkboxes { font-weight:bold; width:auto  }
h5 { text-transform:uppercase; font-weight:bold; color:#003b5d; font-size:12px }
.cover { padding:6px 0 }
.error { color:#be0f34; font-size:12px; font-weight:bold;clear:both; }
.modal-dialog { }
.secrow  { border-bottom:5px solid #e4e4e4; border-top:5px solid #e4e4e4; 	box-shadow: 0 5px 8px -7px black;}
.secrow .row.rowcustom { margin-left: 0px; margin-right:0}
.lwt { background:#fff; width:5px; height:5px; position:absolute; top:-5px; left:35px; }
.rwt { background:#fff; width:5px; height:5px; position:absolute; top:-5px; right:35px; }
.slider { position:relative}
.slidercover { margin-right:28px;  margin-top:15px; position:relative; }
.slider {   }
.sliderin { background:#f2f2f2; border:1px solid #d6d6d6; border-radius:3px; height:6px; margin-right:-28px;}

.ui-slider-handle { background:#feb914; height:36px; width:36px; position:absolute; border-radius:10px; top:-15px; cursor:pointer; left:20px;}
.leftval, .rightval { color:#808080; font-size:12px; margin-top:12px;}
.leftval { float:left}
.rightval { float:right; margin-right:-28px;}
.coverbg { background:#f2f2f2; }
.coverbg h5 { line-height:30px;}
.row.coverbg { margin-top:10px; margin-left: 5px; margin-right: 5px; margin-bottom:-8px; padding:0 5px    }
.row.coverbg.seccolor {   margin-left: -15px; margin-right: -15px; margin-bottom:-8px; padding:0 5px    }
.modal-body .row.coverbg.seccolor {   margin-left: -20px; margin-right: -20px;      }
.borderright { border-right:1px solid #d9d9d9}
.borderright5px { border-right:5px solid #e6e6e6}
.borderright15px { border-right:15px solid #e6e6e6}
.borderleft15px { border-left:15px solid #e6e6e6}
.bordertop5px { border-top:5px solid #e6e6e6}

h4.coverval {  line-height:30px; font-size:16px }
.coverbg.seccolor { background:#003B5D;} 
.coverbg.seccolor h5, .coverbg.seccolor h4.coverval { color:#fff;}
.coverbg.seccolor .borderright { border-color:#686A69;}
.modal-footer { border-top:none}


a.cancellink { 
    background-image: none;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    font-family: Effra-Bold,Tahoma,Verdana,Geneva,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin-bottom: 20px;
    padding: 9px 20px 9px 18px;
    text-align: center;
    transform: perspective(1px);
    transition: background-color 200ms cubic-bezier(0.39, 0.575, 0.565, 1) 0s, color 200ms cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
    vertical-align: middle;
    white-space: nowrap;
    will-change: background-color, color, border-color;
	background-color: #002855;
    color: #fff;
	font-size: 20px;
    padding: 7px 20px;
	text-decoration:none;
	display:block;
	margin:10px 0;
}
a.cancellink:hover { text-decoration:none; background:#004088; color:#fff;}



a.cancellink1 { 

    background-image: none;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    font-family: Effra-Bold,Tahoma,Verdana,Geneva,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.2px;
    margin-bottom: 20px;
    padding: 9px 20px 9px 18px;
    text-align: center;
    transform: perspective(1px);
    transition: background-color 200ms cubic-bezier(0.39, 0.575, 0.565, 1) 0s, color 200ms cubic-bezier(0.39, 0.575, 0.565, 1) 0s;
    vertical-align: middle;
    white-space: nowrap;
    will-change: background-color, color, border-color;
	background-color: #002855;
    color: #fff;
	font-size: 20px;
    padding: 7px 20px;
	text-decoration:none;


}
a.cancellink1:hover { text-decoration:none; background:#004088; color:#fff;}

.r_caret {   height:16px; width:16px; fill: #fff;}
@media (max-width: 767px) {
	.secrow { margin-left:-15px; margin-right:-15px;   padding: 8px 20px; }
	hr.line { margin-left:-20px; margin-right:-20px;}
	.borderright { border:none }
	.line.mob {background:#d8d8d8; height:1px; clear:both; margin-left: -5px;    margin-right: -5px; }
	.modal-dialog.hhints { width:96% !important;}
	.secrow .row.rowcustom { margin-left:-15px; margin-right:-15px;  }
	.borderright5px { border-right:0px solid #e6e6e6}
	.borderright15px { border-right:0px solid #e6e6e6}
	.borderleft15px { border-left:0px solid #e6e6e6}
	 .pl0xs { padding-left:0}
}
.modal-title { text-transform:uppercase; font-weight:bold}
.modal-content { border-radius:0}
.close { color:#707473; opacity:1;  font-size: 48px;     font-weight: normal; line-height:21px;}
.close:hover, .close:focus { color:#e4a812; opacity:1;}
.mt5px { margin-top:5px}
.panel-heading { padding: 10px 0; position:relative }
.icoPlus { background:url(../images/sprite.png) no-repeat  -1470px -421px; height:30px; width:30px; display:inline-block}
.modal-body .row.rowcustom {  padding: 8px 0px; }
.desc {     height:393px;     overflow-x: hidden;     overflow-y: auto; font-size:14px; }
.btn.checkboxes a, .btn.checkboxes.active a { color:#feb914; font-weight:bold}
.noborderleft { border-left:none} 
.noborderright { border-right:none} 
.modal-dialog.hhints { width:500px; margin-top:100px;}
.hhints .modal-header { border:none}
hr.primeline {   border-width: 1px; border-color:#e7e7e7; margin:2px -20px   }
.icoCalc.mob { position:absolute; top:10px; right:15px;}
.primecolor { color:#e5a712;}
.head { color:#808080; font-weight:bold; font-size:14px; text-transform:uppercase }
.panel.nobg { background:none;}
.box { margin:-10px -15px 0 -15px; padding:4px 2px ;}
.size2 { font-size:14px;}
.h350px { min-height:377px}
.h260px { /* min-height:412px */min-height:345px }
.minh260px { min-height:260px}
.minh145px { min-height:145px}
.minh344px { min-height:344px}
.h130px { min-height:206px}
.h445px { min-height:445px}
.minh160px { min-height:190px}
.minh320px { min-height:380px}
.btnadd { background:url(../images/sprite.png) no-repeat right -481px; width:30px; height:30px; display:inline-block}
.btnminus { background:url(../images/sprite.png) no-repeat right -421px; width:30px; height:30px; display:inline-block}
.icoTick, .icoFile, .icoWallet, .icoSave { background:url(../images/sprite.png) no-repeat; height:120px; width:120px; }
.icoTick { background-position: -744px -355px}
.icoFile { background-position: -464px -355px;}
.icoWallet { background-position: -604px -355px;}
.icoSave { background-position: -884px -355px;}
h4 { font-weight:bold; text-transform:uppercase}

 .icoRefresh, .icoDollar, .icoEdit, .icoDelete, .icoConvert, .icoSaved { background:url(../images/sprite.png) no-repeat; height:32px;width:32px; } .icoRefresh { background-position:-1180px -355px }
.icoDollar { background-position: -1076px -355px}
.icoEdit { background-position: -1024px -355px}
.icoDelete { background-position: -1129px -355px} 
.icoConvert {
	background-position: -1128px -409px
}
.icoSaved {
	background-position: -1180px -407px
}


/* .icoRefresh, .icoDollar, .icoEdit, .icoDelete, .icoConvert, .icoSaved {
	background: url(../images/sprite.png) no-repeat;
	height: 32px;
	width: 32px;
}
.icoConvert {
	background-position: -1128px -404px
}
.icoSaved {
	background-position: -1180px -407px
}
.icoRefresh {
	background-position: -1180px -355px
}
.icoDollar {
	background-position: -1076px -355px
}
.icoEdit {
	background-position: -1024px -355px
}
.icoDelete {
	background-position: -1129px -355px
} */

.color3 { color:#000}
.menu { background:#fff; border-bottom:3px solid #dadada; margin-top:5px; min-height:71px; position:relative; font-weight:bold; overflow:hidden; font-size:14px; line-height:14px;}
.dc img, .cn img, .nn img, .cnn img, .nl img, .cnl img, .dd img, .cl img { background:url(../images/sprite.png) no-repeat; height:100%; width:7px; display:inline-block; position:absolute;  }
.menu .dc img.right { background-position:0 0; right:0; top:0}
.menu .dc img.left { background-position:-35px 0; left:0; top:0}
.menu .cn img.right { background-position:-14px 0; right:0; top:0}
.menu .cn img.left { background-position:-7px 0; left:0; top:0}
.menu .nn img.right { background-position:-28px 0; right:0; top:0}
.menu .nn img.left { background-position:-35px 0; left:0; top:0}
.menu .cnn img.right { background-position:-28px 0; right:0; top:0}
.menu .cnn img.left { background-position:-21px 0; left:0; top:0}
.menu .nl img.right { background-position:0 0; right:0; top:0}
.menu .nl img.left { background-position:-35px 0; left:0; top:0}
.menu .cnl img.left { background-position:-20px 0; left:0; top:0}

.menu .dd img.left { background-position:-35px 0; left:0; top:0}
.menu .dd img.right { background-position:-28px 0; right:0; top:0}
.menu .cl img.left { background-position:-20px 0; left:0; top:0}
.menu .cl img.right { background-position:-20px 0; right:0; top:0}


.cn { background:#f2f2f2; min-height:68px;}
.cnn, .nn, .nl, .nn h5, .cnn h5, .nl h5{ color:#d9d9d9}
.menu h5 { margin-bottom:6px}
.dc, .cn, .nn, .nl, .cnl, .cnn, .dd, .cl { min-height:69px; padding-left:25px;} 
.dc.first, .cn.first{ padding-left:20px;}
.cn .txtHolder {min-height:39px; margin-left:-20px; float:left; padding-left:20px}
.txtHolderMob {min-height:39px; margin-left:-20px; float:left; padding-left:40px}
.pl0 { padding-left:0}
.dc h5, .dd h5 { color:#808080}
.menumobile { background:#fff; border-bottom:3px solid #dadada; border-top:1px solid #e4e4e4;  min-height:71px; position:relative; font-weight:bold; overflow:hidden; font-size:15px; line-height:66px;}
.icoMenuFwd, .icoMenuRev, .icoMenuFwd.active, .icoMenuRev.active { height:12px; width:8px; background:url(../images/sprite.png) no-repeat; display:inline-block}
.icoMenuFwd { background-position:-107px -460px}
.icoMenuRev { background-position:-116px -460px }
.icoMenuFwd.active { background-position:-88px -460px; cursor:pointer}
.icoMenuRev.active { background-position:-97px -460px;  cursor:pointer}
.color4 { color:#d9d9d9}
.icoAttach {
    background: url(../images/sprite.png) no-repeat -1485px 4px ;
    padding-left: 25px;
	width:16px; height:16px;
	    display: inline-block;
}
.closeb {
    background: url(../images/sprite.png) no-repeat right -84px;
    display: inline-block;
    height: 11px;
    line-height: 11px;
    margin-left: 10px;
    width: 11px; cursor:pointer
}
ul.files { list-style:none; padding-left:0}
.files span { color:#999}
a.color1 { color: #666 !important}
.errorText { font-size:12px; color: #F75557}
.icohelp.abs { position:absolute; top:3px; right:0;}
.disabled .btn.radiobutton { cursor: default}
.h5px { height:5px !important}
.panel-default > .panel-heading a.linkright {  text-transform: uppercase; font-weight:bold; color:#002855; font-size:14px; text-decoration:underline !important; position: absolute; right:45px; top:20px; background:none;  }
.pb0 { padding-bottom:0 !important}
table.grid { border-top:2px solid #fff; border-left:2px solid #fff }
table.grid td  { background:#fef0c3; text-align:center; padding:18px 0; border-right:2px solid #fff; border-bottom:2px solid #fff }
table.grid th { text-align:center; padding:2px 0; border-right:2px solid #fff;   }
table.grid td a { font-weight:bold}

.fileUpload {
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.fileOpenIp {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    line-height: 22px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.bg-primary {
    background-color: #32a497;
}
.dropdown-menu > li > a:focus { color:#fff !important;}
.ohidden { overflow:hidden}
tr.odd td { background:#f7f7f7 !important}

.panel-body .odd { background:#f6f6f6 !important }
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#848484;
  opacity: 0.5;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: fixed;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ngdialog.ngdialog-theme-plain {
    padding: 15px;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}


.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
    width: 700px;
}

input.form-control{
    background: #f2f2f2;
    border: 1px solid #cccccc;
    border-color: #c4c4c4 #dadada #dadada;
    border-radius: 2px;
    border-top: 1px solid #c4c4c4;
    box-shadow: 0 3px 0 #d9d9d9 inset;
    color: #555555 !important;
    display: block;
    font-size: 16px;
    font-weight: normal;
    height: 42px;
    line-height:1.42957143;
    padding: 10px 6px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 100%;
}
@media (min-width: 1200px){
	.hh4a{
		min-height:38px;
	}
	.minh145px {
   		min-height: 144px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){

	.minh145px{
		height:147px;
	}
	.h350px {
		height: 388px;
	}
}
@media (min-width: 768px) and (max-width: 991px){	
	.hh4a{
		min-height:76px;
	}
	.minh145px {
    	height: 154px;
	}
	.h350px {
		height: 430px;
	}
}
.insh4heading{
	font-weight:bold;
	font-size:18px;
}
.helpHintLabel{
	font-size:11px;
}
.helphint{
	text-transform: uppercase;
	font-weight:bold;
	color: #003b5d;
	font-size:12px;	
}
h4.coverval {  line-height:30px; font-size:26px }
h5.coverval {  line-height:30px; font-size:24px }

/* Changes for dropdown arrow */
select.form-control {
	-webkit-appearance: none;
    background: url(../images/sprite.png) no-repeat #f2f2f2 right 9px bottom -296px !important;
    padding-right: 24px;
}
.xi {
    color: #FDB913 !important;
    cursor: pointer;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px !important;
    font-weight: bold;
    line-height: 1em;
    text-decoration: none;
}

#body-mask {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.3;
	background: #fff;	
}

.checkboxes1 {
    background-color: #feb914;
    color: #fff !important;
    font-size: 16px;
    text-align: left;
    font-weight: normal;
    width: auto;
    border-radius: 0 !important;
    width: 100%;
}


/*Responsive fixes*/

.custom-checkbox-label {
	display: table;
	white-space: initial;
}

table.grid {
    margin-bottom: 0px;
}


@media only screen and (max-width: 500px) {
    table.grid {
    	font-size: 10pt;
	}
	h4.coverval {
	    font-size: 20px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
	.c-logo {
	    margin: 54px 0;
	}
	.c-logo-landing {
		margin: 15px 0;
	}
	.row.coverbg {
		margin-left: -15px;
    	margin-right: -15px;
	}
	.existing-cover-wrapper {
		padding: 0px;
	}
	.ip-warning-exceeded {
		padding-left: 0px !important;
	}
	.ip-warning-text {
	    padding-left: 15px !important;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.ngdialog.ngdialog-theme-plain {
		padding-bottom: 40px !important;
    	padding-top: 40px !important;
    	/* padding-bottom: 0px !important;
    	padding-top: 0px !important; */
	} 
	.ngdialog.ngdialog-theme-plain .ngdialog-content {
		width: 650px !important;
	}
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 500px) {
	.nav-arrows {
		display: block;
    	margin-top: 26px;
	}
}

.panel-body {
    padding: 10px;
}

.panel-body-transfer {
    padding-top: 10px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-bottom: 0px !important;
}


.container {
    padding-left: 0px;
    padding-right: 0px;
}

.ack-checkbox-label {
	width: 100% !important;
	max-width: 100% !important;
}

.text-overflow-ellipsis{
	overflow: hidden;
    text-overflow: ellipsis;
}

.attach-file-label {
 	font-size: 12pt;
 	color: #feb914
}

.ip-warning-exceeded {
	padding: 15px;
}

.ip-warning-text {
	padding-left: 0px;
}
.radio-question-level2 label, .radio-question-level3 label {
	padding-left: 10px;
	padding-right: 10px;
}
.document-name-text {
	padding-top: 10px;
	padding-left:0px;
}

select::-ms-expand {
    display: none;
}

select {
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}