@font-face {
	font-family: "Effra-Heavy";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Effra-Heavy.woff2") format("woff2"), url("../fonts/Effra-Heavy.woff") format("woff"), url("../fonts/Effra-Heavy.ttf") format("truetype");
}
@font-face {
	font-family: "Effra-Bold";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Effra-Bold.woff2") format("woff2"), url("../fonts/Effra-Bold.woff") format("woff"), url("../fonts/Effra-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Effra-Regular";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Effra-Regular.woff2") format("woff2"), url("../fonts/Effra-Regular.woff") format("woff"), url("../fonts/Effra-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Effra-Light";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Effra-Light.woff2") format("woff2"), url("../fonts/Effra-Light.woff") format("woff"), url("../fonts/Effra-Light.ttf") format("truetype");
}
@font-face {
	font-family: "DroidSerif";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/DroidSerif.woff2") format("woff2"), url("../fonts/DroidSerif.woff") format("woff"), url("../fonts/DroidSerif.ttf") format("truetype");
}
@font-face {
	font-family: 'HOSTPLUSInsuranceIcons';
	src: url('../fonts/HOSTPLUSInsuranceIcons.eot');
	src: url('../fonts/HOSTPLUSInsuranceIcons.eot?iefix') format('embedded-opentype'), url('../fonts/HOSTPLUSInsuranceIcons.woff') format('woff'), url('../fonts/HOSTPLUSInsuranceIcons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

body {
	color: #333;
	font-family: Arial, sans-serif;
	background: #e8e8e8;
	font-size: 14px;
	-webkit-font-variant-ligatures: common-ligatures;
	font-variant-ligatures: common-ligatures;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all .30s ease-out;
  overflow: scroll;
}

body.shrink-header{
  padding-top: 70px;
}
.nav-bg {
 background: #fff;
 transition: all .30s ease-out;
}

body.shrink-header .nav-bg {
  padding: 0px;
}

.navbar-toggle {
  border: 1px solid #777;
}
.navbar-toggle .icon-bar {
  background-color: #777;
}
a.navbar-logo {
  padding: 15px 15px;
}

ul.header-navs a {
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}
.help-block {
	background: #aaa;
	color: #fff !important;
	padding:5px 15px 10px;
}
.telephone {
  color: #000 !important;
  text-decoration: none !important;
  cursor: default;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Sailec-Bold', Arial, sans-serif;
	font-weight: normal !important;
}
h5 {
    text-transform: uppercase;
    font-weight: bold;
    color: #808080;
    font-size: 12px;
}
hr.primeline {
  border-width: 1px;
  border-color: #e7e7e7;
  margin: 2px -20px;
}

h2.title {
  color: #003b5d;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
 /*  margin: 10px 0px 20px 20px; */
}

h2.helpHead {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  color: inherit;
}

p.helpTxt {
  font-size: 16px;
}

.form-box-style {
  background-color: #fff;
}

.mtaa-row-style {
  padding: 10px 15px 15px;
}

.form-box-style1 {
  padding: 3rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-width: .2rem;
  background-color: #fff;
}
label {
  font-weight: normal;
}

.custom-input {
  border-radius: 0px;
  padding: 0px 5px;
  height: 35px;
  border: 2px solid #75787b;
  font-size: 16px;
  font-weight: normal;
  color: #000 !important;
}

.footerlinks a {
  color: #808080;
  margin: 0 10px;
  text-decoration: underline;
}

.footertext {
  font-size: 12px;
  color: #808080;
}

.c-footer {
  padding: 20px 0;
  height: 50px;
  position: relative;
}
.metlife-btn-primary  {
  border: 2px solid #0061A0;
  border-radius: 0;
  font-size: 18px;
  /* padding: 10px 10px 10px 10px !important; */
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
  font-weight: 400;
  color: #FFFFFF;
  background-color: #0061A0 !important;
}
.metlife-btn-primary:hover {
  background-color: #0090da !important;
  text-decoration: underline;
  border: 2px solid #0090da;
}

.metlife-btn-primary.symbol-plus {
  background: #0066a1 url(../images/sprite.png) 15px -674px no-repeat;
  background-color: rgb(0, 102, 161);
  padding-left: 30px !important;
}

.form-group.required label:after {
  content:"*";
  color:red;
  font-size: 16px;
}

a.corp-nav-link {
  margin: 0 20px;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}

.corp-panel-body {
  padding: 15px;
}

input[type="radio"] {
  display: none;
}

.radiobutton {
    background: #e5e5e5;
    color: #000;
    font-weight: normal;
    padding: 6px 0;
    font-size: 15px;
    line-height: 1.4em;
    text-align: center;
}

.radiobutton.active {
    background: #00cad4;
    color: #333;
    box-shadow: none;
}

.corp-card-header {
  padding: 0;
}

.corp-card-header-text {
  font-size: 21px;
  padding: 7px 0 0 30px;
  margin-bottom: 7px;

}


#productRequirements > a, .accordionHeader > a {
  height: 100%;
  display: block;
  color: #000;
  background: #3bc1ca url(../images/sprite.png) no-repeat scroll right -592px;
}

#productRequirements > a.collapsed, .accordionHeader > a.collapsed {
  background: url(../images/sprite.png) no-repeat scroll right -534px #666;
}

.card.card-default{
  margin-top: 10px;
}

.corp-category-divider {
  display: none;
}

.corp-category-divider:last {
  display: block;
}
.error {
	color: #ff2626;
	font-size: 12px;
	font-weight: bold;
}
.metlife-btn-primary.disabled   {
  border: 2px solid #0090DA;
  border-radius: 0;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
  font-weight: 400;
  color: #FFFFFF;
  background-color: #0090DA !important;
}

h3.helpNo {
  font-size: 21px;
  font-weight: bold;
  font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}
#body-mask {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.3;
	background: #fff;
}

.body-mask-loader {
	margin-top: -40px;
    margin-left: -40px;
    top: 50%;
    left: 50%;
    position: fixed;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.menu {
	background: #fff;
	border-bottom: 3px solid #dadada;
	margin-top: 5px;
	max-height: 71px;
	position: relative;
	font-weight: normal;
	overflow: hidden;
	font-size: 15px;
	line-height: 14px;
}
.dc img, .cn .shadow-image, .nn img, .cnn .shadow-image, .nl .shadow-image, .cnl img, .dd img, .cl img {
	background: url(../images/sprite.png) no-repeat;
	height: 100%;
	width: 7px;
	display: inline-block;
	position: absolute;
}
.menu .dc img.right {
	background-position: 0 0;
	right: 0;
	top: 0
}
.menu .dc img.left {
	background-position: -35px 0;
	left: 0;
	top: 0
}
.menu .cn .shadow-image.right {
	background-position: -14px 0;
	right: 0;
	top: 0
}
.menu .cn img.left {
	background-position: -7px 0;
	left: 0;
	top: 0
}
.menu .nn img.right {
	background-position: -28px 0;
	right: 0;
	top: 0
}
.menu .nn img.left {
	background-position: -35px 0;
	left: 0;
	top: 0
}
.menu .cnn .shadow-image.right {
	background-position: -28px 0;
	right: 0;
	top: 0
}
.menu .cnn .shadow-image.left {
	background-position: -21px 0;
	left: 0;
	top: 0
}
.menu .nl .shadow-image.right {
	background-position: 0 0;
	right: 0;
	top: 0
}
.menu .nl .shadow-image.left {
	background-position: -35px 0;
	left: 0;
	top: 0
}
.menu .cnl img.left {
	background-position: -20px 0;
	left: 0;
	top: 0
}
.menu .dd img.left {
	background-position: -35px 0;
	left: 0;
	top: 0
}
.menu .dd img.right {
	background-position: -28px 0;
	right: 0;
	top: 0
}
.menu .cl img.left {
	background-position: -20px 0;
	left: 0;
	top: 0
}
.menu .cl img.right {
	background-position: -20px 0;
	right: 0;
	top: 0
}
.cn {
	background: #f2f2f2;
	min-height: 68px;
}
.cnn, .nn, .nl, .nn h5, .cnn h5, .nl h5 {
	color: #bbb
}
.menu h5 {
	margin-bottom: 6px;
	font-weight: normal
}
.dc, .cn, .nn, .nl, .cnl, .cnn, .dd, .cl {
	min-height: 68px;
	padding-left: 25px;
}
.dc.first, .cn.first {
	padding-left: 20px;
}
.cn .txtHolder {
	border-bottom: 0px solid #003a5d;
	min-height: 39px;
	margin-left: -20px;
	float: left;
	padding-left: 20px
}
.dc img, .cn img, .nn img, .cnn img, .nl img, .cnl img, .dd img, .cl img {
    background: url(../images/sprite.png) no-repeat;
    height: 100%;
    width: 7px;
    display: inline-block;
    position: absolute;
}
.menu .cn img.right {
    background-position: -14px 0;
    right: 0;
    top: 0;
}
.menu .cnn img.left {
    background-position: -21px 0;
    left: 0;
    top: 0;
}
.menu .cnn img.right {
    background-position: -28px 0;
    right: 0;
    top: 0;
}
.menu .nl img.left {
    background-position: -35px 0;
    left: 0;
    top: 0;
}

.txtHolderMob {
	border-bottom: 1px solid #003a5d;
	min-height: 39px;
	margin-left: -20px;
	float: left;
	padding-left: 40px
}
.pl0 {
	padding-left: 0
}
.p0 {
    padding: 0 !important;
}
.dc h5, .dd h5 {
	color: #808080
}
.menumobile {
	background: #fff;
	border-bottom: 3px solid #dadada;
	border-top: 1px solid #e4e4e4;
	min-height: 71px;
	position: relative;
	font-weight: bold;
	overflow: hidden;
	font-size: 16px;
	line-height: 66px;
	margin: 0 -15px
}
.icoMenuFwd, .icoMenuRev, .icoMenuFwd.active, .icoMenuRev.active {
	height: 12px;
	width: 8px;
	background: url(../images/sprite.png) no-repeat;
	display: inline-block
}
.icoMenuFwd {
	background-position: -107px -460px
}
.icoMenuRev {
	background-position: -116px -460px
}
.icoMenuFwd.active {
	background-position: -88px -460px;
	cursor: pointer
}
.icoMenuRev.active {
	background-position: -97px -460px;
	cursor: pointer
}

.scrollBox {
    width: 100%;
    height: 220px;
    padding: 10px 15px;
    overflow-y: auto;
    border: 1px solid #CCC;
}

/* .active.checkboxes span {
    display: block;
    float: left;
    height: 24px;
    width: 24px;
    background: url(../images/sprite.png) no-repeat -68px -403px;
    margin: 0px 7px 0 -6px;
}

.checkboxes.active {
    background: #0090DA;
    box-shadow: none;
    color: #fff;
}

.btn-group-vertical .radiobutton, .btn-group-vertical .checkboxes {
    margin-bottom: 3px;
    text-align: left;
    white-space: normal !important;
} */

.checkboxes.active {
    background: #00cad4;
    box-shadow: none;
    color: #333;
}
.btn.checkboxes:active {
	box-shadow: none
}
.checkboxes {
	width: 97%;
}
.checkboxes {
	background: #e5e5e5;
	padding: 6px 0;
	font-size: 15px;
	text-align: left;
	font-weight: normal
}
.checkboxes span {
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -36px -403px;
	margin: 0px 7px 0 7px
}
.checkboxes:hover span {
	background: url(../images/sprite.png) no-repeat -36px -403px;
}
.active.checkboxes span {
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -68px -403px;
	margin: 0px 7px 0 7px;
}

.btn-group-vertical > .btn.checkboxes:last-child:not(:first-child):not(.dropdown-toggle) {
	border-radius: 0 0 6px 6px
}
.btn-group-vertical .radiobutton, .btn-group-vertical .checkboxes {
	margin-bottom: 3px;
	text-align: left;
	white-space: normal !important
}
.btn-group-vertical .radiobutton {
	text-align: center
}
.has-error .btn-group-vertical > .btn.checkboxes:first-child:not(:last-child):not(.dropdown-toggle) {
	border-radius: 6px;
	border: 2px solid #9e0114;
}
.has-error .btn-group-vertical > .btn.checkboxes:last-child:not(:first-child):not(.dropdown-toggle) {
	border-radius: 0;
	border: 2px solid #9e0114;
}
.has-error .btn-group-vertical .radiobutton, .has-error .btn-group-vertical .checkboxes {
	margin-bottom: 0px;
	white-space: normal !important;
	border: 0px solid #9e0114;
	border-bottom: none
}
.btn-group-vertical .radiobutton span {
	margin: 2px 2px 0 0
}

.withhelp .btn.checkboxes, .withhelp .btn.radiobutton {
	width: 100%;
}
.withhelp .col2 .btn.radiobutton {
	width: 100%
}
.withhelp .p-sm-20 .btn.checkboxes {
	width: 100%;
}

.cover-header {
	background: #0090DA;
	box-shadow: none;
	color: #fff;
	padding: 10px 0;
	font-size: 15px;
	border-radius: 2px;
	margin: 0;
}

.coverbg {
	background: #f2f2f2;
}
.coverbg h5 {
	line-height: 30px;
    margin: 10px 0;
}

.cover-amount-holder {
	margin-top: 10px;
	padding: 0 5px;
	background: #f2f2f2;
	margin: 10px -20px;
}

h4.coverval {
	line-height: 30px;
	font-size: 16px;
	margin: 10px 0;
}

label {
	margin: 5px 0;
	padding-top: 10px;
}
.menu-block div {
	border-right: 1px solid #f2f2f2;
	padding: 40px 30px 30px;
	text-align: right;
	display: inline-block;
}
.menu-block a {
	color: #333 !important;
	text-transform: uppercase;
	text-decoration: none
}
.menu-block a:hover {
	color: #3bc1ca;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .cover-header {
    font-size: 13px;
  }
  .menu-block div {
	border: 0 !important;
	padding: 0 !important;
	display: block;
  }
  .menu-block div:first-child{
	margin-top: 11px;
  }
}
#collapseOne .panel-body .child-flex-box:not(:last-child) {
    border-right: 0 !important;
    border-right: 5px solid #e6e6e6 !important;
  }
  #collapseCover .panel-body .child-flex-box:not(:last-child) {
    border-right: 0 !important;
    border-right: 5px solid #e6e6e6 !important;
  }
@media (max-width: 768px) {
	#collapseTwo .manage-insr-options .child-flex-box:nth-child(odd){
		border: 0 !important;
	}
	.borderright5{ 
		border: 0 !important;
	}
	.fileUpload{
		margin: 10px 0;
	}
  #collapseOne .panel-body .child-flex-box:not(:last-child) {
    border-right: 0 !important;
    border-bottom: 5px solid #e6e6e6 !important;
  }
  #collapseCover .panel-body .child-flex-box:not(:last-child) {
    border-right: 0 !important;
    border-bottom: 5px solid #e6e6e6 !important;
  }
  #collapseTwo .manage-insr-options .child-flex-box:nth-child(-n+4) {
    margin-bottom: 5px;
  }
  #collapseTwo .manage-insr-options .child-flex-box:nth-child(-n+2) {
    margin-top: 5px;
  }
  .menu-block div:first-child{
	margin-top: 11px;
  }
  .menu-block div {
	border: 0 !important;
	padding: 0 !important;
	display: block;
  }
}
.menu-block div:last-child{
	border-right: 1px solid #f2f2f2;
}

.menu-block div:first-child{
	border-left: 1px solid #f2f2f2;
}
.mtaa-logo {
    margin: 25px 0;
}
.fright {
    float: right !important;
}
/* .panel-default > .panel-heading a {
	    background: #000 url(../images/sprite.png) no-repeat scroll right -592px;
    display: block;
    cursor: pointer;
    color: #fff;
}
.panel-default > .panel-heading a:hover {
	color: #fff !important;
	background: url(../images/sprite.png) no-repeat scroll right -592px #666;
}
.panel-default > .panel-heading a.collapsed {
	background: url(../images/sprite.png) no-repeat scroll right -534px #ffd000;
	clear: both;
	display: block;
	overflow: hidden;
	color: #002855 !important;
}
.panel-default > .panel-heading a.collapsed:hover {
	background: url(../images/sprite.png) no-repeat scroll right -534px #fcb40e;
}
.panel-default > .panel-heading a.noarrow {
	background-image: none;
	display: block
}
.panel-default > .panel-heading a.collapsed.noarrow {
	background: none;
	display: block
}
.panel-default > .panel-heading {
	background-color: #eaeaea;
    border-bottom: 2px solid #eaeaea;
    overflow: hidden;
}
.panel-default > .panel-heading a .panel-title {
	font-size: 21px;
	font-weight: normal;
	padding: 5px;
	text-transform: uppercase;
	padding: 10px 30px;
}
.panel-default > .panel-heading a.collapsed .panel-title {
	padding: 10px 30px;
}
.panel-default > .panel-heading a.noarrow .panel-title {
	cursor: default
} */
.panel-heading a {
    text-decoration: none !important;
}
.panel.nobg {
    background: none;
}
.panel {
    border-radius: 0;
    border-width: 0px;
    box-shadow: none;
}
.panel-heading {
    padding: 10px 0;
    position: relative;
}
.bgwhite {
    background: #fff;
}
.mb0 {
    margin-bottom: 0 !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.box {
    margin: -10px -15px 0 -15px;
    padding: 5px 15px 10px 15px;
}
.m0 {
    margin: 0 !important;
}
h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}
.mt10 {
    margin-top: 10px !important;
}
p.spacer {
    clear: both;
    height: 10px;
    display: block;
    margin: 0 !important;
    line-height: 10px !important;
}
.flex-box-center {
    justify-content: center;
}
.borderright5 {
    border-right: 5px solid #e6e6e6;
}
.icoTick, .icoFile, .icoWallet, .icoSave {
	background: url(../images/sprite.png) no-repeat;
	height: 120px;
	width: 120px;
}
.icoWallet{
	background-position: -604px -355px;
}
.icoTick {
	background-position: -744px -355px
}

.icoRefresh, .icoDollar, .icoEdit, .icoDelete, .icoConvert, .icoSaved {
    background: url(../images/sprite.png) no-repeat;
    height: 32px;
    width: 32px;
}
.icoSaved {
    background-position: -1180px -407px;
}
.icoRefresh {
    background-position: -1128px -409px;
}
.icoDollar {
    background-position: -1076px -355px;
}
.icoConvert {
    background-position: -1180px -355px;
}
.icoEdit {
    background-position: -1024px -355px;
}
.icoDelete {
    background-position: -1129px -355px;
}
.mt15 {
	margin-top: 15px !important;
}
.bgSec {
    background: #ccffff;
}
.bordertop5 {
    border-top: 5px solid #e6e6e6;
}
.special-offer-color {
    color: #000;
}
.note {
    font-size: 14px;
    line-height: 120%;
    padding: 3px 0 0 0px;
    margin: 0;
    color: #777;
}
.linkBox.col-sm-6:first-of-type {
    margin-right: 5px;
}
.linkBox.col-sm-6 {
    width: calc(50% - 2.5px);
}
.mt20 {
    margin-top: 20px;
}
.linkBox .image {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
}
.icohelp.abs {
    position: absolute;
    top: 3px;
    right: 0;
}
.icohelp {
    margin-left: 10px;
    font-size: 110%;
    height: 24px;
    width: 24px;
    background: url(../images/sprite.png) no-repeat -1423px -40px !important;
    float: right;
    display: block;
    position: absolute;
    top: 5px;
    right: 6px;
}
.icohelpAura {
    margin-left: 10px;
    font-size: 110%;
    height: 24px;
    width: 24px;
    background: url(../images/sprite.png) no-repeat -1423px -40px !important;
    float: right;
    display: block;
    position: absolute;
    top: 12px;
    right: 6px;
}
.bordertop5 {
    border-top: 5px solid #e6e6e6;
}
p.spacer.s1px {
    clear: both;
    height: 1px;
    display: block;
    margin: 0 !important;
    line-height: 1px !important;
}
p.spacer.s5px {
    clear: both;
    height: 5px;
    display: block;
    margin: 0 !important;
    line-height: 5px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.child-flex-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 161px;
}
.parent-flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
     display: flex; 
    -webkit-flex-wrap: wrap; 
    -ms-flex-wrap: wrap;
     flex-wrap: wrap; 
}
#collapseTwo .panel-body .child-flex-box {
    padding: 0 !important;
}
.panel-group .panel {
    border-radius: 0px;
    margin-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
    border: 0px solid #e5e5e5;
    border-top: none; 
}
.manage-cover-box {
    padding: 5px 15px 10px 15px;
}
.landingPageBoxes .panel-body {
    padding-left: 0;
    padding-right: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #3bc1ca !important;
    text-decoration: underline;
    border: 2px solid #3bc1ca;
    color: #000;
}
.w100p {
    width: 100%;
    min-width: 134px;
}
.btn-primary {
    border: 2px solid #3bc1ca;
    font-size: 16px;
    padding: 10px 10px 10px 10px !important;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
    font-weight: 400;
    color: #000;
    background-color: #3bc1ca !important;
    cursor:pointer;
}
#collapseTwo .manage-insr-options .child-flex-box:nth-child(-n+3) {
    margin-bottom: 5px;
}
#collapseTwo .manage-insr-options .child-flex-box {
    border-left: 5px solid #e6e6e6 !important;
}
.pointer {
    cursor: pointer;
}
.menut {
    color: #4d4d4d;
    width: 100%;
    display: none;
}
.c-header {
    background: #fff;
}
.c-logo {
    margin: 25px 0;
}
.mt0 {
    margin-top: 0 !important;
}
.panel-body {
    border: 2px solid #e5e5e5;
    border-top: none;
    padding: 0px;
}
.btn-group, .btn-group-vertical, .radiobutton {
    width: 100%;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    z-index: 0 !important;
}
.select {
    display: inline-block;
    position: relative;
    width: 100%;
}
.select select {
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #333;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    width: 100%;
}
.select__arrow {
    background: rgba(0, 0, 0, 0) url(../images/selectcaret.png) repeat scroll 0 0;
    height: 18px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 10px;
}
.active.radiobutton span {
    display: none;
    float: left;
    height: 32px;
    width: 32px;
    background: url(../images/sprite.png) no-repeat -1306px -37px;
    margin: 2px 15px 0 0;
}
.radiobutton span {
    display: none;
    float: left;
    height: 32px;
    width: 32px;
    background: url(../images/sprite.png) no-repeat -1473px -37px;
    margin: 2px 15px 0 0;
}
.relative {
    position: relative !important;
}
.fleft {
    float: left !important;
}
.btn-group-vertical input[type="checkbox"] {
    display: none;
}
.alignright {
    text-align: right !important;
}
.col2 {
    width: 50%;
    padding-right: 2px;
    float: left;
}
.borderright {
    border-right: 1px solid #d9d9d9;
}
.row.coverbg.seccolor {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -8px;
    padding: 0 5px;
}
.ml10 {
    margin-left: 10px !important;
}
.coverbg.seccolor {
    background: #2dccd3;
}
.coverbg.seccolor h5, .coverbg.seccolor h4.coverval {
    color: #000;
    font-size: 16px;
    font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}
.btn-group-vertical.heading .checkboxes {
    font-weight: bold;
    padding-left: 7px !important;
}
.cover {
    padding: 6px 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Sailec-Bold', Arial, sans-serif;
    font-weight: normal !important;
}
.primecolor {
    color: #3bc1ca;
}
a.fileAttached {
    color: #666 !important;
}
a:hover {
    color: #333C42;
    text-decoration: underline;
    outline: none;
}
a, a:visited {
    color: #0068a3;
    text-decoration: none;
    outline: none;
}
.icoAttach {
    background: url(../images/sprite.png) no-repeat -1485px 4px;
    padding-left: 25px;
    width: 16px;
    height: 16px;
    display: inline-block;
}
ul.files {
    list-style: none;
    padding-left: 0;
}
.height5 {
    height: 5px !important;
}
.padding5{
	padding: 5px !important;
}
.btn-default {
    border: none;
    border-radius: 0px;
    font-size: 16px;
    padding: 12px 10px 12px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 0px 0px 0 rgba(0,0,0,0.3);
    font-weight: normal;
    color: #000 !important;
    background-color: #3bc1ca !important;
    height: 35px;
}
.btn-default.Plus {
    background: #0066a1 url(../images/sprite.png) 15px -675px no-repeat;
    background-color: rgb(0, 102, 161);
    padding-left: 30px !important;
}
.closeb {
    background: url(../images/sprite.png) no-repeat right -84px;
    display: inline-block;
    height: 11px;
    line-height: 11px;
    margin-left: 10px;
    width: 11px;
    cursor: pointer;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
}
table.grid {
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
}
table.grid th {
    text-align: center;
    padding: 2px 0;
    border-right: 1px solid #d9d9d9;
}
table.grid td {
    text-align: center;
    padding: 18px 0;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
	width: 750px;
    margin: 30px auto;
}
.cover-units {
	display: inline-block;
    position: absolute;
    top: 47px;
    left: 350px;
    color: #002855;
}
.cover-units-ip{
	display: inline-block;
    position: absolute;
    top: 47px;
    left: 210px;
    color: #002855;
}
.form-control.dollar {
	background:url(../images/sprite.png) left -638px no-repeat;
	padding-left: 18px;
	background-color: #fff;
}


/* Newly added for Bootstrap4 */
.aColor{
	color: #0066a1;
}
.no-background{
	background-color: transparent;
}
.card-border-right{
	border-right: 4px solid #e6e6e6;
}
.overflow-hidden{
	overflow: hidden;
}

.card-header.collapsed {
    background: url(../images/sprite.png) no-repeat scroll right -534px #666 !important;
    color: #fff !important;
} 
.card-header:hover {
    background: url(../images/sprite.png) no-repeat scroll right -592px #666 !important;
    color: #fff !important;
} 
#productRequirements > a:hover, .accordionHeader > a:hover{
	background: url(../images/sprite.png) no-repeat scroll right -592px #666 !important;
    color: #fff !important;
}
.card-header {
   color: #000 !important;
   background: #3bc1ca url(../images/sprite.png) no-repeat scroll right -592px;
}

.form-control {
    background: #fff;
    box-shadow: none;
    border-radius: 0px;
    padding: 0px 5px;
    height: 35px;
    border: none;
    border: 2px solid #75787b;
    font-size: 16px;
    font-weight: normal;
    color: #000 !important;
}

.card .in{
	display:block !important;
}
.card-body{
	padding : 0px !important;
}
.btn-group-vertical{
	align-items: normal !important;
}

.mr10px {
    margin-right: 10px;
}
.mt_2px{
	margin-top: -2px;
}
.row.coverbg {
    margin-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -8px;
    padding: 0 5px;
}

.modal-backdrop{
	background-color: #000000a3;
} 

h2.noteTitle {
    font-size: 21px;
    font-weight: bold;
    padding: 0 5px 5px;
    text-transform: uppercase;
}
.aligncenter {
    text-align: center !important;
}
.savedApp h5{
	line-height : 30px;
}
.savedApp th{
	background: #f2f2f2;
}

.savedApp a{
	 color: #0068a3 !important;
	 cursor:pointer !important;
}
.notebox {
    background: #fff;
    padding: 15px;
}
.cancelReasonLabel{
	text-align:left;
	margin-left : 10px;
}
.plrb15{
	padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

#OccupationSection label li {
    text-indent: 30px;
}
.aura-level-1 {
	margin-left: 30px;
}
.aura-level-2, .aura-level-3 {
	margin-left: 15px;
}
.mtaa-row-style .form-group{
	margin-bottom: 0px;
}
.left-allign{
	left: 182px;
}
.left-allign-label{
	left: 188px;
}
button.btn.metlife-btn-aura.mt-2.checkboxes{
	    width: 97%;
}
.ngdialog-buttons button{
	margin-right: 10px;
}
.display-flex{
	display: flex;
}

.has-error {
    background: #ffd8d9;
    margin-top: 5px;
    margin-bottom: 5px;
}
.ins-guide-display{
	display: -webkit-box;
}
.left60{
	left: 60px;
}
.lwt {
	background: #fff;
	width: 5px;
	height: 5px;
	position: absolute;
	top: -5px;
	left: 35px;
}
.rwt {
	background: #fff;
	width: 5px;
	height: 5px;
	position: absolute;
	top: -5px;
	right: 35px;
}
.fixed-container{
    min-height: 100%;
    margin-bottom: -50px;
    position: relative;	
}
.clearfooter{
	height: 50px;
    clear: both;
}
html, body {
height: 100%;
}

.ml-25{
	margin-left: 25px;
}
#deathsection i, #tpdsection i, #ipsection i{
	font-style: normal;
}
#transferCvrFileUploadAddIdBtn, #transferCvrFileUploadAddId{
	padding: .375rem .75rem !important;
}
.ngdialog-open {
    height: auto !important;
    overflow: inherit !important;
}
.radiobutton, .checkboxes, .icohelp, .card-header{
	cursor: pointer;
}

/* UAT CSS fix */
.btn-group-horizontal.heading .checkboxes {
    font-weight: bold;
    -ms-font-weight: bold;
    padding-left: 7px !important;
    width: 100%;
}

.btn-group-horizontal input[type="checkbox"] {
    display: none;
}

.auraBtnHeight{
	height:55px;
}