<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white nav-bg">
  <div class="container">
    <a class="navbar-brand" ng-href="{{vm.HeaderNav.logoUrl || 'https://www.metlife.com.au/'}}" target="_new">
      <img ng-src="{{vm.HeaderNav.logoImgPath}}" alt="MetLife Australia" />
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link corp-nav-link" href="{{header.constants.about}}" target="_new">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link corp-nav-link" href="{{header.constants.contactUs}}" target="_new">CONTACT US</a>
        </li>
      </ul>
    </div> -->
  </div>
</nav>