<div class="clearfooter"></div>
<div class="c-footer d-none d-sm-block">
  <div class="container d-flex">
    <div class="col-sm-9">
      <p class="footertext text-center"> &copy; GUILD Super</p>
    </div>
    <div class="col-sm-3 p-0">
      <div class="text-right  ">
        <p class="footerlinks">
        	<a target="_blank" href="https://guildsuper.com.au/privacy">Privacy policy</a> | 
        	<a target="_blank" href="http://www.guildsuper.com.au/about/disclaimer">Legal Notice</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="container d-block d-sm-none">
  <div class=" col-12 aligncenter ">
    <p class="footertext text-center"> &copy; GUILD Super</p>
    <p class="footerlinks">
    	<a target="_blank" href="https://guildsuper.com.au/privacy">Privacy policy</a> | 
    	<a target="_blank" href="http://www.guildsuper.com.au/about/disclaimer">Legal Notice</a> </p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>