<div class="container d-none d-sm-block">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-9">
      <div class="panel-group" id="">
        <div class="card card-default">
          <div class="card-header corp-card-header accordionHeader" role="tab">
            <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true" class="noarrow">
              <h4 class="card-title text-white corp-card-header-text" ng-if="vm.finaldecision=='DCL'">REFERRED TO BROKER</h4>
              <h4 class="card-title text-white corp-card-header-text" ng-if="vm.finaldecision=='ACC' && vm.specialTerm">ACCEPTED WITH SPECIAL TERMS</h4>
              <h4 class="card-title text-white corp-card-header-text" ng-if="vm.finaldecision=='ACC' && !vm.specialTerm">Your application has been accepted</h4>
              <h4 class="card-title text-white corp-card-header-text" ng-if="vm.finaldecision=='RUW'">REFERRED FOR UNDERWRITING</h4>
                <h4 class="card-title text-white corp-card-header-text" ng-if="vm.finaldecision=='MXD'">Your application has been accepted with MIXED TERMS</h4>
            </a>
          </div>
          <div id="collapseOne" class="card-collapse show form-box-style collapse in">
            <div class="card-body">
              <div class="row corp-row-style">
                <div class=" col-sm-12">
                  <div ng-if="vm.finaldecision=='DCL'">
                    <p>
                      Thank you for your application for insurance cover.
                      <br>
                      <br> You will be contacted by your broker in the next few days with the outcome of your application.<br>
                        <br>  If you require any further information or assistance, please contact your <Strong>Broker</Strong> on <Strong>{{vm.brokernumber}}</Strong>. 
                    </p>
                  </div>

                  <div ng-if="vm.finaldecision=='ACC' && !vm.specialTerm">
                    <p>
                     Thank you for your application for insurance cover.<br>
                     <br>Your insurance application has been accepted and your cover is in effect from today<br>
                      <br> Click
                      <a href="" ng-click="vm.downloadPDF()">
                        <strong>here</strong>
                      </a> to open an electronic version of your completed application form which you can save or print.
                      <br>
                      Please note that your accepted cover is subject to the underwriting limits, and terms and conditions of the policy document.<br>
                      <br> If you require any further information or assistance, please contact your <Strong>Broker</Strong> on <Strong>{{vm.brokernumber}}</Strong>. 
                    </p>
                  </div>

 			<div ng-if="vm.finaldecision=='MXD'  && !vm.specialTerm">
                    <p>
                     Thank you for your application for insurance cover.<br>
                     <br>Your insurance application has been accepted with Mixed Terms and your cover is in effect from today<br>
                      <br> Click
                      <a href="" ng-click="vm.downloadPDF()">
                        <strong>here</strong>
                      </a> to open an electronic version of your completed application form which you can save or print or view the reason for this Mixed Acceptance.
                      <br>
                      Please note that your accepted cover is subject to the underwriting limits, and terms and conditions of the policy document.<br>
                      <br> If you require any further information or assistance, please contact your <Strong>Broker</Strong> on <Strong>{{vm.brokernumber}}</Strong>. 
                    </p>
                  </div>

<div ng-if="vm.finaldecision=='MXD'  && vm.specialTerm">
                    <p>
                     Thank you for your application for insurance cover.<br>
                     <br>Your insurance application has been accepted with Mixed Terms and your cover is in effect from today<br>
                      <br> Click
                      <a href="" ng-click="vm.downloadPDF()">
                        <strong>here</strong>
                      </a> to open an electronic version of your completed application form which you can save or print or view the reason for this Mixed Acceptance.
                      <br>
                      Please note that your accepted cover is subject to the underwriting limits, and terms and conditions of the policy document.<br>
                      <br> If you require any further information or assistance, please contact your <Strong>Broker</Strong> on <Strong>{{vm.brokernumber}}</Strong>. 
                    </p>
                  </div>

                  <div ng-if="vm.finaldecision=='RUW'">
                    <p align="justify">
                     Thank you for your application for insurance cover. Your application has been referred to the insurer for further assessment.
                      <br>
                      <br>You will be contacted shortly with the details of either a decision, or a request for further requirements to finalise your assessment.<br>
                    <br> Click
                    <a href="" ng-click="vm.downloadPDF()">
                      <strong>here</strong>
                    </a>to open an electronic version of your completed application form, which you can save or print.
                    <br>
                    <br> Please note that your requested cover is subject to the underwriting limits, and terms and conditions of the policy document.<br>
                    <br>If you require any further information or assistance, please contact your <Strong>Broker</Strong> on <Strong>{{vm.brokernumber}}</Strong>. 
                  </div>
                  <div ng-if="vm.finaldecision=='ACC' && vm.specialTerm">
                    <p align="justify">
                     <p>
                     Thank you for your application for insurance cover.<br>
                     <br>Your insurance application has been accepted and your cover is in effect from today<br>
                      <br> Click
                      <a href="" ng-click="vm.downloadPDF()">
                        <strong>here</strong>
                      </a> to open an electronic version of your completed application form which you can save or print.
                      <br>
                      Please note that your accepted cover is subject to the underwriting limits, and terms and conditions of the policy document.<br>
                      <br> If you require any further information or assistance, please contact your <Strong>Broker</Strong> on <Strong>{{vm.brokernumber}}</Strong>. 
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 align-top">
      <div class="help-block">
        <h2 class="helpHead">NEED HELP?</h2>
        <p class="helpTxt">Please call</p>
        <h3 class="helpNo">
          <a class="telephone d-block d-sm-none" href="tel:{{vm.brokernumber}}">{{ vm.brokernumber }}</a>
          <a class="telephone d-none d-md-block">{{ vm.brokernumber }}</a>
        </h3>
        <p class="helpTxt">if you are having trouble with this application.</p>
      </div>
    </div>
  </div>
</div>