<metlife-mtaa-header-nav></metlife-mtaa-header-nav>

<div class="container d-none d-sm-block">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container p-0">
  <div class="menumobile d-block d-sm-none d-flex h-100">
    <div class="col-9">
      <div class="txtHolderMob"><span class="color2">1 / 2</span> Personal details </div>
    </div>
    <div class="col-3"><img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="icoMenuRev"><img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="icoMenuFwd ml30p"></div>
  </div>
  <div class="col-sm-3 fright d-none d-sm-block">
  	<metlife-mtaa-help-block></metlife-mtaa-help-block>
  </div>
  <div class="col-sm-9">
    <div class="menu d-none d-sm-block">
      <div class="col-sm-4 cn first float-left pt-2">
        <h5>step 1</h5>
        <div class="txtHolder">Personal details </div>
        <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="right">
      </div>
      <div class="col-sm-4 cnn float-left pt-2">
      	<img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="left">
        <h5>step 2</h5>
        <div class="txtHolder">Acknowledge cancellation</div>
    </div>
    </div>
    
    <div class="accordion" id="accordiondod">
    
    <div class="card border-0  mt-2">
        <div href="#PersonalDetailsSection" class="card-header" data-toggle="collapse" ng-click="vm.isCollapsible('PersonalDetailsSection', $event)">
        	<a class="card-title">
        		<h4 class="mb-0 float-left"> Contact details</h4>
        	</a>
        </div>
        
        <div class="overflow-hidden">
        	<div id="PersonalDetailsSection" class="collapse in" style="height: auto;">
        		<form name="vm.coverDetailsTransferForm" role="form" novalidate>
        			<div class="card-body"> 
        				
        				<div class="row rowcustom first">
        					<div class="col-sm-12">
        						<label> Please leave your contact details in the event we need to contact you</label>
        					</div>
        				</div>
        				
        				<hr class="primeline">
        				
        				<div class="row rowcustom ">
        					<div class="col-md-5 col-sm-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.contactEmail.$invalid && vm.coverDetailsTransferForm.contactEmail.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactEmail.$error.required)}">
        						<label class="control-label"> Email address </label>
        						<input ng-focus="vm.checkPreviousMandatoryFields('contactEmail','coverDetailsTransferForm')" class="form-control" ng-pattern="vm.constants.emailFormat" maxlength="50" name="contactEmail" ng-model="vm.TPD.applicant.emailId"  placeholder="Enter your email" type="email" required>
        						<span ng-if="(vm.coverDetailsTransferForm.contactEmail.$invalid && vm.coverDetailsTransferForm.contactEmail.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactEmail.$error.required) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactEmail.$error.pattern)" class="error">Please enter your email address</span>
        					</div>
        					
        					<div class="col-md-3 col-sm-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.contactType.$invalid && vm.coverDetailsTransferForm.contactType.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactType.$error.required)}">
                  <label class="control-label">Preferred contact type</label>
                  <div class="select">
                  	<select ng-focus="vm.checkPreviousMandatoryFields('contactType','coverDetailsTransferForm')" name="contactType" class="form-control" ng-model="vm.TPD.applicant.contactDetails.preferedContacType" ng-change="vm.changePrefContactType()" ng-options="contact.value as contact.text for contact in vm.constants.contactTypeOption" required>
                  		<option value="">Please select</option>
                  	</select>
                  	<div class="select__arrow"></div>
                  	<span ng-if="(vm.coverDetailsTransferForm.contactType.$invalid && vm.coverDetailsTransferForm.contactType.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactType.$error.required)" class="error">Please select the Preferred contact type</span>
                  </div>
                </div>
                
                <div class="col-md-4 col-sm-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.contactPhone.$invalid && vm.coverDetailsTransferForm.contactPhone.$touched) || ((vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactPhone.$error.required)  || (vm.coverDetailsTransferForm.contactPhone.$error.pattern))}">
                  <label class="control-label">Preferred contact number</label>
                  <input ng-focus="vm.checkPreviousMandatoryFields('contactPhone','coverDetailsTransferForm')" class="form-control" ng-pattern="vm.constants.phoneNumber"  phone-only id="preferrednumCCId"  maxlength="10"  name="contactPhone" ng-model="vm.TPD.applicant.contactDetails.preferedContactNumber" type="text" placeholder="Enter your Phone No" required>
                  <span ng-if="(vm.coverDetailsTransferForm.contactPhone.$invalid && vm.coverDetailsTransferForm.contactPhone.$touched) || ((vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactPhone.$error.required)  || (vm.coverDetailsTransferForm.contactPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
              	</div>
       					</div>
       					
       					<hr class="primeline">
       					
       					<div class="row rowcustom">
       					
       					<div class="col-sm-6 col-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.contactPrefTime.$error.required && vm.coverDetailsTransferForm.contactPrefTime.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactPrefTime.$error.required )}">
       						<label class="control-label"> What time of day do you prefer to be contacted? </label>
       						<span id="tick 3" style=" visibility:hidden"> <span class="tickforms d-block d-sm-none"></span> <span class="tickforms mrm25px d-none d-sm-block"></span> </span>
       						
       						<div class="btn-group">
       							<div class="col-12 col-lg-6">
       								<label ng-click="vm.checkPreviousMandatoryFields('contactPrefTime','coverDetailsTransferForm')" class="btn radiobutton" ng-class="{'active': (vm.TPD.applicant.contactDetails.preferedContactTime == '1')}">
       									<input checkbox-and-radio-update class="ipradio" name="contactPrefTime" ng-model="vm.TPD.applicant.contactDetails.preferedContactTime" type="radio" value="1" required>
       									<span></span>
       									Morning (9am - 12pm)
       								</label>
       							</div>
       							
       							<div class="col-12 col-lg-6 p0">
       								<label ng-click="vm.checkPreviousMandatoryFields('contactPrefTime','coverDetailsTransferForm')" class="btn radiobutton" ng-class="{'active': (vm.TPD.applicant.contactDetails.preferedContactTime == '2')}">
       									<input checkbox-and-radio-update class="ipradio" name="contactPrefTime" ng-model="vm.TPD.applicant.contactDetails.preferedContactTime" type="radio" value="2" required>
       									<span></span>
       									Afternoon (12pm-6pm)
       								</label>
       							</div> 
       						</div>
       						<span ng-if="(vm.coverDetailsTransferForm.contactPrefTime.$error.required && vm.coverDetailsTransferForm.contactPrefTime.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
       					</div>
       				</div>
       			</form>
       		</div>
       	</div>
     </div></div>
     
     
     <div class="card border-0  mt-2">
      	<div href="#coverCancellationSection" class="card-header collapsed" data-toggle="collapse" ng-click="vm.isCollapsible('coverCancellationSection', $event)">
      		<a class="card-title">
      			<h4 class="mb-0 float-left">COVER CANCELLATION</h4>
      		</a>
      	</div>
      	<div class="overflow-hidden">
      		<div id="coverCancellationSection" class="collapse in" style="height: auto;">
      			<div class="card-body">      			
      				<form autocomplete="off" name="vm.coverCancellationForm" id="coverCancellation" novalidate role="form">		        	
			            
			            <div class="row rowcustom">
			                <div class="col-sm-12">
			                    <label class="control-label"> Select the cover(s) you want to cancel.</label>
			                </div>
			            </div>
			            <hr class="primeline">
			            
			            <div ng-if="vm.showCover.death" ng-class="{'has-error':(vm.coverCancellationForm.$invalid && vm.coverCancellationForm.$submitted && vm.coverCancellationForm.$error.required)}">
			            	<div class="btn-group-horizontal heading" data-toggle="buttons">
			            		<div class="row rowcustom">
			            			<div class="col-sm-12">
			            				<label class="btn checkboxes" id="deathLable" ng-click="vm.checkCoverCancellation('death')">
			            					<input type="checkbox" name="death" ng-model="vm.TPD.coverCancellation.death" ng-required="!vm.TPD.coverCancellation.tpd && !vm.TPD.coverCancellation.incomeProtection">
			            					<span></span>
			            					Death
			            				</label>
			            			</div>
			            		</div>
			            	</div>
				         </div>
				            	
	            		<div ng-if="vm.TPD.coverCancellation.death" class="row rowcustom">
	            			<div class="col-sm-4 col-6 existing-cover-wrapper">
	            				<label class="helphint">Existing Cover <a ng-click="vm.clickToOpen('This is the amount of existing cover you already hold through MTAA Super.')" class="icohelp mtm5 pointer"></a> </label>
	            			</div>
	            			
	            			<div class="col-sm-3 d-none d-sm-block">
	            				<p class="cover" ng-bind="vm.TPD.applicant.cover[0].existingCoverAmount | currency"></p>
	            			</div>
	            			
	            			<div class="d-block d-sm-none alignright col-6">
	            				<p class="cover" ng-bind="vm.TPD.applicant.cover[0].existingCoverAmount | currency"></p>
	            			</div>
	            		</div>
			            <hr ng-if="vm.TPD.coverCancellation.death" class="primeline">
				         
				        <div ng-if="vm.showCover.tpd" ng-class="{'has-error':(vm.coverCancellationForm.$invalid && vm.coverCancellationForm.$submitted && vm.coverCancellationForm.$error.required)}">
				            <div class="btn-group-horizontal heading" data-toggle="buttons">
			            		<div class="row rowcustom">
			            			<div class="col-sm-12">
	  			                    	<label class="btn checkboxes" id="tpdLable" ng-click="vm.checkCoverCancellation('tpd')">
	  			                    		<input type="checkbox" name="tpd" ng-model="vm.TPD.coverCancellation.tpd" ng-required="!vm.TPD.coverCancellation.death && !vm.TPD.coverCancellation.incomeProtection">
	  			                    		<span></span>
	  			                    		Total &amp; Permanent Disablement
	  			                    	</label>
	  			                    </div>
	  			                 </div>
	  			            </div>	  			            
	  			        </div>
		  			           
		                <div ng-if="vm.TPD.coverCancellation.tpd" class="row rowcustom">
		                    <div class="col-sm-4 col-6 existing-cover-wrapper">
		                        <label class="helphint">Existing Cover <a ng-click="vm.clickToOpen('This is the amount of existing cover you already hold through MTAA Super.')" class="icohelp mtm5 pointer"></a></label>
		                    </div>
		                    <div class="col-sm-3 d-none d-sm-block">
		                        <p class="cover" ng-bind="vm.TPD.applicant.cover[1].existingCoverAmount | currency"></p>
		                    </div>
		                    <div class="d-block d-sm-none alignright col-6">
		                        <p class="cover" ng-bind="vm.TPD.applicant.cover[1].existingCoverAmount | currency"></p>
		                    </div>
		                </div>
		  			    <hr ng-if="vm.TPD.coverCancellation.tpd" class="primeline">
		  			    
		  			    <div ng-if="vm.showCover.incomeProtection" ng-class="{'has-error':(vm.coverCancellationForm.$invalid && vm.coverCancellationForm.$submitted && vm.coverCancellationForm.$error.required)}">
			                <div class="btn-group-horizontal heading" data-toggle="buttons">
	  			                <div class="row rowcustom">
	  			                    <div class="col-sm-12">
	  			                        <label class="btn checkboxes" id="ipLable" ng-click="vm.checkCoverCancellation('incomeProtection')">
	  			                        <input type="checkbox" name="incomeProtection" ng-model="vm.TPD.coverCancellation.incomeProtection" ng-required="!vm.TPD.coverCancellation.tpd && !vm.TPD.coverCancellation.death">
	  			                        <span></span> Income Protection </label>
	  			                    </div> 
	  			                </div>
	  			            </div>
	  			        </div>
		  			            
		  			            
		                <div ng-if="vm.TPD.coverCancellation.incomeProtection" class="row rowcustom">
		                    <div class="col-sm-4 col-6 existing-cover-wrapper">
		                        <label class="helphint">Existing Cover <a ng-click="vm.clickToOpen('This is the amount of existing cover you already hold through MTAA Super.')" class="icohelp mtm5 pointer"></a></label>
		                    </div>
		                    <div class="col-sm-3 d-none d-sm-block">
		                        <p class="cover" ng-bind="vm.TPD.applicant.cover[2].existingCoverAmount | currency"></p>
		                    </div>
		                    <div class=" d-block d-sm-none alignright col-6">
		                        <p class="cover" ng-bind="vm.TPD.applicant.cover[2].existingCoverAmount | currency"></p>
		                    </div>
		                </div>
		  			     <hr ng-if="vm.TPD.coverCancellation.incomeProtection" class="primeline">
		  			        
                    	  <p class="error" style="padding-top:5px;" ng-if="(vm.coverCancellationForm.$invalid && vm.coverCancellationForm.$submitted && vm.coverCancellationForm.$error.required)">Please select at least one cover for cancellation.</p>
                    		
				            <div class="row rowcustom">
					            <div class="col-sm-4 col-12">
					                <button type="submit" class="btn btn-primary w100p" ng-click="vm.submitForm();">Continue </button>
					            </div>
					        </div>
					     </form>
					 </div>
			 </div>
      	</div>
      </div>
      
      </div>
     </div>
     
    <div class="row mt20">
      <div class=" col-12 d-block d-sm-none">
      	<metlife-mtaa-help-block></metlife-mtaa-help-block>
      </div>
    </div>
  </div>
  


