<metlife-mtaa-header-nav></metlife-mtaa-header-nav>

<div class="container d-none d-sm-block">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container p-0">
  <div class="menumobile d-block d-sm-none d-flex h-100">
    <div class="col-9">
      <div class="txtHolderMob"><span class="color2">2 / 2</span> Acknowledge cancellation </div>
    </div>
    <div class="col-3 nav-arrows"> 
    <img src="./static/mtaa/src/app/assets/images/bg_blank.png" ng-click="vm.go('/quoteCancel/2')" class=" icoMenuRev active  "> 
    <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" icoMenuFwd  ml30p">
    </div>
  </div>
  <div class="col-sm-3 fright d-none d-sm-block">
    <metlife-mtaa-help-block></metlife-mtaa-help-block>     
  </div>
   <div class="col-sm-9 landingPageBoxes">
	    <div class="menu d-none d-sm-block">
	       <div class="col-sm-4 dc float-left pt-2">
	        <h5 style="color:#0066a1">Step 1</h5>
	        <div class="txtHolder pointer"> <a ng-click="vm.go('/quoteCancel/2')"> Personal details</a> </div>
	        <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="right">
	       </div>
	        <div class="col-sm-4 cn float-left pt-2">
	         <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="left"> 
	         <h5>Step 2</h5>
	         <div class="txtHolder" style="color:#000">Acknowledge cancellation</div>
	        </div>
	     </div>


<div class="accordion">

	<div class="card border-0  mt-2 twoColData">
		<div class="card-header" data-toggle="collapse" href="#collapseTwo">
			<a class="card-title">
				<h4 class="mb-0 float-left">Cancellation Reason</h4>
			</a>
		</div>
		<div class="overflow-hidden">
			<div id="collapseTwo" class="collapse in">
				<div class="card-body">
				
					<form name="vm.cancellationAcknowledgeForm" role="form" novalidate>
					
						<div class="row rowcustom">
							<div class="col-sm-12">
								<label class="control-label"> Please provide reason for cancelling your cover by selecting one of the following options</label>
							</div>
							
							<div class="col-sm-12" ng-class="{'has-error': vm.cancellationReasonFlag}">							
								<div ng-repeat="reason in vm.cancelReasonList" class="col-sm-12 pl0 col-12">
									<label class="btn radiobutton" ng-class="{'active': (vm.TPD.applicant.cancelReason == reason)}" ng-click="vm.checkReason()">
										<input type="radio" value="{{reason}}" name="reason" class="ipradio" ng-model="vm.TPD.applicant.cancelReason" required />
										<span></span>
										<div class="cancelReasonLabel" style="text-align:left;">{{reason}}</div>
									</label>
								</div>
							</div>
							
							<div ng-if="vm.showOtherReason" class="col-sm-12 col-12 pl0" ng-class="{'has-error': vm.cancellationAcknowledgeForm.$submitted && vm.cancellationAcknowledgeForm.otherReason.$error.required}">
								<div class="row rowcustom">
									<div class="col-sm-5">
										<label class="control-label">Please enter other reason</label>
									</div>
									<div class="col-sm-7 col-12">
										<input class="form-control" maxlength="50" name="otherReason" ng-model="vm.TPD.applicant.cancelOtherReason" type="text" placeholder="Enter other reason" required>
										<span ng-if="vm.cancellationAcknowledgeForm.$submitted && vm.cancellationAcknowledgeForm.otherReason.$error.required" class="error">Please enter your reason</span>
									</div>
								</div>
							</div>
							
							<p class="error" style="padding-top:5px;" ng-if="vm.cancellationReasonFlag">Please provide reason for cancellation.</p>
							
						</div>
					</form>
					
					<div class="row rowcustom">
						<div class="col-sm-12">
							<p>Please take the time to review your Insurance Inside Super and find out about the benefits. </p>
							<iframe src="https://player.vimeo.com/video/250046065?title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0"></iframe>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
      
      <div class="card border-0  mt-2">
        <div class="card-header " data-toggle="collapse" href="#collapse4">  
          <a class="card-title">
           <h4 class="mb-0 float-left">Acknowledgement</h4>
          </a> 
        </div>
        <div class="overflow-hidden">
	        <div id="collapse4" class="collapse in ">
	          <div class="col-sm-12 bgwhite">            
	             <div class="row rowcustom">
	              	<p>By clicking on the tick box below, I declare that: </p>
	              </div>
	              
	              <div class="row rowcustom" ng-class="{'has-error': vm.ackErrorFlag}">
	              	<p class="spacer">&nbsp;</p>
	              	<div class="btn-group-vertical">
	              		<button ng-click="vm.checkAckState(true)" class="btn checkboxes col-12 ack-checkbox-label" id="ackCancellationLabelId" ng-class="{'active': vm.cancelAcknowledgement}">
                    		<input type="checkbox" id="acknowledgeCheck" name="acknowledgeCheck" ng-modal="vm.cancelAcknowledgement" required/>
                    <span></span>
                    <div class="custom-checkbox-label">I understand that I am cancelling my insurance cover with MTAA Super and if I wish to apply for cover with MTAA Super in the future I will need to go through underwriting.</div>
                    </button>
                    <p ng-if="vm.ackErrorFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the declaration.</p>
                    <!-- ngIf: dodFlagErr --> 
                  </div>
                </div>
                
                </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	            
	            <div class=" row rowcustom">
                <div class="col-sm-4 col-12">
                   <button  class="btn btn-primary btn-back w100p" type="button"  ng-click="vm.go('/quoteCancel/2')">Previous</button>
                 </div>
                 <div class="col-sm-4 col-12">
                  <button type="button" class="btn btn-primary w100p no-arrow" ng-click="vm.cancelConfirmationPopUp()" >Confirm</button>
                 </div>
                 <div class="col-sm-4 col-12">
                  <button type="button" class="btn btn-primary w100p no-arrow" ng-click="vm.cancel()">Cancel</button>
                 </div>
               </div>
               
	         </div>
	        </div>
	        </div>
       </div>  
    <div class="row mt20px">
      <div class=" col-12 d-block d-sm-none">
        <metlife-mtaa-help-block></metlife-mtaa-help-block>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>