<footer class="container d-sm-flex pt-4 footertext">
    <div class="col-12 col-sm-9 text-center mt-4">
      <p ng-bind-html="$footer.config.copyRights"></p>
    </div>
    <div class="col-sm-3 col-12 mt-sm-4 footertext">
      <div class="text-center">
        <p>
        	<a href="{{$footer.config.privacy}}" target="_blank">Privacy policy</a> | 
        	<a href="{{$footer.config.disclaimer}}" target="_blank">Disclaimer</a>
        </p>
      </div>
    </div>
</footer>
 <!-- &copy;  -->