<metlife-guil-header-nav></metlife-guil-header-nav>
<div class="menut">
  <div class="container relative">
    <div class="row bgsec">
      <div class="c-mt10px clearfix">
        <div class="col-sm-3 d-none d-sm-block ">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="wwrap fleft  d-none d-sm-block">
            <tbody>
              <tr>
                <td class="fleft"  ><span class="      ico icoSave colorsec     mr5px"></span></td>
                <td class="fleft note"  ><a href="#">Save &amp; Email</a></td>
                <td class="fleft  " >&nbsp;&nbsp; </td>
                <td class="fleft  "><span class="ico  ico icoPrint colorsec  mr5px"></span></td>
                <td class="fleft   note"  ><a href="#">Print</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-3 col-5">
          <div class=" d-block d-sm-none clearfix  fleft  mb5px">
            <p class="telno  "> <span class="ico icoCall"></span> 1300 265 374 </p>
          </div>
          <p class="d-none d-sm-block"> <strong>Level <span class="red">$20</span></strong> per month </p>
        </div>
        <div class="col-sm-3 col-7">
          <p class="   note fright"> <strong>Quote ID: COLI-999-9999</strong></p>
        </div>
        <div class="col-sm-3 col-12">
          <p class="d-block d-sm-none"> <strong>Level <span class="red">$20</span></strong> per month </p>
          <div class="fright note mr10px d-none d-sm-block"> Call 1300 265 374 for help </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class="col-sm-3 fright d-none d-sm-block">
		<metlife-guil-help-block></metlife-guil-help-block>
	</div>
<div class="col-sm-9">
	<div class="accordion">
		<div class="card border-0 mt-2">
			<div class="card-header bg-dark" data-toggle="collapse">
				<a class="card-title noarrow">
					<h4 class="mb-0 float-left text-white">Your saved applications</h4>
				</a>
			</div>
			<div class="overflow-hidden">
				<div id="collapseOne" class="collapse in">
          			<div class="card-body pb0">
          				<div ng-if="vm.apps.length>0" class="savedApp table-responsive d-none d-sm-block">
          					<table class="table grid">          						
          						<tr>
          							<th width="25%"><h5>Application</h5></th>
          							<th width="25%"><h5>Created</h5></th>
          							<th width="25%"><h5>Type</h5></th>
          							<th width="25%"><h5>Status</h5></th>
          						</tr>
          						<tr ng-repeat="app in vm.apps | orderBy:'app.createdDate':true">
				                	<td>
				                		<a ng-if="app.hyperlink==true" ng-click="vm.goToSavedApp(app)">{{app.applicationNumber}}</a>
				                		<span ng-if="app.hyperlink==false">{{app.applicationNumber}}</span>
				                	</td>
				                	<td>{{app.createdDate | date : "dd/MM/yyyy"}}</td>
				                	<td>{{app.requestType}}</td>
				                	<td>{{app.applicationStatus}}</td>
				                </tr>
				            </table>
          				</div>
          				          				
          				<div ng-if="vm.apps.length>0" class="savedApp table-responsive d-block d-sm-none">
          					<table class="table grid">          						
          						<tr>
          							<th width="25%"><h5>Application</h5></th>
          							<th width="25%"><h5>Created</h5></th>
          							<th width="25%"><h5>Type</h5></th>
          						</tr>
          						<tr ng-repeat="app in vm.apps | orderBy:'app.createdDate':true">
				                	<td>
				                		<a ng-if="app.hyperlink==true" ng-click="vm.goToSavedApp(app)">{{app.applicationNumber}} ({{app.applicationStatus}})</a>
				                		<span ng-if="app.hyperlink==false">{{app.applicationNumber}} ({{app.applicationStatus}})</span>
				                	</td>
				                	<td>{{app.createdDate | date : "dd/MM/yyyy"}}</td>
				                	<td>{{app.requestType}}</td>
				                </tr>			            
          					</table>
          				</div>
          				
          			</div>
          		</div>
			</div>
		</div>
    
    <!-- Row starts --> 
    
    <!-- Row ends -->
    
    <p class="spacer">&nbsp;</p>
    
    <!-- Row starts -->
    <div class="d-none d-sm-block">
      <div class="col-sm-12">
        <div class="row bgwhite notebox clearfix">
          <div class="col-sm-2 aligncenter"> <img src="static/mtaa/src/app/assets/images/wait.png" class="img-fluid mt20px"/> </div>
          <div class="col-sm-10">
            <h2 class="noteTitle"> SOMETHING MISSING!</h2>
            <p>Note: If your application has an expired status, you will need to create a new one. Your application may have expired due to one of the following reasons: </p>
          	<ul>
          		<li>Product or underwriting rules have changed since the date you last saved it</li>
          		<li>More than 90 days have lapsed since you last saved it</li>
          	</ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Row ends --> 
    
    <!-- Row starts -->
    <div class="row aligncenter d-block d-sm-none ">
      <div class="col-sm-12  ">
        <div class="bgwhite notebox clearfix">
          <div class="col-sm-2 aligncenter"> <img src="static/mtaa/src/app/assets/images/wait.png" class="mt20px" /> </div>
          <div class="col-sm-10">
            <h2 class="noteTitle"> SOMETHING MISSING!</h2>
            <p>Your application may have expired if: a birthday has passed; underwriting rules have changed; or more than 30 days have lapsed since you last saved it. You will have to create a new one.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Row ends -->
    
    <div class="row mt20">
		<div class="col-12 d-block d-sm-none">
			<metlife-guil-help-block></metlife-guil-help-block>
		</div>
	</div>
  </div>
</div>

