<div class="container pt-3" ng-init="$ctrl.init();">
  <div class="row px-2">
    <div class="col-sm-9 p-0 px-sm-3">
		<h2>PREMIUM CALCULATOR</h2>
    <div>
      <div>
        <div id="collapseOne" class="collapse in show">
        <form id="userDetailsForm" name="userDetailsForm" role="form" novalidate>
          <div class="card mb-3 p-3"> 
			<div class="d-sm-flex d-block mt-3">
				<div class="col-12">
					<h5>Use the premium calculator to select the most appropriate cover for you.</h5>
				</div>
			</div>
            <hr class="primeline">
			<!-- Row starts -->
            <div class="row mt-3" ng-class="{'has-error':$ctrl.invalidDOB || (userDetailsForm.dob.$error.required && userDetailsForm.dob.$touched) || (userDetailsForm.$submitted && userDetailsForm.dob.$error.required)}">
              <div class="col-sm-4 col-md-4 col-12">
                <label> Date of birth </label>
              </div>           
              <div class="col-sm-8 col-md-8 col-12 pl-0">
				<input ng-click="$ctrl.checkPreviousMandatoryFields('dob', 'userDetailsForm');" id="dob" name="dob" ng-change="$ctrl.checkDOB();" ng-model="$ctrl.calculationData.applicant.birthDate" type="text" class="datepickImg form-control form-field icInputs px-1 border-secondary" placeholder="dd/mm/yyyy" required/>
				<span class="errorText mt-2" ng-if="(userDetailsForm.dob.$error.required && userDetailsForm.dob.$touched) || (userDetailsForm.$submitted && userDetailsForm.dob.$error.required)">Please enter Date of birth</span>
				<span class="errorText mt-2" ng-if="$ctrl.invalidDOB">Invalid Date of birth</span>
			  </div>              
            </div>
            <!-- Row ends -->
            <hr class="primeline">
			<div class="row" ng-class="{'has-error':(userDetailsForm.gender.$error.required && userDetailsForm.gender.$touched) || (userDetailsForm.$submitted && userDetailsForm.gender.$error.required)}">
				<div class="col-sm-5 col-md-4 col-12">
					<label> Gender </label>
				</div>
				<div class="col-sm-7 offset-sm-0 col-md-8 offset-1 col-11">
					<div class="row">
					  <div class="col-sm-6 col-12 pr-sm-1">
						<label ng-click="$ctrl.checkCalculation();$ctrl.checkPreviousMandatoryFields('gender', 'userDetailsForm');" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.gender == 'Male')}">
						  <input ng-model="$ctrl.calculationData.applicant.gender" type="radio" name="gender" value="Male" required>
						  <span></span> Male </label>
					  </div>
					  <div class="col-sm-6 col-12 pl-sm-1">
						<label ng-click="$ctrl.checkCalculation();$ctrl.checkPreviousMandatoryFields('gender', 'userDetailsForm');" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.gender == 'Female')}">
						  <input ng-model="$ctrl.calculationData.applicant.gender" type="radio" name="gender" value="Female" required>
						  <span></span> Female </label>
					  </div>
					  <span class="errorText mt-2" ng-if="(userDetailsForm.gender.$error.required && userDetailsForm.gender.$touched) || (userDetailsForm.$submitted && userDetailsForm.gender.$error.required)">Please select Gender</span>
					</div>
				</div>
				
			</div>
			
            <hr class="primeline">
			
			<!-- <div class="row">
				<div class="col-sm-5 col-md-4 col-12">
					<label> Do you work more than 15 hours per week? </label>
				</div>
				<div class="col-sm-7 offset-sm-0 col-md-8 offset-1 col-11">
					<div class="row">
					  <div class="col-sm-6 col-12 pr-sm-1">
						<button class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.workHours == 'Yes')}">
						  <input ng-model="$ctrl.calculationData.applicant.workHours" type="radio" name="fifteenHrsQuestion" value="Yes" required>
						  <span></span> Yes </button>
					  </div>
					  <div class="col-sm-6 col-12 pl-sm-1">
						<button class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.workHours == 'No')}">
						  <input ng-model="$ctrl.calculationData.applicant.workHours" type="radio" name="fifteenHrsQuestion" value="No" required>
						  <span></span> No </button>
					  </div>
					</div>
				</div>
			</div>
			<hr class="primeline"> -->
			
			<div ng-repeat="question in $ctrl.config.initialOccupationQuestions">
				<div ng-show="question.showQuestion">
					<div class="row" ng-class="{'has-error':(userDetailsForm.{{question.name}}.$error.required && userDetailsForm.{{question.name}}.$touched) || (userDetailsForm.$submitted && userDetailsForm.{{question.name}}.$error.required)}">
						<div class="col-md-12 col-sm-12 col-12">
							<label ng-bind-html="question.labelText"></label>
						</div>
						
						<div class="offset-sm-5 col-sm-7 offset-md-4 col-md-8 offset-1 col-11">
							<div class="row">
								<div class="col-sm-6 col-12 pr-sm-1">
									<label ng-click="$ctrl.checkPreviousMandatoryFields(question.name, 'userDetailsForm');$ctrl.checkWorkHrs(question.name, question.answerText);" class="btn mt-2 radiobutton" ng-class="{'active': (question.answerText == 'Yes')}">
										<input ng-model="question.answerText" type="radio" name="{{question.name}}" value="Yes" required>
										<span></span>
										Yes
									</label>
								</div>
								
								<div class="col-sm-6 col-12 pl-sm-1">
									<label ng-click="$ctrl.checkPreviousMandatoryFields(question.name, 'userDetailsForm');$ctrl.checkWorkHrs(question.name, question.answerText);" class="btn mt-2 radiobutton" ng-class="{'active': (question.answerText == 'No')}">
										<input ng-model="question.answerText" type="radio" name="{{question.name}}" value="No" required>
										<span></span>
										No
									</label>
								</div>
							</div>
							<span class="errorText mt-2" ng-show="(userDetailsForm.{{question.name}}.$error.required && userDetailsForm.{{question.name}}.$touched) || (userDetailsForm.$submitted && userDetailsForm.{{question.name}}.$error.required)">Please select Yes or No</span>
						</div>
						
						<div ng-if="question.hintText" class="col-12 mt-1">
							<p class="subText">{{question.hintText}}</p>
						</div>
					</div>
				<hr class="primeline">
			</div>
		</div>
		
            <div class="row" ng-class="{'has-error':(userDetailsForm.industry.$error.required && userDetailsForm.industry.$touched) || (userDetailsForm.$submitted && userDetailsForm.industry.$error.required)}">
              <div class="col-md-12 col-sm-12 col-12">
                <label>What industry do you work in?</label>
              </div>
              <div class="offset-sm-4 col-sm-8 offset-md-4 col-md-8 col-12 pl-0">
                <div>
                  <select ng-click="$ctrl.checkPreviousMandatoryFields('industry', 'userDetailsForm');" ng-change="$ctrl.getOccupations()" ng-model="$ctrl.calculationData.applicant.industryType" class="form-control form-field icInputs px-1 border-secondary" name="industry" required>
                      <option value="" class="" selected="selected">Please select</option>
                      <option ng-repeat="industry in $ctrl.IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
                    </select>
                  <div class="select__arrow"></div>
                </div>
              </div>
              <span class="errorText mt-2" ng-if="(userDetailsForm.industry.$error.required && userDetailsForm.industry.$touched) || (userDetailsForm.$submitted && userDetailsForm.industry.$error.required)">Please select Industry</span>
            </div>
			<hr class="primeline">

            <div class="row" ng-class="{'has-error':(userDetailsForm.occupation.$error.required && userDetailsForm.occupation.$touched) || (userDetailsForm.$submitted && userDetailsForm.occupation.$error.required)}">
              <div class="col-md-12 col-sm-12 col-12">
                <label>What is your current occupation?</label>
              </div>
              <div class="offset-sm-4 col-sm-8 offset-md-4 col-md-8 col-12 pl-0">
                <div>
                  <select ng-click="$ctrl.checkPreviousMandatoryFields('occupation', 'userDetailsForm');" ng-model="$ctrl.calculationData.applicant.occupation" ng-change="$ctrl.setOccupationRating();" class="form-control form-field icInputs px-1 border-secondary" name="occupation" required>
                      <option value="" class="" selected="selected">Please select</option>
                      <option ng-repeat="occupation in $ctrl.occupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
                    </select>
                  <div class="select__arrow"></div>
                </div>
              </div>
              <span class="errorText mt-2" ng-if="(userDetailsForm.occupation.$error.required && userDetailsForm.occupation.$touched) || (userDetailsForm.$submitted && userDetailsForm.occupation.$error.required)">Please select Occupation</span>
			  <div class="col-12 mt-1">
				<p class="subText">{{$ctrl.config.occupationSubText}}</p></div>
            </div>
            
            <div ng-if="$ctrl.calculationData.applicant.occupation == 'Other'">
	            <hr class="primeline">
	            <div class="row" ng-class="{'has-error':(userDetailsForm.otherOccupation.$error.required && userDetailsForm.otherOccupation.$touched) || (userDetailsForm.$submitted && userDetailsForm.otherOccupation.$error.required)}">
	              <div class="col-sm-4 col-md-3 col-12">
	                <label>Please enter your occupation</label>
	              </div>
	               <div class="d-block d-md-flex  col-12 col-sm-8 col-md-9 p-0">
						<div class="col-12 pl-0">
							<input ng-click="$ctrl.checkPreviousMandatoryFields('otherOccupation', 'userDetailsForm');" name="otherOccupation" ng-model="$ctrl.calculationData.applicant.otherOccupation" type="text" class="form-control dollarInput px-1 border-secondary" required>
							<span class="errorText mt-2" ng-if="(userDetailsForm.otherOccupation.$error.required && userDetailsForm.otherOccupation.$touched) || (userDetailsForm.$submitted && userDetailsForm.otherOccupation.$error.required)">Please enter other Occupation</span>
						</div>
											
				   </div>							   
	            </div>
            </div>
                        
			<hr class="primeline">
			
			<div ng-repeat="question in $ctrl.config.finalOccupationQuestions">
				<div ng-show="question.showQuestion">
					<div class="row" ng-class="{'has-error':(userDetailsForm.{{question.name}}.$error.required && userDetailsForm.{{question.name}}.$touched) || (userDetailsForm.$submitted && userDetailsForm.{{question.name}}.$error.required)}">
						<div class="col-md-12 col-sm-12 col-12">
							<label ng-bind-html="question.labelText"></label>
						</div>
						
						<div class="offset-sm-5 col-sm-7 offset-md-4 col-md-8 offset-1 col-11">
							<div class="row">
								<div class="col-sm-6 col-12 pr-sm-1">
									<label ng-click="$ctrl.checkPreviousMandatoryFields(question.name, 'userDetailsForm');$ctrl.setOccupationRating();" class="btn mt-2 radiobutton" ng-class="{'active': (question.answerText == 'Yes')}">
										<input ng-model="question.answerText" type="radio" name="{{question.name}}" value="Yes" ng-required="question.showQuestion">
										<span></span>
										Yes
									</label>
								</div>
								
								<div class="col-sm-6 col-12 pl-sm-1">
									<label ng-click="$ctrl.checkPreviousMandatoryFields(question.name, 'userDetailsForm');$ctrl.setOccupationRating();" class="btn mt-2 radiobutton" ng-class="{'active': (question.answerText == 'No')}">
										<input ng-model="question.answerText" type="radio" name="{{question.name}}" value="No" ng-required="question.showQuestion">
										<span></span>
										No
									</label>
								</div>
							</div>
							<span class="errorText mt-2" ng-show="(userDetailsForm.{{question.name}}.$error.required && userDetailsForm.{{question.name}}.$touched) || (userDetailsForm.$submitted && userDetailsForm.{{question.name}}.$error.required)">Please select Yes or No</span>
						</div>
					</div>
				<hr class="primeline">
			</div>
		</div>

            <div class="row" ng-class="{'has-error':(userDetailsForm.annualSalary.$error.required && userDetailsForm.annualSalary.$touched) || (userDetailsForm.$submitted && userDetailsForm.annualSalary.$error.required)}">
              <div class="col-sm-4 col-md-3 col-12">
                <label>What is your Annual Salary</label>
              </div>
               <div class="d-block d-md-flex  col-12 col-sm-8 col-md-9 p-0">
					<div class="col-12 pl-0">
						<span class="dollar x1w  dollarInputSpan"></span>
						<input ng-model-options="$ctrl.modelOptions" ng-change="$ctrl.setOccupationRating();" ng-click="$ctrl.checkPreviousMandatoryFields('annualSalary', 'userDetailsForm');" name="annualSalary" ng-model="$ctrl.calculationData.applicant.annualSalary" numbers-only format="number" type="text" class="form-control dollarInput px-1 border-secondary" required>
						<span class="errorText mt-2" ng-if="(userDetailsForm.annualSalary.$error.required && userDetailsForm.annualSalary.$touched) || (userDetailsForm.$submitted && userDetailsForm.annualSalary.$error.required)">Please enter annual Salary</span>
					</div>					
			   </div>
				<div class="col-12 mt-1">
					<p class="subText">{{$ctrl.config.salarySubText}}</p></div>			   
            </div>
			<hr class="primeline">

            <div class="row">
              <div class="col-sm-4 col-md-4 col-12  ">
                <label>{{$ctrl.config.defaultFreqLabelText}}</label>
              </div>
              <div class="col-sm-8 col-md-8 col-12 pl-0">
                <div>
                  <select ng-click="$ctrl.checkPreviousMandatoryFields('premFreq', 'userDetailsForm');" name="premFreq" ng-model="$ctrl.calculationData.applicant.cover[0].frequencyCostType" ng-change="$ctrl.changeFrequency()" ng-options="premiumFrequencyOption for premiumFrequencyOption in $ctrl.premiumOpts" class="form-control form-field icInputs px-1 border-secondary">                      
                    </select>
                  <div class="select__arrow"></div>
                </div>			
              </div>
			  <div class="col-12 mt-1"><p class="subText">{{$ctrl.config.defaultFreqSubText}}</p></div>
            </div>
          </div>
        </form>
        </div>
      </div>
   
	
	<!-- Covers and Cost starts-->
	<div>
		<div class="section-header p-0 py-sm-2 mb-2 mb-sm-0"> 
          <div data-toggle="collapse" href="#collapseThree">
          <button class="section-title mb-0">COVERS & COST</button>
          </div>
         </div>
        <div id="collapseThree" class="collapse in show">
        <form id="coverForm" name="coverForm" role="form" novalidate>
          <div class="card p-3 mb-3"> 
			<h6> {{$ctrl.config.partnerName}} - Cover Details</h6>
			<!--Death-->
			<p class="mt-4" ng-if="$ctrl.deathRestrict">{{$ctrl.config.deathLabelText}} not allowed because of Age Restriction. Minimum Age allowed: {{$ctrl.config.deathMinAge}}. Maximum Age allowed : {{$ctrl.config.deathMaxAge}}</p>
			<div ng-if="!$ctrl.deathRestrict" class="mt-3">
				<h5 class="coverbg p-2">{{$ctrl.config.deathLabelText}}</h5>
				<div class="row mt-3">
					<div class="col-sm-5 col-md-4 col-12">
						<label> Cost </label>
					</div>
					<div class="col-sm-7 offset-sm-0 col-md-8 offset-1 col-11">
						<div class="row">
						  <div class="col-sm-6 col-12 pr-sm-1">
							<label ng-click="$ctrl.calculationData.applicant.cover[1].coverCategory='TPDFixed';$ctrl.resetValues();$ctrl.checkPreviousMandatoryFields('deathcoverCategory', 'coverForm');" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.cover[0].coverCategory == 'DcFixed')}">
							  <input ng-model="$ctrl.calculationData.applicant.cover[0].coverCategory" type="radio" name="deathcoverCategory" value="DcFixed" required>
							  <span></span>
							  {{$ctrl.config.fixedLabelText}}
							 </label>
						  </div>
						  <div class="col-sm-6 col-12 pl-sm-1">
							<label ng-click="$ctrl.calculationData.applicant.cover[1].coverCategory='TPDUnitised';$ctrl.resetValues();$ctrl.checkPreviousMandatoryFields('deathcoverCategory', 'coverForm');" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.cover[0].coverCategory == 'DcUnitised')}">
							  <input ng-model="$ctrl.calculationData.applicant.cover[0].coverCategory" type="radio" name="deathcoverCategory" value="DcUnitised" required>
							  <span></span>
							  {{$ctrl.config.unitisedLabelText}}
							 </label>
						  </div>
						</div>
				    </div>
				</div>
				<hr class="primeline">
				<div class="row" ng-class="{'has-error':($ctrl.deathMaxErrorFlag || (coverForm.deathCoverAmount.$invalid && coverForm.deathCoverAmount.$touched) || (coverForm.deathCoverAmount.$error.required && coverForm.deathCoverAmount.$touched) || (coverForm.$submitted && coverForm.deathCoverAmount.$error.required)) || ((coverForm.deathCoverUnit.$invalid && coverForm.deathCoverUnit.$touched) || (coverForm.deathCoverUnit.$error.required && coverForm.deathCoverUnit.$touched) || (coverForm.$submitted && coverForm.deathCoverUnit.$error.required))}">
					<div class="col-12 col-sm-4 col-md-3">
						<label> Cover Required </label>
					</div>
					<div ng-if="$ctrl.calculationData.applicant.cover[0].coverCategory == 'DcFixed'" class="col-12 col-sm-8 col-md-9 pl-0">
						<span class="dollar x1w dollarInputSpan"></span>
						<input name="deathCoverAmount" ng-click="$ctrl.checkPreviousMandatoryFields('deathCoverAmount', 'coverForm');" ng-change="$ctrl.validateDeathAmount();" ng-model-options="$ctrl.modelOptions" numbers-only format="number" ng-model="$ctrl.calculationData.applicant.cover[0].additionalCoverAmount" type="text" class="form-control dollarInput px-1 border-secondary" required>
						<span class="errorText mt-2" ng-if="(coverForm.deathCoverAmount.$invalid && coverForm.deathCoverAmount.$touched) || (coverForm.deathCoverAmount.$error.required && coverForm.deathCoverAmount.$touched) || (coverForm.$submitted && coverForm.deathCoverAmount.$error.required)">Please enter Cover</span>
						<span class="errorTextLong mt-2" ng-if="$ctrl.deathMaxErrorFlag">Your Cover exceeds eligibility limit of {{$ctrl.config.deathMaxAmount | currency}}. Please re-enter your cover.</span>
					</div>
					
					<div ng-if="$ctrl.calculationData.applicant.cover[0].coverCategory == 'DcUnitised'" class="col-12 col-sm-8 col-md-9 pl-0">
						<span class="unitInputSpan">units</span>
						<input name="deathCoverUnit" ng-click="$ctrl.checkPreviousMandatoryFields('deathCoverUnit', 'coverForm');" ng-change="$ctrl.validateDeathAmount();" ng-model-options="$ctrl.modelOptions" numbers-only format="number" ng-model="$ctrl.calculationData.applicant.cover[0].additionalUnit" type="text" class="form-control dollarInput px-1 border-secondary" required>
						<span class="errorText mt-2" ng-if="(coverForm.deathCoverUnit.$invalid && coverForm.deathCoverUnit.$touched) || (coverForm.deathCoverUnit.$error.required && coverForm.deathCoverUnit.$touched) || (coverForm.$submitted && coverForm.deathCoverUnit.$error.required)">Please enter Cover</span>
						<span class="errorTextLong mt-2" ng-if="$ctrl.deathMaxErrorFlag">Your Cover exceeds eligibility limit. Maximum allowed units {{$ctrl.deathMaxAllowed}}. Please re-enter your cover.</span>
					</div>
				</div>
				<hr class="primeline">
				<div class="row">
					<div class="d-block d-md-flex col-12 mt-3 coverbgSec">
						<div class="d-flex d-md-flex col-6 px-1 borderright">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> Cover Amount</label>
							</div>
							<div class="d-block col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval">{{$ctrl.calculationData.applicant.cover[0].additionalCoverAmount | currency}}</h5>
							</div>
						</div>
						<div class="d-flex d-md-flex col-6 px-1">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> {{$ctrl.calculationData.applicant.cover[0].frequencyCostType}} cost</label>
							</div>
							<div class="d-block col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval">{{$ctrl.calculationData.applicant.cover[0].cost | currency}}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Death-->
		    <!--Total and Permanent Disablement-->
		    <p class="mt-4" ng-if="$ctrl.tpdRestrict">{{$ctrl.config.tpdLabelText}} not allowed because of Age Restriction. Minimum Age allowed: {{$ctrl.config.tpdMinAge}}. Maximum Age allowed : {{$ctrl.config.tpdMaxAge}}</p>
			<div ng-if="!$ctrl.tpdRestrict" class="mt-3">
				<h5 class="coverbg p-2">{{$ctrl.config.tpdLabelText}}</h5>
				<div class="row mt-3">
					<div class="col-sm-5 col-md-4 col-12">
						<label> Cost </label>
					</div>
					<div class="col-sm-7 offset-sm-0 col-md-8 offset-1 col-11">
						<div data-toggle="buttons" class="row">
						  <div class="col-sm-6 col-12 pr-sm-1">
							<label ng-click="$ctrl.calculationData.applicant.cover[0].coverCategory='DcFixed';$ctrl.resetValues();$ctrl.checkPreviousMandatoryFields('tpdcoverCategory', 'coverForm');" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.cover[1].coverCategory == 'TPDFixed')}">
							  <input ng-model="$ctrl.calculationData.applicant.cover[1].coverCategory" type="radio" name="tpdcoverCategory" value="TPDFixed">
							  <span></span> {{$ctrl.config.fixedLabelText}} </label>
						  </div>
						  <div class="col-sm-6 col-12 pl-sm-1">
							<label ng-click="$ctrl.calculationData.applicant.cover[0].coverCategory='DcUnitised';$ctrl.resetValues();$ctrl.checkPreviousMandatoryFields('tpdcoverCategory', 'coverForm');" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.cover[1].coverCategory == 'TPDUnitised')}">
							  <input ng-model="$ctrl.calculationData.applicant.cover[1].coverCategory" type="radio" name="tpdcoverCategory" value="TPDUnitised">
							  <span></span> {{$ctrl.config.unitisedLabelText}} </label>
						  </div>
						</div>
				    </div>
				</div>
				<hr class="primeline">
				<div class="row" ng-class="{'has-error':($ctrl.tpdGreaterThanDeathErrorFlag || $ctrl.tpdMaxErrorFlag || (coverForm.tpdCoverAmount.$invalid && coverForm.tpdCoverAmount.$touched) || (coverForm.tpdCoverAmount.$error.required && coverForm.tpdCoverAmount.$touched) || (coverForm.$submitted && coverForm.tpdCoverAmount.$error.required)) || ((coverForm.tpdCoverUnit.$invalid && coverForm.tpdCoverUnit.$touched) || (coverForm.tpdCoverUnit.$error.required && coverForm.tpdCoverUnit.$touched) || (coverForm.$submitted && coverForm.tpdCoverUnit.$error.required))}">
					<div class="col-12 col-sm-4 col-md-3">
						<label> Cover Required </label>
					</div>
					<div ng-if="$ctrl.calculationData.applicant.cover[1].coverCategory == 'TPDFixed'" class="col-12 col-sm-8 col-md-9 pl-0">
						<span class="dollar x1w  dollarInputSpan"></span>
						<input name="tpdCoverAmount" ng-click="$ctrl.checkPreviousMandatoryFields('tpdCoverAmount', 'coverForm');" ng-change="$ctrl.validateTPDAmount();" ng-model-options="$ctrl.modelOptions" numbers-only format="number" ng-model="$ctrl.calculationData.applicant.cover[1].additionalCoverAmount" type="text" class="form-control dollarInput px-1 border-secondary" required>
						<span class="errorText mt-2" ng-if="(coverForm.tpdCoverAmount.$invalid && coverForm.tpdCoverAmount.$touched) || (coverForm.tpdCoverAmount.$error.required && coverForm.tpdCoverAmount.$touched) || (coverForm.$submitted && coverForm.tpdCoverAmount.$error.required)">Please enter Cover</span>
						<span class="errorTextLong mt-2" ng-if="$ctrl.tpdMaxErrorFlag">Your Cover exceeds eligibility limit of {{$ctrl.config.tpdMaxAmount | currency}}. Please re-enter your cover.</span>
						<span class="errorTextLong mt-2" ng-if="$ctrl.tpdGreaterThanDeathErrorFlag">TPD should not be greater than Death. Please re-enter your cover.</span>
					</div>
					
					<div ng-if="$ctrl.calculationData.applicant.cover[1].coverCategory == 'TPDUnitised'" class="col-12 col-sm-8 col-md-9 pl-0">
						<span class="unitInputSpan">units</span>
						<input name="tpdCoverUnit" ng-click="$ctrl.checkPreviousMandatoryFields('tpdCoverUnit', 'coverForm');" ng-change="$ctrl.validateTPDAmount();" ng-model-options="$ctrl.modelOptions" numbers-only format="number" ng-model="$ctrl.calculationData.applicant.cover[1].additionalUnit" type="text" class="form-control dollarInput px-1 border-secondary" required>
						<span class="errorText mt-2" ng-if="(coverForm.tpdCoverUnit.$invalid && coverForm.tpdCoverUnit.$touched) || (coverForm.tpdCoverUnit.$error.required && coverForm.tpdCoverUnit.$touched) || (coverForm.$submitted && coverForm.tpdCoverUnit.$error.required)">Please enter Cover</span>
						<span class="errorTextLong mt-2" ng-if="$ctrl.tpdMaxErrorFlag">Your Cover exceeds eligibility limit. Maximum allowed units {{$ctrl.tpdMaxAllowed}}. Please re-enter your cover.</span>
						<span class="errorTextLong mt-2" ng-if="$ctrl.tpdGreaterThanDeathErrorFlag">TPD should not be greater than Death. Please re-enter your cover.</span>
					</div>
				</div>
				<hr class="primeline">
				<div class="row">
					<div class="d-block d-md-flex col-12 mt-3 coverbgSec">
						<div class="d-flex d-md-flex col-6 px-1 borderright">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> Cover Amount</label>
							</div>
							<div class="d-block col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval">{{$ctrl.calculationData.applicant.cover[1].additionalCoverAmount | currency}}</h5>
							</div>
						</div>
						<div class="d-flex d-md-flex col-6 px-1">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> {{$ctrl.calculationData.applicant.cover[1].frequencyCostType}} cost</label>
							</div>
							<div class="d-block col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval">{{$ctrl.calculationData.applicant.cover[1].cost | currency}}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		  <!--Total and Permanent Disablement-->
		  <!--Salary Continuance-->
		  <p class="mt-4" ng-if="$ctrl.ipRestrict">{{$ctrl.config.ipLabelText}} not allowed because of Age Restriction. Minimum Age allowed: {{$ctrl.config.ipMinAge}}. Maximum Age allowed : {{$ctrl.config.ipMaxAge}}</p>
		  <div ng-if="!$ctrl.ipRestrict" class="mt-3">
				<h5 class="coverbg p-2">{{$ctrl.config.ipLabelText}}</h5>				
				<div class="btn-group-vertical w-100">
					<label ng-disabled="$ctrl.disableIP" ng-click="$ctrl.calculateIPInsured();$ctrl.checkPreviousMandatoryFields('insuredIp', 'coverForm');" class="px-2 btn button-checkbox col-12" ng-class="{'active': ($ctrl.insuredIp == true)}">
						<input type="checkbox" ng-model="$ctrl.insuredIp" ng-true-value="true" ng-false-value="false" name="insuredIp">
						<span></span>
						{{$ctrl.config.insuredIpLabelText}}
					</label>                    
				</div>				
				<hr class="primeline">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 mt-3">
						<label> Waiting Period </label>
					</div>
					<div class="col-12 col-sm-8 col-md-8 pl-0 mt-3">
						<select ng-disabled="$ctrl.disableIP" ng-click="$ctrl.checkPreviousMandatoryFields('ipWaitingPeriod', 'coverForm');" ng-change="$ctrl.checkCalculation();" name="ipWaitingPeriod" ng-model="$ctrl.calculationData.applicant.cover[2].additionalIpWaitingPeriod" class="form-control form-field icInputs px-1 border-secondary" ng-options="WaitingPeriod for WaitingPeriod in $ctrl.config.waitingOpts">
						</select>
						<div class="select__arrow"></div>
						<span class="errorText mt-2" ng-if="(coverForm.ipWaitingPeriod.$error.required && coverForm.ipWaitingPeriod.$touched) || (coverForm.$submitted && coverForm.ipWaitingPeriod.$error.required)">Please select Waiting Period</span>
					</div>
				</div>
				<hr class="primeline">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 mt-3">
						<label> Benifit Period </label>
					</div>
					<div class="col-12 col-sm-8 col-md-8  pl-0 mt-3">
						<select ng-disabled="$ctrl.disableIP" ng-click="$ctrl.checkPreviousMandatoryFields('ipBenefitPeriod', 'coverForm');" ng-change="$ctrl.checkCalculation();" name="ipBenefitPeriod" ng-model="$ctrl.calculationData.applicant.cover[2].additionalIpBenefitPeriod" class="form-control form-field icInputs px-1 border-secondary" ng-options="BenefitPeriod for BenefitPeriod in $ctrl.config.benefitOpts"> 
						</select>
						<div class="select__arrow"></div>
						<span class="errorText mt-2" ng-if="(coverForm.ipBenefitPeriod.$error.required && coverForm.ipBenefitPeriod.$touched) || (coverForm.$submitted && coverForm.ipBenefitPeriod.$error.required)">Please select Benifit Period</span>
					</div>
				</div>
				<hr class="primeline">
				<div class="row" ng-class="{'has-error':((coverForm.ipCoverAmount.$invalid && coverForm.ipCoverAmount.$touched) || (coverForm.ipCoverAmount.$error.required && coverForm.ipCoverAmount.$touched) || (coverForm.$submitted && coverForm.ipCoverAmount.$error.required)) || ((coverForm.ipCoverUnit.$invalid && coverForm.ipCoverUnit.$touched) || (coverForm.ipCoverUnit.$error.required && coverForm.ipCoverUnit.$touched) || (coverForm.$submitted && coverForm.ipCoverUnit.$error.required))}">
					<div class="col-12 col-sm-4 col-md-3 mt-3 ">
						<label> Cover Required </label>
					</div>
					<div ng-if="$ctrl.config.ipType == 'fixed'" class="col-12 col-sm-8 col-md-9 pl-0 mt-3">		
						<span class="dollar x1w  dollarInputSpan"></span>
						<input name="ipCoverAmount" ng-click="$ctrl.checkPreviousMandatoryFields('ipCoverAmount', 'coverForm');" ng-disabled="$ctrl.insuredIp || $ctrl.disableIP" ng-change="$ctrl.validateIpAmount();" ng-model-options="$ctrl.modelOptions" numbers-only format="number" ng-model="$ctrl.calculationData.applicant.cover[2].additionalCoverAmount" type="text" class="form-control dollarInput px-1 border-secondary" ng-required="!$ctrl.disableIP">
						<span class="errorText mt-2" ng-if="(coverForm.ipCoverAmount.$invalid && coverForm.ipCoverAmount.$touched) || (coverForm.ipCoverAmount.$error.required && coverForm.ipCoverAmount.$touched) || (coverForm.$submitted && coverForm.ipCoverAmount.$error.required)">Please enter Cover</span>
						<span class="errorTextLong roundedMsg mt-2" ng-if="$ctrl.ipRoundedFlag">The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</span>							
					</div>
					
					<div ng-if="$ctrl.config.ipType == 'units'" class="col-12 col-sm-8 col-md-9 pl-0 mt-3">		
						<span class="unitInputSpan">units</span>
						<input name="ipCoverUnit" ng-click="$ctrl.checkPreviousMandatoryFields('ipCoverUnit', 'coverForm');" ng-disabled="$ctrl.insuredIp || $ctrl.disableIP" ng-change="$ctrl.validateIpAmount();" ng-model-options="$ctrl.modelOptions" numbers-only format="number" ng-model="$ctrl.calculationData.applicant.cover[2].additionalUnit" type="text" class="form-control dollarInput px-1 border-secondary" ng-required="!$ctrl.disableIP">
						<span class="errorText mt-2" ng-if="(coverForm.ipCoverUnit.$invalid && coverForm.ipCoverUnit.$touched) || (coverForm.ipCoverUnit.$error.required && coverForm.ipCoverUnit.$touched) || (coverForm.$submitted && coverForm.ipCoverUnit.$error.required)">Please enter Cover</span>
						<span class="errorTextLong roundedMsg mt-2" ng-if="$ctrl.ipRoundedFlag">The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</span>							
					</div>
				</div>
				<hr class="primeline">
				<div class="row">
					<div class="d-block d-md-flex col-12 mt-3 coverbgSec">
						<div class="d-flex d-md-flex col-6 px-1 borderright">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> Cover Amount</label>
							</div>
							<div class="d-block  col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval">{{$ctrl.calculationData.applicant.cover[2].additionalCoverAmount | currency}}</h5>
							</div>
						</div>
						<div class="d-flex d-md-flex col-6 px-1">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> {{$ctrl.calculationData.applicant.cover[2].frequencyCostType}} cost</label>
							</div>
							<div class="d-block  col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval">{{$ctrl.calculationData.applicant.cover[2].cost | currency}}</h5>
							</div>
						</div>
					</div>
				</div>
		  </div>
			<!--Salary Continuance-->
			<!--Total -->
			<div class="mt-3">
				<div class="row">
					<div class="d-block d-md-flex col-12 mt-3 coverbg_dark">
						<div class="d-flex d-md-flex col-6 px-1 borderright">
							
						</div>
						<div class="d-flex d-md-flex col-6 px-1">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> {{$ctrl.calculationData.applicant.cover[0].frequencyCostType}} cost</label>
							</div>
							<div class="d-block col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval text-white">{{$ctrl.calculationData.totalMonthlyPremium | currency}}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Total -->
		  
		  <!--Terms & Conditions -->		 
			<div class="mt-3">
				<div class="row">
					<p ng-if="$ctrl.config.noteText" ng-bind-html="$ctrl.config.noteText" class="col-12"></p>
					<div ng-if="$ctrl.config.disclaimerText!=''" class="btn-group-vertical w-100 py-2 px-0 col-12" ng-class="{'has-error':(coverForm.disclaimer.$error.required && coverForm.disclaimer.$touched) || (coverForm.$submitted && coverForm.disclaimer.$error.required)}">
						<label class="px-2 btn button-checkbox col-12" ng-class="{'active': ($ctrl.disclaimer == true)}">
							<input ng-click="$ctrl.checkPreviousMandatoryFields('disclaimer', 'coverForm');" name="disclaimer" type="checkbox" ng-model="$ctrl.disclaimer" ng-true-value="true" ng-false-value="false" required>
							<span></span>
							<p>I have read the disclaimer and assumptions.</p>
							<a ng-click="$ctrl.clickToOpen($ctrl.config.disclaimerPopupText)" style="right:10px" ng-if="$ctrl.config.disclaimerPopupText" class="icohelp abs"></a>
						</label>
						<span class="errorText mt-2" ng-if="(coverForm.disclaimer.$error.required && coverForm.disclaimer.$touched) || (coverForm.$submitted && coverForm.disclaimer.$error.required)">Please acknowledge and consent to the disclaimer and assumptions.</span>                    
					</div>
				</div>
			</div>
			<!--Terms & Conditions-->
			<div class="mt-3">
				<div class="row">
					<div class="p-3 offset-4 col-8 offset-md-7 col-md-5 offset-sm-6  col-sm-6" ng-if="!$ctrl.calculateFlag" >				
						<button ng-disabled="($ctrl.deathRestrict && $ctrl.tpdRestrict && $ctrl.ipRestrict) || $ctrl.invalidDOB || $ctrl.deathMaxErrorFlag || $ctrl.tpdMaxErrorFlag || $ctrl.tpdGreaterThanDeathErrorFlag || userDetailsForm.$invalid || coverForm.$invalid" ng-click="$ctrl.calculateFlag=true;$ctrl.checkCalculation();" class="btn submit-button text-white w-100" type="button">Calculate Quote </button>
					</div>
					
					<div class="p-3 offset-4 col-8 offset-md-7 col-md-5 offset-sm-6  col-sm-6" ng-if="$ctrl.calculateFlag">				
						<button ng-disabled="($ctrl.deathRestrict && $ctrl.tpdRestrict && $ctrl.ipRestrict) || $ctrl.invalidDOB || $ctrl.deathMaxErrorFlag || $ctrl.tpdMaxErrorFlag || $ctrl.tpdGreaterThanDeathErrorFlag || userDetailsForm.$invalid || coverForm.$invalid" ng-click="$ctrl.print();" class="btn submit-button text-white w-100" type="button">Print</button>
					</div>
					
				</div>
			</div>
		  </div>
		 </form>  
		</div>
	</div>
    </div>
  </div>
  <div class="col-sm-3 p-0 px-sm-3 mt-4 mt-sm-0 helpPanel">
    <div class="bg-secondary p-3">
      <h4 class="text-uppercase">need help?</h4>
      <p> We are happy to chat over the phone</p>
      <h4>{{$ctrl.config.helpline}}</h4>
    </div>
  </div>
  </div>
   
</div>