<!-- Claims Tracker specific code START -->	
	
		<section class="main" role="main">
		<!-- tab content block START -->
			<section class="module">
				<div class="container">
					<div id="sticky_tabs" class="row">
						<div class="col col-sm-12 tab-container">
							<a href="#/timeline" class="tab">
								<span class="fa fa-tasks"></span>
								Timeline
							</a>
							<a href="#/todo" class="tab">
								<span class="fa fa-exclamation-circle"></span>
								To-Do's
							</a>
							<a href="#/completed" class="tab active">
								<span class="fa fa-check-circle"></span>
								Completed
							</a>
							<a href="#/contact" class="tab">
								<span class="fa fa-phone"></span>
								Contact
							</a>
						</div>
					</div>

					<div class="row" ng-if="!noCompleted">
						<div id="content" class="col col-sm-12 tab-content">
							<div class="row">
								<div class="col col-xs-12">
									
									<p>Here are all of your completed tasks. These are all the tasks you've completed through the "To-do's" section.</p>
<!-- 									<p><a href="completed-empty.html">[ view empty completed items page ]</a></p> -->

									<div class="list-container col col-sm-12 col-lg-8">									
										<ul class="list">
											<li ng-repeat="activity in activityData | orderBy : 'activity.date':true" ng-if="(activity.name == 'Information Requested'  && activity.requirementReceviedDate != '')">
												<div class="list-item">
													<div class="item-icon">
														<span class="fa fa-check-circle"></span>
													</div>
													<div class="item-text">
														<span class="timestamp">{{activity.date}}</span>
														<span class="desc">{{activity.name}} - {{activity.requirement != null?activity.requirement:''}}</span>
														<!-- <span class="timestamp">The assessment of your claim has been completed. For further information please contact <b>Metlife</b></span> -->
													</div>
												</div>
											</li>											
										</ul>

									</div>

								</div>

<!-- 								<a href="#" class="btt-link">back to top <span class="fa fa-long-arrow-up"></span></a> -->
								<a style="cursor:pointer;" class="btt-link" ng-click="scrollToTop()">back to top <span class="fa fa-long-arrow-up"></span></a>

							</div>

						</div>

					</div>
					
					<div class="row" ng-if="noCompleted">
						<div id="content" class="col col-sm-12 tab-content">
							<div class="row">
								<div class="col col-xs-12 col-lg-5 empty">
									
									<span class="fa fa-exclamation-circle"></span>
									<p>Looks like you don't have any completed tasks yet, click onto the To-do's tab to see all of your tasks.</p>

								</div>

<!-- 								  <a href="#" class="btt-link">back to top <span class="fa fa-long-arrow-up"></span></a> -->
							</div>
						</div>
					</div>

				</div>

			</section>
		<!-- tab content block END -->
		</section>
	<!-- Claims Tracker specific code END -->