<!-- Claims Tracker specific code START -->	
			
		<section class="main" role="main">
		<!-- tab content block START -->
			<section class="module">
				<div class="container">
					<div id="sticky_tabs" class="row">
						<div class="col col-sm-12 tab-container">
							<a id="disableTimeline" href="#/timeline" class="tab">
								<span class="fa fa-tasks"></span>
								Timeline
							</a>
							<a id="disabletodoField" href="#/todo" class="tab">
								<span class="fa fa-exclamation-circle"></span>
								To-Do's
							</a>
							<a id="disableCompleted" href="#/completed" class="tab">
								<span class="fa fa-check-circle"></span>
								Completed
							</a>
							<a href="#/contact" class="tab active">
								<span class="fa fa-question-circle"></span>
								Help
							</a>
						</div>
					</div>

					<div class="row">
						<div id="content" class="col col-sm-12 tab-content">
							<div class="row">
								<div class="col col-xs-12 col-lg-7 empty">
									
									<p>To get in contact with your assessor, simply click on one of the options below:</p>

									<div class="contact-details">
										<div ng-if="headerSection">
										<h3>{{claimAssesor}}</h3>
										<!-- <p><a href="mailto:judy@metlife.com">judy@metlife.com</a> -->
										
										<a class='no-underline' href="tel:{{claimAssesorPhone}}">{{claimAssesorPhone}}</a>
										</div>
										<a class='no-underline' href="tel:1800 221 599">1800 221 599</a>
										<p><a href="mailto:auservices@metlife.com">auservices@metlife.com</a>
									</div>

									<div class="faqs-wrapper" ng-click="myFunc()">
										<h3>Frequently Asked Questions</h3>

										<h4 class="accordionHeader">{{configObject.faq1}} </h4>
										<div class="accordionContent">
											<p>{{configObject.faqAns1}}</p>
											<p>{{configObject.faqAns1a}}<br />
											{{configObject.faqAns1b}}<br />
											{{configObject.faqAns1c}}</p>
										</div>

										<h4 class="accordionHeader">{{configObject.faq2}}</h4>
										<div class="accordionContent">
											<p>{{configObject.faqAns2}}</p>
										<p>{{configObject.faqAns2a}}
											</p>
											<!-- <p>{{configObject.faqAns2b}}<br />
											</p>
											<p>{{configObject.faqAns2c}}<br />
											</p>
											<p>{{configObject.faqAns2d}}<br />
											</p> -->
										</div>

										<h4 class="accordionHeader">{{configObject.faq3}}</h4>
										<div class="accordionContent">
											<p>{{configObject.faqAns3}}</p>
										</div>

										<h4 class="accordionHeader">{{configObject.faq4}}</h4>
										<div class="accordionContent">
											<p>{{configObject.faqAns4}}</p>
										</div>

										<h4 class="accordionHeader">{{configObject.faq5}}</h4>
										<div class="accordionContent">
											<p>{{configObject.faqAns5}}</p>
										</div>

										<h4 class="accordionHeader">{{configObject.faq6}}</h4>
										<div class="accordionContent">
											<p>{{configObject.faqAns6}}</p>
											{{configObject.faqAns6a}}<br />
											{{configObject.faqAns6b}}</p>
										</div>

										<h4 class="accordionHeader">{{configObject.faq7}}</h4>
										<div class="accordionContent">
											<p>{{configObject.faqAns7}}</p>
										</div>

										<h4 class="accordionHeader">{{configObject.faq8}}</h4>
										<div class="accordionContent">
											<p>{{configObject.faqAns8}}</p>
										</div>

										<h4 class="accordionHeader">{{configObject.faq9}}</h4>
										<div class="accordionContent">
											<p>{{configObject.faqAns9}}</p>
										</div>

										<h4 class="accordionHeader">{{configObject.faq10}}</h4>
										<div class="accordionContent">
											<p>{{configObject.faqAns10}}</p>
										</div>
										
										<h4 class="accordionHeader">{{configObject.faq11}}</h4>
										<div class="accordionContent">
											<p>{{configObject.faqAns11}}</p>
											{{configObject.faqAns11a}}<br />
											{{configObject.faqAns11b}}<br />
											{{configObject.faqAns11c}}<br />
											{{configObject.faqAns11d}}</p>
										</div>
										
									</div>

								</div>
								<a href=""  style="cursor:pointer;" class="btt-link" ng-click="scrollToTop()">{{configObject.backToTop}} <span class="fa fa-long-arrow-up"></span></a>
							<!-- 	<a href="#" class="btt-link">back to top <span class="fa fa-long-arrow-up"></span></a> -->

							</div>

						</div>

					</div>

				</div>

			</section>
		<!-- tab content block END -->
		</section>
	<!-- Claims Tracker specific code END -->