.error{
	color:red;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance: none;
    margin: 0; 
}
.loader-mask {display:none;height: 100%;width: 100%;position: fixed;    background-color: rgba(156, 155, 153, 0.31);top: 0;z-index: 50001;}
.loader {background: url('../spinner.gif');height: 200px;width: 200px;margin-left: -100px;left: 50%;position: absolute;top: 50%;margin-top: -100px;}

.success-msg:before,.ui-datepicker-next:before,.ui-datepicker-prev:before{font-family:FontAwesome}
.success-msg{background-color:#a0c323;color:#fff;border:1px solid #a0c323;text-align:left;padding:15px 15px 15px 62px;margin:0 0 40px;border-radius:5px;position:relative}
.success-msg a{text-transform:none!important;color:#fff!important;text-decoration:underline;font-weight:400!important}
.success-msg:before{content:'\f05a';font-size:36px;position:absolute;top:50%;left:15px;transform:translateY(-50%)}
