
	<!-- Claims Tracker specific code START -->
		<style>
	input[type="number"] {
    -moz-appearance: textfield;
      }
	</style>
		<section class="main" role="main">
			<!-- Login block START -->
			<section class="module login">
				<div class="container" >
					<div class="row">
						<div class="col col-sm-12">							

							<div class="login-wrapper">
								<div class="row">
									<div class="login-container col col-sm-12 col-lg-4">									
									
										<h2>Fund is not available,Please Contact administrator</h2>
										
										
									</div>
									

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Login block END -->
		</section>
		