
	<!-- Claims Tracker specific code START -->
		<style>
	input[type="number"] {
    -moz-appearance: textfield;
      }
	</style>
		<section class="main" role="main">
			<!-- Login block START -->
			<section class="module login">
				<div class="container" >
					<div class="row">
						<div class="col col-sm-12">
							<h1>Claims Tracker</h1>

							<div class="login-wrapper">
								<div class="row">
									<div class="login-container col col-sm-12 col-lg-4">
									<div  ng-if="datesBetweenErrflag"  class="closed-msg">
									<span>{{datesBetweenMsg}}</span>
<!-- 									<a  href="mailto:auservices@metlife.com">auservices@metlife.com </a>. -->
								
									</div>
									<div ng-if="data == ''" class="closed-msg">
									<span id="message" ng-show="message" >{{message}}</span>
									</div>
										<h2>Login</h2>
										
										<form method="post"  id="form"  name="claimLoginForm" novalidate>
										
											<div autocomplete="off" class="form-group" ng-class="{'has-error':(claimLoginForm.claimnumber.$invalid && claimLoginForm.claimnumber.$touched) 
																				|| (claimLoginForm.$submitted && claimLoginForm.claimnumber.$invalid)}">
												<label for="claimnumber">Claim number</label>
												
												<input autocomplete="off" type="text" name="claimnumber" class="form-control" id="claimnumber"  
														ng-model="user.claimNo" 														
														ng-minlength="1" 
														ng-maxlength="9"
														ng_required="true"
														alpha-numeric>															
																							
													  <span ng-if="(claimLoginForm.claimnumber.$error.required && claimLoginForm.claimnumber.$touched) 
																	|| (claimLoginForm.$submitted && claimLoginForm.claimnumber.$error.required)"
            										  class="error">   {{configObject.claimNum_err}} </span> 
            										  <span class="error" ng-show="claimLoginForm.claimnumber.$error.minlength">
											        	{{configObject.claimNumMin_err}}</span>
												      <span class="error" ng-show="claimLoginForm.claimnumber.$error.maxlength">
												       {{configObject.claimNumLimit_err}}</span>
												       <span class="error" ng-show="claimLoginForm.claimnumber.$error.number">
												       {{configObject.claimNumFormat_err}}</span>
												       																						
											 </div>
											
											<div class="form-group" ng-class="{'has-error':(claimLoginForm.membersurname.$error.required && claimLoginForm.membersurname.$touched) 
																				|| (claimLoginForm.$submitted && claimLoginForm.membersurname.$error.required)}">
												<label for="membersurname">Insured last name</label>
												<input type="text" name="membersurname" class="form-control" id="membersurname" placeholder="Enter your Surname..." 
												ng-model="user.lName" 												
												ng_required="true">
												<span ng-if="(claimLoginForm.membersurname.$error.required && claimLoginForm.membersurname.$touched) 
																				|| (claimLoginForm.$submitted && claimLoginForm.membersurname.$error.required)" 
            										class="error"> {{configObject.claimantlastName_err}}</span> 
											</div>

											<div class="form-group" ng-class="{'has-error':(claimLoginForm.dateofbirth.$invalid && claimLoginForm.dateofbirth.$touched) 
																				|| (claimLoginForm.$submitted && claimLoginForm.dateofbirth.$invalid)}">
												<label for="date-of-birth">Insured date of birth</label>
												 <input autocomplete="off" type="text" id="dateofbirth" name="dateofbirth" class="form-control" placeholder="DD/MM/YYYY" 
													ng-model="user.dob"		ng-pattern='datePattern'  my-Date-Picker									
													 ng_required="true" 
													 maxlength="10"/>														 													 
													 									        										        
												<span ng-if="(claimLoginForm.dateofbirth.$error.required && claimLoginForm.dateofbirth.$touched) 
																				|| (claimLoginForm.$submitted && claimLoginForm.dateofbirth.$error.required)" 
            										class="error">{{configObject.claimantDob_err}}</span> 
            										<span ng-if="claimLoginForm.dateofbirth.$error.pattern && !claimLoginForm.dateofbirth.$error.required" class="error">{{configObject.claimantDobFormat_err}}</span>	
													
											</div>
											
											<div class="form-group"> 
<!--  												<div class="g-recaptcha" data-sitekey="6LcwfQwUAAAAAAFPj9T5zZosmPiYDXqBdWxWM2ec"></div>												 -->
											  <div theme="'dark'" vc-recaptcha key="user.publicKey" 
													  on-create="onCapctheCreate(widgetId)"
													  on-success="onCapctheSuccess()"
													  on-expire="onCapctheExpire()">
											   </div> 
											  
											   <span  id="messages" ng-show="captacheMessage" class="error">{{captacheMessage}}</span> 
											  
											</div>

											<button type="submit" class="btn btn-primary" ng-click="go(claimLoginForm,user,'/timeline')">Log into your account</button>
											 </div> 
											<!-- <span ng-if="datesBetweenErrflag" class="error">{{datesBetweenMsg}}</span> -->
											</div>
										</form>
										<p><a href="#/contact" ng-click="needHelp()"> <strong>NEED A HAND? CONTACT US NOW</strong></a></p>
									 
										
										
									</div>
									<div class="col-sm-12">               						
									<div class="row" ng-include src="$root.disclaimer.url">
									
											<!-- <p>{{configObject.loginDisclaimer}}</p>
										<p>	{{configObject.loginDisclaimera}}</p>
											{{configObject.loginDisclaimerb}}
											{{configObject.loginDisclaimerc}}</p> -->
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Login block END -->
		</section>
		