<!-- Claims Tracker specific code START -->	

		
		<section class="main" role="main">
		<!-- tab content block START -->
			<section class="module">
				<div class="container">
					<div id="sticky_tabs" class="row">
						<div class="col col-sm-12 tab-container">
							<a href="#/timeline" class="tab active">
								<span class="fa fa-tasks"></span>
								Timeline
							</a>
							<a href="#/todo" class="tab">
								<span class="fa fa-exclamation-circle"></span>
								To-Do's
							</a>
							<a href="#/completed" class="tab">
								<span class="fa fa-check-circle"></span>
								Completed
							</a>
							<a href="#/contact" class="tab">
								<span class="fa fa-phone"></span>
								Contact
							</a>
						</div>
					</div>

					<div class="row">
						<div id="content" class="col col-sm-12 tab-content">
							<div class="row">
								<div class="col col-xs-12">
									
									<p>Here is your claims timeline, this is where you'll find every step of your claims process.</p>
<!-- 									<p>Your to-do's are highlighted in grey.</p> -->
									
									<div class="list-container col col-sm-12 col-lg-8" ng-init="limit = 3">
										
										<div>		
											<ul id="showMoreList" class="list" ng-repeat="activity in claimData | orderBy : 'activity.date':true | limitTo: limit as results">	
																	
											<li ng-if="(activity.name == 'Information Requested'  && activity.requirementReceviedDate == '')">
												<a class="list-item" href="#/upload">
													<div class="item-icon">
														<span class="fa fa-exclamation-circle"></span>
													</div>
													<div class="item-text">
														<span class="timestamp">{{activity.date}}</span>
														<span class="desc">{{activity.name}} - {{activity.requirement != null?activity.requirement:''}}</span>														
													</div>
												</a>
											</li>
											
											<li  ng-if="(activity.name == 'Information Requested'  && activity.requirementReceviedDate != '')">
												<div class="list-item">
													<div class="item-icon">
														<span class="fa fa-check-circle"></span>
													</div>
													<div class="item-text">
														<span class="timestamp">{{activity.date}}</span>
														<span class="desc">{{activity.name}} - {{activity.requirement != null?activity.requirement:''}}</span>	
														<!-- <span class="timestamp">The assessment of your claim has been completed. For further information please contact <b>{{partnerName}}</b></span>	 -->												
													</div>
												</div>
											</li>										
											
											<li ng-if="(activity.name != 'Information Requested')">
												<div class="list-item">
													<div class="item-icon">
														<span class="fa fa-clock-o"></span>
													</div>
													<div class="item-text">
														<span class="timestamp">{{activity.date}}</span>
														<span class="desc">{{activity.name}} - {{activity.requirement != null?activity.requirement:''}}</span>																							
													</div>
												</div>
											</li>
											</ul>
											</div>
										

										<button type="button" id="loadMore" class="btn"
										ng-hide="results.length === claimData.length"  ng-click="limit = limit +3">Load more...</button>

									</div>

								</div>

								<!-- <a href="#" class="btt-link">back to top <span class="fa fa-long-arrow-up"></span></a> -->
								<a href="" style="cursor:pointer;"class="btt-link" ng-click="scrollToTop()">back to top <span class="fa fa-long-arrow-up"></span></a>
							</div>

						</div>

					</div>

				</div>

			</section>
		<!-- tab content block END -->
		</section>		
	<!-- Claims Tracker specific code END -->