<!-- Claims Tracker specific code START -->
				<section class="main" role="main">
		<!-- tab content block START -->
			<section class="module">
				<div class="container">
					<div id="sticky_tabs" class="row">
						<div class="col col-sm-12 tab-container">
							<a href="timeline.html" class="tab">
								<span class="fa fa-tasks"></span>
								Timeline
							</a>
							<a href="to-dos.html" class="tab active">
								<span class="fa fa-exclamation-circle"></span>
								To-Do's
							</a>
							<a href="completed.html" class="tab">
								<span class="fa fa-check-circle"></span>
								Completed
							</a>
							<a href="contact.html" class="tab">
								<span class="fa fa-phone"></span>
								Contact
							</a>
						</div>
					</div>

					<div class="row">
						<div id="content" class="col col-sm-12 tab-content">
							<div class="row">
								<div class="col col-xs-12 col-lg-5 empty">
									
									<span class="fa fa-thumbs-o-up"></span>
									<p>Looks like you don't have any To-do's within your timeline. We will send you an SMS once a task becomes available.</p>

								</div>

								<a style="cursor:pointer;" class="btt-link">back to top <span class="fa fa-long-arrow-up"></span></a>

							</div>

						</div>

					</div>

				</div>

			</section>
		<!-- tab content block END -->
		</section>
	<!-- Claims Tracker specific code END -->