<div class="container pt-5" ng-init="$ctrl.init()">
	<div class="row">
    <div class="col-12 col-md-9">
      <div class="panel-group" id="">
        <div class="card card-default">
          
          <div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
      			<div data-toggle="collapse" data-target="#collapseOne">
      				<button class="ingd-section-title mb-0">Session Expiry</button>
      			</div>
      		</div>
      		
          <div id="collapseOne" class="card-collapse show form-box-style collapse in">
            <div class="card-body">
              <div class="row corp-row-style">
                <div class=" col-sm-12">
                    <p>
                      To protect your secure information we limit the amount of time a secure connection can be inactive.
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 mt-4 mt-md-0">
      <div class="need-help-block text-white p-3">
        <h4 class="text-white">Can we help?</h4>
        <p> Call us on <strong>133 464</strong></p>
        <p> 8am - 8pm Monday to Friday</p>
        <p> 9am - 5pm Saturday (AEST/AEDT)</p>
      </div>
    </div>
  </div>
</div>