<h2 ng-if="changeCoverSummary.errorOccured" style="color:red;text-align: center;">
	Something went wrong...Please try after sometime</h2>
<div class="container d-none d-sm-block">
	<p class="spacer">&nbsp;</p>
</div>
<div class="container">
	<div class="menumobile d-block d-sm-none no-gutters">
		<div class="col-8 d-block float-left">
			<div class="txtHolderMob">
				<span class="color2">3 / 3</span> Confirmation </div>
		</div>
		<div class="col-4 align-top d-inline-block">
			<div ng-if="!vm.auraDisableCustom" ng-click="vm.go('/aura')" class=" icoMenuRev active"><span></span></div>
			<div ng-if="vm.auraDisableCustom" ng-click="vm.go('/cover')" class=" icoMenuRev active"><span></span></div>
			<div class="icoMenuFwd ml30p"><span></span></div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-9">
			<div class="menu d-none d-sm-block">
				<div class="col-sm-4 dd first float-left">
					<h5 style="color:#0066a1">Step 1</h5>
					<div class="txtHolder pointer">
						<a ng-click="vm.go('/cover')"> Personal details</a>
					</div>
					<img src="static/corporate/src/assets/images/bg_blank.png" class="shadow-image right">
				</div>

				<div class="col-sm-4 dc float-left" ng-if="!vm.auraDisableCustom">
					<img src="static/aeis/images/bg_blank.png" class="shadow-image left">
					<h5 style="color:#0066a1">Step 2</h5>
					<div class="txtHolder pointer">
						<a ng-click="vm.go('/aura')"> Health &amp; lifestyle</a>
					</div>
					<img src="static/corporate/src/assets/images/bg_blank.png" class="shadow-image right">
				</div>
				<div class="col-sm-4 dc float-left" ng-if="vm.auraDisableCustom" ng-disabled="vm.auraDisableCustom">
					<img src="static/aeis/images/bg_blank.png" class="shadow-image left">
					<h5 style="color:#d9d9d9">Step 2</h5>
					<div class="txtHolder">
						<p style="color:#d9d9d9" class="txtHolder"> Health &amp; lifestyle</p>
					</div>
					<img src="static/corporate/src/assets/images/bg_blank.png" class="shadow-image right">
				</div>
				<div class="col-sm-4 cn float-left">
					<h5>Step 3</h5>
					<div class="txtHolder" style="color:#000"> Confirmation </div>
					<img src="static/corporate/src/assets/images/bg_blank.png" class="shadow-image left">
				</div>
			</div>

			<div class="panel-group" id="">
				<div class="card card-default twoColData">
					<div class="card-header corp-card-header accordionHeader" role="tab">
						<!-- <a href="#" class="linkright"> Edit </a> -->
						<a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="" aria-expanded="true">
							<h4 class="card-title text-white corp-card-header-text">Personal details </h4>
						</a>
					</div>
					<div id="collapseOne" class="card-collapse show form-box-style collapse in" role="tabpanel">
						<div class="card-body">
							<!-- Row starts -->
							<div class="row corp-row-style first odd">
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>First name</strong>
									</label>
									<label class="control-label">{{vm.personalDetails.firstName}}</label>
								</div>
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>Last name</strong>
									</label>
									<label class="control-label">{{vm.personalDetails.lastName}}</label>
								</div>
							</div>
							<!-- Row ends -->
							<hr class="primeline d-none d-sm-block">
							<!-- Row starts -->
							<div class="row corp-row-style odd">
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>Gender</strong>
									</label>
									<label class="control-label">{{vm.personalDetails.gender}}</label>
								</div>
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>Email address</strong>
									</label>
									<label class="control-label">{{vm.changeCoverSummary.email}}</label>
								</div>
							</div>
							<hr class="primeline d-none d-sm-block">

							<!-- Row starts -->
							<div class="row corp-row-style odd">
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>Preferred contact type</strong>
									</label>
									<label class="control-label">{{vm.contactType}}</label>
								</div>
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>Preferred contact no. </strong>
									</label>
									<label class="control-label">{{vm.changeCoverSummary.contactPhone}}</label>
								</div>
								
							</div>
							<hr class="primeline d-none d-sm-block">
							<!-- Row starts -->
							<div class="row corp-row-style odd">
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>Other contact type</strong>
									</label>
									<label class="control-label">{{vm.otherContactType || 'Not provided'}}</label>
								</div>
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>Other contact no. </strong>
									</label>
									<label class="control-label">{{vm.changeCoverSummary.otherContactPhone || 'Not provided'}}</label>
								</div>
								
							</div>
							<hr class="primeline d-none d-sm-block">
							<!-- Row starts -->
							<div class="row corp-row-style odd">
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>Date of birth</strong>
									</label>
									<label class="control-label"> {{vm.changeCoverSummary.dob}}</label>
								</div>
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>What time of day do you prefer to be contacted?</strong>
									</label>
									<label class="control-label" ng-if="vm.changeCoverSummary.contactPrefTime =='Morning (9am - 12pm)'">Morning (9am&ndash;12pm)</label>
									<label class="control-label" ng-if="vm.changeCoverSummary.contactPrefTime =='Afternoon (12pm - 6pm)'">Afternoon (12pm&ndash;6pm)</label>
								</div>
							</div>
							<!-- Row ends -->
							<hr class="primeline d-none d-sm-block">
							<!-- Row starts -->
							<div class="row corp-row-style odd">
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>What is your annual salary?</strong>
									</label>
									<label class="control-label">{{vm.changeCoverSummary.occupationDetails.salary | currency:'$':0}}</label>
								</div>
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>What industry do you work in?</strong>
									</label>
									<label class="control-label">{{vm.changeCoverSummary.industryName}}</label>
								</div>
							</div>
							<!-- Row ends -->
				<hr class="primeline d-none d-sm-block">

							<!-- Row starts -->
							<div class="row corp-row-style odd">
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>What is your current occupation?</strong>
									</label>
									<label class="control-label" ng-show="vm.changeCoverSummary.occupationDetails.occupation !='Other'">{{vm.changeCoverSummary.occupationDetails.occupation}}</label>
									<label class="control-label" ng-show="vm.changeCoverSummary.occupationDetails.occupation =='Other'">{{vm.changeCoverSummary.occupationDetails.otherOccupation}}</label>
								</div>
								<div class="col-sm-6 col-12">
									<label class="control-label">
										<strong>Employee number</strong>
									</label>
									<label class="control-label">{{vm.changeCoverSummary.clientRefNumber}}</label>
								</div>
							</div>
							<!-- Row ends -->
							<hr class="primeline d-none d-sm-block">

							<!-- Row starts -->
							<div class="row corp-row-style odd">
								<div class="col-12 col-12">
									<label class="control-label">
										<strong>Would you like to be underwritten to the maximum allowable cover and acknowledge that additional evidence may be required?</strong>
									</label>
									<label class="control-label">{{vm.changeCoverSummary.fulCheck + '' === 'true' ? 'Yes' : 'No'}}</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="card card-default twoColData mt-3 border-0">
					<div class="card-header corp-card-header accordionHeader" role="tab">
						<a data-toggle="collapse" data-parent="#accordion" data-target="#collapseCover" class="" aria-expanded="true">
							<h4 class="card-title text-white corp-card-header-text"> Your cover
							 <span class="icohelp" ng-click="vm.clickToOpen('Your required cover is shown under \'Total Cover Required\'.', $event)"></span></h4>
						</a>
					</div>
					<div id="collapseCover" class="card-collapse show form-box-style collapse in landingPageBoxes">
						<div class="card-body p-0 custom-card-border">
							<div class="parent-flex-container">
								<div class="col-12 col-sm-4 bgwhite child-flex-box borderright5px">
									<div class="box coverbg text-center">
										<h5 class="mb-0">cover type</h5>
										<h4 class="p-0 m-0">Death
											<br> &nbsp; </h4>	
									</div>
									<div class="box mt10px text-center">
										<h5 class=" color2">Existing cover</h5>
										<p class="color3">{{vm.changeCoverSummary.existingDeathAmt | currency:'$':0}} </p>
										<h5 class=" color2">Total cover required</h5>
										<p class="color3">{{vm.changeCoverSummary.addnlDeathCoverDetails.deathFixedAmt |currency:'$':0}}</p>
										<h5 class=" color2">Occupation rating</h5>
										<p class="color3">Standard</p>
									</div>
									<p class="spacer">&nbsp;</p>
								</div>
								<!-- Death Cover Details Ends-->

								<p class="spacer d-block d-sm-none">&nbsp;</p>

								<!-- TPD Cover Details Starts-->
								<div class="col-12 col-sm-4 bgwhite child-flex-box borderright5px">
									<div class="box coverbg text-center">
										<h5 class="mb-0">cover type</h5>
										<h4 class="p-0 m-0">Total &amp; Permanent Disability</h4>
									</div>
									<div class="box mt10px text-center">
										<h5 class=" color2">Existing cover</h5>
										<p class="color3">{{vm.changeCoverSummary.existingTpdAmt | currency:'$':0}}</p>
										<h5 class=" color2">Total cover required</h5>
										<p class="color3">{{vm.changeCoverSummary.addnlTpdCoverDetails.tpdFixedAmt | currency:'$':0}}</p>
										<h5 class=" color2">Occupation rating</h5>
										<p class="color3">Standard</p>
									</div>
									<p class="spacer">&nbsp;</p>
								</div>
								<!-- TPD Cover Details Ends-->
								<p class="spacer d-block d-sm-none">&nbsp;</p>
								<!-- IP Cover Details Starts-->
								<div class="col-12 col-sm-4 bgwhite child-flex-box">
									<div class="box coverbg text-center">
										<h5 class="mb-0">cover type</h5>
										<h4 class="p-0 m-0">Income
											<br> Protection</h4>
									</div>
									<div class="box mt10px text-center">
										<h5 class=" color2">Existing cover</h5>
										<p class="color3">{{vm.changeCoverSummary.existingIPAmount | currency:'$':0}}</p>
										<h5 class=" color2">Total cover required</h5>
										<p class="color3">{{vm.changeCoverSummary.addnlIpCoverDetails.ipFixedAmt | currency:'$':0}}</p>
										<h5 class=" color2">Occupation rating</h5>
										<p class="color3">Standard</p>
										<h5 class=" color2">Waiting period</h5>
										<p class="color3">{{vm.changeCoverSummary.addnlIpCoverDetails.waitingPeriod}}</p>
										<h5 class=" color2">Benefit period</h5>
										<p class="color3">{{vm.changeCoverSummary.addnlIpCoverDetails.benefitPeriod}}</p>
										<!-- <h5 class=" color2">Cover Amount</h5>
										<p class="color3">{{vm.changeCoverSummary.addnlIpCoverDetails.ipFixedAmt | currency:'$':0}}</p> -->
									</div>
									<p class="spacer">&nbsp;</p>
								</div>
								<!-- IP Cover Details Ends-->
							</div>
						</div>
						<p class="text-center note summary-disclaimer"> The final amount and cost of your total insurance coverage will be notified in writing by Your Broker.
							<br> To update your cover details, click on 'Personal details' in the navigation bar above.
						</p>
					</div>

					<div class=" secrow1" ng-if="vm.changeCoverSummary.auraDetails.specialTerm == true && vm.changeCoverSummary.auraDetails.overallDecision == 'ACC' && ((vm.changeCoverSummary.auraDetails.deathLoading != null && vm.changeCoverSummary.auraDetails.deathLoading != '0.0') || (vm.changeCoverSummary.auraDetails.tpdLoading != null && vm.changeCoverSummary.auraDetails.tpdLoading != 0.0) || (vm.changeCoverSummary.auraDetails.ipLoading != null && vm.changeCoverSummary.auraDetails.ipLoading != 0.0))">
						<div class="lwt"></div>
						<div class="rwt"></div>
						<div class="panel panel-default nobg secrow">
							<div class="col-sm-12 bgwhite">
								<!-- Row starts -->
								<div class="row corp-row-style">
									<div class="col-sm-12">
										<div class="row corp-row-style">
											<div class="col-sm-12">
												<p> Loadings</p>
											</div>
										</div>
										<!-- Row ends -->
										<hr class="primeline">
										<div class="row corp-row-style">
											<div class="col-sm-12">
												<div data-toggle="buttons" class=" btn-group-vertical">
													<div class="row corp-row-style">
														<div class="col-sm-12" ng-if="vm.changeCoverSummary.auraDetails.deathLoading != null && vm.changeCoverSummary.auraDetails.deathLoading != 0.0">
															<h6>Death</h6>
															<p class="normal" style="text-align:justify;margin-top:8px;">
																We wish to note that in considering the information disclosed in your personal statement your additional cover is subject
																to a loading of {{vm.changeCoverSummary.auraDetails.deathLoading}}%.This loading will be applicable if you accept the terms of the cover
															</p>
														</div>
														<div class="col-sm-12" ng-if="vm.changeCoverSummary.auraDetails.tpdLoading != null && vm.changeCoverSummary.auraDetails.tpdLoading != 0.0">
															<h6>TPD</h6>
															<p class="normal" style="text-align:justify;margin-top:8px;">
																We wish to note that in considering the information disclosed in your personal statement your additional cover is subject
																to a loading of {{vm.changeCoverSummary.auraDetails.tpdLoading}}%.This loading will be applicable if you accept the terms of the cover
															</p>
														</div>
														<div class="col-sm-12" ng-if="vm.auraDetails.ipLoading != null && vm.auraDetails.ipLoading != 0.0">
															<h6>Income protection</h6>
															<p class="normal" style="text-align:justify;margin-top:8px;">
																We wish to note that in considering the information disclosed in your personal statement your additional cover is subject
																to a loading of {{vm.changeCoverSummary.auraDetails.ipLoading}}%.This loading will be applicable if you accept the terms of the cover
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="secrow1" ng-if="(vm.changeCoverSummary.auraDetails.specialTerm == true && vm.changeCoverSummary.auraDetails.overallDecision == 'ACC' ) && (vm.changeCoverSummary.auraDetails.deathExclusions != null || vm.changeCoverSummary.auraDetails.tpdExclusions != null || vm.changeCoverSummary.auraDetails.ipExclusions != null)">
						<div class="lwt"></div>
						<div class="rwt"></div>
						<div class="panel panel-default nobg">
							<div class="col-sm-12 bgwhite">
								<!-- Row starts -->
								<div class="row corp-row-style">
									<div class="col-sm-12">
										<div class="row corp-row-style">
											<div class="col-sm-12">
												<p> Exclusions</p>
											</div>
										</div>
										<!-- Row ends -->
										<hr class="primeline">
										<div class="row corp-row-style">
											<div class="col-sm-12">
												<div data-toggle="buttons" class=" btn-group-vertical">
													<div class="row corp-row-style">
														<div class="col-sm-12" ng-if="vm.changeCoverSummary.auraDetails.deathExclusions != null">
															<h6>Death</h6>
															<p class="normal" style="text-align:justify;margin-top:8px;"> {{vm.changeCoverSummary.auraDetails.deathExclusions}}
															</p>
														</div>
														<div class="col-sm-12" ng-if="vm.changeCoverSummary.auraDetails.tpdExclusions != null">
															<h6>TPD</h6>
															<p class="normal" style="text-align:justify;margin-top:8px;"> {{vm.changeCoverSummary.auraDetails.tpdExclusions}}
															</p>
														</div>
														<div class="col-sm-12" ng-if="vm.changeCoverSummary.auraDetails.ipExclusions != null">
															<h6>Income protection</h6>
															<p class="normal" style="text-align:justify;margin-top:8px;"> {{vm.changeCoverSummary.auraDetails.ipExclusions}}
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 bgwhite" ng-if="vm.changeCoverSummary.auraDetails.specialTerm == true && vm.changeCoverSummary.auraDetails.overallDecision == 'ACC' ">
						<div class="row corp-row-style" ng-class="{'has-error':vm.changeCoverSummary.LEFlag}" ng-click="vm.checkAckStateLE()">
							<div class="col-sm-12">
								<div data-toggle="buttons" class="btn-group-vertical">
									<div class="row corp-row-style">
										<div class="col-sm-12">
											<label class="btn  checkboxes ack-checkbox-label" id="lodadingExclusionLabel">
												<input type="checkbox" class="" id="lodadingExclusionId">
												<span></span>
												<div class="custom-checkbox-label">I acknowledge I have read and understood the above exclusion(s) and/or loading(s) which apply to this cover.</div>
											</label>
											<p ng-if="vm.changeCoverSummary.LEFlag" class="error" style="padding-top:5px;">Please tick the box to acknowledge the exclusion(s) and/or loading(s) before proceeding with your application.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="card card-default mt-3">
				 <form name="acknowledgeForm" novalidate role="form">
					<div class="card-header corp-card-header accordionHeader">
						<a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" class="" aria-expanded="true">
							<h4 class="card-title text-white corp-card-header-text"> Terms &amp; conditions </h4>
						</a>
					</div>
					<div id="collapse4" class="card-collapse show form-box-style collapse in" role="tabpanel">
						<div class="card-body">
							<div class="scrollBox">
								<p>
									<strong class="color2">You must read and acknowledge the General Consent before proceeding.
									   <a class="icohelp" ng-click="vm.clickToOpen('Please read and tick the box to acknowledge your General Consent.', $event)"></a>
									</strong>
								</p>
								<p>By clicking on the tick box below, I declare that:</p>
								<ul>
									<li>I have read and understand my duty of disclosure and understand that this duty applies until formal notification of acceptance.</li>
									<li>The answers to the questions in this application are true, and I have not deliberately withheld any information material to the proposed insurance.</li>
									<li>I agree to be bound by the terms and conditions attached to this cover as set out in the Insurance Policy Document between my employer and the Insurer.</li>
									<li>I consent to the collection, use and disclosure of personal information by the relevant Insurer and their 
									service providers in order to assess my application and any claim under this policy.</li>
									<li>I have read and understood the privacy statement and agree to the collection, use and disclosure of personal information as described in those statements.</li>
									<li>I consent to the relevant Insurer, that being MetLife Insurance Limited, seeking medical information from any doctor 
									who at any time I have consulted prior to the date hereof.</li>
									<li>I understand that cover under any policy accepted does not begin until acceptance by the Insurer of which I will be notified in writing and that the insurer reserves the right to amend an accepted application where there have been errors 
									identified in the entry of the Salary, Waiting Period or Benefit Period. </li>
									<li>I authorise any hospital, physician or other person who has attended me to furnish MetLife Insurance Limited or its representatives, any and all information with respect to any sickness or injury, medical history, 
									consultation, prescriptions, treatment, and copies of all hospital or medical records.</li>
									<li>I agree that a photocopy of this authorisation shall be considered as effective as the original.</li>
								</ul>
							</div>
							<!-- Row ends -->
							<div data-toggle="buttons" class="btn-group-vertical w-100">
								<div class="row corp-row-style col-sm-12" ng-class="{'has-error':vm.CCGCackFlag || (acknowledgeForm.generalConsent.$dirty && acknowledgeForm.generalConsent.$error.required)}" ng-click="vm.checkAckStateGC()">
									<button class="btn checkboxes col-12 ack-checkbox-label" id="generalConsentLabel">
										<input type="checkbox" name="generalConsent" id="option2" required>
										<span></span>
										<div> I acknowledge I have read,understood and consent to the above.</div>
									</button>
									<p ng-if="vm.CCGCackFlag || (acknowledgeForm.generalConsent.$dirty && acknowledgeForm.generalConsent.$error.required)" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
								</div>
							</div>

							<hr class="primeline">

							<div class="row corp-row-style">
								<div class="form-group col-12 col-md-4">
									<button class="metlife-btn-primary btn btn-block btn-outline" type="button" ng-if="!vm.auraDisableCustom" ng-click="vm.go('/aura')">Previous</button>
									<button class="metlife-btn-primary btn btn-block btn-outline" type="button" ng-if="vm.auraDisableCustom" ng-click="vm.go('/cover')">Previous</button>
								</div>
								<span class="spacer d-block d-sm-none">&nbsp;</span>
								<div class="form-group col-12 col-md-4">
									<button class="metlife-btn-primary btn btn-block btn-outline" ng-click="vm.saveSummary()">Save & Exit</button>
								</div>
								<span class="spacer d-block d-sm-none">&nbsp;</span>
								<div class="form-group col-12 col-md-4">
									<button class="metlife-btn-primary btn btn-block btn-outline" ng-click=" vm.navigateToDecision()">Submit</button>
								</div>
							</div>
							<!-- <div class=" row corp-row-style">
								<div class="col-sm-4 col-12">
								
									<button class="btn btn-primary w100p avoid-arrow" type="button" ng-if="!vm.changeCoverSummary.auraDisabled" ng-click="go('/aura')">Previous</button>
									<button class="btn btn-primary w100p avoid-arrow" type="button" ng-if="vm.changeCoverSummary.auraDisabled" ng-click="go('/cover')">Previous</button>
									
								</div>

								<p class="spacer d-block d-sm-none">&nbsp;</p>
								<div class="col-sm-4 col-12 alignleft d-none d-sm-block">
									<button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="vm.saveSummary()"> Save &amp; exit</button>
								</div>
								<div class="col-sm-4 col-12 aligncenter   d-block d-sm-none">
									<button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="vm.saveSummary()"> Save &amp; exit</button>
								</div>

								<p class="spacer d-block d-sm-none">&nbsp;</p>
								<div class="col-sm-4 col-12">
									<button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="vm.navigateToDecision()">Submit</button>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			  </form>
			</div>
		</div>

		<div class="col-12 col-md-3 align-top">
			<div class="help-block">
				<h2 class="helpHead">NEED HELP?</h2>
				<p class="helpTxt">Please call</p>
				<h3 class="helpNo">
					<a class="telephone d-block d-sm-none" href="tel:{{vm.brokernumber}}">{{ vm.brokernumber }}</a>
					<a class="telephone d-none d-md-block">{{ vm.brokernumber }}</a>
				</h3>
				<p class="helpTxt">if you are having trouble with this application.</p>
			</div>
		</div>
	</div>
	<!-- /container -->
</div>