<div class="clearfooter"></div>
<div class="c-footer d-none d-sm-block">
  <div class="container d-flex">
    <div class="col-sm-9">
      <p class="footertext text-center"> &copy MTAA Super</p>
    </div>
    <div class="col-sm-3 p-0">
      <div class="text-right  ">
        <p class="footerlinks">
        	<a target="_blank" href="https://mtaasuper.com.au/privacy-policy">Privacy policy</a> | 
        	<a target="_blank" href="https://mtaasuper.com.au/general-advice-warning">Legal Notice</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="container d-block d-sm-none">
  <div class=" col-12 aligncenter ">
    <p class="footertext text-center"> &copy; &copy MTAA Super</p>
    <p class="footerlinks">
    	<a target="_blank" href="https://mtaasuper.com.au/privacy-policy">Privacy policy</a> | 
    	<a target="_blank" href="https://mtaasuper.com.au/general-advice-warning">Legal Notice</a> </p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>