<metlife-mtaa-header-nav></metlife-mtaa-header-nav>
<div class="container d-none d-sm-block">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container p-0">
  <div class="menumobile d-block d-sm-none d-flex h-100">
    <div class="col-9">
      <div class="txtHolderMob"><span class="color2">1 / 3</span> Personal details </div>
    </div>
    <div class="col-3"><img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="icoMenuRev"><img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="icoMenuFwd ml30p"></div>
  </div>
  <div class="col-sm-3 fright d-none d-sm-block">
  	<metlife-mtaa-help-block></metlife-mtaa-help-block>
  </div>
  <div class="col-sm-9">
    <div class="menu d-none d-sm-block">
      <div class="col-sm-4 cn first float-left pt-2">
        <h5>step 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="right"> </div>
      <div class="col-sm-4 cnn float-left pt-2">
      	<img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="left">
        <h5>step 2</h5>
        <div class="txtHolder"> Health &amp; Lifestyle</div>
        <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="right"> </div>
      <div class="col-sm-4 nl float-left pt-2">
        <h5>step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="left"> </div>
    </div>
    
    <!--Duty of Disclosure Section starts	-->
    <div class="accordion" id="accordiondod">
      <div class="card border-0  mt-2">
        <div id="collapseduty">
          <form name="vm.formduty" role="form" autocomplete="off" novalidate>
            <div class="card-body">
              <div class=" col-sm-12">
                <p class="normal" style="text-align: justify; margin-top: 8px;"></p>
                <p><strong class="color">Insured's duty of disclosure</strong></p>
                <div class="scrollBox">
                  <p>A person who enters into a life insurance contract in respect of your life has a duty, before entering into the contract, to tell the Insurer anything that he or she knows, or could reasonably be expected to know, may affect the Insurer's decision to provide the insurance and on what terms.</p>
                  <p>The person entering into the contract has this duty until the Insurer agrees to provide the insurance.</p>
                  <p>The person entering into the contract has the same duty before he or she extends, varies or reinstates the contract.</p>
                  <p>The person entering into the contract does not need to tell the Insurer anything that:</p>
                  <ul class="listing" style="margin: 0 0 10px 30px;">
                    <li>reduces the risk the Insurer insures you for; or</li>
                    <li>is common knowledge; or</li>
                    <li>the Insurer knows or should know as an insurer; or</li>
                    <li>the Insurer waives your duty to tell the Insurer about.</li>
                  </ul>
                  <p>If you do not tell the Insurer something that you know, or could reasonably be expected to know, may affect the Insurer's decision to provide the insurance and on what terms, this may be treated as a failure by the person entering into the contract to tell the Insurer something that he or she must tell the Insurer.</p>
                  <strong class="color">If the person entering the contract does not tell the Insurer something</strong><br>
                  <br>
                  <p>In exercising the following rights, the Insurer may consider whether different types of cover can constitute separate contracts of life insurance. If they do, the Insurer may apply the following rights separately to each type of cover.</p>
                  <p>If the person entering into the contract does not tell the Insurer anything he or she is required to, and the Insurer would not have provided the insurance if he or she had told the Insurer, the Insurer may avoid the contract within 3 years of entering into it.</p>
                  <p>If the Insurer choose not to avoid the contract, the Insurer may, at any time, reduce the amount of insurance provided. This would be worked out using a formula that takes into account the premium that would have been payable if he or she had told the Insurer everything he or she should have. However, if the contract has a surrender value, or provides cover on death, the Insurer may only exercise this right within 3 years of entering into the contract.</p>
                  <p>If the Insurer chooses not to avoid the contract or reduce the amount of insurance provided, the Insurer may, at any time vary the contract in a way that places the Insurer in the same position the Insurer would have been in if he or she had told the Insurer everything he or she should have. However, this right does not apply if the contract has a surrender value or provides cover on death.</p>
                  <p>If the failure to tell the Insurer is fraudulent, the Insurer may refuse to pay a claim and treat the contract as if it never existed.</p>
                </div>
                <div class="row rowcustom" ng-class="{'has-error': (vm.formduty.$submitted && vm.formduty.$invalid) || (vm.formduty.$dirty && vm.formduty.$invalid)}">
                  <p class="spacer">&nbsp;</p>
                  <div class="btn-group-vertical">
                    <button class="btn checkboxes col-12 ack-checkbox-label" id="dodLabel" ng-class="{'active': vm.TPD.dodCheck}" ng-click="vm.checkDodState()">
                    <input type="checkbox" ng-model="vm.TPD.dodCheck" id="dodlabelCheck" name="dod" required> 
                    <span></span>
                    <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above.</div>
                    </button>
                    <p ng-if="(vm.formduty.$submitted && vm.formduty.$invalid) || (vm.formduty.$dirty && vm.formduty.$invalid)" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
                    <!-- ngIf: dodFlagErr --> 
                  </div>
                </div>
                <p></p>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- </div> --> 
      
      <!--Duty of Disclosure Section starts	--> 
      <!--Privacy Policy Section starts	-->
      <div class="card border-0  mt-2">
      	<div href="#collapseprivacy" class="card-header collapsed" data-toggle="collapse" ng-click="vm.isCollapsible('collapseprivacy', $event)">
      		<a class="card-title">
      			<h4 class="mb-0 float-left">Privacy statement</h4>
      		</a>
      	</div>
      	<div class="overflow-hidden">
	        <div id="collapseprivacy" class="collapse in" style="height: auto;">
	          <form name="vm.transferPrivacyPolicyForm" role="form" novalidate class="ng-pristine ng-valid">
	            <div class="card-body">
	              <div class=" col-sm-12">
	                <p class="normal" style="text-align: justify; margin-top: 8px;"></p>
	                <p><strong>You must read and acknowledge the Privacy Statement before proceeding</strong></p>
	                <div class="scrollBox">
	                   <p><strong>Your privacy with MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife' or the 'Insurer')</strong> <br>
                    If you make a claim under this policy the Insurer may conduct investigations to assess the value and validity of the claim. This may involve the use of investigation agents, legal advisors and the collection of personal data that MetLife believes is relevant. MetLife complies with the Privacy Act 1988 and the principles laid out on their privacy policy, which is readily available on request and also available online at <a href="https://www.metlife.com.au/privacy/" target="_new"><strong class="summary">www.metlife.com.au/privacy </strong></a>.</p>
                  <p><strong>Your privacy as a member of Your Super Fund</strong><br>
                    The information you provide in this form is collected by and held by MTAA Supers administrator, AAS to administer your insurance within your MTAA Super account. If you do not provide the requested information, we may be unable to properly administer your insurance. Your personal and sensitive information will only be disclosed to MTAA Super staff as required, our administrators Link, Metlife Insurance Limited and/or our legal or other professional advisors if reasonably necessary.</p>
                  <p>The MTAA Super Privacy Policy provides information about overseas disclosure of personal information, how you may access and seek correction of your personal information as well as how you can make a complaint about a breach of the Australian Privacy Principles or the Privacy Act 1988. You can access the MTAA Super Privacy Policy at <a href="http://www.mtaasuper.com.au/privacy/" target="_new"><strong class="summary"> http://www.mtaasuper.com.au/privacy/. </strong></a> For all privacy related questions or privacy related matters you can contact MTAA Super on <strong>1300 362 415</strong> or via email at <a href="mailto:contact@mtaasuper.MTAA.com.au" target="_top"><strong class="summary"> contact@mtaasuper.com.au </strong></a></p>
	                </div>
	                <div class="row rowcustom " ng-class="{'has-error':(vm.transferPrivacyPolicyForm.$submitted && vm.transferPrivacyPolicyForm.$invalid) ||  (vm.transferPrivacyPolicyForm.$dirty && vm.transferPrivacyPolicyForm.$invalid)}">
	                  <p class="spacer">&nbsp;</p>
	                  <div class="btn-group-vertical">
	                    <label class="btn checkboxes col-12 ack-checkbox-label" ng-class="{'active': vm.TPD.privacyCheck}" id="privacyLabel" ng-click="vm.checkPrivacyState()">
	                    <input tabindex="1" ng-model="vm.TPD.privacyCheck" type="checkbox" id="privacylabelCheck" name="privacy" required>
	                    <span></span>
	                    <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above</div>
	                    </label>
	                    <p ng-if="(vm.transferPrivacyPolicyForm.$submitted && vm.transferPrivacyPolicyForm.$invalid) ||  (vm.transferPrivacyPolicyForm.$dirty && vm.transferPrivacyPolicyForm.$invalid)" class="error" style="padding-top:5px;">Please acknowledge and consent to the privacy statement.</p>
	                  </div>
	                </div>
	                <p></p>
	              </div>
	            </div>
	          </form>
	        </div>
        </div>
      </div>
      <!--Privacy Policy Section starts	--> 
      
      <!--Contact Details Section starts	--> 
      <!-- <div class="accordion" id="accordionContact"> -->
      <div class="card border-0  mt-2">
        <div href="#PersonalDetailsSection" class="card-header collapsed" data-toggle="collapse" ng-click="vm.isCollapsible('PersonalDetailsSection', $event)">
        	<a class="card-title">
          <h4 class="mb-0 float-left"> Contact details</h4>
          </a> </div>
          <div class="overflow-hidden">
        <div id="PersonalDetailsSection" class="collapse in" style="height: auto;">
          <form name="vm.coverDetailsTransferForm" role="form" novalidate>
            <div class="card-body"> 
              <!-- Row starts -->
              <div class="row rowcustom first">
                <div class="col-sm-12">
                  <label> Please leave your contact details in the event we need to contact you</label>
                </div>
              </div>
              <!-- Row ends -->
              
              <hr class="primeline">
              
              <!-- Row starts -->
              <div class="row rowcustom ">
                <div class="col-md-5 col-sm-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.contactEmail.$invalid && vm.coverDetailsTransferForm.contactEmail.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactEmail.$error.required)}">
                  <label class="control-label"> Email address </label>
                  <input ng-focus="vm.checkPreviousMandatoryFields('contactEmail','coverDetailsTransferForm')" class="form-control" ng-pattern="vm.constants.emailFormat" maxlength="50" name="contactEmail" ng-model="vm.TPD.applicant.emailId"  placeholder="Enter your email" type="email" required>
                  <span ng-if="(vm.coverDetailsTransferForm.contactEmail.$invalid && vm.coverDetailsTransferForm.contactEmail.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactEmail.$error.required) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactEmail.$error.pattern)" class="error">Please enter your email address</span>
                </div>
                
                <div class="col-md-3 col-sm-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.contactType.$invalid && vm.coverDetailsTransferForm.contactType.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactType.$error.required)}">
                  <label class="control-label">Preferred contact type</label>
                  <div class="select">
                  	<select ng-focus="vm.checkPreviousMandatoryFields('contactType','coverDetailsTransferForm')" name="contactType" class="form-control" ng-model="vm.TPD.applicant.contactDetails.preferedContacType" ng-change="vm.changePrefContactType()" ng-options="contact.value as contact.text for contact in vm.constants.contactTypeOption" required>
                  		<option value="">Please select</option>
                  	</select>
                  	<div class="select__arrow"></div>
                  	<span ng-if="(vm.coverDetailsTransferForm.contactType.$invalid && vm.coverDetailsTransferForm.contactType.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactType.$error.required)" class="error">Please select the Preferred contact type</span>
                  </div>
                </div>
                
                <div class="col-md-4 col-sm-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.contactPhone.$invalid && vm.coverDetailsTransferForm.contactPhone.$touched) || ((vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactPhone.$error.required)  || (vm.coverDetailsTransferForm.contactPhone.$error.pattern))}">
                  <label class="control-label">Preferred contact number</label>
                  <input ng-focus="vm.checkPreviousMandatoryFields('contactPhone','coverDetailsTransferForm')" class="form-control" ng-pattern="vm.constants.phoneNumber"  phone-only id="preferrednumCCId"  maxlength="10"  name="contactPhone" ng-model="vm.TPD.applicant.contactDetails.preferedContactNumber" type="text" placeholder="Enter your Phone No" required>
                  <span ng-if="(vm.coverDetailsTransferForm.contactPhone.$invalid && vm.coverDetailsTransferForm.contactPhone.$touched) || ((vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactPhone.$error.required)  || (vm.coverDetailsTransferForm.contactPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
              	</div>
                
                
                
              </div>
              <!-- Row ends -->
              
              <hr class="primeline">
              
              <!-- Row starts -->
              <div class="row rowcustom">
                <div class="col-sm-6 col-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.contactPrefTime.$error.required && vm.coverDetailsTransferForm.contactPrefTime.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactPrefTime.$error.required )}">
                  <label class="control-label"> What time of day do you prefer to be contacted? </label>
                  <span id="tick 3" style=" visibility:hidden"> <span class="tickforms d-block d-sm-none"></span> <span class="tickforms mrm25px d-none d-sm-block"></span> </span>
                  <div class="btn-group">
                    <div class="col-12 col-lg-6">
                       <label ng-click="vm.checkPreviousMandatoryFields('contactPrefTime','coverDetailsTransferForm')" class="btn radiobutton" ng-class="{'active': (vm.TPD.applicant.contactDetails.preferedContactTime == '1')}">
                         <input checkbox-and-radio-update class="ipradio" name="contactPrefTime" ng-model="vm.TPD.applicant.contactDetails.preferedContactTime" type="radio" value="1" required>
                        <span></span> Morning (9am - 12pm) </label>
                    </div>
                    <div class="col-12 col-lg-6 p0">
                      <label ng-click="vm.checkPreviousMandatoryFields('contactPrefTime','coverDetailsTransferForm')" class="btn radiobutton" ng-class="{'active': (vm.TPD.applicant.contactDetails.preferedContactTime == '2')}">
                        <input checkbox-and-radio-update class="ipradio" name="contactPrefTime" ng-model="vm.TPD.applicant.contactDetails.preferedContactTime" type="radio" value="2" required>
                        <span></span> Afternoon (12pm-6pm) </label>
                    </div>                    
                  </div>
                  <span ng-if="(vm.coverDetailsTransferForm.contactPrefTime.$error.required && vm.coverDetailsTransferForm.contactPrefTime.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.contactPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
                </div>
                
                <div class="col-sm-6 col-12" ng-class="{'has-error':(vm.coverDetailsTransferForm.gender.$error.required && vm.coverDetailsTransferForm.gender.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.gender.$error.required )}">
                  <label class="control-label"> Sex </label>
                  <div class="btn-group">
                    <div class="col-12 col-md-6">
                      <label ng-click="vm.checkPreviousMandatoryFields('gender','coverDetailsTransferForm')" class="btn radiobutton" ng-class="{'active': (vm.TPD.applicant.gender == 'Male')}">
                        <input checkbox-and-radio-update type="radio" name="gender" class="ipradio" ng-model="vm.TPD.applicant.gender" value="Male" required>
                        <span></span> Male </label>
                    </div>
                    <div class="col-12 col-md-6 p0">
                      <label ng-click="vm.checkPreviousMandatoryFields('gender','coverDetailsTransferForm')" class="btn radiobutton" ng-class="{'active': (vm.TPD.applicant.gender == 'Female')}">
                        <input checkbox-and-radio-update type="radio" name="gender" class="ipradio" ng-model="vm.TPD.applicant.gender" value="Female" required>
                        <span></span> Female </label>
                    </div>                    
                  </div>
                  <span class="error" ng-if="(vm.coverDetailsTransferForm.gender.$error.required && vm.coverDetailsTransferForm.gender.$touched) || (vm.coverDetailsTransferForm.$submitted && vm.coverDetailsTransferForm.gender.$error.required )">Please select Sex</span>
                </div>
              </div>
              <!-- Row ends -->
              
          </form>
        </div>
        </div>
      </div></div>
      <!-- Contact Details Section ends --> 
      
      <!-- Occupation section starts -->
      <div class="card border-0  mt-2">
        <div href="#OccupationSection" class="card-header collapsed" data-toggle="collapse" ng-click="vm.isCollapsible('OccupationSection', $event)">
        	<a class="card-title">
          <h4 class="mb-0 float-left">Occupation</h4>
          </a> </div>
          <div class="overflow-hidden">
        <div id="OccupationSection" class="collapse in" style="height: auto;">
          <form name="vm.occupationDetailsTransferForm" id="occupFormId" novalidate role="form">
            <div class="card-body"> 
              <!-- Row starts -->
              <div class="row rowcustom" ng-class="{'has-error':(vm.occupationDetailsTransferForm.fifteenHrsQuestion.$error.required && vm.occupationDetailsTransferForm.fifteenHrsQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.fifteenHrsQuestion.$error.required )}">
                <div class="col-12 col-sm-6">
                  <label class="control-label">Do you work 15 or more hours per week? </label>
                  <div class="btn-group">
                    <div class="col-12 col-md-6">
                      <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('fifteenHrsQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.workHours == 'Yes')}">
                      <input checkbox-and-radio-update type="radio" name="fifteenHrsQuestion"  class="ipradio" ng-model="vm.TPD.applicant.workHours" type="radio" value="Yes" ng-change="vm.renderOccupationQuestions()" required>
                      <span></span>Yes</label>
                    </div>
                    <div class="col-12 col-md-6">
                      <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('fifteenHrsQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.workHours == 'No')}">
                      <input checkbox-and-radio-update type="radio" name="fifteenHrsQuestion"  class="ipradio" ng-model="vm.TPD.applicant.workHours" type="radio" value="No" ng-change="vm.toggleIPCondition()" required>
                      <span></span> No
                    </label>
                    </div>
                  </div>
                   <span class="error" ng-if="(vm.occupationDetailsTransferForm.fifteenHrsQuestion.$error.required && vm.occupationDetailsTransferForm.fifteenHrsQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.fifteenHrsQuestion.$error.required )">Please select Yes or No</span>
                </div>
              </div>
              
              <hr class="primeline">
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.ownBusinessQue.$error.required && vm.occupationDetailsTransferForm.ownBusinessQue.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.ownBusinessQue.$error.required )}">
	              <div class="col-sm-12">
	                <label class="control-label">Do you, directly or indirectly, own all or part of a business from which you earn your regular income?</label>
	              </div>
	              <!-- Row starts -->
	              <div class="row rowcustom">
	                <div class="col-sm-6 col-12">
	                  <div class="btn-group">
	                  <div class="col-12 col-md-6">
	                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('ownBusinessQue','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.ownBusinessQue == 'Yes')}">
	                      <input checkbox-and-radio-update name="ownBusinessQue" class="ipradio" ng-model="vm.TPD.applicant.ownBusinessQue" type="radio" value="Yes" required>
	                      <span></span>Yes</label>
	                  </div>
	                  <div class="col-12 col-md-6">
	                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('ownBusinessQue','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.ownBusinessQue == 'No')}">
	                      <input checkbox-and-radio-update name="ownBusinessQue" class="ipradio" ng-model="vm.TPD.applicant.ownBusinessQue" type="radio" value="No" required>
	                      <span></span> No </label>
	                  </div>
	                </div>
	                  <span class="error" ng-if="(vm.occupationDetailsTransferForm.ownBusinessQue.$error.required && vm.occupationDetailsTransferForm.ownBusinessQue.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.ownBusinessQue.$error.required )">Please select Yes or No</span>
	                </div>
	              </div>
	          </div>
              
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.ownBusinessYesQue.$error.required && vm.occupationDetailsTransferForm.ownBusinessYesQue.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.ownBusinessYesQue.$error.required )}" ng-if="vm.TPD.applicant.ownBusinessQue == 'Yes'">
	              <hr class="primeline">
              <div class="col-sm-12">
                <label class="control-label">
                	Are you currently: <br>
                	<li>Capable of, and performing all of the usual identifiable duties from your occupation, without restriction due to injury or illness?</li>
                </label>
              </div>
              <!-- Row starts -->
              <div class="row rowcustom">
                <div class="col-sm-6 col-12">
                  <div class="btn-group">
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('ownBusinessYesQue','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.ownBusinessYesQue == 'Yes')}">
                      <input checkbox-and-radio-update name="ownBusinessYesQue" class="ipradio" ng-model="vm.TPD.applicant.ownBusinessYesQue" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('ownBusinessYesQue','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.ownBusinessYesQue == 'No')}">
                      <input checkbox-and-radio-update name="ownBusinessYesQue" class="ipradio" ng-model="vm.TPD.applicant.ownBusinessYesQue" type="radio" value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                  <span class="error" ng-if="(vm.occupationDetailsTransferForm.ownBusinessYesQue.$error.required && vm.occupationDetailsTransferForm.ownBusinessYesQue.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.ownBusinessYesQue.$error.required )">Please select Yes or No</span>
                </div>
              </div>
              </div>
              
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.ownBusinessNoQue.$error.required && vm.occupationDetailsTransferForm.ownBusinessNoQue.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.ownBusinessNoQue.$error.required )}" ng-if="vm.TPD.applicant.ownBusinessQue == 'No'">
	              <hr class="primeline">
              <div class="col-sm-12">
                <label class="control-label">With your current job, are you currently: <br>
					<li>Actively Performing all your normal duties of your occupation; and</li>
					<li>Working your usual hours without limitation of injury or illness; and</li>
					<li>Not entitled to, or not receiving any income support benefits of any kind.</li>
			</label>
              </div>
              <!-- Row starts -->
              <div class="row rowcustom">
                <div class="col-sm-6 col-12">
                  <div class="btn-group">
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('ownBusinessNoQue','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.ownBusinessNoQue == 'Yes')}">
                      <input checkbox-and-radio-update name="ownBusinessNoQue" class="ipradio" ng-model="vm.TPD.applicant.ownBusinessNoQue" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('ownBusinessNoQue','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.ownBusinessNoQue == 'No')}">
                      <input checkbox-and-radio-update name="ownBusinessNoQue" class="ipradio" ng-model="vm.TPD.applicant.ownBusinessNoQue" type="radio" value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                  <span class="error" ng-if="(vm.occupationDetailsTransferForm.ownBusinessNoQue.$error.required && vm.occupationDetailsTransferForm.ownBusinessNoQue.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.ownBusinessNoQue.$error.required )">Please select Yes or No</span>
                </div>
              </div>
              </div>
             
              

              <hr class="primeline">
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.areyouperCitzQuestion.$error.required && vm.occupationDetailsTransferForm.areyouperCitzQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.areyouperCitzQuestion.$error.required )}">
	              <div class="col-sm-12">
	                <label class="control-label">Are you either a permanent resident of Australia or a New Zealand citizen residing in Australia under a Special Category Visa?</label>
	              </div>
              
	              <div class="row rowcustom">
	                <div class="col-sm-6 col-12">
	                  <div class="btn-group">
	                  <div class="col-12 col-md-6">
	                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('areyouperCitzQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.australiaCitizenship == 'Yes')}">
	                      <input checkbox-and-radio-update name="areyouperCitzQuestion" class="ipradio" ng-model="vm.TPD.applicant.australiaCitizenship" type="radio" value="Yes" required>
	                      <span></span>Yes</label>
	                  </div>
	                  <div class="col-12 col-md-6">
	                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('areyouperCitzQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.australiaCitizenship == 'No')}">
	                      <input checkbox-and-radio-update name="areyouperCitzQuestion" class="ipradio" ng-model="vm.TPD.applicant.australiaCitizenship" type="radio" value="No" required>
	                      <span></span> No </label>
	                  </div>
	                </div>
	                  <span class="error" ng-if="(vm.occupationDetailsTransferForm.areyouperCitzQuestion.$error.required && vm.occupationDetailsTransferForm.areyouperCitzQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.areyouperCitzQuestion.$error.required )">Please select Yes or No</span>
	                </div>
	              </div>
              </div>
            
              
              <hr class="primeline">
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.industry.$error.required && vm.occupationDetailsTransferForm.industry.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.industry.$error.required )}">
	              <div class="col-12 ">
	                <label class="control-label"> What industry do you work in?</label>
	              </div>
	              <div class="row rowcustom">
	                <div class="col-12 ">
	                  <div class="select">
	                    <select class="form-control" ng-focus="vm.checkPreviousMandatoryFields('industry','occupationDetailsTransferForm')" name="industry" ng-class="(vm.occupationDetailsTransferForm.industry.$error.required && vm.occupationDetailsTransferForm.industry.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.industry.$error.required)	? 'error-border':''" ng-model="vm.TPD.applicant.industryType" ng-change="vm.getOccupations()" required>
	                      <option value="">Please select...</option>
	                      <option ng-repeat="industry in vm.IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
	                    </select>
	                    <div class="select__arrow"></div>
	                  </div>
	                   <span class="error" ng-if="(vm.occupationDetailsTransferForm.industry.$error.required && vm.occupationDetailsTransferForm.industry.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.industry.$error.required )">Please select the industry type.</span>
	                </div>
	              </div>
	         </div>
              
              <hr class="primeline">
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.occupation.$error.required && vm.occupationDetailsTransferForm.occupation.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.occupation.$error.required)}">
	              <div class="col-12">
	                <label class="control-label"> What is your current occupation?</label>
	              </div>
                  <div class="row rowcustom">
	                <div class="col-12 ">
	                  <div class="select">
	                    <select ng-focus="vm.checkPreviousMandatoryFields('occupation','occupationDetailsTransferForm')" class="form-control" name="occupation" ng-class="(vm.occupationDetailsTransferForm.occupation.$error.required && vm.occupationDetailsTransferForm.occupation.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.occupation.$error.required)	? 'error-border':''" ng-model="vm.TPD.applicant.occupation" ng-change="vm.getTransCategoryFromDB(true)"  required>
	                      <option value="">Please select...</option>
	                      <option ng-repeat="occupation in vm.OccupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
	                    </select>
	                    <div class="select__arrow"></div>
	                  </div>
	                  <span class="error" ng-if="(vm.occupationDetailsTransferForm.occupation.$error.required && vm.occupationDetailsTransferForm.occupation.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.occupation.$error.required )">Select the occupation which best best matches with your current occupation.</span>
	                  <label class="control-label">If you do not select an occupation from the occupations listed, your premiums will be shown at standard rates.</label>
	                </div>
	              </div>
	           </div>
	           
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.otherOccupation.$invalid && vm.occupationDetailsTransferForm.otherOccupation.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.otherOccupation.$error.required)}" ng-if="vm.TPD.applicant.occupation =='Other'">
	             <hr class="primeline">
	             <div class="row rowcustom">
	              <div class="col-sm-5" >
	                <label class="control-label">  Please enter your occupation  </label>
	              </div>
	              <div class="col-sm-7 col-12">              
	                <input class="form-control" ng-focus="vm.checkPreviousMandatoryFields('otherOccupation','occupationDetailsTransferForm')" maxlength="150" name="otherOccupation" ng-class = "(vm.occupationDetailsTransferForm.otherOccupation.$invalid && vm.occupationDetailsTransferForm.otherOccupation.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.otherOccupation.$error.required)  ? 'error-border':''" ng-model="vm.TPD.applicant.otherOccupation" type="text" placeholder="Enter your occupation" uib-typeahead="occupationList as occupationList for occupationList in vm.getOtherOccupationAS($viewValue)"  ng-blur="vm.getCategoryFromDB(true)" required>
	                <span ng-if="(vm.occupationDetailsTransferForm.otherOccupation.$invalid && vm.occupationDetailsTransferForm.otherOccupation.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.otherOccupation.$error.required) " class="error">Please enter your occupation</span>
	                <!-- <span ng-if="noResults && occupationList.length>0" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true"> <ul style="list-style: none;" class="uib-dropdown-menu" > <li><a href  ng-click="!noResults">No records found</a></li></ul></span> -->                
	              </div>
	           </div>
	          </div>
              <!-- Row ends -->
              <div ng-class="{'has-error':(vm.occupationDetailsTransferForm.hazardousQuestion.$error.required && vm.occupationDetailsTransferForm.hazardousQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.hazardousQuestion.$error.required )}" ng-if="vm.showHazardousTransferQuestion">
            <hr class="primeline">
             <div class="row rowcustom">
              <div class="col-sm-12">
                <label class="control-label">  Do you work in a hazardous environment and/or perform any duties of a manual nature? </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms d-block d-sm-none"></span><span class="tickforms mrm25px d-none d-sm-block"></span></span> --> </div>
              <div class="col-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('hazardousQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.workDuties == 'Yes')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option1" name="hazardousQuestion" ng-model="vm.TPD.applicant.workDuties" ng-change="vm.renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('hazardousQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.workDuties == 'No')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option2" name="hazardousQuestion" ng-model="vm.TPD.applicant.workDuties" ng-change="vm.renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(vm.occupationDetailsTransferForm.hazardousQuestion.$error.required && vm.occupationDetailsTransferForm.hazardousQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.hazardousQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>

            <div ng-if="vm.showOutsideOffice" ng-class="{'has-error':(vm.occupationDetailsTransferForm.outsideOffice.$error.required && vm.occupationDetailsTransferForm.outsideOffice.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.outsideOffice.$error.required )}">
                <hr class="primeline">
                <div class="row rowcustom">
              <div class="col-sm-12">
                <label class="control-label"> Do you spend more than 20% of your working time outside of an office environment? </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms d-block d-sm-none"></span><span class="tickforms mrm25px d-none d-sm-block"></span></span> --> </div>
              <div class="col-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('outsideOffice','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.spendTimeOutside == 'Yes')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option1" name="outsideOffice" ng-model="vm.TPD.applicant.spendTimeOutside" ng-change="vm.renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('outsideOffice','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.spendTimeOutside == 'No')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option2" name="outsideOffice" ng-model="vm.TPD.applicant.spendTimeOutside" ng-change="vm.renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(vm.occupationDetailsTransferForm.outsideOffice.$error.required && vm.occupationDetailsTransferForm.outsideOffice.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.outsideOffice.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>
              <!-- Row ends -->
              <!-- Row ends -->
              <div ng-if="vm.showWithinOfficeTransferQuestion" ng-class="{'has-error':(vm.occupationForm.withinOfficeQuestion.$error.required && vm.occupationForm.withinOfficeQuestion.$touched) || (vm.occupationForm.$submitted && vm.occupationForm.withinOfficeQuestion.$error.required )}">
                <hr class="primeline">
                <div class="row rowcustom">
                  <div class="col-12 col-sm-11">
                    <label class="control-label">
                    <p align="justify">Are your duties entirely undertaken within an office environment?
                    <p></p>
                    </p>
                    </label>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="btn-group">
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('withinOfficeQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.occupationDuties == 'Yes')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option1" name="withinOfficeQuestion" ng-model="vm.TPD.applicant.occupationDuties" ng-change="vm.renderOccupationQuestions()" value="Yes" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('withinOfficeQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.occupationDuties == 'No')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option2" name="withinOfficeQuestion" ng-model="vm.TPD.applicant.occupationDuties" ng-change="vm.renderOccupationQuestions()"  value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                    <span class="error" ng-if="(vm.occupationDetailsTransferForm.withinOfficeQuestion.$error.required && vm.occupationDetailsTransferForm.withinOfficeQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.withinOfficeQuestion.$error.required )">Please select Yes or No</span>
                  </div>
                </div>
              </div>
              
              <div ng-if="vm.showTertiaryTransferQuestion" ng-class="{'has-error':(vm.occupationDetailsTransferForm.tertiaryQuestion.$error.required && vm.occupationDetailsTransferForm.tertiaryQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.tertiaryQuestion.$error.required )}">
                <hr class="primeline">
                <div class="row rowcustom">
                  <div class="col-12 col-sm-11">
                    <label class="control-label">Do you hold a tertiary qualification relevant to your current occupation or are you a member of a professional body relevant to your current occupation or a member of your organisation's senior management team?</label>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="btn-group">
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('tertiaryQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.tertiaryQue == 'Yes')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option1" name="tertiaryQuestion" ng-model="vm.TPD.applicant.tertiaryQue" ng-change="vm.renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('tertiaryQuestion','occupationDetailsTransferForm')" ng-class="{'active': (vm.TPD.applicant.tertiaryQue == 'No')}">
                      <input checkbox-and-radio-update type="radio" class="ipradio" id="option2" name="tertiaryQuestion" ng-model="vm.TPD.applicant.tertiaryQue" ng-change="vm.renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                    <span class="error" ng-if="(vm.occupationDetailsTransferForm.tertiaryQuestion.$error.required && vm.occupationDetailsTransferForm.tertiaryQuestion.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.tertiaryQuestion.$error.required )">Please select Yes or No</span>
                  </div>
                </div>
              </div>
              
              <hr class="primeline">
              <div class="row rowcustom" ng-class="{'has-error':(vm.occupationDetailsTransferForm.annualSalary.$invalid && vm.occupationDetailsTransferForm.annualSalary.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.annualSalary.$invalid ) || vm.invalidSalAmount}">
                <div class="col-sm-4 col-12">
                  <label class="control-label">What is your annual salary?</label>
                </div>
                <div class="col-sm-4 col-12">
                  <input ng-focus="vm.checkPreviousMandatoryFields('annualSalary','occupationDetailsTransferForm')" ng-blur="vm.checkValidSalary()" type="text" id="annualSalCCId" format="number" numbers-only name="annualSalary" maxlength="9" class="form-control dollar" ng-model="vm.TPD.applicant.annualSalary" required>
              	  <span class="error" ng-if="(vm.occupationDetailsTransferForm.annualSalary.$invalid && vm.occupationDetailsTransferForm.annualSalary.$touched) || (vm.occupationDetailsTransferForm.$submitted && vm.occupationDetailsTransferForm.annualSalary.$invalid )">Please enter your Annual Salary</span>
                  <span class="error" ng-if="vm.invalidSalAmount">Please enter a valid annual salary</span>
                  <label>Insert gross salary (i.e.your salary before tax)</label>
                </div>
              </div>
              <!-- <div class=" row rowcustom">
                <div class="col-sm-3 col-12"> <a class="card-title">
                  <button class="btn btn-primary w100p" type="button" ng-click="coverDetailsTransferFormSubmit(occupationDetailsTransferForm);">Continue</button>
                  </a> </div>
              </div> -->
            </div>
          </form>
          <!-- Row ends --> 
        </div></div>
      </div>
      <!--Occupation section ends	--> 
      
      <!-- Previous cover section starts -->
      <div class="card border-0  mt-2">
        <div href="#PreviousCoverSection" class="card-header collapsed" data-toggle="collapse" ng-click="vm.isCollapsible('PreviousCoverSection', $event)">
        	<a class="card-title">
          <h4 class="mb-0 float-left"> Previous cover</h4>
          </a> </div>
          <div class="overflow-hidden">
        <div id="PreviousCoverSection" class="collapse in" style="height: auto;">
          <form name="vm.previousCoverForm" novalidate id="coverCalFormId" role="form">
            <div class="card-body">
              <div class="row rowcustom">
                <div class="col-sm-12">
                  <label class="control-label"> We just need a few extra details about you and your previous fund or insurer.</label>
                </div>
              </div>
              <hr class=" primeline">
              <div class="row rowcustom" ng-class="{'has-error':(vm.previousCoverForm.previousFundName.$error.required && vm.previousCoverForm.previousFundName.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.previousFundName.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What is the name of your previous fund or insurer? </label>

              </div>
              <div class="col-sm-12 ">
                <input type="text" class="form-control" name="previousFundName" alpha-numeric-with-space ng-focus="vm.checkPreviousMandatoryFields('previousFundName','previousCoverForm')"  ng-class = "(vm.previousCoverForm.previousFundName.$error.required && vm.previousCoverForm.previousFundName.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.previousFundName.$error.required)  ? 'error-border':''" ng-model="vm.TPD.applicant.previousInsurerName" required >
                <span class="error" ng-if="(vm.previousCoverForm.previousFundName.$error.required && vm.previousCoverForm.previousFundName.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.previousFundName.$error.required )">Please enter your Previous Fund Name</span>
              </div>
            </div>
              <hr class=" primeline">
              <div class="row rowcustom">
            	<div class="col-12 col-sm-6" ng-class="{'has-error':(vm.previousCoverForm.membershipNumber.$error.required && vm.previousCoverForm.membershipNumber.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.membershipNumber.$error.required )}">
            		<label style="width:100%" class="control-label"> Please enter your fund member or insurance policy <br> number <a class="icohelp hintbuttonAlignLeft"	ng-click="vm.clickToOpen('Enter your former superannuation fund member number or insurance policy number.')"></a></label>
            		<input type="text" class="form-control" alpha-numeric name="membershipNumber" ng-focus="vm.checkPreviousMandatoryFields('membershipNumber','previousCoverForm')"  ng-class = "(vm.previousCoverForm.membershipNumber.$error.required && vm.previousCoverForm.membershipNumber.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.membershipNumber.$error.required)  ? 'error-border':''" ng-model="vm.TPD.applicant.fundMemPolicyNumber" required >
               		<span class="error" ng-if="(vm.previousCoverForm.membershipNumber.$error.required && vm.previousCoverForm.membershipNumber.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.membershipNumber.$error.required )">Please enter Membership Number</span>
              	</div>
            	
            	<div class="col-12 col-sm-6" ng-class="{'has-error':(vm.previousCoverForm.spinNumber.$error.required && vm.previousCoverForm.spinNumber.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.spinNumber.$error.required )}">
            		<label style="width:100%" class="control-label">  Please enter your former fund USI number <br>(if known) <a class="icohelp hintbuttonAlignLeft"	ng-click="vm.clickToOpen('Please enter the Unique Superannuation Identifier (USI) which helps us to identify your previous superannuation fund.')"></a>  </label>
            		<input type="text"  class="form-control" name='spinNumber' alpha-numeric  ng-focus="vm.checkPreviousMandatoryFields('spinNumber','previousCoverForm')"  ng-model="vm.TPD.applicant.spinNumber" >
                	<span class="error" ng-if="(vm.previousCoverForm.spinNumber.$error.required && vm.previousCoverForm.spinNumber.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.spinNumber.$error.required )">Please enter Fund USI number</span>
              	</div>
            </div>
              <hr class="primeline">
              <div class="row rowcustom" ng-class="{'has-error':(vm.previousCoverForm.documentName.$error.required && vm.previousCoverForm.documentName.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.documentName.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Do you wish to include documentary evidence of your previous insurance cover that you wish to transfer? </label>
               
                  </div>
              <div class="col-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('documentName','previousCoverForm');vm.TPD.ackCheck=false;" ng-class="{'active': (vm.TPD.applicant.documentEvidence == 'Yes')}">
                      <input type="radio" class="ipradio"  name="documentName"
                       ng-class = "(vm.previousCoverForm.documentName.$error.required && vm.previousCoverForm.documentName.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.documentName.$error.required)  ? 'radio-validation':''" 
                      ng-model="vm.TPD.applicant.documentEvidence" value="Yes" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-12 col-md-6">
                    <label class="btn  radiobutton" ng-click="vm.checkPreviousMandatoryFields('documentName','previousCoverForm');vm.TPD.ackCheck=false;" ng-class="{'active': (vm.TPD.applicant.documentEvidence == 'No')}">
                      <input type="radio" class="ipradio" name="documentName" 
                       ng-class = "(vm.previousCoverForm.documentName.$error.required && vm.previousCoverForm.documentName.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.documentName.$error.required)  ? 'radio-validation':''" 
                      ng-model="vm.TPD.applicant.documentEvidence" value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(vm.previousCoverForm.documentName.$error.required && vm.previousCoverForm.documentName.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.documentName.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            
            <!-- Document Upload Section starts -->
            
<div id="death" style="display:block" ng-if="vm.TPD.applicant.documentEvidence =='Yes'">
	<div class=" secrow " id="transferitrId_div_id" ng-class="{'has-error': vm.fileNotUploadedError}">
		<div class="row rowcustom">
			<div id="attach_file_div_id" class="col-sm-5">
				<label class="primecolor"><strong style="font-size: 10pt;"> Evidence of your Existing Cover</strong></label>
			</div>
            <div class="col-sm-12">
            	<label>Please include documentary evidence of your existing insurance cover that you wish to transfer, including details of any exclusions or loadings that were applicable. </label>
            	<br>Examples of documentary evidence include:<br>
            	<ul style="padding:0 0 0 20px;list-style-type:disc">
            		<li>Last member statement (within 45 days of it being issued) <br></li>
            		<li>Current print-out of your online member account <br></li>
            		<li>Statement from insurer of your individual policy</li>
            	</ul>
            	<br>
            </div>
       </div>
       
       <div class="row  rowcustom" style="margin-right:0px;">
       		<div class="col-sm-3">
       			<label class=" primecolor"><strong class="attach-file-label">Attach your file(s) </strong></label>
       		</div>
       		<div class="col-sm-4">
       			<span class="">
       				<input id="transfer_input_file_txt_id" ng-model="vm.selectedFile.name" name="transfer_input_file_txt_id" disabled="" size="100" maxlength="200" type="text" class="form-control text-overflow-ellipsis file-upload-inp" name="file" value="{{}}"/>
                </span>
            </div>
            <div class="col-sm-2">
            	<p class="spacer d-block d-sm-none"></p>
           		<div class="fileUpload fleft w100p">
           			<a id="transferCvrFileUploadAddIdBtn" name="transferCvrFileUploadAddIdBtn" style="margin:0px !important" class="btn btn-default w100p" ngf-pattern="'image/*,application/pdf,*.txt,*.doc,*.docx,*.xls,*.xlsx,*.tif'"  ngf-select="vm.uploadFiles($files, $invalidFiles)">
	                	<span >Browse</span>
	                </a>
	                <!-- <input class="btn btn-default w100p" ng-change="vm.uploadFiles()" text="Browse" type="file" name="file" /> -->
	            </div>
	            <p class="spacer d-block d-sm-none"></p>
	        </div>
	        
	        <div class="col-sm-2">
	        	<p class="spacer d-block d-sm-none"></p>
	        	<a id="transferCvrFileUploadAddId" ng-disabled="!vm.selectedFile" name="transferCvrFileUploadAddId" class="btn btn-default  Plus w100p m0" ng-click="vm.addFilesToStack()" >
                	<span >Add</span>
                </a>
           </div>
           
           <div class="row rowcustom" ng-if="vm.fileSizeErrFlag == true">
           		<div class="col-sm-12">
           			<img src="./static/mtaa/src/app/assets/images/warning.png">
           				<label>  {{fileSizeErrorMsg}} </label>
           		</div>
           </div>
           
           <div class="col-sm-3">&nbsp;</div>
           <div class="col-sm-9">
           		<p class="color2">Note: Supported file formats are *.pdf, *.txt, *.doc, *.docx, *.xls, *.xlsx, *.tif, *.png, *.jpg and *.jpeg</br>
		     		Maximum allowable size limit is 10MB per file.
		     	</p>
		     	<p class="error" ng-if="vm.fileFormatError">Invalid size or format</p>
           </div>
      </div>
      
      <div class="row rowcustom">
      	<div class="col-sm-3">&nbsp;</div>
   		<div class="col-sm-9">
   			<ul class="files">
   				<li ng-repeat="file in vm.files track by $index" class="text-overflow-ellipsis">
   					<img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="icoAttach mr10" /> 
               		<a class="color1">{{file.name}}</a> <span>({{(file.size/1024 || 0) | number:0}} Kb)</span>
               		<img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="closeb" ng-click="vm.removeFile($index)" />
                  </li>
              </ul>
        </div>
      </div>
	   <p class="error" ng-if="vm.fileNotUploadedError" style="margin-top:5px;    margin-left: 30px;">  Please upload the file</p>
  </div>
</div>

<!-- Document Upload Section ends -->
           
<div ng-if="vm.TPD.applicant.documentEvidence =='No'">
	<div class="col-sm-12 col-12">
		<div class="row rowcustom" ng-class="{'has-error':(vm.previousCoverForm.ackDocument2.$error.required && vm.previousCoverForm.ackDocument2.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.ackDocument2.$error.required )}">
			<p class="spacer">&nbsp;</p>
			<div class="btn-group-vertical">
				<button class="btn checkboxes col-12" id="acknowledgeDocAdressCheck" ng-class="{'active': vm.TPD.ackCheck}" ng-click="vm.TPD.ackCheck=!vm.TPD.ackCheck">
                    <input type="checkbox" name="ackDocument2" ng-model="vm.TPD.ackCheck" required> 
                    <span></span>
                    <div class="custom-checkbox-label">If you have not been able to attach all the required documents, please check the box to indicate that you will send the supporting documents to the address below.</div>
                    </button>
                    <p ng-if="(vm.previousCoverForm.ackDocument2.$invalid && vm.previousCoverForm.ackDocument2.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.ackDocument2.$error.required)" class="error" style="padding-top:5px;">Please select checkbox</p>
                    <!-- ngIf: dodFlagErr --> 
                  </div>
                </div>
                
                <div class="row rowcustom">
		  	
	  		<div class="col-sm-11">
	  			<div style="padding-top: 8px;"> Postal address: <div class="ml-5"><p class="m-0">MTAA Super</p><p class="m-0">Locked Bag 5134</p><p class="m-0">Parramatta</p><p class="m-0">NSW 2124</p></div></div>         
          </div>         
        </div>
                
		<!-- <div class="row rowcustom" ng-class="{'has-error':(vm.previousCoverForm.ackDocument2.$error.required && vm.previousCoverForm.ackDocument2.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.ackDocument2.$error.required )}">
			<div class="col-sm-12">
				<div data-toggle="buttons" class="btn-group-vertical">
					<div class="row rowcustom">
						<div class="col-sm-12">
							<label class="btn  checkboxes p0"  id="acknowledgeDocAdressCheck" ng-click="vm.TPD.ackCheck=!vm.TPD.ackCheck">
								<input type="checkbox" name="ackDocument2" ng-model="vm.TPD.ackCheck" required>
								<span></span>
								If you have not been able to attach all the required documents, please check the box to indicate that you will send the supporting documents to the address below.
							</label>
						</div>
					</div>
					<span class="error" ng-if="(vm.previousCoverForm.ackDocument2.$invalid && vm.previousCoverForm.ackDocument2.$touched) || (vm.previousCoverForm.$submitted && vm.previousCoverForm.ackDocument2.$error.required)">Please select checkbox</span>
				</div>
		  </div>
		  
		  <div class="row rowcustom">
		  	<div class="col-sm-1"></div>
	  		<div class="col-sm-11">
	  			<div style="padding-top: 8px;"> Postal address: <div class="pl-5 ml-5"><p class="m-0">MTAA Super</p><p class="m-0">Locked Bag 5134</p><p class="m-0">Parramatta</p><p class="m-0">NSW 2124</p></div></div>         
          </div>         
        </div>
      </div> -->
    </div> 
</div>
        
          <hr class=" primeline">
            <div class="">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom" ng-class="">
                  <div class="col-sm-4">
                    <label>Display the cost of my insurance cover as <a class="icohelp"	ng-click="vm.clickToOpen('Select weekly, monthly or yearly premium frequency')"></a></label>
                  </div>
           			 <div class="col-sm-8  ">
                    <select  class="form-control" name="premTransFreq" id="coverId"  ng-change="vm.autoCalculate()"  ng-model="vm.TPD.applicant.cover[0].frequencyCostType" ng-options="premiumFrequencyOption for premiumFrequencyOption in vm.premiumFrequencyOptions track by premiumFrequencyOption">
                    </select>
                    <span class="error" ng-if="">Please select  Cover what you want.</span>
                     <!-- <label class="helpHintLabel">Select weekly, monthly or yearly premium frequency</label> -->
                  </div>
                  </div>
                  </div>
          
         
           
            <hr class="primeline">
            </div>
          </form>
        </div></div>
      </div>
      <!-- Previous cover section ends --> 
      
      <!-- transfer cover section starts -->
      <div class="card border-0 mt-2">
        <div href="#CoverSection" class="card-header collapsed" data-toggle="collapse" ng-click="vm.isCollapsible('CoverSection', $event)">
        	<a class="card-title">
          <h4 class="mb-0 float-left"> Transfer cover </h4>
          </a> </div>
          <div class="overflow-hidden">
        <div id="CoverSection" class="collapse in" style="height: auto;">
          <form name="vm.TranscoverCalculatorForm" novalidate  role="form">
            <div class="card-body">
              <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label> Please tell us more about the cover products you want to transfer. </label>
              </div>
            </div>


            <hr class=" primeline">
            <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label> What cover would you like to transfer?</label>
              </div>
            </div>
              <div class="btn-group-horizontal heading" data-toggle="buttons">
                <div class="row rowcustom">
                  <div class="col-sm-12 checkboxes1">
                    <label class="active checkboxes btn" id="deathsection" ng-disabled="vm.isDeathDisabled">
                    <!-- <input type="checkbox" id="option3" name="coverDet"> -->
                    <p class="col2 m0">Death</p>
                    <p ng-if="vm.isUnitized(vm.deathCoverTransDetails.type)" class="col2 m0 alignright">Existing cover {{vm.TPD.applicant.cover[0].existingCoverAmount | currency:undefined:0}} ({{vm.TPD.applicant.cover[0].fixedUnit || 0}} Unit(s))</p>
                    <p ng-if="!vm.isUnitized(vm.deathCoverTransDetails.type)" class="col2 m0 alignright">Existing cover {{vm.TPD.applicant.cover[0].existingCoverAmount | currency:undefined:0}} (fixed)</p>
                    </label>
                  </div>
                </div>
              </div>

<!-- Death block Starts -->
<div id="death" style="display:block">
	<div class="secrow">
			
		<div class="row rowcustom" ng-class="vm.maxDeathCoverErrorFlag || vm.maxDeathErrorFlag || (vm.TranscoverCalculatorForm.TransDeathRequireCover.$error.required && vm.TranscoverCalculatorForm.TransDeathRequireCover.$touched) || (vm.TranscoverCalculatorForm.$submitted && vm.TranscoverCalculatorForm.TransDeathRequireCover.$error.required )? 'has-error':''">
			<div class="col-sm-4 col-12">
				<label class="control-label">
					Transfer amount
					<a class="icohelp" ng-click="vm.clickToOpen('This is the amount you are transferring from your previous fund. This amount will be added to your existing cover.')"></a>
				</label>
				<span id="tick 1" style=" visibility:hidden">
					<span class="tickforms d-block d-sm-none"></span>
					<span class="tickforms mrm25px d-none d-sm-block"></span>
				</span>
			</div>
			<p class=" spacer d-block d-sm-none">&nbsp;</p>
			<div class="col-sm-3 col-12">
				<input ng-focus="vm.checkPreviousMandatoryFields('TransDeathRequireCover','TranscoverCalculatorForm')" type="text" id="dcTransferAmount" format="number" numbers-only  name="TransDeathRequireCover" limit-to='7' class="form-control dollar" required ng-model="vm.TPD.applicant.cover[0].additionalCoverAmount" ng-blur="vm.autoCalculate()">
			
				<span class="error" ng-if="(vm.TranscoverCalculatorForm.TransDeathRequireCover.$error.required && vm.TranscoverCalculatorForm.TransDeathRequireCover.$touched) || (vm.TranscoverCalculatorForm.$submitted && vm.TranscoverCalculatorForm.TransDeathRequireCover.$error.required )">Please enter the Transfer amount</span>
				<span class="error" ng-if="vm.maxDeathCoverErrorFlag">Your total Death cover exceeds eligibility limit, maximum allowed for this product is 5000000. Please re-enter your cover.</span>
				<span class="error" ng-if="vm.maxDeathErrorFlag">Your Death cover exceeds eligibility limit, maximum allowed for this product is 1000000. Please re-enter your cover.</span>
				<input type="text" id="nodollar" ng-model="vm.TPD.applicant.cover[0].transferCoverAmount"  style="display:none">
			</div>
		</div>
		
		<div class="row	coverbg">
			<div class="col-sm-2 col-6">
				<h5>Cover amount</h5>
			</div>
			<div class="col-sm-4 alignright borderright col-6">
				<h4 ng-if="vm.isUnitized(vm.deathCoverTransDetails.type) && vm.TPD.applicant.cover[0].transferCoverAmount>0 && vm.TPD.applicant.cover[0].additionalCoverAmount<=1000000" class="coverval">{{vm.TPD.applicant.cover[0].transferCoverAmount | currency}} ({{vm.TPD.applicant.cover[0].additionalUnit||0}}&nbsp;Unit(s))</h4>
				<h4 ng-if="!vm.isUnitized(vm.deathCoverTransDetails.type) && vm.TPD.applicant.cover[0].transferCoverAmount>0 && vm.TPD.applicant.cover[0].additionalCoverAmount<=1000000" class="coverval">{{vm.TPD.applicant.cover[0].transferCoverAmount | currency}}</h4>
			</div>
			
			<div class="line mob"></div>
			<div class="col-sm-3 col-6">
				<h5>{{vm.TPD.applicant.cover[0].frequencyCostType}} cost</h5>
			</div>
			<div class="col-sm-3 alignright col-6">
				<h4 ng-if="vm.TPD.applicant.cover[0].additionalCoverAmount<=1000000" class="coverval">{{vm.TPD.applicant.cover[0].cost| currency}}</h4>
			</div>
		</div>
		
	</div>
</div>
<!-- Death block ends -->

<div class="row rowcustom" ng-if="vm.isDeathDisabled == true">
	<div class="col-sm-12">
		<img src="./static/mtaa/src/app/assets/images/warning.png" >
		<label> You are not eligible for Death cover due to your age </label>
	</div>
</div>
<p class="spacer">&nbsp;</p>
<div class="btn-group-horizontal heading">
	<div class="row rowcustom">
		<div class="col-sm-12 checkboxes1">
			<label class="active checkboxes btn" id="tpdsection" ng-disabled="isTPDDisabled">
				<!-- <input type="checkbox" id="perDisplacementId" name="perDisplacement"> -->
				<p class="col2 m0 ">Total &amp; Permanent Disablement</p>
                <p ng-if="vm.isUnitized(vm.tpdCoverTransDetails.type)" class="col2 m0 alignright">Existing cover {{vm.TPD.applicant.cover[1].existingCoverAmount | currency:undefined:0}} ({{vm.TPD.applicant.cover[1].fixedUnit}} Unit(s)) &nbsp;&nbsp;</p>
                <p ng-if="!vm.isUnitized(vm.tpdCoverTransDetails.type)" class="col2 m0 alignright">Existing cover {{vm.TPD.applicant.cover[1].existingCoverAmount | currency:undefined:0}} (fixed)</p>
            </label>
        </div>
    </div>
</div>
<div id="tpd" style="display:block">
	<div>
		<div class="row rowcustom" ng-class="{'has-error': vm.TPDcoverAmtErrFlag || vm.maxTpdCoverErrorFlag || vm.maxTpdErrorFlag || (vm.TranscoverCalculatorForm.TransTPDRequireCover.$error.required && vm.TranscoverCalculatorForm.TransTPDRequireCover.$touched) || (vm.TranscoverCalculatorForm.$submitted && vm.TranscoverCalculatorForm.TransTPDRequireCover.$error.required )}">
			<div class="col-sm-4 col-12">
				<label class="control-label">
					Transfer amount 
					<a class="icohelp"	ng-click="vm.clickToOpen('This is the amount you are transferring from your previous fund. This amount will be added to your existing cover.')"></a>
				</label>
			</div>
			<p class="spacer d-block d-sm-none">&nbsp; </p>
            <div class="col-sm-3 col-12">
            	<input ng-focus="vm.checkPreviousMandatoryFields('TransTPDRequireCover','TranscoverCalculatorForm')" id="tpdTransferAmount" type="text" format="number"  numbers-only limit-to="7" name="TransTPDRequireCover" class="form-control dollar"
                       ng-model="vm.TPD.applicant.cover[1].additionalCoverAmount" ng-blur="vm.autoCalculate()" ng-required="!vm.isTPDDisabled"/>
                       
                       <span class="error" ng-if="(vm.TranscoverCalculatorForm.TransTPDRequireCover.$error.required && vm.TranscoverCalculatorForm.TransTPDRequireCover.$touched) || (vm.TranscoverCalculatorForm.$submitted && vm.TranscoverCalculatorForm.TransTPDRequireCover.$error.required )">Please enter the Transfer amount</span>
                       <span class="error" ng-if="vm.TPDcoverAmtErrFlag">You cannot apply for TPD cover without Death Cover.</span>
                       <span class="error" ng-if="vm.maxTpdCoverErrorFlag">Your total TPD cover exceeds eligibility limit, maximum allowed for this product is 3000000. Please re-enter your cover.</span>
                       <span class="error" ng-if="vm.maxTpdErrorFlag">Your total TPD cover exceeds eligibility limit, maximum allowed for this product is 1000000. Please re-enter your cover.</span>
                       
                     <input type="text" id="nodollar1" ng-model="vm.TPD.applicant.cover[1].additionalcoveramount" style="display:none">
             </div>
        </div>
        
        <div class="row  coverbg">
        	<div class="col-sm-2 col-6">
        		<h5>Cover amount</h5>
        	</div>
        	
        	<div class="col-sm-4 alignright borderright col-6">
        		<h4 ng-if="vm.isUnitized(vm.tpdCoverTransDetails.type) && vm.TPD.applicant.cover[1].transferCoverAmount>0 && vm.TPD.applicant.cover[1].additionalCoverAmount<=1000000" class="coverval">{{vm.TPD.applicant.cover[1].transferCoverAmount | currency}} ({{vm.TPD.applicant.cover[1].additionalUnit||0}}&nbsp;Unit(s))</h4>
        		<h4 ng-if="!vm.isUnitized(vm.tpdCoverTransDetails.type) && vm.TPD.applicant.cover[1].transferCoverAmount>0 && vm.TPD.applicant.cover[1].additionalCoverAmount<=1000000" class="coverval">{{vm.TPD.applicant.cover[1].transferCoverAmount | currency}}</h4>
        	</div>
        	<div class="line mob"></div>
        	
        	<div class="col-sm-3 col-6">
        		<h5>{{vm.TPD.applicant.cover[0].frequencyCostType}} cost</h5>
        	</div>
        	
        	<div class="col-sm-3 alignright col-6">
        		<h4 ng-if="vm.TPD.applicant.cover[1].additionalCoverAmount<=1000000" class="coverval">{{vm.TPD.applicant.cover[1].cost | currency}}</h4>
        	</div>
        </div>
     </div>
</div>


<div class="row rowcustom" ng-if="isTPDDisabled == true">
	<div class="col-sm-12">
		<img src="./static/mtaa/src/app/assets/images/warning.png" >
		<label> You are not eligible for TPD cover due to your age </label>
	</div>
</div>
<p class="spacer">&nbsp;</p>
<!-- TPD block ends -->

<div class="btn-group-horizontal heading">
	<div class="row rowcustom">
		<div class="col-sm-12 checkboxes1">
			<label class="active checkboxes btn" ng-disabled="vm.isIPDisabled" id="ipsection">
				<!-- <input type="checkbox" id="option3"> -->
				<p class="col2 m0 ">Income Protection</p>
				<p ng-if="vm.isUnitized(vm.ipCoverTransDetails.type)" class="col2 m0 alignright">Existing cover {{vm.TPD.applicant.cover[2].existingCoverAmount | currency:undefined:0}} ({{vm.TPD.applicant.cover[2].fixedUnit}} Unit(s)) &nbsp;&nbsp;</p>
                <p ng-if="!vm.isUnitized(vm.ipCoverTransDetails.type)" class="col2 m0 alignright">Existing cover {{vm.TPD.applicant.cover[2].existingCoverAmount | currency:undefined:0}} (fixed)</p>
             </label>
        </div>
     </div>
</div>

<div id="sc" style="display:block">
	<div class="row rowcustom" ng-hide="vm.TPD.applicant.cover[2].existingCoverAmount == '0.0'">
	
		<div class="col-sm-6 col-12">
			<h5 class="fleft mr10px">Existing waiting period : </h5>
			<p class="fleft mt_2px">{{vm.TPD.applicant.cover[2].existingIpWaitingPeriod}}</p>
		</div>
                
        <div class="col-sm-6 col-12">
        	<h5 class="fleft mr10px">Existing benefit period : </h5>
        	<p class="fleft mt_2px">{{vm.TPD.applicant.cover[2].existingIpBenefitPeriod}}</p>
        </div>
    </div>
    
    <div>
    	<hr class="primeline">
    	<div class="row rowcustom" ng-class="(vm.TranscoverCalculatorForm.TransIPRequireCover.$error.required && vm.TranscoverCalculatorForm.TransIPRequireCover.$touched) || (vm.TranscoverCalculatorForm.$submitted && vm.TranscoverCalculatorForm.TransIPRequireCover.$error.required ) || ipCoverAmtErrFlag ? 'has-error':''">
    		<div class="col-sm-4 col-12 mmb10">
    			<label> Waiting period </label>
    			<div class="select">
    				<select  class="form-control" ng-change="vm.changeWaitingPeriod()" ng-disabled="vm.additionalIpWaitingPeriodDisabled" ng-model="vm.TPD.applicant.cover[2].additionalIpWaitingPeriod" ng-options="waitingPeriodTransOption for waitingPeriodTransOption in vm.waitingPeriodTransOptions track by waitingPeriodTransOption"></select>
                 </div>
            </div>
            
            <div class="col-sm-4 col-12 mmb10px">
            	<label> Benefit period </label>
            	<div class="select">
            		<select class="form-control" ng-change="vm.changeBenefitPeriod()" ng-disabled="vm.additionalIpBenefitPeriodDisabled" ng-model="vm.TPD.applicant.cover[2].additionalIpBenefitPeriod" ng-options="benefitPeriodTransOption for benefitPeriodTransOption in vm.benefitPeriodTransOptions track by benefitPeriodTransOption"></select>  
                </div>
            </div>
            
            <div class="col-sm-4 col-12">
            	<label> Transfer amount <a class="icohelp"	ng-click="vm.clickToOpen('This is the amount you are transferring from your previous fund. This amount will replace your existing cover.')"></a></label>
                <span id="tick 1" style=" visibility:hidden">
                	<span class="tickforms d-block d-sm-none"></span>
                	<span class="tickforms mrm25px d-none d-sm-block"></span>
                </span>
                <div class="">
	            	<input ng-focus="vm.checkPreviousMandatoryFields('TransIPRequireCover','TranscoverCalculatorForm')" type="text" id="ipTransferAmount" format="number" numbers-only name="TransIPRequireCover" limit-to='5' class="form-control dollar"
	                         ng-model="vm.TPD.applicant.cover[2].additionalCoverAmount" ng-blur="vm.validateIpMaxAmount()" ng-disabled="vm.isIPCoverRequiredDisabled" ng-required="!vm.isIPDisabled" ng-class="(vm.TranscoverCalculatorForm.TransIPRequireCover.$error.required && vm.TranscoverCalculatorForm.TransIPRequireCover.$touched) || (vm.TranscoverCalculatorForm.$submitted && vm.TranscoverCalculatorForm.TransIPRequireCover.$error.required ) || vm.ipCoverAmtErrFlag ? 'error-border':''">
	                
	                <span class="error" ng-if="(vm.TranscoverCalculatorForm.TransIPRequireCover.$error.required && vm.TranscoverCalculatorForm.TransIPRequireCover.$touched) || (vm.TranscoverCalculatorForm.$submitted && vm.TranscoverCalculatorForm.TransIPRequireCover.$error.required )" >Please enter required Cover</span>
	                <span class="error" ng-if="vm.ipCoverAmtErrFlag">Your total Income Protection cover exceeds eligibility limit. Please re-enter your cover.</span>
	                
	                <div class="row rowcustom" ng-if="vm.maxIpErrorFlag">
	                	<div class="col-sm-12">
	                		<img src="./static/mtaa/src/app/assets/images/warning.png">
	               			<label>The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</label>
	               	    </div>
	               	</div>
            </div>
            </div>
            
            <p class="spacer d-block d-sm-none">&nbsp; </p>
            
       </div>
   </div>
   <div class="row  coverbg">
   	<div class="col-sm-2 col-6">
   		<h5>Cover amount</h5>
   	</div>
   	
   	<div class="col-sm-4 alignright borderright col-6">
   		<!-- <h4 ng-if="vm.TPD.applicant.cover[2].transferCoverAmount>0" class="coverval">{{vm.TPD.applicant.cover[2].transferCoverAmount | currency}}</h4> -->
   		<h4 ng-if="vm.isUnitized(vm.ipCoverTransDetails.type)" class="coverval">{{vm.TPD.applicant.cover[2].transferCoverAmount | currency}} ({{vm.TPD.applicant.cover[2].additionalUnit||0}}&nbsp;Unit(s))</h4>
		<h4 ng-if="!vm.isUnitized(vm.ipCoverTransDetails.type)" class="coverval">{{vm.TPD.applicant.cover[2].transferCoverAmount | currency}}</h4>
   	</div>
   	
   	<div class="line mob"></div>
   		<div class="col-sm-3 col-6">
   			<h5>{{vm.TPD.applicant.cover[0].frequencyCostType}} cost</h5>
   		</div>
   		<div class="col-sm-3 alignright col-6">
   			<h4 class="coverval">{{vm.TPD.applicant.cover[2].cost | currency}}</h4>
   		</div>
   		
   		<div class="col-12" ng-if="vm.lowerThanExitingFlag">
   			<img src="./static/mtaa/src/app/assets/images/warning.png">
   			<div>The Cover Amount is lower than the Existing Cover.If you continue your amount of cover will be reduced.</div>
   	   </div>
   </div>
                
                 <hr class="primeline">
		          <div class="row rowcustom   ">
		            <div class="col-sm-4">
		              <label> Waiting period </label>
		            </div>
		            <div class="col-sm-8  ">
		              <select class="form-control" disabled ng-model="vm.TPD.applicant.cover[2].totalIpWaitingPeriod" ng-options="waitingPeriodTransOption for waitingPeriodTransOption in vm.waitingPeriodTransAdlnOptions track by waitingPeriodTransOption"></select>
		            </div>
		          </div>
		          <hr class="primeline">
		          <div class="row rowcustom">
		            <div class="col-sm-4">
		              <label> Benefit period </label>
		            </div>
		            <div class="col-sm-8">
		              <select class="form-control" disabled ng-model="vm.TPD.applicant.cover[2].totalIpBenefitPeriod" ng-options="benefitPeriodTransOption for benefitPeriodTransOption in vm.benefitPeriodTransAdlnOptions track by benefitPeriodTransOption"></select>  
		            </div>
		          </div>
		          <hr class="primeline">
		          <div class="col-sm-4">                    
                  </div>
                  </div>
                  <div class="row rowcustom" ng-if="vm.isIPDisabled == true">
			  		<div class="col-sm-12">
		  			<img src="./static/mtaa/src/app/assets/images/warning.png" >
		                <label> You are not eligible for Income Protection cover due to your age </label>	            
			  		</div>
		  	      </div>
                  </div>
                <div class="row   coverbg seccolor ">
            <div class="col-sm-3 d-none d-sm-block">
              <h5>&nbsp;</h5>
            </div>
            <div class="col-sm-3 alignright borderright  d-none d-sm-block">
              <h4 class="coverval">&nbsp; </h4>
            </div>
            <div class="col-sm-4 col-10 d-none d-sm-block">
              <h5 class="coverval">Total {{vm.TPD.applicant.cover[0].frequencyCostType}} cost</h5>
            </div>
            <div class="col-sm-4 col-10 d-block d-sm-none">
              <h5 class="coverval" style="padding-left:9px;">Total {{vm.TPD.applicant.cover[0].frequencyCostType}} cost</h5>
            </div>
            <div class="col-sm-2 col-12 alignright d-none d-sm-block">
              <h4 ng-if="vm.TPD.applicant.cover[0].additionalCoverAmount<=1000000 && vm.TPD.applicant.cover[1].additionalCoverAmount<=1000000" class="coverval">{{vm.TPD.totalMonthlyPremium | currency}}</h4>
            </div>
            <div class="col-sm-3 col-3 alignright d-block d-sm-none">
              <h5 ng-if="vm.TPD.applicant.cover[0].additionalCoverAmount<=1000000 && vm.TPD.applicant.cover[1].additionalCoverAmount<=1000000" class="coverval" style="padding-left:9px;">{{vm.TPD.totalMonthlyPremium | currency}}</h5>
            </div>
          </div>
                
                <p class="spacer">&nbsp;</p>
          <div class="p-3">
	          <div class="col-12">
		          <p class="note">
		          	<strong>Disclaimer: </strong>This represents the total cost of the cover you have applied for based on your occupation rating. This amount does not take into account any premium loading which may apply to your existing cover. The final cost of your total insurance cover will be notified to you in writing by MTAA Super. 
		          </p>
		          </div>
                 </div>
                  <div class=" row rowcustom">
            <div ng-hide="vm.TPD.totalMonthlyPremium > 0" class="col-sm-4 col-md-4 col-12">
         	 <button class="btn btn-primary w100p" ng-click="vm.CoverDetailsTransferFormSubmit()" ng-if="vm.TPD.totalMonthlyPremium == 0">Calculate Quote</button>
            </div>
            
            <div class="col-sm-4 col-12">
            	<button ng-if="vm.TPD.totalMonthlyPremium > 0" type="button" class="btn btn-primary w100p no-arrow" ng-click="vm.generatePDF()">Print</button>
            </div>
            <p class="spacer d-block d-sm-none">&nbsp;</p>
            <div class="col-sm-4 col-12 d-none d-sm-block">
			    <button type="button" class="btn btn-primary w100p" ng-if="vm.TPD.totalMonthlyPremium > 0" ng-click="vm.saveQuoteTransfer()">Save &amp; Exit </button>  
            </div>
            
            <div class="col-sm-4 col-12 text-center d-block d-sm-none"> 
            	<button type="button" class="btn btn-primary w100p" ng-if="vm.TPD.totalMonthlyPremium > 0" ng-click="vm.saveQuoteTransfer()"> Save &amp; Exit</button>
            </div>
            <p class="spacer d-block d-sm-none">&nbsp;</p>
            
            <div class="col-sm-4 col-12">
            	<button type="button" class="btn btn-primary w100p" ng-if="vm.TPD.totalMonthlyPremium > 0" ng-click="vm.goToAura()">Continue </button>
            </div>
          </div>
          <p class="spacer">&nbsp;</p>
          </form></div></div>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <!-- {{vm.TPD}} -->
    <div class="row mt20">
      <div class=" col-12 d-block d-sm-none">
      	<metlife-mtaa-help-block></metlife-mtaa-help-block>
      </div>
    </div>
  </div>
  


