<metlife-mtaa-header-nav></metlife-mtaa-header-nav>

<div class="container d-none d-sm-block">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container p-0">
  <div class="menumobile d-block d-sm-none d-flex h-100">
    <div class="col-9">
      <div class="txtHolderMob"><span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-3 nav-arrows"> 
    <img src="./static/mtaa/src/app/assets/images/bg_blank.png" ng-click="vm.go('/auratransfer/2')" class=" icoMenuRev active  "> 
    <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" icoMenuFwd  ml30p">
    </div>
  </div>
  <div class="col-sm-3 fright d-none d-sm-block">
    <metlife-mtaa-help-block></metlife-mtaa-help-block>     
  </div>
   <div class="col-sm-9 landingPageBoxes">
	    <div class="menu d-none d-sm-block">
	    	<div class="col-sm-4 dd first pointer float-left pt-2" ng-click="vm.go('/quotetransfer/2')">
	    		<h5 style="color:#0066a1">Step 1</h5>
	    		<div class="txtHolder pointer">
	    			<a class="ui-link">Personal details</a>
	    		</div>
	    		<img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="right">
	    	</div>
	    	<div class="col-sm-4 dc first pointer float-left pt-2" ng-click="vm.go('/auratransfer/2')">
	    		<img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="left">
	    		<h5 style="color:#0066a1">Step 2</h5>
	    		<div class="txtHolder pointer">
	    			<a class="ui-link">Health &amp; lifestyle</a>
	    		</div>
	    		<img src="./static/mtaa/src/app/assets/images/bg_blank.png" class="right">
	    	</div>
	        <div class="col-sm-4 cn float-left pt-2">
	         <h5>Step 3</h5>
	         <div class="txtHolder" style="color:#000"> Confirmation </div>
	         <img src="./static/mtaa/src/app/assets/images/bg_blank.png" class=" left"> 
	        </div>
	     </div>
	     
	    <div class="accordion">
	      <div class="card border-0  mt-2 twoColData">
	        <div class="card-header" data-toggle="collapse" href="#collapseOne">
	         <a class="card-title">
	          	<h4 class="mb-0 float-left">Personal details</h4>
	          </a> 
	        </div>
	        <div class="overflow-hidden">
		        <div id="collapseOne" class="collapse in">
		          <div class="card-body"> 
		            <!-- Row starts -->
		            <div class="row rowcustom first odd">
		              <div class="col-sm-6 col-12">
		                <label class="control-label"> <strong>First name</strong> </label>
		                <label class="control-label">{{vm.savedData.applicant.firstName}}</label>
		              </div>
		              <div class="col-sm-6 col-12">
		                <label class="control-label"> <strong>Last name</strong> </label>
		                <label class="control-label">{{vm.savedData.applicant.lastName}}</label>
		              </div>
		            </div>
		            <!-- Row ends -->
		            
		            <hr class="primeline d-none d-sm-block">
		            <!-- Row starts -->
		            <div class="row rowcustom odd ">
		              <div class="col-sm-6 col-12">
		                <label class="control-label"><strong>Sex</strong></label>
		                <label class="control-label">{{vm.savedData.applicant.gender}}</label>
		              </div>
		              <div class="col-sm-6 col-12">
		                <label class="control-label"> <strong>Preferred contact type</strong> </label>
		                <label class="control-label" ng-if="vm.savedData.applicant.contactDetails.preferedContactTime=='1'">Mobile</label>
		                <label class="control-label" ng-if="vm.savedData.applicant.contactDetails.preferedContactTime=='2'">Home</label>
		                <label class="control-label" ng-if="vm.savedData.applicant.contactDetails.preferedContactTime=='3'">Work</label>
		              </div>
		            </div>
		            <!-- Row ends -->
		           
		              <hr class="primeline d-none d-sm-block">
		            <!-- Row starts -->
		            <div class="row rowcustom odd" >
		              <div class="col-sm-6 col-12">
		                <label class="control-label"> <strong>Preferred contact number </strong></label>
		                <label class="control-label">{{vm.savedData.applicant.contactDetails.preferedContactNumber}}</label>
		              </div>
		              <div class="col-sm-6 col-12">
		               <label class="control-label"> <strong>Email address</strong> </label>
		               <label class="control-label">{{vm.savedData.applicant.emailId}}</label>
		              </div>
		            </div>
		            <!-- Row ends -->
		            <hr class="primeline d-none d-sm-block" >
		             <!-- Row starts -->
		            <div class="row rowcustom odd">
		              <div class="col-sm-6 col-12">
		                <label class="control-label"> <strong>Date of birth</strong> </label>
		                <label class="control-label"> {{vm.savedData.applicant.birthDate}}</label>
		              </div>
		              <div class="col-sm-6 col-12">
		               <label class="control-label"> <strong>What time of day do you prefer to be contacted?</strong></label>
		               <label class="control-label" ng-if="vm.savedData.applicant.contactDetails.preferedContactTime=='1'">Morning (9am&ndash;12pm)</label>
		               <label class="control-label" ng-if="vm.savedData.applicant.contactDetails.preferedContactTime=='2'">Afternoon (12pm&ndash;6pm)</label>
		              </div>
		            </div>
		            <!-- Row ends -->	            	            
		          	   
		          	     <hr class="primeline d-none d-sm-block">
		            <!-- Row starts -->
		            <div class="row rowcustom odd">
		              <div class="col-sm-6 col-12">
		                <label class="control-label"> <strong>Do you work 15 or more hours per week?</strong> </label>
		                <label class="control-label">{{vm.savedData.applicant.workHours}}</label>
		              </div>
		              <div class="col-sm-6 col-12">
		               <label class="control-label"> <strong>Do you, directly or indirectly, own all or part of a business from which you earn your regular income?</strong> </label>
		               <label class="control-label">{{vm.savedData.applicant.ownBusinessQue}}</label>
		              </div>
		            </div>
		            
		            <hr class="primeline d-none d-sm-block">
		            
		            <div class="row rowcustom odd">
		              <div class="col-sm-6 col-12" ng-if="vm.savedData.applicant.ownBusinessQue=='Yes'">
		                <label class="control-label"> <strong>Are you currently: Capable of, and performing all of the usual identifiable duties from your occupation, without restriction due to injury or illness?</strong> </label>
		                <label class="control-label">{{vm.savedData.applicant.ownBusinessYesQue}}</label>
		              </div>
		              <div class="col-sm-6 col-12" ng-if="vm.savedData.applicant.ownBusinessNoQue=='No'">
		                <label class="control-label"> <strong>With your current job, are you currently: Actively Performing all your normal duties of your occupation; and Working your usual hours without limitation of injury or illness; and Not entitled to, or not receiving any income support benefits of any kind.</strong> </label>
		                <label class="control-label">{{vm.savedData.applicant.ownBusinessNoQue}}</label>
		              </div>
		              <div class="col-sm-6 col-12">
		               <!-- <label class="control-label"> <strong>Are you a citizen or permanent resident of Australia?</strong> </label> -->
		               <label class="control-label"> <strong>Are you either a permanent resident of Australia or a New Zealand citizen residing in Australia under a Special Category Visa?</strong> </label>
		               <label class="control-label">{{vm.savedData.applicant.australiaCitizenship}}</label>
		              </div>
		            </div>
		            <!-- Row ends -->
		          	
		          	  <hr class="primeline d-none d-sm-block">
		             <!-- Row starts -->
		            <div class="row rowcustom odd">
		              <div class="col-sm-6 col-12">
		                <label class="control-label"> <strong>Annual salary</strong></label>
		                <label class="control-label">{{vm.savedData.applicant.annualSalary | currency:undefined:0}}</label>
		              </div>
		              <div class="col-sm-6 col-12">
		               <label class="control-label"> <strong>What industry do you work in?</strong> </label>
		               <label class="control-label">{{vm.savedData.applicant.occupationCode}}</label>
		              </div>
		            </div>
		            <!-- Row ends -->
		          	<hr class="primeline d-none d-sm-block">
		              <!-- Row starts -->
		            <div class="row rowcustom odd">
		              <div class="col-sm-6 col-12">
		                <label class="control-label"> <strong>What is your occupation?</strong></label>
		                
		                <label class="control-label" ng-show="vm.savedData.applicant.occupation !='Other'">{{vm.savedData.applicant.occupation}}</label>
		                <label class="control-label" ng-show="vm.savedData.applicant.occupation =='Other'">{{vm.savedData.applicant.otherOccupation}}</label>
		              </div>
		             
		              <div class="col-sm-6 col-12" ng-if="vm.savedData.applicant.withinOfficeQue == 'Yes' || vm.savedData.applicant.withinOfficeQue == 'No'">
		               <label class="control-label"><p align="justify"><strong>Do you spend more than 10% of your working time outside of an office environment?</strong></p></label>
		               <label class="control-label">{{vm.savedData.applicant.withinOfficeQue}}</label>
		              </div>
		            </div>
		            
		            <hr class="primeline d-none d-sm-block" ng-if="vm.savedData.applicant.spendTimeOutside == 'Yes' || vm.savedData.applicant.spendTimeOutside == 'No' || vm.savedData.applicant.workDuties == 'Yes' || vm.savedData.applicant.workDuties == 'No'">
		             <!-- Row starts -->
		            <div class="row rowcustom odd">
		              <div class="col-sm-6 col-12" ng-if="vm.savedData.applicant.workDuties == 'Yes' || vm.savedData.applicant.workDuties == 'No'">
		                <label class="control-label"> <strong>Do you work in a hazardous environment and/or perform any duties of a manual nature?</strong></label>
		                <label class="control-label">{{vm.savedData.applicant.workDuties}}</label>
		              </div>
		              
		              <div class="col-sm-6 col-12" ng-if="vm.savedData.applicant.spendTimeOutside == 'Yes' || vm.savedData.applicant.spendTimeOutside == 'No'">
		               <label class="control-label"> <strong>Do you spend more than 20% of your working time outside of an office environment? </strong></label>
		               <label class="control-label">{{vm.savedData.applicant.spendTimeOutside}}</label>
		              </div>
		            </div>
		             
		          <hr class="primeline d-none d-sm-block">
		             <!-- Row starts -->
		            <div class="row rowcustom odd" ng-if="vm.savedData.applicant.tertiaryQue == 'Yes' || vm.savedData.applicant.tertiaryQue == 'No' || vm.savedData.applicant.occupationDuties == 'Yes' || vm.savedData.applicant.occupationDuties == 'No'">
		              <div class="col-sm-6 col-12" ng-if="vm.savedData.applicant.occupationDuties == 'Yes' || vm.savedData.applicant.occupationDuties == 'No'">
		               <label class="control-label"> <strong>Are your duties entirely undertaken within an office environment? </strong></label>
		               <label class="control-label">{{vm.savedData.applicant.occupationDuties}}</label>
		              </div>
		              <div class="col-sm-6 col-12" ng-if="vm.savedData.applicant.tertiaryQue == 'Yes' || vm.savedData.applicant.tertiaryQue == 'No'">
		                <label class="control-label"> <p align="justify"><strong>Do you hold a tertiary qualification relevant to your current occupation or are you a member of a professional body relevant to your current occupation or a member of your organisation's senior management team?</strong></p> </label>
		                <label class="control-label">{{vm.savedData.applicant.tertiaryQue}}</label>
		              </div>
		            </div>                         
		            
		          </div>
		        </div>
		        </div>
	      </div>
	      
	     
	   
	   <!-- Your Cover section starts -->   
	      <div class="card border-0  mt-2">
	        <div class="card-header" data-toggle="collapse" href="#collapseCover">
	           <a class="card-title">
	            	<h4 class="mb-0 float-left">Your cover</h4>
	            </a>
	        </div>
	        <div class="overflow-hidden">
		        <div class="card-body" id="collapseCover" class="collapse in">		           
		            <div class="p-0 pt-2 parent-flex-container">
		            <!-- Death Cover Details Starts-->
		            
		            <div class="col-12 col-sm-4 child-flex-box card-border-right p-0"> 							
						<div class="box coverbg text-center">
							<h5 class="mb0">Cover type</h5>
							<strong>
								Death<br>
								<span class="d-none d-sm-block d-md-none"><br></span> &nbsp;
							</strong>
						</div>
						<div class="box mt10 text-center">						
		                	<h5 class=" color2">Existing cover</h5>
		                	<p class="color3">{{vm.savedData.applicant.cover[0].existingCoverAmount | currency:undefined:0}} </p>
		                	
		                	<h5 class=" color2">Transfer cover</h5>
		                	<p class="color3">{{vm.savedData.applicant.cover[0].additionalCoverAmount | currency:undefined:0}} </p>
		                
		                	<h5 class=" color2">Total cover required</h5>
		               		<p class="color3">{{vm.savedData.applicant.cover[0].transferCoverAmount | currency:undefined:0}}</p>
		                
		                	<h5 class=" color2">Occupational category</h5>
		                	<p class="color3">{{vm.savedData.applicant.cover[0].occupationRating}}</p>
		                
		                	<h5 class=" color2">{{vm.savedData.applicant.cover[0].frequencyCostType}} cost</h5>
		                	<p class="color3">{{vm.savedData.applicant.cover[0].cost | currency}}</p>
		              </div>
						<p class="spacer d-sm-none d-md-block d-none d-sm-block">&nbsp;</p>
	 				</div> 
		            <!-- Death Cover Details Ends--> 
		            
		            <p class="spacer d-block d-sm-none">&nbsp;</p>
		            
		           <!-- TPD Cover Details Starts--> 
		           <div class="col-12 col-sm-4 child-flex-box card-border-right p-0">
		              <div class="box coverbg text-center">
		              	<h5 class="mb0">Cover type</h5>
		              	<strong>
								Total &amp; permanent<br> disablement
								<span class="d-none d-sm-block d-md-none"><br></span> &nbsp;
							</strong>
		              </div>
		              <div class="box mt10 text-center">
		              	<h5 class=" color2">Existing cover</h5>
		                <p class="color3">{{vm.savedData.applicant.cover[1].existingCoverAmount | currency:undefined:0}}</p>
		                
		                <h5 class=" color2">Transfer cover</h5>
		                <p class="color3">{{vm.savedData.applicant.cover[1].additionalCoverAmount | currency:undefined:0}} </p>
		                
		                <h5 class=" color2">Total cover required</h5>
		                <p class="color3">{{vm.savedData.applicant.cover[1].transferCoverAmount | currency:undefined:0}}</p>
		                
		                <h5 class=" color2">Occupational category</h5>
		                <p class="color3">{{vm.savedData.applicant.cover[1].occupationRating}}</p>
		                
		                <h5 class=" color2">{{vm.savedData.applicant.cover[0].frequencyCostType}} cost</h5>
		                <p class="color3">{{vm.savedData.applicant.cover[1].cost | currency}}</p>
		              </div>
		              <p class="spacer">&nbsp;</p>
		              </div>
		             <!-- TPD Cover Details Ends--> 
		             
		             <p class="spacer d-block d-sm-none">&nbsp;</p>
		             
		             <!-- IP Cover Details Starts-->
		             <div class="col-12 col-sm-4 child-flex-box p-0">
		              <div class="box coverbg text-center">
		                <h5 class="mb0">Cover type</h5>
		                <strong>
		                	Income <br> protection
		                	<span class="d-none d-sm-block d-md-none"><br></span>
		                </strong>
		               </div>
		              <div class="box mt10 text-center">
		                <h5 class=" color2">Existing cover</h5>
		                <p class="color3">{{vm.savedData.applicant.cover[2].existingCoverAmount | currency:undefined:0}}</p>
		           		
		           		<h5 class=" color2">Transfer cover</h5>
		                <p class="color3">{{vm.savedData.applicant.cover[2].additionalCoverAmount | currency:undefined:0}}</p>
		                
		                <h5 class=" color2">Total cover required</h5>
		                <p class="color3">{{vm.savedData.applicant.cover[2].transferCoverAmount | currency:undefined:0}}</p>
		              	
		              	<h5 class=" color2">Occupational category</h5>
		                <p class="color3">{{vm.savedData.applicant.cover[2].occupationRating}}</p>
		                
		                <h5 class=" color2">Waiting period</h5>
		                <p class="color3">{{vm.savedData.applicant.cover[2].totalIpWaitingPeriod}}</p>
		                
		                <h5 class=" color2">Benefit period</h5>
		                <p class="color3">{{vm.savedData.applicant.cover[2].totalIpBenefitPeriod}}</p>
		                
		                <h5 class=" color2">{{vm.savedData.applicant.cover[0].frequencyCostType}} cost</h5>
		                <p class="color3">{{vm.savedData.applicant.cover[2].cost | currency}}</p>
		              </div>
		              <p class="spacer">&nbsp;</p> 
		               </div>
		              </div>
		             <div class="row  mt0  coverbg seccolor ">
			            <div class="col-sm-9 col-12">
			              <h5 class="coverval" style="padding-left:15px;">&nbsp;Total {{vm.savedData.applicant.cover[0].frequencyCostType}} cost</h5>
			            </div>
			            <div class="col-sm-3 col-6 alignright d-none d-sm-block" >
			              <h4 class="coverval" >{{vm.savedData.totalMonthlyPremium | currency}}&nbsp;</h4>
			            </div>
			            <div class="col-sm-3 col-6 d-block d-sm-none">
			              <h5 class="coverval" style="padding-left:9px;">{{vm.savedData.totalMonthlyPremium | currency}}</h5>
			            </div>
		              </div>
		           <p class="note clearfix mt10 text-center">The final amount and cost of your total insurance coverage will be notified in writing by <strong>MTAA Super</strong></p>
		            </div>
		           </div>
	           </div>
	           
	           <!-- Previous Cover section starts --> 
	      <div class="card border-0  mt-2 twoColData">
	        <div class="card-header" data-toggle="collapse" href="#collapseTwo">
	        	<a class="card-title">
	        		<h4 class="mb-0 float-left">Transfer cover </h4>
	        	</a> 
	        </div>
	        <div class="overflow-hidden">
		        <div id="collapseTwo" class="collapse in ">
		          <div class="card-body"> 
		          
		          <!-- Row starts -->
		            <div class="row rowcustom first odd">
		              <div class="col-sm-6 col-12">
		                <label class="control-label"> <strong>Name of Previous fund or insurer</strong> </label>
		                <label class="control-label">{{vm.savedData.applicant.previousInsurerName}}</label>
		              </div>
		              <div class="col-sm-6 col-12">
		                 <label class="control-label"> <strong>Fund member or insurance policy number</strong> </label>
		                 <label class="control-label">{{vm.savedData.applicant.fundMemPolicyNumber}}</label>
		              </div>
		            </div>
		            <!-- Row ends -->
		          
		          <hr class="primeline d-none d-sm-block">
		            <!-- Row starts -->
		            <div class="row rowcustom odd ">
		              <div class="col-sm-6 col-12">
		                <label class="control-label"><strong>USI Number</strong></label>
		                <label class="control-label">{{vm.savedData.applicant.spinNumber}}</label>
		              </div>
		              <div class="col-sm-6 col-12">
		                <label class="control-label"> <strong>Premium Period</strong> </label>
		                <label class="control-label"> {{vm.savedData.applicant.cover[0].frequencyCostType}}</label>
		              </div>
		            </div>
		            <!-- Row ends -->
		           
		           	   <hr class="primeline d-none d-sm-block">
		            <!-- Row starts -->
		            <div class="row rowcustom odd" >
		              <div class="col-sm-6 col-12" >
		                <label class="control-label"> <strong>Do you wish to include documentary evidence of your previous insurance cover that you wish to transfer? </strong></label>
		                <label class="control-label">{{vm.savedData.applicant.documentEvidence}}</label>
		              </div>
		              <div class="col-sm-6 col-12" ng-if="vm.savedData.applicant.documentEvidence=='Yes'">
		               <label class="control-label"> <strong>Documents</strong> </label>
		               <label class="control-label"><ul class="document-name-text">
		              <li class = "text-overflow-ellipsis" ng-repeat="fileDetails in vm.savedData.transferDocuments">
		              {{fileDetails.name}}
		              </li>
		              </ul></label>
		              </div>
		              <div class="col-sm-6 col-12" ng-if="vm.savedData.applicant.documentEvidence=='No'">
		                <label class="control-label"> <strong>If you have not been able to attach all the required documents, please check the box to indicate that you will send the supporting documents to the address below. </strong></label>
		                <label class="control-label">Yes</label>
		              </div>
		            </div>
		            
		            
		            <hr class="primeline d-none d-sm-block" ng-if="vm.savedData.applicant.documentEvidence=='No'">
		            <div class="row rowcustom odd " ng-if="vm.savedData.applicant.documentEvidence=='No'">
		              <div class="col-sm-12 col-12">
		                <label class="control-label"><strong>Address to send supporting documents</strong></label>
		                <label class="control-label"><p style="padding-top: 8px;"> Postal address: <br />&emsp;MTAA Super<br>&emsp;Locked Bag 5134<br>&emsp;Parramatta<br>&emsp;NSW 2124</p></label>
		              </div>
		            </div>        
		            
		          </div>
		        </div>
		        </div>
	      </div>
	   <!-- Previous Cover section ends --> 
	           
	        </div>
      
      <div class="card border-0  mt-2">
        <div class="card-header" data-toggle="collapse" href="#collapse4">  
          <a class="card-title">
           <h4 class="mb-0 float-left"> Terms &amp; conditions </h4>
          </a> 
        </div>
        <div class="overflow-hidden">
	        <div id="collapse4" class="collapse in ">
	          <div class="col-sm-12 bgwhite">            
	             <div class="row rowcustom ">
	              <div class="col-sm-12">
	              <div class="scrollBox">
	              <p><strong>You must read and acknowledge the General Consent before proceeding</strong></p>
	               <p> <strong>General consent</strong></p>
	               <p align="justify">By clicking on the tick box below, I declare that:</p> 
	               		<ul class="listing" style="margin:0 0 10px 30px;" align="justify">
	               			<li>I consent to be bound by the current <strong>MTAA Super</strong> Member Guide,  Product Disclosure Statement and the associated reference material available at <a href="http://www.mtaasuper.com.au" class="" target="_new">mtaasuper.com.au</a>;</li> 
	               			<li>I have read and understand my Duty of Disclosure and the consequences of failing to comply with this Duty. I understand that this Duty applies until formal notice of acceptance of my application;</li>
	               			<li>I have read the <strong>MTAA Super</strong> privacy policy available at <a href="http://www.mtaasuper.com.au/privacy/" class="" target="_new">www.mtaasuper.com.au/privacy</a> and the <a href="http://www.metlife.com.au/privacy/index.html" class="" target="_new"> MetLife Privacy Policy </a> and I consent to the collection, use and disclosure of my personal (including sensitive) information in accordance with the terms of these documents;</li>
	               			<li>I understand that my insurance cover will not become effective until MetLife Insurance Limited ("MetLife") has accepted this application in writing and provided my member account has adequate funds to meet the premium payable. I understand that increases or changes to insurance premiums may apply;</li>
	               			<li>I consent to the insurer, MetLife, seeking medical information from any doctor, hospital, physician, who at any time I have consulted prior to the date hereof. I agree that a photocopy of this authorisation shall be considered as effective as the original;</li>
	               			<li>I authorise any hospital, physician or other person who has attended me to furnish MetLife or its representatives, any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records;</li>
	               			<li>If I am transferring my existing insurance amount, I request and consent to the transfer of insurance amount as described above. When MetLife notifies me that it has accepted my application for transfer of my existing insurance amount, I will cancel my existing insurance cover. I will not exercise a continuation option, or subsequently reinstate any cancelled insurance cover with my existing super fund or any other division, section or category of my existing super fund or insurance policy, where such reinstatement of insurance cover is available to me. I will also not transfer my existing insurance cover to any other super fund, other than <strong>MTAA Super</strong></li>
	               			<li>I understand that if I apply for any other increase in cover when this application is not yet finalised, the transfer of insurance amounts applied for under this application may be reduced or not paid; and</li>
	               			<li>The answers to the questions in this application are true and correct, and I have not deliberately withheld any information material to the proposed insurance.</li>
	           			</ul>
	           			</div>
	             </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline">
	              <!-- <div class="row rowcustom" ng-class="{'has-error':vm.TRGCackFlag}">
	                <div class="col-sm-12">
	                  <div data-toggle="buttons" class="btn-group-vertical">
	                   <div class="row rowcustom" ng-click="vm.checkAckStateGCTR()">
	                     <div class="col-sm-12">
	                      <label class="btn  checkboxes" id="generalConsentLabelTR">
	                       <input type="checkbox" id="option2">
	                       <span></span>   I agree to all the above Terms &amp; Conditions 
	                      </label>
	                      <p ng-if="vm.TRGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
	                     </div>
	                    </div>
	                  </div>
	                 </div>
	              </div> -->
	              
	              
	              <div class="row rowcustom" ng-class="{'has-error':vm.TRGCackFlag}">
	              	<p class="spacer">&nbsp;</p>
	              	<div class="btn-group-vertical">
	              		<button class="btn checkboxes col-12" id="generalConsentLabelTR" ng-class="{'active': vm.ackCheck}" ng-click="vm.ackCheck=!vm.ackCheck;vm.checkAckStateGCTR()">
                    		<input type="checkbox" name="ackCheck" ng-model="vm.ackCheck" required>
                    		<span></span>
                    		<div class="custom-checkbox-label">I agree to all the above Terms &amp; Conditions</div>
                    	</button>
                    	<p ng-if="vm.TRGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
                  </div>
                </div>
	            
	            <hr class="primeline">
	            <div class=" row rowcustom">
	              <div class="col-sm-4 col-12">
				        <a class="" href="" data-parent="#accordion" data-toggle="collapse">
				             <button  class="btn btn-primary btn-back w100p" type="button"  ng-click="vm.go('/auratransfer/2')">Previous</button>
				        </a>
	              </div>
	              <div class="col-sm-4 col-12 alignleft d-none d-sm-block"> 
	                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="vm.saveTransferSummary()" > Save &amp; Exit</button>
	              </div>
	              <p class="spacer d-block d-sm-none">&nbsp;</p>
	              <div class="col-sm-4 col-12 text-center   d-block d-sm-none"> 
	                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="vm.saveTransferSummary()" > Save &amp; Exit</button>
	              </div>
	              <p class="spacer d-block d-sm-none">&nbsp;</p>
	              <div class="col-sm-4 col-12">
	                <button type="button" class="btn btn-primary w100p no-arrow" ng-click="vm.submitTransferCover()" >Submit</button>
	              </div>
	                
	            </div>
	         </div>
	        </div>
	        </div>
       </div>  
    <div class="row mt20px">
      <div class=" col-12 d-block d-sm-none">
        <metlife-mtaa-help-block></metlife-mtaa-help-block>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>