<div class="container pt-3" ng-init="$ctrl.init();">
  <div class="row px-2">
    <div class="col-sm-9 p-0 px-sm-3">
		<h2>INSURANCE CALCULATOR</h2>
    <div>
      <div>
        <div id="collapseOne" class="collapse in show">
        <form id="userDetailsForm" name="userDetailsForm" role="form" novalidate>
          <div class="card mb-3 p-3"> 
			<div class="d-sm-flex d-block mt-3">
				<div class="col-12">
					<h5>How much insurance cover do I need?</h5>
					<p ng-if="$ctrl.config.introText">{{$ctrl.config.introText}}</p>
					<p ng-if="$ctrl.config.premiumLink">Click here for the <a target="_blank" href="{{$ctrl.premiumCalURL}}">QUICK Quote</a> calculator otherwise continue below.</p>
				</div>
			</div>
            <hr class="primeline">
			<!-- Row starts -->
            <div class="row mt-3" ng-class="{'has-error':$ctrl.invalidAge || (userDetailsForm.age.$error.required && userDetailsForm.age.$touched) || (userDetailsForm.$submitted && userDetailsForm.age.$error.required)}">
              <div class="col-sm-4 col-md-4 col-12">
                <label> How old are you? </label>
              </div>           
              <div class="col-sm-8 col-md-8 col-12 pl-0">
				<input ng-change="$ctrl.checkAge();" ng-model-options="$ctrl.modelOptions" ng-click="$ctrl.checkPreviousMandatoryFields('age', 'userDetailsForm');" id="age" name="age" ng-model="$ctrl.calculationData.applicant.age" type="text" class="form-control form-field icInputs px-1 border-secondary" required/>
				<span class="errorText mt-2" ng-if="(userDetailsForm.age.$error.required && userDetailsForm.age.$touched) || (userDetailsForm.$submitted && userDetailsForm.age.$error.required)">Please enter your Age</span>
				<span class="errorText mt-2" ng-if="$ctrl.invalidAge">Age should be between 11 and 64</span>
			  </div>              
            </div>
            <!-- Row ends -->
            <hr class="primeline">
			<div class="row" ng-class="{'has-error':(userDetailsForm.gender.$error.required && userDetailsForm.gender.$touched) || (userDetailsForm.$submitted && userDetailsForm.gender.$error.required)}">
				<div class="col-sm-5 col-md-4 col-12">
					<label> What is you gender? </label>
				</div>
				<div class="col-sm-7 offset-sm-0 col-md-8 offset-1 col-11">
					<div class="row">
					  <div class="col-sm-6 col-12 pr-sm-1">
						<label ng-click="$ctrl.checkCalculation();$ctrl.checkPreviousMandatoryFields('gender', 'userDetailsForm');" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.gender == 'Male')}">
						  <input ng-model="$ctrl.calculationData.applicant.gender" type="radio" name="gender" value="Male" required>
						  <span></span> Male </label>
					  </div>
					  <div class="col-sm-6 col-12 pl-sm-1">
						<label ng-click="$ctrl.checkCalculation();$ctrl.checkPreviousMandatoryFields('gender', 'userDetailsForm');" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.gender == 'Female')}">
						  <input ng-model="$ctrl.calculationData.applicant.gender" type="radio" name="gender" value="Female" required>
						  <span></span> Female </label>
					  </div>
					  <span class="errorText mt-2" ng-if="(userDetailsForm.gender.$error.required && userDetailsForm.gender.$touched) || (userDetailsForm.$submitted && userDetailsForm.gender.$error.required)">Please select Gender</span>
					</div>
				</div>
				
			</div>
			
			<hr class="primeline">
			<div class="row" ng-class="{'has-error':(userDetailsForm.livingWithWife.$error.required && userDetailsForm.livingWithWife.$touched) || (userDetailsForm.$submitted && userDetailsForm.livingWithWife.$error.required)}">
				<div class="col-sm-5 col-md-4 col-12">
					<label> Are you living with a partner or spouse? </label>
				</div>
				<div class="col-sm-7 offset-sm-0 col-md-8 offset-1 col-11">
					<div class="row">
					  <div class="col-sm-6 col-12 pr-sm-1">
						<label ng-click="$ctrl.checkPreviousMandatoryFields('livingWithWife', 'userDetailsForm');" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.livingWithWife == 'Yes')}">
						  <input ng-model="$ctrl.calculationData.applicant.livingWithWife" type="radio" name="livingWithWife" value="Yes" required>
						  <span></span> Yes </label>
					  </div>
					  <div class="col-sm-6 col-12 pl-sm-1">
						<label ng-click="$ctrl.calculationData.applicant.spouseSalary = ''; $ctrl.checkPreviousMandatoryFields('livingWithWife', 'userDetailsForm');" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.livingWithWife == 'No')}">
						  <input ng-model="$ctrl.calculationData.applicant.livingWithWife" type="radio" name="livingWithWife" value="No" required>
						  <span></span> No </label>
					  </div>
					  <span class="errorText mt-2" ng-if="(userDetailsForm.livingWithWife.$error.required && userDetailsForm.livingWithWife.$touched) || (userDetailsForm.$submitted && userDetailsForm.livingWithWife.$error.required)">Please select Yes or No</span>
					</div>
				</div>
				<div class="col-sm-12 col-12 mt-3">
					<label class="subText"> Select 'Yes' if you are living in a domestic arrangement with your spouse or partner and have shared finances. </label>
				 </div>
				
			</div>
			
			<hr class="primeline">
			<div class="row" ng-class="{'has-error':(userDetailsForm.dependentChild.$error.required && userDetailsForm.dependentChild.$touched) || (userDetailsForm.$submitted && userDetailsForm.dependentChild.$error.required)}">
				<div class="col-sm-5 col-md-4 col-12">
					<label> Do you have any dependent children? </label>
				</div>
				<div class="col-sm-7 offset-sm-0 col-md-8 offset-1 col-11">
					<div class="row">
					  <div class="col-sm-6 col-12 pr-sm-1">
						<label ng-click="$ctrl.addChild();$ctrl.checkPreviousMandatoryFields('dependentChild', 'userDetailsForm');" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.dependentChild == 'Yes')}">
						  <input ng-model="$ctrl.calculationData.applicant.dependentChild" type="radio" name="dependentChild" value="Yes" required>
						  <span></span> Yes </label>
					  </div>
					  <div class="col-sm-6 col-12 pl-sm-1">
						<label ng-click="$ctrl.initalizeChild();$ctrl.checkPreviousMandatoryFields('dependentChild', 'userDetailsForm');" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.dependentChild == 'No')}">
						  <input ng-model="$ctrl.calculationData.applicant.dependentChild" type="radio" name="dependentChild" value="No" required>
						  <span></span> No </label>
					  </div>
					  <span class="errorText mt-2" ng-if="(userDetailsForm.dependentChild.$error.required && userDetailsForm.dependentChild.$touched) || (userDetailsForm.$submitted && userDetailsForm.dependentChild.$error.required)">Please select Yes or No</span>
					</div>
				</div>
				<div class="col-sm-12 col-12 mt-3">
					<label class="subText"> Please indicate whether you have any dependent children. </label>
				</div>
				
			</div>
			
			<div ng-if="$ctrl.calculationData.applicant.dependentChild == 'Yes'">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-12">
						<label>Please specify their ages</label>
					</div>
				</div>
				<div class="col-sm-10 offset-sm-2 offset-md-2 col-md-10 col-12">
					<div ng-repeat="child in $ctrl.childList" class="row mt-2">
						<div class="col-sm-3 col-md-3 col-4 pr-sm-1">
							<label>Child {{$index+1}}</label>
						</div>
						<div class="col-sm-6 col-md-6 col-4 pl-sm-1" ng-class="{'has-error':(((userDetailsForm.{{child.name}}_maxmin.$error.required && userDetailsForm.{{child.name}}_maxmin.$touched) || (userDetailsForm.$submitted && userDetailsForm.{{child.name}}_maxmin.$error.required)) && (!userDetailsForm.{{child.name}}.$error.required)) || ((userDetailsForm.{{child.name}}.$error.required && userDetailsForm.{{child.name}}.$touched) || (userDetailsForm.$submitted && userDetailsForm.{{child.name}}.$error.required))}">
							<input type="hidden" ng-model="child.isValid" name="{{child.name}}_maxmin" required>
							<input ng-click="$ctrl.checkPreviousMandatoryFields(child.name, 'userDetailsForm');" ng-change="$ctrl.validateChildAge($index, child.age);" ng-model="child.age" name="{{child.name}}" type="number" maxlength="2" class="form-control dollarInput px-1 border-secondary" required>
							<span class="errorText mt-2" ng-show="(userDetailsForm.{{child.name}}.$error.required && userDetailsForm.{{child.name}}.$touched) || (userDetailsForm.$submitted && userDetailsForm.{{child.name}}.$error.required)">Please enter the child's age</span>
							<span class="errorText mt-2" ng-show="((userDetailsForm.{{child.name}}_maxmin.$error.required && userDetailsForm.{{child.name}}_maxmin.$touched) || (userDetailsForm.$submitted && userDetailsForm.{{child.name}}_maxmin.$error.required)) && (!userDetailsForm.{{child.name}}.$error.required)">Child's age should be between 0 and 18.</span>
						</div>
						
						<div  class="col-sm-3 col-md-3 col-4 pl-sm-1 pr-0 text-align-right">
							<button ng-if="$ctrl.childList.length == $index+1 && $ctrl.childList.length<9" ng-click="$ctrl.addChild();" type="button" class="btn submit-button text-white  addButton"></button>
							<button ng-if="$index != 0" ng-click="$ctrl.removeChild($index);"  type="button" class="btn submit-button text-white removeButton"></button>
						</div>
					
					</div>
				</div>
			</div>
			
            <hr class="primeline">
			
			<div ng-repeat="question in $ctrl.config.initialOccupationQuestions">
				<div ng-show="question.showQuestion">
					<div class="row" ng-class="{'has-error':(userDetailsForm.{{question.name}}.$error.required && userDetailsForm.{{question.name}}.$touched) || (userDetailsForm.$submitted && userDetailsForm.{{question.name}}.$error.required)}">
						<div class="col-md-12 col-sm-12 col-12">
							<label ng-bind-html="question.labelText"></label>
						</div>
						
						<div class="offset-sm-5 col-sm-7 offset-md-4 col-md-8 offset-1 col-11">
							<div class="row">
								<div class="col-sm-6 col-12 pr-sm-1">
									<label ng-click="$ctrl.checkPreviousMandatoryFields(question.name, 'userDetailsForm');$ctrl.checkWorkHrs(question.name, question.answerText);" class="btn mt-2 radiobutton" ng-class="{'active': (question.answerText == 'Yes')}">
										<input ng-model="question.answerText" type="radio" name="{{question.name}}" value="Yes" required>
										<span></span>
										Yes
									</label>
								</div>
								
								<div class="col-sm-6 col-12 pl-sm-1">
									<label ng-click="$ctrl.checkPreviousMandatoryFields(question.name, 'userDetailsForm');$ctrl.checkWorkHrs(question.name, question.answerText);" class="btn mt-2 radiobutton" ng-class="{'active': (question.answerText == 'No')}">
										<input ng-model="question.answerText" type="radio" name="{{question.name}}" value="No" required>
										<span></span>
										No
									</label>
								</div>
							</div>
							<span class="errorText mt-2" ng-show="(userDetailsForm.{{question.name}}.$error.required && userDetailsForm.{{question.name}}.$touched) || (userDetailsForm.$submitted && userDetailsForm.{{question.name}}.$error.required)">Please select Yes or No</span>
						</div>
					</div>
				<hr class="primeline">
			</div>
		</div>
		
            <div class="row" ng-class="{'has-error':(userDetailsForm.industry.$error.required && userDetailsForm.industry.$touched) || (userDetailsForm.$submitted && userDetailsForm.industry.$error.required)}">
              <div class="col-md-12 col-sm-12 col-12">
                <label>What industry do you work in?</label>
              </div>
              <div class="offset-sm-4 col-sm-8 offset-md-4 col-md-8 col-12 pl-0">
                <div>
                  <select ng-click="$ctrl.checkPreviousMandatoryFields('industry', 'userDetailsForm');" ng-change="$ctrl.getOccupations()" ng-model="$ctrl.calculationData.applicant.industryType" class="form-control form-field icInputs px-1 border-secondary" name="industry" required>
                      <option value="" class="" selected="selected">Please select</option>
                      <option ng-repeat="industry in $ctrl.IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
                    </select>
                  <div class="select__arrow"></div>
                </div>
              </div>
              <span class="errorText mt-2" ng-if="(userDetailsForm.industry.$error.required && userDetailsForm.industry.$touched) || (userDetailsForm.$submitted && userDetailsForm.industry.$error.required)">Please select Industry</span>
            </div>
			<hr class="primeline">

            <div class="row" ng-class="{'has-error':(userDetailsForm.occupation.$error.required && userDetailsForm.occupation.$touched) || (userDetailsForm.$submitted && userDetailsForm.occupation.$error.required)}">
              <div class="col-md-12 col-sm-12 col-12">
                <label>What is your current occupation?</label>
              </div>
              <div class="offset-sm-4 col-sm-8 offset-md-4 col-md-8 col-12 pl-0">
                <div>
                  <select ng-click="$ctrl.checkPreviousMandatoryFields('occupation', 'userDetailsForm');" ng-model="$ctrl.calculationData.applicant.occupation" ng-change="$ctrl.setOccupationRating();" class="form-control form-field icInputs px-1 border-secondary" name="occupation" required>
                      <option value="" class="" selected="selected">Please select</option>
                      <option ng-repeat="occupation in $ctrl.occupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
                    </select>
                  <div class="select__arrow"></div>
                </div>
              </div>
              <span class="errorText mt-2" ng-if="(userDetailsForm.occupation.$error.required && userDetailsForm.occupation.$touched) || (userDetailsForm.$submitted && userDetailsForm.occupation.$error.required)">Please select Occupation</span>
			  <div class="col-12 mt-1">
				<p class="subText">If you do not select an occupation from the occupations listed, your premiums will be shown at standard rates.</p></div>
            </div>
            
            <div ng-if="$ctrl.calculationData.applicant.occupation == 'Other'">
	            <hr class="primeline">
	            <div class="row" ng-class="{'has-error':(userDetailsForm.otherOccupation.$error.required && userDetailsForm.otherOccupation.$touched) || (userDetailsForm.$submitted && userDetailsForm.otherOccupation.$error.required)}">
	              <div class="col-sm-4 col-md-3 col-12">
	                <label>Please enter your occupation</label>
	              </div>
	               <div class="d-block d-md-flex  col-12 col-sm-8 col-md-9 p-0">
						<div class="col-12 pl-0">
							<input ng-click="$ctrl.checkPreviousMandatoryFields('otherOccupation', 'userDetailsForm');" name="otherOccupation" ng-model="$ctrl.calculationData.applicant.otherOccupation" type="text" class="form-control dollarInput px-1 border-secondary" required>
							<span class="errorText mt-2" ng-if="(userDetailsForm.otherOccupation.$error.required && userDetailsForm.otherOccupation.$touched) || (userDetailsForm.$submitted && userDetailsForm.otherOccupation.$error.required)">Please enter other Occupation</span>
						</div>
											
				   </div>							   
	            </div>
            </div>
                        
			<hr class="primeline">
			
			<div ng-repeat="question in $ctrl.config.finalOccupationQuestions">
				<div ng-show="question.showQuestion">
					<div class="row" ng-class="{'has-error':(userDetailsForm.{{question.name}}.$error.required && userDetailsForm.{{question.name}}.$touched) || (userDetailsForm.$submitted && userDetailsForm.{{question.name}}.$error.required)}">
						<div class="col-md-12 col-sm-12 col-12">
							<label ng-bind-html="question.labelText"></label>
						</div>
						
						<div class="offset-sm-5 col-sm-7 offset-md-4 col-md-8 offset-1 col-11">
							<div class="row">
								<div class="col-sm-6 col-12 pr-sm-1">
									<label ng-click="$ctrl.checkPreviousMandatoryFields(question.name, 'userDetailsForm');$ctrl.setOccupationRating();" class="btn mt-2 radiobutton" ng-class="{'active': (question.answerText == 'Yes')}">
										<input ng-model="question.answerText" type="radio" name="{{question.name}}" value="Yes" ng-required="question.showQuestion">
										<span></span>
										Yes
									</label>
								</div>
								
								<div class="col-sm-6 col-12 pl-sm-1">
									<label ng-click="$ctrl.checkPreviousMandatoryFields(question.name, 'userDetailsForm');$ctrl.setOccupationRating();" class="btn mt-2 radiobutton" ng-class="{'active': (question.answerText == 'No')}">
										<input ng-model="question.answerText" type="radio" name="{{question.name}}" value="No" ng-required="question.showQuestion">
										<span></span>
										No
									</label>
								</div>
							</div>
							<span class="errorText mt-2" ng-show="(userDetailsForm.{{question.name}}.$error.required && userDetailsForm.{{question.name}}.$touched) || (userDetailsForm.$submitted && userDetailsForm.{{question.name}}.$error.required)">Please select Yes or No</span>
						</div>
					</div>
				<hr class="primeline">
			</div>
		</div>
		
          </div>
        </form>
        </div>
      </div>
      
      <div>
      	<div class="section-header p-0 py-sm-2 mb-2 mb-sm-0">
      		<div data-toggle="collapse" href="#financialFormDetails">
      			<button class="section-title mb-0">Financial Details</button>
      		</div>
      	</div>
      	
      	<div id="financialFormDetails" class="collapse in show">
      		<form id="financialForm" name="financialForm" role="form" novalidate>
      			<div class="card p-3 mb-3">
      				
      				<div>
      					<h5> INCOME </h5>
      						<div class="row">
      							<div class="col-md-4 col-sm-4 col-12">
      								<label>What is your gross salary (excluding super)?</label>
      							</div>
      							
      							<div class="col-md-8 col-sm-8 col-12">
      								<div class="row">
      									<div class="col-md-6 col-12 pr-md-1 pl-md-0 mt-2" ng-class="{'has-error':(financialForm.annualSalary.$error.required && financialForm.annualSalary.$touched) || (financialForm.$submitted && financialForm.annualSalary.$error.required)}">
      										<span class="dollarHalf x1w  dollarInputSpan"></span>
      										<input name="annualSalary" ng-change="$ctrl.validateIPAmount();" ng-model-options="$ctrl.modelOptions" ng-click="$ctrl.checkPreviousMandatoryFields('annualSalary', 'financialForm');" ng-model="$ctrl.calculationData.applicant.annualSalary" type="text" numbers-only format="number" class="form-control dollarInputhalf px-1 border-secondary" required>
      										<span class="errorText mt-2" ng-if="(financialForm.annualSalary.$error.required && financialForm.annualSalary.$touched) || (financialForm.$submitted && financialForm.annualSalary.$error.required)">Please enter annual Salary</span>
      									</div>
      									
      									<div class="col-md-6 col-12 pl-md-1 pl-0">
      										<select ng-change="$ctrl.checkPreviousMandatoryFields('salaryFrequency', 'financialForm');$ctrl.validateIPAmount();" ng-model="$ctrl.calculationData.applicant.salaryFrequency" name="salaryFrequency"  ng-options="term for term in $ctrl.termOptions" class="form-control form-field px-1 icInputsHalf border-secondary mt-2" required>      											
      										</select>
      										<div class="select__arrow"></div>
      									</div>
      								</div>
      							</div>
      						</div>
      						
      						<div class="row" ng-if="$ctrl.calculationData.applicant.livingWithWife == 'Yes'">
      							<div class="col-md-4 col-sm-4 col-12">
      								<label>What is your partner/spouse's gross salary (excluding super)?</label>
      							</div>
      							
      							<div class="col-md-8 col-sm-8 col-12">
      								<div class="row">
      									<div class="col-md-6 col-12 pr-md-1 pl-md-0 mt-2" ng-class="{'has-error':(financialForm.spouseSalary.$error.required && financialForm.spouseSalary.$touched) || (financialForm.$submitted && financialForm.spouseSalary.$error.required)}">
      										<span class="dollarHalf x1w  dollarInputSpan"></span>
      										<input ng-change="$ctrl.validateIPAmount();" ng-model-options="$ctrl.modelOptions" name="spouseSalary" ng-click="$ctrl.checkPreviousMandatoryFields('spouseSalary', 'financialForm');" ng-model="$ctrl.calculationData.applicant.spouseSalary" type="text" numbers-only format="number" class="form-control dollarInputhalf px-1 border-secondary" required>
      										<span class="errorText mt-2" ng-if="(financialForm.spouseSalary.$error.required && financialForm.spouseSalary.$touched) || (financialForm.$submitted && financialForm.spouseSalary.$error.required)">Please enter annual Salary</span>
      									</div>
      									
      									<div class="col-md-6 col-12 pl-md-1 pl-0">
      										<select ng-change="$ctrl.checkPreviousMandatoryFields('spouseSalaryFrequency', 'financialForm');$ctrl.validateIPAmount();" ng-model="$ctrl.calculationData.applicant.spouseSalaryFrequency" name="spouseSalaryFrequency"  ng-options="term for term in $ctrl.termOptions" class="form-control form-field px-1 icInputsHalf border-secondary mt-2" required>      											
      										</select>
      										<div class="select__arrow"></div>
      									</div>
      								</div>
      							</div>
      						</div>
      					</div>
      					
      					<div>
      						<div class="mt-3">
      							<h5> EXPENSES </h5>      							
      						</div>
      						
      						<div ng-if="$ctrl.config.haveMortage==''">
	      						<div class="row" ng-class="{'has-error':(financialForm.mortage.$error.required && financialForm.mortage.$touched) || (financialForm.$submitted && financialForm.mortage.$error.required)}">
	      								<div class="col-sm-5 col-md-4 col-12">
	      									<label> Do you have mortgage?</label>
	      								</div>
	      								
	      								<div class="col-sm-7 offset-sm-0 col-md-8 offset-1 col-11">
	      									<div class="row">
	      										<div class="col-sm-6 col-12 pr-sm-1">
	      											<label ng-click="$ctrl.checkPreviousMandatoryFields('mortage', 'financialForm');$ctrl.checkCalculation();" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.mortage == 'Yes')}">
	      												<input ng-model="$ctrl.calculationData.applicant.mortage" type="radio" name="mortage" value="Yes">
	      												<span></span>
	      												Yes
	      											</label>
	      										</div>
	      										
	      										<div class="col-sm-6 col-12 pl-sm-1">
	      											<label ng-click="$ctrl.checkPreviousMandatoryFields('mortage', 'financialForm');$ctrl.checkCalculation();" class="btn mt-2 radiobutton" ng-class="{'active': ($ctrl.calculationData.applicant.mortage == 'No')}">
	      												<input ng-model="$ctrl.calculationData.applicant.mortage" type="radio" name="mortage" value="No">
	      												<span></span>
	      												No
	      											</label>
	      										</div>
	      										<span class="errorText mt-2" ng-if="(financialForm.mortage.$error.required && financialForm.mortage.$touched) || (financialForm.$submitted && financialForm.mortage.$error.required)">Please select Yes or No</span>
	      									</div>
	      								</div>
	      						</div>
	      						<hr class="primeline">
	      					</div>
      						
      						<div ng-if="$ctrl.calculationData.applicant.mortage == 'Yes'">      							
	      						<div class="row">
	      							<div class="col-sm-4 col-md-4 col-12">
	      								<label>What are your mortgage repayments?</label>
	      							</div>
	      							
	      							<div class="col-sm-8 col-md-8 col-12">
	      								<div class="row">
	      									<div class="col-md-6 col-12 pr-md-1 pl-md-0 mt-2">
	      										<span class="dollarHalf x1w  dollarInputSpan"></span>
	      										<input ng-click="$ctrl.checkPreviousMandatoryFields('mortgageAmount', 'financialForm');" ng-change="$ctrl.checkCalculation();" ng-model-options="$ctrl.modelOptions" name="mortgageAmount" ng-model="$ctrl.calculationData.applicant.mortgageAmount" numbers-only format="number" type="text" class="form-control dollarInputhalf px-1 border-secondary">	      									
	      									</div>
	      									
	      									<div class="col-md-6 col-12 pl-md-1 pl-0">
	      										<select ng-change="$ctrl.checkPreviousMandatoryFields('mortgageFrequency', 'financialForm');$ctrl.checkCalculation();" name="mortgageFrequency" ng-model="$ctrl.calculationData.applicant.mortgageFrequency" ng-options="term for term in $ctrl.termOptions" class="form-control form-field px-1 icInputsHalf border-secondary mt-2">      											
	      										</select>
	      										<div class="select__arrow"></div>
	      									</div>
	      								</div>
	      							</div>
	      						</div>
	      						<hr class="primeline">
	      					</div>      						
      						
      						<div class="row">
      							<div class="col-sm-4 col-md-4 col-12">
      								<label>What is your other living expenses e.g. rent and groceries</label>
      								<label class="subText"> Please exclude mortgage, all loan and credit card payments.</label>
      							</div>
      							
      							<div class="col-sm-8 col-md-8 col-12">
      								<div class="row">
      									<div class="col-md-6 col-12 pr-md-1 pl-md-0 mt-2" ng-class="{'has-error':(financialForm.totalExpense.$error.required && financialForm.totalExpense.$touched) || (financialForm.$submitted && financialForm.totalExpense.$error.required)}">
      										<span class="dollarHalf x1w  dollarInputSpan"></span>
      										<input ng-click="$ctrl.checkPreviousMandatoryFields('totalExpense', 'financialForm');" ng-change="$ctrl.checkExpense()" ng-model-options="$ctrl.modelOptions" name="totalExpense" numbers-only format="number" ng-disabled="$ctrl.totalExpenseCalculated>0" ng-model="$ctrl.calculationData.applicant.totalExpense" type="text" class="form-control dollarInputhalf px-1 border-secondary" required>
      										<span class="errorText mt-2" ng-if="(financialForm.totalExpense.$error.required && financialForm.totalExpense.$touched) || (financialForm.$submitted && financialForm.totalExpense.$error.required)">Please enter your expenses</span>
      									</div>
      									
      									<div class="col-md-6 col-12 pl-md-1 pl-0">
      										<select ng-change="$ctrl.checkPreviousMandatoryFields('totalExpenseFrequency', 'financialForm');$ctrl.checkCalculation();" name="totalExpenseFrequency" ng-model="$ctrl.calculationData.applicant.totalExpenseFrequency" ng-options="term for term in $ctrl.termOptions" ng-disabled="$ctrl.totalExpenseCalculated>0" class="form-control form-field px-1 icInputsHalf border-secondary mt-2">      											
      										</select>
      										<div class="select__arrow"></div>
      									</div>
      								</div>
      								<div class="row" ng-if="$ctrl.config.expensePopup">
      									<div class="col-12 p-0 mt-3">
		      								<div class="col-md-6 col-12">
		      									<a class="btn btn-secondary xi" data-toggle="modal" data-target="#calcExpenseModal">
		      										<div class="icoCalc pointer"></div>
		      										<label class="pointer CalcBtn">Calculate your expenses</label>
		      									</a>      									
		      								</div>
		      								<div class="ml-md-3 mt-md-1 mt-3">
		      									<label class="subText"> Enter your typical expenses, such as rent, living expenses, utilities, insurance, etc. Do not enter any mortgage or loan repayments here as it is assumed that all debts will be settled by insurance cover.</label>
		      								</div>
		      							</div>
      								</div>
      							</div>			
      						</div>
      					</div>
      					
      					<div>
      						<h5> OTHER FINANCIAL DETAILS </h5>
      						<div class="row mt-3">
      							<div class="col-sm-4 col-md-3 col-12">
      								<label>What is the balance of your total debts?</label>
      							</div>
      							
      							<div class="d-block d-md-flex  col-12 col-sm-8 col-md-9 p-0">
      								<div class="col-12 pl-0">
      									<span class="dollar x1w  dollarInputSpan"></span>
      									<input name="totalDebts" ng-click="$ctrl.checkPreviousMandatoryFields('totalDebts', 'financialForm');" ng-change="$ctrl.checkDebts();$ctrl.checkCalculation();" ng-model-options="$ctrl.modelOptions" numbers-only format="number" ng-disabled="$ctrl.totalDebtsCalculated>0"  ng-model="$ctrl.calculationData.applicant.totalDebts" type="text" class="form-control dollarInput px-1 border-secondary">
      								</div>
      							</div>
      						</div>
      						
      						<div class="row" ng-if="$ctrl.config.debtsPopup">
      							<div class="offset-md-4 col-12 col-md-7 p-0">
      								<div class="col-md-6 col-12">
      									<a class="btn btn-secondary xi" data-toggle="modal" data-target="#calcDebtsModal">
      										<div class="icoCalc pointer"></div>
      										<label class="pointer CalcBtn">Calculate your Debts</label>
      									</a>
      								</div>
      							</div>
      						</div>
      						
      						<div class="ml-md-3 mt-md-1 mt-3">
      							<div class="offset-md-4">
      								<label class="subText"> Enter the total amount of your debts, including home and other property mortgage(s), personal loans, credit card debts, etc.</label>
      							</div>
      						</div>
      					</div>      					      				
      			</div>
      		</form>
      	</div>
      </div>
   
	
	<!-- Covers and Cost starts-->
	<div ng-if="$ctrl.calculateFlag && !$ctrl.invalidAge && userDetailsForm.$valid && financialForm.$valid && ackForm.$valid">
	<!-- <div> -->
		<div class="section-header p-0 py-sm-2 mb-2 mb-sm-0"> 
          <div data-toggle="collapse" href="#collapseThree">
          <button class="section-title mb-0">COVERS & COST</button>
          </div>
         </div>
        <div id="collapseThree" class="collapse in show">
        <form id="coverForm" name="coverForm" role="form" novalidate>
          <div class="card p-3 mb-3"> 
			<h6> {{$ctrl.config.partnerName}} - Cover Details</h6>
			<!--Death-->
			<p class="mt-4" ng-if="$ctrl.deathRestrict">{{$ctrl.config.deathLabelText}} not allowed because of Age Restriction. Minimum Age allowed: {{$ctrl.config.deathMinAge}}. Maximum Age allowed : {{$ctrl.config.deathMaxAge}}</p>
			<div ng-if="!$ctrl.deathRestrict" class="mt-3">
				<h5 class="coverbg p-2">{{$ctrl.config.deathLabelText}}</h5>
				<div class="row mt-3">
					<div class="col-sm-5 col-md-4 col-12">
						<label> Calculated cover </label>
					</div>
					<div class="col-sm-7 offset-sm-0 col-md-8 offset-1 col-11">
						<label> {{$ctrl.calculationData.applicant.cover[0].existingCoverAmount | currency}} </label>
				    </div>
				</div>
				<hr class="primeline">
				<div class="row" ng-class="{'has-error':($ctrl.deathMaxErrorFlag || (coverForm.deathCoverAmount.$invalid && coverForm.deathCoverAmount.$touched) || (coverForm.deathCoverAmount.$error.required && coverForm.deathCoverAmount.$touched) || (coverForm.$submitted && coverForm.deathCoverAmount.$error.required)) || ((coverForm.deathCoverUnit.$invalid && coverForm.deathCoverUnit.$touched) || (coverForm.deathCoverUnit.$error.required && coverForm.deathCoverUnit.$touched) || (coverForm.$submitted && coverForm.deathCoverUnit.$error.required))}">
					<div class="col-12 col-sm-4 col-md-3">
						<label> Cover Required </label>
					</div>
					<div ng-if="$ctrl.calculationData.applicant.cover[0].coverCategory == 'DcFixed'" class="col-12 col-sm-8 col-md-9 pl-0">
						<span class="dollar x1w dollarInputSpan"></span>
						<input name="deathCoverAmount" ng-click="$ctrl.checkPreviousMandatoryFields('deathCoverAmount', 'coverForm');" ng-change="$ctrl.validateDeathAmount();" ng-model-options="$ctrl.modelOptions" numbers-only format="number" ng-model="$ctrl.calculationData.applicant.cover[0].additionalCoverAmount" type="text" class="form-control dollarInput px-1 border-secondary" required>
						<span class="errorText mt-2" ng-if="(coverForm.deathCoverAmount.$invalid && coverForm.deathCoverAmount.$touched) || (coverForm.deathCoverAmount.$error.required && coverForm.deathCoverAmount.$touched) || (coverForm.$submitted && coverForm.deathCoverAmount.$error.required)">Please enter Cover</span>
						<span class="errorTextLong mt-2" ng-if="$ctrl.deathMaxErrorFlag">Your Cover exceeds eligibility limit of {{$ctrl.config.deathMaxAmount | currency}}. Please re-enter your cover.</span>
					</div>
				</div>
				<hr class="primeline">
				<div class="row">
					<div class="d-block d-md-flex col-12 mt-3 coverbgSec">
						<div class="d-flex d-md-flex col-6 px-1 borderright">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> DEATH BENEFIT</label>
							</div>
							<div class="d-block col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval">{{$ctrl.calculationData.applicant.cover[0].additionalCoverAmount | currency}}</h5>
							</div>
						</div>
						<div class="d-flex d-md-flex col-6 px-1">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> {{$ctrl.calculationData.applicant.cover[0].frequencyCostType}} cost</label>
							</div>
							<div class="d-block col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval">{{$ctrl.calculationData.applicant.cover[0].cost | currency}}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Death-->
		    <!--Total and Permanent Disablement-->
		    <p class="mt-4" ng-if="$ctrl.tpdRestrict">{{$ctrl.config.tpdLabelText}} not allowed because of Age Restriction. Minimum Age allowed: {{$ctrl.config.tpdMinAge}}. Maximum Age allowed : {{$ctrl.config.tpdMaxAge}}</p>
			<div ng-if="!$ctrl.tpdRestrict" class="mt-3">
				<h5 class="coverbg p-2">{{$ctrl.config.tpdLabelText}}</h5>
				<div class="row mt-3">
					<div class="col-sm-5 col-md-4 col-12">
						<label> Calculated cover </label>
					</div>
					<div class="col-sm-7 offset-sm-0 col-md-8 offset-1 col-11">
						<label>{{$ctrl.calculationData.applicant.cover[1].existingCoverAmount | currency}} </label>
				    </div>
				</div>
				<hr class="primeline">
				<div class="row">
					<div class="d-flex col-12 col-sm-12 col-md-4 mt-3 px-1 pl-3">
						<label> Cover Options  </label>
						<div class="col-sm-1 col-1 mt-0"> 
							<a href="#" class="icohelp position-absolute m-0 top0"></a> 
						</div>
					</div>
					<div class="col-12 col-sm-12 col-md-8 mt-3 px-3">
						<div class="btn-group-vertical w-100 py-2 px-0">
							<label class="px-2 btn button-checkbox col-12" ng-click="$ctrl.firstTimeCalculation=false;$ctrl.checkCalculation()" ng-class="{'active': ($ctrl.calculationData.applicant.cover[1].nursingCosts == true)}">
								<input ng-model="$ctrl.calculationData.applicant.cover[1].nursingCosts" name="nursingCosts" ng-true-value="true" ng-false-value="false" type="checkbox">
								<span></span> 
								Additional amount for ongoing nursing / medical costs 
							</label>                    
						</div>
						
						<div class="btn-group-vertical w-100 py-2 px-0">
							<label class="px-2 btn button-checkbox col-12" ng-click="$ctrl.firstTimeCalculation=false;$ctrl.checkCalculation()" ng-class="{'active': ($ctrl.calculationData.applicant.cover[1].tpdWithoutIP == true)}">
								<input ng-model="$ctrl.calculationData.applicant.cover[1].tpdWithoutIP" name="tpdWithoutIP" ng-true-value="true" ng-false-value="false" type="checkbox">
								<span></span>
								Show TPD cover without Salary Continuance deducted
							</label>                    
						</div>
						
					</div>
				</div>
				<hr class="primeline">
				<div class="row" ng-class="{'has-error':($ctrl.tpdGreaterThanDeathErrorFlag || $ctrl.tpdMaxErrorFlag || (coverForm.tpdCoverAmount.$invalid && coverForm.tpdCoverAmount.$touched) || (coverForm.tpdCoverAmount.$error.required && coverForm.tpdCoverAmount.$touched) || (coverForm.$submitted && coverForm.tpdCoverAmount.$error.required)) || ((coverForm.tpdCoverUnit.$invalid && coverForm.tpdCoverUnit.$touched) || (coverForm.tpdCoverUnit.$error.required && coverForm.tpdCoverUnit.$touched) || (coverForm.$submitted && coverForm.tpdCoverUnit.$error.required))}">
					<div class="col-12 col-sm-4 col-md-3">
						<label> Cover Required </label>
					</div>
					<div ng-if="$ctrl.calculationData.applicant.cover[1].coverCategory == 'TPDFixed'" class="col-12 col-sm-8 col-md-9 pl-0">
						<span class="dollar x1w  dollarInputSpan"></span>
						<input name="tpdCoverAmount" ng-click="$ctrl.checkPreviousMandatoryFields('tpdCoverAmount', 'coverForm');" ng-change="$ctrl.validateTPDAmount();" ng-model-options="$ctrl.modelOptions" numbers-only format="number" ng-model="$ctrl.calculationData.applicant.cover[1].additionalCoverAmount" type="text" class="form-control dollarInput px-1 border-secondary" required>
						<span class="errorText mt-2" ng-if="(coverForm.tpdCoverAmount.$invalid && coverForm.tpdCoverAmount.$touched) || (coverForm.tpdCoverAmount.$error.required && coverForm.tpdCoverAmount.$touched) || (coverForm.$submitted && coverForm.tpdCoverAmount.$error.required)">Please enter Cover</span>
						<span class="errorTextLong mt-2" ng-if="$ctrl.tpdMaxErrorFlag">Your Cover exceeds eligibility limit of {{$ctrl.config.tpdMaxAmount | currency}}. Please re-enter your cover.</span>
						<span class="errorTextLong mt-2" ng-if="$ctrl.tpdGreaterThanDeathErrorFlag">TPD should not be greater than Death. Please re-enter your cover.</span>
					</div>					
				</div>
				<hr class="primeline">
				<div class="row">
					<div class="d-block d-md-flex col-12 mt-3 coverbgSec">
						<div class="d-flex d-md-flex col-6 px-1 borderright">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label>TPD BENEFIT</label>
							</div>
							<div class="d-block col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval">{{$ctrl.calculationData.applicant.cover[1].additionalCoverAmount | currency}}</h5>
							</div>
						</div>
						<div class="d-flex d-md-flex col-6 px-1">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> {{$ctrl.calculationData.applicant.cover[1].frequencyCostType}} cost</label>
							</div>
							<div class="d-block col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval">{{$ctrl.calculationData.applicant.cover[1].cost | currency}}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		  <!--Total and Permanent Disablement-->
		  <!--Salary Continuance-->
		  <p class="mt-4" ng-if="$ctrl.ipRestrict">{{$ctrl.config.ipLabelText}} not allowed because of Age Restriction. Minimum Age allowed: {{$ctrl.config.ipMinAge}}. Maximum Age allowed : {{$ctrl.config.ipMaxAge}}</p>
		  <div ng-if="!$ctrl.ipRestrict" class="mt-3">
				<h5 class="coverbg p-2">{{$ctrl.config.ipLabelText}}</h5>
				
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 mt-3">
						<label> Calculated cover </label>
					</div>
					<div class="col-12 col-sm-8 col-md-8 pl-0 mt-3">
						<label ng-if="!$ctrl.disableIP"> {{$ctrl.calculationData.applicant.cover[2].existingCoverAmount | currency}} </label>
						<label ng-if="$ctrl.disableIP"><strong>Not Eligible</strong></label>
					</div>
				</div>
				<hr class="primeline">
								
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 mt-3">
						<label> Waiting Period </label>
					</div>
					<div class="col-12 col-sm-8 col-md-8 pl-0 mt-3">
						<select ng-disabled="$ctrl.disableIP" ng-click="$ctrl.checkPreviousMandatoryFields('ipWaitingPeriod', 'coverForm');" ng-change="$ctrl.calculateCost();" name="ipWaitingPeriod" ng-model="$ctrl.calculationData.applicant.cover[2].additionalIpWaitingPeriod" class="form-control form-field icInputs px-1 border-secondary" ng-options="WaitingPeriod for WaitingPeriod in $ctrl.config.waitingOpts">
						</select>
						<div class="select__arrow"></div>
						<span class="errorText mt-2" ng-if="(coverForm.ipWaitingPeriod.$error.required && coverForm.ipWaitingPeriod.$touched) || (coverForm.$submitted && coverForm.ipWaitingPeriod.$error.required)">Please select Waiting Period</span>
					</div>
				</div>
				<hr class="primeline">
				<div class="row">
					<div class="col-12 col-sm-4 col-md-4 mt-3">
						<label> Benifit Period </label>
					</div>
					<div class="col-12 col-sm-8 col-md-8  pl-0 mt-3">
						<select ng-disabled="$ctrl.disableIP" ng-click="$ctrl.checkPreviousMandatoryFields('ipBenefitPeriod', 'coverForm');" ng-change="$ctrl.calculateCost();" name="ipBenefitPeriod" ng-model="$ctrl.calculationData.applicant.cover[2].additionalIpBenefitPeriod" class="form-control form-field icInputs px-1 border-secondary" ng-options="BenefitPeriod for BenefitPeriod in $ctrl.config.benefitOpts"> 
						</select>
						<div class="select__arrow"></div>
						<span class="errorText mt-2" ng-if="(coverForm.ipBenefitPeriod.$error.required && coverForm.ipBenefitPeriod.$touched) || (coverForm.$submitted && coverForm.ipBenefitPeriod.$error.required)">Please select Benifit Period</span>
					</div>
				</div>
				<hr class="primeline">
				<div class="row" ng-class="{'has-error':((coverForm.ipCoverAmount.$invalid && coverForm.ipCoverAmount.$touched) || (coverForm.ipCoverAmount.$error.required && coverForm.ipCoverAmount.$touched) || (coverForm.$submitted && coverForm.ipCoverAmount.$error.required)) || ((coverForm.ipCoverUnit.$invalid && coverForm.ipCoverUnit.$touched) || (coverForm.ipCoverUnit.$error.required && coverForm.ipCoverUnit.$touched) || (coverForm.$submitted && coverForm.ipCoverUnit.$error.required))}">
					<div class="col-12 col-sm-4 col-md-3 mt-3 ">
						<label> Cover required (per month) </label>
					</div>
					<div ng-if="!$ctrl.disableIP" class="col-12 col-sm-8 col-md-9 pl-0 mt-3">		
						<span class="dollar x1w  dollarInputSpan"></span>
						<input name="ipCoverAmount" ng-click="$ctrl.checkPreviousMandatoryFields('ipCoverAmount', 'coverForm');" ng-change="$ctrl.validateIPAmount();" ng-model-options="$ctrl.modelOptions" numbers-only format="number" ng-model="$ctrl.calculationData.applicant.cover[2].additionalCoverAmount" type="text" class="form-control dollarInput px-1 border-secondary" required>
						<span class="errorText mt-2" ng-if="(coverForm.ipCoverAmount.$invalid && coverForm.ipCoverAmount.$touched) || (coverForm.ipCoverAmount.$error.required && coverForm.ipCoverAmount.$touched) || (coverForm.$submitted && coverForm.ipCoverAmount.$error.required)">Please enter Cover</span>
						<span class="errorTextLong roundedMsg mt-2" ng-if="$ctrl.ipRoundedFlag">The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</span>							
					</div>
					<div ng-if="$ctrl.disableIP" class="col-12 col-sm-8 col-md-9 pl-0 mt-3">
						<span class="dollar x1w  dollarInputSpan"></span>
						<input disabled name="ipCoverAmount" ng-model="$ctrl.calculationData.applicant.cover[2].additionalCoverAmount" type="text" class="form-control dollarInput px-1 border-secondary">
					</div>					
				</div>
				<hr class="primeline">
				<div class="row">
					<div class="d-block d-md-flex col-12 mt-3 coverbgSec">
						<div class="d-flex d-md-flex col-6 px-1 borderright">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> MONTHLY BENEFIT</label>
							</div>
							<div class="d-block  col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval">{{$ctrl.calculationData.applicant.cover[2].additionalCoverAmount | currency}}</h5>
							</div>
						</div>
						<div class="d-flex d-md-flex col-6 px-1">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> {{$ctrl.calculationData.applicant.cover[2].frequencyCostType}} cost</label>
							</div>
							<div class="d-block  col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval">{{$ctrl.calculationData.applicant.cover[2].cost | currency}}</h5>
							</div>
						</div>
					</div>
				</div>
		  </div>
			<!--Salary Continuance-->
			<!--Total -->
			<div class="mt-3">
				<div class="row">
					<div class="d-block d-md-flex col-12 mt-3 coverbg_dark">
						<div class="d-flex d-md-flex col-6 px-1 borderright">
							
						</div>
						<div class="d-flex d-md-flex col-6 px-1">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> {{$ctrl.calculationData.applicant.cover[0].frequencyCostType}} cost</label>
							</div>
							<div class="d-block col-12 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval text-white">{{$ctrl.calculationData.totalMonthlyPremium | currency}}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		  </div>
		 </form>  
		</div>
	</div>
	
	<div class="mt-3" style="background-color:#fff;">
		<form id="ackForm" name="ackForm" role="form" novalidate>
			<div class="row m-3">
				<p ng-if="$ctrl.calculateFlag" class="mt-3 col-12">
					Certain assumptions will be used to determine the insurance cover amount you need.
					Click  <a ng-click="$ctrl.storeCurrentRuleValues();" data-toggle="modal" data-target="#rulesModal" href="#">here</a>
					to review or change these assumptions to suit your circumstance.Please note that the estimated premiums above are based on current premium rates and the information supplied. These premiums may vary in future.
				</p>
				<div ng-if="$ctrl.config.acknowledgeNeeded" class="btn-group-vertical w-100 py-2 px-0 col-12" ng-class="{'has-error':(ackForm.disclaimer.$error.required && ackForm.disclaimer.$touched) || (ackForm.$submitted && ackForm.disclaimer.$error.required)}">
					<label class="px-2 btn button-checkbox col-12" ng-class="{'active': ($ctrl.disclaimer == true)}">
						<input ng-click="$ctrl.checkPreviousMandatoryFields('disclaimer', 'ackForm');" name="disclaimer" type="checkbox" ng-model="$ctrl.disclaimer" ng-true-value="true" ng-false-value="false" required>
						<span></span>
						I have read the disclaimer and assumptions.
						<a ng-click="$ctrl.clickToOpen($ctrl.config.disclaimerPopupText)" style="top:0;right:10px" ng-if="$ctrl.config.disclaimerPopupText" class="icohelp abs"></a>
					</label>
					<span class="errorText mt-2" ng-if="(ackForm.disclaimer.$error.required && ackForm.disclaimer.$touched) || (ackForm.$submitted && ackForm.disclaimer.$error.required)">Please acknowledge and consent to the disclaimer and assumptions.</span>                    
				</div>
			</div>
		</form>
	</div>
	

	<div class="mt-3">
		<div class="row">
			<div class="p-3 offset-4 col-8 offset-md-7 col-md-5 offset-sm-6  col-sm-6" ng-if="!$ctrl.calculateFlag" >				
				<button ng-disabled="$ctrl.invalidAge || userDetailsForm.$invalid || financialForm.$invalid || ackForm.$invalid" ng-click="$ctrl.calculateFlag=true;$ctrl.checkCalculation();" class="btn submit-button text-white w-100" type="button">Calculate</button>
			</div>
			
			<div class="p-3 offset-4 col-8 offset-md-7 col-md-5 offset-sm-6  col-sm-6" ng-if="$ctrl.calculateFlag">				
				<button ng-disabled="$ctrl.deathMaxErrorFlag || $ctrl.tpdMaxErrorFlag || $ctrl.tpdGreaterThanDeathErrorFlag || $ctrl.invalidAge || coverForm.$invalid || userDetailsForm.$invalid || financialForm.$invalid || ackForm.$invalid" ng-click="$ctrl.print();" class="btn submit-button text-white w-100" type="button">Print</button>
			</div>
			
		</div>
	</div>
	
	
    </div>
  </div>
  <div class="col-sm-3 p-0 px-sm-3 mt-4 mt-sm-0 helpPanel">
    <div class="bg-secondary p-3">
      <h4 class="text-uppercase">need help?</h4>
      <p> We are happy to chat over the phone</p>
      <h4>{{$ctrl.config.helpline}}</h4>
    </div>
  </div>
  </div>
   
</div>


<!-- DEBTS popup starts -->
<div class="modal fade" id="calcDebtsModal" tabindex="-1" role="dialog" aria-labelledby="calcDebtsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="calcExpensesLabel">DEBTS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	      <form id="debtsForm" name="debtsForm" role="form" novalidate>
			<h5 class="modal-title" id="calcExpensesLabel">PLEASE SPECIFY YOUR EXISTING DEBTS</h5>
				<div class="p-3">
				
					<div class="row mt-2" ng-repeat="currentDebts in $ctrl.debtsFieldList">
						<div class="col-md-4 col-sm-4 col-12">
							<label>{{currentDebts.labelText}}</label>
						</div>					
						<div class="col-md-8 col-sm-8 col-12">
							<div class="col-md-6 col-12 pr-md-1 pl-md-0 mt-2">
								<span class="dollarHalf x1w  dollarInputSpan"></span>
								<input ng-model="currentDebts.fieldValue" name="{{currentDebts.fieldName}}"  ng-change="$ctrl.calculateDebts()" numbers-only format="number" type="text" class="form-control dollarInputhalf px-1 border-secondary">
							</div>
						</div>
					</div>
								
				</div>
				<div class="d-block d-md-flex col-12 mt-3 coverbg">
					<div class="d-flex d-md-flex col-6 px-1 borderright">
						<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
							<label> Total Debts</label>
						</div>
					</div>
					<div class="d-flex d-md-flex col-6 px-1">
						<div class="d-block  col-12 col-md-6 offset-md-6 mt-3 px-1 alignright">
							<h5 class="coverval text-white">{{$ctrl.totalDebtsCalculated | currency}}</h5>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<div class="modal-footer">
			<button type="button" ng-click="$ctrl.checkCalculation()" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			<button type="button" ng-click="$ctrl.checkCalculation()" class="btn btn-secondary" data-dismiss="modal">Ok</button>
		</div>
	</div>		     
    </div>
</div>

<!-- DEBTS popup ends -->

<!-- OTHER EXPENSES popup starts -->

<div class="modal fade" id="calcExpenseModal" tabindex="-1" role="dialog" aria-labelledby="calcExpensesLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="calcExpensesLabel">OTHER EXPENSES</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="modal-body">
				<form id="ExpensesForm" name="ExpensesForm" role="form" novalidate>
					<h5 class="modal-title" id="calcExpensesLabel">PLEASE SPECIFY YOUR HOUSEHOLD EXPENSES</h5>
					<div class="p-3">
						
						<div class="row mt-2" ng-repeat="currentField in $ctrl.expenseFieldList">
							<div class="col-md-4 col-sm-4 col-12">
								<label>{{currentField.labelText}}</label>
							</div>
							
							<div class="col-md-8 col-sm-8 col-12">
								<div class="row">
									<div class="col-md-6 col-12 pr-md-1 pl-md-0 mt-2">
										<span class="dollarHalf x1w  dollarInputSpan"></span>
										<input ng-model="currentField.fieldValue" name="{{currentField.fieldName}}" ng-change="$ctrl.calculateExpense()" numbers-only format="number" class="form-control dollarInputhalf px-1 border-secondary">
									</div>
									
									<div class="col-md-6 col-12 pl-md-1 pl-0">
										<select ng-model="currentField.termValue" ng-options="term for term in $ctrl.termOptions" name="termValue_{{$index}}" ng-change="$ctrl.calculateExpense()" class="form-control form-field px-1 icInputsHalf border-secondary mt-2">										
										</select>
										<div class="select__arrow"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="d-block d-md-flex col-12 mt-3 coverbg">
						<div class="d-flex d-md-flex col-6 px-1 borderright">
							<div class="d-block d-md-flex col-12 col-md-6 mt-3 px-1">
								<label> Total Annual Expenses</label>
							</div>
						</div>
						
						<div class="d-flex d-md-flex col-6 px-1">
							<div class="d-block col-12 offset-md-6 col-md-6 mt-3 px-1 alignright">
								<h5 class="coverval text-white">{{$ctrl.totalExpenseCalculated | currency}}</h5>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<div class="modal-footer">
				<button type="button" ng-click="$ctrl.checkCalculation()" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" ng-click="$ctrl.checkCalculation()" class="btn btn-secondary" data-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>
<!-- OTHER EXPENSES popup starts -->

<!-- RULES POPUP STARTS -->
<div class="modal fade" id="rulesModal" tabindex="-1" role="dialog" aria-labelledby="rulesModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="rulesModalLabel">ASSUMPTIONS</h5>
			</div>
			<div class="modal-body">
				<form id="rulesForm" name="rulesForm" role="form" novalidate>
					<h5 class="modal-title" id="calcExpensesLabel">PLEASE REVIEW AND CHANGE ANY OF THE FOLLOWING ASSUMPTIONS TO SUIT YOUR CIRCUMSTANCE:</h5>
					
					<div class="p-3">
						<div class="row mt-2" ng-class="{'has-error':(!rulesForm.retirementAge.$error.required && rulesForm.retirementAge.$invalid) || (rulesForm.retirementAge.$error.required && rulesForm.retirementAge.$touched) || (rulesForm.$submitted && rulesForm.retirementAge.$error.required)}">
							<div class="col-md-5 col-sm-5 col-12">
								<label>Retirement age</label>
							</div>
							<div class="col-md-7 col-sm-7 col-12">
								<div class="col-12 pr-md-1 pl-md-0 mt-2">
									<input min="60" max="65" name="retirementAge" ng-change="$ctrl.roundOff('retirementAge')" ng-model-options="$ctrl.modelOptions" ng-model="$ctrl.rules.retirementAge" type="number" class="form-control otherInputPopUp  px-1 border-secondary" required>
									<label class="subText popupLabel">Enter the age at which you plan to retire.</label>
									<span class="errorText mt-2" ng-if="(rulesForm.retirementAge.$error.required && rulesForm.retirementAge.$touched) || (rulesForm.$submitted && rulesForm.retirementAge.$error.required)">Please enter Retirement age</span>
									<span class="errorText mt-2" ng-if="(!rulesForm.retirementAge.$error.required && rulesForm.retirementAge.$invalid)">Retirement age must be between 60 and 65</span>
								</div>
							</div>
						</div>
												
						<div class="row mt-2" ng-class="{'has-error':(!rulesForm.inflationRate.$error.required && rulesForm.inflationRate.$invalid) || (rulesForm.inflationRate.$error.required && rulesForm.inflationRate.$touched) || (rulesForm.$submitted && rulesForm.inflationRate.$error.required)}">
							<div class="col-md-5 col-sm-5 col-12">
								<label>Inflation rate (p.a.)</label>
							</div>
							<div class="col-md-7 col-sm-7 col-12">
								<div class="col-12 pr-md-1 pl-md-0 mt-2">
									<span class="unitInputSpan">%</span>
									<input min="0.00" max="10.00" name="inflationRate" ng-change="$ctrl.roundOff('inflationRate')" ng-model-options="$ctrl.modelOptions" ng-model="$ctrl.rules.inflationRate" type="number" class="form-control otherInputPopUp  px-1 border-secondary" required>
									<span class="errorText mt-2" ng-if="(rulesForm.inflationRate.$error.required && rulesForm.inflationRate.$touched) || (rulesForm.$submitted && rulesForm.inflationRate.$error.required)">Please enter the inflation rate</span>
									<span class="errorText mt-2" ng-if="(!rulesForm.inflationRate.$error.required && rulesForm.inflationRate.$invalid)">Inflation rate should be between 0.00% and 10.00%</span>
								</div>
							</div>
						</div>
						
						<div class="row mt-2" ng-class="{'has-error':(!rulesForm.realInterestRate.$error.required && rulesForm.realInterestRate.$invalid) || (rulesForm.realInterestRate.$error.required && rulesForm.realInterestRate.$touched) || (rulesForm.$submitted && rulesForm.realInterestRate.$error.required)}">
							<div class="col-md-5 col-sm-5 col-12">
								<label>Investment return (p.a.)</label>
							</div>
							<div class="col-md-7 col-sm-7 col-12">
								<div class="col-12 pr-md-1 pl-md-0 mt-2">
									<span class="unitInputSpan">%</span>
									<input min="0.00" max="15.00" name="realInterestRate" ng-change="$ctrl.roundOff('realInterestRate')" ng-model-options="$ctrl.modelOptions" ng-model="$ctrl.rules.realInterestRate" type="number" class="form-control otherInputPopUp px-1 border-secondary" required>
									<label class="subText popupLabel">This is an estimate of the annual investment return that any Death and/or TPD insurance benefit might have earned had it remained invested in your superannuation account.</label>
									<span class="errorText mt-2" ng-if="(rulesForm.realInterestRate.$error.required && rulesForm.realInterestRate.$touched) || (rulesForm.$submitted && rulesForm.realInterestRate.$error.required)">Please enter the investment return</span>
									<span class="errorText mt-2" ng-if="(!rulesForm.realInterestRate.$error.required && rulesForm.realInterestRate.$invalid)">Investment return should be between 0.00% and 15.00%</span>
								</div>
							</div>
						</div>
						
						<div class="row mt-2" ng-class="{'has-error':(!rulesForm.superContribRate.$error.required && rulesForm.superContribRate.$invalid) || (rulesForm.superContribRate.$error.required && rulesForm.superContribRate.$touched) || (rulesForm.$submitted && rulesForm.superContribRate.$error.required)}">
							<div class="col-md-5 col-sm-5 col-12">
								<label>Superannuation contribution (Death/TPD)</label>
							</div>
							<div class="col-md-7 col-sm-7 col-12">
								<div class="col-12 pr-md-1 pl-md-0 mt-2">
									<span class="unitInputSpan">%</span>
									<input min="9.50" max="15.00" name="superContribRate" ng-change="$ctrl.roundOff('superContribRate')" ng-model-options="$ctrl.modelOptions" ng-model="$ctrl.rules.superContribRate" type="number" class="form-control otherInputPopUp px-1 border-secondary" required>
									<label class="subText popupLabel">This is your average rate of superannuation contributions as a proportion of your before-tax income.</label>
									<span class="errorText mt-2" ng-if="(rulesForm.superContribRate.$error.required && rulesForm.superContribRate.$touched) || (rulesForm.$submitted && rulesForm.superContribRate.$error.required)">Please enter the superannuation contribution</span>
									<span class="errorText mt-2" ng-if="(!rulesForm.superContribRate.$error.required && rulesForm.superContribRate.$invalid)">Superannuation contribution rate must be between 9.50% and 15.00%</span>
								</div>
							</div>
						</div>
						
						<div class="row mt-2" ng-class="{'has-error':(!rulesForm.ipBenefitPaidToSA.$error.required && rulesForm.ipBenefitPaidToSA.$invalid) || (rulesForm.ipBenefitPaidToSA.$error.required && rulesForm.ipBenefitPaidToSA.$touched) || (rulesForm.$submitted && rulesForm.ipBenefitPaidToSA.$error.required)}">
							<div class="col-md-5 col-sm-5 col-12">
								<label>Salary Continuance benefit paid to superannuation</label>
							</div>
							<div class="col-md-7 col-sm-7 col-12">
								<div class="col-12 pr-md-1 pl-md-0 mt-2">
									<span class="unitInputSpan">%</span>
									<input min="0.00" max="15.00" name="ipBenefitPaidToSA" ng-change="$ctrl.roundOff('ipBenefitPaidToSA')" ng-model-options="$ctrl.modelOptions" ng-model="$ctrl.rules.ipBenefitPaidToSA" type="number" class="form-control otherInputPopUp px-1 border-secondary" required>
									<span class="errorText mt-2" ng-if="(rulesForm.ipBenefitPaidToSA.$error.required && rulesForm.ipBenefitPaidToSA.$touched) || (rulesForm.$submitted && rulesForm.ipBenefitPaidToSA.$error.required)">Please enter the Salary Continuance benefit paid to superannuation</span>
									<span class="errorText mt-2" ng-if="(!rulesForm.ipBenefitPaidToSA.$error.required && rulesForm.ipBenefitPaidToSA.$invalid)">Salary Continuance benefit paid to super must be between 0.00% and 15.00%</span>
								</div>
							</div>
						</div>
						
						<div class="row mt-2" ng-class="{'has-error':(!rulesForm.ipReplaceRatio.$error.required && rulesForm.ipReplaceRatio.$invalid) || (rulesForm.ipReplaceRatio.$error.required && rulesForm.ipReplaceRatio.$touched) || (rulesForm.$submitted && rulesForm.ipReplaceRatio.$error.required)}">
							<div class="col-md-5 col-sm-5 col-12">
								<label>Salary Continuance replacement ratio</label>
							</div>
							<div class="col-md-7 col-sm-7 col-12">
								<div class="col-12 pr-md-1 pl-md-0 mt-2">
									<span class="unitInputSpan">%</span>
									<input min="0.00" max="75.00" name="ipReplaceRatio" ng-change="$ctrl.roundOff('ipReplaceRatio')" ng-model-options="$ctrl.modelOptions" ng-model="$ctrl.rules.ipReplaceRatio" type="number" class="form-control otherInputPopUp px-1 border-secondary" required>
									<span class="errorText mt-2" ng-if="(rulesForm.ipReplaceRatio.$error.required && rulesForm.ipReplaceRatio.$touched) || (rulesForm.$submitted && rulesForm.ipReplaceRatio.$error.required)">Please enter the salary continuance replacement ratio</span>
									<span class="errorText mt-2" ng-if="(!rulesForm.ipReplaceRatio.$error.required && rulesForm.ipReplaceRatio.$invalid)">Salary Continuance replacement ratio must be between 0.00% and 75.00%</span>
								</div>
							</div>
						</div>
						
						<div class="row mt-2" ng-class="{'has-error':(!rulesForm.funeralCost.$error.required && rulesForm.funeralCost.$invalid) || (rulesForm.funeralCost.$error.required && rulesForm.funeralCost.$touched) || (rulesForm.$submitted && rulesForm.funeralCost.$error.required)}">
							<div class="col-md-5 col-sm-5 col-12">
								<label>Funeral cost</label>
							</div>
							<div class="col-md-7 col-sm-7 col-12">
								<div class="col-12 pr-md-1 pl-md-0 mt-2">
									<span class="dollar dollarPopup x1w  dollarInputSpan"></span>
									<input numbers-only format="number" name="funeralCost" ng-model-options="$ctrl.modelOptions" ng-model="$ctrl.rules.funeralCost" type="text" class="dollarInputPopUp form-control px-1 border-secondary" required>
									<label class="subText popupLabel">Provision is made in the suggested Death cover amount for funeral costs. You may choose to increase the default amount if you have particular arrangements in mind.</label>
									<span class="errorText mt-2" ng-if="(rulesForm.funeralCost.$error.required && rulesForm.funeralCost.$touched) || (rulesForm.$submitted && rulesForm.funeralCost.$error.required)">Please enter the funeral cost</span>
									<span class="errorText mt-2" ng-if="(!rulesForm.funeralCost.$error.required && rulesForm.funeralCost.$invalid)">Funeral cost should be between 0 and 99,999</span>
								</div>
							</div>							
						</div>
						
						<div class="row mt-2" ng-class="{'has-error':(!rulesForm.annualMedAndNursingCost.$error.required && rulesForm.annualMedAndNursingCost.$invalid) || (rulesForm.annualMedAndNursingCost.$error.required && rulesForm.annualMedAndNursingCost.$touched) || (rulesForm.$submitted && rulesForm.annualMedAndNursingCost.$error.required)}">
							<div class="col-md-5 col-sm-5 col-12">
								<label>Annual nursing and medical cost</label>
							</div>
							<div class="col-md-7 col-sm-7 col-12">
								<div class="col-12 pr-md-1 pl-md-0 mt-2">
									<span class="dollar dollarPopup x1w  dollarInputSpan"></span>
									<input numbers-only format="number" name="annualMedAndNursingCost" ng-model-options="$ctrl.modelOptions" ng-model="$ctrl.rules.annualMedAndNursingCost" type="text" class="dollarInputPopUp form-control px-1 border-secondary" required>
									<label class="subText popupLabel">Provision is made in the suggested TPD cover amount for annual nursing and medical costs. You may choose to increase the default amount if you have particular arrangements in mind.</label>
									<span class="errorText mt-2" ng-if="(rulesForm.annualMedAndNursingCost.$error.required && rulesForm.annualMedAndNursingCost.$touched) || (rulesForm.$submitted && rulesForm.annualMedAndNursingCost.$error.required)">Please enter the annual nursing and medical cost</span>
									<span class="errorText mt-2" ng-if="(!rulesForm.annualMedAndNursingCost.$error.required && rulesForm.annualMedAndNursingCost.$invalid)">Annual nursing and Medical cost should be between 0 and 99,999</span>
								</div>
							</div>							
						</div>
						
						<div class="row mt-2" ng-class="{'has-error':(!rulesForm.dependentSuppAge.$error.required && rulesForm.dependentSuppAge.$invalid) || (rulesForm.dependentSuppAge.$error.required && rulesForm.dependentSuppAge.$touched) || (rulesForm.$submitted && rulesForm.dependentSuppAge.$error.required)}">
							<div class="col-md-5 col-sm-5 col-12">
								<label>Highest age that your dependents will be financially supported</label>
							</div>
							<div class="col-md-7 col-sm-7 col-12">
								<div class="col-12 pr-md-1 pl-md-0 mt-2">
									<input min="16" max="27" name="dependentSuppAge" ng-change="$ctrl.roundOff('dependentSuppAge')" ng-model-options="$ctrl.modelOptions" ng-model="$ctrl.rules.dependentSuppAge" type="number" class="otherInputPopUp form-control px-1 border-secondary" required>
									<label class="subText popupLabel">Once your dependants are above a certain age, you will no longer be financially supporting them.</label>
									<span class="errorText mt-2" ng-if="(rulesForm.dependentSuppAge.$error.required && rulesForm.dependentSuppAge.$touched) || (rulesForm.$submitted && rulesForm.dependentSuppAge.$error.required)">Please enter the dependent age</span>
									<span class="errorText mt-2" ng-if="(!rulesForm.dependentSuppAge.$error.required && rulesForm.dependentSuppAge.$invalid)">Dependant's age needs to be between 16 and 27</span>
								</div>
							</div>					
						</div>
					</div>
				</form>				
			</div>
			<div class="modal-footer">
				<button ng-disabled="rulesForm.$invalid" type="button" class="btn btn-secondary" ng-click="$ctrl.calculateForNewRules()">Ok</button>
				<button type="button" class="btn btn-secondary" ng-click="$ctrl.resetRuleValues()">Cancel</button>
			</div>
		</div>
	</div>
</div>
<!-- RULES POPUP END -->