<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/host/header.html'"></div>
</div>

<h2 ng-if="CCS.errorOccured" style="color:red;text-align: center;">Something went wrong...Please try after sometime</h2>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-xs-3 nav-arrows">
    <img src="static/host/images/bg_blank.png" ng-if="!CCS.auraDisabled" ng-click="go('/aura')" class=" icoMenuRev active  ">
    <img src="static/host/images/bg_blank.png" ng-if="CCS.auraDisabled" ng-click="go('/quote')" class=" icoMenuRev active  ">
    <img src="static/host/images/bg_blank.png" class=" icoMenuFwd  ml30p">
    </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 467 875</h3>
      <h3 class="helpNo"> </h3>
    </div>

  </div>
   <div class="col-sm-9 landingPageBoxes">
	    <div class="menu hidden-xs">
	       <div class="col-sm-4 dd first">
	        <h5 style="color:#0066a1">Step 1</h5>
	        <div class="txtHolder pointer"> <a ng-click="go('/quote/')"> Personal details</a> </div>
	        <img src="static/host/images/bg_blank.png" class=" right">
	       </div>

	        <div class="col-sm-4 dc" ng-if="!CCS.auraDisabled">
	         <img src="static/host/images/bg_blank.png" class=" left">
	         <h5 style="color:#0066a1">Step 2</h5>
	         <div class="txtHolder pointer"> <a ng-click="go('/aura/')"> Health &amp; lifestyle</a></div>
	         <img src="static/host/images/bg_blank.png" class=" right">
	        </div>
	        <div class="col-sm-4 dc" ng-if="CCS.auraDisabled" ng-disabled="CCS.auraDisabled">
	         <img src="static/host/images/bg_blank.png" class=" left">
	         <h5 style="color:#d9d9d9">Step 2</h5>
	         <div class="txtHolder"> <p style="color:#d9d9d9" class="txtHolder"> Health &amp; lifestyle</p></div>
	         <img src="static/host/images/bg_blank.png" class=" right">
	        </div>

	        <div class="col-sm-4 cn">
	         <h5>Step 3</h5>
	         <div class="txtHolder" style="color:#000"> Confirmation </div>
	         <img src="static/host/images/bg_blank.png" class=" left">
	        </div>
	     </div>

	    <div class="panel-group" id=" ">
	      <div class="panel panel-default twoColData">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="  ">
	          	<h4 class="panel-title">Personal details </h4>
	          </a>
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse in ">
	          <div class="panel-body">
	            <!-- Row starts -->
	           <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>First name</strong> </label>
	                <label class="control-label">{{personalDetails.firstName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Last name</strong> </label>
	                <label class="control-label">{{personalDetails.lastName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	             <hr class="primeline hidden-xs">
	             <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>Gender</strong></label>
	               <label class="control-label">{{CCS.occupationDetails.gender}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>Preferred contact type</strong></label>
	               <label class="control-label">{{contactType}}</label>
	              </div>
	            </div>
	             <hr class="primeline hidden-xs">

	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact number </strong></label>
	               <label class="control-label">{{CCS.contactPhone}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Email address</strong> </label>
	               <label class="control-label">{{CCS.email}}</label>
	              </div>
	            </div>
	            <hr class="primeline hidden-xs">

	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Date of birth</strong> </label>
	               <label class="control-label"> {{CCS.dob}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>What time of day do you prefer to be contacted?</strong></label>
	               <label class="control-label" ng-if="CCS.contactPrefTime =='1'">Morning (9am&ndash;12pm)</label>
	               <label class="control-label" ng-if="CCS.contactPrefTime =='2'">Afternoon (12pm&ndash;6pm)</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	           <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Do you work 15 or more hours per week?</strong> </label>
	               <label class="control-label">{{CCS.occupationDetails.fifteenHr}}</label>
	            </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Do you, directly or indirectly, own all or part of a business from which you earn your regular income?</strong> </label>
	               <label class="control-label">{{CCS.occupationDetails.ownBussinessQues}}</label>
	            </div>
	            </div>
	            <!-- Row ends -->
				<hr class="primeline hidden-xs">

	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12" ng-if="CCS.occupationDetails.ownBussinessQues == 'Yes'">
	                <label class="control-label"><strong>Are you currently: <br>
                	 <li> Capable of, and performing all of the usual identifiable duties from your occupation, without restriction due to injury or illness?</li></strong>
                    </label>
	               <label class="control-label">{{CCS.occupationDetails.ownBussinessYesQues}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12" ng-if="CCS.occupationDetails.ownBussinessQues == 'No'">
	                <label class="control-label"><strong>With your current job, are you currently: <br> <li> Actively Performing all your normal duties of your occupation; and </li> <br> <li> Working your usual hours without limitation of injury or illness; and </li>
	                 <br> <li> Not entitled to, or not receiving any income support benefits of any kind.</li></strong>
	                </label>
	               <label class="control-label">{{CCS.occupationDetails.ownBussinessNoQues}}</label>
	              </div>
	              <!-- <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Are you a citizen or permanent resident of Australia?</strong> </label>
	                <label class="control-label"> <strong>Are you a citizen or permanent resident of Australia or a New Zealand citizen residing in Australia under a Special Category Visa?</strong> </label>
	               <label class="control-label">{{CCS.occupationDetails.citizenQue}}</label>
	              </div> -->
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline hidden-xs">


	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>What industry do you work in?</strong> </label>
	               <label class="control-label">{{CCS.industryName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>What is your current occupation?</strong></label>
	                <!-- <label class="control-label">{{CCS.occupationDetails.occupation}}</label> -->
	                <label class="control-label" ng-show="CCS.occupationDetails.occupation !='Other'">{{CCS.occupationDetails.occupation}}</label>
	                <label class="control-label" ng-show="CCS.occupationDetails.occupation =='Other'">{{CCS.occupationDetails.otherOccupation}}</label> 
	              </div>
	            </div>
	            <!-- Row ends -->
				 <hr class="primeline hidden-xs">
				 
				  <!-- Row starts -->
	            <!-- <div class="row rowcustom odd" ng-if="CCS.occupationDetails.occupation =='Other'">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>If other, What is your occupation?</strong></label>	                
	                <label class="control-label" ng-show="CCS.occupationDetails.occupation =='Other'">{{CCS.occupationDetails.otherOccupation}}</label>
	              </div>
	            </div> -->
	            <!-- Row ends -->
				<!--  <hr class="primeline hidden-xs" ng-if="CCS.occupationDetails.occupation =='Other'"> -->
				 
	            <!-- Row starts -->
	            <div class="row rowcustom odd" ng-if="CCS.occupationDetails.withinOfficeQue == 'Yes' || CCS.occupationDetails.withinOfficeQue == 'No' || CCS.occupationDetails.tertiaryQue == 'Yes'|| CCS.occupationDetails.tertiaryQue == 'No'">
	              <div class="col-sm-6 col-xs-12"  ng-if="CCS.occupationDetails.withinOfficeQue == 'Yes' || CCS.occupationDetails.withinOfficeQue == 'No'">
	                <!-- <label class="control-label"><p align="justify"> <strong>Do you spend more than 10% of your working time outside of an office environment?</strong></p></label> -->
	                <label class="control-label"><p align="justify"> <strong>Do you spend at least 90% of your working time in an office? (For example 34.2 hours out of a 38-hour working week)</strong></p></label>
	               <label class="control-label">{{CCS.occupationDetails.withinOfficeQue}}</label>
	              </div>
	            <div class="col-sm-6 col-xs-12" ng-if="CCS.occupationDetails.tertiaryQue == 'Yes' || CCS.occupationDetails.tertiaryQue == 'No'">
	                <label class="control-label"> <p align="justify"><strong>Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</strong></p></label>
	               <label class="control-label">{{CCS.occupationDetails.tertiaryQue}}</label>
	              </div>
	          </div>
	          <hr ng-if="CCS.occupationDetails.withinOfficeQue == 'Yes' || CCS.occupationDetails.withinOfficeQue == 'No' || CCS.occupationDetails.tertiaryQue == 'Yes'|| CCS.occupationDetails.tertiaryQue == 'No'"class="primeline hidden-xs">
	          <div class="row rowcustom odd" ng-if="CCS.occupationDetails.managementRoleQue == 'Yes' || CCS.occupationDetails.managementRoleQue == 'No' || CCS.occupationDetails.hazardousQue == 'Yes' || CCS.occupationDetails.hazardousQue == 'No'">
	            <div class="col-sm-6 col-xs-12" ng-if="CCS.occupationDetails.managementRoleQue == 'Yes' || CCS.occupationDetails.managementRoleQue == 'No'">
	                <!-- <label class="control-label"> <strong>Do you spend more than 10% of your working time outside of an office environment?  </strong></label> -->
	                <label class="control-label"> <strong>Do you spend at least 90% of your working time in an office? (For example 34.2 hours out of a 38-hour working week)</strong></label>
	               <label class="control-label">{{CCS.occupationDetails.managementRoleQue}}</label>
	              </div>
	            <div class="col-sm-6 col-xs-12" ng-if="CCS.occupationDetails.hazardousQue == 'Yes' || CCS.occupationDetails.hazardousQue == 'No'">
	                <label class="control-label"> <strong>Do you work in a hazardous environment and/or perform any duties of a manual nature?</strong></label>
	               <label class="control-label">{{CCS.occupationDetails.hazardousQue}}</label>
	              </div>
	            </div>
	             <hr ng-if="CCS.occupationDetails.managementRoleQue == 'Yes' || CCS.occupationDetails.managementRoleQue == 'No' || CCS.occupationDetails.hazardousQue == 'Yes' || CCS.occupationDetails.hazardousQue == 'No'" class="primeline hidden-xs">

	             <!-- Row ends -->

	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Annual salary</strong></label>
	              <label class="control-label">{{CCS.occupationDetails.salary | currency:undefined:0}}</label>
	            </div>
	           </div>
	            <!-- Row ends -->

	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default nobg">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseCover" class="">
	            <h4 class="panel-title"> Your cover</h4>
	            </a>
	        </div>
	        <div id="collapseCover" class="panel-collapse collapse in">
           <div class="panel-body">
       		 <div class="parent-flex-container">
         	   <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
           		<div class="box coverbg aligncenter">
                <h5 class="mb0">cover type</h5>
                <h4 class="p0 m0 cover-header">Death<br> &nbsp; </h4>
              </div>
              <div class="box mt10px aligncenter">
                <h5 class=" color2">Existing cover</h5>
                <p class="color3">{{CCS.existingDeathAmt | currency:undefined:0}} </p>
                <h5 class=" color2">New cover</h5>
                <p class="color3">{{CCS.addnlDeathCoverDetails.deathFixedAmt | currency:undefined:0}}</p>
                <h5 class=" color2">Occupational category </h5>
                <p class="color3">{{CCS.deathOccCategory}}</p>
                <h5 class=" color2">{{CCS.freqCostType}} cost</h5>
                <p class="color3">{{CCS.addnlDeathCoverDetails.deathCoverPremium | currency}}</p>
              </div>
              <p class="spacer">&nbsp;</p>
             </div>
            <!-- Death Cover Details Ends-->

            <p class="spacer visible-xs">&nbsp;</p>

           <!-- TPD Cover Details Starts-->
          <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
            <div class="box coverbg aligncenter">
              <h5 class="mb0">cover type</h5>
              <h4 class="p0 m0 cover-header">Total &amp; Permanent Disablement</h4>
            </div>
            <div class="box mt10px aligncenter">
              <h5 class=" color2">Existing cover</h5>
              <p class="color3">{{CCS.existingTpdAmt | currency:undefined:0}}</p>
              <h5 class=" color2">New cover</h5>
              <p class="color3">{{CCS.addnlTpdCoverDetails.tpdFixedAmt | currency:undefined:0}}</p>
              <h5 class=" color2">Occupational category </h5>
              <p class="color3">{{CCS.tpdOccCategory}}</p>
              <h5 class=" color2">{{CCS.freqCostType}} cost</h5>
              <p class="color3">{{CCS.addnlTpdCoverDetails.tpdCoverPremium | currency}}</p>
            </div>
            <p class="spacer">&nbsp;</p>
          </div>
          <!-- TPD Cover Details Ends-->
          <p class="spacer visible-xs">&nbsp;</p>
	             <!-- IP Cover Details Starts-->
           <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
              <div class="box coverbg aligncenter">
                <h5 class="mb0">cover type</h5>
                <h4 class="p0 m0 cover-header">Salary <br> Continuance</h4>
              </div>
              <div class="box mt10px aligncenter">
                <h5 class=" color2">Existing cover</h5>
                <p class="color3">{{CCS.existingIPAmount | currency:undefined:0}}</p>
                <h5 class=" color2">New cover</h5>
                <p class="color3">{{CCS.addnlIpCoverDetails.ipFixedAmt | currency:undefined:0}}</p>
                 <h5 class=" color2">Occupational category </h5>
                <p class="color3">{{CCS.ipOccCategory}}</p>
                <h5 class=" color2">Waiting period</h5>
                <p class="color3">{{CCS.addnlIpCoverDetails.waitingPeriod}}</p>
                <h5 class=" color2">Benefit period</h5>
                <p class="color3">{{CCS.addnlIpCoverDetails.benefitPeriod}}</p>
                <h5 class=" color2">{{CCS.freqCostType}} cost</h5>
                <p class="color3">{{CCS.addnlIpCoverDetails.ipCoverPremium | currency}}</p>
              </div>
              <p class="spacer">&nbsp;</p>
	          </div>
	          <!-- IP Cover Details Ends-->
	        </div>

	            <div>
		           <div class="row	mt0	coverbg seccolor">
           				 <div class="col-sm-9 col-xs-6">
		              <h5 class="coverval ng-binding">&nbsp;Total {{CCS.freqCostType}} cost</h5>
		            </div>
		            <div class="col-sm-3 col-xs-6 alignright">
		              <h4 class="coverval">{{CCS.totalPremium | currency}}&nbsp;</h4>
		            </div>
	              </div>
	           	  <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by Hostplus Super</p>
		        </div>
	            </div>
	          </div>

        <div class=" secrow1 " ng-if="CCS.auraDetails.specialTerm == true && CCS.auraDetails.overallDecision == 'ACC' && ((CCS.auraDetails.deathLoading != null && CCS.auraDetails.deathLoading != '0.0') || (CCS.auraDetails.tpdLoading != null && CCS.auraDetails.tpdLoading != 0.0) || (CCS.auraDetails.ipLoading != null && CCS.auraDetails.ipLoading != 0.0))">
         <div class="lwt"></div>
         <div class="rwt"></div>
          <div class="panel panel-default nobg secrow">
	        <div class="col-sm-12 bgwhite">
			 <!-- Row starts -->
            <div class="row rowcustom">
              <div class="col-sm-12">
			     <div class="row rowcustom ">
                  <div class="col-sm-12">
                    <p> Loadings</p>
                   </div>
                  </div>
		           <!-- Row ends -->
		           <hr class="primeline">
		             <div class="row rowcustom ">
		               <div class="col-sm-12">
		                 <div data-toggle="buttons" class=" btn-group-vertical">
		                  <div class="row rowcustom" >
		                    <div class="col-sm-12" ng-if="CCS.auraDetails.deathLoading != null && CCS.auraDetails.deathLoading != 0.0">
		                      <h6>Death</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;">
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to
		                         a loading of {{CCS.auraDetails.deathLoading}}%, an additional premium in the amount of {{CCS.deathLoadingCost | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="CCS.auraDetails.tpdLoading != null && CCS.auraDetails.tpdLoading != 0.0">
		                      <h6>TPD</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;">
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to
		                         a loading of {{CCS.auraDetails.tpdLoading}}%, an additional premium in the amount of {{CCS.tpdLoadingCost | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="auraDetails.ipLoading != null && auraDetails.ipLoading != 0.0">
		                      <h6>Income protection</h6>
		                       <p class= "normal" style="text-align:justify;margin-top:8px;">
		                         We wish to note that in considering the information disclosed in your personal statement your additional cover is subject to
		                         a loading of {{CCS.auraDetails.ipLoading}}%, an additional premium in the amount of {{CCS.ipLoadingCost | currency:'$':2}} will be applicable if you accept the terms of the cover.
						       </p>
		                    </div>
		                   </div>
		                 </div>
		                </div>
		             </div>
			   </div>
             </div>
            </div>
         </div>
        </div>
      <div class="secrow1" ng-if="CCS.auraDetails.specialTerm == true && CCS.auraDetails.overallDecision == 'ACC' && (CCS.auraDetails.deathExclusions != null || CCS.auraDetails.tpdExclusions != null || CCS.auraDetails.ipExclusions != null)">
        <div class="lwt"></div>
        <div class="rwt"></div>
         <div class="panel panel-default nobg">
	        <div class="col-sm-12 bgwhite">
			 <!-- Row starts -->
            <div class="row rowcustom">
              <div class="col-sm-12">
			     <div class="row rowcustom ">
                  <div class="col-sm-12">
                    <p> Exclusions</p>
                   </div>
                  </div>
		           <!-- Row ends -->
	                <hr class="primeline">
		             <div class="row rowcustom ">
		               <div class="col-sm-12">
		                 <div data-toggle="buttons" class=" btn-group-vertical">
		                  <div class="row rowcustom" >
	                    <div class="col-sm-12" ng-if="CCS.auraDetails.deathExclusions != null">
	                     <h6>Death</h6>
	                     <!-- <p class= "normal" style="text-align:justify;margin-top:8px;white-space:pre-line;"> {{CCS.auraDetails.deathExclusions}} -->
	                     <p class= "normal txt-p" style="text-align:justify;" ng-bind-html="CCS.auraDetails.deathExclusionsEdit"> 
		                  </p>
		                </div>
	                    <div class="col-sm-12" ng-if="CCS.auraDetails.tpdExclusions != null">
		                      <h6>TPD</h6>
		                      <!--  <p class= "normal" style="text-align:justify;margin-top:8px;white-space:pre-line;"> {{CCS.auraDetails.tpdExclusions}} -->
		                       <p class= "normal txt-p" style="text-align:justify;" ng-bind-html="CCS.auraDetails.tpdExclusionsEdit"> 
						       </p>
		                    </div>
		                    <div class="col-sm-12" ng-if="CCS.auraDetails.ipExclusions != null">
		                      <h6>Income protection</h6>
		                      <!--  <p class= "normal" style="text-align:justify;margin-top:8px;white-space:pre-line;"> {{CCS.auraDetails.ipExclusions}} -->
		                        <p class= "normal txt-p" style="text-align:justify;" ng-bind-html="CCS.auraDetails.ipExclusionsEdit">
						       </p>
		                    </div>
		                   </div>
		                 </div>
	                </div>
		             </div>
			   </div>
             </div>
            </div>
         </div>
		</div>
            <div class="col-sm-12 bgwhite " ng-if="CCS.auraDetails.specialTerm == true && CCS.auraDetails.overallDecision == 'ACC' ">
             <div class="row rowcustom " ng-class="{'has-error':CCS.LEFlag}" ng-click="checkAckStateLE()">
               <div class="col-sm-12">
                 <div data-toggle="buttons" class="btn-group-vertical">
                  <div class="row rowcustom">
                    <div class="col-sm-12">
                     <label class="btn  checkboxes ack-checkbox-label" id="lodadingExclusionLabel">
                      <input type="checkbox" class=" " id="lodadingExclusionId">
                      <span></span> <div class="custom-checkbox-label">I acknowledge I have read and understood the above exclusion(s) and/or loading(s) which apply to this cover.</div>
                     </label>
                       <p ng-if="CCS.LEFlag" class="error" style="padding-top:5px;">Please tick the box to acknowledge the exclusion(s) and/or loading(s) before proceeding with your application.</p>
                    </div>
                   </div>
                 </div>
                </div>
             </div>
            </div>
            <div  ng-if="CCS.auraDetails.specialTerm == true">
             <div class="row	mt0	coverbg seccolor">
            <div class="col-sm-9 col-xs-6">
             <h5>Total {{CCS.freqCostType}} cost</h5>
           </div>
            <div class="col-sm-3 col-xs-6 alignright">
             <h4 class="coverval">{{CCS.totalPremium | currency}}</h4>
           </div>
            </div>
         	  <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by Hostplus</p>
       </div>
          </div>
       </div>



    <!-- Check bok for loading and exclusions  -->
       <div class="panel panel-default">
        <div class="panel-heading">
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" class="  ">
           <h4 class="panel-title"> Terms &amp; conditions </h4>
          </a>
        </div>
        <div id="collapse4" class="panel-collapse collapse in ">
            <div class="panel-body">
              <div class="col-xs-12">
              <div class="scrollBox">
              <p><strong class="color2">You must read and acknowledge the General Consent before proceeding</strong></p>
               <p> <strong class="color2">General consent</strong></p>
               <p>By clicking on the tick box below, I declare that:</p>
               		<ul>
               			<li>I have read and understand my Duty of Disclosure and the consequences of failing to comply with this Duty. I understand that this Duty applies until formal notification of acceptance of my application. </li>
               			<li>The answers to the questions in this application are true and correct, and I have not deliberately withheld any information material to the proposed insurance. </li>
               			<li> I agree to be bound by the terms and conditions attached to this cover as set out in the Insurance Policy Document between Hostplus and the Insurer, MetLife Insurance Limited ("MetLife"). </li>
               			<li> I have read the Hostplus privacy policy available at <a href="http://www.hostplus.com.au/privacy" class="" target="_new"> www.hostplus.com.au/privacy.</a> and the <a href="http://www.metlife.com.au/privacy/index.html" class="" target="_new"> MetLife Privacy Policy </a>
               			 and I consent to the collection, use and disclosure of my personal (including sensitive) information in accordance with the terms of these documents;</li>
               			 <li>I consent to MetLife seeking medical information from any doctor who at any time I have consulted prior to the date hereof. I consent to MetLife seeking medical information from any doctor who at any time I have consulted prior to the date hereof.</li>
               			 <li>I understand that my insurance cover will not become effective until MetLife has accepted this application in writing and provided my member account has adequate funds to meet the premium payable. I understand that increases or changes to insurance premiums may apply. </li>
               			 <li>I have read the insurance section of the current Hostplus Member Guide (Product Disclosure Statement) relevant to my Division, including the Member Guide Supplement: Insurance. </li>
               			 <li>I understand that if I have chosen fixed Total and Permanent Disablement cover that this cover will taper by 20% of the fixed Total and Permanent Disablement cover held, each year from the date I turn 61 years of age.</li>
               			 <li>I authorise any hospital, physician or other person who has attended me to furnish MetLife or its representatives, any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records.</li>
               			 <li>I understand that if I have any un-finalised requests for Transfer of Cover or Life Event Increase, these cover amounts will not be incorporated to the Total Cover amounts applied for under this application. </li>
           			</ul>
       			</p>
             </div>
             </div>
            <!-- Row ends -->
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':CCGCackFlag}" ng-click="checkAckStateGC()">
                     <div class="col-sm-12">
                      <label class="btn  checkboxes ack-checkbox-label" id="generalConsentLabel">
                       <input type="checkbox" class=" " id="option2">
                       <span></span><div class="custom-checkbox-label"> I acknowledge and consent to the above.</div>
                      </label>
                      <p ng-if="CCGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
                     </div>
                    </div>
                  </div>

            <hr class="primeline">
            <div class=" row rowcustom">
               <div class="col-sm-3 col-xs-12">
		        <!-- <a class="" href="" data-parent="#accordion" data-toggle="collapse"> -->
	             <button  class="btn btn-primary w100p btn-back" type="button" ng-if="!CCS.auraDisabled" ng-click="go('/aura')">Previous</button>
               <button  class="btn btn-primary w100p btn-back" type="button" ng-if="CCS.auraDisabled" ng-click="go('/quote')">Previous</button>
	             <!-- <button  class="btn btn-primary w100p" type="button" ng-click="go('/quote')">Previous</button> -->
		        <!-- </a> -->
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12 alignleft hidden-xs">
                <button type="button" class="btn btn-primary w100p avoid-arrow pr20px" ng-click="saveSummary()" > Save &amp; exit</button>
              </div>
              <div class="col-sm-3 col-xs-12 aligncenter   visible-xs">
                <button type="button" class="btn btn-primary w100p avoid-arrow pr20px" ng-click="saveSummary()" > Save &amp; exit</button>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12">
                <button type="button" class="btn btn-primary w100p no-arrow" ng-click="navigateToDecision()" >Submit</button>
              </div>
            </div>
        </div>
        </div>
       </div>

    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 467 875</h3>
        </div>
      </div>
    </div>
     </div>
  </div>
  <!-- /container -->
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-1   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext">HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
    </div>
    <div class="col-sm-4   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a>
         </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a></p>
    <p class="footertext"> HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>


<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900',
                    maxDate:'12/31/'+y,
                });
            });
</script>
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script>
