<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/host/header.html'"></div>
</div> 

<h2 ng-show="errorOccured" style="color:red;text-align: center;">Something went wrong...Please try after sometime</h2>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-xs-3 nav-arrows"> 
    <img src="static/host/images/bg_blank.png" ng-click="go('/auralifeevent/')" class=" icoMenuRev active  "> 
    <img src="static/host/images/bg_blank.png" class=" icoMenuFwd  ml30p">
    </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 467 875</h3>
      <h3 class="helpNo"> </h3>
    </div>
     
  </div>
   <div class="col-sm-9 landingPageBoxes">
	    <div class="menu hidden-xs">
	       <div class="col-sm-4 nn">
	        <h5 style="color:#0066a1">Step 1</h5>
	        <div class="txtHolder pointer"> <a ng-click="go('/lifeevent/')"> Personal details</a> </div>
	        <img src="static/host/images/bg_blank.png" class=" right">
	       </div>
	       
	        <div class="col-sm-4 nl" ng-if="!auraDisabled">
	         <img src="static/host/images/bg_blank.png" class=" left">
	         <h5 style="color:#0066a1">Step 2</h5>
	         <div class="txtHolder pointer"> <a ng-click="go('/auralifeevent/')"> Health &amp; lifestyle</a></div>
	         <img src="static/host/images/bg_blank.png" class=" right">
	        </div>
	        <div class="col-sm-4 nl" ng-if="auraDisabled" ng-disabled="auraDisabled">
	         <img src="static/host/images/bg_blank.png" class=" left">
	         <h5 style="color:#d9d9d9">Step 2</h5>
	         <div class="txtHolder"> <a style="color:#d9d9d9"> Health &amp; lifestyle</a></div>
	         <img src="static/host/images/bg_blank.png" class=" right">
	        </div>
	       
	        <div class="col-sm-4 cn">
	         <h5>Step 3</h5>
	         <div class="txtHolder" style="color:#000"> Confirmation </div>
	         <img src="static/host/images/bg_blank.png" class=" left"> 
	        </div>
	     </div>
	     
	    <div class="panel-group" id=" ">
	      <div class="panel panel-default twoColData">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="  ">
	          	<h4 class="panel-title">Personal details </h4>
	          </a> 
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse in ">
	          <div class="panel-body"> 
	          
	            <!-- Row starts -->
	            <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>First name</strong> </label>
	                <label class="control-label">{{lifeEventCoverDetails.firstName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                 <label class="control-label"> <strong>Last name</strong> </label>
	                 <label class="control-label">{{lifeEventCoverDetails.lastName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	         
	            <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>Gender</strong></label>
	                <label class="control-label">{{lifeEventCoverOccDetails.gender}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact type</strong> </label>
	                <label class="control-label"> {{lifeEventCoverDetails.contactType}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	         
	          <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd" >
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact number </strong></label>
	                <label class="control-label">{{lifeEventCoverDetails.contactPhone}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Email address</strong> </label>
	               <label class="control-label">{{lifeEventCoverDetails.email}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline hidden-xs" >
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Date of birth</strong> </label>
	                <label class="control-label"> {{lifeEventCoverDetails.dob}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>What time of day do you prefer to be contacted?</strong></label>
	               <label class="control-label" ng-if="lifeEventCoverDetails.contactPrefTime=='Morning (9am - 12pm)'">Morning (9am&ndash;12pm)</label>
	               <label class="control-label" ng-if="lifeEventCoverDetails.contactPrefTime=='Afternoon (12pm - 6pm)'">Afternoon (12pm&ndash;6pm)</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            
	              <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Do you work 15 or more hours per week?</strong> </label>
	               <label class="control-label">{{lifeEventCoverOccDetails.fifteenHr}}</label>
	            </div>	              
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Do you, directly or indirectly, own all or part of a business from which you earn your regular income?</strong></label>
	               <label class="control-label">{{lifeEventCoverOccDetails.ownBussinessQues}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	           <hr class="primeline hidden-xs">
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.ownBussinessQues == 'Yes'">
	                <label class="control-label"><strong>Are you currently: <br> 
                	 <li> Capable of, and performing all of the usual identifiable duties from your occupation, without restriction due to injury or illness?</li></strong>
                    </label>
                    <label class="control-label">{{lifeEventCoverOccDetails.ownBussinessYesQues}}</label>
	              </div>
	               <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.ownBussinessQues == 'No'">
	               <label class="control-label"><strong>With your current job, are you currently: <br> <li> Actively Performing all your normal duties of your occupation; and </li> <br> <li> Working your usual hours without limitation of injury or illness; and </li>
	                 <br> <li> Not entitled to, or not receiving any income support benefits of any kind.</li></strong>
	                </label>
	                <label class="control-label">{{lifeEventCoverOccDetails.ownBussinessNoQues}}</label>
	              </div>
	              <!-- <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Are you a citizen or permanent resident of Australia or a New Zealand citizen residing in Australia under a Special Category Visa?</strong> </label>
	                <label class="control-label">{{lifeEventCoverOccDetails.citizenQue}}</label>
	              </div> -->
	            </div>
	           <!-- Row ends -->
	             <hr class="primeline">
	            <!--  Row starts -->
	            <div class="row rowcustom ">
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Industry</strong> </label>
	               <label class="control-label">{{lifeEventCoverOccDetails.industryName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>What is your occupation?</strong></label>
	                <!-- <label class="control-label">{{lifeEventCoverOccDetails.occupation}}</label> -->
	                <label class="control-label" ng-show="lifeEventCoverOccDetails.occupation !='Other'">{{lifeEventCoverOccDetails.occupation}}</label>
	                <label class="control-label" ng-show="lifeEventCoverOccDetails.occupation =='Other'">{{lifeEventCoverOccDetails.otherOccupation}}</label>
	              </div>	              
	            </div>
	           <!--  Row ends -->
	           <!-- <hr class="primeline" ng-if="lifeEventCoverOccDetails.occupation =='Other'"> -->
	            <!-- Row starts -->
	            <!-- <div class="row rowcustom odd" ng-if="lifeEventCoverOccDetails.occupation =='Other'">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>If other, What is your occupation?</strong></label>	                
	                <label class="control-label" ng-show="lifeEventCoverOccDetails.occupation =='Other'">{{lifeEventCoverOccDetails.otherOccupation}}</label>
	              </div>
	            </div> -->
	            <!-- Row ends -->
				<!--  <hr class="primeline hidden-xs"> -->
	           
	             <hr class="primeline hidden-xs" ng-if="lifeEventCoverOccDetails.withinOfficeQue == 'Yes' || lifeEventCoverOccDetails.withinOfficeQue == 'No' || lifeEventCoverOccDetails.tertiaryQue == 'Yes' || lifeEventCoverOccDetails.tertiaryQue == 'No'">
	             <!-- Row starts -->
	            <div class="row rowcustom odd" ng-if="lifeEventCoverOccDetails.withinOfficeQue == 'Yes' || lifeEventCoverOccDetails.withinOfficeQue == 'No' || lifeEventCoverOccDetails.tertiaryQue == 'Yes' || lifeEventCoverOccDetails.tertiaryQue == 'No'">
	              
	              <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.withinOfficeQue == 'Yes' || lifeEventCoverOccDetails.withinOfficeQue == 'No'">
	               <!-- <label class="control-label"><p align="justify"><strong>Do you spend more than 10% of your working time outside of an office environment?</strong></p></label> -->
	               <label class="control-label"><p align="justify"><strong>Do you spend at least 90% of your working time in an office? (For example 34.2 hours out of a 38-hour working week)</strong></p></label>
	               <label class="control-label">{{lifeEventCoverOccDetails.withinOfficeQue}}</label>
	              </div>
	              
	              <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.tertiaryQue == 'Yes' || lifeEventCoverOccDetails.tertiaryQue == 'No'">
	                <label class="control-label"> <p align="justify"><strong>Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</strong></p> </label>
	                <label class="control-label">{{lifeEventCoverOccDetails.tertiaryQue}}</label>
	              </div>
	            </div>
	             <!--Row ends -->
	          
	             <hr class="primeline hidden-xs" ng-if="lifeEventCoverOccDetails.managementRoleQue == 'Yes' || lifeEventCoverOccDetails.managementRoleQue == 'No' || lifeEventCoverOccDetails.hazardousQue == 'Yes' || lifeEventCoverOccDetails.hazardousQue == 'No'">
	             <!-- Row starts -->
	            <div class="row rowcustom odd" ng-if="lifeEventCoverOccDetails.managementRoleQue == 'Yes' || lifeEventCoverOccDetails.managementRoleQue == 'No' || lifeEventCoverOccDetails.hazardousQue == 'Yes' || lifeEventCoverOccDetails.hazardousQue == 'No'">
	              
	              <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.managementRoleQue == 'Yes' || lifeEventCoverOccDetails.managementRoleQue == 'No'">
	               <!-- <label class="control-label"> <strong>Do you spend more than 10% of your working time outside of an office environment? </strong></label> -->
	               <label class="control-label"> <strong>Do you spend at least 90% of your working time in an office? (For example 34.2 hours out of a 38-hour working week)</strong></label>
	               <label class="control-label">{{lifeEventCoverOccDetails.managementRoleQue}}</label>
	              </div>
	             <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.hazardousQue == 'Yes' || lifeEventCoverOccDetails.hazardousQue == 'No'">
	                <label class="control-label"> <strong>Do you work in a hazardous environment and/or perform any duties of a manual nature?</strong></label>
	                <label class="control-label">{{lifeEventCoverOccDetails.hazardousQue}}</label>
	              </div>
	            </div>
	            <hr class="primeline hidden-xs">
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	              
	               <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Please select the specific life event you are applying under to increase your cover</strong> </label>
	               <label class="control-label">{{lifeEventCoverDetails.eventDesc}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>What is the date of the life event?</strong></label>
	               <label class="control-label">{{lifeEventCoverDetails.eventDate}}</label>
	              </div>
	            </div>
	          
	          
	          <hr class="primeline hidden-xs">
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	               <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Annual salary</strong> </label>
	               <label class="control-label">{{lifeEventCoverOccDetails.salary | currency:undefined:0}}</label>
	              </div>
	            </div>
	          
	          <!--   <hr class="primeline">
	            Row starts
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>Gender</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{lifeEventCoverOccDetails.gender}}</label>
	              </div>
	            </div> -->
	            <!-- Row ends -->
	           <!--  <hr class="primeline">
	            Row starts
	            <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Annual salary</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	              <label class="control-label">{{lifeEventCoverOccDetails.salary | currency:undefined:0}}</label>
	              </div>
	            </div> -->
	            <!-- Row ends -->
	           
	             <!--  <hr class="primeline hidden-xs">
	             Row starts
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.ownBussinessQues == 'Yes'">
	                <label class="control-label"><strong>Are you currently: <br> 
                	 <li> Capable of, and performing all of the usual identifiable duties from your occupation, without restriction due to injury or illness?</li></strong>
                    </label>
                    <label class="control-label">{{lifeEventCoverOccDetails.ownBussinessYesQues}}</label>
	              </div>
	               <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverOccDetails.ownBussinessQues == 'No'">
	               <label class="control-label"><strong>With your current job, are you currently: <br> <li> Actively Performing all your normal duties of your occupation; and </li> <br> <li> Working your usual hours without limitation of injury or illness; and </li>
	                 <br> <li> Not entitled to, or not receiving any income support benefits of any kind.</li></strong>
	                </label>
	                <label class="control-label">{{lifeEventCoverOccDetails.ownBussinessNoQues}}</label>
	              </div>
	            </div> -->
	            
	         
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default nobg">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseCover" class="">
	            <h4 class="panel-title"> Your cover</h4>
	            </a>
	        </div>
	        <div id="collapseCover" class="panel-collapse collapse in">
           <div class="panel-body">
       		 <div class="parent-flex-container">
         	   <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
           		<div class="box coverbg aligncenter">
                <h5 class="mb0">cover type</h5>
                <strong>Death<br>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong>
              </div>
	              <div class="box mt10px aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p class="color3"> {{lifeEventCoverDetails.deathAmt | currency:undefined:0}} </p>
	                <h5 class=" color2">New cover</h5>
	                <p class="color3">{{lifeEventCoverDetails.deathNewAmt | currency:undefined:0}} </p>
	                <h5 class=" color2">Occupational category </h5>
	                <p class="color3">{{lifeEventCoverDetails.deathOccCategory}}</p>
	                <h5 class=" color2">Weekly cost</h5>
	                <p class="color3">{{lifeEventCoverDetails.deathCoverPremium | currency}}</p>             
	              </div>
	               <p class="spacer">&nbsp;</p>
	            </div>
	            <!-- Death Cover Details Ends--> 
	            
	            <p class="spacer visible-xs">&nbsp;</p>
	            
	           <!-- TPD Cover Details Starts--> 
	           <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	               <strong>Total &amp; permanent<br> disablement
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong>
	                </div>
	              <div class="box mt10px aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p class="color3">{{lifeEventCoverDetails.tpdAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">New cover</h5>
	                <p class="color3">{{lifeEventCoverDetails.tpdNewAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category </h5>
	                <p class="color3">{{lifeEventCoverDetails.tpdOccCategory}}</p>
	                <h5 class=" color2">Weekly cost</h5>
	                <p class="color3">{{lifeEventCoverDetails.tpdCoverPremium | currency}}</p>
	              </div>
	              <p class="spacer">&nbsp;</p>
	              </div>
	             <!-- TPD Cover Details Ends--> 
	             
	             <p class="spacer visible-xs">&nbsp;</p>
	             
	             <!-- IP Cover Details Starts-->
	             <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Salary   <br>
	                continuance   <span class="visible-sm"><br>
	                </span></strong>
	                <span class="visible-sm"><br>
	                </span> &nbsp;
	                 </div>
	              <div class="box mt10px aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <!-- <p>{{lifeEventCoverDetails.existingIPAmt | currency:undefined:0}}</p> -->
	                <p class="color3">{{lifeEventCoverDetails.ipAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">New cover</h5>
	                <p class="color3">{{lifeEventCoverDetails.ipNewAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category </h5>
	                <p class="color3">{{lifeEventCoverDetails.ipOccCategory}}</p>
	                <h5 class=" color2">Waiting period</h5>
	                <p class="color3">{{lifeEventCoverDetails.waitingPeriod}}</p>
	                <h5 class=" color2">Benefit period</h5>
	                <p class="color3">{{lifeEventCoverDetails.benefitPeriod}}</p>
	                 <h5 class=" color2">Weekly cost</h5>
	                <p class="color3">{{lifeEventCoverDetails.ipCoverPremium | currency}}</p>
	                </div>
	                <p class="spacer">&nbsp;</p> 
	               </div>
	               <!-- IP Cover Details Ends-->
	             <!-- <div class="box mt10px aligncenter "> 
	                <p class=" mt15px">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class=" visible-sm ">&nbsp;</p>
	              </div> -->
	            </div>
	            
	            
	            <div class="row  mt0  coverbg seccolor ">
		            <div class="col-sm-9 col-xs-12">
		              <h5>&nbsp;Total weekly cost</h5>
		            </div>
		            <div class="col-sm-3 col-xs-6 alignright hidden-xs">
		              <h4 class="coverval">{{lifeEventCoverDetails.totalPremium | currency}}&nbsp;</h4>
		            </div>
		            <div class="col-sm-3 col-xs-6 visible-xs">
		              <h4 class="coverval" style="padding-left:3px;">{{lifeEventCoverDetails.totalPremium | currency}}&nbsp;</h4>
		            </div>
              	</div>
           	  	<p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by Hostplus Super</p>
	             <!-- <div class="box mt10px aligncenter "> 
	                 <p class=" mt15px">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer visible-sm visible-md">&nbsp;</p>
	                 <p class=" visible-sm ">&nbsp;</p>
	               </div> -->
	            </div>
	          </div>
	          <!-- <div class="row  mt0  coverbg seccolor ">
	            <div class="col-sm-9 col-xs-6">
	              <h5>Total weekly cost</h5>
	            </div>
	            <div class="col-sm-3 col-xs-6 alignright hidden-xs">
	              <h4 class="coverval">{{lifeEventCoverDetails.totalPremium | currency}}</h4>
	            </div>
	            <div class="col-sm-3 col-xs-6 alignright visible-xs">
	              <h4 class="coverval">{{lifeEventCoverDetails.totalPremium | currency}}</h4>
	            </div>
              </div>
           	  <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by Hostplus Super</p> -->
	            
          </div>
          <!-- Life Events Summary Starts-->
	      	<div class="panel panel-default twoColData">
		        <div class="panel-heading">  
		          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapselife" class="  ">
		           <h4 class="panel-title"> LIFE EVENT </h4>
		          </a> 
		        </div>
		        <div id="collapselife" class="panel-collapse collapse in ">
		          <div class="bgwhite">
					 
					
					 <!-- Row starts -->
	            <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Life Event</strong> </label>
	                <label class="control-label">{{lifeEventCoverDetails.eventDesc}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                 <label class="control-label"> <strong>Date of Event</strong> </label>
	                 <label class="control-label">{{lifeEventCoverDetails.eventDate}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
					 
		         <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>Have you successfully applied for an increase in cover due to a life event within this calendar year?</strong></label>
	                <label class="control-label">{{lifeEventCoverDetails.eventAlreadyApplied}}</label>
	              </div>
	          <!--     <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverDetails.documentName=='Yes'">
	                <label class="control-label"> <strong>Documents</strong> </label>
	                  <label class="control-label"><ul class="document-name-text">
	              <li class = "text-overflow-ellipsis" ng-repeat="fileDetails in uploadedFileDetails">
	              {{fileDetails.name}}
	              </li>
	              </ul></label>
	              </div> -->
	              
	             <!--  <div class="col-sm-6 col-xs-12" ng-if="lifeEventCoverDetails.documentName=='No'">
	                <label class="control-label"> <strong>If you have not been able to attach all the required documents, please check the box to indicate that you will send the supporting documents to the address below. </strong></label>
	                <label class="control-label">Yes</label>
	              </div> -->
	            </div>
	            <!-- Row ends -->
	            
	          <!--   <hr class="primeline hidden-xs" ng-if="lifeEventCoverDetails.documentName=='No'">
	            <div class="row rowcustom odd " ng-if="lifeEventCoverDetails.documentName=='No'">
	              <div class="col-sm-12 col-xs-12">
	                <label class="control-label"><strong>Address to send supporting documents</strong></label>
	                <label class="control-label"><p style="padding-top: 8px;"> Postal address: <br />&emsp;Hostplus<br>&emsp;Locked Bag 5046<br>&emsp;Parramatta<br>&emsp;NSW 2124</p></label>
	              </div>
	            </div> -->
		        
		      
		         </div>
		        </div>
	       	</div>
	       	</div>
     		<!-- Life Events Sumamry Ends -->
     		
     		     <!-- Documentary Evidence start -->
	           
	           <div class="panel panel-default twoColData">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseDocument" class="  ">
	          	<h4 class="panel-title">Documentary evidence</h4>
	          </a> 
	        </div>
	        <div id="collapseDocument" class="panel-collapse collapse in ">
	        <form autocomplete="off"  name="documentForm" novalidate role="form">
	          <div class="panel-body"> 
	                  <div class="" id="death" >
              <div class=" secrow" id="transferitrId_div_id" ng-class="{'has-error': fileNotUploadedError}">
                <div class=""></div>
                <div class=""></div>
                 <div class="row rowcustom">
                    <!--  <div id="attach_file_div_id" class="col-sm-5">
                     <label class="control-label primecolor"><strong style="font-size: 10pt;"> Evidence of your Existing Cover</strong></label>
                    </div> -->
                    <div class="col-sm-12">
                 
                    	<label class="control-label">Please attach documentary evidence of your event. You are required to upload: </label>
                          <span>
                              <div class="col-sm-12">
                                <label class="control-label"> {{event.evidenceHelpText}}
                                <ul style="padding:10px 0 0px 35px;list-style-type:disc;" ng-if="event.cde == 'FRST'">
                                  <li>stamped front page of the contract of sale or written confirmation of the new mortgage by the mortgage provider </li> 
                                  <br>and <br><br><li>statutory declaration confirming the purchased property will be the primary place of residence. </li>
                                </ul>
                                <ul style="padding:10px 0 0px 35px;list-style-type:disc;" ng-if="event.cde == 'BCFM'">
                                  <li>the care is necessary for medical reasons and likely to be required for a continuous period of at least 6 months.</li>
                                  <li>the care was not previously required.</li>
                                  <li>the person for whom you are providing care is an immediate family member.</li>
                                </ul>
                                </label>
                              </div>
                          </span>
                        <br>All copies must be certified. A certified copy is a copy of an original document that has been certified by any of 
                         the following acceptable persons: legal practitioner, Justice of the Peace, magistrate, notary public, police officer,
                         dentist, veterinary practitioner, pharmacist, accountant, Member of Parliament, minister of religion, and medical 
                         practitioner.<br><br>
                         A certified copy must be noted as follows: "I certify that I have sighted the original document and this is a true 
                         copy of it." This certification must have the certifier's full name, title, registration number (where applicable) and be signed and dated.
                  </div>
                </div>                
		     	<div class="row  rowcustom" style="margin-right:0px;">
                  <div class="col-sm-3">
                    <label class="control-label primecolor"><strong class="attach-file-label">Attach your file(s) </strong></label>
                  </div>
                   <div class="col-sm-4">
                   	<span class="">
                   		<input id="transfer_input_file_txt_id" ng-model="selectedFile.name" name="transfer_input_file_txt_id" disabled="" size="100" maxlength="200" type="text" class="form-control text-overflow-ellipsis file-upload-inp" name="file" value="{{}}"/>
                   	</span>	  
                   </div>
                   <div class="col-sm-3">
	                   <p class="spacer visible-xs"></p>
	                    <div class="fileUpload fleft">
	                    	 <a id="transferCvrFileUploadAddIdBtn" name="transferCvrFileUploadAddIdBtn" style="margin:0px !important" class="btn btn-default w100p" ngf-pattern="'image/*,application/pdf,*.txt,*.doc,*.docx,*.xls,*.xlsx,*.tif'"  ngf-select="uploadFiles($files, $invalidFiles)">
	                    		<span >Browse</span>
	                    	</a>  
	                    	<!--<input class="btn btn-default w100p" ng-change="uploadFiles()" text="Browse" type="file" name="file" /> -->
	                    </div>
	                    <p class="spacer visible-xs"></p>                
                   </div>
                   <div class="col-sm-2">
                     <p class="spacer visible-xs"></p>
                   	<a id="transferCvrFileUploadAddId" ng-disabled="!selectedFile.name" name="transferCvrFileUploadAddId" class="btn btn-default  Plus w100p m0" ng-click="addFilesToStack()" style="min-width:105px" >
                   		<span >Add</span>
                   	</a>
                  </div> 
                    <div class="row rowcustom" ng-if="fileSizeErrFlag == true">
		  		    <div class="col-sm-12">
	  			      <img src="static/host/images/warning.png" >
	                <label class="control-label">  {{fileSizeErrorMsg}} </label>	            
		  		   </div>
		     	</div>
		     	<div class="col-sm-3">&nbsp;</div>
		     	<div class="col-sm-9"> <p class="color2">Note: Supported file formats are *.pdf, *.txt, *.doc, *.docx, *.xls, *.xlsx, *.tif, *.png, *.jpg and *.jpeg</br>
		     	Maximum allowable size limit is 10MB per file.
		     	</p>
		     	<p class="error" ng-if="fileFormatError">Invalid size or format</p>
                 </div>
                </div>
		      <div class="row rowcustom">
                <div class="col-sm-3">&nbsp;</div>
                 <div class="col-sm-9">
                  <ul class="files">
                  	 <li ng-repeat="file in files track by $index" class="text-overflow-ellipsis">
                  		<img src="static/host/images/bg_blank.png" class="icoAttach mr10px" /> 
                  		<a class="color1">{{file.name}}</a> <span>({{(file.size/1024 || 0) | number:0}} Kb)</span>
                  		<img src="static/host/images/bg_blank.png" class="closeb" ng-click="removeFile($index)" />
                     </li>
                  </ul>
			    </div>
			   </div>                                                                                                                                         
	          <p class="error" ng-if="fileNotUploadedError" style="margin-top:5px; margin-left: 16px; text-align:justify; margin-right:16px;font-size:16px">  If you have not been able to attach the required documents, you will not be able to proceed with the rest of this application. Please note: you do have the option to &#34;Save & Exit&#34; out of the application and proceed with attaching the mandatory documents at a later stage. You can then  access your application under the &#34;Saved applications&#34; button.</p>
	     	</div>
            </div> 
	          
	         
	          </div>
	          </form>
	        </div>
	      </div>
	      
	      <!-- Documentary Evidence End -->
     		<!-- Terms and conditions -->
     		<div class="panel panel-default nobg">
		        <div class="panel-heading">  
		          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" class="  ">
		           <h4 class="panel-title"> Terms &amp; conditions </h4>
		          </a> 
		        </div>
		        <div id="collapse4" class="panel-collapse collapse in ">
		          <div class="bgwhite">            
		             <div class="row rowcustom ">
		              <div class="col-sm-12">
		              <div class="scrollBox">
		              <p><strong>You must read and acknowledge the General Consent before proceeding</strong></p>
		               <p> <strong>General consent</strong></p>
		               <p align="justify">By clicking on the tick box below, I declare that:</p> 
		               		<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
		               			<li>I have read and understand my Duty of Disclosure and the consequences of failing to comply with this Duty. I understand that this Duty applies until formal notice of acceptance of my application;</li>
		               			<li>The answers to the questions in this application are true and correct, and I have not deliberately withheld any information material to the proposed insurance.</li>
		               			<li> I agree to be bound by the terms and conditions attached to this cover as set out in the Insurance Policy Document between Hostplus and the Insurer.</li>
		               			<li> I have read the Hostplus privacy policy available at <a href="http://www.hostplus.com.au/privacy" class="" target="_new"> www.hostplus.com.au/privacy.</a> and the <a href="http://www.metlife.com.au/privacy/index.html" class="" target="_new"> MetLife Privacy Policy </a>
		               			and I consent to the collection, use and disclosure of my personal (including sensitive) information in accordance with the terms of these documents;</li>
		               			 <li>I consent to MetLife Insurance Limited ("MetLife") seeking medical information from any doctor who at any time I have consulted prior to the date hereof.</li>
		               			 <li>I understand that my insurance cover will not become effective until MetLife has accepted this application in writing and provided my member account has adequate funds to meet the premium payable. I understand that increases or changes to insurance premiums may apply. </li>
		               			 <li>I have read the insurance section of the current Hostplus Member Guide (Product Disclosure Statement) relevant to my Division, including the Member Guide Supplement: Insurance.</li>
		               			 <li>I understand that if I have chosen fixed Total and Permanent Disablement cover that this cover will taper by 20% of the fixed Total and Permanent Disablement cover held, each year from the date I turn 61 years of age.</li>
		               			 <li>I authorise any hospital, physician or other person who has attended me to furnish MetLife or its representatives, any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records.</li>
		               			 <li>I understand that the acceptance of the proposed increased amount of insurance is conditional upon my disclosure of all matters known to me that are relevant to MetLife's decision to increase the amount insured. If this condition is not met, the increased amount of insurance may be reduced or not paid. </li>
		               			 <li>I understand that if I apply for any other increase in cover when this application is not yet finalised, the additional cover amounts applied for under this application may be reduced or not paid.</li>
		           			</ul>
		           			</div>
		             </div>
		            </div>
		            <!-- Row ends -->
		            <hr class="primeline">
		              <div class="row rowcustom ">
		                <div class="col-sm-12">
		                  <div data-toggle="buttons" class=" btn-group-vertical    ">
		                   <div class="row rowcustom" ng-class="{'has-error':CCGCackFlag}" ng-click="checkAckStateGC()">
		                     <div class="col-sm-12">
		                      <label class="btn  checkboxes   " id="generalConsentLabel">
		                       <input type="checkbox" class=" " id="option2">
		                       <span></span> I agree to all the above Terms &amp; Conditions 
		                      </label>
		                      <p ng-if="CCGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
		                     </div>
		                    </div>
		                  </div>
		                 </div>
		              </div>
		            
		            <hr class="primeline">
		            <div class=" row rowcustom">
		            
		            <div class="col-sm-4 col-xs-12">
		            	<a class="" href="" data-parent="#accordion" data-toggle="collapse">
		            		<button  class="btn btn-primary btn-back w100p" type="button"  ng-click="go('/auralifeevent/')">Previous</button>
				        </a>
				     </div>
				     
				     <p class="spacer visible-xs">&nbsp;</p>
				     <div class="col-sm-4 col-xs-12 alignleft hidden-xs">
				     	<button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="saveSummary()" > Save &amp; Exit</button>
				     </div>
				     
				     <div class="col-sm-4 col-xs-12 aligncenter  visible-xs"> 
				     	<button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="saveSummary()" > Save &amp; Exit</button>
				     </div>
				     <p class="spacer visible-xs">&nbsp;</p>
				     <div class="col-sm-4 col-xs-12">
		                <button type="button" class="btn btn-primary w100p no-arrow" ng-click="navigateToDecision()" >Submit</button>
		              </div>
		        
		            </div>
		         </div>
		        </div>
		    </div>
    
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 467 875</h3>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- /container --> 
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-1   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext">HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
    </div>	
    <div class="col-sm-4   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a>
         </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a></p>
    <p class="footertext"> HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>


<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider2' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount2' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script>

