<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/host/header.html'"></div>
</div>

<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
 <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">1 / 3</span> Personal details </div>
    </div>
    <div class="col-xs-3"> <img src="static/host/images/bg_blank.png" class=" icoMenuRev  "> <img src="static/host/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 467 875</h3>
      <h3 class="helpNo"> </h3>
    </div>
  </div>

  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-4 cn first">
        <h5>Step 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="static/host/images/bg_blank.png" class=" right"> </div>

      <div class="col-sm-4 cnn" > <img src="static/host/images/bg_blank.png" class=" left">
        <h5>Step 2</h5>
        <div class="txtHolder"> Health &amp; lifestyle</div>
        <img src="static/host/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 nl">
        <h5>Step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="static/host/images/bg_blank.png" class=" left"> </div>
    </div>

    <!--Duty of Disclosure Section starts  -->
		<div class="panel-group" id="accordiondod">
			<div class="panel panel-default">
				<div id="collapseduty">
					<form autocomplete="off"  name="formduty" role="form" novalidate>
						<div class="panel-body">
							<div class="col-sm-12">
								<p class="normal" style="text-align: justify; margin-top: 8px;"></p>
								<p><strong class="color">Insured's duty of disclosure</strong></p>
                <div class="scrollBox">
  								<p>A person who enters into a life insurance contract in respect of your life has a duty, before entering into the contract, to tell the Insurer anything that he or she knows, or could reasonably be expected to know, may affect the Insurer's	decision to provide the insurance and on what terms.</p>
  								<p>The person entering into the contract has this duty until the Insurer agrees to provide the insurance.</p>
  								<p>The person entering into the contract has the same duty before he or she extends, varies or reinstates the contract.</p>
  								<p>The person entering into the contract does not need to tell the Insurer anything that:</p>
  								<ul class="listing" style="margin: 0 0 10px 30px;">
  									<li>reduces the risk the Insurer insures you for; or</li>
  									<li>is common knowledge; or</li>
  									<li>the Insurer knows or should know as an insurer; or</li>
  									<li>the Insurer waives your duty to tell the Insurer about.</li>
  								</ul>
  								<p>If you do not tell the Insurer something that you know,
  									or could reasonably be expected to know, may affect the
  									Insurer's decision to provide the insurance and on what terms,
  									this may be treated as a failure by the person entering into
  									the contract to tell the Insurer something that he or she must
  									tell the Insurer.</p>
  								<strong class="color">If the person entering the contract does not tell the Insurer something</strong><br>
  								<br>
  								<p>In exercising the following rights, the Insurer may
  									consider whether different types of cover can constitute
  									separate contracts of life insurance. If they do, the Insurer
  									may apply the following rights separately to each type of
  									cover.</p>
  								<p>If the person entering into the contract does not tell the Insurer anything he or she is required to, and the Insurer would not have provided the insurance if he or she had told the Insurer, the Insurer may avoid the contract within 3 years of entering into it.</p>
  								<p>If the Insurer choose not to avoid the contract, the Insurer may, at any time, reduce the amount of insurance provided. This would be worked out using a formula that takes into account the premium that would have been payable if he or she had told the Insurer everything he or she should have. However, if the contract has a surrender value, or provides cover on death, the Insurer may only exercise this right within 3 years of entering into the contract.</p>
  								<p>If the Insurer chooses not to avoid the contract or reduce the amount of insurance provided, the Insurer may, at any time vary the contract in a way that places the Insurer in the same position the Insurer would have been in if he or she had told the Insurer everything he or she should have. However, this right does not apply if the contract has a surrender value or provides cover on death.</p>
  								<p>If the failure to tell the Insurer is fraudulent, the Insurer may refuse to pay a claim and treat the contract as if it never existed.</p>
                </div>
								<div class="row rowcustom" ng-class="{'has-error':dodFlagErr}" >
									<div class="col-sm-12">
										<div class="btn-group-vertical" data-toggle="buttons">
											 <div class=" row rowcustom" >
                         <div class="col-sm-12">
                          <label class="btn checkboxes col-xs-12 ack-checkbox-label" ng-class="{'active': QPD.dodCheck}" id="dodLabel" ng-click="checkDodState()">
                            <input type="checkbox" id="dodlabelCheck" name="dod" required>
                            <span></span>  <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above </div>
                          </label><p ng-if="dodFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
                        </div>
											</div>
										</div>
									</div>
								</div>
								<p></p>
							</div>
						</div>
					</form>
				</div>
			</div>
		<!-- </div> -->

	<!--Duty of Disclosure Section starts  -->


    <!--Privacy Policy Section starts  -->
			<div class="panel panel-default">
				<div class="panel-heading" ng-click="isCollapsible('collapseprivacy', $event)">
					<a data-toggle="collapse" data-parent="#accordionprivacy" data-target="#collapseprivacy" class="collapsed" ng-class="{'disabled': dodFlagErr}">
						<h4 class="panel-title">Privacy statement</h4>
					</a>
				</div>
				<div id="collapseprivacy" class="panel-collapse collapse">
					<form autocomplete="off"  name="cancelprivacyPolicyForm" role="form" novalidate>
						<div class="panel-body">
							<div class=" col-sm-12">
								<p class="normal" style="text-align: justify; margin-top: 8px;"></p>
								<p><strong>You must read and acknowledge the Privacy Statement before proceeding</strong></p>
								<div class="scrollBox">
  								<p>
  									<strong class="color2">Your privacy with MetLife
  										Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife' or
  										the 'Insurer') </strong> <br> If you make a claim under this
  									policy the Insurer may conduct investigations to assess the
  									value and validity of the claim. This may involve the use of
  									investigation agents, legal advisors and the collection of
  									personal data that MetLife believes is relevant. MetLife
  									complies with the Privacy Act 1988 and the principles laid out
  									on their privacy policy, which is readily available on request
  									and also available online at <a
  										href="http://www.metlife.com.au/privacy" target="_new"><strong
  										class="summary"> www.metlife.com.au/privacy </strong></a>.
  								</p>
  								<p>
  									<strong class="color2"> <br> Your privacy as a
  										member of Your Super Fund
  									</strong><br>The information you provide in this form is collected
  									by and held by Hostplus' administrator,
  									Superpartners to administer your insurance within your Hostplus
  									account. If you do not provide the requested information, we
  									may be unable to properly administer your insurance. Your
  									personal and sensitive information will only be disclosed to
  									Hostplus staff as required, our administrators
  									Superpartners, Metlife Insurance Limited and/or our legal or
  									other professional advisors if reasonably necessary. <br>
  									The Hostplus Privacy Policy provides
  									information about overseas disclosure of personal information,
  									how you may access and seek correction of your personal
  									information as well as how you can make a complaint about a
  									breach of the Australian Privacy Principles or the Privacy Act
  									1988. You can access the Hostplus Privacy
  									Policy at <a href="http://www.hostplus.com.au/privacy"
  										target="_new"><strong class="summary">
  											www.hostplus.com.au/privacy. </strong></a> For all privacy related
  									questions or privacy related matters you can contact Hostplus
  									on <strong>1300 Hostplus (1300 467 875)</strong> or via email
  									at <a href="mailto:privacy@mail.hostplus.com.au" target="_top"><strong
  										class="summary"> privacy@mail.hostplus.com.au </strong></a>
  								</p>
                </div>
								<div class="row rowcustom " ng-class="{'has-error':privacyFlagErr}">
									<div class="col-sm-12">
										<div class="btn-group-vertical" data-toggle="buttons">
											 <div class=" row rowcustom" >
                         <div class="col-sm-12">
                           <label class="btn checkboxes col-xs-12 ack-checkbox-label" ng-class="{'active': QPD.privacyCheck}" id="privacyLabel" ng-click="checkPrivacyState()">
                            <input type="checkbox" id="privacylabelCheck" name="privacy" required>
                            <span></span>  <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above </div>
                           </label>
                           <p ng-if="privacyFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the privacy statement.</p>
                        </div>
											</div>
										</div>
									</div>
								</div>
								<p></p>
							</div>
						</div>
					</form>
				</div>
			</div>
		<!--Privacy Policy Section starts  -->

     <!--Contact Details Section starts  -->
      <!-- <div class="panel-group" id="accordionContact"> -->
      <div class="panel panel-default">
        <div class="panel-heading" ng-click="isCollapsible('collapseOne', $event)">
          <a data-toggle="collapse"  data-target="#collapseOne" class="collapsed">
           <h4 class="panel-title"> Contact details</h4>
          </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
         <form autocomplete="off"  name="formOne" role="form"  novalidate>
          <div class="panel-body">

            <!-- Row starts -->
            <div class="row rowcustom first">
              <div class="col-sm-12">
                <label class="control-label"> Please leave your contact details in the event we need to contact you</label>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">

            <!-- Row starts -->

            <div class="row rowcustom " >
              <div class="col-sm-5 col-sm-12" ng-class="{'has-error':(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required) }">
                <label class="control-label"> Email address </label>
                <input class="form-control" ng-model-options="modelOptions" ng-pattern="emailFormat" maxlength="50" ng-focus="checkPreviousMandatoryFields('contactEmail','formOne')" name="contactEmail" ng-class = "(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required)  ? 'error-border':''" ng-model="QPD.email" type="email" placeholder="Enter your email" required>
	            <span ng-if="(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required) || (formOne.$submitted && formOne.contactEmail.$error.pattern)" class="error">Please enter your email address</span>
           </div>
           
              <div class="col-md-7 col-sm-12" ng-class="{'has-error':(formOne.contactPhone.$invalid && formOne.contactPhone.$touched) || ((formOne.$submitted && formOne.contactPhone.$error.required)  ||(formOne.contactPhone.$error.pattern))}">
                <label class="control-label"> Preferred contact number </label>
              <div class="row">
              <div class="col-sm-5 col-xs-12 mmb10px">
                <select  name="contactType" class="form-control" ng-model="QPD.contactType" ng-change="changePrefContactType()" ng-options="contact.value as contact.text for contact in contactTypeOptions">
                 <option value="">Please select</option>
                </select>
              </div>
     
              <div class="col-sm-7 col-xs-12">
                <input class="form-control" ng-model-options="modelOptions" ng-pattern="phoneNumbr" ng-disabled="!QPD.contactType" phone-only id="preferrednumCCId" onkeyup="return isIntegerFun(this);"  onkeypress="return isIntegerFun(this);" maxlength="10" ng-focus="checkPreviousMandatoryFields('contactPhone','formOne')" name="contactPhone" ng-class = "{'error-border': formOne.contactPhone.$invalid && formOne.contactPhone.$touched || formOne.$submitted}" ng-model="QPD.contactPhone" type="text" placeholder="Enter your Phone No" required>
                <span ng-if="(formOne.contactPhone.$invalid && formOne.contactPhone.$touched) || ((formOne.contactType.$touched && formOne.contactPhone.$error.required)  ||(formOne.contactPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
              </div>
              </div>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">

            <!-- Row starts -->
           <div class="row rowcustom" >
              <div class="col-lg-6 col-md-12" ng-class="{'has-error':(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required )}">
                <label class="control-label"> What time of day do you prefer to be contacted? </label>
                <span id="tick 3" style=" visibility:hidden">
                 <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span>
                </span>
             
             <div class="btn-group">
                <div class="col-xs-12 col-lg-6 p0">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.contactPrefTime == '1')}">
                      <input class="ipradio " ng-click="checkPreviousMandatoryFields('contactPrefTime','formOne')" name="contactPrefTime"
                      ng-class = "(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required)  ? 'radio-validation':''"
                       ng-model="QPD.contactPrefTime" type="radio" value="1" required>
                      <span></span> Morning (9am&ndash;12pm) </label>
                  </div>
                  <div class="col-xs-12 col-lg-6  p0">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.contactPrefTime == '2')}">
                      <input class='ipradio' ng-click="checkPreviousMandatoryFields('contactPrefTime','formOne')" name="contactPrefTime"
                       ng-class = "(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.contactPrefTime" type="radio" value="2" required>
                      <span></span> Afternoon (12pm&ndash;6pm) </label>
                  </div>
                 <span ng-if="(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
              </div>
             </div>

             <div class="col-lg-6 col-md-12" ng-class="{'has-error':(formOne.gender.$error.required && formOne.gender.$touched) || (formOne.$submitted && formOne.gender.$error.required )}">
                    <label class="control-label"> Gender </label>
                  <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                        <label class="btn radiobutton" ng-class="{'active': (QPD.occupationDetails.gender == 'Male')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','formOne')"
                       ng-class = "(formOne.gender.$error.required && formOne.gender.$touched) || (formOne.$submitted && formOne.gender.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.gender" value="Male" required ng-change="calculateOnChange()">
                          <span></span> Male </label>
                         </div>
                      <div class="col-xs-12 col-md-6">
                        <label class="btn   radiobutton" ng-class="{'active': (QPD.occupationDetails.gender == 'Female')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','formOne')"
                       ng-class = "(formOne.gender.$error.required && formOne.gender.$touched) || (formOne.$submitted && formOne.gender.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.gender" value="Female" required ng-change="calculateOnChange()">
                          <span></span> Female </label>
                        </div>
                    
                     <span class="error" ng-if="(formOne.gender.$error.required && formOne.gender.$touched) || (formOne.$submitted && formOne.gender.$error.required )">Please select gender</span>
                  </div>
                  </div>
                  </div>
             
                  
            <!-- <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">
             	<a data-toggle="collapse" data-parent="#accordion"  >
             	<button class="btn btn-primary w100p" ng-click="onFormContinue(formOne);" type="button">Continue</button>
             	</a>
              </div>
            </div> -->
            </div>
            </form>
            </div>
          </div>
      <!-- Contact Details Section ends -->


      <!-- Occupation section starts -->

      <div class="panel panel-default" >
        <div class="panel-heading" ng-click="isCollapsible('collapseTwo', $event)"> <a data-toggle="collapse"  data-target="#collapseTwo" class=" collapsed  ">
          <h4 class="panel-title">Occupation </h4>
          </a> </div>
        <div id="collapseTwo" class="panel-collapse collapse">
         <form autocomplete="off"  name="occupationForm" id="occupFormId" novalidate role="form">
          <div class="panel-body">
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required )}">
              <div class="col-xs-12 col-sm-6">
                <label class="control-label"> Do you work 15 or more hours per week? </label>
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.fifteenHr == 'Yes')}">
                      <input type="radio" name="fifteenHrsQuestion "  class="ipradio" ng-click="checkPreviousMandatoryFields('fifteenHrsQuestion','occupationForm')"
                       ng-class = "(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.fifteenHr" type="radio" value="Yes" ng-change="toggleIPCondition()" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.fifteenHr == 'No')}">
                      <input type="radio" name="fifteenHrsQuestion"  class="ipradio" ng-click="checkPreviousMandatoryFields('fifteenHrsQuestion','occupationForm')"
                       ng-class = "(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.fifteenHr" type="radio" value="No" ng-change="toggleIPCondition()" required>
                      <span></span> No
                    </label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.fifteenHrsQuestion.$error.required && occupationForm.fifteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fifteenHrsQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">

            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.ownBussinessQuestion.$error.required && occupationForm.ownBussinessQuestion.$touched) || (occupationForm.$submitted && occupationForm.ownBussinessQuestion.$error.required )}">
              <div class="col-xs-12">
                <label class="control-label">Do you, directly or indirectly, own all or part of a business from which you earn your regular income?</label>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn radiobutton" ng-class="{'active': (QPD.occupationDetails.ownBussinessQues == 'Yes')}">
                      <input name="ownBussinessQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('ownBussinessQuestion','occupationForm')"
                       ng-class = "(occupationForm.ownBussinessQuestion.$error.required && occupationForm.ownBussinessQuestion.$touched) || (occupationForm.$submitted && occupationForm.ownBussinessQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.ownBussinessQues" ng-change="checkOwnBusinessQuestion()" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn radiobutton" ng-class="{'active': (QPD.occupationDetails.ownBussinessQues == 'No')}">
                      <input name="ownBussinessQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('ownBussinessQuestion','occupationForm')"
                       ng-class = "(occupationForm.ownBussinessQuestion.$error.required && occupationForm.ownBussinessQuestion.$touched) || (occupationForm.$submitted && occupationForm.ownBussinessQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.ownBussinessQues" ng-change="checkOwnBusinessQuestion()" type="radio" value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.ownBussinessQuestion.$error.required && occupationForm.ownBussinessQuestion.$touched) || (occupationForm.$submitted && occupationForm.ownBussinessQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            <!-- Row ends -->
            <div ng-if="QPD.occupationDetails.ownBussinessQues =='Yes'">
             <hr class="primeline">
             <!-- Row starts -->
              <div class="row rowcustom" ng-class="{'has-error':(occupationForm.ownBussinessYesQuestion.$error.required && occupationForm.ownBussinessYesQuestion.$touched) || (occupationForm.$submitted && occupationForm.ownBussinessYesQuestion.$error.required )}">
                <div class="col-sm-12">
                  <label class="control-label">Are you currently: </label>
                  <ul>
                  	<li> Capable of, and performing all of the usual identifiable duties from your occupation, without restriction due to injury or illness?</li>
                  </ul>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="btn-group">
                    <div class="col-xs-12 col-md-6">
                      <label class="btn radiobutton" ng-class="{'active': (QPD.occupationDetails.ownBussinessYesQues == 'Yes')}">
                        <input name="ownBussinessYesQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('ownBussinessYesQuestion','occupationForm')"
                         ng-class="(occupationForm.ownBussinessYesQuestion.$error.required && occupationForm.ownBussinessYesQuestion.$touched) || (occupationForm.$submitted && occupationForm.ownBussinessYesQuestion.$error.required)  ? 'radio-validation':''"
                        ng-model="QPD.occupationDetails.ownBussinessYesQues" type="radio" value="Yes" required>
                        <span></span>Yes</label>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <label class="btn radiobutton" ng-class="{'active': (QPD.occupationDetails.ownBussinessYesQues == 'No')}">
                        <input name="ownBussinessYesQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('ownBussinessYesQuestion','occupationForm')"
                         ng-class="(occupationForm.ownBussinessYesQuestion.$error.required && occupationForm.ownBussinessYesQuestion.$touched) || (occupationForm.$submitted && occupationForm.ownBussinessYesQuestion.$error.required)  ? 'radio-validation':''"
                        ng-model="QPD.occupationDetails.ownBussinessYesQues" type="radio" value="No" required>
                        <span></span> No </label>
                    </div>
                  </div>
                  <span class="error" ng-if="(occupationForm.ownBussinessYesQuestion.$error.required && occupationForm.ownBussinessYesQuestion.$touched) || (occupationForm.$submitted && occupationForm.ownBussinessYesQuestion.$error.required )">Please select Yes or No</span>
                </div>
              </div>
              <!-- Row ends -->
            </div>
             <div ng-if="QPD.occupationDetails.ownBussinessQues =='No'">
             <hr class="primeline">

            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.ownBussinessNoQuestion.$error.required && occupationForm.ownBussinessNoQuestion.$touched) || (occupationForm.$submitted && occupationForm.ownBussinessNoQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">With your current job, are you currently: <br> <li> Actively Performing all your normal duties of your occupation; and </li> <br> <li> Working your usual hours without limitation of injury or illness; and </li> <br> <li> Not entitled to, or not receiving any income support benefits of any kind.</li></label>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.ownBussinessNoQues == 'Yes')}">
                      <input name="ownBussinessNoQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('ownBussinessNoQuestion','occupationForm')"
                       ng-class = "(occupationForm.ownBussinessNoQuestion.$error.required && occupationForm.ownBussinessNoQuestion.$touched) || (occupationForm.$submitted && occupationForm.ownBussinessNoQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.ownBussinessNoQues" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.ownBussinessNoQues == 'No')}">
                      <input name="ownBussinessNoQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('ownBussinessNoQuestion','occupationForm')"
                       ng-class = "(occupationForm.ownBussinessNoQuestion.$error.required && occupationForm.ownBussinessNoQuestion.$touched) || (occupationForm.$submitted && occupationForm.ownBussinessNoQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.ownBussinessNoQues" type="radio" value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.ownBussinessNoQuestion.$error.required && occupationForm.ownBussinessNoQuestion.$touched) || (occupationForm.$submitted && occupationForm.ownBussinessNoQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>
            <!-- Row ends -->
             <!-- <hr class="primeline"> -->
            <!-- Row starts -->
            <!-- <div class="row rowcustom" ng-class="{'has-error':(occupationForm.areyouperCitzQuestion.$error.required && occupationForm.areyouperCitzQuestion.$touched) || (occupationForm.$submitted && occupationForm.areyouperCitzQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">Are you a citizen or permanent resident of Australia or a New Zealand citizen residing in Australia under a Special Category Visa?</label>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.citizenQue == 'Yes')}">
                      <input name="areyouperCitzQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('areyouperCitzQuestion','occupationForm')"
                       ng-class = "(occupationForm.areyouperCitzQuestion.$error.required && occupationForm.areyouperCitzQuestion.$touched) || (occupationForm.$submitted && occupationForm.areyouperCitzQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.citizenQue" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.citizenQue == 'No')}">
                      <input name="areyouperCitzQuestion" class="ipradio" ng-click="checkPreviousMandatoryFields('areyouperCitzQuestion','occupationForm')"
                       ng-class = "(occupationForm.areyouperCitzQuestion.$error.required && occupationForm.areyouperCitzQuestion.$touched) || (occupationForm.$submitted && occupationForm.areyouperCitzQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.citizenQue" type="radio" value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.areyouperCitzQuestion.$error.required && occupationForm.areyouperCitzQuestion.$touched) || (occupationForm.$submitted && occupationForm.areyouperCitzQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div> -->
            <!-- Row ends -->
             <hr class="primeline">

            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label" > What industry do you work in?</label>
              </div>
              <div class="col-sm-12 ">
                <select class="form-control" name="industry" ng-focus="checkPreviousMandatoryFields('industry','occupationForm')"  ng-class = "(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required)  ? 'error-border':''" ng-model="QPD.occupationDetails.industryCode" ng-change="getOccupations()" required>
                  <option value="">Please select...</option>
                  <option ng-repeat="industry in IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
                </select>
                <span class="error" ng-if="(occupationForm.industry.$error.required && occupationForm.industry.$touched) || (occupationForm.$submitted && occupationForm.industry.$error.required )">Please select the industry type.</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">

            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What is your current occupation?</label>
              </div>
              <div class="col-sm-12 ">
                <select  class="form-control" name="occupation" ng-focus="checkPreviousMandatoryFields('occupation','occupationForm')"  ng-class = "(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required)  ? 'error-border':''" ng-model="QPD.occupationDetails.occupation" ng-change="getCategoryFromDB(true)" required>
                  <option value="">Please select...</option>
                   <option ng-repeat="occupation in OccupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
                </select>
                 <span class="error" ng-if="(occupationForm.occupation.$error.required && occupationForm.occupation.$touched) || (occupationForm.$submitted && occupationForm.occupation.$error.required )">Select the occupation which best best matches with your current occupation.</span>
              </div>
              <div class="col-sm-12 "><label class="helpHintLabel">If you do not select an occupation from the occupations listed, your premiums will be shown at standard rates.</label></div>
            </div>

            <div ng-if="QPD.occupationDetails.occupation =='Other'">
             <hr class="primeline">
             <div class="row rowcustom " ng-class="{'has-error':(occupationForm.otherOccupation.$invalid && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required)}">
              <div class="col-sm-5" >
                <label class="control-label">  Please enter your occupation  </label>
              </div>
              <div class="col-sm-7 col-xs-12">              
               <!--  <input class="form-control" ng-focus="checkPreviousMandatoryFields('otherOccupation','occupationForm');" maxlength="150" name="otherOccupation" ng-class = "(occupationForm.otherOccupation.$invalid && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required)  ? 'error-border':''" ng-model="QPD.occupationDetails.otherOccupation" type="text" placeholder="Enter your occupation" uib-typeahead="occupationList as occupationList for occupationList in getOtherOccupationAS($viewValue)"  ng-blur="getCategoryFromDB(true)" required> -->
               <input class="form-control" ng-focus="checkPreviousMandatoryFields('otherOccupation','occupationForm');" maxlength="150" name="otherOccupation" ng-class = "(occupationForm.otherOccupation.$invalid && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required)  ? 'error-border':''" ng-model="QPD.occupationDetails.otherOccupation" type="text" placeholder="Enter your occupation" required>
                <span ng-if="(occupationForm.otherOccupation.$invalid && occupationForm.otherOccupation.$touched) || (occupationForm.$submitted && occupationForm.otherOccupation.$error.required) " class="error">Please enter your occupation</span>
                <!-- <span ng-if="noResults && occupationList.length>0" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true"> <ul style="list-style: none;" class="uib-dropdown-menu" > <li><a href  ng-click="!noResults">No records found</a></li></ul></span> -->                
              </div>
           </div>
          </div>
            <!-- Row ends -->


            <div ng-if="showHazardousQuestion">
            <hr class="primeline">
             <div class="row rowcustom" ng-class="{'has-error':(occupationForm.hazardousQuestion.$error.required && occupationForm.hazardousQuestion.$touched) || (occupationForm.$submitted && occupationForm.hazardousQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">  Do you work in a hazardous environment and/or perform any duties of a manual nature? </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-xs-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.hazardousQue == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="hazardousQuestion" ng-click="checkPreviousMandatoryFields('hazardousQuestion','occupationForm')"
                       ng-class = "(occupationForm.hazardousQuestion.$error.required && occupationForm.hazardousQuestion.$touched) || (occupationForm.$submitted && occupationForm.hazardousQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.hazardousQue" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton  " ng-class="{'active': (QPD.occupationDetails.hazardousQue == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="hazardousQuestion" ng-click="checkPreviousMandatoryFields('hazardousQuestion','occupationForm')"
                       ng-class = "(occupationForm.hazardousQuestion.$error.required && occupationForm.hazardousQuestion.$touched) || (occupationForm.$submitted && occupationForm.hazardousQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.hazardousQue" ng-change="renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.hazardousQuestion.$error.required && occupationForm.hazardousQuestion.$touched) || (occupationForm.$submitted && occupationForm.hazardousQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>

            <div ng-if="showOutsideOfficeQuestion">
                <hr class="primeline">
                <div class="row rowcustom" ng-class="{'has-error':(occupationForm.outsideOffice.$error.required && occupationForm.outsideOffice.$touched) || (occupationForm.$submitted && occupationForm.outsideOffice.$error.required )}">
              <div class="col-sm-12">
                <!-- <label class="control-label"> Do you spend more than 10% of your working time outside of an office environment? </label> -->
                <label class="control-label"> Do you spend at least 90% of your working time in an office? (For example 34.2 hours out of a 38-hour working week) </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-xs-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.managementRoleQue == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="outsideOffice" ng-click="checkPreviousMandatoryFields('outsideOffice','occupationForm')"
                       ng-class = "(occupationForm.outsideOffice.$error.required && occupationForm.outsideOffice.$touched) || (occupationForm.$submitted && occupationForm.outsideOffice.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.managementRoleQue" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton  " ng-class="{'active': (QPD.occupationDetails.managementRoleQue == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="outsideOffice" ng-click="checkPreviousMandatoryFields('outsideOffice','occupationForm')"
                       ng-class = "(occupationForm.outsideOffice.$error.required && occupationForm.outsideOffice.$touched) || (occupationForm.$submitted && occupationForm.outsideOffice.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.managementRoleQue" ng-change="renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.outsideOffice.$error.required && occupationForm.outsideOffice.$touched) || (occupationForm.$submitted && occupationForm.outsideOffice.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>

              <div ng-if="showWithinOfficeQuestion">
              <hr class="primeline">
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required )}">
              <div class="col-sm-12">
                <!-- <label class="control-label"><p align="justify">  Do you spend more than 10% of your working time outside of an office environment? </p> </label> -->
                <label class="control-label"><p align="justify"> Do you spend at least 90% of your working time in an office? (For example 34.2 hours out of a 38-hour working week) </p></label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-xs-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.withinOfficeQue == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="withinOfficeQuestion" ng-click="checkPreviousMandatoryFields('withinOfficeQuestion','occupationForm')"
                       ng-class = "(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.withinOfficeQue" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.withinOfficeQue == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="withinOfficeQuestion" ng-click="checkPreviousMandatoryFields('withinOfficeQuestion','occupationForm')"
                       ng-class = "(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.withinOfficeQue" ng-change="renderOccupationQuestions()"  value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.withinOfficeQuestion.$error.required && occupationForm.withinOfficeQuestion.$touched) || (occupationForm.$submitted && occupationForm.withinOfficeQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>

            <div ng-if="showTertiaryQuestion">
            <hr class="primeline">
             <div class="row rowcustom" ng-class="{'has-error':(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">  Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-xs-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.tertiaryQue == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="tertiaryQuestion" ng-click="checkPreviousMandatoryFields('tertiaryQuestion','occupationForm')"
                       ng-class = "(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.tertiaryQue" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton  " ng-class="{'active': (QPD.occupationDetails.tertiaryQue == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="tertiaryQuestion" ng-click="checkPreviousMandatoryFields('tertiaryQuestion','occupationForm')"
                       ng-class = "(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.tertiaryQue" ng-change="renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.tertiaryQuestion.$error.required && occupationForm.tertiaryQuestion.$touched) || (occupationForm.$submitted && occupationForm.tertiaryQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>
             <!--  <hr ng-show="!genderFlag" class="primeline">
             <div class="row   rowcustom " ng-show="!genderFlag" ng-class="{'has-error':(occupationForm.gender.$error.required && occupationForm.gender.$touched) || (occupationForm.$submitted && occupationForm.gender.$error.required )}" >
                  <div class="col-sm-12">
                    <label class="control-label"> Gender </label>
                  </div>
                  <div class="col-sm-12">
                    <div class="btn-group">
                      <div class="col-sm-3 pl0">
                        <label class="btn radiobutton" ng-class="{'active': (gender == 'Male')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','occupationForm')"
                       ng-class = "(occupationForm.gender.$error.required && occupationForm.gender.$touched) || (occupationForm.$submitted && occupationForm.gender.$error.required)  ? 'radio-validation':''"
                      ng-model="gender" value="Male" required>
                          <span></span> Male </label>
                         </div>
                      <div class="col-sm-6 pl0xs">
                        <label class="btn   radiobutton" ng-class="{'active': (gender == 'Female')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','occupationForm')"
                       ng-class = "(occupationForm.gender.$error.required && occupationForm.gender.$touched) || (occupationForm.$submitted && occupationForm.gender.$error.required)  ? 'radio-validation':''"
                      ng-model="gender" value="Female" required>
                          <span></span> Female </label>
                        </div>
                    </div>
                     <span class="error" ng-if="(occupationForm.gender.$error.required && occupationForm.gender.$touched) || (occupationForm.$submitted && occupationForm.gender.$error.required )">Please select gender</span>
                  </div>
                </div> -->
				<!-- <hr ng-show="!genderFlag" class="primeline"> -->

              <hr class="primeline">
           <div class="row rowcustom" ng-class="{'has-error':(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required ) || invalidSalAmount}">
              <div class="col-sm-4 col-xs-12">
                <label class="control-label">What is your annual salary?</label>
                <!-- <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <!-- <div class="col-sm-5 col-xs-12">
                <div class="slidercover">
                  <div id="slider1" class="slider"></div>
                  <div class="sliderin"></div>
                  <div class="leftval hidden-xs">0</div>
                  <div class="rightval hidden-xs">1,000,000</div>
                </div>
              </div>
              <p class="spacer visible-xs">&nbsp; </p> -->
              <div class="col-sm-3 col-xs-12">
                <input type="text" ng-model-options="modelOptions" id="annualSalCCId" format="number" onkeyup="return isNumeric('annualSalCCId');" onkeypress="return isNumeric('annualSalCCId');"  name="annualSalary" maxlength="9" class="form-control dollar" ng-change="checkAnnualSalary()"  ng-focus="checkPreviousMandatoryFields('annualSalary','occupationForm')"  ng-class = "(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required)  ? 'error-border':''" ng-model="QPD.occupationDetails.salary" required>
              <span class="error" ng-if="(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required )">Please enter your Annual Salary</span>
              <span class="error" ng-if="invalidSalAmount">Please enter a valid annual salary</span>
              <label class="helpHintLabel">Insert gross salary (i.e.your salary before tax)</label>
              </div>

            </div>
            <!-- <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">
               <a data-toggle="collapse" data-parent="#accordion">
                <button  class="btn btn-primary w100p" type="button" ng-click="onFormContinue(occupationForm);">Continue</button>
               </a>
              </div>
            </div> -->
          </div>
        </form>
          <!-- Row ends -->

        </div>
      </div>

      <!--Occupation section ends  -->

      <!-- Cover Calculator section starts -->

      <div class="panel panel-default"  >
        <div class="panel-heading" ng-click="isCollapsible('collapseThree', $event);setCoverCalculatorOptions();"> <a data-toggle="collapse"  data-target="#collapseThree" class=" collapsed ">
          <h4 class="panel-title"> Cover calculator</h4>
          </a> </div>
        <div id="collapseThree" class="panel-collapse collapse">

        <form autocomplete="off" name="coverCalculatorForm" novalidate id="coverCalFormId" role="form">
          <div class="panel-body">
            <div class="row rowcustom">
              <div class="col-sm-12">
                <label class="control-label"> Use the premium calculator to select the most appropriate cover for you.</label>
              </div>
            </div>
            <hr class=" primeline">
            <div class="">
              <div class="row rowcustom" ng-class="">
                <div class="col-xs-12">
                  <label class="control-label">Display the cost of my insurance cover as </label>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="select">
                    <select  class="form-control" name="premFreq" id="coverId"  ng-change="calculateOnChange()" ng-model="QPD.freqCostType" ng-options="premiumFrequencyOption for premiumFrequencyOption in premiumFrequencyOptions track by premiumFrequencyOption">
                    </select>
                    <div class="select__arrow"></div>
                    <span class="error" ng-if="">Please select  Cover what you want.</span>
                  </div>
                  <label class="helpHintLabel">Select weekly, monthly or yearly premium frequency</label>
                </div>
              </div>
            </div>
            <hr class=" primeline">
            <div class="row rowcustom">
              <div class="col-sm-12">
                <label class="control-label">What cover details do you require?</label>
              </div>
            </div>
            <div class=" btn-group-vertical heading">
              <div class="row rowcustom" >
                <div class="col-sm-12 checkboxes1">
                  <label class="active checkboxes btn cover-calc-header" id="deathsection" ng-disabled="QPD.isDeathDisabled">
                    <input type="checkbox" id="option3" name="coverDet" id="coverDetId">
                    <p class="col2 m0 ">Death</p>
                    <p class="col2 m0 alignright normal" ng-if="!QPD.isDeathDisabled && !isEmpty(QPD.existingDeathUnits)">Existing cover {{QPD.existingDeathAmt | currency:undefined:0}} ({{QPD.existingDeathUnits}} Unit(s)) &nbsp;&nbsp;</p>
                    <p class="col2 m0 alignright normal" ng-if="!QPD.isDeathDisabled && isEmpty(QPD.existingDeathUnits)">Existing cover {{QPD.existingDeathAmt | currency:undefined:0}} (fixed) &nbsp;&nbsp;</p>
                  </label>
                </div>
              </div>
            </div>
            <div class="" id="death" ng-if="!QPD.isDeathDisabled">
              <div class=" secrow ">
                <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required )}">
                  <div class="col-sm-6 col-xs-12">
                    <label class="control-label"> Cover type <a class="icohelp"	ng-click="clickToOpen('<strong>Unitised cover how your benefit and premium is calculated </strong><br/>When calculating your benefit, it is based on three factors:<br/>(1) your occupation,<br/> (2) your age at the date the incident that led to your claim occurred, and <br/>(3) the number of units you are covered for at that time.')"></a> </label>
                    <div class="btn-group" >
                      <div class="col-xs-12 col-md-6">
                        <label ng-disabled="isDCCoverTypeDisabled" radio-sync="Fixed" class="btn  radiobutton" onclick="showhide('dollar','nodollar')" ng-class="{'active': (QPD.addnlDeathCoverDetails.deathCoverType=='DcFixed')}">
                          <input  type="radio" name="coverType" ng-change="syncRadios('Fixed')" data-sync="Fixed" id="option1" class="ipradio" ng-focus="checkPreviousMandatoryFields('coverType','coverCalculatorForm')"
                           ng-class = "(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required)  ? 'radio-validation':''"
                           ng-model="QPD.addnlDeathCoverDetails.deathCoverType" value="DcFixed" ng-required="!isDCCoverTypeDisabled">
                          <span></span> Fixed
                         </label>
                      </div>
                      <div class="col-xs-12 col-md-6">
                          <label ng-disabled="isDCCoverTypeDisabled" radio-sync="Unitised" class="btn   radiobutton" onclick="showhide('nodollar','dollar')" ng-class="{'active': (QPD.addnlDeathCoverDetails.deathCoverType=='DcUnitised')}">
                            <input  type="radio" name="coverType" ng-change="syncRadios('Unitised')" data-sync="Unitised" id="option2" class="ipradio" ng-focus="checkPreviousMandatoryFields('coverType','coverCalculatorForm')"
                      		 ng-class = "(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required)  ? 'radio-validation':''"
                     		 ng-model="QPD.addnlDeathCoverDetails.deathCoverType" value="DcUnitised" ng-required="!isDCCoverTypeDisabled">
                            <span></span> Unitised
                          </label>
                        <span class="error" ng-if="(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required )">Please select Cover type</span>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-sm-6 col-xs-12" ng-class = "(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag? 'has-error':''">
                    <label class="control-label"> Cover required </label>
                    <input type="text" ng-model-options="modelOptions" id="dollar" format="number" name="requireCover" limit-to="8" class="form-control dollar" onkeyup="return isNumeric('dollar');" onkeypress="return isNumeric('dollar');"
                       ng-focus="checkPreviousMandatoryFields('requireCover','coverCalculatorForm')"
                       ng-class = "(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag ? 'error-border':''"
                       ng-model="QPD.addnlDeathCoverDetails.deathInputTextValue" ng-change="validateDeathTpdIpAmounts()" ng-disabled="isDCCoverRequiredDisabled"  ng-required="!isDCCoverRequiredDisabled" >
					
                    <input type="text" ng-model-options="modelOptions" id="nodollar" limit-to="3" ng-change="validateDeathTpdIpAmounts()"   ng-model="QPD.addnlDeathCoverDetails.deathInputTextValue"  name="requireCover"
                      style="display:none" class="form-control" ng-disabled="isDCCoverRequiredDisabled" ng-required="!isDCCoverRequiredDisabled"
                      onkeyup="return isNumeric('nodollar');" onkeypress="return isNumeric('nodollar');"
                      ng-focus="checkPreviousMandatoryFields('requireCover','coverCalculatorForm')"
                      ng-class = "(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag? 'error-border':''">
                   <span ng-if="QPD.addnlDeathCoverDetails.deathCoverType == 'DcUnitised'" class='cover-units'>units</span>
                    <span class="error" ng-if="(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched || coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$pristine)">Please select required Cover</span>
                    
                    <span class="error" ng-if="deathErrorFlag">{{deathErrorMsg}}</span>
                  </div>
                  <div class="col-xs-12">
                    <p class="note mt10px" ng-if="QPD.addnlDeathCoverDetails.deathCoverType == 'DcFixed'" id="fxd"> With fixed cover, your cover stays the same, but the amount you pay for the insurance increases as you get older. </p>
                    <p class="note mt10px" ng-if="QPD.addnlDeathCoverDetails.deathCoverType == 'DcUnitised'" id="untd"> With unitised cover, you pay a set price for each unit of cover and the cover value for each unit reduces as you get older. </p>
                  </div>
                </div>
                <hr class="primeline">
                <div class="row  coverbg">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{QPD.addnlDeathCoverDetails.deathFixedAmt | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>{{QPD.freqCostType}} cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{QPD.addnlDeathCoverDetails.deathCoverPremium | currency}}</h4>
                  </div>
                </div>
              </div>
            </div>
        <div class="row rowcustom" ng-if="QPD.isDeathDisabled">
		  		<div class="col-sm-12">
			      <img src="static/host/images/warning.png" >
            <label class="control-label"> You are not eligible for Death cover due to your age </label>
		  		</div>
		  	</div>
		  	<p class="spacer">&nbsp;</p>
        <div class=" btn-group-vertical heading">
          <div class="row rowcustom">
            <div class="col-sm-12 checkboxes1">
               <label class="active checkboxes btn cover-calc-header" id="tpdsection" ng-disabled="QPD.isTPDDisabled">
                <input type="checkbox" id="perDisplacementId" name="perDisplacement">
                <p class="col2 m0 ">Total &amp; Permanent Disablement</p>
                <p class="col2 m0 alignright normal" ng-if="!QPD.isTPDDisabled && !isEmpty(QPD.existingTPDUnits)">Existing cover {{QPD.existingTpdAmt | currency:undefined:0}} ({{QPD.existingTPDUnits}} Unit(s)) &nbsp;&nbsp;</p>
                <p class="col2 m0 alignright normal" ng-if="!QPD.isTPDDisabled && isEmpty(QPD.existingTPDUnits)">Existing cover {{QPD.existingTpdAmt | currency:undefined:0}} (fixed) &nbsp;&nbsp;</p>
               </label>
            </div>
          </div>
        </div>
        <div class="" id="tpd" ng-if="!QPD.isTPDDisabled">
          <div class="secrow">
            <div class="row rowcustom"  ng-class="{'has-error':(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required )}">
              <div class="col-sm-6 col-xs-12">
                <label class="control-label"> Cover type <a class="icohelp"	ng-click="clickToOpen('<strong>Unitised cover how your benefit and premium is calculated </strong><br/>When calculating your benefit, it is based on three factors:<br/>(1) your occupation,<br/> (2) your age at the date the incident that led to your claim occurred, and <br/>(3) the number of units you are covered for at that time.')"></a>  </label>
              
                <div class="btn-group" >
                  <div class="col-xs-12 col-md-6">
                    <label  ng-disabled="isTPDCoverTypeDisabled" radio-sync="Fixed" class="btn radiobutton"  onclick="showhide('dollar1','nodollar1')" ng-class="{'active': (QPD.addnlTpdCoverDetails.tpdCoverType=='TPDFixed')}">
                      <input type="radio" name="tpdCoverType" ng-change="syncRadios('Fixed')" data-sync="Fixed" id="option1" class="ipradio" ng-focus="checkPreviousMandatoryFields('tpdCoverType','coverCalculatorForm')"
                       ng-class = "(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required)  ? 'radio-validation':''"
                       ng-model="QPD.addnlTpdCoverDetails.tpdCoverType" value="TPDFixed" ng-required="!isTPDCoverTypeDisabled">
                      <span></span> Fixed </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label ng-disabled="isTPDCoverTypeDisabled" radio-sync="Unitised" class="btn radiobutton"  onclick="showhide('nodollar1','dollar1')" ng-class="{'active': (QPD.addnlTpdCoverDetails.tpdCoverType=='TPDUnitised')}">
                      <input type="radio" name="tpdCoverType" ng-change="syncRadios('Unitised')" data-sync="Unitised" id="option2" class="ipradio"  ng-focus="checkPreviousMandatoryFields('tpdCoverType','coverCalculatorForm')"
                  		 ng-class = "(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required)  ? 'radio-validation':''"
                 		 ng-model="QPD.addnlTpdCoverDetails.tpdCoverType" value="TPDUnitised" ng-required="!isTPDCoverTypeDisabled">
                      <span></span> Unitised </label>
                      <span class="error" ng-if="(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required )">Please select Cover type</span>
                  </div>
                </div>
              </div>
            
             <div class="col-sm-6 col-xs-12" ng-class = "(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.TPDRequireCover.$pristine && coverCalculatorForm.TPDRequireCover.$error.required ) || tpdErrorFlag ? 'has-error':''">
                <label class="control-label"> Cover required </label>
                <input id="dollar1" type="text" ng-model-options="modelOptions" format="number" name="TPDRequireCover" class="form-control dollar" limit-to="7" onkeyup="return isNumeric('dollar1');" onkeypress="return isNumeric('dollar1');"
                   ng-focus="checkPreviousMandatoryFields('TPDRequireCover','coverCalculatorForm')"
                   ng-class = "(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required) || (coverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag ? 'error-border':''"
                   ng-model="QPD.addnlTpdCoverDetails.tpdInputTextValue" ng-change="validateDeathTpdIpAmounts()" ng-disabled="isTPDCoverRequiredDisabled" ng-required="!isTPDCoverRequiredDisabled">
                <input type="text" ng-model-options="modelOptions" id="nodollar1" limit-to="3" name="TPDRequireCover"  class="form-control"   style="display:none"
                    onkeyup="return isNumeric('nodollar1');" onkeypress="return isNumeric('nodollar1');"
                    ng-focus="checkPreviousMandatoryFields('TPDRequireCover','coverCalculatorForm')"
                    ng-class = "(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required) || (coverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag ? 'error-border':''"
                    ng-model="QPD.addnlTpdCoverDetails.tpdInputTextValue" ng-change="validateDeathTpdIpAmounts()"  ng-disabled="isTPDCoverRequiredDisabled" ng-required="!isTPDCoverRequiredDisabled">
                   <span ng-if="QPD.addnlTpdCoverDetails.tpdCoverType == 'TPDUnitised'" class='cover-units'>units</span>
                   <span class="error" ng-if="(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.TPDRequireCover.$pristine && coverCalculatorForm.TPDRequireCover.$error.required )">Please select required Cover</span>
                   <span class="error" ng-if="tpdErrorFlag">{{tpdErrorMsg}}</span>
              </div>
              <div class="col-xs-12">
                <p class="note mt10px" ng-if="QPD.addnlTpdCoverDetails.tpdCoverType == 'TPDFixed'" id="fxd1"> With fixed cover, your cover stays the same, but the amount you pay for the insurance increases as you get older. </p>
                <p class="note mt10px" ng-if="QPD.addnlTpdCoverDetails.tpdCoverType == 'TPDUnitised'" id="untd1"> With unitised cover, you pay a set price for each unit of cover and the cover value for each unit reduces as you get older. </p>
              </div>
            </div>
            <hr class="primeline">
            <div class="row  coverbg ">
              <div class="col-sm-3 col-xs-6">
                <h5>Cover amount</h5>
              </div>
              <div class="col-sm-3 alignright borderright col-xs-6">
                <h4 class="coverval">{{QPD.addnlTpdCoverDetails.tpdFixedAmt | currency}}</h4>
              </div>
              <div class="line mob "></div>
              <div class="col-sm-3 col-xs-6">
                <h5>{{QPD.freqCostType}} cost</h5>
              </div>
              <div class="col-sm-3 alignright col-xs-6">
                <h4 class="coverval">{{QPD.addnlTpdCoverDetails.tpdCoverPremium | currency}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row rowcustom" ng-if="QPD.isTPDDisabled">
		  		<div class="col-sm-12">
			      <img src="static/host/images/warning.png" >
            <label class="control-label"> You are not eligible for TPD cover due to your age </label>
		  		</div>
		  	</div>
        <div class=" btn-group-vertical heading">
          <div class="row rowcustom"  >
            <div class="col-sm-12 checkboxes1">
              <label class="active checkboxes btn cover-calc-header" ng-disabled="QPD.isIPDisabled" id="ipsection">
                <input type="checkbox" id="option3" class=" ">
                <p class="col2 m0">Salary Continuance</p>
                <p class="col2 alignright normal m0" ng-if="!QPD.isIPDisabled">Existing cover {{QPD.existingIPAmount | currency:undefined:0}}&nbsp;&nbsp; </p>
              </label>
            </div>
          </div>
        </div>
        <div class="row rowcustom" ng-if="ipWarning">
		  		<div class="col-sm-12">
            <div class="control-label row">
              <div class="col-xs-1 text-right">
              	<img src="static/host/images/warning.png">
              </div>
              <div class="col-xs-10 ip-warning-text">
                <span class="custom-checkbox-label">To be eligible for SC, you need to work more than 15 hours per week.</span>
              </div>
            </div>
		  		</div>
			  </div>
        <div class="" id="sc" ng-if="!QPD.isIPDisabled">
          <div class=" secrow ">
            <div class="row rowcustom ">
              <div class="col-sm-6">
                <div data-toggle="buttons" class="btn-group-vertical">
                  <label class="btn checkboxes col-xs-12 ack-checkbox-label" id="ipsalarychecklabel" ng-disabled="isIpSalaryCheckboxDisabled" ng-click="insureNinetyPercentIp()">
                    <input type="checkbox" class=" " id="ipsalarycheck" ng-disabled="isIpSalaryCheckboxDisabled">
                    <span></span>
                    <div class="custom-checkbox-label">Insure 90% of my salary </div>
                  </label>
                </div>
              </div>
              <div class="relative fleft ml10px">
                  <a class="icohelp mt5px" ng-click="clickToOpen('Tick this box if you wish to insure up to 90% of your monthly salary. Please note that a maximum of 75% will be payable to you; the remainder will be paid as a contribution to your Hostplus super account.')"></a>
              </div>
            </div>
            <hr class="primeline">
            <div class="row rowcustom">
              <div class="col-sm-4 col-xs-12 mmb10px">
                <label class="control-label"> Waiting period </label>
                <div class="select">
                  <select ng-disabled="isWaitingPeriodDisabled" class="form-control" ng-model="QPD.addnlIpCoverDetails.waitingPeriod" ng-options="waitingPeriodOption for waitingPeriodOption in waitingPeriodOptions track by waitingPeriodOption" ng-change="checkBenefitPeriod()"></select>
                  <div class="select__arrow"></div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12 mmb10px">
                <label class="control-label"> Benefit period </label>
                <div class="select">
                  <select ng-disabled="isBenefitPeriodDisabled" class="form-control" ng-model="QPD.addnlIpCoverDetails.benefitPeriod" ng-options="benefitPeriodOption for benefitPeriodOption in benefitPeriodOptions track by benefitPeriodOption" ng-change="checkBenefitPeriod()">
                  </select>
                  <span class="error" ng-if="eligibleFrStIpFlag">Based on your nominated occupation a benefit period to Age 65 is not available for Income Protection. You may choose a shorter benefit period.</span>
                  <div class="select__arrow"></div>
                </div>
              </div>
            
              <div class="col-sm-4 col-xs-12">
                <label class="control-label"> Monthly cover required </label>
                <div class="">
              		<input id="dollar2" ng-model-options="modelOptions" type="text" format="number" name="IPRequireCover" maxlength="6" class="form-control dollar" onkeyup="return isNumeric('dollar2');" onkeypress="return isNumeric('dollar2');"
                   ng-focus="checkPreviousMandatoryFields('IPRequireCover','coverCalculatorForm')"
                   ng-class = "(coverCalculatorForm.IPRequireCover.$error.required && coverCalculatorForm.IPRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.IPRequireCover.$error.required) || (coverCalculatorForm.$submitted && ipErrorFlag) || ipErrorFlag ? 'error-border':''"
                   ng-model="QPD.addnlIpCoverDetails.ipInputTextValue" ng-change="validateDeathTpdIpAmounts()" ng-disabled="isIPCoverRequiredDisabled" ng-required="!isIPCoverRequiredDisabled">
                   <span class="error" ng-if="(coverCalculatorForm.IPRequireCover.$error.required && coverCalculatorForm.IPRequireCover.$touched) || (coverCalculatorForm.IPRequireCover.$pristine && coverCalculatorForm.IPRequireCover.$error.required )" >Please enter required Cover</span>
                   <span class="error" ng-if="ipErrorFlag">{{QPD.ipErrorMsg}}</span>
                </div>
                <span class="clearfix"></span>
                <div class="row rowcustom" ng-if="ipWarningFlag && !ipWarning">
                	<div class="col-xs-1 ip-warning-exceeded">
                		<img src="static/host/images/warning.png">
                	</div>
                  <div class="col-xs-11">
                  	<label class="control-label">The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row  coverbg ">
              <div class="col-sm-3 col-xs-6">
                <h5>Cover amount</h5>
              </div>
              <div class="col-sm-3 alignright borderright col-xs-6">
                <h4 class="coverval">{{QPD.addnlIpCoverDetails.ipFixedAmt | currency}}</h4>
              </div>
              <div class="line mob "></div>
              <div class="col-sm-3 col-xs-6">
                <h5>{{QPD.freqCostType}} cost</h5>
              </div>
              <div class="col-sm-3 alignright col-xs-6">
                <h4 class="coverval">{{QPD.addnlIpCoverDetails.ipCoverPremium | currency}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row rowcustom" ng-if="QPD.isIPDisabled">
		  		<div class="col-sm-12">
			      <img src="static/host/images/warning.png" >
            <label class="control-label"> You are not eligible for Salary Continuance cover due to your age </label>
		  		</div>
		  	</div>
      </div>
          <!-- Row ends -->

          <div class="row coverbg seccolor">
            <div class="col-xs-12 col-sm-4 fright">
              <h5 class="coverval fleft"> Total {{QPD.freqCostType}} cost : </h5>
              <h4 class="coverval fleft ml10px"> {{QPD.totalPremium | currency}} </h4>
            </div>
          </div>
          <p class="spacer">&nbsp;</p>
          <div class=" row rowcustom">
	          <div class="col-xs-12">
		          <p class="note">
		          	<strong>Disclaimer: </strong> 
		          </p>
		          <p style="text-align:left;">  This represents the total cost of the cover you have applied for based on your occupation rating. This amount does not take into account any premium loading which may apply to your existing cover. The final cost of your total insurance cover will be notified to you in writing by Hostplus.</p>

	          </div>

          </div>

          <div class=" row rowcustom">
           <div>
              <div class="col-sm-4 col-xs-12">
                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="generatePDF()">Print </button>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12 hidden-xs">
                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="saveQuote()">Save &amp; exit </button>
              </div>
              <div class="col-sm-4 col-xs-12 aligncenter visible-xs">
                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="saveQuote()"> Save &amp; exit</button>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12">
                <button type="button" class="btn btn-primary w100p"
                ng-click="goToAura()">Continue
                </button>
              </div>
            </div>
          </div>
          <p class="spacer">&nbsp;</p>
          </form>
        </div>
      </div>
      <!-- Cover Calculator section ends -->

    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 467 875</h3>
      <h3 class="helpNo"></h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->
<p class="spacer">&nbsp;</p>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-3">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-5">
      <p class="footertext">HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
    </div>
    <div class="col-sm-4">
      <div class="text-right  ">
        <p class="footerlinks"><a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a>
         </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
     <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a></p>
    <p class="footertext"> HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>

    <!-- Decrease or Cancel Popup starts -->
		<div aria-hidden="false" aria-labelledby="mymodalDecCancelLabel" role="dialog" tabindex="-1" class="modal fade in" id="mymodalDecCancel" style="display: none;"
		 onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';" >
		  <div class="modal-dialog hhints">
		    <div id="modal-content-id" class="modal-content">
		       <div class="modal-header">
			      <a onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';"
			          data-dismiss="modal" aria-hidden="true"> <button class="close xi" type="button">X</button>
		          </a>
		       </div>
		       <div class="modal-body">
			    <h4 class="modal-title aligncenter" id="mymodalDecCancelLabel">Change cover</h4>
		      	<!-- Row starts -->
		         <div class="row  rowcustom  ">
		          <div class="col-sm-12">
		            <p class="aligncenter">
		              <div id="decCancelMsg_text"></div>
		              <p></p>
		            </p>
		           </div>
		         </div>
		       <!-- Row ends -->
		      </div>
		      <div class="modal-footer mt0 pt0">
		       <div class="row">
		        <div class="col-sm-4"></div>
		         <div class="col-sm-4 col-xs-12">
		          <a onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';">
		           <!-- <button class="btn btn-primary w100p" type="button" ng-click="go('/quote')">Yes</button> -->
		          </a>
		          <button class="btn btn-primary w100p" type="button" ng-click="goTo()">Continue</button>
		         </div>
		          <div class="col-sm-4"> </div>
		        </div>
		      </div>
		     </div>
			    <!-- /.modal-content -->
		  </div>
	    <!-- /.modal-dialog -->
	  </div>
	 <div class="modal-backdrop fade in" id= "mymodalDecCancelFade" style="display:none;">
  </div>
 <!--  <button ng-click='toggleModal()'>Open Modal Dialog</button> -->
	<help-text show='modalShown' msg='tipMsg' width='550px'>
	  <p>Modal Content Goes here<p>
	</help-text>
 <!--Decrease or Cancel Popup ends -->




<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900',
                    maxDate:'12/31/'+y,
                });
            });
</script>



<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script>
