<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/host/header.html'"></div>
</div>

<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
    <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">1 / 3</span> Personal details </div>
    </div>
    <div class="col-xs-3"> <img src="static/host/images/bg_blank.png" class=" icoMenuRev  "> <img src="static/host/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 467 875</h3>
      <h3 class="helpNo"> </h3>
    </div>
  </div>
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-4 cn first">
        <h5>Step 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="static/host/images/bg_blank.png" class=" right"> </div>

      <div class="col-sm-4 cnn"> <img src="static/host/images/bg_blank.png" class=" left">
        <h5>Step 2</h5>
        <div class="txtHolder"> Health &amp; lifestyle</div>
        <img src="static/host/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 nl">
        <h5>Step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="static/host/images/bg_blank.png" class=" left"> </div>
    </div>

 <!--    <div class="panel-group"  id="accordionContact" ng-controller="quoteoccupdate"> -->
    
    <!--Duty of Disclosure Section starts  -->
		<div class="panel-group" >
			<div id="accordiondod" class="panel panel-default">				
				<div id="collapseduty" >
					<form autocomplete="off"  name="formduty" role="form" novalidate>
						<div class="panel-body">
							<div class=" col-sm-12">
								<p class="normal" style="text-align: justify; margin-top: 8px;">
								</p>
								<p>
									<strong class="color">Insured's duty of disclosure</strong>
								</p>
						<div class="scrollBox">
								<p>A person who enters into a life insurance contract in
									respect of your life has a duty, before entering into the
									contract, to tell the Insurer anything that he or she knows, or
									could reasonably be expected to know, may affect the Insurer's
									decision to provide the insurance and on what terms.</p>
								<p>The person entering into the contract has this duty until
									the Insurer agrees to provide the insurance.</p>
								<p>The person entering into the contract has the same duty
									before he or she extends, varies or reinstates the contract.</p>
								<p>The person entering into the contract does not need to
									tell the Insurer anything that:</p>
								<ul class="listing" style="margin: 0 0 10px 30px;">
									<li>reduces the risk the Insurer insures you for; or</li>
									<li>is common knowledge; or</li>
									<li>the Insurer knows or should know as an insurer; or</li>
									<li>the Insurer waives your duty to tell the Insurer about.</li>
								</ul>
								<p>If you do not tell the Insurer something that you know,
									or could reasonably be expected to know, may affect the
									Insurer's decision to provide the insurance and on what terms,
									this may be treated as a failure by the person entering into
									the contract to tell the Insurer something that he or she must
									tell the Insurer.</p>
								<strong class="color">If the person entering the contract does not tell the Insurer something</strong><br>
								<br>
								<p>In exercising the following rights, the Insurer may
									consider whether different types of cover can constitute
									separate contracts of life insurance. If they do, the Insurer
									may apply the following rights separately to each type of
									cover.</p>
								<p>If the person entering into the contract does not tell
									the Insurer anything he or she is required to, and the Insurer
									would not have provided the insurance if he or she had told the
									Insurer, the Insurer may avoid the contract within 3 years of
									entering into it.</p>
								<p>If the Insurer choose not to avoid the contract, the
									Insurer may, at any time, reduce the amount of insurance
									provided. This would be worked out using a formula that takes
									into account the premium that would have been payable if he or
									she had told the Insurer everything he or she should have.
									However, if the contract has a surrender value, or provides
									cover on death, the Insurer may only exercise this right within
									3 years of entering into the contract.</p>
								<p>If the Insurer chooses not to avoid the contract or
									reduce the amount of insurance provided, the Insurer may, at
									any time vary the contract in a way that places the Insurer in
									the same position the Insurer would have been in if he or she
									had told the Insurer everything he or she should have. However,
									this right does not apply if the contract has a surrender value
									or provides cover on death.</p>
								<p>If the failure to tell the Insurer is fraudulent, the
									Insurer may refuse to pay a claim and treat the contract as if
									it never existed.</p>
							</div>
								<div class="row rowcustom " ng-class="{'has-error':dodFlagErr}" >
										<div class="col-sm-12">
											<div class="btn-group-vertical" data-toggle="buttons">
												 <div class=" row rowcustom" >
	                                               <div class="col-sm-12" >
	                                                   <label class="btn checkboxes col-xs-12 ack-checkbox-label" id="dodLabel" ng-click="checkDodState()">
	                                                    <input type="checkbox" id="dodlabelCheck" name="dod" required>
	                                                    <span></span>  <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above </div> 
	                                                   </label><p ng-if="dodFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
	                                                   
	                                                </div>
												</div>
											</div>
										</div>
									</div>
								<p></p>
							</div>
						</div>
					</form>
				</div>
			</div>
		

	<!--Duty of Disclosure Section starts  -->
	
    
    <!--Privacy Policy Section starts  -->
		<!-- <div class="panel-group" > -->
			<div id="accordionprivacy" class="panel panel-default">
				<div class="panel-heading" ng-click="isCollapsible('accordionprivacy', $event)">
					<a data-toggle="collapse" data-parent="#accordionprivacy" data-target="#collapseprivacy" class="collapsed">
						<h4 class="panel-title">Privacy statement</h4>
					</a>
				</div>
				<div id="collapseprivacy" class="panel-collapse collapse" >

					<form autocomplete="off"  name="cancelprivacyPolicyForm" role="form" novalidate>
						<div class="panel-body">
							<div class=" col-sm-12">
								<p class="normal" style="text-align: justify; margin-top: 8px;"></p>
								<p>
									<strong>You must read and acknowledge the Privacy Statement before proceeding</strong>
								</p>
							<div class="scrollBox">
								<p>
									<strong class="color2">Your privacy with MetLife
										Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife' or
										the 'Insurer') </strong> <br> If you make a claim under this
									policy the Insurer may conduct investigations to assess the
									value and validity of the claim. This may involve the use of
									investigation agents, legal advisors and the collection of
									personal data that MetLife believes is relevant. MetLife
									complies with the Privacy Act 1988 and the principles laid out
									on their privacy policy, which is readily available on request
									and also available online at <a
										href="http://www.metlife.com.au/privacy" target="_new"><strong
										class="summary"> www.metlife.com.au/privacy </strong></a>.
								</p>
								<p>
									<strong class="color2"> <br> Your privacy as a
										member of Your Super Fund
									</strong><br>The information you provide in this form is collected
									by and held by Hostplus' administrator,
									Superpartners to administer your insurance within your Hostplus
									account. If you do not provide the requested information, we
									may be unable to properly administer your insurance. Your
									personal and sensitive information will only be disclosed to
									Hostplus staff as required, our administrators
									Superpartners, Metlife Insurance Limited and/or our legal or
									other professional advisors if reasonably necessary. <br>
									The Hostplus Privacy Policy provides
									information about overseas disclosure of personal information,
									how you may access and seek correction of your personal
									information as well as how you can make a complaint about a
									breach of the Australian Privacy Principles or the Privacy Act
									1988. You can access the Hostplus Privacy
									Policy at <a href="http://www.hostplus.com.au/privacy"
										target="_new"><strong class="summary">
											www.hostplus.com.au/privacy. </strong></a> For all privacy related
									questions or privacy related matters you can contact Hostplus
									on <strong>1300 Hostplus (1300 467 875)</strong> or via email
									at <a href="mailto:privacy@mail.hostplus.com.au" target="_top"><strong
										class="summary"> privacy@mail.hostplus.com.au </strong></a>
								</p>
							 </div>
								<div class="row rowcustom " ng-class="{'has-error':privacyFlagErr}" >
										<div class="col-sm-12">
											<div class="btn-group-vertical" data-toggle="buttons">
												 <div class=" row rowcustom" >
	                                               <div class="col-sm-12" >
	                                                   <label class="btn checkboxes col-xs-12 ack-checkbox-label" id="privacyLabel" ng-click="checkPrivacyState()">
	                                                    <input type="checkbox" id="privacylabelCheck" name="privacy" required>
	                                                    <span></span>  <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above </div> 
	                                                   </label>
	                                                   <p ng-if="privacyFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the privacy statement.</p>
	                                                   </div>
												</div>
											</div>
										</div>
									</div>
								<p></p>
							</div>
						</div>
					</form>
				</div>
			</div>
		<!-- </div> -->
		<!--Privacy Policy Section starts  -->
    
   <!-- Contact Details Section Starts -->
    <!-- <div class="panel-group" > -->
   	<div id="accordionContact" class="panel panel-default">
        <div class="panel-heading" ng-click="isCollapsible('collapseOne', $event)"> <a data-toggle="collapse" data-target="#collapseOne" class="collapsed">
          <h4 class="panel-title"> Contact details</h4>
          </a> 
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
        
          <form autocomplete="off"  name="workRatingContactForm" role="form"  novalidate>
          <div class="panel-body"> 
            
            <!-- Row starts -->
            <div class="row rowcustom first">
              <div class="col-sm-12">
                <label class="control-label"> Please leave your contact details in the event we need to contact you</label>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
           <!-- Row starts -->
          
           <div class="row rowcustom " >
             <div class="col-sm-5 col-sm-12" ng-class="{'has-error':(workRatingContactForm.workRatingEmail.$invalid && workRatingContactForm.workRatingEmail.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingEmail.$error.required)}">
               <label class="control-label"> Email address </label>
               <input class="form-control" ng-pattern="emailFormatUpdate" name="workRatingEmail" ng-focus="checkPreviousMandatoryFieldsFrWorkRating('workRatingEmail','workRatingContactForm')" 
                ng-class = "(workRatingContactForm.workRatingEmail.$invalid && workRatingContactForm.workRatingEmail.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingEmail.$error.required)  ? 'error-border':''" 
                ng-model="email" type="email" maxlength="50" placeholder="Enter your email" required>
            <span ng-if="(workRatingContactForm.workRatingEmail.$invalid && workRatingContactForm.workRatingEmail.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingEmail.$error.required) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingEmail.$error.pattern)" 
            class="error">Please enter your email address</span>
             </div>

            <div class="col-md-7 col-sm-12" ng-class="{'has-error':(workRatingContactForm.wrkRatingPrefContactNo.$invalid && workRatingContactForm.wrkRatingPrefContactNo.$touched) || ((workRatingContactForm.$submitted && workRatingContactForm.wrkRatingPrefContactNo.$error.required)||(workRatingContactForm.$submitted && workRatingContactForm.wrkRatingPrefContactNo.$error.pattern))}">
                <label class="control-label"> Preferred contact number </label>
             <div class="row">
             <div class="col-sm-5 col-xs-12 mmb10px">
               <select  class="  form-control" ng-model="preferredContactType" ng-change="changePrefContactType()" ng-options="contactTypeOption for contactTypeOption in contactTypeOptions track by contactTypeOption">
               	<option value="">Please select</option>
               </select>
              </div>
              
               <div class="col-sm-7 col-xs-12">	
                <input class="form-control" name="wrkRatingPrefContactNo" ng-disabled="!preferredContactType" phone-only id="wrkRatingPreferrednumCCId" onkeyup="return isIntegerFun(this);"  onkeypress="return isIntegerFun(this);" 
                  ng-focus="checkPreviousMandatoryFieldsFrWorkRating('wrkRatingPrefContactNo','workRatingContactForm')"  
                  ng-class = "(workRatingContactForm.wrkRatingPrefContactNo.$valid && workRatingContactForm.wrkRatingPrefContactNo.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.wrkRatingPrefContactNo.$error.required)  ? 'error-border':''" 
                  ng-model="updatePhone" ng-pattern="phoneNumbrUpdate" maxlength="10" type="text" placeholder="Enter your Phone No" required>
                <span ng-if="(workRatingContactForm.wrkRatingPrefContactNo.$invalid && workRatingContactForm.wrkRatingPrefContactNo.$touched) || ((workRatingContactForm.$submitted && workRatingContactForm.wrkRatingPrefContactNo.$error.required) ||(workRatingContactForm.$submitted && workRatingContactForm.wrkRatingPrefContactNo.$error.pattern))" 
                 class="error">Please enter valid phone number</span>
             </div>
              </div>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           <div class="row rowcustom" >
              <div class="col-lg-6 col-md-12" ng-class="{'has-error':(workRatingContactForm.workRatingPrefTime.$error.required && workRatingContactForm.workRatingPrefTime.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingPrefTime.$error.required )}">
                <label class="control-label"> What time of day do you prefer to be contacted? </label>
                <span id="tick 3" style=" visibility:hidden">
                 <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span>
                </span> 
             <div class="btn-group" >
             <div class="col-xs-12 col-lg-6 p0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Morning (9am - 12pm)')}">
                      <input class="ipradio"  name="workRatingPrefTime" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingPrefTime','workRatingContactForm')" 
                       ng-class = "(workRatingContactForm.workRatingPrefTime.$error.required && workRatingContactForm.workRatingPrefTime.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingPrefTime.$error.required)  ? 'radio-validation':''"
                       ng-model="time" type="radio" value="Morning (9am - 12pm)" required>
                      <span></span> Morning (9am&ndash;12pm) 
                   </label>
                  </div>
                  <div class="col-xs-12 col-lg-6  p0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Afternoon (12pm - 6pm)')}" >
                      <input class="ipradio" name="workRatingPrefTime" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingPrefTime','workRatingContactForm')" 
                       ng-class = "(workRatingContactForm.workRatingPrefTime.$error.required && workRatingContactForm.workRatingPrefTime.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingPrefTime.$error.required)  ? 'radio-validation':''" 
                       ng-model="time" type="radio" value="Afternoon (12pm - 6pm)" required>
                      <span></span> Afternoon (12pm&ndash;6pm)
                    </label>                    
                  </div>
                <span ng-if="(workRatingContactForm.workRatingPrefTime.$error.required && workRatingContactForm.workRatingPrefTime.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.workRatingPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
              </div>  
              </div>
              
              <div class="col-lg-6 col-md-12" ng-class="{'has-error':(workRatingContactForm.gender.$error.required && workRatingContactForm.gender.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.gender.$error.required)}">
                    <label class="control-label"> Gender </label>
                  <div class="btn-group" >
                  <div class="col-xs-12 col-md-6">
                        <label class="btn radiobutton" ng-class="{'active': (gender == 'Male')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFieldsFrWorkRating('gender','workRatingContactForm')"
                       ng-class = "(workRatingContactForm.gender.$error.required && workRatingContactForm.gender.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.gender.$error.required)  ? 'radio-validation':''"
                      ng-model="gender" value="Male" required>
                          <span></span> Male </label>
                         </div>
                      <div class="col-xs-12 col-md-6">
                        <label class="btn   radiobutton" ng-class="{'active': (gender == 'Female')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFieldsFrWorkRating('gender','workRatingContactForm')"
                       ng-class = "(workRatingContactForm.gender.$error.required && workRatingContactForm.gender.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.gender.$error.required)  ? 'radio-validation':''"
                      ng-model="gender" value="Female" required>
                          <span></span> Female </label>
                        </div>
                   
                     <span class="error" ng-if="(workRatingContactForm.gender.$error.required && workRatingContactForm.gender.$touched) || (workRatingContactForm.$submitted && workRatingContactForm.gender.$error.required )">Please select gender</span>
                  </div>
                   </div>
                </div>
              
              
              
                <!-- <div class="btn-group" data-toggle="buttons" >
                 <div class="col-sm-6 pl0">
                   <label class="btn  radiobutton" ng-repeat="option in prefTimeOptions" ng-click="validate('contactDetFormId')">
                     <input type="radio" name="time" id="{{option.name}}" ng-model="contactTime" class="ipradio" ng-required="true">
                     <span></span> {{option.value}}
                    </label> <span class="error" >Please select</span>
                 </div>
                </div> -->
              
             
            <!-- Row ends -->
            
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">     
             	<a data-toggle="collapse" data-parent="#accordion"  >
             	<button class="btn btn-primary w100p" ng-click="workRatingFormSubmit(workRatingContactForm);" type="button">Continue</button>           
             	</a>
              </div>
             <!--  <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>  -->
            </div>
            </div>
            </form>
        </div>
      </div>
      <!-- </div> -->
     <!-- Contact Details Section Ends -->
     
     
     <!-- Occupation Section Starts -->
      <div class="panel panel-default" >
        <div class="panel-heading"  ng-click="isCollapsible('collapseTwo', $event)"> <a data-toggle="collapse" data-target="#collapseTwo" class=" collapsed ">
          <h4 class="panel-title">Occupation </h4>
          </a> </div>
        <div id="collapseTwo" class="panel-collapse collapse">
        
         <form autocomplete="off"  name="workRatingOccupForm" id="occupFormId" novalidate role="form">
          <div class="panel-body"> 
            <!-- Row starts -->
            
            <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.fifteenHrsQuestion.$error.required && workRatingOccupForm.fifteenHrsQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.fifteenHrsQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Do you work 15 or more hours per week? </label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-xs-12 col-sm-6 ">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (fifteenHrsQuestion == 'Yes')}">
                      <input type="radio" name="fifteenHrsQuestion "  class="ipradio" ng-click="checkPreviousMandatoryFieldsFrWorkRating('fifteenHrsQuestion','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.fifteenHrsQuestion.$error.required && workRatingOccupForm.fifteenHrsQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="fifteenHrsQuestion" ng-change="renderOccupationQuestions()" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (fifteenHrsQuestion == 'No')}">
                      <input type="radio" name="fifteenHrsQuestion"  class="ipradio" ng-click="checkPreviousMandatoryFieldsFrWorkRating('fifteenHrsQuestion','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.fifteenHrsQuestion.$error.required && workRatingOccupForm.fifteenHrsQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.fifteenHrsQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="fifteenHrsQuestion" ng-change="renderOccupationQuestions()" type="radio" value="No" required>
                      <span></span> No
                    </label>
                  </div>                  
                </div>
                <span class="error" ng-if="(workRatingOccupForm.fifteenHrsQuestion.$error.required && workRatingOccupForm.fifteenHrsQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.fifteenHrsQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            
            
             <!-- Row ends -->
            <!-- <hr class="primeline"> -->
            
            <!-- Row starts -->
            <!-- <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">Are you a citizen or permanent resident of Australia or a New Zealand citizen residing in Australia under a Special Category Visa?</label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>  </div>
              <div class="col-xs-12 col-sm-6 ">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzWrkUpdateQuestion == 'Yes')}">
                      <input name="areyouperCitzWrkUpdateQuestion" class="ipradio" ng-click="checkPreviousMandatoryFieldsFrWorkRating('areyouperCitzWrkUpdateQuestion','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzWrkUpdateQuestion" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzWrkUpdateQuestion == 'No')}">
                      <input name="areyouperCitzWrkUpdateQuestion" class="ipradio" ng-click="checkPreviousMandatoryFieldsFrWorkRating('areyouperCitzWrkUpdateQuestion','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzWrkUpdateQuestion" type="radio" value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.areyouperCitzWrkUpdateQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>  -->   
            <!-- Row ends -->
            <hr class="primeline"> 
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.workRatingIndustry.$error.required && workRatingOccupForm.workRatingIndustry.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingIndustry.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label" > What industry do you work in?</label>
              </div>              
              <div class="col-sm-12 ">
                <select class="form-control" name="workRatingIndustry" ng-focus="checkPreviousMandatoryFieldsFrWorkRating('workRatingIndustry','workRatingOccupForm')" 
                  ng-class = "(workRatingOccupForm.workRatingIndustry.$error.required && workRatingOccupForm.workRatingIndustry.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingIndustry.$error.required)  ? 'error-border':''" 
                  ng-model="workRatingIndustry"  ng-change="getOccupations()" required>
                  <option value="">Please select...</option>
                  <option ng-repeat="industry in IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
                </select>
                <span class="error" ng-if="(workRatingOccupForm.workRatingIndustry.$error.required && workRatingOccupForm.workRatingIndustry.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingIndustry.$error.required )">Please select the industry type.</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.workRatingoccupation.$error.required && workRatingOccupForm.workRatingoccupation.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingoccupation.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What is your occupation?</label>
              </div>
              <div class="col-sm-12 ">
                <select  class="form-control" name="workRatingoccupation" ng-change="getOccCategoryFromDB(true)" ng-focus="checkPreviousMandatoryFieldsFrWorkRating('workRatingoccupation','workRatingOccupForm')" 
                  ng-class = "(workRatingOccupForm.workRatingoccupation.$error.required && workRatingOccupForm.workRatingoccupation.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingoccupation.$error.required)  ? 'error-border':''"
                  ng-model="workRatingoccupation" required >
                  <option value="">Please select...</option>
                  <option ng-repeat="occupation in OccupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
                </select>
                <span class="error" ng-if="(workRatingOccupForm.workRatingoccupation.$error.required && workRatingOccupForm.workRatingoccupation.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingoccupation.$error.required )">Select the occupation which best matches your current occupation</span>
              </div>
               <div class="col-sm-12 "><label class="helpHintLabel">If you do not select an occupation from the occupations listed, your premiums will be shown at standard rates.</label></div>
            </div>  
            <!-- Row ends -->
            <!-- Row starts -->
            <div ng-if="workRatingoccupation == 'Other'">  
	             <hr class="primeline">
	             <div class="row rowcustom " ng-class="{'has-error':(workRatingOccupForm.workRatingotherOccupation.$invalid && workRatingOccupForm.workRatingotherOccupation.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingotherOccupation.$error.required)}">
	              <div class="col-sm-5" >
	                <label class="control-label">  Please enter your occupation  </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">	              
	                <!-- <input class="form-control" ng-focus="checkPreviousMandatoryFields('workRatingotherOccupation','workRatingOccupForm')" maxlength="150" name="workRatingotherOccupation" ng-class = "(workRatingOccupForm.workRatingotherOccupation.$invalid && workRatingOccupForm.workRatingotherOccupation.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingotherOccupation.$error.required)  ? 'error-border':''" ng-model="otherOccupationObj.workRatingotherOccupation" type="text" placeholder="Enter your occupation" uib-typeahead="occupationList as occupationList for occupationList in getOtherOccupationAS($viewValue)" ng-blur="getOccCategoryFromDB()"  required> -->
	                <input class="form-control" ng-focus="checkPreviousMandatoryFields('workRatingotherOccupation','workRatingOccupForm')" maxlength="150" name="workRatingotherOccupation" ng-class = "(workRatingOccupForm.workRatingotherOccupation.$invalid && workRatingOccupForm.workRatingotherOccupation.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingotherOccupation.$error.required)  ? 'error-border':''" ng-model="otherOccupationObj.workRatingotherOccupation" type="text" placeholder="Enter your occupation" required>
		            <span ng-if="(workRatingOccupForm.workRatingotherOccupation.$invalid && workRatingOccupForm.workRatingotherOccupation.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingotherOccupation.$error.required) " class="error">Please enter your occupation</span>
	              </div>
	           	</div>
          	</div> 
            <!-- Row ends -->
            <div ng-if="showHazardousOccQuestion">
                <hr class="primeline">
                <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.workRatingHazardousQue.$error.required && workRatingOccupForm.workRatingHazardousQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingHazardousQue.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">  Do you work in a hazardous environment and/or perform any duties of a manual nature?</label>
                 <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
	               <div class="col-xs-12 col-sm-6 ">
	                <div class="btn-group">
	                   <div class="col-xs-12 col-md-6">
	                    <label class="btn  radiobutton" ng-class="{'active': (workRatingHazardousQue == 'Yes')}" >
	                      <input type="radio" name="workRatingHazardousQue" class="ipradio" id="option1"  ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingHazardousQue','workRatingOccupForm')"
	                       ng-class = "(workRatingOccupForm.workRatingHazardousQue.$error.required && workRatingOccupForm.workRatingHazardousQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingHazardousQue.$error.required)  ? 'radio-validation':''" 
	                      ng-model="$parent.workRatingHazardousQue" ng-change="renderOccupationQuestions()" value="Yes" required>
	                      <span></span>Yes </label>
	                   </div>
	                   <div class="col-xs-12 col-md-6">
	                    <label class="btn  radiobutton" ng-class="{'active': (workRatingHazardousQue == 'No')}">
	                      <input type="radio"  name="workRatingHazardousQue" class="ipradio" id="option2" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingHazardousQue','workRatingOccupForm')"
	                       ng-class = "(workRatingOccupForm.workRatingHazardousQue.$error.required && workRatingOccupForm.workRatingHazardousQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingHazardousQue.$error.required)  ? 'radio-validation':''" 
	                       ng-model="$parent.workRatingHazardousQue" ng-change="renderOccupationQuestions()" value="No" required>
	                      <span></span> No
	                    </label>	                   
	                  </div>
	                </div>
	                <span class="error" ng-if="(workRatingOccupForm.workRatingHazardousQue.$error.required && workRatingOccupForm.workRatingHazardousQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingHazardousQue.$error.required )">Please select Yes or No</span>
	              </div>
               </div>
               </div>
                 <div ng-if="showOutsideOfficeOccQuestion">
                 <hr class="primeline">
                <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.workRatingOutsideOffice.$error.required && workRatingOccupForm.workRatingOutsideOffice.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingOutsideOffice.$error.required )}">
              <div class="col-sm-12">
                <!-- <label class="control-label"> Do you spend more than 10% of your working time outside of an office environment? </label> -->
                <label class="control-label">Do you spend at least 90% of your working time in an office? (For example 34.2 hours out of a 38-hour working week) </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-xs-12 col-sm-6 ">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (workRatingOutsideOffice == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="workRatingOutsideOffice" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingOutsideOffice','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.workRatingOutsideOffice.$error.required && workRatingOccupForm.workRatingOutsideOffice.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingOutsideOffice.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.workRatingOutsideOffice" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton  " ng-class="{'active': (workRatingOutsideOffice == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="workRatingOutsideOffice" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingOutsideOffice','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.workRatingOutsideOffice.$error.required && workRatingOccupForm.workRatingOutsideOffice.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingOutsideOffice.$error.required)  ? 'radio-validation':''" 
                      ng-model="$parent.workRatingOutsideOffice" ng-change="renderOccupationQuestions()" value="No" required>
                      <span></span> No</label>                      
                  </div>
                </div>
                <span class="error" ng-if="(workRatingOccupForm.workRatingOutsideOffice.$error.required && workRatingOccupForm.workRatingOutsideOffice.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingOutsideOffice.$error.required )">Please select Yes or No</span>
              </div>
            </div>
              </div>
           
            <div ng-if="showWithinOfficeOccQuestion">
             <hr class="primeline">
            <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.workRatingWithinOffcQue.$error.required && workRatingOccupForm.workRatingWithinOffcQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingWithinOffcQue.$error.required )}">
              <div class="col-sm-12">
                <!-- <label class="control-label"><p align="justify"> Do you spend more than 10% of your working time outside of an office environment?</p> </label> -->
                <label class="control-label"><p align="justify">Do you spend at least 90% of your working time in an office? (For example 34.2 hours out of a 38-hour working week)</p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3">
                 <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span>
                </span> -->
              </div>              
              <div class="col-xs-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (workRatingWithinOffcQue == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="workRatingWithinOffcQue" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingWithinOffcQue','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.workRatingWithinOffcQue.$error.required && workRatingOccupForm.workRatingWithinOffcQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingWithinOffcQue.$error.required)  ? 'radio-validation':''" 
                       ng-model="$parent.workRatingWithinOffcQue" ng-change="renderOccupationQuestions()" value="Yes" required>
                      <span></span> Yes 
                    </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (workRatingWithinOffcQue == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="workRatingWithinOffcQue" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingWithinOffcQue','workRatingOccupForm')"
                       ng-class = "(workRatingOccupForm.workRatingWithinOffcQue.$error.required && workRatingOccupForm.workRatingWithinOffcQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingWithinOffcQue.$error.required)  ? 'radio-validation':''" 
                       ng-model="$parent.workRatingWithinOffcQue" ng-change="renderOccupationQuestions()"  value="No" required>
                      <span></span> No
                    </label>                    
                  </div>
                </div>
                <span class="error" ng-if="(workRatingOccupForm.workRatingWithinOffcQue.$error.required && workRatingOccupForm.workRatingWithinOffcQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingWithinOffcQue.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            </div>
            
             <div ng-if="showTertiaryOccQuestion">  
             <hr class="primeline">
             <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.workRatingTertQue.$error.required && workRatingOccupForm.workRatingTertQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingTertQue.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">  Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</p></label>
                 <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>  --> </div>
	               <div class="col-xs-12 col-sm-6 ">
	                <div class="btn-group">
	                   <div class="col-xs-12 col-md-6">
	                    <label class="btn  radiobutton" ng-class="{'active': (workRatingTertQue == 'Yes')}" >
	                      <input type="radio" name="workRatingTertQue" class="ipradio" id="option1"  ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingTertQue','workRatingOccupForm')"
	                       ng-class = "(workRatingOccupForm.workRatingTertQue.$error.required && workRatingOccupForm.workRatingTertQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingTertQue.$error.required)  ? 'radio-validation':''" 
	                      ng-model="$parent.workRatingTertQue" ng-change="renderOccupationQuestions()" value="Yes" required>
	                      <span></span>Yes </label>
	                   </div>
	                   <div class="col-xs-12 col-md-6">
	                    <label class="btn  radiobutton" ng-class="{'active': (workRatingTertQue == 'No')}">
	                      <input type="radio"  name="workRatingTertQue" class="ipradio" id="option2" ng-click="checkPreviousMandatoryFieldsFrWorkRating('workRatingTertQue','workRatingOccupForm')"
	                       ng-class = "(workRatingOccupForm.workRatingTertQue.$error.required && workRatingOccupForm.workRatingTertQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingTertQue.$error.required)  ? 'radio-validation':''" 
	                       ng-model="$parent.workRatingTertQue" ng-change="renderOccupationQuestions()" value="No" required>
	                      <span></span> No
	                    </label>	                   
	                  </div>
	                </div>
	                <span class="error" ng-if="(workRatingOccupForm.workRatingTertQue.$error.required && workRatingOccupForm.workRatingTertQue.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingTertQue.$error.required )">Please select Yes or No</span>
	              </div>
               </div>
               </div>  
              
         <!-- <div class="row   rowcustom " ng-show="!genderFlag" ng-class="{'has-error':(workRatingOccupForm.gender.$error.required && workRatingOccupForm.gender.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.gender.$error.required )}" >
          <hr class="primeline"> 
            <div class="col-sm-12">
              <label class="control-label"> Gender </label>
            </div>
            <div class="col-sm-12">
              <div class="btn-group">
                <div class="col-sm-3 pl0">
                  <label class="btn radiobutton" ng-class="{'active': (gender == 'Male')}">
                    <input type="radio" name="gender" class="ipradio"  ng-click="checkPreviousMandatoryFieldsFrWorkRating('gender','workRatingOccupForm')"
                 ng-class = "(workRatingOccupForm.gender.$error.required && workRatingOccupForm.gender.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.gender.$error.required)  ? 'radio-validation':''" 
                ng-model="gender" value="Male" required>
                    <span></span> Male </label>
                   </div>
                <div class="col-sm-6 pl0xs">
                  <label class="btn   radiobutton" ng-class="{'active': (gender == 'Female')}">
                    <input type="radio" name="gender" class="ipradio"  ng-click="checkPreviousMandatoryFieldsFrWorkRating('gender','workRatingOccupForm')"
                 ng-class = "(workRatingOccupForm.gender.$error.required && workRatingOccupForm.gender.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.gender.$error.required)  ? 'radio-validation':''" 
                ng-model="gender" value="Female" required>
                    <span></span> Female </label>                         
                  </div>
              </div>
               <span class="error" ng-if="(workRatingOccupForm.gender.$error.required && workRatingOccupForm.gender.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.gender.$error.required )">Please select gender</span>
            </div>
          </div> -->
              
              <hr class="primeline">
             <div class="row rowcustom" ng-class="{'has-error':(workRatingOccupForm.workRatingAnnualSal.$error.required && workRatingOccupForm.workRatingAnnualSal.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingAnnualSal.$error.required ) || invalidSalAmount}">
               <div class="col-sm-4 col-xs-12">
                 <label class="control-label"> What is your annual salary? </label>
                 <!-- <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
	              <!-- <div class="col-sm-5 col-xs-12">
	                <div class="slidercover">
	                  <div id="slider1" class="slider"></div>
	                  <div class="sliderin"></div>
	                  <div class="leftval hidden-xs">0</div>
	                  <div class="rightval hidden-xs">1,000,000</div>
	                </div>
	              </div>
	              <p class="spacer visible-xs">&nbsp; </p> -->
              <div class="col-sm-3 col-xs-12">
                <input type="text" name="workRatingAnnualSal" format="number" onkeyup='return event.charCode >= 48 && event.charCode <= 57' onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control dollar"  ng-focus="checkPreviousMandatoryFieldsFrWorkRating('workRatingAnnualSal','workRatingOccupForm')"  ng-class = "(workRatingOccupForm.workRatingAnnualSal.$error.required && workRatingOccupForm.workRatingAnnualSal.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingAnnualSal.$error.required)  ? 'error-border':''"
                   ng-model="workRatingAnnualSal" maxlength="9" ng-change="checkValidSalary()" required>
               <span class="error" ng-if="(workRatingOccupForm.workRatingAnnualSal.$error.required && workRatingOccupForm.workRatingAnnualSal.$touched) || (workRatingOccupForm.$submitted && workRatingOccupForm.workRatingAnnualSal.$error.required )">Please enter your annual Salary</span>
               <span class="error" ng-if="invalidSalAmount">Please enter a valid annual salary</span>
               <label class="helpHintLabel">Insert gross salary (i.e.your salary before tax)</label>
             </div>
           </div>
          <!-- <hr class="primeline">
          <div class=" row rowcustom">
	          <div class="col-xs-12">
		          <p class="note">		          	
		             <p  style="text-align:left;">Insurance cover through CareSuper is provided by MetLife Insurance Limited ABN 75 004 274 882 AFSL No. 238096. When completing your application for insurance, you will be providing MetLife with your personal information including your health information. By clicking the Continue button, you consent to the collection, use and disclosure of your personal information as described in MetLife's Privacy Policy which is available at <a href="https://www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy-policy</a>.
		            </p>
		          </p>
	          </div>
	          <div class="col-sm-12" >
                <div data-toggle="buttons" class=" btn-group-vertical">
                  <label class="btn wrap checkboxes1 ">
                    <input type="checkbox" class="ng-pristine ng-untouched ng-valid" id="option3" name="ackDocument" ng-model="ackDocument" value="">
                    <span></span> I agree to all the above Terms & Conditions</label>
                    
                </div>
              </div>
          </div>
           <div class=" row rowcustom" ng-class="{'has-error':updateAckFlag}" ng-click="checkUpdateAckState()">
          <div class="col-sm-12" >
                <div data-toggle="buttons" class=" btn-group-vertical">
                  <label class="btn wrap checkboxes1 " id="ackLabel">
                    <input type="checkbox" class="ng-pristine ng-untouched ng-valid" id="option3" name="ackDocument" value="" 
                     required>
                    <span></span> I agree to all the above terms & conditions</label>
                </div>
              </div>
              </div> -->
            <div class=" row rowcustom" >
              	<!-- <div class="col-sm-4 col-xs-12"> 
               		<button type="button" class="btn btn-primary w100p" ng-click="generatePDF()">Print</button>
               	</div> -->
                
            
              
              <div class="col-sm-4 col-xs-12">
              	<button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="saveWorkRating()" >Save &amp; Exit</button>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
       		  <div class="col-sm-4 col-xs-12">
       		  	<button class="btn btn-primary w100p" type="button" ng-click="workRatingFormSubmit(workRatingOccupForm);">Continue</button>
       		  </div>
       		  
            </div>
          </div>
        </form>
          <!-- Row ends --> 
          
        </div>
      </div>
      </div>

<!-- Occupation Section Ends -->
</div>



  <!--   </div> -->
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 467 875</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->

<p class="spacer">&nbsp;</p>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-1   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext">HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
    </div>
    <div class="col-sm-4   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a> </p>
    <p class="footertext"> HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>



