<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/host/header.html'"></div>
</div>

<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
 <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">1 / 3</span> Personal details </div>
    </div>
    <div class="col-xs-3"> <img src="static/host/images/bg_blank.png" class=" icoMenuRev  "> <img src="static/host/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 467 875</h3>
      <h3 class="helpNo"> </h3>
    </div>
  </div>
  
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-4 cn first">
        <h5>Step 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="static/host/images/bg_blank.png" class=" right"> </div>
    
      <div class="col-sm-4 cnn"> <img src="static/host/images/bg_blank.png" class=" left">
        <h5>Step 2</h5>
        <div class="txtHolder"> Health &amp; lifestyle</div>
        <img src="static/host/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 nl">
        <h5>Step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="static/host/images/bg_blank.png" class=" left"> </div>
    </div>
    
     <!--Contact Details Section starts  -->
    <div class="panel-group" id="accordionContact">
      <div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse"  data-target="#collapseOne" class="     ">
          <h4 class="panel-title"> Contact details</h4>
          </a> </div>
        <div id="collapseOne" class="panel-collapse collapse in">
       
         <form autocomplete="off"  name="newMemberContactForm" role="form"  novalidate>
          <div class="panel-body"> 
            
            <!-- Row starts -->
            <div class="row rowcustom first">
              <div class="col-sm-12">
                <label class="control-label"> Please leave your contact details in the event we need to contact you</label>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           
            <div class="row rowcustom " ng-class="{'has-error':(newMemberContactForm.newContactEmail.$invalid && newMemberContactForm.newContactEmail.$touched) || ((newMemberContactForm.$submitted && newMemberContactForm.newContactEmail.$error.required)||(newMemberContactForm.$submitted && newMemberContactForm.newContactEmail.$error.pattern))}">
              <div class="col-sm-5">
                <label class="control-label"> Email address </label>
              </div>
              <div class="col-sm-7 col-xs-12">              
                <input class="form-control" maxlength="50" ng-pattern="emailFormat" ng-focus="checkNewMemberPreviousMandatoryFields('newContactEmail','newMemberContactForm')" name="newContactEmail" ng-class = "(newMemberContactForm.newContactEmail.$invalid && newMemberContactForm.newContactEmail.$touched) || (newMemberContactForm.$submitted && newMemberContactForm.newContactEmail.$error.required)  ? 'error-border':''" ng-model="newContactEmail" type="email" placeholder="Enter your email" required>
	            <span ng-if="(newMemberContactForm.newContactEmail.$invalid && newMemberContactForm.newContactEmail.$touched) || ((newMemberContactForm.$submitted && newMemberContactForm.newContactEmail.$error.required)||(newMemberContactForm.$submitted && newMemberContactForm.newContactEmail.$error.pattern)) " class="error">Please enter your email address</span>
              </div>
           </div>
            
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error' : (newMemberContactForm.newContactPhone.$invalid && newMemberContactForm.newContactPhone.$touched) || ((newMemberContactForm.$submitted && newMemberContactForm.newContactPhone.$error.required)|| (newMemberContactForm.$submitted && newMemberContactForm.newContactPhone.$error.pattern)) }" >
              <div class="col-sm-5">
                <label class="control-label"> Preferred contact number </label>
              </div>
              <div class="col-sm-3 col-xs-12">
                <select  class="form-control" ng-model="preferredContactType" ng-change="changePrefContactType()" ng-options="contactTypeOption for contactTypeOption in contactTypeOptions track by contactTypeOption">
                </select>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12">	
                <input class="form-control" id="newMemberContactId" ng-disabled="!preferredContactType" phone-only onkeyup="return isIntegerFun(this);"  onkeypress="return isIntegerFun(this);" maxlength="10" ng-pattern="phoneNo" ng-focus="checkNewMemberPreviousMandatoryFields('newContactPhone','newMemberContactForm')" name="newContactPhone" ng-class = "(newMemberContactForm.newContactPhone.$invalid && newMemberContactForm.newContactPhone.$touched) || (newMemberContactForm.$submitted && newMemberContactForm.newContactPhone.$error.required)  ? 'error-border':''" ng-model="newContactPhone" type="text" placeholder="Enter your Phone No" required>
                <span ng-if="(newMemberContactForm.newContactPhone.$invalid && newMemberContactForm.newContactPhone.$touched) || ((newMemberContactForm.$submitted && newMemberContactForm.newContactPhone.$error.required) || (newMemberContactForm.$submitted && newMemberContactForm.newContactPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           <div class="row rowcustom" ng-class="{'has-error':(newMemberContactForm.newContactPrefTime.$error.required && newMemberContactForm.newContactPrefTime.$touched) || (newMemberContactForm.$submitted && newMemberContactForm.newContactPrefTime.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What time of day do you prefer to be contacted? </label>
                <span id="tick 3" style=" visibility:hidden">
                 <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span>
                </span> 
              </div> 
             <div class="col-sm-12 ">
                <div class="btn-group" >
                  <div class="col-sm-6 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (newContactPrefTime == 'Morning (9am - 12pm)')}">
                      <input class="ipradio " ng-click="checkNewMemberPreviousMandatoryFields('newContactPrefTime','newMemberContactForm')" name="newContactPrefTime" 
                      ng-class = "(newMemberContactForm.newContactPrefTime.$error.required && newMemberContactForm.newContactPrefTime.$touched) || (newMemberContactForm.$submitted && newMemberContactForm.newContactPrefTime.$error.required)  ? 'radio-validation':''"
                       ng-model="newContactPrefTime" type="radio" value="Morning (9am - 12pm)" required>
                      <span></span> Morning (9am&ndash;12pm) </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (newContactPrefTime == 'Afternoon (12pm - 6pm)')}">
                      <input class='ipradio' ng-click="checkNewMemberPreviousMandatoryFields('newContactPrefTime','newMemberContactForm')" name="newContactPrefTime"
                       ng-class = "(newMemberContactForm.newContactPrefTime.$error.required && newMemberContactForm.newContactPrefTime.$touched) || (newMemberContactForm.$submitted && newMemberContactForm.newContactPrefTime.$error.required)  ? 'radio-validation':''" 
                      ng-model="newContactPrefTime" type="radio" value="Afternoon (12pm - 6pm)" required>
                      <span></span> Afternoon (12pm&ndash;6pm) </label>              
                  </div>                 
                </div>
                 <span ng-if="(newMemberContactForm.newContactPrefTime.$error.required && newMemberContactForm.newContactPrefTime.$touched) || (newMemberContactForm.$submitted && newMemberContactForm.newContactPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
              </div>  
            </div> 
            <!-- Row ends -->
            
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">     
             	<a data-toggle="collapse" data-parent="#accordion"  >
             	<button class="btn btn-primary w100p" ng-click="newMemberFormSubmit(newMemberContactForm);" type="button">Continue</button>           
             	</a>
              </div>
             <!--  <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div> -->
            </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Contact Details Section ends -->
      
      
      <!-- Occupation section starts -->
      
      <div class="panel panel-default" >
        <div class="panel-heading"> <a data-toggle="collapse"  data-target="#collapseTwo" class=" collapsed  ">
          <h4 class="panel-title">Occupation </h4>
          </a> </div>
        <div id="collapseTwo" class="panel-collapse collapse" ng-show="coltwo">
        
         <form autocomplete="off"  name="newMemberOccupationForm" id="occupFormId" novalidate role="form">
          <div class="panel-body"> 
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(newMemberOccupationForm.workTimeAndSalary.$error.required && newMemberOccupationForm.workTimeAndSalary.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.workTimeAndSalary.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">Do you work 15 hours or more per week?<a class="icohelp"	ng-click="clickToOpen('To be eligible for income protection cover you must be earning at least $16,000 per year on an ongoing basis or be working 15 hours or more per week.')"></a> </label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (workTimeAndSalary == 'Yes')}">
                      <input type="radio" name="workTimeAndSalary"  class="ipradio" ng-click="checkNewMemberPreviousMandatoryFields('workTimeAndSalary','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.workTimeAndSalary.$error.required && newMemberOccupationForm.workTimeAndSalary.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.workTimeAndSalary.$error.required)  ? 'radio-validation':''" 
                      ng-model="workTimeAndSalary" type="radio" value="Yes" ng-change="checkIPCover()" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (workTimeAndSalary == 'No')}">
                      <input type="radio" name="workTimeAndSalary"  class="ipradio" ng-click="checkNewMemberPreviousMandatoryFields('workTimeAndSalary','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.workTimeAndSalary.$error.required && newMemberOccupationForm.workTimeAndSalary.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.workTimeAndSalary.$error.required)  ? 'radio-validation':''" 
                      ng-model="workTimeAndSalary" type="radio" value="No" ng-change="checkIPCover()" required>
                      <span></span> No
                    </label>
                  </div>                  
                </div>
                <span class="error" ng-if="(newMemberOccupationForm.workTimeAndSalary.$error.required && newMemberOccupationForm.workTimeAndSalary.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.workTimeAndSalary.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           <!-- <div class="row rowcustom" ng-class="{'has-error':(newMemberOccupationForm.areyouperCitzNewMemberQuestion.$error.required && newMemberOccupationForm.areyouperCitzNewMemberQuestion.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.areyouperCitzNewMemberQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">Are you a citizen or permanent resident of Australia?</label>
                <span id="tick 3" style=" visibility:hidden"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span>  </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzNewMemberQuestion == 'Yes')}">
                      <input name="areyouperCitzNewMemberQuestion" class="ipradio" ng-click="checkNewMemberPreviousMandatoryFields('areyouperCitzNewMemberQuestion','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.areyouperCitzNewMemberQuestion.$error.required && newMemberOccupationForm.areyouperCitzNewMemberQuestion.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.areyouperCitzNewMemberQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzNewMemberQuestion" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (areyouperCitzNewMemberQuestion == 'No')}">
                      <input name="areyouperCitzNewMemberQuestion" class="ipradio" ng-click="checkNewMemberPreviousMandatoryFields('areyouperCitzNewMemberQuestion','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.areyouperCitzNewMemberQuestion.$error.required && newMemberOccupationForm.areyouperCitzNewMemberQuestion.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.areyouperCitzNewMemberQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="areyouperCitzNewMemberQuestion" type="radio" value="No" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(newMemberOccupationForm.areyouperCitzNewMemberQuestion.$error.required && newMemberOccupationForm.areyouperCitzNewMemberQuestion.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.areyouperCitzNewMemberQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>    -->
            <!-- Row ends -->
            <!-- <hr class="primeline"> -->
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(newMemberOccupationForm.newIndustry.$error.required && newMemberOccupationForm.newIndustry.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newIndustry.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label" > What industry do you work in?</label>
              </div>              
              <div class="col-sm-12 ">
                <select class="  form-control" name="newIndustry" ng-focus="checkNewMemberPreviousMandatoryFields('newIndustry','newMemberOccupationForm')"  ng-class = "(newMemberOccupationForm.newIndustry.$error.required && newMemberOccupationForm.newIndustry.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newIndustry.$error.required)  ? 'error-border':''" ng-model="newIndustry" ng-change="getOccupations()" required>
                  <option value="">Please select...</option>
                  <option ng-repeat="industry in IndustryOptions | orderBy :'value'" value="{{industry.key}}">{{industry.value}}</option>
                </select>
                <span class="error" ng-if="(newMemberOccupationForm.newIndustry.$error.required && newMemberOccupationForm.newIndustry.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newIndustry.$error.required )">Please select the industry type.</span>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
            <div class="row rowcustom" ng-class="{'has-error':(newMemberOccupationForm.newOccupation.$error.required && newMemberOccupationForm.newOccupation.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newOccupation.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> What is your current occupation?<a class="icohelp"	ng-click="clickToOpen('Please note that your premiums will not be calculated based on your selection of occupation, but will be based on your salary and the questions related to your occupational activities.')"></a></label>
              </div>
              <div class="col-sm-12 ">
                <select  class="  form-control" name="newOccupation" ng-focus="checkNewMemberPreviousMandatoryFields('newOccupation','newMemberOccupationForm')"  ng-class = "(newMemberOccupationForm.newOccupation.$error.required && newMemberOccupationForm.newOccupation.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newOccupation.$error.required)  ? 'error-border':''" ng-model="newOccupation" ng-change="getNewMemberOccupation()" required>
                  <option value="">Please select...</option>
                   <option ng-repeat="occupation in OccupationList" value="{{occupation.occupationName}}">{{occupation.occupationName}}</option>
                </select>
                 <span class="error" ng-if="(newMemberOccupationForm.newOccupation.$error.required && newMemberOccupationForm.newOccupation.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newOccupation.$error.required )">Select the occupation which best best matches with your current occupation.</span>
              </div>
            </div>
          
            <div ng-if="newOccupation =='Other'">  
             <hr class="primeline">
             <div class="row rowcustom " ng-class="{'has-error':(newMemberOccupationForm.newOtherOccupation.$invalid && newMemberOccupationForm.newOtherOccupation.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newOtherOccupation.$error.required)}">
              <div class="col-sm-5" >
                <label class="control-label">  Please enter your occupation  </label>
              </div>
              <div class="col-sm-7 col-xs-12">              
                <input class="form-control" ng-focus="checkNewMemberPreviousMandatoryFields('newOtherOccupation','newMemberOccupationForm')" name="newOtherOccupation" maxlength="50" ng-class = "(newMemberOccupationForm.newOtherOccupation.$invalid && newMemberOccupationForm.newOtherOccupation.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newOtherOccupation.$error.required)  ? 'error-border':''" ng-model="otherOccupationObj.newOtherOccupation" type="text" placeholder="Enter your occupation" required>
	            <span ng-if="(newMemberOccupationForm.newOtherOccupation.$invalid && newMemberOccupationForm.newOtherOccupation.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newOtherOccupation.$error.required) " class="error">Please enter your occupation</span>
              </div>
           </div>
          </div>
            <!-- Row ends -->
            
             <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
            <hr class="primeline">
            <div class="row rowcustom" ng-class="{'has-error':(newMemberOccupationForm.newWithinOfficeQuestion.$error.required && newMemberOccupationForm.newWithinOfficeQuestion.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newWithinOfficeQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">  Are the duties of your occupation limited to professional, managerial, administrative, clerical, secretarial or similar 'white collar' tasks which do not involve manual work and are undertaken entirely within an office environment (excluding travel time from one office environment to another)? </p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (newWithinOfficeQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="newWithinOfficeQuestion" ng-click="checkNewMemberPreviousMandatoryFields('newWithinOfficeQuestion','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.newWithinOfficeQuestion.$error.required && newMemberOccupationForm.newWithinOfficeQuestion.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newWithinOfficeQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="newWithinOfficeQuestion" value="Yes" ng-change="setOccupationCategory()" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton" ng-class="{'active': (newWithinOfficeQuestion == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="newWithinOfficeQuestion" ng-click="checkNewMemberPreviousMandatoryFields('newWithinOfficeQuestion','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.newWithinOfficeQuestion.$error.required && newMemberOccupationForm.newWithinOfficeQuestion.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newWithinOfficeQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="newWithinOfficeQuestion"  value="No" ng-change="setOccupationCategory()" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(newMemberOccupationForm.newWithinOfficeQuestion.$error.required && newMemberOccupationForm.newWithinOfficeQuestion.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newWithinOfficeQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            <hr class="primeline">
                 
             <div class="row rowcustom" ng-class="{'has-error':(newMemberOccupationForm.newTertiaryQuestion.$error.required && newMemberOccupationForm.newTertiaryQuestion.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newTertiaryQuestion.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"><p align="justify">  Do you hold a tertiary qualification or are you a member of a professional institute or registered as a practising member of your profession by a government body?</p> </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (newTertiaryQuestion == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="newTertiaryQuestion" ng-click="checkNewMemberPreviousMandatoryFields('newTertiaryQuestion','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.newTertiaryQuestion.$error.required && newMemberOccupationForm.newTertiaryQuestion.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newTertiaryQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="newTertiaryQuestion" value="Yes" ng-change="setOccupationCategory()" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton  " ng-class="{'active': (newTertiaryQuestion == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="newTertiaryQuestion" ng-click="checkNewMemberPreviousMandatoryFields('newTertiaryQuestion','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.newTertiaryQuestion.$error.required && newMemberOccupationForm.newTertiaryQuestion.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newTertiaryQuestion.$error.required)  ? 'radio-validation':''" 
                      ng-model="newTertiaryQuestion" value="No" ng-change="setOccupationCategory()" required>
                      <span></span> No</label>
                  </div>
                </div>
                <span class="error" ng-if="(newMemberOccupationForm.newTertiaryQuestion.$error.required && newMemberOccupationForm.newTertiaryQuestion.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newTertiaryQuestion.$error.required )">Please select Yes or No</span>                
              </div>
            </div>
            
            <hr class="primeline">
                 
             <div class="row rowcustom" ng-class="{'has-error':(newMemberOccupationForm.newManagementRole.$error.required && newMemberOccupationForm.newManagementRole.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newManagementRole.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label">  Are you in a management role? </label>
                <!-- <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (newManagementRole == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="newManagementRole" ng-click="checkNewMemberPreviousMandatoryFields('newManagementRole','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.newManagementRole.$error.required && newMemberOccupationForm.newManagementRole.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newManagementRole.$error.required)  ? 'radio-validation':''" 
                      ng-model="newManagementRole" value="Yes" ng-change="setOccupationCategory()" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton  " ng-class="{'active': (newManagementRole == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="newManagementRole" ng-click="checkNewMemberPreviousMandatoryFields('newManagementRole','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.newManagementRole.$error.required && newMemberOccupationForm.newManagementRole.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newManagementRole.$error.required)  ? 'radio-validation':''" 
                      ng-model="newManagementRole" value="No" ng-change="setOccupationCategory()" required>
                      <span></span> No</label>                      
                  </div>
                </div>
                <span class="error" ng-if="(newMemberOccupationForm.newManagementRole.$error.required && newMemberOccupationForm.newManagementRole.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newManagementRole.$error.required )">Please select Yes or No</span>
              </div>
            </div>
          </div>
            
             
             <div class="row   rowcustom " ng-show="!genderFlag" ng-class="{'has-error':(newMemberOccupationForm.gender.$error.required && newMemberOccupationForm.gender.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.gender.$error.required )}" >
                  <hr class="primeline">
                  <div class="col-sm-5">
                    <label class="control-label"> Gender </label>
                  </div>
                  <div class="col-sm-7">
                    <div class="btn-group">
                      <div class="col-sm-3 pl0">
                        <label class="btn radiobutton" ng-class="{'active': (gender == 'Male')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkNewMemberPreviousMandatoryFields('gender','newMemberOccupationForm')" 
                       ng-class = "(newMemberOccupationForm.gender.$error.required && newMemberOccupationForm.gender.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.gender.$error.required)  ? 'radio-validation':''" 
                      ng-model="gender" value="Male" required>
                          <span></span> Male </label>
                         </div>
                      <div class="col-sm-6 pl0xs">
                        <label class="btn   radiobutton" ng-class="{'active': (gender == 'Female')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkNewMemberPreviousMandatoryFields('gender','newMemberOccupationForm')" 
                       ng-class = "(newMemberOccupationForm.gender.$error.required && newMemberOccupationForm.gender.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.gender.$error.required)  ? 'radio-validation':''" 
                      ng-model="gender" value="Female" required>
                          <span></span> Female </label>                         
                        </div>
                    </div>
                     <span class="error" ng-if="(newMemberOccupationForm.gender.$error.required && newMemberOccupationForm.gender.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.gender.$error.required )">Please select gender</span>
                  </div>
                </div>
              <hr class="primeline">
           <div class="row rowcustom" ng-class="{'has-error':(newMemberOccupationForm.newAnnualSalary.$error.required && newMemberOccupationForm.newAnnualSalary.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newAnnualSalary.$error.required )|| invalidSalAmount}">
              <div class="col-sm-4 col-xs-12">
                <label class="control-label">What is your annual salary?<a class="icohelp"	ng-click="clickToOpen('Insert gross salary (including overtime, commissions, bonuses and shift allowances, but excluding employer contributions).')"></a></label>
                <!-- <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <!-- <div class="col-sm-5 col-xs-12">
                <div class="slidercover">
                  <div id="slider1" class="slider"></div>
                  <div class="sliderin"></div>
                  <div class="leftval hidden-xs">0</div>
                  <div class="rightval hidden-xs">1,000,000</div>
                </div>
              </div>
              <p class="spacer visible-xs">&nbsp; </p> -->
              <div class="col-sm-3 col-xs-12">
                <input type="text" id="annualSalId"  format="number" onkeyup="return isNumeric('annualSalId');" onkeypress="return isNumeric('annualSalId');" name="newAnnualSalary" maxlength="9" class="form-control dollar"  ng-focus="checkNewMemberPreviousMandatoryFields('newAnnualSalary','newMemberOccupationForm')"  ng-class = "(newMemberOccupationForm.newAnnualSalary.$error.required && occupationForm.newAnnualSalary.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newAnnualSalary.$error.required)  ? 'error-border':''" ng-model="newAnnualSalary"  ng-change="checkIPCover()" required>
	              <span class="error" ng-if="(newMemberOccupationForm.newAnnualSalary.$error.required && newMemberOccupationForm.newAnnualSalary.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.newAnnualSalary.$error.required )">Please enter your Annual Salary</span>
	              <span class="error" ng-if="invalidSalAmount">Please enter a valid annual salary</span>
	              <div class="row rowcustom" ng-if="eligibilityViolated">
				  		<div class="col-sm-12">
			                <label class="control-label"><img src="static/host/images/warning.png">Please note that your existing cover is greater than the allowed maximum of 7 times your salary, and therefore you are unfortunately not eligible for this offer.</label>	            
				  		</div>
				  	</div>
              </div>
              
            </div>
           <!--   <hr class=" primeline">
              <div class="row rowcustom" ng-class="{'has-error':(newMemberOccupationForm.tpdClaim.$error.required && newMemberOccupationForm.tpdClaim.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.tpdClaim.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Have you previously been paid a TPD claim from any source? </label>
                <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (tpdClaim == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="tpdClaim" ng-click="checkNewMemberPreviousMandatoryFields('tpdClaim','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.tpdClaim.$error.required && newMemberOccupationForm.tpdClaim.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.tpdClaim.$error.required)  ? 'radio-validation':''" 
                      ng-model="tpdClaim" value="Yes" ng-change="collapseSection()" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton  " ng-class="{'active': (tpdClaim == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="tpdClaim" ng-click="checkNewMemberPreviousMandatoryFields('tpdClaim','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.tpdClaim.$error.required && newMemberOccupationForm.tpdClaim.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.tpdClaim.$error.required)  ? 'radio-validation':''" 
                      ng-model="tpdClaim" value="No" ng-change="collapseSection()" required>
                      <span></span> No</label>                      
                  </div>
                </div>
                <span class="error" ng-if="(newMemberOccupationForm.tpdClaim.$error.required && newMemberOccupationForm.tpdClaim.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.tpdClaim.$error.required )">Please select Yes or No</span>
              </div>
            </div>
 -->          <!--     <hr class=" primeline">
              <div class="row rowcustom" ng-if="(tpdClaim == 'Yes')">
		  		<div class="col-sm-12">
	  			<img src="static/host/images/warning.png" >
	                <label class="control-label"> Member not eligible for TPD and IP Cover </label>	            
		  		</div>
		  	</div> -->
              <!-- <div class="row rowcustom" ng-class="{'has-error':(newMemberOccupationForm.terminalIllnessClaim.$error.required && newMemberOccupationForm.terminalIllnessClaim.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.terminalIllnessClaim.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Have you previously been paid a terminal illness claim from any source? </label>
                <span style=" visibility:hidden" id="tick 3"><span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-12 ">
                <div class="btn-group">
                  <div class="col-sm-3 pl0">
                    <label class="btn  radiobutton" ng-class="{'active': (terminalIllnessClaim == 'Yes')}">
                      <input type="radio" class="ipradio" id="option1" name="terminalIllnessClaim" ng-click="checkNewMemberPreviousMandatoryFields('terminalIllnessClaim','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.terminalIllnessClaim.$error.required && newMemberOccupationForm.terminalIllnessClaim.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.terminalIllnessClaim.$error.required)  ? 'radio-validation':''" 
                      ng-model="terminalIllnessClaim" value="Yes" ng-change="collapseSection()" required>
                      <span></span>Yes </label>
                  </div>
                  <div class="col-sm-6 pl0xs">
                    <label class="btn  radiobutton  " ng-class="{'active': (terminalIllnessClaim == 'No')}">
                      <input type="radio" class="ipradio" id="option2" name="terminalIllnessClaim" ng-click="checkNewMemberPreviousMandatoryFields('terminalIllnessClaim','newMemberOccupationForm')"
                       ng-class = "(newMemberOccupationForm.terminalIllnessClaim.$error.required && newMemberOccupationForm.terminalIllnessClaim.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.terminalIllnessClaim.$error.required)  ? 'radio-validation':''" 
                      ng-model="terminalIllnessClaim" value="No" ng-change="collapseSection()" required>
                      <span></span> No</label>                      
                  </div>
                </div>
                <span class="error" ng-if="(newMemberOccupationForm.terminalIllnessClaim.$error.required && newMemberOccupationForm.terminalIllnessClaim.$touched) || (newMemberOccupationForm.$submitted && newMemberOccupationForm.terminalIllnessClaim.$error.required )">Please select Yes or No</span>
              </div>
            </div> -->
           
         <!--    <hr class="primeline">
            <div class="row rowcustom" ng-if="(terminalIllnessClaim == 'Yes')">
		  		<div class="col-sm-12">
		  			<img src="static/host/images/warning.png">
	                <label class="control-label"> Member not eligible for Cover </label>	            
		  		</div>
		  	</div> -->
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">
               <a data-toggle="collapse" data-parent="#accordion"> 
                <button  class="btn btn-primary w100p" type="button" ng-click="newMemberFormSubmit(newMemberOccupationForm);">Continue</button>
               </a>
              </div>
              <!-- <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div> -->
            </div>
          </div>
        </form>
          <!-- Row ends --> 
          
        </div>
      </div>
      
      <!--Occupation section ends  -->
      
      <!-- Cover Calculator section starts -->
      
      <div class="panel panel-default"  >
        <div class="panel-heading"> <a data-toggle="collapse"  data-target="#collapseThree" class=" collapsed ">
          <h4 class="panel-title"> Cover calculator</h4>
          </a> </div>
        <div id="collapseThree" ng-show="colthree" class="panel-collapse collapse  ">
        
        <form autocomplete="off"  name="newMembercoverCalculatorForm" novalidate id="coverCalFormId" role="form">
          <div class="panel-body">
            <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label"> Use the premium calculator to select the most appropriate cover for you.</label>
              </div>
            </div>
             
            
           <!--  <div class="row rowcustom" >
              <div class="col-sm-4">
                <label class="control-label">Premium Frequency<a class="icohelp" href="h_helpfulhints.html"></a> </label>
              </div>
              <div class="col-sm-8  ">
                  <select class="selectpicker  form-control" name="premiumFreq" id="premiumFreqId" >
                  <option>Weekly</option>
                  <option>Monthly</option>
                  <option>Yearly</option>
                </select>
               </div>
            </div> -->
            <hr class=" primeline">
            <div class="row rowcustom">
                   <div class="">                    
                  </div> 
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                          <div data-toggle="buttons" class="btn-group">
		                      <label class="btn  checkboxes    p0  " id="increaseCoverAmountLabel" ng-click="increaseCoverAmount()">
		                        	<input type="checkbox" class=" " id="increaseCoverAmount">
		                        	<span></span> Increase my total Death & TPD cover  up to 7 times my salary
		                      </label>
                   	 	  </div>                   	 	                
                      </div>                      
                    </div>
                  </div>
                  <div class="col-sm-2">  
                      	<a class="icohelp"	ng-click="clickToOpen('You can increase your total Death & TPD cover up to 7 times your salary (maximum limit of $750,000). Refer to the Insurance Guide for the full definition of salary.')"></a>
                      </div>
                </div>
               <!--  <hr class=" primeline"> -->
            <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label"> Select the benefits you wish to amend</label>
              </div>
            </div>
            <div class=" btn-group-vertical   heading" data-toggle="buttons"  >
              <div class="row rowcustom" >
                <div class="col-sm-12 checkboxes1">
                  <label class="active" id="deathsection" ng-disabled="isDeathDisabled">
                    <input type="checkbox" id="option3" name="coverDet" id="coverDetId">
                    Death </label>
                    </div>
              </div>
            </div>
            <div class="" id="death" style="display:block">
              <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6 existing-cover-wrapper">
                  <label class="helphint">Existing cover <a class="icohelp"	ng-click="clickToOpen('This is the amount of existing cover you already hold through CareSuper.')"></a></label>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover" ng-if="!isUnitEmpty(newMemberDeathCoverDetails.units)">{{newMemberDeathCoverDetails.amount | currency:undefined:0}} ({{newMemberDeathCoverDetails.units}} units)</p>
                  <p class="cover" ng-if="isUnitEmpty(newMemberDeathCoverDetails.units)">{{newMemberDeathCoverDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover" ng-if="!isUnitEmpty(newMemberDeathCoverDetails.units)">{{newMemberDeathCoverDetails.amount | currency:undefined:0}} ({{newMemberDeathCoverDetails.units}} units)</p>
                  <p class="cover" ng-if="isUnitEmpty(newMemberDeathCoverDetails.units)">{{newMemberDeathCoverDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
              </div>
              <!--  <div class="row rowcustom">
                  <div class="col-sm-4">                    
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                          <div data-toggle="buttons" class="btn-group">
		                      <label class="btn  checkboxes    p0  " id="increaseDeathCoverAmountLabel" ng-click="increaseDeathCoverAmount()">
		                        	<input type="checkbox" class=" " id="increaseDeathCoverAmount">
		                        	<span></span> Increase my total Death & TPD cover  up to 7 times my salary
		                      </label>
                   	 	  </div>                   	 	                
                      </div>                      
                    </div>
                  </div>
                  <div class="col-sm-2">  
                      	<a class="icohelp"	onclick="showTips(this,'You can increase your total Death & TPD cover up to 7 times your salary (maximum limit of $750,000). Refere to the Insurance Guide for the full definition of salary.')"></a>
                      </div>
                </div> -->
              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
               <!--  <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.coverName.$error.required && coverCalculatorForm.coverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverName.$error.required )}">
                  <div class="col-sm-4">
                    <label class="control-label"> I want to </label>
                  </div>
                  <div class="col-sm-8  ">
                    <select  class="form-control" name="coverName" id="coverId" ng-focus="checkPreviousMandatoryFields('coverName','coverCalculatorForm')"  ng-class = "(coverCalculatorForm.coverName.$error.required && coverCalculatorForm.coverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverName.$error.required)  ? 'error-border':''"  ng-change="checkDeathOption()" ng-model="coverName" required >
                      <option value="">What would you like to do ?</option>
                      <option ng-if="deathCoverDetails.amount && deathCoverDetails.amount != 0" ng-repeat="cover in DeathCoverOptionsOne" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      <option ng-if="!deathCoverDetails.amount || deathCoverDetails.amount == 0" ng-repeat="cover in coverOptionsTwo" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                    </select>
                    <span class="error" ng-if="(coverCalculatorForm.coverName.$error.required && coverCalculatorForm.coverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverName.$error.required )">Please select  Cover what you want.</span>
                  </div>
                </div> -->
                <hr class=" line">
                <div class="row rowcustom" ng-class="{'has-error':(newMembercoverCalculatorForm.newDeathcoverType.$error.required && newMembercoverCalculatorForm.newDeathcoverType.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newDeathcoverType.$error.required )}">
                  <div class="col-sm-4">
                    <label class="control-label"> Cover type <a class="icohelp"	ng-click="clickToOpen('You can choose either unit-based or fixed benefit cover. If you select unit-based cover, the amount of Death & TPD cover provided per unit will change with your age, however your monthly premium will remain the same. If you select fixed cover, your level of cover remains fixed and your premium changes with your age. Fixed cover is available in multiples of $1000. If you request cover that is not in multiples of $1000, any cover accepted will be rounded down to the nearest $1000. There is a minimum of $10,000 for fixed cover.')"></a> </label>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                        <label class="btn  radiobutton" radio-sync="Fixed" ng-disabled="isNewDeathcoverTypeDisabled" onclick="showhide('dollar','nodollar')" ng-class="{'active': (newDeathcoverType == 'DcFixed')}">  
                          <input  type="radio"  ng-change="syncRadios('Fixed')" data-sync="Fixed" name="newDeathcoverType" id="option1" class="ipradio" ng-click="checkNewMemberPreviousMandatoryFields('newDeathcoverType','newMembercoverCalculatorForm')"
                           ng-class = "(newMembercoverCalculatorForm.newDeathcoverType.$error.required && newMembercoverCalculatorForm.newDeathcoverType.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newDeathcoverType.$error.required)  ? 'radio-validation':''" 
                           ng-model="newDeathcoverType" value="DcFixed"  ng-required="!isNewDeathcoverTypeDisabled">
                          <span></span> Fixed 
                         </label>
                      </div>
                      <div class="col2">
                          <label class="btn   radiobutton" radio-sync="Unitised" onclick="showhide('nodollar','dollar')" ng-class="{'active': (newDeathcoverType == 'DcUnitised')}">
                            <input  type="radio" ng-change="syncRadios('Unitised')" data-sync="Unitised" name="newDeathcoverType" id="option2" class="ipradio" ng-click="checkNewMemberPreviousMandatoryFields('newDeathcoverType','newMembercoverCalculatorForm')"
                      		 ng-class = "(newMembercoverCalculatorForm.newDeathcoverType.$error.required && newMembercoverCalculatorForm.newDeathcoverType.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newDeathcoverType.$error.required)  ? 'radio-validation':''" 
                     		 ng-model="newDeathcoverType" value="DcUnitised" ng-disabled="isNewDeathcoverTypeDisabled" ng-required="!isNewDeathcoverTypeDisabled">
                            <span></span> Unitised
                          </label>
                        <span class="error" ng-if="(newMembercoverCalculatorForm.newDeathcoverType.$error.required && newMembercoverCalculatorForm.newDeathcoverType.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newDeathcoverType.$error.required )">Please select Cover type</span>
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="row rowcustom" ng-if="newDeathcoverType=='DcFixed'">
                  <div class="col-sm-4">                    
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                          <div data-toggle="buttons" class="btn-group">
		                      <label class="btn  checkboxes    p0  "  ng-class="{'active': indexation.death}" ng-click="setNewIndexation($event)">
		                        	<input type="checkbox" class=" " id="newchangecvr-index-dth" ng-model="indexation.death" ng-value="indexation.death">
		                        	<span></span> I would like to index my fixed cover annually by 5% 
		                      </label>
                   	 	  </div>                   	 	                
                      </div>                      
                    </div>
                  </div>
                  <div class="col-sm-2">  
                      	<a class="icohelp"	ng-click="clickToOpen('You can choose to index your fixed Death & TPD cover annually by 5%.  This will take effect on 1 July each year.')"></a>
                      </div>
                </div>
                <hr class="line">
                <div class="row rowcustom" ng-class="{'has-error':(newMembercoverCalculatorForm.newDeathrequireCover.$error.required && newMembercoverCalculatorForm.newDeathrequireCover.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newDeathrequireCover.$error.required ) || (newMembercoverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag}">
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Cover required </label>
                    <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
                 <!--  <div class="col-sm-5 col-xs-12">
                           <div class="slidercover">
                            <div id="slider2" class="slider"></div>
                            <div class="sliderin"></div>
                            <div class="leftval hidden-xs">0</div>
                            <div class="rightval hidden-xs">1,000,000</div>
                          </div> 
                        </div><p class=" spacer visible-xs">&nbsp;</p> -->
                        <div class="col-sm-3 col-xs-12">
                    <input type="text" id="dollar" name="newDeathrequireCover" format="number" class="form-control dollar" onkeyup="return isNumeric('dollar');" onkeypress="return isNumeric('dollar');"
                       ng-focus="checkNewMemberPreviousMandatoryFields('newDeathrequireCover','newMembercoverCalculatorForm')" 
                       ng-class = "(newMembercoverCalculatorForm.newDeathrequireCover.$error.required && newMembercoverCalculatorForm.newDeathrequireCover.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newDeathrequireCover.$error.required) || (newMembercoverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag ? 'error-border':''" 
                       ng-model="newDeathrequireCover" ng-change="convertNewDeathUnitsToAmount()" ng-disabled="isNewDeathcoverTypeDisabled" ng-required="newIPRequireCover ==  null || newIPRequireCover == 0" >
                     
                    <input type="text" limit-to='3' id="nodollar"  style="display:none" class="form-control" name="newDeathrequireCover" ng-focus="checkNewMemberPreviousMandatoryFields('newDeathrequireCover','newMembercoverCalculatorForm')" 
                       ng-class = "(newMembercoverCalculatorForm.newDeathrequireCover.$error.required && newMembercoverCalculatorForm.newDeathrequireCover.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newDeathrequireCover.$error.required) || (newMembercoverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag ? 'error-border':''" 
                       ng-model="newDeathrequireCover" ng-change="convertNewDeathUnitsToAmount()" ng-disabled="isNewDeathcoverTypeDisabled" ng-required="newIPRequireCover ==  null || newIPRequireCover == 0">
                       <span class="error" ng-if="(newMembercoverCalculatorForm.newDeathrequireCover.$error.required && newMembercoverCalculatorForm.newDeathrequireCover.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newDeathrequireCover.$error.required )">Please select required Cover</span>
                       <span class="error" ng-if="deathErrorFlag">{{deathErrorMsg}}</span>
                        <div class="row rowcustom" ng-if="deathWarningFlag">
					  		<div class="col-sm-12">
				                <label class="control-label"><img src="static/host/images/warning.png">{{deathLimitMsg}}</label>	            
					  		</div>
					  	</div>
                  </div>
                </div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{dcNewCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>Weekly cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{dcNewWeeklyCost | currency}}</h4>
                  </div>
                </div>
              </div>
            </div>
            <p class="spacer">&nbsp;</p>
            <div class=" btn-group-vertical   heading" data-toggle="buttons"  >
              <div class="row rowcustom">
                <div class="col-sm-12 checkboxes1">
                  <label class="active" id="tpdsection" ng-disabled="isTPDDisabled">
                    <input type="checkbox" id="perDisplacementId" name="perDisplacement">
                     Total &amp; Permanent Disablement </label>
                </div>
              </div>
            </div>
            <div class="" id="tpd" style="display:block">
            <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing cover <a class="icohelp"	ng-click="clickToOpen('This is the amount of existing cover you already hold through CareSuper.')"></a></h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover" ng-if="!isUnitEmpty(newMemberTpdCoverDetails.units)">{{newMemberTpdCoverDetails.amount | currency:undefined:0}} ({{newMemberTpdCoverDetails.units}} units)</p>
                  <p class="cover" ng-if="isUnitEmpty(newMemberTpdCoverDetails.units)">{{newMemberTpdCoverDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover" ng-if="!isUnitEmpty(newMemberTpdCoverDetails.units)" >{{newMemberTpdCoverDetails.amount | currency:undefined:0}} ({{newMemberTpdCoverDetails.units}} units)</p>
                  <p class="cover" ng-if="isUnitEmpty(newMemberTpdCoverDetails.units)">{{newMemberTpdCoverDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
              </div>
               <!-- <div class="row rowcustom">
                  <div class="col-sm-4">                    
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                          <div data-toggle="buttons" class="btn-group">
		                      <label class="btn  checkboxes    p0  " id="increaseTPDCoverAmountLabel" ng-click="increaseTPDCoverAmount()">
		                        	<input type="checkbox" class=" " id="increaseTPDCoverAmount" >
		                        	<span></span> Increase my total Death & TPD cover  up to 7 times my salary
		                      </label>
                   	 	  </div>                   	 	                
                      </div>                      
                    </div>
                  </div>
                  <div class="col-sm-2">  
                      	<a class="icohelp"	onclick="showTips(this,'You can increase your total Death & TPD cover up to 7 times your salary (maximum limit of $750,000). Refere to the Insurance Guide for the full definition of salary.')"></a>
                      </div>
                </div> -->
              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
             <!-- <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.tpdCoverName.$error.required && coverCalculatorForm.tpdCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverName.$error.required )}" >
                  <div class="col-sm-4">
                    <label class="control-label"> I want to</label>
                  </div>
                  <div class="col-sm-8  ">
                    <select  ng-disabled="isTPDCoverNameDisabled" class=" form-control" name="tpdCoverName" id="coverId" ng-focus="checkPreviousMandatoryFields('tpdCoverName','coverCalculatorForm')"  ng-class = "(coverCalculatorForm.tpdCoverName.$error.required && coverCalculatorForm.tpdCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverName.$error.required)  ? 'error-border':''" ng-model="tpdCoverName" ng-change="checkTPDOption()" required>
                      <option value="">What would you like to do ?</option>
                      <option ng-if="(tpdCoverDetails.amount && tpdCoverDetails.amount != 0) || (deathCoverDetails.amount && deathCoverDetails.amount != 0)" ng-repeat="cover in TPDCoverOptionsOne" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      <option ng-if="!tpdCoverDetails.amount || tpdCoverDetails.amount == 0" ng-repeat="cover in coverOptionsTwo" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      
                    </select>
                    <span class="error" ng-if="(coverCalculatorForm.tpdCoverName.$error.required && coverCalculatorForm.tpdCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverName.$error.required )">Please select  Cover what you want.</span>
                  </div>
                </div> -->
                <hr class="line">
                <div class="row rowcustom"  ng-class="{'has-error':(newMembercoverCalculatorForm.newTpdCoverType.$error.required && newMembercoverCalculatorForm.newTpdCoverType.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newTpdCoverType.$error.required )}">
                  <div class="col-sm-4">
                    <label class="control-label"> Cover type <a class="icohelp"	ng-click="clickToOpen('You can choose either unit-based or fixed benefit cover. If you select unit-based cover, the amount of Death & TPD cover provided per unit will change with your age, however your monthly premium will remain the same. If you select fixed cover, your level of cover remains fixed and your premium changes with your age. Fixed cover is available in multiples of $1000. If you request cover that is not in multiples of $1000, any cover accepted will be rounded down to the nearest $1000. There is a minimum of $10,000 for fixed cover.')"></a>  </label>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2">
                        <label class="btn radiobutton" radio-sync="Fixed" ng-disabled="isNewTpdCoverTypeDisabled" onclick="showhide('dollar1','nodollar1')" ng-class="{'active': (newTpdCoverType=='TPDFixed')}">
                          <input type="radio"  ng-change="syncRadios('Fixed')" data-sync="Fixed" name="newTpdCoverType"  id="option1" class="ipradio" ng-focus="checkNewMemberPreviousMandatoryFields('newTpdCoverType','newMembercoverCalculatorForm')"
                           ng-class = "(newMembercoverCalculatorForm.newTpdCoverType.$error.required && newMembercoverCalculatorForm.newTpdCoverType.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newTpdCoverType.$error.required)  ? 'radio-validation':''" 
                           ng-model="newTpdCoverType" value="TPDFixed" ng-required="!isNewTPDRequireCoverDisabled">
                          <span></span> Fixed </label>
                         </div>
                      <div class="col2"> 
                        <label class="btn radiobutton"radio-sync="Unitised"  ng-disabled="isNewTpdCoverTypeDisabled" onclick="showhide('nodollar1','dollar1')" ng-class="{'active': (newTpdCoverType=='TPDUnitised')}">
                          <input type="radio" ng-change="syncRadios('Unitised')" data-sync="Unitised" name="newTpdCoverType" id="option2" class="ipradio"  ng-focus="checkNewMemberPreviousMandatoryFields('newTpdCoverType','newMembercoverCalculatorForm')"
                      		 ng-class = "(newMembercoverCalculatorForm.newTpdCoverType.$error.required && newMembercoverCalculatorForm.newTpdCoverType.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newTpdCoverType.$error.required)  ? 'radio-validation':''" 
                     		 ng-model="newTpdCoverType" value="TPDUnitised" ng-required="!isNewTPDRequireCoverDisabled">
                          <span></span> Uniised </label>
                          <span class="error" ng-if="(newMembercoverCalculatorForm.newTpdCoverType.$error.required && newMembercoverCalculatorForm.newTpdCoverType.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newTpdCoverType.$error.required )">Please select Cover type</span>
                         </div>
                    </div>
                  </div>
                </div>
                
                <div class="row rowcustom" ng-if="newTpdCoverType=='TPDFixed'">
                  <div class="col-sm-4">                    
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                          <div data-toggle="buttons" class="btn-group">
		                      <label class="btn  checkboxes    p0  "  ng-class="{'active': indexation.tpd}" ng-click="setNewIndexation($event)">
		                        	<input type="checkbox" class=" " id="newchangeCvr-indextpd-tpd" ng-model="indexation.tpd" ng-value="indexation.tpd">
		                        	<span></span> I would like to index my fixed cover annually by 5% 
		                      </label>
                   	 	  </div>                   	 	                
                      </div>                      
                    </div>
                  </div>
                  <div class="col-sm-2">  
                      	<a class="icohelp"	ng-click="clickToOpen('You can choose to index your fixed Death & TPD cover annually by 5%.  This will take effect on 1 July each year.')"></a>
                      </div>
                </div>
                <hr class="line">
                <div class="row rowcustom " ng-class="{'has-error':(newMembercoverCalculatorForm.newTPDRequireCover.$error.required && newMembercoverCalculatorForm.newTPDRequireCover.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newTPDRequireCover.$error.required ) || (newMembercoverCalculatorForm.$submitted && coverAmountFlag) || coverAmountFlag || (newMembercoverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag}">
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Cover required </label>
                  </div>
                 <!--  <div class="col-sm-5 col-xs-12">
                     <div class="slidercover">
                      <div id="slider3" class="slider"></div>
                      <div class="sliderin"></div>
                      <div class="leftval hidden-xs">0</div>
                      <div class="rightval hidden-xs">1,000,000</div>
                    </div> 
                  </div><p class="spacer visible-xs">&nbsp; </p> -->
                  <div class="col-sm-3 col-xs-12">
                    <input id="dollar1" type="text"  format="number" name="newTPDRequireCover"  class="form-control dollar" onkeyup="return isNumeric('dollar1');" onkeypress="return isNumeric('dollar1');"
                       ng-focus="checkNewMemberPreviousMandatoryFields('newTPDRequireCover','newMembercoverCalculatorForm')" 
                       ng-class = "((newMembercoverCalculatorForm.newTPDRequireCover.$error.required && newMembercoverCalculatorForm.newTPDRequireCover.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newTPDRequireCover.$error.required) || (newMembercoverCalculatorForm.$submitted && coverAmountFlag) || coverAmountFlag || (newMembercoverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag)? 'error-border':''" 
                       ng-model="newTPDRequireCover" ng-change="validateDeathTPDAmount()" ng-disabled="isNewTPDRequireCoverDisabled" >
                    <input type="text" id="nodollar1" limit-to='3' ng-model="newTPDRequireCover" style="display:none"  class="form-control" ng-focus="checkNewMemberPreviousMandatoryFields('newTPDRequireCover','newMembercoverCalculatorForm')" 
                       ng-class = "((newMembercoverCalculatorForm.newTPDRequireCover.$error.required && newMembercoverCalculatorForm.newTPDRequireCover.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newTPDRequireCover.$error.required) || (newMembercoverCalculatorForm.$submitted && coverAmountFlag) ||  coverAmountFlag || (newMembercoverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag) ? 'error-border':''" 
                       ng-model="newTPDRequireCover" ng-change="convertNewTPDUnitsToAmount()" ng-disabled="isNewTPDRequireCoverDisabled" >
                    <span class="error" ng-if="(newMembercoverCalculatorForm.newTPDRequireCover.$error.required && newMembercoverCalculatorForm.newTPDRequireCover.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newTPDRequireCover.$error.required )">Please select required Cover</span>
                    <span class="error" ng-if="coverAmountFlag">{{coverAmountErrorMsg}}</span>
                    <span class="error" ng-if="tpdErrorFlag">{{tpdErrorMsg}}</span>
                     <div class="row rowcustom" ng-if="tpdWarningFlag">
					  		<div class="col-sm-12">
				                <label class="control-label"><img src="static/host/images/warning.png">{{tpdLimitMsg}}</label>	            
					  		</div>
					  	</div>
                  </div>
                </div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{tpdNewCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>Weekly cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{tpdNewWeeklyCost | currency}}</h4>
                  </div>
                </div>
              </div>
            </div>
            <p class="spacer">&nbsp;</p>
            <div class=" btn-group-vertical   heading" data-toggle="buttons"  >
              <div class="row rowcustom"  >
                <div class="col-sm-12 checkboxes1">
                  <label class="active" id="ipsection" ng-disabled="isIPDisabled">
                    <input type="checkbox" id="option3" class=" ">
                      Salary Continuance  </label>
                </div>
              </div>
            </div>
            <div class="" id="sc" style="display:block">
            <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6 existing-cover-wrapper">
                  <label class="helphint">Existing cover <a class="icohelp"	ng-click="clickToOpen('This is the amount of existing cover you already hold through CareSuper.')"></a></label>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{newMemberIpCoverDetails.amount | currency:undefined:0}} ({{newMemberIpCoverDetails.units}} units)</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{newMemberIpCoverDetails.amount | currency:undefined:0}} ({{newMemberIpCoverDetails.units}} units)</p>
                </div>
              </div>
              
               <div class="row rowcustom" ng-hide="newMemberIpCoverDetails.amount == '0.0'">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing waiting period  </h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{newMemberIpCoverDetails.waitingPeriod}}</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{newMemberIpCoverDetails.waitingPeriod}}</p>
                </div>
              </div>
              
               <div class="row rowcustom" ng-hide="newMemberIpCoverDetails.amount == '0.0'">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing benefit period  </h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{newMemberIpCoverDetails.benefitPeriod}}</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{newMemberIpCoverDetails.benefitPeriod}}</p>
                </div>
              </div>
              
              
              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
                <!-- <div class="row rowcustom " ng-class="{'has-error':(coverCalculatorForm.ipCoverName.$error.required && coverCalculatorForm.ipCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipCoverName.$error.required )}" >
                  <div class="col-sm-4">
                    <label class="control-label"> I want to </label>
                  </div>
                  <div class="col-sm-8  ">
                    <select  class="form-control" name="ipCoverName" id="coverId" ng-focus="checkPreviousMandatoryFields('ipCoverName','coverCalculatorForm')" ng-change="checkIPOption()"  ng-class = "(coverCalculatorForm.ipCoverName.$error.required && coverCalculatorForm.ipCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipCoverName.$error.required)  ? 'error-border':''" ng-model="ipCoverName" required>
                       <option value="">What would you like to do ?</option>
                      <option ng-if="ipCoverDetails.amount && ipCoverDetails.amount != 0" ng-repeat="cover in IPCoverOptionsOne" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      <option ng-if="!ipCoverDetails.amount || ipCoverDetails.amount == 0" ng-repeat="cover in coverOptionsTwo" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                    </select>
                    <span class="error" ng-if="(coverCalculatorForm.ipCoverName.$error.required && coverCalculatorForm.ipCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipCoverName.$error.required )">Please select  Cover what you want.</span>
                  </div>
                </div> -->
               <!--  <hr class="primeline">
               <div class="row rowcustom ">
                  <div class="col-sm-3">
                    <div data-toggle="buttons" class="btn-group">
                      <label class="btn  checkboxes    p0  " id="ipsalarychecklabel" ng-disabled="isIpSalaryCheckboxDisabled" ng-click="changeIPValue()">
                        <input type="checkbox" class=" " id="ipsalarycheck" ng-disabled="isIpSalaryCheckboxDisabled">
                        <span></span> Insure 85% of my salary 
                        </label>
                    </div>                     
                  </div> 
                  <div class="col-sm-1">
                      <a class="icohelp" ng-click="clickToOpen('Refer to the Insurance Guide to calculate the number of units you want, up to 85% of income. If your annual salary exceeds $423,530, your income protection cover will be subject to maximum benefit restrictions.')"></a>
                        
                    </div>                 
                </div> -->
                <hr class="primeline">
                <div class="row rowcustom">
                  <div class="col-sm-4">
                    <label class="control-label"> Waiting period </label>
                  </div>
                  <div class="col-sm-8  ">
                  <select class="form-control" ng-model="waitingPeriodAddnl" ng-options="waitingPeriodOption for waitingPeriodOption in newWaitingPeriodOptions track by waitingPeriodOption" ng-change="calculateNewQuoteOnChange()"></select>
                    <!-- <select  class="selectpicker  form-control" ng-model="waitingPeriod">
                      <option value="30 Days" ng-selected="ipCoverDetails.waitingPeriod == waitingPeriod"  >30 Days</option>
                      <option value="60 Days">60 Days</option>
                      <option value="90 Days">90 Days</option> 
                   </select> -->
                  </div>
                </div>
                <hr class="primeline">
                <div class="row rowcustom">
                  <div class="col-sm-4">
                    <label class="control-label"> Benefit period </label>
                  </div>
                  <div class="col-sm-8  ">
                  <select class="form-control" ng-model="benefitPeriodAddnl" ng-options="benefitPeriodOption for benefitPeriodOption in newBenefitPeriodOptions track by benefitPeriodOption" ng-change="calculateNewQuoteOnChange()"></select>             
                    <!-- <select  class="selectpicker  form-control" ng-model="benefitPeriod">
                      <option value="2 Years" ng-selected="">2 Years</option>
                      <option value="5 Years">5 Years</option>
                      
                    </select> -->
                  </div>
                </div>
                <hr class="primeline">
                <div class="row rowcustom " ng-class="{'has-error':(newMembercoverCalculatorForm.newIPRequireCover.$error.required && newMembercoverCalculatorForm.newIPRequireCover.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newIPRequireCover.$error.required )}">
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Cover required </label>
                    <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
                  <!-- <div class="col-sm-5 col-xs-12">
                     <div class="slidercover">
                      <div id="slider4" class="slider"></div>
                      <div class="sliderin"></div>
                      <div class="leftval hidden-xs">0</div>
                      <div class="rightval hidden-xs">1,000,000</div>
                    </div> 
                  </div><p class="spacer visible-xs">&nbsp; </p> -->
                  <div class="col-sm-3 col-xs-12">
                  <input id="nodollar2" type="text" name="newIPRequireCover" maxlength='3' class="form-control" onkeyup="return isNumeric('nodollar2');" onkeypress="return isNumeric('nodollar2');"
                       ng-focus="checkNewMemberPreviousMandatoryFields('newIPRequireCover','newMembercoverCalculatorForm')" 
                       ng-class = "(newMembercoverCalculatorForm.newIPRequireCover.$error.required && newMembercoverCalculatorForm.newIPRequireCover.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newIPRequireCover.$error.required)  ? 'error-border':''" 
                       ng-model="newIPRequireCover" ng-change="checkIpCoverValue()" ng-disabled="isIPDisabled" >
                       <span class="error" ng-if="(newMembercoverCalculatorForm.newIPRequireCover.$error.required && newMembercoverCalculatorForm.newIPRequireCover.$touched) || (newMembercoverCalculatorForm.$submitted && newMembercoverCalculatorForm.newIPRequireCover.$error.required )" >Please enter required Cover</span>
                       <div class="row rowcustom" ng-if="IPWarningFlag">
					  		<div class="col-sm-12">
				                <label class="control-label"><img src="static/host/images/warning.png">The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</label>	            
					  		</div>
					  	</div>
                    <!-- <input type="text" id="amount4" onclick="visible('tick1')" class="form-control dollar" ng-disabled="!isEnable" > -->
                  </div>
                </div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{ipNewCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5 class="coverval"> Total Weekly cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{ipNewWeeklyCost | currency}}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Row ends -->
          
          <div class="row   coverbg seccolor ">
            <div class="col-sm-3 hidden-xs">
              <h5>&nbsp;</h5>
            </div>
            <div class="col-sm-3 alignright borderright  hidden-xs">
              <h4 class="coverval">&nbsp; </h4>
            </div>
            <div class="col-sm-3 col-xs-6">
              <h5>Weekly cost</h5>
            </div>
            <div class="col-sm-3 col-xs-6 alignright">
              <h4 class="coverval">{{totalNewWeeklyCost | currency}}</h4>
            </div>
          </div>
          <p class="spacer">&nbsp;</p>
          <div class=" row rowcustom">
          <div class="col-xs-12">
          <p class="note">
          	<strong>Disclaimer:</strong><p style="text-align:left;"> This represents the total cost of the cover you have applied for based on the information provided to us. This amount does not take into account any premium loading which may apply to your existing cover. The final cost of your total insurance cover will be notified to you in writing by CareSuper.
          </p>
          <p ng-if="totalNewWeeklyCost > 0" style="text-align:left;">Insurance cover through CareSuper is provided by MetLife Insurance Limited ABN 75 004 274 882 AFSL No. 238096. When completing your application for insurance, you will be providing MetLife with your personal information including your health information. By clicking the Continue button, you consent to the collection, use and disclosure of your personal information as described in MetLife's Privacy Policy which is available at <a href="https://www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy-policy</a>.
          </p>
          </p>
          </div>
          
          </div>
          <div class=" row rowcustom" ng-class="{'has-error':newAckFlag}" ng-click="checkNewAckState()">
          <div class="col-sm-12" ng-if="totalNewWeeklyCost > 0">
                <div data-toggle="buttons" class=" btn-group-vertical      ">
                  <label class="btn wrap checkboxes1 " id="newTermsLabel">
                    <input type="checkbox" class="ng-pristine ng-untouched ng-valid" id="newTermsNconditionsCheck" name="ackDocument"  value="" required>
                    <span></span> I agree to all the above Terms & Conditions</label>
                    
                </div>
              </div>
            </div>  
          
          <div class=" row rowcustom">
            <div class="col-sm-5 col-xs-12">
             <button ng-if="totalNewWeeklyCost > 0" type="button" class="btn btn-primary w100p" ng-click="goToAuraPage()" >Continue </button>
             <!--  <button type="button" class="btn btn-primary w100p" ng-click="newMemberFormSubmit(newMembercoverCalculatorForm);" >Continue </button>
            <button ng-if="totalNewWeeklyCost > 0" type="button" class="btn btn-primary w100p">Continue </button> -->
             <button ng-if="totalNewWeeklyCost == 0" type="button" class="btn btn-primary w100p" ng-click="newMemberFormSubmit(newMembercoverCalculatorForm)" >Calculate Quote </button> 
            </div>
           <!--  <div class="col-sm-3 col-xs-12 hidden-xs">
			    <button type="button" class="btn btn-primary w100p" ng-if="totalNewWeeklyCost > 0" ng-click="saveNewMemberQuote()">Save &amp; Exit </button>  
            </div>
            <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12 aligncenter visible-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-if="totalNewWeeklyCost > 0" ng-click="saveNewMemberQuote()"> Save &amp; Exit</button>
              </div> -->
            <!-- <div ng-if="totalWeeklyCost > 0" class="col-sm-6 alignleft hidden-xs"> <a class="cancellink" href="landingpage.html"> Cancel</a> </div>
            <div  ng-if="totalWeeklyCost > 0" class=" col-xs-12 aligncenter   visible-xs"> <a class="cancellink" href="#"> Cancel </a> </div>  -->
            <p class="col-xs-12 visible-xs">&nbsp;</p>
            <div ng-if="totalNewWeeklyCost > 0" class="col-sm-3 col-xs-12 hidden-xs"><button type="button" class="btn btn-primary w100p" ng-click="navigateToLandingPage()">Cancel </button></div> 
       		<div  ng-if="totalNewWeeklyCost > 0" class="col-sm-3 col-xs-12 visible-xs"><button type="button" class="btn btn-primary w100p" ng-click="navigateToLandingPage()">Cancel </button></div> 
          </div>
          <p class="spacer">&nbsp;</p>
          </form>
        </div>
      </div>
      <!-- Cover Calculator section ends -->
      
    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 467 875</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 

<p class="spacer">&nbsp;</p>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-2   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext"> HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
    </div>	
    <div class="col-sm-3   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a>
         </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
     <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a> </p>
    <p class="footertext">HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>
<help-text show='modalShown' msg='tipMsg' width='550px'>
	  <p>Modal Content Goes here<p>
	</help-text>





<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 

    
 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 



