

 
<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/host/header.html'"></div>
</div>
<h2 ng-show="errorOccured" style="color:red;text-align: center;">Something went wrong...Please try after sometime</h2>
<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-xs-3 nav-arrows"> 
    <img src="static/host/images/bg_blank.png" ng-if="!auraDisabled" ng-click="go('/auraspecial/')" class=" icoMenuRev active  ">
    <img src="static/host/images/bg_blank.png" ng-if="auraDisabled" ng-click="go('/quotespecial/')" class=" icoMenuRev active  ">
    <img src="static/host/images/bg_blank.png" class=" icoMenuFwd  ml30p">
    </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 467 875</h3>
      <h3 class="helpNo"> </h3>
    </div>
     
  </div>
   <div class="col-sm-9">
	    <div class="menu hidden-xs">
	       <div class="col-sm-4 nn">
	        <h5 style="color:#0066a1">Step 1</h5>
	        <div class="txtHolder pointer"> <a ng-click="go('/quotespecial/')"> Personal details</a> </div>
	        <img src="static/host/images/bg_blank.png" class=" right">
	       </div>
	       
	        <div class="col-sm-4 nl" ng-if="!auraDisabled">
	         <img src="static/host/images/bg_blank.png" class=" left">
	         <h5 style="color:#0066a1">Step 2</h5>
	         <div class="txtHolder pointer"> <a ng-click="go('/auraspecial/')"> Health &amp; lifestyle</a></div>
	         <img src="static/host/images/bg_blank.png" class=" right">
	        </div>
	        <div class="col-sm-4 nl" ng-if="auraDisabled" ng-disabled="auraDisabled">
	         <img src="static/host/images/bg_blank.png" class=" left">
	         <h5 style="color:#d9d9d9">Step 2</h5>
	         <div class="txtHolder"> <a style="color:#d9d9d9"> Health &amp; lifestyle</a></div>
	         <img src="static/host/images/bg_blank.png" class=" right">
	        </div>
	       
	        <div class="col-sm-4 cn">
	         <h5>Step 3</h5>
	         <div class="txtHolder" style="color:#000"> Confirmation </div>
	         <img src="static/host/images/bg_blank.png" class=" left"> 
	        </div>
	     </div>
	     
	    <div class="panel-group" id=" ">
	    <div class="panel panel-default twoColData">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="  ">
	          	<h4 class="panel-title">Personal details </h4>
	          </a> 
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse in ">
	          <div class="panel-body"> 
	            <!-- Row starts -->
	            <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>First name</strong> </label>
	                <label class="control-label">{{changeCoverDetails.firstName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Last name</strong> </label>
	                <label class="control-label">{{changeCoverDetails.lastName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            
	            <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>Gender</strong></label>
	                <label class="control-label">{{changeCoverOccDetails.gender}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact type</strong> </label>
	                <label class="control-label"> {{changeCoverDetails.contactType}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	           
	              <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd" >
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact number </strong></label>
	                <label class="control-label">{{changeCoverDetails.contactPhone}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Email address</strong> </label>
	               <label class="control-label">{{changeCoverDetails.email}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline hidden-xs" >
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Date of birth</strong> </label>
	                <label class="control-label"> {{changeCoverDetails.dob}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>What time of day do you prefer to be contacted?</strong></label>
	               <label class="control-label" ng-if="changeCoverDetails.contactPrefTime=='Morning (9am - 12pm)'">Morning (9am&ndash;12pm)</label>
	               <label class="control-label" ng-if="changeCoverDetails.contactPrefTime=='Afternoon (12pm - 6pm)'">Afternoon (12pm&ndash;6pm)</label>
	              </div>
	            </div>
	            <!-- Row ends -->	            	            
	          	   
	          	     <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Do you work 15 or more hours per week?</strong> </label>
	                <label class="control-label">{{changeCoverOccDetails.fifteenHr}}</label>
	                </div>
	                       <div class="col-sm-6 col-xs-12" >
	              <label class="control-label"> <strong>Do you, directly or indirectly, own all or part of a business from which you earn your regular income?</strong> </label>
	               <label class="control-label">{{changeCoverOccDetails.ownBussinessQues}}</label>
	              </div>
	              </div>
	                <hr class="primeline hidden-xs">
	                <div class="row rowcustom odd">
	               <div class="col-sm-6 col-xs-12" ng-if="changeCoverOccDetails.ownBussinessQues == 'Yes'">
	                <label class="control-label"><strong>Are you currently: <br>
                	 <li> Capable of, and performing all of the usual identifiable duties from your occupation, without restriction due to injury or illness?</li></strong>
                    </label>
	                  <label class="control-label">{{changeCoverOccDetails.ownBussinessQues}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12" ng-if="changeCoverOccDetails.ownBussinessQues == 'No'">
	               <label class="control-label"><strong>With your current job, are you currently: <br> <li> Actively Performing all your normal duties of your occupation; and </li> <br> <li> Working your usual hours without limitation of injury or illness; and </li>
	                 <br> <li> Not entitled to, or not receiving any income support benefits of any kind.</li></strong>
	                </label>
	                <label class="control-label">{{changeCoverOccDetails.ownBussinessQues}}</label>
	              </div>
	               <!-- <div class="col-sm-6 col-xs-12">
	                  <label class="control-label"> <strong>Are you a citizen or permanent resident of Australia or a New Zealand citizen residing in Australia under a Special Category Visa?</strong> </label>
	                  <label class="control-label">{{changeCoverOccDetails.citizenQue}}</label>
	              </div> -->
	            </div>
	            <!-- Row ends -->
	          	
	          	  <hr class="primeline hidden-xs">
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Annual salary</strong></label>
	                <label class="control-label">{{changeCoverOccDetails.salary | currency:undefined:0}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Have you previously been paid, or been entitled to receive a TPD benefit?</strong></label>
	            <label class="control-label">{{changeCoverDetails.previousTpdBenefit}}</label>
	              </div>
	               
	            </div>
	                <div class="row rowcustom odd">
	                   <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Have you previously been paid, or been entitled to receive a Terminal Illness benefit?</strong></label>
	            <label class="control-label">{{changeCoverDetails.previousTerminalillness}}</label>
	              </div>
	                  </div>
	            <!-- Row ends -->
	          	<hr class="primeline hidden-xs">
	              <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	              	<label class="control-label"> <strong>What is your current occupation?</strong></label>
	              	<!-- <label class="control-label">{{changeCoverOccDetails.occupation}}</label> -->
	             	<label class="control-label" ng-show="changeCoverOccDetails.occupation !='Other'">{{changeCoverOccDetails.occupation}}</label>
	                <label class="control-label" ng-show="changeCoverOccDetails.occupation =='Other'">{{changeCoverOccDetails.otherOccupation}}</label>
	              </div>
	              <!-- <div class="col-sm-6 col-xs-12" ng-if="changeCoverOccDetails.occupation =='Other'">
		              <label class="control-label"> <strong>If other, What is your occupation?</strong></label>
		              <label class="control-label">{{changeCoverOccDetails.otherOccupation}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12" ng-if="changeCoverOccDetails.occupation !='Other'">
	                 <label class="control-label"> <strong>What industry do you work in?</strong> </label>
	                  <label class="control-label">{{changeCoverOccDetails.industryName}}</label>
	              </div> -->
	              <div class="col-sm-6 col-xs-12">
	                 <label class="control-label"> <strong>What industry do you work in?</strong> </label>
	                  <label class="control-label">{{changeCoverOccDetails.industryName}}</label>
	              </div>
	            </div>
	             <!-- Row ends -->
	             
	             <!-- <hr class="primeline hidden-xs" ng-if="changeCoverOccDetails.occupation =='Other'"> -->
	              <!-- Row starts -->
	            <!-- <div class="row rowcustom odd" ng-if="changeCoverOccDetails.occupation =='Other'">
	              <div class="col-sm-6 col-xs-12">
	                 <label class="control-label"> <strong>What industry do you work in?</strong> </label>
	                  <label class="control-label">{{changeCoverOccDetails.industryName}}</label>
	              </div>
	            </div> -->
	             <!-- Row ends -->
	             
	        <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd" ng-if="changeCoverOccDetails.withinOfficeQue == 'Yes' || changeCoverOccDetails.withinOfficeQue == 'No' || changeCoverOccDetails.tertiaryQue == 'Yes'|| changeCoverOccDetails.tertiaryQue == 'No'">
	              <div class="col-sm-6 col-xs-12"  ng-if="changeCoverOccDetails.withinOfficeQue == 'Yes' || changeCoverOccDetails.withinOfficeQue == 'No'">
	                <!-- <label class="control-label"><p align="justify"> <strong>Do you spend more than 10% of your working time outside of an office environment?</strong></p></label> -->
	                <label class="control-label"><p align="justify"> <strong>Do you spend at least 90% of your working time in an office? (For example 34.2 hours out of a 38-hour working week)</strong></p></label>
	               <label class="control-label">{{changeCoverOccDetails.withinOfficeQue}}</label>
	              </div>
	            <div class="col-sm-6 col-xs-12" ng-if="changeCoverOccDetails.tertiaryQue == 'Yes' || changeCoverOccDetails.tertiaryQue == 'No'">
	                <label class="control-label"> <p align="justify"><strong>Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</strong></p></label>
	               <label class="control-label">{{changeCoverOccDetails.tertiaryQue}}</label>
	              </div>
	          </div>
	          <hr ng-if="changeCoverOccDetails.withinOfficeQue == 'Yes' || changeCoverOccDetails.withinOfficeQue == 'No' || changeCoverOccDetails.tertiaryQue == 'Yes'|| changeCoverOccDetails.tertiaryQue == 'No'"class="primeline hidden-xs">
	          <div class="row rowcustom odd" ng-if="changeCoverOccDetails.managementRoleQue == 'Yes' || changeCoverOccDetails.managementRoleQue == 'No' || changeCoverOccDetails.hazardousQue == 'Yes' || changeCoverOccDetails.hazardousQue == 'No'">
	            <div class="col-sm-6 col-xs-12" ng-if="changeCoverOccDetails.managementRoleQue == 'Yes' || changeCoverOccDetails.managementRoleQue == 'No'">
	                <!-- <label class="control-label"> <strong>Do you spend more than 10% of your working time outside of an office environment?  </strong></label> -->
	                <label class="control-label"> <strong>Do you spend at least 90% of your working time in an office? (For example 34.2 hours out of a 38-hour working week)  </strong></label>
	               <label class="control-label">{{changeCoverOccDetails.managementRoleQue}}</label>
	              </div>
	            <div class="col-sm-6 col-xs-12" ng-if="changeCoverOccDetails.hazardousQue == 'Yes' || changeCoverOccDetails.hazardousQue == 'No'">
	                <label class="control-label"> <strong>Do you work in a hazardous environment and/or perform any duties of a manual nature?</strong></label>
	               <label class="control-label">{{changeCoverOccDetails.hazardousQue}}</label>
	              </div>
	            </div>
	             <hr ng-if="changeCoverOccDetails.managementRoleQue == 'Yes' || changeCoverOccDetails.managementRoleQue == 'No' || changeCoverOccDetails.hazardousQue == 'Yes' || changeCoverOccDetails.hazardousQue == 'No'" class="primeline hidden-xs">
	       
	        
	           <!--  Change ends -->
	        
	          
	            
	             
	            <!--  <hr class="primeline">  -->
	            <!-- Row starts -->
	            <!--<div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>Smoker</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	                <label class="control-label">No</label>
	              </div>
	            </div>-->
	            <!-- Row ends --> 
	                         
	            
	          </div>
	        </div>
	      </div>
	      <div class="panel panel-default nobg">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" class="">
	            <h4 class="panel-title"> Your cover</h4>
	            </a>
	        </div>
	        <div id="collapseTwo" class="panel-collapse collapse in">
	           <div class="">
	           
	            <div class="row   ">
	            <!-- Death Cover Details Starts--> 
	            <div class="col-sm-4 bgwhite borderright5px h445px">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Death<br>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px    aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p class="color3">{{changeCoverDetails.existingDeathAmt | currency:undefined:0}} </p>
	                <h5 class=" color2">New cover</h5>
	                <p class="color3">{{deathAddnlDetails.deathFixedAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category </h5>
	                <p class="color3">{{changeCoverDetails.deathOccCategory}}</p>
	                <h5 class=" color2">{{changeCoverDetails.freqCostType}} cost</h5>
	                <p class="color3">{{deathAddnlDetails.deathCoverPremium | currency}}</p>
	                 <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="spacer visible-sm visible-md">&nbsp;</p>
	                <p class="spacer visible-sm visible-md mtm3px">&nbsp;</p>
	                <p class="spacer mt20px visible-sm ">&nbsp;</p> <p class="spacer mt20px visible-sm ">&nbsp;</p>
	                
	              </div>
	            </div>
	            <!-- Death Cover Details Ends--> 
	            
	            <p class="spacer visible-xs">&nbsp;</p>
	            
	           <!-- TPD Cover Details Starts--> 
	           <div class="col-sm-4 bgwhite borderright5px h445px ">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Total &amp; permanent<br> disablement</strong> 
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px    aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p class="color3">{{changeCoverDetails.existingTpdAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">New cover</h5>
	                <p class="color3">{{tpdAddnlDetails.tpdFixedAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category </h5>
	                <p class="color3">{{changeCoverDetails.tpdOccCategory}}</p>
	                <h5 class=" color2">{{changeCoverDetails.freqCostType}} cost</h5>
	                <p class="color3">{{tpdAddnlDetails.tpdCoverPremium | currency}}</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="h5px mt0 mb0">&nbsp;</p> <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="spacer visible-sm visible-md">&nbsp;</p>
	                <p class="spacer visible-sm visible-md mtm3px">&nbsp;</p>
	                <p class="spacer mt20px visible-sm ">&nbsp;</p> <p class="spacer mt20px visible-sm ">&nbsp;</p>
	              </div>
	              </div>
	             <!-- TPD Cover Details Ends--> 
	             
	             <p class="spacer visible-xs">&nbsp;</p>
	             
	             <!-- IP Cover Details Starts-->
	             <div class="col-sm-4 bgwhite h445px">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Salary   <br>
	                continuance   <span class="visible-sm"><br>
	                </span></strong>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p class="color3">{{changeCoverDetails.existingIpAmount| currency:undefined:0}} </p>
	                <h5 class=" color2">New cover</h5>
	                <p class="color3">{{ipAddnlDetails.ipFixedAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category </h5>
	                <p class="color3">{{changeCoverDetails.ipOccCategory}}</p>
	                <h5 class=" color2">Waiting period</h5>
	                <p class="color3">{{ipAddnlDetails.waitingPeriod}}</p>
	                <h5 class=" color2">Benefit period</h5>
	                <p class="color3">{{ipAddnlDetails.benefitPeriod}}</p>
	                <h5 class=" color2">{{changeCoverDetails.freqCostType}} cost</h5>
	                <p class="color3">{{ipAddnlDetails.ipCoverPremium | currency}}</p>
	                <p class="h5px mt0 mb0">&nbsp;</p>
	                <p class="spacer visible-sm visible-md">&nbsp;</p>
	                <p class="spacer visible-sm visible-md mtm3px">&nbsp;</p>
	                <p class="spacer mt20px visible-sm ">&nbsp;</p>
	              </div> 
	               </div>
	            </div>
	            
	            <div class="row  mt0  coverbg seccolor ">
	            <div class="col-sm-9 col-xs-12">
	              <h5 class="coverval ng-binding">&nbsp;Total {{changeCoverDetails.freqCostType}} cost</h5>
	            </div>
	            <div class="col-sm-3 col-xs-6 alignright hidden-xs">
	              <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}&nbsp;</h4>
	            </div>
	            <div class="col-sm-3 col-xs-6 visible-xs">
	              <h5 class="coverval" style="padding-left:9px;">{{changeCoverDetails.totalPremium | currency}}&nbsp;</h5>
	            </div>
              </div>
           	  <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by Hostplus Super</p>
	       
	            </div>
	          </div>
	         
	          <!-- <div class="row  mt0  coverbg seccolor ">
	            <div class="col-sm-9 col-xs-6">
	              <h5>&nbsp;Total {{changeCoverDetails.freqCostType}} cost</h5>
	            </div>
	            <div class="col-sm-3 col-xs-6 alignright hidden-xs">
	              <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}&nbsp;</h4>
	            </div>
	            <div class="col-sm-3 col-xs-6 alignright visible-xs">
	              <h4 class="coverval">{{changeCoverDetails.totalPremium | currency}}&nbsp;</h4>
	            </div>
              </div>
           	  <p class=" note aligncenter clearfix color2 mt15px" > The final amount and cost of your total insurance coverage will be notified in writing by Hostplus Super</p>
	        -->
	            
             
         
          </div>
       </div>
       <div class="panel panel-default nobg">
        <div class="panel-heading">  
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" class="  ">
           <h4 class="panel-title"> Terms &amp; conditions </h4>
          </a> 
        </div>
        <div id="collapse4" class="panel-collapse collapse in ">
          <div class="bgwhite">            
             <div class="row rowcustom ">
              <div class="col-sm-12">
                <div class="scrollBox">
              <p><strong>You must read and acknowledge the General Consent before proceeding</strong></p>
               <p> <strong>General consent</strong></p>
               <p align="justify">By clicking on the tick box below, I declare that:</p> 
                	<br>
               		<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
               			<li>I have read and understand my Duty of Disclosure and the consequences of failing to comply with this Duty. I understand that this Duty applies until formal notification of acceptance of my application. </li>
               			<li>The answers to the questions in this application are true and correct, and I have not deliberately withheld any information material to the proposed insurance. </li>
               			<li> I agree to be bound by the terms and conditions attached to this cover as set out in the Insurance Policy Document between Hostplus and the Insurer, MetLife Insurance Limited ("MetLife"). </li>
               			<li> I have read the Hostplus privacy policy available at <a href="http://www.hostplus.com.au/privacy" class="" target="_new"> www.hostplus.com.au/privacy.</a> and the <a href="http://www.metlife.com.au/privacy/index.html" class="" target="_new"> MetLife Privacy Policy </a>
               			 and I consent to the collection, use and disclosure of my personal (including sensitive) information in accordance with the terms of these documents;</li>
               			 <li>I consent to MetLife seeking medical information from any doctor who at any time I have consulted prior to the date hereof.</li>
               			 <li>I understand that my insurance cover will not become effective until MetLife has accepted this application in writing and provided my member account has adequate funds to meet the premium payable. I understand that increases or changes to insurance premiums may apply. </li>
               			 <li>I have read the insurance section of the current Hostplus Member Guide (Product Disclosure Statement) relevant to my Division, including the Member Guide Supplement: Insurance. </li>
               			 <li>I understand that if I have chosen fixed Total and Permanent Disablement cover that this cover will taper by 20% of the fixed Total and Permanent Disablement cover held, each year from the date I turn 61 years of age.</li>
               			 <li>I authorise any hospital, physician or other person who has attended me to furnish MetLife or its representatives, any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records.</li>
               			 <li>I understand that if I have any un-finalised requests for Transfer of Cover or Life Event Increase, these cover amounts will not be incorporated to the Total Cover amounts applied for under this application. </li>
           			</ul>
       			</p>
             </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
              <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':CCGCackFlag}" ng-click="checkAckStateGC()">
                     <div class="col-sm-12">
                      <label class="btn  checkboxes   " id="generalConsentLabel">
                       <input type="checkbox" class=" " id="option2">
                       <span></span> I acknowledge I have read, understood and consent to the above .
                      </label>
                      <p ng-if="CCGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            
            <hr class="primeline">
            <div class=" row rowcustom">
               <div class="col-sm-3 col-xs-12">
		        <a class="" href="" data-parent="#accordion" data-toggle="collapse">
	             <button  class="btn btn-primary w100p btn-back" type="button" ng-if="!auraDisabled" ng-click="go('/auraspecial/')">Previous</button>
	             <button  class="btn btn-primary w100p btn-back" type="button" ng-if="auraDisabled" ng-click="go('/quotespecial/')">Previous</button>
		        </a>
              </div>
           <!--    <div class="col-sm-3 col-xs-12 alignleft hidden-xs"> 
                <button type="button" class="btn btn-primary w100p no-arrow" ng-click="saveSummary()" > Save &amp; Exit</button>
              </div>--> 
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12 aligncenter   visible-xs"> 
                <button type="button" class="btn btn-primary w100p no-arrow" ng-click="saveSummary()" > Save &amp; Exit</button>
              </div>
              <div class="col-sm-3 col-xs-12">
                <button type="button" class="btn btn-primary w100p no-arrow" ng-click="navigateToDecision()" >Submit</button>
              </div>
            </div>
         </div>
        </div>
       </div>
    </div>
      
      <!-- Check bok for loading and exclusions  -->
        
      
       
        
    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 467 875</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-1   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext">HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
    </div>	
    <div class="col-sm-4   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a>
         </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a></p>
    <p class="footertext"> HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>


<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider2' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount2' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script>

