<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/host/header.html'"></div>
</div>

<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-xs-3 nav-arrows"> 
    <img src="static/host/images/bg_blank.png" ng-click="go('/auratransfer/2')" class=" icoMenuRev active  "> 
    <img src="static/host/images/bg_blank.png" class=" icoMenuFwd  ml30p">
    </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 467 875</h3>
      <h3 class="helpNo"> </h3>
    </div>
     
  </div>
   <div class="col-sm-9 landingPageBoxes">
	    <div class="menu hidden-xs">
	       <div class="col-sm-4 nn ">
	        <h5 style="color:#0066a1">Step 1</h5>
	        <div class="txtHolder pointer"> <a ng-click="go('/quotetransfer/2')"> Personal details</a> </div>
	        <img src="static/host/images/bg_blank.png" class=" right">
	       </div>
	        <div class="col-sm-4 nl">
	         <img src="static/host/images/bg_blank.png" class=" left">
	         <h5 style="color:#0066a1">Step 2</h5>
	         <div class="txtHolder pointer"> <a ng-click="go('/auratransfer/2')"> Health &amp; lifestyle</a></div>
	         <img src="static/host/images/bg_blank.png" class=" right">
	        </div>
	        <div class="col-sm-4 cn">
	         <h5>Step 3</h5>
	         <div class="txtHolder" style="color:#000"> Confirmation </div>
	         <img src="static/host/images/bg_blank.png" class=" left"> 
	        </div>
	     </div>
	     
	    <div class="panel-group" id=" ">
	      <div class="panel panel-default twoColData">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="  ">
	          	<h4 class="panel-title">Personal details </h4>
	          </a> 
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse in ">
	          <div class="panel-body"> 
	            <!-- Row starts -->
	            <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>First name</strong> </label>
	                <label class="control-label">{{transferCoverDetails.firstName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Last name</strong> </label>
	                <label class="control-label">{{transferCoverDetails.lastName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            
	            <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>Gender</strong></label>
	                <label class="control-label">{{occupationDetails.gender}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact type</strong> </label>
	                <label class="control-label"> {{transferCoverDetails.contactType}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	           
	              <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd" >
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact number </strong></label>
	                <label class="control-label">{{transferCoverDetails.contactPhone}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Email address</strong> </label>
	               <label class="control-label">{{transferCoverDetails.email}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline hidden-xs" >
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Date of birth</strong> </label>
	                <label class="control-label"> {{transferCoverDetails.dob}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>What time of day do you prefer to be contacted?</strong></label>
	               <label class="control-label" ng-if="transferCoverDetails.contactPrefTime=='Morning (9am - 12pm)'">Morning (9am&ndash;12pm)</label>
	               <label class="control-label" ng-if="transferCoverDetails.contactPrefTime=='Afternoon (12pm - 6pm)'">Afternoon (12pm&ndash;6pm)</label>
	              </div>
	            </div>
	            <!-- Row ends -->	            	            
	          	   
	          	     <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Do you work 15 or more hours per week?</strong> </label>
	                <label class="control-label">{{occupationDetails.fifteenHr}}</label>
	              </div>
	              <!-- <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Are you a citizen or permanent resident of Australia or a New Zealand citizen residing in Australia under a Special Category Visa?</strong> </label>
	               <label class="control-label">{{occupationDetails.citizenQue}}</label>
	              </div> -->
	            </div>
	            <!-- Row ends -->
	          	
	          	  <hr class="primeline hidden-xs">
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Annual salary</strong></label>
	                <label class="control-label">{{occupationDetails.salary | currency:undefined:0}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>What industry do you work in?</strong> </label>
	               <label class="control-label">{{occupationDetails.industryName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	          	<hr class="primeline hidden-xs">
	              <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>What is your occupation?</strong></label>
	                <!-- <label class="control-label">{{occupationDetails.occupation}}</label> -->
	                <label class="control-label" ng-show="occupationDetails.occupation !='Other'">{{occupationDetails.occupation}}</label>
	                <label class="control-label" ng-show="occupationDetails.occupation =='Other'">{{occupationDetails.otherOccupation}}</label>
	              </div>
	              <!-- <div class="col-sm-6 col-xs-12" ng-if="occupationDetails.occupation =='Other'">
	                <label class="control-label"> <strong>If other, What is your occupation?</strong></label>
	                <label class="control-label">{{occupationDetails.otherOccupation}}</label>
	              </div> -->
	              <!-- <div class="col-sm-6 col-xs-12" ng-if="(occupationDetails.withinOfficeQue == 'Yes' || occupationDetails.withinOfficeQue == 'No') && occupationDetails.occupation !='Other'">
	               <label class="control-label"><p align="justify"><strong>Are your duties entirely undertaken within an office environment?</strong></p></label>
	               <label class="control-label">{{occupationDetails.withinOfficeQue}}</label>
	              </div> -->
	              <div class="col-sm-6 col-xs-12" ng-if="occupationDetails.withinOfficeQue == 'Yes' || occupationDetails.withinOfficeQue == 'No'">
	               <!-- <label class="control-label"><p align="justify"><strong>Do you spend more than 10% of your working time outside of an office environment?</strong></p></label> -->
	               <label class="control-label"><p align="justify"><strong>Do you spend at least 90% of your working time in an office? (For example 34.2 hours out of a 38-hour working week)</strong></p></label>
	               <label class="control-label">{{occupationDetails.withinOfficeQue}}</label>
	              </div>
	            </div>
	             <!-- Row ends -->          
	          
	           <!-- <hr class="primeline hidden-xs"  ng-if="(occupationDetails.withinOfficeQue == 'Yes' || occupationDetails.withinOfficeQue == 'No') && occupationDetails.occupation =='Other'"> -->
	              <!-- Row starts -->
	            <!-- <div class="row rowcustom odd"  ng-if="(occupationDetails.withinOfficeQue == 'Yes' || occupationDetails.withinOfficeQue == 'No') && occupationDetails.occupation =='Other'">
	               <div class="col-sm-6 col-xs-12">
	               <label class="control-label"><p align="justify"><strong>Are your duties entirely undertaken within an office environment?</strong></p></label>
	               <label class="control-label">{{occupationDetails.withinOfficeQue}}</label>
	              </div>
	            </div> -->
	             <!-- Row ends -->
	          <hr class="primeline hidden-xs">
	             <!-- Row starts -->
	            <div class="row rowcustom odd" ng-if="occupationDetails.tertiaryQue == 'Yes' || occupationDetails.tertiaryQue == 'No' || occupationDetails.managementRoleQue == 'Yes' || occupationDetails.managementRoleQue == 'No'">
	              <div class="col-sm-6 col-xs-12" ng-if="occupationDetails.tertiaryQue == 'Yes' || occupationDetails.tertiaryQue == 'No'">
	                <label class="control-label"> <p align="justify"><strong>Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</strong></p> </label>
	                <label class="control-label">{{occupationDetails.tertiaryQue}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12" ng-if="occupationDetails.managementRoleQue == 'Yes' || occupationDetails.managementRoleQue == 'No'">
	               <!-- <label class="control-label"> <strong>Do you spend more than 10% of your working time outside of an office environment? </strong></label> -->
	               <label class="control-label"> <strong>Do you spend at least 90% of your working time in an office? (For example 34.2 hours out of a 38-hour working week) </strong></label>
	               <label class="control-label">{{occupationDetails.managementRoleQue}}</label>
	              </div>
	            </div>
	            <hr class="primeline hidden-xs" ng-if="occupationDetails.tertiaryQue == 'Yes' || occupationDetails.tertiaryQue == 'No' || occupationDetails.managementRoleQue == 'Yes' || occupationDetails.managementRoleQue == 'No'">
	        
	         
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12" ng-if="occupationDetails.hazardousQue == 'Yes' || occupationDetails.hazardousQue == 'No'">
	                <label class="control-label"> <strong>Do you work in a hazardous environment and/or perform any duties of a manual nature?</strong></label>
	                <label class="control-label">{{occupationDetails.hazardousQue}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	              </div>
	            </div>
	           <!--  Change ends -->
	        
	          
	            
	             
	            <!--  <hr class="primeline">  -->
	            <!-- Row starts -->
	            <!--<div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>Smoker</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	                <label class="control-label">No</label>
	              </div>
	            </div>-->
	            <!-- Row ends --> 
	                         
	            
	          </div>
	        </div>
	      </div>
	      
	     
	   
	   <!-- Your Cover section starts -->   
	      <div class="panel panel-default nobg">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseCover" class="">
	            <h4 class="panel-title"> Your cover</h4>
	            </a>
	        </div>
	        <div id="collapseCover" class="panel-collapse collapse in">
	           <div class="panel-body">
	            <div class="parent-flex-container">
	            <!-- Death Cover Details Starts--> 
	            <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Death<br>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px    aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p class="color3">{{transferCoverDetails.transferDeathExistingAmt | currency:undefined:0}} </p>
	                <h5 class=" color2">Transfer cover</h5>
	                <p class="color3">{{deathAddnlCvrDetails.deathTransferAmt | currency:undefined:0}} </p>
	                <h5 class=" color2">Total cover required</h5>
	                <p class="color3">{{deathAddnlCvrDetails.deathTransferCovrAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category</h5>
	                <p class="color3">{{transferCoverDetails.deathOccCategory}}</p>
	                <h5 class=" color2">{{transferCoverDetails.freqCostType}} cost</h5>
	                <p class="color3">{{deathAddnlCvrDetails.deathTransferWeeklyCost | currency}}</p>
	              </div>
	              <p class="spacer">&nbsp;</p>
	            </div>
	            <!-- Death Cover Details Ends--> 
	            
	            <p class="spacer visible-xs">&nbsp;</p>
	            
	           <!-- TPD Cover Details Starts--> 
	           <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Total &amp; permanent<br> disablement</strong> 
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px    aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p class="color3">{{transferCoverDetails.transferTpdExistingAmt | currency:undefined:0}}</p>
	                 <h5 class=" color2">Transfer cover</h5>
	                <p class="color3">{{tpdAddnlCvrDetails.tpdTransferAmt | currency:undefined:0}} </p>
	                <h5 class=" color2">Total cover required</h5>
	                <p class="color3">{{tpdAddnlCvrDetails.tpdTransferCovrAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category</h5>
	                <p class="color3">{{transferCoverDetails.tpdOccCategory}}</p>
	                <h5 class=" color2">{{transferCoverDetails.freqCostType}} cost</h5>
	                <p class="color3">{{tpdAddnlCvrDetails.tpdTransferWeeklyCost | currency}}</p>
	              </div>
	              <p class="spacer">&nbsp;</p>
	              </div>
	             <!-- TPD Cover Details Ends--> 
	             
	             <p class="spacer visible-xs">&nbsp;</p>
	             
	             <!-- IP Cover Details Starts-->
	             <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong> Income <br> protection <span class="visible-sm"><br>
	                </span></strong>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px aligncenter">
	                <h5 class=" color2">Existing cover</h5>
	                <p class="color3">{{transferCoverDetails.transferIpExistingAmt | currency:undefined:0}}</p>
	           <!-- <p>{{transferCoverDetails.existingIPUnits}} Unit(s).</p> -->  
	           		<h5 class=" color2">Transfer cover</h5>
	                <p class="color3">{{ipAddnlCvrDetails.ipTransferAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Total cover required</h5>
	                <p class="color3">{{ipAddnlCvrDetails.ipTransferCovrAmt | currency:undefined:0}}</p>
	              	 <h5 class=" color2">Occupational category</h5>
	                <p class="color3">{{transferCoverDetails.ipOccCategory}}</p>
	                <h5 class=" color2">Waiting period</h5>
	                <p class="color3">{{ipAddnlCvrDetails.totalipwaitingperiod}}</p>
	                <h5 class=" color2">Benefit period</h5>
	                <p class="color3">{{ipAddnlCvrDetails.totalipbenefitperiod}}</p>
	                <h5 class=" color2">{{transferCoverDetails.freqCostType}} cost</h5>
	                <p class="color3">{{ipAddnlCvrDetails.ipTransferWeeklyCost | currency}}</p>
	              </div>
	              <p class="spacer">&nbsp;</p> 
	               </div>
	               <!-- IP Cover Details Ends-->
	             <!-- <div class="box mt10px aligncenter "> 
	                <p class=" mt15px">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class=" visible-sm ">&nbsp;</p>
	              </div> -->
	              </div>
	             <div class="row  mt0  coverbg seccolor ">
		            <div class="col-sm-9 col-xs-12">
		              <h5 class="coverval" style="padding-left:15px;">&nbsp;Total {{transferCoverDetails.freqCostType}} cost</h5>
		            </div>
		            <div class="col-sm-3 col-xs-6 alignright hidden-xs" >
		              <h4 class="coverval" >{{transferCoverDetails.totalPremium | currency}}&nbsp;</h4>
		            </div>
		            <div class="col-sm-3 col-xs-6 visible-xs">
		              <h5 class="coverval" style="padding-left:9px;">{{transferCoverDetails.totalPremium | currency}}</h5>
		            </div>
	              </div>
	           <p class=" note aligncenter clearfix color2 mt15px" >The final amount and cost of your total insurance coverage will be notified in writing by Hostplus Super</p>
	              
	         
	                 <!-- <div class="box mt10px aligncenter "> 
	                 <p class=" mt15px">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer visible-sm visible-md">&nbsp;</p>
	                 <p class=" visible-sm ">&nbsp;</p>
	               </div> -->
	            </div>
	          </div>
	              <!-- <div class="row  mt0  coverbg seccolor ">
		            <div class="col-sm-9 col-xs-6">
		              <h5>Total {{transferCoverDetails.freqCostType}} cost</h5>
		            </div>
		            <div class="col-sm-3 col-xs-6 alignright">
		              <h4 class="coverval">{{transferCoverDetails.totalPremium | currency}}</h4>
		            </div>
		            <div class="col-sm-3 col-xs-6 alignright visible-xs">
		              <h4 class="coverval">{{transferCoverDetails.totalPremium | currency}}</h4>
		            </div>
	              </div>
	           <p class=" note aligncenter clearfix color2 mt15px" >The final amount and cost of your total insurance coverage will be notified in writing by Hostplus Super</p> -->
	           </div>
	           
	           <!-- Previous Cover section starts --> 
	      <div class="panel panel-default twoColData">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" class="  ">
	          	<h4 class="panel-title">Transfer cover </h4>
	          </a> 
	        </div>
	        <div id="collapseTwo" class="panel-collapse collapse in ">
	          <div class="panel-body"> 
	          
	          <!-- Row starts -->
	            <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Name of Previous fund or insurer</strong> </label>
	                <label class="control-label">{{transferCoverDetails.previousFundName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                 <label class="control-label"> <strong>Fund member or insurance policy number</strong> </label>
	                 <label class="control-label">{{transferCoverDetails.membershipNumber}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	          
	          <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>SPIN Number</strong></label>
	                <label class="control-label">{{transferCoverDetails.spinNumber}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Premium Period</strong> </label>
	                <label class="control-label"> {{transferCoverDetails.freqCostType}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	           
	           	   <!-- <hr class="primeline hidden-xs"> -->
	            <!-- Row starts -->
	           <!--  <div class="row rowcustom odd" >
	              <div class="col-sm-6 col-xs-12" >
	                <label class="control-label"> <strong>Do you wish to include documentary evidence of your previous insurance cover that you wish to transfer? </strong></label>
	                <label class="control-label">{{transferCoverDetails.documentName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12" ng-if="transferCoverDetails.documentName=='Yes'">
	               <label class="control-label"> <strong>Documents</strong> </label>
	               <label class="control-label"><ul class="document-name-text">
	              <li class = "text-overflow-ellipsis" ng-repeat="fileDetails in uploadedFileDetails">
	              {{fileDetails.name}}
	              </li>
	              </ul></label>
	              </div>
	              <div class="col-sm-6 col-xs-12" ng-if="transferCoverDetails.documentName=='No'">
	                <label class="control-label"> <strong>If you have not been able to attach all the required documents, please check the box to indicate that you will send the supporting documents to the address below. </strong></label>
	                <label class="control-label">Yes</label>
	              </div>
	            </div> -->
	            
	            <!-- 
	            <hr class="primeline hidden-xs" ng-if="transferCoverDetails.documentName=='No'">
	            <div class="row rowcustom odd " ng-if="transferCoverDetails.documentName=='No'">
	              <div class="col-sm-12 col-xs-12">
	                <label class="control-label"><strong>Address to send supporting documents</strong></label>
	                <label class="control-label"><p style="padding-top: 8px;"> Postal address: <br />&emsp;Hostplus<br>&emsp;Locked Bag 5046<br>&emsp;Parramatta<br>&emsp;NSW 2124</p></label>
	              </div>
	            </div>  -->       
	            
	           	           
	           
	            <!-- <hr class="primeline"> -->
	            
	            <!-- Row starts -->
	            <!-- <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Have you previously been paid a TPD claim from any source?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{transferCoverDetails.previousTpdClaimQue}}</label>
	              </div>
	            </div> -->
	            <!-- Row ends -->
	            <!-- <hr class="primeline"> -->
	            
	            <!-- Row starts -->
	           <!--  <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Have you previously been paid a terminal illness claim from any source?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{transferCoverDetails.terminalIllClaimQue}}</label>
	              </div>
	            </div> -->
	            <!-- Row ends -->
	          </div>
	        </div>
	      </div>
	   <!-- Previous Cover section ends --> 
	           <!-- Documentary Evidence start -->
	           
	           <div class="panel panel-default twoColData">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseDocument" class="  ">
	          	<h4 class="panel-title">Documentary evidence</h4>
	          </a> 
	        </div>
	        <div id="collapseDocument" class="panel-collapse collapse in ">
	        <form autocomplete="off"  name="documentForm" novalidate role="form">
	          <div class="panel-body"> 
	           <!-- Document upload start -->
	            <!-- <div class="row rowcustom" ng-class="{'has-error':(documentForm.documentName.$error.required && documentForm.documentName.$touched) || (documentForm.$submitted && documentForm.documentName.$error.required )}">
              <div class="col-sm-12">
                <label class="control-label"> Do you wish to include documentary evidence of your previous insurance cover that you wish to transfer? </label>
               
                  </div>
              <div class="col-xs-12 col-sm-6  ">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (transferCoverDetails.documentName == 'Yes')}">
                      <input type="radio" class="ipradio"  name="documentName" 
                       ng-class = "(documentForm.documentName.$error.required && documentForm.documentName.$touched) || (documentForm.$submitted && documentForm.documentName.$error.required)  ? 'radio-validation':''" 
                      ng-model="transferCoverDetails.documentName" value="Yes" ng-click = "getDocumentValue()" required>
                      <span></span> Yes </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (transferCoverDetails.documentName == 'No')}">
                      <input type="radio" class="ipradio" name="documentName"
                       ng-class = "(documentForm.documentName.$error.required && documentForm.documentName.$touched) || (documentForm.$submitted && documentForm.documentName.$error.required)  ? 'radio-validation':''" 
                      ng-model="transferCoverDetails.documentName" value="No" ng-click = "getDocumentValue()" required>
                      <span></span> No </label>                      
                  </div>
                </div>
                <span class="error" ng-if="(documentForm.documentName.$error.required && documentForm.documentName.$touched) || (documentForm.$submitted && documentForm.documentName.$error.required )">Please select Yes or No</span>
              </div>
            </div> -->
            
            
             <!-- <div class="" id="death" style="display:block" ng-if="transferCoverDetails.documentName =='Yes'">   -->
             <div class="" id="death">  
              <div class=" secrow " id="transferitrId_div_id" ng-class="{'has-error': fileNotUploadedError}">
                <div class=""></div>
                <div class=""></div>
                  <div class="row rowcustom">
                    <div id="attach_file_div_id" class="col-sm-5">
                     <label class="control-label primecolor"><strong style="font-size: 10pt;"> Evidence of your Existing Cover</strong></label>
                    </div>
                    <div class="col-sm-12">
                    	<label class="control-label">Please include documentary evidence of your existing insurance cover that you wish to transfer, including details of any exclusions or loadings that were applicable.Examples of documentary evidence include: </label><br>
                    		<ul style="padding:0 0 0 20px;list-style-type:disc">
                    			<li>Your last member statement (within 6 months of it being issued)<br></li>
                    			<li> letter or email from your current super provider confirming the details listed above<br></li>
                    			<li>A current print-out of your online member account<br></li>  
                                <li>A statement from the insurer of your individual policy</li>   								
                    		</ul>
                    		
                    		<br>
                  </div>
                </div>                  
		     	<div class="row  rowcustom" style="margin-right:0px;">
                  <div class="col-sm-3">
                    <label class="control-label primecolor"><strong class="attach-file-label">Attach your file(s) </strong></label>
                  </div>
                   <div class="col-sm-4">
                   	<span class="">
                   		<input id="transfer_input_file_txt_id" ng-model="selectedFile.name" name="transfer_input_file_txt_id" disabled="" size="100" maxlength="200" type="text" class="form-control text-overflow-ellipsis file-upload-inp" name="file" value="{{}}"/>
                   	</span>	  
                   </div>
                   <div class="col-sm-3">
	                   <p class="spacer visible-xs"></p>
	                    <div class="fileUpload fleft">
	                    	 <a id="transferCvrFileUploadAddIdBtn" name="transferCvrFileUploadAddIdBtn" style="margin:0px !important" class="btn btn-default w100p" ngf-pattern="'image/*,application/pdf,*.txt,*.doc,*.docx,*.xls,*.xlsx,*.tif'"  ngf-select="uploadFiles($files, $invalidFiles)">
	                    		<span >Browse</span>
	                    	</a>  
	                    	<!--<input class="btn btn-default w100p" ng-change="uploadFiles()" text="Browse" type="file" name="file" /> -->
	                    </div>
	                    <p class="spacer visible-xs"></p>                
                   </div>
                   <div class="col-sm-2">
                     <p class="spacer visible-xs"></p>
                   	<a id="transferCvrFileUploadAddId" ng-disabled="!selectedFile.name" name="transferCvrFileUploadAddId" class="btn btn-default  Plus w100p m0" ng-click="addFilesToStack()" style="min-width:105px" >
                   		<span >Add</span>
                   	</a>
                  </div>
                    <div class="row rowcustom" ng-if="fileSizeErrFlag == true">
		  		    <div class="col-sm-12">
	  			      <img src="static/host/images/warning.png" >
	                <label class="control-label">  {{fileSizeErrorMsg}} </label>	            
		  		   </div>
		     	</div>
		     	<div class="col-sm-3">&nbsp;</div>
		     	<div class="col-sm-9"> <p class="color2">Note: Supported file formats are *.pdf, *.txt, *.doc, *.docx, *.xls, *.xlsx, *.tif, *.png, *.jpg and *.jpeg</br>
		     	Maximum allowable size limit is 10MB per file.
		     	</p>
		     	<p class="error" ng-if="fileFormatError">Invalid size or format</p>
                 </div>
                </div>
		      <div class="row rowcustom">
                <div class="col-sm-3">&nbsp;</div>
                 <div class="col-sm-9">
                  <ul class="files">
                  	 <li ng-repeat="file in files track by $index" class="text-overflow-ellipsis">
                  		<img src="static/host/images/bg_blank.png" class="icoAttach mr10px" /> 
                  		<a class="color1">{{file.name}}</a> <span>({{(file.size/1024 || 0) | number:0}} Kb)</span>
                  		<img src="static/host/images/bg_blank.png" class="closeb" ng-click="removeFile($index)" />
                     </li>
                  </ul>
			    </div>
			   </div>
			   <!-- <p class="error" ng-if="fileNotUploadedError" style="margin-top:5px;    margin-left: 30px;">  Please upload the file</p> -->
			   <!-- <p class="error" ng-if="fileNotUploadedError" style="margin-top:5px;    margin-left: 30px;">Please upload documentary evidence of your existing insurance cover</p> -->                                                                                                                                              
			   <p class="error" ng-if="fileNotUploadedError" style="margin-top:5px; margin-left: 16px; text-align:justify; margin-right:16px;font-size:16px">If you have not been able to attach the required documents, you will not be able to proceed with the rest of this application. Please note: you do have the option to &#34;Save & Exit&#34; out of the application and proceed with attaching the mandatory documents at a later stage. You can then  access your application under the &#34;Saved applications&#34; button.</p>
	          <!--  <p class="error" style="margin-top:5px;">  Please add the file</p>-->
	          <br>
	     	</div>
            </div> 
            
             <!-- <div class="" style="display:block" ng-if="transferCoverDetails.documentName =='No'">
              <div class="">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom" >
                  <div class="col-sm-12">
                    <div data-toggle="buttons" class=" btn-group-vertical">
                       <div class="row rowcustom">
                       <div class="col-sm-12">
                       <p>Thanks for completing the first part of your Transfer of Cover request.</br>Your application will be on hold,and your cover will remain the same,until you provide the documentation that we need so it can be reviewed.</br>You can press 'Save & exit' at the bottom of this page and come back later when you have the documents.
                       </br>Please call Hostplus on 1330 467 875 to discuss this Transfer of Cover request or any other questions you may have.<br>Reminder:Your cover will remain unchanged until after you've submitted the documentation we need and we've confirmed this Transfer of Cover with you.</p>
                        </div>
                        </div>
                 
                    </div>
                  </div>
                 
                  <div class="row   rowcustom  ">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-11">
                     <p style="padding-top: 8px;"> Postal address: <br><br>Hostplus<br>Locked Bag 5046<br>Parramatta<br>NSW 2124</p>
                    
                  </div>
                  
                  
                </div>
              </div>
            </div> 
            
            
            
          </div> -->
	           <!-- Document upload end -->
	          
	         
	          </div>
	          </form>
	        </div>
	      </div>
	      
	      <!-- Documentary Evidence End -->
	        </div>
      <!-- Your Cover section ends -->   
       <!-- Check bok for loading and exclusions  -->
      <!-- <div class="col-sm-9 bgwhite" ng-if="transferCoverAuraDetails.specialTerm == true">
       <div class="row rowcustom">
             <div class="col-sm-12">
             
              </div>
           </div>
             <hr class="primeline">
             <div class="row rowcustom " ng-class="{'has-error':LEFlag}" ng-click="checkAckStateLE()">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                  <div class="row rowcustom">
                   <div class="col-sm-12">
                     <label class="btn  checkboxes   " id="lodadingExclusionLabel">
                      <input type="checkbox" class=" " id="lodadingExclusionId">
                       <span></span> I acknowledge &amp; consent to the above.
                      </label>
                     </div>
                    </div>
                 </div>
                 </div>
             </div>
              </div> -->
      
      <div class="panel panel-default">
        <div class="panel-heading">  
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" class="  ">
           <h4 class="panel-title"> Terms &amp; conditions </h4>
          </a> 
        </div>
        <div id="collapse4" class="panel-collapse collapse in ">
          <div class="col-sm-12 bgwhite">
			 <!-- Row starts -->
            <!-- <div class="row rowcustom">
              <div class="col-sm-12">
               <p> <strong>Duty of Disclosure </strong></p>
               <p> <strong class="color2">Insurance duty of disclosure </strong></p>
                <p align="justify">Before CareSuper as Trustee of the Fund enters into a life insurance contract in respect of the life of another person (a member), it has a duty to tell the insurer anything that it knows or could reasonably be expected to know that may affect the insurer's decision to provide the insurance and on what terms.</p>
                <p align="justify">CareSuper has this duty of disclosure until the insurance is provided. CareSuper has the same duty before it extends, varies or reinstates the contract.</p>
                <p align="justify">CareSuper does not need to tell the insurer anything that:
                	<br>
               		<ul class="listing" style="margin:0 0 10px 30px;"> 
               			<li>Reduces the risk of the insurance, or</li>
               			<li>Is common knowledge, or</li>
               			<li>The insurer knows or should know as an insurer, or</li>
               			<li>The insurer waives the duty to tell the insurer about.</li>
           			</ul>
       			</p>
                
                <p >If you as a member of CareSuper do not tell the insurer something</p>
                <p align="justify">If you as the person whose life is to be insured as a member of CareSuper do not tell the insurer something that you know or could reasonably be expected to know that may affect the insurer's decision to provide the insurance and on what terms, this may be treated as a failure by CareSuper.</p>
                <p>If CareSuper does not tell the insurer something</p>
                <p align="justify">In exercising the following rights, the insurer may consider whether different types of cover can constitute separate contracts of life insurance.</p>
                <p align="justify">If the insurer does, it may apply the following rights separately to each type of cover.</p>
                <p>
                	<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
                		<li>If CareSuper does not tell the insurer anything they are required to and the insurer would not have provided the 
                		 insurance if they had been told, the insurer may avoid the contract within three years of entering into it.</li>
                		<li>If the insurer chooses not to avoid the contract, it may at any time reduce the amount of insurance provided. This would be worked out using the
                		 formula that takes into account the premium that would have been payable if CareSuper had told the insurer everything it should have. However, 
                		 if the contract has a surrender value or provides cover on death, the insurer may only exercise this right within three 
                		 years of entering into the contract.</li>
                		<li>If the insurer chooses not to avoid the contract or reduce the amount of insurance provided, it may at any time vary the contract in a way that places the insurer in the same position it would have been in if CareSuper had told the insurer everything it should have.  However, this right does not apply if the contract has a surrender value or provides cover on death.</li>
                		<li>If the failure to comply with the duty of disclosure is fraudulent, the insurer may refuse to pay a claim and treat the contract as if it never existed.</li>
               		</ul>
           		</p>
           		<p> <strong>Duty of disclosure </strong></p>
               <p> <strong class="color2">Insurance duty of disclosure </strong></p>
                <p align="justify"> Before HESTA SUPER enters into an insurance contract in respect of a member, it has a duty to tell the insurer anything it knows or could reasonably be expected to know that may affect the insurer's decision to provide the insurance and on what terms.</p>
                <p align="justify">HESTA SUPER has this duty of disclosure until the insurance is provided.HESTA SUPER has the same duty before it extends, varies or reinstates the contract.</p>
                <p align="justify">HESTA SUPER does not need to tell the insurer anything that:
                	<br>
               		<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
               			<li>Reduces the risk of the insurance</li>
               			<li>Is common knowledge</li>
               			<li>The insurer knows or should know as an insurer, or</li>
               			<li>The insurer waives the duty to tell the insurer about.</li>
           			</ul>
       			</p>
                
                <p><strong>If you as a member of HESTA SUPER do not tell the insurer something</strong></p>
                <p align="justify">If you, as the person whose life is to be insured as a member of HESTA SUPER, do not tell the insurer something you know or could reasonably be expected to know that may affect the insurer's decision to cover you and on what terms, this may be treated as a failure by HESTA SUPER.</p>
                <p><strong>If HESTA SUPER does not tell the insurer something about you</strong>
                <br>
                <p align="justify">In exercising the following rights, the insurer may consider whether different types of cover can constitute separate contracts of life insurance.</p>
                <p>If the insurer does, it may apply the following rights separately to each type of cover.</p>
                <p>
                	<ul class="listing" style="margin:0 0 10px 30px;" align="justify"> 
                		<li>If HESTA SUPER does not tell the insurer something it is required to and the insurer would not have provided you with the insurance if it had been told, the insurer may avoid the contract within three years of entering into it.</li>
                		<li>If the insurer chooses not to avoid the contract, it may at any time reduce the amount of insurance provided to you. This would be worked out using a formula that takes into account the premium that would have been payable if HESTA SUPER had told the insurer everything it should have. However, if the contract has a surrender value or provides cover on death, the insurer may only exercise this right within three years of entering into the contract.</li>
                		<li>If the insurer chooses not to avoid the contract or reduce the amount of insurance provided, it may at any time vary the contract in a way that places the insurer in the same position it would have been in if HESTA SUPER had told the insurer everything it should have. However, this right does not apply if the contract has a surrender value or provides cover on death.</li>
                		<li>If the failure to comply with the duty of disclosure is fraudulent, the insurer may refuse to pay a claim and treat the contract as if it never existed.</li>
               		</ul>
           		</p>
           		  <p align="justify">In exercising its rights, the insurer may consider whether different types of cover can constitute separate contracts of insurance, and may apply its rights separately to each type of cover.</p>
              </div>
            </div>
            <hr class="primeline">
              <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':TRDDackFlag}" ng-click="checkAckStateDDTR()">
                     <div class="col-sm-12">
                      <label  class="btn  checkboxes   " id="DutyOfDisclosureLabelTR">
                       <input type="checkbox" class=" " id="option2">
                       <span></span>I acknowledge and consent to the above.
                      </label>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            Row ends
            <hr class="primeline">
            <div class="row rowcustom ">
              <div class="col-sm-12">
               <p> <strong>Privacy statement</strong></p>
                <p align="left">Personal information is protected by the HESTA SUPER Privacy Policy. The HESTA SUPER Privacy Policy outlines the approach that HESTA SUPER takes to the personal information which is collected in the course of work. HESTA SUPER is bound by 
                  the Australian Privacy Principles contained in the Privacy Act 1988 (and subsequent amendments). For more information, please contact
                  HESTA SUPER or obtain a copy of the Privacy Policy from 
                  <a href="https://www.caresuper.com.au/privacy-policy" class="" target="_new">www.caresuper.com.au/privacy-policy</a>
                </p>
                <p> <strong class="color2">MetLife's Privacy Statement </strong></p>
                <p align="justify">Your privacy with MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife and the Insurer')</p>
                <p align="justify">The personal information you provide in the form is necessary for us to provide you with the products and services you have
                 requested from us, and to manage your claims. You do not have to provide us with your personal information, but if you do not do so we 
                 may not be able to provide you with our products or services. MetLife Insurance Limited complies with the Privacy Act 1988 and the 
                 principles laid out in its privacy policy which details information about how you may access or seek correction of the your personal 
                 information, how we manage that information and our complaints process. MetLife's Privacy Policy is readily available and can be viewed 
                 at <a href="https://www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy</a>.
               </p>
             </div>
            </div>
            Row ends
            <hr class="primeline">
              <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':TRPPackFlag}" ng-click="checkAckStatePPTR()">
                     <div class="col-sm-12">
                      <label  class="btn  checkboxes   " id="privacyPolicyLabelTR">
                       <input type="checkbox" class=" " id="option2">
                       <span></span>I acknowledge and consent to the collection, use and disclosure of my personal information (including health information) in accordance with the privacy policies of HESTA SUPER and MetLife.
                      </label>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            <hr class="primeline"> -->
            
             <div class="row rowcustom ">
              <div class="col-sm-12">
              <div class="scrollBox">
              <p><strong>You must read and acknowledge the General Consent before proceeding</strong></p>
               <p> <strong>General consent</strong></p>
               <p align="justify">By clicking on the tick box below, I declare that:</p> 
               		<ul class="listing" style="margin:0 0 10px 30px;" align="justify">
               			<li>I consent to be bound by the current Hostplus Member Guide, Product Disclosure Statement and the associated reference material available at <a href="http://www.hostplus.com.au" class="" target="_new"> hostplus.com.au</a>;</li> 
               			<li>I have read and understand my Duty of Disclosure and the consequences of failing to comply with this Duty. I understand that this Duty applies until formal notice of acceptance of my application; </li>
               			<li> I have read the Hostplus privacy policy available at <a href="http://www.hostplus.com.au/privacy" class="" target="_new"> www.hostplus.com.au/privacy.</a> and the <a href="http://www.metlife.com.au/privacy/index.html" class="" target="_new"> MetLife Privacy Policy </a>
               			   I consent to the collection, use and disclosure of my personal (including sensitive) information in accordance with the terms of these documents;</li>
               			 <li>I understand that my insurance cover will not become effective until MetLife Insurance Limited ("MetLife") has accepted this application in writing and provided my member account has adequate funds to meet the premium payable. I understand that increases or changes to insurance premiums may apply;</li>
               			 <li>I consent to the insurer, MetLife, seeking medical information from any doctor, hospital, physician, who at any time I have consulted prior to the date hereof. I agree that a photocopy of this authorisation shall be considered as effective as the original; </li>
               			 <li>I authorise any hospital, physician or other person who has attended me to furnish MetLife or its representatives, any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records; </li>
               			 <li>If I am transferring my existing insurance amount, I request and consent to the transfer of insurance amount as described above. When MetLife notifies me that it has accepted my application for transfer of my existing insurance amount, I will cancel my existing insurance cover. I will not exercise a continuation option, or subsequently reinstate any cancelled insurance cover with my existing super fund or any other division, section or category of my existing super fund or insurance policy, where such reinstatement of insurance cover is available to me. I will also not transfer my existing insurance cover to any other super fund, other than Hostplus</li>
               			 <li>I understand that if I apply for any other increase in cover when this application is not yet finalised, the transfer of insurance amounts applied for under this application may be reduced or not paid; and</li>
               			 <li>The answers to the questions in this application are true and correct, and I have not deliberately withheld any information material to the proposed insurance.</li>
           			</ul>
           			</div>
             </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
              <div class="row rowcustom ">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':TRGCackFlag}" ng-click="checkAckStateGCTR()">
                     <div class="col-sm-12">
                      <label  class="btn  checkboxes   " id="generalConsentLabelTR">
                       <input type="checkbox" class=" " id="option2">
                       <span></span>   I agree to all the above Terms &amp; Conditions 
                      </label>
                      <p ng-if="TRGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
                     </div>
                    </div>
                  </div>
                 </div>
              </div>
            
            <hr class="primeline">
            <div class=" row rowcustom">
              <div class="col-sm-4 col-xs-12">
			        <a class="" href="" data-parent="#accordion" data-toggle="collapse">
			             <button  class="btn btn-primary btn-back w100p" type="button"  ng-click="go('/auratransfer/2')">Previous</button>
			        </a>
              </div>
              <div class="col-sm-4 col-xs-12 alignleft hidden-xs"> 
                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="saveTransferSummary()" > Save &amp; Exit</button>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12 aligncenter   visible-xs"> 
                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="saveTransferSummary()" > Save &amp; Exit</button>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <!-- <div class="col-sm-4 col-xs-12" ng-if="transferCoverDetails.documentName != 'No'"> -->
              <div class="col-sm-4 col-xs-12">
                <button type="button" class="btn btn-primary w100p no-arrow" ng-click="submitTransferCover()" >Submit</button>
              </div>
                
            </div>
         </div>
        </div>
       </div>  
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 467 875</h3>
           
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-1   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext">HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
    </div>	
    <div class="col-sm-4   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a>
         </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a> </p>
    <p class="footertext"> HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>


<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider2' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount2' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script>

