<div class="container pt-5" ng-init="$ctrl.init()">
	<div class="row">
		<div class="col-12 col-md-9">
			<div class="panel-group">
				<div class="card border-0 mt-2">  
				
					<div class="ingd-section-header p-0 py-sm-2 mb-2 mb-sm-0">
						<div data-toggle="collapse" data-target="#collapseOne">
							<button class="ingd-section-title mb-0">Your saved applications</button>
						</div>
					</div>
					
					
					<div id="collapseOne" class="collapse in show">
						<div class="mb-3 p-3">
						
						<p ng-if="$ctrl.savedApplications.length==0">No Saved Application</p>
							
							<div ng-if="$ctrl.savedApplications.length>0" class="savedApp table-responsive d-none d-sm-block">
	          					<table class="table grid savedApps">          						
	          						<tr>
	          							<th width="25%"><h5>Application</h5></th>
	          							<th width="25%"><h5>Created</h5></th>
	          							<th width="25%"><h5>Type</h5></th>
	          							<th width="25%"><h5>Status</h5></th>
	          						</tr>
	          						<tr ng-repeat="app in $ctrl.savedApplications | orderBy:'app.createdDate':true">
					                	<td>
					                		<a ng-if="app.applicationStatus.toLowerCase()=='pending'" ng-click="$ctrl.goToSavedApp(app)">{{app.applicationNumber}}</a>
					                		<span ng-if="app.applicationStatus.toLowerCase()!='pending'">{{app.applicationNumber}}</span>
					                	</td>
					                	<td>{{app.createdDate | date : "dd/MM/yyyy"}}</td>
					                	<td>{{app.requestType}}</td>
					                	<td>{{app.applicationStatus}}</td>
					                </tr>
					            </table>
					          </div>
					          
					          <div ng-if="$ctrl.savedApplications.length>0" class="savedApp table-responsive d-block d-sm-none">
	          					<table class="table grid savedApps">          						
	          						<tr>
	          							<th width="25%"><h5>Application</h5></th>
	          							<th width="25%"><h5>Created</h5></th>
	          							<th width="25%"><h5>Type</h5></th>
	          						</tr>
	          						<tr ng-repeat="app in $ctrl.savedApplications | orderBy:'app.createdDate':true">
					                	<td>
					                		<a ng-if="app.applicationStatus.toLowerCase()=='pending'" ng-click="$ctrl.goToSavedApp(app)">{{app.applicationNumber}} ({{app.applicationStatus}})</a>
					                		<span ng-if="app.applicationStatus.toLowerCase()!='pending'">{{app.applicationNumber}} ({{app.applicationStatus}})</span>
					                	</td>
					                	<td>{{app.createdDate | date : "dd/MM/yyyy"}}</td>
					                	<td>{{app.requestType}}</td>
					                </tr>			            
	          					</table>
	          				</div>
					          
						</div>
					</div>
				</div>
				
				<p class="spacer">&nbsp;</p>
				
				
				<div class="d-none d-sm-block" style="background:#fff;">
					<div class="col-sm-12">
						<div class="row bgwhite notebox clearfix">
							<div class="col-sm-2 aligncenter">
								<img src="./static/ingd/src/assets/images/wait.png" class="img-fluid mt20px"/>
							</div>
							<div class="col-sm-10">
								<h2 class="noteTitle"> SOMETHING MISSING!</h2>
								<p>Your application may have expired if: a birthday has passed; underwriting rules have changed; or more than 30 days have lapsed since you last saved it. You will have to create a new one.</p>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class="row aligncenter d-block d-sm-none" style="background:#fff">
					<div class="col-sm-12  ">
						<div class="bgwhite notebox clearfix">
							<div class="col-sm-2 aligncenter">
								<img src="./static/ingd/src/assets/images/wait.png" class="mt20px" />
							</div>
							<div class="col-sm-10">
								<h2 class="noteTitle"> SOMETHING MISSING!</h2>
								<p>Your application may have expired if: a birthday has passed; underwriting rules have changed; or more than 30 days have lapsed since you last saved it. You will have to create a new one.</p>
							</div>
						</div>
					</div>
				</div>
    
			</div>
      
    </div>
    <div class="col-12 col-md-3 mt-4 mt-md-0">
      <div class="need-help-block text-white p-3">
        <h4 class="text-white">Can we help?</h4>
        <p> Call us on <strong>133 464</strong></p>
        <p> 8am - 8pm Monday to Friday</p>
        <p> 9am - 5pm Saturday (AEST/AEDT)</p>
      </div>
    </div>
  </div>
</div>