@font-face {
	font-family: "Effra-Heavy";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Effra-Heavy.woff2") format("woff2"), url("../fonts/Effra-Heavy.woff") format("woff"), url("../fonts/Effra-Heavy.ttf") format("truetype");
}
@font-face {
	font-family: "Effra-Bold";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Effra-Bold.woff2") format("woff2"), url("../fonts/Effra-Bold.woff") format("woff"), url("../fonts/Effra-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Effra-Regular";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Effra-Regular.woff2") format("woff2"), url("../fonts/Effra-Regular.woff") format("woff"), url("../fonts/Effra-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Effra-Light";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Effra-Light.woff2") format("woff2"), url("../fonts/Effra-Light.woff") format("woff"), url("../fonts/Effra-Light.ttf") format("truetype");
}
@font-face {
	font-family: "DroidSerif";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/DroidSerif.woff2") format("woff2"), url("../fonts/DroidSerif.woff") format("woff"), url("../fonts/DroidSerif.ttf") format("truetype");
}
@font-face {
	font-family: 'HOSTPLUSInsuranceIcons';
	src: url('../fonts/HOSTPLUSInsuranceIcons.eot');
	src: url('../fonts/HOSTPLUSInsuranceIcons.eot?iefix') format('embedded-opentype'), url('../fonts/HOSTPLUSInsuranceIcons.woff') format('woff'), url('../fonts/HOSTPLUSInsuranceIcons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

body {
	color: #333;
	font-family: Arial, sans-serif;
	background: #e8e8e8;
	font-size: 16px;
	-webkit-font-variant-ligatures: common-ligatures;
	font-variant-ligatures: common-ligatures;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 82px;
	transition: all .30s ease-out;
}
html{
  overflow: scroll !important;
}

body.shrink-header{
  padding-top: 70px;
}
.nav-bg {
 background: #fff;
 transition: all .30s ease-out;
}

body.shrink-header .nav-bg {
  padding: 0px;
}

body .nav-bg img {
  width: 204px;
  height: 46px;
}

.navbar-toggle {
  border: 1px solid #777;
}
.navbar-toggle .icon-bar {
  background-color: #777;
}
a.navbar-logo {
  padding: 15px 15px;
}

ul.header-navs a {
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}
.help-block {
  background: #A4CE4E;
  color: #000;
  padding: 5px 15px 10px;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
.telephone {
  color: #000 !important;
  text-decoration: none !important;
  cursor: default;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	font-weight: normal !important;
}
h5 {
	text-transform: uppercase;
	font-weight: bold;
	color: #849930;
	font-size: 12px;
	margin-top: 10px;
}
hr.primeline {
  border-width: 1px;
  border-color: #e7e7e7;
  margin: 2px -20px;
}

h2.title {
  color: #003b5d;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  margin: 10px 0px 20px 20px;
}

h2.helpHead {
  font-size: 21px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  color: inherit;
}

p.helpTxt {
  font-size: 16px;
}

.form-box-style {
  background-color: #fff;
}

.corp-row-style {
  padding: 10px 15px 15px;
}

.form-box-style1 {
  padding: 3rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-width: .2rem;
  background-color: #fff;
}
label {
  font-weight: normal;
}

.custom-input {
  border-radius: 0px;
  padding: 0px 5px;
  min-height: 35px;
  border: 2px solid #75787b;
  font-size: 16px;
  font-weight: normal;
  color: #000 !important;
}

.custom-input:disabled {
	cursor: not-allowed;
}

.footerlinks a {
  color: #808080;
  margin: 0 10px;
  text-decoration: underline;
}

.footertext {
  font-size: 12px;
  color: #808080;
}

.c-footer {
  padding: 20px 0;
}
.metlife-btn-primary  {
  border: 2px solid #0061A0;
  border-radius: 0;
  font-size: 18px;
  /* padding: 10px 10px 10px 10px !important; */
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
  font-weight: 400;
  color: #FFFFFF;
  background-color: #0061A0 !important;
}

.metlife-btn-aura  {
  border-radius: 0;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
	font-weight: 400;
	text-overflow: ellipsis;
	overflow: hidden;
}

.metlife-btn-primary:hover:not(:disabled) {
  background-color: #0090da !important;
  text-decoration: underline;
  border: 2px solid #0090da;
}

.metlife-btn-primary:disabled:hover {
  cursor: not-allowed;
}

.metlife-btn-primary.symbol-plus {
  background: #0066a1 url(../images/sprite.png) 15px -674px no-repeat;
  background-color: rgb(0, 102, 161);
  padding-left: 30px !important;
}

.form-group.required label:after {
  content:"*";
  color:red;
  font-size: 16px;
}

a.corp-nav-link {
  margin: 0 20px;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}

.corp-panel-body {
  padding: 15px;
}

input[type="radio"] {
  display: none;
}

.radiobutton{
	background : rgb(221, 221, 221);
	cursor:pointer;
}

.radiobutton.active {
  background: #0090DA;
  color: #fff;
  box-shadow: none;
}
.radiobutton:disabled{
	cursor:not-allowed;
}
.corp-card-header {
  padding: 0;
}

.corp-card-header-text {
  font-size: 21px;
  padding: 7px 0 0 30px;
  margin-bottom: 7px;

}


#productRequirements > a, .accordionHeader > a {
  height: 100%;
  display: block;
  background-color: #000;
	background: #000 url(../images/sprite.png) no-repeat scroll right -592px;
	cursor: pointer;
}

#productRequirements > a.collapsed, .accordionHeader > a.collapsed {
	background: url(../images/sprite.png) no-repeat scroll right -534px #666;
	cursor: default;
}

.card.card-default:nth-of-type(n+4), .aura .card.card-default {
  margin-top: 20px;
}

.corp-category-divider {
  display: none;
}

.corp-category-divider:last {
  display: block;
}
.error {
	color: #ff2626;
	font-size: 12px;
	font-weight: bold;
}
.metlife-btn-primary.disabled   {
  border: 2px solid #0090DA;
  border-radius: 0;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
  font-weight: 400;
  color: #FFFFFF;
	background-color: #0090DA !important;
	cursor: not-allowed;
}

h3.helpNo {
  font-size: 21px;
  font-weight: bold;
  font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}
#body-mask {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.3;
	z-index: 9999;
	background: #fff;
}
.body-mask-loader {
	margin-top: -40px;
    margin-left: -40px;
    top: 50%;
    left: 50%;
    position: fixed;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.menu {
	background: #fff;
	border-bottom: 3px solid #dadada;
	margin-top: 5px;
	min-height: 71px;
	position: relative;
	font-weight: normal;
	overflow: hidden;
	font-size: 15px;
	line-height: 14px;
}
.dc img, .cn .shadow-image, .nn img, .cnn .shadow-image, .nl .shadow-image, .cnl img, .dd img, .cl img {
	background: url(../images/sprite.png) no-repeat;
	height: 100%;
	width: 7px;
	display: inline-block;
	position: absolute;
}
.menu .dc img.right {
	background-position: 0 0;
	right: 0;
	top: 0
}
.menu .dc img.left {
	background-position: -35px 0;
	left: 0;
	top: 0
}
.menu .cn .shadow-image.right {
	background-position: -14px 0;
	right: 0;
	top: 0
}
.menu .cn img.left {
	background-position: -7px 0;
	left: 0;
	top: 0
}
.menu .nn img.right {
	background-position: -28px 0;
	right: 0;
	top: 0
}
.menu .nn img.left {
	background-position: -35px 0;
	left: 0;
	top: 0
}
.menu .cnn .shadow-image.right {
	background-position: -28px 0;
	right: 0;
	top: 0
}
.menu .cnn .shadow-image.left {
	background-position: -21px 0;
	left: 0;
	top: 0
}
.menu .nl .shadow-image.right {
	background-position: 0 0;
	right: 0;
	top: 0
}
.menu .nl .shadow-image.left {
	background-position: -35px 0;
	left: 0;
	top: 0
}
.menu .cnl img.left {
	background-position: -20px 0;
	left: 0;
	top: 0
}
.menu .dd img.left {
	background-position: -35px 0;
	left: 0;
	top: 0
}
.menu .dd img.right {
	background-position: -28px 0;
	right: 0;
	top: 0
}
.menu .cl img.left {
	background-position: -20px 0;
	left: 0;
	top: 0
}
.menu .cl img.right {
	background-position: -20px 0;
	right: 0;
	top: 0
}
.cn {
	background: #f2f2f2;
	min-height: 68px;
}
.cnn, .nn, .nl, .nn h5, .cnn h5, .nl h5 {
	color: #bbb
}
.menu h5 {
	margin-bottom: 6px;
	font-weight: normal
}
.dc, .cn, .nn, .nl, .cnl, .cnn, .dd, .cl {
	min-height: 68px;
	padding-left: 25px;
}
.dc.first, .cn.first {
	padding-left: 20px;
}
.cn .txtHolder {
	border-bottom: 0px solid #003a5d;
	min-height: 39px;
	margin-left: -20px;
	float: left;
	padding-left: 20px
}
.txtHolderMob {
	border-bottom: 1px solid #003a5d;
	min-height: 39px;
	margin-left: -20px;
	float: left;
	padding-left: 40px
}
.pl0 {
	padding-left: 0
}
.p0 {
	padding: 0
}
.dc h5, .dd h5 {
	color: #808080
}
.menumobile {
	background: #fff;
	border-bottom: 3px solid #dadada;
	border-top: 1px solid #e4e4e4;
	min-height: 71px;
	position: relative;
	font-weight: bold;
	overflow: hidden;
	font-size: 16px;
	line-height: 66px;
	margin: 0 -15px
}
.icoMenuFwd, .icoMenuRev, .icoMenuFwd.active, .icoMenuRev.active {
	height: 12px;
	width: 8px;
	background: url(../images/sprite.png) no-repeat;
	display: inline-block
}
.icoMenuFwd {
	background-position: -107px -460px
}
.icoMenuRev {
	background-position: -116px -460px
}
.icoMenuFwd.active {
	background-position: -88px -460px;
	cursor: pointer
}
.icoMenuRev.active {
	background-position: -97px -460px;
	cursor: pointer
}

.scrollBox {
    width: 100%;
    height: 220px;
    padding: 10px 15px;
    overflow-y: auto;
    border: 1px solid #CCC;
}

/* .active.checkboxes span {
    display: block;
    float: left;
    height: 24px;
    width: 24px;
    background: url(../images/sprite.png) no-repeat -68px -403px;
    margin: 0px 7px 0 -6px;
}

.checkboxes.active {
    background: #0090DA;
    box-shadow: none;
    color: #fff;
}

.btn-group-vertical .radiobutton, .btn-group-vertical .checkboxes {
    margin-bottom: 3px;
    text-align: left;
    white-space: normal !important;
} */

.checkboxes.active {
	background: #0090DA;
	box-shadow: none;
	color:#fff;
}
.btn.checkboxes:active {
	box-shadow: none
}
.checkboxes {
	width: 99%;
}
.checkboxes {
	background: #e5e5e5;
	padding: 6px 0;
	font-size: 15px;
	text-align: left;
	font-weight: normal;
	cursor:pointer;
}
.checkboxes span {
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -36px -403px;
	margin: 0px 7px 0 7px
}
.checkboxes:hover span {
	background: url(../images/sprite.png) no-repeat -36px -403px;
}
.active.checkboxes span {
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -68px -403px;
	margin: 0px 7px 0 7px;
}

.btn-group-vertical > .btn.checkboxes:last-child:not(:first-child):not(.dropdown-toggle) {
	border-radius: 0 0 6px 6px
}
.btn-group-vertical .radiobutton, .btn-group-vertical .checkboxes {
	margin-bottom: 3px;
	text-align: left;
	white-space: normal !important
}
.btn-group-vertical .radiobutton {
	text-align: center
}
.has-error .btn-group-vertical > .btn.checkboxes:first-child:not(:last-child):not(.dropdown-toggle) {
	border-radius: 6px;
	/* border: 2px solid #9e0114; */
	border-bottom: none
}
.has-error .btn-group-vertical > .btn.checkboxes:last-child:not(:first-child):not(.dropdown-toggle) {
	border-radius: 0;
	border: 2px solid #9e0114;
}
.has-error .btn-group-vertical .radiobutton, .has-error .btn-group-vertical .checkboxes {
	margin-bottom: 0px;
	text-align: left;
	white-space: normal !important;
	border: 0px solid #9e0114;
	border-bottom: none
}
.btn-group-vertical .radiobutton span {
	margin: 2px 2px 0 0
}

.withhelp .btn.checkboxes, .withhelp .btn.radiobutton {
	width: 100%;
}
.withhelp .col2 .btn.radiobutton {
	width: 100%
}
.withhelp .p-sm-20 .btn.checkboxes {
	width: 100%;
}

.cover-header {
	background: #0090DA;
	box-shadow: none;
	color: #fff;
	padding: 10px 0;
	font-size: 15px;
	font-weight: bold;
	border-radius: 2px;
	margin: 0;
}

.coverbg {
	background: #f2f2f2;
}
.coverbg h5 {
	line-height: 30px;
}

.cover-amount-holder {
	margin-top: 10px;
	padding: 0 5px;
	background: #f2f2f2;
	margin: 10px -20px;
}

h4.coverval {
	line-height: 30px;
	font-size: 16px;
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold !important;
}

label {
	/* margin: 5px 0; */
	padding-top: 10px;
}

fieldset:disabled label{
	pointer-events : none;
}
.has-error {
    background: #ffd8d9;
    margin-top: 5px;
    margin-bottom: 5px;
}

.has-error-checkbox {
    background: #ffd8d9;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ffd8d9;
    padding: 5px;
}
.error {
    color: #ff2626;
    font-size: 12px;
    font-weight: bold;
}

.corp-row-style .form-group{
	margin-bottom: 0px;
}
.download   {
	cursor:pointer;
	text-decoration:none;
}
.cover-button-group .second-button {
	padding: 0;
	margin-left: 8px;
}
.cover-button-group .first-button {
	padding: 0;
}
.corp-cover-section .cover-button-group {
	margin-top:41px;
}
@media only screen and (max-width: 500px) {
	.ip-warning-exceeded {
		padding-left: 0px !important;
	}
	.ip-warning-text {
	    padding-left: 15px !important;
	}
	body.shrink-header .nav-bg {
    padding: 4px;
	}
	.cover-button-group {
    display: block;
	}
	.cover-button-group .second-button {
		margin-top: 10px;
		margin-left: 0;
	}
	.corp-cover-section .cover-button-group {
		margin-top: 0;
	}
	.aura-height-question label, .aura-height-question label {
		margin: 0;
		padding-top:0;
	}
}

table.grid {
	border: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
}
table.grid th {
	text-align: center;
	padding: 2px 0;
	border-right: 1px solid #d9d9d9;
}
table.grid td {
	text-align: center;
	padding: 18px 0;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.btn-group-vertical input[type="checkbox"] {
	display: none;
}


.parent-flex-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.child-flex-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 161px;
}

.flex-box-center {
	justify-content: center;
}

.box {
	margin: 0px -15px 0 -15px;
	padding: 5px 15px 10px 15px;
}
.aligncenter {
	text-align: center !important;
}
.coverbg {
	background: #f2f2f2;
}
.coverbg h5 {
	line-height: 30px;
}
h4 {
	font-weight: bold;
	text-transform: uppercase;
			font-size: 18px;
}
/* h5 {
	text-transform: uppercase;
	font-weight: bold;
	color: #003b5d;
	font-size: 12px;
} */
.bgwhite {
	background: #fff;
}

#collapseCover .card-body .child-flex-box:not(:last-child) {
	border-right: 5px solid #e6e6e6 !important;
}

.aura-level-1 {
	margin-left: 30px;
}

.aura-level-2, .aura-level-3 {
	margin-left: 15px;
}
.twoColData .control-label + .control-label {
	display: block;
}

.summary-disclaimer {
	background-color: #e8e8e8;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 14px;
	line-height: 120%;
	color: #808080 !important;
}

.custom-card-border {
	border: 1px solid rgba(0,0,0,.125);
}

a, a:visited {
	color: #002855;
	text-decoration: none;
	outline: none;
}

#deathFxd, #deathUnt, #tpdFxd, #tpdUnt{
	cursor:not-allowed;
}
.icohelp {
	margin-left: 10px;
	font-size: 110%;
	height: 24px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -1423px -40px !important;
	/* float: right;
	display: block;
	position: absolute;
	top: 5px;
	right: -9px; */
	position: relative;
	top: auto;
	right: auto;
	display: inline-block;
	vertical-align: bottom;
	cursor: pointer;
}
.aura .icohelp{
	margin-left: 10px;
	font-size: 110%;
	height: 24px;
	width: 24px;
	background: url(../images/sprite.png) no-repeat -1423px -40px !important;
	float: right;
	display: block;
	position: absolute;
	top: 15px;
	right: -14px;
	cursor: pointer;
} 
.icohelp-xs {
	margin: 2px 0 2px 0px;
	font-size: 110%;
	height: 19px;
	width: 19px;
	background: url(../images/sprite.png) no-repeat -1427px -43px !important;
	float: left;
	display: block;
	cursor: pointer;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav > li {
    position: relative;
    display: block;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #339900;
	font-weight: bold;
}
.nav-tabs > li > a {
	color: #4C4C4C
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #339900;
    font-weight: bold;
}
.nav > li > a {
    padding: 10px 25px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.panel {
    border-radius: 0;
    border-width: 0px;
    box-shadow: none;
}
.mb0 {
    margin-bottom: 0 !important;
}
.panel-default {
    border-color: #dddddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.ui-datepicker-trigger {
	position: absolute;
	top: 44px;
	right: 17px;
	font-size: 23px;
	height: 30px;
	width: 30px;
	cursor: pointer;
}
.tableHeading {
	color: #fff;
	background-color: #333;
	vertical-align: top !important;
}

.customPagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.customPagination>li {
    display: inline;
}

.customPagination>li:first-child>a, .customPagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.customPagination>li>a, .customPagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor:pointer;
}

.customPagination>.active>a, .customPagination>.active>a:focus, .customPagination>.active>a:hover, .customPagination>.active>span, .customPagination>.active>span:focus, .customPagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

.customPagination>.disabled>a, .customPagination>.disabled>a:focus, .customPagination>.disabled>a:hover, .customPagination>.disabled>span, .customPagination>.disabled>span:focus, .customPagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}


.form-control.dollar {
	background: url(../images/sprite.png) left -639px no-repeat;
	padding-left: 18px;
	background-color: #fff;
}

_:-ms-lang(x), .btn-group-vertical {
	-ms-flex-direction: inherit;
	flex-direction: inherit;
}

_:-ms-lang(x), .ful-question .btn-group-vertical {
	-ms-flex-direction: column;
	flex-direction: column;
}
.pointer {
	cursor: pointer;
}
.ngdialog-content {
	max-width: 98% !important;
}

#onboard-mask {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0.9;
	z-index: 9999;
	background: #fff;
	display: table;
}

.onboard-mask-success {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
	padding: 10px;
}

.onboard-mask-success .alert-success {
	margin: 0 auto;
	max-width: 600px !important;
}





/* new css to align with metlife branding */

@font-face {
	font-family: 'CircularPro';
	src: url('../fonts/CircularPro-Book.eot');
	src:	url('../fonts/CircularPro-Book.woff2') format('woff2'),
			url('../fonts/CircularPro-Book.woff') format('woff'),
			url('../fonts/CircularPro-Book.ttf') format('truetype'),
			url('../fonts/CircularPro-Book.svg#CircularPro-Book') format('svg'),
			url('../fonts/CircularPro-Book.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CircularPro';
	src: url('../fonts/CircularPro-Bold.eot');
	src:	url('../fonts/CircularPro-Bold.woff2') format('woff2'),
			url('../fonts/CircularPro-Bold.woff') format('woff'),
			url('../fonts/CircularPro-Bold.ttf') format('truetype'),
			url('../fonts/CircularPro-Bold.svg#CircularPro-Bold') format('svg'),
			url('../fonts/CircularPro-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Utopia-Bold';
	src: url('../fonts/UtopiaStd-Bold.eot');
	src:	url('../fonts/UtopiaStd-Bold.woff2') format('woff2'),
			url('../fonts/UtopiaStd-Bold.woff') format('woff'),
			url('../fonts/UtopiaStd-Bold.ttf') format('truetype'),
			url('../fonts/UtopiaStd-Bold.svg#UtopiaStd-Bold') format('svg'),
			url('../fonts/UtopiaStd-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: bold;
	font-style: normal;
}



body {
	font-family: 'CircularPro', sans-serif;
	font-size: 14px;
}

@media (max-width: 768px) {
	body {
		padding-top: 70px;
	}
}

body.shrink-header .navbar-brand {
	padding: 8px 0 10px 0;
}

@media (max-width: 767px) {
	.navbar-brand {
		padding-left: 6px !important;
	}
}

body .nav-bg img {
	width: auto;
	height: 38px;
	transition: all .30s ease-out;
}

body.shrink-header .nav-bg img {
	height: 30px;
}


/* Mobile Nav START */

.menumobile {
	min-height: auto;
	line-height: inherit;
	margin: 0 -15px 4px;
	padding: 5px 15px;
}

.icoMenuFwd, .icoMenuRev, .icoMenuFwd.active, .icoMenuRev.active {
	height: 54px;
	width: 50%;
	float: left;
	background: transparent;
	position: relative;
}

.icoMenuFwd span, .icoMenuRev span, .icoMenuFwd.active span, .icoMenuRev.active span {
	height: 12px;
	width: 8px;
	display: inline-block;
	background: url(../images/sprite.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.icoMenuRev span {
	background-position: -116px -460px;
}

.icoMenuRev.active span {
	background-position: -97px -460px;
}

.icoMenuFwd span {
	background-position: -107px -460px;
}

.icoMenuFwd.active span {
	background-position: -88px -460px;
}

.txtHolderMob {
	border-bottom: 0;
	min-height: auto;
	margin-left: 0;
	padding-left: 0;
	padding: 15px 0;
}

/* Mobile Nav END */




h1, h2, h3, h4, h5, h6 {
	font-family: 'Utopia-Bold', serif;
	font-weight: bold !important;
}

h2.title {
	color: black;
	text-transform: none;
	font-size: 28px;
	font-weight: bold;
	font-family: Georgia, serif;
	margin: 10px 0px 20px 18px;
	letter-spacing: 0.03em;
}




.menu h5 {
	font-size: 14px;
	margin-bottom: 4px;
}

.txtHolder {
	min-height: auto !important;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

@media only screen and (max-width: 1023px) {

	.menu h5 { font-size: 13px; }
	.txtHolder { font-size: 16px; }

}


/* Global Form Elements START */

.form-group label {
	font-size: 14px;
	margin-bottom: 2px;
	min-height: 40px;
}

@media (max-width: 767px) {
	.form-group label { min-height: auto; }
}

.custom-input {
	border-radius: 4px;
	padding: 7px 10px 5px 10px;
	border: 1px solid #A7A8AA;
	font-size: 17px;
	font-weight: normal !important;
	color: #333 !important;
	min-height: 40px;
	width: 100%;
}

.radiobutton {
	background-color: #d9d9d6;
}

.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0.03em;
	min-height: 39px;
	line-height: 38px;
	padding-top: 0;
	padding-bottom: 0;
}

.btn-primary {
	background-color: #0061A0;
	border-color: #0061A0;
}

.btn-outline {
	background-color: white !important;
	color: #0061A0;
}

.btn-outline:hover {
	background-color: #0061A0 !important;
	color: white !important;
}

.btn-outline:disabled:hover {
	cursor: not-allowed;
	background-color: white !important;
	color: #0061A0 !important;
}

/* Global Form Elements END */


.checkboxes {
	position: relative;
	text-transform: none;
	font-size: 14px;
	background-color: #d9d9d6;
	line-height: 130%;
	padding: 14px 10px 12px 40px;
}


.checkboxes span, .active.checkboxes span {
	margin: 0;
	position: absolute;
	top: 9px;
	left: 7px;
}

.checkboxes span + div {
	text-transform: none;
}

@media only screen and (max-width: 1023px) {

	button.btn.checkboxes {
		padding: 10px 10px 8px 45px;
		line-height: 130%;
	}

	.checkboxes span, .active.checkboxes span {
		top: 7px;
	}
}

#productRequirements > a, .accordionHeader > a {
	background: #0090DA;
	color: white;
}

#productRequirements > a:after, .accordionHeader > a:after {
	content: '-';
	font-size: 26px;
	color: white;
	position: absolute;
	top: 0;
	right: 10px;
}

#productRequirements > a.collapsed, .accordionHeader > a.collapsed {
	background: #0061A0;
	position: relative;
}

#productRequirements > a.collapsed:after, .accordionHeader > a.collapsed:after {
	content: '+';
	font-size: 26px;
	color: white;
	position: absolute;
	top: 0;
	right: 10px;
	line-height: 150%;
}

.accordionHeader > a h4 {
	text-transform: none;
}

.cover-header {
	font-size: 17px;
	font-weight: normal;
}

.cover-header .text-md-right {
	font-size: 15px;
}

.form-control.dollar {
	background: url(../images/sprite.png) left -636px no-repeat;
}

.card-collapse .card-body {
	padding-top: 0;
}

.corp-panel-body.card-body {
	padding-top: 20px;
}

.card-collapse .scrollBox {
	margin-top: 20px;
}

.scrollBox ul {
	padding-left: 20px;
}


@media only screen and (max-width: 768px) {

	.card-body {
		padding-left: 5px;
		padding-right: 5px;
	}

}


/* Off-set the nested issue that doesn't actually have 100% of the space thanks to the negative margins */
.row.w-100 {
	width: calc(100% + 30px) !important;
}

.corp-row-style {
	padding: 10px 15px 10px;
}

.corp-row-style .form-group {
	margin-bottom: 10px;
}

.card-body.pb-1 {
	padding-top: 20px;
}


@media only screen and (max-width: 768px) {

	.corp-cover-section .cover-button-group {
		margin-top: 0;
	}

}


.landingPageBoxes .coverbg {
	min-height: 108px;
}

@media only screen and (max-width: 768px) {
	.coverbg { min-height: 128px; }
}

@media only screen and (max-width: 767px) {
	.coverbg { min-height: auto; }
}

.coverbg h5 {
	font-size: 16px;
}

.landingPageBoxes h5 {
	font-family: 'CircularPro';
	color: #a7a8aa;
	font-size: 12px;
	margin: 22px 0 3px;
}

.landingPageBoxes p {
	font-size: 18px;
	margin: 0;
}

.landingPageBoxes p.summary-disclaimer {
	font-size: 14px;
}

.landingPageBoxes .coverbg h5 {
	font-size: 16px;
	color: black;
	margin: 10px 0 0;
}

.landingPageBoxes .coverbg h4 {
	color: #0061A0;
	margin: 0 0 10px !important;
}

/* correction to correct colour */
#collapseCover .card-body .child-flex-box:not(:last-child) {
	border-right: 5px solid #e8e8e8 !important;
}

@media only screen and (max-width: 767px) {

	.landingPageBoxes#collapseCover .card-body .child-flex-box:not(:last-child) {
		border-right: 0 !important;
	}

	.landingPageBoxes#collapseCover .card-body .child-flex-box:not(:first-child) {
		border-top: 20px solid #e8e8e8 !important;
	}

}




.has-error {
	background: transparent;
	margin: 0px;
}

.has-error .custom-input {
	border-color: #db1818;
	background-color: #FFE4E4;
}

.has-error .error {
	font-weight: normal;
	margin: 5px 0;
	display: block;
}


.aura-level-1 {
	/*background: pink;
	border-left: 2px solid red;*/
	margin: 15px 0 0;
	border-left: 1px solid #d9d9d6;
	padding-left: 15px;
	margin-top: 15px;
}

.aura-level-1 + .aura-level-1 {
	margin: 0;
}

.aura-level-2, .aura-level-3 {
	margin: 15px 0 15px 20px;
	border-left: 1px solid #d9d9d6;
	padding-left: 15px;
}

@media (max-width: 768px) {

	.aura-level-1 {
		margin-left: 20px;
	}

}
