<div class="container">
  <div class=" col-sm-9">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">Summary</a></li>
    </ul>
    <form class="form-box-style" name="vm.dashboardForm">
        <div class="card-default form-box-style">
          <div id="collapseOne" class="card-collapse collapsed">
            <div class="card-body corp-panel-body">
              <div class="row corp-row-style">
                <div class="form-group col-xs-12 col-md-4">
                  <label for="appnumber">Fund / Plan Name</label>
                  <input type="text" class="form-control custom-input" id="fundName" ng-model="vm.fundDetails.partner.fundCode" ng-disabled="true" required/>
                </div>
                <div class="form-group col-xs-12 col-md-4 " ng-class="{'has-error':(vm.dashboardForm.fromDate.$invalid && vm.dashboardForm.fromDate.$touched) || (vm.dashboardForm.$submitted && vm.dashboardForm.fromDate.$error.required)}">
                  <label for="fromDate">From Date</label>
                  <input type="text" name="fromDate" ng-pattern="vm.constants.dateFormat" class="form-control custom-input" ng-class="{'error-border':(vm.dashboardForm.fromDate.$invalid && vm.dashboardForm.fromDate.$touched) || (vm.dashboardForm.$submitted && vm.dashboardForm.fromDate.$error.required)}" id="fromDate"
                  ng-model="vm.fundDetails.fromDate" ng-change="vm.dateChanged('fromDate',vm.fundDetails.fromDate,vm.fundDetails.fromDate)" required />
                  <!-- <span class="error" ng-show="vm.FromDateRequiredErr">From date required.</span> -->
                  <span class="error" ng-if="(vm.dashboardForm.fromDate.$error.required && vm.dashboardForm.fromDate.$touched) || (vm.dashboardForm.$submitted && vm.dashboardForm.fromDate.$error.required)">From date required.</span> 
                  <span class="error" ng-if="vm.dashboardForm.fromDate.$invalid && vm.dashboardForm.fromDate.$touched && !vm.dashboardForm.fromDate.$error.required">Enter valid From date.</span>
                </div>
                <div class="form-group col-xs-12 col-md-4 " ng-class="{'has-error':(vm.dashboardForm.toDate.$invalid && vm.dashboardForm.toDate.$touched) || (vm.dashboardForm.$submitted && vm.dashboardForm.toDate.$error.required)}">
                  <label for="toDate">To Date</label>
                  <input type="text" name="toDate" ng-pattern="vm.constants.dateFormat" class="form-control custom-input" ng-class="{'error-border':(vm.dashboardForm.toDate.$invalid && vm.dashboardForm.toDate.$touched) || (vm.dashboardForm.$submitted && vm.dashboardForm.toDate.$error.required)}" id="toDate"
                    ng-model="vm.fundDetails.toDate" ng-change="vm.dateChanged('toDate',vm.fundDetails.fromDate,vm.fundDetails.toDate)" required />
                   <span class="error" ng-if="(vm.dashboardForm.toDate.$error.required && vm.dashboardForm.toDate.$touched) || (vm.dashboardForm.$submitted && vm.dashboardForm.toDate.$error.required)">To date required.</span> 
                   <span class="error" ng-if="vm.dashboardForm.toDate.$invalid && vm.dashboardForm.toDate.$touched && !vm.dashboardForm.toDate.$error.required">Enter valid To date.</span> 
                </div>
                <div class="form-group col-xs-12 col-md-4 required">
                  <label for="category">Status</label>
                  <select class="form-control custom-input" id="status" ng-model="vm.fundDetails.status">
                   	<option value="All">All</option>
                    <option value="Active">Active</option>
                    <option value="Pending">Pending</option>
                    <option value="Submitted">Submitted</option>
                    <option value="Expired">Expired</option>
                  </select>
                </div>
              </div>
              <hr class="primeline d-none d-sm-block">     
              <div class="row corp-row-style">
                <div class="form-group col-xs-12 col-md-4 "  >
                  <label for="plancode">Member First Name</label>
                  <input type="text" class="form-control custom-input" id="fName" name-only maxlength="20" ng-model="vm.fundDetails.firstName"  />
                </div>
                <div class="form-group col-xs-12 col-md-4 "  >
                  <label for="brokeremail">Member Surname</label>
                  <input type="text" class="form-control custom-input" id="lName" name-only maxlength="20" ng-model="vm.fundDetails.lastName"   />
                </div>
                <div class="form-group col-xs-12 col-md-4 "  >
                  <label for="brokeremail">Application Number</label>
                  <input type="text" class="form-control custom-input" id="appNumber" onkeyup="return isIntegerFun(this);" onkeypress="return isIntegerFun(this);" 
                  	ng-model="vm.fundDetails.applicationNumber"  />
                </div>
              </div>
              <hr class="primeline">
              <div class="row corp-row-style">
                <div class="form-group col-xs-12 col-md-4">
                  <button class="metlife-btn-primary btn btn-block btn-outline" type="submit" ng-disabled="vm.fundDetails.partner.fundCode == '' || vm.dashboardForm.$invalid" ng-click="vm.search()" >Search </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div ng-if="vm.memberDetails.length == 0 && vm.submitForm">
      <div class="row rowcustom">
      <div class="col-sm-12">
        <h2 class="title mt0  mb0">Search results</h2>
        <p class="text-center"><strong class="color"> No Applications found</strong></p>
      </div>
      	</div>
      </div>
    <div ng-if="vm.memberDetails.length > 0">
    <div class="row rowcustom">
      <div class="col-sm-12">
        <h2 class="title mt0  mb0">Search results</h2>
      </div>
    </div>
    <div class="panel panel-default mb0">
      <div id="collapseTwo" class="panel-collapse show collapse in" style="height: auto;">
        <div class="card-body corp-panel-body">
          <div class="row corp-row-style">
            <div class="col-xs-12 table-responsive">
               <table class="table table-bordered mb0">
				<thead>
					<tr>
						<th class="tableHeading">Application number</th>
						<th class="tableHeading">Name</th>
						<th class="tableHeading">Date</th>
						<th class="tableHeading">Email</th>
						<th class="tableHeading">Status</th>
						<th class="tableHeading">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="member in vm.memberDetails | startFrom: vm.pagination.page * vm.pagination.perPage | limitTo: vm.pagination.perPage">
						<td>{{member.applicationNumber}}</td>
						<td>{{member.firstName}}&nbsp;{{member.lastName}}</td>
						<td>{{member.date}}</td>
						<td>{{member.email}}</td>
						<td >{{member.status}}</td>
						<td ng-if="member.status == 'Submitted'">
						</td>
						<td ng-if="member.status == 'Active' || member.status == 'Pending'">
						 <a href="" ng-click="vm.resendEmail(member.email, member.firstName, member.lastName, member.applicationNumber);">Resend Email</a>
					    </td>
					 	<td ng-if="member.status == 'Expired'">
						 <a href="" ng-click="vm.updateStatus($index+(vm.pagination.page*vm.pagination.perPage));">Update Status</a>						
						</td>
					</tr>
				</tbody>
			</table>
			</div>
            <div ng-if="vm.pagination.numPages > 1" class="row rowcustom">
			<div class="col-sm-12">
				<ul class="customPagination">
					<li ng-class="{disabled: vm.pagination.page == 0}"><a ng-click="vm.prevPage()">Previous</a></li>
					<li ng-class="{active: n == vm.pagination.page}" ng-repeat="n in [] | range: vm.pagination.numPages">
						<a ng-click="vm.toPageId(n)">{{n + 1}}</a>
					</li>
					<li ng-class="{disabled: vm.pagination.page == vm.pagination.numPages-1}"><a ng-click="vm.nextPage()">Next</a></li>
				</ul>
			</div>
		</div>
          </div>
        </div>
      </div>
    </div>
    
   </div>
  </div>
  <!-- /container --> 
</div>


