<script type="text/ng-template"  id="tree_item_renderer_level_1.html">
	<!-- Row starts   Radio buttons  -->
				<div ng-class="{'row' : x.baseQuestion==false && !x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RadioQuestion' && x.questionAlias!='QG=Personal Details'">
				 	<div ng-class="{'col-sm-11  col-xs-11 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div ng-class="{'col-sm-11  col-xs-11 fright' : x.baseQuestion==false}">
					  <div onclick="visible('tick3')" data-toggle="buttons" class="btn-group">
					  	<div ng-class="{'col-sm-4  col-xs-12':x.auraAnswer.length <3 && y.answerText.length < 4, 'col-sm-12  col-xs-12':x.auraAnswer.length >2 && y.answerText.length > 3 }" ng-repeat="y in x.auraAnswer" ng-if="x.visible">					  	
                 		 	<div ng-if="x.auraAnswer.length <3 && y.answerText.length < 4">
								<div class="col-sm-12 pl0 col-xs-12" ng-if="$first" ng-click="updateRadio(y.answerValue,x)">
                    				<label class="btn  radiobutton "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </label>
                 			 	</div>
                  		  		<div class="col-sm-12 col-xs-12 pl0xs" ng-if="!$first" ng-click="updateRadio(y.answerValue,x)">
                    				<label class="btn  radiobutton" ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
                      				<span></span> {{y.answerText | split}}  </label>
                 				</div> 
							</div>							
							<div ng-if="x.auraAnswer.length >2 ||  y.answerText.length > 3">
								<div class="col-sm-12 col-xs-12 pl0xs" ng-click="updateRadio(y.answerValue,x)">
                    				<label class="btn  radiobutton "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </label>
                 			 	</div>                  		  		
							</div>										 
               			</div>
						<div ng-repeat="z in x.auraAnswer">
							<div ng-repeat="x in z.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="row rowcustom"></div>
						</div>							  
					  </div>					
					</div>
 					<div ng-if="x.error" ng-class="{'col-sm-11  col-xs-11 fright' : x.baseQuestion==false}" class="error"> Please select an answer <br>
                			<br>
              		</div>			
			</div>			
 <!-- Row ends  radio buttons-->
         
			 					
<!-- Row STARTS  CHECK BOX --> 
				 <!-- Row ends -->
			            <div ng-if="x.classType=='CheckBoxQuestion'" ng-class="{'row rowcustom' : !x.baseQuestion && !x.error, 'row rowcustom has-error' : !x.baseQuestion && x.error}">
			            <div >
              				<div ng-class="{'col-sm-11  col-xs-11 fright' : x.baseQuestion==false}" >
                				<label class="control-label" ng-bind="x.questionText | split"></label>
              				</div>
            			</div>           			
            			<div class="row rowcustom" ng-repeat="y in x.auraAnswer | checkboxFilter:y">
              				<div class=" btn-group-vertical" data-toggle="buttons">
                				<div  ng-class="{'col-sm-11  col-xs-11 fright' : x.baseQuestion==false}" >
                 				 <div class="ui-checkbox"  >									
                    				<label ng-click="updateCheckBox(y.answerValue,x,$index)" class="btn  checkboxes"  ng-class="{'active': (x.answerTest.indexOf(y.answerValue) !== -1)}"> <span></span>{{y.answerText| split}}					
									<!--<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	onclick="showTips(this,'Test')"></a>-->
									</label>
					<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	 ng-click="clickToOpen(y.helpText)"></a>
                    				<input type="checkbox" id="option3" class=" " name="{{x.questionId}}" ng-value="y.answerValue" ng-model="y.answerValue" >
                  				</div>
                			  </div>	
								<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="row rowcustom"></div>													
              				</div>							
            			</div>
						<div ng-if="x.error" class="col-sm-12  col-xs-12  fright error"> Please select an answer <br>
                					<br>
              					</div>							
            		</div>
					
 <!-- Row ends  CHECK BOX-->   

<!--Row start for combo box-->

<div ng-class="{'row rowcustom' : !x.baseQuestion && !x.error, 'row rowcustom has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='ComboBoxQuestion'">
				 	<div ng-class="{'col-sm-11  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-11 col-xs-10 fright ">
						<!--<select ng-model="selectedName" class="selectpicker  form-control" style="display: none;"  ng-options="z.answerValue | split for z in x.auraAnswer"></select>                			
						<div class="col-sm-5  col-xs-10" ng-if="!x.answerTest">
							<select ng-model="selectedName" class="selectpicker  form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ></select>		
				 		</div>-->	
						<div class="col-sm-5  col-xs-10" ng-if="x.questionComplete && x.answerTest">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>					
						<div class="col-sm-5  col-xs-10" ng-show="x.answerTest=='' && !x.answerTest">
							<select type="text" class="form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="selectedName" >   											
							</select>
						</div>	
						
						<div class="col-sm-5  col-xs-10" ng-if="!x.answerTest">
							<button type="button" class="btn btn-primary w100p" ng-click="updateRadio(selectedName.answerText,x)">Select</button>
						</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest">
							<button type="button" class="btn btn-primary w100p" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
						<div ng-repeat="y in x.auraAnswer">
							<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" class="row rowcustom">
						</div>						
						
					</div>

              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>

</div>
<!-- Row ends-->

<!--Row start for search question-->
<!--Row start for search question-->
<div ng-class="{'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
				 	<div ng-class="{ 'col-sm-11  col-xs-11 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-11  col-xs-11  fright ">							
						<div class="col-sm-4 col-xs-10" ng-show="x.answerTest=='' || !x.questionComplete">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="serachText" ng-init="serachText = x.answerTest">
              			</div>
						<div class="col-sm-4  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && x.questionComplete">
							<label class="control-label" ng-bind="x.answerTest "></label>							
				 		</div>
						<div class="col-sm-4  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary w100p" ng-click="updateRadio(serachText,x)">Search</button>
						</div>
						<p class="col-xs-12 visible-xs">&nbsp;</p>
						<div class="col-sm-4  col-xs-10" ng-if="!x.questionComplete && !x.error && x.answerTest != '' ">
							<button type="button" class="btn btn-primary w100p" ng-click="updateFreeText(x.answerTest,x)">Accept free text</button>
						</div>
						<div class="col-sm-4  col-xs-10" ng-if="x.error  && x.questionText == '[10842]What is the name of your hazardous activity or pursuit?'">
							<button type="button" class="btn btn-primary w100p" ng-click="updateFreeText(x.answerTest,x)">Accept free text</button>
						</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p" ng-click="x.answerTest=''; x.questionComplete = false">Edit</button>
						</div>
              </div>
				<div class="col-sm-10  col-xs-10 fright" ng-if="!x.error && !x.questionComplete && x.answerTest != '' " >
					<select type="text" class="form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="z.answerValue" ng-change="searchValSubmit(z.answerValue,z,x)">   											
						<option value="" ng-if="false"></option>					
					</select>					
				</div>  
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" ></div>							
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error" ng-bind="x.validationMsg || 'Please select an answer'"><br>
                			<br>             			
				</div>
</div>
<!-- Row ends-->
<!--Row start for DateQuestion question-->
	<div ng-class="{'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='DateQuestion'">
				 	<div ng-class="{'col-sm-11 col-xs-11' : x.baseQuestion, 'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" >{{x.questionText | split}}(dd/mm/yyyy)</label>
                 	</div>
					<div class="col-sm-11  col-xs-11  fright ">							
						<!--<div  ng-class="{'col-sm-5 col-xs-10': x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1,'col-sm-5 col-xs-10': x.answerTest.length==0 , 'displaynone': x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 }">
                				<input type="text"  onclick="visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div  class="col-sm-5 col-xs-10" ng-show="x.answerTest=='' ">
                				<input type="text" date-only onclick="visible('tick8')" class="datepicker form-control " ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | dateTextSplit "></label>							
				 		</div>
						<div class="col-sm-3  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest !== ''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>

	</div>
<!-- Row ends-->
<!--Row start for statement question-->
<div ng-class="{'row rowcustom' : x.baseQuestion, 'row' : x.baseQuestion==false}" ng-if="x.classType=='Statement'">
				 	<div ng-class="{'col-sm-11  col-xs-11 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>			
	<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" ></div>								
				</div>
</div>

<!-- Row ends-->
<!--row start for text area("TextAreaQuestion") question-->
<div ng-class="{'row' : x.baseQuestion==false && !x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
				 	<div ng-class="{ 'col-sm-11  col-xs-11 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-11  col-xs-11  fright ">							
						<!--<div ng-class="{'col-sm-5 col-xs-10': x.answerTest=='NO_ANSWER_CHECKED' || x.answerTest.length==0 , 'displaynone':x.answerTest!='NO_ANSWER_CHECKED' && x.answerTest.length>0 }">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div class="col-sm-5  col-xs-11" ng-show="x.answerTest=='' ">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-xs-11" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>
						<div class="col-sm-3  col-xs-11" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-11" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-11  col-xs-11' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>
</div>
<!--row ends-->
<!--"TextQuestion"-->
<div ng-class="{ 'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextQuestion'">
				 	<div ng-class="{'col-sm-11  col-xs-11 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-11  col-xs-11  fright">							
						<!--<div  ng-class="{'col-sm-5 col-xs-10': x.answerTest=='NO_ANSWER_CHECKED', 'displaynone':x.answerTest!='NO_ANSWER_CHECKED'}">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeText">
              			</div>-->
						<div  class="col-sm-5  col-xs-11" ng-show="x.answerTest=='' ">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeText">
              			</div>
						<div class="col-sm-5  col-xs-11"  ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>
						<div class="col-sm-3  col-xs-11" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(freeText,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-11  col-xs-11' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>
</div>

<!--row ends-->
<!--"RangeQuestion"-->
<div ng-class="{'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RangeQuestion'">
				 	<div ng-class="{ 'col-sm-11  col-xs-11 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div  ng-class="{'col-sm-11  col-xs-11 fright' : x.baseQuestion==false}" ng-if="x.visible">							
						<!--<div  ng-class="{'col-sm-5 col-xs-10': !x.questionComplete, 'displaynone':x.questionComplete}" >
                				<input type="text" onclick="visible('tick8')" class="form-control" ng-model="rangeText">
              			</div>-->
						<div  class="col-sm-5  col-xs-11" ng-show="x.answerTest=='' || x.error " >
                				<input type="number"  onclick="visible('tick8')" class="form-control" ng-model="rangeText" >
								<!--<input type="text" numbers-only onclick="visible('tick8')" class="form-control" ng-model="rangeText">-->

              			</div>
						<div class="col-sm-5  col-xs-11" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && !x.error">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>
						<div class="col-sm-3  col-xs-11" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(rangeText,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-11" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>

				<div ng-if="x.error && x.visible"  ng-class="{ 'col-sm-11  col-xs-11' : x.baseQuestion==false}" class="fright error"> <span ng-if="!x.answerTest">Please answer the question</span><span ng-if="x.answerTest !== '' && x.answerTest">Answer is out of acceptable range, please re-enter the number</span> <br>
                			<br>             			
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_2.html'" ></div>								
				</div>
</div>

<!--row ends-->
</script>
<script type="text/ng-template"  id="tree_item_renderer_level_2.html">
	<!-- Row starts   Radio buttons  -->
				<div ng-class="{'row' : x.baseQuestion==false && !x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RadioQuestion' && x.questionAlias!='QG=Personal Details'">
				 	<div ng-class="{'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div ng-class="{'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}">
					  <div onclick="visible('tick3')" data-toggle="buttons" class="btn-group">
					  	<div ng-class="{'col-sm-4  col-xs-12':x.auraAnswer.length <3 && y.answerText.length < 4, 'col-sm-12  col-xs-12':x.auraAnswer.length >2 && y.answerText.length > 3 }" ng-repeat="y in x.auraAnswer" ng-if="x.visible">					  	
                 		 	<div ng-if="x.auraAnswer.length <3 && y.answerText.length < 4">
								<div class="col-sm-12 pl0 col-xs-12" ng-if="$first" ng-click="updateRadio(y.answerValue,x)">
                    				<label class="btn  radiobutton "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </label>
                 			 	</div>
                  		  		<div class="col-sm-12 col-xs-12 pl0xs" ng-if="!$first" ng-click="updateRadio(y.answerValue,x)">
                    				<label class="btn  radiobutton" ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
                      				<span></span> {{y.answerText | split}}  </label>
                 				</div> 
							</div>							
							<div ng-if="x.auraAnswer.length >2 ||  y.answerText.length > 3">
								<div class="col-sm-12 col-xs-12 pl0xs" ng-click="updateRadio(y.answerValue,x)">
                    				<label class="btn  radiobutton "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </label>
                 			 	</div>                  		  		
							</div>										 
               			</div>
						<div ng-repeat="z in x.auraAnswer">
							<div ng-repeat="x in z.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="row rowcustom"></div>
						</div>							  
					  </div>					
					</div>
 					<div ng-if="x.error" ng-class="{'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}" class="error"> Please select an answer <br>
                			<br>
              		</div>			
			</div>			
 <!-- Row ends  radio buttons-->
         
			 					
<!-- Row STARTS  CHECK BOX --> 
				 <!-- Row ends -->
			            <div ng-if="x.classType=='CheckBoxQuestion'" ng-class="{'row rowcustom' : !x.baseQuestion && !x.error, 'row rowcustom has-error' : !x.baseQuestion && x.error}">
			            <div >
              				<div ng-class="{'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}" >
                				<label class="control-label" ng-bind="x.questionText | split"></label>
              				</div>
            			</div>           			
            			<div class="row rowcustom" ng-repeat="y in x.auraAnswer | checkboxFilter:y">
              				<div class=" btn-group-vertical" data-toggle="buttons">
                				<div  ng-class="{'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}" >
                 				 <div class="ui-checkbox"  >									
                    				<label ng-click="updateCheckBox(y.answerValue,x,$index)" class="btn  checkboxes"  ng-class="{'active': (x.answerTest.indexOf(y.answerValue) !== -1)}"> <span></span>{{y.answerText| split}}					
									<!--<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	onclick="showTips(this,'Test')"></a>-->
									</label>
					<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	 ng-click="clickToOpen(y.helpText)"></a>
                    				<input type="checkbox" id="option3" class=" " name="{{x.questionId}}" ng-value="y.answerValue" ng-model="y.answerValue" >
                  				</div>
                			  </div>	
								<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="row rowcustom"></div>													
              				</div>							
            			</div>
						<div ng-if="x.error" class="col-sm-10  col-xs-10  fright error"> Please select an answer <br>
                					<br>
              					</div>							
            		</div>
					
 <!-- Row ends  CHECK BOX-->   

<!--Row start for combo box-->

<div ng-class="{'row rowcustom' : !x.baseQuestion && !x.error, 'row rowcustom has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='ComboBoxQuestion'">
				 	<div ng-class="{'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-10  col-xs-10 fright ">
						<!--<select ng-model="selectedName" class="selectpicker  form-control" style="display: none;"  ng-options="z.answerValue | split for z in x.auraAnswer"></select>                			
						<div class="col-sm-5  col-xs-10" ng-if="!x.answerTest">
							<select ng-model="selectedName" class="selectpicker  form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ></select>		
				 		</div>-->	
						<div class="col-sm-5  col-xs-10" ng-if="x.questionComplete && x.answerTest">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>					
						<div class="col-sm-5  col-xs-10" ng-show="x.answerTest=='' && !x.answerTest">
							<select type="text" class="form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="selectedName" >   											
							</select>
						</div>	
						
						<div class="col-sm-5  col-xs-10" ng-if="!x.answerTest">
							<button type="button" class="btn btn-primary w100p" ng-click="updateRadio(selectedName.answerText,x)">Select</button>
						</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest">
							<button type="button" class="btn btn-primary w100p" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
						<div ng-repeat="y in x.auraAnswer">
							<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="row rowcustom">
						</div>						
						
					</div>

              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>

</div>
<!-- Row ends-->

<!--Row start for search question-->
<div ng-class="{'row rowcustom' : !x.baseQuestion && !x.error, 'row rowcustom has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
				 	<div ng-class="{ 'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-10  col-xs-10  fright ">							
						<div class="col-sm-4 col-xs-10" ng-show="x.answerTest=='' || !x.questionComplete">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="serachText" ng-init="serachText = x.answerTest">
              			</div>
						<div class="col-sm-4  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && x.questionComplete">
							<label class="control-label" ng-bind="x.answerTest "></label>							
				 		</div>
						<div class="col-sm-4  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary w100p" ng-click="updateRadio(serachText,x)">Search</button>
						</div>
						<p class="col-xs-12 visible-xs">&nbsp;</p>
						<div class="col-sm-4  col-xs-10" ng-if="!x.questionComplete && !x.error && x.answerTest != '' ">
							<button type="button" class="btn btn-primary w100p" ng-click="updateFreeText(x.answerTest,x)">Accept free text</button>
						</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p" ng-click="x.answerTest=''; x.questionComplete = false">Edit</button>
						</div>
              </div>
				<div class="col-sm-10  col-xs-10 fright" ng-if="!x.error && !x.questionComplete && x.answerTest != '' " >
					<select type="text" class="form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="z.answerValue" ng-change="searchValSubmit(z.answerValue,z,x)">   											
						<option value="" ng-if="false"></option>					
					</select>					
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" ></div>								
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error" ng-bind="x.validationMsg || 'Please select an answer'"><br>
                			<br>             			
				</div>
</div>

<!-- Row ends-->
<!--Row start for DateQuestion question-->
	<div ng-class="{'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='DateQuestion'">
				 	<div ng-class="{'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" >{{x.questionText | split}}(dd/mm/yyyy)</label>
                 	</div>
					<div class="col-sm-10  col-xs-10  fright ">							
						<!--<div  ng-class="{'col-sm-5 col-xs-10': x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1,'col-sm-5 col-xs-10': x.answerTest.length==0 , 'displaynone': x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 }">
                				<input type="text"  onclick="visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div  class="col-sm-5 col-xs-10" ng-show="x.answerTest=='' ">
                				<input type="text" date-only onclick="visible('tick8')" class="datepicker form-control " ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | dateTextSplit "></label>							
				 		</div>
						<div class="col-sm-3  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest !== ''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>

	</div>
<!-- Row ends-->
<!--Row start for statement question-->
<div ng-class="{'row rowcustom' : x.baseQuestion, 'row' : x.baseQuestion==false}" ng-if="x.classType=='Statement'">
				 	<div ng-class="{'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>			
	<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" ></div>								
				</div>
</div>

<!-- Row ends-->
<!--row start for text area("TextAreaQuestion") question-->
<div ng-class="{'row' : x.baseQuestion==false && !x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
				 	<div ng-class="{ 'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-10  col-xs-10  fright ">							
						<!--<div ng-class="{'col-sm-5 col-xs-10': x.answerTest=='NO_ANSWER_CHECKED' || x.answerTest.length==0 , 'displaynone':x.answerTest!='NO_ANSWER_CHECKED' && x.answerTest.length>0 }">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div class="col-sm-5  col-xs-10" ng-show="x.answerTest=='' ">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>
						<div class="col-sm-3  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>
</div>
<!--row ends-->
<!--"TextQuestion"-->
<div ng-class="{ 'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextQuestion'">
				 	<div ng-class="{'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-10  col-xs-10  fright">							
						<!--<div  ng-class="{'col-sm-5 col-xs-10': x.answerTest=='NO_ANSWER_CHECKED', 'displaynone':x.answerTest!='NO_ANSWER_CHECKED'}">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeText">
              			</div>-->
						<div  class="col-sm-5  col-xs-10" ng-show="x.answerTest=='' ">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeText">
              			</div>
						<div class="col-sm-5  col-xs-10"  ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>
						<div class="col-sm-3  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(freeText,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>
</div>

<!--row ends-->
<!--"RangeQuestion"-->
<div ng-class="{'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RangeQuestion'">
				 	<div ng-class="{ 'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div  ng-class="{'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}" ng-if="x.visible">							
						<!--<div  ng-class="{'col-sm-5 col-xs-10': !x.questionComplete, 'displaynone':x.questionComplete}" >
                				<input type="text" onclick="visible('tick8')" class="form-control" ng-model="rangeText">
              			</div>-->
						<div  class="col-sm-5  col-xs-10" ng-show="x.answerTest=='' || x.error " >
                				<input type="number"  onclick="visible('tick8')" class="form-control" ng-model="rangeText" >
								<!--<input type="text" numbers-only onclick="visible('tick8')" class="form-control" ng-model="rangeText">-->

              			</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && !x.error">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>
						<div class="col-sm-3  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(rangeText,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>

				<div ng-if="x.error && x.visible"  ng-class="{ 'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> <span ng-if="!x.answerTest">Please answer the question</span><span ng-if="x.answerTest !== '' && x.answerTest">Answer is out of acceptable range, please re-enter the number</span> <br>
                			<br>             			
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" ></div>								
				</div>
</div>

<!--row ends-->
</script>
<script type="text/ng-template"  id="tree_item_renderer_level_3.html">
	<!-- Row starts   Radio buttons  -->
				<div ng-class="{'row' : x.baseQuestion==false && !x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RadioQuestion' && x.questionAlias!='QG=Personal Details'">
				 	<div ng-class="{'col-sm-12  col-xs-12 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div ng-class="{'col-sm-12  col-xs-12 fright' : x.baseQuestion==false}">
					  <div onclick="visible('tick3')" data-toggle="buttons" class="btn-group">
					  	<div ng-class="{'col-sm-4  col-xs-12':x.auraAnswer.length <3 && y.answerText.length < 4, 'col-sm-12  col-xs-12':x.auraAnswer.length >2 && y.answerText.length > 3 }" ng-repeat="y in x.auraAnswer" ng-if="x.visible">					  	
                 		 	<div ng-if="x.auraAnswer.length <3 && y.answerText.length < 4">
								<div class="col-sm-12 pl0 col-xs-12" ng-if="$first" ng-click="updateRadio(y.answerValue,x)">
                    				<label class="btn  radiobutton "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </label>
                 			 	</div>
                  		  		<div class="col-sm-12 col-xs-12 pl0xs" ng-if="!$first" ng-click="updateRadio(y.answerValue,x)">
                    				<label class="btn  radiobutton" ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
                      				<span></span> {{y.answerText | split}}  </label>
                 				</div> 
							</div>							
							<div ng-if="x.auraAnswer.length >2 ||  y.answerText.length > 3">
								<div class="col-sm-12 col-xs-12 pl0xs" ng-click="updateRadio(y.answerValue,x)">
                    				<label class="btn  radiobutton "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </label>
                 			 	</div>                  		  		
							</div>										 
               			</div>
						<div ng-repeat="z in x.auraAnswer">
							<div ng-repeat="x in z.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="row rowcustom"></div>
						</div>							  
					  </div>					
					</div>
 					<div ng-if="x.error" ng-class="{'col-sm-12  col-xs-12 fright' : x.baseQuestion==false}" class="error"> Please select an answer <br>
                			<br>
              		</div>			
			</div>			
 <!-- Row ends  radio buttons-->
         
			 					
<!-- Row STARTS  CHECK BOX --> 
				 <!-- Row ends -->
			            <div ng-if="x.classType=='CheckBoxQuestion'" ng-class="{'row rowcustom' : !x.baseQuestion && !x.error, 'row rowcustom has-error' : !x.baseQuestion && x.error}">
			            <div >
              				<div ng-class="{'col-sm-12  col-xs-12 fright' : x.baseQuestion==false}" >
                				<label class="control-label" ng-bind="x.questionText | split"></label>
              				</div>
            			</div>           			
            			<div class="row rowcustom" ng-repeat="y in x.auraAnswer | checkboxFilter:y">
              				<div class=" btn-group-vertical" data-toggle="buttons">
                				<div  ng-class="{'col-sm-12  col-xs-12 fright' : x.baseQuestion==false}" >
                 				 <div class="ui-checkbox"  >									
                    				<label ng-click="updateCheckBox(y.answerValue,x,$index)" class="btn  checkboxes"  ng-class="{'active': (x.answerTest.indexOf(y.answerValue) !== -1)}"> <span></span>{{y.answerText| split}}					
									<!--<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	onclick="showTips(this,'Test')"></a>-->
									</label>
					<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	 ng-click="clickToOpen(y.helpText)"></a>
                    				<input type="checkbox" id="option3" class=" " name="{{x.questionId}}" ng-value="y.answerValue" ng-model="y.answerValue" >
                  				</div>
                			  </div>	
								<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="row rowcustom"></div>													
              				</div>							
            			</div>
						<div ng-if="x.error" class="col-sm-12  col-xs-12  fright error"> Please select an answer <br>
                					<br>
              					</div>							
            		</div>
					
 <!-- Row ends  CHECK BOX-->   

<!--Row start for combo box-->

<div ng-class="{'row rowcustom' : !x.baseQuestion && !x.error, 'row rowcustom has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='ComboBoxQuestion'">
				 	<div ng-class="{'col-sm-12  col-xs-12 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-12  col-xs-12 fright ">
						<!--<select ng-model="selectedName" class="selectpicker  form-control" style="display: none;"  ng-options="z.answerValue | split for z in x.auraAnswer"></select>                			
						<div class="col-sm-5  col-xs-10" ng-if="!x.answerTest">
							<select ng-model="selectedName" class="selectpicker  form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ></select>		
				 		</div>-->	
						<div class="col-sm-5  col-xs-10" ng-if="x.questionComplete && x.answerTest">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>					
						<div class="col-sm-5  col-xs-10" ng-show="x.answerTest=='' && !x.answerTest">
							<select type="text" class="form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="selectedName" >   											
							</select>
						</div>	
						
						<div class="col-sm-5  col-xs-10" ng-if="!x.answerTest">
							<button type="button" class="btn btn-primary w100p" ng-click="updateRadio(selectedName.answerText,x)">Select</button>
						</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest">
							<button type="button" class="btn btn-primary w100p" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
						<div ng-repeat="y in x.auraAnswer">
							<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" class="row rowcustom">
						</div>						
						
					</div>

              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12  col-xs-12' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>

</div>
<!-- Row ends-->

<!--Row start for search question-->
<div ng-class="{'row rowcustom' : !x.baseQuestion && !x.error, 'row rowcustom has-error' : !x.baseQuestion && x.error}" ng-if="x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
				 	<div ng-class="{ 'col-sm-12  col-xs-12 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-12  col-xs-12  fright ">							
						<div class="col-sm-4 col-xs-10" ng-show="x.answerTest=='' || !x.questionComplete">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="serachText" ng-init="serachText = x.answerTest">
              			</div>
						<div class="col-sm-4  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && x.questionComplete">
							<label class="control-label" ng-bind="x.answerTest "></label>							
				 		</div>
						<div class="col-sm-4  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary w100p" ng-click="updateRadio(serachText,x)">Search</button>
						</div>
						<p class="col-xs-12 visible-xs">&nbsp;</p>
						<div class="col-sm-4  col-xs-10" ng-if="!x.questionComplete && !x.error && x.answerTest != '' ">
							<button type="button" class="btn btn-primary w100p" ng-click="updateFreeText(x.answerTest,x)">Accept free text</button>
						</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p" ng-click="x.answerTest=''; x.questionComplete = false">Edit</button>
						</div>
              </div>
				<div class="col-sm-12  col-xs-12 fright" ng-if="!x.error && !x.questionComplete && x.answerTest != '' " >
					<select type="text" class="form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="z.answerValue" ng-change="searchValSubmit(z.answerValue,z,x)">   											
						<option value="" ng-if="false"></option>					
					</select>					
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" ></div>								
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-12  col-xs-12' : x.baseQuestion==false}" class="fright error" ng-bind="x.validationMsg || 'Please select an answer'"><br>
                			<br>             			
				</div>
</div>

<!-- Row ends-->
<!--Row start for DateQuestion question-->
	<div ng-class="{'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='DateQuestion'">
				 	<div ng-class="{'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" >{{x.questionText | split}}(dd/mm/yyyy)</label>
                 	</div>
					<div class="col-sm-10  col-xs-10  fright ">							
						<!--<div  ng-class="{'col-sm-5 col-xs-10': x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1,'col-sm-5 col-xs-10': x.answerTest.length==0 , 'displaynone': x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 }">
                				<input type="text"  onclick="visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div  class="col-sm-5 col-xs-10" ng-show="x.answerTest=='' ">
                				<input type="text" date-only onclick="visible('tick8')" class="datepicker form-control " ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | dateTextSplit "></label>							
				 		</div>
						<div class="col-sm-3  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest !== ''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>

	</div>
<!-- Row ends-->
<!--Row start for statement question-->
<div ng-class="{'row rowcustom' : x.baseQuestion, 'row' : x.baseQuestion==false}" ng-if="x.classType=='Statement'">
				 	<div ng-class="{'col-sm-12  col-xs-12 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>			
	<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" ></div>								
				</div>
</div>

<!-- Row ends-->
<!--row start for text area("TextAreaQuestion") question-->
<div ng-class="{'row' : x.baseQuestion==false && !x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
				 	<div ng-class="{ 'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-10  col-xs-10  fright ">							
						<!--<div ng-class="{'col-sm-5 col-xs-10': x.answerTest=='NO_ANSWER_CHECKED' || x.answerTest.length==0 , 'displaynone':x.answerTest!='NO_ANSWER_CHECKED' && x.answerTest.length>0 }">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div class="col-sm-5  col-xs-10" ng-show="x.answerTest=='' ">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>
						<div class="col-sm-3  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>
</div>
<!--row ends-->
<!--"TextQuestion"-->
<div ng-class="{ 'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextQuestion'">
				 	<div ng-class="{'col-sm-12  col-xs-12 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-12  col-xs-12  fright">							
						<!--<div  ng-class="{'col-sm-5 col-xs-10': x.answerTest=='NO_ANSWER_CHECKED', 'displaynone':x.answerTest!='NO_ANSWER_CHECKED'}">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeText">
              			</div>-->
						<div  class="col-sm-5  col-xs-10" ng-show="x.answerTest=='' ">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeText">
              			</div>
						<div class="col-sm-5  col-xs-10"  ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>
						<div class="col-sm-3  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(freeText,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12  col-xs-12' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>
</div>

<!--row ends-->
<!--"RangeQuestion"-->
<div ng-class="{'row' : x.baseQuestion==false && !x.error,  'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RangeQuestion'">
				 	<div ng-class="{ 'col-sm-12  col-xs-12 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div  ng-class="{'col-sm-12  col-xs-12 fright' : x.baseQuestion==false}" ng-if="x.visible">							
						<!--<div  ng-class="{'col-sm-5 col-xs-10': !x.questionComplete, 'displaynone':x.questionComplete}" >
                				<input type="text" onclick="visible('tick8')" class="form-control" ng-model="rangeText">
              			</div>-->
						<div  class="col-sm-5  col-xs-10" ng-show="x.answerTest=='' || x.error " >
                				<input type="number"  onclick="visible('tick8')" class="form-control" ng-model="rangeText" >
								<!--<input type="text" numbers-only onclick="visible('tick8')" class="form-control" ng-model="rangeText">-->

              			</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && !x.error">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>
						<div class="col-sm-3  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(rangeText,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>

				<div ng-if="x.error && x.visible"  ng-class="{ 'col-sm-12  col-xs-12' : x.baseQuestion==false}" class="fright error"> <span ng-if="!x.answerTest">Please answer the question</span><span ng-if="x.answerTest !== '' && x.answerTest">Answer is out of acceptable range, please re-enter the number</span> <br>
                			<br>             			
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_3.html'" ></div>								
				</div>
</div>

<!--row ends-->
</script>
<script type="text/ng-template"  id="tree_item_renderer.html">


<!-- Row starts   Radio buttons  -->
				<div ng-class="{'row rowcustom' : x.baseQuestion && !x.error, 'row' : x.baseQuestion==false && !x.error, 'row rowcustom has-error' : x.baseQuestion && x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RadioQuestion' && x.questionAlias!='QG=Personal Details'">
				 	<div ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-11  col-xs-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-12  col-xs-12 fright' : x.baseQuestion==false && x.indent==2}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-11  col-xs-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-12  col-xs-12 fright' : x.baseQuestion==false && x.indent==2}">
					  <div onclick="visible('tick3')" data-toggle="buttons" class="btn-group">
					  	<div ng-class="{'col-sm-4  col-xs-12':x.auraAnswer.length <3 && y.answerText.length < 4, 'col-sm-12  col-xs-12':x.auraAnswer.length >2 && y.answerText.length > 3 }" ng-repeat="y in x.auraAnswer" ng-if="x.visible">					  	
                 		 	<div ng-if="x.auraAnswer.length <3 && y.answerText.length < 4">
								<div class="col-sm-12 pl0 col-xs-12" ng-if="$first" ng-click="updateRadio(y.answerValue,x)">
                    				<label class="btn  radiobutton "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </label>
                 			 	</div>
                  		  		<div class="col-sm-12 col-xs-12 pl0xs" ng-if="!$first" ng-click="updateRadio(y.answerValue,x)">
                    				<label class="btn  radiobutton" ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio" id="option2" name="options"  ng-value="x.answerTest" >
                      				<span></span> {{y.answerText | split}}  </label>
                 				</div> 
							</div>							
							<div ng-if="x.auraAnswer.length >2 ||  y.answerText.length > 3">
								<div class="col-sm-12 col-xs-12 pl0xs" ng-click="updateRadio(y.answerValue,x)">
                    				<label class="btn  radiobutton "  ng-class="{'active': (x.answerTest == y.answerValue)}">
                      				<input type="radio" class="ipradio  " id="option1" name="options" ng-value="x.answerTest" >
                      				<span></span>{{y.answerText| split}}  </label>
                 			 	</div>                  		  		
							</div>										 
               			</div>
						<div ng-repeat="z in x.auraAnswer">
							<div ng-repeat="x in z.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="row rowcustom"></div>
						</div>							  
					  </div>					
					</div>
 					<div ng-if="x.error" ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-11  col-xs-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-10  col-xs-10 fright' : x.baseQuestion==false && x.indent==2}" class="error"> Please select an answer <br>
                			<br>
              		</div>			
			</div>
			<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.baseQuestion==true && x.classType=='RadioQuestion'">
 <!-- Row ends  radio buttons-->
 <!-- Row starts   Height buttons  -->
         <!-- Row starts -->
		<div class="row rowcustom" ng-class="{'has-error':x.error}" ng-if="x.classType=='HeightQuestion'">
           				<div   >
              				<div class="col-sm-5">
                				<label class="control-label mb10px" ng-bind="x.questionText | split"></label>
              				</div>
             				<div class="col-sm-4 col-xs-6">
                				<input type="text" maxlength="{{heightOptions=='ft.in'? 1 : 3}}" class="form-control" numbers-only ng-model="heightval" ng-change="meterValue(heightval,x.answerTest,x)">
              				</div>
              				<div class="col-sm-3 col-xs-6">
                				<select ng-options="option as option for option in heightDropdownOpt" class="selectpicker form-control" ng-model="heightDropDown" ng-change="heighOptions(heightDropDown)">
                  					  <option value="" ng-if="false"></option>
                				</select>

								<!--<select  class="selectpicker  form-control" ng-model="heightDropDown" ng-change="heighOptions(heightDropDown)">
                  					<option>cm</option>
                  					<option>Feet</option>
                				</select>-->
             	 			</div> 							
            			</div>
						<div   ng-if="heightOptions=='ft.in' && x.classType=='HeightQuestion'">
              				<div class="col-sm-5">
                				
              				</div>
             				<div class="col-sm-4 col-xs-6">
                				<input type="text" maxlength="2" class="form-control" numbers-only ng-model="inches" ng-change="inchValue(inches)">
              				</div>
              				<div class="col-sm-3 col-xs-6">
                				<label class="control-label mb10px" >in</label>
             	 			</div> 							
            			</div>
						<div ng-if="x.error && x.classType=='HeightQuestion'">
							<div class="col-sm-5">                				
              				</div>
							<div  class="col-sm-7  col-xs-7  fright error"> Please select an answer <br>
                				<br>
              				</div>
						</div>
	</div>						
						<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.classType=='HeightQuestion'">
			            <!-- Row ends -->	
          <!-- Row ends  radio buttons--> 


			 <!-- Row starts -->
		<div class="row rowcustom" ng-class="{'has-error':x.error}" ng-if="x.classType=='WeightQuestion'">
           				<div >
              				<div class="col-sm-5">
                				<label class="control-label mb10px" ng-bind="x.questionText | split"></label>
              				</div>
             				<div class="col-sm-4 col-xs-6">
                				<input type="text" onclick="visible('tick8')" maxlength="{{weightMaxLen}}" max="200" class="form-control" numbers-only ng-model="weightVal" ng-change="weightValue(weightVal,x.answerTest,x)">
              				</div>
              				<div class="col-sm-3 col-xs-6">
                				<select ng-options="option as option for option in weightDropdownOpt" class="selectpicker form-control" ng-model="weightDropDown" ng-change="weightOptions(weightDropDown)">
                  					 <option value="" ng-if="false"></option>
                				</select>

								<!-- <select  class="selectpicker  form-control" ng-model="weightDropDown" ng-change="weightOptions(weightDropDown)">
                  					<option>Kilograms</option>
                  					<option>Pound</option>
                  					<option>Stones</option>
                				</select> -->
             	 			</div>					
            			</div>
						<div   ng-if="weighOptions=='st.lb' && x.classType=='WeightQuestion'">
              				<div class="col-sm-5">
                				
              				</div>
             				<div class="col-sm-4 col-xs-6">
                				<input type="text" maxlength="100" class="form-control" numbers-only ng-model="lbsval" ng-change="lbsValue(lbsval)">
              				</div>
              				<div class="col-sm-3 col-xs-6">
                				<label class="control-label mb10px" >lbs</label>
             	 			</div> 							
            			</div>
						<div ng-if="x.error && x.classType=='WeightQuestion'">
							<div class="col-sm-5">                				
              				</div>
							<div  class="col-sm-7  col-xs-7  fright error"> Please select an answer <br>
                				<br>
              				</div>
						</div>
	</div>		
						<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.classType=='WeightQuestion'">
			            <!-- Row ends -->

					
<!-- Row STARTS  CHECK BOX --> 
				 <!-- Row ends -->
			            <div ng-if="x.classType=='CheckBoxQuestion'" ng-class="{'row rowcustom' : !x.baseQuestion && !x.error, 'row' : x.baseQuestion && !x.error, 'row rowcustom has-error' : !x.baseQuestion && x.error, 'row has-error' : x.baseQuestion && x.error}">
			            <div >
              				<div ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-11  col-xs-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-10  col-xs-10 fright' : x.baseQuestion==false && x.indent==2}" >
                				<label class="control-label" ng-bind="x.questionText | split"></label>
              				</div>
            			</div>           			
            			<div class="row rowcustom" ng-repeat="y in x.auraAnswer | checkboxFilter:y">
              				<div class=" btn-group-vertical" data-toggle="buttons">
                				<div  ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-11  col-xs-10 fright' : x.baseQuestion==false && x.indent==1,'col-sm-10  col-xs-10 fright' : x.baseQuestion==false && x.indent==2}" >
                 				 <div class="ui-checkbox"  >									
                    				<label ng-click="updateCheckBox(y.answerValue,x,$index)" class="btn  checkboxes"  ng-class="{'active': (x.answerTest.indexOf(y.answerValue) !== -1)}"> <span></span>{{y.answerText| split}}					
									<!--<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	onclick="showTips(this,'Test')"></a>-->
									</label>
					<a class="icohelp" ng-if="y.helpText.length > 0" id="{{y.answerID}}"	 ng-click="clickToOpen(y.helpText)"></a>
                    				<input type="checkbox" id="option3" class=" " name="{{x.questionId}}" ng-value="y.answerValue" ng-model="y.answerValue" >
                  				</div>
                			  </div>	
								<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="row rowcustom"></div>													
              				</div>							
            			</div>
						<div ng-if="x.error" class="col-sm-12  col-xs-12  fright error"> Please select an answer <br>
                					<br>
              					</div>							
            		</div>
					<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.baseQuestion==true && x.classType=='CheckBoxQuestion'">
 <!-- Row ends  CHECK BOX-->   

<!--Row start for combo box-->

<div ng-class="{'row rowcustom' : !x.baseQuestion && !x.error, 'row' : x.baseQuestion && !x.error, 'row rowcustom has-error' : !x.baseQuestion && x.error, 'row has-error' : x.baseQuestion && x.error}" ng-if="x.classType=='ComboBoxQuestion'">
				 	<div ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-11  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-10  col-xs-10  " ng-class="{'fright' : x.indent==2}">
						<!--<select ng-model="selectedName" class="selectpicker  form-control" style="display: none;"  ng-options="z.answerValue | split for z in x.auraAnswer"></select>                			
						<div class="col-sm-5  col-xs-10" ng-if="!x.answerTest">
							<select ng-model="selectedName" class="selectpicker  form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ></select>		
				 		</div>-->	
						<div class="col-sm-5  col-xs-10" ng-if="x.questionComplete && x.answerTest">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>					
						<div class="col-sm-5  col-xs-10" ng-show="x.answerTest=='' && !x.answerTest">
							<select type="text" class="form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="selectedName" >   											
							</select>
						</div>	
						
						<div class="col-sm-5  col-xs-10" ng-if="!x.answerTest">
							<button type="button" class="btn btn-primary w100p" ng-click="updateRadio(selectedName.answerText,x)">Select</button>
						</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest">
							<button type="button" class="btn btn-primary w100p" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
						<div ng-repeat="y in x.auraAnswer">
							<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" class="row rowcustom">
						</div>						
						
					</div>

              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>

</div>
<!-- Row ends-->

<!--Row start for search question-->
<div ng-class="{'row rowcustom' : !x.baseQuestion && !x.error, 'row' : x.baseQuestion && !x.error, 'row rowcustom has-error' : !x.baseQuestion && x.error, 'row has-error' : x.baseQuestion && x.error}" ng-if="x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
				 	<div ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-11  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-10  col-xs-10  fright ">							
						<div class="col-sm-4 col-xs-10" ng-show="x.answerTest=='' || !x.questionComplete">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="serachText" ng-init="serachText = x.answerTest">
              			</div>
						<div class="col-sm-4  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && x.questionComplete">
							<label class="control-label" ng-bind="x.answerTest "></label>							
				 		</div>
						<div class="col-sm-4  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary w100p" ng-click="updateRadio(serachText,x)">Search</button>
						</div>
						<p class="col-xs-12 visible-xs">&nbsp;</p>
						<div class="col-sm-4  col-xs-10" ng-if="!x.questionComplete && !x.error && x.answerTest != '' ">
							<button type="button" class="btn btn-primary w100p" ng-click="updateFreeText(x.answerTest,x)">Accept free text</button>
						</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p" ng-click="x.answerTest=''; x.questionComplete = false">Edit</button>
						</div>
              </div>
				<div class="col-sm-10  col-xs-10 fright" ng-if="!x.error && !x.questionComplete && x.answerTest != '' " >
					<select type="text" class="form-control"  ng-options="z.answerValue | split for z in x.auraAnswer" ng-model="z.answerValue" ng-change="searchValSubmit(z.answerValue,z,x)">   											
						<option value="" ng-if="false"></option>					
					</select>					
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" ></div>								
				</div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error" ng-bind="x.validationMsg || 'Please select an answer'"><br>
                			<br>             			
				</div>
</div>
<hr ng-class="{'primeline' : x.baseQuestion==true}" ng-if="x.baseQuestion==true && x.classType=='SearchQuestion' && x.questionAlias!='QG=Occupation Details'">
<!-- Row ends-->
<!--Row start for DateQuestion question-->
	<div ng-class="{'row rowcustom' : x.baseQuestion && !x.error, 'row' : x.baseQuestion==false && !x.error, 'row rowcustom has-error' : x.baseQuestion && x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='DateQuestion'">
				 	<div ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" >{{x.questionText | split}}(dd/mm/yyyy)</label>
                 	</div>
					<div class="col-sm-10  col-xs-10  fright ">							
						<!--<div  ng-class="{'col-sm-5 col-xs-10': x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1,'col-sm-5 col-xs-10': x.answerTest.length==0 , 'displaynone': x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 }">
                				<input type="text"  onclick="visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div  class="col-sm-5 col-xs-10" ng-show="x.answerTest=='' ">
                				<input type="text" date-only onclick="visible('tick8')" class="datepicker form-control " ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | dateTextSplit "></label>							
				 		</div>
						<div class="col-sm-3  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest !== ''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>

	</div>
<!-- Row ends-->
<!--Row start for statement question-->
<div ng-class="{'row rowcustom' : x.baseQuestion, 'row' : x.baseQuestion==false}" ng-if="x.classType=='Statement'">
				 	<div ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-11  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>			
	<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" ></div>								
				</div>
</div>

<!-- Row ends-->
<!--row start for text area("TextAreaQuestion") question-->
<div ng-class="{'row rowcustom' : x.baseQuestion && !x.error, 'row' : x.baseQuestion==false && !x.error, 'row rowcustom has-error' : x.baseQuestion && x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextAreaQuestion'">
				 	<div ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-10  col-xs-10 fright' : x.baseQuestion==false}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-10  col-xs-10  fright ">							
						<!--<div ng-class="{'col-sm-5 col-xs-10': x.answerTest=='NO_ANSWER_CHECKED' || x.answerTest.length==0 , 'displaynone':x.answerTest!='NO_ANSWER_CHECKED' && x.answerTest.length>0 }">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>-->
						<div class="col-sm-5  col-xs-10" ng-show="x.answerTest=='' ">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeTextArea">
              			</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>
						<div class="col-sm-3  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(freeTextArea,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>
</div>
<!--row ends-->
<!--"TextQuestion"-->
<div ng-class="{'row rowcustom' : x.baseQuestion && !x.error, 'row' : x.baseQuestion==false && !x.error, 'row rowcustom has-error' : x.baseQuestion && x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='TextQuestion'">
				 	<div ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-11  col-xs-10 fright' : x.baseQuestion==false && x.indent==1, 'col-sm-10  col-xs-10 fright':x.baseQuestion==false && x.indent==2}">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div class="col-sm-10  col-xs-10  fright">							
						<!--<div  ng-class="{'col-sm-5 col-xs-10': x.answerTest=='NO_ANSWER_CHECKED', 'displaynone':x.answerTest!='NO_ANSWER_CHECKED'}">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeText">
              			</div>-->
						<div  class="col-sm-5  col-xs-10" ng-show="x.answerTest=='' ">
                				<input type="text" onclick="visible('tick8')" class="form-control " ng-model="freeText">
              			</div>
						<div class="col-sm-5  col-xs-10"  ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>
						<div class="col-sm-3  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest==''">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(freeText,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>
				<div ng-if="x.error"  ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> Please select an answer <br>
                			<br>             			
				</div>
</div>

<!--row ends-->
<!--"RangeQuestion"-->
<div ng-class="{'row rowcustom' : x.baseQuestion && !x.error, 'row' : x.baseQuestion==false && !x.error, 'row rowcustom has-error' : x.baseQuestion && x.error, 'row has-error' : x.baseQuestion==false && x.error}" ng-if="x.classType=='RangeQuestion'">
				 	<div ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-11  col-xs-10 fright' : x.baseQuestion==false}" ng-if="x.visible">
                		<label class="control-label" ng-bind="x.questionText | split"></label>
                 	</div>
					<div  ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-11  col-xs-10 fright' : x.baseQuestion==false}" ng-if="x.visible">							
						<!--<div  ng-class="{'col-sm-5 col-xs-10': !x.questionComplete, 'displaynone':x.questionComplete}" >
                				<input type="text" onclick="visible('tick8')" class="form-control" ng-model="rangeText">
              			</div>-->
						<div  class="col-sm-5  col-xs-10" ng-show="x.answerTest=='' || x.error " >
                				<input type="number"  onclick="visible('tick8')" class="form-control" ng-model="rangeText" >
								<!--<input type="text" numbers-only onclick="visible('tick8')" class="form-control" ng-model="rangeText">-->

              			</div>
						<div class="col-sm-5  col-xs-10" ng-if="x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1 && x.answerTest.length>0 && !x.error">
							<label class="control-label" ng-bind="x.answerTest | split"></label>							
				 		</div>
						<div class="col-sm-3  col-xs-10" ng-if="!x.questionComplete ||  x.answerTest.indexOf('NO_ANSWER_CHECKED') !== -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="updateRadio(rangeText,x)">Enter</button>
						</div>
						<div class="col-sm-3  col-xs-10" ng-if="x.questionComplete &&  x.answerTest.indexOf('NO_ANSWER_CHECKED') === -1">
							<button type="button" class="btn btn-primary w100p no-arrow" ng-click="x.answerTest=x.answerTest===''">Edit</button>
						</div>
              </div>

				<div ng-if="x.error && x.visible"  ng-class="{'col-sm-12 col-xs-12' : x.baseQuestion, 'col-sm-10  col-xs-10' : x.baseQuestion==false}" class="fright error"> <span ng-if="!x.answerTest">Please answer the question</span><span ng-if="x.answerTest !== '' && x.answerTest">Answer is out of acceptable range, please re-enter the number</span> <br>
                			<br>             			
				</div>
				<div ng-repeat="y in x.auraAnswer" >
					<div ng-repeat="x in y.childQuestions" ng-include="'tree_item_renderer_level_1.html'" ></div>								
				</div>
</div>

<!--row ends-->
</script>


<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/vicsuper/header.html'"></div>
</div>

<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container aura ">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">2 / 3</span> Health &amp; lifestyle </div>
    </div>
    <div class="col-xs-3"> <img src="static/vicsuper/images/bg_blank.png" class=" icoMenuRev active  "> <img src="static/vicsuper/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 467 875</h3>
      <h3 class="helpNo"> </h3>
    </div>
  </div>
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-4 dc first pointer" >
        <h5 style="color:#0066a1">Step 1</h5>
        <div class="txtHolder pointer"> <a ng-click="go('/quotecancel/2')" class="ui-link">Personal details</a></div>
        <img src="static/vicsuper/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 cn"> <img src="static/vicsuper/images/bg_blank.png" class=" left">
        <h5>Step 2</h5>
        <div class="txtHolder"> Health &amp; lifestyle</div>
        <img src="static/vicsuper/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 cnn">
        <h5>Step 3</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="static/vicsuper/images/bg_blank.png" class=" left"> </div>
    </div>
    <div class="panel-group" id=" ">          
          
        



<div class="panel panel-default" ng-repeat="section in auraResponseDataList" ng-if="section.sectionName!='QG=Personal Details' && section.sectionName!='QG=Occupation Details'">
        
        <div class="panel-heading" ng-click="section.collapse=!section.collapse"> <a data-toggle="collapse" data-parent="#accordion"  class="   ">
          <h4 class="panel-title" ng-bind="section.sectionName | sectionSplit "></h4>
          </a> </div>
        <div id="collapseOne" class ="panel-collapse collapse" ng-class="{'in':section.sectionStatus && !section.collapse}">        
          <div class="panel-body">
			<div ng-repeat="x in section.questions" ng-include="'tree_item_renderer.html'"></div>
			<!-- <ng-form name="form">
				<div  ng-controller="auraListCtrl as aura">
    				<div ng-repeat="x in auraResponseDataList" ng-include="'tree_item_renderer.html'"></div>
				</div>
			</ng-form> -->
			<div class=" row rowcustom" >
				<!--<div class="col-sm-4 col-xs-12">
					 <a class="" href="" data-parent="#accordion" data-toggle="collapse">
						    <button  class="btn btn-primary w100p" type="button"  >Previous</button>
					</a>
              </div>-->
              <div class="col-sm-4 col-xs-12" ng-if="!$last">
              <a class=""  data-parent="#accordion" data-toggle="collapse">
                <button  class="btn btn-primary w100p" type="button" ng-click="collapseUncollapse($index,section.sectionName)">Continue</button>
                </a>
              </div>
              <div class="col-sm-8 col-xs-12">
			        <!-- <a class=""  data-parent="#accordion" data-toggle="collapse">
			             <button  class="btn btn-primary w100p" type="button"  >Save &amp; Exit</button>
			        </a> -->
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
      	 <div class="panel-body">
      	 	<div class=" row rowcustom" >
				<div class="col-sm-4 col-xs-12">
					 <a class="" href="" data-parent="#accordion" data-toggle="collapse">
						    <button  class="btn btn-primary btn-back w100p" type="button"  ng-click="go('/quotecancel/2')">Previous</button>
					</a>
              </div>
              <p class="col-xs-12 visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12">
              <a class=""  data-parent="#accordion" data-toggle="collapse">
                <button  class="btn btn-primary w100p" type="button" ng-click="proceedToNext()">Continue</button>
                </a>
              </div>
              <p class="col-xs-12 visible-xs">&nbsp;</p>
            <!--   <div class="col-sm-4 col-xs-12">
			        <a class=""  data-parent="#accordion" data-toggle="collapse">
			             <button  class="btn btn-primary w100p" type="button" ng-click="saveAura()"  >Save &amp; exit</button>
			        </a> 
              </div> -->

            </div>
      	 </div>
      </div>
      
		</div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 467 875</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-1   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext">HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
    </div>
    <div class="col-sm-4   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a> </p>
    <p class="footertext"> HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>
	
   
        
               
        