<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/vicsuper/header.html'"></div>
</div>

<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
 <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">1 / 2</span> Personal details </div>
    </div>
    <div class="col-xs-3"> <img src="static/vicsuper/images/bg_blank.png" class=" icoMenuRev  "> <img src="static/vicsuper/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <!-- <p class="helpTxt"> We are happy to chat over the phone</p>
      <h3 class="helpNo"> 1300 360 149</h3> -->
      <p class="helpTxt">Like to speak to someone?</p>
      <h3 class="helpNo">1300 467 875</h3>
      <h3 class="helpNo"> 8am&ndash;8pm weekdays</h3>
    </div>
  </div>
  
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-4 cn first">
        <h5>Step 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="static/vicsuper/images/bg_blank.png" class=" right"> </div>
      <div class="col-sm-4 cnn">
        <h5>Step 2</h5>
        <div class="txtHolder">Acknowledge cancellation</div>
        <img src="static/vicsuper/images/bg_blank.png" class=" left"> </div>
    </div>
        <!--Duty of Disclosure Section starts  -->
    <div class="panel-group">
      <!-- <div id="accordiondod" class="panel panel-default">       
        <div id="collapseduty" >
          <form autocomplete="off"  name="formduty" role="form" novalidate>
            <div class="panel-body">
              <div class=" col-sm-12">
                <p class="normal" style="text-align: justify; margin-top: 8px;">
                </p>
               <p>
									<strong class="color">Insured's duty of disclosure</strong>
								</p>
								<br>
								<p>A person who enters into a life insurance contract in
									respect of your life has a duty, before entering into the
									contract, to tell the Insurer anything that he or she knows, or
									could reasonably be expected to know, may affect the Insurer's
									decision to provide the insurance and on what terms.</p>
								<p>The person entering into the contract has this duty until
									the Insurer agrees to provide the insurance.</p>
								<p>The person entering into the contract has the same duty
									before he or she extends, varies or reinstates the contract.</p>
								<p>The person entering into the contract does not need to
									tell the Insurer anything that:</p>
								<ul class="listing" style="margin: 0 0 10px 30px;">
									<li>reduces the risk the Insurer insures you for; or</li>
									<li>is common knowledge; or</li>
									<li>the Insurer knows or should know as an insurer; or</li>
									<li>the Insurer waives your duty to tell the Insurer about.</li>
								</ul>
								<p>If you do not tell the Insurer something that you know,
									or could reasonably be expected to know, may affect the
									Insurer's decision to provide the insurance and on what terms,
									this may be treated as a failure by the person entering into
									the contract to tell the Insurer something that he or she must
									tell the Insurer.</p>
								<strong class="color">If the person entering the contract does not tell the Insurer something</strong><br>
								<br>
								<p>In exercising the following rights, the Insurer may
									consider whether different types of cover can constitute
									separate contracts of life insurance. If they do, the Insurer
									may apply the following rights separately to each type of
									cover.</p>
								<p>If the person entering into the contract does not tell
									the Insurer anything he or she is required to, and the Insurer
									would not have provided the insurance if he or she had told the
									Insurer, the Insurer may avoid the contract within 3 years of
									entering into it.</p>
								<p>If the Insurer choose not to avoid the contract, the
									Insurer may, at any time, reduce the amount of insurance
									provided. This would be worked out using a formula that takes
									into account the premium that would have been payable if he or
									she had told the Insurer everything he or she should have.
									However, if the contract has a surrender value, or provides
									cover on death, the Insurer may only exercise this right within
									3 years of entering into the contract.</p>
								<p>If the Insurer chooses not to avoid the contract or
									reduce the amount of insurance provided, the Insurer may, at
									any time vary the contract in a way that places the Insurer in
									the same position the Insurer would have been in if he or she
									had told the Insurer everything he or she should have. However,
									this right does not apply if the contract has a surrender value
									or provides cover on death.</p>
								<p>If the failure to tell the Insurer is fraudulent, the
									Insurer may refuse to pay a claim and treat the contract as if
									it never existed.</p>
                <div class="row rowcustom " ng-class="{'has-error':dodFlagErr}" ng-click="checkDodState()">
                    <div class="col-sm-12">
                      <div class="btn-group-vertical" data-toggle="buttons">
                         <div class=" row rowcustom" >
                                                 <div class="col-sm-12" >
                                                     <label class="btn checkboxes col-xs-12 ack-checkbox-label" id="dodLabel">
                                                      <input type="checkbox" id="dodlabelCheck" name="dod" required>
                                                      <span></span>  <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above </div> 
                                                     </label><p ng-if="dodFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
                                                     
                                                  </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <p></p>
              </div>
            </div>
          </form>
        </div>
      </div> -->
    

  <!--Duty of Disclosure Section starts  -->
  
    
    <!--Privacy Policy Section starts  -->
      <!-- <div class="panel panel-default">
        <div class="panel-heading" ng-click="isCollapsible('collapseprivacy', $event)">
          <a data-toggle="collapse" data-parent="#accordionprivacy" data-target="#collapseprivacy" class="collapsed">
            <h4 class="panel-title">Privacy statement</h4>
          </a>
        </div>
        <div id="collapseprivacy" class="panel-collapse collapse">

          <form autocomplete="off"  name="cancelprivacyPolicyForm" role="form" novalidate>
            <div class="panel-body">
              <div class=" col-sm-12">
                <p>
									<strong>You must read and acknowledge the Privacy Statement before proceeding</strong>
								</p>
								<br>
								<p>
									<strong class="color2">Your privacy with MetLife
										Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife' or
										the 'Insurer') </strong> <br> If you make a claim under this
									policy the Insurer may conduct investigations to assess the
									value and validity of the claim. This may involve the use of
									investigation agents, legal advisors and the collection of
									personal data that MetLife believes is relevant. MetLife
									complies with the Privacy Act 1988 and the principles laid out
									on their privacy policy, which is readily available on request
									and also available online at <a
										href="http://www.metlife.com.au/privacy" target="_new"><strong
										class="summary"> www.metlife.com.au/privacy </strong></a>.
								</p>
								<p>
									<strong class="color2"> <br> Your privacy as a
										member of Your Super Fund
									</strong><br>The information you provide in this form is collected
									by and held by HOST<strong>PLUS</strong>' administrator,
									Superpartners to administer your insurance within your HOST<strong>PLUS</strong>
									account. If you do not provide the requested information, we
									may be unable to properly administer your insurance. Your
									personal and sensitive information will only be disclosed to
									HOST<strong>PLUS</strong> staff as required, our administrators
									Superpartners, Metlife Insurance Limited and/or our legal or
									other professional advisors if reasonably necessary. <br>
									The HOST<strong>PLUS</strong> Privacy Policy provides
									information about overseas disclosure of personal information,
									how you may access and seek correction of your personal
									information as well as how you can make a complaint about a
									breach of the Australian Privacy Principles or the Privacy Act
									1988. You can access the HOST<strong>PLUS</strong> Privacy
									Policy at <a href="http://www.hostplus.com.au/privacy"
										target="_new"><strong class="summary">
											www.hostplus.com.au/privacy. </strong></a> For all privacy related
									questions or privacy related matters you can contact HOSTPLUS
									on <strong>1300 HOSTPLUS (1300 467 875)</strong> or via email
									at <a href="mailto:privacy@mail.hostplus.com.au" target="_top"><strong
										class="summary"> privacy@mail.hostplus.com.au </strong></a>
								</p>
                <div class="row rowcustom " ng-class="{'has-error':privacyFlagErr}" ng-click="checkPrivacyState()">
                    <div class="col-sm-12">
                      <div class="btn-group-vertical" data-toggle="buttons">
                         <div class=" row rowcustom" >
                                                 <div class="col-sm-12" >
                                                     <label class="btn checkboxes col-xs-12 ack-checkbox-label" id="privacyLabel">
                                                      <input type="checkbox" id="privacylabelCheck" name="privacy" required>
                                                      <span></span>  <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above </div> 
                                                     </label>
                                                     <p ng-if="privacyFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
                                                     </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <p></p>
              </div>
            </div>
          </form>
        </div>
      </div> -->
    <!--Privacy Policy Section starts  -->

     <!--Contact Details Section starts  -->
  <!--   <div class="panel-group" > -->
      <div id="accordionContact" class="panel panel-default">
         <div class="panel-heading" ng-click="isCollapsible('collapseOne', $event)"> 
          <a data-toggle="collapse" data-parent="#accordionContact" data-target="#collapseOne" class="">
          <h4 class="panel-title"> Contact details</h4>
          </a>
         </div>
        <div id="collapseOne" class="panel-collapse collapse in">
       
         <form autocomplete="off"  name="cancelContactDetailsForm" role="form"  novalidate>
          <div class="panel-body"> 
            
            <!-- Row starts -->
            <div class="row rowcustom first">
              <div class="col-sm-12">
                <label class="control-label"> Please leave your contact details in the event we need to contact you</label>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           
            <div class="row rowcustom " ng-class="{'has-error':(cancelContactDetailsForm.cancelCoverEmail.$invalid && cancelContactDetailsForm.cancelCoverEmail.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverEmail.$error.required) || (cancelContactDetailsForm.cancelCoverPhoneNo.$error.required && cancelContactDetailsForm.cancelCoverPhoneNo.$touched) ||((cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverPhoneNo.$error.required) ||(cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverPhoneNo.$error.pattern))}">
              <div class="col-sm-5 col-sm-12">
                <label class="control-label"> Email address </label>
                <input class="form-control" maxlength="50" ng-pattern="emailFormatCancel" ng-focus= "checkPreviousMandatoryFieldsFrCancelCover('cancelCoverEmail','cancelContactDetailsForm')" name="cancelCoverEmail" ng-class = "(cancelContactDetailsForm.cancelCoverEmail.$invalid && cancelContactDetailsForm.cancelCoverEmail.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverEmail.$error.required)  ? 'error-border':''" ng-model="email" type="email" placeholder="Enter your email" required>
	            <span ng-if="(cancelContactDetailsForm.cancelCoverEmail.$invalid && cancelContactDetailsForm.cancelCoverEmail.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverEmail.$error.required) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverEmail.$error.pattern)" class="error">Please enter your email address</span>
              </div>
           
              <div class="col-md-7 col-sm-12">
                <label class="control-label"> Preferred contact number </label>
              <div class="row">
              <div class="col-sm-5 col-xs-12 mmb10px">
               <select  class=" form-control" ng-model="preferredContactType" ng-change="changePrefContactType()" ng-options="contactTypeOption for contactTypeOption in contactTypeOptions track by contactTypeOption">
               		<option value="">Please select</option>
               </select>
              </div>
              <div class="col-sm-7 col-xs-12">
                 <input class="form-control" id="cancelCoverPhoneNoID" phone-only ng-disabled="!preferredContactType" ng-pattern="phoneNumbrCancel" maxlength="10" onkeyup="return isIntegerFun(this);"  onkeypress="return isIntegerFun(this);" ng-focus="checkPreviousMandatoryFieldsFrCancelCover('cancelCoverPhoneNo','cancelContactDetailsForm')" name="cancelCoverPhoneNo" ng-class = "(cancelContactDetailsForm.cancelCoverPhoneNo.$error.required && cancelContactDetailsForm.cancelCoverPhoneNo.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverPhoneNo.$error.required)  ? 'error-border':''" ng-model="cancelPhone" type="text" placeholder="Enter your Phone No" required>
                <span ng-if="(cancelContactDetailsForm.cancelCoverPhoneNo.$error.required && cancelContactDetailsForm.cancelCoverPhoneNo.$touched) || ((cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverPhoneNo.$error.required) ||(cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCoverPhoneNo.$error.pattern))"  class="error">Please enter your preferred contact number</span>
             </div>
              </div>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           <div class="row rowcustom" ng-class="{'has-error':(cancelContactDetailsForm.cancelCvrPrefTime.$error.required && cancelContactDetailsForm.cancelCvrPrefTime.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCvrPrefTime.$error.required ) || (cancelContactDetailsForm.gender.$error.required && cancelContactDetailsForm.gender.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.gender.$error.required )}">
              <div class="col-lg-6 col-md-12">
                <label class="control-label"> What time of day do you prefer to be contacted? </label>
                <span id="tick 3" style=" visibility:hidden">
                 <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span>
                </span> 
              <div class="btn-group">
                <div class="col-xs-12 col-lg-6 p0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Morning (9am - 12pm)')}">
                      <input class="ipradio " ng-click="checkPreviousMandatoryFieldsFrCancelCover('cancelCvrPrefTime','cancelContactDetailsForm')" name="cancelCvrPrefTime" 
                      ng-class = "(cancelContactDetailsForm.cancelCvrPrefTime.$error.required && cancelContactDetailsForm.cancelCvrPrefTime.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCvrPrefTime.$error.required)  ? 'radio-validation':''"
                       ng-model="time" type="radio" value="Morning (9am - 12pm)" required>
                      <span></span> Morning (9am &ndash; 12pm) </label>
                  </div>
                  <div class="col-xs-12 col-lg-6  p0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Afternoon (12pm - 6pm)')}">
                      <input class='ipradio' ng-click="checkPreviousMandatoryFieldsFrCancelCover('cancelCvrPrefTime','cancelContactDetailsForm')" name="cancelCvrPrefTime"
                       ng-class = "(cancelContactDetailsForm.cancelCvrPrefTime.$error.required && cancelContactDetailsForm.cancelCvrPrefTime.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCvrPrefTime.$error.required)  ? 'radio-validation':''" 
                      ng-model="time" type="radio" value="Afternoon (12pm - 6pm)" required>
                      <span></span> Afternoon (12pm &ndash; 6pm) </label>              
                  </div> 
                 <span ng-if="(cancelContactDetailsForm.cancelCvrPrefTime.$error.required && cancelContactDetailsForm.cancelCvrPrefTime.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.cancelCvrPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
              </div>
             </div>
                
          <div class="col-lg-6 col-md-12"> 
                <label class="control-label">Gender </label>
              <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn radiobutton" ng-class="{'active': (gender == 'Male')}">
                      <input type="radio" name="gender" class="ipradio"  ng-click="checkPreviousMandatoryFieldsFrCancelCover('gender','cancelContactDetailsForm')"
                   ng-class = "(cancelContactDetailsForm.gender.$error.required && cancelContactDetailsForm.gender.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.gender.$error.required)  ? 'radio-validation':''" 
                  ng-model="gender" value="Male" required>
                      <span></span> Male </label>
                     </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn   radiobutton" ng-class="{'active': (gender == 'Female')}">
                      <input type="radio" name="gender" class="ipradio"  ng-click="checkPreviousMandatoryFieldsFrCancelCover('gender','cancelContactDetailsForm')"
                   ng-class = "(cancelContactDetailsForm.gender.$error.required && cancelContactDetailsForm.gender.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.gender.$error.required)  ? 'radio-validation':''" 
                  ng-model="gender" value="Female" required>
                      <span></span> Female </label>                         
                    </div>
                </div>
                 <span class="error" ng-if="(cancelContactDetailsForm.gender.$error.required && cancelContactDetailsForm.gender.$touched) || (cancelContactDetailsForm.$submitted && cancelContactDetailsForm.gender.$error.required )">Please select gender</span>
              </div>
            </div>  
              
                <!-- <div class="btn-group" data-toggle="buttons" >
                 <div class="col-sm-6 pl0">
                   <label class="btn  radiobutton" ng-repeat="option in prefTimeOptions" ng-click="validate('contactDetFormId')">
                     <input type="radio" name="time" id="{{option.name}}" ng-model="contactTime" class="ipradio" ng-required="true">
                     <span></span> {{option.value}}
                    </label> <span class="error" >Please select</span>
                 </div>
                </div> -->
              
            <!-- Row ends -->
            
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">     
             	<a data-toggle="collapse" data-parent="#accordion"  >
             	<button class="btn btn-primary w100p" ng-click="submitForm(cancelContactDetailsForm);" type="button">Continue</button>           
             	</a>
              </div>
             <!--  <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div> -->
            </div>
            </div>
            </form>
          </div>
        </div>
    <!--  </div> --> 
      <!-- Contact Details Section ends -->

    <!-- cover cancellation start -->
   <!--  <div class="panel-group" > -->
		<div id="accordionCancellation" class="panel panel-default">
		    <div class="panel-heading" ng-click="isCollapsible('collapseTwo', $event)">
		        <a data-toggle="collapse" data-parent="#accordionCancellation" data-target="#collapseTwo" class="collapsed">
		            <h4 class="panel-title"> Cover cancellation</h4>
		        </a>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse">
		    	<form autocomplete="off"  name="coverCancellationForm" id="coverCancellation" novalidate role="form">
		        	<div class="panel-body">
			            <div class="row rowcustom">
			                <div class="col-sm-12">
			                    <label class="control-label"> Select the cover(s) you want to cancel.</label>
			                </div>
			            </div>
			            <hr class="primeline">
                  <div  class="row rowcustom" ng-class="{'has-error':(coverCancellationForm.$invalid && coverCancellationForm.$submitted && coverCancellationForm.$error.required)}">
  			            <div ng-if="isDeathApplicable">
  			            <div class="btn-group-vertical heading" data-toggle="buttons">
  			                <div class="row rowcustom"  >
  			                    <div class="col-sm-12">
  			                        <label class="btn  checkboxes" id="deathLable" ng-click="checkCoverCancellation($event, 'death', 'deathLable')">
  			                        <input type="checkbox" name="death" ng-model="coverCancellation.death" ng-required="!coverCancellation.tpd && !coverCancellation.salContinuance">
  			                        <span></span> Death 
  			                        </label>
  			                    </div>
  			                </div>
  			            </div>
  			            <div id="death" ng-if="coverCancellation.death">
  			                <div class="row rowcustom" >
  			                    <div class="col-sm-4 col-xs-6 existing-cover-wrapper">
  			                        <label class="helphint">Existing Cover <a ng-click="clickToOpen('This is the amount of existing cover you already hold through HOST<b>PLUS</b> super.')" class="icohelp mtm5"></a> </label>
  			                    </div>
  			                    <div class="col-sm-3 hidden-xs">
  			                        <p class="cover" ng-bind="deathCoverDetails.amount | currency"></p>
  			                    </div>
  			                    <div class="visible-xs alignright col-xs-6">
  			                        <p class="cover" ng-bind="deathCoverDetails.amount | currency"></p>
  			                    </div>
  			                </div>
  			                <hr class="primeline">
  			            </div>
  			            </div>
  			            <div ng-if="isTPDApplicable">
  			            <div class="btn-group-vertical heading" data-toggle="buttons">
  			                <div class="row rowcustom">
  			                    <div class="col-sm-12">
  			                        <label class="btn  checkboxes" id="tpdLable" ng-click="checkCoverCancellation($event, 'tpd', 'tpdLable')">
  			                        <input type="checkbox" name="tpd" ng-model="coverCancellation.tpd" ng-required="!coverCancellation.death && !coverCancellation.salContinuance">
  			                        <span></span> Total &amp; Permanent Disablement </label>
  			                    </div>
  			                </div>
  			            </div>
  			            <div id="tpd" ng-if="coverCancellation.tpd">
  			                <div class="row rowcustom">
  			                    <div class="col-sm-4 col-xs-6 existing-cover-wrapper">
  			                        <label class="helphint">Existing Cover <a ng-click="clickToOpen('This is the amount of existing cover you already hold through HOST<b>PLUS</b> super.')" class="icohelp mtm5"></a></label>
  			                    </div>
  			                    <div class="col-sm-3 hidden-xs ">
  			                        <p class="cover" ng-bind="tpdCoverDetails.amount | currency"></p>
  			                    </div>
  			                    <div class="visible-xs alignright col-xs-6">
  			                        <p class="cover" ng-bind="tpdCoverDetails.amount | currency"></p>
  			                    </div>
  			                </div>
  			                <hr class="primeline">
  			            </div>
  			            </div>
  			            <div ng-if="isIPApplicable">
  			            <div class="btn-group-vertical heading" data-toggle="buttons">
  			                <div class="row rowcustom">
  			                    <div class="col-sm-12">
  			                        <label class="btn  checkboxes" id="salContinuanceLable" ng-click="checkCoverCancellation($event, 'salContinuance', 'salContinuanceLable')">
  			                        <input type="checkbox" name="salContinuance" ng-model="coverCancellation.salContinuance" ng-required="!coverCancellation.tpd && !coverCancellation.death">
  			                        <span></span> Salary Continuance </label>
  			                    </div>
  			                </div>
  			            </div>
  			            <div id="sc" ng-if="coverCancellation.salContinuance">
  			                <div class="row rowcustom">
  			                    <div class="col-sm-4 col-xs-6 existing-cover-wrapper">
  			                        <label class="helphint">Existing Cover <a ng-click="clickToOpen('This is the amount of existing cover you already hold through HOST<b>PLUS</b> super.')" class="icohelp mtm5"></a></label>
  			                    </div>
  			                    <div class="col-sm-3 hidden-xs">
  			                        <p class="cover" ng-bind="ipCoverDetails.amount | currency"></p>
  			                    </div>
  			                    <div class=" visible-xs alignright col-xs-6">
  			                        <p class="cover" ng-bind="ipCoverDetails.amount | currency"></p>
  			                    </div>
  			                </div>
  			                <hr class=" primeline">
  			            </div>
  			            </div>
  			          <div class="row rowcustom" ng-if="autoTPDcancel">
					  		<div class="col-sm-12">
					  			<img src="static/vicsuper/images/warning.png">
				                <label class="control-label">{{autoTPDCancelMsg}}</label>	            
					  		</div>
					  	</div>
                    <p class="error" style="padding-top:5px;" ng-if="(coverCancellationForm.$invalid && coverCancellationForm.$submitted && coverCancellationForm.$error.required)">Please select at least one cover for cancellation.</p>
                  </div>
			            <div class=" row rowcustom">
				            <div class="col-sm-4 col-xs-12">
				                <button type="submit" class="btn btn-primary w100p" ng-click="submitForm(coverCancellationForm);">Continue </button>
				            </div>
				        </div>		        
		        	</div><!-- Row ends -->
		        </form>
		        <p class="spacer">&nbsp;</p>
		    </div>
		</div>
	</div>
    <!-- cover cancellation ends -->
     </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead aligncenter">Need help?</h2>
          <!-- <p class="helpTxt aligncenter"> We are happy to chat over the phone</p>
          <h3 class="helpNo aligncenter"> 1300 360 149</h3> -->
          <p class="helpTxt aligncenter">Like to speak to someone?</p>
          <h3 class="helpNo aligncenter">1300 467 875</h3>
          <h3 class="helpNo aligncenter"> 8am&ndash;8pm weekdays</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
 
<p class="spacer">&nbsp;</p> 
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-1   ">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-7   ">
      <p class="footertext">HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
    </div>	
    <div class="col-sm-4   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy statement</a>
         <!-- | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> --> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
  <div class=" col-xs-12 aligncenter ">
    <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy statement</a>
     <!-- | <a href="https://member.aas.com.au/Login/CR#/General/TermsAndConditions" class="" target="_new" >Terms of use</a> --> </p>
    <p class="footertext">HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
  </div>
  <p class="spacer">&nbsp;</p>
</div>




<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 

    
 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 

