<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/vicsuper/header.html'"></div>
</div>

<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
 <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">1 / 2</span> Personal details </div>
    </div>
    <div class="col-xs-3"> <img src="static/vicsuper/images/bg_blank.png" class=" icoMenuRev  "> <img src="static/vicsuper/images/bg_blank.png" class=" icoMenuFwd  ml30p"> </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">Give our team a call on <strong>1300 366 216</strong> between 8:30am and 5:00pm Monday to Friday</p>
      <!-- <h3 class="helpNo">1300 467 875</h3> -->
      <h3 class="helpNo"> </h3>
    </div>
  </div>
  
  <div class=" col-sm-9">
    <div class="menu hidden-xs">
      <div class="col-sm-6 cn first">
        <h5>STEP 1</h5>
        <div class="txtHolder"> Personal details </div>
        <img src="static/vicsuper/images/bg_blank.png" class=" right"> 
        </div>
    
      
      <div class="col-sm-6 cnn">
        <h5>STEP 2</h5>
        <div class="txtHolder"> Confirmation </div>
        <img src="static/vicsuper/images/bg_blank.png" class=" left"> </div>
    </div>
    
    <!--Duty of Disclosure Section starts  -->
		<div class="panel-group" id="accordiondod">
			<div class="panel panel-default">				
				<div id="collapseduty" >
					<form autocomplete="off"  name="formduty" role="form" novalidate>
						<div class="panel-body">
							<div class=" col-sm-12">
								<p class="normal" style="text-align: justify; margin-top: 8px;">
								</p>
								<p>
									<strong class="color">Insured's duty of disclosure</strong>
								</p>
					<div class="scrollBox">
								<p>Before you become insured under the VicSuper insurance policy, you have a duty to tell VicSuper's Insurer anything that you know, or could reasonably be expected to know, that may affect the Insurer's decision to provide the insurance and the terms of that insurance. For the purposes of this section, "You" includes both the Trustee and the member of the Fund.</p>
  								<p>You have the same duty before you extend, vary or reinstate your cover.</p>
  								<p>You do not need to tell the Insurer anything that:</p>
  								<ul class="listing" style="margin: 0 0 10px 30px;">
  									<li>reduces the risk the Insurer insures you for; or</li>
  									<li>is common knowledge; or</li>
  									<li>the Insurer knows or should know as an insurer; or</li>
  									<li>the Insurer waives your duty to tell the Insurer about.</li>
  								</ul>
  								<strong class="color">If you do not tell the Insurer something</strong><br>
  								<br>
  								<p>In exercising the following rights, the Insurer may consider whether different types of cover can constitute separate insurance policies. If they do, the Insurer may apply the following rights separately to each type of cover.</p>
  								<p>If you do not tell the Insurer anything you are required to, and the Insurer would not have provided the insurance if you had told the Insurer, the Insurer may avoid the cover within 3 years of entering into it.</p>
  								<p>If the Insurer chooses not to avoid the cover, the Insurer may, at any time, reduce the amount of insurance provided. This would be worked out using a formula that takes into account the premium that would have been payable if you had told the Insurer everything you should have. However, if the insurance provides cover on death, the Insurer may only exercise this right within 3 years of entering into the cover.</p>
  								<p>If the Insurer chooses not to avoid the cover or reduce the amount of insurance provided, the Insurer may, at any time vary the cover in a way that places the Insurer in the same position the Insurer would have been in if you had told the Insurer everything you should have. However, this right does not apply if the insurance provides cover on death.</p>
  								<p>If the failure to tell the Insurer is fraudulent, the Insurer may refuse to pay a claim and treat the cover as if it never existed.</p>
							</div>
								<div class="row rowcustom " ng-class="{'has-error':dodFlagErr}" >
										<div class="col-sm-12">
											<div class="btn-group-vertical" data-toggle="buttons">
												 <div class=" row rowcustom" >
	                                               <div class="col-sm-12" >
	                                                   <label class="btn checkboxes col-xs-12 ack-checkbox-label" id="dodLabel" ng-click="checkDodState()">
	                                                    <input type="checkbox" id="dodlabelCheck" name="dod" required>
	                                                    <span></span> <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above </div>
	                                                   </label><p ng-if="dodFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the disclosure.</p>
	                                                   
	                                                </div>
												</div>
											</div>
										</div>
									</div>
								<p></p>
							</div>
						</div>
					</form>
				</div>
			</div>
		<!-- </div> -->

	<!--Duty of Disclosure Section starts  -->
	
    
    <!--Privacy Policy Section starts  -->
			<div class="panel panel-default">
				<div class="panel-heading" ng-click="isCollapsible('collapseprivacy', $event)">
					<a data-toggle="collapse" data-parent="#accordionprivacy" data-target="#collapseprivacy" class="collapsed">
						<h4 class="panel-title">Privacy statement</h4>
					</a>
				</div>
				<div id="collapseprivacy" class="panel-collapse collapse">

					<form autocomplete="off"  name="cancelprivacyPolicyForm" role="form" novalidate>
						<div class="panel-body">
							<div class=" col-sm-12">
								<p class="normal" style="text-align: justify; margin-top: 8px;"></p>
								<p>
									<strong>You must read and acknowledge the Privacy Statement before proceeding</strong>
								</p>
				<div class="scrollBox">
								<p>
  									<strong class="color2">Your privacy with MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096 ('MetLife' or the 'Insurer') </strong> 
  									<br> The personal information you provide in the form is necessary for MetLife to provide you with the products and services you have requested from MetLife, and to manage your claims. You do not have to provide MetLife with your personal information, but if you do not do so MetLife may not be able to provide you with the products or services. MetLife complies with the Privacy Act 1988 and the principles laid out in its privacy policy which details information about how you may access or seek correction of the your personal information, how we manage that information and our complaints process. MetLife's Privacy Policy is readily available and can be viewed at  
  									<a href="http://www.metlife.com.au/privacy" target="_new"><strong
  										class="summary"> www.metlife.com.au/privacy </strong></a>.
  								</p>
  								<p>
  									<strong class="color2"> <br>Your privacy as a member of VicSuper
  									</strong><br>The information you provide in this form is collected by and held by VicSuper to administer your insurance within your VicSuper FutureSaver account. If you do not provide the requested information, we may be unable to properly administer your insurance. Your personal and sensitive information will only be disclosed to VicSuper staff as required, MetLife Insurance Limited and/or our legal or other professional advisors if reasonably necessary.
  									<br>
  									The VicSuper Privacy Policy provides information about overseas disclosure of personal information, how you may access and seek correction of your personal and sensitive information as well as how you can make a complaint about a breach of the Australian Privacy Principles or the Privacy Act 1988. You can access the VicSuper Privacy Policy at
  									<a href="https://www.vicsuper.com.au/privacy"
  										target="_new"><strong class="summary">
  											https://www.vicsuper.com.au/privacy. </strong></a>
  								</p>
							</div>
								<div class="row rowcustom " ng-class="{'has-error':privacyFlagErr}" >
										<div class="col-sm-12">
											<div class="btn-group-vertical" data-toggle="buttons">
												 <div class=" row rowcustom" >
	                                               <div class="col-sm-12" >
	                                                   <label class="btn checkboxes col-xs-12 ack-checkbox-label" id="privacyLabel" ng-click="checkPrivacyState()">
	                                                    <input type="checkbox" id="privacylabelCheck" name="privacy" required>
	                                                    <span></span>  <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above</div>
	                                                   </label>
	                                                   <p ng-if="privacyFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to the privacy statement.</p>
	                                                   </div>
												</div>
											</div>
										</div>
									</div>
								<p></p>
							</div>
						</div>
					</form>
				</div>
			</div>
		<!--Privacy Policy Section starts  -->
    
     <!--Contact Details Section starts  -->
      <!-- <div class="panel-group" id="accordionContact"> -->
      <div class="panel panel-default">
        <div class="panel-heading" ng-click="isCollapsible('collapseOne', $event)"> 
          <a data-toggle="collapse" data-parent="#accordionContact"  data-target="#collapseOne" class="collapsed">
           <h4 class="panel-title">Personal and contact details</h4>
          </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
         <form autocomplete="off"  name="formOne" role="form"  novalidate>
          <div class="panel-body"> 
               
            <!-- Row starts -->
            <div class="row rowcustom first">
              <div class="col-sm-12">
                <label class="control-label">Please provide contact details in case we need to contact you about your application</label>
              </div>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           
            <div class="row rowcustom " >
              <div class="col-sm-5 col-sm-12" ng-class="{'has-error':(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required)}">
                <label class="control-label"> Email address </label>           
                <input class="form-control" ng-pattern="emailFormat" maxlength="50" ng-focus="checkPreviousMandatoryFields('contactEmail','formOne')" name="contactEmail" ng-class = "(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required)  ? 'error-border':''" ng-model="email" type="email" placeholder="Enter your email" required>
	            <span ng-if="(formOne.contactEmail.$invalid && formOne.contactEmail.$touched) || (formOne.$submitted && formOne.contactEmail.$error.required) || (formOne.$submitted && formOne.contactEmail.$error.pattern)" class="error">Please enter your email address</span>
              </div>
            
            <div class="col-md-7 col-sm-12"  ng-class="{'has-error':(formOne.contactPhone.$invalid && formOne.contactPhone.$touched) || ((formOne.$submitted && formOne.contactPhone.$error.required)  ||( formOne.contactPhone.$error.pattern))}">
                <label class="control-label"> Preferred contact number </label>
              <div class="row">
              <div class="col-sm-5 col-xs-12 mmb10px">
                <select  class="form-control" ng-model="preferredContactType" ng-change="changePrefContactType()" ng-options="contactTypeOption for contactTypeOption in contactTypeOptions track by contactTypeOption">
                 <option value="">Please select</option>
                </select>
              </div>
              <div class="col-sm-7 col-xs-12">	
                <input class="form-control" ng-pattern="phoneNumbr" ng-disabled="!preferredContactType" phone-only id="preferrednumCCId" onkeyup="return isIntegerFun(this);"  onkeypress="return isIntegerFun(this);" maxlength="10" ng-focus="checkPreviousMandatoryFields('contactPhone','formOne')" name="contactPhone" ng-class = "{'error-border': formOne.contactPhone.$invalid && formOne.contactPhone.$touched || formOne.$submitted}" ng-model="changeCvrPhone" type="text" placeholder="Enter your Phone No" required>
                <span ng-if="(formOne.contactPhone.$invalid && formOne.contactPhone.$touched) || ((formOne.contactPhone.$touched && formOne.contactPhone.$error.required)  ||(formOne.contactPhone.$error.pattern))"  class="error">Please enter valid phone number</span>
              </div>
              </div>
              </div>
              <label class="helpHintLabel"><strong>Note:</strong> If you update your email address or contact number, the details will not be updated automatically on your  VicSuper FutureSaver account. If you want to update your account details, contact VicSuper on 1300 366 216.</label>
            </div>
            <!-- Row ends -->
            <hr class="primeline">
            
            <!-- Row starts -->
           <div class="row rowcustom" >
              <div class="col-lg-6 col-md-12" ng-class="{'has-error':(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required ) }">
                <label class="control-label"> What time of day do you prefer to be contacted? </label>
                <span id="tick 3" style=" visibility:hidden">
                 <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span>
                </span> 
              <div class="btn-group">
                <div class="col-xs-12 col-lg-6 p0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Morning (9am - 12pm)')}">
                      <input class="ipradio " ng-click="checkPreviousMandatoryFields('contactPrefTime','formOne')" name="contactPrefTime" 
                      ng-class = "(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required)  ? 'radio-validation':''"
                       ng-model="time" type="radio" value="Morning (9am - 12pm)" required>
                      <span></span> Morning (9am&ndash;12pm) </label>
                   </div>
                  <div class="col-xs-12 col-lg-6  p0">
                    <label class="btn  radiobutton" ng-class="{'active': (time == 'Afternoon (12pm - 6pm)')}">
                      <input class='ipradio' ng-click="checkPreviousMandatoryFields('contactPrefTime','formOne')" name="contactPrefTime"
                       ng-class = "(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required)  ? 'radio-validation':''" 
                      ng-model="time" type="radio" value="Afternoon (12pm - 6pm)" required>
                      <span></span> Afternoon (12pm&ndash;6pm) </label>              
                  </div>     
                 <span ng-if="(formOne.contactPrefTime.$error.required && formOne.contactPrefTime.$touched) || (formOne.$submitted && formOne.contactPrefTime.$error.required )" class="error">Please enter your preferred contact time</span>
              </div>  
            </div> 
            <div class="col-lg-6 col-md-12" ng-class="{'has-error':(formOne.gender.$error.required && formOne.gender.$touched) || (formOne.$submitted && formOne.gender.$error.required )}">
                    <label class="control-label"> Gender </label>
                  <fieldset ng-disabled="disableGender">
                  <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                        <label class="btn radiobutton" ng-class="{'active': (gender == 'Male')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','formOne')" 
                       ng-class = "(formOne.gender.$error.required && formOne.gender.$touched) || (formOne.$submitted && formOne.gender.$error.required)  ? 'radio-validation':''" 
                      ng-model="gender" value="Male" required>
                          <span></span> Male </label>
                         </div>
                     <div class="col-xs-12 col-md-6">
                        <label class="btn   radiobutton" ng-class="{'active': (gender == 'Female')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','formOne')" 
                       ng-class = "(formOne.gender.$error.required && formOne.gender.$touched) || (formOne.$submitted && formOne.gender.$error.required)  ? 'radio-validation':''" 
                      ng-model="gender" value="Female" required>
                          <span></span> Female </label>                         
                        </div>
                    
                     <span class="error" ng-if="(formOne.gender.$error.required && formOne.gender.$touched) || (formOne.$submitted && formOne.gender.$error.required )">Please select gender</span>
                  </div>
                  </fieldset>
                  </div>
                </div>
            
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">     
             	<a data-toggle="collapse" data-parent="#accordion"  >
             	<button class="btn btn-primary w100p" ng-click="formOneSubmit(formOne);" type="button">Continue</button>           
             	</a>
              </div>
             <!--  <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div> -->
            </div>
            </div>
            </form>
            </div>
          </div>
          </div>
      <!-- Contact Details Section ends -->
      
      
      <!-- Occupation section starts -->
      
    <!--   <div class="panel panel-default" >
        <div class="panel-heading" ng-click="isCollapsible('collapseTwo', $event)"> <a data-toggle="collapse"  data-target="#collapseTwo" class=" collapsed  ">
          <h4 class="panel-title">Occupation </h4>
          </a> </div>
        <div id="collapseTwo" class="panel-collapse collapse">
        
         <form autocomplete="off"  name="occupationForm" id="occupFormId" novalidate role="form">
          <div class="panel-body"> 
            Row starts

             <hr class="primeline">
            <div class="">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom" ng-class="">
                  <div class="col-sm-4">
                    <label class="control-label">Display the cost of my insurance cover as </label>
                  </div>
           			 <div class="col-sm-8  ">
                     <select  class="form-control" name="premFreq" id="coverId"  ng-change="calculateOnChange()" ng-model="premFreq" ng-options="premiumFrequencyOption for premiumFrequencyOption in premiumFrequencyOptions track by premiumFrequencyOption">
                     </select>
                    <span class="error" ng-if="">Please select  Cover what you want.</span>
                    <label class="helpHintLabel">Select weekly, monthly or yearly premium frequency</label>
                  </div>
                  </div>
                  </div>
            <hr class="primeline">
            <div class=" row rowcustom" >
              <div class="col-sm-3 col-xs-12">
               <a data-toggle="collapse" data-parent="#accordion"> 
                <button  class="btn btn-primary w100p" type="button" ng-click="formOneSubmit(occupationForm);">Continue</button>
               </a>
              </div>
              <div class="col-sm-6 alignleft hidden-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
              <div class=" col-xs-12 aligncenter   visible-xs"> <a href="#" class="cancellink"> Save &amp; Exit </a> </div>
            </div>
          </div>
        </form>
          Row ends 
          
        </div>
      </div> -->
      
      <!--Occupation section ends  -->
      
      <!-- Cover Calculator section starts -->
      
      <div class="panel panel-default"  >
        <div class="panel-heading" ng-click="isCollapsible('collapseThree', $event)"> <a data-toggle="collapse"  data-target="#collapseThree" class=" collapsed ">
          <h4 class="panel-title">Covert your unit-based cover to fixed cover	 </h4>
          </a> </div>
        <div id="collapseThree" class="panel-collapse collapse  ">
        
        <form autocomplete="off"  name="coverCalculatorForm" novalidate id="coverCalFormId" role="form">
          <div class="panel-body">
            <!-- <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label"> Use the premium calculator to select the most appropriate cover for you.</label>
              </div>
            </div> -->
           
            <hr class=" primeline"> 
             <div class="">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom" ng-class="">
                  <div class="col-sm-4">
                    <label class="control-label">Display the cost of my insurance cover as </label>
                  </div>
           			 <div class="col-sm-8  ">
                    <select  class="form-control" name="premFreq" id="coverId"  ng-change="calculateOnChange()" ng-model="premFreq" ng-options="premiumFrequencyOption for premiumFrequencyOption in premiumFrequencyOptions track by premiumFrequencyOption">
                      <option value="">Please select..</option>
                      <option  ng-repeat="premiumFrequencyOption in premiumFrequencyOptions" ng-selected="premiumFrequencyOption=='Weekly'" value="{{premiumFrequencyOption}}">{{premiumFrequencyOption}}</option>
                    </select>
                    <span class="error" ng-if="">Please select  Cover what you want.</span>
                    <label class="helpHintLabel">Select weekly, monthly or yearly premium frequency</label>
                  </div>
                  </div>
                  </div>
           <hr class=" primeline"> 
            <!--  <div class="row rowcustom  ">
              <div class="col-sm-12">
                <label class="control-label">  What cover details do you require?</label>
              </div>
            </div> -->
            <div class=" btn-group-vertical heading">
              <div class="row rowcustom" >
                <div class="col-sm-12 checkboxes1">
                   <label class="active checkboxes btn cover-calc-header" id="deathsection" ng-disabled="isDeathDisabled">
                    <input type="checkbox" id="option3" name="coverDet" id="coverDetId"> 
                    <p class="col2 m0 ">Death</p> 
                   <p class="col2 m0 alignright normal" ng-if="isUnitized(deathCoverDetails.type)">Existing cover {{deathCoverDetails.amount | currency:undefined:0}} ({{deathCoverDetails.units}} Unit(s)) &nbsp;&nbsp;</p>
                    <p class="col2 m0 alignright normal" ng-if="!isUnitized(deathCoverDetails.type)">Existing cover {{deathCoverDetails.amount | currency:undefined:0}} (fixed) &nbsp;&nbsp;</p>
                   </label>
                    </div>
              </div>
            </div>
            <div class="" id="death" style="display:block">
                <!-- <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6 existing-cover-wrapper">
                  <label>Existing cover </label>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover" ng-if="!isEmpty(deathCoverDetails.units)">{{deathCoverDetails.units}} Unit(s)</p>
                  <p class="cover" ng-if="isEmpty(deathCoverDetails.units)">{{deathCoverDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover" ng-if="!isEmpty(deathCoverDetails.units)">{{deathCoverDetails.units}} Unit(s)</p>
                  <p class="cover" ng-if="isEmpty(deathCoverDetails.units)">{{deathCoverDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
              </div> -->
              
              <div class="row rowcustom">
               <div class="col-sm-6 col-xs-12">
               <label class="control-label"> Total fixed cover amount</label>
               <fieldset ng-disabled="true">
               <input type="text" name="deathFixAmt" class="form-control" value="{{deathCoverDetails.amount | currency:undefined:0}}" >
               </fieldset>
               </div>
              
              <div class="col-xs-12">
                <p class="note mt10px">With fixed cover, your cover stays the same, but premiums increase with age.</p>
              </div>
              </div>
                <div class="row rowcustom" >
                  <div class="col-sm-6 col-xs-12">
                    <label class="control-label"> Indexation applied at lower of CPI and 7.5% per year </label>
                   
                  </div>
                
                  <div class="col-sm-6 col-xs-12">
                    <div class="btn-group" >
                      <div class="col-xs-12 col-md-6">
                        <label  radio-sync="IndexY" class="btn  radiobutton"  ng-class="{'active': (indexationDeath=='true')}">
                          <input  type="radio" name="indexation" ng-change="toggleIndexation('true')" data-sync="Yes" id="option1" class="ipradio"                           
                           ng-model="indexationDeath" value="true" >
                          <span></span> Yes
                         </label>
                      </div>
                      <div class="col-xs-12 col-md-6">
                          <label  radio-sync="IndexN" class="btn   radiobutton"  ng-class="{'active': (indexationDeath=='false')}">
                            <input  type="radio" name="indexation" ng-change="toggleIndexation('false')" data-sync="No" id="option2" class="ipradio"                       		 
                     		 ng-model="indexationDeath" value="false" >
                            <span></span> No
                          </label>                       
                      </div>
                    </div>                   
                  </div>                 
                </div>
              <hr class="primeline">
              <div class="  ">
                <div class=""></div>
                <div class=""></div>
                <!-- <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.coverName.$error.required && coverCalculatorForm.coverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverName.$error.required )}"> -->
                  <!-- <div class="col-sm-4">
                    <label class="control-label"> I want to<a class="icohelp" ng-click="clickToOpen('This is the amount of insurance cover you require.  You can choose either unitised cover or fixed benefit cover. You cannot have a combination of unitised and fixed cover. With unitised cover your level of cover decreases as your age increases, but your insurance premium remains the same.')"></a> </label>
                  </div>
                  <div class="col-sm-8  ">
                    <select  class="form-control" name="coverName" id="coverId" ng-focus="checkPreviousMandatoryFields('coverName','coverCalculatorForm')"  ng-class = "(coverCalculatorForm.coverName.$error.required && coverCalculatorForm.coverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverName.$error.required)  ? 'error-border':''"  ng-change="checkDeathOption()" ng-model="coverName">
                      <option value="">What would you like to do ?</option>
                      <option ng-if="deathCoverDetails.amount && deathCoverDetails.amount != 0" ng-repeat="cover in DeathCoverOptionsOne" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      <option ng-if="!deathCoverDetails.amount || (deathCoverDetails.amount && deathCoverDetails.amount == 0)" ng-repeat="cover in coverOptionsTwo" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                    </select>
                    <span class="error" ng-if="(coverCalculatorForm.coverName.$error.required && coverCalculatorForm.coverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverName.$error.required )">Please select  Cover what you want.</span>
                  </div>
                </div>
                <hr class="primeline">
                <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required )}">
                  <div class="col-sm-4">
                    <label class="control-label"> Cover type <a class="icohelp"	ng-click="clickToOpen('<strong>Unitised cover how your benefit and premium is calculated </strong><br/>When calculating your benefit, it is based on three factors:<br/>(1) your occupation,<br/> (2) your age at the date the incident that led to your claim occurred, and <br/>(3) the number of units you are covered for at that time.')"></a> </label>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                        <label ng-disabled="isDCCoverTypeDisabled" radio-sync="Fixed" class="btn  radiobutton" onclick="showhide('dollar','nodollar')" ng-class="{'active': (coverType=='DcFixed')}">  
                          <input  type="radio" name="coverType" ng-change="syncRadios('Fixed')" data-sync="Fixed" id="option1" class="ipradio" ng-focus="checkPreviousMandatoryFields('coverType','coverCalculatorForm')"
                           ng-class = "(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required)  ? 'radio-validation':''" 
                           ng-model="coverType" value="DcFixed" ng-required="!isDCCoverTypeDisabled">
                          <span></span> Fixed 
                         </label>
                      </div>
                      <div class="col2">
                          <label ng-disabled="isDCCoverTypeDisabled" radio-sync="Unitised" class="btn   radiobutton" onclick="showhide('nodollar','dollar')" ng-class="{'active': (coverType=='DcUnitised')}">
                            <input  type="radio" name="coverType" ng-change="syncRadios('Unitised')" data-sync="Unitised" id="option2" class="ipradio" ng-focus="checkPreviousMandatoryFields('coverType','coverCalculatorForm')"
                      		 ng-class = "(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required)  ? 'radio-validation':''" 
                     		 ng-model="coverType" value="DcUnitised" ng-required="!isDCCoverTypeDisabled">
                            <span></span> Unitised
                          </label>
                        <span class="error" ng-if="(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required )">Please select Cover type</span>
                      </div>
                    </div>
                  </div>
                </div>              -->  
                
               <!--  <div class="row rowcustom" ng-if="coverType=='DcFixed'">
                  <div class="col-sm-4">                    
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                          <div data-toggle="buttons" class="btn-group" >                        
		                      <label class="btn  checkboxes    p0  " ng-disabled="isDCCoverTypeDisabled" ng-class="{'active': indexation.death}" ng-click="setIndexation($event)">
		                        	<input type="checkbox" class=" " id="changecvr_index-dth" ng-model="indexation.death" ng-value="indexation.death">
		                        	<span></span> I would like to index my fixed cover annually by 5% 
		                      </label>
                   	 	  </div>                   	 	                
                      </div>                      
                    </div>
                  </div>
                  <div class="col-sm-2">  
                      	<a class="icohelp"		ng-click="clickToOpen('You can choose to index your fixed Death & TPD cover annually by 5%. This will take effect on 1 July each year.')"></a>
                      </div>
                </div> -->
                
                <!-- <hr class="primeline">
                <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required ) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag}">
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Cover required </label>
                    <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div> -->
                 <!--  <div class="col-sm-5 col-xs-12">
                           <div class="slidercover">
                            <div id="slider2" class="slider"></div>
                            <div class="sliderin"></div>
                            <div class="leftval hidden-xs">0</div>
                            <div class="rightval hidden-xs">1,000,000</div>
                          </div> 
                        </div><p class=" spacer visible-xs">&nbsp;</p> -->
                       <!--  <div class="col-sm-3 col-xs-12">
                    <input type="text" id="dollar" format="number" name="requireCover" class="form-control dollar" onkeyup="return isNumeric('dollar');" onkeypress="return isNumeric('dollar');" 
                       ng-focus="checkPreviousMandatoryFields('requireCover','coverCalculatorForm')" 
                       ng-class = "(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag ? 'error-border':''" 
                       ng-model="requireCover" ng-change="validateDeathTpdIpAmounts()" ng-disabled="isDCCoverRequiredDisabled"  ng-required="!isDCCoverRequiredDisabled" >
                    
                     <input type="text" id="nodollar" limit-to="3" ng-change="convertDeathUnitsToAmount()"   ng-model="requireCover"  name="requireCover"
                      style="display:none" class="form-control" ng-disabled="isDCCoverRequiredDisabled" ng-required="!isDCCoverRequiredDisabled" 
                      onkeyup="return isNumeric('nodollar');" onkeypress="return isNumeric('nodollar');" 
                      ng-focus="checkPreviousMandatoryFields('requireCover','coverCalculatorForm')" 
                      ng-class = "(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag? 'error-border':''">
                   
                    <span class="error" ng-if="(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required )">Please select required Cover</span>
                     <span class="error" ng-if="deathErrorFlag">{{deathErrorMsg}}</span></div>
                </div> -->
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Sum insured</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{dcCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>{{premFreq}} cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{dcWeeklyCost | currency}}</h4>
                  </div>
                </div>
             </div> 
            </div>
            
             <div class="row rowcustom" ng-if="isDeathDisabled == true">
		  		<div class="col-sm-12">
	  			<img src="static/vicsuper/images/warning.png" >
	                <label class="control-label"> You are not eligible for Death cover due to your age </label>	            
		  		</div>
		  	</div>
		  	<p class="spacer">&nbsp;</p>
            <div class="btn-group-vertical heading"  >
              <div class="row rowcustom">
                <div class="col-sm-12 checkboxes1">
                   <label class="active checkboxes btn cover-calc-header" id="tpdsection" ng-disabled="isTPDDisabled">
                    <input type="checkbox" id="perDisplacementId" name="perDisplacement"> 
                    <p class="col2 m0 ">Total &amp; permanent disablement</p> 
						<p class="col2 m0 alignright normal" ng-if="isUnitized(tpdCoverDetails.type)">Existing cover {{tpdCoverDetails.amount | currency:undefined:0}} ({{tpdCoverDetails.units}} Unit(s)) &nbsp;&nbsp;</p>
                		<p class="col2 m0 alignright normal" ng-if="!isUnitized(tpdCoverDetails.type)">Existing cover {{tpdCoverDetails.amount | currency:undefined:0}} (Fixed) &nbsp;&nbsp;</p>
					 </label>
                </div>
              </div>
            </div>
            <div class="" id="tpd" style="display:block">
            <!-- <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6 existing-cover-wrapper">
                  <label>Existing cover </label>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover" ng-if="!isEmpty(tpdCoverDetails.units)">{{tpdCoverDetails.units}} Unit(s)</p>
                  <p class="cover" ng-if="isEmpty(tpdCoverDetails.units)">{{tpdCoverDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover" ng-if="!isEmpty(tpdCoverDetails.units)">{{tpdCoverDetails.units}} Unit(s)</p>
                  <p class="cover" ng-if="isEmpty(tpdCoverDetails.units)">{{tpdCoverDetails.amount | currency:undefined:0}} (Fixed)</p>
                </div>
              </div> -->
              <div class="row rowcustom">
               <div class="col-sm-6 col-xs-12">
               <label class="control-label"> Total fixed cover amount</label>
               <fieldset ng-disabled="true">
               <input type="text" name="tpdFixAmt" class="form-control" value="{{tpdConvertAmt | currency:undefined:0}}" >
               </fieldset>
               </div>
               <div class="col-xs-12">
                <p class="note mt10px">With fixed cover, your cover stays the same, but premiums increase with age. From the date you turn 61 however, your fixed cover will taper with equal increments each year.</p>
              </div>
              </div>
             <div class="row rowcustom">
                  <div class="col-sm-6 col-xs-12">
                    <label class="control-label"> Indexation applied at lower of CPI and 7.5% per year </label>
                   
                  </div>
                
                  <div class="col-sm-6 col-xs-12">
                    <div class="btn-group" >
                      <div class="col-xs-12 col-md-6">
                        <label  radio-sync="IndexY" class="btn  radiobutton"   ng-class="{'active': (indexationTpd=='true')}">
                          <input  type="radio" name="indexation" ng-change="toggleIndexation('true')" data-sync="Yes" id="option1" class="ipradio"                           
                           ng-model="indexationTpd" value="true" >
                          <span></span> Yes
                         </label>
                      </div>
                      <div class="col-xs-12 col-md-6">
                          <label  radio-sync="IndexN" class="btn   radiobutton"  ng-class="{'active': (indexationTpd=='false')}">
                            <input  type="radio" name="indexation" ng-change="toggleIndexation('false')" data-sync="No" id="option2" class="ipradio"                       		 
                     		 ng-model="indexationTpd" value="false" >
                            <span></span> No
                          </label>                       
                      </div>
                    </div>                   
                  </div>                 
                </div>
                <hr class="primeline">
              <div class="  ">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom">
             <!-- <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.tpdCoverName.$error.required && coverCalculatorForm.tpdCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverName.$error.required ) }" >
                  <div class="col-sm-4">
                    <label class="control-label"> I want to <a class="icohelp" ng-click="clickToOpen('This is the amount of insurance cover you require.  You can choose either unitised cover or fixed benefit cover. You cannot have a combination of unitised and fixed cover. With unitised cover your level of cover decreases as your age increases, but your insurance premium remains the same.')"></a></label>
                  </div>
                  <div class="col-sm-8  ">
                    <select  ng-disabled="isTPDCoverNameDisabled" class=" form-control" name="tpdCoverName" id="coverId" ng-focus="checkPreviousMandatoryFields('tpdCoverName','coverCalculatorForm')"  ng-class = "(coverCalculatorForm.tpdCoverName.$error.required && coverCalculatorForm.tpdCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverName.$error.required) ? 'error-border':''" ng-model="tpdCoverName" ng-change="checkTPDOption()">
                      <option value="">What would you like to do ?</option>
                      <option ng-if="(tpdCoverDetails.amount && tpdCoverDetails.amount != 0) " ng-repeat="cover in TPDCoverOptionsOne" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      <option ng-if="!tpdCoverDetails.amount || (tpdCoverDetails.amount && tpdCoverDetails.amount == 0) " ng-repeat="cover in coverOptionsTwo" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      
                    </select>
                    <span class="error" ng-if="(coverCalculatorForm.tpdCoverName.$error.required && coverCalculatorForm.tpdCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverName.$error.required )">Please select  Cover what you want.</span>
                  </div>
                </div> -->
                <!-- <hr class="primeline">
                <div class="row rowcustom"  ng-class="{'has-error':(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required )}">
                  <div class="col-sm-4">
                    <label class="control-label"> Cover type <a class="icohelp"	ng-click="clickToOpen('<strong>Unitised cover how your benefit and premium is calculated </strong><br/>When calculating your benefit, it is based on three factors:<br/>(1) your occupation,<br/> (2) your age at the date the incident that led to your claim occurred, and <br/>(3) the number of units you are covered for at that time.')"></a>  </label>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2">
                        <label  ng-disabled="isTPDCoverTypeDisabled" radio-sync="Fixed" class="btn radiobutton"  onclick="showhide('dollar1','nodollar1')" ng-class="{'active': (tpdCoverType=='TPDFixed')}">
                          <input type="radio" name="tpdCoverType" ng-change="syncRadios('Fixed')" data-sync="Fixed" id="option1" class="ipradio" ng-focus="checkPreviousMandatoryFields('tpdCoverType','coverCalculatorForm')"
                           ng-class = "(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required)  ? 'radio-validation':''" 
                           ng-model="tpdCoverType" value="TPDFixed" ng-required="!isTPDCoverTypeDisabled">
                          <span></span> Fixed </label>
                         </div>
                      <div class="col2"> 
                        <label ng-disabled="isTPDCoverTypeDisabled" radio-sync="Unitised" class="btn radiobutton"  onclick="showhide('nodollar1','dollar1')" ng-class="{'active': (tpdCoverType=='TPDUnitised')}">
                          <input type="radio" name="tpdCoverType" ng-change="syncRadios('Unitised')" data-sync="Unitised" id="option2" class="ipradio"  ng-focus="checkPreviousMandatoryFields('tpdCoverType','coverCalculatorForm')"
                      		 ng-class = "(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required)  ? 'radio-validation':''" 
                     		 ng-model="tpdCoverType" value="TPDUnitised" ng-required="!isTPDCoverTypeDisabled">
                          <span></span> Unitised </label>
                          <span class="error" ng-if="(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required )">Please select Cover type</span>
                         </div>
                    </div>
                  </div>
                </div> -->
                
               <!--  <div class="row rowcustom" ng-if="tpdCoverType=='TPDFixed'">
                  <div class="col-sm-4">                    
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group" >
                      <div class="col2"> 
                          <div data-toggle="buttons" class="btn-group">
		                      <label class="btn  checkboxes    p0  " ng-disabled="isTPDCoverTypeDisabled" ng-class="{'active': indexation.disable}" ng-click="setIndexation($event)">
		                        	<input type="checkbox" class=" " id="changeCvr-indextpd-disable" ng-model="indexation.disable" ng-value="indexation.disable">
		                        	<span></span> I would like to index my fixed cover annually by 5% 
		                      </label>
                   	 	  </div>                   	 	                
                      </div>                      
                    </div>
                  </div>
                  <div class="col-sm-2">  
                      	<a class="icohelp"		ng-click="clickToOpen('You can choose to index your fixed Death & TPD cover annually by 5%. This will take effect on 1 July each year.')"></a>
                      </div>
                </div> -->
                <!-- <hr class="primeline"> -->
                
                <!-- <div class="row rowcustom " ng-class="{'has-error':(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required ) || (coverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag}">
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Cover required </label>
                  </div>
                  <div class="col-sm-5 col-xs-12">
                     <div class="slidercover">
                      <div id="slider3" class="slider"></div>
                      <div class="sliderin"></div>
                      <div class="leftval hidden-xs">0</div>
                      <div class="rightval hidden-xs">1,000,000</div>
                    </div> 
                  </div><p class="spacer visible-xs">&nbsp; </p>
                  <div class="col-sm-3 col-xs-12">
                    <input id="dollar1" type="text" format="number" name="TPDRequireCover" class="form-control dollar" onkeyup="return isNumeric('dollar1');" onkeypress="return isNumeric('dollar1');" 
                       ng-focus="checkPreviousMandatoryFields('TPDRequireCover','coverCalculatorForm')" 
                       ng-class = "(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required) || (coverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag ? 'error-border':''" 
                       ng-model="TPDRequireCover" ng-change="validateDeathTpdIpAmounts()" ng-disabled="isTPDCoverRequiredDisabled" ng-required="!isTPDCoverRequiredDisabled">
                    <input type="text" id="nodollar1" limit-to="3" name="TPDRequireCover"  class="form-control"   style="display:none"
                        onkeyup="return isNumeric('nodollar1');" onkeypress="return isNumeric('nodollar1');" 
                        ng-focus="checkPreviousMandatoryFields('TPDRequireCover','coverCalculatorForm')" 
                        ng-class = "(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required) || (coverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag ? 'error-border':''"
                        ng-model="TPDRequireCover" ng-change="convertTPDUnitsToAmount()"  ng-disabled="isTPDCoverRequiredDisabled" ng-required="!isTPDCoverRequiredDisabled">
                       <span class="error" ng-if="(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required )">Please select required Cover</span>
                       <span class="error" ng-if="tpdErrorFlag">{{tpdErrorMsg}}</span>
                  </div>
                </div> -->
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Sum insured </h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{tpdCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>{{premFreq}} cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{tpdWeeklyCost | currency}}</h4>
                  </div>
                </div></div>
              </div>
            </div>
            <!-- <hr class="primeline">
             <div class="row rowcustom">
                  <div class="col-sm-6 col-xs-12">
                    <label class="control-label"> Indexation applied at lower of CPI and 7.5% per year </label>
                   
                  </div>
                
                  <div class="col-sm-6 col-xs-12">
                    <div class="btn-group" >
                      <div class="col-xs-12 col-md-6">
                        <label  radio-sync="IndexY" class="btn  radiobutton"   ng-class="{'active': (indexationTpd=='true')}">
                          <input  type="radio" name="indexation" ng-change="toggleIndexation('true')" data-sync="Yes" id="option1" class="ipradio"                           
                           ng-model="indexationTpd" value="true" >
                          <span></span> Yes
                         </label>
                      </div>
                      <div class="col-xs-12 col-md-6">
                          <label  radio-sync="IndexN" class="btn   radiobutton"  ng-class="{'active': (indexationTpd=='false')}">
                            <input  type="radio" name="indexation" ng-change="toggleIndexation('false')" data-sync="No" id="option2" class="ipradio"                       		 
                     		 ng-model="indexationTpd" value="false" >
                            <span></span> No
                          </label>                       
                      </div>
                    </div>                   
                  </div>                 
                </div> -->
            <div class="row rowcustom" ng-if="isTPDDisabled == true">
		  		<div class="col-sm-12">
	  			<img src="static/vicsuper/images/warning.png" >
	                <label class="control-label"> You are not eligible for TPD cover due to your age </label>	            
		  		</div>
		  	</div>
		  	<p class="spacer">&nbsp;</p>
            <!-- <div class=" btn-group-vertical   heading" data-toggle="buttons"  >
              <div class="row rowcustom"  >
                <div class="col-sm-12 checkboxes1">
                   <label class="checkboxes  active" ng-disabled="isIPDisabled" id="ipsection">
                    <input type="checkbox" id="option3" class=" "> 
                    Salary Continuance </label>
                </div>
              </div>
            </div> -->
             <!-- <div class="row rowcustom" ng-if="ipWarning">
					  		<div class="col-sm-12">
					  			<img src="static/vicsuper/images/warning.png">
				                <label class="control-label">To be eligible for SC, you need to work more than 15 hours per week.</label>	            
					  		</div>
			 </div> -->
            <!-- <div class="" id="sc" style="display:block">
            <div class="row rowcustom">
                <div class="col-sm-4 col-xs-6">
                  <label class="helphint">Existing cover <a class="icohelp"	ng-click="clickToOpen('This is the amount of existing cover you already hold through HOST<b>PLUS</b> super.')"></a></label>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{ipCoverDetails.amount | currency:undefined:0}} </p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{ipCoverDetails.amount | currency:undefined:0}} </p>
                </div>
              </div>
              
               <div class="row rowcustom" ng-hide="ipCoverDetails.amount == '0.0'">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing waiting period  </h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{ipCoverDetails.waitingPeriod}}</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{ipCoverDetails.waitingPeriod}}</p>
                </div>
              </div>
              
               <div class="row rowcustom" ng-hide="ipCoverDetails.amount == '0.0'">
                <div class="col-sm-4 col-xs-6">
                  <h5>Existing benefit period  </h5>
                </div>
                <div class="col-sm-3 hidden-xs ">
                  <p class="cover">{{ipCoverDetails.benefitPeriod}}</p>
                </div>
                <div class=" visible-xs alignright col-xs-6">
                  <p class="cover">{{ipCoverDetails.benefitPeriod}}</p>
                </div>
              </div>
              
              
              <div class=" secrow ">
                <div class=""></div>
                <div class=""></div>
                <div class="row rowcustom " ng-class="{'has-error':(coverCalculatorForm.ipCoverName.$error.required && coverCalculatorForm.ipCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipCoverName.$error.required ) }" >
                  <div class="col-sm-4">
                    <label class="control-label"> I want to <a class="icohelp" ng-click="clickToOpen('This is the amount of Salary Continuance cover you require. You can choose to insure up to 90% of your current monthly salary, capped at $30,000 per month. If you choose to insure up to 90% of your current salary, your monthly cover amount may vary depending on your salary with some of the benefit paid as superannuation contributions. Alternatively, you can select a monthly cover amount, subject to the policy maximums.')"></a> </label>
                  </div>
                  <div class="col-sm-8  ">
                    <select  ng-disabled="isIPCoverNameDisabled" class="form-control" name="ipCoverName" id="coverId" ng-focus="checkPreviousMandatoryFields('ipCoverName','coverCalculatorForm')" ng-change="checkIPOption()"  ng-class = "(coverCalculatorForm.ipCoverName.$error.required && coverCalculatorForm.ipCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipCoverName.$error.required) ? 'error-border':''" ng-model="ipCoverName">
                       <option value="">What would you like to do ?</option>
                      <option ng-if="ipCoverDetails.amount && ipCoverDetails.amount != 0" ng-repeat="cover in IPCoverOptionsOne" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                      <option ng-if="!ipCoverDetails.amount || (ipCoverDetails.amount && ipCoverDetails.amount == 0)" ng-repeat="cover in coverOptionsTwo" value="{{cover.coverOptionName}}">{{cover.coverOptionName}}</option>
                    </select>
                    <span class="error" ng-if="(coverCalculatorForm.ipCoverName.$error.required && coverCalculatorForm.ipCoverName.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.ipCoverName.$error.required )">Please select  Cover what you want.</span>
                  </div>
                </div>
                <hr class="primeline">
                
                <div class="row rowcustom ">
                  <div class="col-sm-3">
                    <div data-toggle="buttons" class="btn-group">
                      <label class="btn  checkboxes    p0  " id="ipsalarychecklabel" ng-disabled="isIpSalaryCheckboxDisabled" ng-click="toggleIPCondition()">
                        <input type="checkbox" class=" " id="ipsalarycheck" ng-disabled="isIpSalaryCheckboxDisabled">
                        <span></span> Insure 90% of my salary 
                        </label>
                    </div>                     
                  </div> 
                  <div class="col-sm-1">
                      <a class="icohelp" ng-click="clickToOpen('Tick this box if you wish to insure up to 90% of your monthly salary. Please note that a maximum of 75% will be payable to you; the remainder will be paid as a contribution to your HOST<span style=font-weight:bold;>PLUS</span> super account.')"></a>
                        
                    </div>                 
                </div>
                <hr class="primeline">
                <div class="row rowcustom   ">
                  <div class="col-sm-4">
                    <label class="control-label"> Waiting period </label>
                  </div>
                  <div class="col-sm-8  ">
                  <select ng-disabled="isWaitingPeriodDisabled" class="form-control" ng-model="waitingPeriodAddnl" ng-options="waitingPeriodOption for waitingPeriodOption in waitingPeriodOptions track by waitingPeriodOption" ng-change="checkBenefitPeriod()"></select>
                    <select  class="selectpicker  form-control" ng-model="waitingPeriod">
                      <option value="30 Days" ng-selected="ipCoverDetails.waitingPeriod == waitingPeriod"  >30 Days</option>
                      <option value="60 Days">60 Days</option>
                      <option value="90 Days">90 Days</option> 
                   </select>
                  </div>
                </div>
                <hr class="primeline">
                <div class="row rowcustom   ">
                  <div class="col-sm-4">
                    <label class="control-label"> Benefit period </label>
                  </div>
                  <div class="col-sm-8  ">
                  <select ng-disabled="isBenefitPeriodDisabled" class="form-control" ng-model="benefitPeriodAddnl" ng-options="benefitPeriodOption for benefitPeriodOption in benefitPeriodOptions track by benefitPeriodOption" ng-change="checkBenefitPeriod()"></select>             
                    <select  class="selectpicker  form-control" ng-model="benefitPeriod">
                      <option value="2 Years" ng-selected="">2 Years</option>
                      <option value="5 Years">5 Years</option>
                      
                    </select>
                  </div>
                </div>
                <hr class="primeline">
                <div class="row rowcustom " ng-class="{'has-error':(coverCalculatorForm.IPRequireCover.$error.required && coverCalculatorForm.IPRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.IPRequireCover.$error.required ) || (coverCalculatorForm.$submitted && ipErrorFlag) || ipErrorFlag}">
                  <div class="col-sm-4 col-xs-12">
                    <label class="control-label"> Cover required </label>
                    <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
                  <div class="col-sm-5 col-xs-12">
                     <div class="slidercover">
                      <div id="slider4" class="slider"></div>
                      <div class="sliderin"></div>
                      <div class="leftval hidden-xs">0</div>
                      <div class="rightval hidden-xs">1,000,000</div>
                    </div> 
                  </div><p class="spacer visible-xs">&nbsp; </p>
                  <div class="col-sm-3 col-xs-12">
                  <input id="dollar2" type="text" name="IPRequireCover" maxlength="5" class="form-control dollar" onkeyup="return isNumeric('nodollar2');" onkeypress="return isNumeric('nodollar2');"
                       ng-focus="checkPreviousMandatoryFields('IPRequireCover','coverCalculatorForm')" 
                       ng-class = "(coverCalculatorForm.IPRequireCover.$error.required && coverCalculatorForm.IPRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.IPRequireCover.$error.required) || (coverCalculatorForm.$submitted && ipErrorFlag) || ipErrorFlag ? 'error-border':''" 
                       ng-model="IPRequireCover" ng-change="checkIpCover()" ng-disabled="isIPCoverRequiredDisabled" ng-required="!isIPCoverRequiredDisabled">
                       <span class="error" ng-if="(coverCalculatorForm.IPRequireCover.$error.required && coverCalculatorForm.IPRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.IPRequireCover.$error.required )" >Please enter required Cover</span>
                       <span class="error" ng-if="ipErrorFlag">{{ipErrorMsg}}</span>
                       <div class="row rowcustom" ng-if="ipWarningFlag">
					  		<div class="col-sm-12">
					  			<img src="static/vicsuper/images/warning.png">
				                <label class="control-label">The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</label>	            
					  		</div>
					  	</div>
                    <input type="text" id="amount4" onclick="visible('tick1')" class="form-control dollar" ng-disabled="!isEnable" >
                  </div>
                </div>
                <div class="row  coverbg ">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Cover amount</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{ipCoverAmount | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>{{premFreq}} cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{ipWeeklyCost | currency}}</h4>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div class="row rowcustom" ng-if="isIPDisabled == true">
		  		<div class="col-sm-12">
	  			<img src="static/vicsuper/images/warning.png" >
	                <label class="control-label"> You are not eligible for Salary Continuance cover due to your age </label>	            
		  		</div>
		  	</div>
          </div> -->
          <!-- Row ends -->
          
          <div class="row   coverbg seccolor ">
            <!-- <div class="col-sm-3 hidden-xs">
              <h5>&nbsp;</h5>
            </div>
            <div class="col-sm-3 alignright borderright  hidden-xs">
              <h4 class="coverval">&nbsp; </h4>
            </div>
            <div class="col-sm-4 col-xs-10 hidden-xs">
              <h5 class="coverval"> TOTAL {{premFreq}} COST</h5>
            </div>
            <div class="col-sm-4 col-xs-10 visible-xs">
              <h4 class="coverval" style="padding-left:9px;"> Total {{premFreq}} cost</h4>
            </div>
            <div class="col-sm-2 col-xs-12 alignright hidden-xs">
              <h4 class="coverval">{{totalWeeklyCost1 | currency}}</h4>
            </div>
            <div class="col-sm-3 col-xs-3 alignright visible-xs">
              <h5 class="coverval" style="padding-left:9px;">{{totalWeeklyCost1 | currency}}</h5>
            </div> -->
            <div class="col-xs-12 col-sm-5 fright">
              <h5 class="coverval fleft">  Total {{premFreq | lowercase}} cost : </h5>
              <h4 class="coverval fleft ml10px"> {{totalWeeklyCost1 | currency}} </h4>
            </div>
          </div>
          <p class="spacer">&nbsp;</p>
          <div class=" row rowcustom">
	          <div class="col-xs-12">
		          <p class="note">
		          	<strong>Disclaimer: </strong> <!-- This represents the total cost of the cover you have applied for based on your occupation rating. This amount does not take into account any premium loading which may apply to your existing cover. The final cost of your total insurance cover will be notified to you in writing by VICSUPER.  -->
		          </p>
		          	<!-- <p style="text-align:left;" ng-if="!disclaimerFlag">Please note that if you want to change the waiting period or benefit period in the future which increases the risk, then you will need to be underwritten. </p>
		             <p ng-if="totalWeeklyCost > 0" style="text-align:left;">Insurance cover through CareSuper is provided by MetLife Insurance Limited ABN 75 004 274 882 AFSL No. 238096. When completing your application for insurance, you will be providing MetLife with your personal information including your health information. By clicking the Continue button, you consent to the collection, use and disclosure of your personal information as described in MetLife's Privacy Policy which is available at <a href="https://www.metlife.com.au/privacy" class="" target="_new">www.metlife.com.au/privacy-policy</a>.
		            </p> -->
		            <p style="text-align:left;">This represents the total cost of the cover you applied for based on your age and occupation category. This amount does not take into account any premium loading which may apply to your existing cover. The final cost of your total insurance cover will be notified to you in writing by VicSuper.</p> 
		          
	          </div>
	          
          </div>
          <!-- <div class=" row rowcustom" ng-class="{'has-error':ackFlag}" ng-click="checkAckState()">
	          <div class="col-sm-12" ng-if="totalWeeklyCost > 0" >
                <div data-toggle="buttons" class=" btn-group-vertical">
                  <label class="btn checkboxes" id="termsLabel">
                    <input type="checkbox" class="" id="termsNconditionsCheck" name="ackDocument" required>
                    <span></span>  I agree to all the above terms & conditions </label>
                    
                </div>
              </div>
              </div> -->
          
          <div class=" row rowcustom">
   			 <div class="col-sm-3 col-xs-12">
              <button type="button" class="btn btn-primary w100p" ng-if="(!isDeathDisabled) || (!isTPDDisabled)" ng-click="checkForAura()">Continue </button>
             </div>
            <!--  <div class="col-sm-3 col-xs-12">
            	<button ng-if="totalWeeklyCost > 0" type="button" class="btn btn-primary w100p" ng-click="generatePDF()">Print </button>
             </div>  -->
             <!-- <div class="col-sm-3 col-xs-12">
               <button ng-if="totalWeeklyCost > 0 && (deathDecOrCancelFlag || tpdDecOrCancelFlag || ipDecOrCancelFlag)" id="continueWithPopUpId" type="button" class="btn btn-primary w100p" 
                ng-click="showDecreaseOrCancelPopUp(decCancelMsg)">Continue
               </button> 
              <button ng-if="totalWeeklyCost > 0 && (!deathDecOrCancelFlag  && !tpdDecOrCancelFlag && !ipDecOrCancelFlag)" type="button" class="btn btn-primary w100p"  ng-click="checkForAura()">Continue </button> 
             </div> -->
            
             <!-- <button ng-if="totalWeeklyCost > 0" type="button" class="btn btn-primary w100p" ng-click="continueToNextPage()" >Continue </button> -->
              <!-- <button ng-if="totalWeeklyCost > 0 && (!deathDecOrCancelFlag  && !tpdDecOrCancelFlag && !ipDecOrCancelFlag)" type="button" id="continueId" class="btn btn-primary w100p" ng-click="continueToNextPage()" >Continue </button>--> 
               
            <!-- <div class="col-sm-3 col-xs-12 hidden-xs">
			    <button type="button" class="btn btn-primary w100p" ng-if="totalWeeklyCost > 0" ng-click="saveQuote()">Save &amp; exit </button>  
            </div>
            <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-3 col-xs-12 aligncenter visible-xs"> 
                <button type="button" class="btn btn-primary w100p" ng-if="totalWeeklyCost > 0" ng-click="saveQuote()"> Save &amp; exit</button>
              </div> -->
            <!-- <div ng-if="totalWeeklyCost > 0" class="col-sm-6 alignleft hidden-xs"> <a class="cancellink" href="landingpage.html"> Cancel</a> </div>
       		<div  ng-if="totalWeeklyCost > 0" class=" col-xs-12 aligncenter   visible-xs"> <a class="cancellink" href="#"> Cancel </a> </div> -->
       		<!--<p class="col-xs-12 visible-xs">&nbsp;</p>
       		<div ng-if="totalWeeklyCost > 0" class="col-sm-3 col-xs-12 hidden-xs"><button type="button" class="btn btn-primary w100p" ng-click="navigateToLandingPage()">Cancel </button></div> 
       		<div  ng-if="totalWeeklyCost > 0" class="col-sm-3 col-xs-12 visible-xs"><button type="button" class="btn btn-primary w100p" ng-click="navigateToLandingPage()">Cancel </button></div>  -->
          </div>
          <p class="spacer">&nbsp;</p>
          </form>
        </div>
      </div>
      <!-- Cover Calculator section ends -->
      
    </div>
    
  </div>
  <!-- /container -->
  <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> Give our team a call on <strong>1300 366 216</strong> between 8:30am and 5:00pm Monday to Friday</p>
          <!-- <h3 class="helpNo alignleft"> 1300 467 875</h3> -->
      <h3 class="helpNo"></h3>
        </div>
      </div>
    </div> 
<p class="spacer">&nbsp;</p>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-2">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-6">
      <p class="footertext">VicSuper Pty Ltd ABN 69 087 619 412, VicSuper Fund 85 977 964 496, AFSL No. 237333</p>
    </div>
    <div class="col-sm-4">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.vicsuper.com.au/privacy" target="_new">Privacy policy</a> | <a href="https://www.vicsuper.com.au/disclaimer" target="_new">Disclaimer</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
 <div class=" col-xs-12 aligncenter ">
   <p class="footerlinks"> <a href="https://www.vicsuper.com.au/privacy" target="_new">Privacy policy</a> | <a href="https://www.vicsuper.com.au/disclaimer" target="_new">Disclaimer</a> </p>
   <p class="footertext">VicSuper Pty Ltd ABN 69 087 619 412, VicSuper Fund 85 977 964 496, AFSL No. 237333</p>
 </div>
 <p class="spacer">&nbsp;</p>
</div>

    <!-- Decrease or Cancel Popup starts --> 
		<div aria-hidden="false" aria-labelledby="mymodalDecCancelLabel" role="dialog" tabindex="-1" class="modal fade in" id="mymodalDecCancel" style="display: none;" 
		 onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';" >
		  <div class="modal-dialog hhints">
		    <div id="modal-content-id" class="modal-content">
		       <div class="modal-header">
			      <a onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';" 
			          data-dismiss="modal" aria-hidden="true"> <button class="close xi" type="button">X</button>
		          </a>
		       </div>
		       <div class="modal-body">
			    <h4 class="modal-title aligncenter" id="mymodalDecCancelLabel">Change cover</h4>
		      	<!-- Row starts -->
		         <div class="row  rowcustom  ">
		          <div class="col-sm-12">
		            <p class="aligncenter">
		              <div id="decCancelMsg_text"></div>
		              <p></p>
		            </p>
		           </div>
		         </div>
		       <!-- Row ends -->
		      </div> 
		      <div class="modal-footer mt0 pt0">
		       <div class="row">
		        <div class="col-sm-4"></div>
		         <div class="col-sm-4 col-xs-12">
		          <a onclick="document.getElementById('mymodalDecCancel').style.display = 'none';document.getElementById('mymodalDecCancelFade').style.display = 'none';">
		           <!-- <button class="btn btn-primary w100p" type="button" ng-click="go('/quote')">Yes</button> -->
		          </a> 
		          <button class="btn btn-primary w100p" type="button" ng-click="checkForAura()">Continue</button>
		         </div>
		          <div class="col-sm-4"> </div> 
		        </div>
		      </div>
		     </div>
			    <!-- /.modal-content --> 
		  </div>
	    <!-- /.modal-dialog --> 
	  </div>
	 <div class="modal-backdrop fade in" id= "mymodalDecCancelFade" style="display:none;"> 
  </div>
 <!--  <button ng-click='toggleModal()'>Open Modal Dialog</button> -->
	<help-text show='modalShown' msg='tipMsg' width='550px'>
	  <p>Modal Content Goes here<p>
	</help-text>
 <!--Decrease or Cancel Popup ends -->	




<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 

    
 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 



