 <div class="c-header">
  <div class="container">
    <div class="  col-xs-9  "> <img src="eapply/images/logo.png" class="img-responsive  c-logo" alt="CareSuper Australia" /> </div>
    <div class="  col-xs-3   ">
      <!--div class="logout"> <a href="#" >Logout</a> </div-->
    </div>
  </div>
</div>
<div class="container ">
  <p class="spacer">&nbsp;</p>
</div>
 
 <div class="container ">
 	<div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 467 875</h3>
      <h3 class="helpNo"> </h3>
    </div>
    
  </div>
 	 <div class=" col-sm-9">
 		<div class="panel-group" id=" ">
      <div class="panel panel-default mt5px">
        <!--div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href=" " class=" ">
          <h4 class="panel-title"> Personal details </h4>
          </a> </div-->
        <div id="collapseOne" class="panel-collapse collapse in   ">
          <div class="panel-body"> 
            
              <div class="row rowcustom">
    	<div class="col-sm-12">
        <h2 class="title mt0">Login</h2>
        </div>
        </div>
             <hr class="primeline">
    <div class="row rowcustom">
    	<div class="col-sm-12">
    		<p>To access and manage your insurance cover, simply login below.</p>
        </div>
    </div>
    <hr class="primeline">
            <!-- Row starts -->
            <div class="row rowcustom  ">
              <div class="col-sm-5">
                <label class="control-label"> Member number  <a href="#" class="icohelp" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Help Text over here..."></a></label>
                <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-6 col-xs-12">
                <input type="text" class="form-control" onClick="visible('tick1')" />
              </div>
              
            </div>
            <!-- Row ends --> 
            <hr class="primeline">
            <!-- Row starts -->
            <div class="row rowcustom  ">
              <div class="col-sm-5">
                <label class="control-label"> First name </label>
                <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-6 col-xs-12">
                <input type="text" class="form-control" onClick="visible('tick1')" />
              </div>
              
            </div>
            <!-- Row ends --> 
            <hr class="primeline">
            <!-- Row starts -->
            <div class="row rowcustom  ">
              <div class="col-sm-5">
                <label class="control-label"> Last name </label>
                <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-6 col-xs-12">
                <input type="text" class="form-control" onClick="visible('tick1')" />
              </div>
              
            </div>
            <!-- Row ends --> 
            <hr class="primeline">
            <!-- Row starts -->
            <div class="row rowcustom  ">
              <div class="col-sm-5">
                <label class="control-label"> Date of birth </label>
                <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> </div>
              <div class="col-sm-6 col-xs-12">
                <input type="text" class="form-control" onClick="visible('tick1')" />
              </div>
              
            </div>
            <!-- Row ends --> 
            <hr class="primeline">
       <!-- Row starts -->
    <div class="row ">
      <p class="spacer">&nbsp;</p>
      
      
      <div class="col-sm-3" >
        <button ng-click="go('/landing')" class="btn btn-primary w100p" id="bu3" type="button">Login </button>
      </div>
    </div>
    <!-- Row ends --> 
      
            
          </div>
        </div>
      </div>
      
    </div>  
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 467 875</h3>
        </div>
      </div>
    </div>
 	</div>
 	<div class="c-footer hidden-xs">
  <div class="container">
   <div class="col-sm-2   "> <p class="footertext">&nbsp;  </p> </div>
    <div class="col-sm-7   ">
      <p class="footertext"> HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
    </div>	
    <div class="col-sm-3   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a> </p>
      </div>
    </div>
  </div>
</div>
 
  <div class="container visible-xs">
 
      <div class=" col-xs-12 aligncenter ">
        <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a> </p>
        <p class="footertext"> HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
      </div>
   <p class="spacer">&nbsp;</p>
  </div>
 </div> 
      
 



