<div>

<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/vicsuper/header.html'"></div>
</div>

<div class="container ">
 <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
 <div class=" col-sm-3 fright hidden-xs">
   <div class="help-block">
     <h2 class="helpHead">Need help?</h2>
     <p class="helpTxt"> Give our team a call on <strong>1300 366 216</strong> between 8:30am and 5:00pm Monday to Friday</p>
     <!-- <h3 class="helpNo"> 1300 467 875</h3> -->
   </div>
 </div>
 <div class=" col-sm-9 landingPageBoxes">
 <p  class="color3"><Strong>Hello,&nbsp;{{fName}}&nbsp;{{lName}}</Strong></p>
   <div class="panel-group" id="accordion">
     <div class="panel panel-default nobg">
       <div class="panel-heading">
         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="">
           <h4 class="panel-title">Your current cover </h4>
         </a>
       </div>
       <div id="collapseOne" class="panel-collapse collapse in">
         <div class="panel-body parent-flex-container">
           <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
             <div class="box coverbg aligncenter">
               <h5 class="mb0">Cover type</h5>
               <h4 class="p0 m0">Death<br> &nbsp; </h4>
             </div>
             <div class="box mt10px aligncenter" ng-if="intvalue(deathCover.amount)">
               <h5 class="color2">Sum insured</h5>
               <p ng-bind="deathCover.amount | currency:undefined:0"></p>
               <!-- <p ng-if="!isEmpty(deathCover.units)">{{deathCover.units}} Unit(s)</p>
               <p ng-if="isEmpty(deathCover.units)">Fixed</p> -->
               <p ng-if="deathCover.type=='1'">{{deathCover.units}} Unit(s)</p>
               <p ng-if="deathCover.type=='2'">Fixed <span ng-if="deathCover.indexation == 'Y'">- CPI indexed</span><span ng-if="deathCover.indexation == 'N'">(not CPI indexed)</span></p>
               <h5 class=" color2">Occupation category</h5>
                <p ng-bind="deathCover.occRating"></p>
             </div>
             <div ng-if="!intvalue(deathCover.amount) && renderView">
               <div class="box mt10px aligncenter">
                <img src="static/vicsuper/images/nocover.png" alt="Death Cover" class=" aligncenter mt10px"/><br>
                <strong> No cover</strong>
                <p ng-if="!intvalue(deathCover.amount)" class="size2"><br>
                 Learn about the great benefits of<br>
                  <a href="https://www.vicsuper.com.au/super/insurance" class="" target="_new">
                  <strong>Death</strong></a><br>
                  cover<span class="visible-sm"><br><br></span> <span class="visible-md"><br></span>
                </p>
              </div>
              <div class="row" ng-if="eligibileForDeathCvrFlag">
               <!-- <div class="col-md-2 hidden-sm"> &nbsp; </div> -->
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                   <button type="button" id="bu3" class="btn btn-primary w100p" ng-click="showSavedAppPopup('CCOVER')">Apply now </button>
                </div>
              </div>
            </div>
            <p class="spacer">&nbsp;</p>
           </div>
           <p class="spacer visible-xs">&nbsp;</p>
           <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
             <div class="box coverbg aligncenter">
               <h5 class="mb0">Cover type</h5>
               <h4 class="p0 m0">Total &amp; permanent disablement</h4>
             </div>
             <div class="box mt10px aligncenter" ng-if="intvalue(tpdCover.amount)">
               <h5 class=" color2">Sum insured</h5>
               <p ng-bind="tpdCover.amount | currency:undefined:0"></p>
               <!-- <p ng-if="!isEmpty(tpdCover.units)">{{tpdCover.units}} Unit(s)</p>
               <p ng-if="isEmpty(tpdCover.units)">Fixed</p> -->
               <p ng-if="tpdCover.type == '1'">{{tpdCover.units}} Unit(s)</p>
               <p ng-if="tpdCover.type == '2'">Fixed <span ng-if="tpdCover.indexation == 'Y'">- CPI Indexed</span><span ng-if="tpdCover.indexation == 'N'">(not CPI indexed)</span></p>
               <h5 class=" color2">Occupation category</h5>
               <p ng-bind="tpdCover.occRating"></p>
             </div>
             <div ng-if="!intvalue(tpdCover.amount) && renderView">
               <div class="box mt10px aligncenter"> <img src="static/vicsuper/images/nocover.png" alt="Total & permanent disablement Cover" class=" aligncenter mt10px"/><br>
                <strong> No cover</strong>
                <p class="size2"><br>
                 	Learn about the great benefits of<br>
                 	<a href="https://www.vicsuper.com.au/super/insurance" class="" target="_new">
                 		<strong>Total & permanent disablement</strong></a> <br>
                  cover
                </p>
              </div>
              <div class="row" ng-if="eligibileForTpdCvrFlag">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                  <button type="button" id="bu3" class="btn btn-primary w100p" ng-click="showSavedAppPopup('CCOVER')">Apply now </button>
                </div>
              </div>
            </div>
            <p class="spacer">&nbsp;</p>
           </div>
           <p class="spacer visible-xs">&nbsp;</p>
           <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
             <div class="box coverbg aligncenter">
               <h5 class="mb0">Cover type</h5>               
               <h4 class="p0 m0">Income protection<br> &nbsp; </h4>
             </div>
             <div class="box mt10px aligncenter" ng-if="intvalue(ipCover.amount)">
               <h5 class=" color2">Monthly amount</h5>
               <p ng-bind="ipCover.amount | currency:undefined:0"></p>
               <!-- <p ng-if="!isEmpty(ipCover.units)">{{ipCover.units}} Unit(s)</p>
               <p ng-if="isEmpty(ipCover.units)">Fixed</p> -->
               <p ng-if="ipCover.type == '1'">{{ipCover.units}} Unit(s)</p>
               <p ng-if="ipCover.type == '2'">Fixed</p>
               <h5 class=" color2">Occupation category</h5>
               <p ng-bind="ipCover.occRating"></p>
               <h5 class=" color2">Waiting period</h5>
               <p ng-bind="ipCover.waitingPeriod"></p>
               <h5 class=" color2">Benefit period</h5>
               <p ng-bind="ipCover.benefitPeriod"></p>
             </div>
             <div ng-if="!intvalue(ipCover.amount) && renderView">
               <div class="box mt10px aligncenter">
                <img src="static/vicsuper/images/nocover.png" alt="Income Protection Cover" class=" aligncenter mt10px"  /><br>
                <strong> No cover</strong>
                <p class="size2"><br>
                  Learn about the great benefits of<br>
                  <a href="https://www.vicsuper.com.au/super/insurance" class="" target="_new">
                  <strong>Income protection</strong></a><br>cover
                </p>
              </div>
              <div class="row" ng-if="eligibileForIPCvrFlag">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                  <button  type="button" id="bu3" class="btn btn-primary w100p" ng-click="showSavedAppPopup('CCOVER')">Apply now </button>
                </div>
              </div>
            </div>
            <p class="spacer">&nbsp;</p>
           </div>
         </div>
       </div>
     </div>
     <div class="panel panel-default nobg">
       <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" class="    ">
         <h4 class="panel-title">Manage your insurance</h4>
         </a> </div>
       <div id="collapseTwo" class="panel-collapse collapse in singleDoubleBoxes">
         <div class="panel-body parent-flex-container">

         <!-- Added to show popup for New Member to continue with change cover if "Yes" -->
<!--           <div class="col-xs-12 col-sm-3 bgwhite pointer doubleBox child-flex-box flex-box-center" ng-if="newMemberOffer"  id="newMemberChangeCoverId" ng-click="showSavedAppPopup('CCOVER')"> -->
<!--              <div class="manage-cover-box aligncenter"> <img src="static/vicsuper/images/bg_blank.png" class="icoTick img-responsive visible-sm"> <img src="static/vicsuper/images/bg_blank.png" class="icoTick hidden-sm"> -->
<!--                <h4 class="mt15px">Change your insurance cover</h4> -->
<!--                <p class="note">Use this option to apply to increase or vary your level of insurance cover</p> -->
<!--              </div> -->
<!--            </div> -->

           <div class="col-xs-12 col-sm-3 bgwhite pointer doubleBox child-flex-box flex-box-center" ng-if="!newMemberOffer"  ng-class="{'disable':(noCoverMemberFlag && !eligibileForChangeCvrFlag)}" id="changeCoverId" ng-click="showSavedAppPopup('CCOVER')">
             <div class="manage-cover-box aligncenter"> <img src="static/vicsuper/images/bg_blank.png" class="icoTick img-responsive visible-sm"> <img src="static/vicsuper/images/bg_blank.png" class="icoTick hidden-sm">
               <h4 class="mt15px">Change your insurance cover</h4>
               <p class="note">Use this option to apply to increase or vary your  insurance cover</p>
             </div>
           </div>
           <div class="col-xs-12 col-sm-9 child-flex-box">
             <div class="parent-flex-container manage-insr-options">
               <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center"  ng-if="!newMemberOffer" id="newMemberId"  ng-click="go('/retrievesavedapplication',false)">
                 <div class="manage-cover-box aligncenter"> <img src="static/vicsuper/images/bg_blank.png" class="icoSaved mt15px">
                   <h4 class="mt15px">Saved applications</h4>
                 </div>
               </div>

<!--                <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center" ng-if="newMemberOffer" id="newMemberTransferCoverId" ng-click="showSavedAppPopup('TCOVER')"> -->
<!--                  <div class="manage-cover-box aligncenter" > <img src="static/vicsuper/images/bg_blank.png" alt="Transfer your existing cover" class="icoRefresh mt15px"> -->
<!--                    <h4 class="mt15px">Transfer your cover</h4> -->
<!--                  </div> -->
<!--                </div> -->

               <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center" ng-if="!newMemberOffer" ng-class="{'disable':!eligibileForTransferCvrFlag}" id="transferCoverId" > <a ng-if="eligibileForTransferCvrFlag" ng-click="clickToOpen('Transfer your insurance cover from any existing superannuation arrangements by answering some simple health questions, without the need to provide any medical evidence')" class="icohelp abs"></a>
                 <div class="manage-cover-box aligncenter" ng-click="showSavedAppPopup('TCOVER')"> <img src="static/vicsuper/images/bg_blank.png" alt="Transfer your existing cover" class="icoRefresh mt15px" >
                   <h4 class="mt15px">Transfer your cover</h4>
                 </div>
               </div>

<!--                <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center" ng-if="newMemberOffer"> <a ng-click="clickToOpen('Increase your cover without the need to provide any medical evidence, if you have experienced any of the below events in your life within the last six months.<ul><li>Marriage</li><li>Birth or adoption of a child</li><li>Obtaining a new mortgage or increasing an existing mortgage</li><li>Divorce</li><li>Death of a spouse</li><li>Completion of an undergraduate degree</li><li>Dependent child starts secondary school</li><li>Becoming a carer of an immediate family member</li><li>Obtaining a new business loan/increasing an existing business loan</li></ul>')" class="icohelp abs"></a> -->
<!--                  <div class="manage-cover-box aligncenter" ng-click="showSavedAppPopup('ICOVER')"> <img src="static/vicsuper/images/bg_blank.png" alt="Increase your cover due to a life event" class="icoDollar mt15px"> -->
<!--                    <h4 class="mt15px">Increase your Cover due to a life event</h4> -->
<!--                  </div> -->
<!--                </div> -->

               <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center"  ng-class="{'disable':!eligibileForLifeEventsFlag}" ng-if="!newMemberOffer"> <a ng-if="eligibileForLifeEventsFlag" ng-click="clickToOpen('Increase your cover without the need to provide any medical evidence, if you have experienced any of the below events in your life within the last 60 days:<ul><li>Marriage</li><li>1st anniversary of marriage</li><li>Divorce or registration of separation</li><li>1st anniversary of divorce or separation</li><li>Birth or adoption of a child</li><li>New mortgage on initial purchase of home</li><li>Increasing existing mortgage</li><li>12th birthday of a child</li></ul>')" class="icohelp abs"></a>
                 <div class="manage-cover-box aligncenter" id="retrieveCoverId" ng-click="showSavedAppPopup('ICOVER')" > <img src="static/vicsuper/images/bg_blank.png" alt="Increase your cover due to a life event" class="icoDollar mt15px">
                   <h4 class="mt15px">Increase your cover due to a life event</h4>
                 </div>
               </div>
<!--                 <div class="col-xs-6 col-sm-4 bgwhite child-flex-box flex-box-center" ng-class="{'disable':!eligibileForLifeEventsFlag}" ng-if="!newMemberOffer && lifeEventDisable"> <a ng-if="eligibileForLifeEventsFlag" ng-click="clickToOpen('Increase your cover without the need to provide any medical evidence, if you have experienced any of the below events in your life within the last six months.<ul><li>Marriage</li><li>Birth or adoption of a child</li><li>Obtaining a new mortgage or increasing an existing mortgage</li><li>Divorce</li><li>Death of a spouse</li><li>Completion of an undergraduate degree</li><li>Dependent child starts secondary school</li><li>Becoming a carer of an immediate family member</li><li>Obtaining a new business loan/increasing an existing business loan</li></ul>')" class="icohelp abs"></a> -->
<!--                  <div class="manage-cover-box aligncenter" id="retrieveCoverId" ng-click="clickToOpen('You are not eligible for Life Event Covers',lifeEventDisable,'')" > <img src="static/vicsuper/images/bg_blank.png" alt="Increase your cover due to a life event" class="icoDollar mt15px"> -->
<!--                    <h4 class="mt15px">Increase your Cover due to a life event</h4> -->
<!--                  </div> -->
<!--                </div> -->

               <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center" ng-class="{'disable':!eligibileForFixCoverFlag}" ng-if="!newMemberOffer && eligibileForFixCoverFlag" id="newMemberId"> <a ng-if="eligibileForFixCoverFlag" ng-click="clickToOpen('With fixed cover, your cover stays the same, but the amount you pay for the insurance increases as you get older.')" class="icohelp abs"></a>
                 <div class="manage-cover-box aligncenter" ng-click="go('/convertMaintain/1',true)"> <img src="static/vicsuper/images/bg_blank.png" class="icoConvert mt15px">
                   <h4 class="mt15px">Change from unit based to fixed cover</h4>
                 </div>
               </div>

               <div class="col-xs-6 col-sm-4 bgwhite child-flex-box flex-box-center" ng-class="{'disable':!eligibileForFixCoverFlag}" ng-if="!newMemberOffer && !eligibileForFixCoverFlag" id="newMemberId" ng-click="showSavedAppPopup('CONVCOVER')"> <a ng-if="eligibileForFixCoverFlag" ng-click="clickToOpen('With fixed cover, your cover stays the same, but the amount you pay for the insurance increases as you get older.')" class="icohelp abs"></a>
                 <div class="manage-cover-box aligncenter" > <img src="static/vicsuper/images/bg_blank.png" class="icoConvert mt15px">
                   <h4 class="mt15px">Change from unit based to fixed cover</h4>
                 </div>
               </div>

<!--                <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center" id="workRatingCoverId" ng-click="showSavedAppPopup('UWCOVER')"  ng-if="!newMemberOffer && (intvalue(deathCover.amount) || intvalue(tpdCover.amount) || intvalue(ipCover.amount)) && !updateOccDisable"> -->
<!--                  <div class="manage-cover-box aligncenter"> <img src="static/vicsuper/images/bg_blank.png" alt="Update your occupational category" class="icoEdit mt15px"> -->
<!--                    <h4 class="mt15px">Update your occupation</h4> -->
<!--                  </div> -->
<!--                </div> -->

               <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center" id="workRatingCoverId" ng-class="{'disable':noCoverMemberFlag || occUpgradeElegibility}" ng-if="!newMemberOffer" ng-click="showSavedAppPopup('UWCOVER')">
                 <div class="manage-cover-box aligncenter"> <img src="static/vicsuper/images/bg_blank.png" alt="Update your occupational category" class="icoEdit mt15px">
                   <h4 class="mt15px">Update your occupation category</h4>
                 </div>
               </div>

               <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center" id="cancelCoverId child-flex-box" ng-click="goLogin();" ng-class="{'disable':noCoverMemberFlag}" ng-if="!newMemberOffer">
                 <div class="manage-cover-box aligncenter"> <img src="static/vicsuper/images/bg_blank.png" alt="Cancel all cover" class="icoDelete mt15px">
                   <h4 class="mt15px">Cancel your cover</h4>
                 </div>
               </div>

<!--                <div class="col-xs-6 col-sm-4 bgwhite child-flex-box flex-box-center" id="cancelCoverIddisable" ng-if="!newMemberOffer  && !cancelEnable"> -->
<!--                  <div class="manage-cover-box aligncenter"> <img src="static/vicsuper/images/bg_blank.png" alt="Cancel all cover" class="icoDelete mt15px"> -->
<!--                    <h4 class="mt15px">Cancel your cover2</h4> -->
<!--                  </div> -->
<!--                </div> -->

<!--                <div class="col-xs-6 col-sm-4 bgwhite pointer child-flex-box flex-box-center" id="newMemberWorkRatingId" ng-click="showSavedAppPopup('UWCOVER')" ng-if="newMemberOffer"> -->
<!--                  <div class="manage-cover-box aligncenter"> <img src="static/vicsuper/images/bg_blank.png" alt="Update your occupational category" class="icoEdit mt15px"> -->
<!--                    <h4 class="mt15px">Update your occupation</h4> -->
<!--                  </div> -->
<!--                </div> -->

               <div class="col-xs-6 col-sm-4 bgwhite child-flex-box flex-box-center" id="newMemberCancelCoverId" ng-click="showSavedAppPopup('CANCOVER')" ng-if="newMemberOffer">
                 <div class="manage-cover-box aligncenter"> <img src="static/vicsuper/images/bg_blank.png" alt="Cancel all cover" class="icoDelete mt15px">
                   <h4 class="mt15px">Cancel your cover</h4>
                 </div>
               </div>
           </div>
          </div>
           <div class="hidden-xs bgSec pointer bordertop5px" ng-if="renderSpecialCover" ng-click="showSavedAppPopup('SCOVER')">
             <div class="box mt10px aligncenter">
               <h4 class="mt15px color3">Special offer for new VicSuper EmployeeSaver members</h4>
             </div>
             <p>As a special offer to new EmployeeSaver members of VicSuper FutureSaver, you have the opportunity to increase your default insurance cover without full underwriting provided you apply within 90 days from the date of the letter from VicSuper confirming your insurance cover.</p>
           </div>
         </div>
       </div>
     </div>
     <div class="panel panel-default nobg">
         <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" class="  ">
          <h4 class="panel-title">Insurance calculators </h4>
          </a> </div>
       <div id="collapseThree" class="panel-collapse collapse in">
          <div class="panel-body">
<!--            <div class="col-sm-4 bgwhite borderright5px h260px pointer " id="insuranceCoverId" ng-click="openWindow('https://www.eapplication.metlife.com.au/eApplication/InsCalcController?s=' + calcEncrpytURL)"> -->
<!--               <div class="box mt10px    aligncenter"> <img src="static/vicsuper/images/bg_blank.png" class="icoTick mt30px" > -->
<!--                 <h4 class="mt15px">Insurance<br> -->
<!--                   cover </h4> -->
<!--                 <p class="mt15px">How much Insurance do I need? <br><span class="visible-lg">&nbsp;</span></p> -->
<!--               </div> -->
<!--             </div> -->
            <p class="spacer visible-xs">&nbsp;</p>
            <div class="col-sm-4 bgwhite borderright5px h260px pointer" ng-click="OpenPopupWindow();">
              <div class="box mt10px aligncenter "> <img src="static/vicsuper/images/bg_blank.png" class="icoSave mt30px" >
                <h4 class="	 mt15px">Insurance premium <br> calculator  </h4>
                <p class="mt15px">How much will my insurance cost?</p>
                <p class="spacer visible-sm">&nbsp;</p>
                <p class="spacer visible-sm">&nbsp;</p>
              </div>
            </div>
            <p class="spacer visible-xs">&nbsp;</p>
            <div class="col-sm-4 hidden-xs"> &nbsp; </div>

           
         </div>
       </div>
       <p class="spacer">&nbsp;</p>
           <div class="parent-flex-container">
             <div class="col-xs-12 col-sm-6 bgwhite aligncenter linkBox"> <img class="image" src="static/vicsuper/images/theme_adviser.jpg"  alt="Talk to a financial planner" >
              <div class="content">
                <h4 class=" mt20px">VicSuper advice</h4>
                <p class="mt15px">How do you know if you're really making the most of your super? Will you have enough for a comfortable retirement?</p>
                <p class="spacer hidden-md hidden-sm">&nbsp;</p>
                <p class="spacer hidden-md hidden-sm">&nbsp;</p>
              </div>
              <div class="col-sm-9 col-sm-offset-1 col-md-8 col-md-offset-2 mt15px">
                <button  class="btn btn-primary w100p" id="bu3" type="button" ng-click="openWindow('https://www.vicsuper.com.au/help-and-advice/our-advice-services')">Learn more </button>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 bgwhite aligncenter linkBox"> <img class="image" src="static/vicsuper/images/theme_peace-of-mind.jpg">
              <div class="content">
                <h4 class=" mt20px">Peace of mind</h4>
                <p class="mt15px">Death & Total and permanent disablement (TPD) and Income protection insurance can support you and your family if you are unable to due to illness or injury.</p>
              </div>
              <div class="col-sm-9 col-sm-offset-1 col-md-8 col-md-offset-2 mt15px">
                <button  class="btn btn-primary w100p" id="bu3" type="button" ng-click="openWindow('https://www.vicsuper.com.au/insurance')">Learn more </button>
              </div>
              <p class="spacer hidden-md hidden-sm">&nbsp;</p>
              <p class="spacer hidden-md hidden-sm">&nbsp;</p>
              <p class="spacer hidden-md hidden-sm">&nbsp;</p>
              
            </div>
          </div>
     </div>
   </div>
   <div class="row mt20px">
     <div class=" col-xs-12 visible-xs">
       <div class="help-block">
         <h2 class="helpHead aligncenter">Need help?</h2>
         <p class="helpTxt aligncenter">Give our team a call on <strong>1300 366 216</strong> between 8:30am and 5:00pm Monday to Friday</p>
         <!-- <h3 class="helpNo aligncenter"> 1300 467 875</h3> -->
       </div>
     </div>
   </div>
   
   <div class="row-custom visible-xs">
   	<div class="col-xs-12 bgSec pointer bordertop5px ng-scope" ng-if="renderSpecialCover" ng-click="showSavedAppPopup('SCOVER')">
   		<div class="box mt10px aligncenter">
   			<h4 class="mt15px color3">Special offer for new VicSuper EmployeeSaver members</h4>
        </div>
        <p>As a special offer to new EmployeeSaver members of VicSuper FutureSaver, you have the opportunity to increase your default insurance cover without full underwriting provided you apply within 90 days from the date of the letter from VicSuper confirming your insurance cover.</p>
        </div>
    </div>
</div>

</div>

 <!-- /container -->
<p class="spacer">&nbsp;</p>
<div class="c-footer hidden-xs">
 <div class="container">
   <div class="col-sm-2">
     <p class="footertext">&nbsp; </p>
   </div>
   <div class="col-sm-6">
     <p class="footertext">VicSuper Pty Ltd ABN 69 087 619 412, VicSuper Fund 85 977 964 496, AFSL No. 237333</p>
   </div>
   <div class="col-sm-4">
     <div class="text-right">
       <p class="footerlinks"> <a href="https://www.vicsuper.com.au/privacy" target="_new">Privacy policy</a> | <a href="https://www.vicsuper.com.au/disclaimer" target="_new">Disclaimer</a> </p>
     </div>
   </div>
 </div>
</div>
<div class="container visible-xs">
 <div class=" col-xs-12 aligncenter ">
   <p class="footerlinks"> <a href="https://www.vicsuper.com.au/privacy" target="_new">Privacy policy</a> | <a href="https://www.vicsuper.com.au/disclaimer" target="_new">Disclaimer</a> </p>
   <p class="footertext">VicSuper Pty Ltd ABN 69 087 619 412, VicSuper Fund 85 977 964 496, AFSL No. 237333</p>
 </div>
 <p class="spacer">&nbsp;</p>
</div>

<!-- New Member Popup starts -->
   <div aria-hidden="false" aria-labelledby="mymodalNewMemLabel" role="dialog" tabindex="-1" class="modal fade in" id="mymodalNewMem" style="display: none;"
    onclick="document.getElementById('mymodalNewMem').style.display = 'none';document.getElementById('mymodalNewMemFade').style.display = 'none';" >
     <div class="modal-dialog hhints">
       <div id="modal-content-id" class="modal-content">
          <div class="modal-header">
           <a onclick="document.getElementById('mymodalNewMem').style.display = 'none';document.getElementById('mymodalNewMemFade').style.display = 'none';"
               data-dismiss="modal" aria-hidden="true"> <button class="close xi" type="button">X</button>
             </a>
          </div>
        <div class="modal-body">
         <h4 class="modal-title aligncenter" id="mymodalNewMemLabel"> New member</h4>
           <!-- Row starts -->
            <div class="row  rowcustom  ">
             <div class="col-sm-12">
               <p class="aligncenter">
                 <div id="newMember_text"></div>
               </p>
              </div>
            </div>
          <!-- Row ends -->
         </div>

         <div class="modal-footer mt0 pt0">
          <div class="row">
           <div class="col-sm-4"></div>
            <div class="col-sm-4 col-xs-12">
             <a onclick="document.getElementById('mymodalNewMem').style.display = 'none';document.getElementById('mymodalNewMemFade').style.display = 'none';">
              <!-- <button class="btn btn-primary w100p" type="button" ng-click="go('/quote')">Yes</button> -->
             </a>
             <button class="btn btn-primary w100p" type="button" ng-click="go('/quotespecial/1',true)">Yes</button>
            </div>
            <div class="col-sm-4 col-xs-12">
             <a onclick="document.getElementById('mymodalNewMem').style.display = 'none';document.getElementById('mymodalNewMemFade').style.display = 'none';">
              <!-- <button class="btn btn-primary w100p" type="button" ng-click="go('/newmemberquote')">No</button>-->
             </a>
               <button class="btn btn-primary w100p" type="button" ng-click="go('/quote',true)">No</button>
            </div>
            <div class="col-sm-4"> </div>
           </div>
         </div>
        </div>
         <!-- /.modal-content -->
     </div>
     <!-- /.modal-dialog -->
   </div>
  <div class="modal-backdrop fade in" id= "mymodalNewMemFade" style="display:none;">
 </div>
 </div>
<!--New Member Popup ends -->

<!-- <script type="text/javascript">
   function showNewMemberPopUp(val){
     if(val == null || val == "" || val == " "){
       hideTips();
     }else{
      document.getElementById('mymodalNewMem').style.display = 'block';
      document.getElementById('mymodalNewMemFade').style.display = 'block';
      document.getElementById('newMember_text').innerHTML=val;
     }
   }
    function hideTips (){
     if(document.getElementById('help_div')){
       document.getElementById('help_div').style.display = "none";
     }
   }
</script>
-->
<script type="text/javascript">
           var d = new Date();
       y = d.getFullYear();
           $(function () {
               $('#datetimepicker5').datetimepickercustom({
                   pickTime: false,
         minDate:'1/1/1900',
                   maxDate:'12/31/'+y,
               });
           });
</script>
<script type="text/javascript">
 $(window).on('load', function () {
   $('.selectpicker').selectpicker();
 });
</script>
<script  type="text/javascript">
$(function() {
   $( '#slider' ).slider({
     min: 0,
     max: 1000000,
     values: [ 0  ],
     slide: function( event, ui ) {
       $( '#amount' ).val(  ui.values[ 0 ]   );
     }
   });
 });
</script>
<script  type="text/javascript">
$(function() {
   $( '#slider1' ).slider({
     min: 0,
     max: 1000000,
     values: [ 0  ],
     slide: function( event, ui ) {
       $( '#amount1' ).val(  ui.values[ 0 ]   );
     }
   });
 });
</script>
<script  type="text/javascript">
$(function() {
   $( '#slider2' ).slider({
     min: 0,
     max: 1000000,
     values: [ 0  ],
     slide: function( event, ui ) {
       $( '#amount2' ).val(  ui.values[ 0 ]   );
     }
   });
 });
</script>
