
<div class="menut">
  <div class="container relative">
    <div class=" row bgsec">
      <div class="  c-mt10px clearfix">
        <div class="col-sm-3 hidden-xs ">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="wwrap fleft  hidden-xs ">
            <tbody>
              <tr>
                <td class="fleft"  ><span class="      ico icoSave colorsec     mr5px"></span></td>
                <td class="fleft note"  ><a href="#">Save &amp; Email</a></td>
                <td class="fleft  " >&nbsp;&nbsp; </td>
                <td class="fleft  "><span class="ico  ico icoPrint colorsec  mr5px"></span></td>
                <td class="fleft   note"  ><a href="#">Print</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-3 col-xs-5">
          <div class=" visible-xs clearfix  fleft  mb5px">
            <p class="telno  "> <span class="ico icoCall"></span> 1300 265 374 </p>
          </div>
          <p class="hidden-xs"> <strong>Level <span class="red">$20</span></strong> per month </p>
        </div>
        <div class="col-sm-3 col-xs-7">
          <p class="   note fright"> <strong>Quote ID: COLI-999-9999</strong></p>
        </div>
        <div class="col-sm-3 col-xs-12">
          <p class="visible-xs"> <strong>Level <span class="red">$20</span></strong> per month </p>
          <div class="fright note mr10px hidden-xs"> Call 1300 265 374 for help </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/vicsuper/header.html'"></div>
</div>

<div class="container ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 467 875</h3>
      <h3 class="helpNo"> </h3>
    </div>
    
  </div>
  <div class=" col-sm-9">
 
    <div class="panel-group" id=" ">
      <div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href="" class="noarrow">
          <h4 class="panel-title">Application submitted</h4>
          </a> </div>
        <div id="collapseOne" class="panel-collapse collapse in   ">
          <div class="panel-body pb0"> 
            <div class="row rowcustom">
             <div class=" col-sm-12">
         <p align="justify">
         Thank you for your application to increase your cover under the New Member Option. Based on the information you have given us, your application has been provisionally approved. You will receive a letter with the official outcome in the next few days. 
		<br><br>
        Click  <a href="" ng-click="downloadPDF()"><strong>here</strong></a> to open an electronic version of your completed application form which you can save or print.
         <br><br>
         Please note that your accepted cover is subject to the terms, conditions and underwriting limits explained in the CareSuper Insurance Guide.
         <br><br>
         If you require any further information or assistance, please call the CareSuperLine on <span style="font-family:Swiss721BT-Medium">1300 360 149 </span>.
         </p>
            
            
            </div>
            </div>
            <div class="row     ">
             <div class=" col-sm-6 aligncenter coverbg borderright ">
             <h5 class="mb0">Application number</h5>
             <p>{{appNum}}</p>
             </div>
             
             <!--  <div class=" col-sm-4 aligncenter coverbg  borderright">
             <h5 class="mb0">cover starts</h5>
             <p> -- </p>
             </div> -->
         
              <div class=" col-sm-6 aligncenter coverbg ">
             <h5 class="mb0">Application</h5>
             <p> <span class="icoDoc"></span> <a href="" ng-click="downloadPDF()"> <strong>Download </strong></a></p>
             </div>
             </div>
            
            
          </div>
        </div>
      </div>
      
      
      
      
    </div>
     
    
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
           <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> We are happy to chat over the phone</p>
          <h3 class="helpNo alignleft"> 1300 467 875</h3>
          
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
 
<div class="c-footer hidden-xs">
  <div class="container">
   <div class="col-sm-2   "> <p class="footertext">&nbsp;  </p> </div>
    <div class="col-sm-7   ">
      <p class="footertext">HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
    </div>	
    <div class="col-sm-3   ">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a> 
        </p>
      </div>
    </div>
  </div>
</div>

 
  <div class="container visible-xs">
 
      <div class=" col-xs-12 aligncenter ">
        <p class="footerlinks"> <a href="http://hostplus.com.au/info/privacy-policy" class="" target="_new">Privacy policy</a>
         | <a href="http://hostplus.com.au/info/disclaimer" class="" target="_new" >Disclaimer</a> 
        </p>
        <p class="footertext"> HOSTPLUS Pty Limited ABN 79 008 634 704, AFSL No. 244392.</p>
      </div>
   <p class="spacer">&nbsp;</p>
  </div>
 

<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script>

