<div ng-show="pageLoad">
        <div class="container ">
<!--   <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>
      <p class="helpTxt">We are happy to chat over the phone</p>
      <h3 class="helpNo">1300 366 216</h3>
      <h3 class="helpNo"> </h3>
    </div>
  </div> -->
  <div class=" col-sm-9">
	<p  class="color3"><Strong>Insurance premium calculator</Strong></p>
     <!--Contact Details Section starts  -->
      <!-- <div class="panel-group" id="accordionContact"> -->
      <div class="panel panel-default">
         <div class="panel-body">
        <div class="row rowcustom first" >
              <div class="col-sm-12" >
                <label class="control-label"> Use the premium calculator to select the most appropriate cover for you.</label>
           </div>
           </div>
           <form autocomplete="off"  name="occupationForm" id="occupFormId" novalidate role="form"> 
        <hr class="primeline">
        <div class="row rowcustom "  ng-class="{'has-error': (occupationForm.birthDate.$error.required && occupationForm.birthDate.$touched) || (occupationForm.$submitted && occupationForm.birthDate.$error.required ) || (noDate || futureDate || dobOutsideBoundry || dobOutsideTPD || dobOutsideIP)}">
              <div class="col-sm-4 col-sm-12" >
                <label class="control-label"> Date of birth</label>
           </div>
           <div class="col-sm-6 col-sm-12">
           <!-- <fieldset ng-disabled = "true"> -->
           <input class="form-control" type="text" maxlength="10" name="birthDate" ng-blur="validateDateOfBirth()" ng-model="birthDate"  required>
           <!-- </fieldset> -->
           <span class="error" ng-if="noDate">Please enter a valid date.</span>
           <span class="error" ng-if="futureDate">Please enter a valid date.BirthDate cannot be in future</span>
           <span class="error" ng-if="dobOutsideBoundry"><ul><li>You are not eligible for death cover due to your age.</li><li>You are not eligible for Total & permanent disablement cover due to your age.</li><li>You are not eligible for Income protection cover due to your age</li></ul></span>
           <span class="error" ng-if="dobOutsideTPDIP && !dobOutsideBoundry"><ul><li>You are not eligible for Total & permanent disablement cover due to your age.</li><li>You are not eligible for Income protection cover due to your age</li></ul></span>
           <!-- <span class="error" ng-if="dobOutsideIP && !dobOutsideTPD && !dobOutsideBoundry">You are not eligible for Income Protection cover due to your age</span> -->
           </div>
           </div>
       <!-- <form autocomplete="off"  name="occupationForm" id="occupFormId" novalidate role="form">  -->
           <hr class="primeline">
        <div class="row rowcustom " ng-class="{'has-error':(occupationForm.gender.$error.required && occupationForm.gender.$touched) || (occupationForm.$submitted && occupationForm.gender.$error.required )}">
        <div class="col-lg-4 col-md-12" >
                    <label class="control-label"> Gender</label>
                    </div>
                  <div class="col-lg-6 col-md-12" >  
                  <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                        <label class="btn radiobutton" ng-class="{'active': (genderPremCalc == 'Male')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','occupationForm')"
                       ng-class = "(occupationForm.gender.$error.required && occupationForm.gender.$touched) || (occupationForm.$submitted && occupationForm.gender.$error.required)  ? 'radio-validation':''"
                      ng-model="genderPremCalc" value="Male" required ng-change="calculateOnChange()">
                          <span></span> Male </label>
                         </div>
                      <div class="col-xs-12 col-md-6">
                        <label class="btn   radiobutton" ng-class="{'active': (genderPremCalc == 'Female')}">
                          <input type="radio" name="gender" class="ipradio" ng-click="checkPreviousMandatoryFields('gender','occupationForm')"
                       ng-class = "(occupationForm.gender.$error.required && occupationForm.gender.$touched) || (occupationForm.$submitted && occupationForm.gender.$error.required)  ? 'radio-validation':''"
                      ng-model="genderPremCalc" value="Female" required ng-change="calculateOnChange()">
                          <span></span> Female </label>
                        </div>
                  </div>
                  </div>
              </div>
                
        <hr class="primeline">
        <div class="row rowcustom" ng-class="{'has-error':(occupationForm.fourteenHrsQuestion.$error.required && occupationForm.fourteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fourteenHrsQuestion.$error.required )}">
              <div class="col-xs-12 col-sm-6">
                <label class="control-label"> Do you work 14 hours or more per week? </label>
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.fifteenHr == 'Yes')}">
                      <input type="radio" name="fourteenHrsQuestion "  class="ipradio" ng-click="checkPreviousMandatoryFields('fourteenHrsQuestion','occupationForm')"
                       ng-class = "(occupationForm.fourteenHrsQuestion.$error.required && occupationForm.fourteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fourteenHrsQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.fifteenHr" type="radio" value="Yes" ng-change="toggleIPCondition()" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.fifteenHr == 'No')}">
                      <input type="radio" name="fourteenHrsQuestion"  class="ipradio" ng-click="checkPreviousMandatoryFields('fourteenHrsQuestion','occupationForm')"
                       ng-class = "(occupationForm.fourteenHrsQuestion.$error.required && occupationForm.fourteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fourteenHrsQuestion.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.fifteenHr" type="radio" value="No" ng-change="toggleIPCondition()" required>
                      <span></span> No
                    </label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.fourteenHrsQuestion.$error.required && occupationForm.fourteenHrsQuestion.$touched) || (occupationForm.$submitted && occupationForm.fourteenHrsQuestion.$error.required )">Please select Yes or No</span>
              </div>
            </div>
 
            <hr class="primeline">
            <div class="row rowcustom first">
	              <div class="col-sm-12">
	                <label class="control-label"><b>1. Are the duties of your regular occupation limited to either:</b></label>
	              </div>
	            </div>
	            <!-- Row ends -->
				
			 <div class="row rowcustom" ng-class="{'has-error':(occupationForm.occoffmangerating1A.$error.required && occupationForm.occoffmangerating1A.$touched) || (occupationForm.$submitted && occupationForm.occoffmangerating1A.$error.required )}">
              <div class="col-sm-12">
                <!-- <label class="control-label">Are you a citizen or permanent resident of Australia?</label> -->
                <label class="control-label">a) Professional, managerial, administrative, clerical or similar 'white collar' duties which are undertaken in an office environment for at least 90% of your regular working hours, or managerial duties within an educational institution (ie school principal or deputy principal)?</label>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.occRating1a == 'Yes')}">
                      <input name="occoffmangerating1A" class="ipradio" ng-click="checkPreviousMandatoryFields('occoffmangerating1A','occupationForm')"
                       ng-class = "(occupationForm.occoffmangerating1A.$error.required && occupationForm.occoffmangerating1A.$touched) || (occupationForm.$submitted && occupationForm.occoffmangerating1A.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.occRating1a" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.occRating1a == 'No')}">
                      <input name="occoffmangerating1A" class="ipradio" ng-click="checkPreviousMandatoryFields('occoffmangerating1A','occupationForm')"
                       ng-class = "(occupationForm.occoffmangerating1A.$error.required && occupationForm.occoffmangerating1A.$touched) || (occupationForm.$submitted && occupationForm.occoffmangerating1A.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.occRating1a" type="radio" value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.occoffmangerating1A.$error.required && occupationForm.occoffmangerating1A.$touched) || (occupationForm.$submitted && occupationForm.occoffmangerating1A.$error.required )">Please select Yes or No</span>
              </div>
            </div>                        
            &nbsp;&nbsp;&nbsp;&nbsp;or           
            
            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.occoffmangerating1B.$error.required && occupationForm.occoffmangerating1B.$touched) || (occupationForm.$submitted && occupationForm.occoffmangerating1B.$error.required )}">
              <div class="col-sm-12">
                <!-- <label class="control-label">Are you a citizen or permanent resident of Australia?</label> -->
                <label class="control-label">b) Educational duties performed within a school or other educational institution(other than a school principal or deputy principal)?</label>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.occRating1b == 'Yes')}">
                      <input name="occoffmangerating1B" class="ipradio" ng-click="checkPreviousMandatoryFields('occoffmangerating1B','occupationForm')"
                       ng-class = "(occupationForm.occoffmangerating1B.$error.required && occupationForm.occoffmangerating1B.$touched) || (occupationForm.$submitted && occupationForm.occoffmangerating1B.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.occRating1b" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.occRating1b == 'No')}">
                      <input name="occoffmangerating1B" class="ipradio" ng-click="checkPreviousMandatoryFields('occoffmangerating1B','occupationForm')"
                       ng-class = "(occupationForm.occoffmangerating1B.$error.required && occupationForm.occoffmangerating1B.$touched) || (occupationForm.$submitted && occupationForm.occoffmangerating1B.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.occRating1b" type="radio" value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.occoffmangerating1B.$error.required && occupationForm.occoffmangerating1B.$touched) || (occupationForm.$submitted && occupationForm.occoffmangerating1B.$error.required )">Please select Yes or No</span>
              </div>
            </div>
            
             <!-- Row starts -->
	            <div class="row rowcustom first">
	              <div class="col-sm-12">
	                <label class="control-label"><b>2. Do you:</b></label>
	              </div>
	            </div>
	            
	            <div class="row rowcustom" ng-class="{'has-error':(occupationForm.occgovrating2.$error.required && occupationForm.occgovrating2.$touched) || (occupationForm.$submitted && occupationForm.occgovrating2.$error.required )}">
              <div class="col-sm-12">
                <!-- <label class="control-label">Are you a citizen or permanent resident of Australia?</label> -->
                <label class="control-label">a) hold a tertiary qualification, or are you a registered member of a professional institute or governing body in relation to your profession?</label>
              </div>
               &nbsp;&nbsp;&nbsp;&nbsp;or  
              <div class="col-sm-12">            
                           
                <label class="control-label">b) work in a management role?</label>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="btn-group">
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.occRating2 == 'Yes')}">
                      <input name="occgovrating2" class="ipradio" ng-click="checkPreviousMandatoryFields('occgovrating2','occupationForm')"
                       ng-class = "(occupationForm.occgovrating2.$error.required && occupationForm.occgovrating2.$touched) || (occupationForm.$submitted && occupationForm.occgovrating2.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.occRating2" type="radio" value="Yes" required>
                      <span></span>Yes</label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label class="btn  radiobutton" ng-class="{'active': (QPD.occupationDetails.occRating2 == 'No')}">
                      <input name="occgovrating2" class="ipradio" ng-click="checkPreviousMandatoryFields('occgovrating2','occupationForm')"
                       ng-class = "(occupationForm.occgovrating2.$error.required && occupationForm.occgovrating2.$touched) || (occupationForm.$submitted && occupationForm.occgovrating2.$error.required)  ? 'radio-validation':''"
                      ng-model="QPD.occupationDetails.occRating2" type="radio" value="No" required>
                      <span></span> No </label>
                  </div>
                </div>
                <span class="error" ng-if="(occupationForm.occgovrating2.$error.required && occupationForm.occgovrating2.$touched) || (occupationForm.$submitted && occupationForm.occgovrating2.$error.required )">Please select Yes or No</span>
              </div>
            </div>

              <hr class="primeline">
           <div class="row rowcustom" ng-class="{'has-error':(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required ) || (invalidSalAmount)}">
              <div class="col-sm-5 col-xs-12">
                <label class="control-label">3. What is your annual income? <a class="icohelp"	ng-click="clickToOpen('<ol><li>If you are self-employed, income means the amount that is generated by the business due to the  your own personal exertion activity, after all expenses in earning that amount have been deducted, averaged over the previous 12 months, or</li><li>If you are  employed on a permanent basis, income means the total remuneration last agreed between the you and your employer including fringe benefits; or</li><li>If you are a  contractor, or a casual, means the average income earned during the previous 12 months</li></ol></br>For any of the three types above, Income does not include any commissions, bonuses, investment and interest income and superannuation guarantee contributions.')"></a></label>
                <!-- <span id="tick 1" style=" visibility:hidden"> <span class="tickforms visible-xs"></span><span class="tickforms mrm25px hidden-xs"></span></span> --> </div>
              <!-- <div class="col-sm-5 col-xs-12">
                <div class="slidercover">
                  <div id="slider1" class="slider"></div>
                  <div class="sliderin"></div>
                  <div class="leftval hidden-xs">0</div>
                  <div class="rightval hidden-xs">1,000,000</div>
                </div>
              </div>
              <p class="spacer visible-xs">&nbsp; </p> -->
              <div class="col-sm-3 col-xs-12">
                <input type="text" ng-model-options="modelOptions" id="annualSalCCId" format="number" onkeyup="return isNumeric('annualSalCCId');" onkeypress="return isNumeric('annualSalCCId');"  name="annualSalary" maxlength="9" class="form-control dollar" ng-change="checkAnnualSalary()"  ng-focus="checkPreviousMandatoryFields('annualSalary','occupationForm')"  ng-class = "(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required)  ? 'error-border':''" ng-model="QPD.occupationDetails.salary" required>
              <span class="error" ng-if="(occupationForm.annualSalary.$error.required && occupationForm.annualSalary.$touched) || (occupationForm.$submitted && occupationForm.annualSalary.$error.required )">Please enter your Annual Salary</span>
              <span class="error" ng-if="invalidSalAmount">If your income is greater than $1,000,000 per year, please contact VicSuper.</span>              
              <label class="helpHintLabel">Insert gross salary (ieyour salary before tax)</label>
              </div>

            </div>
            
          </form>  
		</div>
      <!-- Cover Calculator section starts -->

      <div class="panel panel-default"  >
        <div class="panel-heading" ng-click="isCollapsible('collapseThree', $event);setCoverCalculatorOptions();"> <a data-toggle="collapse"  data-target="#collapseThree" class=" collapsed ">
          <h4 class="panel-title">Covers &amp; cost</h4>
          </a> </div>
        <div id="collapseThree" class="panel-collapse collapse">

        <form autocomplete="off" name="coverCalculatorForm" novalidate id="coverCalFormId" role="form">
          <div class="panel-body">           
            <div class="row rowcustom">
              <div class="col-sm-12">
                <label class="control-label">Use the premium calculator to select the most appropriate cover for you.</label>
              </div>
            </div>
            <hr class=" primeline">
            <div class="">
              <div class="row rowcustom" ng-class="">
                <div class="col-xs-12">
                  <label class="control-label">Display the cost of my insurance cover as </label>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="select">
                    <select  class="form-control" name="premFreq" id="coverId"  ng-change="calculateOnChange()" ng-model="QPD.freqCostType" ng-options="premiumFrequencyOption for premiumFrequencyOption in premiumFrequencyOptions track by premiumFrequencyOption">
                    </select>
                    <div class="select__arrow"></div>
                    <span class="error" ng-if="">Please select  Cover what you want.</span>
                  </div>
                  <label class="helpHintLabel">Select weekly, monthly or yearly premium frequency</label>
                </div>
              </div>
            </div>
            <hr class=" primeline">
            <div class="row rowcustom">
              <div class="col-sm-12">
                <label class="control-label">What cover do you require?</label>
              </div>
            </div>
            <div class=" btn-group-vertical heading">
              <div class="row rowcustom" >
                <div class="col-sm-12 checkboxes1">
                  <label class="active checkboxes btn cover-calc-header" id="deathsection" ng-disabled="QPD.isDeathDisabled">
                    <input type="checkbox" id="option3" name="coverDet" id="coverDetId">
                    <p class="col2 m0 ">Death</p>
                    <!-- <p class="col2 m0 alignright normal" ng-if="!QPD.isDeathDisabled && !isEmpty(QPD.existingDeathUnits)">Existing Cover {{QPD.existingDeathAmt | currency:undefined:0}} ({{QPD.existingDeathUnits}} Unit(s)) &nbsp;&nbsp;</p>
                    <p class="col2 m0 alignright normal" ng-if="!QPD.isDeathDisabled && isEmpty(QPD.existingDeathUnits)">Existing Cover {{QPD.existingDeathAmt | currency:undefined:0}} (fixed) &nbsp;&nbsp;</p> -->
                  </label>
                </div>
              </div>
            </div>
            <div class="" id="death" ng-if="!QPD.isDeathDisabled">
              <div class=" secrow ">
              
              <div class="row rowcustom" ng-if="QPD.ownOccuptionDeath">
                  <div class="col-sm-6 col-xs-12">                  
                    </div>                
                  <div class="col-sm-6 col-xs-12">
                      <label class="control-label"><b>Own occupation applies</b></label>               
                  </div>                 
                </div>
              
                <div class="row rowcustom" ng-class="{'has-error':(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required )}">
                  <div class="col-sm-6 col-xs-12">
                    <label class="control-label"> Select cover type <a class="icohelp"	ng-click="clickToOpen('With fixed cover, your cover amount stays the same, but your premiums will increase with age.</br></br>With unit based cover, your cover amount will decrease with age, but your premiums per unit will remain the same.')"></a> </label>
                    <div class="btn-group" >
                      <div class="col-xs-12 col-md-6">
                        <label ng-disabled="isDCCoverTypeDisabled" radio-sync="Fixed" class="btn  radiobutton" onclick="showhide('dollar','nodollar')" ng-class="{'active': (QPD.addnlDeathCoverDetails.deathCoverType=='DcFixed')}">
                          <input  type="radio" name="coverType" ng-change="syncRadios('Fixed')" data-sync="Fixed" id="option1" class="ipradio" ng-focus="checkPreviousMandatoryFields('coverType','coverCalculatorForm')"
                           ng-class = "(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required)  ? 'radio-validation':''"
                           ng-model="QPD.addnlDeathCoverDetails.deathCoverType" value="DcFixed" ng-required="!isDCCoverTypeDisabled">
                          <span></span> Fixed
                         </label>
                      </div>
                      <div class="col-xs-12 col-md-6">
                          <label ng-disabled="isDCCoverTypeDisabled" radio-sync="Unitised" class="btn   radiobutton" onclick="showhide('nodollar','dollar')" ng-class="{'active': (QPD.addnlDeathCoverDetails.deathCoverType=='DcUnitised')}">
                            <input  type="radio" name="coverType" ng-change="syncRadios('Unitised')" data-sync="Unitised" id="option2" class="ipradio" ng-focus="checkPreviousMandatoryFields('coverType','coverCalculatorForm')"
                      		 ng-class = "(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required)  ? 'radio-validation':''"
                     		 ng-model="QPD.addnlDeathCoverDetails.deathCoverType" value="DcUnitised" ng-required="!isDCCoverTypeDisabled">
                            <span></span> Unit based
                          </label>
                        <span class="error" ng-if="(coverCalculatorForm.coverType.$error.required && coverCalculatorForm.coverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.coverType.$error.required )">Please select Cover type</span>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-sm-6 col-xs-12" ng-class = "(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag? 'has-error':''">
                    <label class="control-label"> Select level of cover required </label>
                    <input type="text" ng-model-options="modelOptions" id="dollar" format="number" name="requireCover" class="form-control dollar" onkeyup="return isNumeric('dollar');" onkeypress="if(this.value.length==8) return false;"
                       ng-focus="checkPreviousMandatoryFields('requireCover','coverCalculatorForm')"
                       ng-class = "(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag ? 'error-border':''"
                       ng-model="QPD.addnlDeathCoverDetails.deathInputTextValue" ng-change="validateDeathTpdIpAmounts()" ng-disabled="isDCCoverRequiredDisabled"  ng-required="!isDCCoverRequiredDisabled" >
					
                    <input type="text" ng-model-options="modelOptions" id="nodollar"  ng-change="validateDeathTpdIpAmounts()" ng-model="QPD.addnlDeathCoverDetails.deathInputTextValue"  name="requireCover"
                      style="display:none" class="form-control" ng-disabled="isDCCoverRequiredDisabled" ng-required="!isDCCoverRequiredDisabled"
                      onkeyup="return isNumeric('nodollar');" onkeypress="if(this.value.length==3) return false;"
                      ng-focus="checkPreviousMandatoryFields('requireCover','coverCalculatorForm')"
                      ng-class = "(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.requireCover.$error.required) || (coverCalculatorForm.$submitted && deathErrorFlag) || deathErrorFlag? 'error-border':''">
                   <span ng-if="QPD.addnlDeathCoverDetails.deathCoverType == 'DcUnitised'" class='cover-units'>units</span>
                    <span class="error" ng-if="(coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$touched || coverCalculatorForm.requireCover.$error.required && coverCalculatorForm.requireCover.$pristine)">Please select required Cover</span>
                    
                    <span class="error" ng-if="deathErrorFlag">{{deathErrorMsg}}</span>
<!--                      <div class="row rowcustom" ng-if="dthWarnMsg"> -->
<!--                 	<div class="col-xs-1 ip-warning-exceeded"> -->
<!--                 		<img src="static/vicsuper/images/warning.png"> -->
<!--                 	</div> -->
<!--                   <div class="col-xs-11"> -->
<!--                   	<label class="control-label">You can't decrease the cover when age is beyond limits</label> -->
<!--                   </div> -->
<!--                 </div> -->
                  </div>
                 
                  <div class="col-xs-12">
                    <p class="note mt10px" ng-if="QPD.addnlDeathCoverDetails.deathCoverType == 'DcFixed'" id="fxd"> With fixed cover, your cover stays the same up to age 60. However, your premiums will increase with age. </p>
                    <p class="note mt10px" ng-if="QPD.addnlDeathCoverDetails.deathCoverType == 'DcUnitised'" id="untd"> With unit based cover, you pay a set price for each unit of cover and the cover value for each unit reduces as you get older. </p>
                  </div>
                </div>
                <hr class="primeline">
                
                <div class="row  coverbg">
                  <div class="col-sm-3 col-xs-6">
                    <h5>Sum insured</h5>
                  </div>
                  <div class="col-sm-3 alignright borderright col-xs-6">
                    <h4 class="coverval">{{QPD.addnlDeathCoverDetails.deathFixedAmt | currency}}</h4>
                  </div>
                  <div class="line mob "></div>
                  <div class="col-sm-3 col-xs-6">
                    <h5>{{QPD.freqCostType}} cost</h5>
                  </div>
                  <div class="col-sm-3 alignright col-xs-6">
                    <h4 class="coverval">{{QPD.addnlDeathCoverDetails.deathCoverPremium | currency}}</h4>
                  </div>
                </div>
              </div>
            </div>
        <div class="row rowcustom" ng-if="QPD.isDeathDisabled">
		  		<div class="col-sm-12">
			      <img src="/eapply/static/vicsuper/images/warning.png" >
            <label class="control-label"> You are not eligible for Death cover due to your age </label>
		  		</div>
		  	</div>
		  	<p class="spacer">&nbsp;</p>
        <div class=" btn-group-vertical heading">
          <div class="row rowcustom">
            <div class="col-sm-12 checkboxes1">
               <label class="active checkboxes btn cover-calc-header" id="tpdsection" ng-disabled="QPD.isTPDDisabled">
                <input type="checkbox" id="perDisplacementId" name="perDisplacement">
                <p class="col2 m0 ">Total &amp; permanent disablement</p>
                <!-- <p class="col2 m0 alignright normal" ng-if="!QPD.isTPDDisabled && !isEmpty(QPD.existingTPDUnits)">Existing Cover {{QPD.existingTpdAmt | currency:undefined:0}} ({{QPD.existingTPDUnits}} Unit(s)) &nbsp;&nbsp;</p>
                <p class="col2 m0 alignright normal" ng-if="!QPD.isTPDDisabled && isEmpty(QPD.existingTPDUnits)">Existing Cover {{QPD.existingTpdAmt | currency:undefined:0}} (fixed) &nbsp;&nbsp;</p> -->
               </label>
            </div>
          </div>
        </div>
        <div class="" id="tpd" ng-if="!QPD.isTPDDisabled">
          <div class="secrow">
          
          		<div class="row rowcustom" ng-if="QPD.ownOccuptionTpd">
                  <div class="col-sm-6 col-xs-12">                  
                    </div>                
                  <div class="col-sm-6 col-xs-12">
                      <label class="control-label"><b>Own occupation applies</b></label>               
                  </div>                 
                </div>
          
            <div class="row rowcustom"  ng-class="{'has-error':(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required )}">
              <div class="col-sm-6 col-xs-12">
                <label class="control-label"> Select cover type <a class="icohelp"	ng-click="clickToOpen('With fixed cover, your cover amount stays the same, but your premiums will increase with age.</br></br>With unit based cover, your cover amount will decrease with age, but your premiums per unit will remain the same.')"></a>  </label>
              
                <div class="btn-group" >
                  <div class="col-xs-12 col-md-6">
                    <label  ng-disabled="isTPDCoverTypeDisabled" radio-sync="Fixed" class="btn radiobutton"  onclick="showhide('dollar1','nodollar1')" ng-class="{'active': (QPD.addnlTpdCoverDetails.tpdCoverType=='TPDFixed')}">
                      <input type="radio" name="tpdCoverType" ng-change="syncRadios('Fixed')" data-sync="Fixed" id="option1" class="ipradio" ng-focus="checkPreviousMandatoryFields('tpdCoverType','coverCalculatorForm')"
                       ng-class = "(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required)  ? 'radio-validation':''"
                       ng-model="QPD.addnlTpdCoverDetails.tpdCoverType" value="TPDFixed" ng-required="!isTPDCoverTypeDisabled">
                      <span></span> Fixed </label>
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <label ng-disabled="isTPDCoverTypeDisabled" radio-sync="Unitised" class="btn radiobutton"  onclick="showhide('nodollar1','dollar1')" ng-class="{'active': (QPD.addnlTpdCoverDetails.tpdCoverType=='TPDUnitised')}">
                      <input type="radio" name="tpdCoverType" ng-change="syncRadios('Unitised')" data-sync="Unitised" id="option2" class="ipradio"  ng-focus="checkPreviousMandatoryFields('tpdCoverType','coverCalculatorForm')"
                  		 ng-class = "(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required)  ? 'radio-validation':''"
                 		 ng-model="QPD.addnlTpdCoverDetails.tpdCoverType" value="TPDUnitised" ng-required="!isTPDCoverTypeDisabled">
                      <span></span> Unit based </label>
                      <span class="error" ng-if="(coverCalculatorForm.tpdCoverType.$error.required && coverCalculatorForm.tpdCoverType.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.tpdCoverType.$error.required )">Please select Cover type</span>
                  </div>
                </div>
              </div>
            
             <div class="col-sm-6 col-xs-12" ng-class = "(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.TPDRequireCover.$pristine && coverCalculatorForm.TPDRequireCover.$error.required ) || tpdErrorFlag ? 'has-error':''">
                <label class="control-label"> Select level of cover required </label>
                <input id="dollar1" type="text" ng-model-options="modelOptions" format="number" name="TPDRequireCover" class="form-control dollar" onkeyup="return isNumeric('dollar1');" onkeypress="if(this.value.length==7) return false;"
                   ng-focus="checkPreviousMandatoryFields('TPDRequireCover','coverCalculatorForm')"
                   ng-class = "(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required) || (coverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag ? 'error-border':''"
                   ng-model="QPD.addnlTpdCoverDetails.tpdInputTextValue" ng-change="validateDeathTpdIpAmounts()" ng-disabled="isTPDCoverRequiredDisabled" ng-required="!isTPDCoverRequiredDisabled">
                <input type="text" ng-model-options="modelOptions" id="nodollar1" name="TPDRequireCover"  class="form-control"   style="display:none"
                    onkeyup="return isNumeric('nodollar1');" onkeypress="if(this.value.length==3) return false;"
                    ng-focus="checkPreviousMandatoryFields('TPDRequireCover','coverCalculatorForm')"
                    ng-class = "(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.TPDRequireCover.$error.required) || (coverCalculatorForm.$submitted && tpdErrorFlag) || tpdErrorFlag ? 'error-border':''"
                    ng-model="QPD.addnlTpdCoverDetails.tpdInputTextValue" ng-change="validateDeathTpdIpAmounts()"  ng-disabled="isTPDCoverRequiredDisabled" ng-required="!isTPDCoverRequiredDisabled">
                   <span ng-if="QPD.addnlTpdCoverDetails.tpdCoverType == 'TPDUnitised'" class='cover-units'>units</span>
                   <span class="error" ng-if="(coverCalculatorForm.TPDRequireCover.$error.required && coverCalculatorForm.TPDRequireCover.$touched) || (coverCalculatorForm.TPDRequireCover.$pristine && coverCalculatorForm.TPDRequireCover.$error.required )">Please select required Cover</span>
                   <span class="error" ng-if="tpdErrorFlag">{{tpdErrorMsg}}</span>
<!--              <div class="row rowcustom" ng-if="tpdWarnMsg"> -->
<!--                 	<div class="col-xs-1 ip-warning-exceeded"> -->
<!--                 		<img src="static/vicsuper/images/warning.png"> -->
<!--                 	</div> -->
<!--                   <div class="col-xs-11"> -->
<!--                   	<label class="control-label">You can't decrease the cover when age is beyond limits</label> -->
<!--                   </div> -->
<!--                 </div> -->
              </div>
              
              <div class="col-xs-12">
                <p class="note mt10px" ng-if="QPD.addnlTpdCoverDetails.tpdCoverType == 'TPDFixed'" id="fxd1"> With fixed cover, your cover stays the same up to age 60. However, your premiums will increase with age. </p>
                <p class="note mt10px" ng-if="QPD.addnlTpdCoverDetails.tpdCoverType == 'TPDUnitised'" id="untd1"> With unit based cover, you pay a set price for each unit of cover and the cover value for each unit reduces as you get older. </p>
              </div>
            </div>
                
                <hr class="primeline">
             
            <div class="row  coverbg ">
              <div class="col-sm-3 col-xs-6">
                <h5>Sum insured</h5>
              </div>
              <div class="col-sm-3 alignright borderright col-xs-6">
                <h4 class="coverval">{{QPD.addnlTpdCoverDetails.tpdFixedAmt | currency}}</h4>
              </div>
              <div class="line mob "></div>
              <div class="col-sm-3 col-xs-6">
                <h5>{{QPD.freqCostType}} cost</h5>
              </div>
              <div class="col-sm-3 alignright col-xs-6">
                <h4 class="coverval">{{QPD.addnlTpdCoverDetails.tpdCoverPremium | currency}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row rowcustom" ng-if="QPD.isTPDDisabled">
		  		<div class="col-sm-12">
			      <img src="/eapply/static/vicsuper/images/warning.png" >
            <label class="control-label"> You are not eligible for TPD cover due to your age </label>
		  		</div>
		  	</div>
        <div class=" btn-group-vertical heading">
          <div class="row rowcustom"  >
            <div class="col-sm-12 checkboxes1">
              <label class="active checkboxes btn cover-calc-header" ng-disabled="QPD.isIPDisabled" id="ipsection">
                <input type="checkbox" id="option3" class=" ">
                <p class="col2 m0">Income protection</p>
<!--                 <p class="col2 alignright normal m0" ng-if="!QPD.isIPDisabled">Existing Cover {{QPD.existingIPAmount | currency:undefined:0}} ({{QPD.existingIPUnits}} Unit(s)) &nbsp;&nbsp; </p> -->
                
              </label>
            </div>
          </div>
        </div>
        <div class="row rowcustom" ng-if="ipWarning">
		  		<div class="col-sm-12">
            <div class="control-label row">
              <div class="col-xs-1 text-right">
              	<img src="/eapply/static/vicsuper/images/warning.png">
              </div>
              <div class="col-xs-10 ip-warning-text">
                <span class="custom-checkbox-label">You are not eligible to increase your Income protection due to your age or working hours(you need to work more than 14 hours per week).</span>
              </div>
            </div>
		  		</div>
			  </div>
        <div class="" id="sc" ng-if="!QPD.isIPDisabled">
          <div class=" secrow ">
            <div class="row rowcustom ">
              <div class="col-sm-6">
                <div data-toggle="buttons" class="btn-group-vertical">
                  <label class="btn checkboxes col-xs-12 ack-checkbox-label" id="ipsalarychecklabel" ng-disabled="isIpSalaryCheckboxDisabled" ng-click="insureEightyFivePercentIp()">
                    <input type="checkbox" class=" " id="ipsalarycheck" ng-disabled="isIpSalaryCheckboxDisabled">
                    <span></span>
                    <div class="custom-checkbox-label">Insure 85% of my salary </div>
                  </label>
                </div>
              </div>
              <div class="relative fleft ml10px">
                  <a class="icohelp mt5px" ng-click="clickToOpen('Tick this box if you wish to insure up to 85% of your monthly salary. Note that a maximum of 75% will be payable to you; the remainder will be paid as a super contribution to your <strong>VicSuper FutureSaver</strong> account.')"></a>
              </div>
            </div>
            <hr class="primeline">
            <div class="row rowcustom">
              <div class="col-sm-4 col-xs-12 mmb10px">
                <label class="control-label"> Waiting period </label>
                <div class="select">
                  <select ng-disabled="isWaitingPeriodDisabled" class="form-control" ng-model="QPD.addnlIpCoverDetails.waitingPeriod" ng-options="waitingPeriodOption for waitingPeriodOption in waitingPeriodOptions track by waitingPeriodOption" ng-change="checkBenefitPeriod()"></select>
                  <div class="select__arrow"></div>
                </div>
              </div>
              <div class="col-sm-4 col-xs-12 mmb10px">
                <label class="control-label"> Benefit period </label>
                <div class="select">
                  <select ng-disabled="isBenefitPeriodDisabled" class="form-control" ng-model="QPD.addnlIpCoverDetails.benefitPeriod" ng-options="benefitPeriodOption for benefitPeriodOption in benefitPeriodOptions track by benefitPeriodOption" ng-change="checkBenefitPeriod()">
                  </select>
<!--                   <span class="error" ng-if="eligibleFrStIpFlag">Based on your nominated occupation a benefit period to Age 65 is not available for Income Protection. You may choose a shorter benefit period.</span> -->
                  <div class="select__arrow"></div>
                </div>
              </div>
            
              <div class="col-sm-4 col-xs-12">
                <label class="control-label"> Monthly cover required <a class="icohelp" ng-click="clickToOpen('The maximum amount will be the lesser of $30,000 per month or 85% of your monthly income')"></a></label>
                <div class="">
              		<input id="dollar2" ng-model-options="modelOptions" type="text" format="number" name="IPRequireCover" class="form-control" onkeyup="return isNumeric('dollar2');" onkeypress="if(this.value.length==3) return false;"
                   ng-focus="checkPreviousMandatoryFields('IPRequireCover','coverCalculatorForm')"
                   ng-class = "(coverCalculatorForm.IPRequireCover.$error.required && coverCalculatorForm.IPRequireCover.$touched) || (coverCalculatorForm.$submitted && coverCalculatorForm.IPRequireCover.$error.required) || (coverCalculatorForm.$submitted && ipErrorFlag) || ipErrorFlag ? 'error-border':''"
                   ng-model="QPD.addnlIpCoverDetails.ipInputTextValue" ng-change="checkForIpIncrease()" ng-disabled="isIPCoverRequiredDisabled" ng-required="!isIPCoverRequiredDisabled">
                   <span class="error" ng-if="(coverCalculatorForm.IPRequireCover.$error.required && coverCalculatorForm.IPRequireCover.$touched) || (coverCalculatorForm.IPRequireCover.$pristine && coverCalculatorForm.IPRequireCover.$error.required )" >Please enter required Cover</span>
                   <span  class='cover-units'>units</span>
                   <span class="error" ng-if="ipErrorFlag">{{QPD.ipErrorMsg}}</span>
                </div>
                <span class="clearfix"></span>
                <div class="row rowcustom" ng-if="ipWarningFlag && !ipWarning">
                	<div class="col-xs-1 ip-warning-exceeded">
                		<img src="/eapply/static/vicsuper/images/warning.png">
                	</div>
                  <div class="col-xs-11">
                  	<label class="control-label">The selected benefit exceeds your maximum limit, we have adjusted it to your eligible maximum</label>
                  </div>
                </div>
<!--                 <div class="row rowcustom" ng-if="ipWarn1Msg"> -->
<!--                 	<div class="col-xs-1 ip-warning-exceeded"> -->
<!--                 		<img src="static/vicsuper/images/warning.png"> -->
<!--                 	</div> -->
<!--                   <div class="col-xs-11"> -->
<!--                   	<label class="control-label">You can't decrease the cover when age is beyond limits</label> -->
<!--                   </div> -->
<!--                 </div> -->
              </div>
            </div>
             <hr class="primeline">
                
                <div class="row rowcustom" ng-if="QPD.ipOwnoccuption">
                  <div class="col-sm-6 col-xs-12">
                    <label class="control-label"> Apply own occupation rating? </label>
                   
                  </div>
                
                  <div class="col-sm-6 col-xs-12">
                    <div class="btn-group" >
                      <div class="col-xs-12 col-md-6">
                      <fieldset ng-disabled="ipOwnOccButton">
                        <label  radio-sync1="Yes" class="btn  radiobutton"   ng-class="{'active': (QPD.ownOccuptionIp=='Yes')}">
                          <input  type="radio" name="ownoccptn" ng-change="toggleOwnOccupation('Yes')" data-sync1="Yes" id="option1" class="ipradio"                           
                           ng-model="QPD.ownOccuptionIp" value="Yes" >
                          <span></span> Yes
                         </label>
                         </fieldset>
                      </div>
                      <div class="col-xs-12 col-md-6">
                          <label  radio-sync1="No" class="btn   radiobutton"  ng-class="{'active': (QPD.ownOccuptionIp=='No')}">
                            <input  type="radio" name="ownoccptn" ng-change="toggleOwnOccupation('No')" data-sync1="No" id="option2" class="ipradio"                       		 
                     		 ng-model="QPD.ownOccuptionIp" value="No" >
                            <span></span> No
                          </label>                       
                      </div>
                    </div>                   
                  </div>                 
                </div>
                
            
          <!--   <div class="row rowcustom " ng-if="enableIpDisclaimerSec && !QPD.isIPDisabled" ng-class="{'has-error':ipDisclFlagErr}">
									<div class="col-sm-12">
										<div class="btn-group-vertical" data-toggle="buttons">
				 
                           <label class="btn checkboxes col-xs-12 ack-checkbox-label" ng-class="{'active':QPD.ipDisclaimer}" id="ipDisclaimerLabel" ng-click="checkIpDisclaimer()">
                            <input type="checkbox" id="ipDisclaimer" name="ipdisclaimername" required>
                            <span></span>  <div class="custom-checkbox-label">the member is not a casual or contractor employee will be presented </div>
                           </label>
                           <p ng-if="ipDisclFlagErr" class="error" style="padding-top:5px;">Please acknowledge and consent to above.</p>
                        
					</div>
				</div>
			</div>   -->   
				    
            
            
            <div class="row  coverbg ">
              <div class="col-sm-3 col-xs-6">
                <h5>Sum insured</h5>
              </div>
              <div class="col-sm-3 alignright borderright col-xs-6">
                <h4 class="coverval">{{QPD.addnlIpCoverDetails.ipFixedAmt | currency}}</h4>
              </div>
              <div class="line mob "></div>
              <div class="col-sm-3 col-xs-6">
                <h5>{{QPD.freqCostType}} cost</h5>
              </div>
              <div class="col-sm-3 alignright col-xs-6">
                <h4 class="coverval">{{QPD.addnlIpCoverDetails.ipCoverPremium | currency}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row rowcustom" ng-if="QPD.isIPDisabled">
		  		<div class="col-sm-12">
			      <img src="/eapply/static/vicsuper/images/warning.png" >
            <label class="control-label"> You are not eligible for Income protection cover due to your age </label>
		  		</div>
		  	</div>
      
          <!-- Row ends -->

          <div class="row coverbg seccolor">
            <div class="col-xs-12 col-sm-5 fright">
              <h5 class="coverval fleft"> Total {{QPD.freqCostType | lowercase}} cost : </h5>
              <h4 class="coverval fleft ml10px"> {{QPD.totalPremium | currency}} </h4>
            </div>
          </div>
          <p class="spacer">&nbsp;</p>
         <!--  <div class=" row rowcustom">
	          <div class="col-xs-12">
		          <p class="note">
		          	<strong>Disclaimer: </strong> 
		          </p>
		          <p style="text-align:left;"> This represents the total cost of the cover you applied for based on your age and occupation category. This amount does not take into account any premium loading which may apply to your existing cover. The final cost of your total insurance cover will be notified to you in writing by VicSuper.</p>

	          </div>

          </div> -->

          <div class=" row rowcustom">
           <div>
              <div class="col-sm-4 col-xs-12">
                <button type="button" class="btn btn-primary w100p"
                ng-click="autoCalculate()">Calculate
                </button>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12" ng-if="autoCalc">
                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="generatePDF()">Print </button>
              </div>
              
            </div>
          </div>
          <p class="spacer">&nbsp;</p>
          </div>
          
          </form>
        </div>
      </div>
      <!-- Cover Calculator section ends -->

    </div>
    </div>
    </div>


</div>

