
<div class="menut">
  <div class="container relative">
    <div class=" row bgsec">
      <div class="  c-mt10px clearfix">
        <div class="col-sm-3 hidden-xs ">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="wwrap fleft  hidden-xs ">
            <tbody>
              <tr>
                <td class="fleft"  ><span class="      ico icoSave colorsec     mr5px"></span></td>
                <td class="fleft note"  ><a href="#">Save &amp; Email</a></td>
                <td class="fleft  " >&nbsp;&nbsp; </td>
                <td class="fleft  "><span class="ico  ico icoPrint colorsec  mr5px"></span></td>
                <td class="fleft   note"  ><a href="#">Print</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-3 col-xs-5">
          <div class=" visible-xs clearfix  fleft  mb5px">
            <p class="telno  "> <span class="ico icoCall"></span> 1300 265 374 </p>
          </div>
          <p class="hidden-xs"> <strong>Level <span class="red">$20</span></strong> per month </p>
        </div>
        <div class="col-sm-3 col-xs-7">
          <p class="   note fright"> <strong>Quote ID: COLI-999-9999</strong></p>
        </div>
        <div class="col-sm-3 col-xs-12">
          <p class="visible-xs"> <strong>Level <span class="red">$20</span></strong> per month </p>
          <div class="fright note mr10px hidden-xs"> Call 1300 265 374 for help </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/vicsuper/header.html'"></div>
</div>
<div class="container ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">Give our team a call on <strong>1300 366 216</strong> between 8:30am and 5:00pm Monday to Friday</p>
      <!-- <h3 class="helpNo">1300 467 875</h3> -->
      <h3 class="helpNo"> </h3>
    </div>
    
  </div>
  <div class=" col-sm-9">
 
    <div class="panel-group" id=" ">
      <div class="panel panel-default">
        <div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href="" class="noarrow">
          <h4 class="panel-title">Accepted for cover</h4>
          </a> </div>
        <div id="collapseOne" class="panel-collapse collapse in   ">
          <div class="panel-body pb0"> 
            <div class="row rowcustom">
             <div class=" col-sm-12">
         <p align="justify">
          Thank you for your application for the special insurance offer for new EmployeeSaver members of VicSuper FutureSaver. 
         <br><br>
         Your application has been accepted and your increased cover is in effect from today, subject to policy terms. Premium deductions will commence at the end of the month from your VicSuper FutureSaver account. 
         <br><br>
         
         <!-- Click  <a href="" ng-click="downloadPDF()"><strong>here</strong></a> to open an electronic version of your completed application form which you can save or print.
         <br><br> -->
         If you require any further information or assistance, call VicSuper on <span style='font-weight:bold;'>1300 366 216</span>.
         </p>
            
          <p class="helpHintLabel">An electronic version of your completed application form is available to download from this page. To ensure your personal information remains secure, this form requires a password to open. This password is your date of birth as DDMMYYYY.</p>  
            </div>
            </div>
            <div class="row     ">
             <div class=" col-sm-6 aligncenter coverbg borderright ">
             <h5 class="mb0">Application number</h5>
             <p>{{appNum}}</p>
             </div>
             
              <!-- <div class=" col-sm-4 aligncenter coverbg  borderright">
             <h5 class="mb0">cover starts</h5>
             <p> -- </p>
             </div> -->
         
              <div class=" col-sm-6 aligncenter coverbg ">
             <h5 class="mb0">Download a copy</h5>
             <p> <span class="icoDoc"></span> <a href="" ng-click="downloadPDF()"> <strong>Download </strong></a></p>
             </div>
             </div>
            
            
          </div>
        </div>
      </div>
      
      
      
      
    </div>
     
    
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> Give our team a call on <strong>1300 366 216</strong> between 8:30am and 5:00pm Monday to Friday</p>
          <!-- <h3 class="helpNo alignleft"> 1300 467 875</h3> -->
          
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
 
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-2">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-6">
      <p class="footertext">VicSuper Pty Ltd ABN 69 087 619 412, VicSuper Fund 85 977 964 496, AFSL No. 237333</p>
    </div>
    <div class="col-sm-4">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.vicsuper.com.au/privacy" target="_new">Privacy policy</a> | <a href="https://www.vicsuper.com.au/disclaimer" target="_new">Disclaimer</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
 <div class=" col-xs-12 aligncenter ">
   <p class="footerlinks"> <a href="https://www.vicsuper.com.au/privacy" target="_new">Privacy policy</a> | <a href="https://www.vicsuper.com.au/disclaimer" target="_new">Disclaimer</a> </p>
   <p class="footertext">VicSuper Pty Ltd ABN 69 087 619 412, VicSuper Fund 85 977 964 496, AFSL No. 237333</p>
 </div>
 <p class="spacer">&nbsp;</p>
</div>
 

<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script>

