﻿<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="images/favicon.ico">
<title>VicSuper</title>

<!-- Bootstrap core CSS -->
<!-- <link href="css/bootstrap.css" rel="stylesheet"> -->
<!-- <link href="css/docs.min.css" rel="stylesheet"> -->
<!-- <link rel="stylesheet" type="text/css" media="screen" href="css/datepicker.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-select.css"> -->

<!-- Custom styles for this template -->
<!-- <link href="css/custom.css" rel="stylesheet"> -->

<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="tooltip-demo">

<div class="c-header">
  <div class="container">
     <div class="col-sm-3 col-xs-6"><img src="static/vicsuper/images/logoApplication.png" class="img-responsive  c-logo" alt="MetLife Australia" /></div>
    <div class="col-sm-9 col-xs-6 hidden-xs menuBlock text-right">
      <!-- <div class="logout noborderleft pointer"><a  ng-click="navigateToLandingPage()" >Home</a> </div> -->
      <div><a target="_blank" title="Contact us" href="https://www.vicsuper.com.au/contact-us">Contact us</a> </div>
      <div>  <a target="_blank" title="About us" href="https://www.vicsuper.com.au/about-us">About us</a> </div>
    </div>
    <div class="col-xs-6 visible-xs text-right">
      <div class="menuBlockMobile"><a class="col-xs-12 form-group" target="_blank" title="About us" href="https://www.vicsuper.com.au/about-us">About us</a>
        <a class="col-xs-12 form-group" target="_blank" title="Contact us" href="https://www.vicsuper.com.au/contact-us">Contact us</a><br>
       </div>
    </div>
  </div>
</div>
<div class="container ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
<div class=" col-sm-3 fright hidden-xs">
  <div class="help-block">
    <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">Give our team a call on <strong>1300 366 216</strong> between 8:30am and 5:00pm Monday to Friday</p>
      <!-- <h3 class="helpNo">1300 467 875</h3> -->
      <h3 class="helpNo"> </h3>
  </div>
</div>
<div class=" col-sm-9">
  <div class="panel-group" id=" ">
    <div class="panel panel-default mt5px"> 
      <!--div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion" href=" " class=" ">
          <h4 class="panel-title"> Personal details </h4>
          </a> </div-->
      <div id="collapseOne" class="panel-collapse collapse in   ">
        <div class="panel-body">
          <div class="row rowcustom">
            <div class="col-sm-12">
              <h2 class="titleExpiry mt0">Session expiry</h2>
            </div>
          </div>
          <hr class="primeline">
          <div class="row rowcustom">
            <div class="col-sm-12">
              <p>Your session has expired due to inactivity.  Please log in again through MembersOnline.</p>
              <br>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft"> Give our team a call on <strong>1300 366 216</strong> between 8:30am and 5:00pm Monday to Friday</p>
          <!-- <h3 class="helpNo alignleft"> 1300 467 875</h3> -->
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 

<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-2">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-6">
      <p class="footertext">VicSuper Pty Ltd ABN 69 087 619 412, VicSuper Fund 85 977 964 496, AFSL No. 237333</p>
    </div>
    <div class="col-sm-4">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.vicsuper.com.au/privacy" target="_new">Privacy policy</a> | <a href="https://www.vicsuper.com.au/disclaimer" target="_new">Disclaimer</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
 <div class=" col-xs-12 aligncenter ">
   <p class="footerlinks"> <a href="https://www.vicsuper.com.au/privacy" target="_new">Privacy policy</a> | <a href="https://www.vicsuper.com.au/disclaimer" target="_new">Disclaimer</a> </p>
   <p class="footertext">VicSuper Pty Ltd ABN 69 087 619 412, VicSuper Fund 85 977 964 496, AFSL No. 237333</p>
 </div>
 <p class="spacer">&nbsp;</p>
</div>
</div>
</div>
<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/docs.min.js"></script> 
<script type="text/javascript" src="js/moment.js"></script> 
<script type="text/javascript" src="js/datetimepickercustom.js"></script> 
<script type="text/javascript" src="js/bootstrap-select.js"></script> 
<script src="js/custom.js"></script> 
<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script>
</body>
</html>
