<div ng-init="init()" ng-controller="header">
	<div ng-include="'../../eapply/static/vicsuper/header.html'"></div>
</div>

<div class="container hidden-xs ">
  <p class="spacer">&nbsp;</p>
</div>
<div class="container ">
  <div class="menumobile  visible-xs">
    <div class="col-xs-9">
      <div class="txtHolderMob"><span class="color2">3 / 3</span> Confirmation </div>
    </div>
    <div class="col-xs-3 nav-arrows"> 
    <img src="static/vicsuper/images/bg_blank.png" ng-click="go('/auratransfer/2')" class=" icoMenuRev active  "> 
    <img src="static/vicsuper/images/bg_blank.png" class=" icoMenuFwd  ml30p">
    </div>
  </div>
  <div class=" col-sm-3 fright hidden-xs">
    <div class="help-block">
      <h2 class="helpHead">Need help?</h2>     
      <p class="helpTxt">Give our team a call on <strong>1300 366 216</strong> between 8:30am and 5:00pm Monday to Friday</p>
      <!-- <h3 class="helpNo">1300 467 875</h3> -->
      <h3 class="helpNo"> </h3>
    </div>
     
  </div>
   <div class="col-sm-9 landingPageBoxes">
	    <div class="menu hidden-xs">
	       <div class="col-sm-4 nn ">
	        <h5 style="color:#0066a1">STEP 1</h5>
	        <div class="txtHolder pointer"> <a ng-click="go('/quotetransfer/2')"> Personal details</a> </div>
	        <img src="static/vicsuper/images/bg_blank.png" class=" right">
	       </div>
	        <div class="col-sm-4 nl">
	         <img src="static/vicsuper/images/bg_blank.png" class=" left">
	         <h5 style="color:#0066a1">STEP 2</h5>
	         <div class="txtHolder pointer"> <a ng-click="go('/auratransfer/2')"> Health &amp; lifestyle</a></div>
	         <img src="static/vicsuper/images/bg_blank.png" class=" right">
	        </div>
	        <div class="col-sm-4 cn">
	         <h5>STEP 3</h5>
	         <div class="txtHolder" style="color:#000"> Confirmation </div>
	         <img src="static/vicsuper/images/bg_blank.png" class=" left"> 
	        </div>
	     </div>
	     
	    <div class="panel-group" id=" ">
	      <div class="panel panel-default twoColData">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" class="  ">
	          	<h4 class="panel-title">Personal details </h4>
	          </a> 
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse in ">
	          <div class="panel-body"> 
	            <!-- Row starts -->
	            <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>First name</strong> </label>
	                <label class="control-label">{{transferCoverDetails.firstName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Last name</strong> </label>
	                <label class="control-label">{{transferCoverDetails.lastName}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            
	            <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>Gender</strong></label>
	                <label class="control-label">{{occupationDetails.gender}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact type</strong> </label>
	                <label class="control-label"> {{transferCoverDetails.contactType}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	           
	              <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd" >
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Preferred contact number </strong></label>
	                <label class="control-label">{{transferCoverDetails.contactPhone}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Email address</strong> </label>
	               <label class="control-label">{{transferCoverDetails.email}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	            <hr class="primeline hidden-xs" >
	             <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Date of birth</strong> </label>
	                <label class="control-label"> {{transferCoverDetails.dob}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>What time of day do you prefer to be contacted?</strong></label>
	               <label class="control-label" ng-if="transferCoverDetails.contactPrefTime=='Morning (9am - 12pm)'">Morning (9am&ndash;12pm)</label>
	               <label class="control-label" ng-if="transferCoverDetails.contactPrefTime=='Afternoon (12pm - 6pm)'">Afternoon (12pm&ndash;6pm)</label>
	              </div>
	            </div>
	            <!-- Row ends -->	            	            
	          	   
	          	     <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Do you work 14 or more hours per week?</strong> </label>
	                <label class="control-label">{{occupationDetails.fifteenHr}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	               <!-- <label class="control-label"> <strong>Are you a citizen or permanent resident of Australia?</strong> </label> -->
	               <label class="control-label"> <strong>Are you a citizen or permanent resident of Australia, a New Zealand citizen residing in Australia under a Special Category Visa or are you legally permitted to reside and work for reward in Australia?</strong> </label>
	               <label class="control-label">{{occupationDetails.citizenQue}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	          	
	          	  <hr class="primeline hidden-xs">
	             <!-- Row starts -->
	            <!-- <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Annual salary</strong></label>
	                <label class="control-label">{{occupationDetails.salary | currency:undefined:0}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>What industry do you work in?</strong> </label>
	               <label class="control-label">{{occupationDetails.industryName}}</label>
	              </div>
	            </div>
	            Row ends
	          	<hr class="primeline hidden-xs"> -->
	          	
	          	
	          	<div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Are the duties of your regular occupation limited to : </strong>
	                <br> <li>Professional, managerial, administrative, clerical or similar 'white collar' duties which are undertaken in an office environment for at least 90% of your regular working hours, or managerial duties within an educational institution (ie school principal or deputy principal)? </li> </label>
	               <label class="control-label">{{occupationDetails.occRating1a}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Are the duties of your regular occupation limited to : </strong>
	                <br> <li>Educational duties performed within a school or other educational institution(other than a school principal or deputy principal)? </li></label>
	                <label class="control-label">{{occupationDetails.occRating1b}}</label>
	                <!-- <label class="control-label" ng-show="CCS.occupationDetails.occupation !='Other'">{{CCS.occupationDetails.occupation}}</label>
	                <label class="control-label" ng-show="CCS.occupationDetails.occupation =='Other'">{{CCS.occupationDetails.occupation}}</label>  -->
	              </div>
	            </div>
	            <!-- Row ends -->
				 <hr class="primeline hidden-xs">
				 
				  <!-- Row starts -->
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Do you:  </strong>
	                <br><li> hold a tertiary qualification, or are you a registered member of a professional institute or governing body in relation to your profession? or work in a management role?</li> </label>
	               <label class="control-label">{{occupationDetails.occRating2}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                	<label class="control-label"> <strong>Annual income</strong></label>
	              		<label class="control-label">{{occupationDetails.salary | currency:undefined:0}}</label>
	           	  </div>
	            </div>
	            <!-- Row ends -->
				<!--  <hr class="primeline hidden-xs"> -->
	          	
	          	
	              <!-- Row starts -->
	            <!-- <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>What is your occupation?</strong></label>
	                <label class="control-label">{{occupationDetails.occupation}}</label>
	                <label class="control-label" ng-show="occupationDetails.occupation !='Other'">{{occupationDetails.occupation}}</label>
	                <label class="control-label" ng-show="occupationDetails.occupation =='Other'">{{occupationDetails.otherOccupation}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12" ng-if="occupationDetails.occupation =='Other'">
	                <label class="control-label"> <strong>If other, What is your occupation?</strong></label>
	                <label class="control-label">{{occupationDetails.otherOccupation}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12" ng-if="(occupationDetails.withinOfficeQue == 'Yes' || occupationDetails.withinOfficeQue == 'No') && occupationDetails.occupation !='Other'">
	               <label class="control-label"><p align="justify"><strong>Are your duties entirely undertaken within an office environment?</strong></p></label>
	               <label class="control-label">{{occupationDetails.withinOfficeQue}}</label>
	              </div>
	            </div>
	             Row ends          
	          
	           <hr class="primeline hidden-xs"  ng-if="(occupationDetails.withinOfficeQue == 'Yes' || occupationDetails.withinOfficeQue == 'No') && occupationDetails.occupation =='Other'">
	              Row starts
	            <div class="row rowcustom odd"  ng-if="(occupationDetails.withinOfficeQue == 'Yes' || occupationDetails.withinOfficeQue == 'No') && occupationDetails.occupation =='Other'">
	               <div class="col-sm-6 col-xs-12">
	               <label class="control-label"><p align="justify"><strong>Are your duties entirely undertaken within an office environment?</strong></p></label>
	               <label class="control-label">{{occupationDetails.withinOfficeQue}}</label>
	              </div>
	            </div>
	             Row ends
	          <hr class="primeline hidden-xs">
	             Row starts
	            <div class="row rowcustom odd" ng-if="occupationDetails.tertiaryQue == 'Yes' || occupationDetails.tertiaryQue == 'No' || occupationDetails.managementRoleQue == 'Yes' || occupationDetails.managementRoleQue == 'No'">
	              <div class="col-sm-6 col-xs-12" ng-if="occupationDetails.tertiaryQue == 'Yes' || occupationDetails.tertiaryQue == 'No'">
	                <label class="control-label"> <p align="justify"><strong>Are you working in a senior management role or hold a tertiary qualification or a member of a professional institute or registered by a government body related to your profession?</strong></p> </label>
	                <label class="control-label">{{occupationDetails.tertiaryQue}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12" ng-if="occupationDetails.managementRoleQue == 'Yes' || occupationDetails.managementRoleQue == 'No'">
	               <label class="control-label"> <strong>Do you spend more than 10% of your working time outside of an office environment? </strong></label>
	               <label class="control-label">{{occupationDetails.managementRoleQue}}</label>
	              </div>
	            </div>
	            <hr class="primeline hidden-xs" ng-if="occupationDetails.tertiaryQue == 'Yes' || occupationDetails.tertiaryQue == 'No' || occupationDetails.managementRoleQue == 'Yes' || occupationDetails.managementRoleQue == 'No'">
	        
	         
	             Row starts
	            <div class="row rowcustom odd">
	              <div class="col-sm-6 col-xs-12" ng-if="occupationDetails.hazardousQue == 'Yes' || occupationDetails.hazardousQue == 'No'">
	                <label class="control-label"> <strong>Do you work in a hazardous environment and/or perform any duties of a manual nature?</strong></label>
	                <label class="control-label">{{occupationDetails.hazardousQue}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	              </div>
	            </div> -->
	           <!--  Change ends -->
	        
	          
	            
	             
	            <!--  <hr class="primeline">  -->
	            <!-- Row starts -->
	            <!--<div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"><strong>Smoker</strong> </label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	                <label class="control-label">No</label>
	              </div>
	            </div>-->
	            <!-- Row ends --> 
	                         
	            
	          </div>
	        </div>
	      </div>
	      
	     
	   
	   <!-- Your Cover section starts -->   
	      <div class="panel panel-default nobg">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	           <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseCover" class="">
	            <h4 class="panel-title"> Your cover</h4>
	            </a>
	        </div>
	        <div id="collapseCover" class="panel-collapse collapse in">
	           <div class="panel-body">
	            <div class="parent-flex-container">
	            <!-- Death Cover Details Starts--> 
	            <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Death<br>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px    aligncenter">
	                <h5 class=" color2">Existing sum insured</h5>
	                <p class="color3">{{transferCoverDetails.transferDeathExistingAmt | currency:undefined:0}} </p>
	                <h5 ng-if="displayTransferDeath" class=" color2">Transfer sum insured</h5>
	                <p ng-if="displayTransferDeath" class="color3">{{deathAddnlCvrDetails.deathTransferAmt | currency:undefined:0}} </p>
	                <h5 class=" color2">Total sum insured required</h5>
	                <p class="color3">{{deathAddnlCvrDetails.deathTransferCovrAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category</h5>
	                <p class="color3"><span ng-if = "!(deathAddnlCvrDetails.deathTransferWeeklyCost > 0)">N/A</span><span ng-if = "deathAddnlCvrDetails.deathTransferWeeklyCost > 0">{{transferCoverDetails.deathOccCategory}}</span></p>
	                <h5 class=" color2">{{transferCoverDetails.freqCostType}} cost</h5>
	                <p class="color3">{{deathAddnlCvrDetails.deathTransferWeeklyCost | currency}}</p>
	              </div>
	              <p class="spacer">&nbsp;</p>
	            </div>
	            <!-- Death Cover Details Ends--> 
	            
	            <p class="spacer visible-xs">&nbsp;</p>
	            
	           <!-- TPD Cover Details Starts--> 
	           <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong>Total &amp; permanent<br> disablement</strong> 
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px    aligncenter">
	                <h5 class=" color2">Existing sum insured</h5>
	                <p class="color3">{{transferCoverDetails.transferTpdExistingAmt | currency:undefined:0}}</p>
	                 <h5 ng-if="displayTransferTpd" class=" color2">Transfer sum insured</h5>
	                <p ng-if="displayTransferTpd" class="color3">{{tpdAddnlCvrDetails.tpdTransferAmt | currency:undefined:0}} </p>
	                <h5 class=" color2">Total sum insured required</h5>
	                <p class="color3">{{tpdAddnlCvrDetails.tpdTransferCovrAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Occupational category</h5>
	                <p class="color3"><span ng-if = "!(tpdAddnlCvrDetails.tpdTransferWeeklyCost > 0)">N/A</span><span ng-if = "tpdAddnlCvrDetails.tpdTransferWeeklyCost > 0">{{transferCoverDetails.tpdOccCategory}}</span></p>
	                <h5 class=" color2">{{transferCoverDetails.freqCostType}} cost</h5>
	                <p class="color3">{{tpdAddnlCvrDetails.tpdTransferWeeklyCost | currency}}</p>
	              </div>
	              <p class="spacer">&nbsp;</p>
	              </div>
	             <!-- TPD Cover Details Ends--> 
	             
	             <p class="spacer visible-xs">&nbsp;</p>
	             
	             <!-- IP Cover Details Starts-->
	             <div class="col-xs-12 col-sm-4 bgwhite child-flex-box">
	              <div class="box coverbg aligncenter">
	                <h5 class="mb0">Cover type</h5>
	                <strong> Income <br> protection <span class="visible-sm"><br>
	                </span></strong>
	                <span class="visible-sm"><br>
	                </span> &nbsp;</strong> </div>
	              <div class="box mt10px aligncenter">
	                <h5 class=" color2">Existing monthly amount</h5>
	                <p class="color3">{{transferCoverDetails.transferIpExistingAmt | currency:undefined:0}}</p>
	           <!-- <p>{{transferCoverDetails.existingIPUnits}} Unit(s).</p> -->  
	           		<h5 ng-if="displayTransferIp" class=" color2">Transfer monthly amount</h5>
	                <p ng-if="displayTransferIp" class="color3">{{ipAddnlCvrDetails.ipTransferAmt | currency:undefined:0}}</p>
	                <h5 class=" color2">Total monthly amount required</h5>
	                <p class="color3">{{ipAddnlCvrDetails.ipTransferCovrAmt | currency:undefined:0}}</p>
	              	 <h5 class=" color2">Occupational category</h5>
	                <p class="color3">{{confirmationOccRating}}</p>
	                <h5 class=" color2">Waiting period</h5>
	                <p class="color3">{{confirmationWaitingPeriod}}</p>
	                <h5 class=" color2">Benefit period</h5>
	                <p class="color3">{{confirmationBenefitPeriod}}</p>
	                <h5 class=" color2">{{transferCoverDetails.freqCostType}} cost</h5>
	                <p class="color3">{{ipAddnlCvrDetails.ipTransferWeeklyCost | currency}}</p>
	              </div>
	              <p class="spacer">&nbsp;</p> 
	               </div>
	               <!-- IP Cover Details Ends-->
	             <!-- <div class="box mt10px aligncenter "> 
	                <p class=" mt15px">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class="spacer">&nbsp;</p>
	                <p class=" visible-sm ">&nbsp;</p>
	              </div> -->
	              </div>
	             <div class="row  mt0  coverbg seccolor ">
		            <div class="col-sm-9 col-xs-12">
		              <h5 class="coverval" style="padding-left:15px;">&nbsp;Total {{transferCoverDetails.freqCostType | lowercase}} cost</h5>
		            </div>
		            <div class="col-sm-3 col-xs-6 alignright hidden-xs" >
		              <h4 class="coverval" >{{transferCoverDetails.totalPremium | currency}}&nbsp;</h4>
		            </div>
		            <div class="col-sm-3 col-xs-6 visible-xs">
		              <h5 class="coverval" style="padding-left:9px;">{{transferCoverDetails.totalPremium | currency}}</h5>
		            </div>
	              </div>
	           <p class=" note aligncenter clearfix color2 mt15px" >The final amount and cost of your total insurance coverage will be notified in writing by VicSuper.</p>
	              
	         
	                 <!-- <div class="box mt10px aligncenter "> 
	                 <p class=" mt15px">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer">&nbsp;</p>
	                 <p class="spacer visible-sm visible-md">&nbsp;</p>
	                 <p class=" visible-sm ">&nbsp;</p>
	               </div> -->
	            </div>
	          </div>
	              <!-- <div class="row  mt0  coverbg seccolor ">
		            <div class="col-sm-9 col-xs-6">
		              <h5>Total {{transferCoverDetails.freqCostType}} cost</h5>
		            </div>
		            <div class="col-sm-3 col-xs-6 alignright">
		              <h4 class="coverval">{{transferCoverDetails.totalPremium | currency}}</h4>
		            </div>
		            <div class="col-sm-3 col-xs-6 alignright visible-xs">
		              <h4 class="coverval">{{transferCoverDetails.totalPremium | currency}}</h4>
		            </div>
	              </div>
	           <p class=" note aligncenter clearfix color2 mt15px" >The final amount and cost of your total insurance coverage will be notified in writing by HOSTPLUS Super</p> -->
	           </div>
	           
	           <!-- Previous Cover section starts --> 
	      <div class="panel panel-default twoColData">
	        <div class="panel-heading">  <!-- <a href="#" class="linkright"> Edit </a> -->
	         <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" class="  ">
	          	<h4 class="panel-title">Transfer Cover </h4>
	          </a> 
	        </div>
	        <div id="collapseTwo" class="panel-collapse collapse in ">
	          <div class="panel-body"> 
	          
	          <!-- Row starts -->
	            <div class="row rowcustom first odd">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Name of previous fund or insurer</strong> </label>
	                <label class="control-label">{{transferCoverDetails.previousFundName}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                 <label class="control-label"> <strong>Fund member or insurance policy number</strong> </label>
	                 <label class="control-label">{{transferCoverDetails.membershipNumber}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	          
	          <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd ">
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"><strong>USI number</strong></label>
	                <label class="control-label">{{transferCoverDetails.spinNumber}}</label>
	              </div>
	              <div class="col-sm-6 col-xs-12">
	                <label class="control-label"> <strong>Premium period</strong> </label>
	                <label class="control-label"> {{transferCoverDetails.freqCostType}}</label>
	              </div>
	            </div>
	            <!-- Row ends -->
	           
	           	   <hr class="primeline hidden-xs">
	            <!-- Row starts -->
	            <div class="row rowcustom odd" >
	              <div class="col-sm-6 col-xs-12">
	               <label class="control-label"> <strong>Documents</strong> </label>
	               <label class="control-label">
	               <ul class="filesConfirmation">
	              <li class = "text-overflow-ellipsis" ng-repeat="fileDetails in uploadedFileDetails">
	              {{fileDetails.name}}
	              </li>
	              </ul></label>
	              </div>
	            </div>
	            
	            
	            <!-- <hr class="primeline hidden-xs" ng-if="transferCoverDetails.documentName=='No'">
	            <div class="row rowcustom odd " ng-if="transferCoverDetails.documentName=='No'">
	              <div class="col-sm-12 col-xs-12">
	                <label class="control-label"><strong>Address to send supporting documents</strong></label>
	                <label class="control-label"><p style="padding-top: 8px;"> Postal address: <br />&emsp;VICSUPER<br>&emsp;Locked Bag 5046<br>&emsp;Parramatta<br>&emsp;NSW 2124</p></label>
	              </div>
	            </div>  -->       
	            
	           	           
	           
	            <!-- <hr class="primeline"> -->
	            
	            <!-- Row starts -->
	            <!-- <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Have you previously been paid a TPD claim from any source?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{transferCoverDetails.previousTpdClaimQue}}</label>
	              </div>
	            </div> -->
	            <!-- Row ends -->
	            <!-- <hr class="primeline"> -->
	            
	            <!-- Row starts -->
	           <!--  <div class="row rowcustom ">
	              <div class="col-sm-5">
	                <label class="control-label"> <strong>Have you previously been paid a terminal illness claim from any source?</strong></label>
	              </div>
	              <div class="col-sm-7 col-xs-12">
	               <label class="control-label">{{transferCoverDetails.terminalIllClaimQue}}</label>
	              </div>
	            </div> -->
	            <!-- Row ends -->
	          </div>
	        </div>
	      </div>
	   <!-- Previous Cover section ends --> 
	           
	        </div>
      <!-- Your Cover section ends -->   
       <!-- Check bok for loading and exclusions  -->
      <!-- <div class="col-sm-9 bgwhite" ng-if="transferCoverAuraDetails.specialTerm == true">
       <div class="row rowcustom">
             <div class="col-sm-12">
             
              </div>
           </div>
             <hr class="primeline">
             <div class="row rowcustom " ng-class="{'has-error':LEFlag}" ng-click="checkAckStateLE()">
                <div class="col-sm-12">
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                  <div class="row rowcustom">
                   <div class="col-sm-12">
                     <label class="btn  checkboxes   " id="lodadingExclusionLabel">
                      <input type="checkbox" class=" " id="lodadingExclusionId">
                       <span></span> I acknowledge &amp; consent to the above.
                      </label>
                     </div>
                    </div>
                 </div>
                 </div>
             </div>
              </div> -->
      
      <div class="panel panel-default">
        <div class="panel-heading">  
          <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse4" class="  ">
           <h4 class="panel-title"> Terms &amp; conditions </h4>
          </a> 
        </div>
        <div id="collapse4" class="panel-collapse collapse in ">
          <div class="panel-body">
			 <!-- Row starts -->
              <div class="col-xs-12">
              <div class="scrollBox">
              <p><strong>You must read and acknowledge the General Consent before proceeding</strong></p>
               <p> <strong>General consent</strong></p>
               <p align="justify">By clicking on the tick box below, I declare that:</p> 
               		<ul>
               			<li>I have read and understand my Duty of Disclosure and the consequences of failing to comply with this Duty. I understand that this Duty applies until formal notification of acceptance of my application. </li>
               			<li>The answers to the questions in this application are true and correct, and I have not deliberately withheld any information material to the proposed insurance. </li>
               			<li> I agree to be bound by the terms and conditions attached to this cover as set out in the Insurance Policy Document between VicSuper and the Insurer, MetLife Insurance Limited ("MetLife").</li>
               			<li> I have read the VicSuper  privacy policy available at <a href="https://www.vicsuper.com.au/privacy" class="" target="_new"> https://www.vicsuper.com.au/privacy.</a> and the <a href="https://www.metlife.com.au/privacy" class="" target="_new"> MetLife Privacy Policy </a>
               			and I consent to the collection, use and disclosure of my personal (including sensitive) information in accordance with the terms of these documents;</li>
               			 <li>I consent to MetLife seeking health information from any doctor or health practitioner who at any time I have consulted prior to the date hereof. </li>
               			 <li>I understand that my insurance cover will not become effective until MetLife has accepted this application in writing and provided my VicSuper FutureSaver account has adequate funds to meet the premiums payable at all times. I understand that increases or changes to insurance premiums may apply.</li>
               			 <li>I have read the insurance section of the current VicSuper Future Saver Member Guide (Product Disclosure Statement) and the Insurance Handbook.</li>
               			 <li>I understand that if I have chosen fixed Total and Permanent Disablement cover that this cover will taper by equal increments of the fixed Total and Permanent Disablement cover held, each year from the date I turn 61 years of age.</li>
               			 <li>I authorise any hospital, physician, health practitioner or other person who has attended me to furnish MetLife or its representatives with any and all information with respect to any sickness or injury, medical history, consultation, prescriptions, treatment, and copies of all hospital or medical records.</li>
               			 <li>I understand that if I have any un-finalised requests for Transfer of Cover or Life Event Increase, these cover amounts will not be incorporated to the Total Cover amounts applied for under this application.</li>
           			</ul>
           			</div>
             </div>
            <!-- Row ends -->
                  <div data-toggle="buttons" class=" btn-group-vertical    ">
                   <div class="row rowcustom" ng-class="{'has-error':TRGCackFlag}" ng-click="checkAckStateGCTR()">
                     <div class="col-sm-12">
                      <label  class="btn  checkboxes   " id="generalConsentLabelTR">
                       <input type="checkbox" class=" " id="option2">
                       <span></span> <div class="custom-checkbox-label">I acknowledge I have read, understood and consent to the above</div>
                      </label>
                      <p ng-if="TRGCackFlag" class="error" style="padding-top:5px;">Please acknowledge and consent to the general declaration.</p>
                     </div>
                    </div>
                  </div>
            
            <hr class="primeline">
            <div class=" row rowcustom">
              <div class="col-sm-4 col-xs-12">
			        <a class="" href="" data-parent="#accordion" data-toggle="collapse">
			             <button  class="btn btn-primary btn-back w100p" type="button"  ng-click="go('/auratransfer/2')">Previous</button>
			        </a>
              </div>
              <div class="col-sm-4 col-xs-12 alignleft hidden-xs"> 
                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="saveTransferSummary()" > Save &amp; Exit</button>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12 aligncenter   visible-xs"> 
                <button type="button" class="btn btn-primary w100p avoid-arrow" ng-click="saveTransferSummary()" > Save &amp; Exit</button>
              </div>
              <p class="spacer visible-xs">&nbsp;</p>
              <div class="col-sm-4 col-xs-12">
                <button type="button" class="btn btn-primary w100p no-arrow" ng-click="submitTransferCover()" >Submit</button>
              </div>
                
            </div>
         </div>
        </div>
       </div>  
    <div class="row mt20px">
      <div class=" col-xs-12 visible-xs">
        <div class="help-block">
          <h2 class="helpHead alignleft">Need help?</h2>
           <p class="helpTxt alignleft">Give our team a call on <strong>1300 366 216</strong> between 8:30am and 5:00pm Monday to Friday</p>
          <!-- <h3 class="helpNo alignleft"> 1300 467 875</h3> -->
           
        </div>
      </div>
    </div>
  </div>
  <!-- /container --> 
</div>
<div class="c-footer hidden-xs">
  <div class="container">
    <div class="col-sm-2">
      <p class="footertext">&nbsp; </p>
    </div>
    <div class="col-sm-6">
      <p class="footertext">VicSuper Pty Ltd ABN 69 087 619 412, VicSuper Fund 85 977 964 496, AFSL No. 237333</p>
    </div>
    <div class="col-sm-4">
      <div class="text-right  ">
        <p class="footerlinks"> <a href="https://www.vicsuper.com.au/privacy" target="_new">Privacy policy</a> | <a href="https://www.vicsuper.com.au/disclaimer" target="_new">Disclaimer</a> </p>
      </div>
    </div>
  </div>
</div>
<div class="container visible-xs">
 <div class=" col-xs-12 aligncenter ">
   <p class="footerlinks"> <a href="https://www.vicsuper.com.au/privacy" target="_new">Privacy policy</a> | <a href="https://www.vicsuper.com.au/disclaimer" target="_new">Disclaimer</a> </p>
   <p class="footertext">VicSuper Pty Ltd ABN 69 087 619 412, VicSuper Fund 85 977 964 496, AFSL No. 237333</p>
 </div>
 <p class="spacer">&nbsp;</p>
</div>


<script type="text/javascript">
            var d = new Date();
		    y = d.getFullYear();
            $(function () {
                $('#datetimepicker5').datetimepickercustom({
                    pickTime: false,
					minDate:'1/1/1900', 
                    maxDate:'12/31/'+y,  					
                });
            });
</script> 
<script type="text/javascript">
  $(window).on('load', function () {
    $('.selectpicker').selectpicker();
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider1' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount1' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script> 
<script  type="text/javascript">
$(function() {
    $( '#slider2' ).slider({
      min: 0,
      max: 1000000,
      values: [ 0  ],
      slide: function( event, ui ) {
        $( '#amount2' ).val(  ui.values[ 0 ]   );
      }
    });
  });
</script>

