<!-- $ctrl -->
<footer class="c-footer">
  <div class="container">   
    <div class="row mt-3">
      <div class="col-12">
        <p class="footertext text-center text-sm-right">Diversa Trustees Limited ABN 49 006 421 638, AFSL 235153, RSE L0000635 is the Trustee of the ING Superannuation Fund ABN 13 355 603 448 (Fund) and the issuer of interests in the Fund. ING Living Super is a product issued out of the Fund. ING, a division of ING Bank (Australia) Limited ABN 24 000 893 292, AFSL 229823, is the Promoter of the Fund and the issuer of this document. The insurance cover offered by the Fund is provided by MetLife Insurance Limited ABN 75 004 274 882 AFSL 238096. You should consider the Product Disclosure Statement and Financial Services Guide available at ingdirect.com.au when deciding whether to acquire, or to continue to hold, the product</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="footerlinks text-center text-sm-right">
          <a class="ingdLinks" href="{{$ctrl.privacyURL}}" target="_new">Privacy Policy</a> |
          <a class="ingdLinks" href="{{$ctrl.legalNoticeURL}}" target="_new">Legal Notice</a> 
        </p>
      </div>
    </div>
  </div>
</footer>