<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white nav-bg">
    <div class="container">
      <a class="navbar-brand" ui-sref="https://www.metlife.com.au/" target="_new">
        <img ng-src="./static/ingd/src/assets/images/logo.png" alt="MetLife Australia" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item" ng-if="$ctrl.screen != 'landing' && $ctrl.screen != 'timeout'">
            <a class="nav-link header-nav-link cursor-pointer" ng-click="$ctrl.home()">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link header-nav-link" href="https://www.ing.com.au/about-us.html" target="_new">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link header-nav-link" href="https://www.ing.com.au/contact-us.html" target="_new">CONTACT US</a>
          </li>
          <li class="nav-item">
              <a class="nav-link header-nav-link cursor-pointer" ng-click="$ctrl.logout()">LOGOUT</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>