<div class="help-block p-4 bg-secondary">
  <h2 class="helpHead mt-0 text-white">NEED HELP?</h2>
  <p class="helpTxt text-white"> Please call</p>
  <h3 class="helpNo text-white">
    <a class="telephone text-white" href="tel:{{helpBlock.constants.helpContact}}" ng-bind="helpBlock.constants.helpContact"></a>
  </h3>
  <p class="text-white">if you are having trouble with this application.</p>
  <p class="spacer">&nbsp;</p>
</div>