<p> <strong>Disclaimer:</strong></p>
<p align="left">
	Insurance cover through <b>ChildCare Super</b> is provided by Trustee
	for Child Care Super ABN 22 599 554 834 AFSL No. 238096. For further
	information about claiming an insurance benefit, please read the <b>ChildCare Super</b>
	Product Disclosure Statement which is available <a target="_blank"
		href="https://childcaresuper.com.au/pds">here</a>.
</p>
<p align="left">
	When uploading documents through Claims Tracker, you will be providing
	MetLife with your personal information including your health
	information. You consent to the collection, use and disclosure of this
	personal information as described in MetLife's Privacy Policy which is
	available <a target="_blank"
		href="https://www.metlife.com.au/privacy-policy">here
	</a>
</p>
<p align="left">If you provide another person with access to your
	Claims Tracker (for example, a spouse or beneficiary), you consent to
	MetLife disclosing your personal information contained in Claims
	Tracker to that person.</p>
<p align="left">If you provide us with information about another
	person through Claims Tracker, you declare that you have the consent of
	that person to do so. You understand that MetLife requires you to
	inform the person concerned that you have done so and direct them to
	our Privacy Policy.</p>







